openapi: 3.0.1
info:
  title: FirstVision™ Account Service - API Documentation
  description: This documentation describes the REST APIs provided by the FirstVision™ Cards Microservice, which provides functionality for the issuing, management and processing of credit cards, including bank, co-branded, private label, debit, commercial, and prepaid
  version: "1.2"
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /account/walletStatus:
    put:
      tags:
      - Account
      summary: "Account wallet status Update. (VMX Service: M.CMS.WALLET.STATUS.UPD,\
        \ L8V1)"
      description: "The Wallet Status Update service (CMS.WALLET.STATUS.UPD L8V1),\
        \ enables a user to update the status of the wallet occurrences subsidies),\
        \ on the wallet record for an account."
      operationId: Account wallet status Update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletStatusUpdateRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "422":
          description: |
            VPL5SWU01E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SWU02E - CARD NUMBER OR ACCOUNT NUMBER MUST BE PROVIDED
            VPL5SWU03E - ORGANIZATION NOT ON FILE
            VPL5SWU04E - CARD/ACCOUNT NOT VALID FOR ORG
            VPL5SWU05E - CARD/ACCOUNT NOT FOUND ON FILE
            VPL5SWU06E - WALLET RECORD FILE READ ERROR
            VPL5SWU07E - OCCURRENCE MUST BE NUMERIC VALUE 01 TO 30
            VPL5SWU08E - NO WALLET OCCURRENCE ON FILE
            VPL5SWU09E - SUBSIDY CODE INVALID
            VPL5SWU10E - INVALID STATUS VALID VALUES ARE 0 OR 1
            VPL5SWUZ6S - ORGANIZATION NOT ON FILE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletStatusUpdateResponse'
      x-proxy-name: Account wallet status Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/wallet-priority-order:
    put:
      tags:
      - Account
      summary: "The Multi-Wallet Priority Order Update service enables customers to\
        \ change the priority of wallets at account level. (VMX Service: M.CMS.WALLET.PRTYORDER.UPD,\
        \ R8V1)"
      operationId: Multi-wallet priority order
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletPriorityOrderUpdateRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "422":
          description: |-
            VPL5SWUZ6S - ORGANIZATION NOT ON FILE
            VPL5SWUZ7S - REQUESTED ORGANIZATION NOT FOUND
            VPL5SWU01E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SWU01S - SERVICE COULD NOT OBTAIN STORAGE AREA
            VPL5SWU02E - CARD NUMBER OR ACCOUNT NUMBER MUST BE PROVIDED
            VPL5SWU02S - SERVICE INPUT TO MWP PRIORTIY UPDATE SERVICE IS OF INCORRECT LEN
            VPL5SWU03E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SWU04E - ACCOUNT NUMBER IS NOT NUMERIC OR EQUAL SPACES
            VPL5SWU04S - FILE TABLE USED BY THIS SERVICE IS NOT FOUND
            VPL5SWU05E - THE WALLET PRIORITIES ENTERED ARE NOT IN CONTIGUOUS FIELD
            VPL5SWU06E - THE WALLET PRIORITIES MUST BE UNIQUE
            VPL5SWU07E - OCCURRENCE MUST BE NUMERIC VALUE 01 TO 30
            VPL5SWU07S - ORGANIZATION COULD NOT BE DETERMINED FROM ACCOUNT
            VPL5SWU08E - NO WALLET OCCURRENCE ON FILE
            VPL5SWU08S - ORGANIZATION COULD NOT BE DETERMINED
            VPL5SWU09E - SUBSIDY CODE INVALID
            VPL5SWU10E - INVALID STATUS VALID VALUES ARE 0 OR 1
            VPL5SWU10S - FILE TABLE USED BY THIS SERVICE IS MISSING
            VPL5SWU11S - ORG RECORD IN ADD PENDING STATUS
            VPL5SWU12S - BASE SEGMENT RECORD NOT FOUND
            VPL5SWU13S - ALL THE WALLET IDS OPEN ON AN ACCOUNT MUST BE ENTERED
            VPL5SWU14S - LOGO RECORD NOT FOUND
            VPL5SWU15S - LOGO LEVEL MULTI WALLET FLAG IS INACTIVE
            VPL5SWU16S - LOGO LEVEL WALLET PRIORITY OVERRIDE IS INACTIVE
            VPL5SWU17S - CURRENCY CODE ENTERED MUST BE A SUPPORTED WLT AT LOGO LEVEL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletPriorityOrderUpdateResponse'
      x-proxy-name: Multi-wallet priority order
      x-group-name: Account
      x-child-product-name: Accounts
  /account/vinculation-reversal:
    put:
      tags:
      - Account
      summary: "Link a card to an existing account holder. (VMX Service: M.CMS.VINCULATION.REV.UPD,\
        \ L8V1)"
      operationId: Vinculation Reversal
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VinculationReversalRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VinculationReversalResponse'
      x-proxy-name: Vinculation Reversal
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v2/customer:
    put:
      tags:
      - Account
      summary: "Update Customer Address. VMX Service: M.CMS.ACCTCUSTNBR.UPD, L8V2)"
      description: Updates the Customer Address on the Account
      operationId: Update Customer Address
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerNumberRequestV2'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerNumberResponseV2'
      x-proxy-name: Update Customer Address
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v1/statementInstallments/{numberOfTerms}:
    put:
      tags:
      - Account
      summary: "Develop the VMX service linked to “Statement installment Options Simulation\
        \ and Confirmation” that allows the issuer/Fiserv to consume data currently\
        \ available in FirstVision screens AZ1S00, 01 and 02.VMX Service: M.CMS.ACCTMNT.UPD,\
        \ L8V1"
      operationId: Statement installment Options Simulation and Confirmation
      parameters:
      - name: numberOfTerms
        in: path
        description: Number of installments for simulation
        required: true
        schema:
          type: integer
          format: int32
        example: 2
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatementInstallmentConfirmationRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatementInstallmentConfirmationResponse'
      x-proxy-name: Statement installment Options Simulation and Confirmation
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v1/accelerationServices/installmentTerms/{termsNumber}:
    put:
      tags:
      - Account
      summary: "This service updates the installment terms on Installments Billing\
        \ file (AMIB). \nVMX Service: M.CMS.INSTAL.TERMS.UPD, L8V1"
      operationId: Installment Terms Update Service
      parameters:
      - name: termsNumber
        in: path
        description: "Length: 2 \n\nNumber of terms to update (total of occurs to\
          \ update) \n\nVisionPLUS Service Data: AZXZ6I-NBR-TERMS-UPD"
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: X-ClientID
        in: header
        description: Sign-on name.
        required: true
        schema:
          type: string
        example: 00000WEBUSER
      - name: security-context
        in: header
        description: User’s sign-on in security system.
        required: false
        schema:
          type: string
        example: 00000WEBUSER
      - name: username
        in: header
        description: Username for the application.
        required: false
        schema:
          type: string
        example: 00000WEBUSER
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallmentTermsUpdateRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallmentTermsUpdateResponse'
      x-proxy-name: Installment Terms Update Service
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v1/accelerationServices/installmentDetails/installmentBasedAnticipation/{termsNumber}:
    put:
      tags:
      - Account
      summary: "This service updates the installment contract and terms on Installments\
        \ Billing file (AMIB),based on the number of installment terms to be anticipated.\
        \ \nVMX Service: M.CMS.INSTAL.TRXN.DETAIL.UPD, L8V1"
      operationId: Installment Detail Update Service - Anticipation Total Number of
        Installments
      parameters:
      - name: termsNumber
        in: path
        description: "Length: 3 \n\nAnticipation number of installment terms. \n\n\
          VisionPLUS Service Data: AZXZ4I-ANTCP-NBR-INST"
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: X-ClientID
        in: header
        description: Sign-on name.
        required: true
        schema:
          type: string
        example: 00000WEBUSER
      - name: security-context
        in: header
        description: User’s sign-on in security system.
        required: false
        schema:
          type: string
        example: 00000WEBUSER
      - name: username
        in: header
        description: Username for the application.
        required: false
        schema:
          type: string
        example: 00000WEBUSER
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallmentBasedAnticipationRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallmentBasedAnticipationResponse'
      x-proxy-name: Installment Detail Update Service - Anticipation Total Number
        of Installments
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v1/accelerationServices/installmentDetails/individualInstallmentAnticipation:
    put:
      tags:
      - Account
      summary: "This service updates the installment contract and terms on Installments\
        \ Billing file (AMIB),based on the individual installment-based anticipation.\
        \ \nVMX Service: M.CMS.INSTAL.TRXN.DETAIL.UPD, L8V1"
      operationId: Installment Detail Update Service - Individual Installment-based
        Anticipation
      parameters:
      - name: X-ClientID
        in: header
        description: Sign-on name.
        required: true
        schema:
          type: string
        example: 00000WEBUSER
      - name: security-context
        in: header
        description: User’s sign-on in security system.
        required: false
        schema:
          type: string
        example: 00000WEBUSER
      - name: username
        in: header
        description: Username for the application.
        required: false
        schema:
          type: string
        example: 00000WEBUSER
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndividualInstallmentAnticipationRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualInstallmentAnticipationResponse'
      x-proxy-name: Installment Detail Update Service - Individual Installment-based
        Anticipation
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v1/accelerationServices/installmentDetails/earlyReleaseDiscount:
    put:
      tags:
      - Account
      summary: "This service updates the installment contract and terms on Installments\
        \ Billing file (AMIB),based on the discount percentage to early release. \n\
        VMX Service: M.CMS.INSTAL.TRXN.DETAIL.UPD, L8V1"
      operationId: Installment Detail Update Service - Discount Percentage to Early
        Release
      parameters:
      - name: X-ClientID
        in: header
        description: Sign-on name.
        required: true
        schema:
          type: string
        example: 00000WEBUSER
      - name: security-context
        in: header
        description: User’s sign-on in security system.
        required: false
        schema:
          type: string
        example: 00000WEBUSER
      - name: username
        in: header
        description: Username for the application.
        required: false
        schema:
          type: string
        example: 00000WEBUSER
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarlyReleaseDiscountRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarlyReleaseDiscountResponse'
      x-proxy-name: Installment Detail Update Service - Discount Percentage to Early
        Release
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v1/accelerationServices/installmentDetails/anticipationWithNoPaymentRequired:
    put:
      tags:
      - Account
      summary: "This service updates the installment contract and terms on Installments\
        \ Billing file (AMIB),based on the individual installments anticipation with\
        \ no payment required. \nVMX Service: M.CMS.INSTAL.TRXN.DETAIL.UPD, L8V1"
      operationId: Installment Detail Update Service - Amount Based Anticipation with
        no payment required
      parameters:
      - name: X-ClientID
        in: header
        description: Sign-on name.
        required: true
        schema:
          type: string
        example: 00000WEBUSER
      - name: security-context
        in: header
        description: User’s sign-on in security system.
        required: false
        schema:
          type: string
        example: 00000WEBUSER
      - name: username
        in: header
        description: Username for the application.
        required: false
        schema:
          type: string
        example: 00000WEBUSER
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmountBasedAnticipationNoPaymentRequiredRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmountBasedAnticipationNoPaymentRequiredResponse'
      x-proxy-name: Installment Detail Update Service - Amount Based Anticipation
        with no payment required
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v1/accelerationServices/installmentDetails/amountBasedAnticipation:
    put:
      tags:
      - Account
      summary: "This service updates the installment contract and terms on Installments\
        \ Billing file (AMIB), based on the anticipation amount. \nVMX Service: M.CMS.INSTAL.TRXN.DETAIL.UPD,\
        \ L8V1"
      operationId: Installment Detail Update Service - Amount Based Anticipation
      parameters:
      - name: X-ClientID
        in: header
        description: Sign-on name.
        required: true
        schema:
          type: string
        example: 00000WEBUSER
      - name: security-context
        in: header
        description: User’s sign-on in security system.
        required: false
        schema:
          type: string
        example: 00000WEBUSER
      - name: username
        in: header
        description: Username for the application.
        required: false
        schema:
          type: string
        example: 00000WEBUSER
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmountBasedAnticipationRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmountBasedAnticipationResponse'
      x-proxy-name: Installment Detail Update Service - Amount Based Anticipation
      x-group-name: Account
      x-child-product-name: Accounts
  /account/user:
    put:
      tags:
      - Account
      summary: "Update Account user-defined fields. (VMX Service: M.CMS.ACCT.USER.UPD,\
        \ R8V3)"
      description: Updates the fields reserved for unique uses by the financial institution
        known as “user-defined fields” on an Account
      operationId: Update Account user-defined fields
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountForUserUpdateRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountForUserUpdateResponse'
        "422":
          description: |-
            VPL5SBUZ1S - ORGANIZATION NOT DETERMINED
            VPL5SBUZ5S - ORGANIZATION NUMBER NOT FOUND
            VPL5SBU01E - USER-DATE1 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU02E - USER-DATE2 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU03E - USER-DATE3 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU04E - USER-DATE4 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU05E - USER-DATE5 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU06E - USER-DATE6 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU06S - ACCOUNT NUMBER OR CARD NUMBER MUST BE PROVIDED
            VPL5SBU07E - USER-DATE7 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU07S - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001 AND 998
            VPL5SBU08E - USER-DATE8 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU09E - USER-DATE9 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU10E - USER-DATE10 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU10S - FOREIGN ORGANIZATION NOT ON FILE
            VPL5SBU11E - USER-DATE11 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU12E - USER-DATE12 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU12S - ACCOUNT NOT FOUND ON FILE
            VPL5SBU13E - USER-DATE13 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU14E - USER-DATE14 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU15E - USER-AMT1 MUST BE NUMERIC
            VPL5SBU16E - USER-AMT2 MUST BE NUMERIC
            VPL5SBU17E - USER-AMT3 MUST BE NUMERIC
            VPL5SBU18E - USER-AMT4 MUST BE NUMERIC
            VPL5SBU19E - USER-AMT5 MUST BE NUMERIC
            VPL5SBU20E - USER-AMT6 MUST BE NUMERIC
            VPL5SBU21E - USER-AMT7 MUST BE NUMERIC
            VPL5SBU22E - USER-AMT8 MUST BE NUMERIC
            VPL5SBU23E - USER-AMT9 MUST BE NUMERIC
            VPL5SBU24E - USER-AMT10 MUST BE NUMERIC
            VPL5SBU25E - USER-AMT11 MUST BE NUMERIC
            VPL5SBU26E - USER-AMT12 MUST BE NUMERIC
            VPL5SBU27E - USER-AMT13 MUST BE NUMERIC
            VPL5SBU28E - USER-AMT14 MUST BE NUMERIC
            VPL5SBU29E - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE, 0 OR 1
            VPL5SBU30E - ACCT EMBLM MUST BE NUMERIC
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Update Account user-defined fields
      x-group-name: Account
      x-child-product-name: Accounts
  /account/userData:
    put:
      tags:
      - Account
      summary: "Account User Codes Update. (VMX Service: M.CMS.ACCT.USER.DATA.UPD,\
        \ R8V1)"
      description: "Update any of the 3 groups of 14 user codes, dates and amounts\
        \ on the Account Base Segment file."
      operationId: Account User Codes Update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDataUpdateRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "422":
          description: |-
            VPL5SUD03E - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998
            VPL5SUD04E - REQUESTED CARD/ACCT NUMBER IS NOT NUMERIC OR EQUAL SPACES
            VPL5SUD05E - INVALID FOREIGN USE IND SPECIFIED - VALID VALUES SPACE, 0, 1 OR 2
            VPL5SUD07S - ORGANIZATION NOT FOUND ON FILE
            VPL5SUD08S - FOREIGN ORGANIZATION NOT FOUND ON FILE
            VPL5SUD09S - ACCOUNT NUMBER NOT FOUND
            VPL5SUD10S - ACCOUNT NUMBER NOT FOUND ON FILE
            VPL5SUD11S - LOGO NOT FOUND ON FILE
            VPL5SUD13I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL5SUD21S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SUD22S - REQUESTED ORGANIZATION NOT FOUND
            VPL5SUD50E - USER DATE 1 IS NOT NUMERIC
            VPL5SUD51E - USER DATE 1 IS INVALID
            VPL5SUD52E - USER DATE 2 IS NOT NUMERIC
            VPL5SUD53E - USER DATE 2 IS INVALID
            VPL5SUD54E - USER DATE 3 IS NOT NUMERIC
            VPL5SUD55E - USER DATE 3 IS INVALID
            VPL5SUD56E - USER DATE 4 IS NOT NUMERIC
            VPL5SUD57E - USER DATE 4 IS INVALID
            VPL5SUD58E - USER DATE 5 IS NOT NUMERIC
            VPL5SUD59E - USER DATE 5 IS INVALID
            VPL5SUD60E - USER DATE 6 IS NOT NUMERIC
            VPL5SUD61E - USER DATE 6 IS INVALID
            VPL5SUD62E - USER DATE 7 IS NOT NUMERIC
            VPL5SUD63E - USER DATE 7 IS INVALID
            VPL5SUD64E - USER DATE 8 IS NOT NUMERIC
            VPL5SUD65E - USER DATE 8 IS INVALID
            VPL5SUD66E - USER DATE 9 IS NOT NUMERIC
            VPL5SUD67E - USER DATE 9 IS INVALID
            VPL5SUD68E - USER DATE 10 IS NOT NUMERIC
            VPL5SUD69E - USER DATE 10 IS INVALID
            VPL5SUD70E - USER DATE 11 IS NOT NUMERIC
            VPL5SUD71E - USER DATE 11 IS INVALID
            VPL5SUD72E - USER DATE 12 IS NOT NUMERIC
            VPL5SUD73E - USER DATE 12 IS INVALID
            VPL5SUD74E - USER DATE 13 IS NOT NUMERIC
            VPL5SUD75E - USER DATE 13 IS INVALID
            VPL5SUD76E - USER DATE 14 IS NOT NUMERIC
            VPL5SUD77E - USER DATE 14 IS INVALID
            VPL5SUD81E - USER AMOUNT 1 IS NOT NUMERIC
            VPL5SUD82E - USER AMOUNT 2 IS NOT NUMERIC
            VPL5SUD83E - USER AMOUNT 3 IS NOT NUMERIC
            VPL5SUD84E - USER AMOUNT 4 IS NOT NUMERIC
            VPL5SUD85E - USER AMOUNT 5 IS NOT NUMERIC
            VPL5SUD86E - USER AMOUNT 6 IS NOT NUMERIC
            VPL5SUD87E - USER AMOUNT 7 IS NOT NUMERIC
            VPL5SUD88E - USER AMOUNT 8 IS NOT NUMERIC
            VPL5SUD89E - USER AMOUNT 9 IS NOT NUMERIC
            VPL5SUD90E - USER AMOUNT 10 IS NOT NUMERIC
            VPL5SUD91E - USER AMOUNT 11 IS NOT NUMERIC
            VPL5SUD92E - USER AMOUNT 12 IS NOT NUMERIC
            VPL5SUD93E - USER AMOUNT 13 IS NOT NUMERIC
            VPL5SUD94E - USER AMOUNT 14 IS NOT NUMERIC
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDataUpdateResponse'
      x-proxy-name: Account User Codes Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/transfer:
    put:
      tags:
      - Account
      summary: "Account to account Funds Transfer. (VMX Service: M.ASM.MONETARY.ACT,\
        \ L8V2)"
      description: "Transfers funds between two accounts (ie. P2P), where at least\
        \ one of them, or both, (sender or recipient) is on the VisionPLUS platform"
      operationId: Account to account Funds Transfer
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      - name: clientReceivedStartTimestamp
        in: header
        required: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferFundsRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferFundsResponse'
      x-proxy-name: Account to account Funds Transfer
      x-group-name: Account
      x-child-product-name: Accounts
  /account/transferP2P:
    put:
      tags:
      - Account
      summary: "Credit and Debit action on two accounts in a single call. (VMX Service:\
        \ M.ASM.MONETARYPTP.ACT, L8V2)"
      operationId: Transfer P2P
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferP2PRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferP2PResponse'
      x-proxy-name: Transfer P2P
      x-group-name: Account
      x-child-product-name: Accounts
  /account/transfer-promotional-product:
    put:
      tags:
      - Account
      summary: "Account Transfer Promotional Product Upgrade. (VMX Service: M.CMS.PROM.PROD.UPG.UPD,\
        \ L8V1)"
      description: Enables a user to transfer account balances and history from a
        particular account to an existing new account that has a zero balance.
      operationId: Account Transfer Promotional Product Upgrade
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferPromotionalProductRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "422":
          description: |-
            VPJ5SPA03S - OLD ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPJ5SPA04S - OLD ORGANIZATION RECORD NOT ON FILE
            VPJ5SPA05S - OLD ACCOUNT NUMBER MUST BE PROVIDED
            VPJ5SPA06S - OLD ACCOUNT BEING TRANSFERRED
            VPJ5SPA07S - THIRD PARTY ACCOUNT CANNOT BE TRANSFERRED
            VPJ5SPA08S - NEW ACCOUNT NUMBER MUST BE PROVIDED
            VPJ5SPA09S - NEW ACCOUNT NOT ON FILE
            VPJ5SPA10S - NEW ACCOUNT MUST NOT HAVE TRANSACTIONS
            VPJ5SPA11S - USER ACCT NUMBER VALUE DOES NOT MATCH OLD ACCT NUMBER
            VPJ5SPA13S - OLD ORG AND NEW ORG MUST BE SAME
            VPJ5SPA14S - PROMOTIONAL PRODUCT UPGRADE NOT ACTIVE
            VPJ5SPA15S - ACCOUNT TRANSFER PROHIBITED - WALLET ONLY
            VPJ5SPA16S - OLD ACCOUNT RECORD NOT ON FILE
            VPJ5SPA17S - ACCOUNT ALREADY TRANSFERRED
            VPJ5SPA18S - CANNOT TRANSFER PURGED ACCOUNT
            VPJ5SPA19S - CANNOT TRANSFER CLOSED ACCOUNT
            VPJ5SPA20S - CANNOT TRANSFER CHARGE-OFF ACCOUNT
            VPJ5SPA21S - CANNOT TRANSFER NEW ACCOUNT
            VPJ5SPA22S - CANNOT TRANSFER CONVERSION ACCOUNT
            VPJ5SPA23S - CANNOT TRANSFER COMPANY ACCOUNTS
            VPJ5SPA24S - CANNOT TRANSFER HCS ACCOUNT
            VPJ5SPA25S - OLD ACCOUNT LOGO RECORD NOT FOUND
            VPJ5SPA26S - OLD ACCOUNT LOGO RECORD INCOMPLETE
            VPJ5SPA27S - CANNOT TRANSFER, PLAN TRANSFER IN PROGRESS
            VPJ5SPA28S - CANNOT TRANSFER DELINQUENCY OUT OF BALANCE ACCOUNT
            VPJ5SPA29S - CANNOT TRANSFER, FRAUD TXN TRANSFER IS PENDING
            VPJ5SPA30S - TRANSFER ALREADY IN PROGRESS
            VPJ5SPA31S - DUAL FROM ACCOUNT RECORD NOT ON FILE
            VPJ5SPA32S - DUAL FROM ACCOUNT RECORD - ADD PENDING
            VPJ5SPA33S - CANNOT TRANSFER PURGED FROM ACCOUNT - DUAL ORG
            VPJ5SPA34S - CANNOT TRANSFER CLOSED FROM ACCOUNT - DUAL ORG
            VPJ5SPA35S - CANNOT TRANSFER CHARGE-OFF FROM ACCOUNT - DUAL ORG
            VPJ5SPA36S - FROM ACCOUNT ALREADY TRANSFERRED - DUAL ORG
            VPJ5SPA37S - CANNOT TRANSFER NEW FROM ACCOUNT - DUAL ORG
            VPJ5SPA38S - CANNOT TRANSFER CONVERSION FROM ACCOUNT - DUAL ORG
            VPJ5SPA39S - CANNOT TRANSFER COMPANY FROM ACCOUNTS - DUAL ORG
            VPJ5SPA40S - OLD LOGO AND NEW LOGO MUST BE DIFFERENT
            VPJ5SPA41S - OLD LOGO AND NEW LOGO MUST USE THE SAME SCHEME VISA OR MASTERCARD
            VPJ5SPA42S - OLD LOGO AND NEW LOGO MUST BE THE SAME EITHER OPEN ITEM OR NOT
            VPJ5SPA43S - OLD LOGO AND NEW LOGO MUST HAVE SAME DUAL CURRENCY VALUE
            VPJ5SPA44S - OLD LOGO AND NEW LOGO MUST HAVE SAME BANK AUTH FLAG
            VPJ5SPA45S - OLD LOGO AND NEW LOGO MUST EITHER ALLOW OR NOT ACH PROCESSING
            VPJ5SPA46S - OLD LOGO AND NEW LOGO TYPE MUST BE BANKCARD
            VPJ5SPA47S - LOGO QUARTERLY AFFILIATE CANNOT BE COMPANY CARD
            VPJ5SPA48S - TRANSFER TO ACCOUNT NUMBER INVALID
            VPJ5SPA49S - TRANSFER TO ACCT MUST BE DIFFERENT FROM THE TRANSFER FROM ACCT
            VPJ5SPA50S - NEW ACCOUNT MUST HAVE ZERO BALANCE
            VPJ5SPA51S - NEW ACCOUNT LOGO RECORD NOT FOUND
            VPJ5SPA52S - NEW ACCOUNT LOGO RECORD INCOMPLETE
            VPJ5SPA53S - OLD AND NEW ACCOUNT MUST BE BANKCARD
            VPJ5SPA54S - TRANSFER TO A LOGO WITH DIFFERENT CARD ASSOCIATIONS NOT ALLOWED
            VPJ5SPA55S - ACCT CREDIT LIMIT GREATER THAN XFR TO LOGO CREDIT LIMIT CEILING
            VPJ5SPA56S - TRANSFER TO A NON-ACH BILLING LOGO NOT ALLOWED
            VPJ5SPA57S - COBRANDED FLAG ARE NOT SAME, TRANSFER NOT ALLOWED
            VPJ5SPA58S - CANNOT TRANSFER ACCOUNT WITH PENDING CARD TECH CHANGE
            VPJ5SPA59S - THIRD PARTY CARD GENERATE ISSUE
            VPJ5SPA62S - INVALID NEW ACCOUNT STATUS - PURGED
            VPJ5SPA63S - INVALID NEW ACCOUNT STATUS - CLOSED
            VPJ5SPA64S - INVALID NEW ACCOUNT STATUS - CHARGE-OFF
            VPJ5SPA65S - INVALID NEW ACCOUNT STATUS - CONVERSION ACCT
            VPJ5SPA66S - INVALID NEW ACCOUNT STATUS - COMPANY ACCOUNTS
            VPJ5SPA67S - INVALID NEW ACCOUNT STATUS - HCS ACCOUNT
            VPJ5SPA68S - TRANSFER TO ACCOUNT ALREADY TRANSFERRED
            VPJ5SPA69S - DELINQUENCY OUT OF BALANCE FOR NEW ACCOUNT
            VPJ5SPAZ4S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPLVO2482S - NON-NUMERIC INPUT FIELD XFR AUTH DAYS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferPromotionalProductResponse'
      x-proxy-name: Account Transfer Promotional Product Upgrade
      x-group-name: Account
      x-child-product-name: Accounts
  /account/skip-payment:
    put:
      tags:
      - Account
      summary: "Skip Payment Update. (VMX Service: M.CMS.SKIPPMT.UPD, R8V1)"
      description: Enable skip payment requests at the account level or plan level
        from an external inteface. The request is validated against skip payment criteria
        and the SKIP PAYMENT field is updated on the Base Segment or Plan Segment
        record.
      operationId: Skip Payment Update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkipPaymentUpdateRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkipPaymentUpdateResponse'
        "422":
          description: |-
            VPL5SSK01E - ACCOUNT SKIP PMT FLAG MUST BE Z OR X
            VPL5SSK02E - ACCOUNT CYCLE DUE MUST BE 1, LOGO SKIP PMT MUST BE ACTIVE
            VPL5SSK02S - SERVICE INPUT TO S/K SERVICE IS AN INCORRECT LENGTH
            VPL5SSK03E - ACCOUNT STATUS MUST BE ACTIVE
            VPL5SSK04E - ACCOUNT NOT ELIGIBLE - BLOCK CODE EXCLUDED
            VPL5SSK05E - ACCOUNT NOT ELIGIBLE - PENDING PAYMENTS
            VPL5SSK06E - INVALID ACCOUNT/PLAN/REF NBR COMBINATION
            VPL5SSK07E - ACCT CYCLE DUE MUST BE 0 OR 1, LOGO SKIP PMT MUST BE ACTIVE
            VPL5SSK08E - NEXT SKIP INELIGIBLE - DD NOM PAYMENT IN EFFECT
            VPL5SSK09E - POSTING INDICATOR SHOULD BE 1 OR 2
            VPL5SSK10E - ACCT LEVEL SKIP PMT ACTIVE
            VPL5SSK11E - SETTLEMENT QUOTE CRITERIA NOT MET
            VPL5SSK12E - CYCLE DUE MUST BE EQUAL TO 1 OR PLAN DUE AMT MUST BE > 0
            VPL5SSK13E - YTD PLAN SKIP PAYMENT LIMIT REACHED
            VPL5SSK14E - LTD PLAN SKIP PAYMENT LIMIT REACHED
            VPL5SSK15E - CRITERIA FOR ELAPSED MONTH NOT MET
            VPL5SSK16E - CURRENT BALANCE CRITERIA NOT MET
            VPL5SSK17E - MINIMUM MONTHS ON FILE CRITERIA NOT MET
            VPL5SSK18E - REMAINING TERM CRITERIA NOT MET
            VPL5SSK19E - VALID CREDIT PLAN NBR IS REQUIRED, WHEN SKIP PMT FLAG IS 2
            VPL5SSK20E - VALID REFERENCE NBR IS REQUIRED, WHEN SKIP PMT FLAG IS 2
            VPL5SSK21S - REQUESTED CARD/ACCOUNT NUMBER IS NOT FOUND
            VPL5SSK22E - FOREIGN USE INDICATOR 2 IS INVALID FOR PLAN SKIP
            VPL5SSK23E - SKIP PAYMENT FLAG SHOULD BE 0 OR 1 OR 2
            VPL5SSK25S - INPUT CARD/ACCT NUMBER IS NOT NUMERIC
            VPL5SSK26S - REQUESTED CARD/ACCOUNT NUMBER IS NOT FOUND
            VPL5SSK27S - ACCOUNT NOT FOUND ON FILE
            VPL5SSK28E - INVALID LOCAL/FOREIGN INDICATOR SPECIFIED
            VPL5SSK29E - CREDIT PLAN IS NOT ACTIVE OR NOT FOUND
            VPL5SSK30S - ORGANIZATION NOT DETERMINED
            VPL5SSK33S - ORG RECORD NOT ON FILE
            VPL5SSK34S - LOGO RECORD NOT ON FILE
            VPL5SSK35S - ORG NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SSK36E - FOREIGN USE IND IS INVALID, ACCOUNT IS NOT A DUAL ACCOUNT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Skip Payment Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/settlement-quote:
    put:
      tags:
      - Account
      summary: "Account level Settlement Quote Request. (VMX Service: M.CMS.ACCT.STTLMNT.QUOTE.UPD,\
        \ R8V1)"
      description: Provides the ability for an external source to generate an online
        account-level settlement payoff quote.
      operationId: Account Level Settlement Quote Request
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettlementQuoteRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "422":
          description: |-
            VPL5SAQ02S - ORGANIZATION NOT DETERMINED
            VPL5SAQ03S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SAQ04E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SAQ05E - ACCOUNT OR CARD NUMBER MISSING OR INVALID
            VPL5SAQ06E - FOREIGN USE MUST = SPACES, 0(LOCAL) OR 1(FOREIGN)
            VPL5SAQ07E - START ITEM REQUIRED WITH SCROLL KEY N OR P
            VPL5SAQ08E - SCROLL KEY MUST BE N, P, OR SPACE
            VPL5SAQ09E - PAYOFF DATE MUST BE NUMERIC
            VPL5SAQ10E - SETTLEMENT QUOTE MUST BE P, W, OR C
            VPL5SAQ11E - PAYOFF DATE SHOULD NOT BE LESS THAN TODAY PROCESSING DATE
            VPL5SAQ12E - PAYOFF DATE SHOULD NOT > THAN 60 DAYS FROM TODAY DATE
            VPL5SAQ21S - INSTALLMENT NOT ACTIVE AT THE ORG LEVEL
            VPL5SAQ22S - FOREIGN ORG RECORD NOT FOUND
            VPL5SAQ23S - ACCOUNT NOT ACTIVE
            VPL5SAQ24S - LOGO NOT FOUND
            VPL5SAQ25S - LOGO IN PENDING STATUS
            VPL5SAQ26S - INSTALLMENT NOT ACTIVE AT THE LOGO LEVEL
            VPL5SAQ27S - ACCESS PROBLEM ON PLAN SEGMENT
            VPL5SAQ28S - FAILURE TO INVOKE PLAN QUOTE SERVICE
            VPL5SAQ31S - PROBLEM ACCESSING PLAN SEGMENT SETTLEMENT DATA
            VPL5SAQ32S - CANCEL REQUEST IS INVALID WHEN QUOTE IND IS NOT P, W OR S
            VPL5SAQ33S - PAYOFF QUOTE NOT ALLOWED
            VPL5SAQ80I - NO FOREIGN ORG FOUND IN ORG RECORD
            VPL5SAQZAS - ACCOUNT NOT FOUND
            VPL5SAQZCS - ORG NOT FOUND OR ORG IS PENDING ADD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettlementQuoteResponse'
      x-proxy-name: Account Level Settlement Quote Request
      x-group-name: Account
      x-child-product-name: Accounts
  /account/service-charge-table:
    put:
      tags:
      - Account
      summary: "The Service Charge/Fee Table Override Update service enables a calling\
        \ program to maintain Service Charge/Fee Table Override parameters associated\
        \ with an account. (VMX Service: M.CMS.SVCFEE.TBL.OVRD.UPD, R8V1)"
      operationId: Service Charge/Fee Table Override Update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeFeeTableOverrideUpdRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "422":
          description: |-
            VPL5S0029S – ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998
            VPL5SSU01E – INVALID DUAL ACCT INDICATOR
            VPL5SSU02E – INPUT ACCT NUMBER IS NOT NUMERIC OR EQUAL SPACES
            VPL5SSU03S – INVALID FOREIGN FLAG
            VPL5SSU04E – SVC FEE TABLE MUST BE NUMERIC AND 001 THRU 998
            VPL5SSU05E – SVC START DATE IS NOT A VALID DATE
            VPL5SSU06E – SVC START DATE IS NOT NUMERIC
            VPL5S0006S – REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SSU07E – SVC EXPIRE DATE IS NOT A VALID DATE
            VPL5SSU07S – ORG RECORD NOT FOUND
            VPL5SSU08E – SVC EXPIRE DATE IS NOT NUMERIC
            VPL5SSU09E – SVC EXPIRE DATE MUST BE GREATER THAN SVC START DATE
            VPL5SSU10E – NOT A FOREIGN ACCOUNT
            VPL5SSU10S – INVALID ORG
            VPL5SSU12S – DUAL CURRENCY ORG VALID VALUES ARE 001 THRU 998
            VPL5SSU13E – MISMATCHED GENERATED FOREIGN ORG
            VPL5SSU14S – ORG RECORD NOT FOUND FOR A DUAL CURRENCY ORG
            VPL5SSU15S – FOREIGN ACCOUNT DUAL CURRENCY MISMATCH
            VPL5SSU16S – ORG RECORD NOT FOUND
            VPL5SSU17E – ACCOUNT NOT ON FILE
            VPL5SSU18E – ACCOUNT NOT ON FILE
            VPL5SSU19E – SERVICE FEE TABLE OVERRIDE NOT ALLOWED FOR THIS LOGO
            VPL5SSU20S – ACCT NOT ON FILE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeFeeTableOverrideUpdResponse'
      x-proxy-name: Service Charge/Fee Table Override Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/relationship/billing-cycle:
    put:
      tags:
      - Relationship
      summary: "The billing cycle update service for the relationship allows a user\
        \ to update the billing cycle code for all accounts associated with a relationship.\
        \ (VMX Service: M.CMS.BILLING.CYCLE.UPD, R8V1)"
      operationId: Billing Cycle Update Service
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingCycleUpdateRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCycleUpdateResponse'
      x-proxy-name: Billing Cycle Update Service
      x-group-name: Relationship
      x-child-product-name: Accounts
  /account/relationship/account:
    put:
      tags:
      - Relationship
      summary: "Account relationship number update. (VMX Service: M.CMS.ACCOUNT.RELATIONSHIP.UPD,\
        \ L8V1)"
      description: Update relationship number of a account
      operationId: Account relationship number update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountRelationshipUpdateRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "422":
          description: |-
            VPL5SRA35S = FOREIGN USE INDICATOR VALUES MUST BE 0, 1 OR 2
            VPL5SRA36S = ORG MUST BE NUMERIC AND LESS THAN 999
            VPL5SRA37S = ACCOUNT NUMBER REQUIRED
            VPL5SRA38I = TO UNLINK EXISTING RELATIONSHIP PLEASE PROVIDE ALL '#' IN INPUT
            VPL5SRA38S = RELATIONSHIP NUMBER REQUIRED
            VPL5SRA39E = FOREIGN-USE INDICATOR VALUE MUST BE EMPTY WHEN ACCT-ORG
            VPL5SRA40S = ORGANIZATION CANNOT BE DETERMINED BY THE SYSTEM
            VPL5SRA41S = ORGANIZATION NOT DETERMINED
            VPL5SRA42I = INPUT ORG IS NOT LOCAL ORG,PROCEEDING TO FOREIGN ORG PROCESSING
            VPL5SRA43S = REQUESTED ORGANIZATION NOT FOUND IN SYSTEM
            VPL5SRA46S = RELATIONSHIP UPDATE NOT ALLOWED FOR ORG WITH CRM NOT ACTIVE
            VPL5SRA47E = RELATIONSHIP UNLINK IS IN PROGRESS, PLEASE WAIT FOR ONE BATCH
            VPL5SRA47S = RELATIONSHIP UPDATE NOT ALLOWED FOR COBRAND LOGO
            VPL5SRA48S = ACCOUNT NOT DUAL OR LOCAL ACCOUNT
            VPL5SRA49S = INPUT RELATIONSHIP IS ALREADY ASSIGNED TO INPUT ACCOUNT
            VPL5SRA50S = RELATIONSHIP CAN NOT BE UNLINKED WHEN BILLING LEVEL IS 0
            VPL5SRA51S = ACCOUNT LOGO AND RELATIONSHIP LOGO ARE NOT SAME
            VPL5SRA52I = FIRST UNLINK THE EXISITNG REALTIONSHIP AND WAIT FOR ONE BATCH
            VPL5SRA52E = REALTIONSHIP NUMBER CANNOT BE CHANGED DUE TO VIM/SDOL FLAG ACTIVE
            VPL5SRA52S = ACCT EXISTING RELATIONSHIP IS NOT FOUND IN SYSTEM
            VPL5SRA53S = RELATIONSHIP CANNOT BE CHANGED,AS ACCT CREDIT LIMIT NOT NUMERIC
            VPL5SRA54S = ACCT CREDIT LIMIT CANNOT BE LESS THAN THE LOGO ACCT FLOOR LIMIT
            VPL5SRA55S = ACCT CREDIT LIMIT CANNOT BE GREATER THAN LOGO ACCT CEILING LIMIT
            VPL5SRA57S = ACCT CREDIT LIMIT CANNOT BE > THE CRLIM AVAILABLE ON RELATIONSHIP
            VPL5SRA58S = ACCT BLOCKED FOR CREDIT LIMIT SYNC UP WITH NEW RELATIONSHIP
            VPL5SRA59S = ACCT DLQ LVL EXCEEDED FOR CREDIT LIMIT SYNC WITH NEW RELATIONSHIP
            VPL5SRA60S = ACCT DLQ AMT EXCEEDED FOR CREDIT LIMIT SYNC WITH NEW RELATIONSHIP
            VPL5SRA61S = PRIM ACCT BILLING LVL CANNOT BE 1, WHEN REL BILLING LVL IS 0 OR 2
            VPL5SRA62S = REL BILLING LEVEL MUST BE 1 WHEN DUAL BILLING IS 1 ON ACCT
            VPL5SRA63S = ACCT BILLING LVL CANNOT BE 0,WHEN REL BILL LVL IS 1
            VPL5SRA64S = ACCT BILLING LEVEL MUST BE 0 OR 1
            VPL5SRA65S = WHEN ACT BILL LEVEL IS 0,RELATIONSHIP NUMBER CANNOT BE #
            VPL5SRA66S = ACCT BILLING LVL CANNOT BE 0,WHEN REL BILL LVL IS 1
            VPL5SRA67S = BILLING LEVEL FOR PRIMARY ACCOUNT CANNOT BE CHANGED TO 1
            VPL5SRA68S = BILLING LVL CANNOT BE CHANGED TO 1 WHEN ACCT PAYMENT DUE IS > 0
            VPL5SRA69S = CANNOT ADD A NON-PURCHASE ACCOUNT TO A PURCHASE RELATIONSHIP
            VPL5SRA70S = CANNOT ADD A NON-CORPORATE ACCOUNT TO A CORPORATE RELATIONSHIP
            VPL5SRA71S = CANNOT ADD A NON-HCS CARD ACCOUNT TO A HCS RELATIONSHIP
            VPL5SRA72S = INVALID CARD SCHEME CHANGE
            VPL5SRA73S = CARD SCHEME MUST BE 0 FOR NON-RELATIONSHIP ACCOUNTS
            VPL5SRA74S = CARD SCHEME CANNOT BE 0 UNLESS THE RELATIONSHIP IS SPACE OR ALL #
            VPL5SRA75S = NO RELATIONSHIP EXISTS, CARD SCHEME CANNOT BE 1
            VPL5SRA76S = EITHER CUST SELECT DUE OR CYCLE MUST > ZERO
            VPL5SRA77S = STMT FREQ MUST BE 01 FOR ACCOUNTS IN A RELATIONSHIP
            VPL5SRA78S = FOREIGN USE INDICATOR INVALID, DUAL ACCOUNT NOT FOUND
            VPL5SRA79S = FOREIGN USE INDICATOR INVALID, ORG IS NOT DUAL CURRENCY ORG
            VPL5SRA80E = ACCT BILLING CYCLE CANNOT BE ZEROS
            VPL5SRA80S = ACCT BILLING CYCLE NOT VALID ON SYSTEM RECORD
            VPL5SRA81E = CYCLE DATE UPDATE NOT ALLOWED FOR THIS LOGO
            VPL5SRA81S = LOGO ELAPSED DAYS NOT EXPIRED FROM LAST CYCLE CHANGE &DUE ON ACCT
            VPL5SRA82E = LOGO ELAPSED DAYS NOT EXPIRED FROM LAST CYCLE CHANGE
            VPL5SRA82S = PMT DUE ON ACCT, UPDATE NOT ALLOWED
            VPL5SRA83E = PAST PMT DUE ON ACCT, UPDATE NOT ALLOWED
            VPL5SRA83S = AFTER PMT DUE ON ACCT, UPDATE NOT ALLOWED
            VPL5SRA84E = LOGO ELAPSED DAYS NOT EXPIRED FROM LAST CYCLE CHANGE &DUE ON ACCT
            VPL5SRA84S = LOGO ELAPSED DAYS NOT EXPIRED FROM LAST CYCLE CHANGE
            VPL5SRA85E = PMT DUE ON ACCT, UPDATE NOT ALLOWED
            VPL5SRA85S = PAST PMT DUE ON ACCT, UPDATE NOT ALLOWED
            VPL5SRA86E = AFTER PMT DUE ON ACCT, UPDATE NOT ALLOWED
            VPL5SRA86S = CANNOT BE GREATER THAN COMPANY NODE AVAIL CREDIT LIMIT
            VPL5SRA87E = CANNOT BE GREATER THAN COMPANY NODE AVAIL CREDIT LIMIT
            VPL5SRA87S = CANNOT BE GREATER THAN PARENT NODE AVAIL CREDIT LIMIT
            VPL5SRA88E = CANNOT BE GREATER THAN PARENT NODE AVAIL CREDIT LIMIT
            VPL5SRA89S = INPUT ORG DOES NOT MATCH WITH FOREIGN ACCOUNT ORG
            VPL5SRA90S = FOREIGN ORG NOT FOUND ON FILE
            VPL5SRA91S = INVALID FOREIGN USE FLAG, ORG IS NOT DUAL
            VPL5SRA92S = ORG RECORD NOT FOUND OR INVALID ORG STATUS
            VPL5SRA93S = LOGO RECORD NOT FOUND OR INVALID LOGO STATUS
            VPL5SRA94S = INVALID ACCOUNT STATUS OR ACCOUNT NOT FOUND
            VPL5SRA95S = INVALID ACCOUNT STATUS OR ACCOUNT NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountRelationshipUpdateResponse'
      x-proxy-name: Account relationship number update
      x-group-name: Relationship
      x-child-product-name: Accounts
  /account/qualification:
    put:
      tags:
      - Account
      summary: "Update Account qualification. (VMX Service: M.CMS.ACCT.CLOSE.CHGOFF,\
        \ R8V2)"
      description: "Updates the value of the Account qualification field. Emulates\
        \ the functionality used to update the account status, from active to closed,\
        \ in the same manner as the STATUS field on online screen ARMB01. In addition,\
        \ this service provides the ability to initiate charge-off in the same manner\
        \ as setting the C/O STAT field to a value of 3 (manual) on the Account Base\
        \ Segment screen (ARMB01)."
      operationId: Update Account qualification
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateQualificationRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "422":
          description: |
            VPL5SAAI6E - GQ FIELD MUST BE SPACE OR A-Z
            VPL5SCC01S - ACCOUNT OR CARD NUMBER IS REQUIRED
            VPL5SCC02S - ORGANIZATION NOT DETERMINED
            VPL5SCC03S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SCC04S - ORGANIZATION NUMBER NOT FOUND ON FILE
            VPL5SCC05S - FOREIGN ORG RECORD NOT FOUND ON FILE
            VPL5SCC06S - LOGO NUMBER NOT FOUND ON FILE
            VPL5SCC10S - INVALID INTERNAL STATUS 8
            VPL5SCC11S - STATUS CANNOT CHANGE TO CLOSED WHEN INSURANCE IS ACTIVE
            VPL5SCC12S - CANNOT MANUAL CHGOFF AN ACCT WITH A ZERO OR CREDIT BALANCE
            VPL5SCC13S - CANNOT RESET CHARGEOFF ON ACCOUNT WHEN DAYS IS > 0
            VPL5SCC14S - CANNOT MANUAL CHARGE OFF THIS ACCT
            VPL5SCC15S - CANNOT CHARGEOFF (WITH RSN) AN ACCT WITH 0 BAL OR CREDIT BAL
            VPL5SCC16S - VALID ENTRIES FOR RSN CODE POSITION 1 ARE C, B, F, OR T
            VPL5SCC17S - ENTERED AUTO C/O RSN CODE - PLS CHG TO MANUAL RSN
            VPL5SCC18S - RSN CODE MUST BE DEFINED ON ARML24
            VPL5SCC19S - CANNOT CHARGEOFF (WITH RSN), ACCT C/O STAT MUST = 0
            VPL5SCC21E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SCC22E - FOREIGN USE MUST = SPACES, 0(LOCAL) OR 1(FOREIGN)
            VPL5SCC23E - REASON CODE IS REQUIRED FOR FUNC 2 - CHGOFF WITH RSN
            VPL5SCC24E - VALID FUNC INDICATOR IS 0-ACCT CLS 1-MANUAL CHGOFF 2-CHGOFF RSN ON
            VPL5SCCZAS - ACCOUNT NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateQualificationResponse'
      x-proxy-name: Update Account qualification
      x-group-name: Account
      x-child-product-name: Accounts
  /account/pwd-reset:
    put:
      tags:
      - Account
      summary: "API to reset customer password. (VMX Service: M.SSC.SIGNON, L8V1)"
      operationId: Password Reset
      parameters:
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
      - name: clientID
        in: query
        required: true
        schema:
          type: string
      - name: security-context
        in: header
        required: false
        schema:
          type: string
      - name: username
        in: header
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPasswordResetRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPasswordResetResponse'
      x-proxy-name: Password Reset
      x-group-name: Account
      x-child-product-name: Accounts
  /account/productTransfer:
    put:
      tags:
      - Account
      summary: "Product transfer. (VMX Service: M.CMS.ACCT.PRODTRANSFER.UPD, L8V3)"
      description: Generates the reject report for product upgrade or downgrade during
        batch process.
      operationId: Product Transfer
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductTransferRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "422":
          description: |
            Unprocessable Entity

            VPL5SFR05S - INVALID ACCOUNT

            VPL5SFR06S - INVALID ORG

            VPL5SFR07S - INVALID FUNCTION

            VPL5SFR08S - ORG IS NOT PRESENT OR ADD PENDING STATUS

            VPL5SFR09S - ACCOUNT TRANSFER PROHIBITED

            VPL5SFR0AS - COMB INST PRODUCT CAN NOT BE LINKED TO SELECTED LOGO

            VPL5SFR0BS - LOGO DOES NOT ALLOW ACCOUNT NUMBER GENERATION

            VPL5SFR0CS - MAXIMUM NUMBER OF 20 ATTEMPTS MADE ON BASE NUMBER

            VPL5SFR0DS - GENERATED ACCOUNT NUMBER > BASE ENDING NUMBER

            VPL5SFR0FS - INVALID CUSTOMER NUMBER

            VPL5SFR0MS - CARD TYPE DOES NOT ALLOW ACROSS SCHEME TRANSFER

            VPL5SFR10S - INPUT ACCOUNT NOT PRESENT OR ADD PENDING STATUS

            VPL5SFR22S - PRODUCT TRANSFER NOT ALLOWED FOR BLOCKED ACCOUNT

            VPL5SFR23S - ACCOUNT ALREADY TRANSFERRED , ONLY REVERSAL ALLOWED

            VPL5SFR24S - CANNOT TRANSFER DELINQUENCY OUT OF BALANCE ACCOUNT

            VPL5SFR26S - ACCOUNT FOR DUAL ORG IS NOT PRESENT OR ADD PENDING STATUS

            VPL5SFR34S - TRANSFER AUTH DAYS MUST BE NUMERIC

            VPL5SFR35S - INVALID NEW ACCT

            VPL5SFR36S - INVALID NEW LOGO

            VPL5SFR37S - INVALID BILLING CYCLE

            VPL5SFR38S - INVALID BILLING CYCLE

            VPL5SFR39S - INVALID NEW CARD TECHNOLOGY

            VPL5SFR40S - SMART CARD NOT VALID WITH CARD SCHEME 2

            VPL5SFR43S - PCT ID IS NOT NEEDED SINCE THE FUNCTION IS NOT P

            VPL5SFR44S - PCT ID PROVIDED IS NOT DEFINED UNDER NEW LOGO

            VPL5SFR46S - NEW CREDIT LIMIT NOT ALLOWED FOR FUNCTION C OR R

            VPL5SFR47S - DEBIT CARD MUST TRANSFER TO ANOTHER DEBIT CARD LOGO

            VPL5SFR48S - PRODUCT TRANSFER MUST NOT CROSS ORGANIZATIONS

            VPL5SFR49S - PRODUCT TRANSFER MUST CROSS LOGOS

            VPL5SFR51S - CANNOT TRANSFER ACCOUNT WITH PENDING CARD TECH CHANGE

            VPL5SFR52S - TOO MANY EMBOSSERS FOR ACCOUNT''S NEW CARD TECHNOLOGY

            VPL5SFR53S - ACCOUNT TRANSFER NOT ALLOWED DUE TO PENDING CARD ACTION

            VPL5SFR60S - CUSTOMER RECORD NOT ON FILE IN THIS ORG

            VPL5SFR61S - CUSTOMER RECORD MUST BE ACTIVE IN THIS ORIG

            VPL5SFR62S - CUSTOMER RECORD NOT ON FILE IN THE DUAL ORG

            VPL5SFR63S - CUSTOMER RECORD MUST BE ACTIVE IN THE DUAL ORG

            VPL5SFR64S - ORGANIZATION NOT DETERMINED

            VPL5SFR68S - NEW LOGO IS NOT PRESENT OR ADD PENDING STATUS

            VPL5SFR91S - NEW ACCT CREDIT LIMIT IS > LOGO CREDIT LIMIT CEILING

            VPL5SFR92S - NEW ACCT CREDIT LIMIT IS < LOGO FLOOR LIMIT

            VPL5SFR93S - ACCOUNT CREDIT LIMIT IS > LOGO CREDIT LIMIT

            VPL5SFR94S - ACCOUNT DREDIT LIMIT  IS < LOGO FLOOR LIMIT

            VPL5SFR97S - PRODUCT GRADUATION TERMINATED , LOGO NOT ELIGIBLE
          content:
            application/json: {}
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductTransferResponse'
      x-proxy-name: Product Transfer
      x-group-name: Account
      x-child-product-name: Accounts
  /account/prepaid:
    put:
      tags:
      - Account
      summary: "Assign Preissued Card to Account. (VMX Service: M.CMS.PREPAIDACCT.ASSIGN.UPD,\
        \ L8V1)"
      description: Links a pre-issued card to both a Customer record and an Account
        record
      operationId: Assign Preissued Card to Account
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidAssignmentRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "422":
          description: |-
            VPL5SPSZ6S - ORGANIZATION COULD NOT BE DETERMINED FOR INPUT CARD
            VPL5SPSZ7S - ORGANIZATION COULD NOT BE DETERMINED FOR CUSTOMER ACCT
            VPL5SPSZ8S - INVALID ORGANIZATION NUMBER
            VPL5SPSZ9S - CMS FILE-TABLE USED BY THIS SERVICE IS NOT FOUND
            VPL5SPS02E - CUSTOMER ACCT NBR MUST BE NUMERIC AND > ZEROES
            VPL5SPS03E - CARD NBR MUST BE NUMERIC AND > ZEROES
            VPL5SPS04E - CARDHOLDER TYPE MUST BE 0 OR 1
            VPL5SPS05S - LOGO COULD NOT BE DETERMINED FOR FOR INPUT CARD
            VPL5SPS06S - LOGO COULD NOT BE DETERMINED FOR CUSTOMER ACCT
            VPL5SPS07E - ORG & LOGO MUST BE SAME FOR NON-PERSONAL & CUSTOMER ACCT
            VPL5SPS08S - SYSTEM RECORD NOT FOUND
            VPL5SPS09S - ORG RECORD NOT FOUND OR IN ADD PENDING STATUS
            VPL5SPS10S - LOGO RECORD NOT FOUND OR IN ADD PENDING STATUS
            VPL5SPS11E - LOGO MUST BE PREPAID LOGO
            VPL5SPS12S - EMBOSSER RECORD NOT FOUND OR ADD PENDING OR PURGED STATUS
            VPL5SPS13E - CARD MUST NOT BE ACTIVATED
            VPL5SPS15S - NON PERSONAL ACCT NOT FOUND/ADD PENDING/CLOSED/PURGE STATUS
            VPL5SPS16E - NON PERSONAL ACCT ASSOCIATED WITH INPUT CARD MUST BE GENERIC PPD
            VPL5SPS17E - CARD NUMBER DECRYPTED FROM PAN TOKEN IS SPACES/ZEROS
            VPL5SPS17S - CUSTOMER ACCT NOT FOUND/ADD PENDING/CLOSED/PURGE STATUS
            VPL5SPS18E - CARD NUMBER SHOULD NOT BE SPACES
            VPL5SPS19E - ORG LEVEL PAN TOKEN SW INACTIVE
            VPL5SPS19S - CUST NBR ASSOCIATED WITH CUST ACCT NOT FOUND/ADD PENDNG/CLSD/PURG
            VPL5SPS20S - EXISTNG PRIMRY CARD MAPPED TO CUST ACCT IN AMAX,NOT FOUND IN AMED
            VPL5SPS21S - NON PERSONAL ACCT ASSOCIATED WITH INPUT CARD NOT FOUND IN BS FILE
            VPL5SPS22S - CUSTOMER ACCT NOT FOUND IN BASE SEGMENT FILE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidAssignmentResponse'
      x-proxy-name: Assign Preissued Card to Account
      x-group-name: Account
      x-child-product-name: Accounts
  /account/ppd-over-limit:
    put:
      tags:
      - Account
      summary: "Prepaid over limit update. (VMX Service: M.CMS.PPD.OVERLIMIT.UPD,\
        \ L8V1)"
      description: Update the over limit amount of a prepaid account
      operationId: Prepaid over limit update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidOverlimitUpdateRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "422":
          description: |
            VPL5SOL01E - INVALID ORG
            VPL5SOL02E - INVALID ACCOUNT
            VPL5SOL03E - INVALID PREPAID OVLM AMOUNT
            VPL5SOL04E - INPUT IS SAME AS AMBS PPD OVLM AMT
            VPL5SOL05E - ACCOUNT NUMBER ENTERED IS NOT PREPAID
            VPL5SOL06E - PPD OVERLIMIT UNCHANGED,UPDATE BYPASSED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidOverlimitUpdateResponse'
      x-proxy-name: Prepaid over limit update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/ppd-load-limits:
    put:
      tags:
      - Account
      summary: "Prepaid load limits update. (VMX Service: M.CMS.PPD.LOAD.LMTS.UPD,\
        \ L8V1)"
      description: Update the load limits of a prepaid account
      operationId: Prepaid load limits update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PpdLoadLimitsUpdateRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PpdLoadLimitsUpdateResponse'
        "422":
          description: |-
            VPL5SPL06S - INVALID ORG
            VPL5SPL07S - LOGO NUMBER NOT FOUND
            VPL5SPL08S - INVALID ACCOUNT
            VPL5SPL01E - INVALID DATA IN THE SINGLE LOAD MAX FIELD
            VPL5SPL02E - INVALID DATA IN THE SINGLE LOAD MIN FIELD
            VPL5SPL03E - INVALID DATA IN THE PREPAID LOAD AMT FIELD
            VPL5SPL04E - INVALID PREPAID LOAD FREQ
            VPL5SPL05E - INVALID PREPAID LOAD NBR
            VPL5SPL09S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SPL10S - REQUESTED ORGANIZATION NOT FOUND
            VPL5SPL11S - ORGANIZATION NOT FOUND ON FILE
            VPL5SPL12S - ACCOUNT NOT FOUND ON FILE
            VPL5SPL13S - AMOUNT CAN NOT EXCEED THE LOGO AMOUNT
            VPL5SPL14S - WHOLE MONETARY UNIT - DOES NOT CONFORM TO CURRENCY NOD
            VPL5SPL15S - SINGLE LOAD MAX MUST BE GREATER THAN SINGLE LOAD MIN
            VPL5SPL16S - SINGLE LOAD MIN MUST BE LESS THAN SINGLE LOAD MAX
            VPL5SPL17S - MAX LOAD AMOUNT CAN NOT BE ZERO
            VPL5SPL18S - ACCOUNT NUMBER ENTERED IS NOT PREPAID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Prepaid load limits update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/pctId:
    put:
      tags:
      - Account
      summary: "Pricing Control Table update. (VMX Service: M.CMS.PRICING.CTRL.UPD,\
        \ R8V1)"
      description: Update the load limits of a prepaid account
      operationId: Pricing Control Table update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PricingControlTableRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "422":
          description: |-
            VPL5SPC03E - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998
            VPL5SPC04E - REQUESTED CARD/ACCT NUMBER IS NOT NUMERIC OR EQUAL SPACES
            VPL5SPC05E - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE, 0 OR 1
            VPL5SPC06E - STATE OF RESIDENCE CONTAINS INVALID CHARACTERS
            VPL5SPC07E - STATE OF ISSUANCE CONTAINS INVALID CHARACTERS
            VPL5SPC08E - PRICING CONTROL ID CONTAINS INVALID CHARACTERS
            VPL5SPC09E - PRICING CONTROL START DATE IS NOT NUMERIC
            VPL5SPC10E - PRICING CONTROL EXPIRES DATE MUST BE A VALID DATE
            VPL5SPC11E - PRICING CONTROL EXPIRE DATE IS NOT NUMERIC
            VPL5SPC12E - PRICING LEVEL OVERRIDE MUST EQUAL SPACE, L, O OR S
            VPL5SPC13E - PRICING LEVEL START DATE MUST BE A VALID DATE
            VPL5SPC14E - PRICING LEVEL START DATE IS NOT NUMERIC
            VPL5SPC15E - PRICING LEVEL EXPIRES DATE MUST BE A VALID DATE
            VPL5SPC16E - PRICING LEVEL EXPIRES DATE IS NOT NUMERIC
            VPL5SPC18S - ORGANIZATION NOT FOUND ON FILE
            VPL5SPC19S - FOREIGN ORGANIZATION NOT FOUND ON FILE
            VPL5SPC20S - ACCOUNT NOT FOUND ON FILE
            VPL5SPC21S - LOGO NOT FOUND ON FILE
            VPL5SPC22E - STATE OF RESIDENCE IS NOT FOUND ON USURY TABLE
            VPL5SPC23E - STATE OF RESIDENCE IS INVALID ON USURY TABLE
            VPL5SPC24E - STATE OF RESIDENCE IS NOT FOUND
            VPL5SPC25E - STATE OF RESIDENCE DOES NOT EXIST
            VPL5SPC27E - STATE OF RESIDENCE IS REQUIRED
            VPL5SPC28E - PRICING CONTROL ID IS NOT FOUND
            VPL5SPC29E - PRICING CONTROL ID DOES NOT EXIST
            VPL5SPC30E - ISSUANCE ID REQUIRED FOR BANKCARD ACCOUNT
            VPL5SPC31E - ISSUANCE ID IS NOT FOUND ON USURY TABLE
            VPL5SPC32E - ISSUANCE ID IS INVALID ON USURY TABLE
            VPL5SPC33E - ISSUANCE ID IS NOT FOUND
            VPL5SPC34E - ISSUANCE ID DOES NOT EXIST
            VPL5SPC35E - START DATE INVALID WHEN PCT CNTRL ID NOT PROVIDED
            VPL5SPC36E - START DATE FOR THE PRICING CTRL MUST BE = OR > NEXT PROCESSING DT
            VPL5SPC37E - EXPIRE DATE NOT VALID WHEN START DATE EQUAL ZEROS
            VPL5SPC38E - EXPIRE DATE FOR THE PRICING CTRL MUST BE = OR > PCT START DATE
            VPL5SPC39E - PCT LEVEL START DATE NOT VALID WHEN PRICING CTRL NOT PROVIDED
            VPL5SPC40E - PCT LEVEL START DATE FOR PCT LEVEL MUST BE = OR > NEXT PROCESS DT
            VPL5SPC41E - PCT LEVEL EXPIRE DATE FOR PCT LEVEL MUST BE > START DATE
            VPL5SPC42E - PRICING START DATE CAN NOT BE GREATER THAN PCT EXPIRE DATE
            VPL5SPC43E - PRICING START/EXPIRE DATE INVALID WHEN PCT ID EQUAL SPACES
            VPL5SPC44E - PRICING LEVEL EXPIRE DATE LESS THAN PRICING LEVEL START DATE
            VPL5SPC45E - PCT LEVEL START/EXPIRE DATES INVALID WHEN PCT LEVEL NOT PROVIDED
            VPL5SPC46S - PCT ENTRY DOES NOT EXIST
            VPL5SPC47S - ACCT CTL TABLE ID INVALID-CSH/RTL PLANS/CHGF ACRINT NOT OBTAINED
            VPL5SPC48S - ACCT CTL TABLE ID INVALID-CSH/RTL PLANS/CHGF ACRINT NOT OBTAINED
            VPL5SPC49I - PRICING CONTROL DATA HAS NOT CHANGED, UPDATE BYPASSED
            VPL5SPC50I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL5SPCZ4S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SPCZ5S - REQUESTED ORGANIZATION NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingControlTableResponse'
      x-proxy-name: Pricing Control Table update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/organizationNumber/level-limits:
    put:
      tags:
      - Account
      summary: "Update limits rules. (VMX Service: M.CMS.RULE.LIMIT.UPD, L8V1)"
      description: Updates limits rules at the Organization level
      operationId: Update organization rule levels
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationRuleLevelsRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrganizationRuleLevelsResponse'
      x-proxy-name: Update organization rule levels
      x-group-name: Account
      x-child-product-name: Accounts
    post:
      tags:
      - Account
      summary: "Add limits rules. (VMX Service: M.CMS.RULE.LIMIT.ADD, L8V1)"
      description: Adds limits rules at the Organization level
      operationId: Add organization rule levels
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOrganizationRulesLevelsRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOrganizationRulesLevelsResponse'
      x-proxy-name: Add organization rule levels
      x-group-name: Account
      x-child-product-name: Accounts
  /account/mass-product-upgrade-downgrade:
    put:
      tags:
      - Account
      summary: "Mass product upgrade downgrade. (VMX Service: M.CMS.ACCT.PRODTRANSFER.UPD,\
        \ R8V3)"
      description: Generates the reject report for product upgrade or downgrade during
        batch process.
      operationId: Mass product upgrade downgrade
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MassProductUpgradeDowngradeRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "400":
          description: Bad Request
        "422":
          description: |-
            VPL5SFR05S - INVALID ACCOUNT
            VPL5SFR06S - INVALID ORG
            VPL5SFR07S - INVALID FUNCTION
            VPL5SFR08S - ORG IS NOT PRESENT OR ADD PENDING STATUS
            VPL5SFR09S - ACCOUNT TRANSFER PROHIBITED
            VPL5SFR10S - INPUT ACCOUNT NOT PRESENT OR ADD PENDING STATUS
            VPL5SFR11S - CANNOT TRANSFER/COPY PURGED ACCOUNT
            VPL5SFR12S - CANNOT TRANSFER/COPY CLOSED
            VPL5SFR13S - CANNOT TRANSFER/COPY CHARGE-OFF ACCOUNT
            VPL5SFR14S - CANNOT TRANSFER/COPY NEW ACCOUNT
            VPL5SFR15S - CANNOT TRANSFER/COPY CONVERSION ACCOUNT
            VPL5SFR16S - CANNOT TRANSFER/COPY COMPANY ACCOUNTS
            VPL5SFR17S - PROD XFR NOT AVAILABLE IN AFTER HOURS FOR HCS CARDS
            VPL5SFR19S - ACCT XFR FOR THIRD PARTY LOGO NOT ALLOWED IN AFT HRS
            VPL5SFR21S - LOGO IS NOT PRESENT/ADD PEDNING STATUS
            VPL5SFR22S - PRODUCT TRANSFER NOT ALLOWED FOR BLOCKED ACCOUNT
            VPL5SFR23S - ACCOUNT ALREADY TRANSFERRED , ONLY REVERSAL ALLOWED
            VPL5SFR24S - CANNOT TRANSFER DELINQUENCY OUT OF BALANCE ACCOUNT
            VPL5SFR25S - TRANSFER ALREADY IN PROGRESS
            VPL5SFR26S - ACCOUNT FOR DUAL ORG IS NOT PRESENT OR ADD PENDING STATUS
            VPL5SFR27S - CANNOT TRANSFER/COPY PURGED ACCOUNT - DUAL ORG
            VPL5SFR28S - CANNOT TRANSFER/COPY CLOSED ACCOUNT - DUAL ORG
            VPL5SFR29S - CANNOT TRANSFER/COPY CHARGE-OFF ACCOUNT - DUAL ORG
            VPL5SFR30S - CANNOT TRANSFER/COPY NEW ACCOUNT - DUAL ORG
            VPL5SFR31S - ACCOUNT ALREADY TRANSFERRED/COPIED - DUAL ORG
            VPL5SFR32S - CANNOT TRANSFER/COPY CONVERSION ACCOUNT - DUAL ORG
            VPL5SFR33S - REVERSAL CANNOT BE PROCESSED DURING END-OF-DAY
            VPL5SFR34S - TRANSFER AUTH DAYS MUST BE NUMERIC
            VPL5SFR35S - INVALID NEW ACCT
            VPL5SFR36S - INVALID NEW LOGO
            VPL5SFR37S - INVALID BILLING CYCLE
            VPL5SFR38S - INVALID BILLING CYCLE
            VPL5SFR39S - INVALID NEW CARD TECHNOLOGY
            VPL5SFR40S - SMART CARD NOT VALID WITH CARD SCHEME 2
            VPL5SFR41S - XFR/COPY ACCOUNT MUST BE DIFFERENT FROM XFR/CPY FROM ACCT
            VPL5SFR42S - INVALID NEW PCT
            VPL5SFR43S - PCT ID IS NOT NEEDED SINCE THE FUNCTION IS NOT P
            VPL5SFR44S - PCT ID PROVIDED IS NOT DEFINED UNDER NEW LOGO
            VPL5SFR45S - INVALID NEW CREDIT LIMIT
            VPL5SFR46S - NEW CREDIT LIMIT NOT ALLOWED FOR FUNCTION C OR R
            VPL5SFR47S - DEBIT CARD MUST TRANSFER TO ANOTHER DEBIT CARD LOGO
            VPL5SFR48S - PRODUCT TRANSFER MUST NOT CROSS ORGANIZATIONS
            VPL5SFR49S - PRODUCT TRANSFER MUST CROSS LOGOS
            VPL5SFR50S - PRODUCT XFR NEVER XFR TO DIFFERENT LOGO CARD TECH SCH2
            VPL5SFR51S - CANNOT TRANSFER ACCOUNT WITH PENDING CARD TECH CHANGE
            VPL5SFR52S - TOO MANY EMBOSSERS FOR ACCOUNT''S NEW CARD TECHNOLOGY
            VPL5SFR53S - ACCOUNT TRANSFER NOT ALLOWED DUE TO PENDING CARD ACTION
            VPL5SFR54S - XFR/COPY TO ACCOUNT MUST NOT BE ON FILE FOR THIS ORG
            VPL5SFR55S - XFR TO ACCT NBR ALREADY ASSIGNED TO AN EMBOSSER FOR ORG
            VPL5SFR56S - XFR TO ACCT NBR ALREADY ASSIGNED TO A RELATION FOR ORG
            VPL5SFR57S - XFR/COPY TO ACCOUNT MUST NOT BE ON FILE FOR DUAL ORG
            VPL5SFR58S - XFR TO ACCT NBR ALREADY ASSIGNED TO AN EMBOSSER DUALORG
            VPL5SFR59S - XFR TO ACCT NBR ALREADY ASSIGNED TO A RELATION DUALORG
            VPL5SFR60S - CUSTOMER RECORD NOT ON FILE IN THIS ORG
            VPL5SFR61S - CUSTOMER RECORD MUST BE ACTIVE IN THIS ORIG
            VPL5SFR62S - CUSTOMER RECORD NOT ON FILE IN THE DUAL ORG
            VPL5SFR63S - CUSTOMER RECORD MUST BE ACTIVE IN THE DUAL ORG
            VPL5SFR64S - ORGANIZATION NOT DETERMINED
            VPL5SFR65S - DETERMINED ORGANIZATION NOT EQUAL TRANSFER/COPY FROM ORG
            VPL5SFR66S - DETERMINED LOGO NOT EQUAL XFR/COPY FROM LOGO BILLING ACCT
            VPL5SFR67S - XFR TO LOGO DOES NOT ALLOW SMART CARD - ACCT NOT XFRED
            VPL5SFR68S - NEW LOGO IS NOT PRESENT OR ADD PENDING STATUS
            VPL5SFR69S - TRANSFER/COPY TO AN OPEN ITEM LOGO NOT ALLOWED
            VPL5SFR70S - TRANSFER/COPY TO A NON-OPEN ITEM LOGO NOT ALLOWED
            VPL5SFR71S - TRANSFER/COPY TO A RETAIL LOGO NOT ALLOWED
            VPL5SFR72S - TRANSFER/COPY TO A BANKCARD LOGO NOT ALLOWED
            VPL5SFR73S - TRANSFER/COPY TO A DEBIT CARD LOGO NOT ALLOWED
            VPL5SFR74S - TRANSFER/COPY TO A REGULAR BANKCARD LOGO NOT ALLOWED
            VPL5SFR75S - XFR/CPY FROM NON DUAL TO DUAL IS NOT ALLOWED
            VPL5SFR76S - XFR/CPY FROM DUAL TO NON DUAL IS NOT ALLOWED
            VPL5SFR77S - XFR/CPY FROM NON PREPAID TO PREPAID IS NOT ALLOWED
            VPL5SFR78S - XFR/CPY FROM PREPAID TO NON PREPAID IS NOT ALLOWED
            VPL5SFR79S - XFR/CPY FROM PERSONAL TO NON PERSOANL IS NOT ALLOWED
            VPL5SFR80S - XFR/CPY FROM NON PERSONAL TO PERSONAL IS NOT ALLOWED
            VPL5SFR81S - XFR/CPY FROM DISPOSABLE TO RELOADABLE IS NOT ALLOWED
            VPL5SFR82S - XFR/CPY FROM RELOADABLE TO DISPOSLABLE IS NOT ALLOWED
            VPL5SFR83S - XFR OF AN AUTO RELAOD ACTIVE TO INACTIVE IS INVALID
            VPL5SFR84S - XFR OF A BANK AUTH ACTIVE TO INACTIVE IS INVALID
            VPL5SFR85S - XFR/CPY TO A LOGO WITH DIFFERENT ASSOCIATIONS IS INVALID
            VPL5SFR86S - XFR/CPY FROM PURCHASING CARD TO NON PURCHASING IS INVALID
            VPL5SFR87S - XFR/CPY FROM NON PURCHASING TO PURCHASING CARD IS INVALID
            VPL5SFR88S - XFR/CPY FROM CORPOORPORATE TO CORPORATE IS INVALID
            VPL5SFR89S - XFR/CPY FROM NON CORPORATE TO CORPORATE IS INVALID
            VPL5SFR90S - XFR/CPY FROM NON CORPORATE TO CORPORATE IS INVALID
            VPL5SFR91S - NEW ACCT CREDIT LIMIT IS > LOGO CREDIT LIMIT CEILING
            VPL5SFR92S - NEW ACCT CREDIT LIMIT IS < LOGO FLOOR LIMIT
            VPL5SFR93S - ACCOUNT CREDIT LIMIT IS > LOGO CREDIT LIMIT
            VPL5SFR94S - ACCOUNT DREDIT LIMIT IS < LOGO FLOOR LIMIT
            VPL5SFR95S - TRANSFER/COPY TO A NON-ACH BILLING LOGO NOT ALLOWED
            VPL5SFR96S - XFR TO LOGO LOGO DOES NOT SUPPORT SDP REQUESTS
            VPL5SFR97S - PRODUCT GRADUATION TERMINATED , LOGO NOT ELIGIBLE
            VPL5SFR99S - COBRANDED FLAG ARE NOT SAME, TRANSFER/COPY NOT ALLOW
            VPL5SFR0AS - COMB INST PRODUCT CAN NOT BE LINKED TO SELECTED LOGO
            VPL5SFR0BS - LOGO DOES NOT ALLOW ACCOUNT NUMBER GENERATION
            VPL5SFR0CS - MAXIMUM NUMBER OF 20 ATTEMPTS MADE ON BASE NUMBER
            VPL5SFR0DS - GENERATED ACCOUNT NUMBER > BASE ENDING NUMBER
            VPL5SFR0ES - SEED TABLE ERROR-EMBOSSER TRANSFER INCOMPLETE-NBR XFERED
            VPL5SFR0FS - INVALID CUSTOMER NUMBER
            VPL5SFR0GS - EFFECTIVE DATE GREATER THAN NEXT PROCESSING DATE
            VPL5SFR0HS - TRANSFER/COPY TO LOGO INVALID
            VPL5SFR0IS - REVERSAL ACCOUNT NOT ON FILE
            VPL5SFR0JS - FREQUENT SHOPPER 1 INVALID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
[...]
