openapi: 3.0.1
info:
  description: "This documentation describes the REST APIs provided by the FirstVision\u2122\
    \ Cards Microservice, which provides functionality for the issuing, management\
    \ and processing of credit cards, including bank, co-branded, private label, debit,\
    \ commercial, and prepaid"
  title: "FirstVision\u2122 Customer Service - API Documentation"
  version: '1.2'
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /customer/reversal:
    put:
      tags:
      - Customers
      summary: 'Customer Reversal Update. VMX Service: M.CMS.CUST.REVERSAL.UPD, L8V1'
      description: "Customer Reversal Update. \nVMX Service: M.CMS.CUST.REVERSAL.UPD,\
        \ L8V1"
      operationId: Customer Reversal Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerReversalRequest'
        required: true
      responses:
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerReversalResponse'
        '404':
          description: Not Found
      x-proxy-name: Customer Reversal Update
      x-group-name: Customers
  /customer/:
    put:
      tags:
      - Customers
      summary: 'Updates the demographic and user data on the Customer record.


        VMX Service: M.CMS.CUSTOMER.UPD, R8V5'
      description: 'Updates the demographic and user data on the Customer record.


        VMX Service: M.CMS.CUSTOMER.UPD, R8V5'
      operationId: Customer Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
        required: true
      responses:
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '422':
          description: 'VPL5SGC01E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID
            VALUES ARE 001-998


            VPL5SGC01S - REQUESTED CARD/ACCOUNT NUMBER IS NOT FOUND


            VPL5SGC02E - CUSTOMER, ACCOUNT OR CARD NUMBER REQUIRED


            VPL5SGC02S - ORGANIZATION NUMBER NOT FOUND


            VPL5SGC03E - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE, 0
            OR 1


            VPL5SGC03S - ACCOUNT NUMBER NOT FOUND


            VPL5SGC04E - INVALID NUMBER TYPE INDICATOR - VALID VALUES ARE SPACE, 0
            OR 1


            VPL5SGC04S - CUSTOMER NUMBER NOT FOUND


            VPL5SGC05E - ORGANIZATION NUMBER REQUIRED WHEN NUMBER TYPE 1


            VPL5SGC06E - INVALID DEMOGRAPHIC DATA INDICATOR - VALID VALUES ARE SPACE,0,1,2


            VPL5SGC07E - INVALID USER DATA INDICATOR - VALID VALUES ARE SPACE, 0,
            1 OR 2


            VPL5SGC08E - DEMOGRAPHIC DATA AND USER DATA INDICATORS MUST BE CORRESPONDING


            VPL5SGC09E - STATUS MUST BE NUMERIC AND VALID VALUES ARE 0, 1 OR 2 ONLY


            VPL5SGC10E - VIP STATUS MUST BE NUMERIC AND VALID VALUES ARE 0 OR 1 ONLY


            VPL5SGC11E - SIC CODE MUST BE NUMERIC


            VPL5SGC12E - MARITAL STATUS MUST BE NUMERIC AND VALUES ARE 0 THRU 4


            VPL5SGC13E - NAME TYPE 1 IND MUST BE NUMERIC AND VALID VALUES ARE 0, 1
            OR 2


            VPL5SGC14E - NAME TYPE 2 IND MUST BE NUMERIC AND VALID VALUES ARE 0, 1
            OR 2


            VPL5SGC15E - NAME TYPE 3 IND MUST BE NUMERIC AND VALID VALUES ARE 0, 1
            OR 2


            VPL5SGC16E - POSTAL CODE MUST BE ALPHA, SPACE, DASH OR NUMBER


            VPL5SGC17E - RESIDENCE CODE MUST BE NUMERIC AND VALID VALUES ARE 0 THRU
            3


            VPL5SGC18E - CONTACT IND MUST BE NUMERIC


            VPL5SGC19E - CARRIER ROUTE LAST 2 CHARACTERS MUST BE NUMERIC


            VPL5SGC20E - SENT DATE MUST BE NUMERIC AND HAS VALUE ZERO OR VALID DATE
            FORMAT


            VPL5SGC21E - SENT DATE MUST BE <= THAN NEXT PROCESSING DATE OR ZERO


            VPL5SGC22E - STATEMENT MESSAGE INDICATOR MUST BE NUMERIC


            VPL5SGC23E - DATE OF BIRTH MUST BE ZERO OR HAVE VALID DATE FORMAT


            VPL5SGC24E - TAX IDENTIFICATION MUST BE NUMERIC AND VALID VALUES ARE 0,
            1 OR 2


            VPL5SGC25E - WHEN TAX ID = 0 FIRST 9 CHARACTERS TAX ID NUMBER MUST BE
            NUMERIC


            VPL5SGC26E - FILED DATE MUST BE ZERO OR HAVE VALID DATE FORMAT


            VPL5SGC27E - FILED DATE MUST BE <= THAN NEXT PROCESSING DATE OR ZERO


            VPL5SGC28E - FLAG MUST BE NUMERIC AND VALID VALUES ARE 0 OR 1


            VPL5SGC29E - NUMBER OF DEPENDANTS MUST BE NUMERIC


            VPL5SGC30E - USER 10 DATE MUST BE ZERO OR VALID DATE FORMAT


            VPL5SGC31E - USER 11 DATE MUST BE ZERO OR VALID DATE FORMAT


            VPL5SGC33E - CAN NOT CHANGE STATUS TO PURGE WITH ACTIVE RELATIONSHIP


            VPL5SGC34E - CAN NOT CHANGE STATUS TO PURGE WITH ACTIVE ACCOUNT


            VPL5SGC35E - COUNTRY CODE MUST EXIST IN THE SECURITY SUBSYSTEM


            VPL5SGC36E - HOME PHONE FLAG MUST BE NUMERIC AND VALID VALUES ARE 0 OR
            1


            VPL5SGC37E - FAX PHONE FLAG MUST BE NUMERIC AND VALID VALUES ARE 0 OR
            1


            VPL5SGC38E - MOBILE PHONE FLAG MUST BE NUMERIC AND VALID VALUES ARE 0
            OR 1


            VPL5SGC39E - EMAIL FLAG MUST BE NUMERIC AND VALID VALUES ARE 0 OR 1


            VPL5SGC40E - GENDER CODE MUST BE NUMERIC AND VALID VALUES ARE 0, 1 OR
            2


            VPL5SGC41E - SMS FLAG MUST BE NUMERIC AND VALID VALUES ARE 0 OR 1


            VPL5SGC42E - AMONG HOME,WORK,FAX,MOBILE AND EMAIL IND, ONE CAN HAVE VALUE
            2


            VPL5SGC44E - WHEN HOME PHONE FLAG IS 1 OR 2, ENTRY REQUIRED FOR HOME PHONE


            VPL5SGC45E - WHEN FAX PHONE FLAG IS 1 OR 2, ENTRY REQUIRED FOR FAX PHONE


            VPL5SGC46E - WHEN MOBILE PHONE FLAG IS 1 OR 2, ENTRY REQUIRED FOR MOBILE
            PHONE


            VPL5SGC47E - WHEN EMAIL FLAG IS 1 OR 2, ENTRY REQUIRED FOR EMAIL


            VPL5SGC53E - DATE OF BIRTH MUST BE LESS THAN NEXT PROCESSING DATE


            VPL5SGC54E - NAME-LINE-1 NOT MAINTAINABLE WHEN EXTENDED LOOKUP IS ACTIVE


            VPL5SGCZ4S - REQUESTED ORG NUMBER IS NOT FOUND


            VPL5SGCZ8S - FOREIGN ORGANIZATION NUMBER NOT FOUND'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerResponse'
        '404':
          description: Not Found
      x-proxy-name: Customer Update
      x-group-name: Customers
  /customer/relationship:
    post:
      tags:
      - Customers
      summary: "Add Customer relationship number.\n VMX Service: M.CMS.RELATIONSHIP.ADD,\
        \ R8V2"
      description: "Add Customer relationship number. \nVMX Service: M.CMS.RELATIONSHIP.ADD,\
        \ R8V2"
      operationId: Relationship Number Add
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRelationshipDetailsRequest'
        required: true
      responses:
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '422':
          description: 'VPL5SAR03S - CUSTOMER NUMBER IS INVALID

            VPL5SAR06S - ORGANIZATION NUMBER MUST BE PROVIDED

            VPL5SAR07S - REQUESTED ORG NUMBER IS NOT FOUND

            VPL5SAR09S - ORGANIZATION NUMBER NOT FOUND

            VPL5SAR10S - RELATIONSHIPS NOT ACTIVATED IN THIS ORGANIZATION

            VPL5SAR11S - CUSTOMER NUMBER MUST BE PROVIDED

            VPL5SAR12S - CREDIT LIMIT MUST BE PROVIDED

            VPL5SAR13S - BILLING MODIFY MUST BE 1 WHEN BILLING LEVEL IS 0 OR 1

            VPL5SAR14S - COMMERCIAL CARD FLAG MUST BE 0 (NOT A COMMERCIAL RELATIONSHIP)

            VPL5SAR15S - COMMERCIAL FLAG MUST BE "3" WHEN HCS IS ACTIVE

            VPL5SAR16S - COMMERCIAL FLAG CANNOT BE "3" IF HCS IS NOT ACTIVE

            VPL5SAR17S - CORPORATION CUSTOMER NUMBER IS REQUIRED

            VPL5SAR18S - CUSTOMER GROUP CODE IS REQUIRED

            VPL5SAR19S - CUSTOMER NUMBER NOT FOUND

            VPL5SAR20S - ACCOUNT CONTROL OVERRIDE IS INVALID

            VPL5SAR21S - BILLING CURRENCY NOT FOUND

            VPL5SAR22S - TRANSACTION CODE MUST POINT TO LOGIC MODULE 99

            VPL5SAR23S - REVERSAL TRANSACTION CODE MUST POINT TO LOGIC MODULE 99

            VPL5SAR24S - INVALID BILLING CYCLE

            VPL5SAR25S - MEMO PMT & REV TRANS CAN''T BE 0 WHEN BILL LVL IS 0 OR 2

            VPL5SAR26S - MEMO PMT TRANS & MEMO PMT REV TRANS CANNOT BE THE SAME

            VPL5SAR27S - THERE MUST BE A VALID ACCT CTRL TABLE WHEN BILLING LVL IS
            0 OR 2

            VPL5SAR28S - ACCOUNT CONTROL TABLE MUST BE ZERO WHEN BILLING LEVEL IS
            1

            VPL5SAR29S - SUBORDINATE CR LIMIT CAN''T BE GREATER THAN RELATIONSHIP
            CR LIMIT

            VPL5SAR30S - CORPORATE CUSTOMER NUMBER IS NOT FOUND

            VPL5SAR31S - INVALID AUTHORIZATION CIRTERIA TABLE NUMBER

            VPL5SAR34S - NUMBER GENERATION SERVICE FAILED

            VPL5SAR35S - MISMATCHED GENERATED FOREIGN ORG

            VPL5SAR36S - RELATIONSHIP NUMBER ALREADY EXISTS

            VPL5SAR37S - RELATIONSHIP NUMBER MUST NOT BE EQUAL TO EXISTING CUSTOMER

            VPL5SAR38S - RELATIONSHIP NUMBER MUST NOT BE EQUAL TO EXISTING ACCOUNT

            VPL5SAR39S - DUAL RELATIONSHIP ORG IS NOT FOUND

            VPL5SAR40S - DUAL RELATIONSHIP NUMBER ALREADY EXISTS

            VPL5SAR41S - DUAL RELATIONSHIP NUMBER MUST NOT BE EQUAL TO EXISTING CUSTOMER

            VPL5SAR42S - DUAL RELATIONSHIP NUMBER MUST NOT BE EQUAL TO EXISTING ACCOUNT

            VPL5SAR61S - VALUE 0 NOT ALLOWED FOR CRM ACTIVE NOT EQUAL 3

            VPL5SAR62S - VALUE 0 NOT ALLOWED FOR BILLING LEVEL NOT EQUAL 1

            VPL5SAR63S - STMT TYPE MUST BE 0 IF BILLING CYCLE (MODIFY) EQUAL TO 0

            VPL5SAR64S - ACCT CNTRL OVERRIDE MUST BE 0 FOR BILLING CYC(MODIFY) EQUAL
            TO 0

            VPL5SAR65S - MEMO BILL CURR MUST BE 0 FOR BILLING CYCLE (MODIFY) EQUAL
            TO 0

            VPL5SAR66S - MEMO PMT TRANS MUST BE 0 FOR BILLING CYCLE (MODIFY) EQUAL
            TO 0

            VPL5SAR67S - MEMO PMT REV TRANS MUST BE 0 FOR BILLING CYC (MODIFY) EQUAL
            TO 0

            VPL5SAR68S - BILLING LVL(MODIFY) MUST NOT BE 0 WHEN SUB ACCTS BILL DIFF
            TIMES

            VPL5SAR01E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE
            001-998

            VPL5SAR02E - INVALID RELATIONSHIP NUMBER

            VPL5SAR03E - CUSTOMER NUMBER MUST BE NUMERIC

            VPL5SAR04E - CREDIT LIMIT MUST BE NUMERIC AND GREATER THAN ZERO

            VPL5SAR05E - INVALID BLOCK CODE

            VPL5SAR06E - VALID MAIL CODE VALUES ARE "0" AND "1" ONLY

            VPL5SAR07E - VALID AMT/PCT FLAG VALUES ARE "0" AND "1" ONLY

            VPL5SAR08E - INVALID PERCENTAGE AMOUNT

            VPL5SAR09E - AVAILABLE RESERVE AMT/PCT MUST BE NUMERIC

            VPL5SAR10E - VALID STATEMENT TYPES ARE 0 AND 1

            VPL5SAR11E - CNSLDTD IS NOT ALLOWED| ACCT CTRL TABLE OVERRIDE CAN''T BE
            INPUT

            VPL5SAR12E - ACCOUNT CONTROL OVERRIDE MUST BE NUMERIC

            VPL5SAR13E - BILLING CURRENCY MUST BE NUMERIC

            VPL5SAR14E - CNSLDTD IS NOT ALLOWED| MEMO PAYMENT TXN NUMB CAN''T BE INPUT

            VPL5SAR15E - MEMO PAYMENT TRANSACTION CODE MUST BE NUMERIC

            VPL5SAR16E - CNSLDTD IS NOT ALLOWED| MEMO PMT REVERSAL TXN NUMB CAN''T
            BE INPUT

            VPL5SAR17E - MEMO PAYMENT REVERSAL TRANSACTION CODE MUST BE NUMERIC

            VPL5SAR18E - VALID MEMO BALANCE FLAG ARE 0 AND 1

            VPL5SAR19E - VALID BILLING CYCLE VALUES ARE 01 THRU 31

            VPL5SAR20E - BILLING CYCLE DAY IS REQUIRED

            VPL5SAR21E - CNSLDTD IS NOT ALLOWED| BILLING LVL CAN''T BE INPUT

            VPL5SAR22E - VALID BILLING LEVEL VALUES ARE 0 1 AND 2

            VPL5SAR23E - CNSLDTD IS NOT ALLOWED| BILLING LVL MODIFY CAN''T BE INPUT

            VPL5SAR24E - VALID BILLING LEVEL MODIFY VALUES ARE 0 AND 1

            VPL5SAR25E - VALID ANNUAL FEE VALUES ARE 0 1 AND 2

            VPL5SAR26E - VALID ANNUAL FEE MODIFY VALUES ARE 0 AND 1

            VPL5SAR27E - VALID LATE FEE VALUES ARE 0 1 AND 2

            VPL5SAR28E - VALID LATE FEE MODIFY VALUES ARE 0 AND 1

            VPL5SAR29E - VALID NSF FEE VALUES ARE 0 1 AND 2

            VPL5SAR30E - VALID NSF FEE MODIFY VALUES ARE 0 AND 1

            VPL5SAR31E - VALID CREDIT LIMIT DEFAULT MUST BE NUMERIC

            VPL5SAR32E - VALID CREDIT LIMIT DEFAULT MODIFY VALUES ARE 0 AND 1

            VPL5SAR33E - VALID VALUES FOR COMMERCIAL CARD ARE 0 THRU 3

            VPL5SAR34E - NOT A COMMERCIAL CARD RELATIONSHIP| CO CUST NUMB CAN''T BE
            INPUT

            VPL5SAR35E - NOT A COMMERCIAL CARD RELATIONSHIP|CUST GROUP CODE CAN''T
            BE INPUT

            VPL5SAR36E - NOT A COMMERCIAL CARD RELATIONSHIP| AUTH CRITERIA TAB CAN''T
            INPUT

            VPL5SAR37E - NOT A COMMERCIAL CARD RELATIONSHIP| COST CENTER NO CAN''T
            BE INPUT

            VPL5SAR38E - NOT A COMMERCIAL CARD RELATIONSHIP| FISCAL YR END CAN''T
            BE INPUT

            VPL5SAR39E - NOT A COMMERCIAL CARD RELATIONSHIP|CURR CONTRACT EXPD CAN''T
            INPUT

            VPL5SAR40E - NOT A COMMERCIAL CARD RELATIONSHIP| CO ID NUMB CAN''T BE
            INPUT

            VPL5SAR41E - NOT A COMMERCIAL CARD RELATIONSHIP| SOURCE CODE CAN''T BE
            INPUT

            VPL5SAR42E - NOT A COMMERCIAL CARD RELATIONSHIP| CONTACT NAME CAN''T BE
            INPUT

            VPL5SAR43E - NOT A COMMERCIAL CARD RELATIONSHIP| CONTACT PHONE CAN''T
            BE INPUT

            VPL5SAR44E - NOT A COMMERCIAL CARD RELATIONSHIP| OFFICERS NAME CAN''T
            BE INPUT

            VPL5SAR45E - NOT A COMMERCIAL CARD RELATIONSHIP| USER 1 IS NOT OPEN FOR
            INPUT

            VPL5SAR46E - NOT A COMMERCIAL CARD RELATIONSHIP| USER 2 IS NOT OPEN FOR
            INPUT

            VPL5SAR47E - NOT A COMMERCIAL CARD RELATIONSHIP| USER 3 IS NOT OPEN FOR
            INPUT

            VPL5SAR48E - NOT A COMMERCIAL CARD RELATIONSHIP| USER 4 IS NOT OPEN FOR
            INPUT

            VPL5SAR49E - NOT A COMMERCIAL CARD RELATIONSHIP| USER 5 IS NOT OPEN FOR
            INPUT

            VPL5SAR50E - NOT A COMMERCIAL CARD RELATIONSHIP| USER 6 IS NOT OPEN FOR
            INPUT

            VPL5SAR51E - CORPORATION CUSTOMER NUMBER MUST BE NUMERIC

            VPL5SAR52E - THE VALID VALUES FOR AUTH CRITERIA TAB NUMB ARE THRU AAA
            TO 999

            VPL5SAR53E - COST CENTER REPORTING NUMBER IS REQUIRED

            VPL5SAR54E - THE VALID VALUE OF FISCAL YEAR END IS THROUGH 01 TO 12

            VPL5SAR55E - FISCAL YEAR END IS REQUIRED

            VPL5SAR56E - NOT A COMMERCIAL ORG AND CURRENT CONTRACT EXPIRE DATE CAN''T
            INPUT

            VPL5SAR57E - CURRENT CONTRACT EXPIRE DATE MUST BE NUMERIC AND GREATER
            THAN 0

            VPL5SAR58E - INVALID DATE IN CURRENT CONTRACT EXPIRE DATE

            VPL5SAR59E - CURRENT CONTRACT EXPIRE DATE MUST BE GREATER THAN TODAY

            VPL5SAR60E - CORPORATE ID NUMBER MUST BE NUMERIC

            VPL5SAR61E - USER DATE 1 MUST BE NUMERIC

            VPL5SAR62E - USER DATE 1 - INVALID DATE

            VPL5SAR63E - USER DATE 2 MUST BE NUMERIC

            VPL5SAR64E - USER DATE 2 - INVALID DATE

            VPL5SAR65E - USER AMOUNT 1 MUST BE NUMERIC

            VPL5SAR66E - USER AMOUNT 2 MUST BE NUMERIC

            VPL5SAR67E - INVALID MODIFY IND, VALID VALUES ARE 0 OR 1'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerRelationshipDetailsResponse'
        '404':
          description: Not Found
      x-proxy-name: Relationship Number Add
      x-group-name: Customers
  /customer/l8v2:
    post:
      tags:
      - Customers
      summary: "Allows A Client To Add A Customer Name/Address Record. \n\nVMX Service:\
        \ M.CMS.CUSTOMER.ADD, L8V2"
      description: "Allows A Client To Add A Customer Name/Address Record. \n\nVMX\
        \ Service: M.CMS.CUSTOMER.ADD, L8V2"
      operationId: Customer Add
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomerRequestL8V2'
        required: true
      responses:
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: 'VPL5SNA01E - USER DATE 3 INVALID


            VPL5SNA02E - INCOME SHOULD BE NUMERIC


            VPL5SNA03E - INCOME REQUIRED


            VPL5SNA04E - CUIT SHOULD BE NUMERIC


            VPL5SNA05E - CUIT REQUIRED


            VPL5SNA06E - OCCUPATION CODE SHOULD BE NUMERIC


            VPL5SNA07E - OCCUPATION CODE REQUIRED


            VPL5SNA08E - IVA SHOULD BE NUMERIC


            VPL5SNA09E - IVA REQUIRED


            VPL5SNA24E - VALID VALUES 1 2 3 FOR STMT IND'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCustomerResponseL8V2'
        '404':
          description: Not Found
      x-proxy-name: Customer Add
      x-group-name: Customers
  /customer/generation:
    post:
      tags:
      - Customers
      summary: 'This service generates customer, relationship, account, and embosser
        numbers.


        VMX Service: M.CMS.NBRGENERATION.ACT, L8V1'
      description: 'This service generates customer, relationship, account, and embosser
        numbers.


        VMX Service: M.CMS.NBRGENERATION.ACT, L8V1'
      operationId: Customer and Account Number Generate
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CmsNumberGenerationRequest'
        required: true
      responses:
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '422':
          description: "VPL5SNG01S - SERVICE INPUT TO N/G SERVICE IS AN INCORRECT\
            \ LENGTH \n\nVPL5SNG04S - ONLY NUMERIC ACCOUNT NUMBERS ALLOWED FOR AUTO\
            \ GENERATION \n\nVPL5SNG05S - ORG NUMBER MUST BE NUMERIC BETWEEN 001-998\
            \ \n\nVPL5SNG06S - LOGO MUST BE NUMERIC BETWEEN 001-998 FOR NBR REQUESTED\
            \ \n\nVPL5SNG07S - AUTO GENERATION NOT ALLOWED IN THIS ORG \n\nVPL5SNG08S\
            \ - MAX ATTEMPTS REACHED FOR CUST/REL NUMBER AUTO GEN \n\nVPL5SNG09S -\
            \ NO NUMBERS AVAILABLE IN THIS ORG \n\nVPL5SNG10S - AUTO GENERATION NOT\
            \ ALLOWED IN THIS LOGO \n\nVPL5SNG11S - NO NUMBERS AVAILABLE IN THIS LOGO\
            \ \n\nVPL5SNG12S - LOGO DOES NOT ALLOW BILLING NBR GENERATE \n\nVPL5SNG14S\
            \ - BILLING/CNTL NBR REQUESTED BUT NOT ACTIVE ON SYSTEM REC \n\nVPL5SNG15S\
            \ - ORG DOES NOT USE DUAL CURRENCY \n\nVPL5SNG16S - SERVICE COULD NOT\
            \ OBTAIN STORAGE AREA \n\nVPL5SNG17S - ORGANIZATION NUMBER NOT FOUND \n\
            \nVPL5SNG18S - INVALID CHECK-DIGIT - POSSIBLE SEED TABLE ERROR \n\nVPL5SNG21E\
            \ - CUSTOMER NUMBER INDICATOR MUST BE NUMERIC AND 0-10 \n\nVPL5SNG22E\
            \ - RELATIONSHIP NUMBER INDICATOR MUST BE NUMERIC AND 0-10 \n\nVPL5SNG23E\
            \ - ACCOUNT NUMBER INDICATOR MUST BE NUMERIC AND 0-10 \n\nVPL5SNG24E -\
            \ BILLING ACCOUNT NUMBER INDICATOR MUST BE NUMERIC AND 0-10 \n\nVPL5SNG25E\
            \ - CNTL/DIV ACCT NUMBER INDICATOR MUST BE NUMERIC AND 0-10 \n\nVPL5SNG26E\
            \ - CARD NUMBER INDICATOR MUST BE NUMERIC AND 0-10 \n\nVPL5SNG27E - NO\
            \ FOREIGN ORG EXISTS FOR LOCAL ORG \n\nVPL5SNG28E - INVALID CHECK DIGIT\
            \ \n\nVPL5SNG29E - DUAL INDICATOR MUST BE 0 OR 1 \n\nVPL5SNG30S - MAX\
            \ ATTEMPTS REACHED FOR ACCT/CARD NUMBER AUTO GEN \n\nVPL5SNG31S - MAX\
            \ ATTEMPTS REACHED FOR BILL/CNTL NUMBER AUTO GEN \n\nVPL5SNG32S - LOGO\
            \ NUMBER NOT FOUND"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CmsNumberGenerationResponse'
        '404':
          description: Not Found
      x-proxy-name: Customer and Account Number Generate
      x-group-name: Customers
  /customer/demographicData-l8v2:
    post:
      tags:
      - Customers
      summary: 'RequestDemographicDataForACustomer.

        VMXService:M.CMS.DEMOGRAPHIC.INQ,L8V2'
      description: 'RequestDemographicDataForACustomer.

        VMXService:M.CMS.DEMOGRAPHIC.INQ,L8V2'
      operationId: Demographic Inquiry
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DemographicInquiryRequestL8V2'
        required: true
      responses:
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '422':
          description: 'VPL5SZL03S-MAXIMUM ALLOWED RECORDS REQUIRED IS 50 ONLY


            VPL5SZL04S-SERVICE TOKEN CANNOT BE LOW VALUES FOR PREV OR NEXT FUNCTION


            VPL5SZL05S-FUNCTION IS INVALID; CAN BE ONLY INITIAL,NEXT OR PREV


            VPL5SZL06S-PRIMARY SEARCH OPTION IS INVALID, VALID VALUES ARE 1 THRU 4
            ONLY


            VPL5SZL07S-FIELD ENTRY REQUIRED FOR PRIMARY SEARCH


            VPL5SZL11S-FIRST CHARACTER CANNOT BE ASTERISK


            VPL5SZL12S-INVALID NAME FORMAT, ENTER LAST NAME,FIRST NAME FORMAT


            VPL5SZL13S-MINIMUM NUMBER OF CHARS REQUIRED FOR ENTRY IS 2 FOR LAST NAME


            VPL5SZL14S-* CAN BE ONLY AT END BUT CANNOT BE IN BETWEEN FOR LAST NAME


            VPL5SZL15S-MINIMUM NUMBER OF CHARS REQUIRED FOR ENTRY IS 2 FOR FIRST NAME


            VPL5SZL16S-* CAN BE AT START OR END BUT CANNOT BE IN BETWEEN FOR FIRST
            NAME


            VPL5SZL19S-CANNOT DO AN ASTERISK SEARCH ON ID NUMBER


            VPL5SZL20S-MINIMUM NUMBER OF CHARS REQUIRED FOR ENTRY IS 6 FOR ID NUMBER


            VPL5SZL21S-ID UMBER CANNOT BE GREATER THAN 25 CHARS


            VPL5SZL24S-CANNOT DO AN ASTERISK SEARCH ON PHONE NUMBER


            VPL5SZL25S-MINIMUM NUMBER OF CHARS REQUIRED FOR ENTRY IS 6 FOR PHONE NBR


            VPL5SZL26S-PHONE NUMBER CANNOT BE GREATER THAN 20 CHARS


            VPL5SZL27S-CUSTOMER NUMBER CANNOT BE GREATER THAN 19 CHARS


            VPL5SZL29S-CANNOT DO AN ASTERISK SEARCH ON CUSTOMER NUMBER


            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemographicInquiryResponseL8V2'
        '404':
          description: Not Found
      x-proxy-name: Demographic Inquiry
      x-group-name: Customers
  /customer/activation:
    post:
      tags:
      - Customers
      summary: 'Allows A Client To Add A Customer Name/Address Record and Activate
        PAN token. VMX Service: M.CMS.CUST.ACTIVATE.ADD, L8V1'
      description: "Allows A Client To Add A Customer Name/Address Record and Activate\
        \ PAN token. \nVMX Service: M.CMS.CUST.ACTIVATE.ADD, L8V1"
      operationId: Customer with PAN Activation Add
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomerActivationRequest'
        required: true
      responses:
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCustomerActivationResponse'
        '404':
          description: Not Found
      x-proxy-name: Customer with PAN Activation Add
      x-group-name: Customers
  /customer/accountNumber:
    post:
      tags:
      - Customers
      summary: "Finds an Account number associated with a Customer number. \nVMX Service:\
        \ M.CMS.CUST.TO.ACCT.INQ, R8V3"
      description: "Finds an Account number associated with a Customer number. \n\
        VMX Service: M.CMS.CUST.TO.ACCT.INQ, R8V3"
      operationId: Account Number Inquiry
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerToAccountInquiryRequest'
        required: true
      responses:
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '422':
          description: "VPL5SCA01S - SERVICE COULD NOT OBTAIN STORAGE AREA \n\nVPL5SCA02S\
            \ - SERVICE INPUT TO PLAN VIEWER SERVICE IS AN INC OR RECT LENGTH \n\n\
            VPL5SCA03S - USER HAS NOT SIGNED ON, PLEASE SIGNON \n\nVPL5SCA04S - FILE-TABLE\
            \ USED BY THIS SERVICE IS NOT FOUND \n\nVPL5SCA05S - APPLICATION IN NO-PROCESSING\
            \ STATUS, RE-TRY IN A FEW MINUTES \n\nVPL5SCA06E - ORGANIZATION IS NOT\
            \ NUMERIC OR MUST BE VALUE BE VALUE BETWEEN 000 AND 998 \n\nVPL5SCA07E\
            \ - CUSTOMER NUMBER IS INVALID \n\nVPL5SCA08E - INVALID TOKEN DATA PASSED\
            \ TO SERVICE \n\nVPL5SCA09E - SERVICE FUNCTION CODE IS INVALID \n\nVPL5SCA10S\
            \ - REQUESTED ORGANIZATION COULD NOT BE DETERMINED \n\nVPL5SCA11S - REQUESTED\
            \ ORGANIZATION NOT FOUND \n\nVPL5SCA13S - APPLICATION IN NO-PROCESSING\
            \ STATUS, RE-TRY IN A FEW MINUTES \n\nVPL5SCA14S - ORGANIZATION NOT FOUND\
            \ ON FILE \n\nVPL5SCA15S - ACCOUNT NUMBER NOT FOUND \n\nVPL5SCA16S - LOGO\
            \ NOT FOUND ON FILE"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerToAccountInquiryResponse'
        '404':
          description: Not Found
      x-proxy-name: Account Number Inquiry
      x-group-name: Customers
  /customer/{customerNumber}/relationship:
    get:
      tags:
      - Customers
      summary: 'Obtains the Relationship number associated with the Customer number.

        VMX Service: M.CMS.REL.CUST.INQ, L8V1'
      description: 'Obtains the Relationship number associated with the Customer number.

        VMX Service: M.CMS.REL.CUST.INQ, L8V1'
      operationId: Relationship Number Inquiry
      parameters:
      - name: organizationNumber
        in: query
        description: '* Min Length: 1

          * Max Length: 3


          Organization number.


          VisionPLUS Service Data: AZXRCI-ORG'
        required: true
        schema:
          type: integer
          format: int32
        example: 998
      - name: customerNumber
        in: path
        description: 'CustomerNumber.


          VisionPLUS Service Data: AZXRCI-CUST-NBR'
        required: true
        schema:
          maxLength: 19
          minLength: 19
          type: string
        example: 000012345XXXXX12345
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      responses:
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '422':
          description: "VPL5SRC06E - ORG IS NOT NUMERIC \n\nVPL5SRC07E - CUST NBR\
            \ IS NOT NUMERIC OR NOT SPACES \n\nVPL5SRC13S - ORG INVALID \n\nVPL5SRC07E\
            \ - CUST NBR IS INVALID"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerRelationshipFindDetailsResponse'
        '404':
          description: Not Found
      x-proxy-name: Relationship Number Inquiry
      x-group-name: Customers
  /customer/{accountNumber}/current-prior-address:
    get:
      tags:
      - Customers
      summary: "Provides information from the Customer Name/Address file and the Prior\
        \ Mailing Address file. \n\nVMX Service: M.CMS.ADDRESS.INQ, R8V2"
      description: "Provides information from the Customer Name/Address file and the\
        \ Prior Mailing Address file. \n\nVMX Service: M.CMS.ADDRESS.INQ, R8V2"
      operationId: Current/Prior Address Inquiry
      parameters:
      - name: accountNumber
        in: path
        description: 'Account number, relationship number, or customer number. This
          service

          performs the appropriate searches via the navigational services to find
          a match on the

          Customer Name/Address record, Relationship record, or Account Base Segment
          record.


          VisionPLUS Service Data: ARXADI-ACCT-NBR'
        required: true
        schema:
          maxLength: 19
          minLength: 19
          type: string
        example: 0123456789123456789
      - name: organizationNumber
        in: query
        description: '* Min Length: 1

          * Max Length: 3


          Organization Number.


          VisionPLUS Service Data: ARXADI-ORG'
        required: true
        schema:
          type: integer
          format: int32
        example: 998
      - name: ownerCoOwnerFlag
        in: query
        description: "* Min Length: 1\n* Max Length: 1\n\nOwner/co-owner flag.\n\n\
          Values: \n* 0 = Both owner and co-owner;\n* 1 = Owner only(Default);\n*\
          \ 2 = Co-owner only.\n\nVisionPLUS Service Data: ARXADI-OWN-COOWN-FLAG"
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: currentPriorFlag
        in: query
        description: 'Current/prior flag.


          Values:


          * B = Both current and prior address information(Default);

          * C = Current address information only;

          * P = Prior address information only.


          VisionPLUS Service Data: ARXADI-CURR-PRIOR-FLAG'
        required: true
        schema:
          maxLength: 1
          minLength: 0
          type: string
        example: B
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      responses:
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '422':
          description: "VPL5SAD01S - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE\
            \ BETWEEN 000 AND 998 \n\nVPL5SAD02E - ACCOUNT NUMBER IS NOT NUMERIC OR\
            \ EQUAL SPACES \n\nVPL5SAD03E - INVALID OWNER CO-OWNER FLAG \n\nVPL5SAD04E\
            \ - INVALID CURR/PRIOR ADDRESS FLAG \n\nVPL5SAD05E - CO-OWNER INFO OF\
            \ PRIOR ADDRESS IS AN INVALID REQUEST \n\nVPL5SAD06E - ORGANIZATION NOT\
            \ DETERMINED \n\nVPL5SAD07S - REQUESTED ORG NUMBER IS NOT FOUND \n\nVPL5SAD10S\
            \ - CARD/ACCOUNT NUMBER IS NOT FOUND FOR ORG \n\nVPL5SAD11S - PRIOR MAILER\
            \ FLAG IS TURNED OFF \n\nVPL5SAD12S - ACCOUNT NOT FOUND ON FILE \n\nVPL5SAD13S\
            \ - RELATIONSHIP RECORD NOT ON FILE \n\nVPL5SAD14S - CUSTOMER RECORD NOT\
            \ ON FILE \n\nVPL5SAD15S - ACCOUNT NOT FOUND ON FILE \n\nVPL5SAD16E -\
            \ CO-OWNER INFO OF PRIOR ADDRESS IS AN INVALID REQUEST \n\nVPL5SAD17E\
            \ - NO PRIOR MAILER INFORMATION IS AVAILABLE \n\nVPL5SAD18E - NO VALID\
            \ ACCOUNTS FOUND FOR THE CUSTOMER \n\nVPL5SAD19S - ACCOUNT NOT FOUND ON\
            \ FILE"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentPriorAddressResponse'
        '404':
          description: Not Found
      x-proxy-name: Current/Prior Address Inquiry
      x-group-name: Customers
  /customer/v3/cards/details:
    get:
      tags:
      - Customers
      summary: "Get list of cards and details linked to a customer. \nVMX Service:\
        \ M.CMS.CUSTCHANNEL.INQ, L8V5"
      description: "Get list of cards and details linked to a customer. \nVMX Service:\
        \ M.CMS.CUSTCHANNEL.INQ, L8V5"
      operationId: Cards Details Inquiry
      parameters:
      - name: organizationNumber
        in: query
        description: '* Min Length: 1

          * Max Length: 3


          Identification number of the organization associated with this User (Sign
          on name).


          Observations:

          * Must be numeric and less than 999.


          * Org Number must be on file.


          * If Org is not provided a lookup will be performed using the Card/Account
          number provided.



          VisionPLUS Service Data: AZXCEI-ORG'
        required: true
        schema:
          type: string
        example: 998
      - name: customerNumber
        in: header
        description: 'Customer number that identifies the Customer Name/Address record
          which lists the mailing address of the cardholder.


          The customer number entered must identify an existing Customer Name/Address
          record previously added.


          If this field is blank, the name and mailing address in the Embosser record
          is used.


          VisionPLUS Service Data: AZXCEI-CUST-NBR-X'
        required: true
        schema:
          maxLength: 19
          minLength: 19
          type: string
        example: 01234XXXX567890XXXX
      - name: functionCode
        in: query
        description: '* Max Length: 1


          Service function code


          Scrolling feature


          Values:

          * Space = First 5 items (Default)

          * N = Next 5 items

          * P = Previous 5 items


          VisionPLUS Service Data: AZXCEI-SVC-FUNC-CODE'
        required: true
        schema:
          pattern: ^( |N|P)$
          type: string
        example: P
      - name: startOrganization
        in: query
        description: 'Starting account organization associated with the scroll


          Observations:

          * Must be numeric and less than 999.

          * Org Number must be on file.

          * If Org is not provided a lookup will be performed using the Card/Account
          number provided.


          VisionPLUS Service Data: AZXCEI-SVC-START-ACCT-ORG'
        required: false
        schema:
          maxLength: 3
          minLength: 1
          type: string
        example: 999
      - name: startAccount
        in: query
        description: 'Starting account number associated with the scroll


          VisionPLUS Service Data: AZXCEI-SVC-START-ACCT-NBR'
        required: false
        schema:
          maxLength: 19
          minLength: 0
          type: string
        example: 0000012345XXXXX1234
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      responses:
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '422':
          description: "VPL5SCE02S - SERVICE INPUT IS OF INCORRECT LENGTH \n\nVPL5SCE06S\
            \ - ORGANIZATION RECORD NOT FOUND \n\nVPL5SCE07S - ORGANIZATION RECORD\
            \ NOT FOUND \n\nVPL5SCE09E - INVALID SVC FUNC CODE \n\nVPL5SCE06E - ORGANIZATION\
            \ RECORD NOT FOUND \n\nVPL5SCE07E - NO VALID CARDS ARE ASSOCIATED WITH\
            \ THIS CUSTOMER \n\nVPL5SCE08E - START ORG & ACCT SHOULD BE PROVIDED WHEN\
            \ SVC FUNC CODE IS N OR P \n\nVPL5SCE10S - ORGANIZATION RECORD NOT FOUND\
            \ \n\nVPL5SCE15S - ACCOUNT NOT FOUND \n\nVPL5SCE17S - ACCOUNT NOT FOUND\
            \ IN ACCOUNT/CARD REFERENCE FILE"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCardsDetailsResponseV3'
        '404':
          description: Not Found
      x-proxy-name: Cards Details Inquiry
      x-group-name: Customers
  /customer/v1/cards:
    get:
      tags:
      - Customers
      summary: "List of Customer\u2019s Cards Based On The Customer Number.\n\nVMX\
        \ Service: M.CMS.CUST.NBR.INQ, L8V1"
      description: "List of Customer\u2019s Cards Based On The Customer Number.\n\n\
        VMX Service: M.CMS.CUST.NBR.INQ, L8V1"
      operationId: Cards Inquiry
      parameters:
      - name: organizationNumber
        in: header
        description: '* Min Length: 1

          * Max Length: 3


          Identification number of the organization associated with the account.


          VisionPLUS Service Data: AZXBQI-ORG'
        required: true
        schema:
          type: integer
          format: int32
        example: 998
      - name: customerNumber
        in: header
        description: '* Min Length: 19

          * Max Length: 19


          Customer number that identifies the customer record to which this account
          is assigned.


          A valid customer name and address must be on file for this account.


          The value must be filled with leading zeros so the length is equal to 19.


          VisionPLUS Service Data: AZXBQI-CUST-NBR'
        required: true
        schema:
          maxLength: 19
          minLength: 19
          type: string
        example: 000001234XXXXX56789
      - name: hasOtherCardHolder
        in: query
        description: 'Depending on the flag value, it will be decided if only Embosser
          Level Details need to be retrieved or both Embosser & Account level Details
          need to retrieve.


          Code that indicates whether the card is issued as a primary or secondary
          card.


          Values:

          * false = Service will retrieve card details only at Embosser Level Details
          for the given Customer Number.

          * true = Service will retrieve card details both Embosser & Account Level
          Details for the given Customer Number.


          VisionPLUS Service Data: AZXBQI-OTHR-CARD-HOLDER-FLAG'
        required: true
        schema:
          type: boolean
        example: true
      - name: pageNumber
        in: query
        description: "* Min Length: 1\n* Max Length: 2\n\nUsed to display the page\
          \ that will load the cards.\n\nIn-case Page Number is passed as \u20180\u2019\
          / \u20191\u2019, service will consider 1st Page.\n\nMaximum limit is up\
          \ to 5 cards per-page that can be displayed at a time in response.\n\nVisionPLUS\
          \ Service Data: AZXBQI-PAGE-NUM"
        required: true
        schema:
          type: integer
          format: int32
        example: 2
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      responses:
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '422':
          description: 'Unprocessable Entity


            VPL5SBQ02S - SERVICE INPUT IS OF INCORRECT LENGTH


            VPL5SBQ06E - ORGANIZATION RECORD NOT FOUND


            VPL5SBQ06S - ORGANIZATION RECORD NOT FOUND


            VPL5SBQ07S - ORGANIZATION RECORD NOT FOUND


            VPL5SBQ10S - ORGANIZATION RECORD NOT FOUND


            VPL5SBQ21S - CUSTOMER NUMBER CANNOT BE SPACE OR ZERO


            VPL5SBQ22S - OTHR-CARD-HOLDER-FLAG IS IN-VALID - VALID VALUES ARE Y /
            N


            VPL5SBQ23S - INVALID PAGE NUMBER. PAGE NUMBER SHOULD BE NUMERIC


            VPL5SBQ24S - INVALID CUSTOMER NUMBER


            VPL5SBQ25E - NO CARDS ARE PRESENT ON GIVEN PAGE NUMBER


            VPL5SBQ26S - LOGO RECORD NOT FOUND


            VPL5SBQ28E - NO VALID ACCOUNTS OR CARDS ARE ASSOCIATED WITH THIS CUSTOMER

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputArea'
        '404':
          description: Not Found
      x-proxy-name: Cards Inquiry
      x-group-name: Customers
components:
  schemas:
    CarrierRoute:
      type: object
      properties:
        carrierRoute1and2:
          type: string
          description: Carrier Route 1-2
          example: C1
        carrierRoute3and4:
          type: integer
          description: Carrier Route 3-4
          format: int32
          example: 11
    DriverLicense:
      type: object
      properties:
        driverLicenseNumber:
          type: string
          description: Driver's License Number
        driverLicenseState:
          type: string
          description: Driver's License State
        driverLicenseCountry:
          type: string
          description: Driver's License Country
    UpdateCustomerReversalRequest:
      required:
      - customerNumber
      - dummyCustomerNumber
      - globalQualification
      - organizationNumber
      - panToken
      - postalCode
      - sicCode
      - status
      - vipStatus
      type: object
      properties:
        organizationNumber:
          type: integer
          description: Organization Number.
          format: int32
          example: 998
        customerNumber:
          type: string
          description: Account, Card or Customer Number.
          example: 0000012345XXXXX6789
        dummyCustomerNumber:
          type: string
          description: Dummy Customer Number.
          example: 0000012345XXXXX6789
        panToken:
          maxLength: 19
          minLength: 19
          type: string
          description: "Unique identifier or token associated with the card number\
            \ or payment instrument (FirstVision PAN Token).\n Length: 19"
          example: 0000012345XXXXX6789
        globalQualification:
          type: string
          description: Global Qualification Parameter.
          example: A
        numberType:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Type Of Number In The ''idNumber'' Field.


            Values:

            * Space = Card number;

            * Low values = Card number;

            * 0 = Card number;

            * 1 = Customer number.


            If zero, space, or low values is specified, the primary customer

            record associated with the account will be updated with the

            information provided to the service. If an alternate customer

            record, a correspondence customer record, or a customer record

            associated with a card is needed, use the customer number.'
          example: '1'
        foreignUseIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Foreign Use Indicator.


            Values:

            * Low values = Local account;

            * Space = Local account;

            * 0 = Local account;

            * 1 = Foreign account.'
          example: '1'
        demographicDataIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Demographic Data Indicator.


            Values:

            * Low values = Do not update;

            * Space = Do not update;

            * 0 = Do not update;

            * 1 = Update owner;

            * 2 = Update co-owner.'
          example: '1'
        userDataIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: 'User Data Indicator.


            Values:

            * Low values = Do not update;

            * Space = Do not update;

            * 0 = Do not update;

            * 1 = Update owner;

            * 2 = Update co-owner.'
          example: '1'
        vipStatus:
          maximum: 1
          minimum: 0
          type: integer
          description: 'VIP Status Indicator.


            Values:

            * 0 = Not VIP customer;

            * 1 = VIP customer.'
          format: int32
          example: 1
        status:
          type: integer
          description: Status.
          format: int32
          example: 1
        sicCode:
          type: integer
          description: SIC Code.
          format: int32
          example: 123456
        title:
          type: string
          description: Title.
          example: Monsieur
        maritalStatus:
          type: integer
          description: Marital Status.
          format: int32
          example: 1
        nameLine1:
          type: string
          description: Name Line 1.
          example: Name Line 1 Example
        nameTypeIndicator1:
          type: integer
          description: 'Name Type Indicator 1.


            Values:

            0 = Personal name;

            1 = Business name;

            2 = Store name;

            3 = Generic name.'
          format: int32
          example: 1
        nameLine2:
          type: string
          description: Name Line 2.
          example: OWN NAME L2 TEST9
        nameTypeIndicator2:
          type: integer
          description: 'Name Type Indicator 2.


            Values:

            * 0 = Personal name;

            * 1 = Business name;

            * 2 = Store name;

            * 3 = Generic name.'
          format: int32
          example: 2
        nameLine3:
          type: string
          description: Name Line 3.
          example: OWN NAME L3
        nameTypeIndicator3:
          type: integer
          description: 'Name Type Indicator 3.


            Values:

            * 0 = Personal name;

            * 1 = Business name;

            * 2 = Store name;

            * 3 = Generic name.'
          format: int32
          example: 3
        houseNumber:
          type: string
          description: House Number.
          example: '12349'
        houseName:
          type: string
          description: House Name.
          example: LILY RESIDENCE
        houseAddress1:
          type: string
          description: House Address 1.
          example: OWN ADDR L19
        houseAddress2:
          type: string
          description: House Address 2.
          example: OWN ADDR L29
        houseAddress3:
          type: string
          description: House Address 3.
          example: OWN ADDR L39
        houseAddress4:
          type: string
          description: House Address 4.
          example: OWN ADDR L49
        city:
          type: string
          description: Residence City.
          example: SUNSHINE
        state:
          type: string
          description: Residence State.
          example: FL
        postalCode:
          type: string
          description: Residence Postal Code.
          example: '12345679'
        countryCode:
          type: string
          description: Country Code.
          example: USA
        ownOrRentResidenceFlag:
          type: integer
          description: Own/Rent residence flag.
          format: int32
          example: 2
        languageIndicator:
          type: string
          description: Spoken Language Indicator.
          example: ENG
        mailingList:
          type: string
          description: Code indicating whether the owner wants to be on a mailing
            list.
          example: '1'
        contactIndicator:
          type: integer
          description: Code Indicating Wheter Customer Contact Is Restricted or Not.
          format: int32
          example: 12
        genderCode:
          type: integer
          description: Gender Code.
          format: int32
          example: 1
        homePhoneNumber:
          type: string
          description: Home Phone Number.
          example: 123-456-9990
        homePhoneIndicator:
          type: integer
          description: 'Call indicator specifying whether you can contact the customer
            at this number.


            Values:

            * 0 = Customer may not be contacted using this number;

            * 1 = Customer may be contacted using this number(Default).'
          format: int32
          example: 1
        faxPhoneNumber:
          type: string
          description: FAX Phone Number.
          example: 223-456-7890
        faxPhoneIndicator:
          type: integer
          description: 'Call indicator specifying whether you can contact the customer
            at this number.


            Values:

            * 0 = Customer may not be contacted using this number;

            * 1 = Customer may be contacted using this number(Default).'
          format: int32
          example: 1
        mobilePhoneNumber:
          type: string
          description: Mobile Phone Number
          example: 323-456-7890
        mobilePhoneIndicator:
          type: integer
          description: 'Call indicator specifying whether you can contact the customer
            at this number.


            Values:

            * 0 = Customer may not be contacted using this number;

            * 1 = Customer may be contacted using this number(Default).'
          format: int32
          example: 1
        dateOfBirth:
          type: string
          description: Date Of Birth
          format: date
        driverLicense:
          $ref: '#/components/schemas/DriverLicense'
        taxIdType:
          type: integer
          description: TAX ID Type
          format: int32
          example: 1
        taxIdNumber:
          type: string
          description: TAX ID Number
          example: '123456789'
        dateFiledForm:
          type: string
          description: 'Date on which the tax identification number of the owner was

            recorded in the Customer Name/Address record as a result of

            receiving the W-9 form (in ISO 8601).'
          format: date
          example: 2022-05-20
        employerName:
          type: string
          description: Employer Name.
          example: Milton
        employerAddress1:
          type: string
          description: Employer Address 1.
          example: EMP ADDR L1
        employerAddress2:
          type: string
          description: Employer Address 2.
          example: EMP ADDR L2
        employerPhoneNumber:
          type: string
          description: Employer Phone Number.
          example: 123-456-7890
        employerExtensionPhoneNumber:
          type: string
          description: Employee Phone Extension.
          example: '123456'
        employerPhoneFlag:
          type: integer
          description: Employer Phone Flag.
          format: int32
          example: 1
        position:
          type: string
          description: Position.
          example: CEO
        relativeName:
          type: string
          description: Relative Name.
          example: Relative Name
        numberOfDependents:
          type: integer
          description: Number of Dependents.
          format: int32
          example: 999
        email:
          type: string
          description: Email.
          example: ABC.DEF@yahoo.com
        emailIndicator:
          type: integer
          description: 'Email Indicator.


            Values:

            * 0 = Do not e-mail;

            * 1 = May be e-mailed;

            * 2 = Prefers to be e-mailed.'
          format: int32
          example: 1
          enum:
          - null
        smsIndicator:
          type: integer
          description: 'Short message service(SMS) Indicator.


            Values:

            * 0 = No, do not send message;

            * 1 = Yes, you can send message.'
          format: int32
          example: 1
          enum:
          - null
        firstName:
          type: string
          description: First Name.
          example: FirstName
        middleName:
          type: string
          description: Middle Name.
          example: MiddleName
        lastName:
          type: string
          description: Last Name.
          example: LastName
        suffix:
          type: string
          description: Suffix.
          example: Sr
        county:
          type: string
          description: County.
          example: Orange
        memo1:
          type: string
          description: Memo 1.
          example: Memo 1
        memo2:
          type: string
          description: Memo 2.
          example: Memo 2
        user1:
          type: string
          description: User 1.
          example: U1
        user2:
          type: string
          description: User 2.
          example: U2
        user3:
          type: string
          description: User 3.
          example: U323323
        user4:
          type: string
          description: User 4.
          example: U
        user5:
          type: string
          description: User 5.
          example: U
        user6:
          type: string
          description: User 6.
          example: U6
        user7:
          type: string
          description: User 7.
          example: U7
        user8:
          type: string
          description: User 8.
          example: U8
        user9:
          type: string
          description: User 9.
          example: U9
        user10:
          type: integer
          description: User 10.
          format: int32
          example: 2011031
        user11:
          type: integer
          description: User 11.
          format: int32
          example: 2011032
        user12:
          type: string
          description: User 12.
          example: U12
        user13:
          type: string
          description: User 13.
          example: U13
        user14:
          type: string
          description: User 14.
          example: U14
        user15:
          type: string
          description: User 15.
          example: U15
        userDemographic1:
          type: string
          description: Owner's Demographic 1.
          example: USER DEMO 1
        userDemographic2:
          type: string
          description: Owner's Demographic 2.
          example: USER DEMO 2
        userDemographic3:
          type: string
          description: Owner's Demographic 3.
          example: USER DEMO 3
        foreignFormIndicator:
          type: string
          description: 1099C foreign indicator.
          example: A
        carrierRoute:
          $ref: '#/components/schemas/CarrierRoute'
        formDateSent:
          type: string
          description: C1099/W9 Date Sent.
          format: date
          example: 2022-05-20
        statementMessageIndicator:
          type: integer
          description: Statement Message Indicator.
          format: int32
          example: 1
      description: Update Customer Reversal Request
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    UpdateCustomerReversalResponse:
      type: object
      properties:
        outputArea:
          $ref: '#/components/schemas/UpdateCustomerReversalResponse.OutputArea'
    UpdateCustomerReversalResponse.OutputArea:
      type: object
      properties:
        organizationNumber:
          type: integer
          format: int32
        customerNumber:
          type: string
        numberType:
          type: string
        foreignUseIndicator:
          type: string
        demographicDataIndicator:
          type: string
        userDataIndicator:
          type: string
        cmsOrganizationNumber:
          type: integer
          format: int32
        accountNumber:
          type: string
        cardNumber:
          type: string
          description: Unique identifier or token associated with the card number
            or payment instrument (FirstVision PAN Token).
          example: 00012345ID5IXX12345
        numberCardsActivated:
          type: integer
          format: int32
    UpdateCustomerRequest:
      required:
      - customerNumber
      - organizationNumber
      - postalCode
      - sicCode
      - status
      - vipStatus
      type: object
      properties:
        organizationNumber:
          type: integer
          description: '* Max Length: 1

            * Max Length: 3


            Organization Number.


            VisionPLUS Service Data: ARXGCI-ORG'
          format: int32
          example: 998
        customerNumber:
          type: string
          description: 'Unique identifier or token associated with the card number
            or payment instrument (FirstVision PAN Token).


            VisionPLUS Service Data: ARXGCI-CARD-NBR'
          example: 000001234XXXXX56789
        numberType:
          type: string
          description: '* Max Length: 1


            Type of number in the ARXGCI-CARD-NBR field.


            Values:

            * Low values = Card number;

            * Space = Card number;

            * 0 = Card number;

            * 1 = Customer number;


            If zero, space, or low values is specified, the primary customer record
            associated with the account will be updated with the information provided
            to the service.


            If an alternate customer record, a correspondence customer record, or
            a customer record associated with a card is needed, use the customer number.


            VisionPLUS Service Data: ARXGCI-NBR-TYPE'
          example: '1'
        foreignUseIndicator:
          type: string
          description: '* Max Length: 1


            Foreign Use Indicator.


            Values:

            * Low values = Local account;

            * Space = Local account;

            * 0 = Local account;

            * 1 = Foreign account.


            VisionPLUS Service Data: ARXGCI-FOREIGN-USE-FLAG'
          example: '1'
        demographicDataIndicator:
          type: string
          description: '* Max Length: 1


            Demographic Data Indicator.


            Values:

            * Low values = Do not update;

            * Space = Do not update;

            * 0 = Do not update;

            * 1 = Update owner;

            * 2 = Update co-owner.


            VisionPLUS Service Data: ARXGCI-DEMOGRAPHIC-DATAIND'
          example: '1'
        userDataIndicator:
          type: string
          description: '* Max Length: 1


            User Data Indicator.


            Values:

            * Low values = Do not update;

            * Space = Do not update;

            * 0 = Do not update;

            * 1 = Update owner;

            * 2 = Update co-owner.


            VisionPLUS Service Data: ARXGCI-USER-DATA-IND'
          example: '1'
        vipStatus:
          type: integer
          description: '* Max Length: 1


            VIP Status Indicator.


            Values:

            * 0 = Not VIP customer;

            * 1 = VIP customer.


            VisionPLUS Service Data: ARXGCI-VIP-STATUS'
          format: int32
          example: 1
        status:
          type: integer
          description: '* Max Length: 1


            Status Of The Account.


            VisionPLUS Service Data: ARXGCI-STATUS'
          format: int32
          example: 1
        sicCode:
          type: integer
          description: '* Max Length: 6


            Standard Industrial Classification code used to identify the industry
            to which the commercial card customer is associated.


            VisionPLUS Service Data: ARXGCI-SIC-CODE'
          format: int32
          example: 123456
        title:
          type: string
          description: '* Max Length: 40


            Title.


            VisionPLUS Service Data: ARXGCI-TITLE'
          example: Monsieur
        maritalStatus:
          type: string
          description: '* Max Length: 1


            Marital Status.


            VisionPLUS Service Data: ARXGCI-MARITAL-STATUS'
          example: '1'
        nameLine1:
          type: string
          description: '* Max Length: 40


            Name Line 1.


            VisionPLUS Service Data: ARXGCI-NAME-LINE-1'
          example: OWN NAME L1
        nameTypeIndicator1:
          type: integer
          description: '* Max Length: 1


            Name Type Indicator 1. indicates the type of name.


            Values:

            * 0 = Personal name (Default);

            * 1 = Business name;

            * 2 = Store name;

            * 3 = Generic name.


            VisionPLUS Service Data: ARXGCI-NAME-LINE-1-TYP'
          format: int32
          example: 1
        nameLine2:
          type: string
          description: '* Max Length: 40


            Name Line 2.


            VisionPLUS Service Data: ARXGCI-NAME-LINE-2'
          example: OWN NAME L2 TEST9
        nameTypeIndicator2:
          type: integer
          description: '* Max Length: 1


            Name Type Indicator 2. indicates the type of name.


            Values:

            * 0 = Personal name (Default);

            * 1 = Business name;

            * 2 = Store name;

            * 3 = Generic name.


            VisionPLUS Service Data: ARXGCI-NAME-LINE-2-TYP'
          format: int32
          example: 1
        nameLine3:
          type: string
          description: '* Max Length: 40


            Name Line 3.


            VisionPLUS Service Data: ARXGCI-NAME-LINE-3'
          example: OWN NAME L3
        nameTypeIndicator3:
          type: integer
          description: '* Max Length: 1


            Name Type Indicator 3. indicates the type of name.


            Values:

            * 0 = Personal name (Default);

            * 1 = Business name;

            * 2 = Store name;

            * 3 = Generic name.


            VisionPLUS Service Data: ARXGCI-NAME-LINE-3-TYP'
          format: int32
          example: 1
        houseNumber:
          type: string
          description: '* Max Length: 20


            Internal number of the residence.


            VisionPLUS Service Data: ARXGCI-HOUSE-NBR'
          example: '12349'
        houseName:
          type: string
          description: '* Max Length: 40


            House name.


            VisionPLUS Service Data: ARXGCI-HOUSE-NAME'
          example: LILY RESIDENCE
        houseAddress1:
          type: string
          description: '* Max Length: 40


            House Address 1.


            VisionPLUS Service Data: ARXGCI-ADDR-1'
          example: OWN ADDR L19
        houseAddress2:
          type: string
          description: '* Max Length: 40


            House Address 2.


            VisionPLUS Service Data: ARXGCI-ADDR-2'
          example: OWN ADDR L19
        houseAddress3:
          type: string
          description: '* Max Length: 40


            House Address 3.


            VisionPLUS Service Data: ARXGCI-ADDR-3'
          example: OWN ADDR L19
        houseAddress4:
          type: string
          description: '* Max Length: 40


            House Address 4.


            VisionPLUS Service Data: ARXGCI-ADDR-4'
          example: OWN ADDR L19
        city:
          type: string
          description: '* Max Length: 30


            Residence City.


            VisionPLUS Service Data: ARXGCI-CITY'
          example: SUNSHINE
        state:
          type: string
          description: '* Max Length: 3


            Residence state. This is derived based on the state code.


            VisionPLUS:

            * Service Data: ARXGCI-STATE

            * Screen: ARQN

            * Page: 3

            * Field: STATE / PR'
          example: FL
        postalCode:
          type: string
          description: '* Max Length: 10


            Residence Postal Code.


            VisionPLUS Service Data: ARXGCI-PSTL-CD'
          example: '12345679'
        countryCode:
          type: string
          description: '* Max Length: 30


            Code that identifies the country in which this organization is located.


            VisionPLUS Service Data: ARXGCI-CNTRY-CD'
          example: USA
        ownOrRentResidenceFlag:
          type: integer
          description: '* Max Length: 1


            Code indicating whether the primary residence is owned or rented.


            VisionPLUS Service Data: ARXGCI-OWN-RENT-RESID-FLAG'
          format: int32
          example: 2
        languageIndicator:
          type: string
          description: '* Max Length: 3


            Spoken Language Indicator.


            VisionPLUS Service Data: ARXGCI-LANGUAGE-IND'
          example: ENG
        mailingList:
          type: string
          description: '* Max Length: 1


            Code indicating whether the owner wants to be on a mailing List.


            VisionPLUS Service Data: ARXGCI-MAILING-LIST'
          example: '1'
        contactIndicator:
          type: integer
          description: "* Max Length: 2\n\nCode Indicating Whether Customer Contact\
            \ Is Restricted or Not.\n\nValues:\n* 00 = No restriction (Default);\n\
            * 01 = Do not telephone;\n* 02 = Do not mail;\n* 03 = Do not mail or telephone;\n\
            * 04\u201309 = Reserved for future use;\n* 10\u201399 = User-defined by\
            \ client.\n\nVisionPLUS Service Data: ARXGCI-CONTACT-IND"
          format: int32
          example: 12
        genderCode:
          type: integer
          description: '* Max Length: 1


            Gender code.


            Values:

            * 0 = Unspecified (Default);

            * 1 = Male;

            * 2 = Female.


            VisionPLUS Service Data: ARXGCI-GENDER-CODE'
          format: int32
          example: 1
        homePhoneNumber:
          type: string
          description: "* Max Length: 20\n\nThree-part field that indicates the fax\
            \ number of the customer, whether you have the customer\u2019s permission\
            \ to contact the customer at this number, and the date on which the fax\
            \ number was last modified\n\nVisionPLUS Service Data: ARXGCI-HOME-PHONE"
          example: 123-456-9990
        homePhoneIndicator:
          type: integer
          description: '* Max Length: 1


            Call indicator specifying whether you can contact the customer at this
            number.


            Values:

            * 0 = Customer may not be contacted using this number;

            * 1 = Customer may be contacted using this number (Default).


            VisionPLUS Service Data: ARXGCI-HOME-PHONE-IND'
          format: int32
          example: 1
          enum:
          - null
        faxPhoneNumber:
          type: string
          description: '* Max Length: 20


            FAX Phone Number


            VisionPLUS Service Data: ARXGCI-FAX-PHONE'
          example: 223-456-7890
        faxPhoneIndicator:
          type: integer
          description: '* Max Length: 1


            Call indicator specifying whether you can contact the customer at this
            number.


            Values:

            * 0 = Customer may not be contacted using this number;

            * 1 = Customer may be contacted using this number (Default).


            VisionPLUS Service Data: ARXGCI-FAX-PHONE-IND'
          format: int32
          example: 1
        mobilePhoneNumber:
          type: string
          description: '* Max Length: 20


            Mobile Phone Number


            VisionPLUS Service Data: ARXGCI-MOBILE-PHONE'
          example: 323-456-7890
        mobilePhoneIndicator:
          type: integer
          description: '* Max Length: 1


            Call indicator specifying whether you can contact the customer at this
            number.


            Values:

            * 0 = Customer may not be contacted using this number;

            * 1 = Customer may be contacted using this number (Default).


            VisionPLUS Service Data: ARXGCI-MOBILE-PHONE-IND'
          format: int32
          example: 1
        dateOfBirth:
          type: string
          description: 'Date of birth of the customer (in ISO 8601).


            VisionPLUS Service Data: ARXGCI-DOB'
          format: date
          example: 1991-10-23
        driverLicense:
          $ref: '#/components/schemas/DriverLicense'
        taxIdType:
          type: integer
          description: '* Max Length: 1


            TAX ID Type


            VisionPLUS Service Data: ARXGCI-TAX-ID-TYP'
          format: int32
          example: 1
        taxIdNumber:
          type: string
          description: '* Max Length: 25


            TAX ID Number


            VisionPLUS Service Data: ARXGCI-TAX-ID'
          example: '123456789'
        dateFiledForm:
          type: string
          description: 'Date on which the tax identification number of the owner was
            recorded in the Customer Name/Address record as a result of receiving
            the W-9 form (in ISO 8601).


            VisionPLUS Service Data: ARXGCI-1099C-W9-DATE-FILE'
          format: date
          example: 2023-08-18
        employerName:
          type: string
          description: '* Max Length: 40


            Employer Name.


            VisionPLUS Service Data: ARXGCI-EMPLOYER'
          example: Milton
        employerAddress1:
          type: string
          description: '* Max Length: 40


            Two-part field that indicates the mailing address of the employer of the
            owner.


            VisionPLUS Service Data: ARXGCI-EMPLOYER-ADDR-1'
          example: EMP ADDR L1
        employerAddress2:
          type: string
          description: '* Max Length: 40


            Two-part field that indicates the mailing address of the employer of the
            owner.


            VisionPLUS Service Data: ARXGCI-EMPLOYER-ADDR-2'
          example: EMP ADDR L2
        employerPhoneNumber:
          type: string
          description: '* Max Length: 20


            Employer Phone Number


            VisionPLUS Service Data: ARXGCI-EMPLOYER-ADDR-1'
          example: 123-456-7890
        employerExtensionPhoneNumber:
          type: string
          description: '* Max Length: 6


            Employee Phone Extension.


            VisionPLUS Service Data: ARXGCI-EMP-PHONE-EXTN'
          example: '123456'
        employerPhoneFlag:
          type: integer
          description: '* Max Length: 1


            Employer Phone Flag.


            Values:

            * 0 = Do not fax;

            * 1 = May be faxed;

            * 2 = Prefers to be faxed.


            VisionPLUS Service Data: ARXGCI-EMP-PHONE-FLAG'
          format: int32
          example: 1
        position:
          type: string
          description: '* Max Length: 4


            User-defined code to indicate the position or job title of the owner.


            VisionPLUS Service Data: ARXGCI-POSITION'
          example: CEO
        relativeName:
          type: string
          description: '* Max Length: 40


            Relative Name


            VisionPLUS:

            * Service Data: ARXGCI-RELATIVE-NAME

            * Screen: ARQN

            * Page: 4

            * Field: RELATIVE NAME'
          example: Relative Name
        numberOfDependents:
          type: integer
          description: '* Max Length: 3


            Number of Dependents


            VisionPLUS Service Data: ARXGCI-NBR-OF-DEPENDENTS'
          format: int32
          example: 999
        email:
          type: string
          description: '* Max Length: 19


            Email of customer.


            VisionPLUS Service Data: ARXGCI-EMAIL'
          example: ABC.DEF@yahoo.com
        emailIndicator:
          type: integer
          description: '* Max Length: 1


            Values:

            * 0 = Do not e-mail;

            * 1 = May be e-mailed;

            * 2 = Prefers to be e-mailed.


            VisionPLUS Service Data: ARXGCI-EMAIL-IND'
          format: int32
          example: 1
        smsIndicator:
          type: integer
          description: '* Max Length: 1


            Short message service (sms) indicator.


            Values:

            * 0 = No, do not send message;

            * 1 = yes, you can send message.


            VisionPLUS:

            * Service Data: ARXGCI-SMS-IND

            * Screen: ARQN

            * Page: 3

            * Field: SMS IND'
          format: int32
          example: 1
        firstName:
          type: string
          description: '* Max Length: 40


            First name


            VisionPLUS Service Data: ARXGCI-FIRST-NAME'
          example: FirstName
        middleName:
          type: string
          description: '* Max Length: 40


            Middle name.


            VisionPLUS Service Data: ARXGCI-MIDDLE-NAME'
          example: MiddleName
        lastName:
          type: string
          description: '* Max Length: 40


            Last name.


            VisionPLUS Service Data: ARXGCI-LAST-NAME'
          example: LastName
        suffix:
          type: string
          description: '* Max Length: 20


            Suffix.

            VisionPLUS Service Data: ARXGCI-SUFFIX'
          example: Sr
        county:
          type: string
          description: '* Max Length: 30


            County portion of the mailing address of the owner.


            VisionPLUS Service Data: ARXGCI-COUNTY'
          example: Orange
        memo1:
          type: string
          description: '* Max Length: 60


            Memo 1


            VisionPLUS Service Data: ARXGCI-MEMO-2'
          example: Memo 1
        memo2:
          type: string
          description: '* Max Length: 60


            Memo 2


            VisionPLUS Service Data: ARXGCI-MEMO-2'
          example: Memo 2
        user1:
          type: string
          description: '* Max Length: 2


            User 1


            VisionPLUS Service Data: ARXGCI-MEMO-1'
          example: U1
        user2:
          type: string
          description: '* Max Length: 2


            User 2


            VisionPLUS Service Data: ARXGCI-MEMO-2'
          example: U2
        user3:
          type: string
          description: '* Max Length: 7


            User 3


            VisionPLUS Service Data: ARXGCI-MEMO-3'
          example: U323323
        user4:
          type: string
          description: '* Max Length: 1


            User 4


            VisionPLUS Service Data: ARXGCI-MEMO-4'
          example: U
        user5:
          type: string
          description: '* Max Length: 1


            User 5


            VisionPLUS Service Data: ARXGCI-MEMO-5'
          example: U
        user6:
          type: string
          description: '* Max Length: 2


            User 6


            VisionPLUS Service Data: ARXGCI-MEMO-6'
          example: U6
        user7:
          type: string
          description: '* Max Length: 2


            User 7


            VisionPLUS Service Data: ARXGCI-MEMO-7'
          example: U7
        user8:
          type: string
          description: '* Max Length: 2


            User 8


            VisionPLUS Service Data: ARXGCI-MEMO-8'
          example: U8
        user9:
          type: string
          description: '* Max Length: 2


            User 9


            VisionPLUS Service Data: ARXGCI-MEMO-9'
          example: U8
        user10:
          type: integer
          description: '* Max Length: 7


            User 10


            VisionPLUS Service Data: ARXGCI-MEMO-10'
          format: int32
          example: 2011031
        user11:
          type: integer
          description: '* Max Length: 7


            User 11


            VisionPLUS Service Data: ARXGCI-MEMO-11'
          format: int32
          example: 2011032
        user12:
          type: string
          description: '* Max Length: 30


            User 12


            VisionPLUS Service Data: ARXGCI-MEMO-12'
          example: U12
        user13:
          type: string
          description: '* Max Length: 30


            User 13


            VisionPLUS Service Data: ARXGCI-MEMO-13'
          example: U13
        user14:
          type: string
          description: '* Max Length: 20


            User 14


            VisionPLUS Service Data: ARXGCI-MEMO-14'
          example: U14
        user15:
          type: string
          description: '* Max Length: 20


            User 15.


            VisionPLUS Service Data: ARXGCI-MEMO-15'
          example: U15
        userDemographic1:
          type: string
          description: '* Max Length: 20


            Demographic 1. User-defined demographic data or other information for
            an owner.


            VisionPLUS Service Data: ARXGCI-USER-DEMO-1'
          example: USER DEMO 1
        userDemographic2:
          type: string
          description: '* Max Length: 20


            Demographic 2. User-defined demographic data or other information for
            an owner.


            VisionPLUS Service Data: ARXGCI-USER-DEMO-2'
          example: USER DEMO 2
        userDemographic3:
          type: string
          description: '* Max Length: 20


            Demographic 3. User-defined demographic data or other information for
            an owner.


            VisionPLUS Service Data: ARXGCI-USER-DEMO-3'
          example: USER DEMO 3
        foreignFormIndicator:
          type: string
          description: '* Max Length: 1


            1099C foreign indicator.


            Values:

            * Blank = Does not live in a foreign country (Default);

            * Any character = Lives in a foreign country. Format the address to the
            IRS standard.


            VisionPLUS Service Data: ARXGCI-1099C-FOREIGN-IND'
          example: A
        carrierRoute:
          $ref: '#/components/schemas/CarrierRoute'
        formDateSent:
          type: string
          description: 'C1099/W9 Date Sent (in ISO 8601)


            VisionPLUS Service Data: ARXGCI-1099C-W9-DATE-SENT'
          format: date
          example: 2023-01-19
        statementMessageIndicator:
          type: integer
          description: '* Max Length: 1


            Statement Message Indicator


            VisionPLUS:

            * Service Data: ARXGCI-STMT-MSG-INDIC

            * Screen: ARQN

            * Page: 4

            * Field: STATEMENT MESSAGE IND'
          format: int32
          example: 1
      description: Update Customer Request
    UpdateCustomerResponse:
      type: object
      properties:
        outputArea:
          $ref: '#/components/schemas/UpdateCustomerResponse.OutputArea'
    UpdateCustomerResponse.OutputArea:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: 'Length: 3


            Organization Number.


            VisionPLUS Service Data: ARXGCO-ORG'
          format: int32
          example: 998
        customerNumber:
          type: string
          description: 'Length: 19


            Unique identifier or token associated with the card number or payment
            instrument (FirstVision PAN Token).


            VisionPLUS Service Data: ARXGCO-CARD-NBR'
          example: 000001234XXXXX56789
        numberType:
          type: string
          description: "Length: 1\n\nType Of Number In The 'idNumber' Field.\n\nValues:\n\
            * Low values = Card number;\n* Space = Card number;\n* 0 = Card number;\n\
            * 1 = Customer number.\n \nIf zero, space, or low values is specified,\
            \ the primary customer record associated with the account will be updated\
            \ with the information provided to the service.\n\nIf an alternate customer\
            \ record, a correspondence customer record, or a customer record associated\
            \ with a card is needed, use the customer number.\n\nVisionPLUS Service\
            \ Data: ARXGCO-NBR-TYPE"
          example: '1'
        foreignUseIndicator:
          type: string
          description: 'Length: 1


            Foreign Use Indicator.


            Values:

            * Low values = Local account;

            * Space = Local account;

            * 0 = Local account;

            * 1 = Foreign account.


            VisionPLUS Service Data: ARXGCO-FOREIGN-USE-FLAG'
          example: '1'
        demographicDataIndicator:
          type: string
          description: 'Length: 1


            Demographic Data Indicator.

            Values:

            * Low values = Do not update;

            * Space = Do not update;

            * 0 = Do not update;

            * 1 = Update owner;

            * 2 = Update co-owner.


            VisionPLUS Service Data: ARXGCO-DEMOGRAPHIC-DATAIND'
          example: '1'
        userDataIndicator:
          type: string
          description: 'Length: 1


            User Data Indicator.


            Values:

            * Low values = Do not update;

            * Space = Do not update;

            * 0 = Do not update;

            * 1 = Update owner;

            * 2 = Update co-owner.


            VisionPLUS Service Data: ARXGCI-USER-DATA-IND'
          example: '1'
        cmsOrganizationNumber:
          type: integer
          description: 'Length: 3


            Organization Number.


            VisionPLUS Service Data: ARXGCO-ORG'
          format: int32
          example: 998
        accountNumber:
          type: string
          description: 'Length: 19


            Identification of the account number associated with the customer number
            (demographic data) that you want to modify or view.


            VisionPLUS Service Data: ARXGCO-ACCT-NBR'
          example: '1234567890123450000'
    CustomerRelationshipDetailsRequest:
      required:
      - billingCycle
      - creditLimit
      - customerNumber
      - modificationAccountLevelFlag
      - organizationNumber
      - relationshipBillingLevel
      type: object
      properties:
        organizationNumber:
          type: string
          description: "* Min Length: 1 \n* Max Length: 3 \n\nOrganization Number.\n\
            \nVisionPLUS Service Data: ARXARI-ORG"
          example: '999'
        relationshipNumber:
          type: string
          description: '* Max Length: 19


            Relationship Number.


            VisionPLUS Service Data: ARXARI-REL-NBR'
          example: 000001234XXXXX56789
        relationshipName:
          type: string
          description: '* Max Length: 26


            Relationship Name.


            VisionPLUS Service Data: ARXARI-REL-NAME'
          example: RELATIONSHIP ADD
        customerNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: 'Customer number.


            VisionPLUS Service Data: ARXARI-CUSTOMER-NBR'
          example: 000001234XXXXX56789
        creditLimit:
          type: integer
          description: '* Max Length: 17


            Credit limit for the relationship.


            VisionPLUS Service Data: ARXARI-CREDIT-LIMIT'
          format: int32
          example: 10000
        blockCode:
          type: string
          description: '* Max Length: 1


            Block code associated with the relationship.


            VisionPLUS Service Data: ARXARI-BLOCK-CODE'
        mailCode:
          type: integer
          description: '* Max Length: 1


            Address to use to send the card and PIN mailer when no address is entered
            on the Embosser record.


            Values:

            * 0 = Address assigned to the Customer Name Address record that is associated
            with the Account Base Segment record;

            * 1 = Address assigned to the Customer Name Address record that is associated
            with the Relationship record.


            VisionPLUS Service Data: ARXARI-MAIL-CODE'
          format: int32
          example: 1
        amountOrAPercentageFlag:
          type: integer
          description: '* Max Length: 1


            Flag that indicates whether the value entered in reserveAmountOrPercentage
            field is an amount or a percentage.


            Values:

            * 0 = Amount;

            * 1 = Percentage.


            VisionPLUS Service Data: ARXARI-RESV-AMT-PCT-FLAG'
          format: int32
          example: 1
        reserveAmountOrPercentage:
          type: integer
          description: '* Max Length: 17


            Reserve Amount Or Percentage.


            VisionPLUS Service Data: ARXARI-RESV-AMT-PCT'
          format: int32
          example: 1
        detailLevelStatements:
          type: integer
          description: '* Max Length: 1


            Detail level at which statements will be produced.


            Values:

            * 0 = Produce a relationship statement with summary subordinate account
            statements;

            * 1 = Produce a relationship statement with detailed subordinate account
            statements.


            VisionPLUS Service Data: ARXARI-STMT-TYPE'
          format: int32
          example: 1
        accountControlTableIdentification:
          type: integer
          description: '* Max Length: 3


            Account Control Table Identification.


            VisionPLUS Service Data: ARXARI-ACCT-CTL-TBL-OVERRD'
          format: int32
          example: 1
        billingCurrency:
          type: integer
          description: '* Max Length: 3


            Billing Currency.


            VisionPLUS Service Data: ARXARI-BILLING-CURRENCY'
          format: int32
          example: 1
        creditTransaction:
          type: integer
          description: '* Max Length: 4


            Code that identifies the credit transaction for the relationship payment.


            VisionPLUS Service Data: ARXARI-MEMO-PMT-TRANS-CR'
          format: int32
          example: 1
        debitTransactionIdentification:
          type: integer
          description: '* Max Length: 4


            Code that identifies the debit transaction for the relationship payment.


            VisionPLUS Service Data: ARXARI-MEMO-PMT-TRANS-DB'
          format: int32
          example: 1
        commercialCardFlag:
          type: integer
[...]
