openapi: 3.0.1
x-stoplight:
  id: dvuseoqrkp90j
info:
  title: Lifecycle
  version: '1.0'
  description: ''
servers:
  - url: 'https://int.api.firstdata.com/ftgw/v1/'
paths:
  /ftgw/v1/tokenLifecycle:
    post:
      tags:
      - Lifecycle
      x-proxy-name: Token LifeCycle
      x-child-product-name: Tokenization
      x-group-name: Lifecycle
      summary: Token Life Cycle
      operationId: tokenLifeCycle
      responses:
        '200':
          description: Success
        '400':
          $ref: '#/components/responses/genericResponse'
        '422':
          $ref: '#/components/responses/genericResponse'
        '500':
          $ref: '#/components/responses/genericResponse'
      description: "This method is used by the Issuer to update the status of a specific virtual card. Allows the issuer to activate, resume, suspend, or delete the token.\r\n"
      parameters:
        - schema:
            type: string
          in: header
          name: x-scheme
          description: 'Allowed values: AMEX - MDES - VTIS'
          required: true
        - schema:
            type: string
          in: header
          name: apikey
          description: 'Client-specific API Key issued during onboarding. '
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: HMAC authorization header
          required: true
        - schema:
            type: string
          in: header
          name: timestamp
          description: Request timestamp
          required: true
        - schema:
            type: string
          in: header
          name: x-request-id
          description: The unique identifier for the API request.
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tokenLifeCycleRequest'
  /ftgw/v1/token:
    post:
      tags:
      - Lifecycle
      x-proxy-name: Token Inquiry
      x-child-product-name: Tokenization
      x-group-name: Lifecycle
      summary: Token Inquiry
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: object
                    x-stoplight:
                      id: yrganrz0o0qka
                    properties:
                      referenceId:
                        type: string
                        x-stoplight:
                          id: 77y1ytgb24dla
                        description: The referenceId field represents the unique reference identifier for a token.
                      requestorId:
                        type: string
                        x-stoplight:
                          id: 28exoxe2ta8sh
                        description: The requestorId field represents the unique ID assigned to the initiator of the token request.
                      suffix:
                        type: string
                        x-stoplight:
                          id: innmsppyicdf2
                        description: The suffix field represents the last 4 digits of token in a 4 character string. (MDES Only.)
                      type:
                        type: string
                        x-stoplight:
                          id: 00kl1izdgmn0s
                        description: The type field represents the type of the token.
                      status:
                        type: string
                        x-stoplight:
                          id: 3x2qmk4mh6s43
                        description: The status field represents the actual status of the token.
                      expirationDate:
                        type: object
                        x-stoplight:
                          id: df4zx773xqkzp
                        properties:
                          month:
                            type: string
                            x-stoplight:
                              id: le88f8t0dtqnz
                            description: The month field represents month upon which the payment instrument is set to expire.
                          year:
                            type: string
                            x-stoplight:
                              id: a2s13vcl834n0
                            description: The year field represents year upon which the payment instrument is set to expire.
                      activationDateTime:
                        type: string
                        x-stoplight:
                          id: 765od2cghsgqi
                        description: The activatedDateTime field represents the date and time that the token was activated (in ISO 8601).
                      assurance:
                        type: string
                        x-stoplight:
                          id: tqygaxnmm12n1
                        description: "The assurance field indicates the level of Identification and Verification performed to validate the Cardholder and the Cardholder's account at the time the Token was issued.\r\n\r\nMDES Values: \r\n- 0 = Not authenticated; \r\n- non-zero = Authenticated.\r\n\r\nVTIS Values: \r\n- 00 = ID&V Not Performed;\r\n- 10 = Card Issuer Account Verification;\r\n- 11 = Card Issuer Interactive Cardholder Verification - 1 Factor;\r\n- 12 = Card Issuer Interactive Cardholder Verification - 2 Factor;\r\n- 13 = Card Issuer Risk Oriented Non-Interactive Cardholder Authentication;\r\n- 14 = Card Issuer Asserted Authentication.\r\n"
                  pan:
                    type: object
                    x-stoplight:
                      id: k094f8ghmw4pk
                    properties:
                      referenceId:
                        type: string
                        x-stoplight:
                          id: k8idqckkyin1u
                        description: The referenceId field represents the unique ID for the PAN.
                      suffix:
                        type: string
                        x-stoplight:
                          id: a5093p4rnunxn
                        description: The suffix field shows the last four digits of the current PAN.
                      source:
                        type: string
                        x-stoplight:
                          id: gl0z0xtnd4zur
                        description: The source field indicates the source of the account information.
                      expirationDate:
                        type: object
                        x-stoplight:
                          id: yvxqaaj57ypa5
                        properties:
                          month:
                            type: string
                            x-stoplight:
                              id: 0o4uigw99alfx
                            description: The month field represents month upon which the payment instrument is set to expire.
                          year:
                            type: string
                            x-stoplight:
                              id: rarc83rdcqgnc
                            description: The year field represents year upon which the payment instrument is set to expire.
                  deviceBinding:
                    type: array
                    x-stoplight:
                      id: otqm4r8vg0ic7
                    description: (VTIS Only).
                    items:
                      x-stoplight:
                        id: r8gd9zd7ygz9e
                      type: object
                      properties:
                        id:
                          type: string
                          x-stoplight:
                            id: nfp9nia43zgmd
                          description: "The id field represents the index number from Visa where the deviceID is stored.\r\n"
                        index:
                          type: string
                          x-stoplight:
                            id: anfjkvk3flxbd
                          description: "The index field, for Secure Element (SE) wallet providers, is the SE ID in hex binary characters transformed to a 48-character string.\r\n\r\nFor Host Card Emulation (HCE) wallet providers, this field is the Device ID as determined by the digital wallet provider (DWP)."
                  device:
                    type: object
                    x-stoplight:
                      id: es4fei8y3sh55
                    properties:
                      id:
                        type: string
                        x-stoplight:
                          id: bs1thlujs6ryg
                        description: The id field represents the serial number of the device provisioned with the token.
                      name:
                        type: string
                        x-stoplight:
                          id: j2a8evraooitj
                        description: The name field represents the nickname of the device provisioned with the token.
                      type:
                        type: string
                        x-stoplight:
                          id: x5lvmvf1kdd7o
                        description: The type field represents the Device type.
                  walletAccountId:
                    type: string
                    x-stoplight:
                      id: pahutxxkuxesg
                    description: The source field represents the consumer ID identifying the wallet account-holder entity.
        '400':
          $ref: '#/components/responses/genericResponse'
        '422':
          $ref: '#/components/responses/genericResponse'
        '500':
          $ref: '#/components/responses/genericResponse'
      operationId: token-inquiry
      x-stoplight:
        id: 6lz939vumh2hw
      description: This service enables the issuer to retrieve token details for a particular token
      parameters:
        - schema:
            type: string
          in: header
          name: x-scheme
          description: 'Allowed values: AMEX - MDES - VTIS'
          required: true
        - schema:
            type: string
          in: header
          name: apikey
          description: 'Client-specific API Key issued during onboarding. '
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: HMAC authorization header
          required: true
        - schema:
            type: string
          in: header
          name: timestamp
          description: Request timestamp
          required: true
        - schema:
            type: string
          in: header
          required: true
          name: x-request-id
          description: The unique identifier for the API request.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: object
                  x-stoplight:
                    id: g4b4y91u1xw85
                  required:
                    - referenceId
                  properties:
                    referenceId:
                      type: string
                      x-stoplight:
                        id: 50onsf6n37xzu
                      description: The referenceId field represents the unique reference identifier for a token.
                      minLength: 1
                      maxLength: 48
                      example: UETSUC0000000su528sr8y69d9ca4eb1a4d53e3c90a11d9c
                    requestorId:
                      type: string
                      x-stoplight:
                        id: 26c5knemxb1xf
                      description: The requestorId field represents the unique ID assigned to the initiator of the token request.
                      minLength: 0
                      maxLength: 11
                audit:
                  type: object
                  x-stoplight:
                    id: hbyy432cobvsh
                  description: (MDES Only).
                  properties:
                    userId:
                      type: string
                      x-stoplight:
                        id: 0f8u9sr2lsdwg
                      description: The userId field represents the User ID of the Customer Service Representative who triggered the API request.
                      minLength: 0
                      maxLength: 50
                    username:
                      type: string
                      x-stoplight:
                        id: vld12bstn0ejh
                      description: The username field represents the user name of the Customer Service Representative who triggered the API request.
                      minLength: 0
                      maxLength: 200
                    organization:
                      type: string
                      x-stoplight:
                        id: c57pw01cbgyrb
                      minLength: 0
                      maxLength: 200
                      description: The organization field represents the name of the Issuer or Processor to which the Customer Service Representative who triggered the API request belongs.
    parameters: []
  /ftgw/v1/panLifecycle:
    post:
      tags:
      - Lifecycle
      x-proxy-name: Pan Lifecycle
      x-child-product-name: Tokenization
      x-group-name: Lifecycle
      summary: Pan Lifecycle
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/genericResponse'
        '422':
          $ref: '#/components/responses/genericResponse'
        '500':
          $ref: '#/components/responses/genericResponse'
      operationId: panLifecycle
      x-stoplight:
        id: bli3gyolmgp8e
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/panLifeCycleRequest'
      parameters:
        - schema:
            type: string
          in: header
          description: HMAC authorization header
          name: Authorization
        - schema:
            type: string
          in: header
          description: Request timestamp
          name: Timestamp
        - schema:
            type: string
          in: header
          description: Client-specific API Key issued during onboarding.
          name: apikey
        - schema:
            type: string
          in: header
          description: The unique identifier for the API request.
          name: x-request-id
      description: This service enables the issuer to update PAN and PAN expiration date.
    parameters: []
  /ftgw/v1/pan/retrieveTokens:
    post:
      tags:
      - Lifecycle
      x-proxy-name: Tokens Inquiry By PAN
      x-child-product-name: Tokenization
      x-group-name: Lifecycle
      summary: Tokens Inquiry By PAN
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokenInformation:
                    type: array
                    x-stoplight:
                      id: rbcvk2wh12cbz
                    items:
                      x-stoplight:
                        id: f3j4a604350qb
                      type: object
                      properties:
                        token:
                          type: object
                          x-stoplight:
                            id: aqtsawkg3e03k
                          properties:
                            requestorId:
                              type: string
                              x-stoplight:
                                id: zw8d2qusjm5w2
                              description: The referenceId field represents the unique reference identifier for a token.
                            referenceId:
                              type: string
                              x-stoplight:
                                id: nolzm4iocvpc1
                              description: The requestorId field represents the unique ID assigned to the initiator of the token request.
                            type:
                              type: string
                              x-stoplight:
                                id: nq2gf2jnanle9
                              description: The type field represents the type of the token.
                            status:
                              type: string
                              x-stoplight:
                                id: 1aqijwsy5mwp9
                              description: The status field represents the actual status of the token.
                        pan:
                          type: object
                          x-stoplight:
                            id: d9voi8xdy5qb9
                          properties:
                            referenceId:
                              type: string
                              x-stoplight:
                                id: goxa5nddvvcck
                              description: The referenceId field represents the unique ID for the PAN.
                            suffix:
                              type: string
                              x-stoplight:
                                id: 5eq6gtgidykto
                              description: The suffix field shows the last four digits of the current PAN.
                            source:
                              type: string
                              x-stoplight:
                                id: j2gnmetgw0gpo
                              description: The source field indicates the source of the account information.
                        walletAccountId:
                          type: string
                          x-stoplight:
                            id: hbppb4au98zbv
                          description: The source field represents the consumer ID identifying the wallet account-holder entity.
        '400':
          $ref: '#/components/responses/genericResponse'
        '422':
          $ref: '#/components/responses/genericResponse'
        '500':
          $ref: '#/components/responses/genericResponse'
      operationId: tokensInquiryByPan
      x-stoplight:
        id: 33ye1s5gobw5d
      description: This service enables the issuer to retrieve a list of all tokens for a PAN
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pan:
                  type: object
                  x-stoplight:
                    id: 5yuv7hht9z0lp
                  properties:
                    number:
                      type: string
                      x-stoplight:
                        id: q34nbzrbc2ty8
                      minLength: 0
                      maxLength: 19
                      description: 'The number field represents the primary account number. '
                      example: '5412345678901234'
                    reference:
                      type: string
                      x-stoplight:
                        id: 362j6jexyepe6
                      description: "The reference field represents the unique ID for the PAN. \r\n\r\n(VTIS Only. Either number or reference should be present, but not both or neither)."
                      minLength: 0
                      maxLength: 32
                      example: '5414852168531475291452345678901'
                excludeDeleted:
                  type: boolean
                  x-stoplight:
                    id: o5el52ceyuq3y
                  description: "The excludeDeleted field indicates whether deleted tokens should be included or excluded from the search results. \r\n\r\nValues:\r\n\r\n- true = indicates deleted tokens are excluded from the search results;\r\n- false = indicates deleted tokens are included in the search results.\r\n\r\n(MDES Only)."
                includeDeviceTokens:
                  type: boolean
                  x-stoplight:
                    id: nq0dgme536278
                  description: "Gives issuers the choice to receive only device tokens mapped to their payment credentials.\r\n\r\nValues:\r\n\r\n- true = When present with the \"true\" value, MDES will never return any server-based tokens associated to the payment credentials;\r\n- false = When present with the \"false\" value, MDES will return all tokens mapped to the payment credentials.\r\n\r\n(MDES Only)."
                audit:
                  type: object
                  x-stoplight:
                    id: t9y1ocfv2o8wa
                  description: (MDES only).
                  properties:
                    userId:
                      type: string
                      x-stoplight:
                        id: y8zdnc1pqww9u
                      description: The userId field represents the User ID of the Customer Service Representative who triggered the API request.
                      minLength: 0
                      maxLength: 50
                    username:
                      type: string
                      x-stoplight:
                        id: 2fdfi0clk5fc2
                      description: The username field represents the user name of the Customer Service Representative who triggered the API request.
                      minLength: 0
                      maxLength: 200
                    organization:
                      type: string
                      x-stoplight:
                        id: dl78yqxen5rqh
                      description: The organization field represents the name of the Issuer or Processor to which the Customer Service Representative who triggered the API request belongs.
                      minLength: 0
                      maxLength: 200
      parameters:
        - schema:
            type: string
          in: header
          name: x-scheme
          description: 'Allowed values: MDES - VTIS'
          required: true
        - schema:
            type: string
          in: header
          name: apikey
          description: Client-specific API Key issued during onboarding.
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: HMAC authorization header
          required: true
        - schema:
            type: string
          in: header
          name: timestamp
          description: Request timestamp
          required: true
        - schema:
            type: string
          in: header
          name: x-request-id
          description: The unique identifier for the API request.
          required: true
    parameters: []
  /ftgw/v1/card/metadata:
    put:
      tags:
      - Lifecycle
      x-proxy-name: Update Card Metadata
      x-child-product-name: Tokenization
      x-group-name: Lifecycle
      summary: Update Card Metadata
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  responseDetails:
                    type: array
                    x-stoplight:
                      id: t7if3uykzqm1v
                    items:
                      x-stoplight:
                        id: i4j3slk4ggc0s
                      type: object
                      properties:
                        token:
                          type: object
                          x-stoplight:
                            id: vyqc83tptdhh2
                          properties:
                            requestorId:
                              type: string
                              x-stoplight:
                                id: 7o2ia6ikjpjph
                              description: The requestorId field its the unique ID assigned to the initiator of the token request.
                            referenceId:
                              type: string
                              x-stoplight:
                                id: 7dxcky07cifrp
                              description: The referenceId its the unique ID for the token associated with the PAN.
                        panReferenceId:
                          type: string
                          x-stoplight:
                            id: gteaveh79ehmh
                          description: The panReferenceId field represents the unique ID for the PAN.
                        taskId:
                          type: string
                          x-stoplight:
                            id: cofbo0fsyzfb5
                          description: 'The taskId field represents the GUID, with hyphens allowed. The issuer needs to store this for future references. This value is present when Action Code is PENDING'
                        statusCode:
                          x-stoplight:
                            id: d0swgmtqdxf69
                          enum:
                            - PENDING
                            - FAILURE
                            - NOT_ALLOWED
                          description: "The statusCode field indicates the action status codes.\r\n\r\nValues:\r\n\r\n- PENDING\r\n- FAILURE\r\n- NOT_ALLOWED"
                        errorCode:
                          type: string
                          x-stoplight:
                            id: ke5pqjokhtntk
                          description: "The errorCode field its present for business error codes VSEXXXXX and status code FAILURE.\r\n"
        '400':
          $ref: '#/components/responses/genericResponse'
        '422':
          $ref: '#/components/responses/genericResponse'
        '500':
          $ref: '#/components/responses/genericResponse'
      operationId: put-card-metadata
      x-stoplight:
        id: uh1fvvwrd8r12
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: HMAC authorization header
          required: true
        - schema:
            type: string
          in: header
          required: true
          name: apikey
          description: Client-specific API key issued during onboarding by Fiserv
        - schema:
            type: string
          in: header
          required: true
          name: timestamp
          description: Request timestamp
        - schema:
            type: string
          in: header
          required: true
          name: x-request-id
          description: The unique identifier for the API request
        - schema:
            type: string
          in: header
          required: true
          name: x-scheme
          description: 'Allowed values: VTIS'
      description: VTIS Only.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - operationReason
              properties:
                token:
                  type: object
                  x-stoplight:
                    id: mofoq4v0wu923
                  description: "One of the following is required:\r\n\r\n- requestorId and referenceId\r\n- panReferenceID\r\n- encryptedData (pan)"
                  properties:
                    requestorId:
                      type: string
                      x-stoplight:
                        id: mua7jrzq0go6o
                      description: "The requestorId field its the unique ID assigned to the initiator of the token request.\r\n\r\nThe field is required when tokenReferenceID is specified."
                      minLength: 0
                      maxLength: 11
                    referenceId:
                      type: string
                      x-stoplight:
                        id: lscjrt0zqq867
                      description: "The referenceId its the unique ID for the token associated with the PAN.\r\n\r\nThe field is required when tokenRequestorID is specified."
                      minLength: 0
                      maxLength: 32
                panReferenceId:
                  type: string
                  x-stoplight:
                    id: 56r6c717f9rgs
                  description: "The panReferenceId field represents the unique ID for the PAN.\r\n\r\nOne of the following is required:\r\n\r\n- requestorId and referenceId\r\n- panReferenceID\r\n- encryptedData (pan)"
                  minLength: 0
                  maxLength: 32
                operatorId:
                  type: string
                  x-stoplight:
                    id: s1uwkbnzwm92u
                  description: "The operatorId field represents the operator ID of either person or system performing the operation.\r\n"
                  minLength: 0
                  maxLength: 16
                operationReason:
                  type: string
                  x-stoplight:
                    id: dghb3icq09r0x
                  description: The operationReason field populate the reason for card metadata change.
                  minLength: 0
                  maxLength: 128
                encryptedData:
                  type: object
                  x-stoplight:
                    id: 72xu0v0wuze4y
                  description: "One of the following is required:\r\n\r\n- requestorId and referenceId\r\n- panReferenceID\r\n- encryptedData (pan)"
                  properties:
                    pan:
                      type: string
                      x-stoplight:
                        id: 3kpz3kpbut8me
                      description: The pan field represents the primary account number.
                      minLength: 0
                      maxLength: 19
                cardMetadata:
                  type: object
                  x-stoplight:
                    id: fqiak30mtoq5i
                  properties:
                    issuer:
                      type: string
                      x-stoplight:
                        id: d6l3zg8gto356
                      description: "The issuer field represents the card issuer name.\r\n"
                      minLength: 0
                      maxLength: 128
                    color:
                      type: object
                      x-stoplight:
                        id: b719prik4i7hw
                      properties:
                        foreground:
                          type: string
                          x-stoplight:
                            id: aa5vio3tp9xte
                          description: The foreground field represents the foreground color of the Digital Wallet entry for the card.
                          minLength: 0
                          maxLength: 32
                          example: 'rgb(255,122,235)'
                        background:
                          type: string
                          x-stoplight:
                            id: ogu06buwglv8q
                          minLength: 0
                          maxLength: 32
                          example: 'rgb(255,122,235)'
                          description: 'The background field represents the background color of the Digital Wallet UI entry for the card. '
                        label:
                          type: string
                          x-stoplight:
                            id: h6rqpxu99hyhr
                          minLength: 0
                          maxLength: 32
                          example: 'rgb(255,122,235)'
                          description: 'The label field represents the label color of the Digital Wallet entry for the card. '
                    description:
                      type: object
                      x-stoplight:
                        id: xnybf7zrbcdzc
                      properties:
                        short:
                          type: string
                          x-stoplight:
                            id: o3xmf7udeleez
                          description: The short field represents a short description of the card.
                          minLength: 0
                          maxLength: 32
                          example: The Bank Card
                        long:
                          type: string
                          x-stoplight:
                            id: 62yhvgcjgp4wc
                          minLength: 0
                          maxLength: 64
                          example: The Bank Signature Rewards Card
                          description: The long field represents a longer description of the card.
                    termsAndConditions:
                      type: object
                      x-stoplight:
                        id: edz24z0wch7py
                      properties:
                        id:
                          type: string
                          x-stoplight:
                            id: gk8u8wh762isi
                          description: The id field represents the GUID-based file name for Terms and Conditions text.
                          minLength: 0
                          maxLength: 64
                        url:
                          type: string
                          x-stoplight:
                            id: ubp0sacmzdoiy
                          description: The url field indicates the URL pointing to the issuing bank’s terms and conditions fora card.
                          minLength: 0
                          maxLength: 128
                    profileId:
                      type: string
                      x-stoplight:
                        id: qd8kznxjksk1s
                      minLength: 0
                      maxLength: 32
                      description: The profileId field represents the profile ID associated with the card.
                    privacyPolicyUrl:
                      type: string
                      x-stoplight:
                        id: eo7hdx3xa59zu
                      description: 'The privacyPolicyUrl field indicates the URL pointing to the issuing bank’s terms and conditions for a card. '
                      minLength: 0
                      maxLength: 128
                    cardArtData:
                      type: object
                      x-stoplight:
                        id: mgxamah6c783g
                      properties:
                        referenceId:
                          type: array
                          x-stoplight:
                            id: ujn8khr8accyc
                          description: The referenceId field represents the GUID-based file names for Cart Art Image file used by the issuer while loading the image in VCMM.
                          items:
                            x-stoplight:
                              id: mfgwikkplrb2a
                            type: string
                            minLength: 0
                            maxLength: 32
                    contactInformation:
                      type: object
                      x-stoplight:
                        id: hnzfoi8devh2u
                      properties:
                        website:
                          type: string
                          x-stoplight:
                            id: 5gawyjk80wukn
                          description: The website field indicates the customer service website of the issuing bank.
                          minLength: 0
                          maxLength: 128
                        email:
                          type: string
                          x-stoplight:
                            id: kj7pw6jabz29u
                          description: The email field indicates the customer service email address of the issuing bank.
                          minLength: 0
                          maxLength: 32
                        number:
                          type: string
                          x-stoplight:
                            id: v13v4zgf9f51l
                          description: The number field indicates the customer service phone number of the issuing bank.
                          minLength: 0
                          maxLength: 32
                        name:
                          type: string
                          x-stoplight:
                            id: n6nwvj6q6ah5b
                          description: The name field indicates the name of the issuing bank. It may be used in combination with othertext strings.
                          minLength: 0
                          maxLength: 32
                    applicationInformation:
                      type: object
                      x-stoplight:
                        id: cddliedeqb1n1
                      properties:
                        isTokenNotificationSupported:
                          type: boolean
                          x-stoplight:
                            id: o48q9cpbbv074
                          description: "The isTokennotificationSupported field indicates whether the card supports token notifications for transactions originating on the device.\r\n\r\nValues:\r\n\r\n- true\r\n- false"
                          default: false
                        isFPANNotificationSupported:
                          type: boolean
                          x-stoplight:
                            id: ez2emn0zf1oez
                          description: "The isFPANNotificationsupported field indicates whether the card supports FPAN notifications for all transactions that point back to the FPAN. \r\n\r\nValues:\r\n\r\n- true\r\n- false"
                          default: false
                        transaction:
                          type: object
                          x-stoplight:
                            id: ykaevp7bv0bcn
                          properties:
                            serviceUrl:
                              type: string
                              x-stoplight:
                                id: uo0j0z4t4zcbb
                              description: 'The serviceUrl field represents the transaction history URL (Transaction Details) of the issuer’s web service. '
                              minLength: 0
                              maxLength: 128
                            pushTopic:
                              type: string
                              x-stoplight:
                                id: 6q727cu4iwaqf
                              description: The pushTopic field a push topic the issuer uses to notify the device that new transactions are available.
                              minLength: 0
                              maxLength: 128
                        message:
                          type: object
                          x-stoplight:
                            id: 6judxjebo7skl
                          properties:
                            serviceUrl:
                              type: string
                              x-stoplight:
                                id: 7a7ey1bnw2x4m
                              description: 'The serviceUrl field represents the URL of the message/offer web service that conforms to the API as described to PNOs and issuers in the Card Notification Services API Specification. '
                              minLength: 0
                              maxLength: 128
                            pushTopic:
                              type: string
                              x-stoplight:
                                id: ucfxsq3aij3za
                              description: The pushTopic field its the notification provider uses to notify the device that new messages are available.
                              minLength: 0
                              maxLength: 128
                        applicationLaunch:
                          type: object
                          x-stoplight:
                            id: nms4sao07qypl
                          properties:
                            url:
                              type: string
                              x-stoplight:
                                id: 5dssxlrt18hlg
                              description: "The url field indicates the URL passed to the associated issuer mobile app when launching it. \r\n\r\nIf this field is present, the associatedIdentifiers (store) field must also be present."
                              minLength: 0
                              maxLength: 128
                            urlScheme:
                              type: string
                              x-stoplight:
                                id: hq0ncgc9xjztw
                              description: "The urlScheme field indicates the URL scheme that the application is registered for, in order to deep link from transaction notifications and show all transaction notifications. \r\n\r\nThe Application ID must be included in the associatedIdentifiers (application) array and the application itself must register for the URL scheme specified in this key."
                              minLength: 0
                              maxLength: 32
                        associatedIdentifiers:
                          type: object
                          x-stoplight:
                            id: 70hvqnnvskuqz
                          properties:
                            store:
                              type: string
                              x-stoplight:
                                id: 00kfv6a12x8kn
                              description: The store field its a list of mobile application store item identifiers for associated issuer mobile banking application.
                              minLength: 0
                              maxLength: 20
                            application:
                              type: string
                              x-stoplight:
                                id: we88h8ma3vleg
                              description: The application field represents an array of associated app identifiers.
                              minLength: 0
                              maxLength: 128
    parameters: []
components:
  schemas:
    tokenLifeCycleRequest:
      title: tokenLifeCycleRequest
      x-stoplight:
        id: cpmbi486375az
      type: object
      properties:
        token:
          type: object
          x-stoplight:
            id: kaakvvugguqtk
          required:
            - referenceId
            - requestorId
          properties:
            referenceId:
              type: string
              x-stoplight:
                id: or2ycc85gqxtd
              example: UETSUC0000000su528sr8y69d9ca4eb1a4d53e3c90a11d9c
              minLength: 1
              maxLength: 64
              description: The referenceId field represents the unique reference identifier for a token.
            requestorId:
              type: string
              x-stoplight:
                id: qk7vqudg002kk
              example: FiservPortalTest
              minLength: 1
              maxLength: 64
              description: "The requestorId field represents the unique ID assigned to the initiator of the token request.\r\n\r\n(For VTIS numbers only)."
        operation:
          type: object
          x-stoplight:
            id: 9w4hd58714h5s
          required:
            - type
          properties:
            type:
              x-stoplight:
                id: gpwjdze3jujua
              description: "The type field represents the desired end state of the token specified by the tokenReferenceId field in the request.\r\n\r\nValues:\r\n\r\n- DELETE =  If the token should be permanently deleted. Similar to a suspended token, a deleted token cannot be used for transactions or /metadata endpoint calls. Unlike a suspended token, a deleted token cannot have its state changed;\r\n- SUSPEND = If the token should be in a suspended state. A suspended token cannot be used for transactions or /metadata endpoint calls;\r\n- RESUME = If the token should be in an active state. An active token can be used for transactions and /metadata endpoint calls;\r\n- CALL_CENTER_ACTIVATION = If the token its activated from callcenter (VTIS only);\r\n- UNBIND_DEVICE = If the token should be unbind from the device that has it binded (VTIS only);\r\n- APPROVE_DEVICE_BINDING = If the token binding should be approved. (VTIS only);\r\n- ACTIVATE = To activate a token for a digitization that has been approved and provisioned (MDES only)."
              enum:
                - DELETE
                - SUSPEND
                - RESUME
                - UNBIND_DEVICE
                - APPROVE_DEVICE_BINDING
                - ACTIVATE
                - CALL_CENTER_ACTIVATION
              example: ACTIVATE
            reason:
              x-stoplight:
                id: aqoufkvbtlxpe
              description: "The reason field represents the reason for the operation\r\n\r\nValues:\r\n\r\n- A = Cardholder successfully authenticated with an activation method (activation code by text message, email, Issuer mobile application etc...) prior to activation; (Activation only)\r\n- C = Cardholder successfully authenticated with a customer service agent prior to activation;  (Activation only)\r\n- L = Cardholder confirmed token device lost;\r\n- S = Cardholder confirmed token device stolen; \r\n- T = Issuer or cardholder confirmed fraudulent token transactions;\r\n- AC = Account closed;\r\n- D = Issuer consumer deleted;\r\n- Z = Other."
              enum:
                - A
                - C
                - L
                - S
                - T
                - D
                - Z
                - AC
              example: A
        device:
          type: object
          x-stoplight:
            id: td3i1z02yk8ay
          description: "Only valid for Device Binding operations.\r\n\r\n(VTIS Only)."
          properties:
            id:
              type: string
              x-stoplight:
                id: 5r9ld5ejcnvp4
              description: "The id field represents will be the Device ID as determined by the digital wallet provider.\r\n\r\n"
              minLength: 0
              maxLength: 48
            reference:
              type: string
              x-stoplight:
                id: tz5q3dbq6xkpm
              minLength: 0
              maxLength: 64
              description: 'The reference field indicates the index number from Visa where the deviceID is stored. '
        activationCode:
          type: string
          x-stoplight:
            id: g9cpo49tvjkx3
          minLength: 0
          maxLength: 8
          description: The activationCode field its equivalent of Auth Code. Required if operationType is CALL_CENTER_ACTIVATION. This parameter is merely used for audit purposes. There is no validation on Visa’s side and the value is not passed to DWP but saved into the audit log as proof that the activation request was approved by the issuer. (VTIS only)
          example: ACT
        audit:
          type: object
          x-stoplight:
            id: jkmshv0eqgw5o
          description: (MDES only)
          properties:
            userId:
              type: string
              x-stoplight:
                id: n7pfie1ohnyoa
              description: The userId  represents the User ID of the Customer Service Representative who triggered the API request.
              minLength: 0
              maxLength: 50
            username:
              type: string
              x-stoplight:
                id: q26f2zxicw7mr
              maxLength: 200
              minLength: 0
              description: The username field represents the user name of the Customer Service Representative who triggered the API request.
            organization:
              type: string
              x-stoplight:
                id: v0xcrq66nanyw
              description: The organization field represents the name of the Issuer or Processor to which the Customer Service Representative who triggered the API request belongs.
              minLength: 0
              maxLength: 200
    panLifeCycleRequest:
      title: panLifeCycleRequest
      x-stoplight:
        id: qbf4rx9zcs1ja
      type: object
      x-internal: false
      required:
        - operation
        - accountInformation
      properties:
        operation:
          type: object
          x-stoplight:
            id: jiu5ny9feo8l0
          required:
            - reason
            - reasonCode
            - type
          properties:
            reason:
              type: string
              example: Replacement due to lost card
              minLength: 1
              description: "Reason for the operation. The reason should be descriptive,\r\nsuch that if the issuer performs an action and the consumer calls\r\nCustomer Support, the support team should be able to read the\r\nreason, advise the consumer, and act accordingly. For example, if the\r\nPAN is replaced, the request reason might say “Replacement due to\r\nlost card”."
              x-stoplight:
                id: 7j3gq8s64jcgs
              maxLength: 254
            reasonCode:
              example: ACCOUNT_UPDATE
              description: "A reason code for the operation. If the reason code is\r\nACCOUNT_UPDATE or PORTFOLIO_CONVERSION (updating PAN only\r\nor PAN & Expiry date), the old PAN and replacement PAN cannot be\r\nthe same. If the reason code is EXP_DATE_UPDATE (expiry date\r\nupdate only), the old PAN and replacement PAN values must be the\r\nsame."
              x-stoplight:
                id: vj6v8afm0exye
              enum:
                - ACCOUNT_UPDATE
                - ACCOUNT_CLOSED
                - EXP_DATE_UPDATE
                - CONTACT_CARDHOLDER
                - PORTFOLIO_CONVERSION
            type:
              example: UPDATE
              description: "Type of operation. It is one of the following values:\r\n- UPDATE\r\n- DELETE"
              x-stoplight:
                id: yx650iesgf174
              enum:
                - UPDATE
                - DELETE
        accountInformation:
          $ref: '#/components/schemas/cardHolderInfo'
          x-stoplight:
            id: elmzjo4k80qy8
        audit:
          type: object
          x-stoplight:
            id: if13lpwo46lcw
          description: Only required for Mastercard.
          properties:
            userId:
              type: string
              x-stoplight:
                id: 73mvgkbjrppb5
              description: User ID (as assigned by the Issuer/Processor) of the Customer Service Representative who triggered the API request.
              example: A1435477
              minLength: 4
              maxLength: 50
            username:
              type: string
              x-stoplight:
                id: c7ucoa04hqy96
              description: User Name of the Customer Service Representative who triggered the API request.
              example: John Smith
              minLength: 4
              maxLength: 200
            organization:
              type: string
              x-stoplight:
                id: qkzi50abxktxk
              description: Name of the Issuer or Processor to which the Customer Service Representative who triggered the API request belongs.
              example: Solid Bank Inc
              minLength: 4
              maxLength: 200
    cardHolderInfo:
      title: cardHolderInfo
      x-stoplight:
        id: edwe55k30intf
      type: object
      required:
        - currentPan
        - newPan
      properties:
        currentPan:
          type: object
          x-stoplight:
            id: ikiyp22ilvgfg
          description: Current Primary account number (PAN)
          required:
            - accountNumber
            - expirationDate
          properties:
            accountNumber:
              type: string
              x-stoplight:
                id: 2vpenzq2fv48s
              maxLength: 19
              example: '172654826345827456'
            expirationDate:
              type: object
              x-stoplight:
                id: xlndict2tyahh
              description: The expiration date of the payment instrument.
              required:
                - month
                - year
              properties:
                month:
                  type: string
                  x-stoplight:
                    id: lncojmtex16dc
                  description: "The month upon which the payment instrument is set to\r\nexpire."
                  maxLength: 2
                  example: '02'
                year:
                  type: string
                  x-stoplight:
                    id: lov6nnm4mdh9y
                  description: "The year upon which the payment instrument is set to\r\nexpire."
                  maxLength: 4
                  minLength: 4
                  example: '2024'
        newPan:
          type: object
          x-stoplight:
            id: xi20xy2gilc2k
          required:
            - accountNumber
            - expirationDate
          properties:
            accountNumber:
              type: string
              x-stoplight:
                id: 9b78nwgog5of0
              example: '172654826345827457'
              maxLength: 19
            expirationDate:
              type: object
              x-stoplight:
                id: 8ayscubf2hk89
              description: The expiration date of the payment instrument.
              required:
                - month
                - year
              properties:
                month:
                  type: string
                  x-stoplight:
                    id: hk0s32w8j4lf5
                  description: "The month upon which the payment instrument is set to\r\nexpire."
                  example: '12'
                  maxLength: 2
                year:
                  type: string
                  x-stoplight:
                    id: 21fij0td178pm
                  description: "The year upon which the payment instrument is set to\r\nexpire."
                  example: '2028'
                  maxLength: 4
                  minLength: 4
  responses:
    genericResponse:
      description: ''
      content:
        application/json:
          schema:
            type: object
            x-examples:
              Example 1:
                responseCode: '001'
                responseDescription: Internal Server Error
            required:
              - responseCode
              - responseDescription
            properties:
              responseCode:
                type: string
                maxLength: 8
                description: Error response code
              responseDescription:
                type: string
                maxLength: 400
                description: Error response description
