openapi: 3.0.1
info:
  title: "FirstVision\u2122 Transaction Service - API Documentation"
  description: "This documentation describes the REST APIs provided by the FirstVision\u2122\
    \ Cards Microservice, which provides functionality for the issuing, management\
    \ and processing of credit cards, including bank, co-branded, private label, debit,\
    \ commercial, and prepaid"
  version: '1.2'
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /transactions/v1/installmentTransactions/{installmentTransaction-Id}/termsIdAnticipation/simulation:
    put:
      tags:
      - Transactions
      summary: "This service updates the installment contract and terms on Installments\
        \ Billing file, based on the individual installment-based anticipation. \n\
        \nVMX Service: M.CMS.INSTAL.TRXN.DETAIL.UPD, L8V1"
      description: "This service updates the installment contract and terms on Installments\
        \ Billing file, based on the individual installment-based anticipation. \n\
        \nVMX Service: M.CMS.INSTAL.TRXN.DETAIL.UPD, L8V1"
      operationId: Installment Detail Simulation - Individual Installment-based Anticipation
      parameters:
      - name: installmentTransaction-Id
        in: path
        description: "* Max Length: 3\n\nRecord number that is sequentially assigned\
          \ to each installment associated with the account.\n \nMust be numeric and\
          \ less than 999.\n\nVisionPLUS Service Data: AZXZ4I-REC-NBR"
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IndividualInstallmentAnticipationRequest"
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndividualInstallmentAnticipationResponse"
      x-proxy-name: Installment Detail Simulation - Individual Installment-based Anticipation
      x-group-name: Transactions
    patch:
      tags:
      - Transactions
      summary: "This service updates the installment contract and terms on Installments\
        \ Billing file, based on the number of installment terms to be anticipated.\
        \ \n\nVMX Service: M.CMS.INSTAL.TRXN.DETAIL.UPD, L8V1"
      description: "This service updates the installment contract and terms on Installments\
        \ Billing file, based on the number of installment terms to be anticipated.\
        \ \n\nVMX Service: M.CMS.INSTAL.TRXN.DETAIL.UPD, L8V1"
      operationId: Installment Detail Simulation - Anticipation Total Number of Installments
      parameters:
      - name: installmentTransaction-Id
        in: path
        description: |-
          * Max Length: 3

          Record number that is sequentially assigned to each installment associated with the account.

          Must be numeric and less than 999.

          VisionPLUS Service Data: AZXZ4I-REC-NBR
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: anticipationInstallmentNumber
        in: query
        description: "* Max Length: 3 \n\nAnticipation number of installment terms.\n\
          \nVisionPLUS Service Data: AZXZ4I-ANTCP-NBR-INST"
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstallmentBasedAnticipationRequest"
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstallmentBasedAnticipationResponse"
      x-proxy-name: Installment Detail Simulation - Anticipation Total Number of Installments
      x-group-name: Transactions
  /transactions/v1/installmentTransactions/{installmentTransaction-Id}/termsAnticipationNumber/simulation:
    put:
      tags:
      - Transactions
      summary: |-
        This service updates the installment contract and terms on Installments Billing file, based on the individual installments anticipation with no payment required.

        VMX Service: M.CMS.INSTAL.TRXN.DETAIL.UPD, L8V1
      description: |-
        This service updates the installment contract and terms on Installments Billing file, based on the individual installments anticipation with no payment required.

        VMX Service: M.CMS.INSTAL.TRXN.DETAIL.UPD, L8V1
      operationId: Installment Detail Simulation - Anticipation Amount with no payment
        required
      parameters:
      - name: installmentTransaction-Id
        in: path
        description: |-
          * Max Length: 3

          Record number that is sequentially assigned to each installment associated with the account.

           Must be numeric and less than 999.

          VisionPLUS Service Data: AZXZ4I-REC-NBR
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AmountAnticipationNoPaymentRequiredRequest"
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AmountAnticipationNoPaymentRequiredResponse"
      x-proxy-name: Installment Detail Simulation - Anticipation Amount with no payment
        required
      x-group-name: Transactions
  /transactions/v1/installmentTransactions/{installmentTransaction-Id}/terms/termsIdAnticipation/simulation:
    put:
      tags:
      - Transactions
      summary: "This service updates the installment terms on Installments Billing\
        \ file (AMIB). \n\nVMX Service: M.CMS.INSTAL.TERMS.UPD, L8V1"
      description: "This service updates the installment terms on Installments Billing\
        \ file. \n\nVMX Service: M.CMS.INSTAL.TERMS.UPD, L8V1"
      operationId: Installment Terms Update
      parameters:
      - name: installmentTransaction-Id
        in: path
        description: "Length: 3\n\nRecord number that is sequentially assigned to\
          \ each installment associated with the account.\n \n* Must be numeric and\
          \ less than 999. \nVisionPLUS Service Data: AZXZ6I-REC-NBR"
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: termsNumber
        in: query
        description: "Length: 2 \n\nNumber of terms to update (total of occurs to\
          \ update) \n\nVisionPLUS Service Data: AZXZ6I-NBR-TERMS-UPD"
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstallmentTermsUpdateRequest"
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstallmentTermsUpdateResponse"
      x-proxy-name: Installment Terms Update
      x-group-name: Transactions
  /transactions/v1/installmentTransactions/{installmentTransaction-Id}/anticipationAmount/simulation:
    put:
      tags:
      - Transactions
      summary: |-
        This service updates the installment contract and terms on Installments Billing file, based on the anticipation amount.

        VMX Service: M.CMS.INSTAL.TRXN.DETAIL.UPD, L8V1
      description: |-
        This service updates the installment contract and terms on Installments Billing file, based on the anticipation amount.

        VMX Service: M.CMS.INSTAL.TRXN.DETAIL.UPD, L8V1
      operationId: Installment Detail Simulation - Anticipation Amount
      parameters:
      - name: installmentTransaction-Id
        in: path
        description: |-
          * Max Length: 3

          Record number that is sequentially assigned to each installment associated with the account.
          * Must be numeric and less than 999.

          VisionPLUS Service Data: AZXZ4I-REC-NBR
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AmountBasedAnticipationRequest"
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AmountBasedAnticipationResponse"
      x-proxy-name: Installment Detail Simulation - Anticipation Amount
      x-group-name: Transactions
  /transactions/v1/installmentTransactions/simulation:
    put:
      tags:
      - Transactions
      summary: "This service simulates installments, with options to calculate interest\
        \ along with the option of IVA calculation on interest. \nVMX Service: M.CMS.INSTSIMULATE.ACT,\
        \ R8V4"
      operationId: Installment Simulator Service
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstallmentSimulatorRequest"
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstallmentSimulatorResponse"
      x-proxy-name: Installment Data Inquiry Service
      x-group-name: Transactions
  /transactions/quote-projections:
    put:
      tags:
      - Transactions
      summary: |-
        The Quote Projections Update service enables the user to update the project amount calculated for quote projections.

        VMX Service: M.CMS.QUOTE.PROJ.UPD, L8V1
      description: |-
        The Quote Projections Update service enables the user to update the project amount calculated for quote projections.

        VMX Service: M.CMS.QUOTE.PROJ.UPD, L8V1
      operationId: Quote Projections Update
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuoteProjectionUpdateRequest"
        required: true
      responses:
        "422":
          description: |-
            Unprocessable Entity

            VPL5SVV01S - ORGANIZATION IS NOT NUMERIC OR MUST BE BETWEEN 000 AND 999

            VPL5SVV02S - ORGANIZATION NOT FOUND ON FILE

            VPL5SVV03S - ACCOUNT NUMBER MUST BE PROVIDED

            VPL5SVV04S - ACCOUNT NOT FOUND ON AMBS FILE

            VPL5SVV05S - ACCOUNT NOT VALID FOR ORG

            VPL5SVV06S - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE,0 AND 1

            VPL5SVV07S - FOREIGN ORGANIZATION NOT ON FILE

            VPL5SVV08S - ACCEPT QUOTE MUST BE NUMERIC

            VPL5SVV09S - VALID VALUES ARE 0 OR 1 FOR ACCEPT QUOTE

            VPL5SVV10S - NEW QUOTE AMOUNT IS NOT SAME AS CALCULATED AMOUNT

            VPL5SVV11S - PAYOFF BY DATE MUST BE NUMERIC

            VPL5SVV12S - PAYOFF DATE IS INVALID

            VPL5SVV13S - PAYOFF DATE CAN NOT BE LESS THAN TODAYS DATE

            VPL5SVV14S - PAYOFF DATE CAN NOT EXCEED NEXT CYCLE DATE

            VPL5SVV15S - PAYOFF DATE CAN NOT BE ON A NON PROCESSING DAY

            VPL5SVV18S - FOREIGN ORGANIZATION NOT FOUND ON FILE

            VPL5SVV20S - ORG RECORD NOT FOUND

            VPL5SVV21S - BASE SEGMENT FILE READ ERROR

            VPL5SVV25S - PLAN-SEGMENT RECORD NOT FOUND

            VPL5SVV26S - PROCESS CONTROL TABLE INVAILD

            VPL5SVV27S - PCT/RIT/INT TABLE INVAILD

            VPL5SVV28S - NO PLANS FOR THIS ACCOUNT

            VPL5SVV30S - QUOTE NOT UPDATED AS PER RESPONSE
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteProjectionUpdateResponse"
      x-proxy-name: Quote Projections Update
      x-group-name: Transactions
  /transactions/promo-rate:
    put:
      tags:
      - Transactions
      summary: "The Promotional Rate Expiration Disclosure service supports maintenance\
        \ of promotional rate expiration disclosure fields. \n\nVMX Service: M.CMS.PROMORATE.UPD,\
        \ R8V1"
      description: "The Promotional Rate Expiration Disclosure service supports maintenance\
        \ of promotional rate expiration disclosure fields. \n\nVMX Service: M.CMS.PROMORATE.UPD,\
        \ R8V1"
      operationId: Promotional Rate Expiration Disclosure Update
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PromoRateUpdateRequest"
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "422":
          description: |-
            Unprocessable Entity

            VPL5SDS01E – ORG NOT FOUND IN AMCR

            VPL5SDS01E – ORG NOT FOUND IN AMCR.

            VPL5SDS02E – INVALID ORG,VALID VALUE 0 - 998

            VPL5SDS03E – INVALID ACCOUNT

            VPL5SDS04E – ORG-LOGO CAN NOT BE DETERMINED IN ARGETOL

            VPL5SDS05E – INVALID PROMO PLAN NUMBER

            VPL5SDS06E – PROMO PLAN NOT FOUND IN AMCP

            VPL5SDS07E – NOT A VALID CYCLE INDICATOR

            VPL5SDS08E – VALID CHANGE REQUESTS ARE - P,D,B

            VPL5SDS08S – AMBS RECORD NOT FOUND
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromoRateUpdateResponse"
      x-proxy-name: Promotional Rate Expiration Disclosure Update
      x-group-name: Transactions
  /transactions/installmentConversion:
    put:
      tags:
      - Transactions
      summary: |-
        Transaction conversion.

        VMX Service: M.CMS.INST.TRAN.CONV, R8V1
      description: |-
        Transaction conversion.

        VMX Service: M.CMS.INST.TRAN.CONV, R8V1
      operationId: transactionConversion
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionConversionRequest"
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "422":
          description: "Unprocessable Entity\n\nVPL5STIZ5S-INVALID ORG \n\nVPL5STIZ7S-INVALID\
            \ LOGO \n\nVPL5STI01S-ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES\
            \ ARE 001-998 \n\nVPL5STI02S-ORGANIZATION NOT FOUND ON FILE \n\nVPL5STI03S-ACCT\
            \ / CARD NOT FOUND ON FILE \n\nVPL5STI04S-TRANSACTION PLAN NOT FOUND \n\
            \nVPL5STI05S-PLAN NOT FOUND ON FILE \n\nVPL5STI06S-PLAN ENTERED IS NOT\
            \ INSTALLMENT PLAN TYPE \n\nVPL5STI07S-REQUESTED ACCT / CARD NUMBER IS\
            \ NOT NUMERIC OR EQUAL TO SPACES \n\nVPL5STI08S-PRINCIPAL MUST BE NUMERIC,\
            \ GREATER THAN ZEROS \n\nVPL5STI09S-FUNC CODE MUST BE E OR R \n\nVPL5STI10S-INSTALLMENT\
            \ PROCESSING NOT SUPPORTED FOR THIS ORG \n\nVPL5STI11S-INSTALLMENT CONVERSION\
            \ NOT SUPPORTED FOR THIS LOGO \n\nVPL5STI12S-TRANSACTION PLAN SET FOR\
            \ INSTALLMENT CONVERSION \n\nVPL5STI13S-TRANSACTION PREVIOUSLY CONVERTED\
            \ TO INSTALLMENT \n\nVPL5STI14S-INSTALLMENT CONVERSION NOT ALLOWED, ACCOUNT\
            \ DELINQUENT \n\nVPL5STI15S-INSTALLMENT CONVERSION NOT ALLOWED, INVALID\
            \ ACCOUNT STATUS \n\nVPL5STI16S-INSTALLMENT CONVERSION NOT ALLOWED; INVALID\
            \ ACCOUNT BLOCKED \n\nVPL5STI17S-INSTALLMENT CONVERSION NOT ALLOWED, INVALID\
            \ CREDIT PLAN \n\nVPL5STI18S-INSTALLMENT CONVERSION NOT ALLOWED, ONLY\
            \ CASH TXN SUPPORTED \n\nVPL5STI19S-INSTALLMENT CONVERSION NOT ALLOWED,\
            \ ONLY RETAIL TXN SUPPORTED \n\nVPL5STI20S-INSTALLMENT CONVERSION NOT\
            \ ALLOWED, MINIMUM TRANSACTION AMOUNT \n\nVPL5STI21S-INSTALLMENT CONVERSION\
            \ NOT ALLOWED, MAXIMUM TRANSACTION AMOUNT \n\nVPL5STI22S-TRANSACTION MUST\
            \ BE C OR L OR S \n\nVPL5STI23S-INSTALLMENT CONVERSION NOT ALLOWED, MINIMUM\
            \ INSTALLMENT TERM \n\nVPL5STI24S-INSTALLMENT CONVERSION NOT ALLOWED,\
            \ MAXIMUM INSTALLMENT TERM \n\nVPL5STI25S-TRANSACTION NOT ELIGIBLE FOR\
            \ INST CONV, PASSED PAYMENT DUE DATE \n\nVPL5STI26S-ONLY SALES TRANSACTION\
            \ ELIGIBLE FOR INSTALLMENT CONVERSION \n\nVPL5STI27S-TRANSACTION SEQ NO\
            \ MUST BE NUMERIC AND > 0 FOR TXN TYPE C \n\nVPL5STI28S-TRANSACTION NOT\
            \ ELIGIBLE FOR INSTALLMENT, CARD EXPIRED \n\nVPL5STI29S-TRANSACTION STMT\
            \ REC NUMBER MUST BE > 0 FOR TYPE L OR S \n\nVPL5STI30S-INSTALLMENT CONVERSION\
            \ REVERSAL NOT SUPPORTED FOR THIS LOGO \n\nVPL5STI31S-INSTALLMENT TRANSACTION\
            \ CONV IS NOT INITIATED \n\nVPL5STI32S-INSTALLMENT TXN CONV INITIATED\
            \ BUT RECORD NOT FOUND IN AMXT \n\nVPL5STI33S-LOGO RECORD NOT FOUND IN\
            \ FILE \n\nVPL5STI34S-TRANSACTION HEADER RECORD NOT FOUND IN FILE \n\n\
            VPL5STI35S-CREDIT TRANSACTION DETAIL RECORD NOT FOUND IN FILE \n\nVPL5STI36S-DEBIT\
            \ TRANSACTION DETAIL RECORD NOT FOUND IN FILE \n\nVPL5STI37S-TRANSACTION\
            \ NOT FOUND ON FILE \n\nVPL5STI38S-PROCESSING MODE NOT EQUAL TO LOW VALUES/SPACES\
            \ OR P OR V \n\nVPL5STI39S-PLAN ENTERED MUST BE NUMERIC, GREATER THAN\
            \ ZEROES \n\nVPL5STI40S-INSTALLMENT TERM MUST BE NUMERIC, GREATER THAN\
            \ ZEROES \n\nVPL5STI41S-VALID TRANSACTION STATEMENT DATE IS REQUIRED WHEN\
            \ TYPE IS L OR S \n\nVPL5STI42S-INPUT AMOUNT SHOULD BE SAME AS TRANSACTION\
            \ AMOUNT \n\nVPL5STI43S-TRANSACTION TYPE ‘S’ OR ‘L’ NOT ALLOWED WHEN EXT\
            \ INST IND IS ACTIVE \n\nVPL5STI44S-MEXICO INSTALMENT IS NOT ALLWED FOR\
            \ THIS LOGO "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionConversionResponse"
      x-proxy-name: Transaction Conversion
      x-group-name: Transactions
  /transactions/exchange-rate:
    put:
      tags:
      - Transactions
      summary: |-
        Inquire, update currency exchange rates.

        VMX Service: M.SSC.EXCHANGE.RATE.UPD, L8V1
      description: |-
        Inquire, update currency exchange rates.

        VMX Service: M.SSC.EXCHANGE.RATE.UPD, L8V1
      operationId: Exchange Rate Update
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExchangeRateRequest"
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeRateResponse"
      x-proxy-name: Exchange Rate Update
      x-group-name: Transactions
  /transactions/currency-rate:
    get:
      tags:
      - Transactions
      summary: "Currency Rate Inquiry. \nVMX Service: M.SSC.EXCH.RATE.INQ, L8V1"
      description: "Currency Rate Inquiry. \nVMX Service: M.SSC.EXCH.RATE.INQ, L8V1"
      operationId: currencyRateInquiry
      parameters:
      - name: organization
        in: query
        description: |-
          * Min Length: 1
          * Max Length: 3

          Organization Number.

          VisionPLUS Service Data: SZXEQI-ORG
        required: true
        schema:
          type: integer
          format: int32
        example: 998
      - name: sourceCurrencyCode
        in: query
        description: |-
          * Min Length: 1
          * Max Length: 3

          Currency code for the source currency.

          VisionPLUS Service Data: SZXEQI-SOURCE-CURR
        required: true
        schema:
          type: string
        example: 998
      - name: destinationCurrencyCode
        in: query
        description: |-
          * Min Length: 1
          * Max Length: 3

          Currency code for the destination currency.

          VisionPLUS Service Data: SZXEQI-DEST-CURR
        required: true
        schema:
          type: string
        example: 111
      - name: rateEffectiveDate
        in: query
        description: |-
          Effective date of rates defined by the record (in ISO 8601).

          VisionPLUS Service Data: SZXEQI-EFF-DATE
        required: true
        schema:
          type: string
          format: date
        example: 2022-03-03
      - name: currencyTableNumber
        in: query
        description: |-
          * Min Length: 1
          * Max Length: 2

          Identification number of the currency rate table to use.

          Values:
          * 01–10 = User-defined currency conversion rates;
          * 11 = Visa currency conversion rates;
          * 12 = MasterCard currency conversion rates;
          * 13 = Europay currency conversion rates;
          * 14 = AMEX currency conversion rates;
          * 15 = Euro currency conversion rates.
        required: true
        schema:
          type: integer
          format: int32
        example: 12
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      responses:
        "422":
          description: |-
            Unprocessable Entity

            VPL1SEQ01S - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998

            VPL1SEQ03S - USER NOT AUTORIZED FOR ORGANIZATION

            VPL1SEQ06S - TABLE NUMBER IS INVALID

            VPL1SEQ07S - CURRENCY RATE RECORD NOT FOUND

            VPL1SEQ08S - INVALID SOURCE CURRENCY CODE

            VPL1SEQ09S - INVALID DESTINATION CURRENCY CODE

            VPL1SEQ10S - TABLE NUMBER NOT NUMERIC

            VPL1SEQ11S - INVALID VALUES IN AMCY PARAMETER

            VPL1SEQ12S - ORG OR TABLE NUMBER NOT IN AMCY PARAMETER RANGE

            VPL1SEQ13S - TAG NOT DEFINED IN AMCY PARAMETER

            VPL1SEQ14S - TABLE NBR 10 TO 15 ARE RESERVED FOR SCHEME RATES

            VPL1SEQ15S - INVALID ORG

            VPL1SEQ16S - CURRENCY TABLE NOT PRESENT OR MATCHING

            VPL1SEQ17S - ONLY USD TO MXN CONVERSION RATE ALLOWED FOR MEXICO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrencyRateInquiryResponse"
      x-proxy-name: Currency Rate Inquiry
      x-group-name: Transactions
    put:
      tags:
      - Transactions
      summary: |-
        Currency Rate Table Update.
        VMX Service: M.SSC.EXCH.RATE.UPD, L8V1
      description: "Currency Rate Table Update. \nVMX Service: M.SSC.EXCH.RATE.UPD,\
        \ L8V1"
      operationId: currencyRateTableUpdate
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CurrencyRateTableUpdateRequest"
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "422":
          description: "Unprocessable Entity\n\nVPL1SEM01S - INVALID ORG \n\nVPL1SEM02S\
            \ - USER NOT AUTHORIZED FOR ORG \n\nVPL1SEM05S - FILE TABLE VALUE IS ZERO\
            \ \n\nVPL1SEM06S - FILE TABLE NOT NUMERIC OR GREATER THAN 10 \n\nVPL1SEM07S\
            \ - SOURCE CURRENCY IS SPACES \n\nVPL1SEM08S - SOURCE CURRENCY VALUE INVALID\
            \ \n\nVPL1SEM09S - DEST CURRENCY IS SPACES \n\nVPL1SEM10S - DEST CURRENCY\
            \ VALUE INVALID \n\nVPL1SEM11S - EFFECTIVE DATE IS NOT NUMERIC OR ZERO\
            \ \n\nVPL1SEM12S - SMRT RECORD NOT FOUND \n\nVPL5SEM13E - MID RATE NOD\
            \ NOT NUMERIC \n\nVPL5SEM14E - SELL RATE NOD NOT NUMERIC \n\nVPL5SEM15E\
            \ - MID RATE NOT NUMERIC \n\nVPL5SEM16E - SELL RATE NOT NUMERIC \n\nVPL5SEM17E\
            \ - UP LIFT PCT NOT NUMERIC \n\nVPL5SEM18E - RECORD STATUS NOT VALID \n\
            \nVPL5SEM19E - TABLE NUMBER NOT WITHIN RANGE \n\nVPL1SEM20E - TABLE NUMBER\
            \ NOT VALID \n\nVPL1SEM21E - TABLE NUMBER NOT WITHIN RANGE \n\nVPL1SEM22E\
            \ - MATCHING TABLE NUMBER RECORD NOT FOUND IN FILE \n\nVPL1SEM13S - TABLE\
            \ NBR 10 TO 15 ARE RESERVED FOR SCEHME RATES "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrencyRateTableUpdateResponse"
      x-proxy-name: Currency Rate Update
      x-group-name: Transactions
    post:
      tags:
      - Transactions
      summary: |-
        Add Currency Rate Definition.

        VMX Service: M.SSC.EXCH.RATE.ADD, L8V1
      description: |-
        Add Currency Rate Definition.

        VMX Service: M.SSC.EXCH.RATE.ADD, L8V1
      operationId: currencyRateDefinitionAdd
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CurrencyRateDefinitionRequest"
        required: true
      responses:
        "422":
          description: "Unprocessable Entity\n\nVPL1SEA01S - INVALID ORG \n\nVPL1SEA03S\
            \ - USER NOT AUTHORIZED FOR ORG \n\nVPL1SEA05S - FILE TABLE VALUE IS ZERO\
            \ \n\nVPL1SEA06S - FILE TABLE NOT NUMERIC OR GREATER THAN 10 \n\nVPL1SEA07S\
            \ - SOURCE CURRENCY IS SPACES \n\nVPL1SEA08S - SOURCE CURRENCY VALUE INVALID\
            \ \n\nVPL1SEA09S - DEST CURRENCY IS SPACES \n\nVPL1SEA10S - DEST CURRENCY\
            \ VALUE INVALID \n\nVPL1SEA11S - EFFECTIVE DATE IS NOT NUMERIC \n\nVPL1SEA13S\
            \ - SELL RATE NOT NUMERIC \n\nVPL1SEA14S - MID RATE NOT NUMERIC \n\nVPL1SEA16S\
            \ - SELL RATE NOD NOT NUMERIC \n\nVPL1SEA17S - PCT NOT NUMERIC \n\nVPL1SEA18S\
            \ - RECORD ALREADY EXISTS \n\nVPL1SEA19S - MID RATE NOD NOT NUMERIC \n\
            \nVPL1SEA20S - RECORD STATUS NOT VALID \n\nVPL1SEA20E - TABLE NUMBER NOT\
            \ VALID \n\nVPL1SEA21E - TABLE NUMBER NOT WITHIN RANGE \n\nVPL1SEA22E\
            \ - MATCHING TABLE NUMBER RECORD NOT FOUND IN FILE \n\nVPL1SEA23E - UNKNOWN\
            \ TABLE ERROR \n\nVPL1SEA21S - TABLE NBR 10 TO 15 ARE RESERVED FOR SCHEME\
            \ RATES"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrencyRateDefinitionResponse"
      x-proxy-name: Currency Rate Add
      x-group-name: Transactions
  /transactions/currency-rate-table:
    put:
      tags:
      - Transactions
      summary: |-
        Currency Rate Table Maintain Service.
        VMX Service: M.CMS.CURR.RATE.MWP.UPD, R8V1
      description: "Updates the Currency Rate Table file. \nVMX Service: M.CMS.CURR.RATE.MWP.UPD,\
        \ R8V1"
      operationId: Currency Rate Table Update
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CurrencyRateTableRequest"
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "422":
          description: "Unprocessable Entity\n\nVPL5SMR05E - ORG NUMBER MUST BE NUMERIC\
            \ AND VALID VALUES ARE 001-998 \n\nVPL5SMR06E - SOURCE CURRENCY CODE MUST\
            \ BE NUMERIC \n\nVPL5SMR07E - DESTINATION CURRENCY CODE MUST BE NUMERIC\
            \ \n\nVPL5SMR12E - MID RATE MUST BE GREATER THAN ZERO \n\nVPL5SMR13E -\
            \ MID RATE MUST BE NUMERIC \n\nVPL5SMR15E - MID RATE NOD NOT NUMERIC"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrencyRateTableResponse"
      x-proxy-name: Currency Rate Table Update
      x-group-name: Transactions
  /transactions/summary-details:
    post:
      tags:
      - Transactions
      summary: |-
        Provides transaction detail information for current cycle transactions to statemented transactions within a date range.

        VMX Service: M.CMS.TRANSACTIONDETAIL.INQ, L8V7
      description: |-
        Provides transaction detail information for current cycle transactions to statemented transactions within a date range.

        VMX Service: M.CMS.TRANSACTIONDETAIL.INQ, L8V7
      operationId: detailsList
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionsDetailsL8V7Request"
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "422":
          description: "Unprocessable Entity\n\nVPL5STDZ2S-SERVICE INPUT TO TXN DTL\
            \ SERVICE IS AN INCORRECT LENGTH \n\nVPL5STDZ4S-REQUESTED ORGANIZATION\
            \ COULD NOT BE DETERMINED \n\nVPL5STDZ5S-REQUESTED ORGANIZATION NOT FOUND\
            \ \n\nVPL5STD01I-NO TRANSACTIONS FOUND FOR REQUEST \n\nVPL5STD04E-ORGANIZATION\
            \ NUMBER MUST BE NUMERIC AND VALID VALUES ARE 000-998 \n\nVPL5STD05E-ACCOUNT\
            \ NUMBER IS NOT NUMERIC OR EQUALS SPACES \n\nVPL5STD06E-FUNCTION TYPE\
            \ VALID VALUES ARE SPACE, C, R, M OR B \n\nVPL5STD07E-NUMBER OF TRANSACTIONS\
            \ CANNOT BE GREATER THAN 50 \n\nVPL5STD08E-INVALID FOREIGN USE INDICATOR\
            \ - VALID VALUES ARE SPACE, 0 OR 1 \n\nVPL5STD09E-NUMBER OF MONTHS IS\
            \ REQUIRED WHEN REQUEST IS BY MONTH \n\nVPL5STD10E-TRANSACTION START DATE\
            \ IS NOT A VALID DATE \n\nVPL5STD11E-TRANSACTION START DATE IS NOT NUMERIC\
            \ \n\nVPL5STD12E-TRANSACTION START DATE IS NOT VALID WHEN REQUEST IS BY\
            \ MONTH TRANSACTION START DATE WAS PROVIDED WITH A REQUEST TYPE FOR TRANSACTIONSTART\
            \ DATE IS INVALID FOR THIS REQUEST \n\nVPL5STD13E-TRANSACTION END DATE\
            \ FORMAT IS NOT A VALID DATE \n\nVPL5STD14E-TRANSACTION END DATE IS NOT\
            \ NUMERIC \n\nVPL5STD15E-TRANSACTION END DATE IS NOT VALID WHEN REQUEST\
            \ IS BY MONTH \n\nVPL5STD20S-ORGANIZATION NUMBER NOT FOUND ON FILE \n\n\
            VPL5STD21S-FOREIGN ORGANIZATION NUMBER IS NOT FOUND ON FILE \n\nVPL5STD22S-ACCOUNT\
            \ NOT FOUND ON FILE \n\nVPL5STD23S-NO TRANSACTIONS FOUND - STATEMENTS\
            \ \n\nVPL5STD24S-NO TRANSACTIONS FOUND - STATEMENTS \n\nVPL5STD25I-FOREIGN\
            \ USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA \n\nVPL5STD26E-MINIMUM\
            \ TRANSACTION AMOUNT MUST BE NUMERIC \n\nVPL5STD27E-MAXIMUM TRANSACTION\
            \ AMOUNT MUST BE NUMERIC \n\nVPL5STD28E-MIN AND MAX TRANSACTION AMOUNTS\
            \ MUST BE NUMERIC \n\nVPL5STD29E-MINIMUM AMOUNT CANNOT BE GREATER THAN\
            \ MAXIMUM AMOUNT \n\nVPL5STD30E-FUNCTION CODE MUST BE EQUAL TO SPACE,\
            \ N OR P \n\nVPL5STD31E-START TOKEN SEQUENCE NUMBER MUST BE NUMERIC \n\
            \nVPL5STD32E-START TOKEN STATEMENT DATE MUST BE NUMERIC \n\nVPL5STD33E-STATEMENT\
            \ DATE IS INVALID \n\nVPL5STD34E-START TOKEN FILE TYPE IS INVALID. VALID\
            \ VALUES ARE C S AND L \n\nVPL5STD35E-CURRENCY CODE NOT ON FILE \n\nVPL5STD36E-INVALID\
            \ TRANSACTION TYPE \n\nVPL5STD40E-START ORG SHOULD BE PROVIDED-VALID VALUE\
            \ 001-998 \n\nVPL5STD41E-REQUEST TYPE BOTH NOT VALID FOR NON DUAL ORG\
            \ \n\nVPL5STD42E-INVALID START ORG \n\nVPL5STD43S-FUNCTION IS INVALID;\
            \ CAN BE ONLY INITIAL,NEXT OR PREV \n\nVPL5STD44S-START TOKEN MUST BE\
            \ SPACES FOR INITIAL FUNCTION \n\nVPL5STD45S-START TOKEN CANNOT BE SPACES\
            \ FOR NEXT OR PREV \n\nVPL5STD98E-INVALID FORIEGN USE IND VALID VALUES\
            \ ARE SPACE 0,1,2 "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionsDetailsL8V7Response"
      x-proxy-name: Transactions Details Inquiry
      x-group-name: Transactions
  /transactions/plan-settlement-quote:
    post:
      tags:
      - Transactions
      summary: |-
        The Plan Level Settlement Quote Request servicegenerates a loan payoff quote for a specific loan plan on an account.

        VMX Service: M.CMS.PLAN.STTLMNT.QUOTE.UPD, R8V1
      description: |-
        The Plan Level Settlement Quote Request servicegenerates a loan payoff quote for a specific loan plan on an account.

        VMX Service: M.CMS.PLAN.STTLMNT.QUOTE.UPD, R8V1
      operationId: Loan Payoff Quote Generate
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlanSettlementQuoteUpdateRequest"
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "422":
          description: "Unprocessable Entity\n\nVPL5SPQZ2S - SERVICE INPUT FOR SERVICE\
            \ IS AN INCORRECT LENGTH \n\nVPL5SPQZ4S - COULD NOT DETERMINE ASSOCIATED\
            \ ORG \n\nVPL5SPQZ5S - REQUESTED ORG NUMBER IS NOT FOUND \n\nVPL5SPQ08S\
            \ - CREDIT PLAN RECORD IS NOT FOUND OR ADD PENDING \n\nVPL5SPQ10S - INVALID\
            \ ORG \n\nVPL5SPQ11S - INVALID ACCOUNT OR CARD NUMBER \n\nVPL5SPQ12E -\
            \ INVALID FOREIGN USE FLAG \n\nVPL5SPQ13S - INVALID PLAN NUMBER \n\nVPL5SPQ14S\
            \ - INVALID PLAN SEQUENCE \n\nVPL5SPQ15S - INVALID SETTLEMENT TYPE \n\n\
            VPL5SPQ16S - CUSTOMER SELECT QUOTE DATE NOT ALLOWED \n\nVPL5SPQ17E - INPUT\
            \ PAYOFF DATE IS INVALID \n\nVPL5SPQ18S - ORG NOT FOUND OR IS IN ADD PENDING\
            \ CONDITION \n\nVPL5SPQ19S - FOREIGN ORG NOT FOUND OR IS IN ADD PENDING\
            \ CONDITION \n\nVPL5SPQ20S - ACCOUNT IS NOT ACTIVE OR NOT FOUND \n\nVPL5SPQ21S\
            \ - LOGO NOT FOUND OR IS IN ADD PENDING CONDITION \n\nVPL5SPQ22S - INVALID\
            \ ACCOUNT CONTROL TABLE LOOKUP \n\nVPL5SPQ23S - INVALID INTEREST RECORD\
            \ LOOKUP \n\nVPL5SPQ24E - LOAN CONTAINS A DISPUTED AMOUNT \n\nVPL5SPQ25I\
            \ - ADJUSTED TO FLOOR RATE 1 \n\nVPL5SPQ26I - ADJUSTED TO FLOOR RATE 2\
            \ \n\nVPL5SPQ27I - ADJUSTED TO CEILING RATE 1 \n\nVPL5SPQ28I - ADJUSTED\
            \ TO CEILING RATE 2 \n\nVPL5SPQ29I - ADJUSTED TO ALLOWABLE CAP DECREASE\
            \ \n\nVPL5SPQ30I - ADJUSTED TO ALLOWABLE CAP INCREASE \n\nVPL5SPQ31I -\
            \ MAKING A USURY ADJUSTMENT \n\nVPL5SPQ32I - USED PCT LEVEL FROM ACCOUNT\
            \ \n\nVPL5SPQ33E - SYSTEM CONTROL PCT OVERRIDE LOOKUP INVALID \n\nVPL5SPQ35E\
            \ - ORG CONTROL PCT OVERRIDE LOOKUP INVALID \n\nVPL5SPQ38E - LOGO CONTROL\
            \ PCT OVERRIDE LOOKUP INVALID \n\nVPL5SPQ41E - PCT OVERRIDE NOT FOUND\
            \ \n\nVPL5SPQ42E - SYSTEM CONTROL PCT LEVEL NOT FOUND \n\nVPL5SPQ43E -\
            \ ORG CONTROL PCT LEVEL NOT FOUND \n\nVPL5SPQ44E - LOGO CONTROL PCT LEVEL\
            \ NOT FOUND \n\nVPL5SPQ45E - SYSTEM CONTROL INTEREST STATE NOT FOUND \n\
            \nVPL5SPQ46E - ORG CONTROL INTEREST STATE NOT FOUND \n\nVPL5SPQ47E - LOGO\
            \ CONTROL INTEREST STATE NOT FOUND \n\nVPL5SPQ48E - SYSTEM CONTROL DEFAULT\
            \ INTEREST STATE NOT FOUND \n\nVPL5SPQ49E - ORG CONTROL DEFAULT INTEREST\
            \ STATE NOT FOUND \n\nVPL5SPQ50E - LOGO CONTROL DEFAULT INTEREST STATE\
            \ NOT FOUND \n\nVPL5SPQ54E - INTEREST RATE TABLE NOT FOUND \n\nVPL5SPQ55E\
            \ - USURY TABLE NOT FOUND \n\nVPL5SPQ56E - DEFAULT USURY STATE OF ISSUE\
            \ NOT FOUND ON TABLE \n\nVPL5SPQ57E - DEFAULT USURY STATE OF RESIDENCE\
            \ NOT FOUND ON TABLE \n\nVPL5SPQ58E - RATES ARE ZERO ON THE STATE USURY\
            \ TABLE \n\nVPL5SPQ59E - NO STATE OF ISSUE ON THE ACCOUNT \n\nVPL5SPQ60E\
            \ - NO STATE OF RESIDENCE ON THE ACCOUNT \n\nVPL5SPQ61S - LOAN PLAN IS\
            \ ALREADY SETTLED"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanSettlementQuoteUpdateResponse"
      x-proxy-name: Loan Payoff Quote Generate
      x-group-name: Transactions
  /transactions/outstanding-authorizations-L8V3/details:
    post:
      tags:
      - Transactions
      summary: "Fetches data of both old and new transactions(including today's) which\
        \ are settled to an account. \nVMX Service: M.FAS.OUTSTANDING.AUTH.INQ, L8V3"
      description: "Fetches data of both old and new transactions(including today's)\
        \ which are settled to an account. \nVMX Service: M.FAS.OUTSTANDING.AUTH.INQ,\
        \ L8V3"
      operationId: outstandingAuthorizationL8V3
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OutstandingAuthorizationFasL8V3Request"
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "422":
          description: "Unprocessable Entity\n\nVPL5SOA06E - ORGANIZATION IS NOT NUMERIC\
            \ OR MUST BE VALUE BETWEEN 000 AND 998\n\nVPL5SOA07E - ACCOUNT NUMBER\
            \ IS INVALID\n\nVPL5SOA08E - START TOKEN EFFECTIVE DATE REQUIRED WHEN\
            \ FUNCTION IS NEXT/PREV\n\nVPL5SOA09E - START TOKEN EFFECTIVE DATE IS\
            \ INVALID\n\nVPL5SOA10E - START TOKEN TIME REQUIRED WHEN FUNCTION IS NEXT/PREV\n\
            \nVPL5SOA11E - START TOKEN TIME IS INVALID\n\nVPL5SOA12E - FOREIGN USE\
            \ FLAG IS INVALID\n\nVPL5SOA13E - SERVICE FUNCTION CODE IS INVALID\n\n\
            VPL5SOA14E - ACTION FILTER CODE IS INVALID\n\nVPL5SOA15S - REQUESTED ORGANIZATION\
            \ COULD NOT BE DETERMINED\n\nVPL5SOA16S - REQUESTED ORGANIZATION NOT FOUND\n\
            \nVPL5SOA19S - ORGANIZATION NOT FOUND ON FILE\n\nVPL5SOA20I - FOREIGN\
            \ USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA\n\nVPL5SOA21S -\
            \ FOREIGN ORGANIZATION NOT FOUND ON FILE \n\nVPL5SOA22S - ACCOUNT NUMBER\
            \ NOT FOUND\n\nVPL5SOA24S - LOGO NOT FOUND ON FILE\n\nVPL7SOA50I - NO\
            \ AUTHS RETURNED FOR THIS ACCT"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OutstandingAuthorizationFasL8V3Response"
      x-proxy-name: Outstanding Authorizations Inquiry
      x-group-name: Transactions
  /transactions/notes-R8V3:
    post:
      tags:
      - Transactions
      summary: |-
        Inquire on notes history and their details.

        VMX Service: M.ASM.NOTES.HISTORY.INQ, R8V3
      description: |-
        Inquire on notes history and their details.

        VMX Service: M.ASM.NOTES.HISTORY.INQ, R8V3
      operationId: notesInquiryResponseR8V3
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotesHistoryInquiryRequestR8V3"
        required: true
      responses:
        "422":
          description: "Unprocessable Entity\n\nVPL8SNH02S - SERVICE INPUT TO A/A\
            \ SERVICE IS AN INCORRECT LENGTH \n\nVPL8SNH06S - ORGANIZATION NUMBER\
            \ MUST BE NUMERIC AND VALID VALUES ARE 000-998 \n\nVPL8SNH07S - ACCOUNT\
            \ NUMBER IS INVALID \n\nVPL8SNH08E - START DATE IS INVALID \n\nVPL8SNH09E\
            \ - CTA FLAG IS INVALID \n\nVPL8SNH10E - FOREIGN USE FLAG IS INVALID \n\
            \nVPL8SNH11E - HISTORY DATE IS INVALID \n\nVPL8SNH12E - HISTORY TIME IS\
            \ INVALID \n\nVPL8SNH13E - RECORD TYPE IS INVALID \n\nVPL8SNH14E - CTA\
            \ SEQUENCE NUMBER IS INVALID \n\nVPL8SNH15E - SERVICE FUNCTION CODE IS\
            \ INVALID \n\nVPL8SNH16S - ORGANIZATION NOT DETERMINED \n\nVPL8SNH18S\
            \ - ORGANIZATION RECORD NOT FOUND \n\nVPL8SNH19S - ACCOUNT NOT FOUND \n\
            \nVPL8SNH20S - FOREIGN ORGANIZATION NOT FOUND ON FILE \n\nVPL8SNH21S -\
            \ REQUESTED ORGANIZATION NOT FOUND \n\nVPL8SNH22S - SERVICE COULD NOT\
            \ OBTAIN CTA INPUT STORAGE AREA \n\nVPL8SNH23S - SERVICE COULD NOT OBTAIN\
            \ CTA OUTPUT STORAGE AREA \n\nVPL8SNH24E - CTA INCLUDE MAINTENANCE FLAG\
            \ INVALID \n\nVPL8SNH25I - NO HISTORY ITEMS ON FILE FOR THIS ACCOUNT \n\
            \nVPL8SNH26I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT\
            \ DATA \n\nVPL8SNH27W - THERE ARE HIGH PRIORITY NOTES ON THIS ACCOUNT\
            \ \n\nVPL8SNH28W - THERE ARE MEDIUM PRIORITY NOTES ON THIS ACCOUNT \n\n\
            VPL8SNH29W - THERE ARE LOW PRIORITY NOTES ON THIS ACCOUNT"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotesHistoryInquiryResponseR8V3"
      x-proxy-name: Notes History Inquiry
      x-group-name: Transactions
  /transactions/non-monetary-action-code:
    post:
      tags:
      - Transactions
      summary: "Memo Information Add. VMX Service: M.ASM.NONMON.ACT, R8V5"
      description: "Submit an action that adds memo information to an account. \n\
        VMX Service: M.ASM.NONMON.ACT, R8V5"
      operationId: Memo Information Add
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NonMonetaryActionCodeRequest"
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "422":
          description: |-
            Unprocessable Entity

            VPL8SNA06S - ORGANIZATION MUST BE NUMERIC AND VALID VALUES ARE 001-998

            VPL8SNA07S - ACCOUNT OR CARD NUMBER REQUIRED

            VPL8SNA08S - ACTION CODE IS REQUIRED

            VPL8SNA09S - ORGANIZATION NUMBER IS NOT ON FILE

            VPL8SNA10S - INVALID ORGANIZATION NUMBER

            VPL8SNA13S - ORGANIZATION NUMBER NOT FOUND

            VPL8SNA14S - ACCOUNT NOT FOUND

            VPL8SNA15S - ACCOUNT NUMBER NOT FOUND

            VPL8SNA16S - ACCOUNT NUMBER NOT FOUND

            VPL8SNA17S - ACCOUNT NUMBER NOT FOUND

            VPL8SNA18S - INVALID REQUEST ON A LOCAL ACCOUNT

            VPL8SNA19S - ACTION CODE IS NOT ON FILE

            VPL8SNA20S - ACTION CODE IS NOT ON FILE

            VPL8SNA24S - CONTROL RECORD NOT FOUND

            VPL8SNA25S - LETTER ORG IS NOT FOUND

            VPL8SNA26S - LETTER ORG IS NOT FOUND

            VPL8SNA27E - FOREIGN USE INDICATOR INVALID - MUST BE 0 OR 1

            VPL8SNA28E - REVIEW DATE MUST BE NUMERIC AND GREATER THAN ZEROS

            VPL8SNA29E - REVIEW TIME IS INVALID

            VPL8SNA30E - REVIEW TIME MUST BE NUMERIC AND GREATER THAN ZEROS

            VPL8SNA31E - LETTER ORG MUST BE NUMERIC AND VALID VALUES ARE 001 TO 998

            VPL8SNA32E - CARD SEQUENCE MUST BE NUMERIC

            VPL8SNA33E - CARD NUMBER MUST BE NUMERIC

            VPL8SNA34E - REVIEW DATE MUST BE GREATER THAN TODAY

            VPL8SNA35E - REVIEW DATE IS INVALID

            VPL8SNA36E - RETURN MAIL - LETTER CANNOT BE PROCESSED - ENTER SPACES

            VPL8SNA37E - CARD NUMBER IS REQUIRED

            VPL8SNA38E - CARD SEQUENCE IS REQUIRED

            VPL8SNA39E - PRIORITY MUST BE NUMERIC AND VALID VALUES ARE 0 - 3

            VPL8SNA40E - ACTION TYPE IS INVALID AND MUST BE "N", "I", SPACE OR LOW-VALUE

            VPL8SNA41E - MANUAL REFERRAL OPTION INVALID. MUST BE ZERO, SPACES, LV OR 1.

            VPL8SNA42E - MANUAL REFERRAL ORG NUMBER MUST BE NUMERIC AND < 999

            VPL8SNA43E - MANUAL REFERRAL REP ID WAS NOT SUPPLIED

            VPL8SNA44S - MANUAL REFERRAL ORG/REP NOT FOUND

            VPL8SNA45S - MANUAL REFERRAL ORG/REP NOT ELIGIBLE FOR THIS REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NonMonetaryActionCodeResponse"
      x-proxy-name: Memo Information Add
      x-group-name: Transactions
  /mx/transactions/v1/catCalculation:
    post:
      tags:
      - Transactions
      summary: |-
        The CAT calculation service calculates annual total cost of the credit in real time.

        Note: This API is available only in Mexico.

        VMX Service: M.CMS.CALCULATE.CAT.ADD, L8V2
      description: |-
        The CAT calculation service calculates annual total cost of the credit in real time.

        Note: This API is available only in Mexico.

        VMX Service: M.CMS.CALCULATE.CAT.ADD, L8V2
      operationId: Calculate total annual cost to the credit limit.
      parameters:
      - name: X-ClientID
        in: header
        description: Client Identification
        required: true
        schema:
          type: string
        example: "00991"
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalculateCatL8V2Request"
        required: true
      responses:
        "422":
          description: "Unprocessable Entity\n\nVPL5SAA02S - ORG NUMBER MUST BE NUMERIC\
            \ AND VALID VALUES ARE 001-998 \n\nVPL5SAA11S - ORG RECORD NOT FOUND \n\
            \nVPL5SAA04S - LOGO NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998\
            \ \n\nVPL5SAA12S - LOGO RECORD NOT FOUND \n\nVPL5SAA18E - CREDIT LIMIT\
            \ MUST BE NUMERIC \n\nVPLCSCAT1S - ERROR IN CAT CALCULATION \n\nVPLCSCATAS\
            \ - CAT CALC FLAG IS INACTIVE AT LOGO LEVEL"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalculateCatL8V2Response"
      x-proxy-name: CAT Calculation
      x-group-name: Transactions
  /transactions/v1/installmentTransactions/{installmentTransaction-Id}/simulation:
    patch:
      tags:
      - Transactions
      summary: |-
        This service updates the installment contract and terms on Installments Billing file, based on the discount percentage to early release.

        VMX Service: M.CMS.INSTAL.TRXN.DETAIL.UPD, L8V1
      description: |-
        This service updates the installment contract and terms on Installments Billing file, based on the discount percentage to early release.

        VMX Service: M.CMS.INSTAL.TRXN.DETAIL.UPD, L8V1
      operationId: Installment Detail Simulation - Discount Percentage to Early Release
      parameters:
      - name: installmentTransaction-Id
        in: path
        description: "* Max Length: 3\n\nRecord number that is sequentially assigned\
          \ to each installment associated with the account.\n \nMust be numeric and\
          \ less than 999.\n\nVisionPLUS Service Data: AZXZ4I-REC-NBR"
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EarlyReleaseDiscountRequest"
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EarlyReleaseDiscountResponse"
      x-proxy-name: Installment Detail Simulation - Discount Percentage to Early Release
      x-group-name: Transactions
  /transactions/{tableInsurance}/insurance-table:
    get:
      tags:
      - Transactions
      summary: |-
        Enables a calling program to inquire Service Insurance Table parameters associated with an account.


        VMX Service: M.CMS.INS.TBL.INQ, R8V1
      description: |-
        Enables a calling program to inquire Service Insurance Table parameters associated with an account.


        VMX Service: M.CMS.INS.TBL.INQ, R8V1
      operationId: insuranceTableInquiry
      parameters:
      - name: tableInsurance
        in: path
        description: |-
          * Max Length: 3

          Insurance Table.

          VisionPLUS Service Data: ARXIQI-INS-TABLE
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: organizationNumber
        in: query
        description: |-
          * Max Length: 3

          Organization.

          VisionPLUS Service Data: ARXIQI-INS-ORG
        required: true
        schema:
          type: integer
          format: int32
        example: 807
      - name: logo
        in: query
        description: |-
          * Max Length: 3

          Logo.

          VisionPLUS Service Data: ARXIQI-INS- LOGO
        required: true
        schema:
          type: integer
          format: int32
        example: 400
      - name: product
        in: query
        description: |-
          * Max Length: 2

          Product.

          VisionPLUS Service Data: ARXIQI-INS-PROD
        required: true
        schema:
          maxLength: 2
          minLength: 0
          type: string
        example: A1
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      responses:
        "422":
          description: "Unprocessable Entity\n\nVPL5SIQ02S - SERVICE INPUT IS AN INCORRECT\
            \ LENGTH \n\nVPL5SIQ06S - ORG IS INVALID \n\nVPL5SIQ07S - INSURANCE TABLE\
            \ MUST BE NUMERIC AND GT 0 \n\nVPL5SIQ08S - INS PROD IS INVALID \n\nVPL5SIQ09S\
            \ - REQUESTED ORG NUMBER IS NOT FOUND \n\nVPL5SIQ12S - ORG RECORD NOT\
            \ FOUND/ADD PENDING \n\nVPL5SIQ13S - INSURANCE TABLE NOT FOUND/ADD PENDING"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsuranceTableInquiryResponse"
      x-proxy-name: Insurance Table Inquiry
      x-group-name: Transactions
  /transactions/{feeTableNumber}/fee-table-information:
    get:
      tags:
      - Transactions
      summary: |-
        This services was created to provides the Service Fee Table information.

        VMX Service: M.CMS.SERV.FEE.TBL.INQ, R8V1
      description: |-
        This services was created to provides the Service Fee Table information.

        VMX Service: M.CMS.SERV.FEE.TBL.INQ, R8V1
      operationId: feeTableInformation
      parameters:
      - name: feeTableNumber
        in: path
        description: |-
          * Max Length: 3

          Service Fee Table.

          VisionPLUS Service Data: ARXVQI-FEE-TABLE
        required: true
        schema:
          type: integer
          format: int32
        example: 11
      - name: organizationNumber
        in: query
        description: |-
          * Max Length: 3

          Organization Number.

          VisionPLUS Service Data: ARXVQI-FEE-ORG
        required: true
        schema:
          type: integer
          format: int32
        example: 801
      - name: logo
        in: query
        description: |-
          * Max Length: 3

          Logo.

          VisionPLUS Service Data: ARXVQI-FEE-LOGO
        required: false
        schema:
          type: integer
          format: int32
        example: 501
      - name: product
        in: query
        description: |-
          * Max Length: 2

          Product.

          VisionPLUS Service Data: ARXVQI-FEE-PROD
        required: false
        schema:
          type: string
        example: 20
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "422":
          description: |-
            Unprocessable Entity

            VPL5SVQ06S - ORG IS INVALID

            VPL5SVQ07S - FEE TABLE MUST BE NUMERIC AND GT 0

            VPL5SVQ08S - FEE PROD IS INVALID

            VPL5SVQ09S - REQUESTED ORG NUMBER IS NOT FOUND

            VPL5SVQ12S - ORG RECORD NOT FOUND/ADD PENDING

            VPL5SVQ13S - FEE TABLE NOT FOUND/ADD PENDING
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeeTableInformationResponse"
      x-proxy-name: Fee Table Information Inquiry
      x-group-name: Transactions
  /transactions/v2/installmentTransactions:
    get:
      tags:
      - Transactions
      summary: |-
        Consult the installment transactions on Installments Billing file.

        VMX Service: M.CMS.INSTAL.TRXN.DATA.INQ, L8V2
      description: |-
        Consult the installment transactions on Installments Billing file.

        VMX Service: M.CMS.INSTAL.TRXN.DATA.INQ, L8V2
      operationId: Installment Transaction Inquiry
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      - name: organizationNumber
        in: header
        description: |-
          * Max Length: 3

          Organization number that identifies the organization  ecord assigned to an account.
          * Must be numeric and less than 999.
          * Org number must be on file.

          VisionPLUS Service Data: AZXZ2I-ORG
        required: true
        schema:
          type: integer
          format: int32
        example: 950
      - name: accountNumber
        in: header
        description: |-
          Account number.
          * Must be a valid account number or card number present on file.

          Card number can be informed. Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token)

          VisionPLUS Service Data: AZXZ2I-ACCT-CARD-NBR
        required: true
        schema:
          maxLength: 19
          minLength: 19
          type: string
        example: 4513074002952958903
      - name: installmentType
        in: query
        description: |-
          * Max Length: 1

          Installment Type: Code that indicates the type of installment billing transaction.

          Values:
          * 0 = All;
          * 1 = Issuer installment transactions;
          * 2 = Issuer-generated installment transactions;
          * 3 = Acquirer installment transactions.

          VisionPLUS Service Data: AZXZ2I-SEL-TYPE
        required: false
        schema:
          type: integer
          format: int32
        example: 3
      - name: selectedEffectiveDate
        in: query
        description: |-
          Selected Effective Date (in ISO 8601) for the installment data.

          VisionPLUS Service Data: AZXZ2I-SEL-EFF-DATE
        required: false
        schema:
          type: string
          format: date
        example: 2022-03-15
      - name: pagination
        in: query
        description: |-
          * Max Length: 5

          Next index for installment pagination.
          * 1 = First page;
          * 51 = Second page, if exists.

          VisionPLUS Service Data: AZXZ2I-IDX-NEXT
        required: false
        schema:
          type: integer
          format: int32
          default: 1
        example: 1
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstallmentDataInquiryL8V2Response"
      x-proxy-name: Installment Transaction Inquiry
      x-group-name: Transactions
  /transactions/v2/installmentTransactions/{installmentTransaction-Id}/terms:
    get:
      tags:
      - Transactions
      summary: |-
        Inquiry installment terms on Installments Billing file.

        Note: This API is not available in Brazil

        VMX Service: M.CMS.INSTAL.TERMS.INQ, L8V2
      description: |-
        Inquiry installment terms on Installments Billing file.

        Note: This API is not available in Brazil

        VMX Service: M.CMS.INSTAL.TERMS.INQ, L8V2
      operationId: “ARTI04 - Detail of the installment billing transaction record.
      parameters:
      - name: installmentTransaction-Id
        in: path
        description: "* Max Length: 3\n\nThe record number of the installment. Must\
          \ be numeric and less than 999. \n\nVisionPLUS Service Data: AZXZ5I-REC-NBR"
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00902"
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      - name: organizationNumber
        in: header
        description: |-
          * Max Length: 3

          Organization number:
          * Must be numeric and less than 999.
          * Org number must be on file.

          VisionPLUS Service Data: AZXZ5I-ORG.
        required: true
        schema:
          type: integer
          format: int32
        example: 902
      - name: accountNumber
        in: header
        description: |-
          Account number:
          * Must be a valid account number or card number present on file.

          Card number can be informed. Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token)

          VisionPLUS Service Data: AZXZ5I-ACCT-NBR
        required: true
        schema:
          maxLength: 19
          minLength: 16
          type: string
        example: 5562979744597760019
      - name: selectedAction
        in: query
        description: |
          Selected Action

          Values:
          * T = provides details of the installment components of each term.

          VisionPLUS Service Data: AZXZ5I-SEL-ACTION.
        required: true
        schema:
          maxLength: 1
          minLength: 1
          type: string
        example: T
      - name: pagination
        in: query
        description: |
          * Max Length: 4
          Next index for installment pagination.

          Values:* 0001 = First page;
          * 0051 = Second page, if exists.

          VisionPLUS Service Data: AZXZ5I-IDX-NEXT.
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: ivaIndicator
        in: query
        description: |-
          * Max Length: 1

          Please refer to error message table.

          Values:
          * Y = Calculate IVA Based on %Rate;
          * N = Not Calculate IVA. IVA will be considered as ZERO;
          * SPACE = Not Calculate IVA. IVA will be considered as ZERO.

          VisionPLUS Service Data: AZXZ5I-IVA-FLAG.
        required: true
        schema:
          type: string
        example: "Y"
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/InstallmentTermsInquiryL8V2Response"
        "401":
          description: Unauthorized
      x-proxy-name: Installment Transaction Terms Simulation
      x-group-name: Transactions
  /transactions/v1/installmentTransactions/{installmentTransaction-Id}:
    get:
      tags:
      - Transactions
      summary: "Consult installment details. \n\nVMX Service: M.CMS.INSTAL.TRXN.DETAIL.INQ,\
        \ L8V1"
      description: "Consult installment details. \n\nVMX Service: M.CMS.INSTAL.TRXN.DETAIL.INQ,\
        \ L8V1"
      operationId: Installment Details Inquiry
      parameters:
      - name: installmentTransaction-Id
        in: path
        description: |-
          * Max Length: 3

          Record number that is sequentially assigned to each installment associated with the account.

          Must be numeric and less than 999.

          VisionPLUS Service Data: AZXZ3I-REC-NBR
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: organizationNumber
        in: header
        description: |-
          * Max Length: 3

          Organization number that identifies the Organization record assigned to an account.

          VisionPLUS Service Data: AZXZ3I-ORG
        required: true
        schema:
          type: integer
          format: int32
        example: 807
      - name: accountNumber
        in: header
        description: |-
          The account number for which details are extracted.

          VisionPLUS Service Data: AZXZ3I-ACCT-NBR
        required: true
        schema:
          maxLength: 19
          minLength: 19
          type: string
        example: "0004349950000268001"
      - name: selectedAction
        in: query
        description: |-
          Select action:
          * D-Display additional information on the selected transaction

           VisionPLUS Service Data: AZXZ3I-SEL-ACTION
        required: true
        schema:
          maxLength: 1
          minLength: 1
          type: string
        example: D
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      responses:
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstallmentDetailInquiryResponse"
      x-proxy-name: Installment Details Inquiry
      x-group-name: Transactions
  /transactions/v1/installmentTransactions/terms:
    get:
      tags:
      - Transactions
      summary: |-
        Consult the summary of the installments billing transactions that are not yet posted to the account.

        VMX Service: CMS.INSTAL.SUMMARY.INQ, L8V2
      description: |-
        Consult the summary of the installments billing transactions that are not yet posted to the account.

        VMX Service: CMS.INSTAL.SUMMARY.INQ, L8V2
      operationId: Installment Summary Inquiry
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
[...]
