openapi: 3.0.1
info:
  description: "This documentation describes the REST APIs provided by the FirstVision\u2122\
    \ Cards Microservice, which provides functionality for the issuing, management\
    \ and processing of credit cards, including bank, co-branded, private label, debit,\
    \ commercial, and prepaid"
  title: "FirstVision\u2122 Account Service - API Documentation"
  version: '1.2'
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /account/v1/link:
    put:
      tags:
      - Account
      summary: '`[IN DEVELOPMENT]`


        Link a Credit Account with an Account sharing the same Customer Number.


        VMX Service: M.CMS.LINK.CREDIT.ROTATIVO.UPD, L8V1'
      description: '`[IN DEVELOPMENT]`


        Link a Credit Account with an Account sharing the same Customer Number.


        VMX Service: M.CMS.LINK.CREDIT.ROTATIVO.UPD, L8V1'
      operationId: Account Linking/Unlinking Update.
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkUnlinkAccountRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
        '422':
          description: 'Unprocessable Entity


            VPL5SLB05S - CANNOT SET A BLOCK CODE ON A BILLING ACCOUNT


            VPL5SLB06S - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE
            001-998


            VPL5SLB07S - SWEEP OPTION INVALID FOR CREDIT ACCOUNT


            VPL5SLB08S - SWEEP OPTION INVALID FOR ROTATIVO ACCOUNT


            VPL5SLB09S - BOTH CREDIT AND ROTATIVO ACCOUNT MUST BE PROVIDED FOR LINKING


            VPL5SLB11S - BOTH CREDIT AND ROTATIVO ACCOUNTS SHOULD NOT BE SPACES


            VPL5SLB12S - LINK/UNLINK REQUEST SHOULD ONLY BE L/U


            VPL5SLB13S - REQUESTED ORGANIZATION NOT FOUND


            VPL5SLB17S - ACCOUNT NUMBER NOT FOUND


            VPL5SLB18S - AMCR ORG RECORD NOT FOUND


            VPL5SLB19S - AMCR LOGO RECORD NOT FOUND


            VPL5SLB20S - SWEEP TO LOGO NOT MATCHING WITH ROTATIVO ACCOUNT LOGO


            VPL5SLB21S - CUSTOMER NUMBER NOT MATCHING FOR ACCOUNTS


            VPL5SLB22S - CREDIT ACCOUNT NUMBER IS NOT VALID


            VPL5SLB23S - ROTATIVO ACCOUNT NUMBER IS NOT VALID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkUnlinkAccountResponse'
        '405':
          description: Method Not Allowed
      x-proxy-name: Account Link Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v3/accounts:
    post:
      tags:
      - Account
      summary: "\xB4[IN DEVELOPMENT]\xB4\nFind account details provides information\
        \ on the account\u2019s status. If the account has been transferred, the current\
        \ account number must be provided. This service does not automatically switch\
        \ to the new account. This service can be called with an account number or\
        \ a card number.\n\nVMX Service: M.CMS.ACCOUNT.INQ, L8VO"
      description: "\xB4[IN DEVELOPMENT]\xB4\nFind account details provides information\
        \ on the account\u2019s status. If the account has been transferred, the current\
        \ account number must be provided. This service does not automatically switch\
        \ to the new account. This service can be called with an account number or\
        \ a card number.\n\nVMX Service: M.CMS.ACCOUNT.INQ, L8VO"
      operationId: Account Information Inquiry
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountForDetailsL8voRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '422':
          description: "VPL5SAI01S - USER HAS NOT SIGNED ON, PLEASE SIGNON \n\nVPL5SAI02S\
            \ - APPLICATION IN NO-PROCESSING STATUS, RE-TRY IN A FEW MINUTES \n\n\
            VPL5SAI03E - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000\
            \ AND 998 \n\nVPL5SAI04E - REQUESTED CARD/ACCT NUMBER IS NOT NUMERIC OR\
            \ EQUAL SPACES \n\nVPL5SAI05E - INVALID FOREIGN USE IND SPECIFIED - VALID\
            \ VALUES ARE SPACE 0 OR 1 \n\nVPL5SAI07S - ORGANIZATION NOT FOUND ON FILE\
            \ \n\nVPL5SAI08S - FOREIGN ORGANIZATION NOT FOUND ON FILE \n\nVPL5SAI06S\
            \ - APPLICATION IN NO-PROCESSING STATUS, RE-TRY IN A FEW MINUTES \n\n\
            VPL5SAI09S - ACCOUNT NUMBER NOT FOUND \n\nVPL5SAI10S - ACCOUNT NUMBER\
            \ NOT FOUND ON FILE \n\nVPL5SAI11S - LOGO NOT FOUND ON FILE \n\nVPL5SAI12S\
            \ - CUSTOMER NOT FOUND ON FILE \n\nVPL5SAI13I - FOREIGN USE ORG UNAVAILABLE\
            \ PROCESSED LOCAL ORG ACCOUNT DATA \n\nVPL5SAI97E - INPUT PAN NUMBER SHOULD\
            \ NOT BE SPACES OR ZEROS \n\nVPL5SAI98E - CARD NUM DECRYPTED FROM INPUT\
            \ PAN TOKEN IS SPACES/ZEROS \n\nVPL5SAI99E - REQUEST FOR PAN TOKEN, BUT\
            \ ORG LVL PAN TOKEN SW INACTIVE \n\nVPL5SAIA9S - ACCOUNT RECORD IS IN\
            \ ADD PENDING STATUS \n\nVPL5SAIZ1S - SERVICE COULD NOT OBTAIN STORAGE\
            \ AREA \n\nVPL5SAIZ2S - SERVICE INPUT TO ACCOUNT INQ SERVICE IS AN INCORRECT\
            \ LENGTH \n\nVPL5SAIZ4S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED\
            \ \n\nVPL5SAIZ5S - REQUESTED ORGANIZATION NOT FOUND"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountForDetailsL8voResponse'
        '405':
          description: Method Not Allowed
      x-proxy-name: Account Information Inquiry
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v3/accountBoardingDriver:
    post:
      tags:
      - Account
      summary: '`[IN DEVELOPMENT]`


        Creates a card, account and customer in a single request.


        VMX Service: M.CMS.CUST.ACCT.CRD.DRV, L8V4'
      description: '`[IN DEVELOPMENT]`


        Creates a card, account and customer in a single request.


        VMX Service: M.CMS.CUST.ACCT.CRD.DRV, L8V4'
      operationId: Account Boarding Driver Request
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountBoardingDriverRequestL8V4'
        required: true
      responses:
        '400':
          description: Bad Request
        '422':
          description: 'VPL5SZ1Z1E - SERVICE COULD NOT OBTAIN STORAGE AREA


            VPL5SZ1Z2E - SERVICE INPUT TO EPIC DRIVER SERVICE IS INCORRECT LENGTH


            VPL5SZ101E - USER HAS NOT SIGNED ON - PLEASE SIGNON


            VPL5SZ1Z3E - FILE-TABLE USED BY THIS SERVICE IS MISSING


            VPL5SZ1Z4E - APPLICATION IN NO-PROCESSING STATUS, RETRY IN A FEW MINUTES


            VPL5SZ103E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE
            001-998


            VPL5SZ104E - LOGO NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998


            VPL5SZ105E - CUSTOMER CREATE FLAG SHOULD BE Y OR N


            VPL5SZ106E - WHEN CUSTOMER CREATE FLAG IS N CUST NBR IS REQUIRED


            VPL5SZ107E - ACCOUNT CREATE FLAG SHOULD BE Y OR N


            VPL5SZ108E - WHEN ACCOUNT CREATE FLAG IS Y ACCT NBR NOT REQUIRED


            VPL5SZ109E - WHEN ACCOUNT CREATE FLAG IS N ACCT NBR IS REQUIRED


            VPL5SZ110E - WHEN ACCOUNT CREATE FLAG IS Y CREDIT LIMIT IS REQUIRED


            VPL5SZ111E - WHEN ACCOUNT CREATE FLAG IS Y BILLING CYCLE IS REQUIRED


            VPL5SZ112E - WHEN ACCOUNT CREATE FLAG IS Y OWNING BRANCH NBR IS REQUIRED


            VPL5SZ113E - ADMIN BRANCH IS NOT NUMERIC


            VPL5SZ114E - FIRST ISS BRANCH IS NOT NUMERIC


            VPL5SZ115E - WHEN ACCT CREATE FLAG IS Y AND DFLT ACCT IS DDA RTNG NBR
            REQUIRED


            VPL5SZ116E - WHEN ACCT CREATE FLAG IS Y AND DFLT ACCT IS DDA ACCT NBR
            REQUIRED


            VPL5SZ117E - WHEN ACCT CREATE FLAG IS Y AND DFLT ACCT IS SAV RTNG NBR
            REQUIRED


            VPL5SZ118E - WHEN ACCT CREATE FLAG IS Y AND DFLT ACCT IS SAV ACCT NBR
            REQUIRED


            VPL5SZ119E - CARD CREATE FLAG (1) SHOULD BE Y OR N


            VPL5SZ120E - CARD TECHNOLOGY (1) SHOULD BE 0 OR 1 OR 2 OR 3


            VPL5SZ121E - WHEN CARD CREATE FLAG (1) IS Y EMBOSSER NAME (1) IS REQUIRED


            VPL5SZ122E - POS SERVICE CODE (1) SHOULD BE VALID


            VPL5SZ123E - POS SERVICE CODE (1) SHOULD BE NUMERIC


            VPL5SZ124E - DIG CARD IND (1) SHOULD BE 0 OR 1


            VPL5SZ125E - CARD CREATE FLAG (2) SHOULD BE Y OR N


            VPL5SZ126E - CARD TECHNOLOGY (2) SHOULD BE 0 OR 1 OR 2 OR 3


            VPL5SZ127E - WHEN CARD CREATE FLAG (2) IS Y EMBOSSER NAME (2) IS REQUIRED


            VPL5SZ128E - POS SERVICE CODE (2) SHOULD BE VALID


            VPL5SZ129E - POS SERVICE CODE (2) SHOULD BE NUMERIC


            VPL5SZ130E - DIG CARD IND (2) SHOULD BE 0 OR 1


            VPL5SZ131E - ERROR IN FILE SET DETERMINATION ERROR


            VPL5SZ132E - FILE-TABLE USED BY THIS SERVICE IS MISSING


            VPL5SZ133E - APPLICATION IN NO-PROCESSING STATUS


            VPL5SZ134S - SYSTEM RECORD IS NOT FOUND


            VPL5SZ135S - ORGANIZATION NOT ON FILE OR IN PENDING STATUS


            VPL5SZ136S - LOGO NOT ON FILE OR IN PENDING STATUS


            VPL5SZ137E - POS SERVICE CODE (1) MUST BE VALID FOR MASTERCARD AFFILIATE


            VPL5SZ138E - POS SERVICE CODE (1) MUST BE VALID FOR VISA AFFILIATE


            VPL5SZ139E - POS SERVICE CODE (1) MUST BE VALID FOR AFFILIATE


            VPL5SZ140E - POS SERVICE CODE (2) MUST BE VALID FOR MASTERCARD AFFILIATE


            VPL5SZ141E - POS SERVICE CODE (2) MUST BE VALID FOR VISA AFFILIATE


            VPL5SZ142E - POS SERVICE CODE (2) MUST BE VALID FOR AFFILIATE


            VPL5SZ143S - INITIALIZE CALL TO VCM SERVICE FAILED DURING CUST CREATE


            VPL5SZ144S - NO RESPONSE FOR VCM SERVICE WITH NULL VALUES IN CUST CREATE


            VPL5SZ145E - CUSTOMER RECORD NOT FOUND OR IN PENDING STATUS


            VPL5SZ146S - INITIALIZE CALL TO VCM SERVICE FAILED DURING ACCT CREATE


            VPL5SZ147S - NO RESPONSE FOR VCM SERVICE WITH NULL VALUES IN ACCT CREATE


            VPL5SZ148E - ACCOUNT RECORD NOT FOUND OR IN PENDING STATUS


            VPL5SZ149S - INITIALIZE CALL TO VCM SERVICE FAILED DURING CARD CREATE


            VPL5SZ150S - NO RESPONSE FOR VCM SERVICE WITH NULL VALUES IN CARD CREATE


            VPL5SZ151S - LOGO LEVEL ETK TYPE/ZONE FIELDS SHLD HAVE KMS ACTIVE


            VPL5SZ152S - SRM/HSM CALL FAILED


            VPL5SZ153S - SRM/HSM FATAL ERROR


            VPL5SZ154S - PROBLEM ENCRYPTING SOURCE


            VPL5SZ155S - PROBLEM ENCRYPTING SOURCE


            VPL5SZ156S - PROBLEM ENCRYPTING SOURCE


            VPL5SZ157S - INITIALIZE CALL TO VCM SERVICE FAILED


            VPL5SZ158S - NO RESPONSE FOR VCM SERVICE WITH NULL VALUES


            VPL5SZ159E - ACCT ALREADY PRESENT FOR GIVEN DDA ACCT


            VPL5SZ160E - ACCT ALREADY PRESENT FOR GIVEN SAV ACCT


            VPL5SZ161E - NO VALID ACCT PRESENT FOR GIVEN CUSTOMER ACCT'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBoardingDriverResponseL8V4'
        '405':
          description: Method Not Allowed
      x-proxy-name: Account Boarding Driver Request
      x-group-name: Account
      x-child-product-name: Accounts
components:
  schemas:
    LinkUnlinkAccountRequest:
      required:
      - organizationNumber
      - status
      type: object
      properties:
        organizationNumber:
          maximum: 998
          minimum: 1
          type: integer
          description: "* Min Length: 1 \n* Max Length: 3 \n\nIdentification number\
            \ of the organization associated with the account. \n\nVisionPLUS:\n\n\
            * Service Data: AZXLBI-ORG\n* Screen: ARQB\n* Page: 01\n* Field: ORGANIZATION"
          format: int32
          example: 978
        status:
          maxLength: 1
          minLength: 1
          pattern: ^(L|U)$
          type: string
          description: 'Linking or Unlinking Request.


            Values:

            * L = Linking Request;

            * U = Unlinking Request.


            VisionPLUS Service Data: AZXLBI-LINK-UNLINK-REQ'
          example: L
        creditAccountNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: 'Credit Account Number.

            * Both of these fields are required in Request for linking: creditAccountNumber
            and revolvingAccountNumber.

            * To unlink Credit Account Number from Sweep Account Number only creditAccountNumber
            field is required.


            VisionPLUS:


            * Service Data: AZXLBI-CREDIT-ACCT-NBR

            * Screen: ARQB

            * Page: 01

            * Field: ACCOUNT'
          example: 0123456789123456789
        rotativoAccountNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: 'Revolving Account Number.

            * Both of these fields are required in Request for linking: creditAccountNumber
            and revolvingAccountNumber.

            * To unlink Credit Account Number from Sweep Account Number only creditAccountNumber
            field is required.


            VisionPLUS:


            * Service Data: AZXLBI-ROTATIVO-ACCT-NBR

            * Screen: ARQB

            * Page: 03

            * Field: SWEEP ACCOUNT'
          example: 0123456789123456789
      description: Link or Unlink Account Request
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    LinkUnlinkAccountResponse:
      type: object
      properties:
        message:
          type: string
          description: "* Max Length: 25 \n\nCustom Message to denote if Linking or\
            \ Unlinking is successful or un-successful.\n\nVisionPLUS Service Data:\
            \ AZXLBO-MESSAGE"
          example: Successful link
    AccountForDetailsL8voRequest:
      required:
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: '* Min Lenght: 1

            * Max Length: 3


            Identification number of the organization associated with the account.


            VisionPLUS:


            * Service Data: AZXAII-ORG

            * Screen: ARQB

            * Page: 01

            * Field: ORGANIZATION'
          format: int32
          example: 998
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: 'Account on the Account Base. One of these fields is required
            in Request (it''s not possible to send both): accountNumber or cardNumber.


            VisionPLUS:


            * Service Data: AZXAII-ACCT

            * Screen: ARQB

            * Page: 01

            * Field: ACCOUNT'
          example: 0123456789123456789
        cardNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: 'Unique identifier or token associated with the card number
            or payment instrument (FirstVision PAN Token).


            One of these fields is required in Request (it''s not possible to send
            both): accountNumber or cardNumber.


            VisionPLUS:


            * Service Data: AZXAII-ACCT

            * Screen: ARQB

            * Page: 01

            * Field: ACCOUNT'
          example: 0123456789123456789
        isForeign:
          maxLength: 1
          minLength: 0
          pattern: ^(\s|0|1)$
          type: string
          description: 'Is provided in the input message so the requesting source
            can specify whether the request applies to the local or foreign account
            when the account is in a dual currency processing organization.


            The default is to the local account.


            Values:

            * Space = Local;

            * 0 = Local;

            * 1 = Foreign.


            VisionPLUS:


            * Service Data: AZXAII-FOREIGN-USE

            * Screen: ARQL

            * Page: 01

            * Field: DUAL'
          example: '1'
    AccountForDetailsL8voResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: '* Max Length: 3


            Organization number.


            VisionPLUS:


            * Service Data: AZXAII-ORG

            * Screen: ARQB

            * Page: 01

            * Field: ORGANIZATION'
          format: int32
          example: 998
        logo:
          type: integer
          description: '* Max Length: 3


            Logo number.


            VisionPLUS:


            * Service Data: AZXAIO-LOGO

            * Screen: ARQB

            * Page: 01

            * Field: LOGO'
          format: int32
          example: 501
        logoDescription:
          type: string
          description: '* Max Length: 40


            Logo description.


            VisionPLUS:


            * Service Data: AZXAIO-LOGO-DESC

            * Screen: AMCR'
          example: Logo Description
        isForeign:
          type: string
          description: 'Is provided in the input message so the requesting source
            can specify whether the request applies to the local or foreign account
            when the account is in a dual currency processing organization.


            The default is to the local account.


            Values:

            * 0 - Local

            * 1 - Foreign

            * Space


            VisionPLUS Service Data: AZXAIO-FOREIGN-USE'
          example: '1'
        currencyCode:
          type: integer
          description: '* Max Length: 3


            Currency Code in ISO 4217.


            VisionPLUS:


            * Service Data: AZXAIO-CURRENCY-CODE

            * Screen: ARQB

            * Page: 01

            * Field: CURRENCY CODE'
          format: int32
          example: 999
        account:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account'
        statement:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Statement'
        billing:
          $ref: '#/components/schemas/Billing'
        transaction:
          $ref: '#/components/schemas/Transaction'
        installment:
          $ref: '#/components/schemas/Installment'
        payment:
          $ref: '#/components/schemas/Payment'
        customer:
          $ref: '#/components/schemas/Customer'
        user:
          $ref: '#/components/schemas/User'
        store:
          $ref: '#/components/schemas/Store'
        secondary:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Secondary.'
        warningCode:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.WarningCode'
    AccountForDetailsL8voResponse.Account:
      type: object
      properties:
        accountNumber:
          type: string
          description: 'Account number.


            VisionPLUS:


            * Service Data: AZXAIO-ACCT

            * Screen: ARQB

            * Page: 01

            * Field: ACCOUNT'
          example: 0123456789123456789
        type:
          type: string
          description: '* Max Length: 1


            Account type.


            VisionPLUS Service Data: AZXAIO-ACCT-TYPE'
          example: A
        condition:
          type: integer
          description: '* Max Length: 1


            Condition of account.


            VisionPLUS Service Data: AZXAIO-COND-OF-ACCT'
          format: int32
          example: 1
        addStatus:
          type: integer
          description: '* Max Length: 2


            Add status.


            VisionPLUS Service Data: AZXAIO-ADD-STATUS'
          format: int32
          example: 12
        lastStatusChangeDate:
          type: string
          description: 'Date (in ISO 8601) last status change.


            VisionPLUS Service Data: AZXAIO-DATE-LAST-STAT-CHG'
          format: date
          example: 2022-12-19
        sourceCode:
          type: string
          description: '* Max Length: 20


            Source Code.


            VisionPLUS:


            * Service Data: AZXAIO-SOURCE-CODE

            * Screen: ARIQ

            * Page: 02

            * Field: SOURCE'
          example: Source Code
        comakerBirthDate:
          type: string
          description: 'Account comaker''s date (in ISO 8601) of birth.


            VisionPLUS Service Data: AZXAIO-COMAKER-DOB'
          format: date
          example: 1989-11-24
        makerBirthDate:
          type: string
          description: 'Account maker''s date (in ISO 8601) of birth.


            VisionPLUS Service Data: AZXAIO-MAKER-DOB'
          format: date
          example: 1991-04-25
        curePeriodExpirationDate:
          type: string
          description: 'Expiration date (in ISO 8601) of the cure period for this
            account.


            VisionPLUS:


            * Service Data: AZXAIO-OL-CURE-DATE

            * Screen: ARIQ

            * Page: 05

            * Field: O/L CURE DATE'
          format: date
          example: 2024-04-25
        reagedDate:
          type: string
          description: ' Date (in ISO 8601) the account was reaged.


            VisionPLUS:


            * Service Data: AZXAIO-DATE-LAST-REAGE

            * Screen: ARQB

            * Page: 02

            * Field: DATE LAST REAGED'
          format: date
          example: 2024-04-25
        openedDate:
          type: string
          description: 'Date (in ISO 8601) opened.


            VisionPLUS:


            * Service Data: AZXAIO-DATE-OPENED

            * Screen: ARQB

            * Page: 01

            * Field: OPNED'
          format: date
          example: 2013-01-13
        closedDate:
          type: string
          description: 'Date (in ISO 8601) account closed.


            VisionPLUS:


            * Service Data: AZXAIO-DATE-CLOSED

            * Screen: ARQB

            * Page: 01

            * Field: CLSED'
          format: date
          example: 2023-01-16
        globalQualification:
          type: string
          description: '* Max Length: 1


            Global Qualification.


            VisionPLUS:


            * Service Data: AZXAIO-GLOBAL-QUALIFICATION

            * Screen: ARQB

            * Page: 07

            * Field: GLOBAL QUAL'
          example: A
        alternateMinimumAmount:
          type: string
          description: '* Max Length: 17


            Alternate Minimum Amount.


            VisionPLUS:


            * Service Data: AZXAIO-ALT-MIN-AMT

            * Screen: ARIQ

            * Page: 04

            * Field: ALT MIN AMT'
          example: '10000'
        affiliateEmblem:
          type: integer
          description: '* Max Length: 5


            Affiliate Emblem.


            VisionPLUS:


            * Service Data: AZXAIO-AFFL-EMBLM

            * Screen: ARQB

            * Page: 03

            * Field: EMBLEM'
          format: int32
          example: 12345
        returnMailCounter:
          type: integer
          description: "* Max Length: 2\n\nReturn mail counter.\n\nVisionPLUS:\n\n\
            * Service Data: AZXAIO-RTN-MAIL-CTR\n* Screen: ARQB\n* Page: 01\n* Field:\
            \ RETURN MAIL (Pos \u2013 Row 17 Col 54)"
          format: int32
          example: 43
        returnMailDate:
          type: string
          description: "Return mail date (in ISO 8601).\n\nVisionPLUS:\n\n* Service\
            \ Data: AZXAIO-RTN-MAIL-DATE\n* Screen: ARQB\n* Page: 01\n* Field: RETURN\
            \ MAIL (Pos \u2013 Row 17 Col 69)"
          format: date
          example: 2023-06-17
        employeeCode:
          type: string
          description: '* Max Length: 2


            Employee code.


            VisionPLUS:


            * Service Data: AZXAIO-EMPLOYEE-CODE

            * Screen: ARQB

            * Page: 01

            * Field: EMPLOYEE CODE'
          example: '34'
        promotionCode:
          type: string
          description: '* Max Length: 20


            Promotion code.


            VisionPLUS Service Data: AZXAIO-PROMO-DATA'
          example: PROMOCODE01
        lastYearToDateInterest:
          type: number
          description: '* Max Length: 17


            Last year-to-date interest.


            VisionPLUS Service Data: AZXAIO-LAST-YTD-INT'
          example: 10000000000000000
        currentYearToDateInterestPaid:
          type: number
          description: '* Max Length: 17


            Current YTD interest paid.


            VisionPLUS Service Data: AZXAIO-CURR-YTD-INT-PAID'
          example: 2827491.26
        disputedItemsAmount:
          type: number
          description: "* Max Length: 17\n\nDisputed items amount.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-AMT-DISPU-ITEMS\n* Screen: ARIQ\n* Page: 01\n\
            * Field: TOT DISP (Pos \u2013 Row 12 Col 26)"
          example: 3873.18
        interestEnrollmentState:
          type: string
          description: "* Max Length: 3\n\nInterest enrollment state.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-INTR-STATE\n* Screen: ARIQ\n* Page: 01\n* Field:\
            \ PCT LEVEL / ID (Pos \u2013 Row 20 Col 49)"
          example: '123'
        internalStatus:
          type: string
          description: '* Max Length: 3


            Internal status.


            VisionPLUS:


            * Service Data: AZXAIO-INT-STATUS

            * Screen: ARQB

            * Page: 01

            * Field: STATUS'
          example: '1'
        officerResponsibleId:
          type: string
          description: '* Max Length: 3


            Code that identifies the officer responsible for the account.


            VisionPLUS:


            * Service Data: AZXAIO-OFFICER-CODE

            * Screen: ARMB

            * Page: 03

            * Field: OFFICER'
          example: A83
        promotionalCreditPlanMasterRecordNumber:
          type: integer
          description: "* Max Length: 5\n\nPromotional Credit Plan Master record number.\n\
            \nVisionPLUS:\n\n* Service Data: AZXAIO-PBT-PROMO-PLAN-NBR\n* Screen:\
            \ ARQB\n* Page: 04\n* Field: DEFAULT CASH / RETAIL / PROMO PLAN (Pos \u2013\
            \ Row 20 Col 60)"
          format: int32
          example: 641
        amountPrepaid:
          type: number
          description: '* Max Length: 17


            Total amount due.


            VisionPLUS:


            * Service Data: AZXAIO-PMT-TOT-AMT-DUE

            * Screen: ARIQ

            * Page: 01

            * Field: TOT AMT DUE'
          example: 583934820.18
        amountReturnsYearToDate:
          type: number
          description: "* Max Length: 17\n\nAmount returns YTD.\n\nVisionPLUS:\n\n\
            * Service Data: AZXAIO-AMT-YTD-RETURNS\n* Screen: ARIQ\n* Page: 03\n*\
            \ Field: YTD (Pos \u2013 Row 17 Col 55)"
          example: 583934820.18
        amountReturnsCycleToDate:
          type: number
          description: "* Max Length: 17\n\nAmount returns CTD.\n\nVisionPLUS:\n\n\
            * Service Data: AZXAIO-AMT-CTD-RETURNS\n* Screen: ARIQ\n* Page: 03\n*\
            \ Field: CTD (Pos \u2013 Row 16 Col 55)"
          example: 583934820.18
        localUseIndicator:
          type: integer
          description: '* Max Length: 1


            Local use indicator.


            VisionPLUS:


            * Service Data: AZXAIO-LOCAL-USE-IND

            * Screen: ARQB

            * Page: 05

            * Field: LOCAL USE'
          format: int32
          example: 7
        secured:
          type: integer
          description: '* Max Length: 1


            Secured.


            VisionPLUS:


            * Service Data: AZXAIO-SECUR

            * Screen: ARQB

            * Page: 07

            * Field: SECURED'
          format: int32
          example: 2
        applicationDate:
          type: string
          description: 'Date (in ISO 8601) of application.


            VisionPLUS:


            * Service Data: AZXAIO-DATE-APPLI

            * Screen: ARQB

            * Page: 01

            * Field: DATES: APPLI'
          format: date
          example: 2023-11-17
        lastActionDate:
          type: string
          description: 'Date (in ISO 8601) of last action.


            VisionPLUS Service Data: AZXAIO-DATE-LAST-ACT'
          format: date
          example: 2023-10-19
        lastReturnDate:
          type: string
          description: 'Date (in ISO 8601) of last action.


            VisionPLUS Service Data: AZXAIO-DATE-LAST-RETURN'
          format: date
          example: 2023-04-29
        lastReturnedCheckDate:
          type: string
          description: 'Date (in ISO 8601) of last returned check.


            VisionPLUS Service Data: AZXAIO-DATE-LAST-RTN-CHECK'
          format: date
          example: 2021-09-13
        lastRateChangeDate:
          type: string
          description: 'Date (in ISO 8601) of last rate change.


            VisionPLUS Service Data: AZXAIO-DATE-LAST-RATE-CHG'
          format: date
          example: 2020-10-21
        lastAuthorizationDate:
          type: string
          description: 'Last date (in ISO 8601) to authorize.


            VisionPLUS:


            * Service Data: AZXAIO-LAST-DATE-TO-AUTH

            * Screen: ARQB

            * Page: 02

            * Field: LAST DATE TO AUTHORIZE'
          format: date
          example: 2021-12-21
        lastMaintenanceDate:
          type: string
          description: 'Last maintenance date (in ISO 8601).


            VisionPLUS:


            * Service Data: AZXAIO-DATE-LAST-MAINT

            * Screen: ARMB

            * Page: 01

            * Field: DATE LAST MAINT'
          format: date
          example: 2020-10-21
        lateFeeDate:
          type: string
          description: 'Late fee date (in ISO 8601).


            VisionPLUS Service Data: AZXAIO-DATE-LATE-FEE'
          format: date
          example: 2020-10-21
        notificationReceivedDate:
          type: string
          description: 'Date (in ISO 8601) notification received.


            VisionPLUS:


            * Service Data: AZXAIO-DATE-NOTIFIC-RECVD

            * Screen: ARQB

            * Page: 01

            * Field: DT NOTIF RECV'
          format: date
          example: 2020-10-21
        graceDayExpirationDate:
          type: string
          description: 'Grace day expiration date (in ISO 8601).


            VisionPLUS:


            * Service Data: AZXAIO-GRACE-DAY-EXPIR-DATE

            * Screen: ARIQ

            * Page: 04

            * Field: GRACE DAY EXP'
          format: date
          example: 2020-10-21
        activationCallQualificationId:
          type: number
          description: '* Max Length: 1


            Activation call qualification indicator.


            VisionPLUS:


            * Service Data: AZXAIO-ACTVN-CALL-QUAL-IND

            * Screen: ARQB

            * Page: 05

            * Field: ACTIVATION CALL QUAL'
          example: 1
        preAgreementLevel:
          type: string
          description: '* Max Length: 1


            Pre Agreement Level.


            VisionPLUS Service Data: AZXAIO-PRE-AGRMNT-LEVEL'
          example: A
        prepaidType:
          type: integer
          description: '* Max Length: 1


            Prepaid type.


            VisionPLUS Service Data: AZXAIO-PREPAID-TYPE'
          format: int32
          example: 1
        membershipFee:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.MembershipFee'
        extendedRetentionPlan:
          type: integer
          description: "* Max Length: 5\n\nExtended Retention Plan.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-EXT-RET-PLAN \n* Screen: ARQB\n* Page: 04\n*\
            \ Field: DEF EXT RET PLAN"
          format: int32
          example: 12345
        extraTerminalBalance:
          type: number
          description: '* Max Length: 13


            Extra terminal balance.


            VisionPLUS:


            * Service Data: AZXAIO-EXTRA-POS-BAL

            * Screen: ARIQ

            * Page: 10

            * Field: EXTRA POS BAL'
          example: 384729.91
        internalIDNumber:
          type: string
          description: '* Max Length: 19


            Internal ID Number.


            VisionPLUS:


            * Service Data: AZXAIO-ID-OUR-NUMBER

            * Screen: AZMB

            * Page: 01

            * Field: ID OUR NUMBER'
          example: '272937492'
        lawInternationalAccrued:
          type: number
          description: '* Max Length: 17


            Law international accrued.


            VisionPLUS Service Data: AZXAIO-TPY-LAW-INT-ACCRUED'
          example: 583934820.18
        lawMoraAccrued:
          type: number
          description: '* Max Length: 17


            Law mora accrued.


            VisionPLUS Service Data: AZXAIO-TPY-LAW-MORA-ACCRUED'
          example: 583934820.18
        disputeItemsNumber:
          type: integer
          description: "* Max Length: 5\n\nDispute items number.\n\nVisionPLUS:\n\n\
            * Service Data: AZXAIO-NBR-DISPU-ITEMS\n* Screen: ARIQ\n* Page: 01\n*\
            \ Field: TOT DISP (Pos \u2013 Row 12 Col 14)"
          format: int32
          example: 12345
        authorizationLimitOverrideIndicator:
          type: integer
          description: '* Max Length: 1


            Authorization limit override flag.


            VisionPLUS:


            * Service Data: AZXAIO-AUTH-LIMIT-OVRRD-FLAG

            * Screen: ARMB

            * Page: 07

            * Field: AUTH LIMITS OVERRIDES'
          format: int32
          example: 1
        limitChangeOption:
          type: string
          description: '* Max Length: 1


            Limit change option.


            VisionPLUS:


            * Service Data: AZXAIO-LIMIT-CHANGE-OPT

            * Screen: AZMB

            * Page: 21

            * Field: LIMIT CHANGE OPT'
          example: '1'
        authorizationControl:
          type: integer
          description: '* Max Length: 4


            Authorization control.


            VisionPLUS:


            * Service Data: AZXAIO-IB-AUTH-CTRL

            * Screen: AZMB

            * Page: 21

            * Field: IB AUTH CONTROL'
          format: int32
          example: 1234
        debitsLetterDischarge:
          type: integer
          description: '* Max Length: 1


            Discharge of debits letter.


            VisionPLUS:


            * Service Data: AZXAIO-ANN-DIS-DEBTS-LTR

            * Screen: AZMB

            * Page: 21

            * Field: DOD LTR'
          format: int32
          example: 1
        cycleDueLastMaintenanceDate:
          type: string
          description: 'Cycle Due last maintenance date (in ISO 8601).


            VisionPLUS Service Data: AZXAIO-CYC-DUE-LAST-MAINT-DT'
          format: date
          example: 2020-10-21
        controlOverride:
          type: integer
          description: '* Max Length: 3


            Account control table override.


            VisionPLUS Service Data: AZXAIO-CTL-TBL-OVRRD'
          format: int32
          example: 123
        ownerIndicator:
          type: string
          description: '* Max Length: 1


            Owner Indicator.


            VisionPLUS:


            * Service Data: AZXAIO-OWNER-FLAG

            * Screen: ARQB

            * Page: 01

            * Field: OWNERG'
          example: '1'
        lastCreditClass:
          type: string
          description: '* Max Length: 2


            Last credit class.


            VisionPLUS:


            * Service Data: AZXAIO-LAST-CR-CLASS

            * Screen: ARIQ

            * Page: 05

            * Field: LST CR CLASS'
          example: '34'
        nonSufficientFundsNumber:
          type: integer
          description: '* Max Length: 3


            Non sufficient funds number.


            VisionPLUS:


            * Service Data: AZXAIO-NBR-NSF

            * Screen: ARIQ

            * Page: 05

            * Field: NBR NSF PMTS'
          format: int32
          example: 123
        availableCredit:
          type: number
          description: '* Max Length: 17


            Available credit without overlimit.


            VisionPLUS:


            * Service Data: AZXAIO-AVAIL-CREDIT

            * Screen: ARIQ

            * Page: 01

            * Field: O-T-B'
          example: 583934820.18
        issuanceId:
          type: string
          description: '* Max Length: 3


            Issuance ID.


            VisionPLUS:


            * Service Data: AZXAIO-STATE-OF-ISSUE

            * Screen: ARQB

            * Page: 03

            * Field: BANKCARD'
          example: '34'
        issueIndicator:
          type: string
          description: '* Max Length: 1


            Issue indicator.


            VisionPLUS:


            * Service Data: AZXAIO-ISSUE-FLAG

            * Screen: ARQE

            * Page: 02

            * Field: ACTION'
          example: '2'
        creditBureau:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.CreditBureau'
        sweep:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Sweep'
        creditLimit:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.CreditLimit'
        buyRate:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.BuyRate'
        sellRate:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.SellRate'
        cash:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Cash'
        retail:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Retail'
        delinquency:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Delinquency'
        balance:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Balance'
        store:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Store'
        bank:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Bank'
        branch:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Branch'
        internet:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Internet'
        overlimit:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Overlimit'
        blackListControl:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.BlackListControl'
        checking:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Checking'
        saving:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Saving'
        creditScore:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.CreditScore'
        relationship:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Relationship'
        card:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Card'
        loan:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Loan'
        blockCode:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.BlockCode'
        maximumAuthorizationsAmount:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.MaximumAuthorizationsAmount'
        chargeOff:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.ChargeOff'
        processingControl:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.ProcessingControl'
        transfer:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Transfer'
        serviceFee:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.ServiceFee'
        waive:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Waive'
        adverseAction:
          type: array
          description: "* Max Length: 2\n\nAdverse action data.\n\nVisionPLUS:\n\n\
            * Service Data: AZXAIO-ADVERSE-ACTN-1/AZXAIO-ADVERSE-ACTN-2/AZXAIO-ADVERSE-ACTN-3\n\
            * Screen: ARIQ\n* Page: 07\n* Field: ADVERSE ACTIONS DATA (Pos \u2013\
            \ Row 10 Col 28)/ADVERSE ACTIONS DATA (Pos \u2013 Row 10 Col 36)/ADVERSE\
            \ ACTIONS DATA (Pos \u2013 Row 10 Col 43)"
          example: 0
          items:
            $ref: '#/components/schemas/ItemResponseNullableString'
        international:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.International'
        wallets:
          type: array
          items:
            $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Wallet'
        frequentShoppers:
          type: array
          items:
            $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.FrequentShopper'
        singleMessageSystem:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.SingleMessageSystem'
        event:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Event'
        ach:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.ACH'
        cycleToDateHiBalance:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.CycleToDateHiBalance'
        reserved:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Reserved'
    AccountForDetailsL8voResponse.Account.ACH:
      type: object
      properties:
        effectiveDate:
          type: string
          description: 'Date (in ISO 8601) ACH effective.


            VisionPLUS Service Data: AZXAIO-DATE-ACH-EFF'
          format: date
          example: 2021-10-21
        paymentExpirationDate:
          type: string
          description: 'Expiration date(in ISO 8601) of ACH payment.


            VisionPLUS:


            * Service Data: AZXAIO-DATE-ACH-PMT-EXPR

            * Screen: ARQB

            * Page: 06

            * Field: DD PAYMENT EXPIRE DATE'
          format: date
          example: 2021-10-21
        directCreditExpirationDate:
          type: string
          description: 'Direct credit ACH expiration date (in ISO 8601).


            VisionPLUS:


            * Service Data: AZXAIO-DC-ACH-EXPIRE-DATE

            * Screen: ARQB

            * Page: 06

            * Field: DC EXPIRE DATE'
          format: date
          example: 2021-10-21
        directCreditStartDate:
          type: string
          description: 'Direct credit ACH start date (in ISO 8601).


            VisionPLUS:


            * Service Data: AZXAIO-DC-ACH-START-DATE

            * Screen: ARQB

            * Page: 06

            * Field: DC START DATE'
          format: date
          example: 2021-10-21
        projectedAmount:
          type: number
          description: '* Max Length: 17


            Projected ACH amount.


            VisionPLUS:


            * Service Data: AZXAIO-PROJ-ACH-PMT

            * Screen: ARMB

            * Page: 06

            * Field: PROJECTED DD'
          example: 583934820.18
        monetaryAmountOrPercentIndicator:
          type: integer
          description: '* Max Length: 1


            Monetary ACH or percent flag.


            VisionPLUS:


            * Service Data: AZXAIO-NOM-ACH-AMT-PCT-FL

            * Screen: ARQB

            * Page: 06

            * Field: DD NOM AMT/%'
          format: int32
          example: 1
    AccountForDetailsL8voResponse.Account.Balance:
      type: object
      properties:
        current:
          type: number
          description: '* Max Length: 17


            Current balance.


            VisionPLUS:


            * Service Data: AZXAIO-CURR-BAL

            * Screen: ARIQ

            * Page: 01

            * Field: CURR BAL'
          example: 583934820.18
        beginning:
          type: number
          description: '* Max Length: 17


            Beginning balance.


            VisionPLUS:


            * Service Data: AZXAIO-BEG-BAL

            * Screen: ARIQ

            * Page: 01

            * Field: BEG BAL'
          example: 583934820.18
        currentInternationalMora:
          type: number
          description: '* Max Length: 17


            Current balance international mora.


            VisionPLUS:


            * Service Data: AZXAIO-CURR-BAL-INT-MORA

            * Screen: AZIQ

            * Page: 21

            * Field: CURR BAL (+MORA +INT)'
          example: 583934820.18
        billed:
          type: number
          description: '* Max Length: 17


            Billed balance.


            VisionPLUS:


            * Service Data: AZXAIO-BILLED-BAL

            * Screen: ARIQ

            * Page: 10

            * Field: BILLED BAL'
          example: 583934820.18
        outstandingExtra:
          type: number
          description: '* Max Length: 17


            Outstanding extra balance.


            VisionPLUS:


            * Service Data:AZXAIO-OUTSTANDING-EXTRA-BAL

            * Screen: ARIQ

            * Page: 10

            * Field: OUT EXTRA BAL'
          example: 583934820.18
        foreign:
          type: number
          description: '* Max Length: 17


            Foreign balance.


            VisionPLUS:


            * Service Data: AZXAIO-FOREIGN-BALANCE

            * Screen: AZIQ

            * Page: 22

            * Field: FOREIGN BAL'
          example: 583934820.18
        foreignAuthorization:
          type: number
          description: "* Max Length: 13\n\nForeign authorization balance.\n\nVisionPLUS:\n\
            * Service Data: AZXAIO-FGN-AUTH-BSTOL \n* Screen: ARIQ\n* Page: 02\n*\
            \ Field: ARIQ02 - FGN AUTH RET/CASH/BSOL (Pos \u2013 Row 19 Col 62)"
          example: 583934820.18
        memoAmount:
          type: number
          description: '* Max Length: 17


            Amount memo balance.


            VisionPLUS Service Data: AZXAIO-AMT-MEMO-BAL'
          example: 583934820.18
    AccountForDetailsL8voResponse.Account.Bank:
      type: object
      properties:
        owningNumber:
          type: integer
          description: '* Max Length: 5


            Owning bank number.


            VisionPLUS:


            * Service Data: AZXAIO-OWNING-BANK-NBR

            * Screen: ARQB

            * Page: 07

            * Field: OWNING BANK'
          format: int32
          example: 12345
        pendingNumber:
          type: integer
          description: "* Max Length: 5\n\nPending bank number.\n\nVisionPLUS:\n\n\
            * Service Data: AZXAIO-PEND-BANK-NBR\n* Screen: ARQB\n* Page: 07\n* Field:\
            \ PENDING BANK (Pos \u2013 Row 22 Col 34)"
          format: int32
          example: 12345
        originalNumber:
          type: integer
          description: "* Max Length: 5\n\nOriginal bank number.\n\nVisionPLUS:\n\n\
            * Service Data: AZXAIO-ORIG-BANK-NBR\n* Screen: ARQB\n* Page: 07\n* Field:\
            \ ORIG BANK (Pos \u2013 Row 20 Col 34)"
          format: int32
          example: 12345
    AccountForDetailsL8voResponse.Account.BlackListControl:
      type: object
      properties:
        date:
          type: string
          description: 'Black list control date (in ISO 8601).


            VisionPLUS:


            * Service Data: AZXAIO-SERASA-DATE-CONTROL

            * Screen: AZMB

            * Page: 01

            * Field: SERASA CONTROL'
          format: date
          example: 2022-10-21
        details:
          type: string
          description: '* Max Length: 2


            Black list control.


            VisionPLUS Service Data: AZXAIO-SERASA-CONTROL'
          example: '0'
        indicator:
          type: string
          description: "* Max Length: 1\n\nBlack list indicator.\n\nVisionPLUS:\n\n\
            * Service Data: AZXAIO-BLACKLST-MARK \n* Screen: AZIQ\n* Page: 21\n* Field:\
            \ BLACKLIST MARK"
          example: '0'
    AccountForDetailsL8voResponse.Account.BlockCode:
      type: object
      properties:
        code:
          type: array
          description: '* Max Length: 1


            Block code value.


            VisionPLUS:


            * Service Data: AZXAIO-BLOCK-CODE-1/AZXAIO-BLOCK-CODE-2

            * Screen: ARQB

            * Page: 01

            * Field: BLK CODE 1/BLK CODE 2'
          example: 0
          items:
            $ref: '#/components/schemas/ItemResponseNullableString'
        priority:
          type: array
          description: '* Max Length: 2


            Priority level used to control assignment of block code priority.


            VisionPLUS Service Data: AZXAIO-BLOCK-CODE-1-PRIORITY / AZXAIO-BLOCK-CODE-2-PRIORITY'
          example: 0
          items:
            $ref: '#/components/schemas/ItemResponseNullableString'
        date:
          type: array
          description: 'Block code date (in ISO 8601).


            VisionPLUS:


            * Service Data: AZXAIO-DATE-BLOCK-CODE-1/ AZXAIO-DATE-BLOCK-CODE-2

            * Screen: ARQB

            * Page: 01

            * Field: BLOCK DATE 1/ BLOCK DATE 2'
          example: 2027-10-21
          items:
            $ref: '#/components/schemas/ItemResponseNullableLocalDate'
    AccountForDetailsL8voResponse.Account.Branch:
      type: object
      properties:
        owningNumber:
          type: integer
          description: "* Max Length: 9\n\nOwning branch number.\n\nVisionPLUS:\n\n\
            * Service Data: AZXAIO-OWNING-BRANCH-NBR\n* Screen: ARQB\n* Page: 07\n\
            * Field: BRANCH STORE (Pos \u2013 Row 21 Col 44)"
          format: int32
          example: 123456789
        pendingNumber:
          type: integer
          description: "* Max Length: 9\n\nPending branch number.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-PEND-BRANCH-NBR\n* Screen: ARQB\n* Page: 07\n\
            * Field: BRANCH (Pos \u2013 Row 22 Col 44)"
          format: int32
          example: 123456789
        originalNumber:
          type: integer
          description: "* Max Length: 9\n\nOriginal branch number.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-ORIG-BRANCH-NBR\n* Screen: ARQB\n* Page: 07\n\
            * Field: BRANCH (Pos \u2013 Row 20 Col 44)"
          format: int32
          example: 123456789
    AccountForDetailsL8voResponse.Account.BuyRate:
      type: object
      properties:
        value:
          type: number
          description: '* Max Length: 15


            Buy Rate.


            VisionPLUS:


            * Service Data: AZXAIO-BUY-RATE

            * Screen: SMRT'
          example: 583934820.18
        decimalNumbers:
          type: integer
          description: '* Max Length: 1


            Buy Rate Number of Decimals.


            VisionPLUS:


            * Service Data: AZXAIO-BUY-RATE-NOD

            * Screen: SMRT'
          format: int32
          example: 2
    AccountForDetailsL8voResponse.Account.Card:
      type: object
      properties:
        usageIndicator:
          type: string
          description: '* Max Length: 1


            Card usage indicator.


            VisionPLUS:


            * Service Data: AZXAIO-CARD-USAGE-FLAG

            * Screen: ARIQ

            * Page: 05

            * Field: USAGE'
          example: '0'
        lastExpirationDate:
          type: string
          description: 'Date (in ISO 8601) on which the last card on the account expires.


            VisionPLUS:


            * Service Data: AZXAIO-LEAST-CARD-EXP-DATE

            * Screen: ARIQ

            * Page: 04

            * Field: LST CARD EXT'
          format: date
          example: 2030-10-21
        expirationDate:
          type: string
          description: 'Date of card expiration (in ISO 8601).


            VisionPLUS:


            * Service Data: AZXAIO-DATE-CARD-EXPR

            * Screen: ARQB

            * Page: 01

            * Field: CRD EXP'
          format: date
          example: 2030-10-21
        greatestExpirationDate:
          type: string
          description: 'Greatest card expiration date (in ISO 8601).


            VisionPLUS:


            * Service Data: AZXAIO-GRTST-CARD-EXP-DATE

            * Screen: ARQB

            * Page: 01

            * Field: GREATEST EXP DATE'
          format: date
          example: 2027-10-21
        feeDate:
          type: string
          description: 'Card fee date (in ISO 8601).


            VisionPLUS:


            * Service Data: AZXAIO-DATE-CARD-FEE

            * Screen: ARQB

            * Page: 01

            * Field: CARD FEE DATE'
          format: date
          example: 2027-10-21
        unblockedNumber:
          type: integer
          description: '* Max Length: 5


            Number of unblocked cards.


            VisionPLUS:


            * Service Data: AZXAIO-NBR-UNBLKED-CARDS

            * Screen: ARQB

            * Page: 01

            * Field: NBR UNBK'
          format: int32
          example: 12345
        currentTechnology:
          type: integer
          description: '* Max Length: 1


            Current card technology.


            VisionPLUS:


            * Service Data: AZXAIO-CARD-TECHNOLOGY

            * Screen: ARQB

            * Page: 05

            * Field: CARD TECH'
          format: int32
          example: 1
        reissueTechnology:
          type: integer
          description: '* Max Length: 1


            Reissue Technology.


            VisionPLUS:


            * Service Data: AZXAIO-REISSUE-TECH

            * Screen: ARQB

            * Page: 05

            * Field: REISSUE TECH'
          format: int32
          example: 1
        maxDirectDebitAmount:
          type: number
          description: '* Max Length: 13


            Max direct debit amount.


            VisionPLUS:

            * Service Data: AZXAIO-MAX-DD-AMT

            * Screen: ARQB

            * Page: 06

            * Field: DD MAX AMOUNT'
          example: 583934820.18
        feeOverride:
          type: integer
          description: '* Max Length: 13


            Max direct debit amount.


            VisionPLUS:


            * Service Data: AZXAIO-FEE-MTH-ORIDE

            * Screen: ARQB

            * Page: 07

            * Field: FEE MTH OVRD'
          format: int32
          example: 14
        supplemental:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Card.Supplemental'
        firstActivation:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Card.FirstActivation'
        debit:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Card.Debit'
        credit:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Card.Credit'
    AccountForDetailsL8voResponse.Account.Card.Credit:
      type: object
      properties:
        lastCreditDate:
          type: string
          description: 'Date (in ISO 8601) of last credit.


            VisionPLUS Service Data: AZXAIO-DATE-LAST-CR'
          format: date
          example: 2027-10-21
        lastCreditBalanceDate:
          type: string
          description: 'Date (in ISO 8601) of last credit balance.


            VisionPLUS Service Data: AZXAIO-DATE-CR-BAL'
          format: date
          example: 2027-10-21
        number:
          type: integer
          description: "* Max Length: 5\n\nCredits number.\n\nVisionPLUS:\n\n* Service\
            \ Data: AZXAIO-CTD-NBR-CR\n* Screen: ARIQ\n* Page: 01\n* Field: CYC CR\
            \ (Pos \u2013 Row 17 Col 51)"
          format: int32
          example: 12345
        amount:
          type: number
          description: "* Max Length: 17\n\nCredits amount.\n\nVisionPLUS:\n\n* Service\
            \ Data: AZXAIO-CTD-AMT-CR\n* Screen: ARIQ\n* Page: 01\n* Field: CYC CR\
            \ (Pos \u2013 Row 17 Col 58)"
          example: 583934820.18
        memoNumber:
          type: integer
          description: '* Max Length: 3


            Number of memo credits.


            VisionPLUS Service Data: AZXAIO-NBR-MEMO-CR'
          format: int32
          example: 123
        memoAmount:
          type: number
          description: '* Max Length: 17


            Memo credit amount.


            VisionPLUS:


            * Service Data: AZXAIO-AMT-MEMO-CR

            * Screen: ARIQ

            * Page: 01

            * Field: MEMO:CR'
          example: 583934820.18
        creditLimit:
          type: number
          description: '* Max Length: 17


            Credit limit.


            VisionPLUS:


            * Service Data: AZXAIO-CRLIM

            * Screen: ARQB

            * Page: 01

            * Field: CREDIT LMT'
          example: 583934820.18
    AccountForDetailsL8voResponse.Account.Card.Debit:
      type: object
      properties:
        number:
          type: integer
          description: "* Max Length: 5\n\nDebits number.\n\nVisionPLUS:\n\n* Service\
            \ Data: AZXAIO-CTD-NBR-DB\n* Screen: ARIQ\n* Page: 01\n* Field: CYC DB\
            \ (Pos \u2013 Row 16 Col 51)"
          format: int32
          example: 12345
        amount:
          type: number
          description: "* Max Length: 17\n\nDebits amount.\n\nVisionPLUS:\n\n* Service\
            \ Data: AZXAIO-CTD-AMT-DB\n* Screen: ARIQ\n* Page: 01\n* Field: CYC DB\
            \ (Pos \u2013 Row 16 Col 58)"
          example: 583934820.18
        memoNumber:
          type: integer
          description: '* Max Length: 3


            Number of memo debits.


            VisionPLUS Service Data: AZXAIO-NBR-MEMO-DB'
          format: int32
          example: 123
        memoAmount:
          type: number
          description: '* Max Length: 17


            Memo debit amount.


            VisionPLUS:


            * Service Data: AZXAIO-AMT-MEMO-DB

            * Screen: ARIQ

            * Page: 01

            * Field: MEMO:DB'
          example: 583934820.18
        lastAmount:
          type: number
          description: '* Max Length: 17


            Amount of last debit.


            VisionPLUS Service Data: AZXAIO-AMT-LAST-DB'
          example: 583934820.18
        lastDate:
          type: string
          description: 'Date (in ISO 8601) of last debit.


            VisionPLUS Service Data: AZXAIO-DATE-LAST-DB'
          format: date
          example: 2027-10-21
    AccountForDetailsL8voResponse.Account.Card.FirstActivation:
      type: object
      properties:
        indicator:
          type: integer
          description: "* Max Length: 1\n\nFirst card activation indicator.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-FIRST-CRD-ACT-IND\n* Screen: ARIQ\n* Page: 04\n\
            * Field: FIRST CRD ACT IND/DTE (Pos \u2013 Row 15 Col 66)"
          format: int32
          example: 1
        date:
          type: string
          description: "First card activation date (in ISO 8601).\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-FIRST-CRD-ACT-DTE\n* Screen: ARIQ\n* Page: 04\n\
            * Field: FIRST CRD ACT IND/DTE (Pos \u2013 Row 15 Col 68)"
          format: date
          example: 2027-10-21
    AccountForDetailsL8voResponse.Account.Card.Supplemental:
      type: object
      properties:
        lastMembershipFeeAmount:
          type: number
          description: '* Max Length: 17


            Last supplemental cash membership amount.


            VisionPLUS:


            * Service Data: AZXAIO-LAST-SUPP-MEM-FEE-AMT

            * Screen: ARIQ

            * Page: 04

            * Field: SUPP MEM FEE AMT'
          example: 583934820.18
        feeDate:
          type: string
          description: 'Supplemental card fee date (in ISO 8601).


            VisionPLUS:


            * Service Data: AZXAIO-SUPP-CARD-FEE-DATE

            * Screen: ARIQ

            * Page: 10

            * Field: SUPPLEMENTARY FEE DATE'
          format: date
          example: 2027-10-21
    AccountForDetailsL8voResponse.Account.Cash:
      type: object
      properties:
        limit:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Cash.Limit'
        planNumber:
          type: integer
          description: "* Max Length: 5\n\nCash plan number.\n\nVisionPLUS:\n\n* Service\
            \ Data: AZXAIO-CASH-PLAN-NBR\n* Screen: ARQB\n* Page: 04\n* Field: DEFAULT\
            \ CASH / RETAIL / PROMO PLAN (Pos \u2013 Row 20 Col 40)"
          format: int32
          example: 12345
        availableCreditLimit:
          type: number
          description: '* Max Length: 17


            Cash available credit limit.


            VisionPLUS:


            * Service Data: AZXAIO-CASH-AVAIL-CREDIT

            * Screen: ARIQ

            * Page: 01

            * Field: CASH AVAIL'
          example: 583934820.18
        creditLimit:
          type: number
          description: '* Max Length: 17


            Cash credit limit.


            VisionPLUS:


            * Service Data: AZXAIO-CASH-CRLIM

            * Screen: ARIQ

            * Page: 01

            * Field: CASH CL'
          example: 583934820.18
        balance:
          type: number
          description: '* Max Length: 17


            Cash balance.


            VisionPLUS:


            * Service Data: AZXAIO-CASH-BALANCE

            * Screen: ARIQ

            * Page: 01

            * Field: CASH BAL'
          example: 583934820.18
        outstandingAuthorizations:
          type: number
          description: "* Max Length: 17\n\nCash outstanding authorizations.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-CASH-AMT-OUTST-AUTH \n* Screen: ARIQ\n* Page:\
            \ 01\n* Field: CSH AUTH"
          example: 583934820.18
        foreignAuthorization:
          type: number
          description: "* Max Length: 13\n\nCash foreign authorizations.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-FGN-AUTH-CASH\n* Screen: ARIQ\n* Page: 02\n*\
            \ Field: FGN AUTH RET/CASH/BSOL (Pos \u2013 Row 19 Col 43)"
          example: 583934820.18
        internationalCreditLimit:
          type: number
          description: '* Max Length: 13


            Cash credit limit.


            VisionPLUS:


            * Service Data: AZXAIO-INTL-CASH-CRLIM

            * Screen: AZIQ

            * Page: 22

            * Field: INTL CASH CRLIM'
          example: 583934820.18
        internationalAvailableCredit:
          type: number
          description: '* Max Length: 13


            Cash available credit.


            VisionPLUS:


            * Service Data: AZXAIO-INTL-CASH-AVAIL-CREDIT

            * Screen: AZIQ

            * Page: 22

            * Field: INTL CASH AVAIL'
          example: 583934820.18
        openToBuy:
          type: number
          description: '* Max Length: 17


            Cash open to buy excluding over limit.


            VisionPLUS Service Data: AZXAIO-CASH-OTB-EXCL-OVLM'
          example: 583934820.18
    AccountForDetailsL8voResponse.Account.Cash.Limit:
      type: object
      properties:
        controlSwitch:
          maxLength: 1
          minLength: 1
          type: string
          description: '* Max Length: 1


            This switch is introduced at account level. Thru this switch it will decide
            to override cash advance functionality at account Level.


            VisionPLUS:


            * Service Data: AZXAIO-CASH-CTRL-LIMIT-SW

            * Screen: AZMB

            * Page: 22

            * Field: CASH LIMIT CONTROL FLAG'
          example: '0'
        controlFlag:
          maxLength: 1
          minLength: 1
          type: string
          description: '* Max Length: 1


            This switch is introduced at account level. Thru this switch it will decide
            to override cash advance functionality at account Level.


            VisionPLUS:


            * Service Data: AZXAIO-CASH-CTRL-LIMIT-SW

            * Screen: AZMB

            * Page: 22

            * Field: CASH LIMIT CONTROL FLAG'
          example: '0'
        amount:
          type: number
          description: '* Max Length: 17


            This field is used if Cash limit control flag is A(Amount). Then there
            would be value and user can withdraw cash as per this field.


            VisionPLUS:


            * Service Data: AZXAIO-CASH-AVAIL-CR-AMT

            * Screen: AZMB

            * Page: 22

            * Field: CASH LMT AMT'
          example: 583934820.18
        percentage:
          type: number
          description: '* Max Length: 7


            This field is used if cash limit control flag is set as P(percentage).
            Then cash advance limit depends upon percentage.


            VisionPLUS:


            * Service Data: AZXAIO-CASH-AVAIL-CR-PERCENT

            * Screen: AZMB

            * Page: 22

            * Field: CASH LMT %'
          example: 0
    AccountForDetailsL8voResponse.Account.ChargeOff:
      type: object
      properties:
        date:
          type: string
          description: "Charge-off date (in ISO 8601).\n\nVisionPLUS:\n\n* Service\
            \ Data: AZXAIO-DATE-CGOFF\n* Screen: ARIQ\n* Page: 05\n* Field: C/O (Pos\
            \ \u2013 Row 20 Col 32)"
          format: date
          example: 2027-10-21
        reason:
          type: string
          description: '* Max Length: 2


            Charge-off reason.


            VisionPLUS:


            * Service Data: AZXAIO-CHGOFF-REASON

            * Screen: ARQB

            * Page: 01

            * Field: RSN'
          example: '0'
        status:
          type: string
          description: '* Max Length: 1


            Charge-off status.


            VisionPLUS:


            * Service Data: AZXAIO-CHGOFF-STATUS

            * Screen: ARQB

            * Page: 01

            * Field: C/O STAT'
          example: '0'
    AccountForDetailsL8voResponse.Account.Checking:
      type: object
      properties:
        accountNumber:
          type: string
          description: '* Max Length: 19


            Checking account number.


            VisionPLUS:


            * Service Data: AZXAIO-CHK-ACCT

            * Screen: ARMB

            * Page: 05

            * Field: CHECKING ACCOUNT NUMBER'
          example: 0123456789123456789
        accountRoutingNumber:
          type: string
          description: '* Max Length: 10


            Checking account routing number.


            VisionPLUS:


            * Service Data: AZXAIO-CHK-ACCT-ROUT

            * Screen: ARMB

            * Page: 05

            * Field: CHECKING ROUTING NUMBER'
          example: 0123456789
    AccountForDetailsL8voResponse.Account.CreditBureau:
      type: object
      properties:
        specialComment:
          type: string
          description: '* Max Length: 2


            Credit bureau special comment.


            VisionPLUS:


            * Service Data: AZXAIO-CB-SPEC-COMMENT

            * Screen: ARQB

            * Page: 05

            * Field: CB SPEC COMMENT'
          example: '2'
        lastReportDate:
          type: string
          description: 'Last report date (in ISO 8601).


            VisionPLUS:


            * Service Data: AZXAIO-DATE-BUREAU

            * Screen: ARQB

            * Page: 02

            * Field: CR BUREAU DT'
          format: date
          example: 2020-10-21
        nextReportDate:
          type: string
          description: 'Next report date (in ISO 8601).


            VisionPLUS Service Data: AZXAIO-DATE-NEXT-CB'
          format: date
          example: 2024-10-21
    AccountForDetailsL8voResponse.Account.CreditLimit:
      type: object
      properties:
        relationship:
          type: number
          description: '* Max Length: 17


            Relationship credit limit.


            VisionPLUS Service Data: AZXAIO-REL-CR-LIMIT'
          example: 583934820.18
        assignedDate:
          type: string
          description: 'Assigned date (in ISO 8601).


            VisionPLUS:


            * Service Data: AZXAIO-DATE-CRLIM

            * Screen: ARIQ

            * Page: 01

            * Field: CR LIMIT DT'
          format: date
          example: 2024-10-21
        temporaryCreditLimit:
          type: number
          description: '* Max Length: 17


            Temporary credit limit.


            VisionPLUS:


            * Service Data: AZXAIO-TEMP-CRLIM

            * Screen: ARQB

            * Page: 06

            * Field: TEMP CREDIT LINE'
          example: 583934820.18
        temporaryCreditLimitExpirationDate:
          type: string
          description: 'Temporary credit limit expiration date (in ISO 8601).


            VisionPLUS:


            * Service Data:

            * Screen: ARQB

            * Page: 06

            * Field: EXPIRES'
          format: date
          example: 2024-10-21
        foreignCreditLimit:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.CreditLimit.ForeignCreditLimit'
        lastCreditLimit:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.CreditLimit.LastCreditLimit'
    AccountForDetailsL8voResponse.Account.CreditLimit.ForeignCreditLimit:
      type: object
      properties:
        value:
          type: number
          description: '* Max Length: 17


            Foreign credit limit.


            VisionPLUS Service Data: AZXAIO-CRLIM-FGN'
          example: 583934820.18
        temporary:
          type: number
          description: '* Max Length: 17


            Temporary foreign credit limit.


            VisionPLUS Service Data: AZXAIO-TEMP-CRLIM-FGN'
          example: 583934820.18
        last:
          type: number
          description: '* Max Length: 17


            Temporary foreign credit limit.


            VisionPLUS Service Data: AZXAIO-LAST-CRLIM-FGN'
          example: 583934820.18
    AccountForDetailsL8voResponse.Account.CreditLimit.LastCreditLimit:
      type: object
      properties:
        changeDate:
          type: string
          description: 'Temporary credit limit expiration date (in ISO 8601).


            VisionPLUS:


            * Service Data: AZXAIO-DATE-LAST-CRLIM

            * Screen: ARIQ

            * Page: 04

            * Field: DATE LAST CR LMT'
          format: date
          example: 2024-10-21
        assigned:
          type: number
          description: 'Last credit limit assigned to the account.


            VisionPLUS:


            * Service Data: AZXAIO-LAST-CRLIM

            * Screen: ARIQ

            * Page: 04

            * Field: LAST CR LMT'
          example: 583934820.18
    AccountForDetailsL8voResponse.Account.CreditScore:
      type: object
      properties:
        creditBureau:
          type: integer
          description: '* Max Length: 5


            Credit bureau credit score.


            VisionPLUS:


            * Service Data: AZXAIO-CB-CR-SCORE

            * Screen: ARQB

            * Page: 02

            * Field: BUREAU SCR'
          format: int32
          example: 12345
        application:
          type: integer
          description: '* Max Length: 5


            Application credit score.


            VisionPLUS:


            * Service Data: AZXAIO-APPL-CR-SCORE

            * Screen: ARQB

            * Page: 02

            * Field: IN-HOUSE SCR'
          format: int32
          example: 12345
        miscellaneous:
          type: integer
          description: '* Max Length: 5


            Miscellaneous credit score.


            VisionPLUS:


            * Service Data: AZXAIO-MISC-CR-SCORE

            * Screen: ARQB

            * Page: 02

            * Field: MISC SCR'
          format: int32
          example: 12345
    AccountForDetailsL8voResponse.Account.CycleToDateHiBalance:
      type: object
      properties:
        foreign:
          type: number
          description: '* Max Length: 13


            Foreign Cycle to Date Hi Balance.


            VisionPLUS:


            * Service Data: AZXAIO-FGN-CTD-HI-BSTOL

            * Screen: ARIQ

            * Page: 10

            * Field: FGN CTD HI BSTOL'
          example: 1234567890123
        location:
          type: number
          description: '* Max Length: 13


            Location Cycle to Date Hi Balance.


            VisionPLUS:


            * Service Data: AZXAIO-LOC-CTD-HI-BSTOL

            * Screen: ARIQ

            * Page: 10

            * Field: LOC CTD HI BSTOL'
          example: 1234567890123
    AccountForDetailsL8voResponse.Account.Delinquency:
      type: object
      properties:
        days:
          type: integer
          description: '* Max Length: 5


            Delinquency days.


            VisionPLUS:


            * Service Data: AZXAIO-COLL-DAYS-DELQ

            * Screen: ARIQ

            * Page: 05

            * Field: CDAYS'
          format: int32
          example: 12345
        daysDelinquent:
          type: integer
          description: '* Max Length: 3


            Days delinquent.


            VisionPLUS:


            * Service Data: AZXAIO-PMT-DAYS-DELQ

            * Screen: ARQB

            * Page: 05

            * Field: DAYS'
          format: int32
          example: 123
        lastDelinquencyDate:
          type: string
          description: 'Date (in ISO 8601) of last delinquency.


            VisionPLUS:


            * Service Data: AZXAIO-DATE-LAST-DELQ

            * Screen: ARIQ

            * Page: 05

            * Field: DELQ DT'
          format: date
          example: 2022-10-21
        paymentPastDue:
          type: number
          description: "* Max Length: 17\n\nPayment past due.\n\nVisionPLUS:\n\n*\
            \ Service Data: AZXAIO-PMT-PAST-DUE\n* Screen: AZIQ\n* Page: 21\n* Field:\
            \ XDAYS (Pos \u2013 Row 05 Col 58)"
          example: 583934820.18
        currentPaymentDue:
          type: number
          description: '* Max Length: 17


            Current payment due.


            VisionPLUS:


            * Service Data: AZXAIO-PMT-CURR-DUE

            * Screen: AZIQ

            * Page: 21

            * Field: C-PR'
          example: 583934820.18
        pastPaymentCounter:
          type: integer
          description: "* Max Length: 3\n\nPast payment counter.\n\nVisionPLUS:\n\n\
            * Service Data: AZXAIO-PMT-PAST-CTR\n* Screen: ARIQ\n* Page: 05\n* Field:\
            \ XDAYS (Pos \u2013 Row 07 Col 33)"
          format: int32
          example: 123
        history:
          type: array
          description: 'Delinquency history.


            VisionPLUS Service Data: AZXAIO-H-DELQ'
          example:
          - '0'
          items:
            $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Delinquency.History'
        amount:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Delinquency.Amount'
        counter:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Delinquency.Counter'
        collector:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Delinquency.Collector'
    AccountForDetailsL8voResponse.Account.Delinquency.Amount:
      type: object
      properties:
        daysDelinquent30:
          type: number
          description: "* Max Length: 17\n\n30 days delinquent amount.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-PMT-30DAYS\n* Screen: ARIQ\n* Page: 05\n* Field:\
            \ ARIQ05 \u2013 30 (Pos \u2013 Row 08 Col 09)"
          example: 583934820.18
        daysDelinquent60:
          type: number
          description: "* Max Length: 17\n\n60 days delinquent amount.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-PMT-60DAYS\n* Screen: ARIQ\n* Page: 05\n* Field:\
            \ 60 (Pos \u2013 Row 09 Col 09)"
          example: 583934820.18
        daysDelinquent90:
          type: number
          description: "* Max Length: 17\n\n90 days delinquent amount.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-PMT-90DAYS\n* Screen: ARIQ\n* Page: 05\n* Field:\
            \ 90 (Pos \u2013 Row 10 Col 09)"
          example: 583934820.18
        daysDelinquent120:
          type: number
          description: "* Max Length: 17\n\n120 days delinquent amount.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-PMT-120DAYS\n* Screen: ARIQ\n* Page: 05\n* Field:\
            \ 120 (Pos \u2013 Row 11 Col 09)"
          example: 583934820.18
        daysDelinquent150:
          type: number
          description: "* Max Length: 17\n\n150 days delinquent amount.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-PMT-150DAYS\n* Screen: ARIQ\n* Page: 05\n* Field:\
            \ 150 (Pos \u2013 Row 12 Col 09)"
          example: 583934820.18
        daysDelinquent180:
          type: number
          description: "* Max Length: 17\n\n180 days delinquent amount.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-PMT-180DAYS\n* Screen: ARIQ\n* Page: 05\n* Field:\
            \ 180 (Pos \u2013 Row 13 Col 09)"
          example: 583934820.18
        daysDelinquent210:
          type: number
          description: "* Max Length: 17\n\n210 days delinquent amount.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-PMT-210DAYS\n* Screen: ARIQ\n* Page: 05\n* Field:\
            \ 120 (Pos \u2013 Row 14 Col 09)"
          example: 583934820.18
    AccountForDetailsL8voResponse.Account.Delinquency.Collector:
      type: object
      properties:
        current:
          type: string
          description: '* Max Length: 3


            Current collector.


            VisionPLUS:


            * Service Data: AZXAIO-CURR-COLL

            * Screen: ARIQ

            * Page: 05

            * Field: COLL'
          example: '0'
        permanent:
          type: string
          description: '* Max Length: 3


            Permanent collector.


            VisionPLUS:


            * Service Data: AZXAIO-PERM-COLL

            * Screen: ARQB

            * Page: 01

            * Field: PERM COLLECTOR'
          example: '0'
    AccountForDetailsL8voResponse.Account.Delinquency.Counter:
      type: object
      properties:
        daysDelinquent30:
          type: integer
          description: "* Max Length: 3\n\n30 days delinquent counter.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-PMT-30DAYS-CTR\n* Screen: ARIQ\n* Page: 05\n\
            * Field: 30 (Pos \u2013 Row 08 Col 33)"
          format: int32
          example: 123
        daysDelinquent60:
          type: integer
          description: "* Max Length: 3\n\n60 days delinquent counter.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-PMT-60DAYS-CTR\n* Screen: ARIQ\n* Page: 05\n\
            * Field: 60 (Pos \u2013 Row 09 Col 33)"
          format: int32
          example: 123
        daysDelinquent90:
          type: integer
          description: "* Max Length: 3\n\n90 days delinquent counter.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-PMT-90DAYS-CTR\n* Screen: ARIQ\n* Page: 05\n\
            * Field: 90 (Pos \u2013 Row 10 Col 33)"
          format: int32
          example: 123
        daysDelinquent120:
          type: integer
          description: "* Max Length: 3\n\n120 days delinquent counter.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-PMT-120-DAYS-CTR\n* Screen: ARIQ\n* Page: 05\n\
            * Field: 120 (Pos \u2013 Row 11 Col 33)"
          format: int32
          example: 123
        daysDelinquent150:
          type: integer
          description: "* Max Length: 3\n\n150 days delinquent counter.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-PMT-150-DAYS-CTR\n* Screen: ARIQ\n* Page: 05\n\
            * Field: 150 (Pos \u2013 Row 12 Col 33)"
          format: int32
          example: 123
        daysDelinquent180:
          type: integer
          description: "* Max Length: 3\n\n180 days delinquent counter.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-PMT-180-DAYS-CTR\n* Screen: ARIQ\n* Page: 05\n\
            * Field: 180 (Pos \u2013 Row 13 Col 33)"
          format: int32
          example: 123
        daysDelinquent210:
          type: integer
          description: "* Max Length: 3\n\n210 days delinquent counter.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-PMT-210-DAYS-CTR\n* Screen: ARIQ\n* Page: 05\n\
            * Field: 210 (Pos \u2013 Row 14 Col 33)"
          format: int32
          example: 123
    AccountForDetailsL8voResponse.Account.Delinquency.History:
      type: object
      properties:
        key:
          type: integer
          format: int32
        value:
          type: string
          description: '* Max Length: 1


            Delinquency history.


            VisionPLUS:


            * Service Data: AZXAIO-H-DELQ

            * Screen: ARQB

            * Page: 03

            * Field: DELQ'
      description: 'Delinquency history.


        VisionPLUS Service Data: AZXAIO-H-DELQ'
      example:
      - '0'
    AccountForDetailsL8voResponse.Account.Event:
      type: object
      properties:
        indicators:
          type: array
          description: "* Max Length: 20\n\nRecurring Group: \n* Occurs 20 times\n\
            \nVisionPLUS Service Data: AZXAIO-EVENT-FLAGS-X"
          items:
            $ref: '#/components/schemas/Indicator'
        oneType:
          type: integer
          description: '* Max Length: 1


            Event 1 Type.


            VisionPLUS:


            * Service Data: AZXAIO-EVENT-1-TYPE

            * Screen: AZMB

            * Page: 01

            * Field: EVENT 1 TYPE'
          format: int32
          example: 1
        oneThresholdAmount:
          type: number
          description: '* Max Length: 13


            Event 1 tresh hold amount.


            VisionPLUS:


            * Service Data: AZXAIO-EVENT-1-THRESH-AMT

            * Screen: AZMB

            * Page: 01

            * Field: EVENT 1 THRESH AMT'
          example: 1234567890123
        twoDaysBefore:
          type: integer
          description: '* Max Length: 2


            Event 2 Days Before.


            VisionPLUS:


            * Service Data: AZXAIO-EVENT-2-BEF-DAYS

            * Screen: AZMB

            * Page: 01

            * Field: EVENT 2 BEF DAYS'
          format: int32
          example: 12
        threeBalThreshold:
          type: number
          description: '* Max Length: 13


            Event 3 Bal Threshold.


            VisionPLUS:


            * Service Data: AZXAIO-EVENT-3-BAL-THRESH

            * Screen: AZMB

            * Page: 01

            * Field: EVENT 3 BAL THRESH'
          example: 1234567890123
    AccountForDetailsL8voResponse.Account.FrequentShopper:
      type: object
      properties:
        programBalance:
          type: number
          description: "* Max Length: 9\n\nFrequent shopper program balance.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-FS-PGM-BAL\n* Screen: ARIQ\n* Page: 03\n* Field:\
            \ PGM 1 BALANCE (Pos \u2013 Row 12 Col 41)/PGM 2 BALANCE (Pos \u2013 Row\
            \ 13 Col 41)/PGM 3 BALANCE (Pos \u2013 Row 14 Col 41)/PGM 4 BALANCE (Pos\
            \ \u2013 Row 12 Col 69)/PGM 5 BALANCE (Pos \u2013 Row 13 Col 69)"
          example: 583934820
        yearToDateEarned:
          type: number
          description: '* Max Length: 11


            Frequent shopper YTD earned.


            VisionPLUS Service Data: AZXAIO-FS-PGM-YTD-EARNED'
          example: 58393482018
    AccountForDetailsL8voResponse.Account.Installment.SupplementalFeeNumber:
      type: object
      properties:
        remaining:
          type: integer
          description: '* Max Length: 2


            Supplemental remaining Installment Fee amount.


            VisionPLUS:


            * Service Data: AZXAIO-SUPP-FEE-REM-INST-NBR

            * Screen: ARIQ

            * Page: 10

            * Field: REM INST NBR'
          format: int32
          example: 12
        current:
          type: integer
          description: '* Max Length: 2


            Supplemental Current Installment Fee Date.


            VisionPLUS:


            * Service Data: AZXAIO-SUPP-FEE-CURR-INST-NBR

            * Screen: ARIQ

            * Page: 10

            * Field: CURR INST NBR'
          format: int32
          example: 12
    AccountForDetailsL8voResponse.Account.International:
      type: object
      properties:
        cash:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.International.Cash'
        retail:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.International.Retail'
        installmentPlan:
          type: integer
          description: "* Max Length: 5\n\nInternational Installment Plan.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-INTL-INST-PLAN\n* Screen: AZMB\n* Page: 21\n\
            * Field: INTL CASH/RETL/INST (Pos \u2013 Row 22 Col 72)"
          format: int32
          example: 12345
    AccountForDetailsL8voResponse.Account.International.Cash:
      type: object
      properties:
        limit:
          type: string
          description: "* Max Length: 1\n\nInternational Cash Limit.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-INTL-CASH-LMT \n* Screen: AZMB\n* Page: 21\n\
            * Field: INTL LMT:RETL/CASH (Pos \u2013 Row 21 Col 75)"
          example: '0'
        plan:
          type: integer
          description: "* Max Length: 5\n\nInternational Cash Plan.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-INTL-CASH-PLAN\n* Screen: AZMB\n* Page: 21\n\
            * Field: INTL CASH/RETL/INST (Pos \u2013 Row 22 Col 52)"
          format: int32
          example: 12345
    AccountForDetailsL8voResponse.Account.International.Retail:
      type: object
      properties:
        limit:
          type: string
          description: "* Max Length: 1\n\nInternational retail limit.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-INTL-RETAIL-LMT \n* Screen: AZMB\n* Page: 21\n\
            * Field: INTL LMT:RETL/CASH (Pos \u2013 Row 21 Col 71)"
          example: '0'
        plan:
          type: integer
          description: "* Max Length: 5\n\nInternational retail plan.\n\nVisionPLUS:\n\
            \n* Service Data: AZXAIO-INTL-RETAIL-PLAN\n* Screen: AZMB\n* Page: 21\n\
            * Field: INTL CASH/RETL/INST (Pos \u2013 Row 22 Col 62)"
          format: int32
          example: 12345
    AccountForDetailsL8voResponse.Account.Internet:
      type: object
      properties:
        retail:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Internet.Retail'
        cash:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Internet.Cash'
    AccountForDetailsL8voResponse.Account.Internet.Cash:
      type: object
      properties:
        availableBalance:
          type: number
          description: '* Max Length: 17


            Internet Cash Available Balance.


            VisionPLUS Service Data: AZXAIO-ICASH-AVAIL-CREDIT'
          example: 583934820.18
        creditlimit:
          type: number
          description: '* Max Length: 17


            Internet Retail Credit Limit.


            VisionPLUS Service Data: AZXAIO-ICASH-CRLIM'
          example: 583934820.18
    AccountForDetailsL8voResponse.Account.Internet.Retail:
      type: object
      properties:
        availableBalance:
          type: number
          description: '* Max Length: 17


            Internet Retail Available Balance.


            VisionPLUS Service Data: AZXAIO-IRET-AVAIL-CREDIT'
          example: 583934820.18
        creditlimit:
          type: number
          description: '* Max Length: 17


            Internet Retail Credit Limit.


            VisionPLUS Service Data: AZXAIO-IRET-CRLIM'
          example: 583934820.18
    AccountForDetailsL8voResponse.Account.Loan:
      type: object
      properties:
        availableLimit:
          type: number
          description: '* Max Length: 17


            Loan available limit.


            VisionPLUS:


            * Service Data: AZXAIO-LOAN-AVAIL

            * Screen: ARIQ

            * Page: 01

            * Field: LOAN AVAIL'
          example: 583934820.18
        balance:
          type: number
          description: '* Max Length: 17


            Loan balance.


            VisionPLUS:


            * Service Data: AZXAIO-LOAN-BALANCE

            * Screen: ARIQ

            * Page: 01

            * Field: LOAN BAL'
          example: 583934820.18
        creditLimit:
          type: number
          description: '* Max Length: 17


            Loan credit limit.


            VisionPLUS:


            * Service Data: AZXAIO-LOAN-CRLIM

            * Screen: ARIQ

            * Page: 01

            * Field: LOAN CL'
          example: 583934820.18
        collateral:
          type: integer
          description: '* Max Length: 2


            Collateral.


            VisionPLUS:


            * Service Data: AZXAIO-CLLTRL

            * Screen: ARQB

            * Page: 07

            * Field: COLLATERAL'
          format: int32
          example: 12
        collateralCode:
          type: string
          description: '* Max Length: 2


            Collateral code.


            VisionPLUS:


            * Service Data: AZXAIO-COLAT-CODE

            * Screen: ARQB

            * Page: 01

            * Field: COLLATERAL CODE'
          example: '0'
        lastCashAdvance:
          $ref: '#/components/schemas/AccountForDetailsL8voResponse.Account.Loan.LastCashAdvance'
    AccountForDetailsL8voResponse.Account.Loan.LastCashAdvance:
      type: object
      properties:
        date:
          type: string
          description: 'Last cash advance date (in ISO 8601).


            VisionPLUS:


            * Service Data: AZXAIO-LAST-CASH-ADV-DATE

            * Screen: ARIQ

            * Page: 04

            * Field: DATE LAST ADV'
          format: date
          example: 2027-10-21
        amount:
          type: number
          description: '* Max Length: 17


            Last cash advance amount.


            VisionPLUS:


            * Service Data: AZXAIO-LAST-CASH-ADV-AMOUNT

            * Screen: ARIQ

            * Page: 04

            * Field: AMT LAST ADV'
          example: 583934820.18
    AccountForDetailsL8voResponse.Account.MaximumAuthorizationsAmount:
      type: object
      properties:
        highRiskCountries:
          type: number
          description: '* Max Length: 17


            Maximum amount of authorizations in monetary units and subunits allowed
            for the cumulative year-to-date spending by an account in high-risk countries.


            VisionPLUS:


            * Service Data: AZXAIO-YTD-HIGH-RISK-AMT

            * Screen: ARIQ

            * Page: 03

            * Field: YTD HIGH RISK AMT'
          example: 583934820.18
        nonHighRiskCountries:
          type: number
          description: '* Max Length: 17


            Maximum amount of authorizations in monetary units and subunits allowed
            for the cumulative year-to-date spending by an account in countries other
            than the high-risk countries.


            VisionPLUS:


            * Service Data: AZXAIO-YTD-OTHER-RISK-AMT

            * Screen: ARIQ

            * Page: 03

            * Field: YTD NON HIGH RISK AMT'
          example: 583934820.18
    AccountForDetailsL8voResponse.Account.MembershipFee:
      type: object
      properties:
        indicatorPercent:
          type: integer
          description: '* Max Length: 1


            Membership Fee Percent Indicator.


            VisionPLUS Service Data: AZXAIO-MEMB-FEE-PCR-IND'
          format: int32
          example: 1
        isWaive:
          type: integer
          description: '* Max Length: 1


            Waive Supp membership fee flag


            Values:


            * 0 - Inactive

            * 1 - Active


            VisionPLUS:


            * Service Data: AZXAIO-WAIVE-SUPP-MEM-FEE

            * Screen: ARMB

            * Page: 10

            * Field: SUPP MEM FEE'
          format: int32
          example: 0
        lastDate:
          type: string
          description: 'Last Membership Date.
[...]
