openapi: 3.0.1
info:
  description: "This documentation describes the REST APIs provided by the FirstVision\u2122\
    \ Cards Microservice, which provides functionality for the issuing, management\
    \ and processing of credit cards, including bank, co-branded, private label, debit,\
    \ commercial, and prepaid"
  title: "FirstVision\u2122 Account Service - API Documentation"
  version: '1.2'
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /account/walletStatus:
    put:
      tags:
      - Account
      summary: "Account wallet status Update. \n\nVMX Service: M.CMS.WALLET.STATUS.UPD,\
        \ L8V1"
      description: "The Wallet Status Update service enables a user to update the\
        \ status of the wallet occurrences (subsidies) on the wallet record for an\
        \ account.\n \nVMX Service: M.CMS.WALLET.STATUS.UPD, L8V1"
      operationId: Account Wallet Status Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletStatusUpdateRequest'
        required: true
      responses:
        '422':
          description: 'VPL5SWU01E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID
            VALUES ARE 001-998


            VPL5SWU02E - CARD NUMBER OR ACCOUNT NUMBER MUST BE PROVIDED


            VPL5SWU03E - ORGANIZATION NOT ON FILE


            VPL5SWU04E - CARD/ACCOUNT NOT VALID FOR ORG


            VPL5SWU05E - CARD/ACCOUNT NOT FOUND ON FILE


            VPL5SWU06E - WALLET RECORD FILE READ ERROR


            VPL5SWU07E - OCCURRENCE MUST BE NUMERIC VALUE 01 TO 30


            VPL5SWU08E - NO WALLET OCCURRENCE ON FILE


            VPL5SWU09E - SUBSIDY CODE INVALID


            VPL5SWU10E - INVALID STATUS VALID VALUES ARE 0 OR 1


            VPL5SWUZ6S - ORGANIZATION NOT ON FILE


            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletStatusUpdateResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Account Wallet Status Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/wallet-priority-order:
    put:
      tags:
      - Account
      summary: "The Multi-Wallet Priority Order Update service enables customers to\
        \ change the priority of wallets at account level. \nVMX Service: M.CMS.WALLET.PRTYORDER.UPD,\
        \ R8V1"
      description: "The Multi-Wallet Priority Order Update service enables customers\
        \ to change the priority of wallets at account level. \nVMX Service: M.CMS.WALLET.PRTYORDER.UPD,\
        \ R8V1"
      operationId: Multi Wallet Priority Order Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletPriorityOrderUpdateRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: 'VPL5SWUZ2S - SERVICE INPUT TO ASSOC PARTIES SERVICE IS AN
            INCORRECT LENGTH


            VPL5SWUZ6S - ORGANIZATION NOT ON FILE


            VPL5SWUZ7S - REQUESTED ORGANIZATION NOT FOUND


            VPL5SWU01E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE
            001-998


            VPL5SWU02E - CARD NUMBER OR ACCOUNT NUMBER MUST BE PROVIDED


            VPL5SWU02S - SERVICE INPUT TO MWP PRIORTIY UPDATE SERVICE IS OF INCORRECT
            LEN


            VPL5SWU03E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE
            001-998


            VPL5SWU04E - ACCOUNT NUMBER IS NOT NUMERIC OR EQUAL SPACES


            VPL5SWU05E - THE WALLET PRIORITIES ENTERED ARE NOT IN CONTIGUOUS FIELD


            VPL5SWU06E - THE WALLET PRIORITIES MUST BE UNIQUE


            VPL5SWU07E - OCCURRENCE MUST BE NUMERIC VALUE 01 TO 30


            VPL5SWU07S - ORGANIZATION COULD NOT BE DETERMINED FROM ACCOUNT


            VPL5SWU08E - NO WALLET OCCURRENCE ON FILE


            VPL5SWU08S - ORGANIZATION COULD NOT BE DETERMINED


            VPL5SWU09E - SUBSIDY CODE INVALID


            VPL5SWU10E - INVALID STATUS VALID VALUES ARE 0 OR 1


            VPL5SWU11S - ORG RECORD IN ADD PENDING STATUS


            VPL5SWU12S - BASE SEGMENT RECORD NOT FOUND


            VPL5SWU13S - ALL THE WALLET IDS OPEN ON AN ACCOUNT MUST BE ENTERED


            VPL5SWU14S - LOGO RECORD NOT FOUND


            VPL5SWU15S - LOGO LEVEL MULTI WALLET FLAG IS INACTIVE


            VPL5SWU16S - LOGO LEVEL WALLET PRIORITY OVERRIDE IS INACTIVE


            VPL5SWU17S - CURRENCY CODE ENTERED MUST BE A SUPPORTED WLT AT LOGO LEVEL '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletPriorityOrderUpdateResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Multi Wallet Priority Order Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/vinculation-reversal:
    put:
      tags:
      - Account
      summary: 'Link a card to an existing account holder. VMX Service: M.CMS.VINCULATION.REV.UPD,
        L8V1'
      description: "Link a card to an existing account holder. \nVMX Service: M.CMS.VINCULATION.REV.UPD,\
        \ L8V1"
      operationId: Reversal Vinculate
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VinculationReversalRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VinculationReversalResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Reversal Vinculate
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v2/customer:
    put:
      tags:
      - Account
      summary: "Updates the Customer Address on the Account. \nVMX Service: M.CMS.ACCTCUSTNBR.UPD,\
        \ L8V2"
      description: "Updates the Customer Address on the Account. \nVMX Service: M.CMS.ACCTCUSTNBR.UPD,\
        \ L8V2"
      operationId: Customer Address Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerNumberRequestV2'
        required: true
      responses:
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: "VPL5SCU02S-SERVICE INPUT TO A/A SERVICE IS AN INCORRECT LENGTH\
            \ \n\nVPL5SCU06S-ACCOUNT ORG MUST BE NUMERIC AND LESS THAN 999 \n\nVPL5SCU07S-ACCOUNT\
            \ OR CARD NUMBER REQUIRED \n\nVPL5SCU08S-CUSTOMER NUMBER REQUIRED \n\n\
            VPL5SCU09S-FOREIGN USE INDICATOR INVALID - MUST BE 0, 1 OR 2 \n\nVPL5SCU10S-FIELD\
            \ IDENTIFIER INVALID - MUST BE 0 OR 1 \n\nVPL5SCU11S-ALTERNATE CUSTOMER\
            \ INDICATOR INVALID MUST BE - A, B OR C \n\nVPL5SCU12S-ALTERNATE CUSTOMER\
            \ EXPIRATION DATE MUST BE NUMERIC \n\nVPL5SCU14S-ACCOUNT ORG COULD NOT\
            \ BE DETERMINED \n\nVPL5SCU15S-DETERMINED ACCT ORG DOES NOT MATCH WITH\
            \ INPUT ORG \n\nVPL5SCU16S-ORGANIZATION NOT FOUND ON FILE \n\nVPL5SCU18S-CUSTOMER\
            \ ORGANIZATION COULD NOT BE DETERMINED \n\nVPL5SCU19S-CUSTOMER NUMBER\
            \ NOT VALID FOR ORG PROVIDED \n\nVPL5SCU20S-FOREIGN USE INDICATOR INVALID,\
            \ ORG IS NOT DUAL CURRENCY ORG \n\nVPL5SCU21S-ORGANIZATION RECORD NOT\
            \ FOUND ON FILE \n\nVPL5SCU22S-FOREIGN ORG NOT FOUND ON FILE \n\nVPL5SCU23S-INVALID\
            \ FOREIGN USE FLAG, ORG IS NOT DUAL \n\nVPL5SCU24S-ORGANIZATION COULD\
            \ NOT BE DETERMINED FOR THE ACCOUNT \n\nVPL5SCU25S-ORG DETERMINED DOES\
            \ NOT MATCH THE LOCAL ACCT ORG \n\nVPL5SCU01E-ORGANIZATION RECORD NOT\
            \ FOUND ON FILE \n\nVPL5SCU03E-INVALID ACCOUNT STATUS OR ACCOUNT NOT FOUND\
            \ \n\nVPL5SCU04E-REQUEST TYPE DOES NOT MATCH WITH THE ACCT TYPE \n\nVPL5SCU05E-CUSTOMER\
            \ NUMBER NOT VALID OR NOT ON FILE \n\nVPL5SCU06E-GENERIC CUSTOMER NOT\
            \ ALLOWED FOR NON-GENERIC ACCT \n\nVPL5SCU07E-FOREIGN USE INDICATOR INVALID,\
            \ DUAL ACCOUNT NOT FOUND \n\nVPL5SCU08E-CUSTOMER NUMBERS ARE NOT THE SAME\
            \ ON BOTH ACCOUNTS \n\nVPL5SCU09E-ALTERNATE CUSTOMER NUMBERS ARE NOT SAME\
            \ ON BOTH ACCOUNTS \n\nVPL5SCU10E-DUAL CUSTOMER NUMBER NOT VALID OR NOT\
            \ ON FILE \n\nVPL5SCU12E-INPUT ORG DOES NOT MATCH WITH ACCOUNT ORG \n\n\
            VPL5SCU13E-FOREIGN ACCOUNT NOT FOUND ON FILE \n\nVPL5SCU14E-REQUEST TYPE\
            \ DOES NOT MATCH ACCT TYPE \n\nVPL5SCU15E-FOREIGN CUSTOMER RECORD NOT\
            \ FOUND ON FILE \n\nVPL5SCU16E-GENERIC CUSTOMER NOT ALLOWED FOR NON-GENERIC\
            \ FOREIGN ACCT \n\nVPL5SCU17E-ALTERNATE CUSTOMER EXPIRATION DATE MUST\
            \ BE A FUTURE DATE \n\nVPL5SCU18E-INVALID ALTERNATE CUSTOMER EXPIRATION\
            \ DATE \n\nVPL5SCU20E-CARD NUM DECRYPTED FROM INPUT PAN TOKEN IS SPACES/ZEROS\
            \ \n\nVPL5SCU21E-GLOBAL QUAL VALUE 1 OR 2, APPLICABLE ONLY FOR MEXICAN\
            \ ORG \n\nVPL5SCU22E-GLOBAL QUAL SHOULD BE A TO Z OR 1 OR 2 \n\nVPL5SCU23E-ACCOUNT\
            \ NUMBER SHOULD NOT BE SPACES \n\nVPL5SCU24E-ORG LEVEL PAN TOKEN SW INACTIVE "
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerNumberResponseV2'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Customer Address Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v2/cardAssignment:
    put:
      tags:
      - Account
      summary: "The Card Assignment API links an account or a customer with their\
        \ corresponding cards. \n\nVMX Service: M.CMS.PREPAIDACCT.ASSIGN.UPD, L8V1"
      description: "[IN DEVELOPMENT]\n\nThe Card Assignment API links an account or\
        \ a customer with their corresponding cards. \n\nVMX Service: M.CMS.PREPAIDACCT.ASSIGN.UPD,\
        \ L8V1"
      operationId: Account or Customer Card Assignment
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardAssignmentRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '204':
          description: Account or Customer Card Assignment Successful. No Content.
          content: {}
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: 'VPL5SPSZ6S - ORGANIZATION COULD NOT BE DETERMINED FOR INPUT
            CARD


            VPL5SPSZ7S - ORGANIZATION COULD NOT BE DETERMINED FOR CUSTOMER ACCT


            VPL5SPSZ8S - INVALID ORGANIZATION NUMBER


            VPL5SPS02E - CUSTOMER ACCT NBR MUST BE NUMERIC AND > ZEROES


            VPL5SPS03E - CARD NBR MUST BE NUMERIC AND > ZEROES


            VPL5SPS04E - CARDHOLDER TYPE MUST BE 0 OR 1


            VPL5SPS05S - LOGO COULD NOT BE DETERMINED FOR FOR INPUT CARD


            VPL5SPS06S - LOGO COULD NOT BE DETERMINED FOR CUSTOMER ACCT


            VPL5SPS07E - ORG & LOGO MUST BE SAME FOR NON-PERSONAL & CUSTOMER ACCT


            VPL5SPS08S - SYSTEM RECORD NOT FOUND


            VPL5SPS09S - ORG RECORD NOT FOUND OR IN ADD PENDING STATUS


            VPL5SPS10S - LOGO RECORD NOT FOUND OR IN ADD PENDING STATUS


            VPL5SPS11E - LOGO MUST BE PREPAID LOGO


            VPL5SPS12S - EMBOSSER RECORD NOT FOUND OR ADD PENDING OR PURGED STATUS


            VPL5SPS13E - CARD MUST NOT BE ACTIVATED


            VPL5SPS15S - NON PERSONAL ACCT NOT FOUND/ADD PENDING/CLOSED/PURGE STATUS


            VPL5SPS16E - NON PERSONAL ACCT ASSOCIATED WITH INPUT CARD MUST BE GENERIC
            PPD


            VPL5SPS17E - CARD NUMBER DECRYPTED FROM PAN TOKEN IS SPACES/ZEROS


            VPL5SPS17S - CUSTOMER ACCT NOT FOUND/ADD PENDING/CLOSED/PURGE STATUS


            VPL5SPS18E - CARD NUMBER SHOULD NOT BE SPACES


            VPL5SPS19E - ORG LEVEL PAN TOKEN SW INACTIVE


            VPL5SPS19S - CUST NBR ASSOCIATED WITH CUST ACCT NOT FOUND/ADD PENDNG/CLSD/PURG


            VPL5SPS20S - EXISTNG PRIMRY CARD MAPPED TO CUST ACCT IN AMAX,NOT FOUND
            IN AMED


            VPL5SPS22S - CUSTOMER ACCT NOT FOUND IN BASE SEGMENT FILE'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content: {}
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Account or Customer Card Assignment
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v2/accounts:
    get:
      tags:
      - Account
      summary: "Find account details provides information on the account\u2019s status.\
        \ If the account has been transferred, the current account number must be\
        \ provided. This service does not automatically switch to the new account.\
        \ This service can be called with an account number or a card number. \n\n\
        VMX Service: M.CMS.ACCOUNT.INQ, L8VI"
      description: "Find account details provides information on the account\u2019\
        s status. If the account has been transferred, the current account number\
        \ must be provided. This service does not automatically switch to the new\
        \ account. This service can be called with an account number or a card number.\
        \ \n\nVMX Service: M.CMS.ACCOUNT.INQ, L8VI"
      operationId: Account Information Inquiry
      parameters:
      - name: organization-number
        in: header
        description: 'Length: 3


          Organization number that identifies the Organization record assigned to
          an account.


          VisionPLUS Service Data: ARXAII-ORG'
        required: true
        schema:
          type: integer
          format: int32
        example: 807
      - name: account-number
        in: header
        description: 'Minimum: 12


          Maximum: 19


          Account on the Account Base.

          One of these fields is required in Request (it''s not possible to send both):


          account-number or card-number Segment record.


          VisionPLUS Service Data: ARXAII-ACCT'
        required: false
        schema:
          maxLength: 19
          minLength: 12
          type: string
        example: 530371602040
      - name: card-number
        in: header
        description: 'Minimum: 12


          Maximum: 19


          Unique identifier or token associated with the card number or payment instrument
          (FirstVision PAN Token).

          VisionPLUS Service Data: ARXAII-ACCT. Example: 000540208ID5IXX3865'
        required: false
        schema:
          maxLength: 19
          minLength: 12
          type: string
        example: 000540208ID5IXX3865
      - name: foreignUse
        in: query
        description: "Length: 1\n\nForeign Indicator. \nThe FOREIGN USE indicator\
          \ is provided in the input message\n so the requesting source can specify\
          \ whether the request applies to the local or foreign account\n when the\
          \ account is in a dual currency processing organization.\n\nThe default\
          \ is to the local account\n\nVisionPLUS Service Data: ARXAII-FOREIGN-USE"
        required: true
        schema:
          maxLength: 1
          minLength: 0
          type: string
        example: 0
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      responses:
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountForDetailsL8viResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Account Information Inquiry
      x-group-name: Account
      x-child-product-name: Accounts
    put:
      tags:
      - Account
      summary: "Update Account details. \nVMX Service: M.CMS.ACCTMNT.UPD, L8V2"
      description: 'Update account details.


        VMX Service: M.CMS.ACCTMNT.UPD, L8V2'
      operationId: Account Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountDetailsV2Request'
        required: true
      responses:
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '422':
          description: "Unprocessable Entity \n\nError Code - Error Message \n\nVPL5SBB01S\
            \ - SERVICE COULD NOT OBTAIN STORAGE AREA                            \
            \ \n\nVPL5SBB02S - SERVICE INPUT TO ACCOUNT UPD SERVICE IS AN INCORRECT\
            \ LENGTH       \n\nVPL5SBB03S - USER HAS NOT SIGNED ON, PLEASE SIGNON\
            \                             \n\nVPL5SBB04S - FILE-TABLE USED BY THIS\
            \ SERVICE IS NOT FOUND                      \n\nVPL5SBB05S - APPLICATION\
            \ IN NO-PROCESSING STATUS, RE-TRY IN A FEW MINUTE       \n\nVPL5SBB06S\
            \ - REQUESTED ORGANIZATION NOT FOUND                                 \
            \ \n\nVPL5SBB07S - FILE-TABLE USED BY THIS SERVICE IS NOT FOUND      \
            \                \n\nVPL5SBB08S - APPLICATION IN NO-PROCESSING STATUS,\
            \ RE-TRY IN A FEW MINUTE       \n\nVPL5SBB10S - SYSTEM RECORD NOT FOUND\
            \                                           \n\nVPL5SBB11S - ORG RECORD\
            \ NOT FOUND                                              \n\nVPL5SBB12S\
            \ - LOGO RECORD NOT FOUND                                            \
            \ \n\nVPL5SBB13S - CARD NUMBER NOT FOUND                             \
            \                \n\nVPL5SBB14S - ORGANIZATION NUMBER MUST BE NUMERIC\
            \ AND VALID VALUES ARE 001-998  \n\nVPL5SBB17S - REQUESTED ORGANIZATION\
            \ COULD NOT BE DETERMINED                    \n\nVPL5SBBL0S - FOREIGN\
            \ RELATIONSHIP RECORD DOES NOT EXIST                        \n\nVPL5SBB01E\
            \ - STATE OF RESIDENCE CONTAINS INVALID CHARACTERS                   \
            \ \n\nVPL5SBB02E - STATE OF ISSUANCE CONTAINS INVALID CHARACTERS     \
            \                \n\nVPL5SBB03E - PRICING CONTROL ID CONTAINS INVALID\
            \ CHARACTERS                    \n\nVPL5SBB04E - PRICING CONTROL START\
            \ DATE IS NOT NUMERIC                         \n\nVPL5SBB05E - PRICING\
            \ CONTROL EXPIRE DATE IS NOT NUMERIC                        \n\nVPL5SBB06E\
            \ - PRICING LEVEL OVERRIDE MUST EQUAL SPACE, L, O OR S               \
            \ \n\nVPL5SBB07E - PRICING LEVEL START DATE IS NOT NUMERIC           \
            \                \n\nVPL5SBB08E - PRICING LEVEL EXPIRE DATE IS NOT NUMERIC\
            \                          \n\nVPL5SBB12E - CASH LIMIT FIELD MUST EQUAL\
            \ N, T OR Y                             \n\nVPL5SBB13E - CUSTOMER STATEMENT\
            \ FIELD MUST = 0 OR 1                            \n\nVPL5SBB14E - CUSTOMER\
            \ LTR FIELD FLAG VALUE MUST = 0 OR 1                       \n\nVPL5SBB15E\
            \ - SUPPRESS LETTER FIELD MUST EQUAL 0 OR 1                          \
            \ \n\nVPL5SBB16E - CYCLE VALUE INVALID - MUST BE BETWEEN ZEROS AND 31\
            \                \n\nVPL5SBBQ0E - STATE OF RESIDENCE IS NOT FOUND ON USURY\
            \ TABLE                    \n\nVPL5SBBQ1E - STATE OF RESIDENCE IS INVALID\
            \ ON USURY TABLE                      \n\nVPL5SBBQ2E - STATE OF RESIDENCE\
            \ IS NOT FOUND                                   \n\nVPL5SBBQ3E - STATE\
            \ OF RESIDENCE DOES NOT EXIST                                 \n\nVPL5SBB4WE\
            \ - STATE OF RESIDENCE DOES NOT MATCH LOGO STATE OF RESIDENCE        \
            \ \n\nVPL5SBB4XE - STATE OF RESIDENCE IS REQUIRED                    \
            \                \n\nVPL5SBBQ6E - ISSUANCE ID DOES NOT EXIST         \
            \                               \n\nVPL5SBBQ7E - ISSUANCE ID REQUIRED\
            \ FOR BANKCARD ACCOUNT                         \n\nVPL5SBBQ8E - ISSUANCE\
            \ ID IS NOT FOUND ON USURY TABLE                           \n\nVPL5SBBQ9E\
            \ - ISSUANCE ID IS NOT FOUND                                         \
            \ \n\nVPL5SBBR0E - ISSUANCE ID DOES NOT EXIST                        \
            \                \n\nVPL5SBBQ4E - PRICING CONTROL ID IS NOT FOUND    \
            \                               \n\nVPL5SBBQ5E - PRICING CONTROL ID DOES\
            \ NOT EXIST                                 \n\nVPL5SBBR1E - START DATE\
            \ INVALID WHEN PCT CNTRL ID NOT PROVIDED                 \n\nVPL5SBBR2E\
            \ - START DATE FOR THE PRICING CTRL NOT A VALID DATE                 \
            \ \n\nVPL5SBBR3E - START DATE FOR THE PRICING CTRL MUST BE = OR > NEXT\
            \ PROCESSING DT \n\nVPL5SBB1RE - EXPIRE DATE INVALID WHEN PCT CNTRL START\
            \ DATE NOT PROVIDE         \n\nVPL5SBBR4E - EXPIRE DATE FOR THE PRICING\
            \ CTRL NOT A VALID DATE                 \n\nVPL5SBBR5E - EXPIRE DATE FOR\
            \ THE PRICING CTRL MUST BE = OR > PCT START         \n\nVPL5SBB1SE - PCT\
            \ LEVEL START DATE INVALID WHEN PCT LEVEL NOT PROVIDED          \n\nVPL5SBBR6E\
            \ - PCT LEVEL START DATE FOR THE PCT LEVEL NOT A VALID DATE          \
            \ \n\nVPL5SBBR7E - PCT LEVEL START DATE FOR PCT LEVEL MUST BE = OR > NEXT\
            \ PROCESS DT \n\nVPL5SBB1QE - PCT LEVEL EXPIRE DATE INVALID WHEN PCT LVL\
            \ START DTE NOT          \n\nVPL5SBBR8E - PCT LEVEL EXPIRE DATE FOR THE\
            \ PCT LEVEL NOT A VALID DATE          \n\nVPL5SBB2HE - WAIVE CASH AVAIL\
            \ MUST BE Y FOR PREPAID ACCOUNT TYPE               \n\nVPL5SBB2HE - WAIVE\
            \ CASH AVAIL MUST BE Y FOR PREPAID ACCOUNT TYPE               \n\nVPL5SBBO7E\
            \ - VALID VALUES FOR PREPAID ACCOUNTS ARE SPACE, I, O, U, OR         \
            \ \n\nVPL5SBBO8E - VALID VALUES ARE SPACE, 0-9, C, H, I, R, S, O, U OR\
            \ Z             \n\nVPL5SBB1PE - CYCLE FIELD MUST BE GREATER THAN ZEROS\
            \                            \n\nVPL5SBBO6E - BILLING CYCLE MUST EQUAL\
            \ RELATIONSHIP BILLING CYCLE               \n\nVPL5SBB0QE - PRICING START\
            \ DATE CAN NOT BE GREATER THAN PCT EXPIRE DATE        \n\nVPL5SBB0RE -\
            \ PRICING START/EXPIRE DATE INVALID WHEN PCT ID EQUAL SPACE         \n\
            \nVPL5SBB0SE - PRICING LEVEL EXPIRE DATE LESS THAN START DATE        \
            \            \n\nVPL5SBB0TE - PCT LEVEL START/EXPIRE DATES INVALID WHEN\
            \ PCT LEVEL NOT PROVIDED  \n\nVPL5SBB0UE - DATE TEMP CREDIT LIMIT EXPIRE\
            \ IS NOT VALID FOR TEMP CREDIT LIMIT  \n\nVPL5SBB1FS - ACCT CTL TABLE\
            \ ID INVALID-CSH/RTL PLANS/CHGF ACRINT NOT O         \n\nVPL5SBB1GS -\
            \ ACCT CTL TABLE ID INVALID-CSH/RTL PLANS/CHGF ACRINT NOT O         \n\
            \nPL5SAA2RE - FIXED PMT AMT/PCT MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE\
            \        \n\nPL5SBB52E - FIXED PMT AMT/PCT SHOULD BE NUMERIC         \
            \                       \n\nPL5SBB53E - INVALID REISSUE TECHNOLOGY. VALID\
            \ VALUES - 0, 1, 2, 3              \n\nVPL5SAA1BE - FIXED PAYMENT/AMOUNT\
            \ PERCENT FIELD INVALID                        \n\nVPL5SAA1CE - FIXED\
            \ PAYMENT/AMOUNT PERCENT FIELD INVALID WHEN OVERRIDE IS SPACE \n\nVPL5SAA1DE\
            \ - PAYMENT OVERRIDE MUST EQUAL SPACE                                \
            \ \n\nVPL5SAA2DE - BILLING LEVEL MUST BE 1 FOR PREPAID ACCOUNT TYPE  \
            \                \n\nVPL5SAA2IE - PREPMT ALLOWED MUST EQUAL ZERO FOR PREPAID\
            \ ACCOUNT TYPE           \n\nVPL5SAA2JE - PREPMT MONTHS MUST EQUAL ZERO\
            \ FOR PREPAID ACCOUNT TYPE            \n\nVPL5SAA2KE - PREPMT ZERO MUST\
            \ EQUAL ZERO FOR PREPAID ACCOUNT TYPE              \n\nVPL5SAA2PE - VARIANCE\
            \ EFFECTIVE DATE MUST EQUAL ZEROS FOR PREPAID ACCT TYPE    \n\nVPL5SAA2QE\
            \ - PLAN PMT OVERRIDE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE      \
            \ \n\nVPL5SAA74E - SKIP PAYMENT FLAG MUST = A, M, N, V, X OR Z       \
            \                \n\nVPL5SAAN4E - PRIM ACCT BILLING LEVEL CANNOT BE 1\
            \ WHEN REL BILLING LVL = 0 OR 2 \n\nVPL5SAAN6E - BILLING LEVEL MUST EQUAL\
            \ 0                                        \n\nVPL5SAAN7E - BILLING LEVEL\
            \ IS INVALID FOR RELATIONSHIP                         \n\nVPL5SAAN8E -\
            \ BILLING LEVEL MUST EQUAL 1, WHEN ACCT IS NOT TIED TO RELATIONSHIP \n\
            \nVPL5SAAS0E - PAYMENT SKIP NOT ALLOWED                              \
            \            \n\nVPL5SAAS6E - INT VARIANCE EFFECTIVE DATE NOT A VALID\
            \ DATE                      \n\nVPL5SAAS7E - INT VARIANCE EFFECTIVE DATE\
            \ MUST BE > CURRENT PROCESSING DATE     \n\nVPL5SBB1ES - NO PCT RECORD\
            \ FOUND AT THIS LEVEL                                 \n\nVPL5SBB51E -\
            \ INVALID PLAN PMT OVERRIDE FLAG.VALID VALUES - F, X, P, M, SPACES  \n\
            \nVPL5SBB54E - REISSUE TECHNOLOGY SHOULD BE 0                        \
            \            \n\nVPL5SBB55E - REISSUE TECHNOLOGY SHOULD BE 1         \
            \                           \n\nVPL5SBB56E - REISSUE TECHNOLOGY SHOULD\
            \ BE 0 OR 2                               \n\nVPL5SBB57E - REISSUE TECHNOLOGY\
            \ SHOULD BE 1 OR 3                               \n\nVPL5SBB58E - INT\
            \ VARIANCE PENDING 01 SHOULD BE NUMERIC                         \n\nVPL5SBB59E\
            \ - INT VARIANCE PENDING 02 SHOULD BE NUMERIC                        \
            \ \n\nVPL5SBB60E - INT VARIANCE PENDING 03 SHOULD BE NUMERIC         \
            \                \n\nVPL5SBB61E - INT VARIANCE PENDING 04 SHOULD BE NUMERIC\
            \                         \n\nVPL5SBB62E - INT VARIANCE PENDING 05 SHOULD\
            \ BE NUMERIC                         \n\nVPL5SBB63E - INT VARIANCE PENDING\
            \ 06 SHOULD BE NUMERIC                         \n\nVPL5SBB64E - INT VARIANCE\
            \ PENDING 07 SHOULD BE NUMERIC                         \n\nVPL5SBB65E\
            \ - INT VARIANCE PENDING 08 SHOULD BE NUMERIC                        \
            \ \n\nVPL5SBB66E - INT VARIANCE PENDING 09 SHOULD BE NUMERIC         \
            \                \n\nVPL5SBB67E - INT VARIANCE PENDING 10 SHOULD BE NUMERIC\
            \                         \n\nVPL5SBB68E - INT VARIANCE PENDING 11 SHOULD\
            \ BE NUMERIC                         \n\nVPL5SBB69E - INT VARIANCE PENDING\
            \ 12 SHOULD BE NUMERIC                         \n\nVPL5SBB70E - INVALID\
            \ PREPMT ALLOWED. VALID VALUES - 0, 1, 2                    \n\nVPL5SBB71E\
            \ - PREPMT MONTHS SHOULD BE NUMERIC                                  \
            \ \n\nVPL5SBB72E - PREPMT MONTHS CANNOT BE 0 WHEN PREPMT ALLOWED IS 1\
            \ OR 2           \n\nVPL5SBB73E - INVALID PREPMT ZERO. VALID VALUES -\
            \ 0, 1, 2, 3                    \n\nVPL5SBB17E - DATE MUST BE GREATER\
            \ THAN CURRENT PROCESSING DATE                 \n\nVPL5SBB18E - NOT A\
            \ VALID DATE                                                  \n\nVPL5SBB19E\
            \ - DATE MUST BE NUMERIC OR ZEROES                                   \
            \ \n\nVPL5SBB20E - BRAILLE STMT IND SHOULD BE Y AND STMT FLAG AS SPACES\
            \              \n\nVPL5SBB21E - BRAILLE STMT IND VALID VALUES ARE Y OR\
            \ N                          \n\nVPL5SBB22E - REQUESTED STATEMENT NOT\
            \ FOUND                                     \n\nVPL5SBB23E - CANNOT PRINT\
            \ RECAP STATEMENT                                      \n\nVPL5SBBO9E\
            \ - VALID VALUES ARE P, C, I, F, D, OR Q                             \
            \ \n\nVPL5SBB36E - INVALID PEND DUE DAY - VALID ENTRIES ARE 01 THRU 31\
            \               \n\nVPL5SBB37E - DUE DAY NOT VALID ON ORG RECORD     \
            \                              \n\nVPL5SBB38E - PEND DUE DAY UPDATE NOT\
            \ ALLOWED                                   \n\nVPL5SBB39E - DUE DAY INDICATOR\
            \ NOT ACTIVE AT ORG LEVEL                         \n\nVPL5SBB40E - DUE\
            \ DAYS CANT BE MODIFIED AT ACCT LVL WHEN USED AT REL-SHIP LEVEL \n\nVPL5SBB41E\
            \ - DUE DAYS NOT ALLOWED BCCAUSE OF ELAPSED DAYS CRITERIA            \
            \ \n\nVPL5SBB43E - VALID VALUES ARE 0/1/2/3/4/5/6/7/8/9 OR SPACE FOR IB\
            \ RLSE CD      \n\nVPL5SBB42E - EXT IB ALLOWED IS NOT ACTIVE IN AZML25\
            \                            \n\nVPL5SBB44E - ISS RETAIL PLAN VALUE IS\
            \ NOT NUMERIC                              \n\nVPL5SBB45S - NO INST RETAIL\
            \ CREDIT PLAN FOUND FOR THIS PLAN NBR                \n\nVPL5SBB46E -\
            \ ISS CASH PLAN VALUE IS NOT NUMERIC                                \n\
            \nVPL5SBB45E - INSTALLMENT PROC INDICATOR IS NOT ACTIVE AT ORG LEVEL \
            \            \n\nVPL5SBB47E - INSTALLMENT PROC INDICATOR IS NOT ACTIVE\
            \ AT ORG LEVEL             \n\nVPL5SBB47S - NO INST CASH CREDIT PLAN FOUND\
            \ FOR THIS PLAN NBR                  \n\nVPL5SBB48E - STMT INST OPTIN\
            \ VALUE MUST BE SPACE, Y OR N                       \n\nVPL5SBB49E - INST\
            \ RETL CRLIM MUST BE NUMERIC                                   \n\nVPL5SBB50E\
            \ - INST CASH CRLIM MUST BE NUMERIC                                  \
            \ \n\nVPL5SBB51E - INST RETL CRLIM CANNOT BE 0                       \
            \                \n\nVPL5SBB52E - INST CASH CRLIM CANNOT BE 0        \
            \                               \n\nVPL5SBB53E - INST RETL CRLIM CANNOT\
            \ BE > THAN ACCT CRLIM FOR NON INDEPDNT INST \n\nVPL5SBB54E - INST CASH\
            \ CRLIM CANNOT BE > THAN ACCT CRLIM FOR NON INDEPDNT INST \n\nVPL5SBB55E\
            \ - MODIFED RETAIL LIMIT CANNOT BE > LOGO LIMIT                      \
            \ \n\nVPL5SBB56E - REQUIRED FIELD FOR ADD FUNCTIONPACE, Y OR N       \
            \                \n\nVPL5SBB57E - VALID ENTRIES OF RETAIL CREDIT LMT FLAG\
            \ ARE 0 OR 1 OR 2 OR 3      \n\nVPL5SBB58E - VALID ENTRIES OF CASH CREDIT\
            \ LMT FLAG ARE 0 OR 1 OR 2 OR 3        \n\nVPL5SBB74E - MODIFED CASH LIMIT\
            \ CANNOT BE > LOGO LIMIT                         \n\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAccountDetailsV2Response'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Account Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v1/statementInstallments/{numberOfTerms}:
    put:
      tags:
      - Account
      summary: "Allows a client to provide minimal field for simulation and returns\
        \ the calculated values to the calling program based on the mode the service\
        \ invoked. \n\nVMX Service: M.CMS.INSTSTMTSIM.ACT, L8V1"
      description: "Allows a client to provide minimal field for simulation and returns\
        \ the calculated values to the calling program based on the mode the service\
        \ invoked. \n\nVMX Service: M.CMS.INSTSTMTSIM.ACT, L8V1"
      operationId: statementInstallmentConfirmation
      parameters:
      - name: numberOfTerms
        in: path
        required: true
        schema:
          type: string
          description: Number of installments for simulation
        example: 2
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatementInstallmentConfirmationRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: "VPL5SIS01E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID\
            \ VALUES ARE 001-998 \n\nVPL5SIS02E - REQUESTED ACCT / CARD NUMBER IS\
            \ NOT NUMERIC OR EQUAL TO SPACES \n\nVPL5S1S03E - RATE VALUE IS INVALID\
            \ \n\nVPL5S1S04E - AMOUNT VALUE IS INVALID \n\nVPL5S1S05E - VALUE MUST\
            \ BE INFORMED \n\nVPL5S1S06E - INSTL COMPUTATION MODE MUST BE EITHER \"\
            \ \", S OR C ONLY \n\nVPL5SIS07E - CAN NOT CALCULATE INSTALLMENT, VERIFY\
            \ INPUT VALUES \n\nVPL5SIS08S - SYSTEM RECORD NOT FOUND ON FILE \n\nVPL5SIS09S\
            \ - ORGANIZATION NOT FOUND ON FILE \n\nVPL5SIS10S - INSTALLMENTS NOT ACTIVE\
            \ FOR ORGANIZATION, INVALID REQUEST \n\nVPL5SIS11S - ACCT / CARD NOT FOUND\
            \ ON FILE \n\nVPL5S1S12S - SIMULATION CANNOT BE DONE. ACCOUNT NOT ACTIVE\
            \ \n\nVPL5S1S13S - SIMULATION CANNOT BE DONE. ACCOUNT FLAG IS NOT ACTIVE\
            \ \n\nVPL5SIS14S - ORGANIZATION LOGO UNAVAILABLE \n\nVPL5S1S15S - ORG/ACCOUNT\
            \ NOT FOUND IN AM1S FILE \n\nVPL5S1S16E - LOGO NOT FOUND FOR THIS ORG/ACCOUNT\
            \ \n\nVPL5SIS17S - INST PLAN NBR NOT FOUND \n\nVPL5S1S18S - SIMULATION\
            \ CANNOT BE DONE. CONTRACT NOT ACTIVE FOR THIS ACCOUNT \n\nVPL5SIS19S\
            \ - PROCESSING CONTROL TABLE NOT FOUND \n\nVPL5SIS20S - INTEREST TABLE\
            \ IS NOT FOUND \n\nVPL5SIS25S - AMRT TAX TABLE NOT FOUND \n\nVPL5S1S21S\
            \ - SIMULATION CANNOT BE DONE. ACCOUNT BLOCK CODE 1 DOES NOT ALLOW IT\
            \ \n\nVPL5S1S22S - SIMULATION CANNOT BE DONE. ACCOUNT BLOCK CODE 2 DOES\
            \ NOT ALLOW IT \n\nVPL5S1S23S - SIMULATION CANNOT BE DONE. INSTALLMENT\
            \ PROC NOT ACTIVE FOR LOGO \n\nVPL5S1S24S - VALUE INFORMED GREATER THAN\
            \ AVAILABLE FOR SIMULATION \n\nVPL5S1S25S - VALUE INFORMED LESS THAN MINIMUM\
            \ SET IN THE PARAMETER \n\nVPL5S1S26S - VALUE INFORMED GREATER THAN MAXIMUM\
            \ SET IN THE PARAMETER \n\nVPL5S1S27S - LOGO INST CREDIT PLAN CANNOT BE\
            \ ZEROS \n\nVPL5S1S28S - INSTALLMENT VALUE IS LESS THAN ALLOWED"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatementInstallmentConfirmationResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Statement Installment Options Simulation and Confirmation
      x-group-name: Account
      x-child-product-name: Accounts
  /account/user:
    put:
      tags:
      - Account
      summary: "Updates the fields reserved for unique uses by the financial institution\
        \ known as \u201Cuser-defined fields\u201D. \nVMX Service: M.CMS.ACCT.USER.UPD,\
        \ R8V3"
      description: "Updates the fields reserved for unique uses by the financial institution\
        \ known as \u201Cuser-defined fields\u201D. \nVMX Service: M.CMS.ACCT.USER.UPD,\
        \ R8V3"
      operationId: Account User Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountForUserUpdateRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: 'VPL5SBUZ1S - ORGANIZATION NOT DETERMINED

            VPL5SBUZ5S - ORGANIZATION NUMBER NOT FOUND

            VPL5SBU01E - USER-DATE1 MUST BE NUMERIC AND A VALID DATE

            VPL5SBU02E - USER-DATE2 MUST BE NUMERIC AND A VALID DATE

            VPL5SBU03E - USER-DATE3 MUST BE NUMERIC AND A VALID DATE

            VPL5SBU04E - USER-DATE4 MUST BE NUMERIC AND A VALID DATE

            VPL5SBU05E - USER-DATE5 MUST BE NUMERIC AND A VALID DATE

            VPL5SBU06E - USER-DATE6 MUST BE NUMERIC AND A VALID DATE

            VPL5SBU06S - ACCOUNT NUMBER OR CARD NUMBER MUST BE PROVIDED

            VPL5SBU07E - USER-DATE7 MUST BE NUMERIC AND A VALID DATE

            VPL5SBU07S - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE
            001 AND 998

            VPL5SBU08E - USER-DATE8 MUST BE NUMERIC AND A VALID DATE

            VPL5SBU09E - USER-DATE9 MUST BE NUMERIC AND A VALID DATE

            VPL5SBU10E - USER-DATE10 MUST BE NUMERIC AND A VALID DATE

            VPL5SBU10S - FOREIGN ORGANIZATION NOT ON FILE

            VPL5SBU11E - USER-DATE11 MUST BE NUMERIC AND A VALID DATE

            VPL5SBU12E - USER-DATE12 MUST BE NUMERIC AND A VALID DATE

            VPL5SBU12S - ACCOUNT NOT FOUND ON FILE

            VPL5SBU13E - USER-DATE13 MUST BE NUMERIC AND A VALID DATE

            VPL5SBU14E - USER-DATE14 MUST BE NUMERIC AND A VALID DATE

            VPL5SBU15E - USER-AMT1 MUST BE NUMERIC

            VPL5SBU16E - USER-AMT2 MUST BE NUMERIC

            VPL5SBU17E - USER-AMT3 MUST BE NUMERIC

            VPL5SBU18E - USER-AMT4 MUST BE NUMERIC

            VPL5SBU19E - USER-AMT5 MUST BE NUMERIC

            VPL5SBU20E - USER-AMT6 MUST BE NUMERIC

            VPL5SBU21E - USER-AMT7 MUST BE NUMERIC

            VPL5SBU22E - USER-AMT8 MUST BE NUMERIC

            VPL5SBU23E - USER-AMT9 MUST BE NUMERIC

            VPL5SBU24E - USER-AMT10 MUST BE NUMERIC

            VPL5SBU25E - USER-AMT11 MUST BE NUMERIC

            VPL5SBU26E - USER-AMT12 MUST BE NUMERIC

            VPL5SBU27E - USER-AMT13 MUST BE NUMERIC

            VPL5SBU28E - USER-AMT14 MUST BE NUMERIC

            VPL5SBU29E - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE, 0
            OR 1

            VPL5SBU30E - ACCT EMBLM MUST BE NUMERIC'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountForUserUpdateResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Account User Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/userData:
    put:
      tags:
      - Account
      summary: 'Account User Codes Update. (VMX Service: M.CMS.ACCT.USER.DATA.UPD,
        R8V1)'
      description: "Update any of the 3 groups of 14 user codes, dates and amounts\
        \ on the Account Base Segment file. \nVMX Service: M.CMS.ACCT.USER.DATA.UPD,\
        \ R8V1"
      operationId: User Codes Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDataUpdateRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: 'VPL5SUD03E - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE
            BETWEEN 000 AND 998

            VPL5SUD04E - REQUESTED CARD/ACCT NUMBER IS NOT NUMERIC OR EQUAL SPACES

            VPL5SUD05E - INVALID FOREIGN USE IND SPECIFIED - VALID VALUES SPACE, 0,
            1 OR 2

            VPL5SUD07S - ORGANIZATION NOT FOUND ON FILE

            VPL5SUD08S - FOREIGN ORGANIZATION NOT FOUND ON FILE

            VPL5SUD09S - ACCOUNT NUMBER NOT FOUND

            VPL5SUD10S - ACCOUNT NUMBER NOT FOUND ON FILE

            VPL5SUD11S - LOGO NOT FOUND ON FILE

            VPL5SUD13I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA

            VPL5SUD21S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED

            VPL5SUD22S - REQUESTED ORGANIZATION NOT FOUND

            VPL5SUD50E - USER DATE 1 IS NOT NUMERIC

            VPL5SUD51E - USER DATE 1 IS INVALID

            VPL5SUD52E - USER DATE 2 IS NOT NUMERIC

            VPL5SUD53E - USER DATE 2 IS INVALID

            VPL5SUD54E - USER DATE 3 IS NOT NUMERIC

            VPL5SUD55E - USER DATE 3 IS INVALID

            VPL5SUD56E - USER DATE 4 IS NOT NUMERIC

            VPL5SUD57E - USER DATE 4 IS INVALID

            VPL5SUD58E - USER DATE 5 IS NOT NUMERIC

            VPL5SUD59E - USER DATE 5 IS INVALID

            VPL5SUD60E - USER DATE 6 IS NOT NUMERIC

            VPL5SUD61E - USER DATE 6 IS INVALID

            VPL5SUD62E - USER DATE 7 IS NOT NUMERIC

            VPL5SUD63E - USER DATE 7 IS INVALID

            VPL5SUD64E - USER DATE 8 IS NOT NUMERIC

            VPL5SUD65E - USER DATE 8 IS INVALID

            VPL5SUD66E - USER DATE 9 IS NOT NUMERIC

            VPL5SUD67E - USER DATE 9 IS INVALID

            VPL5SUD68E - USER DATE 10 IS NOT NUMERIC

            VPL5SUD69E - USER DATE 10 IS INVALID

            VPL5SUD70E - USER DATE 11 IS NOT NUMERIC

            VPL5SUD71E - USER DATE 11 IS INVALID

            VPL5SUD72E - USER DATE 12 IS NOT NUMERIC

            VPL5SUD73E - USER DATE 12 IS INVALID

            VPL5SUD74E - USER DATE 13 IS NOT NUMERIC

            VPL5SUD75E - USER DATE 13 IS INVALID

            VPL5SUD76E - USER DATE 14 IS NOT NUMERIC

            VPL5SUD77E - USER DATE 14 IS INVALID

            VPL5SUD81E - USER AMOUNT 1 IS NOT NUMERIC

            VPL5SUD82E - USER AMOUNT 2 IS NOT NUMERIC

            VPL5SUD83E - USER AMOUNT 3 IS NOT NUMERIC

            VPL5SUD84E - USER AMOUNT 4 IS NOT NUMERIC

            VPL5SUD85E - USER AMOUNT 5 IS NOT NUMERIC

            VPL5SUD86E - USER AMOUNT 6 IS NOT NUMERIC

            VPL5SUD87E - USER AMOUNT 7 IS NOT NUMERIC

            VPL5SUD88E - USER AMOUNT 8 IS NOT NUMERIC

            VPL5SUD89E - USER AMOUNT 9 IS NOT NUMERIC

            VPL5SUD90E - USER AMOUNT 10 IS NOT NUMERIC

            VPL5SUD91E - USER AMOUNT 11 IS NOT NUMERIC

            VPL5SUD92E - USER AMOUNT 12 IS NOT NUMERIC

            VPL5SUD93E - USER AMOUNT 13 IS NOT NUMERIC

            VPL5SUD94E - USER AMOUNT 14 IS NOT NUMERIC'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDataUpdateResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: User Codes Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/transferP2P:
    put:
      tags:
      - Account
      summary: 'Credit and Debit action on two accounts in a single call. (VMX Service:
        M.ASM.MONETARYPTP.ACT, L8V2)'
      description: "Credit and Debit action on two accounts in a single call and Integrate\
        \ Account to Account (P2P) Funds Transfer transaction information to be used\
        \ in Fraud Prevention Rules.  \nVMX Service: M.ASM.MONETARYPTP.ACT, L8V2"
      operationId: Account to Account Funds Transfer
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferP2PRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferP2PResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Account to Account Funds Transfer
      x-group-name: Account
      x-child-product-name: Accounts
  /account/transfer-promotional-product:
    put:
      tags:
      - Account
      summary: 'Account Transfer Promotional Product Upgrade. (VMX Service: M.CMS.PROM.PROD.UPG.UPD,
        L8V1)'
      description: "Enables a user to transfer account balances and history from a\
        \ particular account to an existing new account that has a zero balance. \n\
        VMX Service: M.CMS.PROM.PROD.UPG.UPD, L8V1"
      operationId: Transfer Promotional Product Upgrade
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferPromotionalProductRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: 'VPJ5SPA03S - OLD ORGANIZATION NUMBER MUST BE NUMERIC AND VALID
            VALUES ARE 001-998

            VPJ5SPA04S - OLD ORGANIZATION RECORD NOT ON FILE

            VPJ5SPA05S - OLD ACCOUNT NUMBER MUST BE PROVIDED

            VPJ5SPA06S - OLD ACCOUNT BEING TRANSFERRED

            VPJ5SPA07S - THIRD PARTY ACCOUNT CANNOT BE TRANSFERRED

            VPJ5SPA08S - NEW ACCOUNT NUMBER MUST BE PROVIDED

            VPJ5SPA09S - NEW ACCOUNT NOT ON FILE

            VPJ5SPA10S - NEW ACCOUNT MUST NOT HAVE TRANSACTIONS

            VPJ5SPA11S - USER ACCT NUMBER VALUE DOES NOT MATCH OLD ACCT NUMBER

            VPJ5SPA13S - OLD ORG AND NEW ORG MUST BE SAME

            VPJ5SPA14S - PROMOTIONAL PRODUCT UPGRADE NOT ACTIVE

            VPJ5SPA15S - ACCOUNT TRANSFER PROHIBITED - WALLET ONLY

            VPJ5SPA16S - OLD ACCOUNT RECORD NOT ON FILE

            VPJ5SPA17S - ACCOUNT ALREADY TRANSFERRED

            VPJ5SPA18S - CANNOT TRANSFER PURGED ACCOUNT

            VPJ5SPA19S - CANNOT TRANSFER CLOSED ACCOUNT

            VPJ5SPA20S - CANNOT TRANSFER CHARGE-OFF ACCOUNT

            VPJ5SPA21S - CANNOT TRANSFER NEW ACCOUNT

            VPJ5SPA22S - CANNOT TRANSFER CONVERSION ACCOUNT

            VPJ5SPA23S - CANNOT TRANSFER COMPANY ACCOUNTS

            VPJ5SPA24S - CANNOT TRANSFER HCS ACCOUNT

            VPJ5SPA25S - OLD ACCOUNT LOGO RECORD NOT FOUND

            VPJ5SPA26S - OLD ACCOUNT LOGO RECORD INCOMPLETE

            VPJ5SPA27S - CANNOT TRANSFER, PLAN TRANSFER IN PROGRESS

            VPJ5SPA28S - CANNOT TRANSFER DELINQUENCY OUT OF BALANCE ACCOUNT

            VPJ5SPA29S - CANNOT TRANSFER, FRAUD TXN TRANSFER IS PENDING

            VPJ5SPA30S - TRANSFER ALREADY IN PROGRESS

            VPJ5SPA31S - DUAL FROM ACCOUNT RECORD NOT ON FILE

            VPJ5SPA32S - DUAL FROM ACCOUNT RECORD - ADD PENDING

            VPJ5SPA33S - CANNOT TRANSFER PURGED FROM ACCOUNT - DUAL ORG

            VPJ5SPA34S - CANNOT TRANSFER CLOSED FROM ACCOUNT - DUAL ORG

            VPJ5SPA35S - CANNOT TRANSFER CHARGE-OFF FROM ACCOUNT - DUAL ORG

            VPJ5SPA36S - FROM ACCOUNT ALREADY TRANSFERRED - DUAL ORG

            VPJ5SPA37S - CANNOT TRANSFER NEW FROM ACCOUNT - DUAL ORG

            VPJ5SPA38S - CANNOT TRANSFER CONVERSION FROM ACCOUNT - DUAL ORG

            VPJ5SPA39S - CANNOT TRANSFER COMPANY FROM ACCOUNTS - DUAL ORG

            VPJ5SPA40S - OLD LOGO AND NEW LOGO MUST BE DIFFERENT

            VPJ5SPA41S - OLD LOGO AND NEW LOGO MUST USE THE SAME SCHEME VISA OR MASTERCARD

            VPJ5SPA42S - OLD LOGO AND NEW LOGO MUST BE THE SAME EITHER OPEN ITEM OR
            NOT

            VPJ5SPA43S - OLD LOGO AND NEW LOGO MUST HAVE SAME DUAL CURRENCY VALUE

            VPJ5SPA44S - OLD LOGO AND NEW LOGO MUST HAVE SAME BANK AUTH FLAG

            VPJ5SPA45S - OLD LOGO AND NEW LOGO MUST EITHER ALLOW OR NOT ACH PROCESSING

            VPJ5SPA46S - OLD LOGO AND NEW LOGO TYPE MUST BE BANKCARD

            VPJ5SPA47S - LOGO QUARTERLY AFFILIATE CANNOT BE COMPANY CARD

            VPJ5SPA48S - TRANSFER TO ACCOUNT NUMBER INVALID

            VPJ5SPA49S - TRANSFER TO ACCT MUST BE DIFFERENT FROM THE TRANSFER FROM
            ACCT

            VPJ5SPA50S - NEW ACCOUNT MUST HAVE ZERO BALANCE

            VPJ5SPA51S - NEW ACCOUNT LOGO RECORD NOT FOUND

            VPJ5SPA52S - NEW ACCOUNT LOGO RECORD INCOMPLETE

            VPJ5SPA53S - OLD AND NEW ACCOUNT MUST BE BANKCARD

            VPJ5SPA54S - TRANSFER TO A LOGO WITH DIFFERENT CARD ASSOCIATIONS NOT ALLOWED

            VPJ5SPA55S - ACCT CREDIT LIMIT GREATER THAN XFR TO LOGO CREDIT LIMIT CEILING

            VPJ5SPA56S - TRANSFER TO A NON-ACH BILLING LOGO NOT ALLOWED

            VPJ5SPA57S - COBRANDED FLAG ARE NOT SAME, TRANSFER NOT ALLOWED

            VPJ5SPA58S - CANNOT TRANSFER ACCOUNT WITH PENDING CARD TECH CHANGE

            VPJ5SPA59S - THIRD PARTY CARD GENERATE ISSUE

            VPJ5SPA62S - INVALID NEW ACCOUNT STATUS - PURGED

            VPJ5SPA63S - INVALID NEW ACCOUNT STATUS - CLOSED

            VPJ5SPA64S - INVALID NEW ACCOUNT STATUS - CHARGE-OFF

            VPJ5SPA65S - INVALID NEW ACCOUNT STATUS - CONVERSION ACCT

            VPJ5SPA66S - INVALID NEW ACCOUNT STATUS - COMPANY ACCOUNTS

            VPJ5SPA67S - INVALID NEW ACCOUNT STATUS - HCS ACCOUNT

            VPJ5SPA68S - TRANSFER TO ACCOUNT ALREADY TRANSFERRED

            VPJ5SPA69S - DELINQUENCY OUT OF BALANCE FOR NEW ACCOUNT

            VPJ5SPAZ4S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED

            VPLVO2482S - NON-NUMERIC INPUT FIELD XFR AUTH DAYS'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferPromotionalProductResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Transfer Promotional Product Upgrade
      x-group-name: Account
      x-child-product-name: Accounts
  /account/skip-payment:
    put:
      tags:
      - Account
      summary: 'Skip Payment Update. (VMX Service: M.CMS.SKIPPMT.UPD, R8V1)'
      description: "Enable skip payment requests at the account level or plan level\
        \ from an external inteface. The request is validated against skip payment\
        \ criteria and the SKIP PAYMENT field is updated on the Base Segment or Plan\
        \ Segment record. \nVMX Service: M.CMS.SKIPPMT.UPD, R8V1"
      operationId: Skip Payment Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkipPaymentUpdateRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: 'VPL5SSK01E - ACCOUNT SKIP PMT FLAG MUST BE Z OR X

            VPL5SSK02E - ACCOUNT CYCLE DUE MUST BE 1, LOGO SKIP PMT MUST BE ACTIVE

            VPL5SSK02S - SERVICE INPUT TO S/K SERVICE IS AN INCORRECT LENGTH

            VPL5SSK03E - ACCOUNT STATUS MUST BE ACTIVE

            VPL5SSK04E - ACCOUNT NOT ELIGIBLE - BLOCK CODE EXCLUDED

            VPL5SSK05E - ACCOUNT NOT ELIGIBLE - PENDING PAYMENTS

            VPL5SSK06E - INVALID ACCOUNT/PLAN/REF NBR COMBINATION

            VPL5SSK07E - ACCT CYCLE DUE MUST BE 0 OR 1, LOGO SKIP PMT MUST BE ACTIVE

            VPL5SSK08E - NEXT SKIP INELIGIBLE - DD NOM PAYMENT IN EFFECT

            VPL5SSK09E - POSTING INDICATOR SHOULD BE 1 OR 2

            VPL5SSK10E - ACCT LEVEL SKIP PMT ACTIVE

            VPL5SSK11E - SETTLEMENT QUOTE CRITERIA NOT MET

            VPL5SSK12E - CYCLE DUE MUST BE EQUAL TO 1 OR PLAN DUE AMT MUST BE > 0

            VPL5SSK13E - YTD PLAN SKIP PAYMENT LIMIT REACHED

            VPL5SSK14E - LTD PLAN SKIP PAYMENT LIMIT REACHED

            VPL5SSK15E - CRITERIA FOR ELAPSED MONTH NOT MET

            VPL5SSK16E - CURRENT BALANCE CRITERIA NOT MET

            VPL5SSK17E - MINIMUM MONTHS ON FILE CRITERIA NOT MET

            VPL5SSK18E - REMAINING TERM CRITERIA NOT MET

            VPL5SSK19E - VALID CREDIT PLAN NBR IS REQUIRED, WHEN SKIP PMT FLAG IS
            2

            VPL5SSK20E - VALID REFERENCE NBR IS REQUIRED, WHEN SKIP PMT FLAG IS 2

            VPL5SSK21S - REQUESTED CARD/ACCOUNT NUMBER IS NOT FOUND

            VPL5SSK22E - FOREIGN USE INDICATOR 2 IS INVALID FOR PLAN SKIP

            VPL5SSK23E - SKIP PAYMENT FLAG SHOULD BE 0 OR 1 OR 2

            VPL5SSK25S - INPUT CARD/ACCT NUMBER IS NOT NUMERIC

            VPL5SSK26S - REQUESTED CARD/ACCOUNT NUMBER IS NOT FOUND

            VPL5SSK27S - ACCOUNT NOT FOUND ON FILE

            VPL5SSK28E - INVALID LOCAL/FOREIGN INDICATOR SPECIFIED

            VPL5SSK29E - CREDIT PLAN IS NOT ACTIVE OR NOT FOUND

            VPL5SSK30S - ORGANIZATION NOT DETERMINED

            VPL5SSK33S - ORG RECORD NOT ON FILE

            VPL5SSK34S - LOGO RECORD NOT ON FILE

            VPL5SSK35S - ORG NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998

            VPL5SSK36E - FOREIGN USE IND IS INVALID, ACCOUNT IS NOT A DUAL ACCOUNT'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkipPaymentUpdateResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Skip Payment Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/settlement-quote:
    put:
      tags:
      - Account
      summary: 'Account level Settlement Quote Request. (VMX Service: M.CMS.ACCT.STTLMNT.QUOTE.UPD,
        R8V1)'
      description: "Provides the ability for an external source to generate an online\
        \ account-level settlement payoff quote. \nVMX Service: M.CMS.ACCT.STTLMNT.QUOTE.UPD,\
        \ R8V1"
      operationId: Account Level Settlement Quote Request
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettlementQuoteRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: 'VPL5SAQ02S - ORGANIZATION NOT DETERMINED

            VPL5SAQ03S - REQUESTED ORG NUMBER IS NOT FOUND

            VPL5SAQ04E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE
            001-998

            VPL5SAQ05E - ACCOUNT OR CARD NUMBER MISSING OR INVALID

            VPL5SAQ06E - FOREIGN USE MUST = SPACES, 0(LOCAL) OR 1(FOREIGN)

            VPL5SAQ07E - START ITEM REQUIRED WITH SCROLL KEY N OR P

            VPL5SAQ08E - SCROLL KEY MUST BE N, P, OR SPACE

            VPL5SAQ09E - PAYOFF DATE MUST BE NUMERIC

            VPL5SAQ10E - SETTLEMENT QUOTE MUST BE P, W, OR C

            VPL5SAQ11E - PAYOFF DATE SHOULD NOT BE LESS THAN TODAY PROCESSING DATE

            VPL5SAQ12E - PAYOFF DATE SHOULD NOT > THAN 60 DAYS FROM TODAY DATE

            VPL5SAQ21S - INSTALLMENT NOT ACTIVE AT THE ORG LEVEL

            VPL5SAQ22S - FOREIGN ORG RECORD NOT FOUND

            VPL5SAQ23S - ACCOUNT NOT ACTIVE

            VPL5SAQ24S - LOGO NOT FOUND

            VPL5SAQ25S - LOGO IN PENDING STATUS

            VPL5SAQ26S - INSTALLMENT NOT ACTIVE AT THE LOGO LEVEL

            VPL5SAQ27S - ACCESS PROBLEM ON PLAN SEGMENT

            VPL5SAQ28S - FAILURE TO INVOKE PLAN QUOTE SERVICE

            VPL5SAQ31S - PROBLEM ACCESSING PLAN SEGMENT SETTLEMENT DATA

            VPL5SAQ32S - CANCEL REQUEST IS INVALID WHEN QUOTE IND IS NOT P, W OR S

            VPL5SAQ33S - PAYOFF QUOTE NOT ALLOWED

            VPL5SAQ80I - NO FOREIGN ORG FOUND IN ORG RECORD

            VPL5SAQZAS - ACCOUNT NOT FOUND

            VPL5SAQZCS - ORG NOT FOUND OR ORG IS PENDING ADD'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettlementQuoteResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Account Level Settlement Quote Request
      x-group-name: Account
      x-child-product-name: Accounts
  /account/service-charge-table:
    put:
      tags:
      - Account
      summary: "The Service Charge/Fee Table Override Update service enables a calling\
        \ program to maintain Service Charge/Fee Table Override parameters associated\
        \ with an account. \nVMX Service: M.CMS.SVCFEE.TBL.OVRD.UPD, R8V1"
      description: "The Service Charge/Fee Table Override Update service enables a\
        \ calling program to maintain Service Charge/Fee Table Override parameters\
        \ associated with an account. \nVMX Service: M.CMS.SVCFEE.TBL.OVRD.UPD, R8V1"
      operationId: Service Charge/Fee Table Override Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeFeeTableOverrideUpdRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '422':
          description: "VPL5S0029S \u2013 ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE\
            \ BETWEEN 000 AND 998\n\nVPL5SSU01E \u2013 INVALID DUAL ACCT INDICATOR\n\
            \nVPL5SSU02E \u2013 INPUT ACCT NUMBER IS NOT NUMERIC OR EQUAL SPACES\n\
            \nVPL5SSU03S \u2013 INVALID FOREIGN FLAG\n\nVPL5SSU04E \u2013 SVC FEE\
            \ TABLE MUST BE NUMERIC AND 001 THRU 998\n\nVPL5SSU05E \u2013 SVC START\
            \ DATE IS NOT A VALID DATE\n\nVPL5SSU06E \u2013 SVC START DATE IS NOT\
            \ NUMERIC\n\nVPL5S0006S \u2013 REQUESTED ORG NUMBER IS NOT FOUND\n\nVPL5SSU07E\
            \ \u2013 SVC EXPIRE DATE IS NOT A VALID DATE\n\nVPL5SSU07S \u2013 ORG\
            \ RECORD NOT FOUND\n\nVPL5SSU08E \u2013 SVC EXPIRE DATE IS NOT NUMERIC\n\
            \nVPL5SSU09E \u2013 SVC EXPIRE DATE MUST BE GREATER THAN SVC START DATE\n\
            \nVPL5SSU10E \u2013 NOT A FOREIGN ACCOUNT\n\nVPL5SSU10S \u2013 INVALID\
            \ ORG\n\nVPL5SSU12S \u2013 DUAL CURRENCY ORG VALID VALUES ARE 001 THRU\
            \ 998\n\nVPL5SSU13E \u2013 MISMATCHED GENERATED FOREIGN ORG\n\nVPL5SSU14S\
            \ \u2013 ORG RECORD NOT FOUND FOR A DUAL CURRENCY ORG\n\nVPL5SSU15S \u2013\
            \ FOREIGN ACCOUNT DUAL CURRENCY MISMATCH\n\nVPL5SSU16S \u2013 ORG RECORD\
            \ NOT FOUND\n\nVPL5SSU17E \u2013 ACCOUNT NOT ON FILE\n\nVPL5SSU18E \u2013\
            \ ACCOUNT NOT ON FILE\n\nVPL5SSU19E \u2013 SERVICE FEE TABLE OVERRIDE\
            \ NOT ALLOWED FOR THIS LOGO\n\nVPL5SSU20S \u2013 ACCT NOT ON FILE"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeFeeTableOverrideUpdResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Service Charge/Fee Table Override Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/relationship/billing-cycle:
    put:
      tags:
      - Relationship
      summary: "The billing cycle update service for the relationship allows a user\
        \ to update the billing cycle code for all accounts associated with a relationship.\
        \ \nVMX Service: M.CMS.BILLING.CYCLE.UPD, R8V1"
      description: "The billing cycle update service for the relationship allows a\
        \ user to update the billing cycle code for all accounts associated with a\
        \ relationship. \nVMX Service: M.CMS.BILLING.CYCLE.UPD, R8V1"
      operationId: Billing Cycle Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingCycleUpdateRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '422':
          description: "VPL5SBY06E-ORG NUMBR MUST BE NUMERIC AND VALID VALUES ARE\
            \ 001-998 \n\nVPL5SBY07E-ORG NUMBER REQUIRED WHEN ACCOUNT NUMBER NOT PROVIDED\
            \ \n\nVPL5SBY08E-ACCOUNT NUMBER IS NOT NUMERIC OR EQUALS SPACES \n\nVPL5SBY09E-ENTER\
            \ VALID BILLING CYCLE CODE SHOULD BE 1 TO 31 \n\nVPL5SBY10S-REQUESTED\
            \ ORGANIZATION COULD NOT BE DETERMINED \n\nVPL5SBY14S-SYSTEM RECORD NOT\
            \ FOUND \n\nVPL5SBY15S-SYSTEM CONTROL FILE NOT OPEN IN ONLINE \n\nVPL5SBY16S-ORGANIZATION\
            \ NUMBER NOT FOUND \n\nVPL5SBY17S-BASE SEGMENT FILE NOT OPEN IN ONLINE\
            \ \n\nVPL5SBY18S-RECORD NOT COMPLETE \n\nVPL5SBY19S-LOGO RECORD NOT FOUND\
            \ OR IN ADD PENDING STATUS \n\nVPL5SBY20S-SUBORDINATE CAN'T HAVE DIFF\
            \ BILLING CYC WHEN BILL CYC(MOD) IS 1 \n\nVPL5SBY21S-INVALID BILLING CYCLE\
            \ \n\nVPL5SBY22S-NBR OF DAYS HAS NOT EXPIRED AND PMT DUE ON ACCT \n\n\
            VPL5SBY23S-UPDATE NOT ALLOWED FOR THIS LOGO \n\nVPL5SBY24S-NBR OF DAYS\
            \ SINCE LAST UPDATE HAS NOT EXPIRED \n\nVPL5SBY25S-UPDATE NOT ALLOWED,\
            \ OUTSTANDING PAYMENT \n\nVPL5SBY26S-UPDATE NOT ALLOWED, PAYMENT PAST\
            \ DUE \n\nVPL5SBY27S-RELATIONSHIP RECORD NOT FOUND "
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCycleUpdateResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Billing Cycle Update
      x-group-name: Relationship
      x-child-product-name: Accounts
  /account/relationship/account:
    put:
      tags:
      - Relationship
      summary: 'Account relationship number update. VMX Service: M.CMS.ACCOUNT.RELATIONSHIP.UPD,
        L8V1'
      description: "Update relationship number of a account. \nVMX Service: M.CMS.ACCOUNT.RELATIONSHIP.UPD,\
        \ L8V1"
      operationId: Account Relationship Number Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountRelationshipUpdateRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '422':
          description: "VPL5SRA51S-ACCOUNT LOGO AND RELATIONSHIP LOGO ARE NOT SAME\
            \ \n\nVPL5SRA37S-ACCOUNT NUMBER MUST REQUIRED \n\nVPL5SRA36S-ACCOUNT ORG\
            \ MUST BE NUMERIC AND LESS THAN 999 \n\nVPL5SRA55S-CANNOT ADD A NON-CORPORATE\
            \ ACCOUNT TO A CORPORATE RELATIONSHIP \n\nVPL5SRA78S-CANNOT ADD A NON-CORPORATE\
            \ ACCOUNT TO A CORPORATE RELATIONSHIP \n\nVPL5SRA54S-CANNOT ADD A NON-PURCHASE\
            \ ACCOUNT TO A PURCHASE RELATIONSHIP \n\nVPL5SRA77S-CANNOT ADD A NON-PURCHASE\
            \ ACCOUNT TO A PURCHASE RELATIONSHIP \n\nVPL5SRA53S-CANNOT BE GREATER\
            \ THAN RELATIOSHIP CREDIT LIMIT \n\nVPL5SRA76S-CANNOT BE GREATER THAN\
            \ RELATIOSHIP CREDIT LIMIT \n\nVPL5SRA74S-FOREIGN ACCOUNT LOGO AND RELATIONSHIP\
            \ LOGO ARE NOT SAME \n\nVPL5SRA59S-FOREIGN ORG NOT FOUND ON FILE \n\n\
            VPL5SRA64S-FOREIGN RELATION-NUM IS ALREADY ASSIGNED TO INPUT ACCOUNT \n\
            \nVPL5SRA73S-FOREIGN RELATIONSHIP CAN NOT BE CHANGED WHEN BILL-LVL=0 \n\
            \nVPL5SRA72S-FOREIGN RELATIONSHIP PROCESS IS NOT ALLOWED FOR COBRAND LOGO\
            \ \n\nVPL5SRA66S-FOREIGN RELATIONSHIP RECORD DOES NOT EXIST \n\nVPL5SRA56S-FOREIGN\
            \ USE INDICATOR INVALID, DUAL ACCOUNT NOT FOUND \n\nVPL5SRA79S-FOREIGN\
            \ USE INDICATOR INVALID, DUAL ACCOUNT NOT FOUND \n\nVPL5SRA57S-FOREIGN\
            \ USE INDICATOR INVALID, ORG IS NOT DUAL CURRENCY ORG \n\nVPL5SRA80S-FOREIGN\
            \ USE INDICATOR INVALID, ORG IS NOT DUAL CURRENCY ORG \n\nVPL5SRA35S-FOREIGN\
            \ USE INDICATOR VALUES MUST BE 0, 1 OR 2 \n\nVPL5SRA75S-FOREIGN-OLD RELATIONSHIP\
            \ IS NOT FOUND IN RELATIONSHIP MASTER \n\nVPL5SRA41S-FOREIGN-USE INDICATOR\
            \ VALUE MUST BE 0,1 OR 2 WHEN ORG=0 OR EMPTY \n\nVPL5SRA71E-FOREIGN-USE\
            \ INDICATOR VALUE MUST BE EMPTY WHEN ACCT-ORG > 0 \n\nVPL5SRA65S-INPUT\
            \ ACCOUNT MUST BE FOREIGN ACCOUNT WHEN FOREIGN_USE>0 \n\nVPL5SRA81E-INPUT\
            \ ORG DOES NOT MATCH WITH DETERMINED ORG \n\nVPL5SRA58S-INPUT ORG DOES\
            \ NOT MATCH WITH FOREIGN ACCOUNT ORG \n\nVPL5SRA49S-INPUT RELATIONSHIP\
            \ IS ALREADY ASSIGNED TO INPUT ACCOUNT \n\nVPL5SRA31S-INPUT TO RELATIONSHIP\
            \ ASSIGN SERVICE IS INCORRECT LENGTH \n\nVPL5SRA69S-INVALID ACCOUNT STATUS\
            \ OR ACCOUNT NOT FOUND \n\nVPL5SRA60S-INVALID FOREIGN USE FLAG, ORG IS\
            \ NOT DUAL \n\nVPL5SRA62S-INVALID LOGO STATUS OR LOGO RECORD NOT FOUND\
            \ FOR FOREIGN ORG \n\nVPL5SRA70S-INVALID RELATIONSHIP STAUS OR RELATIONSHIP\
            \ NOT FOUND \n\nVPL5SRA68S-LOGO RECORD NOT FOUND OR INVALID LOGO STATUS\
            \ \n\nVPL5SRA52S-OLD RELATIONSHIP IS NOT FOUND IN RELATIONSHIP MASTER\
            \ \n\nVPL5SRA67S-ORG RECORD NOT FOUND OR INVALID ORG STATUS \n\nVPL5SRA40S-ORGANIZATION\
            \ NOT DETERMINED \n\nVPL5SRA39S-ORGNIZATION CANNOT BE DETERMINED BY THE\
            \ SYSTEM \n\nVPL5SRA50S-RELATIONSHIP CAN NOT BE CHANGED WHEN BILL-LVL=0\
            \ \n\nVPL5SRA61S-RELATIONSHIP NOT ACTIVE FOR FOREIGN ORG \n\nVPL5SRA45S-RELATIONSHIP\
            \ NOT ACTIVE IN THIS ORG \n\nVPL5SRA38S-RELATIONSHIP NUMBER MUST REQUIRED\
            \ \n\nVPL5SRA47S-RELATIONSHIP PROCESS IS NOT ALLOWED FOR COBRAND LOGO\
            \ \n\nVPL5SRA48S-REQUEST TYPE DOES NOT MATCH WITH THE ACCT TYPE \n\nVPL5SRA42S-REQUESTED\
            \ ORGANIZATION NOT FOUND "
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountRelationshipUpdateResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Account Relationship Number Update
      x-group-name: Relationship
      x-child-product-name: Accounts
  /account/qualification:
    put:
      tags:
      - Account
      summary: "Emulates the functionality used to update the account status from\
        \ active to closed. In addition, this service provides the ability to initiate\
        \ charge-off in. \n\nVMX Service: M.CMS.ACCT.CLOSE.CHGOFF, R8V2"
      description: "Emulates the functionality used to update the account status from\
        \ active to closed. In addition, this service provides the ability to initiate\
        \ charge-off in. \n\nVMX Service: M.CMS.ACCT.CLOSE.CHGOFF, R8V2"
      operationId: Account Qualification Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateQualificationRequest'
        required: true
      responses:
        '422':
          description: 'VPL5SAAI6E - GQ FIELD MUST BE SPACE OR A-Z


            VPL5SCC01S - ACCOUNT OR CARD NUMBER IS REQUIRED


            VPL5SCC02S - ORGANIZATION NOT DETERMINED


            VPL5SCC03S - REQUESTED ORG NUMBER IS NOT FOUND


            VPL5SCC04S - ORGANIZATION NUMBER NOT FOUND ON FILE


            VPL5SCC05S - FOREIGN ORG RECORD NOT FOUND ON FILE


            VPL5SCC06S - LOGO NUMBER NOT FOUND ON FILE


            VPL5SCC11S - STATUS CANNOT CHANGE TO CLOSED WHEN INSURANCE IS ACTIVE


            VPL5SCC12S - CANNOT MANUAL CHGOFF AN ACCT WITH A ZERO OR CREDIT BALANCE


            VPL5SCC13S - CANNOT RESET CHARGEOFF ON ACCOUNT WHEN DAYS IS > 0


            VPL5SCC14S - CANNOT MANUAL CHARGE OFF THIS ACCT


            VPL5SCC15S - CANNOT CHARGEOFF (WITH RSN) AN ACCT WITH 0 BAL OR CREDIT
            BAL


            VPL5SCC16S - VALID ENTRIES FOR RSN CODE POSITION 1 ARE C, B, F, OR T


            VPL5SCC17S - ENTERED AUTO C/O RSN CODE - PLS CHG TO MANUAL RSN


            VPL5SCC18S - RSN CODE MUST BE DEFINED ON ARML24


            VPL5SCC19S - CANNOT CHARGEOFF (WITH RSN), ACCT C/O STAT MUST = 0


            VPL5SCC21E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE
            001-998


            VPL5SCC22E - FOREIGN USE MUST = SPACES, 0(LOCAL) OR 1(FOREIGN)


            VPL5SCC23E - REASON CODE IS REQUIRED FOR FUNC 2 - CHGOFF WITH RSN


            VPL5SCC24E - VALID FUNC INDICATOR IS 0-ACCT CLS 1-MANUAL CHGOFF 2-CHGOFF
            RSN ON


            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateQualificationResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Account Qualification Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/productTransfer:
    put:
      tags:
      - Account
      summary: 'Generates the reject report for product upgrade or downgrade during
        batch process.


        VMX Service: M.CMS.ACCT.PRODTRANSFER.UPD, L8V3'
      description: 'Generates the reject report for product upgrade or downgrade during
        batch process.


        VMX Service: M.CMS.ACCT.PRODTRANSFER.UPD, L8V3'
      operationId: Product Transfer Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductTransferRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: "VPL5SFR02S-SERVICE INPUT TO FR SERVICE IS AN INCORRECT \n\n\
            VPL5SFR05S-INVALID ACCOUNT \n\nVPL5SFR06S-INVALID ORG \n\nVPL5SFR07S-INVALID\
            \ FUNCTION \n\nVPL5SFR08S-ORG IS NOT PRESENT OR ADD PENDING STATUS \n\n\
            VPL5SFR09S-ACCOUNT TRANSFER PROHIBITED \n\nVPL5SFR0AS-COMB INST PRODUCT\
            \ CAN NOT BE LINKED TO SELECTED LOGO \n\nVPL5SFR0BS-LOGO DOES NOT ALLOW\
            \ ACCOUNT NUMBER GENERATION \n\nVPL5SFR0CS-MAXIMUM NUMBER OF 20 ATTEMPTS\
            \ MADE ON BASE NUMBER \n\nVPL5SFR0DS-GENERATED ACCOUNT NUMBER > BASE ENDING\
            \ NUMBER \n\nVPL5SFR0ES-SEED TABLE ERROR-EMBOSSER TRANSFER INCOMPLETE-NBR\
            \ XFERED \n\nVPL5SFR0FS-INVALID CUSTOMER NUMBER \n\nVPL5SFR0KS-CMS IS\
            \ NO-PROCESSING STATE. RE-TRY REQUEST IN SOME TIME \n\nVPL5SFR0LS-MULTI\
            \ SCM XFR IS INACTIVE CROSS SCHEME TRANSFER NOT ALLOWED \n\nVPL5SFR0MS-CARD\
            \ TYPE DOES NOT ALLOW ACROSS SCHEME TRANSFER \n\nVPL5SFR10S-INPUT ACCOUNT\
            \ NOT PRESENT OR ADD PENDING STATUS \n\nVPL5SFR11S-CANNOT TRANSFER/COPY\
            \ PURGED ACCOUNT \n\nVPL5SFR12S-CANNOT TRANSFER/COPY CLOSED \n\nVPL5SFR13S-CANNOT\
            \ TRANSFER/COPY CHARGE-OFF ACCOUNT \n\nVPL5SFR14S-CANNOT TRANSFER/COPY\
            \ NEW ACCOUNT \n\nVPL5SFR15S-CANNOT TRANSFER/COPY CONVERSION ACCOUNT \n\
            \nVPL5SFR16S-CANNOT TRANSFER/COPY COMPANY ACCOUNTS \n\nVPL5SFR17S-PROD\
            \ XFR NOT AVAILABLE IN AFTER HOURS FOR HCS CARDS \n\nVPL5SFR19S-ACCT XFR\
            \ FOR THIRD PARTY LOGO NOT ALLOWED IN AFT HRS \n\nVPL5SFR21S-LOGO IS NOT\
            \ PRESENT/ADD PEDNING STATUS \n\nVPL5SFR22S-PRODUCT TRANSFER NOT ALLOWED\
            \ FOR BLOCKED ACCOUNT \n\nVPL5SFR23S-ACCOUNT ALREADY TRANSFERRED , ONLY\
            \ REVERSAL ALLOWED \n\nVPL5SFR24S-CANNOT TRANSFER DELINQUENCY OUT OF BALANCE\
            \ ACCOUNT \n\nVPL5SFR26S-ACCOUNT FOR DUAL ORG IS NOT PRESENT OR ADD PENDING\
            \ STATUS \n\nVPL5SFR27S-CANNOT TRANSFER/COPY PURGED ACCOUNT - DUAL ORG\
            \ \n\nVPL5SFR28S-CANNOT TRANSFER/COPY CLOSED ACCOUNT - DUAL ORG \n\nVPL5SFR29S-CANNOT\
            \ TRANSFER/COPY CHARGE-OFF ACCOUNT - DUAL ORG \n\nVPL5SFR30S-CANNOT TRANSFER/COPY\
            \ NEW ACCOUNT - DUAL ORG \n\nVPL5SFR31S-ACCOUNT ALREADY TRANSFERRED/COPIED\
            \ - DUAL ORG \n\nVPL5SFR32S-CANNOT TRANSFER/COPY CONVERSION ACCOUNT -\
            \ DUAL ORG \n\nVPL5SFR33S-REVERSAL CANNOT BE PROCESSED DURING END-OF-DAY\
            \ \n\nVPL5SFR34S-TRANSFER AUTH DAYS MUST BE NUMERIC \n\nVPL5SFR35S-INVALID\
            \ NEW ACCT \n\nVPL5SFR36S-INVALID NEW LOGO \n\nVPL5SFR37S-INVALID BILLING\
            \ CYCLE \n\nVPL5SFR38S-INVALID BILLING CYCLE \n\nVPL5SFR39S-INVALID NEW\
            \ CARD TECHNOLOGY \n\nVPL5SFR40S-SMART CARD NOT VALID WITH CARD SCHEME\
            \ 2 \n\nVPL5SFR41S-XFR/COPY ACCOUNT MUST BE DIFFERENT FROM XFR/CPY FROM\
            \ ACCT \n\nVPL5SFR43S-PCT ID IS NOT NEEDED SINCE THE FUNCTION IS NOT P\
            \ \n\nVPL5SFR44S-PCT ID PROVIDED IS NOT DEFINED UNDER NEW LOGO \n\nVPL5SFR46S-NEW\
            \ CREDIT LIMIT NOT ALLOWED FOR FUNCTION C OR R \n\nVPL5SFR47S-DEBIT CARD\
            \ MUST TRANSFER TO ANOTHER DEBIT CARD LOGO \n\nVPL5SFR48S-PRODUCT TRANSFER\
            \ MUST NOT CROSS ORGANIZATIONS \n\nVPL5SFR49S-PRODUCT TRANSFER MUST CROSS\
            \ LOGOS \n\nVPL5SFR50S-PRODUCT XFR NEVER XFR TO DIFFERENT LOGO CARD TECH\
            \ SCH2 \n\nVPL5SFR51S-CANNOT TRANSFER ACCOUNT WITH PENDING CARD TECH CHANGE\
            \ \n\nVPL5SFR52S-TOO MANY EMBOSSERS FOR ACCOUNT''S NEW CARD TECHNOLOGY\
            \ \n\nVPL5SFR53S-ACCOUNT TRANSFER NOT ALLOWED DUE TO PENDING CARD ACTION\
            \ \n\nVPL5SFR54S-XFR/COPY TO ACCOUNT MUST NOT BE ON FILE FOR THIS ORG\
            \ \n\nVPL5SFR55S-XFR TO ACCT NBR ALREADY ASSIGNED TO AN EMBOSSER FOR ORG\
            \ \n\nVPL5SFR56S-XFR TO ACCT NBR ALREADY ASSIGNED TO A RELATION FOR ORG\
            \ \n\nVPL5SFR57S-XFR/COPY TO ACCOUNT MUST NOT BE ON FILE FOR DUAL ORG\
            \ \n\nVPL5SFR58S-XFR TO ACCT NBR ALREADY ASSIGNED TO AN EMBOSSER DUALORG\
            \ \n\nVPL5SFR59S-XFR TO ACCT NBR ALREADY ASSIGNED TO A RELATION DUALORG\
            \ \n\nVPL5SFR60S-CUSTOMER RECORD NOT ON FILE IN THIS ORG \n\nVPL5SFR61S-CUSTOMER\
            \ RECORD MUST BE ACTIVE IN THIS ORIG \n\nVPL5SFR62S-CUSTOMER RECORD NOT\
            \ ON FILE IN THE DUAL ORG \n\nVPL5SFR63S-CUSTOMER RECORD MUST BE ACTIVE\
            \ IN THE DUAL ORG \n\nVPL5SFR64S-ORGANIZATION NOT DETERMINED \n\nVPL5SFR65S-DETERMINED\
            \ ORGANIZATION NOT EQUAL TRANSFER/COPY FROM ORG \n\nVPL5SFR66S-DETERMINED\
            \ LOGO NOT EQUAL XFR/COPY FROM LOGO BILLING ACCT \n\nVPL5SFR67S-XFR TO\
            \ LOGO DOES NOT ALLOW SMART CARD - ACCT NOT XFRED \n\nVPL5SFR68S-NEW LOGO\
            \ IS NOT PRESENT OR ADD PENDING STATUS \n\nVPL5SFR69S-TRANSFER/COPY TO\
            \ AN OPEN ITEM LOGO NOT ALLOWED \n\nVPL5SFR70S-TRANSFER/COPY TO A NON-OPEN\
            \ ITEM LOGO NOT ALLOWED \n\nVPL5SFR71S-TRANSFER/COPY TO A RETAIL LOGO\
            \ NOT ALLOWED \n\nVPL5SFR72S-TRANSFER/COPY TO A BANKCARD LOGO NOT ALLOWED\
            \ \n\nVPL5SFR73S-TRANSFER/COPY TO A DEBIT CARD LOGO NOT ALLOWED \n\nVPL5SFR74S-TRANSFER/COPY\
            \ TO A REGULAR BANKCARD LOGO NOT ALLOWED \n\nVPL5SFR75S-XFR/CPY FROM NON\
            \ DUAL TO DUAL IS NOT ALLOWED \n\nVPL5SFR76S-XFR/CPY FROM DUAL TO NON\
            \ DUAL IS NOT ALLOWED \n\nVPL5SFR77S-XFR/CPY FROM NON PREPAID TO PREPAID\
            \ IS NOT ALLOWED \n\nVPL5SFR78S-XFR/CPY FROM PREPAID TO NON PREPAID IS\
            \ NOT ALLOWED \n\nVPL5SFR79S-XFR/CPY FROM PERSONAL TO NON PERSOANL IS\
            \ NOT ALLOWED \n\nVPL5SFR80S-XFR/CPY FROM NON PERSONAL TO PERSONAL IS\
            \ NOT ALLOWED \n\nVPL5SFR81S-XFR/CPY FROM DISPOSABLE TO RELOADABLE IS\
            \ NOT ALLOWED \n\nVPL5SFR82S-XFR/CPY FROM RELOADABLE TO DISPOSLABLE IS\
            \ NOT ALLOWED \n\nVPL5SFR83S-XFR OF AN AUTO RELAOD ACTIVE TO INACTIVE\
            \ IS INVALID \n\nVPL5SFR84S-XFR OF A BANK AUTH ACTIVE TO INACTIVE IS INVALID\
            \ \n\nVPL5SFR86S-XFR/CPY FROM PURCHASING CARD TO NON PURCHASING IS INVALID\
            \ \n\nVPL5SFR87S-XFR/CPY FROM NON PURCHASING TO PURCHASING CARD IS INVALID\
            \ \n\nVPL5SFR88S-XFR/CPY FROM CORPOORPORATE TO CORPORATE IS INVALID \n\
            \nVPL5SFR89S-XFR/CPY FROM NON CORPORATE TO CORPORATE IS INVALID \n\nVPL5SFR91S-NEW\
            \ ACCT CREDIT LIMIT IS > LOGO CREDIT LIMIT CEILING \n\nVPL5SFR92S-NEW\
            \ ACCT CREDIT LIMIT IS < LOGO FLOOR LIMIT \n\nVPL5SFR93S-ACCOUNT CREDIT\
            \ LIMIT IS > LOGO CREDIT LIMIT \n\nVPL5SFR94S-ACCOUNT DREDIT LIMIT IS\
            \ < LOGO FLOOR LIMIT \n\nVPL5SFR95S-TRANSFER/COPY TO A NON-ACH BILLING\
            \ LOGO NOT ALLOWED \n\nVPL5SFR97S-PRODUCT GRADUATION TERMINATED , LOGO\
            \ NOT ELIGIBLE \n\nVPL5SFR99S-COBRANDED FLAG ARE NOT SAME, TRANSFER/COPY\
            \ NOT ALLOW "
          content:
            application/json: {}
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductTransferResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Product Transfer Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/prepaid:
    put:
      tags:
      - Account
      summary: "Links a pre-issued card to both a Customer record and an Account record.\
        \ \n\nVMX Service: M.CMS.PREPAIDACCT.ASSIGN.UPD, L8V1"
      description: "Links a pre-issued card to both a Customer record and an Account\
        \ record. \n\nVMX Service: M.CMS.PREPAIDACCT.ASSIGN.UPD, L8V1"
      operationId: Prepaid Account Assignment
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidAssignmentRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: 'VPL5SPSZ6S - ORGANIZATION COULD NOT BE DETERMINED FOR INPUT
            CARD


            VPL5SPSZ7S - ORGANIZATION COULD NOT BE DETERMINED FOR CUSTOMER ACCT


            VPL5SPSZ8S - INVALID ORGANIZATION NUMBER


            VPL5SPSZ9S - CMS FILE-TABLE USED BY THIS SERVICE IS NOT FOUND


            VPL5SPS02E - CUSTOMER ACCT NBR MUST BE NUMERIC AND > ZEROES


            VPL5SPS03E - CARD NBR MUST BE NUMERIC AND > ZEROES


            VPL5SPS04E - CARDHOLDER TYPE MUST BE 0 OR 1


            VPL5SPS05S - LOGO COULD NOT BE DETERMINED FOR FOR INPUT CARD


            VPL5SPS06S - LOGO COULD NOT BE DETERMINED FOR CUSTOMER ACCT


            VPL5SPS07E - ORG & LOGO MUST BE SAME FOR NON-PERSONAL & CUSTOMER ACCT


            VPL5SPS08S - SYSTEM RECORD NOT FOUND


            VPL5SPS09S - ORG RECORD NOT FOUND OR IN ADD PENDING STATUS


            VPL5SPS10S - LOGO RECORD NOT FOUND OR IN ADD PENDING STATUS


            VPL5SPS11E - LOGO MUST BE PREPAID LOGO


            VPL5SPS12S - EMBOSSER RECORD NOT FOUND OR ADD PENDING OR PURGED STATUS


            VPL5SPS13E - CARD MUST NOT BE ACTIVATED


            VPL5SPS15S - NON PERSONAL ACCT NOT FOUND/ADD PENDING/CLOSED/PURGE STATUS


            VPL5SPS16E - NON PERSONAL ACCT ASSOCIATED WITH INPUT CARD MUST BE GENERIC
            PPD


            VPL5SPS17E - CARD NUMBER DECRYPTED FROM PAN TOKEN IS SPACES/ZEROS


            VPL5SPS17S - CUSTOMER ACCT NOT FOUND/ADD PENDING/CLOSED/PURGE STATUS


            VPL5SPS18E - CARD NUMBER SHOULD NOT BE SPACES


            VPL5SPS19E - ORG LEVEL PAN TOKEN SW INACTIVE


            VPL5SPS19S - CUST NBR ASSOCIATED WITH CUST ACCT NOT FOUND/ADD PENDNG/CLSD/PURG


            VPL5SPS20S - EXISTNG PRIMRY CARD MAPPED TO CUST ACCT IN AMAX,NOT FOUND
            IN AMED


            VPL5SPS21S - NON PERSONAL ACCT ASSOCIATED WITH INPUT CARD NOT FOUND IN
            BS FILE'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidAssignmentResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Prepaid Account Assignment
      x-group-name: Account
      x-child-product-name: Accounts
  /account/ppd-over-limit:
    put:
      tags:
      - Account
      summary: 'Prepaid over limit update. VMX Service: M.CMS.PPD.OVERLIMIT.UPD, L8V1'
      description: "Update the over limit amount of a prepaid account. \nVMX Service:\
        \ M.CMS.PPD.OVERLIMIT.UPD, L8V1"
      operationId: Prepaid Over Limit update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
[...]
