openapi: 3.0.1
info:
  title: FirstVision™ Account Service - API Documentation
  description: This documentation describes the REST APIs provided by the FirstVision™ Cards Microservice, which provides functionality for the issuing, management and processing of credit cards, including bank, co-branded, private label, debit, commercial, and prepaid
  version: "1.2"
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /account/walletStatus:
    put:
      tags:
        - Account
      summary: |-
        Account wallet status Update. 

        VMX Service: M.CMS.WALLET.STATUS.UPD, L8V1
      description: |-
        The Wallet Status Update service enables a user to update the status of the wallet occurrences (subsidies) on the wallet record for an account.
         
        VMX Service: M.CMS.WALLET.STATUS.UPD, L8V1
      operationId: Account Wallet Status Update
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletStatusUpdateRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletStatusUpdateResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |+
            VPL5SWU01E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998

            VPL5SWU02E - CARD NUMBER OR ACCOUNT NUMBER MUST BE PROVIDED

            VPL5SWU03E - ORGANIZATION NOT ON FILE

            VPL5SWU04E - CARD/ACCOUNT NOT VALID FOR ORG

            VPL5SWU05E - CARD/ACCOUNT NOT FOUND ON FILE

            VPL5SWU06E - WALLET RECORD FILE READ ERROR

            VPL5SWU07E - OCCURRENCE MUST BE NUMERIC VALUE 01 TO 30

            VPL5SWU08E - NO WALLET OCCURRENCE ON FILE

            VPL5SWU09E - SUBSIDY CODE INVALID

            VPL5SWU10E - INVALID STATUS VALID VALUES ARE 0 OR 1

            VPL5SWUZ6S - ORGANIZATION NOT ON FILE

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Account Wallet Status Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/wallet-priority-order:
    put:
      tags:
        - Account
      summary: 'The Multi-Wallet Priority Order Update service enables customers to change the priority of wallets at account level. (VMX Service: M.CMS.WALLET.PRTYORDER.UPD, R8V1)'
      description: |-
        The Multi-Wallet Priority Order Update service enables customers to change the priority of wallets at account level. 
        VMX Service: M.CMS.WALLET.PRTYORDER.UPD, R8V1
      operationId: Multi Wallet Priority Order Update
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletPriorityOrderUpdateRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletPriorityOrderUpdateResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |-
            VPL5SWUZ6S - ORGANIZATION NOT ON FILE
            VPL5SWUZ7S - REQUESTED ORGANIZATION NOT FOUND
            VPL5SWU01E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SWU01S - SERVICE COULD NOT OBTAIN STORAGE AREA
            VPL5SWU02E - CARD NUMBER OR ACCOUNT NUMBER MUST BE PROVIDED
            VPL5SWU02S - SERVICE INPUT TO MWP PRIORTIY UPDATE SERVICE IS OF INCORRECT LEN
            VPL5SWU03E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SWU04E - ACCOUNT NUMBER IS NOT NUMERIC OR EQUAL SPACES
            VPL5SWU04S - FILE TABLE USED BY THIS SERVICE IS NOT FOUND
            VPL5SWU05E - THE WALLET PRIORITIES ENTERED ARE NOT IN CONTIGUOUS FIELD
            VPL5SWU06E - THE WALLET PRIORITIES MUST BE UNIQUE
            VPL5SWU07E - OCCURRENCE MUST BE NUMERIC VALUE 01 TO 30
            VPL5SWU07S - ORGANIZATION COULD NOT BE DETERMINED FROM ACCOUNT
            VPL5SWU08E - NO WALLET OCCURRENCE ON FILE
            VPL5SWU08S - ORGANIZATION COULD NOT BE DETERMINED
            VPL5SWU09E - SUBSIDY CODE INVALID
            VPL5SWU10E - INVALID STATUS VALID VALUES ARE 0 OR 1
            VPL5SWU10S - FILE TABLE USED BY THIS SERVICE IS MISSING
            VPL5SWU11S - ORG RECORD IN ADD PENDING STATUS
            VPL5SWU12S - BASE SEGMENT RECORD NOT FOUND
            VPL5SWU13S - ALL THE WALLET IDS OPEN ON AN ACCOUNT MUST BE ENTERED
            VPL5SWU14S - LOGO RECORD NOT FOUND
            VPL5SWU15S - LOGO LEVEL MULTI WALLET FLAG IS INACTIVE
            VPL5SWU16S - LOGO LEVEL WALLET PRIORITY OVERRIDE IS INACTIVE
            VPL5SWU17S - CURRENCY CODE ENTERED MUST BE A SUPPORTED WLT AT LOGO LEVEL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Multi Wallet Priority Order Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/vinculation-reversal:
    put:
      tags:
        - Account
      summary: 'Link a card to an existing account holder. VMX Service: M.CMS.VINCULATION.REV.UPD, L8V1'
      description: |-
        Link a card to an existing account holder. 
        VMX Service: M.CMS.VINCULATION.REV.UPD, L8V1
      operationId: Reversal Vinculate
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VinculationReversalRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VinculationReversalResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Reversal Vinculate
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v2/details:
    put:
      tags:
        - Account
      summary: |-
        Update Account details. 
        VMX Service: M.CMS.ACCTMNT.UPD, L8V2
      description: |-
        Update account details.

        VMX Service: M.CMS.ACCTMNT.UPD, L8V2
      operationId: Account Update
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountDetailsV2Request'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAccountDetailsV2Response'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |+
            Unprocessable Entity 

            Error Code - Error Message 

            VPL5SBB01S - SERVICE COULD NOT OBTAIN STORAGE AREA                             

            VPL5SBB02S - SERVICE INPUT TO ACCOUNT UPD SERVICE IS AN INCORRECT LENGTH       

            VPL5SBB03S - USER HAS NOT SIGNED ON, PLEASE SIGNON                             

            VPL5SBB04S - FILE-TABLE USED BY THIS SERVICE IS NOT FOUND                      

            VPL5SBB05S - APPLICATION IN NO-PROCESSING STATUS, RE-TRY IN A FEW MINUTE       

            VPL5SBB06S - REQUESTED ORGANIZATION NOT FOUND                                  

            VPL5SBB07S - FILE-TABLE USED BY THIS SERVICE IS NOT FOUND                      

            VPL5SBB08S - APPLICATION IN NO-PROCESSING STATUS, RE-TRY IN A FEW MINUTE       

            VPL5SBB10S - SYSTEM RECORD NOT FOUND                                           

            VPL5SBB11S - ORG RECORD NOT FOUND                                              

            VPL5SBB12S - LOGO RECORD NOT FOUND                                             

            VPL5SBB13S - CARD NUMBER NOT FOUND                                             

            VPL5SBB14S - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998  

            VPL5SBB17S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED                    

            VPL5SBBL0S - FOREIGN RELATIONSHIP RECORD DOES NOT EXIST                        

            VPL5SBB01E - STATE OF RESIDENCE CONTAINS INVALID CHARACTERS                    

            VPL5SBB02E - STATE OF ISSUANCE CONTAINS INVALID CHARACTERS                     

            VPL5SBB03E - PRICING CONTROL ID CONTAINS INVALID CHARACTERS                    

            VPL5SBB04E - PRICING CONTROL START DATE IS NOT NUMERIC                         

            VPL5SBB05E - PRICING CONTROL EXPIRE DATE IS NOT NUMERIC                        

            VPL5SBB06E - PRICING LEVEL OVERRIDE MUST EQUAL SPACE, L, O OR S                

            VPL5SBB07E - PRICING LEVEL START DATE IS NOT NUMERIC                           

            VPL5SBB08E - PRICING LEVEL EXPIRE DATE IS NOT NUMERIC                          

            VPL5SBB12E - CASH LIMIT FIELD MUST EQUAL N, T OR Y                             

            VPL5SBB13E - CUSTOMER STATEMENT FIELD MUST = 0 OR 1                            

            VPL5SBB14E - CUSTOMER LTR FIELD FLAG VALUE MUST = 0 OR 1                       

            VPL5SBB15E - SUPPRESS LETTER FIELD MUST EQUAL 0 OR 1                           

            VPL5SBB16E - CYCLE VALUE INVALID - MUST BE BETWEEN ZEROS AND 31                

            VPL5SBBQ0E - STATE OF RESIDENCE IS NOT FOUND ON USURY TABLE                    

            VPL5SBBQ1E - STATE OF RESIDENCE IS INVALID ON USURY TABLE                      

            VPL5SBBQ2E - STATE OF RESIDENCE IS NOT FOUND                                   

            VPL5SBBQ3E - STATE OF RESIDENCE DOES NOT EXIST                                 

            VPL5SBB4WE - STATE OF RESIDENCE DOES NOT MATCH LOGO STATE OF RESIDENCE         

            VPL5SBB4XE - STATE OF RESIDENCE IS REQUIRED                                    

            VPL5SBBQ6E - ISSUANCE ID DOES NOT EXIST                                        

            VPL5SBBQ7E - ISSUANCE ID REQUIRED FOR BANKCARD ACCOUNT                         

            VPL5SBBQ8E - ISSUANCE ID IS NOT FOUND ON USURY TABLE                           

            VPL5SBBQ9E - ISSUANCE ID IS NOT FOUND                                          

            VPL5SBBR0E - ISSUANCE ID DOES NOT EXIST                                        

            VPL5SBBQ4E - PRICING CONTROL ID IS NOT FOUND                                   

            VPL5SBBQ5E - PRICING CONTROL ID DOES NOT EXIST                                 

            VPL5SBBR1E - START DATE INVALID WHEN PCT CNTRL ID NOT PROVIDED                 

            VPL5SBBR2E - START DATE FOR THE PRICING CTRL NOT A VALID DATE                  

            VPL5SBBR3E - START DATE FOR THE PRICING CTRL MUST BE = OR > NEXT PROCESSING DT 

            VPL5SBB1RE - EXPIRE DATE INVALID WHEN PCT CNTRL START DATE NOT PROVIDE         

            VPL5SBBR4E - EXPIRE DATE FOR THE PRICING CTRL NOT A VALID DATE                 

            VPL5SBBR5E - EXPIRE DATE FOR THE PRICING CTRL MUST BE = OR > PCT START         

            VPL5SBB1SE - PCT LEVEL START DATE INVALID WHEN PCT LEVEL NOT PROVIDED          

            VPL5SBBR6E - PCT LEVEL START DATE FOR THE PCT LEVEL NOT A VALID DATE           

            VPL5SBBR7E - PCT LEVEL START DATE FOR PCT LEVEL MUST BE = OR > NEXT PROCESS DT 

            VPL5SBB1QE - PCT LEVEL EXPIRE DATE INVALID WHEN PCT LVL START DTE NOT          

            VPL5SBBR8E - PCT LEVEL EXPIRE DATE FOR THE PCT LEVEL NOT A VALID DATE          

            VPL5SBB2HE - WAIVE CASH AVAIL MUST BE Y FOR PREPAID ACCOUNT TYPE               

            VPL5SBB2HE - WAIVE CASH AVAIL MUST BE Y FOR PREPAID ACCOUNT TYPE               

            VPL5SBBO7E - VALID VALUES FOR PREPAID ACCOUNTS ARE SPACE, I, O, U, OR          

            VPL5SBBO8E - VALID VALUES ARE SPACE, 0-9, C, H, I, R, S, O, U OR Z             

            VPL5SBB1PE - CYCLE FIELD MUST BE GREATER THAN ZEROS                            

            VPL5SBBO6E - BILLING CYCLE MUST EQUAL RELATIONSHIP BILLING CYCLE               

            VPL5SBB0QE - PRICING START DATE CAN NOT BE GREATER THAN PCT EXPIRE DATE        

            VPL5SBB0RE - PRICING START/EXPIRE DATE INVALID WHEN PCT ID EQUAL SPACE         

            VPL5SBB0SE - PRICING LEVEL EXPIRE DATE LESS THAN START DATE                    

            VPL5SBB0TE - PCT LEVEL START/EXPIRE DATES INVALID WHEN PCT LEVEL NOT PROVIDED  

            VPL5SBB0UE - DATE TEMP CREDIT LIMIT EXPIRE IS NOT VALID FOR TEMP CREDIT LIMIT  

            VPL5SBB1FS - ACCT CTL TABLE ID INVALID-CSH/RTL PLANS/CHGF ACRINT NOT O         

            VPL5SBB1GS - ACCT CTL TABLE ID INVALID-CSH/RTL PLANS/CHGF ACRINT NOT O         

            PL5SAA2RE - FIXED PMT AMT/PCT MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE        

            PL5SBB52E - FIXED PMT AMT/PCT SHOULD BE NUMERIC                                

            PL5SBB53E - INVALID REISSUE TECHNOLOGY. VALID VALUES - 0, 1, 2, 3              

            VPL5SAA1BE - FIXED PAYMENT/AMOUNT PERCENT FIELD INVALID                        

            VPL5SAA1CE - FIXED PAYMENT/AMOUNT PERCENT FIELD INVALID WHEN OVERRIDE IS SPACE 

            VPL5SAA1DE - PAYMENT OVERRIDE MUST EQUAL SPACE                                 

            VPL5SAA2DE - BILLING LEVEL MUST BE 1 FOR PREPAID ACCOUNT TYPE                  

            VPL5SAA2IE - PREPMT ALLOWED MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE           

            VPL5SAA2JE - PREPMT MONTHS MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE            

            VPL5SAA2KE - PREPMT ZERO MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE              

            VPL5SAA2PE - VARIANCE EFFECTIVE DATE MUST EQUAL ZEROS FOR PREPAID ACCT TYPE    

            VPL5SAA2QE - PLAN PMT OVERRIDE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE       

            VPL5SAA74E - SKIP PAYMENT FLAG MUST = A, M, N, V, X OR Z                       

            VPL5SAAN4E - PRIM ACCT BILLING LEVEL CANNOT BE 1 WHEN REL BILLING LVL = 0 OR 2 

            VPL5SAAN6E - BILLING LEVEL MUST EQUAL 0                                        

            VPL5SAAN7E - BILLING LEVEL IS INVALID FOR RELATIONSHIP                         

            VPL5SAAN8E - BILLING LEVEL MUST EQUAL 1, WHEN ACCT IS NOT TIED TO RELATIONSHIP 

            VPL5SAAS0E - PAYMENT SKIP NOT ALLOWED                                          

            VPL5SAAS6E - INT VARIANCE EFFECTIVE DATE NOT A VALID DATE                      

            VPL5SAAS7E - INT VARIANCE EFFECTIVE DATE MUST BE > CURRENT PROCESSING DATE     

            VPL5SBB1ES - NO PCT RECORD FOUND AT THIS LEVEL                                 

            VPL5SBB51E - INVALID PLAN PMT OVERRIDE FLAG.VALID VALUES - F, X, P, M, SPACES  

            VPL5SBB54E - REISSUE TECHNOLOGY SHOULD BE 0                                    

            VPL5SBB55E - REISSUE TECHNOLOGY SHOULD BE 1                                    

            VPL5SBB56E - REISSUE TECHNOLOGY SHOULD BE 0 OR 2                               

            VPL5SBB57E - REISSUE TECHNOLOGY SHOULD BE 1 OR 3                               

            VPL5SBB58E - INT VARIANCE PENDING 01 SHOULD BE NUMERIC                         

            VPL5SBB59E - INT VARIANCE PENDING 02 SHOULD BE NUMERIC                         

            VPL5SBB60E - INT VARIANCE PENDING 03 SHOULD BE NUMERIC                         

            VPL5SBB61E - INT VARIANCE PENDING 04 SHOULD BE NUMERIC                         

            VPL5SBB62E - INT VARIANCE PENDING 05 SHOULD BE NUMERIC                         

            VPL5SBB63E - INT VARIANCE PENDING 06 SHOULD BE NUMERIC                         

            VPL5SBB64E - INT VARIANCE PENDING 07 SHOULD BE NUMERIC                         

            VPL5SBB65E - INT VARIANCE PENDING 08 SHOULD BE NUMERIC                         

            VPL5SBB66E - INT VARIANCE PENDING 09 SHOULD BE NUMERIC                         

            VPL5SBB67E - INT VARIANCE PENDING 10 SHOULD BE NUMERIC                         

            VPL5SBB68E - INT VARIANCE PENDING 11 SHOULD BE NUMERIC                         

            VPL5SBB69E - INT VARIANCE PENDING 12 SHOULD BE NUMERIC                         

            VPL5SBB70E - INVALID PREPMT ALLOWED. VALID VALUES - 0, 1, 2                    

            VPL5SBB71E - PREPMT MONTHS SHOULD BE NUMERIC                                   

            VPL5SBB72E - PREPMT MONTHS CANNOT BE 0 WHEN PREPMT ALLOWED IS 1 OR 2           

            VPL5SBB73E - INVALID PREPMT ZERO. VALID VALUES - 0, 1, 2, 3                    

            VPL5SBB17E - DATE MUST BE GREATER THAN CURRENT PROCESSING DATE                 

            VPL5SBB18E - NOT A VALID DATE                                                  

            VPL5SBB19E - DATE MUST BE NUMERIC OR ZEROES                                    

            VPL5SBB20E - BRAILLE STMT IND SHOULD BE Y AND STMT FLAG AS SPACES              

            VPL5SBB21E - BRAILLE STMT IND VALID VALUES ARE Y OR N                          

            VPL5SBB22E - REQUESTED STATEMENT NOT FOUND                                     

            VPL5SBB23E - CANNOT PRINT RECAP STATEMENT                                      

            VPL5SBBO9E - VALID VALUES ARE P, C, I, F, D, OR Q                              

            VPL5SBB36E - INVALID PEND DUE DAY - VALID ENTRIES ARE 01 THRU 31               

            VPL5SBB37E - DUE DAY NOT VALID ON ORG RECORD                                   

            VPL5SBB38E - PEND DUE DAY UPDATE NOT ALLOWED                                   

            VPL5SBB39E - DUE DAY INDICATOR NOT ACTIVE AT ORG LEVEL                         

            VPL5SBB40E - DUE DAYS CANT BE MODIFIED AT ACCT LVL WHEN USED AT REL-SHIP LEVEL 

            VPL5SBB41E - DUE DAYS NOT ALLOWED BCCAUSE OF ELAPSED DAYS CRITERIA             

            VPL5SBB43E - VALID VALUES ARE 0/1/2/3/4/5/6/7/8/9 OR SPACE FOR IB RLSE CD      

            VPL5SBB42E - EXT IB ALLOWED IS NOT ACTIVE IN AZML25                            

            VPL5SBB44E - ISS RETAIL PLAN VALUE IS NOT NUMERIC                              

            VPL5SBB45S - NO INST RETAIL CREDIT PLAN FOUND FOR THIS PLAN NBR                

            VPL5SBB46E - ISS CASH PLAN VALUE IS NOT NUMERIC                                

            VPL5SBB45E - INSTALLMENT PROC INDICATOR IS NOT ACTIVE AT ORG LEVEL             

            VPL5SBB47E - INSTALLMENT PROC INDICATOR IS NOT ACTIVE AT ORG LEVEL             

            VPL5SBB47S - NO INST CASH CREDIT PLAN FOUND FOR THIS PLAN NBR                  

            VPL5SBB48E - STMT INST OPTIN VALUE MUST BE SPACE, Y OR N                       

            VPL5SBB49E - INST RETL CRLIM MUST BE NUMERIC                                   

            VPL5SBB50E - INST CASH CRLIM MUST BE NUMERIC                                   

            VPL5SBB51E - INST RETL CRLIM CANNOT BE 0                                       

            VPL5SBB52E - INST CASH CRLIM CANNOT BE 0                                       

            VPL5SBB53E - INST RETL CRLIM CANNOT BE > THAN ACCT CRLIM FOR NON INDEPDNT INST 

            VPL5SBB54E - INST CASH CRLIM CANNOT BE > THAN ACCT CRLIM FOR NON INDEPDNT INST 

            VPL5SBB55E - MODIFED RETAIL LIMIT CANNOT BE > LOGO LIMIT                       

            VPL5SBB56E - REQUIRED FIELD FOR ADD FUNCTIONPACE, Y OR N                       

            VPL5SBB57E - VALID ENTRIES OF RETAIL CREDIT LMT FLAG ARE 0 OR 1 OR 2 OR 3      

            VPL5SBB58E - VALID ENTRIES OF CASH CREDIT LMT FLAG ARE 0 OR 1 OR 2 OR 3        

            VPL5SBB74E - MODIFED CASH LIMIT CANNOT BE > LOGO LIMIT                         

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Account Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v2/customer:
    put:
      tags:
        - Account
      summary: 'Update Customer Address. VMX Service: M.CMS.ACCTCUSTNBR.UPD, L8V2)'
      description: |-
        Updates the Customer Address on the Account. 
        VMX Service: M.CMS.ACCTCUSTNBR.UPD, L8V2
      operationId: Customer Address Update
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerNumberRequestV2'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerNumberResponseV2'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Customer Address Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v1/statementInstallments/{numberOfTerms}:
    put:
      tags:
        - Account
      summary: |-
        The simulation will be performed.

        VMX Service: M.CMS.INSTSTMTSIM.ACT, L8V1
      description: |-
        It will perform the simulation and other operations depending on the functionCodeFlag value. 

        Values:
         * S - the simulation will be performed, but not confirmed or saved in AM1S file.
         * C - the simulation will be performed and saved in AM1S file (also the Confirmation field in AM1S will be populated with “Y”).

        VMX Service: M.CMS.INSTSTMTSIM.ACT, L8V1
      operationId: statementInstallmentConfirmation
      parameters:
        - name: numberOfTerms
          in: path
          description: Number of installments for simulation
          required: true
          schema:
            type: integer
            format: int32
          example: 2
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatementInstallmentConfirmationRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatementInstallmentConfirmationResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Statement Installment Options Simulation and Confirmation
      x-group-name: Account
      x-child-product-name: Accounts
  /account/user:
    put:
      tags:
        - Account
      summary: 'Update Account user-defined fields. VMX Service: M.CMS.ACCT.USER.UPD, R8V3'
      description: |-
        Updates the fields reserved for unique uses by the financial institution known as “user-defined fields”. 
        VMX Service: M.CMS.ACCT.USER.UPD, R8V3
      operationId: Account User Update
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountForUserUpdateRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountForUserUpdateResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |-
            VPL5SBUZ1S - ORGANIZATION NOT DETERMINED
            VPL5SBUZ5S - ORGANIZATION NUMBER NOT FOUND
            VPL5SBU01E - USER-DATE1 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU02E - USER-DATE2 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU03E - USER-DATE3 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU04E - USER-DATE4 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU05E - USER-DATE5 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU06E - USER-DATE6 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU06S - ACCOUNT NUMBER OR CARD NUMBER MUST BE PROVIDED
            VPL5SBU07E - USER-DATE7 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU07S - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001 AND 998
            VPL5SBU08E - USER-DATE8 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU09E - USER-DATE9 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU10E - USER-DATE10 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU10S - FOREIGN ORGANIZATION NOT ON FILE
            VPL5SBU11E - USER-DATE11 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU12E - USER-DATE12 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU12S - ACCOUNT NOT FOUND ON FILE
            VPL5SBU13E - USER-DATE13 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU14E - USER-DATE14 MUST BE NUMERIC AND A VALID DATE
            VPL5SBU15E - USER-AMT1 MUST BE NUMERIC
            VPL5SBU16E - USER-AMT2 MUST BE NUMERIC
            VPL5SBU17E - USER-AMT3 MUST BE NUMERIC
            VPL5SBU18E - USER-AMT4 MUST BE NUMERIC
            VPL5SBU19E - USER-AMT5 MUST BE NUMERIC
            VPL5SBU20E - USER-AMT6 MUST BE NUMERIC
            VPL5SBU21E - USER-AMT7 MUST BE NUMERIC
            VPL5SBU22E - USER-AMT8 MUST BE NUMERIC
            VPL5SBU23E - USER-AMT9 MUST BE NUMERIC
            VPL5SBU24E - USER-AMT10 MUST BE NUMERIC
            VPL5SBU25E - USER-AMT11 MUST BE NUMERIC
            VPL5SBU26E - USER-AMT12 MUST BE NUMERIC
            VPL5SBU27E - USER-AMT13 MUST BE NUMERIC
            VPL5SBU28E - USER-AMT14 MUST BE NUMERIC
            VPL5SBU29E - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE, 0 OR 1
            VPL5SBU30E - ACCT EMBLM MUST BE NUMERIC
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Account User Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/userData:
    put:
      tags:
        - Account
      summary: 'Account User Codes Update. (VMX Service: M.CMS.ACCT.USER.DATA.UPD, R8V1)'
      description: |-
        Update any of the 3 groups of 14 user codes, dates and amounts on the Account Base Segment file. 
        VMX Service: M.CMS.ACCT.USER.DATA.UPD, R8V1
      operationId: User Codes Update
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDataUpdateRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDataUpdateResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |-
            VPL5SUD03E - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998
            VPL5SUD04E - REQUESTED CARD/ACCT NUMBER IS NOT NUMERIC OR EQUAL SPACES
            VPL5SUD05E - INVALID FOREIGN USE IND SPECIFIED - VALID VALUES SPACE, 0, 1 OR 2
            VPL5SUD07S - ORGANIZATION NOT FOUND ON FILE
            VPL5SUD08S - FOREIGN ORGANIZATION NOT FOUND ON FILE
            VPL5SUD09S - ACCOUNT NUMBER NOT FOUND
            VPL5SUD10S - ACCOUNT NUMBER NOT FOUND ON FILE
            VPL5SUD11S - LOGO NOT FOUND ON FILE
            VPL5SUD13I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL5SUD21S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SUD22S - REQUESTED ORGANIZATION NOT FOUND
            VPL5SUD50E - USER DATE 1 IS NOT NUMERIC
            VPL5SUD51E - USER DATE 1 IS INVALID
            VPL5SUD52E - USER DATE 2 IS NOT NUMERIC
            VPL5SUD53E - USER DATE 2 IS INVALID
            VPL5SUD54E - USER DATE 3 IS NOT NUMERIC
            VPL5SUD55E - USER DATE 3 IS INVALID
            VPL5SUD56E - USER DATE 4 IS NOT NUMERIC
            VPL5SUD57E - USER DATE 4 IS INVALID
            VPL5SUD58E - USER DATE 5 IS NOT NUMERIC
            VPL5SUD59E - USER DATE 5 IS INVALID
            VPL5SUD60E - USER DATE 6 IS NOT NUMERIC
            VPL5SUD61E - USER DATE 6 IS INVALID
            VPL5SUD62E - USER DATE 7 IS NOT NUMERIC
            VPL5SUD63E - USER DATE 7 IS INVALID
            VPL5SUD64E - USER DATE 8 IS NOT NUMERIC
            VPL5SUD65E - USER DATE 8 IS INVALID
            VPL5SUD66E - USER DATE 9 IS NOT NUMERIC
            VPL5SUD67E - USER DATE 9 IS INVALID
            VPL5SUD68E - USER DATE 10 IS NOT NUMERIC
            VPL5SUD69E - USER DATE 10 IS INVALID
            VPL5SUD70E - USER DATE 11 IS NOT NUMERIC
            VPL5SUD71E - USER DATE 11 IS INVALID
            VPL5SUD72E - USER DATE 12 IS NOT NUMERIC
            VPL5SUD73E - USER DATE 12 IS INVALID
            VPL5SUD74E - USER DATE 13 IS NOT NUMERIC
            VPL5SUD75E - USER DATE 13 IS INVALID
            VPL5SUD76E - USER DATE 14 IS NOT NUMERIC
            VPL5SUD77E - USER DATE 14 IS INVALID
            VPL5SUD81E - USER AMOUNT 1 IS NOT NUMERIC
            VPL5SUD82E - USER AMOUNT 2 IS NOT NUMERIC
            VPL5SUD83E - USER AMOUNT 3 IS NOT NUMERIC
            VPL5SUD84E - USER AMOUNT 4 IS NOT NUMERIC
            VPL5SUD85E - USER AMOUNT 5 IS NOT NUMERIC
            VPL5SUD86E - USER AMOUNT 6 IS NOT NUMERIC
            VPL5SUD87E - USER AMOUNT 7 IS NOT NUMERIC
            VPL5SUD88E - USER AMOUNT 8 IS NOT NUMERIC
            VPL5SUD89E - USER AMOUNT 9 IS NOT NUMERIC
            VPL5SUD90E - USER AMOUNT 10 IS NOT NUMERIC
            VPL5SUD91E - USER AMOUNT 11 IS NOT NUMERIC
            VPL5SUD92E - USER AMOUNT 12 IS NOT NUMERIC
            VPL5SUD93E - USER AMOUNT 13 IS NOT NUMERIC
            VPL5SUD94E - USER AMOUNT 14 IS NOT NUMERIC
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: User Codes Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/transferP2P:
    put:
      tags:
        - Account
      summary: 'Credit and Debit action on two accounts in a single call. (VMX Service: M.ASM.MONETARYPTP.ACT, L8V2)'
      description: |-
        Credit and Debit action on two accounts in a single call and Integrate Account to Account (P2P) Funds Transfer transaction information to be used in Fraud Prevention Rules.  
        VMX Service: M.ASM.MONETARYPTP.ACT, L8V2
      operationId: Account to Account Funds Transfer
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferP2PRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferP2PResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Account to Account Funds Transfer
      x-group-name: Account
      x-child-product-name: Accounts
  /account/transfer-promotional-product:
    put:
      tags:
        - Account
      summary: 'Account Transfer Promotional Product Upgrade. (VMX Service: M.CMS.PROM.PROD.UPG.UPD, L8V1)'
      description: |-
        Enables a user to transfer account balances and history from a particular account to an existing new account that has a zero balance. 
        VMX Service: M.CMS.PROM.PROD.UPG.UPD, L8V1
      operationId: Transfer Promotional Product Upgrade
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferPromotionalProductRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferPromotionalProductResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |-
            VPJ5SPA03S - OLD ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPJ5SPA04S - OLD ORGANIZATION RECORD NOT ON FILE
            VPJ5SPA05S - OLD ACCOUNT NUMBER MUST BE PROVIDED
            VPJ5SPA06S - OLD ACCOUNT BEING TRANSFERRED
            VPJ5SPA07S - THIRD PARTY ACCOUNT CANNOT BE TRANSFERRED
            VPJ5SPA08S - NEW ACCOUNT NUMBER MUST BE PROVIDED
            VPJ5SPA09S - NEW ACCOUNT NOT ON FILE
            VPJ5SPA10S - NEW ACCOUNT MUST NOT HAVE TRANSACTIONS
            VPJ5SPA11S - USER ACCT NUMBER VALUE DOES NOT MATCH OLD ACCT NUMBER
            VPJ5SPA13S - OLD ORG AND NEW ORG MUST BE SAME
            VPJ5SPA14S - PROMOTIONAL PRODUCT UPGRADE NOT ACTIVE
            VPJ5SPA15S - ACCOUNT TRANSFER PROHIBITED - WALLET ONLY
            VPJ5SPA16S - OLD ACCOUNT RECORD NOT ON FILE
            VPJ5SPA17S - ACCOUNT ALREADY TRANSFERRED
            VPJ5SPA18S - CANNOT TRANSFER PURGED ACCOUNT
            VPJ5SPA19S - CANNOT TRANSFER CLOSED ACCOUNT
            VPJ5SPA20S - CANNOT TRANSFER CHARGE-OFF ACCOUNT
            VPJ5SPA21S - CANNOT TRANSFER NEW ACCOUNT
            VPJ5SPA22S - CANNOT TRANSFER CONVERSION ACCOUNT
            VPJ5SPA23S - CANNOT TRANSFER COMPANY ACCOUNTS
            VPJ5SPA24S - CANNOT TRANSFER HCS ACCOUNT
            VPJ5SPA25S - OLD ACCOUNT LOGO RECORD NOT FOUND
            VPJ5SPA26S - OLD ACCOUNT LOGO RECORD INCOMPLETE
            VPJ5SPA27S - CANNOT TRANSFER, PLAN TRANSFER IN PROGRESS
            VPJ5SPA28S - CANNOT TRANSFER DELINQUENCY OUT OF BALANCE ACCOUNT
            VPJ5SPA29S - CANNOT TRANSFER, FRAUD TXN TRANSFER IS PENDING
            VPJ5SPA30S - TRANSFER ALREADY IN PROGRESS
            VPJ5SPA31S - DUAL FROM ACCOUNT RECORD NOT ON FILE
            VPJ5SPA32S - DUAL FROM ACCOUNT RECORD - ADD PENDING
            VPJ5SPA33S - CANNOT TRANSFER PURGED FROM ACCOUNT - DUAL ORG
            VPJ5SPA34S - CANNOT TRANSFER CLOSED FROM ACCOUNT - DUAL ORG
            VPJ5SPA35S - CANNOT TRANSFER CHARGE-OFF FROM ACCOUNT - DUAL ORG
            VPJ5SPA36S - FROM ACCOUNT ALREADY TRANSFERRED - DUAL ORG
            VPJ5SPA37S - CANNOT TRANSFER NEW FROM ACCOUNT - DUAL ORG
            VPJ5SPA38S - CANNOT TRANSFER CONVERSION FROM ACCOUNT - DUAL ORG
            VPJ5SPA39S - CANNOT TRANSFER COMPANY FROM ACCOUNTS - DUAL ORG
            VPJ5SPA40S - OLD LOGO AND NEW LOGO MUST BE DIFFERENT
            VPJ5SPA41S - OLD LOGO AND NEW LOGO MUST USE THE SAME SCHEME VISA OR MASTERCARD
            VPJ5SPA42S - OLD LOGO AND NEW LOGO MUST BE THE SAME EITHER OPEN ITEM OR NOT
            VPJ5SPA43S - OLD LOGO AND NEW LOGO MUST HAVE SAME DUAL CURRENCY VALUE
            VPJ5SPA44S - OLD LOGO AND NEW LOGO MUST HAVE SAME BANK AUTH FLAG
            VPJ5SPA45S - OLD LOGO AND NEW LOGO MUST EITHER ALLOW OR NOT ACH PROCESSING
            VPJ5SPA46S - OLD LOGO AND NEW LOGO TYPE MUST BE BANKCARD
            VPJ5SPA47S - LOGO QUARTERLY AFFILIATE CANNOT BE COMPANY CARD
            VPJ5SPA48S - TRANSFER TO ACCOUNT NUMBER INVALID
            VPJ5SPA49S - TRANSFER TO ACCT MUST BE DIFFERENT FROM THE TRANSFER FROM ACCT
            VPJ5SPA50S - NEW ACCOUNT MUST HAVE ZERO BALANCE
            VPJ5SPA51S - NEW ACCOUNT LOGO RECORD NOT FOUND
            VPJ5SPA52S - NEW ACCOUNT LOGO RECORD INCOMPLETE
            VPJ5SPA53S - OLD AND NEW ACCOUNT MUST BE BANKCARD
            VPJ5SPA54S - TRANSFER TO A LOGO WITH DIFFERENT CARD ASSOCIATIONS NOT ALLOWED
            VPJ5SPA55S - ACCT CREDIT LIMIT GREATER THAN XFR TO LOGO CREDIT LIMIT CEILING
            VPJ5SPA56S - TRANSFER TO A NON-ACH BILLING LOGO NOT ALLOWED
            VPJ5SPA57S - COBRANDED FLAG ARE NOT SAME, TRANSFER NOT ALLOWED
            VPJ5SPA58S - CANNOT TRANSFER ACCOUNT WITH PENDING CARD TECH CHANGE
            VPJ5SPA59S - THIRD PARTY CARD GENERATE ISSUE
            VPJ5SPA62S - INVALID NEW ACCOUNT STATUS - PURGED
            VPJ5SPA63S - INVALID NEW ACCOUNT STATUS - CLOSED
            VPJ5SPA64S - INVALID NEW ACCOUNT STATUS - CHARGE-OFF
            VPJ5SPA65S - INVALID NEW ACCOUNT STATUS - CONVERSION ACCT
            VPJ5SPA66S - INVALID NEW ACCOUNT STATUS - COMPANY ACCOUNTS
            VPJ5SPA67S - INVALID NEW ACCOUNT STATUS - HCS ACCOUNT
            VPJ5SPA68S - TRANSFER TO ACCOUNT ALREADY TRANSFERRED
            VPJ5SPA69S - DELINQUENCY OUT OF BALANCE FOR NEW ACCOUNT
            VPJ5SPAZ4S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPLVO2482S - NON-NUMERIC INPUT FIELD XFR AUTH DAYS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Transfer Promotional Product Upgrade
      x-group-name: Account
      x-child-product-name: Accounts
  /account/skip-payment:
    put:
      tags:
        - Account
      summary: 'Skip Payment Update. (VMX Service: M.CMS.SKIPPMT.UPD, R8V1)'
      description: |-
        Enable skip payment requests at the account level or plan level from an external inteface. The request is validated against skip payment criteria and the SKIP PAYMENT field is updated on the Base Segment or Plan Segment record. 
        VMX Service: M.CMS.SKIPPMT.UPD, R8V1
      operationId: Skip Payment Update
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkipPaymentUpdateRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkipPaymentUpdateResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |-
            VPL5SSK01E - ACCOUNT SKIP PMT FLAG MUST BE Z OR X
            VPL5SSK02E - ACCOUNT CYCLE DUE MUST BE 1, LOGO SKIP PMT MUST BE ACTIVE
            VPL5SSK02S - SERVICE INPUT TO S/K SERVICE IS AN INCORRECT LENGTH
            VPL5SSK03E - ACCOUNT STATUS MUST BE ACTIVE
            VPL5SSK04E - ACCOUNT NOT ELIGIBLE - BLOCK CODE EXCLUDED
            VPL5SSK05E - ACCOUNT NOT ELIGIBLE - PENDING PAYMENTS
            VPL5SSK06E - INVALID ACCOUNT/PLAN/REF NBR COMBINATION
            VPL5SSK07E - ACCT CYCLE DUE MUST BE 0 OR 1, LOGO SKIP PMT MUST BE ACTIVE
            VPL5SSK08E - NEXT SKIP INELIGIBLE - DD NOM PAYMENT IN EFFECT
            VPL5SSK09E - POSTING INDICATOR SHOULD BE 1 OR 2
            VPL5SSK10E - ACCT LEVEL SKIP PMT ACTIVE
            VPL5SSK11E - SETTLEMENT QUOTE CRITERIA NOT MET
            VPL5SSK12E - CYCLE DUE MUST BE EQUAL TO 1 OR PLAN DUE AMT MUST BE > 0
            VPL5SSK13E - YTD PLAN SKIP PAYMENT LIMIT REACHED
            VPL5SSK14E - LTD PLAN SKIP PAYMENT LIMIT REACHED
            VPL5SSK15E - CRITERIA FOR ELAPSED MONTH NOT MET
            VPL5SSK16E - CURRENT BALANCE CRITERIA NOT MET
            VPL5SSK17E - MINIMUM MONTHS ON FILE CRITERIA NOT MET
            VPL5SSK18E - REMAINING TERM CRITERIA NOT MET
            VPL5SSK19E - VALID CREDIT PLAN NBR IS REQUIRED, WHEN SKIP PMT FLAG IS 2
            VPL5SSK20E - VALID REFERENCE NBR IS REQUIRED, WHEN SKIP PMT FLAG IS 2
            VPL5SSK21S - REQUESTED CARD/ACCOUNT NUMBER IS NOT FOUND
            VPL5SSK22E - FOREIGN USE INDICATOR 2 IS INVALID FOR PLAN SKIP
            VPL5SSK23E - SKIP PAYMENT FLAG SHOULD BE 0 OR 1 OR 2
            VPL5SSK25S - INPUT CARD/ACCT NUMBER IS NOT NUMERIC
            VPL5SSK26S - REQUESTED CARD/ACCOUNT NUMBER IS NOT FOUND
            VPL5SSK27S - ACCOUNT NOT FOUND ON FILE
            VPL5SSK28E - INVALID LOCAL/FOREIGN INDICATOR SPECIFIED
            VPL5SSK29E - CREDIT PLAN IS NOT ACTIVE OR NOT FOUND
            VPL5SSK30S - ORGANIZATION NOT DETERMINED
            VPL5SSK33S - ORG RECORD NOT ON FILE
            VPL5SSK34S - LOGO RECORD NOT ON FILE
            VPL5SSK35S - ORG NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SSK36E - FOREIGN USE IND IS INVALID, ACCOUNT IS NOT A DUAL ACCOUNT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Skip Payment Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/settlement-quote:
    put:
      tags:
        - Account
      summary: 'Account level Settlement Quote Request. (VMX Service: M.CMS.ACCT.STTLMNT.QUOTE.UPD, R8V1)'
      description: |-
        Provides the ability for an external source to generate an online account-level settlement payoff quote. 
        VMX Service: M.CMS.ACCT.STTLMNT.QUOTE.UPD, R8V1
      operationId: Account Level Settlement Quote Request
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettlementQuoteRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettlementQuoteResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |-
            VPL5SAQ02S - ORGANIZATION NOT DETERMINED
            VPL5SAQ03S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SAQ04E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SAQ05E - ACCOUNT OR CARD NUMBER MISSING OR INVALID
            VPL5SAQ06E - FOREIGN USE MUST = SPACES, 0(LOCAL) OR 1(FOREIGN)
            VPL5SAQ07E - START ITEM REQUIRED WITH SCROLL KEY N OR P
            VPL5SAQ08E - SCROLL KEY MUST BE N, P, OR SPACE
            VPL5SAQ09E - PAYOFF DATE MUST BE NUMERIC
            VPL5SAQ10E - SETTLEMENT QUOTE MUST BE P, W, OR C
            VPL5SAQ11E - PAYOFF DATE SHOULD NOT BE LESS THAN TODAY PROCESSING DATE
            VPL5SAQ12E - PAYOFF DATE SHOULD NOT > THAN 60 DAYS FROM TODAY DATE
            VPL5SAQ21S - INSTALLMENT NOT ACTIVE AT THE ORG LEVEL
            VPL5SAQ22S - FOREIGN ORG RECORD NOT FOUND
            VPL5SAQ23S - ACCOUNT NOT ACTIVE
            VPL5SAQ24S - LOGO NOT FOUND
            VPL5SAQ25S - LOGO IN PENDING STATUS
            VPL5SAQ26S - INSTALLMENT NOT ACTIVE AT THE LOGO LEVEL
            VPL5SAQ27S - ACCESS PROBLEM ON PLAN SEGMENT
            VPL5SAQ28S - FAILURE TO INVOKE PLAN QUOTE SERVICE
            VPL5SAQ31S - PROBLEM ACCESSING PLAN SEGMENT SETTLEMENT DATA
            VPL5SAQ32S - CANCEL REQUEST IS INVALID WHEN QUOTE IND IS NOT P, W OR S
            VPL5SAQ33S - PAYOFF QUOTE NOT ALLOWED
            VPL5SAQ80I - NO FOREIGN ORG FOUND IN ORG RECORD
            VPL5SAQZAS - ACCOUNT NOT FOUND
            VPL5SAQZCS - ORG NOT FOUND OR ORG IS PENDING ADD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Account Level Settlement Quote Request
      x-group-name: Account
      x-child-product-name: Accounts
  /account/service-charge-table:
    put:
      tags:
        - Account
      summary: 'The Service Charge/Fee Table Override Update service enables a calling program to maintain Service Charge/Fee Table Override parameters associated with an account. (VMX Service: M.CMS.SVCFEE.TBL.OVRD.UPD, R8V1)'
      description: |-
        The Service Charge/Fee Table Override Update service enables a calling program to maintain Service Charge/Fee Table Override parameters associated with an account. 
        VMX Service: M.CMS.SVCFEE.TBL.OVRD.UPD, R8V1
      operationId: Service Charge/Fee Table Override Update
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeFeeTableOverrideUpdRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeFeeTableOverrideUpdResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |-
            VPL5S0029S – ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998
            VPL5SSU01E – INVALID DUAL ACCT INDICATOR
            VPL5SSU02E – INPUT ACCT NUMBER IS NOT NUMERIC OR EQUAL SPACES
            VPL5SSU03S – INVALID FOREIGN FLAG
            VPL5SSU04E – SVC FEE TABLE MUST BE NUMERIC AND 001 THRU 998
            VPL5SSU05E – SVC START DATE IS NOT A VALID DATE
            VPL5SSU06E – SVC START DATE IS NOT NUMERIC
            VPL5S0006S – REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SSU07E – SVC EXPIRE DATE IS NOT A VALID DATE
            VPL5SSU07S – ORG RECORD NOT FOUND
            VPL5SSU08E – SVC EXPIRE DATE IS NOT NUMERIC
            VPL5SSU09E – SVC EXPIRE DATE MUST BE GREATER THAN SVC START DATE
            VPL5SSU10E – NOT A FOREIGN ACCOUNT
            VPL5SSU10S – INVALID ORG
            VPL5SSU12S – DUAL CURRENCY ORG VALID VALUES ARE 001 THRU 998
            VPL5SSU13E – MISMATCHED GENERATED FOREIGN ORG
            VPL5SSU14S – ORG RECORD NOT FOUND FOR A DUAL CURRENCY ORG
            VPL5SSU15S – FOREIGN ACCOUNT DUAL CURRENCY MISMATCH
            VPL5SSU16S – ORG RECORD NOT FOUND
            VPL5SSU17E – ACCOUNT NOT ON FILE
            VPL5SSU18E – ACCOUNT NOT ON FILE
            VPL5SSU19E – SERVICE FEE TABLE OVERRIDE NOT ALLOWED FOR THIS LOGO
            VPL5SSU20S – ACCT NOT ON FILE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Service Charge/Fee Table Override Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/relationship/billing-cycle:
    put:
      tags:
        - Relationship
      summary: 'The billing cycle update service for the relationship allows a user to update the billing cycle code for all accounts associated with a relationship. (VMX Service: M.CMS.BILLING.CYCLE.UPD, R8V1)'
      description: |-
        The billing cycle update service for the relationship allows a user to update the billing cycle code for all accounts associated with a relationship. 
        VMX Service: M.CMS.BILLING.CYCLE.UPD, R8V1
      operationId: Billing Cycle Update
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingCycleUpdateRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCycleUpdateResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Billing Cycle Update
      x-group-name: Relationship
      x-child-product-name: Accounts
  /account/relationship/account:
    put:
      tags:
        - Relationship
      summary: 'Account relationship number update. (VMX Service: M.CMS.ACCOUNT.RELATIONSHIP.UPD, L8V1)'
      description: |-
        Update relationship number of a account. 
        VMX Service: M.CMS.ACCOUNT.RELATIONSHIP.UPD, L8V1
      operationId: Account Relationship Number Update
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountRelationshipUpdateRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountRelationshipUpdateResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |-
            VPL5SRA35S = FOREIGN USE INDICATOR VALUES MUST BE 0, 1 OR 2
            VPL5SRA36S = ORG MUST BE NUMERIC AND LESS THAN 999
            VPL5SRA37S = ACCOUNT NUMBER REQUIRED
            VPL5SRA38I = TO UNLINK EXISTING RELATIONSHIP PLEASE PROVIDE ALL '#' IN INPUT
            VPL5SRA38S = RELATIONSHIP NUMBER REQUIRED
            VPL5SRA39E = FOREIGN-USE INDICATOR VALUE MUST BE EMPTY WHEN ACCT-ORG
            VPL5SRA40S = ORGANIZATION CANNOT BE DETERMINED BY THE SYSTEM
            VPL5SRA41S = ORGANIZATION NOT DETERMINED
            VPL5SRA42I = INPUT ORG IS NOT LOCAL ORG,PROCEEDING TO FOREIGN ORG PROCESSING
            VPL5SRA43S = REQUESTED ORGANIZATION NOT FOUND IN SYSTEM
            VPL5SRA46S = RELATIONSHIP UPDATE NOT ALLOWED FOR ORG WITH CRM NOT ACTIVE
            VPL5SRA47E = RELATIONSHIP UNLINK IS IN PROGRESS, PLEASE WAIT FOR ONE BATCH
            VPL5SRA47S = RELATIONSHIP UPDATE NOT ALLOWED FOR COBRAND LOGO
            VPL5SRA48S = ACCOUNT NOT DUAL OR LOCAL ACCOUNT
            VPL5SRA49S = INPUT RELATIONSHIP IS ALREADY ASSIGNED TO INPUT ACCOUNT
            VPL5SRA50S = RELATIONSHIP CAN NOT BE UNLINKED WHEN BILLING LEVEL IS 0
            VPL5SRA51S = ACCOUNT LOGO AND RELATIONSHIP LOGO ARE NOT SAME
            VPL5SRA52I = FIRST UNLINK THE EXISITNG REALTIONSHIP AND WAIT FOR ONE BATCH
            VPL5SRA52E = REALTIONSHIP NUMBER CANNOT BE CHANGED DUE TO VIM/SDOL FLAG ACTIVE
            VPL5SRA52S = ACCT EXISTING RELATIONSHIP IS NOT FOUND IN SYSTEM
            VPL5SRA53S = RELATIONSHIP CANNOT BE CHANGED,AS ACCT CREDIT LIMIT NOT NUMERIC
            VPL5SRA54S = ACCT CREDIT LIMIT CANNOT BE LESS THAN THE LOGO ACCT FLOOR LIMIT
            VPL5SRA55S = ACCT CREDIT LIMIT CANNOT BE GREATER THAN LOGO ACCT CEILING LIMIT
            VPL5SRA57S = ACCT CREDIT LIMIT CANNOT BE > THE CRLIM AVAILABLE ON RELATIONSHIP
            VPL5SRA58S = ACCT BLOCKED FOR CREDIT LIMIT SYNC UP WITH NEW RELATIONSHIP
            VPL5SRA59S = ACCT DLQ LVL EXCEEDED FOR CREDIT LIMIT SYNC WITH NEW RELATIONSHIP
            VPL5SRA60S = ACCT DLQ AMT EXCEEDED FOR CREDIT LIMIT SYNC WITH NEW RELATIONSHIP
            VPL5SRA61S = PRIM ACCT BILLING LVL CANNOT BE 1, WHEN REL BILLING LVL IS 0 OR 2
            VPL5SRA62S = REL BILLING LEVEL MUST BE 1 WHEN DUAL BILLING IS 1 ON ACCT
            VPL5SRA63S = ACCT BILLING LVL CANNOT BE 0,WHEN REL BILL LVL IS 1
            VPL5SRA64S = ACCT BILLING LEVEL MUST BE 0 OR 1
            VPL5SRA65S = WHEN ACT BILL LEVEL IS 0,RELATIONSHIP NUMBER CANNOT BE #
            VPL5SRA66S = ACCT BILLING LVL CANNOT BE 0,WHEN REL BILL LVL IS 1
            VPL5SRA67S = BILLING LEVEL FOR PRIMARY ACCOUNT CANNOT BE CHANGED TO 1
            VPL5SRA68S = BILLING LVL CANNOT BE CHANGED TO 1 WHEN ACCT PAYMENT DUE IS > 0
            VPL5SRA69S = CANNOT ADD A NON-PURCHASE ACCOUNT TO A PURCHASE RELATIONSHIP
            VPL5SRA70S = CANNOT ADD A NON-CORPORATE ACCOUNT TO A CORPORATE RELATIONSHIP
            VPL5SRA71S = CANNOT ADD A NON-HCS CARD ACCOUNT TO A HCS RELATIONSHIP
            VPL5SRA72S = INVALID CARD SCHEME CHANGE
            VPL5SRA73S = CARD SCHEME MUST BE 0 FOR NON-RELATIONSHIP ACCOUNTS
            VPL5SRA74S = CARD SCHEME CANNOT BE 0 UNLESS THE RELATIONSHIP IS SPACE OR ALL #
            VPL5SRA75S = NO RELATIONSHIP EXISTS, CARD SCHEME CANNOT BE 1
            VPL5SRA76S = EITHER CUST SELECT DUE OR CYCLE MUST > ZERO
            VPL5SRA77S = STMT FREQ MUST BE 01 FOR ACCOUNTS IN A RELATIONSHIP
            VPL5SRA78S = FOREIGN USE INDICATOR INVALID, DUAL ACCOUNT NOT FOUND
            VPL5SRA79S = FOREIGN USE INDICATOR INVALID, ORG IS NOT DUAL CURRENCY ORG
            VPL5SRA80E = ACCT BILLING CYCLE CANNOT BE ZEROS
            VPL5SRA80S = ACCT BILLING CYCLE NOT VALID ON SYSTEM RECORD
            VPL5SRA81E = CYCLE DATE UPDATE NOT ALLOWED FOR THIS LOGO
            VPL5SRA81S = LOGO ELAPSED DAYS NOT EXPIRED FROM LAST CYCLE CHANGE &DUE ON ACCT
            VPL5SRA82E = LOGO ELAPSED DAYS NOT EXPIRED FROM LAST CYCLE CHANGE
            VPL5SRA82S = PMT DUE ON ACCT, UPDATE NOT ALLOWED
            VPL5SRA83E = PAST PMT DUE ON ACCT, UPDATE NOT ALLOWED
            VPL5SRA83S = AFTER PMT DUE ON ACCT, UPDATE NOT ALLOWED
            VPL5SRA84E = LOGO ELAPSED DAYS NOT EXPIRED FROM LAST CYCLE CHANGE &DUE ON ACCT
            VPL5SRA84S = LOGO ELAPSED DAYS NOT EXPIRED FROM LAST CYCLE CHANGE
            VPL5SRA85E = PMT DUE ON ACCT, UPDATE NOT ALLOWED
            VPL5SRA85S = PAST PMT DUE ON ACCT, UPDATE NOT ALLOWED
            VPL5SRA86E = AFTER PMT DUE ON ACCT, UPDATE NOT ALLOWED
            VPL5SRA86S = CANNOT BE GREATER THAN COMPANY NODE AVAIL CREDIT LIMIT
            VPL5SRA87E = CANNOT BE GREATER THAN COMPANY NODE AVAIL CREDIT LIMIT
            VPL5SRA87S = CANNOT BE GREATER THAN PARENT NODE AVAIL CREDIT LIMIT
            VPL5SRA88E = CANNOT BE GREATER THAN PARENT NODE AVAIL CREDIT LIMIT
            VPL5SRA89S = INPUT ORG DOES NOT MATCH WITH FOREIGN ACCOUNT ORG
            VPL5SRA90S = FOREIGN ORG NOT FOUND ON FILE
            VPL5SRA91S = INVALID FOREIGN USE FLAG, ORG IS NOT DUAL
            VPL5SRA92S = ORG RECORD NOT FOUND OR INVALID ORG STATUS
            VPL5SRA93S = LOGO RECORD NOT FOUND OR INVALID LOGO STATUS
            VPL5SRA94S = INVALID ACCOUNT STATUS OR ACCOUNT NOT FOUND
            VPL5SRA95S = INVALID ACCOUNT STATUS OR ACCOUNT NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Account Relationship Number Update
      x-group-name: Relationship
      x-child-product-name: Accounts
  /account/qualification:
    put:
      tags:
        - Account
      summary: 'Update Account qualification. (VMX Service: M.CMS.ACCT.CLOSE.CHGOFF, R8V2)'
      description: |-
        Updates the value of the Account qualification field. Emulates the functionality used to update the account status, from active to closed, in the same manner as the STATUS field on online screen ARMB01. In addition, this service provides the ability to initiate charge-off in the same manner as setting the C/O STAT field to a value of 3 (manual) on the Account Base Segment screen (ARMB01). 
        VMX Service: M.CMS.ACCT.CLOSE.CHGOFF, R8V2
      operationId: Account Qualification Update
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateQualificationRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateQualificationResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |
            VPL5SAAI6E - GQ FIELD MUST BE SPACE OR A-Z
            VPL5SCC01S - ACCOUNT OR CARD NUMBER IS REQUIRED
            VPL5SCC02S - ORGANIZATION NOT DETERMINED
            VPL5SCC03S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SCC04S - ORGANIZATION NUMBER NOT FOUND ON FILE
            VPL5SCC05S - FOREIGN ORG RECORD NOT FOUND ON FILE
            VPL5SCC06S - LOGO NUMBER NOT FOUND ON FILE
            VPL5SCC10S - INVALID INTERNAL STATUS 8
            VPL5SCC11S - STATUS CANNOT CHANGE TO CLOSED WHEN INSURANCE IS ACTIVE
            VPL5SCC12S - CANNOT MANUAL CHGOFF AN ACCT WITH A ZERO OR CREDIT BALANCE
            VPL5SCC13S - CANNOT RESET CHARGEOFF ON ACCOUNT WHEN DAYS IS > 0
            VPL5SCC14S - CANNOT MANUAL CHARGE OFF THIS ACCT
            VPL5SCC15S - CANNOT CHARGEOFF (WITH RSN) AN ACCT WITH 0 BAL OR CREDIT BAL
            VPL5SCC16S - VALID ENTRIES FOR RSN CODE POSITION 1 ARE C, B, F, OR T
            VPL5SCC17S - ENTERED AUTO C/O RSN CODE - PLS CHG TO MANUAL RSN
            VPL5SCC18S - RSN CODE MUST BE DEFINED ON ARML24
            VPL5SCC19S - CANNOT CHARGEOFF (WITH RSN), ACCT C/O STAT MUST = 0
            VPL5SCC21E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SCC22E - FOREIGN USE MUST = SPACES, 0(LOCAL) OR 1(FOREIGN)
            VPL5SCC23E - REASON CODE IS REQUIRED FOR FUNC 2 - CHGOFF WITH RSN
            VPL5SCC24E - VALID FUNC INDICATOR IS 0-ACCT CLS 1-MANUAL CHGOFF 2-CHGOFF RSN ON
            VPL5SCCZAS - ACCOUNT NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Account Qualification Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/productTransfer:
    put:
      tags:
        - Account
      summary: 'Product transfer. (VMX Service: M.CMS.ACCT.PRODTRANSFER.UPD, L8V3)'
      description: |-
        Generates the reject report for product upgrade or downgrade during batch process. 
        VMX Service: M.CMS.ACCT.PRODTRANSFER.UPD, L8V3
      operationId: Product Transfer Update
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductTransferRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductTransferResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |
            Unprocessable Entity

            VPL5SFR05S - INVALID ACCOUNT

            VPL5SFR06S - INVALID ORG

            VPL5SFR07S - INVALID FUNCTION

            VPL5SFR08S - ORG IS NOT PRESENT OR ADD PENDING STATUS

            VPL5SFR09S - ACCOUNT TRANSFER PROHIBITED

            VPL5SFR0AS - COMB INST PRODUCT CAN NOT BE LINKED TO SELECTED LOGO

            VPL5SFR0BS - LOGO DOES NOT ALLOW ACCOUNT NUMBER GENERATION

            VPL5SFR0CS - MAXIMUM NUMBER OF 20 ATTEMPTS MADE ON BASE NUMBER

            VPL5SFR0DS - GENERATED ACCOUNT NUMBER > BASE ENDING NUMBER

            VPL5SFR0FS - INVALID CUSTOMER NUMBER

            VPL5SFR0MS - CARD TYPE DOES NOT ALLOW ACROSS SCHEME TRANSFER

            VPL5SFR10S - INPUT ACCOUNT NOT PRESENT OR ADD PENDING STATUS

            VPL5SFR22S - PRODUCT TRANSFER NOT ALLOWED FOR BLOCKED ACCOUNT

            VPL5SFR23S - ACCOUNT ALREADY TRANSFERRED , ONLY REVERSAL ALLOWED

            VPL5SFR24S - CANNOT TRANSFER DELINQUENCY OUT OF BALANCE ACCOUNT

            VPL5SFR26S - ACCOUNT FOR DUAL ORG IS NOT PRESENT OR ADD PENDING STATUS

            VPL5SFR34S - TRANSFER AUTH DAYS MUST BE NUMERIC

            VPL5SFR35S - INVALID NEW ACCT

            VPL5SFR36S - INVALID NEW LOGO

            VPL5SFR37S - INVALID BILLING CYCLE

            VPL5SFR38S - INVALID BILLING CYCLE

            VPL5SFR39S - INVALID NEW CARD TECHNOLOGY

            VPL5SFR40S - SMART CARD NOT VALID WITH CARD SCHEME 2

            VPL5SFR43S - PCT ID IS NOT NEEDED SINCE THE FUNCTION IS NOT P

            VPL5SFR44S - PCT ID PROVIDED IS NOT DEFINED UNDER NEW LOGO

            VPL5SFR46S - NEW CREDIT LIMIT NOT ALLOWED FOR FUNCTION C OR R

            VPL5SFR47S - DEBIT CARD MUST TRANSFER TO ANOTHER DEBIT CARD LOGO

            VPL5SFR48S - PRODUCT TRANSFER MUST NOT CROSS ORGANIZATIONS

            VPL5SFR49S - PRODUCT TRANSFER MUST CROSS LOGOS

            VPL5SFR51S - CANNOT TRANSFER ACCOUNT WITH PENDING CARD TECH CHANGE

            VPL5SFR52S - TOO MANY EMBOSSERS FOR ACCOUNT''S NEW CARD TECHNOLOGY

            VPL5SFR53S - ACCOUNT TRANSFER NOT ALLOWED DUE TO PENDING CARD ACTION

            VPL5SFR60S - CUSTOMER RECORD NOT ON FILE IN THIS ORG

            VPL5SFR61S - CUSTOMER RECORD MUST BE ACTIVE IN THIS ORIG

            VPL5SFR62S - CUSTOMER RECORD NOT ON FILE IN THE DUAL ORG

            VPL5SFR63S - CUSTOMER RECORD MUST BE ACTIVE IN THE DUAL ORG

            VPL5SFR64S - ORGANIZATION NOT DETERMINED

            VPL5SFR68S - NEW LOGO IS NOT PRESENT OR ADD PENDING STATUS

            VPL5SFR91S - NEW ACCT CREDIT LIMIT IS > LOGO CREDIT LIMIT CEILING

            VPL5SFR92S - NEW ACCT CREDIT LIMIT IS < LOGO FLOOR LIMIT

            VPL5SFR93S - ACCOUNT CREDIT LIMIT IS > LOGO CREDIT LIMIT

            VPL5SFR94S - ACCOUNT DREDIT LIMIT  IS < LOGO FLOOR LIMIT

            VPL5SFR97S - PRODUCT GRADUATION TERMINATED , LOGO NOT ELIGIBLE
          content:
            application/json: {}
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Product Transfer Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/prepaid:
    put:
      tags:
        - Account
      summary: 'Assign Preissued Card to Account. (VMX Service: M.CMS.PREPAIDACCT.ASSIGN.UPD, L8V1)'
      description: |-
        Links a pre-issued card to both a Customer record and an Account record. 
        VMX Service: M.CMS.PREPAIDACCT.ASSIGN.UPD, L8V1
      operationId: Prepaid Account Assignment
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidAssignmentRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidAssignmentResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |-
            VPL5SPSZ6S - ORGANIZATION COULD NOT BE DETERMINED FOR INPUT CARD
            VPL5SPSZ7S - ORGANIZATION COULD NOT BE DETERMINED FOR CUSTOMER ACCT
            VPL5SPSZ8S - INVALID ORGANIZATION NUMBER
            VPL5SPSZ9S - CMS FILE-TABLE USED BY THIS SERVICE IS NOT FOUND
            VPL5SPS02E - CUSTOMER ACCT NBR MUST BE NUMERIC AND > ZEROES
            VPL5SPS03E - CARD NBR MUST BE NUMERIC AND > ZEROES
            VPL5SPS04E - CARDHOLDER TYPE MUST BE 0 OR 1
            VPL5SPS05S - LOGO COULD NOT BE DETERMINED FOR FOR INPUT CARD
            VPL5SPS06S - LOGO COULD NOT BE DETERMINED FOR CUSTOMER ACCT
            VPL5SPS07E - ORG & LOGO MUST BE SAME FOR NON-PERSONAL & CUSTOMER ACCT
            VPL5SPS08S - SYSTEM RECORD NOT FOUND
            VPL5SPS09S - ORG RECORD NOT FOUND OR IN ADD PENDING STATUS
            VPL5SPS10S - LOGO RECORD NOT FOUND OR IN ADD PENDING STATUS
            VPL5SPS11E - LOGO MUST BE PREPAID LOGO
            VPL5SPS12S - EMBOSSER RECORD NOT FOUND OR ADD PENDING OR PURGED STATUS
            VPL5SPS13E - CARD MUST NOT BE ACTIVATED
            VPL5SPS15S - NON PERSONAL ACCT NOT FOUND/ADD PENDING/CLOSED/PURGE STATUS
            VPL5SPS16E - NON PERSONAL ACCT ASSOCIATED WITH INPUT CARD MUST BE GENERIC PPD
            VPL5SPS17E - CARD NUMBER DECRYPTED FROM PAN TOKEN IS SPACES/ZEROS
            VPL5SPS17S - CUSTOMER ACCT NOT FOUND/ADD PENDING/CLOSED/PURGE STATUS
            VPL5SPS18E - CARD NUMBER SHOULD NOT BE SPACES
            VPL5SPS19E - ORG LEVEL PAN TOKEN SW INACTIVE
            VPL5SPS19S - CUST NBR ASSOCIATED WITH CUST ACCT NOT FOUND/ADD PENDNG/CLSD/PURG
            VPL5SPS20S - EXISTNG PRIMRY CARD MAPPED TO CUST ACCT IN AMAX,NOT FOUND IN AMED
            VPL5SPS21S - NON PERSONAL ACCT ASSOCIATED WITH INPUT CARD NOT FOUND IN BS FILE
            VPL5SPS22S - CUSTOMER ACCT NOT FOUND IN BASE SEGMENT FILE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Prepaid Account Assignment
      x-group-name: Account
      x-child-product-name: Accounts
  /account/ppd-over-limit:
    put:
      tags:
        - Account
      summary: 'Prepaid over limit update. VMX Service: M.CMS.PPD.OVERLIMIT.UPD, L8V1'
      description: |-
        Update the over limit amount of a prepaid account. 
        VMX Service: M.CMS.PPD.OVERLIMIT.UPD, L8V1
      operationId: Prepaid Over Limit update
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidOverlimitUpdateRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidOverlimitUpdateResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |
            VPL5SOL01E - INVALID ORG
            VPL5SOL02E - INVALID ACCOUNT
            VPL5SOL03E - INVALID PREPAID OVLM AMOUNT
            VPL5SOL04E - INPUT IS SAME AS AMBS PPD OVLM AMT
            VPL5SOL05E - ACCOUNT NUMBER ENTERED IS NOT PREPAID
            VPL5SOL06E - PPD OVERLIMIT UNCHANGED,UPDATE BYPASSED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Prepaid Over Limit Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/ppd-load-limits:
    put:
      tags:
        - Account
      summary: 'Prepaid load limits update. VMX Service: M.CMS.PPD.LOAD.LMTS.UPD, L8V1'
      description: |-
        Update the load limits of a prepaid account. 
        VMX Service: M.CMS.PPD.LOAD.LMTS.UPD, L8V1
      operationId: Prepaid Load Limits update
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PpdLoadLimitsUpdateRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PpdLoadLimitsUpdateResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |-
            VPL5SPL06S - INVALID ORG
            VPL5SPL07S - LOGO NUMBER NOT FOUND
            VPL5SPL08S - INVALID ACCOUNT
            VPL5SPL01E - INVALID DATA IN THE SINGLE LOAD MAX FIELD
            VPL5SPL02E - INVALID DATA IN THE SINGLE LOAD MIN FIELD
            VPL5SPL03E - INVALID DATA IN THE PREPAID LOAD AMT FIELD
            VPL5SPL04E - INVALID PREPAID LOAD FREQ
            VPL5SPL05E - INVALID PREPAID LOAD NBR
            VPL5SPL09S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SPL10S - REQUESTED ORGANIZATION NOT FOUND
            VPL5SPL11S - ORGANIZATION NOT FOUND ON FILE
            VPL5SPL12S - ACCOUNT NOT FOUND ON FILE
            VPL5SPL13S - AMOUNT CAN NOT EXCEED THE LOGO AMOUNT
            VPL5SPL14S - WHOLE MONETARY UNIT - DOES NOT CONFORM TO CURRENCY NOD
            VPL5SPL15S - SINGLE LOAD MAX MUST BE GREATER THAN SINGLE LOAD MIN
            VPL5SPL16S - SINGLE LOAD MIN MUST BE LESS THAN SINGLE LOAD MAX
            VPL5SPL17S - MAX LOAD AMOUNT CAN NOT BE ZERO
            VPL5SPL18S - ACCOUNT NUMBER ENTERED IS NOT PREPAID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Prepaid Load Limits Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/pctId:
    put:
      tags:
        - Account
      summary: 'Pricing Control Table update. (VMX Service: M.CMS.PRICING.CTRL.UPD, R8V1)'
      description: |-
        Update the load limits of a prepaid account. 
        VMX Service: M.CMS.PRICING.CTRL.UPD, R8V1
      operationId: Pricing Control Table Update
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PricingControlTableRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingControlTableResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |-
            VPL5SPC03E - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998
            VPL5SPC04E - REQUESTED CARD/ACCT NUMBER IS NOT NUMERIC OR EQUAL SPACES
            VPL5SPC05E - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE, 0 OR 1
            VPL5SPC06E - STATE OF RESIDENCE CONTAINS INVALID CHARACTERS
            VPL5SPC07E - STATE OF ISSUANCE CONTAINS INVALID CHARACTERS
            VPL5SPC08E - PRICING CONTROL ID CONTAINS INVALID CHARACTERS
            VPL5SPC09E - PRICING CONTROL START DATE IS NOT NUMERIC
            VPL5SPC10E - PRICING CONTROL EXPIRES DATE MUST BE A VALID DATE
            VPL5SPC11E - PRICING CONTROL EXPIRE DATE IS NOT NUMERIC
            VPL5SPC12E - PRICING LEVEL OVERRIDE MUST EQUAL SPACE, L, O OR S
            VPL5SPC13E - PRICING LEVEL START DATE MUST BE A VALID DATE
            VPL5SPC14E - PRICING LEVEL START DATE IS NOT NUMERIC
            VPL5SPC15E - PRICING LEVEL EXPIRES DATE MUST BE A VALID DATE
            VPL5SPC16E - PRICING LEVEL EXPIRES DATE IS NOT NUMERIC
            VPL5SPC18S - ORGANIZATION NOT FOUND ON FILE
            VPL5SPC19S - FOREIGN ORGANIZATION NOT FOUND ON FILE
            VPL5SPC20S - ACCOUNT NOT FOUND ON FILE
            VPL5SPC21S - LOGO NOT FOUND ON FILE
            VPL5SPC22E - STATE OF RESIDENCE IS NOT FOUND ON USURY TABLE
            VPL5SPC23E - STATE OF RESIDENCE IS INVALID ON USURY TABLE
            VPL5SPC24E - STATE OF RESIDENCE IS NOT FOUND
            VPL5SPC25E - STATE OF RESIDENCE DOES NOT EXIST
            VPL5SPC27E - STATE OF RESIDENCE IS REQUIRED
            VPL5SPC28E - PRICING CONTROL ID IS NOT FOUND
            VPL5SPC29E - PRICING CONTROL ID DOES NOT EXIST
            VPL5SPC30E - ISSUANCE ID REQUIRED FOR BANKCARD ACCOUNT
            VPL5SPC31E - ISSUANCE ID IS NOT FOUND ON USURY TABLE
            VPL5SPC32E - ISSUANCE ID IS INVALID ON USURY TABLE
            VPL5SPC33E - ISSUANCE ID IS NOT FOUND
            VPL5SPC34E - ISSUANCE ID DOES NOT EXIST
            VPL5SPC35E - START DATE INVALID WHEN PCT CNTRL ID NOT PROVIDED
            VPL5SPC36E - START DATE FOR THE PRICING CTRL MUST BE = OR > NEXT PROCESSING DT
            VPL5SPC37E - EXPIRE DATE NOT VALID WHEN START DATE EQUAL ZEROS
            VPL5SPC38E - EXPIRE DATE FOR THE PRICING CTRL MUST BE = OR > PCT START DATE
            VPL5SPC39E - PCT LEVEL START DATE NOT VALID WHEN PRICING CTRL NOT PROVIDED
            VPL5SPC40E - PCT LEVEL START DATE FOR PCT LEVEL MUST BE = OR > NEXT PROCESS DT
            VPL5SPC41E - PCT LEVEL EXPIRE DATE FOR PCT LEVEL MUST BE > START DATE
            VPL5SPC42E - PRICING START DATE CAN NOT BE GREATER THAN PCT EXPIRE DATE
            VPL5SPC43E - PRICING START/EXPIRE DATE INVALID WHEN PCT ID EQUAL SPACES
            VPL5SPC44E - PRICING LEVEL EXPIRE DATE LESS THAN PRICING LEVEL START DATE
            VPL5SPC45E - PCT LEVEL START/EXPIRE DATES INVALID WHEN PCT LEVEL NOT PROVIDED
            VPL5SPC46S - PCT ENTRY DOES NOT EXIST
            VPL5SPC47S - ACCT CTL TABLE ID INVALID-CSH/RTL PLANS/CHGF ACRINT NOT OBTAINED
            VPL5SPC48S - ACCT CTL TABLE ID INVALID-CSH/RTL PLANS/CHGF ACRINT NOT OBTAINED
            VPL5SPC49I - PRICING CONTROL DATA HAS NOT CHANGED, UPDATE BYPASSED
            VPL5SPC50I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL5SPCZ4S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SPCZ5S - REQUESTED ORGANIZATION NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Pricing Control Table Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/organizationNumber/level-limits:
    put:
      tags:
        - Account
      summary: 'Update limits rules. (VMX Service: M.CMS.RULE.LIMIT.UPD, L8V1)'
      description: |-
        Updates limits rules at the Organization level. 
        VMX Service: M.CMS.RULE.LIMIT.UPD, L8V1
      operationId: Organization Rule Levels Update
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationRuleLevelsRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrganizationRuleLevelsResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Organization Rule Levels Update
      x-group-name: Account
      x-child-product-name: Accounts
    post:
      tags:
        - Account
      summary: 'Add limits rules. (VMX Service: M.CMS.RULE.LIMIT.ADD, L8V1)'
      description: |-
        Adds limits rules at the Organization level. 
        VMX Service: M.CMS.RULE.LIMIT.ADD, L8V1
      operationId: Organization Rule Levels Add
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOrganizationRulesLevelsRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOrganizationRulesLevelsResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Organization Rule Levels Add
      x-group-name: Account
      x-child-product-name: Accounts
  /account/installment-term:
    put:
      tags:
        - Account
      summary: 'Update installment terms. (VMX Service: M.CMS.INST.TERM.UPD, R8V2)'
      description: |-
        Update installment terms for account. 
        VMX Service: M.CMS.INST.TERM.UPD, R8V2
      operationId: Installment Terms Update
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyInstallmentTermRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyInstallmentTermResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |-
            VPL5S0005E - ACCOUNT NUMBER IS NOT NUMERIC OR EQUAL SPACES
            VPL5S0006S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5S0008E - ORGANIZATION NOT DETERMINED
            VPL5S0011S - CARD/ACCOUNT NUMBER IS NOT FOUND FOR ORG
            VPL5S0012S - ACCOUNT NOT FOUND ON FILE
            VPL5S0015E - REQUESTED FUNCTION TYPE IS NOT VALID
            VPL5S0022E - STATEMENT DATE IS NOT VALID
            VPL5S0023E - STATEMENT COULD NOT BE FOUND FOR THE INPUT DATE
            VPL5S0029S - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998
            VPL5S0056E - INVALID LOCAL/FOREIGN INDICATOR SPECIFIED
            VPL5S0065E - STATEMENT DETAIL DATE IS NOT NUMERIC
            VPL5S0067E - STATEMENT OCCURENCE NUMBER IS NOT NUMERIC
            VPL5S0068E - STATEMENT OCCURENCE NUMBER IS GREATER THAN STATEMENTS ON FILE
            VPL5S0069E - STATEMENT OCCURENCE NUMBER NOT ON FILE
            VPL5S0070E - STATEMENT DETAIL DATE IS INVALID WHEN REQUEST IS BY MONTH
            VPL5S0071E - STATEMENT OCCURENCE NUMBER IS INVALID WHEN REQUEST IS BY DATE
            VPL5S9007S - LOGO RECORD NOT ON FILE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Installment Terms Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/feeWaiver:
    put:
      tags:
        - Account
      summary: |-
        Fee waiver Account Maintenance. 

         VMX Service: M.CMS.WAIVEFLAG.UPD, R8V5
      description: |-
        Fee waiver Account Maintenance. 
        VMX Service: M.CMS.WAIVEFLAG.UPD, R8V5
      operationId: Account Fee Waiver Update
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountFeeWaiverMaintenanceRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountFeeWaiverMaintenanceResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |-
            Unprocessable Entity
            VPE5SWF03E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE
            VPE5SWF04E - ACCOUNT NUMBER IS NOT NUMERIC OR EQUAL SPACES
            VPE5SWF05E - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE, 0
            VPE5SWF06E - INVALID REQUEST TYPE VALID VALUES ARE 0, 1 OR 2
            VPE5SWF14E - INVALID WAIVE INTR CHG INDICATOR VALID VALUES ARE 0,1,4,5,6
            VPE5SWF15E - INVALID WAIVE LATE CHG INDICATOR VALID VALUES ARE 0,1,4,5,6
            VPE5SWF16E - INVALID WAIVE LATE NOTC INDICATOR VALID VALUES ARE 0,1,4,5,6
            VPE5SWF17E - INVALID WAIVE FEE CHG INDICATOR VALID VALUES ARE 0,1,4,5,6
            VPE5SWF18E - INVALID WAIVE LTR CHG INDICATOR VALID VALUES ARE 0,1,4,5,6
            VPE5SWF19E - INVALID WAIVE OVLM INDICATOR VALID VALUES ARE 0,1,4,5,6
            VPE5SWF20E - INVALID WAIVE OVLM NOTC INDICATOR VALID VALUES ARE 0,1,4,5,6
            VPE5SWF21E - INVALID WAIVE NSF FEE INDICATOR VALID VALUES ARE 0,1,2,3,4,5,6
            VPE5SWF22E - INVALID WAIVE SVC CHG INDICATOR VALID VALUES ARE 0,1,2,3,4,5,6
            VPE5SWF23E - INVALID WAIVE CASH ADV FEE INDICATOR VALIDVALUE ARE 0,1,2,3,4,5,
            VPE5SWF24E - INVALID WAIVE USER FEE 1 INDICATOR VALID VALUES ARE 0,1,4,5,6
            VPE5SWF25E - INVALID WAIVE USER FEE 2 INDICATOR VALID VALUES ARE 0,1,4,5,6
            VPE5SWF26E - INVALID WAIVE USER FEE 3 INDICATOR VALID VALUES ARE 0,1,4,5,6
            VPE5SWF27E - INVALID WAIVE USER FEE 4 INDICATOR VALID VALUES ARE 0,1,4,5,6
            VPE5SWF28E - INVALID WAIVE USER FEE 5 INDICATOR VALID VALUES ARE 0,1,4,5,6
            VPE5SWF29E - INVALID WAIVE USER FEE 6 INDICATOR VALID VALUES ARE 0,1,4,5,6
            VPE5SWF30E - INVALID WAIVE CARD FEE INDICATOR VALID VALUES ARE 0,1,4,5,6
            VPE5SWF31E - INVALID WAIVE REFUND INDICATOR VALID VALUES ARE 0 OR 1
            VPE5SWF32E - INVALID WAIVE REFUND INDICATOR VALID VALUES ARE 0 OR 1
            VPE5SWF33E - INVALID WAIVE STMT FEE INDICATOR VALID VALUES ARE 0 OR 1
            VPE5SWF35E - INVAILD CYCLE SPEND FEE INDICATOR - VALID VALUES ARE 0 OR 1
            VPE5SWF36E - VALID VALUES ARE 00,01 TO 99
            VPE5SWF37E - VALID VALUES ARE W, R AND SPACES
            VPE5SWF38E - FOREX FEE VALUE MUST BE 98 WHEN FOREX FEE WAIVE DATES ENTRD
[...]
