openapi: 3.0.1
info:
  description: "This documentation describes the REST APIs provided by the FirstVision\u2122\
    \ Cards Microservice, which provides functionality for the issuing, management\
    \ and processing of credit cards, including bank, co-branded, private label, debit,\
    \ commercial, and prepaid"
  title: "FirstVision\u2122 Account Service - API Documentation"
  version: '1.2'
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /account/v1/falconMonetaryInquiry:
    post:
      tags:
      - Account
      summary: 'Monetary Inquiry. VMX Service: M.CMS.FLCN.MON.TRANSFER.INQ, L8V1'
      description: "[IN DEVELOPMENT]\n\nSend the monetary transfer information to\
        \ Fraud Prevention for evaluation. \n\nVMX Service: M.CMS.FLCN.MON.TRANSFER.INQ,\
        \ L8V1"
      operationId: Monetary Inquiry
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FalconMonetaryInquiryRequest'
        required: true
      responses:
        '405':
          description: Method Not Allowed
        '401':
          description: Unauthorized
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '422':
          description: "Unprocessable Entity\nVPL5SRB47E - ORGANIZATION VALUE MUST\
            \ BE NUMBERIC AND VALID VALES ARE 000-999 \n\nVPL5SRB23S - SERVICE INPUT\
            \ TO M/A SERVICE IS AN INCORRECT LENGTH \n\nVPL5SRB24S - USER HAS NOT\
            \ SIGNED ON -PLEASE SIGNON \n\nVPL5SRB48E - ACCOUNT NUMBER MUST BE VALID\
            \ \n\nVPL5SRB49E - CLIENT ID MUST BE NUMERIC \n\nVPL5SRB04E - RISK MESSAGE\
            \ TYPE ID MUST BE NUMERIC \n\nVPL5SRB05E - MESSAGE TYPE ID MUST BE GREATER\
            \ THAN SPACES \n\nVPL5SRB06E - PROD IND MUST BE NUMEREIC \n\nVPL5SRB07E\
            \ - FIID MUST BE NUMEREIC \n\nVPL5SRB08E - BIN MUST BE NUMEREIC \n\nVPL5SRB09E\
            \ - INVALID TRANSACTION DATE \n\nVPL5SRB10E - LOGO VALUE MUST BE NUMERIC\
            \ \n\nVPL5SRB11E - TRANSACTION AMOUNT MUST BE NUMERIC \n\nVPL5SRB12E -\
            \ DEBIT AMOUNT MUST BE NUMERIC \n\nVPL5SRB13E - USER DATA11 MUST BE NUMERIC\
            \ \n\nVPL5SRB14E - RESPONSE CODE MUST BE NUMERIC \n\nVPL5SRB15E - INVALID\
            \ POST DATE  \n\nVPL5SRB17E - BATCH ONLINE IND MUST BE GREATER THAN SPACES\
            \ \n\nVPL5SRB19E - CREDIT DEBIT IND MUST BE GREATER THAN SPACES \n\nVPL5SRB20E\
            \ - CURRENCY CODE MUST BE NUMERIC \n\nVPL5SRB21E - ACCOUNT TYPE MUST BE\
            \ GREATER THAN SPACES \n\nVPL5SRB22E - SECONDARY ACCOUNT NUMBER MUST BE\
            \ VALID \n\nVPL5SRB23E - SECONDARY ACCOUNT TYPE MUST BE GREATER THAN SPACES\
            \ \n\nVPL5SRB24E - SECONDARY ACCT CNTRY CODE MUST BE NUMERIC \n\nVPL5SRB25E\
            \ - ORIG WIRE INST ID NUMBER MUST BE NUMERIC \n\nVPL5SRB27E - ORIG WIRE\
            \ CURRENCY CODE MUST BE NUMERIC \n\nVPL5SRB28E - ORIG WIRE ACCT ID MUST\
            \ BE GREATER THAN SPACES \n\nVPL5SRB29E - BEN WIRE INST ID NUMBER MUST\
            \ BE NUMERIC \n\nVPL5SRB31E - BEN WIRE CURRENCY CODE MUST BE NUMERIC \n\
            \nVPL5SRB32E - BEN WIRE ACCOUNT ID MUST BE GREATER THAN SPACES \n\nVPL5SRB33E\
            \ - WIRE RELEASE DATE TIME MUST BE NUMEREIC \n\nVPL5SRB34E - USER ACCT\
            \ ID MUST BE GREATER THAN SPACES \n\nVPL5SRB35E - CLIENT LANG MUST BE\
            \ GREATER THAN SPACES \n\nVPL5SRB36E - DEVICE NAME MUST BE GREATER THAN\
            \ SPACES \n\nVPL5SRB37E - DEVICE VERSION MUST BE GREATER THAN SPACES \n\
            \nVPL5SRB38E - CLIENT IP MUST BE NUMERIC \n\nVPL5SRB39E - WIRE ID MUST\
            \ BE GREATER THAN SPACES \n\nVPL5SRB40E - BEN WIRE INST NAME MUST BE GREATER\
            \ THAN SPACES \n\nVPL5SRB42E - BEN WIRE ACCT HOLDER NAME MUST BE GREATER\
            \ THAN SPACES \n\nVPL5SRB43E - HOST DECISION MUST BE GREATER THAN SPACES\
            \ \n\nVPL5SRB44E - REAL TIME RULE DSPS MUST BE GREATER THAN SPACES \n\n\
            VPL5SRB45E - ORIG WIRE ACCT NAME MUST BE GREATER THAN SPACES \n\nVPL5SRB46E\
            \ - PROCESS DATE MUST BE NUMERIC \n\nVPL5SRB50E - INPUT TIME MUST BE VALID\
            \ IN HH:MM:SS FORMAT \n\nVPL5SRB26S - REQUESTED ORG NOT FOUND \n\nVPL5SRB05S\
            \ - APPLICATION IN NO-PROCESSING STATUS, RETRY IN A FEW MINUTES \n\nVPL5SRB20S\
            \ - ORGANIZATION FILE NOT AVAILABLE \n\nVPL5SRB21S - ACCOUNT NUMBER NOT\
            \ FOUND \n\nVPL5SRB22S - LOGO RECORD NOT FOUND \n\nVPL5SRB77S - CUSTOMER\
            \ RECORD NOT FOUND \n\nVPL5SRB78S - ACCOUNT NUMBER NOT FOUND \n\nVPL5SRB79S\
            \ - ERROR WHILE SENDING NON-MON DATA TO FALCON"
          content:
            application/json: {}
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FalconMonetaryInquiryResponse'
        '404':
          description: Not Found
      x-proxy-name: Monetary Inquiry
      x-group-name: Account
      x-child-product-name: Accounts
components:
  schemas:
    FalconMonetaryInquiryRequest:
      required:
      - accountNumber
      - accountType
      - batchID
      - batchOnlineIndicator
      - benWireAccountHolderName
      - benWireAccountID
      - benWireCurrencyCode
      - benWireInstallmentIDNum
      - benWireInstallmentName
      - bin
      - clientIP
      - clientLanguage
      - credDebIndicator
      - customerId
      - deviceName
      - deviceVersion
      - fiID
      - hostDecision
      - logo
      - messageSource
      - messageType
      - org
      - originAccountName
      - originCurrencyCode
      - originWireAccountID
      - originWireCurrencyCode
      - originWireInstallmentIDNum
      - postDate
      - realTimeRuleDsps
      - respCode
      - riskMessageType
      - secondaryAccountCountryCode
      - secondaryAccountNumber
      - secondaryAccountType
      - transactionAmount1
      - transactionAmount2
      - transactionDate
      - transactionTime
      - userAccountID
      - wireID
      - wireReleaseDatetime
      type: object
      properties:
        org:
          maximum: 998
          minimum: 1
          type: integer
          description: "* Min Length: 1\n* Max Length: 3\n\nIdentification number\
            \ of the organization associated with the account. \n\nVisionPLUS Service\
            \ Data: AZXRBI-ORG"
          format: int32
          example: 800
        logo:
          maximum: 999
          minimum: 1
          type: integer
          description: "* Min Length: 1\n* Max Length: 3 \n\nLogo number. \n\nVisionPLUS\
            \ Service Data: AZXRBI-LOGO"
          format: int32
          example: 100
        accountNumber:
          maxLength: 11
          minLength: 1
          type: string
          description: "Unique identifier account number. \n\nVisionPLUS Service Data:\
            \ AZXRBI-PRIM-ACCT-NBR"
          example: '00000000032'
        customerId:
          maxLength: 10
          minLength: 1
          type: string
          description: 'Customer Identifier.


            VisionPLUS Service Data: AZXRBI-CUST-ID'
          example: '3874619203'
        userData11:
          maximum: 9999999999999999
          minimum: 100000000
          type: integer
          description: "* Min Length: 9\n* Max Length: 16\n\nUnique identifier of\
            \ the card number. \n\nVisionPLUS Service Data: AZXRBI-USER-DATA11"
          format: int64
          example: 5494394370204256
        riskMessageType:
          maximum: 999999
          minimum: 1
          type: string
          description: '* Min Length: 1

            * Max Length: 6


            Risk Message Type.


            VisionPLUS Service Data: AZXRBI-RISK-MSG-TYPE'
          example: '500002'
        messageType:
          maxLength: 4
          minLength: 1
          type: string
          description: 'Message Type.


            VisionPLUS Service Data: AZXRBI-MSG-TYPE'
          example: '0001'
        userCode1:
          maximum: 999
          minimum: 0
          type: integer
          description: '* Min Length: 0

            * Max Length: 3


            User-defined information.


            VisionPLUS Service Data: AZXRBI-USER-CODE-1'
          format: int32
          example: 90
        fiID:
          maximum: 99999
          minimum: 1
          type: integer
          description: "* Min Length: 1\n* Max Length: 5 \n\nFinancial Institution\
            \ Identifier.\n\nVisionPLUS Service Data: AZXRBI-FIID"
          format: int32
          example: 40072
        bin:
          maximum: 99999999
          minimum: 1
          type: integer
          description: "* Min Length: 1\n* Max Length: 8 \n\nIf sending the card,\
            \ send the BIN of the card associated with the account. \n\nVisionPLUS\
            \ Service Data: AZXRBI-BIN"
          format: int32
          example: 54943943
        retailID:
          maximum: 999999999999999
          minimum: 0
          type: integer
          description: "* Min Length: 0\n* Max Length: 15 \n\nTrade Identifier.\n\n\
            VisionPLUS Service Data: AZXRBI-RETLID"
          example: 123456789012345
        termId:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Terminal Identifier.


            VisionPLUS Service Data: AZXRBI-TERM-ID'
          example: ABC
        employId:
          maximum: 99999999
          maxLength: 8
          minLength: 0
          type: string
          description: "Employee Identification. \n\nVisionPLUS Service Data: AZXRBI-EMPL-ID"
          example: '321980'
        transactionDate:
          pattern: CCYY-MM-DD
          type: string
          description: "Date of transaction in ISO 8601. \n\nVisionPLUS Service Data:\
            \ AZXRBI-TRAN-DATE"
          format: date
          example: 2023-05-15
        transactionTime:
          $ref: '#/components/schemas/LocalTime'
        transactionSequence:
          maxLength: 32
          minLength: 0
          type: string
          description: 'Transaction Sequence. Direct SPEI.


            VisionPLUS Service Data: AZXRBI-SEQ-NBR'
        transactionAmount1:
          maxLength: 23
          minLength: 1
          type: string
          description: 'The monetary amount credited to the credit account. Amountshould
            be in the currency of the credit. Fees or charges can cause the credited
            amount to differ from the debited amount in a constant currency.


            VisionPLUS Service Data: AZXRBI-TRAN-AMT1'
          example: '15000'
        transactionAmount2:
          maxLength: 23
          minLength: 1
          type: string
          description: "The monetary amount debited from the debit account. Amount\
            \ should be in the currency of the debit. \n\nVisionPLUS Service Data:\
            \ AZXRBI-TRAN-AMT2"
          example: '15000'
        respCode:
          maximum: 9999
          minimum: 1
          type: integer
          description: "* Min Length: 1 \n* Max Length: 4 \n\nResponse Code (only\
            \ valid for NRT or NRTU).\n\nVisionPLUS Service Data: AZXRBI-RESP-CODE"
          format: int32
          example: 12
        postDate:
          maximum: 10
          minimum: 10
          pattern: CCYY-MM-DD
          type: string
          description: "Posting date on which the amount is expected to be credited\
            \ to the credit account in ISO 8601. \n\nVisionPLUS Service Data: AZXRBI-POST-DATE"
          format: date
          example: 2023-02-20
        batchOnlineIndicator:
          maxLength: 6
          minLength: 1
          type: string
          description: "Batch Online Transaction Indicator. \n\nVisionPLUS Service\
            \ Data: AZXRBI-BTCH-ONLINE-IND"
          example: online
        termNameLoc:
          maxLength: 20
          minLength: 0
          type: string
          description: "Specific identification number of the device where the transaction\
            \ was initiated: \n* ATM ID = ATM based transaction \n* Branch ID = Teller\
            \ based transaction \n* Web ID = online transaction \n* Telephone Number\
            \ = telephone transaction \n* Terminal ID = POS transaction \n* IMEI =\
            \ Mobile transaction \n\nVisionPLUS Service Data: AZXRBI-TERM-NAME-LOC"
          example: JH3QKD4PHK
        termCity:
          maxLength: 20
          minLength: 0
          type: string
          description: "Terminal City. \n\nVisionPLUS Service Data: AZXRBI-TERM-CITY"
          example: Pachuca
        termCntr:
          maxLength: 20
          minLength: 0
          type: string
          description: "Terminal Country. \n\nVisionPLUS Service Data: AZXRBI-TERM-CNTR"
          example: Mexico
        termSt:
          maxLength: 20
          minLength: 0
          type: string
          description: "Terminal State. \n\nVisionPLUS Service Data: AZXRBI-TERM-ST"
          example: Hidalgo
        termPostalCode:
          maximum: 9999999999
          type: integer
          description: "* Min Length: 1 \n* Max Length: 10 \n\nTerminal Zip Code.\n\
            \nVisionPLUS Service Data: AZXRBI-TERM-PSTL-CODE"
          format: int32
          example: 42000
        credDebIndicator:
          maxLength: 7
          minLength: 1
          type: string
          description: 'Credit Debit Indicator.

            VisionPLUS Service Data: AZXRBI-CRED-DEB-IND'
          example: ABCDEFG
        originCurrencyCode:
          maximum: 999
          minimum: 1
          type: integer
          description: "* Min Length: 1 \n* Max Length: 3 \n\nThe currency code for\
            \ the debitAmount field. Use the ISO 4217 three-digit numeric currency\
            \ code.\n\nVisionPLUS Service Data: AZXRBI-ORIG-CURR-CODE"
          format: int32
          example: 768
        accountType:
          maxLength: 17
          minLength: 1
          type: string
          description: 'Account Type.


            VisionPLUS Service Data: AZXRBI-ACCT-TYPE'
          example: ABC
        secondaryAccountNumber:
          maxLength: 18
          minLength: 1
          type: string
          description: "The unique identifier for the account having funds credited.\
            \ \n\nVisionPLUS Service Data: AZXRBI-SEC-ACCT-NMBR"
          example: '765150028761111111'
        secondaryAccountType:
          maxLength: 2
          minLength: 1
          type: string
          description: 'Beneficiary name as it appears on the payment.


            VisionPLUS Service Data: AZXRBI-SEC-ACCT-TYPE'
          example: AB
        secondaryAccountCountryCode:
          maximum: 999
          minimum: 1
          type: integer
          description: "* Min Length: 1 \n* Max Length: 3 \n\nThe country code for\
            \ the country in which the account being credited is held. \nUse the ISO\
            \ 3166-1 three-digit numeric country code.\n\nVisionPLUS Service Data:\
            \ AZXRBI-SEC-ACCT-CNTRY-CODE"
          format: int32
          example: 999
        originWireInstallmentIDNum:
          maximum: 999
          minimum: 1
          type: integer
          description: "* Min Length: 1 \n* Max Length: 3 \n\nThe bank ID associated\
            \ with the account having funds credited. \n\nVisionPLUS Service Data:\
            \ AZXRBI-ORIG-WIRE-INST-ID-NUM"
          format: int32
          example: 123
        originWireCountryCode:
          maximum: 999
          minimum: 1
          type: integer
          description: "* Min Length: 1 \n* Max Length: 3 \n\nThe currency code for\
            \ the transactionAmount field. Use the ISO 3166-1 three-digit numeric\
            \ country code.\n\nVisionPLUS Service Data: AZXRBI-ORIG-WIRE-CNTRY-CODE"
          format: int32
          example: 999
        originWireCurrencyCode:
          maximum: 999
          minimum: 1
          type: integer
          description: "* Min Length: 1 \n* Max Length: 3 \n\nThe currency code for\
            \ the transaction Amount field. Use the ISO4217 three-digit numeric currency\
            \ code. \n\nVisionPLUS Service Data: AZXRBI-ORIG-WIRE-CRNCY-CODE"
          format: int32
          example: 123
        originWireAccountID:
          maximum: 999999999999999999
          minimum: 1
          type: integer
          description: "* Min Length: 1 \n* Max Length: 18 \n\nThe unique identifier\
            \ for the account having funds debited. \n\nVisionPLUS Service Data: AZXRBI-ORIG-WIRE-ACCT-ID"
          example: 1500287611111111
        benWireInstallmentIDNum:
          maximum: 999
          minimum: 1
          type: integer
          description: "* Min Length: 1 \n* Max Length: 3 \n\nThe bank ID associated\
            \ with the account having funds credited. \n\nVisionPLUS Service Data:\
            \ AZXRBI-BEN-WIRE-INST-ID-NUM"
          format: int32
          example: 123
        benWireCountryCode:
          maximum: 999
          minimum: 0
          type: integer
          description: "* Min Length: 0\n* Max Length: 3 \n\nThe country code for\
            \ the country in which the account being credited is held.Use the ISO\
            \ 3166-1 three-digit numeric country code.\n\nVisionPLUS Service Data:\
            \ AZXRBI-BEN-WIRE-CNTRY-CODE"
          format: int32
          example: 999
        benWireCurrencyCode:
          maximum: 999
          minimum: 1
          type: integer
          description: "* Min Length: 1 \n* Max Length: 3 \n\nThe currency code for\
            \ the credit Amount field. Use the ISO 4217 three-digit numeric currency\
            \ code.\n\nVisionPLUS Service Data: AZXRBI-BEN-WIRE-CRNCY-CODE"
          format: int32
          example: 123
        benWireAccountID:
          maxLength: 40
          minLength: 1
          type: string
          description: "The bank ID associated with the account having funds credited.\
            \ \n\nVisionPLUS Service Data: AZXRBI-BEN-WIRE-ACCT-ID"
          example: 001500287654770602
        ibk1InstallmentIDNum:
          maxLength: 20
          minLength: 0
          type: string
          description: "Internet Banking Kit 1 Installment ID Number. \n\nVisionPLUS\
            \ Service Data: AZXRBI-IBK1-INST-ID-NUM"
          example: K1VX8Y3A9B2C7D6E5F4
        visaAdvancedAuthorType:
          maximum: 9999
          type: integer
          description: "* Min Length: 0 \n* Max Length: 4 \n\nVisa Advanced Author\
            \ Type. \n\nVisionPLUS Service Data: AZXRBI-VI-ADV-AUTHSCOR_TYPE"
          format: int32
          example: 1234
        visaAdvancedAuthReasonCode1:
          maximum: 9999
          type: integer
          description: "* Min Length: 0 \n* Max Length: 4 \n\nVisa Advanced Auth Reason\
            \ Code 1. \n\nVisionPLUS Service Data: AZXRBI-VI-ADV-AUTH-RSN-CD1"
          format: int32
          example: 1234
        visaAdvancedAuthReasonCode2:
          maximum: 9999
          type: integer
          description: "* Min Length: 0 \n* Max Length: 4 \n\nVisa's Advanced Authorization\
            \ Reason Code 2. \n\nVisionPLUS Service Data: AZXRBI-VI-ADV-AUTH-RSN-CD2"
          format: int32
          example: 1234
        visaAdvancedAuthConditionalCode1:
          maximum: 9999
          type: integer
          description: "* Min Length: 0 \n* Max Length: 4 \n\nVisa's Advanced Authorization\
            \ Conditional Code 1. \n\nVisionPLUS Service Data: AZXRBI-VI-ADV-AUTH-CND-CD1"
          format: int32
          example: 1234
        visaAdvancedAuthConditionalCode2:
          maximum: 9999
          type: integer
          description: "* Min Length: 0 \n* Max Length: 4 \n\nVisa's Advanced Authorization\
            \ Conditional Code 2. \n\nVisionPLUS Service Data: AZXRBI-VI-ADV-AUTH-CND-CD2"
          format: int32
          example: 1234
        visaAdvancedAuthConditionalCode3:
          maximum: 9999
          type: integer
          description: "* Min Length: 0 \n* Max Length: 4 \n\nVisa's Advanced Authorization\
            \ Conditional Code 3.\n\nVisionPLUS Service Data: AZXRBI-VI-ADV-AUTH-CND-CD3"
          format: int32
          example: 1234
        wireReleaseDatetime:
          maximum: 10
          minimum: 10
          pattern: CCYY-MM-DD
          type: string
          description: 'Scheduled Transaction Date.


            VisionPLUS Service Data: AZXRBI-WIRE-RLS-DATETIME'
          format: date
          example: 2023-02-20
        userAccountID:
          maxLength: 7
          minLength: 1
          type: string
          description: "Electronic banking user identifier. \n\nVisionPLUS Service\
            \ Data: AZXRBI-USER-ACCT-ID"
          example: ABCDEFG
        accept:
          maxLength: 20
          minLength: 0
          type: string
          description: 'HTTP Accept request header is included in an HTTP message
            to indicate the types of content that the client can understand.


            VisionPLUS Service Data: AZXRBI-ACCEPT'
          example: text/html
        acceptCharSet:
          maxLength: 20
          minLength: 0
          type: string
          description: "Accept CharSet of the device. \n\nVisionPLUS Service Data:\
            \ AZXRBI-ACCEPT-CHAR-SET"
          example: utf-8
        acceptEncoding:
          maxLength: 20
          minLength: 0
          type: string
          description: "Accept Encoding of the device. \n\nVisionPLUS Service Data:\
            \ AZXRBI-ACCEPT-ENCODING"
          example: gzip
        acceptLanguage:
          maxLength: 20
          minLength: 0
          type: string
          description: "Accept Language of the device. \n\nVisionPLUS Service Data:\
            \ AZXRBI-ACCEPT-LANGUAGE"
          example: en-US
        userAgent:
          maxLength: 20
          minLength: 0
          type: string
          description: "User Agent of the device. \n\nVisionPLUS Service Data: AZXRBI-USER-AGENT"
          example: Chrome/94.0.4606.81
        agentType:
          maxLength: 20
          minLength: 0
          type: string
          description: "Agent Type of the device. \n\nVisionPLUS Service Data: AZXRBI-AGENT-TYPE"
          example: Chrome for Mobile
        agentName:
          maxLength: 20
          minLength: 0
          type: string
          description: "Agent Name of the device. \n\nVisionPLUS Service Data: AZXRBI-AGENT-NAME"
          example: Chrome
        agentVersion:
          maxLength: 20
          minLength: 0
          type: string
          description: "Agent Version of the device. \n\nVisionPLUS Service Data:\
            \ AZXRBI-AGENT-VERSION"
          example: 94.0.4606.81
        clientLanguage:
          maxLength: 20
          minLength: 1
          type: string
          description: "Client Language of device. \n\nVisionPLUS Service Data: AZXRBI-CLIENT-LANGUAGE"
          example: ENGLISH
        deviceName:
          maxLength: 40
          minLength: 1
          type: string
          description: "Device Name. \n\nVisionPLUS Service Data: AZXRBI-DEVICE-NAME"
          example: LAPTOP
        deviceVersion:
          maxLength: 20
          minLength: 1
          type: string
          description: "Device Version. \n\nVisionPLUS Service Data: AZXRBI-DEVICE-VERSION"
          example: R2208
        osName:
          maxLength: 20
          minLength: 0
          type: string
          description: "Operational System Name. \n\nVisionPLUS Service Data: AZXRBI-OS-NAME"
          example: IOS
        osVersion:
          maxLength: 20
          minLength: 0
          type: string
          description: "Operational System version. \n\nVisionPLUS Service Data: AZXRBI-OS-VERSION"
          example: '16.4'
        securityLevel:
          maxLength: 20
          minLength: 0
          type: string
          description: "Security Level  refers to the level of security or authentication\
            \ required for a particular transaction. \n\nVisionPLUS Service Data:\
            \ AZXRBI-SECURITY-LEVEL"
          example: Verify Passcode
        userAgentToken:
          maxLength: 20
          minLength: 0
          type: string
          description: "User Agent Token of the device. \n\nVisionPLUS Service Data:\
            \ AZXRBI-USER-AGENT-TOKEN"
          example: Chrome/94.0.4606.81
        clientIP:
          maximum: 9999999999999
          minimum: 1
          type: integer
          description: "* Min Length: 1 \n* Max Length: 13 \n\nClient Internet Protocol.\
            \ \n\nVisionPLUS Service Data: AZXRBI-CLIENT-IP"
          example: 1701861591501
        proxy1P:
          maxLength: 20
          minLength: 0
          type: string
          description: "Device Proxy 1P. \n\nVisionPLUS Service Data: AZXRBI-PROXY1P"
          example: Proxy1Device
        proxy2P:
          maxLength: 20
          minLength: 0
          type: string
          description: "Device Proxy 2P. \n\nVisionPLUS Service Data: AZXRBI-PROXY2P"
          example: Proxy2Device
        remoteIP:
          maxLength: 20
          minLength: 0
          type: string
          description: "Remote Internet Protocol. \n\nVisionPLUS Service Data: AZXRBI-REMOTE-IP"
          example: '1701861591502'
        customerHeader:
          maxLength: 20
          minLength: 0
          type: string
          description: "Security signon name. \n\n VisionPLUS Service Data: AZXRBI-CUST-HEADER"
          example: X-Custom-Header-123
        sessionID:
          maxLength: 20
          minLength: 0
          type: string
          description: "Unique identifier number of the customer's online session\
            \ associated with the transaction. \n\nVisionPLUS Service Data: AZXRBI-SESSION-ID"
          example: a1b2c3d4e5f6g7h8
        userData26:
          maxLength: 33
          minLength: 0
          type: string
          description: "Device Geo Location. \n\nVisionPLUS Service Data: AZXRBI-USER-DATA26"
          example: 19.426591,-99.170140
        messageSource:
          maxLength: 35
          minLength: 1
          type: string
          description: "User-defined information. Editable in Fraud Prevention Expert\
            \ rules. \n\nVisionPLUS Service Data: AZXRBI-WIRE-ID"
          example: User Defined Message
        wireID:
          maxLength: 35
          minLength: 1
          type: string
          description: "User-defined information. Editable in Fraud Prevention Expert\
            \ rules. \n\nVisionPLUS Service Data: AZXRBI-BEN-WIRE-INST-NAME"
          example: F1U2QB8
        benWireInstallmentName:
          maxLength: 5
          minLength: 1
          type: string
          description: "The bank ID associated with the account having funds credited.\
            \ \n\nVisionPLUS Service Data: AZXRBI-ORIG-WIRE-INST-NAME"
          example: '40002'
        originWireInstallmentAddress1:
          maxLength: 20
          minLength: 0
          type: string
          description: "Origin Wire Installment Address 1. \n\nVisionPLUS Service\
            \ Data: AZXRBI-ORIG-WIRE-INST-ADR1"
          example: Curielmouth
        originWireInstallmentAddress2:
          maxLength: 20
          minLength: 0
          type: string
          description: "Origin Wire Installment Address 2. \n\nVisionPLUS Service\
            \ Data: AZXRBI-ORIG-WIRE-INST-ADR2"
          example: Lakewood
        ibk1InstallmentName:
          maxLength: 20
          minLength: 0
          type: string
          description: "Internet Banking Kit 1 Installment Name. \n\nVisionPLUS Service\
            \ Data: AZXRBI-IBK1-INST-NAME"
          example: Bank Express 1
        ibk2InstallmentName:
          maxLength: 20
          minLength: 0
          type: string
          description: "Internet Banking Kit 2 Installment Name. \n\nVisionPLUS Service\
            \ Data: AZXRBI-IBK2-INST-NAME"
          example: Bank Express 2
        benWireAccountHolderName:
          maxLength: 30
          minLength: 1
          type: string
          description: "Payer name as it appears on the payment. \n\nVisionPLUS Service\
            \ Data: AZXRBI-BENWIRE-ACCTHLDR-NAME"
          example: KRISHNA
        hostDecision:
          maxLength: 20
          minLength: 1
          type: string
          description: "Decision for the transaction before reaching Fraud Prevention.\n\
            \nValues: \n* Approve/Accepted \n* Decline/Reject \n* Refer \n* Other\
            \ \n* Blank = Unknown \n\nVisionPLUS Service Data: AZXRBI-HOST-DECISION"
          example: Accepted
        realTimeRuleDsps:
          maxLength: 20
          minLength: 1
          type: string
          description: "Real-time rule DSPs (Decision Support Platforms). \n\nVisionPLUS\
            \ Service Data: AZXRBI-REAL-TIME-RULE-DSPS"
          example: A
        originAccountName:
          maxLength: 30
          minLength: 1
          type: string
          description: "Payer name as it appears on the payment. \n\nVisionPLUS Service\
            \ Data: AZXRBI-ORIG-WIRE-ACCT-NAME"
          example: KRISHNA
        batchID:
          maximum: 9999999999
          minimum: 1
          type: integer
          description: "* Min Length: 1 \n* Max Length: 10 \n\nUser-defined information.\
            \ Editable in Fraud Prevention Expert rules. \n\nVisionPLUS Service Data:\
            \ AZXRBI-BATCH-ID"
          example: 1111111111
        xForwardedFor:
          maximum: 20
          maxLength: 20
          minLength: 0
          type: string
          description: "Device Forwarded For (X-Forwarded-For). \n\nVisionPLUS Service\
            \ Data: AZXRBI-XFWDED-FOR"
          example: 192.168.1.100
      description: Falcon Monetary Inquiry Request
    LocalTime:
      maximum: 8
      pattern: HH:MM:SS
      type: object
      properties:
        hour:
          type: integer
          format: int32
        minute:
          type: integer
          format: int32
        second:
          type: integer
          format: int32
        nano:
          type: integer
          format: int32
      description: "* Min Length: 8 \n* Max Length: 8 \n\nTransaction Time in HH:MM:SS\
        \ Format.\n\nVisionPLUS Service Data: AZXRBI-TRAN-TIME"
      example: 86399
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    FalconMonetaryInquiryResponse:
      type: object
      properties:
        falconDecision:
          type: string
          description: "Max Length: 1 \n\nFraud Prevention Decision is the term used\
            \ in retail banking transactions to describe the process by which the\
            \ institution makes a decision about whether a particular transaction\
            \ is likely to be fraudulent activities before they can cause significant\
            \ harm or not. It helps to protect both the customer and the institution\
            \ from potential fraud and financial loss, while also minimizing the impact\
            \ on legitimate transactions and customer experience. \n\nVisionPLUS Service\
            \ Data: AZXRBO-FALCON-DECISION \n"
          example: A
        falconScore:
          type: integer
          description: "Max Length: 3 \n\nFraud Prevention Score is the term used\
            \ in retail banking transactions to describe the rating that is assigned\
            \ to a particular transaction based on the likelihood that it is fraudulent:\
            \ \n* 0 = Low Risk - The low value may indicate that the transaction is\
            \ less likely to be fraudulent or suspicious. \n* 900 = High Risk - The\
            \ higher the value, the greater the likelihood that the transaction is\
            \ fraudulent or suspicious. \n\nNote: It's important to note that a low\
            \ score does not necessarily mean that the transaction is completely safe\
            \ or risk-free. \n\nVisionPLUS Service Data: AZXRBO-FALCON-SCORE"
          format: int32
          example: 100
        falconContainerName:
          type: string
          description: "Max Length: 16 \n\nFraud Prevention Container Name describe\
            \ the specific fraud prevention container name that is being used to analyze\
            \ and assess the transaction for potential fraudulent activity. \n\nVisionPLUS\
            \ Service Data: AZXRBO-FALCON-CONTAINER-NAME "
          example: FALCON_CONTAINER_NAME
x-config:
  tryItOut: 'true'
