openapi: 3.0.1
info:
  description: "This documentation describes the REST APIs provided by the FirstVision\u2122\
    \ Cards Microservice, which provides functionality for the issuing, management\
    \ and processing of credit cards, including bank, co-branded, private label, debit,\
    \ commercial, and prepaid"
  title: "FirstVision\u2122 Cards Issuing Service - API Documentation"
  version: '1.2'
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /cards/v1/embosser/instantGeneration:
    post:
      tags:
      - Embosser
      summary: "The Instant Embossing Generation can be used to add new cards, additional\
        \ cards, reissue cards, replace cards and receive security values details\
        \ to print the card at the clients embossing machine.\n VMX Service: M.CMS.INSTANT.EMB.GEN\
        \ (R8V5)"
      description: "`[IN DEVELOPMENT]`\n\nThe Instant Embossing Generation can be\
        \ used to add new cards, additional cards, reissue cards, replace cards and\
        \ receive security values details to print the card at the clients embossing\
        \ machine.\n VMX Service: M.CMS.INSTANT.EMB.GEN (R8V5)"
      operationId: 'Instant Embossing Generation. VMX Service: M.CMS.INSTANT.EMB.GEN,
        R8V5'
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantEmbossingRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: 'Unprocessable Entity


            VPL5SIE03S - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000
            AND 998


            VPL5SIE04S - LOGO NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998


            VPL5SIE05S - CUSTOMER NUMBER IS INVALID


            VPL5SIE07S - INVALID CARD TECHNOLOGY


            VPL5SIE08S - EMBOSSER NAME CANNOT BE SPACES


            VPL5SIE34E - POS SERVICE CODE FIELD IS INVALID


            VPL5SIE35S - ACCOUNT CREATE VALID VALUES ARE ''Y'' OR ''N''


            VPL5SIE36S - ACCOUNT NUMBER SHOULD BE SPACES WHEN ACCT CREATE IS ''Y''


            VPL5SIE10S - CREDIT LIMIT MUST BE NUMERIC


            VPL5SIE11S - BILLING CYCLE MUST BE NUMERIC


            VPL5SIE12S - BRANCH OWNING NUMBER MUST BE NUMERIC


            VPL5SIE37E - ADMIN BRCH FIELD VALUE MUST BE NUMERIC


            VPL5SIE13S - REQUESTED CUSTMER NUMBER IS NOT FOUND


            VPL5SIE14S - REQUESTED ORG NUMBER IS NOT FOUND


            VPL5SIE15S - FILE-TABLE USED BY THIS SERVICE IS NOT FOUND


            VPL5SIE17S - SYSTEM RECORD NOT FOUND


            VPL5SIE18S - ORGANIZATION RECORD NOT FOUND


            VPL5SIE20S - LOGO RECORD NOT FOUND ON FILE


            VPL5SIE34E - POS SERVICE CODE FIELD IS INVALID


            VPL5SIE19S - CUSTOMER NUMBER NOT FOUND ON FILE


            VPL5SIE39S - ACCOUNT NUMBER NOT FOUND


            VPL5SIE25S - PIN KEY TYPE/ZONE SPACES


            VPL5SIE26S - CARD SECURITY VALUES COULD NOT BE GENERATED


            VPL5SIE31S - ENC-FAILURE INVALID ORG


            VPL5SIE32S - ENC-FAILURE INV LENGTH


            VPL5SIE33S - ENC-FAILURE CALL FAILURE


            VPL5SIE37E - ADMIN BRCH FIELD VALUE MUST BE NUMERIC


            VPL5SIE38E - 1ST ISS BR FIELD VALUE MUST BE NUMERIC

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstantEmbossingResponse'
        '404':
          description: Not Found
      x-proxy-name: Embosser Generation
      x-group-name: Embosser
      x-child-product-name: Cards
components:
  schemas:
    InstantEmbossingRequest:
      required:
      - billingCycle
      - createAccount
      - logo
      type: object
      properties:
        organizationNumber:
          type: integer
          description: '* Min Length: 0

            * Max Length: 3


            The organizationNumber field is an attribute that holds the unique identification
            number assigned to an organization within the API.


            VisionPLUS Service Data: ARXIEI-ORG'
          format: int32
          example: 991
        logo:
          type: integer
          description: '* Min Length: 1

            * Max Length: 3


            The logo field stores the issuer logo code associated with a payment card.
            It represents the unique identifier or code assigned to the logo of the
            card issuer, allowing for accurate identification and association with
            the issuing bank.


            VisionPLUS Service Data: ARXIEI-LOGO'
          format: int32
          example: 400
        relationshipNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: 'The relationshipNumber field represents a unique identifier
            used to track and associate a specific relationship within a system or
            database.


            VisionPLUS Service Data: ARXIEI-REL-NBR'
          example: 0008070010000016386
        createAccount:
          type: boolean
          description: 'The createAccount field is a boolean indicator that influences
            whether the account creation process should be initiated (true) or not
            (false).


            Values:

            * true  = Create account

            * false = Don''t create account


            VisionPLUS Service Data: ARXIEI-ACCT-CREATE'
          example: false
        billingCycle:
          type: integer
          description: '* Min Length: 1

            * Max Length: 2


            The billingCycle field denotes the specific period during which a billing
            statement is generated, encompassing transactions and charges made on
            the account. It accepts values between 1 and 31. For accounts in a relationship,
            the billing cycle must match the relationship billing cycle. The billing
            cycle must comply with the valid cycles defined at the system level.


            VisionPLUS Service Data: AARXIEI-BILLING-CYCLE'
          format: int32
          example: 18
        billingAccountType:
          pattern: ^(0|1|2|3)$
          type: string
          description: 'The billingAccountType field represents a code that indicates
            the type of account being added, whether it is a transaction (cardholder),
            billing, control, or diversion account.


            Values:


            * 0 = Transaction account (Default)

            * 1 = Billing account

            * 2 = Control account

            * 3 = Diversion account


            VisionPLUS Service Data: ARXIEI-BS-BILLING-ACCT-IND'
          example: '0'
        userCode:
          maxLength: 2
          minLength: 0
          type: string
          description: 'The userCode field represents a unique identifier or code
            associated with an individual user or account holder.


            VisionPLUS Service Data: ARXIEI-BS-USER-CODE-7'
          example: DF
        sourceCode:
          maxLength: 20
          minLength: 0
          type: string
          description: 'The sourceCode field represents the account''s source code,
            which is used to identify the origin or source of the account.


            VisionPLUS Service Data: ARXIEI-BS-SOURCE-CODE'
          example: walk in
        pinSuppressionIndicator:
          type: boolean
          description: 'The pinSuppressionIndicator field represents the Pin Suppression
            status.


            Values:

            * false = Allow PIN generation.

            * true = Suppress PIN generation.


            This field controls whether the system allows or suppresses the generation
            of PINs for the associated transactions, providing security and flexibility
            based on PIN requirements.


            VisionPLUS Service Data: ARXIEI-ED-PIN-SUPPRESSION'
          example: true
        customerInformation:
          $ref: '#/components/schemas/InstantEmbossingRequest.CustomerInformation'
        cardInformation:
          $ref: '#/components/schemas/InstantEmbossingRequest.CardInformation'
        embosserInformation:
          $ref: '#/components/schemas/InstantEmbossingRequest.EmbosserInformation'
        branchInformation:
          $ref: '#/components/schemas/InstantEmbossingRequest.BranchInformation'
        alternateCustomerInformation:
          $ref: '#/components/schemas/InstantEmbossingRequest.AlternateCustomerInformation'
        paymentArchiveInformation:
          $ref: '#/components/schemas/InstantEmbossingRequest.paymentArchiveInformation'
        serviceFeeInformation:
          $ref: '#/components/schemas/InstantEmbossingRequest.ServiceFeeInformation'
        metaData:
          $ref: '#/components/schemas/InstantEmbossingRequest.MetaData'
      description: Card Embosser Details Request
    InstantEmbossingRequest.AddressInformation:
      type: object
      properties:
        address:
          maxLength: 40
          minLength: 0
          type: string
          description: 'The address field represents the first line of the postal
            address associated with a specific location or entity. It provides essential
            information about the primary address details, such as street name, house
            number, apartment, or suite number. This field is commonly used in address
            records to accurately identify and locate the physical location of the
            address.


            VisionPLUS Service Data: ARXIEI-ADDR-LINE-1'
          example: 123 Main Street
        additionalAddress:
          maxLength: 40
          minLength: 0
          type: string
          description: 'The additionalAddress field represents the second line of
            the postal address associated with a specific location or entity. It provides
            additional address details, such as building name, floor, department,
            or any supplementary information.


            VisionPLUS Service Data: ARXIEI-ADDR-LINE-2'
          example: Building B, Floor 3
        city:
          maxLength: 30
          minLength: 0
          type: string
          description: 'The city represents the name of the city in which the address
            field is located.


            VisionPLUS Service Data: ARXIEI-CITY'
          example: Fargo
        state:
          maxLength: 3
          minLength: 0
          type: string
          description: 'The state field represents the code of the administrative
            region or state within a country associated with a specific address.


            VisionPLUS Service Data: ARXIEI-ST-PR'
          example: ND
        postalCode:
          maxLength: 10
          minLength: 0
          type: string
          description: 'The postalCode field stores the postal code or ZIP code associated
            with the address information.


            VisionPLUS Service Data: ARXIEI-PSTL-CD '
          example: '58102'
    InstantEmbossingRequest.AlternateCustomerInformation:
      type: object
      properties:
        indicator:
          pattern: ^( |A|B|C)$
          type: string
          description: 'The indicator field indicates the status of an alternate customer
            or relationship for billing purposes.


            Values:


            * Space = No action; disregard alternate customer.

            * A = Alternate customer active; send statements to alternate address
            until expiration date.

            * B = Alternate customer active; send statements to both addresses until
            expiration date.

            * C = Relationship customer active; send statement to alternate address.


            VisionPLUS Service Data: ARXIEI-BS-ALT-CUST-NBR-FLAG'
          example: A
        number:
          maxLength: 19
          minLength: 0
          type: string
          description: 'The number field represents a unique identifier for an alternate
            customer or relationship, allowing proper management and communication.


            VisionPLUS Service Data: ARXIEI-BS-ALT-CUST-NBR '
          example: '5298741003287561923'
        startDate:
          pattern: YYYY-MM-DD
          type: string
          description: 'The startDate field represents the start date in for an alternate
            customer or relationship in ISO 8601 date format.


            VisionPLUS Service Data: ARXIEI-BS-DATE-ALT-CUST-STRT'
          format: date
          example: 2020-12-21
        expiryDate:
          pattern: YYYY-MM-DD
          type: string
          description: 'The expiryDate field denotes the expiration date of the alternate
            customer status in ISO 8601 date format.


            VisionPLUS Service Data: ARXIEI-BS-DATE-ALT-CUST-EXPR'
          format: date
          example: 2020-12-21
    InstantEmbossingRequest.BranchInformation:
      required:
      - owning
      type: object
      properties:
        owning:
          type: integer
          description: '* Min Length: 1

            * Max Length: 9


            The owning field represents the unique identifier or code assigned to
            the branch or location that owns or manages a specific account or transaction.


            VisionPLUS Service Data: ARXIEI-OWNING-BRANCH-NBR'
          format: int32
          example: 441883304
        administration:
          type: integer
          description: '* Min Length: 0

            * Max Length: 9


            The administration field represents the unique identifier or code assigned
            to the administrative branch or location responsible for managing and
            overseeing specific account-related operations and services.


            VisionPLUS Service Data: ARXIEI-ADMIN-BRANCH'
          format: int32
          example: 705273205
        firstIssue:
          type: integer
          description: '* Min Length: 0

            * Max Length: 9


            The firstIssue field represents the identifier of the branch or location
            where a specific item or document was first issued.


            VisionPLUS Service Data: ARXIEI-FIRST-ISS-BRANCH'
          format: int32
          example: 651099335
    InstantEmbossingRequest.CardInformation:
      required:
      - cardTechnology
      - creditLimit
      type: object
      properties:
        cardTechnology:
          pattern: ^(0|1|2|3)$
          type: string
          description: 'The cardTechnology field indicates the type of technology
            used for the payment card.


            Values:


            * 0 = Magnetic-stripe card

            * 1 = Smart card

            * 2 = Magnetic-stripe contactless card

            * 3 = Smart contactless card


            VisionPLUS Service Data: ARXIEI-CARD-TECHNOLOGY'
          example: '0'
        posServiceCode:
          type: integer
          description: '* Min Length: 0

            * Max Length: 3


            The posServiceCode field represents a code that indicates the type of
            point-of-sale(pos) service applicable to a card. The values for each digit
            vary depending on whether the card is associated with Visa, MasterCard,
            Europay, or a private label card product. This code is essential for identifying
            the specific services and functionalities available for transactions made
            using the card at various point-of-sale locations.


            VisionPLUS Service Data: ARXIEI-POS-SERVICE-CODE'
          format: int32
          example: 501
        creditLimit:
          type: number
          description: '* Min Length: 1

            * Max Length: 17


            The creditLimit field indicates the maximum allowed credit for an account.
            It sets the upper limit for borrowing or charging to the account.


            VisionPLUS Service Data: ARXIEI-CREDIT-LIMIT'
          example: 2734.25
        cardAction:
          maxLength: 1
          minLength: 0
          type: string
          description: 'The cardAction field represents the reason or rationale for
            a specific action taken on a card, such as issuance, reissuance, or cancellation.
            The values are user-defined.


            VisionPLUS Service Data: ARXIEI-ED-CARD-ACTION-REASON'
          example: A
    InstantEmbossingRequest.CustomerInformation:
      required:
      - customerNumber
      type: object
      properties:
        customerNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: 'The customerNumber field identifies the Customer Name/Address
            record to which this account is assigned. A valid customer name and address
            must be on file for this account.


            VisionPLUS Service Data: ARXIEI-CUST-NBR'
          example: '4759218604441630000'
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: 'The accountNumber field is a unique identifier representing
            an account. If createAccount is set to true, a valid account number must
            be provided, and it should not be in add pending status. If createAccount
            is false, the accountNumber must not be empty, containing spaces, or have
            low values as it would be considered invalid.


            VisionPLUS Service Data: ARXIEI-BS-ACCT'
          example: '9914000000000000001'
        addressInformation:
          $ref: '#/components/schemas/InstantEmbossingRequest.AddressInformation'
    InstantEmbossingRequest.EmbosserInformation:
      required:
      - additionalName
      - name
      type: object
      properties:
        name:
          maxLength: 40
          minLength: 1
          type: string
          description: 'The name field represents the name of the embosser or cardholder
            associated with the card production process.


            VisionPLUS Service Data: ARXIEI-EMBOSSER-NAME'
          example: Carolina Ribeiro Castro
        additionalName:
          maxLength: 40
          minLength: 1
          type: string
          description: 'The additionalName field represents the additional name of
            the embosser or cardholder associated with the card production process.


            VisionPLUS Service Data: ARXIEI-EMBOSSER-NAME-2'
          example: Alice Rocha Cunha
        shortName:
          maxLength: 20
          minLength: 0
          type: string
          description: 'The shortName field refers to a concise or abbreviated name
            or title used to represent a longer or more formal name.


            VisionPLUS Service Data: ARXIEI-BS-SHORT-NAME'
          example: John F Kennedy
        affiliateGroup:
          type: integer
          description: '* Min Length: 0

            * Max Length: 5


            The affiliateGroup field identifies the cardholder''s affiliation or affinity
            group through an embosser code.


            VisionPLUS Service Data: ARXIEI-BS-AFFL-EMBLM'
          format: int32
          example: 58146
        customerNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: 'The customerNumber field represents a unique identifier or
            code assigned to a customer or cardholder associated with an embosser.


            VisionPLUS Service Data: ARXIEI-ED-CUSTOMER-NBR'
          example: '5779962506423378231'
        operator:
          maxLength: 20
          minLength: 0
          type: string
          description: 'The operator field refers to the user or operator responsible
            for embossing or personalizing the card.


            VisionPLUS Service Data: ARXIEI-ED-USER-2'
          example: User Defined
        reissueDeliveryOption:
          type: integer
          description: '* Min Length: 0

            * Max Length: 3


            The reissueDeliveryOption field indicates the preferred method for delivering
            reissued cards to customers or cardholders through the embosser system.


            VisionPLUS Service Data: ARXIEI-ED-REISS-DELV-OPTION'
          format: int32
          example: 456
        issueDeliveryOption:
          type: integer
          description: '* Min Length: 0

            * Max Length: 3


            The issueDeliveryOption field indicates the preferred method for delivering
            newly issued cards to customers or cardholders through the embosser system.


            VisionPLUS Service Data: ARXIEI-ED-ISSUE-DELIV-OPTION'
          format: int32
          example: 832
    InstantEmbossingRequest.MetaData:
      type: object
      properties:
        applicationUserCodes:
          type: array
          description: '* Items max length: 20

            * List size: 3


            The applicationSourceCodes field is a list containing source codes, each
            with a maximum length of 20 characters.


            VisionPLUS Service Data: [ARXIEI-BS-APPL-USER-1, ARXIEI-BS-APPL-USER-2,
            ARXIEI-BS-APPL-USER-3] '
          items:
            $ref: '#/components/schemas/ItemRequestString'
        miscellaneousUserCodes:
          type: array
          description: '* Items max length: 30

            * List size: 4


            The miscellaneousUserCodes field represents a user-defined code or identifier
            used for miscellaneous purposes or customized categorization.


            VisionPLUS Service Data: [ARXIEI-BS-MISC-USER-1, ARXIEI-BS-MISC-USER-2,
            ARXIEI-BS-MISC-USER-3, ARXIEI-BS-MISC-USER-4]'
          items:
            $ref: '#/components/schemas/ItemRequestString'
    InstantEmbossingRequest.ServiceFeeInformation:
      type: object
      properties:
        indicator:
          type: integer
          description: '* Min Length: 0

            * Max Length: 3


            The indicator field corresponds to the Service Fee Table. It undergoes
            validation to ensure the existence of the PCT table.


            VisionPLUS Service Data: ARXIEI-BS-SVC-FEE-TABLE'
          format: int32
          example: 735
        startDate:
          pattern: YYYY-MM-DD
          type: string
          description: 'The startDate field represents the start date of the indicator
            in ISO 8601 date format.


            VisionPLUS Service Data: ARXIEI-BS-SVC-FEE-START-DATE'
          format: date
          example: 2020-12-21
        expiryDate:
          pattern: YYYY-MM-DD
          type: string
          description: 'The expiryDate field represents the expiration date of the
            indicator in ISO 8601 date format.


            VisionPLUS Service Data: ARXIEI-BS-SVC-FEE-EXPIR-DATE'
          format: date
          example: 2020-12-21
    InstantEmbossingRequest.paymentArchiveInformation:
      type: object
      properties:
        routingNumber:
          type: integer
          description: '* Min Length: 0

            * Max Length: 10


            The routingNumber field represents the Payment Archive Routing Number.
            This field stores the routing number used for payment archival, ensuring
            accurate and efficient routing of archived payments for appropriate processing
            and management.


            VisionPLUS Service Data: ARXIEI-BS-PMT-ACH-RT-NBR'
          format: int64
          example: 8634466596
        debitType:
          pattern: ^(D|S)$
          type: string
          description: 'The debitType field represents the Payment Archive Debit Type.


            Values:


            * D = Demand deposit account (checking)

            * S = Savings account


            This field specifies the type of debit account used for payment archival,
            distinguishing between Demand deposit accounts (checking) and Savings
            accounts.


            VisionPLUS Service Data: ARXIEI-BS-PMT-ACH-DB-TYPE'
          example: D
        debitNumber:
          maxLength: 17
          minLength: 0
          type: string
          description: 'The debitNumber field represents the Payment Archive Debit
            Number. This field is used to store the unique identifier associated with
            the payment archive debit, facilitating traceability and organization
            of payment archival records.


            VisionPLUS Service Data: ARXIEI-BS-PMT-ACH-DB-NBR'
          example: '69299344544137784'
        status:
          maximum: 7
          pattern: ^(0|1|2|7)$
          type: string
          description: 'The status field represents the Payment Archive flag, indicating
            the status of payment archival.


            Values:


            * 0 = No Archive (Payment archival is not enabled).

            * 1 = Archive active (Payment archival is active).

            * 2, 7 = Archive customer-nominated (Payment archival is determined based
            on customer preferences).


            This field governs the payment archival status, ensuring appropriate recording
            and management of transactions based on the provided values.


            VisionPLUS Service Data: ARXIEI-BS-PMT-ACH-FLAG'
          example: '0'
        nominatedPaymentIndicator:
          pattern: ^(0|1|2|3|9)$
          type: string
          description: 'The nominatedPaymentIndicator field denotes the Direct Debit
            (DD) customer-nominated type of payment.


            Values:


            * 0 = Not used

            * 1 = Fixed payment amount

            * 2 = Percentage of account (cycle-ending) balance

            * 3 = Full account (cycle-ending) balance

            * 9 = Percentage of account (cycle-ending minus over-limit amount) balance


            This field facilitates various payment types based on customer preferences,
            including fixed payment amounts or percentages of the account balance
            at cycle-ending or cycle-ending minus over-limit amount.


            VisionPLUS Service Data: ARXIEI-BS-NOM-ACH-AMTPCT-FL'
          example: '2'
    ItemRequestString:
      type: object
      properties:
        id:
          type: integer
          format: int32
        value:
          type: string
      description: '* Items max length: 30

        * List size: 4


        The miscellaneousUserCodes field represents a user-defined code or identifier
        used for miscellaneous purposes or customized categorization.


        VisionPLUS Service Data: [ARXIEI-BS-MISC-USER-1, ARXIEI-BS-MISC-USER-2, ARXIEI-BS-MISC-USER-3,
        ARXIEI-BS-MISC-USER-4]'
      example:
        id: 1
        value: ALPHANUMERIC DATA 1
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    InstantEmbossingResponse:
      type: object
      properties:
        encryptedTracks:
          type: array
          description: 'Items max length: 160, 80, respectively

            List size: 2

            The encryptedTracks field is a list that contains formatted tracks data
            encrypted using the 3DES (Triple Data Encryption Standard) algorithm.


            VisionPLUS Service Data: [ARXIEO-TRACK1-ENC, ARXIEO-TRACK2-ENC] '
          items:
            $ref: '#/components/schemas/ItemResponseNullableString'
        embosserBlockData:
          type: string
          description: '* Max Length: 176


            The embosserBlockData field contains block data specific to digital cards.
            This information is exclusively sent for digital card transactions, ensuring
            secure and streamlined processing for these types of cards.


            VisionPLUS Service Data: ARXIEO-EMB-DATA-BLOCK'
        cardNumber:
          type: string
          description: '* Max Length: 19


            The cardNumber field represents a unique identifier or token associated
            with the card number or payment instrument, known as the FirstVision PAN
            Token. This token serves as a secure and anonymized representation of
            the original card number, enabling safe and efficient payment processing.


            VisionPLUS Service Data: ARXIEO-CARD-NBR'
        cardExpiryDate:
          type: string
          description: 'The cardExpiryDate field indicates the expiration date of
            a card or payment instrument in ISO 8601 date format.


            VisionPLUS Service Data: ARXIEO-EXP-DATE'
          format: date
    ItemResponseNullableString:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
      description: 'Items max length: 160, 80, respectively

        List size: 2

        The encryptedTracks field is a list that contains formatted tracks data encrypted
        using the 3DES (Triple Data Encryption Standard) algorithm.


        VisionPLUS Service Data: [ARXIEO-TRACK1-ENC, ARXIEO-TRACK2-ENC] '
x-config:
  tryItOut: 'true'
