openapi: 3.0.1
info:
  title: FirstVision™ Cards Issuing Service - API Documentation
  description: This documentation describes the REST APIs provided by the FirstVision™ Cards Microservice, which provides functionality for the issuing, management and processing of credit cards, including bank, co-branded, private label, debit, commercial, and prepaid
  version: "1.2"
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
tags:
- name: Embosser
  description: Embosser
- name: Pin
  description: Pin
- name: Statement
  description: Statement
- name: Card
  description: Card
paths:
  /cards/travel:
    put:
      tags:
      - Card
      summary: "Update Travel Indicator Data. VMX service: M.CMS.TRAVELIND.UPD, L8V1"
      description: "Updates cardholder travel Indicator data (travel notice). \nVMX\
        \ service: M.CMS.TRAVELIND.UPD, L8V1"
      operationId: Travel Indicator Update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelUpdateRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "422":
          description: |-
            VPL5STV02E - ORG NOT FOUND
            VPL5STV04S - CARD NUMBER NOT FOUND
            VPL5STV06E - FOREIGN USE IND - NON VALID VALUES OTHER THAN ("0","1" & SPACES)
            VPL5STVZ4S - ORG LOGO NOT FOUND
            VPL5STVZ5S - REQUESTED ORGANIZATION NOT FOUND
            VPL5STV14S - ORG REC NOT FOUND
            VPL5STV15I - INCOMING ORG NOT FOUND AND ALSO NOT MATCHING WITH DUAL ORG
            VPL5STV16S - ORG RECORD NOT FOUND OR ORG RECORD STATUS IS PENDING
            VPL5STV18S - CARD NUMBER NOT FOUND OR ADD PENDING OR PURGED
            VPL5STV19S - LOGO RECORD NOT FOUND OR ADD PENDING
            VPL5STV20S - ALPHA COUNTRY NOT FOUND
            VPL5STV08E - INVALID AMED TRAVEL START/END DATE FOR 1ST OCCURANCE
            VPL5STV09E - INVALID AMED TRAVEL START/END DATE FOR 2ND OCCURANCE
            VPL5STV10E - INVALID AMED TRAVEL START/END DATE FOR 3RD OCCURANCE
            VPL5STV11E - INVALID AMED TRAVEL START/END DATE FOR 4TH OCCURANCE
            VPL5STV12E - INVALID AMED TRAVEL START/END DATE FOR 5TH OCCURANCE
            VPL5STV07E - VALID TRAVEL IND VALUES ARE 0,1,OR 2
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelUpdateResponse'
      x-proxy-name: Travel Indicator Update
      x-group-name: Card
      x-child-product-name: Cards
  /cards/transfer:
    put:
      tags:
      - Card
      summary: "Card Transfer Update. VMX service: M.CMS.CARDTRANSFER.UPD, L8V5"
      description: "Updates Card transfer service. \nVMX service: M.CMS.CARDTRANSFER.UPD,\
        \ L8V5"
      operationId: Card Transfer
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferUpdateRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "422":
          description: |-
            VPL5S0004E - CARD NUMBER IS NOT NUMERIC
            VPL5S1005E - NO ORGANIZATION RECORD ON FILE
            VPL5S0006S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5S1020E - FUNCTION MUST BE T, R OR C
            VPL5S1021E - NO REVERSAL ACCOUNT NUMBER ENTERED
            VPL5S1022E - TRANSFER TO ACCOUNT NUMBER INVALID
            VPL5S1023E - TRANSFER TO CUSTOMER NUMBER INVALID
            VPL5S1024E - MUST BE BLOCKED LOST/STOLEN/FRAUD
            VPL5S1025E - PLEASE CHECK BLOCK CODES
            VPL5S1026E - EFFECTIVE DATE NOT NUMERIC
            VPL5S1027E - EFFECTIVE DATE INVALID
            VPL5S1028E - EFFECTIVE DATE GREATER THAN NEXT PROCESSING DATE
            VPL5S1029E - TRANS TO FRAUD ACCT MUST BE DIFFERENT FROM THE TRANS FROM ACCT
            VPL5S1030E - TRANSFER TO FRAUD ACCOUNT MUST BE ON FILE WHEN ENTERED
            VPL5S1031E - TRANSFER TO FRAUD ACCOUNT MUST BE ON FILE WHEN ENTERED
            VPL5S1032E - CUSTOMER RECORD NOT ON FILE
            VPL5S1033E - CUSTOMER RECORD MUST BE ACTIVE
            VPL5S1034E - ORGANIZATION NOT DETERMINED
            VPL5S1035E - DETERMINED ORGANIZATION NOT EQUAL TRANSFER FROM ORG
            VPL5S1036E - LOGO DOES NOT ALLOW ACCOUNT NUMBER GENERATION
            VPL5S1037E - MAXIMUM NUMBER OF 20 ATTEMPTS MADE ON BASE NUMBER
            VPL5S1038E - GENERATED ACCOUNT NUMBER GREATER THAN BASE ENDING NUMBER
            VPL5S1039E - REVERSAL ACCOUNT NOT ON FILE
            VPL5S1040E - INVALID CHECK DIGIT
            VPL5S1041E - REVERSAL CANNOT BE PROCESSED DURING END-OF-DAY
            VPL5S1042E - SEED TABLE ERROR-EMBOSSER TRANSFER INCOMPLETE
            VPL5S1043E - VALID VALUES FOR XFR REPLACEMENT INDICATOR ARE: 0/1
            VPL5S1044E - INVALID CUSTOMER NUMBER
            VPL5S1045E - TRANSFER FROM AND TRANSFER TO ACCOUNTS MUST BE IN THE SAME LOGO
            VPL5S1046E - TRANSFER TO ACCT HAS A BALANCE AND IS NOT A FRAUD STATUS ACCT
            VPL5S1061E - TRANSFER TO FRAUD ACCOUNT MUST BE ON FILE WHEN ENTERED- DUAL ORG
            VPL5S1062E - TXN FROM AND TXN TO ACCTS MUST BE IN THE SAME LOGO - DUAL ORG
            VPL5S1063E - TRANSFER TO ACCOUNT HAS A BALANCE AND NOT A FRAUD ACCT - DUAL ORG
            VPL5S1064E - CUSTOMER REC ALREADY ON FILE - DUAL ORG
            VPL5S1065E - CUSTOMER REC NOT ON FILE - DUAL ORG
            VPL5S1066E - CUSTOMER REC MUST BE ACTIVE - DUAL ORG
            VPL5S1069E - NO EMBOSSER REC ON FILE FOR THE DUAL ORG
            VPL5S1071E - ORG DOES NOT ALLOW CUST NBR GENERATION
            VPL5S1072E - MAX NBR OF 20 ATTEMPTS MADE ON CUST NBR
            VPL5S1073E - GENERATED CUST NBR IS GREATER THAN ENDING CUST NBR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferUpdateResponse'
      x-proxy-name: Card Transfer
      x-group-name: Card
      x-child-product-name: Cards
  /cards/temporary-credit-limit:
    put:
      tags:
      - Card
      summary: "Temporary Credit Limit Update. VMX service: M.CMS.TEMP.CREDITLIMIT.UPD,\
        \ R8V2"
      description: "Updates the temporary credit limit for an account. \nVMX service:\
        \ M.CMS.TEMP.CREDITLIMIT.UPD, R8V2"
      operationId: Temporary Credit Limit Update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      - name: signonName
        in: header
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemporaryCreditLimitUpdRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: |-
            VPL5SAAM4E - CREDIT LIMIT CAN NOT EXCEED RELATIONSHIP CREDIT LIMIT
            VPL5SCL05E - CREDIT LIMIT - DOES NOT CONFORM TO CURRENCY NOD
            VPL5SCL08I - CREDIT LIMIT UNCHANGED, UPDATE BYPASSED
            VPL5STC03E - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998
            VPL5STC04E - REQUESTED CARD/ACCT NUMBER IS NOT NUMERIC OR EQUAL SPACES
            VPL5STC05E - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE, 0 OR 1
            VPL5STC06E - TEMP CREDIT LIMIT - DOES NOT CONFORM TO CURRENCY NOD
            VPL5STC07E - TEMP CREDIT LIMIT MUST BE NUMERIC AND GREATER THAN ZEROS
            VPL5STC08E - TEMP CREDIT LIMIT EXPIRES DATE IS NOT NUMERIC
            VPL5STC09E - EXPIRES DATE MUST BE A VALID DATE AND GREATER THAN ZERO
            VPL5STC10E - TEMP CREDIT LIMIT AND EXPIRES DATE ARE REQUIRED INPUT
            VPL5STC11I - TEMP CREDIT LIMIT AND EXPIRES DATE UNCHANGED, UPDATE BYPASSED
            VPL5STC11S - TEMP CRLIM EXPIRY DATE IS GREATER THAN MAXIMUM ALLOWED
            VPL5STC13S - ORGANIZATION NOT FOUND ON FILE
            VPL5STC14S - FOREIGN ORGANIZATION NOT FOUND ON FILE
            VPL5STC15S - ACCOUNT NOT FOUND ON FILE
            VPL5STC16S - RELATIONSHIP ACCOUNT NOT FOUND ON FILE
            VPL5STC17S - LOGO NOT FOUND ON FILE
            VPL5STC18E - TEMP CREDIT LIMIT INVALID FOR PREPAID/DEBIT ACCOUNT TYPES
            VPL5STC19E - EXPIRES DATE INVALID FOR PREPAID/DEBIT ACCOUNT TYPES
            VPL5STC20E - TEMP CREDIT LIMIT INVALID FOR RELATIONSHIP SUB-ACCOUNT
            VPL5STC21E - TEMP CREDIT LIMIT CAN NOT EXCEED LOGO CREDIT LIMIT
            VPL5STC23I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL5STC24E - EXPIRES DATE MUST BE EQUAL OR GREATER APPLICATION PROCESSING DT
            VPL5STC25E - TEMP CREDIT LIMIT SHOULD BE ZERO FOR FOREIGN ACCOUNT
            VPL5STC26E - CREDIT LIMIT INCREASE INVALID DUE TO ACCOUNT DELINQUENCY AMOUNT
            VPL5STC27E - CREDIT LIMIT INCREASE INVALID DUE TO ACCOUNT DELINQUENCY LEVEL
            VPL5STC28E - CREDIT LIMIT INCREASE INVALID DUE TO BLOCK CODE
            VPL5STCZ4S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5STCZ5S - REQUESTED ORGANIZATION NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporaryCreditLimitUpdResponse'
      x-proxy-name: Temporary Credit Limit Update
      x-group-name: Card
      x-child-product-name: Cards
  /cards/status-L8V1:
    put:
      tags:
      - Card
      summary: "Card Status Update. VMX service: M.CMS.CARD.STATUS.UPD, L8V1"
      description: "Card Status Update Service. \nVMX service: M.CMS.CARD.STATUS.UPD,\
        \ L8V1"
      operationId: Card Status Update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardStatusRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "422":
          description: |
            VPL5SCSZ6S - REQUESTED ORGANIZATION NOT FOUND
            VPL5SCS00S - SECURITY CONTEXT IS INVALID AND REQUIRED
            VPL5SCS01S - SECURITY SIGON NAME IS INVALID AND REQUIRED
            VPL5SCS02S - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 000-998
            VPL5SCS03S - CARD NUMBER IS NOT NUMERIC OR EQUALS ZEROES
            VPL5SCS04S - CARD SEQUENCE NUMBER MUST BE NUMERIC, VALID VALUES ARE 0001-9998
            VPL5SCS05S - REPRESENTATIVE NOT FOUND OR NOT ACTIVE
            VPL5SCS06S - ORG NOT FOUND
            VPL5SCS09S - ORGANIZATION NUMBER IS NOT FOUND
            VPL5SCS0BS - CARD NUMBER NOT FOUND
            VPL5SCS0DS - ACCOUNT NUMBER NOT FOUND
            VPL5SCS0ES - LOGO NOT FOUND
            VPL5SCS0FE - CARD IS FRAUD,TRANSFERRED OR PURGED AND STATUS NOT UPDATABLE
            VPL5SCS0GE - ACCOUNT IS CLOSED
            VPL5SCS0HE - CARD STATUS UPDATE NOT ALLOWED ON THIS ACCT SCHEME
            VPL5SCS0IE - INVALID CARD STATUS PROVIDED
            VPL5SCS0JE - CURRENT CARD STATUS IS SAME AS NEW STATUS
            VPL5SCS0KE - CURRENT CARD STATUS-3 CANNOT BE UPDATED
            VPL5SCS0LE - CARD EXPIRED,CANNOT UPDATE STATUS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardStatusResponse'
      x-proxy-name: Card Status Update
      x-group-name: Card
      x-child-product-name: Cards
  /cards/spend-limits-L8V3:
    put:
      tags:
      - Card
      summary: "Spending limits update. VMX service: M.CMS.CARDSPENDLIMITS.UPD, L8V3"
      description: "Card Spending Limits Update Service enables a user to update the\
        \ spending limit fields a card. \nVMX service: M.CMS.CARDSPENDLIMITS.UPD,\
        \ L8V3"
      operationId: Spending Limits Update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendLimitsL8V3Request'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendLimitsL8V3Response'
      x-proxy-name: Spending limits Update
      x-group-name: Card
      x-child-product-name: Cards
  /cards/pin/status:
    put:
      tags:
      - Pin
      summary: "PIN Block/Unblock Function. VMX Service: M.CMS.PIN.BLOCK.UPD, R8V1"
      description: "Blocks and unblocks the PIN on a card. \nVMX Service: M.CMS.PIN.BLOCK.UPD,\
        \ R8V1"
      operationId: PIN Block/Unblock
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinBlockUpdateRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: |-
            VPL5SRP03E - ORGANIZATION IS NOT NUMERIC OR MUST BE BETWEEN 000 AND 999
            VPL5SRP04E - CARD NBR MUST BE NUMERIC AND GREATER THAN ZERO
            VPL5SRP05E - CARD SEQUENCE NUMBER NOT NUMERIC OR MUST BE BETWEEN 0001 AND 9998
            VPL5SRP06S - ORGANIZATION NOT FOUND ON FILE
            VPL5SRP07S - CARD NUMBER DOES NOT EXIST
            VPL5SRP08S - CARD LOGO NOT FOUND ON FILE
            VPL5SRP11S - INVALID SERVICE FUNCTION TYPE
            VPL5SRP12S - INVALID CHANNEL ID, PIN UNBLOCK NOT ALLOWED
            VPL5SRP13S - INVALID CARD STATUS, PIN UNBLOCK NOT ALLOWED
            VPL5SRP14S - CARD BLOCKED, PIN UNBLOCK NOT ALLOWED
            VPL5SRP15S - CARD IS NOT ACTIVATED, PIN UNBLOCK NOT ALLOWED
            VPL5SRP16S - CARD IS EXPIRED, PIN UNBLOCK NOT ALLOWED
            VPL5SRP18S - MANUAL PIN RESET NOT ALLOWED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinBlockUpdateResponse'
      x-proxy-name: PIN Block/Unblock
      x-group-name: Pin
      x-child-product-name: Cards
  /cards/pin/pin-change:
    put:
      tags:
      - Pin
      summary: "Change the PIN of a Card. VMX Service: M.CMS.PIN.CHANGE, R8V2"
      description: "Manages actions on PIN for both magnetic stripe and chip-based\
        \ prepaid cards. \nVMX Service: M.CMS.PIN.CHANGE, R8V2"
      operationId: Pin Change
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinChangeRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "422":
          description: |-
            VPL5SCP06S - ORGANIZATION IS NOT NUMERIC OR MUST BE BETWEEN 000 AND 998
            VPL5SCP07S - LOGO IS NOT NUMERIC OR MUST BE BETWEEN 000 AND 99
            VPL5SCP08S - ACCOUNT NUMBER IS NOT NUMERIC OR EQUAL TO SPACES
            VPL5SCP09S - INVALID CURRENT PIN BLOCK VALUE
            VPL5SCP10S - INVALID REQUESTED PIN BLOCK VALUE
            VPL5SCP11S - INVALID PIN OFFSET VALUE
            VPL5SCP12S - CHANNEL MUST BE 'I' OR 'W'
            VPL5SCP13S - CHANNEL MUST BE GREATER THAN SPACES AND EQUAL TO 'I' OR 'W'
            VPL5SCP14S - KEY ASSOCIATION MUST BE GREATER THAN SPACES
            VPL5SCP20S - ORGANIZATION RECORD NOT FOUND
            VPL5SCP21S - INVALID ACCOUNT STATUS, PIN CHANGE NOT ALLOWED
            VPL5SCP22S - INVALID ACCOUNT TYPE, PIN CHANGE NOT ALLOWED
            VPL5SCP23S - ACCOUNT BLOCKED, PIN CHANGE NOT ALLOWED
            VPL5SCP24S - ACCOUNT DOES NOT HAVE ACTIVE CARDS
            VPL5SCP25S - INVALID CARD STATUS, PIN CHANGE NOT ALLOWED
            VPL5SCP26S - CARD BLOCKED, PIN CHANGE NOT ALLOWED
            VPL5SCP27S - PIN CHANGE NOT ALLOWED FOR SMART CARDS THROUGH WEB OR IVR
            VPL5SCP28S - CARD IS NOT ACTIVATED, PIN CHANGE NOT ALLOWED
            VPL5SCP29S - PIN SUPPRESSION IS ON, PIN CHANGE NOT ALLOWED
            VPL5SCP30S - CARD IS EXPIRED, PIN CHANGE NOT ALLOWED
            VPL5SCP31S - INVALID PIN KEY INDEX ON THE EMBOSSER
            VPL5SCP32S - INVALID PIN OFFSET VALUE ON THE EMBOSSER
            VPL5SCP33S - INPUT LOGO DOES NOT MATCH CARD LOGO ON FILE
            VPL5SCP34S - LOGO RECORD NOT FOUND ON FILE
            VPL5SCP35S - INVALID PRODUCT TYPE, PIN CHANGE NOT ALLOWED
            VPL5SCP41S - INPUT PAN NUMBER SHOULD NOT BE SPACES OR ZEROS
            VPL5SCP42S - CARD NUM DECRYPTED FROM INPUT PAN TOKEN IS SPACES/ZEROS
            VPL5SCP43S - REQUEST CARD NBR IS PAN TOKEN, BUT ORG LVL PAN TOKEN SW INACTIVE
            VPL5SCPZ4S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SCPZ5S - REQUESTED ORGANIZATION NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinChangeResponse'
      x-proxy-name: Pin Change
      x-group-name: Pin
      x-child-product-name: Cards
  /cards/pin/:
    put:
      tags:
      - Pin
      summary: "Update the PIN of a Card. VMX Service: M.CMS.PIN.REASSIGNMENT, R8V1"
      description: "Updates the PIN offset field for PIN change requests, initiated\
        \ from the card host system or from external channels. \nVMX Service: M.CMS.PIN.REASSIGNMENT,\
        \ R8V1"
      operationId: PIN Reassign
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinReassignmentRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "422":
          description: |
            VPL5SPA03S - ORGANIZATION IS NOT NUMERIC OR MUST BE BETWEEN 000 AND 999
            VPL5SPA04S - CARD NUMBER IS NOT NUMERIC OR EQUAL TO SPACES
            VPL5SPA05S - INVALID NEW PIN BLOCK VALUE
            VPL5SPA06S - CHANNEL MUST BE GREATER THAN SPACES
            VPL5SPA07S - KEY ASSOCIATION MUST BE GREATER THAN SPACES
            VPL5SPA09S - INVALID ACCOUNT STATUS, PIN CHANGED NOT ALLOWED
            VPL5SPA10S - INVALID ACCOUNT TYPE, PIN CHANGED NOT ALLOWED
            VPL5SPA11S - ACCOUNT BLOCKED, PIN CHANGED NOT ALLOWED
            VPL5SPA12S - ACCOUNT DOES NOT HAVE ACTIVE CARDS, PIN CHANGED NOT ALLOWED
            VPL5SPA13S - INVALID CARD STATUS, PIN CHANGED NOT ALLOWED
            VPL5SPA14S - CARD BLOCKED, PIN CHANGED NOT ALLOWED
            VPL5SPA15S - CARD IS NOT ACTIVATED, PIN CHANGED NOT ALLOWED
            VPL5SPA16S - CARD IS EXPIRED, PIN CHANGED NOT ALLOWED
            VPL5SPA17S - INVALID PIN KEY INDEX ON THE EMBOSSER
            VPL5SPA18S - INVALID PIN OFFSET VALUE ON THE EMBOSSER
            VPL5SPA19S - LOGO RECORD NOT FOUND ON FILE
            VPL5SPA20S - INVALID PRODUCT TYPE
            VPL5SPA25S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SPA26S - REQUESTED ORGANIZATION NOT FOUND
            VPL5SPA27S - REQUESTED PIN NOT ALLOWED, KEY IN A DIFFERENT PIN
            VPL5SPA28S - PIN SUPPRESSION IS ON, PIN CHANGE NOT ALLOWED
            VPL5SPA31S = INPUT PAN NUMBER SHOULD NOT BE SPACES OR ZEROS
            VPL5SPA32S = CARD NUM DECRYPTED FROM INPUT PAN TOKEN IS SPACES/ZEROS
            VPL5SPA33S = REQUEST CARD NBR IS PAN TOKEN, BUT ORG LVL PAN TOKEN SW INACTIVE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinReassignmentResponse'
      x-proxy-name: PIN Reassign
      x-group-name: Pin
      x-child-product-name: Cards
  /cards/global-card-activation:
    put:
      tags:
      - Card
      summary: "Global Card Activation Update. VMX service: M.CMS.CARDACTIVATION.UPD,\
        \ R8V3"
      description: "Global Card Activation Update Service. \nVMX service: M.CMS.INSTANT.CARD.ADD,\
        \ L8V7"
      operationId: Global Card Activation Update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalCardActivationRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalCardActivationResponse'
      x-proxy-name: Global Card Activation Update
      x-group-name: Card
      x-child-product-name: Cards
  /cards/embosser/v3/embosserUpdate:
    put:
      tags:
      - Embosser
      summary: "Update Embosser Record V3. VMX Service: M.CMS.EMBOSSER.UPD,L8V6"
      description: "Update An Embosser Record version V3. \nVMX Service: M.CMS.EMBOSSER.UPD-L8V6"
      operationId: Embosser Update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmbosserRequestV3'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "422":
          description: "Unprocessable Entity\n\nVPL5SEUZ2S - SERVICE INPUT TO CARD\
            \ UPDATE SERVICE IS AN INCORRECT LENGTH \n\nVPL5SEU01E - ORGANIZATION\
            \ NUMBER MUST BE NUMERIC AND VALID VALUES ARE 000-998  \n\nVPL5SEU02E\
            \ -CARD NUMBER IS NOT NUMERIC OR EQUALS ZEROES \n\nVPL5SEU05E - CARD SEQUENCE\
            \ NUMBER MUST BE NUMERIC, VALID VALUES ARE 0001-9998 \n\nVPL5SEU03E -\
            \ INVALID FOREIGN USE INDICATOR, VALID VALUES ARE SPACE, 0 OR 1 \n\nVPL5SEU04S\
            \ - ORGANIZATION NUMBER NOT FOUND \n\nVPL5SEUZ5S - REQUESTED ORG NUMBER\
            \ IS NOT FOUND  \n\nVPL5SEU01S - ORGANIZATION NUMBER NOT FOUND  \n\nVPL5SEU16I\
            \ - NO FOREIGN ORG FOUND IN ORG RECORD\n\nVPL5SEU02S - CARD NUMBER NOT\
            \ FOUND \n\nVPL5SEUZCS - LOGO RECORD NOT FOUND \n\nVPL5SEUZAS - CARD RELATIONSHIP\
            \ FILE UNAVAILABLE \n\nVPL5SEU07E - CUSTOMER NUMBER ENTERED, BUT NOT A\
            \ COMMERCIAL RELATIONSHIP ACCT \n\nVPL5SEUZBS - CUSTOMER NAME AND ADDRESS\
            \ FILE UNAVAILABLE  \n\nVPL5SEU15S - CUSTOMER NAME AND ADDRESS NOT FOUND\
            \ \n\nVPL5SEU08E - USER 4 FIELD IS NOT NUMERIC  \n\nVPL5SEU09E - USER\
            \ DATE 1 IS NOT NUMERIC \n\nVPL5SEU10E - USER DATE 1 IS NOT A VALID DATE\n\
            \nVPL5SEU11E - USER DATE 2 IS NOT NUMERIC \n\nVPL5SEU12E - USER DATE 2\
            \ IS NOT A VALID DATE\n\nVPL5SEU13E - CARDHOLDER FLAG INVALID, VALID VALUES\
            \ ARE SPACE, 0 TO 9 \n\nVPL5SEU18E - CARDHOLDER TYPE INVALID, VALID VALUES\
            \ ARE SPACE, 0 TO 9 \n\nVPL5SEU19E - INVALID ISO LANGUAGE CODE\n\nVPL5SEU20E\
            \ - ISSUE DELIVERY OPTION IS NOT NUMERIC \n\nVPL5SEU21E - REISSUE DELIVERY\
            \ OPTION IS NOT NUMERIC \n\nVPL5SEU22E - ADMIN BRANCH NOT VALID  \n\n\
            VPL5SEU23E - FIRST ISSUE BRANCH NOT VALID\n\nVPL5SEU36E - UPD NOT ALLOWED\
            \ CRLIM FGN ACTIVE\n\nVPL5SEU40E - PIN CNT RESET INVALID, VALID VALUE\
            \ IS 1 \n\nVPL5SEU38E - CARD FGN CRLIM IS NOT NUMERIC \n\nVPL5SEU31E -\
            \ MARK START DATE MUST BE NUMERIC \n\nVPL5SEU32E - MARK START DATE MUST\
            \ BE A VALID DATE\n\nVPL5SEU33E - MARK END DATE MUST BE NUMERIC\n\nVPL5SEU34E\
            \ - MARK END DATE MUST BE A VALID DATE\n\nVPL5SEU07S - INVALID AUTH CRLIM\
            \ \n\nVPL5SEUZDS - BASE SEGMENT EMBOSSER CROSS-REFERENCE FILE UNAVAILABLE\n\
            \nVPL5SEUY2S - THIRD PARTY CROSS REFERNCE FILE UNAVAILABLE\n\nVPL5SEU21S\
            \ - THIRD PARTY CARD NOT FOUND \n\nVPL5SEU35E - PERSONAL PPD FLAG IS NOT\
            \ SET AT LOGO LEVEL \n\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateEmbosserResponseV3'
      x-proxy-name: Embosser Update
      x-group-name: Embosser
      x-child-product-name: Cards
  /cards/embosser/cardAction-L8V2:
    put:
      tags:
      - Embosser
      summary: "Card Action Update version L8V2. VMX Service: M.CMS.EMB.CARDACTION.UPD,\
        \ L8V2"
      description: "Enables a user to update the card action field on the embosser\
        \ record with all possible user available actions. \nVMX Service: M.CMS.EMB.CARDACTION.UPD,\
        \ L8V2"
      operationId: Card Action Update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbosserCardActionL8V2Request'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbosserCardActionL8V2Response'
      x-proxy-name: Card Action Update
      x-group-name: Embosser
      x-child-product-name: Cards
  /cards/embosser/block:
    put:
      tags:
      - Embosser
      summary: "Block or unblock Card. VMX Service: M.CMS.EMB.BLKCD.UPD, R8V1"
      description: "Provides the ability to apply or remove a block code on a Card\
        \ associated to an Account. \nVMX Service: M.CMS.EMB.BLKCD.UPD, R8V1"
      operationId: Embosser Block Code Update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardDetailsForEmbosserBlockRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "422":
          description: |
            VPL5SCB01E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SCB01S - CARD NUMBER REQUIRED
            VPL5SCB02E - CARD SEQUENCE MUST BE NUMERIC AND VALID VALUES ARE 0001 - 9998
            VPL5SCB02S - ORGANIZATION NOT DETERMINED
            VPL5SCB03E - BLOCK CODE MUST BE SPACE FOR UNBLOCK REQUEST
            VPL5SCB03S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SCB04E - BLOCK CODE REQUIRED FOR UPDATE REQUEST
            VPL5SCB04S - ORGANIZATION NUMBER NOT FOUND
            VPL5SCB05E - INVALID FUNCTION CODE
            VPL5SCB05S - CARD NUMBER NOT FOUND
            VPL5SCB06E - BLOCK CODE MUST BE A CHARACTER A THROUGH Z
            VPL5SCB06S - LOGO NUMBER NOT FOUND
            VPL5SCB07S - UNBLOCK NOT ALLOWED AS BLOCK CODE HAS NOT BEEN UPDATED
            VPL5SCB08S - CARD SEQUENCE NUMBER REQUIRED FOR THIS CARD SCHEME
            VPL5SCB09S - EMBOSSER BLOCK CODE SERVICE IS NOT AVAILABLE FOR THIS CARD SCHEME
            VPL5SCB10S - BLOCK CODE CANNOT BE REPLACED WITH A LOWER OR SAME PRIORITY
            VPL5SCB11S - CARD NUMBER REQUIRED
            VPL5SCB15S - CARD NUMBER NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardsDetailsForEmbosserBlockResponse'
      x-proxy-name: Embosser Block Code Update
      x-group-name: Embosser
      x-child-product-name: Cards
  /cards/credit-limit:
    put:
      tags:
      - Card
      summary: "Update Credit Limit. VMX service: M.CMS.CREDITLIMIT.UPD, R8V1"
      description: "Updates the credit limit amount of an Account. \nVMX service:\
        \ M.CMS.CREDITLIMIT.UPD, R8V1"
      operationId: Credit Limit Update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      - name: signonName
        in: header
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditLimitUpdateRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "422":
          description: |
            VPL5SCL03E - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998
            VPL5SCL04E - REQUESTED CARD/ACCT NUMBER IS NOT NUMERIC OR EQUAL SPACES
            VPL5SCL05E - CREDIT LIMIT - DOES NOT CONFORM TO CURRENCY NOD
            VPL5SCL06E - CREDIT LIMIT MUST BE NUMERIC
            VPL5SCL07E - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE, 0 OR 1
            VPL5SCL08I - CREDIT LIMIT UNCHANGED, UPDATE BYPASSED
            VPL5SCL10S - ORGANIZATION NOT FOUND ON FILE
            VPL5SCL11S - FOREIGN ORGANIZATION NOT FOUND ON FILE
            VPL5SCL12S - ACCOUNT NOT FOUND ON FILE
            VPL5SCL13S - RELATIONSHIP ACCOUNT NOT FOUND ON FILE
            VPL5SCL14S - LOGO NOT FOUND ON FILE
            VPL5SCL15E - CREDIT LIMIT INVALID FOR PREPAID/DEBIT ACCOUNT TYPES
            VPL5SCL16E - CREDIT LIMIT INVALID FOR RELATIONSHIP SUB-ACCOUNT
            VPL5SCL17E - CREDIT LIMIT CAN NOT EXCEED LOGO CREDIT LIMIT
            VPL5SCL19E - CREDIT LIMIT EXCEEDS SECURED AMOUNT
            VPL5SCL20E - CREDIT LIMIT CAN NOT EXCEED COMPANY NODE CREDIT AVAILABLE
            VPL5SCL21E - CREDIT LIMIT CAN NOT EXCEED PARENT NODE CREDIT AVAILABLE
            VPL5SCL23I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL5SCL24E - CREDIT LIMIT SHOULD BE ZERO FOR FOREIGN ACCOUNT
            VPL5SCL25E - CREDIT LIMIT CANNOT BE LESS THAN ACCT FLOOR LIMIT
            VPL5SCL40E - DELQ AMT EXCEEDED FOR CREDIT LIMIT INCREASE
            VPL5SCL41E - DELQ LVL EXCEEDED FOR CREDIT LIMIT INCREASE
            VPL5SCL42E - ACCT BLOCKED FOR CREDIT LIMIT INCREASE
            VPL5SCLZ4S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SCLZ5S - REQUESTED ORGANIZATION NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditLimitUpdateResponse'
      x-proxy-name: Credit Limit Update
      x-group-name: Card
      x-child-product-name: Cards
  /cards/activation:
    put:
      tags:
      - Card
      summary: "Activate Card. VMX service: M.CMS.CARDACTIVATION.UPD, R8V3"
      description: "Updates Card activation service. \nVMX service: M.CMS.CARDACTIVATION.UPD,\
        \ R8V3"
      operationId: Card Activation
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardActivationRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardActivationResponse'
      x-proxy-name: Card Activation
      x-group-name: Card
      x-child-product-name: Cards
  /cards/statement-detail:
    post:
      tags:
      - Statement
      summary: "Statement Detail. VMX Service: M.CMS.STATEMENT.INQ, L8V3"
      description: "Provides detailed information for the last statement produced\
        \ for an Account. \nVMX Service: M.CMS.STATEMENT.INQ, L8V3"
      operationId: Statement Inquiry
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatementInquiryRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "422":
          description: "Unprocessable Entity\n\nVPL5S0005E - ACCOUNT NUMBER IS NOT\
            \ NUMERIC OR EQUAL SPACES \n\nVPL5S0006S - REQUESTED ORG NUMBER IS NOT\
            \ FOUND \n\nVPL5S0008E - ORGANIZATION NOT DETERMINED \n\nVPL5S0011S -\
            \ CARD/ACCOUNT NUMBER IS NOT FOUND FOR ORG \n\nVPL5S0012S - ACCOUNT NOT\
            \ FOUND ON FILE \n\nVPL5S0015E - REQUESTED FUNCTION TYPE IS NOT VALID\
            \ \n\nVPL5S0022E - STATEMENT DATE IS NOT VALID \n\nVPL5S0023E - STATEMENT\
            \ COULD NOT BE FOUND FOR THE INPUT DATE \n\nVPL5S0029S - ORGANIZATION\
            \ IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998 \n\nVPL5S0056E -\
            \ INVALID LOCAL/FOREIGN INDICATOR SPECIFIED \n\nVPL5S0065E - STATEMENT\
            \ DETAIL DATE IS NOT NUMERIC \n\nVPL5S0067E - STATEMENT OCCURENCE NUMBER\
            \ IS NOT NUMERIC \n\nVPL5S0068E - STATEMENT OCCURENCE NUMBER IS GREATER\
            \ THAN STATEMENTS ON FILE \n\nVPL5S0069E - STATEMENT OCCURENCE NUMBER\
            \ NOT ON FILE \n\nVPL5S0070E - STATEMENT DETAIL DATE IS INVALID WHEN REQUEST\
            \ IS BY MONTH \n\nVPL5S0071E - STATEMENT OCCURENCE NUMBER IS INVALID WHEN\
            \ REQUEST IS BY DATE \n\nVPL5S0100S - SERVICE INPUT TO SD SERVICE IS AN\
            \ INCORRECT LENGTH \n\nVPL5S9007S - LOGO RECORD NOT ON FILE \n\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatementInquiryResponse'
      x-proxy-name: Statement Inquiry
      x-group-name: Statement
      x-child-product-name: Cards
  /cards/statement-detail/date:
    post:
      tags:
      - Statement
      summary: "Statement details by date. VMX Service: M.CMS.STATEMENTDATE.INQ, L8V1"
      description: "Provides transaction detail information for current billing cycle\
        \ transactions or invoiced transactions within a date range. \nVMX Service:\
        \ M.CMS.STATEMENTDATE.INQ, L8V1"
      operationId: Statement Details By Date Inquiry
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatementDateInquiryRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "422":
          description: "Unprocessable Entity\n\nVPL5SSI02S - SERVICE INPUT TO STMT\
            \ DATES SERVICE IS AN INCORRECT LENGTH \n\nVPL5SSI06E - ORGANIZATION NUMBER\
            \ MUST BE NUMERIC AND VALID VALUES ARE 000-998 \n\nVPL5SSI07E - CARD/ACCT\
            \ NUMBER IS NOT NUMERIC OR EQUAL SPACES \n\nVPL5SSI08E - FOREIGN USE INDICATOR\
            \ INVALID - MUST BE 0 OR 1 \n\nVPL5SSI09S - REQUESTED CARD/ACCOUNT NUMBER\
            \ IS NOT FOUND \n\nVPL5SSI10S - REQUESTED ORGANIZATION NOT FOUND \n\n\
            VPL5SSI11S - FILE-TABLE USED BY THIS SERVICE IS NOT FOUND \n\nVPL5SSI13S\
            \ - ORGANIZATION NUMBER NOT FOUND \n\nVPL5SSI14S - FOREIGN ORGANIZATION\
            \ NUMBER NOT FOUND \n\nVPL5SSI15S - ACCOUNT NUMBER NOT FOUND \n\nVPL5SSI16I\
            \ - NO STATEMENTS FOUND FOR ACCOUNT \n\nVPL5SPS19S - CUST NBR ASSOCIATED\
            \ WITH CUST ACCT NOT FOUND/ADD PENDNG/CLSD/PURG \n\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatementDateInquiryResponse'
      x-proxy-name: Statement Details By Date Inquiry
      x-group-name: Statement
      x-child-product-name: Cards
  /cards/pin/validation:
    post:
      tags:
      - Pin
      summary: "Pin Validation. VMX Service: M.CMS.PIN.VALIDATE, R8V1"
      description: "Validates the PIN of the card number or PAN Token. \nVMX Service:\
        \ M.CMS.PIN.VALIDATE, R8V1"
      operationId: Pin Validate
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinValidateRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "422":
          description: |
            VPL5SVP03S - ORGANIZATION IS NOT NUMERIC OR MUST BE BETWEEN 000 AND 999
            VPL5SVP04S - CARD NUMBER IS NOT NUMERIC OR EQUAL TO SPACES
            VPL5SVP05S - INVALID CURRENT PIN BLOCK VALUE
            VPL5SVP06S - KEY ASSOCIATION MUST BE GREATER THAN SPACES
            VPL5SVP07S - ORGANIZATION RECORD NOT FOUND
            VPL5SVP08S - INVALID ACCOUNT STATUS
            VPL5SVP09S - INVALID ACCOUNT TYPE
            VPL5SVP10S - ACCOUNT BLOCKED
            VPL5SVP11S - ACCOUNT DOES NOT HAVE ACTIVE CARDS
            VPL5SVP12S - INVALID CARD STATUS
            VPL5SVP13S - CARD BLOCKED
            VPL5SVP14S - CARD IS NOT ACTIVATED
            VPL5SVP15S - CARD IS EXPIRED
            VPL5SVP16S - INVALID PIN KEY INDEX ON THE EMBOSSER
            VPL5SVP17S - INVALID PIN OFFSET VALUE ON THE EMBOSSER
            VPL5SVP18S - LOGO RECORD NOT FOUND ON FILE
            VPL5SVP19S - INVALID PRODUCT TYPE
            VPL5SVP24S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SVP25S - REQUESTED ORGANIZATION NOT FOUND
            VPL5SVP26S - INCORRECT PIN PROVIDED
            VPL5SVP27S - EXCEEDED NUMBER OF INVALID PIN TRIES
            VPL5SVP28S - FMSC SYSTEM BASE RECORD NOT FOUND
            VPL5SVP29S - PIN SUPPRESSION IS ON, PIN CHANGE NOT ALLOWED
            VPL5SVP31S - INPUT PAN NUMBER SHOULD NOT BE SPACES OR ZEROS
            VPL5SVP32S - CARD NUM DECRYPTED FROM INPUT PAN TOKEN IS SPACES/ZEROS
            VPL5SVP33S - REQUEST CARD NBR IS PAN TOKEN, BUT ORG LVL PAN TOKEN SW INACTIVE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinValidateResponse'
      x-proxy-name: Pin Validate
      x-group-name: Pin
      x-child-product-name: Cards
  /cards/pin/security-codes:
    post:
      tags:
      - Pin
      summary: "Provides security values. VMX Service: M.CMS.SEC.VALUES.INQ, R8V1"
      description: "Provides security values CVV, CVV2, iCVV and PIN block for a card\
        \ number. \nVMX Service: M.CMS.SEC.VALUES.INQ, R8V1"
      operationId: Security Values Inquiry
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityCodeDetailsRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityCodeDetailsResponse'
      x-proxy-name: Security Values Inquiry
      x-group-name: Pin
      x-child-product-name: Cards
  /cards/pin/invalid-attempts:
    post:
      tags:
      - Pin
      summary: "Inquire number of invalid PIN attempts. VMX Service: M.CMS.INV.PINTRIES.CTR.INQ,\
        \ L8V1"
      description: "Provides information on the total number of invalid PIN attempts\
        \ made by the cardholder and determines whether the card or PAN token is blocked\
        \ for exceeding the maximum number of invalid PIN attempts. \nVMX Service:\
        \ M.CMS.INV.PINTRIES.CTR.INQ, L8V1"
      operationId: Invalid Attemps Inquiry
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvalidPinAttemptsInquiryRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: |
            VPZ5SPT03S - ORG IS NOT NUMERIC OR MUST BE BETWEEN 000 AND 999
            VPZ5SPT04S - CARD NUMBER IS NOT NUMERIC OR EQUAL TO SPACES
            VPZ5SPT06S - ORGANIZATION RECORD NOT ON FILE
            VPZ5SPT09S - CARD NUMBER NOT FOUND ON FILE
            VPZ5SPT10S - CARD SEQUENCE NUMBER IS NOT NUMERIC
            VPZ5SPT11S - LOGO RECORD NOT ON FILE
            VPZ5SPTZ4S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPZ5SPTZ5S - REQUESTED ORGANIZATION NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidPintAttemptsInquiryResponse'
      x-proxy-name: Invalid Attemps Inquiry
      x-group-name: Pin
      x-child-product-name: Cards
  /cards/pin/dynamic-values:
    post:
      tags:
      - Pin
      summary: "Inquire Dynamic CVV2/CVC2/4CSC. VMX Service: M.CMS.GENERATE.DCVV2,\
        \ R8V1"
      description: "Fetches dynamic CVV2/CVC2/4CSC. \nVMX Service: M.CMS.GENERATE.DCVV2,\
        \ R8V1"
      operationId: Dynamic Values Inquiry
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicValuesRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "422":
          description: |-
            VPL5SPA03S - ORGANIZATION IS NOT NUMERIC OR MUST BE BETWEEN 000 AND 999
            VPL5SPA04S - CARD NUMBER IS NOT NUMERIC OR EQUAL TO SPACES
            VPL5SPA06S - CHANNEL MUST BE GREATER THAN SPACES
            VPL5SPA07S - KEY ASSOCIATION MUST BE GREATER THAN SPACES
            VPL5SPA09S - INVALID ACCOUNT STATUS, GENERATE DCVV2 NOT ALLOWED
            VPL5SPA10S - INVALID ACCOUNT TYPE, GENERATE DCVV2 NOT ALLOWED
            VPL5SPA11S - ACCOUNT BLOCKED, GENERATE DCVV2 NOT ALLOWED
            VPL5SPA12S - ACCOUNT DOES NOT HAVE ACTIVE CARDS, GENERATE DCVV2 NOT ALLOWED
            VPL5SPA13S - INVALID CARD STATUS, GENERATE DCVV2 NOT ALLOWED
            VPL5SPA14S - CARD BLOCKED, GENERATE DCVV2 NOT ALLOWED
            VPL5SPA15S - CARD IS NOT ACTIVATED, GENERATE DCVV2 NOT ALLOWED
            VPL5SPA16S - CARD IS EXPIRED, GENERATE DCVV2 NOT ALLOWED
            VPL5SPA19S - LOGO RECORD NOT FOUND ON FILE
            VPL5SPA20S - INVALID PRODUCT TYPE
            VPL5SPA25S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SPA26S - REQUESTED ORGANIZATION NOT FOUND
            VPL5SGD02S - ORGANIZATION IS NOT NUMERIC OR MUST BE BETWEEN 000 AND 999
            VPL5SGD03S - CARD NUMBER IS NOT NUMERIC OR EQUAL TO SPACES
            VPL5SGD04S - INVALID VALUE IN DISABLE DCVV2 FLAG
            VPL5SGD05S - CHANNEL MUST BE GREATER THAN SPACES
            VPL5SGD06S - KEY ASSOCIATION MUST BE GREATER THAN SPACES
            VPL5SGD07S - INVALID ACCOUNT STATUS FOR THIS REQUEST
            VPL5SGD08S - INVALID ACCOUNT TYPE FOR THIS REQUEST
            VPL5SGD09S - ACCOUNT IS BLOCKED
            VPL5SGD10S - INVALID CARD STATUS FOR THIS REQUEST
            VPL5SGD11S - CARD BLOCKED
            VPL5SGD12S - CARD HAS NOT BEEN ACTIVATED
            VPL5SGD13S - CARD IS EXPIRED
            VPL5SGD14S - CARD PRODUCT NOT FOUND
            VPL5SGD15S - INVALID CARD PRODUCT TYPE
            VPL5SGD18S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SGD19S - REQUESTED ORGANIZATION NOT FOUND
            VPL5SGD20S - PRODUCT DOES NOT SUPPORT DCVV2
            VPL5SGD24S - ENC-FAILURE INVALID ORG
            VPL5SGD25S - ENC-FAILURE INV LENGTH
            VPL5SGD26S - ENC-TEXT MUST BE NUMERIC
            VPL5SEA04E - INPUT PAN NUMBER SHOULD NOT BE SPACES OR ZEROS
            VPL5SEA05E - CARD NUM DECRYPTED FROM INPUT PAN TOKEN IS SPACES/ZEROS
            VPL5SEA16S - REQUEST FOR PAN TOKEN, BUT ORG LVL PAN TOKEN SW INACTIVE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DynamicValuesResponse'
      x-proxy-name: Dynamic Values Inquiry
      x-group-name: Pin
      x-child-product-name: Cards
  /cards/mass-card-issue-L8V3:
    get:
      tags:
      - Card
      summary: "Find Mass Card Reissue information. VMX service: M.CMS.MASS.CARD.ISSUE.INQ,\
        \ L8V3"
      description: |-
        Find Mass Card Reissue information version L8V3.
        VMX service: M.CMS.MASS.CARD.ISSUE.INQ, L8V3
      operationId: Mass Card Reissue Inquiry
      parameters:
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 950
      - name: logo
        in: query
        description: logo
        required: true
        schema:
          type: integer
          format: int32
        example: 50
      - name: serviceType
        in: query
        description: serviceType
        required: true
        schema:
          type: integer
          format: int32
        example: "00"
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassCardReissueDetailsResponseL8V3'
      x-proxy-name: Mass Card Reissue Inquiry
      x-group-name: Card
      x-child-product-name: Cards
    post:
      tags:
      - Card
      summary: "Add or Update massive issued cards Version L8v3. VMX service: M.CMS.MASS.CARD.ISSUE.UPD,\
        \ L8V3"
      description: "Mass Card Issue Update version L8V3. \nVMX service: M.CMS.MASS.CARD.ISSUE.UPD,\
        \ L8V3"
      operationId: Mass Card Issue Update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MassCardIssueAddRequestL8V3'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassCardIssueAddResponseL8V3'
      x-proxy-name: Mass Card Issue Update
      x-group-name: Card
      x-child-product-name: Cards
  /cards/embosser/sameDay:
    post:
      tags:
      - Embosser
      summary: "Same day plastic add/update. VMX Service: M.CMS.SAMEDAYPLASTIC.UPD,\
        \ R8V1"
      description: "Allows a user to add or update same day plastic requests. \nVMX\
        \ Service: M.CMS.SAMEDAYPLASTIC.UPD, R8V1"
      operationId: Same Day Plastic Add/Update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SameDayEmbossingAddRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "422":
          description: |-
            VPL5SSP03S - CMS ORG IS INVALID
            VPL5SSP04S - CMS LOGO IS INVALID
            VPL5SSP05S - INVALID CARD NUMBER
            VPL5SSP06E - CARD SEQ IS INVALID
            VPL5SSP07E - VALID CARD ACTION FOR SDP ARE 1, 3 AND 6
            VPL5SSP08E - VALID SDP PROCESS TYPE ARE 0 , 1 OR SPACES
            VPL5SSP09E - CARD ACTION SHOULD BE NUMERIC
            VPL5SSP15E - SDP REQUEST IS IN PENDING STATUS OR OVERRUN
            VPL5SSP16E - SDP CROSS REFERENCE RECORD NOT FOUND
            VPL5SSP10S - REQUESTED ORG LOGO NOT FOUND
            VPL5SSP11S - REQUESTED LOGO NOT FOUND IN CMS
            VPL5SSP14S - SDP NOT ACTIVE AT LOGO LEVEL
            VPL5SSP30S - ORGANIZATION IS ADD PENDING
            VPL5SSP34S - ORGANIZATION NUMBER NOT FOUND
            VPL5SSP36S - REQUESTED ORG NUMBER IS NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SameDayEmbossingAddResponse'
      x-proxy-name: Same Day Plastic Add/Update
      x-group-name: Embosser
      x-child-product-name: Cards
  /cards/embosser/l8vf:
    post:
      tags:
      - Embosser
      summary: "Add An Embosser Record (L8VF). VMX Service: M.CMS.EMBOSSER.ADD, L8VF"
      description: "Add An Embosser Record From An External Source (version L8VF).\
        \ \nVMX Service: M.CMS.EMBOSSER.ADD, L8VF"
      operationId: Embosser Add
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddEmbosserL8VFRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddEmbosserL8VFResponse'
      x-proxy-name: Embosser Add
      x-group-name: Embosser
      x-child-product-name: Cards
  /cards/embosser/card-pan-l8v2:
    post:
      tags:
      - Embosser
      summary: "Card or PAN Token Inquiry. VMX Service: M.CMS.CARD.PAN.INQ, L8V2.This\
        \ API can be used only by PCI Compliant financial institutions and issuers."
      description: "Inquiry Card number or PAN Token. \nVMX Service: M.CMS.CARD.PAN.INQ,\
        \ L8V2"
      operationId: Card Or PAN Token Inquiry
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardPanInquiryL8V2Request'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "422":
          description: |
            VPL5SAD07S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SCI01E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 000-998
            VPL5SCI03E - INPUT CARD NUMBER IS NOT NUMERIC
            VPL5SCI04E - CARD SEQUENCE NUMBER IS NOT NUMERIC
            VPL5SCI05S - REQUESTED CARD / ACCOUNT NUMBER IS NOT FOUND
            VPL5SCI07S - ORG RECORD NOT FOUND
            VPL5SCI09S - EMBOSSER RECORD NOT FOUND
            VPL5SEA04E - INPUT PAN NUMBER SHOULD NOT BE SPACES OR ZEROS
            VPL5SEA05E - CARD NUM DECRYPTED FROM INPUT PAN TOKEN IS SPACES/ZEROS
            VPL5SEA16S - REQUEST FOR PAN TOKEN, BUT ORG LVL PAN TOKEN SW INACTIVE
            VPL5SIE31S - ENC-FAILURE INVALID ORG
            VPL5SIE32S - ENC-FAILURE INV LENGTH
            VPL5SIE33S - ENC-FAILURE CALL FAILURE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardPanInquiryL8V2Response'
      x-proxy-name: Card Or PAN Token Inquiry
      x-group-name: Embosser
      x-child-product-name: Cards
  /cards/embosser/card-details-L8V3:
    post:
      tags:
      - Embosser
      summary: "Account to cards details L8V3. VMX Service: M.CMS.ACCT.TO.CARD.INQ,\
        \ L8V3"
      description: "Provides the card number uses the account number or the account\
        \ and organization number to find it. If only the account number is provided\
        \ in the service input in a dual currency processing environment, this service\
        \ provides the card numbers for the local account. If the organization number\
        \ is provided in the service input, this service provides the card numbers\
        \ associated with that organization whether it is a local or a foreign organization.\
        \ \nVMX Service: M.CMS.ACCT.TO.CARD.INQ, L8V3"
      operationId: Account To Cards Inquiry L8V3
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountForCardDetailsL8V3Request'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "422":
          description: |-
            VPL5SAEZ8S - REQUESTED ORG NOT FOUND
            VPL5SAE01E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SAE01S - REQUESTED CARD/ACCOUNT NUMBER IS NOT FOUND
            VPL5SAE02E - ACCOUNT NUMBER IS NOT NUMERIC OR EQUALS SPACES
            VPL5SAE02S - ORGANIZATION NUMBER NOT FOUND
            VPL5SAE03E - SERVICE FUNCTION INVALID - VALID VALUES ARE P N OR SPACE
            VPL5SAE03S - CARD NUMBER NOT FOUND
            VPL5SAE04E - INPUT START CARD ORG NOT NUMERIC
            VPL5SAE04S - ACCOUNT NUMBER NOT FOUND
            VPL5SAE05E - INPUT START CARD NUMBER NOT NUMERIC
            VPL5SAE06E - INPUT START CARD SEQ IS NOT VALID
            VPL5SAE07I - NO VALID CARDS FOUND FOR THE ACCOUNT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountForCardDetailsL8V3Response'
      x-proxy-name: Account To Cards Inquiry L8V3
      x-group-name: Embosser
      x-child-product-name: Cards
  /cards/details:
    post:
      tags:
      - Card
      summary: "Details from a single card. VMX Service: M.CMS.CHANNEL.INQ, L8V1"
      description: "Provides a summary of the card and account details for the client.\
        \ \nVMX Service: M.CMS.CHANNEL.INQ, L8V1"
      operationId: Card and Account Details Inquiry
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardDetailsRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: |-
            VPL5SEI03E - ORGANIZATION IS NOT NUMERIC OR VALUE MUST BE BETWEEN 000 AND 999
            VPL5SEI04E - CARD NUMBER IS NOT NUMERIC OR EQUAL TO SPACES
            VPL5SEI05S - REQUESTED CARD NUMBER IS NOT FOUND
            VPL5SEI06S - ORGANIZATION RECORD NOT FOUND
            VPL5SEI07S - ACCOUNT NUMBER NOT FOUND
            VPL5SEI08S - PAYMENT HISTORY RECORD NOT FOUND
            VPL5SEI09S - FOREIGN ACCOUNT NOT FOUND
            VPL5SVIZ1S - ORGANIZATION RECORD NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardsDetailsResponse'
      x-proxy-name: Card and Account Details Inquiry
      x-group-name: Card
      x-child-product-name: Cards
  /cards/embosser/{cardNumber}/navigational:
    get:
      tags:
      - Embosser
      summary: "Embosser Navigational Service. VMX Service: M.CMS.EMB.NAV.SVC, R8V1"
      description: "The Embosser Navigational service is an internal service that\
        \ uses the card number to find the base segment account number, customer number\
        \ and relationship numbers associated with the card number. \nVMX Service:\
        \ M.CMS.EMB.NAV.SVC, R8V1"
      operationId: Embosser Navigational Inquiry
      parameters:
      - name: cardNumber
        in: path
        description: "Unique identifier or token associated with the card number or\
          \ payment instrument (FirstVision PAN Token). Example: 000540208ID5IXX3865 "
        required: true
        schema:
          maxLength: 19
          minLength: 0
          type: string
        example: 000540208ID5IXX3865
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 801
      - name: functionType
        in: query
        description: |-
          Function type
           The value is A (retain customer/relationship number)
        required: true
        schema:
          minimum: 1
          maxLength: 1
          minLength: 1
          type: string
        example: A
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "422":
          description: |-
            VPL5S0002S - CMS FILE TABLE RECORD NOT FOUND
            VPL5S0009E - REQUESTED CARD OR ACCOUNT NUMBER CAN NOT BE FOUND ON FILE.
            VPL5S0011S - CMS ACCOUNT RECORD NOT FOUND ON FILE
            VPL5S0015E - REQUESTED FUNCTION TYPE IS NOT VALID
            VPL5S0027S - REQUESTED FUNCTION CODE IS INVALID INPUT START CARD NUMBER NOT NUMERIC
            VPL5S0028S - REQUESTED START ITEM IS INVALID
            VPL5S0029S - ORG IS NOT NUMERIC OR MUST BE VALUE BETWEEN 001 AND 998
            VPL5S0035S - INPUT CUSTOMER NUMBER IS INVALID
            VPL5S0036S - REQUESTED CUSTOMER NUMBER CAN NOT BE FOUND ON FILE
            VPL5S0037S - CUSTOMER RECORD NOT ON FILE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NavigationalServiceResponse'
      x-proxy-name: Embosser Navigational Inquiry
      x-group-name: Embosser
      x-child-product-name: Cards
components:
  schemas:
    TravelUpdateRequest:
      required:
      - cardNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization Number.

            VisionPLUS Service Data: AZXTII-ORG
          format: int32
          example: 807
        cardNumber:
          maxLength: 19
          minLength: 12
          type: string
          description: |-
            Length: 19

            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).

            VisionPLUS Service Data: AZXTII-CARD
          example: 000540208ID5IXX3865
        cardSequence:
          type: integer
          description: |-
            Length: 4

            Card Sequence.

            VisionPLUS Service Data: AZXTII-SEQ
          format: int32
          example: 1
        foreignUseIndicator:
          type: string
          description: |-
            Length: 1

            Foreign Use Indicator.

            The values are:

            Zero, space, low values = Local account

            1 = Foreign account

            VisionPLUS Service Data: AZXTII-FOREIGN-USE
          example: "1"
        travelIndicator:
          type: integer
          description: |-
            Length: 1

            Travel indicator.

            VisionPLUS Service Data: AZXTII-TRAVEL-IND
          format: int32
          example: 1
        travelIndicatorOccurrence:
          type: integer
          description: |-
            Length: 1

            Travel indicator occurrence.

            VisionPLUS Service Data: AZXTII-TABLE-OCCURS
          format: int32
          example: 1
        travel:
          type: array
          items:
            $ref: '#/components/schemas/TravelUpdateRequest.Travel'
      description: Update Travel Request
    TravelUpdateRequest.Travel:
      type: object
      properties:
        country:
          type: string
          description: |-
            Length: 3

            Country of travel.

            VisionPLUS Service Data: AZXTII-TRAVEL-COUNTRY
          example: ARG
        startDate:
          type: string
          description: |-
            Length: 8

            Start date of travel.

            VisionPLUS Service Data: AZXTII-TRAVEL-STRT-DT
          format: date
        endDate:
          type: string
          description: |-
            Length: 8

            End date of travel.

            VisionPLUS Service Data: AZXTII-TRAVEL-END-DT
          format: date
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    TravelUpdateResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization Number.

            VisionPLUS Service Data: AZXTIO-ORG
          format: int32
        cardNumber:
          type: string
          description: |-
            Length: 19

            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).

            VisionPLUS Service Data: AZXTIO-CARD
          example: 000540208ID5IXX3865
    TransferUpdateRequest:
      required:
      - accountNumberBase
      - blockCode
      - cardNumber
      - function
      - issueType
      - logo
      - operatorId
      - reasonCode
      - startDate
      - terminalId
      - transferRepresentative
      - transferToAccount
      - transferToCustomer
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization Number.

            VisionPLUS Service Data: ARXE1I-ORG
          format: int32
          example: 807
        cardNumber:
          maxLength: 19
          minLength: 12
          type: string
          description: |-
            Length: 19

            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).

            VisionPLUS Service Data: ARXE1I-CARD-NBR
          example: 000540208ID5IXX3865
        cardSequence:
          type: integer
          description: |-
            Length: 4

            Card Sequence.

            VisionPLUS Service Data: ARXE1I-CARD-SEQ
          format: int32
          example: 1
        accountNumberBase:
          type: string
          description: |-
            Length: 19

            Account number from base segment.

            VisionPLUS Service Data: ARXE1I-BS-ACCT
          example: "4513074002573466600"
        customerOrg:
          type: integer
          description: |-
            Length: 3

            Customer Organization.

            VisionPLUS Service Data: ARXE1I-CUS-ORG
          format: int32
          example: 802
        function:
          type: string
          description: |-
            Length: 1

            Action to take on the card relating to transfer.

            The values are:

            C = Copy the data on a lost, stolen, used card to a new card and retain on the existing account.

            R = Reverse a previous card transfer.

            T = Transfer a card reported lost, stolen, fraudulently used to a new or existing account.

            VisionPLUS Service Data: ARXE1I-ARXF-FUNCTION
          example: T
        logo:
          type: integer
          description: |-
            Length: 3

            Logo.

            VisionPLUS Service Data: ARXE1I-LOGO
          format: int32
          example: 400
        startDate:
          type: string
          description: |-
            Length: 8

            Start date.

            VisionPLUS Service Data: ARXE1I-START-DATE
          format: date
        terminalId:
          type: string
          description: |-
            Length: 4

            Terminal ID.

            VisionPLUS Service Data: ARXE1I-TERMINAL-ID
          example: "1"
        operatorId:
          type: string
          description: |-
            Length: 3

            Operator ID.

            VisionPLUS Service Data: ARXE1I-OPERATOR-ID
          example: VFM
        transferToAccount:
          type: string
          description: |-
            Length: 19

            Transfer-to account.

            VisionPLUS Service Data: ARXE1I-XFR-TO-ACCT
          example: 55555555506338684CC
        transferToCustomer:
          type: string
          description: |-
            Length: 19

            Transfer-to customer.

            VisionPLUS Service Data: ARXE1I-XFR-TO-CUST
          example: 55555555569482969CC
        effectiveDate:
          type: string
          description: |-
            Length: 8

            Effective date.

            VisionPLUS Service Data: ARXE1I-EFF-DATE
          format: date
        transferRepresentative:
          type: string
          description: |-
            Length: 1

            Transfer representative indicator.

            VisionPLUS Service Data: ARXE1I-XFR-REP-IND
          example: "0"
        blockCode:
          type: string
          description: |-
            Length: 1

            Block Code.

            VisionPLUS Service Data: ARXE1I-BLOCK-CODE
          example: S
        processType:
          type: string
          description: |-
            Length: 1

            Process Type.

            The values are:

            0 = Same day processing not required

            1 = Same day processing required

            Spaces = Defaults to choice on logo record

            VisionPLUS Service Data: ARXE1I-PROCESS-TYPE
          example: "0"
        reasonCode:
          type: string
          description: |-
            Length: 1

            Reason code.

            VisionPLUS Service Data: ARXE1I-REASON-CODE
          example: X
        issueType:
          pattern: ^(I|S|R)$
          type: string
          description: |
            Length :1
            Issue Type
            Valid values are Space, I, S or R
            Value S can be updated only when the Org level Customer embosser switch is inactive.
            * I = Instant issue
            * R = Regular
            * S = Reg Fee.
          example: S
        typeOfCard:
          type: integer
          description: |-
            Length :2
            Type Of Card
            Valid values are Space, Low-Values or Numeric
          format: int32
          example: 10
          enum:
          - null
        firstIssBranch:
          type: integer
          description: |-
            Length :9First Iss Branch
            Valid values are Space, Low-Values or Numeric
          format: int32
          example: 123
          enum:
          - null
        adminBranch:
          type: integer
          description: |-
            Length :9
            Admin Branch
            Valid values are Space, Low-Values or Numeric
          format: int32
          example: 456
          enum:
          - null
        plasticId:
          maxLength: 10
          minLength: 0
          type: string
          description: |-
            Length :10
            Plastic Id
            Valid values are Spaces, low-values or Alphanumeric Value
          example: 135CDEF
      description: Card Transfer Request
    TransferUpdateResponse:
      type: object
      properties:
        cardNumber:
          type: string
          description: |-
            Length: 19

            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).

            VisionPLUS Service Data: ARXE1O-CARD-NBR
          example: 000540208ID5IXX3865
        transferToAccount:
          type: string
          description: |-
            Length: 19

            Transfer-to account.

            VisionPLUS Service Data: ARXE1O-XFR-TO-ACC
        transferToCustomer:
          type: string
          description: |-
            Length: 19

            Transfer-to customer.

            VisionPLUS Service Data: ARXE1O-XFR-TO-CUST
        effectiveDate:
          type: string
          description: |-
            Length: 8

            Effective Date.

            VisionPLUS Service Data: ARXE1O-EFF-DATE
          format: date
        blockCode:
          type: string
          description: |-
            Length: 1

            Block Code.

            VisionPLUS Service Data: ARXE1O-BLOCK-CODE
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization Number.

            VisionPLUS Service Data: ARXIEO-ORG
          format: int32
        logo:
          type: integer
          description: |-
            Length: 3

            Logo.

            VisionPLUS Service Data: ARXIEO-LOGO
          format: int32
        customerNumber:
          type: string
          description: |-
            Length: 19

            Customer Number.

            VisionPLUS Service Data: ARXIEO-CUST-NBR
        track1Enc:
          type: string
          description: |-
            Length: 160

            Track 1 Data for scheme.

            VisionPLUS Service Data: ARXIEO-TRACK1-ENC
        track2Enc:
          type: string
          description: |-
            Length: 80

            Track 2 Data for scheme.

            VisionPLUS Service Data: ARXIEO-TRACK2-ENC
        embosserDataBlock:
          type: string
          description: |-
            Length: 176

            Embosser block data.

            VisionPLUS Service Data: ARXIEO-EMB-DATA-BLOCK
        embosserName1:
          type: string
          description: |-
            Length: 40

            Embosser Name 1.

            VisionPLUS Service Data: ARXIEO-EMBOSSER-NAME-1
        embosserName2:
          type: string
          description: |-
            Length: 40

            Embosser Name 2.

            VisionPLUS Service Data: ARXIEO-EMBOSSER-NAME-2
        owningBranchNumber:
          type: integer
          description: |-
            Length: 9

            Owning branch number associated with the card.

            VisionPLUS Service Data: ARXIEO-OWNING-BRANCH-NB
          format: int32
        expDate:
          type: string
          description: |-
            Length: 8

            Expiry Date.

            VisionPLUS Service Data: ARXIEO-EXP-DATE
          format: date
    TemporaryCreditLimitUpdRequest:
      required:
      - accountOrCardNumber
      - foreignUse
      - organizationNumber
      - temporaryCreditLimit
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization Number.

            VisionPLUS Service Data: ARXTCI-ORG
          format: int32
          example: 807
          enum:
          - null
        accountOrCardNumber:
          maxLength: 19
          minLength: 12
          type: string
          description: |-
            Length: 19

            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).

            VisionPLUS Service Data: ARXTCI-ACCT
          example: 000540208ID5IXX3865
          enum:
          - "range[12,19]"
        foreignUse:
          maxLength: 1
          minLength: 1
          type: string
          description: |-
            Length: 1

            The FOREIGN USE indicator is provided in the input message so the requesting source can specify whether the request applies to the local or foreign account when the account is in a dual currency processing organization. The default is to the local account.

            VisionPLUS Service Data: ARXTCI-FOREIGN-USE
          example: "1"
          enum:
          - "range[1,1]"
        temporaryCreditLimit:
          type: number
          description: |-
            Length: 17

            Temporary credit limit of the account in whole monetary units.

            VisionPLUS Service Data: ARXTCI-TEMP-CRLIM
          example: 300000001
        tempCreditLimitExpDate:
          type: string
          description: |-
            Length: 8

            Temporary credit limit expiration date.

            VisionPLUS Service Data: ARXTCI-TEMP-CRLIM-EXP
          format: date
        currentCreditLimit:
          type: number
          description: |-
            Length: 17

            Current credit limit before update.

            VisionPLUS Service Data: ARXTCI-CURR-CRLIM
          example: 300000000
    TemporaryCreditLimitUpdResponse:
      type: object
      properties:
        currencyData:
          $ref: '#/components/schemas/TemporaryCreditLimitUpdResponse.CurrencyData'
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization.

            VisionPLUS Service Data: ARXTCO-ORG
          format: int32
        foreignOrganization:
          type: integer
          description: |-
            Length: 3

            Foreign organization.

            VisionPLUS Service Data: ARXTCO-FOREIGN-ORG
          format: int32
        foreignUse:
          type: string
          description: |-
            Length: 1

            The FOREIGN USE indicator is provided in the input message so the requesting source can specify whether the request applies to the local or foreign account when the account is in a dual currency processing organization. The default is to the local account.

            VisionPLUS Service Data: ARXTCO-FOREIGN-USE
        logo:
          type: integer
          description: |-
            Length: 3

            Logo.

            VisionPLUS Service Data: ARXTCO-LOGO
          format: int32
        accountNumber:
          type: string
          description: |-
            Length: 19

            Account number.

            VisionPLUS Service Data: ARXTCO-ACCT-NBR
        cardNumber:
          type: string
          description: |-
            Length: 19

            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).

            VisionPLUS Service Data: ARXTCO-CARD-NBR
          example: 000540208ID5IXX3865
        temporaryCreditLimit:
          type: number
          description: |-
            Length: 17

            Temporary credit limit.

            VisionPLUS Service Data: ARXTCO-TEMP-CRLIM
        tempCreditLimitExpDate:
          type: string
          description: |-
            Length: 8

            Temporary credit limit expiration date.

            VisionPLUS Service Data: ARXTCO-TEMP-CRLIM-EXP
          format: date
        availableCredit:
          type: number
          description: |-
            Length: 17

            Available credit.

            VisionPLUS Service Data: ARXTCO-AVAIL-CREDIT
        foreignCreditLimit:
          type: number
          description: |-
            Length: 17

            Foreign Credit Limit.

            VisionPLUS Service Data: ARXTCO-TEMP-CRLIM-FGN
      description: Temporary Credit Limit Update Response
    TemporaryCreditLimitUpdResponse.CurrencyData:
      type: object
      properties:
        currencyNOD:
          type: integer
          description: |-
            Length: 1

            Currency NOD.

            VisionPLUS Service Data: ARXTCO-CURR-NOD
          format: int32
        currencyCode:
          type: integer
          description: |-
            Length: 3

            Currency code.

            VisionPLUS Service Data: ARXTCO-CURR-CODE
          format: int32
      description: Temporary Credit Limit Update Response - Currency Data
    CardStatusRequest:
      required:
      - cardNumber
      - cardStatus
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: Organization Number
          format: int32
          example: 807
        cardStatus:
          type: integer
          description: Card Status
          format: int32
        cardSequence:
          type: integer
          description: Card Sequence
          format: int32
        cardNumber:
          maxLength: 19
          minLength: 12
          type: string
          description: Unique identifier or token associated with the card number
            or payment instrument (FirstVision PAN Token).
          example: 000540208ID5IXX3865
        representativeId:
          type: string
          description: Representative Id
    CardStatusResponse:
      type: object
      properties:
        successMessage:
          type: string
    SpendLimitsL8V3Request:
      required:
      - cardNumber
      - globalSpendingLimitAmount
      - globalSpendingLimitForSingleTransaction
      - globalSpendingLimitNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: Organization Number
          format: int32
          example: 807
        cardNumber:
          maxLength: 19
          minLength: 12
          type: string
          description: Unique identifier or token associated with the card number
            or payment instrument (FirstVision PAN Token).
[...]
