openapi: 3.0.1
info:
  version: '1.0'
  title: Lifecycle
  description: ''
servers:
  - url: 'https://int.api.firstdata.com/ftgw/v1/'
paths:
  /ftgw/v1/tokenLifecycle:
    post:
      summary: Token Life Cycle
      description: "This method is used by the Issuer to update the status of a specific virtual card. Allows the issuer to activate, resume, suspend, or delete the token.\r\n"
      operationId: tokenLifeCycle
      parameters:
        - name: x-scheme
          in: header
          description: 'Allowed values: AMEX - MDES - VTIS'
          required: true
          schema:
            type: string
        - name: apikey
          in: header
          description: 'Client-specific API Key issued during onboarding. '
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: HMAC authorization header
          required: true
          schema:
            type: string
        - name: timestamp
          in: header
          description: Request timestamp
          required: true
          schema:
            type: string
        - name: x-request-id
          in: header
          description: The unique identifier for the API request.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tokenLifeCycleRequest'
      responses:
        '200':
          description: Success
        '400':
          $ref: '#/components/responses/genericResponse'
        '500':
          $ref: '#/components/responses/genericResponse'
      servers:
        - url: 'https://int.api.firstdata.com/ftgw/v1/'
      x-child-product-name: Tokenization
      x-group-name: Lifecycle
      x-proxy-name: Token Life Cycle
  /ftgw/v1/token:
    post:
      summary: Token Inquiry
      description: This service enables the issuer to retrieve token details for a particular token
      operationId: token-inquiry
      parameters:
        - name: x-scheme
          in: header
          description: 'Allowed values: AMEX - MDES - VTIS'
          required: true
          schema:
            type: string
        - name: apikey
          in: header
          description: 'Client-specific API Key issued during onboarding. '
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: HMAC authorization header
          required: true
          schema:
            type: string
        - name: timestamp
          in: header
          description: Request timestamp
          required: true
          schema:
            type: string
        - name: x-request-id
          in: header
          description: The unique identifier for the API request.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: object
                  properties:
                    referenceId:
                      type: string
                      description: The referenceId field represents the unique reference identifier for a token.
                      minLength: 1
                      maxLength: 48
                      example: UETSUC0000000su528sr8y69d9ca4eb1a4d53e3c90a11d9c
                    requestorId:
                      type: string
                      description: The requestorId field represents the unique ID assigned to the initiator of the token request.
                      maxLength: 11
                  required:
                    - referenceId
                audit:
                  type: object
                  description: (MDES Only).
                  properties:
                    userId:
                      type: string
                      description: The userId field represents the User ID of the Customer Service Representative who triggered the API request.
                      maxLength: 50
                    username:
                      type: string
                      description: The username field represents the user name of the Customer Service Representative who triggered the API request.
                      maxLength: 200
                    organization:
                      type: string
                      description: The organization field represents the name of the Issuer or Processor to which the Customer Service Representative who triggered the API request belongs.
                      maxLength: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: object
                    properties:
                      referenceId:
                        type: string
                        description: The referenceId field represents the unique reference identifier for a token.
                      requestorId:
                        type: string
                        description: The requestorId field represents the unique ID assigned to the initiator of the token request.
                      suffix:
                        type: string
                        description: The suffix field represents the last 4 digits of token in a 4 character string. (MDES Only.)
                      type:
                        type: string
                        description: The type field represents the type of the token.
                      status:
                        type: string
                        description: The status field represents the actual status of the token.
                      expirationDate:
                        type: object
                        properties:
                          month:
                            type: string
                            description: The month field represents month upon which the payment instrument is set to expire.
                          year:
                            type: string
                            description: The year field represents year upon which the payment instrument is set to expire.
                      activationDateTime:
                        type: string
                        description: The activatedDateTime field represents the date and time that the token was activated (in ISO 8601).
                      assurance:
                        type: string
                        description: "The assurance field indicates the level of Identification and Verification performed to validate the Cardholder and the Cardholder's account at the time the Token was issued.\r\n\r\nMDES Values: \r\n- 0 = Not authenticated; \r\n- non-zero = Authenticated.\r\n\r\nVTIS Values: \r\n- 00 = ID&V Not Performed;\r\n- 10 = Card Issuer Account Verification;\r\n- 11 = Card Issuer Interactive Cardholder Verification - 1 Factor;\r\n- 12 = Card Issuer Interactive Cardholder Verification - 2 Factor;\r\n- 13 = Card Issuer Risk Oriented Non-Interactive Cardholder Authentication;\r\n- 14 = Card Issuer Asserted Authentication.\r\n"
                  pan:
                    type: object
                    properties:
                      referenceId:
                        type: string
                        description: The referenceId field represents the unique ID for the PAN.
                      suffix:
                        type: string
                        description: The suffix field shows the last four digits of the current PAN.
                      source:
                        type: string
                        description: The source field indicates the source of the account information.
                      expirationDate:
                        type: object
                        properties:
                          month:
                            type: string
                            description: The month field represents month upon which the payment instrument is set to expire.
                          year:
                            type: string
                            description: The year field represents year upon which the payment instrument is set to expire.
                  deviceBinding:
                    type: array
                    description: (VTIS Only).
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: "The id field represents the index number from Visa where the deviceID is stored.\r\n"
                        index:
                          type: string
                          description: "The index field, for Secure Element (SE) wallet providers, is the SE ID in hex binary characters transformed to a 48-character string.\r\n\r\nFor Host Card Emulation (HCE) wallet providers, this field is the Device ID as determined by the digital wallet provider (DWP)."
                  device:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The id field represents the serial number of the device provisioned with the token.
                      name:
                        type: string
                        description: The name field represents the nickname of the device provisioned with the token.
                      type:
                        type: string
                        description: The type field represents the Device type.
                  walletAccountId:
                    type: string
                    description: The source field represents the consumer ID identifying the wallet account-holder entity.
        '400':
          $ref: '#/components/responses/genericResponse'
        '500':
          $ref: '#/components/responses/genericResponse'
      servers:
        - url: 'https://int.api.firstdata.com/ftgw/v1/'
      x-child-product-name: Tokenization
      x-group-name: Lifecycle
      x-proxy-name: Token Inquiry
  /ftgw/v1/panLifecycle:
    post:
      summary: Pan Lifecycle
      description: This service enables the issuer to update PAN and PAN expiration date.
      operationId: panLifecycle
      parameters:
        - name: Authorization
          in: header
          description: HMAC authorization header
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Request timestamp
          schema:
            type: string
        - name: apikey
          in: header
          description: Client-specific API Key issued during onboarding.
          schema:
            type: string
        - name: x-request-id
          in: header
          description: The unique identifier for the API request.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/panLifeCycleRequest'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/genericResponse'
        '500':
          $ref: '#/components/responses/genericResponse'
      servers:
        - url: 'https://int.api.firstdata.com/ftgw/v1/'
      x-child-product-name: Tokenization
      x-group-name: Lifecycle
      x-proxy-name: Pan Lifecycle
  /ftgw/v1/pan/retrieveTokens:
    post:
      summary: Tokens Inquiry By PAN
      description: This service enables the issuer to retrieve a list of all tokens for a PAN
      operationId: tokensInquiryByPan
      parameters:
        - name: x-scheme
          in: header
          description: 'Allowed values: MDES - VTIS'
          required: true
          schema:
            type: string
        - name: apikey
          in: header
          description: Client-specific API Key issued during onboarding.
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: HMAC authorization header
          required: true
          schema:
            type: string
        - name: timestamp
          in: header
          description: Request timestamp
          required: true
          schema:
            type: string
        - name: x-request-id
          in: header
          description: The unique identifier for the API request.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pan:
                  type: object
                  properties:
                    number:
                      type: string
                      description: 'The number field represents the primary account number. '
                      maxLength: 19
                      example: '5412345678901234'
                    reference:
                      type: string
                      description: "The reference field represents the unique ID for the PAN. \r\n\r\n(VTIS Only. Either number or reference should be present, but not both or neither)."
                      maxLength: 32
                      example: '5414852168531475291452345678901'
                excludeDeleted:
                  type: boolean
                  description: "The excludeDeleted field indicates whether deleted tokens should be included or excluded from the search results. \r\n\r\nValues:\r\n\r\n- true = indicates deleted tokens are excluded from the search results;\r\n- false = indicates deleted tokens are included in the search results.\r\n\r\n(MDES Only)."
                includeDeviceTokens:
                  type: boolean
                  description: "Gives issuers the choice to receive only device tokens mapped to their payment credentials.\r\n\r\nValues:\r\n\r\n- true = When present with the \"true\" value, MDES will never return any server-based tokens associated to the payment credentials;\r\n- false = When present with the \"false\" value, MDES will return all tokens mapped to the payment credentials.\r\n\r\n(MDES Only)."
                audit:
                  type: object
                  description: (MDES only).
                  properties:
                    userId:
                      type: string
                      description: The userId field represents the User ID of the Customer Service Representative who triggered the API request.
                      maxLength: 50
                    username:
                      type: string
                      description: The username field represents the user name of the Customer Service Representative who triggered the API request.
                      maxLength: 200
                    organization:
                      type: string
                      description: The organization field represents the name of the Issuer or Processor to which the Customer Service Representative who triggered the API request belongs.
                      maxLength: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokenInformation:
                    type: array
                    items:
                      type: object
                      properties:
                        token:
                          type: object
                          properties:
                            requestorId:
                              type: string
                              description: The referenceId field represents the unique reference identifier for a token.
                            referenceId:
                              type: string
                              description: The requestorId field represents the unique ID assigned to the initiator of the token request.
                            type:
                              type: string
                              description: The type field represents the type of the token.
                            status:
                              type: string
                              description: The status field represents the actual status of the token.
                        pan:
                          type: object
                          properties:
                            referenceId:
                              type: string
                              description: The referenceId field represents the unique ID for the PAN.
                            suffix:
                              type: string
                              description: The suffix field shows the last four digits of the current PAN.
                            source:
                              type: string
                              description: The source field indicates the source of the account information.
                        walletAccountId:
                          type: string
                          description: The source field represents the consumer ID identifying the wallet account-holder entity.
        '400':
          $ref: '#/components/responses/genericResponse'
        '500':
          $ref: '#/components/responses/genericResponse'
      servers:
        - url: 'https://int.api.firstdata.com/ftgw/v1/'
      x-child-product-name: Tokenization
      x-group-name: Lifecycle
      x-proxy-name: Tokens Inquiry By PAN
  /ftgw/v1/card/metadata:
    put:
      summary: Update Card Metadata
      description: VTIS Only.
      operationId: put-card-metadata
      parameters:
        - name: Authorization
          in: header
          description: HMAC authorization header
          required: true
          schema:
            type: string
        - name: apikey
          in: header
          description: Client-specific API key issued during onboarding by Fiserv
          required: true
          schema:
            type: string
        - name: timestamp
          in: header
          description: Request timestamp
          required: true
          schema:
            type: string
        - name: x-request-id
          in: header
          description: The unique identifier for the API request
          required: true
          schema:
            type: string
        - name: x-scheme
          in: header
          description: 'Allowed values: VTIS'
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: object
                  description: "One of the following is required:\r\n\r\n- requestorId and referenceId\r\n- panReferenceID\r\n- encryptedData (pan)"
                  properties:
                    requestorId:
                      type: string
                      description: "The requestorId field its the unique ID assigned to the initiator of the token request.\r\n\r\nThe field is required when tokenReferenceID is specified."
                      maxLength: 11
                    referenceId:
                      type: string
                      description: "The referenceId its the unique ID for the token associated with the PAN.\r\n\r\nThe field is required when tokenRequestorID is specified."
                      maxLength: 32
                panReferenceId:
                  type: string
                  description: "The panReferenceId field represents the unique ID for the PAN.\r\n\r\nOne of the following is required:\r\n\r\n- requestorId and referenceId\r\n- panReferenceID\r\n- encryptedData (pan)"
                  maxLength: 32
                operatorId:
                  type: string
                  description: "The operatorId field represents the operator ID of either person or system performing the operation.\r\n"
                  maxLength: 16
                operationReason:
                  type: string
                  description: The operationReason field populate the reason for card metadata change.
                  maxLength: 128
                encryptedData:
                  type: object
                  description: "One of the following is required:\r\n\r\n- requestorId and referenceId\r\n- panReferenceID\r\n- encryptedData (pan)"
                  properties:
                    pan:
                      type: string
                      description: The pan field represents the primary account number.
                      maxLength: 19
                cardMetadata:
                  type: object
                  properties:
                    issuer:
                      type: string
                      description: "The issuer field represents the card issuer name.\r\n"
                      maxLength: 128
                    color:
                      type: object
                      properties:
                        foreground:
                          type: string
                          description: The foreground field represents the foreground color of the Digital Wallet entry for the card.
                          maxLength: 32
                          example: 'rgb(255,122,235)'
                        background:
                          type: string
                          description: 'The background field represents the background color of the Digital Wallet UI entry for the card. '
                          maxLength: 32
                          example: 'rgb(255,122,235)'
                        label:
                          type: string
                          description: 'The label field represents the label color of the Digital Wallet entry for the card. '
                          maxLength: 32
                          example: 'rgb(255,122,235)'
                    description:
                      type: object
                      properties:
                        short:
                          type: string
                          description: The short field represents a short description of the card.
                          maxLength: 32
                          example: The Bank Card
                        long:
                          type: string
                          description: The long field represents a longer description of the card.
                          maxLength: 64
                          example: The Bank Signature Rewards Card
                    termsAndConditions:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The id field represents the GUID-based file name for Terms and Conditions text.
                          maxLength: 64
                        url:
                          type: string
                          description: The url field indicates the URL pointing to the issuing bank’s terms and conditions fora card.
                          maxLength: 128
                    profileId:
                      type: string
                      description: The profileId field represents the profile ID associated with the card.
                      maxLength: 32
                    privacyPolicyUrl:
                      type: string
                      description: 'The privacyPolicyUrl field indicates the URL pointing to the issuing bank’s terms and conditions for a card. '
                      maxLength: 128
                    cardArtData:
                      type: object
                      properties:
                        referenceId:
                          type: array
                          description: The referenceId field represents the GUID-based file names for Cart Art Image file used by the issuer while loading the image in VCMM.
                          items:
                            type: string
                            maxLength: 32
                    contactInformation:
                      type: object
                      properties:
                        website:
                          type: string
                          description: The website field indicates the customer service website of the issuing bank.
                          maxLength: 128
                        email:
                          type: string
                          description: The email field indicates the customer service email address of the issuing bank.
                          maxLength: 32
                        number:
                          type: string
                          description: The number field indicates the customer service phone number of the issuing bank.
                          maxLength: 32
                        name:
                          type: string
                          description: The name field indicates the name of the issuing bank. It may be used in combination with othertext strings.
                          maxLength: 32
                    applicationInformation:
                      type: object
                      properties:
                        isTokenNotificationSupported:
                          type: boolean
                          description: "The isTokennotificationSupported field indicates whether the card supports token notifications for transactions originating on the device.\r\n\r\nValues:\r\n\r\n- true\r\n- false"
                          default: false
                        isFPANNotificationSupported:
                          type: boolean
                          description: "The isFPANNotificationsupported field indicates whether the card supports FPAN notifications for all transactions that point back to the FPAN. \r\n\r\nValues:\r\n\r\n- true\r\n- false"
                          default: false
                        transaction:
                          type: object
                          properties:
                            serviceUrl:
                              type: string
                              description: 'The serviceUrl field represents the transaction history URL (Transaction Details) of the issuer’s web service. '
                              maxLength: 128
                            pushTopic:
                              type: string
                              description: The pushTopic field a push topic the issuer uses to notify the device that new transactions are available.
                              maxLength: 128
                        message:
                          type: object
                          properties:
                            serviceUrl:
                              type: string
                              description: 'The serviceUrl field represents the URL of the message/offer web service that conforms to the API as described to PNOs and issuers in the Card Notification Services API Specification. '
                              maxLength: 128
                            pushTopic:
                              type: string
                              description: The pushTopic field its the notification provider uses to notify the device that new messages are available.
                              maxLength: 128
                        applicationLaunch:
                          type: object
                          properties:
                            url:
                              type: string
                              description: "The url field indicates the URL passed to the associated issuer mobile app when launching it. \r\n\r\nIf this field is present, the associatedIdentifiers (store) field must also be present."
                              maxLength: 128
                            urlScheme:
                              type: string
                              description: "The urlScheme field indicates the URL scheme that the application is registered for, in order to deep link from transaction notifications and show all transaction notifications. \r\n\r\nThe Application ID must be included in the associatedIdentifiers (application) array and the application itself must register for the URL scheme specified in this key."
                              maxLength: 32
                        associatedIdentifiers:
                          type: object
                          properties:
                            store:
                              type: string
                              description: The store field its a list of mobile application store item identifiers for associated issuer mobile banking application.
                              maxLength: 20
                            application:
                              type: string
                              description: The application field represents an array of associated app identifiers.
                              maxLength: 128
              required:
                - operationReason
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  responseDetails:
                    type: array
                    items:
                      type: object
                      properties:
                        token:
                          type: object
                          properties:
                            requestorId:
                              type: string
                              description: The requestorId field its the unique ID assigned to the initiator of the token request.
                            referenceId:
                              type: string
                              description: The referenceId its the unique ID for the token associated with the PAN.
                        panReferenceId:
                          type: string
                          description: The panReferenceId field represents the unique ID for the PAN.
                        taskId:
                          type: string
                          description: 'The taskId field represents the GUID, with hyphens allowed. The issuer needs to store this for future references. This value is present when Action Code is PENDING'
                        statusCode:
                          type: string
                          enum:
                            - PENDING
                            - FAILURE
                            - NOT_ALLOWED
                          description: "The statusCode field indicates the action status codes.\r\n\r\nValues:\r\n\r\n- PENDING\r\n- FAILURE\r\n- NOT_ALLOWED"
                        errorCode:
                          type: string
                          description: "The errorCode field its present for business error codes VSEXXXXX and status code FAILURE.\r\n"
        '400':
          $ref: '#/components/responses/genericResponse'
        '500':
          $ref: '#/components/responses/genericResponse'
      servers:
        - url: 'https://int.api.firstdata.com/ftgw/v1/'
      x-child-product-name: Tokenization
      x-group-name: Lifecycle
      x-proxy-name: Update Card Metadata
components:
  responses:
    genericResponse:
      description: ''
      content:
        application/json:
          schema:
            type: object
            properties:
              responseCode:
                type: string
                description: Error response code
                maxLength: 8
              responseDescription:
                type: string
                description: Error response description
                maxLength: 400
            required:
              - responseCode
              - responseDescription
            x-examples:
              Example 1:
                responseCode: '001'
                responseDescription: Internal Server Error
  schemas:
    tokenLifeCycleRequest:
      type: object
      title: tokenLifeCycleRequest
      properties:
        token:
          type: object
          properties:
            referenceId:
              type: string
              description: The referenceId field represents the unique reference identifier for a token.
              minLength: 1
              maxLength: 64
              example: UETSUC0000000su528sr8y69d9ca4eb1a4d53e3c90a11d9c
            requestorId:
              type: string
              description: "The requestorId field represents the unique ID assigned to the initiator of the token request.\r\n\r\n(For VTIS numbers only)."
              minLength: 1
              maxLength: 64
              example: FiservPortalTest
          required:
            - referenceId
            - requestorId
        operation:
          type: object
          properties:
            type:
              type: string
              enum:
                - DELETE
                - SUSPEND
                - RESUME
                - UNBIND_DEVICE
                - APPROVE_DEVICE_BINDING
                - ACTIVATE
                - CALL_CENTER_ACTIVATION
              description: "The type field represents the desired end state of the token specified by the tokenReferenceId field in the request.\r\n\r\nValues:\r\n\r\n- DELETE =  If the token should be permanently deleted. Similar to a suspended token, a deleted token cannot be used for transactions or /metadata endpoint calls. Unlike a suspended token, a deleted token cannot have its state changed;\r\n- SUSPEND = If the token should be in a suspended state. A suspended token cannot be used for transactions or /metadata endpoint calls;\r\n- RESUME = If the token should be in an active state. An active token can be used for transactions and /metadata endpoint calls;\r\n- CALL_CENTER_ACTIVATION = If the token its activated from callcenter (VTIS only);\r\n- UNBIND_DEVICE = If the token should be unbind from the device that has it binded (VTIS only);\r\n- APPROVE_DEVICE_BINDING = If the token binding should be approved. (VTIS only);\r\n- ACTIVATE = To activate a token for a digitization that has been approved and provisioned (MDES only)."
              example: ACTIVATE
            reason:
              type: string
              enum:
                - A
                - C
                - L
                - S
                - T
                - D
                - Z
                - AC
              description: "The reason field represents the reason for the operation\r\n\r\nValues:\r\n\r\n- A = Cardholder successfully authenticated with an activation method (activation code by text message, email, Issuer mobile application etc...) prior to activation; (Activation only)\r\n- C = Cardholder successfully authenticated with a customer service agent prior to activation;  (Activation only)\r\n- L = Cardholder confirmed token device lost;\r\n- S = Cardholder confirmed token device stolen; \r\n- T = Issuer or cardholder confirmed fraudulent token transactions;\r\n- AC = Account closed;\r\n- D = Issuer consumer deleted;\r\n- Z = Other."
              example: A
          required:
            - type
        device:
          type: object
          description: "Only valid for Device Binding operations.\r\n\r\n(VTIS Only)."
          properties:
            id:
              type: string
              description: "The id field represents will be the Device ID as determined by the digital wallet provider.\r\n\r\n"
              maxLength: 48
            reference:
              type: string
              description: 'The reference field indicates the index number from Visa where the deviceID is stored. '
              maxLength: 64
        activationCode:
          type: string
          description: The activationCode field its equivalent of Auth Code. Required if operationType is CALL_CENTER_ACTIVATION. This parameter is merely used for audit purposes. There is no validation on Visa’s side and the value is not passed to DWP but saved into the audit log as proof that the activation request was approved by the issuer. (VTIS only)
          maxLength: 8
          example: ACT
        audit:
          type: object
          description: (MDES only)
          properties:
            userId:
              type: string
              description: The userId  represents the User ID of the Customer Service Representative who triggered the API request.
              maxLength: 50
            username:
              type: string
              description: The username field represents the user name of the Customer Service Representative who triggered the API request.
              maxLength: 200
            organization:
              type: string
              description: The organization field represents the name of the Issuer or Processor to which the Customer Service Representative who triggered the API request belongs.
              maxLength: 200
    panLifeCycleRequest:
      type: object
      title: panLifeCycleRequest
      properties:
        operation:
          type: object
          properties:
            reason:
              type: string
              description: "Reason for the operation. The reason should be descriptive,\r\nsuch that if the issuer performs an action and the consumer calls\r\nCustomer Support, the support team should be able to read the\r\nreason, advise the consumer, and act accordingly. For example, if the\r\nPAN is replaced, the request reason might say “Replacement due to\r\nlost card”."
              minLength: 1
              maxLength: 254
              example: Replacement due to lost card
            reasonCode:
              type: string
              enum:
                - ACCOUNT_UPDATE
                - ACCOUNT_CLOSED
                - EXP_DATE_UPDATE
                - CONTACT_CARDHOLDER
                - PORTFOLIO_CONVERSION
              description: "A reason code for the operation. If the reason code is\r\nACCOUNT_UPDATE or PORTFOLIO_CONVERSION (updating PAN only\r\nor PAN & Expiry date), the old PAN and replacement PAN cannot be\r\nthe same. If the reason code is EXP_DATE_UPDATE (expiry date\r\nupdate only), the old PAN and replacement PAN values must be the\r\nsame."
              example: ACCOUNT_UPDATE
            type:
              type: string
              enum:
                - UPDATE
                - DELETE
              description: "Type of operation. It is one of the following values:\r\n- UPDATE\r\n- DELETE"
              example: UPDATE
          required:
            - reason
            - reasonCode
            - type
        accountInformation:
          $ref: '#/components/schemas/cardHolderInfo'
        audit:
          type: object
          description: Only required for Mastercard.
          properties:
            userId:
              type: string
              description: User ID (as assigned by the Issuer/Processor) of the Customer Service Representative who triggered the API request.
              minLength: 4
              maxLength: 50
              example: A1435477
            username:
              type: string
              description: User Name of the Customer Service Representative who triggered the API request.
              minLength: 4
              maxLength: 200
              example: John Smith
            organization:
              type: string
              description: Name of the Issuer or Processor to which the Customer Service Representative who triggered the API request belongs.
              minLength: 4
              maxLength: 200
              example: Solid Bank Inc
      required:
        - operation
        - accountInformation
    cardHolderInfo:
      type: object
      title: cardHolderInfo
      properties:
        currentPan:
          type: object
          description: Current Primary account number (PAN)
          properties:
            accountNumber:
              type: string
              maxLength: 19
              example: '172654826345827456'
            expirationDate:
              type: object
              description: The expiration date of the payment instrument.
              properties:
                month:
                  type: string
                  description: "The month upon which the payment instrument is set to\r\nexpire."
                  maxLength: 2
                  example: '02'
                year:
                  type: string
                  description: "The year upon which the payment instrument is set to\r\nexpire."
                  minLength: 4
                  maxLength: 4
                  example: '2024'
              required:
                - month
                - year
          required:
            - accountNumber
            - expirationDate
        newPan:
          type: object
          properties:
            accountNumber:
              type: string
              maxLength: 19
              example: '172654826345827457'
            expirationDate:
              type: object
              description: The expiration date of the payment instrument.
              properties:
                month:
                  type: string
                  description: "The month upon which the payment instrument is set to\r\nexpire."
                  maxLength: 2
                  example: '12'
                year:
                  type: string
                  description: "The year upon which the payment instrument is set to\r\nexpire."
                  minLength: 4
                  maxLength: 4
                  example: '2028'
              required:
                - month
                - year
          required:
            - accountNumber
            - expirationDate
      required:
        - currentPan
        - newPan
