openapi: 3.0.1
info:
  title: "FirstVision\u2122 Loyalty Service - API Documentation"
  description: "This documentation describes the REST APIs provided by the FirstVision\u2122\
    \ Cards Microservice, which provides functionality for the issuing, management\
    \ and processing of credit cards, including bank, co-branded, private label, debit,\
    \ commercial, and prepaid"
  version: '1.2'
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /loyalty/pointsDisbursement:
    put:
      tags:
      - Loyalty
      summary: 'Points Account Auto Disbursement Data Update. VMX Service: M.LMS.POINTS.ACCT.DISB.DATA.UP,
        R8V2'
      description: "Enables to update the disbursement data fields on the Points Account\
        \ record. \nVMX Service: M.LMS.POINTS.ACCT.DISB.DATA.UP, R8V2"
      operationId: pointsDisbursement
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PointsDisbursementRequest'
        required: true
      responses:
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointsDisbursementResponse'
      x-proxy-name: Points Account Auto Disbursement Data Update
      x-group-name: Loyalty
  /loyalty/pointsAdjust:
    put:
      tags:
      - Loyalty
      summary: 'Points Account Adjustment. VMX Service: M.LMS.POINTS.ADJ.ADD, R8V1'
      description: "Enables to adjust earned, bonus, bought and adjusted points on\
        \ a LMS Points Account record. \nVMX Service: M.LMS.POINTS.ADJ.ADD, R8V1"
      operationId: pointsAdjust
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PointsAdjustRequest'
        required: true
      responses:
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointsAdjustResponse'
      x-proxy-name: Points Account Adjustment
      x-group-name: Loyalty
  /loyalty/statementLists:
    post:
      tags:
      - Loyalty
      summary: 'Inquires on existing statement summaries that are available for a
        specific account in LMS.


        VMX Service: M.LMS.STMT.LIST.INQ, R8V1'
      description: 'Inquires on existing statement summaries that are available for
        a specific account in LMS.


        VMX Service: M.LMS.STMT.LIST.INQ, R8V1'
      operationId: loyaltyStatementList
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyStatementListRequest'
        required: true
      responses:
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyStatementListResponse'
      x-proxy-name: Loyalty Account Transactions Inquiry
      x-group-name: Loyalty
  /loyalty/redemption:
    post:
      tags:
      - Loyalty
      summary: 'Redemption Transaction Add. VMX Service: M.LMS.REDEMPTION.ADD, R8V1'
      description: "Shows the loyalty points to be redeemed after a cardholder has\
        \ earned enough loyalty points to qualify for a reward. \nVMX Service: M.LMS.REDEMPTION.ADD,\
        \ R8V1"
      operationId: redemptionAdd
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedemptionAddRequest'
        required: true
      responses:
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedemptionAddResponse'
      x-proxy-name: Redemption Transaction Add
      x-group-name: Loyalty
  /loyalty/points:
    post:
      tags:
      - Loyalty
      summary: 'Finds Loyalty Points associated with a CMS Account number.


        VMX Service: M.LMS.POINTS.ACCT.INQ, R8V2'
      description: 'Finds Loyalty Points associated with a CMS Account number.


        VMX Service: M.LMS.POINTS.ACCT.INQ, R8V2'
      operationId: Find points details
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PointsDetailsRequest'
        required: true
      responses:
        '422':
          description: 'VPLKSAI06S - ORG NUMBER MUST BE NUMERIC AND VALID VALUES ARE
            001-997


            VPLKSAI07S - INVALID ACCOUNT NUMBER


            VPLKSAI08S - REQUESTED ORGANIZATION NOT FOUND


            VPLKSAI11S - ORGANIZATION RECORD IS IN PENDING ADD STATUS


            VPLKSAI12S - ORGANIZATION RECORD STATUS IS INCOMPLETE OR PURGED OR CLOSED


            VPLKSAI13S - ORGANIZATION RECORD NOT FOUND


            VPLKSAI14S - POINTS ACCOUNT RECORD NOT FOUND


            VPLKSAI15E - POINT ACCOUNT RECORD IS INCOMPLETE/CLOSED/PENDING PURGED/PURGED


            VPLKSAI16S - ACCOUNT DEMOGRAPHIC RECORD NOT FOUND


            VPLKSAI17E - ACCOUNT DEMOGRAPHIC RECORD STATUS IS INCOMPLETE


            VPLKSAI18S - POINTS SCHEME RECORD NOT FOUND


            VPLKSAI19E - POINTS SCHEME RECORD IS INCOMPLETE/CLOSED/PURGED


            VPLKSAI20E - POINTS SCHEME RECORD IS IN PENDING ADD STATUS


            VPLKSAI21E - ACCOUNT DEMOGRAPHIC RECORD IS IN PENDING ADD STATUS


            VPLKSAI22E - POINTS ACCOUNT RECORD IS IN PENDING ADD STATUS


            VPLKSAI23E - INVALID SCHEME DATE RANGE'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointsDetailsResponse'
      x-proxy-name: Points Account Inquiry
      x-group-name: Loyalty
  /loyalty/pointsExpireHistory:
    post:
      tags:
      - Loyalty
      summary: 'Points Expiration Details inquiry. VMX Service: M.LMS.POINTS.EXPIRY.HIST.INQ,
        R8V1'
      description: "Inquires on the points expiration details from the statement summary\
        \ for a specific date and account in LMS. \n\nVMX Service: M.LMS.POINTS.EXPIRY.HIST.INQ,\
        \ R8V1"
      operationId: pointsExpiryHistory
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PointsExpiryHistoryRequest'
        required: true
      responses:
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointsExpiryHistoryResponse'
      x-proxy-name: Points Expiration Details Inquiry
      x-group-name: Loyalty
  /loyalty/pointsAccount:
    post:
      tags:
      - Loyalty
      summary: 'LMS Adds Account points. VMX Service: M.LMS.POINTS.ACCT.ADD, R8V1'
      description: "Adds an LMS Points Account Record. \nVMX Service: M.LMS.POINTS.ACCT.ADD,\
        \ R8V1"
      operationId: Points Account Add
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PointsAccountAddRequest'
        required: true
      responses:
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointsAccountAddResponse'
      x-proxy-name: Points Account Add
      x-group-name: Loyalty
  /loyalty/crossReference:
    post:
      tags:
      - Loyalty
      summary: 'LMS/CMS or CMS/LMS Account cross reference. VMX Service: M.LMS.ACCOUNT.XREF.INQ,
        R8V1'
      description: "Enables to perform an inquiry on an existing Account Cross-reference\
        \ record. \nVMX Service: M.LMS.ACCOUNT.XREF.INQ, R8V1"
      operationId: Cross Reference Inquiry
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrossReferenceInquiryRequest'
        required: true
      responses:
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrossReferenceInquiryResponse'
      x-proxy-name: Cross Reference Inquiry
      x-group-name: Loyalty
  /loyalty/:
    post:
      tags:
      - Loyalty
      summary: "Inquire on transactions and their details for a given account in LMS.\
        \ \nVMX Service: M.LMS.TRANSACTION.INQ, R8V1"
      description: "Inquire on transactions and their details for a given account\
        \ in LMS. \nVMX Service: M.LMS.TRANSACTION.INQ, R8V1"
      operationId: inquireLmsTransactions
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LmsTransactionInquiryRequest'
        required: true
      responses:
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '422':
          description: "VPLKSTI02S - SERVICE INPUT TO EXPIRY-HIST-INQ SERVICE IS AN\
            \ INCORRECT LENGTH \n\nVPLKSTI06S - ORG NUMBER MUST BE NUMERIC AND VALID\
            \ VALUES ARE 001-997 \n\nVPLKSTI07S - INVALID ACCOUNT NUMBER OR NOT ENTERED\
            \ \n\nVPLKSTI08S - REQUESTED ORGANIZATION NOT FOUND \n\nVPLKSTI11E - TRANSACTION\
            \ INDICATOR SHOULD '0' OR '1' \n\nVPLKSTI12E - SCHEME IS NOT ENTERED OR\
            \ INVALID \n\nVPLKSTI13E - NO OF TRANSACTIONS SHOULD BE NUMERIC, VALID\
            \ VALUES ARE 1-50 \n\nVPLKSTI14E - START DATE IS NOT VALID \n\nVPLKSTI15E\
            \ - END DATE IS NOT VALID \n\nVPLKSTI16E - TO SCROLL ENTER STATEMENT DATE,\
            \ REC NUMBER AND START FILE \n\nVPLKSTI26S - ORGANIZATION RECORD STATUS\
            \ IS INCOMPLETE OR PURGED OR CLOSED \n\nVPLKSTI27E - INVALID FUNCTION\
            \ CODE, VALID VALUES ARE P, N"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LmsTransactionInquiryResponse'
      x-proxy-name: Statement Lists Inquiry
      x-group-name: Loyalty
  /loyalty/statementSummary/{accountNumber}:
    get:
      tags:
      - Loyalty
      summary: "Inquires on a statement summary account in the LMS. \nVMX Service:\
        \ M.LMS.STMT.SUMMARY.INQ, R8V1"
      description: "Inquires on a statement summary account in the LMS. \nVMX Service:\
        \ M.LMS.STMT.SUMMARY.INQ, R8V1"
      operationId: statementSummaryDetails
      parameters:
      - name: accountNumber
        in: path
        description: 'Account number to search


          VisionPLUS Service Data: GPXSII-ACCOUNT-NBR'
        required: true
        schema:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 19
          type: string
        example: 000012345XXXXX12345
      - name: organizationNumber
        in: query
        description: '* Min Length = 1

          * Max Length = 3


          Organization Number.


          VisionPLUS Service Data: GPXSII-ORG'
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 998
      - name: Scheme
        in: query
        description: '* Min Length = 1

          * Max Length = 5


          Starting scheme associated with the scroll.


          VisionPLUS Service Data: GPXSII-SCHEME'
        required: true
        schema:
          type: string
        example: 11111
      - name: statementDate
        in: query
        description: 'Date when the next statement will be produced (Julian format).


          VisionPLUS Service Data: GPXSII-STMT-DATE'
        required: true
        schema:
          type: string
        example: 2020350
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      responses:
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '422':
          description: "VPLKSSI02S - SERVICE INPUT TO STMT SUMMARY INQ SERVICE IS\
            \ AN INCORRECT LENGTH \n\nVPLKSSI06S - ORG NUMBER MUST BE NUMERIC AND\
            \ VALID VALUES ARE 001-997 \n\nVPLKSSI07S - INVALID ACCOUNT NUMBER \n\n\
            VPLKSSI08S - REQUESTED ORGANIZATION NOT FOUND \n\nVPLKSSI11S - ORGANIZATION\
            \ RECORD IS IN PENDING ADD STATUS \n\nVPLKSSI12S - ORGANIZATION RECORD\
            \ STATUS IS INCOMPLETE OR PURGED OR CLOSED \n\nVPLKSSI13S - ORGANIZATION\
            \ RECORD NOT FOUND \n\nVPLKSSI14S - POINTS ACCOUNT RECORD NOT FOUND \n\
            \nVPLKSSI15S - POINTS ACCOUNT RECORD IS IN PENDING ADD STATUS \n\nVPLKSSI16S\
            \ - ACCOUNT DEMOGRAPHIC RECORD NOT FOUND \n\nVPLKSSI17S - ACCOUNT DEMOGRAPHIC\
            \ RECORD STATUS IS INCOMPLETE/CLOSED/PURGED \n\nVPLKSSI18S - STATEMENT\
            \ MASTER RECORD NOT FOUND \n\nVPLKSSI19S - POINTS SCHEME RECORD NOT FOUND\
            \ \n\nVPLKSSI20S - POINTS SCHEME RECORD IS INCOMPLETE/CLOSED/PURGED \n\
            \nVPLKSSI21S - POINTS ACCOUNT RECORD IS INCOMPLETE/CLOSED/PURGED/PENDING\
            \ PURGED \n\nVPLKSSI22S - ACCOUNT DEMOGRAPHIC RECORD IS IN PENDING ADD\
            \ STATUS \n\nVPLKSSI23S - POINT SCHEME RECORD IS IN PENDING ADD STATUS"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatementSummaryResponse'
      x-proxy-name: Statement Summary Inquiry
      x-group-name: Loyalty
  /loyalty/demographic/{accountNumber}:
    get:
      tags:
      - Loyalty
      summary: "Fetches demographic data of LMS account. \nVMX Service: M.LMS.DEMOGRAPHIC.INQ,\
        \ R8V2"
      description: "Fetches demographic data of LMS account. \nVMX Service: M.LMS.DEMOGRAPHIC.INQ,\
        \ R8V2"
      operationId: demographicDetails
      parameters:
      - name: accountNumber
        in: path
        description: 'Account number


          VisionPLUS Service Data: GPXSDI-ACCOUNT-NBR'
        required: true
        schema:
          maxLength: 19
          minLength: 19
          type: string
        example: 1801000000004844172
      - name: organizationNumber
        in: query
        description: '* Min Length: 1

          * Max Length: 3


          Organization


          VisionPLUS Service Data: GPXSDI-ORG'
        required: true
        schema:
          type: integer
          format: int32
        example: 801
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      responses:
        '405':
          description: Method Not Allowed
        '400':
          description: Bad Request
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '422':
          description: "VPLKSDS02S - SERVICE INPUT TO DEMOGRAPHIC INQ SERVICE IS AN\
            \ INCORRECT LENGTH \n\nVPLKSDS06S - ORG NUMBER MUST BE NUMERIC AND VALID\
            \ VALUES ARE 001-997 \n\nVPLKSDS07S - INVALID ACCOUNT NUMBER \n\nVPLKSDS08S\
            \ - REQUESTED ORGANIZATION NOT FOUND \n\nVPLKSDS11S - ORGANIZATION RECORD\
            \ IS IN PENDING ADD STATUS \n\nVPLKSDS12S - ORGANIZATION RECORD STATUS\
            \ IS INCOMPLETE/PURGED/CLOSED \n\nVPLKSDS13S - ORGANIZATION RECORD NOT\
            \ FOUND \n\nVPLKSDS14E - NAME AND ADDRESS SOURCE FOR THE ACCOUNT IS NOT\
            \ LMS \n\nVPLKSDS15S - ACCOUNT DEMOGRAPHICS RECORD NOT FOUND \n\nVPLKSDS17E\
            \ - ACCOUNT DEMOGRAPHICS IS IN PENDING ADD STATUS"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemographicAccountDataResponse'
      x-proxy-name: Demographic Data Inquiry
      x-group-name: Loyalty
components:
  schemas:
    PointsDisbursementRequest:
      required:
      - accountNumber
      - autoDisbFlag
      - schemeId
      type: object
      properties:
        organizationNumber:
          maximum: 999
          minimum: 1
          type: integer
          description: 'Length: 3

            Organization.

            VisionPLUS Service Data: GPXADI-ORG'
          format: int32
          example: 807
        accountNumber:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 19
          type: string
          description: 'Length: 19

            Account number.

            VisionPLUS Service Data: GPXADI-ACCOUNT-NBR'
          example: '4513074002573466583'
        schemeId:
          type: string
          description: 'Length: 5

            Scheme identification number.

            VisionPLUS Service Data: GPXADI-SCHEME'
          example: '12345'
        autoDisbFlag:
          type: string
          description: 'Length: 1

            Flag that indicates whether automatic disbursements are used for the Points
            Account record.

            The values are:

            * N = Automatic disbursement is not active

            * Y = Automatic disbursement is active

            VisionPLUS Service Data: GPXADI-AUTO-DISB-FLAG'
          example: N
        rewardsCategory:
          type: string
          description: 'Length: 6

            Method used to disburse rewards.

            The values are:

            * CHECK = Check

            * CERT = Certificate

            * CREDIT = Credit

            * PPDGEN = Prepaid generic

            * PPDREL = Prepaid reload

            VisionPLUS Service Data: GPXADI-REWARDS-CAT'
          example: '100'
        disbPacketPoints:
          type: number
          description: 'Length: 17

            Number of points in a disbursement packet.

            VisionPLUS Service Data: GPXADI-DISB-PACKET-PTS'
          example: 100
        autoDisbFreq:
          type: integer
          description: "Length: 2\nCode that indicates the frequency period.\nThe\
            \ values are:\n* 1\u201312 = Specifies the month when the interval is\
            \ monthly.\n* 99 = Daily frequency\nVisionPLUS Service Data: GPXADI-AUTO-DISB-FREQ"
          format: int32
          example: 20
        autoDisbInd:
          type: string
          description: "Length: 1\nFrequency indicator for automatic disbursements.\n\
            The values are:\n* A = Anniversary of the LMS account enrollment; FREQ\
            \ must be 00\n* D = Daily; FREQ must be 00\n* M = Monthly; FREQ must be\
            \ 01\u201312\n* Q = Quarterly (end of calendar quarter); FREQ must be\
            \ 03\n* S = Specific month; FREQ must be 01\u201312\n* Blank = Not used\n\
            VisionPLUS Service Data: GPXADI-AUTO-DISB-IND"
          example: M
        autoDisbDayOfMonth:
          type: integer
          description: "Length: 2\nDay of the month when automatic disbursements occur.\n\
            The values are:\n* 1\u201331 = Specifies the month when the interval is\
            \ monthly\n* 99 = Daily frequency\nVisionPLUS Service Data: GPXADI-AUTO-DISB-DAY-OF-MNT"
          format: int32
          example: 13
        autoDisbAccount:
          type: string
          description: 'Length: 25

            Account number that identifies the accounts receivable account to which
            automatic disbursements will be disbursed.

            VisionPLUS Service Data: GPXADI-AUTO-DISB-ACCT'
          example: '12345678901234'
        autoDisbDbaName:
          type: string
          description: 'Length: 43

            Store DBA (doing-business-as) name that identifies an existing store record
            designated as a redemption store.

            VisionPLUS Service Data: GPXADI-AUTO-DISB-DBA-NAME'
          example: doing business as
        autoDisbThreshold:
          type: integer
          description: 'Length: 17

            Minimum number of points that must be earned before automatic disbursement
            occurs.

            VisionPLUS Service Data: GPXADI-AUTO-DISB-THRESHOLD'
          format: int32
          example: 123456789
        autoDisbMaxLimit:
          type: integer
          description: 'Length: 17

            Maximum number of points that can be disbursed when automatic disbursement
            occurs.

            VisionPLUS Service Data: GPXADI-AUTO-DISB-MAX-LIMIT'
          format: int32
          example: 123456789
      description: Points Disbursement Request
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    PointsDisbursementResponse:
      type: object
      properties:
        response:
          type: string
    PointsAdjustRequest:
      required:
      - accountNumber
      - groupCode
      - schemeId
      - storeNumber
      - tablePriority
      - tableType
      - transactionAmount
      - transactionCode
      type: object
      properties:
        organizationNumber:
          maximum: 999
          minimum: 1
          type: integer
          description: 'Length: 3

            Organization number that identifies the existing Organization record assigned
            to the Points Account record.

            VisionPLUS Service Data: GPXPAI-ORG'
          format: int32
          example: 807
        cardNumber:
          type: string
          description: 'Length: 19

            Unique identifier or token associated with the card number or payment
            instrument (FirstVision PAN Token).

            VisionPLUS Service Data: GPXPAI-CARD-NBR'
          example: 000540208ID5IXX3865
        accountNumber:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 19
          type: string
          description: 'Length: 19

            LMS account number that identifies the Points Account record.

            VisionPLUS Service Data: GPXPAI-ACCT-NBR'
          example: '4513074002573466583'
        schemeId:
          type: string
          description: 'Length: 5

            Scheme ID that identifies the existing Points Scheme record assigned to
            the Points Account record.

            VisionPLUS Service Data: GPXPAI-SCHEME-ID'
          example: '12345'
        transactionCode:
          type: integer
          description: 'Length: 3

            Default LMS transaction code that populates the POINTS TXN CODE field
            of each points transaction in the batch if you do not enter a transaction
            code. The values, grouped by the type of points, are:

            Earned points transactions-

            * 050 = Earned points credit

            * 070 = Earned points debit

            Bonus points transactions-

            * 052 = Bonus points credit

            * 072 = Bonus points debit

            Adjusted points transactions-

            * 054 = Adjusted points credit

            * 074 = Adjusted points debit

            Bought points transactions-

            * 056 = Closed points credit

            * 076 = Closed points debit

            Grace expiration points transactions-

            * 077 = Grace expiration points credit

            VisionPLUS Service Data: GPXPAI-TXN-CODE'
          format: int32
          example: 52
        transactionAmount:
          maximum: 100
          minimum: 0
          type: number
          description: 'Length: 17

            Number of loyalty points for this points transaction.

            VisionPLUS Service Data: GPXPAI-TRAN-AMT'
          example: 100
        actualValue:
          maximum: 100
          minimum: 0
          type: number
          description: 'Length: 17

            Actual monetary value of the points.

            VisionPLUS Service Data: GPXPAI-ACTUAL-VALUE'
          example: 100
        description:
          maximum: 40
          minimum: 1
          type: string
          description: 'Length: 40

            Description of the points transaction.

            VisionPLUS Service Data: GPXPAI-DESC'
          example: Description
        groupCode:
          type: string
          description: 'Length: 5

            Group code that identifies an existing Promotional Group record for this
            points transaction.

            VisionPLUS Service Data: GPXPAI-GROUP-CODE'
          example: '123'
        tableType:
          type: string
          description: 'Length: 1

            Plan type that together with plan priority identifies an existing Points
            Plan record for this points transaction.

            The values are:

            * B = Base

            * O = Override

            * S = Supplementary

            * X = Extra points on cycle

            VisionPLUS Service Data: GPXPAI-TABLE-TYPE'
          example: B
        tablePriority:
          type: integer
          description: "Length: 2\nPlan priority that together with plan type identifies\
            \ an existing Points Plan record for this points transaction.\nThe values\
            \ are 00\u201399\nVisionPLUS Service Data: GPXPAI-TABLE-PRI"
          format: int32
          example: 1
        referenceNumber:
          type: string
          description: 'Length: 18

            User-defined reference number for this points transaction.

            VisionPLUS Service Data: GPXPAI-REF-NBR'
          example: '123'
        reasonCode:
          type: string
          description: 'Length: 2

            User-defined reason code for this points transaction.

            VisionPLUS Service Data: GPXPAI-REASON-CODE'
          example: '12'
        storeNumber:
          type: integer
          description: 'Length: 9

            Store number that identifies an existing Store record for this points
            transaction.

            VisionPLUS Service Data: GPXPAI-STORE-NBR'
          format: int32
          example: 12345678
      description: Points Adjust Request
    PointsAdjustResponse:
      type: object
      properties:
        response:
          type: string
    LoyaltyStatementListRequest:
      required:
      - accountNumber
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: '* Max Length: 3


            Organization number that identifies the existing Organization record assigned
            to the Points Account record.


            VisionPLUS Service Data: GPXTRI-ORG'
          format: int32
          example: 807
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: '* Max Length: 19


            LMS account number that identifies the LMS Points Account record


            VisionPLUS Service Data: GPXSLI-ACCOUNT-NBR'
          example: '4513074002573466583'
        scheme:
          maxLength: 5
          minLength: 0
          type: string
          description: '* Max Length: 5


            LMS scheme ID that identifies is associated with the LMS Points Account
            record


            VisionPLUS Service Data: GPXSLI-SCHEME'
          example: '10002'
        numberOfTransactions:
          type: integer
          description: '* Max Length: 2


            Number of transactions


            VisionPLUS Service Data: GPXSLI-NO-TXNS'
          format: int32
          example: 0
        startDate:
          type: string
          description: 'Starting date associated with the scroll


            VisionPLUS Service Data: GPXSLI-START-DATE'
          format: date
          example: 2023-05-23
        startingScheme:
          maxLength: 5
          minLength: 0
          type: string
          description: '* Max Length: 5


            Starting scheme associated with the scroll


            VisionPLUS Service Data: GPXSLI-START-SCHEME'
          example: '0'
        scrollingFeature:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Scrolling feature.


            Values:

            * Space = First 20 items

            * N = Next 20 items

            * P = Previous 20 items


            VisionPLUS Service Data: GPXSLI-FUNC-CODE'
          example: P
      description: Transactions Details Request
    LoyaltyStatementListResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: 'Max Length: 3


            Number that identifies the Organization record assigned to the LMS Account.


            VisionPLUS Service Data: GPXSLO-ORG'
          format: int32
          example: 999
        organizationName:
          type: string
          description: 'Max Length: 40


            Description assigned to the organization.


            VisionPLUS Service Data: GPXSLO-ORG-NAME'
          example: Organization description
        accountNumber:
          type: string
          description: 'Max Length: 19


            LMS account number that identifies the LMS Points Account record.


            VisionPLUS Service Data: GPXSLO-ACCOUNT-NBR'
          example: '7600010732545213551'
        accountName:
          type: string
          description: 'Max Length: 40


            Name of the account holder.


            VisionPLUS Service Data: GPXSLO-ACCOUNT-NAME'
          example: Account Holder Name
        numberOfTransactions:
          type: integer
          description: 'Max Length: 2


            Number of transactions.


            VisionPLUS Service Data: GPXSLO-NO-TXNS-RQST'
          format: int32
          example: 29
        statementDetailsList:
          type: array
          description: Statement details list
          items:
            $ref: '#/components/schemas/LoyaltyStatementListResponse.StatementDetails'
        moreStatements:
          type: string
          description: 'Max Length: 1

            Code that indicates whether more records are on file.


            VisionPLUS Service Data: GPXSLO-MORE-STMT'
          example: '0'
        startingDate:
          type: string
          description: 'Starting date associated with the scroll (in ISO 8601).


            VisionPLUS Service Data: GPXSLO-START-DATE'
          format: date
          example: 2021-09-30
        startingScheme:
          type: string
          description: 'Max Length: 5


            Starting scheme associated with the scroll.


            VisionPLUS Service Data: GPXSLO-START-SCHEME'
          example: '0'
    LoyaltyStatementListResponse.StatementDetails:
      type: object
      properties:
        sequence:
          type: integer
          description: Sequence
          format: int32
        date:
          type: string
          description: 'Statement date (in ISO 8601).


            VisionPLUS Service Data: GPXSLO-STMT-DATE'
          format: date
          example: 2022-01-15
        scheme:
          type: string
          description: 'Max Length: 5

            Scheme


            VisionPLUS Service Data: GPXSLO-STMT-SCHEM'
          example: '0'
        flag:
          type: string
          description: 'Max Length: 1


            Statement flag.


            VisionPLUS Service Data: GPXSLO-STMT-FLAG'
          example: '0'
      description: Statement details list
    RedemptionAddRequest:
      required:
      - accountNumber
      - organizationNumber
      - rewardItem
      - schemeId
      type: object
      properties:
        organizationNumber:
          maximum: 999
          minimum: 1
          type: integer
          description: 'Organization NumberVisionPLUS Service Data: GPXRAI-ORG'
          format: int32
          example: 807
        cardNumber:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 0
          type: string
          description: 'Unique identifier or token associated with the card number
            or payment instrument (FirstVision PAN Token).VisionPLUS Service Data:
            GPXRAI-CARD-NBR'
          example: 000540208ID5IXX3865
        accountNumber:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 19
          type: string
          description: 'Account NumberVisionPLUS Service Data: GPXRAI-ACCT-NBR'
          example: '4513074002573466583'
        schemeId:
          maxLength: 5
          minLength: 5
          type: string
          description: 'Identification number of the points schemeVisionPLUS Service
            Data: GPXRAI-SCHEME-ID'
          example: '12345'
        rewardItem:
          maxLength: 19
          minLength: 1
          type: string
          description: 'A reward item record identifies a type of reward that can
            be issued to cardholders who

            redeem loyalty points.VisionPLUS Service Data: GPXRAI-REWARD-ITEM'
          example: Coupon
        prepaidCardNumber:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 0
          type: string
          description: 'Prepaid Card NumberVisionPLUS Service Data: GPXRAI-PREPAID-CARD-NBR'
          example: '4513074002573466583'
        numberOfPoints:
          type: integer
          description: 'Number of PointsVisionPLUS Service Data: GPXRAI-POINTS'
          format: int64
          example: 250
        reasonCode:
          maximum: 2
          minimum: 2
          maxLength: 2
          minLength: 0
          type: string
          description: 'User-defined reason code for this points transaction.VisionPLUS
            Service Data: GPXRAI-REASON-CODE'
          example: '12'
        userData:
          maxLength: 26
          minLength: 0
          type: string
          description: 'User-defined field that can be used when generating an

            interface file to send to a third-party vendor for prepaid cards

            (REWARD CATEGORY is PPDGEN).VisionPLUS Service Data: GPXRAI-USER-DATA'
        couponData:
          type: array
          description: 'Denomination and number of coupons

            in each domination to disburse. Valid only if the disbursement

            reward category is by certificate.'
          items:
            $ref: '#/components/schemas/RedemptionAddRequest.Coupon'
        nameOne:
          maxLength: 26
          minLength: 0
          type: string
          description: 'Name to be embossed on the first line of the prepaid card.
            Enter

            the name exactly as it is to appear on the card.VisionPLUS Service Data:
            GPXRAI-NAME-1'
        nameTwo:
          maxLength: 26
          minLength: 0
          type: string
          description: 'Name to be embossed on the second line of the prepaid card.

            Enter the name exactly as it is to appear on the card.VisionPLUS Service
            Data: GPXRAI-NAME-2'
      description: Redemption Add Request
    RedemptionAddRequest.Coupon:
      type: object
      properties:
        couponDenomination:
          type: integer
          description: 'Coupon denominationVisionPLUS Service Data: GPXRAI-COUPON-DENOM'
          format: int32
          example: 12345
        couponNumber:
          type: integer
          description: Coupon number
          format: int32
          example: 12
      description: Denomination and number of coupons in each domination to disburse.
        Valid only if the disbursement reward category is by certificate. Upto 7 Occurences
    RedemptionAddResponse:
      type: object
      properties:
        response:
          type: string
    PointsDetailsRequest:
      required:
      - accountNumber
      - organizationNumber
      - scheme
      type: object
      properties:
        organizationNumber:
          type: integer
          description: '* Min Length: 1

            * Max Length: 3


            Organization Number.


            VisionPLUS Service Data: GPXAII-ORG'
          format: int32
          example: 999
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: 'Account Number.


            VisionPLUS Service Data: GPXAII-ACCOUNT-NBR'
          example: '7600010732545213551'
        scheme:
          type: string
          description: '* Max Length: 5


            Scheme identification number.


            VisionPLUS Service Data: GPXAII-SCHEME'
          example: 00008
      description: Find points details Request
    PointsDetailsResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: 'Max Length: 3


            Organization number.


            VisionPLUS Service Data: GPXAIO-ORG'
          format: int32
          example: 999
        organizationName:
          type: string
          description: 'Max Length: 40


            Name portion of the mailing address for the promotional group.


            VisionPLUS Service Data: GPXAIO-NAME-ADDR'
          example: '0'
        accountNumber:
          type: string
          description: 'Max Length: 19


            Account Number.


            VisionPLUS Service Data: GPXAIO-ACCT'
          example: '7600010732545213551'
        accountName:
          type: string
          description: 'Max Length: 40


            Name of the account holder.


            VisionPLUS Service Data: GPXAIO-NAME-1'
          example: '0'
        scheme:
          type: integer
          description: 'Max Length: 5


            Scheme identification number.


            VisionPLUS Service Data: GPXAIO-SCHEME-ID'
          format: int32
          example: 0
        schemeName:
          type: string
          description: 'Max Length: 40


            Name assigned to that Points Scheme record


            VisionPLUS Service Data: GPXAIO-SCHEME-NAME'
          example: '0'
        status:
          type: integer
          description: 'Max Length: 1


            Status of the Points Account record.


            Values:

            * 1 = Active ;

            * 2 = Inactive (batch status method);

            * 3 = On hold (batch status method);

            * 4 = Frozen (batch status method);

            * 6 = Pending close (batch status method);

            * 7 = Closed ;

            * 8 = Pending purge (batch status method);

            * 9 = Purged.


            VisionPLUS Service Data: GPXAIO-INT-STATUS'
          format: int32
          example: 7
        statusName:
          type: string
          description: 'Max Length: 12


            Name of the account holder.


            VisionPLUS Service Data: GPXAIO-STATUS-NAME'
          example: '0'
        statusChangeDate:
          type: string
          description: 'Date when the last status change occurred for the Points Account
            record (in ISO 8601).


            VisionPLUS Service Data: GPXAIO-STATUS-CHANGE-DATE'
          format: date
          example: 2022-07-22
        lastMaintenanceOnThePointsId:
          type: string
          description: 'Max Length: 3


            Operator ID of the person who performed the last maintenance on the Points
            Account record.


            VisionPLUS Service Data: GPXAIO-OPER-LAST-MAINT'
          example: '0'
        lastMaintenanceOnThePoints:
          type: string
          description: 'Last maintenance on the points (in ISO 8601).


            VisionPLUS Service Data: GPXAIO-DATE-LAST-MAINT'
          format: date
          example: 2022-07-22
        typeOfCustomerFlag:
          type: string
          description: 'Max Length: 1


            Type of customer flag.


            VisionPLUS Service Data: GPXAIO-SERVICE-FLAG'
          example: '0'
        serviceFlagName:
          type: string
          description: 'Max Length: 12


            Description of value shown for service flag.


            Values:

            * B = Business;

            * C = Consolidated;

            * I = Individual.


            VisionPLUS Service Data: GPXAIO-SERVICE-FLAG-NAME'
          example: C
        automaticDisbursementFlag:
          type: string
          description: 'Max Length: 1


            Flag that indicates whether automatic disbursements are used for the Points
            Account record.


            Values:

            * N = Automatic disbursement is not active;

            * Y = Automatic disbursement is active.


            VisionPLUS Service Data: GPXAIO-AUTO-DISB-FLAG'
          example: Y
        automaticDisbursementLastDate:
          type: string
          description: 'Date when the last automatic disbursement occurred (in ISO
            8601)


            Format : CCYY-MM-DD (Gregorian Date)


            VisionPLUS Service Data: GPXAIO-AUTO-DISB-LAST-DATE'
          format: date
          example: 2022-07-22
        automaticDisbursementAccount:
          type: string
          description: 'Max Length: 25


            Account number that identifies the accounts receivable account to which
            automatic disbursements will.


            VisionPLUS Service Data: GPXAIO-AUTO-DISB-ACCT'
          example: '0'
        blockCode1:
          type: string
          description: 'Max Length: 1


            Block code assigned to the Points Account record


            VisionPLUS Service Data: GPXAIO-BLOCK-CODE-1'
          example: '0'
        blockMode:
          type: string
          description: 'Max Length: 1


            Code that indicates which accounts receivable accounts linked to a Points
            Account record are checked ,for block codes and which block codes are
            applied.


            Values:

            * N = Check only the accounts receivable account identified on the transaction
            being processed. If the account number is not identified on the transaction,
            perform processing as indicated by value P.

            * P = Check only the accounts receivable primary account linked to the
            Points Account record

            (PRIMARY ACCOUNT NUMBER on GPMA01). The block code assigned to the primary
            account controls processing for all linked accounts receivable accounts.

            * V = Do not check accounts receivable accounts for block codes. Apply
            only the LMS block code assigned to the Points Account record (LMS BLOCK
            CODE on GPMC01).

            * Y = Check all accounts receivable accounts for block codes. If any account
            is assigned a block code that is set to not earn or not redeem points,
            none of the linked accounts can earn or redeem points.


            VisionPLUS Service Data: GPXAIO-BLOCK-MODE'
          example: P
        delinquencyMode:
          type: string
          description: 'Max Length: 1


            Flag that indicates which accounts receivable accounts linked to the Points
            Account record are checked for delinquency and which delinquency is applied.


            Values:

            * N = Check all accounts receivable accounts for delinquency.

            Apply delinquency only to the accounts receivable accounts that are delinquent.
            If none of the accounts receivable accounts are delinquent, check the
            accounts receivable primary account and perform the same processing as
            value P.

            * P = Check only the accounts receivable primary account for delinquency.
            The primary account is identified on the Account Demographics record (PRIMARY
            ACCOUNT NUMBER on GPMA01) linked to the Points Account record.When the
            primary account is delinquent, all accounts receivable accounts linked
            to the Points Account record are treated as delinquent.

            * V = Do not check accounts receivable accounts for delinquency. Delinquency
            is ignored on accounts receivable accounts linked to the Points Account
            record.

            * Y = Check all accounts receivable accounts for delinquency. If any account
            is delinquent and is set to not earn or not redeem points, none of the
            linked accounts can earn or redeem points.


            VisionPLUS Service Data: GPXAIO-DELINQUENCY-MODE'
          example: P
        monetaryValueLoyaltyPoints:
          type: number
          description: "Max Length: 17\n\nMonetary value of the loyalty points.\n\n\
            Format: A2 = Amount\u2014format with decimals only (per NOD)\n\nVisionPLUS\
            \ Service Data: GPXAIO-HIGH-REDEEM-AMT"
          example: 0
        totalPointsAvailableToRedeem:
          type: number
          description: 'Max Length: 17


            Total number of points currently available to redeem


            VisionPLUS Service Data: GPXAIO-HIGH-REDEEM-POINTS'
          example: 0
        totalCashValue:
          type: number
          description: "Max Length: 17\n\nMonetary value of the loyalty points.\n\n\
            Format: A2 = Amount\u2014format with decimals only (per NOD)\n\nVisionPLUS\
            \ Service Data: GPXAIO-TOT-CASH-VALUE"
          example: 0
        basicEarnedPointsCycleToDate:
          type: number
          description: 'Max Length: 17


            Total number of basic earned points cycle-to-date


            VisionPLUS Service Data: GPXAIO-CTD-PTS-EARNED'
          example: 0
        boughtPointsCycleToDate:
          type: number
          description: 'Max Length: 17


            Total number of bought points cycle-to-date


            VisionPLUS Service Data: GPXAIO-CTD-PTS-BOUGHT'
          example: 0
        bonusPointsCycleToDate:
          type: number
          description: 'Max Length: 17


            Total number of bonus points cycle-to-date


            VisionPLUS Service Data: GPXAIO-CTD-PTS-BONUS'
          example: 0
        redeemedPointsCycleToDate:
          type: number
          description: 'Max Length: 17


            Total number of redeemed points cycle-to-date


            VisionPLUS Service Data: GPXAIO-CTD-PTS-REDEEMED'
          example: 0
        closedPointsCycleToDate:
          type: number
          description: 'Max Length: 17


            Total number of closed points cycle-to-date.


            VisionPLUS Service Data: GPXAIO-CTD-PTS-CLOSED'
          example: 0
        expiredPointsCycleToDate:
          type: number
          description: 'Max Length: 17


            Total number of expired points cycle-to-date


            VisionPLUS Service Data: GPXAIO-CTD-PTS-EXPIRED'
          example: 0
        adjustedInPointsCycleToDate:
          type: number
          description: 'Max Length: 17


            Total number of adjusted in points cycle-to-date


            VisionPLUS Service Data: GPXAIO-CTD-PTS-ADJUST-IN'
          example: 0
        adjustedOutPointsCycleToDate:
          type: number
          description: 'Max Length: 17


            Total number of adjusted out points cycle-to-date


            VisionPLUS Service Data: GPXAIO-CTD-PTS-ADJUST-OUT'
          example: 0
        expiredPointsRetainedInAGracePeriodCycleToDate:
          type: number
          description: 'Max Length: 17


            Total number of expired points retained in a grace period cycle-to-date.


            VisionPLUS Service Data: GPXAIO-GRACE-CTD'
          example: 0
        totalNumberOfAllPointsCycleToDate:
          type: number
          description: 'Max Length: 17


            Total number of all points cycle to date.


            VisionPLUS Service Data: GPXAIO-CYC-TO-DATE-TOT'
          example: 0
        basicSpendAmountCycleToDate:
          type: number
          description: "Max Length: 17\n\nTotal cycle-to-date basic spend amount\n\
            \nFormat : A2 = Amount\u2014format with decimals only (per NOD)\n\nVisionPLUS\
            \ Service Data: GPXAIO-CTD-SPEND-EARNED"
          example: 0
        basicEarnedPointsLifeToDate:
          type: number
          description: 'Max Length: 17


            Total number of basic earned points life-to-date


            VisionPLUS Service Data: GPXAIO-LTD-PTS-EARNED'
          example: 0
        boughtPointsLifeToDate:
          type: number
          description: 'Max Length: 17


            Total number of bought points life-to-date


            VisionPLUS Service Data: GPXAIO-LTD-PTS-BOUGHT'
          example: 0
        bonusPointsLifeToDate:
          type: number
          description: 'Max Length: 17


            Total number of bonus points life-to-date


            VisionPLUS Service Data: GPXAIO-LTD-PTS-BONUS'
          example: 0
        redeemedPointsLifeToDate:
          type: number
          description: 'Max Length: 17


            Total number of redeemed points life-to-date


            VisionPLUS Service Data: GPXAIO-LTD-PTS-REDEEMED'
          example: 0
        closedPointsLifeToDate:
          type: number
          description: 'Max Length: 17


            Total number of closed points life-to-date


            VisionPLUS Service Data: GPXAIO-LTD-PTS-CLOSED'
          example: 0
        expiredPointsLifeToDate:
          type: number
          description: 'Max Length: 17


            Total number of expired points life-to-date


            VisionPLUS Service Data: GPXAIO-LTD-PTS-EXPIRED'
          example: 0
        adjustedInPointsLifeToDate:
          type: number
          description: 'Max Length: 17


            Total number of adjusted in points life-to-date


            VisionPLUS Service Data: GPXAIO-LTD-PTS-ADJUST-IN'
          example: 0
        adjustedOutPointsLifeToDate:
          type: number
          description: 'Max Length: 17


            Total number of adjusted out points life-to-date


            VisionPLUS Service Data: GPXAIO-LTD-PTS-ADJUST-OUT'
          example: 0
        basicSpendAmountYearToDate:
          type: number
          description: 'Max Length: 17


            Total year-to-date basic spend amount.


            VisionPLUS Service Data: GPXAIO-YTD-SPEND-EARNED'
          example: 0
        expiredPointsRetainedInGracePeriodLifeToDate:
          type: number
          description: 'Max Length: 17


            Total number of expired points retained in a grace period life-to-date.


            VisionPLUS Service Data: GPXAIO-GRACE-LTD'
          example: 0
        totalNumberOfAllPointsLifeToDate:
          type: number
          description: 'Max Length: 17


            Total number of all points life to date.


            VisionPLUS Service Data: GPXAIO-LIFE-TO-DT-TOT'
          example: 0
        totalNumberOfOutstandingMemoPostedPoints:
          type: number
          description: 'Max Length: 17


            Total number of outstanding memo posted points that have been processed
            but the actual.


            VisionPLUS Service Data: GPXAIO-PT-PROC-NOT-RCD'
          example: 0
        openToRedeemCalculatedValue:
          type: number
          description: 'Max Length: 2


            Open-to-redeem calculated value, which is the total number of points less
            the memo-posted transactions.


            VisionPLUS Service Data: GPXAIO-OPEN-TO-RED-ON-SCR'
          example: 0
        monthlyIntervalFrequency:
          type: integer
          description: 'Max Length: 17


            Monthly interval when indicator is monthly and specific month when indicator
            is specific.


            VisionPLUS Service Data: GPXAIO-STMT-MONTH-FREQ'
          format: int32
          example: 0
        dayOfTheMonthStatementsProduced:
          type: integer
          description: 'Max Length: 2


            Day of the month on which statements are produced


            VisionPLUS Service Data: GPXAIO-STMT-DAY-OF-MONTH'
          format: int32
          example: 0
        dateLastStatementProduced:
          type: string
          description: 'Date when the last statement was produced (in ISO 8601)


            Format : CCYY-MM-DD (Gregorian Date)


            VisionPLUS Service Data: GPXAIO-LAST-STMT-DATE'
          format: date
          example: 2022-07-22
        dateNextStatementWillBeProduced:
          type: string
          description: 'Date when the next statement will be produced (in ISO 8601)


            Format : CCYY-MM-DD (Gregorian Date)


            VisionPLUS Service Data: GPXAIO-NEXT-STMT-DATE'
          format: date
          example: 2022-07-22
        dateThePointsAccountOpened:
          type: string
          description: 'Date when the Points Account record was opened (in ISO 8601).


            Format : CCYY-MM-DD (Gregorian Date)


            VisionPLUS Service Data: GPXAIO-DATE-OPENED'
          format: date
          example: 2022-07-22
        pointsInADisbursementPacket:
          type: number
          description: 'Max Length: 17


            Points in disbursement packet.


            VisionPLUS Service Data: GPXAIO-DISB-PACKET-POINTS'
          example: 0
        valueOfTheDisbursementPacket:
          type: number
          description: "Max Length: 17\n\nMonetary value of the disbursement packet\n\
            \nFormat : A2 = Amount\u2014format with decimals only (per NOD)\n\nVisionPLUS\
            \ Service Data: GPXAIO-DISB-PKT-MON-VALPOINTS"
          example: 0
        frequencyPeriodCode:
          type: integer
          description: "Max Length: 2\n\nCode that identifies the frequency period.\n\
            \nValues:\n* 00 = Not used (Default);\n* 01\u201312 = Specifies the monthly\
            \ interval when the indicator is M, or specifies the specific month when\
            \ the indicator is S.\n\nVisionPLUS Service Data: GPXAIO-AUTO-DISB-FREQ"
          format: int32
          example: 0
        monthDayAutomaticDisbursementsOccur:
          type: integer
          description: 'Max Length: 2


            Month Day Automatic Disbursements Occur.


            VisionPLUS Service Data: GPXAIO-AUTO-DISB-DAY-OFMONTH'
          format: int32
          example: 0
        automaticDisbursementPointsAccountFlag:
          type: string
          description: 'Max Length: 1


            Flag that indicates whether automatic disbursements are used for the Points
            Account record.


            Values:

            * N = Automatic disbursement is not active;

            * Y = Automatic disbursement is active.


            VisionPLUS Service Data: GPXAIO-AUTO-DISB-IND'
          example: Y
        automaticDisbursementDoingBusinessAsName:
          type: string
          description: 'Max Length: 43


            Store DBA (doing-business-as) name that identifies an existing Store record
            designated as a redemption ,.


            VisionPLUS Service Data: GPXAIO-AUTO-DISB-DBA-NAME'
          example: '0'
        lastAutomaticDisbursementOccurred:
          type: string
          description: 'Last automatic disbursement occurred (in ISO 8601).


            VisionPLUS Service Data: GPXAIO-START-DISBURSE-DATE'
          format: date
          example: 2022-07-22
        methodUsedToDisburseRewards:
          type: string
          description: 'Max Length: 6


            Method used to disburse rewards.


            Values:

            * CERT = Certificate;

            * CHECK = Check;

            * CREDIT = Credit.


            VisionPLUS Service Data: GPXAIO-REWARDS-CATEGORY'
          example: CERT
        pointsEarnedBeforeAutomaticDisbursements:
          type: number
          description: 'Max Length: 17


            Points earned before automatic disbursements.


            VisionPLUS Service Data: GPXAIO-AUTO-DISB-THRESHOLD'
          example: 0
        monetaryEarnedBeforeAutomaticDisbursements:
          type: number
          description: 'Max Length: 17


            Monetary Earned Before Automatic Disbursements.


            VisionPLUS Service Data: GPXAIO-AUTO-DISB-MON-VAL'
          example: 0
        enrolledOrOpenedUserDefinedCode:
          type: string
          description: 'Max Length: 4


            User-defined code that identifies the method by which the account was
            enrolled or opened.


            VisionPLUS Service Data: GPXAIO-ENROLLMENT-CHANNEL'
          example: '0'
        waiveMembershipFeeFlag:
          type: string
          description: 'Max Length: 1


            Flag that indicates whether to waive the membership fee on the Points
            Account record.


            Values:

            * N = Do not waive membership fee;

            * Y = Waive membership fee.


            VisionPLUS Service Data: GPXAIO-WAIVE-MEMB-FEE'
          example: Y
        dateLastStatusChangeOccurred:
          type: string
          description: 'Date when the last status change occurred for the Points Account
            record (in ISO 8601).


            VisionPLUS Service Data: GPXAIO-AR-OPEN-DATE'
          format: date
          example: 2022-07-22
        amountOfTheRebate:
          type: number
          description: "Max Length: 17\n\nAmount of the rebate\n\nFormat: A2 = Amount\u2014\
            format with decimals only (per NOD)\n\nVisionPLUS Service Data: GPXAIO-REBATE-AMT"
          example: 0
        decimalPositionsRightInMonetaryAmountFields:
          type: integer
          description: 'Max Length: 1


            Decimal positions right in monetary amount fields.


            VisionPLUS Service Data: GPXAIO-CURR-NOD'
          format: int32
          example: 0
        decimalPositionsRightInPerItemRateFields:
          type: integer
          description: 'Max Length: 1


            Decimal positions right in per item rate fields.


            VisionPLUS Service Data: GPXAIO-PER-ITEM-NOD'
          format: int32
          example: 0
        decimalPositionsRightInPercentageFields:
          type: integer
          description: 'Max Length: 1


            Decimal positions right in percentage fields.


            VisionPLUS Service Data: GPXAIO-PCT-RATE-NOD'
          format: int32
          example: 0
        countryCode:
          type: string
          description: 'Max Length: 3


            Country code


            VisionPLUS Service Data: GPXAIO-COUNTRY-CODE'
          example: '0'
        currencyCode:
          type: integer
          description: 'Max Length: 3


            Currency code


            VisionPLUS Service Data: GPXAIO-CURRENCY-CODE'
          format: int32
          example: 0
        maximumPointsCanAutomaticDisbursement:
          type: number
          description: 'Max Length: 17


            Maximum Points Can Automatic Disbursement.


            VisionPLUS Service Data: GPXAIO-AUTO-DISB-MAX-LIMIT'
          example: 0
    PointsExpiryHistoryRequest:
      required:
      - accountNumber
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          maximum: 999
          minimum: 1
          type: integer
          description: 'Organization NumberVisionPLUS Service Data: GPXEHI-ORG'
          format: int32
          example: 807
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: 'LMS account number that identifies the LMS Points Account
            recordVisionPLUS Service Data: GPXEHI-ACCOUNT-NBR'
          example: '4513074002573466583'
        scheme:
          maxLength: 5
          minLength: 0
          type: string
          description: 'LMS scheme ID that identifies is associated with the LMS Points
            Account recordVisionPLUS Service Data: GPXEHI-SCHEME'
          example: '00051'
        statementDate:
          type: string
          description: 'Statement date associated with the scrollVisionPLUS Service
            Data: GPXEHI-STMT-DATE'
          format: date
        numberOfTransactions:
          maximum: 99
          minimum: 0
          type: integer
          description: 'Number of transactionsVisionPLUS Service Data: GPXEHI-NO-TXNS'
          format: int32
          example: 0
        scrollingFeature:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Scrolling feature.

            The values are:

            * Space = First 20 items

            * N = Next 20 items

            * P = Previous 20 itemsVisionPLUS Service Data: GPXEHI-FUNC-CODE'
        startingRecordNumber:
          maxLength: 5
          minLength: 0
          type: string
          description: 'Starting scheme associated with the scrollVisionPLUS Service
            Data: GPXEHI-START-REC-NBR'
      description: Transactions Details Request
    PointsExpiryHistoryResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: 'Length: 3Number that identifies the Organization record assigned
            to the LMS account.VisionPLUS Service Data: GPXEHO-ORG'
          format: int32
        organizationName:
          type: string
          description: 'Length: 40Description assigned to the organization.VisionPLUS
            Service Data: GPXEHO-ORG-NAME'
        accountNumber:
          type: string
          description: 'Length: 19LMS account number that identifies the LMS Points
            Account record.VisionPLUS Service Data: GPXEHO-ACCOUNT-NBR'
        accountName:
          type: string
          description: 'Length: 40Name of the account holder.VisionPLUS Service Data:
            GPXEHO-ACCOUNT-NAME'
        statementDate:
          type: string
          description: 'Length: 8Statement Date.VisionPLUS Service Data: GPXEHO-STMT-DATE'
          format: date
        scheme:
          type: string
          description: 'Length: 5Scheme that is assigned to the points account for
            which the statement was produced.VisionPLUS Service Data: GPXEHO-SCHEME-ID'
        schemeName:
          type: string
          description: 'Length: 40Name associated with the scheme.VisionPLUS Service
            Data: GPXEHO-SCHEME-NAME'
        numberOfTransactions:
          type: integer
          description: 'Length: 2Number of transactions requested.VisionPLUS Service
            Data: GPXEHO-NO-TXNS-RQST'
          format: int32
        expireHistoryList:
          type: array
          description: Expire history List
          items:
            $ref: '#/components/schemas/PointsExpiryHistoryResponse.ExpireHistoryDetails'
        moreStatements:
          type: string
          description: 'Length: 1Code that indicates whether more records are on file.VisionPLUS
            Service Data: GPXEHO-MORE-STMT'
        currencyCode:
          type: string
          description: 'Length: 3Currency code.VisionPLUS Service Data: GPXEHO-CURRENCY-CODE'
        countryCode:
          type: string
          description: 'Length: 3Country codeVisionPLUS Service Data: GPXEHO-COUNTRY-CODE'
        currencyNod:
          type: string
          description: 'Length: 1Currency NOD.VisionPLUS Service Data: GPXEHO-CURRENCY-NOD'
        perItemNod:
          type: string
          description: 'Length: 1Per item NOD.VisionPLUS Service Data: GPXEHO-PER-ITEM-NOD'
    PointsExpiryHistoryResponse.ExpireHistoryDetails:
      type: object
      properties:
        sequence:
          type: integer
          description: Sequence
          format: int32
        accumulatedPoints:
          type: integer
          description: Accumulated points
          format: int32
        accumulatedPointsExpirationDate:
          type: string
          description: 'Length: 8Accumulated points expiration date.VisionPLUS Service
            Data: GPXEHO-ACC-PTS-EXP-DTE'
          format: date
        pointsRedeemed:
          type: integer
          description: 'Length: 17Number of points that have been redeemed.VisionPLUS
            Service Data: GPXEHO-PTS-REDEEMED'
          format: int32
        pointsExpired:
          type: integer
          description: 'Length: 17Number of points that have expired.VisionPLUS Service
            Data: GPXEHO-PTS-EXPIRED'
          format: int32
        pointsExpirationDate:
          type: string
          description: 'Length: 8Points expiration date.VisionPLUS Service Data: GPXEHO-PTS-EXPIRED-DTE'
          format: date
        recordNumber:
          type: integer
          description: 'Length: 4Record number.VisionPLUS Service Data: GPXEHO-REC-NBR'
          format: int32
      description: Expire history List
    PointsAccountAddRequest:
      required:
      - accountNumber
      - enrollmentChannel
      - nextStatementDate
      - organizationNumber
      - schemeId
      - serviceFlag
      - statementMonthDay
      - statementMonthFreq
      type: object
      properties:
        organizationNumber:
          type: integer
          description: 'Length: 3Organization Number. VisionPLUS Service Data: GPXAAI-ORG'
          format: int32
          example: 823
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: 'Length: 19LMS Account Number. VisionPLUS Service Data: GPXAAI-ACCOUNT-NBR'
          example: '4004894352313040331'
        schemeId:
          type: string
          description: 'Length: 5Scheme ID. VisionPLUS Service Data: GPXAAI-SCHEME'
          example: '12345'
        enrollmentChannel:
          type: string
          description: 'Length: 4User-defined code that identifies the method by which
            the account was enrolled or opened. VisionPLUS Service Data: GPXAAI-ENROLLMENT-CHANNEL'
          example: '12345'
        serviceFlag:
          type: string
          description: 'Length: 1Length: 1

            Type of customer.

            The values are:

            B = Business

            C = Consolidated

            I = Individual

            VisionPLUS Service Data: GPXAAI-SERVICE-FLAG'
          example: I
        statementMonthFreq:
          type: integer
          description: "Length: 2Frequency in months at which statements are produced.\
            \ The values are 01\u201399. VisionPLUS Service Data: GPXAAI-STMT-MONTH-FREQ"
          format: int32
          example: 15
        statementMonthDay:
          type: integer
          description: "Length: 2Day of the month on which statements are produced.\
            \ The values are 01\u201331. VisionPLUS Service Data: GPXAAI-STMT-DAY-OF-MONTH"
          format: int32
          example: 12
        nextStatementDate:
          type: string
          description: 'Length: 8Date when the next statement will be produced. VisionPLUS
            Service Data: GPXAAI-NEXT-STMT-DATE'
          format: date
      description: Add LMS account
    PointsAccountAddResponse:
      type: object
      properties:
        response:
          type: string
    CrossReferenceInquiryRequest:
      required:
      - accountNumber
      - nameAddSourceFlag
      - organizationNumber
      - startingItem
      type: object
      properties:
        nameAddSourceFlag:
          maxLength: 5
          minLength: 0
          type: string
          description: 'Length: 5

            Source code that identifies the system where the account exists.

            The values are:

            * LMS = Loyalty Management System. Enter this source code if the account
            number (ACCOUNT field) identifies an LMS Points Account record.

            * CMS = Credit Management System. Enter this source code if the account
            number (ACCOUNT field) identifies a CMS base segment account number.

            VisionPLUS Service Data: GPXXII-NAME-ADD-SRC-FLAG'
          example: CMS
        organizationNumber:
          type: integer
          description: 'Length: 3

            Organization number that identifies theOrganization record assigned to
            an account.

            VisionPLUS Service Data: GPXXII-ORG'
          format: int32
          example: 801
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: 'Length: 19

            LMS points account number, CMS account base segment number, or accounts
            receivable account number assigned to an AR/LMS Account Cross-reference
            record.

            VisionPLUS Service Data: GPXXII-ACCOUNT-NBR'
          example: '4506684000316710701'
        startingOrganizationNumber:
          type: integer
          description: 'Length: 3

            Starting organization associated with the scroll.

            VisionPLUS Service Data: GPXXII-SVC-START-ORG'
          format: int32
          example: 801
        startingItem:
          maxLength: 19
          minLength: 0
          type: string
          description: 'Length: 19

            Starting item (populated from the previous output message) associated
            with the scroll.

            VisionPLUS Service Data: GPXXII-SVC-START-ITEM'
          example: '1801000000053684700'
        functionCode:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Length: 1

            Scrolling feature.

            The values are:

            Space = First 20 items

            * N = Next 20 items

            * P = Previous 20 items

            VisionPLUS Service Data: GPXXII-SVC-FUNC-CODE'
          example: U
      description: Cross Reference Inquiry Request
    CrossReferenceInquiryResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: 'Length: 3

            Organization number.

            VisionPLUS Service Data: GPXXIO-ORG'
          format: int32
        accountCounter:
          type: integer
          description: 'Length: 2

            Number of accounts.

            VisionPLUS Service Data: GPXXIO-ACCOUNTS-CNT'
          format: int32
        accountList:
          type: array
          description: Account list
          items:
            $ref: '#/components/schemas/CrossReferenceInquiryResponse.Account'
        moreRecords:
          type: string
          description: 'Length: 1

            Code that indicates whether more records are on file.

            VisionPLUS Service Data: GPXXIO-MORE-STMT'
        startingOrganizationNumber:
          type: integer
          description: 'Length: 3

            Starting organization associated with the scroll.

            VisionPLUS Service Data: GPXXIO-SVC-START-ORG'
          format: int32
        startingItem:
          type: string
          description: 'Length: 19

            Starting item (populated from the previous output message) associated
            with the scroll.

            VisionPLUS Service Data: GPXXIO-SVC-START-ITEM'
    CrossReferenceInquiryResponse.Account:
      type: object
      properties:
        sequence:
          type: integer
          description: Sequence
          format: int32
        accountNumber:
          type: string
          description: 'Length: 19

            Account number.

            VisionPLUS Service Data: GPXXIO-ACCOUNT-NBR'
        accountName:
          type: string
          description: 'Length: 40

            Account name.

            VisionPLUS Service Data: GPXXIO-ACCOUNT-NAME'
      description: Account list
    LmsTransactionInquiryRequest:
      required:
      - accountNumber
      - organizationNumber
      - schemeId
      - transactionRequestIndicator
      type: object
      properties:
        organizationNumber:
          maximum: 999
          minimum: 1
          type: integer
          description: '* Min Length: 1

            * Max Length: 3


            Organization number that identifies the existing Organization record assigned
            to the Points Account record.


            VisionPLUS Service Data: GPXTRI-ORG'
          format: int32
          example: 999
        transactionRequestIndicator:
          maximum: 1
          minimum: 0
          type: integer
          description: '* Min Length: 1

            * Max Length: 1


            Transaction request indicator.


            Values:

            * 0 = Active transactions and history transactions are returned;

            * 1 = Active transactions, history transactions and warehoused transactions
            are returned.


            VisionPLUS Service Data: GPXTRI-TXN-IND'
          format: int32
          example: 0
        accountNumber:
          maximum: 9999999999999999999
          minimum: 1
          maxLength: 19
          minLength: 19
          type: string
          description: 'Account Number.


            VisionPLUS Service Data: GPXTRI-ACCOUNT-NBR'
          example: '1801000000124111842'
        schemeId:
          maximum: 99999
          minimum: 1
          maxLength: 5
          minLength: 5
          type: string
          description: 'Scheme ID that identifies the existing Points Scheme record
            assigned to the Points Account record.


            VisionPLUS Service Data: GPXTRI-SCHEME-ID'
          example: '00030'
        fromDate:
          type: string
          description: 'Begin date associated with the scroll (in ISO 8601).


            VisionPLUS Service Data: GPXTRI-FROM-DATE'
          format: date
          example: 2023-02-15
        toDate:
          type: string
          description: 'End date associated with the scroll (in ISO 8601).


            VisionPLUS Service Data: GPXTRI-TO-DATE'
          format: date
          example: 2023-07-16
        numberOfTransactions:
          type: integer
          description: '* Max Length: 2


            Number of transactions requested associated with the scroll.


            VisionPLUS Service Data: GPXTRI-NO-TXNS'
          format: int32
          example: 15
        scrollFeature:
          type: string
          description: '* Max Length: 1


            Scrolling feature.


            Values:

            * Space = First 20 items;

            * N = Next 20 items;

            * P = Previous 20 items.


            VisionPLUS Service Data: GPXTRI-FUNC-CODE'
          example: N
        startStatementDate:
          type: string
          description: 'Start statement date associated with the scroll (in ISO 8601).


            VisionPLUS Service Data: GPXTRI-STR-STMT-DTE'
          format: date
          example: 2023-01-25
        startRecordNumber:
          type: string
          description: 'Start record number associated with the scroll (in ISO 8601).


            VisionPLUS Service Data: GPXTRI-STR-REC-NO'
          format: date
          example: 2023-01-25
        startFileType:
          type: string
          description: '* Max Length: 1


            Start file type associated with the scroll.


            Values:

            * A = Unbilled transactions;

            * S = Statemented transactions;

            * W = Warehoused transactions.


            VisionPLUS Service Data: GPXTRI-STR-FL-TYPE'
          example: S
      description: LMS transactions inquiry request
    LmsTransactionInquiryResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: 'Max Length: 3


            Organization number.


            VisionPLUS Service Data: GPXTRO-ORG'
          format: int32
          example: 999
        accountNumber:
          type: string
          description: 'Max Length: 19


            Account number.


            VisionPLUS Service Data: GPXTRO-ACCOUNT-NBR'
          example: '7600010732545213551'
        accountName:
          type: string
          description: 'Max Length: 40


            Account name.


            VisionPLUS Service Data: GPXTRO-ACCOUNT-NAME'
          example: ACCOUNT NAME
        schemeId:
          type: string
          description: 'Max Length: 5


            Scheme that is assigned to the points account for which the statement
            was produced.


            VisionPLUS Service Data: GPXTRO-PCT-RATE-NOD'
          example: '00030'
        schemeName:
          type: string
          description: 'Max Length: 40


            Name associated with the scheme.


            VisionPLUS Service Data: GPXTRO-SCHEME-NAME.'
          example: SCHEME NAME
        perItemNumberOfDecimals:
          type: integer
          description: 'Max Length: 1


            Number of decimal positions to the right of the decimal point (or other
            decimal character) in per item rate fields.


            VisionPLUS Service Data: GPXTRO-PER-ITEM-NOD'
          format: int32
          example: 0
        percentageFieldsNumberOfDecimals:
          type: integer
          description: 'Max Length: 1

            Number of decimal positions to the right of the decimal point (or other
            decimal character) in percentage fields


            VisionPLUS Service Data: GPXTRO-PCT-RATE-NOD'
          format: int32
          example: 0
        numberOfTransactionsRequested:
          type: integer
          description: 'Max Length: 2


            Number of transactions requested.


            VisionPLUS Service Data: GPXTRO-NO-TXNS-RQST'
          format: int32
          example: 15
        isMoreRecords:
          type: string
          description: 'Max Length: 1


            Code that indicates whether more records are on file.


            Values:

            * Space = No more transactions;

            * N = No more transactions;

            * Y = More transactions to be sent.


            VisionPLUS Service Data: GPXTRO-MORE-STMT'
          example: N
        startingDate:
          type: string
          description: 'Starting date associated with the scroll (in ISO 8601).


            VisionPLUS Service Data: GPXTRO-STR-STMT-DTE'
          format: date
          example: 2023-05-21
        startingStatementNumber:
          type: integer
          description: 'Max Length: 8


            Starting statement number associated with the scroll.


            VisionPLUS Service Data: GPXTRO-STR-STMT-NO'
          format: int32
          example: 0
        startingStatementFileType:
          type: string
          description: 'Max Length: 1


            Starting statement file type associated with the scroll.


            VisionPLUS Service Data: GPXTRO-STR-STMT-FL'
          example: '0'
        statementDetails:
          type: array
          description: Statement details
          items:
            $ref: '#/components/schemas/LmsTransactionInquiryResponse.StatementDetails'
    LmsTransactionInquiryResponse.StatementDetails:
      type: object
      properties:
        seq:
          type: integer
          description: 'Max Length: 3


            Sequence number assigned to the Transaction Rate Tier record that was
            used to calculate a points transaction.


            VisionPLUS Service Data: GPXTRO-TIER-SEQ'
          format: int32
          example: 0
        accountsReceivableCardNumber:
          type: string
          description: 'Max Length: 19


            Unique identifier or token associated with the card number or payment
            instrument (FirstVision PAN Token).


            VisionPLUS Service Data: GPXTRO-AR-CARD-NO'
          example: 000540208ID5IXX3865
        lmsTransactionCode:
          type: string
          description: "Max Length: 3\n\nLMS transaction code assigned to a transaction.\n\
            \nValues:\n* 001 = Incoming monetary debit;\n* 002 = Incoming monetary\
            \ credit;\n* 050 = Earned points credit;\n* 070 = Earned points debit;\n\
            * 051 = Redeemed points debit;\n* 071 = Redeemed points credit;\n* 052\
            \ = Bonus points credit;\n* 072 = Bonus points debit;\n* 053 = Expired\
            \ points debit;\n* 073 = Expired points credit;\n* 054 = Adjusted points\
            \ credit;\n* 074 = Adjusted points debit;\n* 055 = Closed increase debit;\n\
            * 075 = Closed decrease credit;\n* 056 = Bought points credit;\n* 076\
            \ = Bought points debit;\n* 057 = Grace expiration points debit;\n* 077\
            \ = Grace expiration points credit;\n* 100\u2013999 = User-defined monetary\
            \ transactions.\n\nVisionPLUS Service Data: GPXTRO-TXN-CODE"
          example: '052'
        lmsTransactionCodeDescription:
          type: string
          description: 'Max Length: 40


            Description of transaction code.


            VisionPLUS Service Data: GPXTRO-CODE-DESC'
          example: '0'
        batchNumber:
          type: integer
          description: 'Max Length: 5


            Description of transaction code.


            VisionPLUS Service Data: GPXTRO-BATCH-NO'
          format: int32
          example: 0
        batchSequenceNumber:
          type: integer
          description: 'Max Length: 8


            Batch sequence number of the transaction.


            VisionPLUS Service Data: GPXTRO-SEQ-NO'
          format: int32
          example: 0
        traceNumber:
          type: string
          description: 'Max Length: 6


            Trace number assigned to the transaction by LMS.


            VisionPLUS Service Data: GPXTRO-TRACE-NO'
          example: '0'
        terminalId:
          type: string
          description: 'Max Length: 8


            Terminal ID of the transaction if it is a POS transaction.


            VisionPLUS Service Data: GPXTRO-TERMINAL-ID'
          example: '0'
        storeNumber:
          type: string
          description: 'Max Length: 12


            Store number assigned to the transaction.


            VisionPLUS Service Data: PXTRO-STORE-NO'
          example: '0'
        storeDoingBusinessAs:
          type: string
          description: 'Max Length: 43


            Store DBA (doing-business-as) name of the Store record assigned to the
            transaction.


            VisionPLUS Service Data: GPXTRO-STRE-DBA'
          example: '0'
        batchProcessingDate:
          type: string
          description: 'Batch processing date of the batch that contains the transaction
            (in ISO 8601).


            VisionPLUS Service Data: GPXTRO-PROCESS-DTE'
          format: date
          example: 2023-06-29
        batchSourceNumber:
          type: integer
          description: 'Max Length: 5


            Number assigned to each LMS transaction to indicate the source of the
            batch.


            VisionPLUS Service Data: GPXTRO-BATCH-SOURCE'
          format: int32
          example: 0
        transactionStatusCode:
          type: string
          description: 'Max Length: 1


            Transaction status code.


            VisionPLUS Service Data: GPXTRO-TXN-STS-I'
          example: '0'
        transactionStatusCodeDescription:
          type: string
          description: 'Max Length: 11

            Transaction status code description.


            VisionPLUS Service Data: GPXTRO-TXN-STATUS-II'
          example: '0'
        promotionalGroupCode:
          type: string
          description: 'Max Length: 5


            Group code that identifies the Promotional Group record assigned to the
            transaction.


            VisionPLUS Service Data: GPXTRO-PROMO-GR-CODE'
          example: '0'
        transactionLoyaltyPointsMonetaryValue:
          type: number
          description: 'Max Length: 17


            Monetary value of the loyalty points.


            VisionPLUS Service Data: GPXTRO-REBATE-SP'
          example: 0
        transactionLoyaltyPoints:
          type: number
          description: 'Max Length: 13


            Number of loyalty points calculated for this transaction.


            VisionPLUS Service Data: GPXTRO-POINTS-SP'
          example: 0
        rollUpCode:
          type: string
          description: 'Max Length: 1


            Code that indicates whether the transaction went through the roll-up process.


            VisionPLUS Service Data: GPXTRO-ROLL-UP-IND'
          example: '0'
        rollUpDate:
          type: string
          description: 'Date when the transaction went through the roll-up process
            (in ISO 8601).


            VisionPLUS Service Data: GPXTRO-ROLL-UO-DTE'
          format: date
          example: 2023-04-16
        datePosted:
          type: string
          description: 'Date on which the transaction was posted to the account (in
            ISO 8601).


            VisionPLUS Service Data: GPXTRO-DTE-POSTED'
          format: date
          example: 2023-06-29
        valueOrRate:
          type: number
          description: 'Max Length: 9


            Value or rate applied to earned points transactions (transaction codes
            050 and 070) and bonus points transactions (transaction codes 52 and 72).


            VisionPLUS Service Data: GPXTRO-VALUE-RATE'
          example: 0
        spendAmount:
          type: number
          description: 'Max Length: 17


            Spend amount of the monetary transaction that was used to calculate the
            loyalty points.


            VisionPLUS Service Data: GPXTRO-SPEND-AMT'
          example: 0
        actualValue:
          type: number
          description: 'Max Length: 17


            Actual value of the points redeemed from the service provider.


            VisionPLUS Service Data: GPXTRO-ACT-VALUE'
          example: 0
        transactionEffectiveDate:
          type: string
          description: 'Effective date of the transaction (in ISO 8601).


            VisionPLUS Service Data: GPXTRO-TXN-EFF-DTE'
          format: date
          example: 2023-06-29
        internationalOrDomestic:
          type: string
          description: 'Max Length: 25


            Indicator that displays either DOMESTIC TRANSACTION or INTERNATIONAL TRANSACTION.


            VisionPLUS Service Data: GPXTRO-INT-DOM-TRXN'
          example: DOMESTIC TRANSACTION
        transactionRateTierSequenceNumber:
          type: integer
          description: 'Max Length: 3

            Transaction rate tier sequence number.


            VisionPLUS Service Data: GPXTRO-TIER-SEQ'
          format: int32
          example: 0
        transactionDescription:
          type: string
          description: 'Max Length: 40


            Description assigned to the transaction when it was entered.


            VisionPLUS Service Data: GPXTRO-TXN-DESC'
          example: '0'
        userDefinedAccountsReceivableReferenceNumber:
          type: string
          description: 'Max Length: 23


            User-defined accounts receivable reference number assigned to the transaction.


            VisionPLUS Service Data: GPXTRO-TXN-REF-NO-AR'
          example: '0'
        userDefinedLmsReferenceNumber:
          type: string
[...]
