openapi: 3.0.1
info:
  title: FirstVision™ Transactions Service - API Documentation
  description: This documentation describes the REST APIs provided by the FirstVision™ Transactions Microservice for Ualá.
  version: "1.2"
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /transactions/outstanding-authorizations-L8V3/details:
    post:
      tags:
      - Transactions
      summary: "Outstanding Authorizations Fas Service. VMX Service: M.FAS.OUTSTANDING.AUTH.INQ,\
        \ L8V3"
      description: Fetches data of both old and new transactions(including today's)
        which are settled to an account
      operationId: outstandingAuthorizationL8V3
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutstandingAuthorizationFasL8V3Request'
        required: true
      responses:
        "400":
          description: Bad Request
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "401":
          description: Unauthorized
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutstandingAuthorizationFasL8V3Response'
  /transactions/details:
    post:
      tags:
      - Transactions
      summary: "Transaction details. VMX Service: M.CMS.TRANSACTIONDETAIL.INQ, R8V6"
      description: Provides transaction detail information for the current billing
        cycle or statement transactions within a date range
      operationId: details
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsDetailsRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: |
            VPL5STD01I - NO TRANSACTIONS FOUND FOR REQUEST
            VPL5STD04E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 000-998
            VPL5STD05E - ACCOUNT NUMBER IS NOT NUMERIC OR EQUALS SPACES
            VPL5STD06E - FUNCTION TYPE VALID VALUES ARE SPACE, C, R, M OR B
            VPL5STD07E - NUMBER OF TRANSACTIONS CANNOT BE GREATER THAN 50
            VPL5STD08E - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE, 0 OR 1
            VPL5STD09E - NUMBER OF MONTHS IS REQUIRED WHEN REQUEST IS BY MONTH
            VPL5STD10E - TRANSACTION START DATE IS NOT A VALID DATE
            VPL5STD11E - TRANSACTION START DATE IS NOT NUMERIC
            VPL5STD12E - TRANSACTION START DATE IS NOT VALID WHEN REQUEST IS BY MONTH
            VPL5STD13E - TRANSACTION END DATE FORMAT IS NOT A VALID DATE
            VPL5STD14E - TRANSACTION END DATE IS NOT NUMERIC
            VPL5STD15E - TRANSACTION END DATE IS NOT VALID WHEN REQUEST IS BY MONTH
            VPL5STD16E - TRANSACTION END DATE MUST BE GREATER THAN TRANSACTION BEGIN DATE
            VPL5STD17E - STATEMENT OCCURRENCE NUMBER IS NOT NUMERIC
            VPL5STD20S - ORGANIZATION NUMBER NOT FOUND ON FILE
            VPL5STD21S - FOREIGN ORGANIZATION NUMBER IS NOT FOUND ON FILE
            VPL5STD22S - ACCOUNT NOT FOUND ON FILE
            VPL5STD23I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL5STD23S - NO TRANSACTIONS FOUND - STATEMENTS
            VPL5STD24S - NO TRANSACTIONS FOUND - STATEMENTS
            VPL5STD25I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL5STD26E - MINIMUM TRANSACTION AMOUNT MUST BE NUMERIC
            VPL5STD27E - MAXIMUM TRANSACTION AMOUNT MUST BE NUMERIC
            VPL5STD28E - MIN AND MAX TRANSACTION AMOUNTS MUST BE NUMERIC
            VPL5STD29E - MINIMUM AMOUNT CANNOT BE GREATER THAN MAXIMUM AMOUNT
            VPL5STD30E - FUNCTION CODE MUST BE EQUAL TO SPACE, N OR P
            VPL5STD31E - START TOKEN SEQUENCE NUMBER MUST BE NUMERIC
            VPL5STD32E - START TOKEN STATEMENT DATE MUST BE NUMERIC
            VPL5STD33E - STATEMENT DATE IS INVALID
            VPL5STD34E - START TOKEN FILE TYPE IS INVALID. VALID VALUES ARE C S AND L
            VPL5STD35E - CURRENCY CODE NOT ON FILE
            VPL5STD36E - INVALID TRANSACTION TYPE
            VPL5STDZ4S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5STDZ5S - REQUESTED ORGANIZATION NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsDetailsResponse'
components:
  schemas:
    OutstandingAuthorizationFasL8V3Request:
      required:
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          maximum: 999
          minimum: 1
          type: integer
          description: Organization Number
          format: int32
          example: 807
        effectiveAuthorizationDate:
          type: string
          description: Effective Authorization Date
          format: date
        effectiveAuthorizationTime:
          type: integer
          description: Effective Authorization Time
          format: int32
          example: 112233
        accountNumber:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 19
          type: string
          description: Account Number
          example: "4513074002573466583"
        foreignUseIndicator:
          maximum: 1
          minimum: 0
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Foreign Use Indicator. The values are:
            0 = Local account
            1 = Foreign account.
          example: "0"
        functionCode:
          type: string
          description: Function code for navigating results
        filter:
          type: string
          description: |-
            Filter for results. The values are:
            Space or low value = All authorizations
            A = Approved authorizations
            D = Declined authorizations.
          example: A
        numberOfAuthorizationsRequested:
          type: integer
          description: "Number of authorizations requested. The values are 1 through\
            \ 100. \nThe initial value is 100"
          format: int32
          example: 100
        authorizationNumber:
          type: string
          description: Authorization number
          example: "123"
        logRecordTypeOfTheTransaction:
          type: integer
          description: Log Record Type Of The Transaction
          format: int32
          example: 6
        extentOfTheLogFile:
          type: integer
          description: Extent Of The Lo gFile
          format: int32
          example: 0
        relativeByteAddress:
          type: integer
          description: Relative By Address
          format: int32
          example: 110150302
        authorizationDateFrom:
          type: string
          description: authorization From Date
          format: date
        authorizationDateTo:
          type: string
          description: 'authorization To Date '
          format: date
        cardNumber:
          type: string
          description: Unique identifier or token associated with the card number
            or payment instrument (FirstVision PAN Token).
          example: 000540208ID5IXX3865
      description: Outstanding Authorizations Request
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    OutstandingAuthorizationFasL8V3.ResponseFundXfrFld:
      type: object
      properties:
        xfrFromCurrency:
          type: integer
          format: int32
        xfrFromAmount:
          type: integer
          format: int32
        xfrToAmount:
          type: number
        xfrFeeAmount:
          type: number
    OutstandingAuthorizationFasL8V3Response:
      type: object
      properties:
        currencyNumberOfDecimals:
          type: integer
          format: int32
        currencyCode:
          type: integer
          format: int32
        foreignUseIndicator:
          type: string
        organizationNumber:
          type: integer
          format: int32
        accountNumber:
          type: string
        nextToken:
          $ref: '#/components/schemas/OutstandingAuthorizationFasL8V3Response.NextToken'
        prevToken:
          $ref: '#/components/schemas/OutstandingAuthorizationFasL8V3Response.PrevToken'
        more:
          type: string
        numberOfAuthorizationsReturned:
          type: integer
          format: int32
        authorizationsData:
          type: array
          items:
            $ref: '#/components/schemas/OutstandingAuthorizationFasL8V3Response.AuthorizationData'
    OutstandingAuthorizationFasL8V3Response.AuthorizationData:
      type: object
      properties:
        sequence:
          type: integer
          format: int32
        effectiveDate:
          type: string
          format: date
        time:
          type: string
        requestType:
          type: string
        action:
          type: string
        actionReason:
          type: integer
          format: int32
        postingDate:
          type: string
          format: date
        creditPlan:
          type: integer
          format: int32
        authorizationAmount:
          type: string
        authorizationCode:
          type: string
        authorizationType:
          type: string
        cardNumber:
          type: string
          description: Unique identifier or token associated with the card number
            or payment instrument (FirstVision PAN Token).
          example: 000540208ID5IXX3865
        cardSequence:
          type: integer
          format: int32
        merchantCategoryCode:
          type: integer
          format: int32
        merchantCategoryCodeDescription:
          type: string
        transactionRecordType:
          type: integer
          format: int32
        logExtent:
          type: integer
          format: int32
        relativeByteAddress:
          type: integer
          format: int32
        reasonDescription:
          type: string
        cardAcceptorNameAndLocation:
          type: string
        transactionDescription:
          type: string
        transactionEntryMode:
          type: integer
          format: int32
        transactionEntryModeDescription:
          type: string
        merchantNumber:
          type: string
        authorizationResponseCode:
          type: string
        creditAvailable:
          type: string
        creditAvailableForCashAdvances:
          type: string
        accountCurrencyCode:
          type: string
        stateOrCountry:
          type: string
        transactionSourceTerminal:
          type: string
        merchantCode:
          type: string
        processingCode:
          type: integer
          format: int32
        transactionAmount:
          type: string
        settlementAmount:
          type: string
        cardholderBillingAmount:
          type: string
        systemAuditTraceNumber:
          type: string
        localTimeOfTheTransaction:
          type: string
        localDateOfTheTransaction:
          type: string
          format: date
        retrievalReferenceNumber:
          type: number
          format: double
        transactionCurrencyCode:
          type: integer
          format: int32
        settlementCurrencyCode:
          type: integer
          format: int32
        billingCurrencyCode:
          type: integer
          format: int32
        terminalNetworkName:
          type: string
        offeredDownPayment:
          type: number
        walletFeeAmount:
          type: string
        embosserName:
          type: string
        cashBackAmount:
          type: string
        exchangeRate:
          type: number
        exchangeRateNode:
          type: integer
          format: int32
        remainingDays:
          type: integer
          format: int32
        cardAcceptorName:
          type: string
        merchantPhone:
          type: string
        countryCode:
          type: integer
          format: int32
        multiWalletPrepaid:
          $ref: '#/components/schemas/OutstandingAuthorizationFasL8V3Response.MultiWalletPrepaid'
    OutstandingAuthorizationFasL8V3Response.MultiWalletPrepaid:
      type: object
      properties:
        currencyId:
          type: integer
          format: int32
        authWalletAmount:
          type: number
        baseCurrencyAmount:
          type: number
        authWalletMarkupAmount:
          type: number
        conversionFeeAmount:
          type: number
        crossWalletXfrFlag:
          type: integer
          format: int32
        walletPrstFlag:
          type: integer
          format: int32
        walletToDwltConversionRate:
          type: integer
          format: int32
        xfrToCurrency:
          type: integer
          format: int32
        fundXfrFld:
          $ref: '#/components/schemas/OutstandingAuthorizationFasL8V3.ResponseFundXfrFld'
        atmWdrlFeeAmount:
          type: number
        crosBrdrFeeAmount:
          type: number
        ccaFeeAmount:
          type: number
        ivaTaxAmount:
          type: number
    OutstandingAuthorizationFasL8V3Response.NextToken:
      type: object
      properties:
        effectiveDate:
          type: string
          format: date
        time:
          type: string
        logRecordTypeOfTheTransaction:
          type: integer
          format: int32
        extentOfTheLogFile:
          type: integer
          format: int32
        relativeByteAddress:
          type: integer
          format: int32
        cardNumberNext:
          type: string
    OutstandingAuthorizationFasL8V3Response.PrevToken:
      type: object
      properties:
        effectiveDate:
          type: string
          format: date
        time:
          type: string
        logRecordTypeOfTheTransaction:
          type: integer
          format: int32
        extentOfTheLogFile:
          type: integer
          format: int32
        relativeByteAddress:
          type: integer
          format: int32
        cardNumberPrev:
          type: string
    TransactionsDetailsRequest:
      required:
      - accountNumber
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          maximum: 999
          minimum: 1
          type: integer
          description: |-
            Length: 3
            Organization Number.
            VisionPLUS Service Data: ARXTDI-ORG
          format: int32
          example: 807
        accountNumber:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 19
          type: string
          description: |
            Length: 19
            Account Number or Card Number On Either The Embosser Record Or The Account Base Segment Record.VisionPLUS Service Data: ARXTDI-ACCT
          example: "4513074002573466583"
        functionCode:
          maximum: 1
          minimum: 0
          type: string
          description: |-
            Length: 1
            Function Code of the transaction.
            VisionPLUS Service Data: ARXTDI-TXN-DETAIL
          example: B
        transactionDateRange:
          $ref: '#/components/schemas/TransactionsDetailsRequest.TransactionDateRange'
        numberOfTransactions:
          maximum: 50
          minimum: 1
          type: integer
          description: |-
            Length: 2
            Number Of Transactions. The Maximum Number Is 50.
            VisionPLUS Service Data: ARXTDI-NUMBER-TXNS
          format: int32
          example: 10
        foreignUserIndicator:
          maximum: 1
          minimum: 0
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Length: 1
            Foreign use indicator.
            The values are:
            * Zero, space, low values = Local account
            * 1 = Foreign account
            VisionPLUS Service Data: ARXTDI-FOREIGN-USE
          example: "0"
        startItem:
          $ref: '#/components/schemas/TransactionsDetailsRequest.SItem'
        transactionNumberMonths:
          maximum: 12
          minimum: 1
          maxLength: 2
          minLength: 2
          type: string
          description: "Length: 2 \nTransaction Number Month\nVisionPLUS Service Data:\
            \ ARXTDI-TXN-NBR-MONTHS"
        transactionAmountRange:
          $ref: '#/components/schemas/TransactionsDetailsRequest.TransactionAmountRange'
        keyword:
          maximum: 20
          minimum: 1
          type: string
          description: |-
            Length: 20
            Keyword.
            VisionPLUS Service Data: ARXTDI-KEYWORD
        transactionType:
          maximum: 1
          minimum: 0
          type: integer
          description: |-
            Length: 1
            Transaction Type.
            The values are:
            * Zero = All
            * 1 = Interest and fee
            * 2 = Payment
            * 3 = Dispute
            * 4 = Warehouse
            * 5 = Interest only
            * 6 = Fee only
            * 7 = Card only
            VisionPLUS Service Data: ARXTDI-TXN-TYPE
          format: int32
        merchantInformationIndicator:
          maximum: 1
          minimum: 0
          type: string
          description: |-
            Length: 1
            Merchant information indicator.
            The values are:
            0 = Merchant information is not required
            1 = Merchant information is required
            VisionPLUS Service Data: ARXTDI-MERCH-INFO-IND
      description: Transactions Details Request
    TransactionsDetailsRequest.SItem:
      type: object
      properties:
        sequenceNumber:
          type: integer
          description: |-
            Field Populated From A Previous Service Request—For Internal Use Only
            VisionPLUS Service Data: ARXTDI-START-SEQ-NBR
          format: int32
          example: 7
        statementDate:
          type: string
          description: |-
            Field Populated From A Previous Service Request If More Transactions Are Required—For Internal Use Only
            VisionPLUS Service Data: ARXTDI-START-STMT-DATE
          format: date
        type:
          type: string
          description: |-
            Length: 1
            Start type.
            The values are:
            C = Current statement
            L = Large statement file
            S = Small statement file
            VisionPLUS Service Data: ARXTDI-START-FILE-TYPE
          example: C
    TransactionsDetailsRequest.TransactionAmountRange:
      type: object
      properties:
        from:
          maximum: 99999999999999999
          minimum: 0
          type: number
          description: |-
            Length: 17
            Transaction amount range. This field indicates the “from” amount.VisionPLUS Service Data: ARXTDI-TXN-AMT-FROM
          example: 0
        to:
          maximum: 99999999999999999
          minimum: 0
          type: number
          description: |-
            Length: 17
            Transaction amount range. This field indicates the “to” amountVisionPLUS Service Data: ARXTDI-TXN-AMT-THRU
          example: 100000
    TransactionsDetailsRequest.TransactionDateRange:
      type: object
      properties:
        from:
          type: string
          description: |-
            Length: 7
            Transaction date range. This field indicates the “from” date.
            VisionPLUS Service Data: ARXTDI-TXN-DATE-FROM
          format: date
        to:
          type: string
          description: |-
            Length: 7
            Transaction date range. This field indicates the “to” date.
            VisionPLUS Service Data: ARXTDI-TXN-DATE-THRU
          format: date
    TransactionDetailsResponse.CurrencyData:
      type: object
      properties:
        code:
          type: integer
          description: |-
            Length : 3
            Currency code.
            VisionPLUS Service Data: ARXPQO-CURR-NBR
          format: int32
        numberOfDecimal:
          type: integer
          description: |-
            Number of decimal.
            VisionPLUS Service Data: ARXPQO-CURR-NOD
          format: int32
    TransactionsDetailsResponse:
      type: object
      properties:
        currencyData:
          $ref: '#/components/schemas/TransactionDetailsResponse.CurrencyData'
        organizationNumber:
          type: integer
          description: |-
            Length : 3
            Organization Number
            VisionPLUS Service Data: ARXTDO-ACCT-ORG
          format: int32
        logo:
          type: integer
          description: |-
            Length : 3
            Logo.
            VisionPLUS Service Data: ARXTDO-ACCT-LOGO
          format: int32
        foreignUseIndicator:
          type: string
          description: |-
            Length : 1
            Foreign use indicator.
            The values are:
            * Zero, space, low values = Local account
            * 1 = Foreign account
            VisionPLUS Service Data: ARXTDO-FOREIGN-USE
        numberOfMonths:
          type: string
          description: |-
            Number of months to retrieve transaction records.
            VisionPLUS Service Data: ARXTDO-TXN-NBR-MONTHS
        numberOfTransactionRecords:
          type: integer
          description: |-
            Length : 1
            Number Of Transaction Records.
            VisionPLUS Service Data: ARXTDO- NBR-RETURNED-ITEMS
          format: int32
        transactionData:
          type: array
          items:
            $ref: '#/components/schemas/TransactionsDetailsResponse.TransactionDetails'
        more:
          type: string
          description: |-
            Length : 1
            Code that indicates if more records are on file.
            The values are:
            * N = No more records on file
            * Y = More records on file
            VisionPLUS Service Data: ARXTDO-MORE-IND
        startItem:
          $ref: '#/components/schemas/TransactionsDetailsResponse.SItem'
    TransactionsDetailsResponse.SItem:
      type: object
      properties:
        sequenceNumber:
          type: integer
          description: |-
            Sequence.
            VisionPLUS Service Data: ARXTDI-START-SEQ-NBR
          format: int32
        statementDate:
          type: string
          description: |-
            Length : 7
            Statement date.
            VisionPLUS Service Data: ARXTDI-START-STMT-DATE
          format: date
        type:
          type: string
          description: |-
            Length : 1
            Start type.
            The values are:
            * C = Current statement
            * L = Large statement file
            * S = Small statement file
            VisionPLUS Service Data: ARXTDI-START-FILE-TYPE
    TransactionsDetailsResponse.TransactionDetails:
      type: object
      properties:
        sequence:
          type: integer
          description: |-
            Length : 1
            sequence
            ARXTDO-START-SEQ-NBR
          format: int32
        accountOrganizationNumber:
          type: integer
          description: |-
            Length : 3
            Account Organization Number.
            VisionPLUS Service Data: ARXTDO-ORG
          format: int32
        accountLogo:
          type: integer
          description: |-
            Length : 3
            Account Logo.
            VisionPLUS Service Data: ARXTDO-LOGO
          format: int32
        accountNumber:
          type: string
          description: |-
            Length : 19
            Account Number.
            VisionPLUS Service Data: ARXTDO-ACCT
        recordNumber:
          type: integer
          description: |-
            Length : 5
            Record Number.
            VisionPLUS Service Data: ARXTDO-REC-NBR
          format: int32
        cardNumber:
          type: string
          description: |-
            Length : 19
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).
            VisionPLUS Service Data: ARXTDO-CARD-NBR
          example: 000540208ID5IXX3865
        cardSequence:
          type: integer
          description: |-
            Length : 5
            Card Sequence.
            VisionPLUS Service Data: ARXTDO-CARD-SEQ
          format: int32
        cardBlockCode:
          type: string
          description: |-
            Length : 1
            Card Block Code.
            VisionPLUS Service Data: ARXTDO-CARD-BLK-CODE
        cardAcceptorId:
          type: string
          description: |-
            Length : 16
            Card Acceptor ID.
            VisionPLUS Service Data: ARXTDO-CARD-ACCEPTOR-ID
        effectiveDate:
          type: string
          description: |-
            Length : 8
            Effective Date.
            VisionPLUS Service Data: ARXTDO-EFF-DATE
          format: date
        postDate:
          type: string
          description: |-
            Length : 7
            Post Date.
            VisionPLUS Service Data: ARXTDO-POST-DATE
          format: date
        type:
          type: string
          description: |-
            Length : 1
            Type.
            VisionPLUS Service Data: ARXTDO-TYPE
        transactionCode:
          type: integer
          description: |-
            Length : 4
            Transaction Code.
            VisionPLUS Service Data: ARXTDO-TXN-CODE
          format: int32
        batchDate:
          type: string
          description: |-
            Length : 7
            Batch Date.
            VisionPLUS Service Data: ARXTDO-BATCH-DATE
          format: date
        amount:
          type: number
          description: |-
            Length : 17
            Amount.
            VisionPLUS Service Data: ARXTDO-AMT
        relationshipPaymentAmount:
          type: number
          description: |-
            Length : 17
            Relationship Payment Amount.
            VisionPLUS Service Data: ARXTDO-REL-PMT-AMT
        originalPaymentAmount:
          type: number
          description: |-
            Length : 17
            Original Payment Amount.
            VisionPLUS Service Data: ARXTDO-ORIG-PMT-AMT
        unitPrice:
          type: number
          description: |-
            Length : 17
            Unit Price.
            VisionPLUS Service Data: ARXTDO-UNIT-PRICE
        quantity:
          type: integer
          description: |-
            Length : 3
            Quantity.
            VisionPLUS Service Data: ARXTDO-QUANTITY
          format: int32
        authorizationCode:
          type: string
          description: |-
            Length : 6
            Authorization Code.
        planNumber:
          type: integer
          description: |-
            Length : 5
            Plan Number.
            VisionPLUS Service Data: ARXTDO-PLAN
          format: int32
        planSequenceNumber:
          type: integer
          description: |-
            Length : 1
            Plan Sequence Number.
            VisionPLUS Service Data: ARXTDO-PLAN-SEQ
          format: int32
        planOpenDate:
          type: string
          description: |-
            Length : 1
            Plan Open Date.
            VisionPLUS Service Data: ARXTDO-PLAN-OPEN-DATE
          format: date
        salesClerk:
          type: string
          description: |-
            Length : 12
            Sales clerk
            VisionPLUS Service Data: ARXTDO-SALESPERSON
        ticketNumber:
          type: string
          description: |-
            Length : 15
            Ticket Number.
            VisionPLUS Service Data: ARXTDO-TICKET-NBR
        purchaseOrder:
          type: string
          description: |-
            Length : 16
            Purchase Order.
            VisionPLUS Service Data: ARXTDO-PURCHASE-ORDER
        paymentReferenceNumber:
          type: number
          description: |-
            Length : 15
            Payment Reference Number.
            VisionPLUS Service Data: ARXTDO-PMT-REFERENCE-NBR
        itemNumber:
          type: number
          description: |-
            Length : 5
            Item Number.
            VisionPLUS Service Data: ARXTDO-ITEM-NBR
        referenceNumber:
          type: string
          description: Reference Number.
        description:
          type: string
          description: |-
            Length : 40
            Description
            VisionPLUS Service Data: ARXTDO-DESCRIPTION
        points:
          type: number
          description: |-
            Length : 9
            Points.
            VisionPLUS Service Data: ARXTDO-PTS
        programNumber:
          type: string
          description: |-
            Length : 1
            Program Number.
            VisionPLUS Service Data: ARXTDO-PGM-NBR
        categoryCode:
          type: integer
          description: |-
            Length : 5
            Category Code.
            VisionPLUS Service Data: ARXTDO-CATEGORY-CODE
          format: int32
        skuNumber:
          type: integer
          description: |-
            Length : 9
            SKU Number.
            VisionPLUS Service Data: ARXTDO-SKU-NBR
          format: int32
        department:
          type: string
          description: |-
            Length : 4
            Department
            VisionPLUS Service Data: ARXTDO-DEPT
        source:
          type: string
          description: |-
            Length : 1
            Source.
            VisionPLUS Service Data: ARXTDO-SOURCE
        visaTransactionId:
          type: integer
          description: |-
            Length : 15
            Visa Transaction ID.
            VisionPLUS Service Data: ARXTDO-VISA-TRAN-ID
        interchangeFee:
          type: number
          description: |-
            Length : 9
            Interchange Fee.
            VisionPLUS Service Data: ARXTDO-INTERCHG-FEE
        qualificationIndicator:
          type: string
          description: |-
            Length : 1
            Qualification Indicator.
            The value is C (Domestic other non-MasterCard processed)
            VisionPLUS Service Data: ARXTDO-QUAL-IND
        merchantCountryCode:
          type: string
          description: |-
            Length : 3
            Merchant Country Code.
            VisionPLUS Service Data: ARXTDO-MERCH-COUNTRY-CODE
        insuranceProduct:
          type: string
          description: |-
            Length : 2
            Insurance Product.
            VisionPLUS Service Data: ARXTDO-INS-PROD
        ddaAccountIndicator:
          type: string
          description: |-
            Length : 1
            DDA Account Indicator.
            This field displays only for debit card transactions.
            Debit card functionality must be active (DEBIT ACTIVE is set to 1 on ARMS02 and ARMO04 for a debit card logo and TYPE OF ACCOUNT is set to D on ARML01).
            VisionPLUS Service Data: ARXTDO-DDA-SAV-IND
        transferredFraudTransactionStatus:
          type: string
          description: |-
            Length : 1
            Flag that indicates the status of the transferred fraud transaction.
            The values are:
            * P = Transfer pending
            * T = Transferred out
            * X = Transferred in
            * Space = Not applicable
            VisionPLUS Service Data: ARXTDO-TRAN-STATUS
        posEntryMode:
          type: string
          description: |-
            Length : 2
            Pos Entry Mode.
            VisionPLUS Service Data: ARXTDO-POS-ENTRY-MODE
        originalTransactionAmount:
          type: number
          description: |-
            Length : 17
            Original Transaction Amount.
            VisionPLUS Service Data: ARXTDO-ORIG-TXN-AMOUNT
        originalTransactionAmountFormatted:
          type: string
          description: |-
            Length : 17
            Original Transaction Amount Formatted.
            VisionPLUS Service Data: ARXTDO-ORIG-TXN-AMTFORMATTED
        originalTransactionCurrency:
          type: string
          description: |-
            Length : 13
            Original Transaction Currency.
            VisionPLUS Service Data: ARXTDO-ORIG-TXN-CURR
        originalTransactionCurrencyDescription:
          type: string
          description: |-
            Length : 28
            Original Transaction Currency Description.
            VisionPLUS Service Data: ARXTDO-ORIG-TXN-CURR-DESC
        transactionConversionRate:
          type: number
          description: |-
            Length : 17
            Transaction Conversion Rate.
            VisionPLUS Service Data: ARXTDO-TXN-CONV-RATE
          format: double
        transactionConversionRateFormatted:
          type: string
          description: |-
            Length : 18
            Transaction Conversion Rate Formatted.
            VisionPLUS Service Data: ARXTDO-TXN-CONV-RATEFORMATTED
        merchantCity:
          type: string
          description: |-
            Length : 21
            Merchant City.
            VisionPLUS Service Data: ARXTDO-MERCH-CITY
        merchantState:
          type: string
          description: |-
            Length : 3
            Merchant State.
            VisionPLUS Service Data: ARXTDO-MERCH-STATE
        merchantPostalCode:
          type: string
          description: |-
            Length : 10
            Merchant Postal Code.
            VisionPLUS Service Data: ARXTDO-MERCH-POSTAL-CD
        merchantPhoneNumber:
          type: string
          description: |-
            Length : 21
            Merchant Phone Number.
            VisionPLUS Service Data: ARXTDO-MERCH-PHONE
        categoryDescription:
          type: string
          description: |-
            Length : 28
            Category Description.
            VisionPLUS Service Data: ARXTDO-CATEGORY-DESC
        feeAdjustmentIndicator:
          type: string
          description: |-
            Length : 1
            Fee Adjustment Indicator.
            The values are:
            * N = No adjustment
            * Y = Adjustment
            VisionPLUS Service Data: ARXTDO-FEE-ADJ-IND
        interestAdjustmentIndicator:
          type: string
          description: |-
            Length : 1
            Interest Adjustment Indicator.
            The values are:
            * N = No adjustment
            * Y = Adjustment
            VisionPLUS Service Data: ARXTDO-INT-ADJ-IND
        chargebackIndicator:
          type: string
          description: |-
            Length : 1
            The values are:
            * N = Transaction is not eligible for chargeback
            * Y = Transaction is eligible for chargeback
            VisionPLUS Service Data: ARXTDO-CHG-BK-IND
        disputeIndicator:
          type: string
          description: |-
            Length : 1
            Dispute Indicator.
            The values are:
            * N = No dispute
            * Y = Dispute
            VisionPLUS Service Data: ARXTDO-DISPUTE-IND
        fraudIndicator:
          type: string
          description: |-
            Length : 1
            Fraud Indicator.
            The values are:
            * N = No fraud
            * Y = Fraud
            VisionPLUS Service Data: ARXTDO-FRAUD-IND
        copyRequestIndicator:
          type: string
          description: |-
            Length : 1
            Copy Request Indicator.
            The values are:
            * N = No copy request
            * Y = Copy request
            VisionPLUS Service Data: ARXTDO-RETR-REQ-IND
        reversalIndicator:
          type: string
          description: |-
            Length : 1
            Reversal Indicator.
            The values are:
            * N = No reversal
            * Y = Reversal
            VisionPLUS Service Data: ARXTDO-REVERSAL-IND
        misappliedIndicator:
          type: string
          description: |-
            Length : 1
            Misapplied Indicator.
            The values are:
            * N = Not misapplied
            * Y = Misapplied
            VisionPLUS Service Data: ARXTDO-MIS-APPL-IND
        ichIndicator:
          type: string
          description: |-
            Length : 1
            Ich Indicator.
            The values are:
            N = No ICH
            Y = ICH
            VisionPLUS Service Data: ARXTDO-ICH-IND
        disputeAuxiliaryFileIndicator:
          type: string
          description: |-
            Length : 1
            Dipute Auxiliary File Indicator.
            The values are:
            * N = No dispute auxiliary file
            * Y = Dispute auxiliary file
            VisionPLUS Service Data: ARXTDO-DISP-AUX-FILE-IND
        stopOrResumeIndicator:
          type: string
          description: |-
            Length : 1
            Stop Or Resume Indicator.
            The values are:
            * N = Stop a recurring transaction
            * Y = Resume a recurring transaction
            VisionPLUS Service Data: ARXTDO-STOP-RESUME-IND
        fraudTransferIndicator:
          type: string
          description: |-
            Length : 1
            Fraud Transfer Indicator.
            The values are:
            * N = No fraud transfer
            * Y = Fraud transfer
            VisionPLUS Service Data: ARXTDO-FRAUD-XFR-IND
        storeNumber:
          type: integer
          description: |-
            Length : 9
            Store Number.
            VisionPLUS Service Data: ARXTDO-STORE-NBR
          format: int32
        logicModuleNumber:
          type: integer
          description: |-
            Length : 3
            Logic Module Number.
            VisionPLUS Service Data: ARXTDO-LOGIC-MODULE
          format: int32
x-config:
  tryItOut: true