openapi: 3.0.1
info:
  title: FirstVision™ Cards Service - API Documentation
  description: This documentation describes the REST APIs provided by the FirstVision™ Cards Microservice for Ualá.
  version: "1.2"
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
tags:
- name: Embosser
  description: Embosser
- name: Pin
  description: Pin
- name: Card
  description: Card
paths:
  /cards/travel:
    put:
      tags:
      - Card
      summary: "Update Travel Indicator Data. VMX service: M.CMS.TRAVELIND.UPD, L8V1"
      description: Updates cardholder travel Indicator data (travel notice)
      operationId: updateTravelIndicator
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelUpdateRequest'
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "422":
          description: |-
            VPL5STV02E - ORG NOT FOUND
            VPL5STV04S - CARD NUMBER NOT FOUND
            VPL5STV06E - FOREIGN USE IND - NON VALID VALUES OTHER THAN ("0","1" & SPACES)
            VPL5STVZ4S - ORG LOGO NOT FOUND
            VPL5STVZ5S - REQUESTED ORGANIZATION NOT FOUND
            VPL5STV14S - ORG REC NOT FOUND
            VPL5STV15I - INCOMING ORG NOT FOUND AND ALSO NOT MATCHING WITH DUAL ORG
            VPL5STV16S - ORG RECORD NOT FOUND OR ORG RECORD STATUS IS PENDING
            VPL5STV18S - CARD NUMBER NOT FOUND OR ADD PENDING OR PURGED
            VPL5STV19S - LOGO RECORD NOT FOUND OR ADD PENDING
            VPL5STV20S - ALPHA COUNTRY NOT FOUND
            VPL5STV08E - INVALID AMED TRAVEL START/END DATE FOR 1ST OCCURANCE
            VPL5STV09E - INVALID AMED TRAVEL START/END DATE FOR 2ND OCCURANCE
            VPL5STV10E - INVALID AMED TRAVEL START/END DATE FOR 3RD OCCURANCE
            VPL5STV11E - INVALID AMED TRAVEL START/END DATE FOR 4TH OCCURANCE
            VPL5STV12E - INVALID AMED TRAVEL START/END DATE FOR 5TH OCCURANCE
            VPL5STV07E - VALID TRAVEL IND VALUES ARE 0,1,OR 2
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelUpdateResponse'
        "404":
          description: Not Found
  /cards/embosser/block:
    put:
      tags:
      - Embosser
      summary: "Block or unblock Card. VMX Service: M.CMS.EMB.BLKCD.UPD, R8V1"
      description: Provides the ability to apply or remove a block code on a Card
        associated to an Account
      operationId: block
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardDetailsForEmbosserBlockRequest'
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "422":
          description: |
            VPL5SCB01E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SCB01S - CARD NUMBER REQUIRED
            VPL5SCB02E - CARD SEQUENCE MUST BE NUMERIC AND VALID VALUES ARE 0001 - 9998
            VPL5SCB02S - ORGANIZATION NOT DETERMINED
            VPL5SCB03E - BLOCK CODE MUST BE SPACE FOR UNBLOCK REQUEST
            VPL5SCB03S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SCB04E - BLOCK CODE REQUIRED FOR UPDATE REQUEST
            VPL5SCB04S - ORGANIZATION NUMBER NOT FOUND
            VPL5SCB05E - INVALID FUNCTION CODE
            VPL5SCB05S - CARD NUMBER NOT FOUND
            VPL5SCB06E - BLOCK CODE MUST BE A CHARACTER A THROUGH Z
            VPL5SCB06S - LOGO NUMBER NOT FOUND
            VPL5SCB07S - UNBLOCK NOT ALLOWED AS BLOCK CODE HAS NOT BEEN UPDATED
            VPL5SCB08S - CARD SEQUENCE NUMBER REQUIRED FOR THIS CARD SCHEME
            VPL5SCB09S - EMBOSSER BLOCK CODE SERVICE IS NOT AVAILABLE FOR THIS CARD SCHEME
            VPL5SCB10S - BLOCK CODE CANNOT BE REPLACED WITH A LOWER OR SAME PRIORITY
            VPL5SCB11S - CARD NUMBER REQUIRED
            VPL5SCB15S - CARD NUMBER NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardsDetailsForEmbosserBlockResponse'
        "404":
          description: Not Found
  /cards/credit-limit:
    put:
      tags:
      - Card
      summary: "Update Credit Limit. VMX service: M.CMS.CREDITLIMIT.UPD, R8V1"
      description: Updates the credit limit amount of an Account
      operationId: updateCreditLimit
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      - name: signonName
        in: header
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditLimitUpdateRequest'
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "422":
          description: |
            VPL5SCL03E - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998
            VPL5SCL04E - REQUESTED CARD/ACCT NUMBER IS NOT NUMERIC OR EQUAL SPACES
            VPL5SCL05E - CREDIT LIMIT - DOES NOT CONFORM TO CURRENCY NOD
            VPL5SCL06E - CREDIT LIMIT MUST BE NUMERIC
            VPL5SCL07E - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE, 0 OR 1
            VPL5SCL08I - CREDIT LIMIT UNCHANGED, UPDATE BYPASSED
            VPL5SCL10S - ORGANIZATION NOT FOUND ON FILE
            VPL5SCL11S - FOREIGN ORGANIZATION NOT FOUND ON FILE
            VPL5SCL12S - ACCOUNT NOT FOUND ON FILE
            VPL5SCL13S - RELATIONSHIP ACCOUNT NOT FOUND ON FILE
            VPL5SCL14S - LOGO NOT FOUND ON FILE
            VPL5SCL15E - CREDIT LIMIT INVALID FOR PREPAID/DEBIT ACCOUNT TYPES
            VPL5SCL16E - CREDIT LIMIT INVALID FOR RELATIONSHIP SUB-ACCOUNT
            VPL5SCL17E - CREDIT LIMIT CAN NOT EXCEED LOGO CREDIT LIMIT
            VPL5SCL19E - CREDIT LIMIT EXCEEDS SECURED AMOUNT
            VPL5SCL20E - CREDIT LIMIT CAN NOT EXCEED COMPANY NODE CREDIT AVAILABLE
            VPL5SCL21E - CREDIT LIMIT CAN NOT EXCEED PARENT NODE CREDIT AVAILABLE
            VPL5SCL23I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL5SCL24E - CREDIT LIMIT SHOULD BE ZERO FOR FOREIGN ACCOUNT
            VPL5SCL25E - CREDIT LIMIT CANNOT BE LESS THAN ACCT FLOOR LIMIT
            VPL5SCL40E - DELQ AMT EXCEEDED FOR CREDIT LIMIT INCREASE
            VPL5SCL41E - DELQ LVL EXCEEDED FOR CREDIT LIMIT INCREASE
            VPL5SCL42E - ACCT BLOCKED FOR CREDIT LIMIT INCREASE
            VPL5SCLZ4S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SCLZ5S - REQUESTED ORGANIZATION NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditLimitUpdateResponse'
        "404":
          description: Not Found
  /cards/activation:
    put:
      tags:
      - Card
      summary: "Activate Card. VMX service: M.CMS.CARDACTIVATION.UPD, R8V3"
      description: Updates Card activation service
      operationId: activation
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardActivationRequest'
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardActivationResponse'
        "404":
          description: Not Found
  /cards/pin/security-codes:
    post:
      tags:
      - Pin
      summary: "Provides security values. VMX Service: M.CMS.SEC.VALUES.INQ, R8V1"
      description: "Provides security values CVV, CVV2, iCVV and PIN block for a card\
        \ number"
      operationId: securityCodeDetails
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityCodeDetailsRequest'
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityCodeDetailsResponse'
        "404":
          description: Not Found
  /cards/embosser/details-L8VB:
    post:
      tags:
      - Embosser
      summary: "Data from the Embosser record. VMX Service: M.CMS.EMBOSSER.INQ, L8VB"
      description: 'Provides the embosser data from the embosser record (AMED) as
        displayed online on the ARME screens '
      operationId: embosserL8vbDetails
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbosserDetailsL8VBRequest'
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbosserDetailsL8VBResponse'
        "404":
          description: Not Found
  /cards/embosser/card-pan-l8v2:
    post:
      tags:
      - Embosser
      summary: "Card or PAN Token Inquiry. VMX Service: M.CMS.CARD.PAN.INQ, L8V2.This\
        \ API can be used only by PCI Compliant financial institutions and issuers."
      description: 'Inquiry Card number or PAN Token '
      operationId: cardPanInquiryL8V2
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardPanInquiryL8V2Request'
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "422":
          description: |
            VPL5SAD07S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SCI01E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 000-998
            VPL5SCI03E - INPUT CARD NUMBER IS NOT NUMERIC
            VPL5SCI04E - CARD SEQUENCE NUMBER IS NOT NUMERIC
            VPL5SCI05S - REQUESTED CARD / ACCOUNT NUMBER IS NOT FOUND
            VPL5SCI07S - ORG RECORD NOT FOUND
            VPL5SCI09S - EMBOSSER RECORD NOT FOUND
            VPL5SEA04E - INPUT PAN NUMBER SHOULD NOT BE SPACES OR ZEROS
            VPL5SEA05E - CARD NUM DECRYPTED FROM INPUT PAN TOKEN IS SPACES/ZEROS
            VPL5SEA16S - REQUEST FOR PAN TOKEN, BUT ORG LVL PAN TOKEN SW INACTIVE
            VPL5SIE31S - ENC-FAILURE INVALID ORG
            VPL5SIE32S - ENC-FAILURE INV LENGTH
            VPL5SIE33S - ENC-FAILURE CALL FAILURE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardPanInquiryL8V2Response'
        "404":
          description: Not Found
components:
  schemas:
    TravelUpdateRequest:
      required:
      - cardNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization Number.

            VisionPLUS Service Data: AZXTII-ORG
          format: int32
          example: 807
        cardNumber:
          maxLength: 19
          minLength: 12
          type: string
          description: |-
            Length: 19

            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).

            VisionPLUS Service Data: AZXTII-CARD
          example: 000540208ID5IXX3865
        cardSequence:
          type: integer
          description: |-
            Length: 4

            Card Sequence.

            VisionPLUS Service Data: AZXTII-SEQ
          format: int32
          example: 1
        foreignUseIndicator:
          type: string
          description: |-
            Length: 1

            Foreign Use Indicator.

            The values are:

            Zero, space, low values = Local account

            1 = Foreign account

            VisionPLUS Service Data: AZXTII-FOREIGN-USE
          example: "1"
        travelIndicator:
          type: integer
          description: |-
            Length: 1

            Travel indicator.

            VisionPLUS Service Data: AZXTII-TRAVEL-IND
          format: int32
          example: 1
        travelIndicatorOccurrence:
          type: integer
          description: |-
            Length: 1

            Travel indicator occurrence.

            VisionPLUS Service Data: AZXTII-TABLE-OCCURS
          format: int32
          example: 1
        travel:
          type: array
          items:
            $ref: '#/components/schemas/TravelUpdateRequest.Travel'
      description: Update Travel Request
    TravelUpdateRequest.Travel:
      type: object
      properties:
        country:
          type: string
          description: |-
            Length: 3

            Country of travel.

            VisionPLUS Service Data: AZXTII-TRAVEL-COUNTRY
          example: ARG
        startDate:
          type: string
          description: |-
            Length: 8

            Start date of travel.

            VisionPLUS Service Data: AZXTII-TRAVEL-STRT-DT
          format: date
        endDate:
          type: string
          description: |-
            Length: 8

            End date of travel.

            VisionPLUS Service Data: AZXTII-TRAVEL-END-DT
          format: date
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    TravelUpdateResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization Number.

            VisionPLUS Service Data: AZXTIO-ORG
          format: int32
        cardNumber:
          type: string
          description: |-
            Length: 19

            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).

            VisionPLUS Service Data: AZXTIO-CARD
          example: 000540208ID5IXX3865
    CardDetailsForEmbosserBlockRequest:
      required:
      - blockCode
      - cardNumber
      - cardSequence
      - functionCode
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization Number. VisionPLUS Service Data: ARXCBI-ORG
          format: int32
          example: 807
          enum:
          - null
        cardNumber:
          maxLength: 19
          minLength: 12
          type: string
          description: |-
            Length: 19
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token). VisionPLUS Service Data: ARXCBI-CARD-NBR
          example: 000540208ID5IXX3865
          enum:
          - "range[12,19]"
        cardSequence:
          type: integer
          description: |-
            Length: 4

            Card Sequence.
          format: int32
          example: 1
        functionCode:
          maxLength: 1
          minLength: 1
          type: string
          description: |-
            Length: 1

            Function Code.

            The Values Are:

            B = Block

            U = Unblock

            VisionPLUS Service Data: ARXCBI-FUNCTION
          example: U
          enum:
          - "B,U"
        blockCode:
          type: string
          description: |-
            Length: 1

            Block Code.

            VisionPLUS Service Data: ARXCBI-BLOCK-CODE
          example: Z
        processingFlags:
          $ref: '#/components/schemas/CardsDetailsForEmbosserBlockRequest.ProcessingFlags'
      description: Card Embosser Block Request
    CardsDetailsForEmbosserBlockRequest.ProcessingFlags:
      type: object
      properties:
        processingFlag1:
          type: string
          description: |-
            Length: 1

            Processing Flag 1.

            VisionPLUS Service Data: ARXCBI-P-FLAG-1
        processingFlag2:
          type: string
          description: |-
            Length: 1

            Processing Flag 2.

            VisionPLUS Service Data: ARXCBI-P-FLAG-2
        processingFlag3:
          type: string
          description: |-
            Length: 1

            Processing Flag 3.

            VisionPLUS Service Data: ARXCBI-P-FLAG-3
        processingFlag4:
          type: string
          description: |-
            Length: 1

            Processing Flag 4.

            VisionPLUS Service Data: ARXCBI-P-FLAG-4
        processingFlag5:
          type: string
          description: |-
            Length: 1

            Processing Flag 5.

            VisionPLUS Service Data: ARXCBI-P-FLAG-5
    CardsDetailsForEmbosserBlockResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization Number.

            VisionPLUS Service Data: ARXCBO-ORG
          format: int32
        foreignOrg:
          type: integer
          description: |-
            Length: 3

            Foreign Organization.

            VisionPLUS Service Data: ARXCBO-ORG-FRGN
          format: int32
        cardNumber:
          type: string
          description: "\tstring\nLength: 19\n\nUnique identifier or token associated\
            \ with the card number or payment instrument (FirstVision PAN Token).\n\
            \nVisionPLUS Service Data: ARXCBO-CARD-NBR"
          example: 000540208ID5IXX3865
        cardSequence:
          type: integer
          description: |-
            Length: 4

            Card Sequence.

            VisionPLUS Service Data: ARXCBO-CARD-SEQ
          format: int32
        functionCode:
          type: string
          description: "\tstring\nLength: 1\n\nFunction Code.\n\nThe values are:\n\
            \nB = Block\n\nU = Unblock\n\nVisionPLUS Service Data: ARXCBO-FUNCTION"
        blockCode:
          type: string
          description: |-
            Length: 1

            Block Code.

            VisionPLUS Service Data: ARXCBO-BLOCK-CODE
        warningCode1:
          type: string
          description: |-
            Length: 1

            Warning Code 1.

            VisionPLUS Service Data: ARXCBO-WARNING-CD-1
        warningCode7:
          type: string
          description: |-
            Length: 1

            Warning Code 7.

            VisionPLUS Service Data: ARXCBO-WARNING-CD-2
        processingFlag1:
          type: string
          description: |-
            Length: 1

            Processing Flag 1.

            VisionPLUS Service Data: ARXCBO-P-FLAG-1
        processingFlag2:
          type: string
          description: |-
            Length: 1

            Processing Flag 2.

            VisionPLUS Service Data: ARXCBO-P-FLAG-2
        processingFlag3:
          type: string
          description: |-
            Length: 1

            Processing Flag 3.

            VisionPLUS Service Data: ARXCBO-P-FLAG-3
        processingFlag4:
          type: string
          description: |-
            Length: 1

            Processing Flag 4.

            VisionPLUS Service Data: ARXCBO-P-FLAG-4
        processingFlag5:
          type: string
          description: |-
            Length: 1

            Processing Flag 5.

            VisionPLUS Service Data: ARXCBO-P-FLAG-5
    CreditLimitUpdateRequest:
      required:
      - accountNumber
      - creditLimit
      - foreignUseIndicator
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization Number.

            VisionPLUS Service Data: ARXCLI-ORG
          format: int32
          example: 807
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19

            Account Number.

            VisionPLUS Service Data: ARXCLI-ACCT-NBR
          example: "4513074002573466583"
        foreignUseIndicator:
          type: string
          description: |-
            Length: 1

            Foreign Use Indicator.

            VisionPLUS Service Data: ARXCLI-FOREIGN-USE
          example: "1"
        creditLimit:
          type: number
          description: |-
            Length: 17

            Credit limit.

            VisionPLUS Service Data: ARXCLI-CRLIM
          example: 13000000
        creditLimitBeforeUpdate:
          type: number
          description: |-
            Length: 17

            Current Credit Limit before update.

            VisionPLUS Service Data: ARXCLI-CURR-CRLIM
          example: 12000000
      description: Credit Limit Update Request
    CreditLimitUpdateResponse:
      type: object
      properties:
        currencyData:
          $ref: '#/components/schemas/CreditLimitUpdateResponse.CurrencyData'
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization.

            VisionPLUS Service Data: ARXCLO-ORG
          format: int32
        foreignOrganization:
          type: integer
          description: |-
            Length: 3

            Foreign organization for dual currency.

            VisionPLUS Service Data: ARXCLO-FOREIGN-ORG
          format: int32
        foreignUseIndicator:
          type: string
          description: |-
            Length: 1

            The FOREIGN USE indicator is provided in the input message so the requesting source can specify whether the request applies to the local or foreign account when the account is in a dual currency processing organization.

            The default is to the local account.

            VisionPLUS Service Data: ARXCLO-FOREIGN-USE
        accountNumber:
          type: string
          description: |-
            Length: 19

            Account number.

            VisionPLUS Service Data: ARXCLO-ACCT-NBR
        cardNumber:
          type: string
          description: |-
            Length: 19

            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).

            VisionPLUS Service Data: ARXCLO-CARD-NBR
          example: 000540208ID5IXX3865
        creditLimit:
          type: number
          description: |-
            Length: 17

            Credit limit.

            VisionPLUS Service Data: ARXCLO-CRLIM
        availableCredit:
          type: number
          description: "Length: 17 \n\nAvailable credit. \n\nVisionPLUS Service Data:\
            \ AARXCLO-AVAIL-CREDIT"
        foreignCreditLimit:
          type: number
          description: "Length: 17\n\nForeign Credit Limit. \n\nVisionPLUS Service\
            \ Data: ARXCLO-CRLIM-FGN"
        logo:
          type: integer
          format: int32
    CreditLimitUpdateResponse.CurrencyData:
      type: object
      properties:
        numberOfDecimals:
          type: integer
          description: |-
            Length: 1

            Number of decimal positions to the right of the decimal point (or other decimal character) in monetary amount fields.

            VisionPLUS Service Data: ARXCLO-CURR-NOD
          format: int32
        isoCurrencyCode:
          type: integer
          description: |-
            Length: 3

            ISO currency code that identifies the unit of currency for monetary amount fields.

            VisionPLUS Service Data: ARXCLO-CURR-CODE
          format: int32
    CardActivationRequest:
      required:
      - cardNumber
      - serviceType
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization Number.

            VisionPLUS Service Data: ARXEAI-ORG
          format: int32
          example: 807
        cardNumber:
          maxLength: 19
          minLength: 12
          type: string
          description: |-
            Length: 19

            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).

            VisionPLUS Service Data: ARXEAI-CARD-NBR
          example: 000540208ID5IXX3865
        serviceType:
          type: string
          description: |-
            Length: 1

            Service Type.

            The values are:

            A = Activate all cards for the account

            S = Activate the specific embosser for the card number

            T = Activate the specific embosser and update the embosser prior card activation flag to deactivate the prior card

            U = Deactivate the previous card when the new card is created due to product transfer

            VisionPLUS Service Data: ARXEAI-SVC-TYPE
          example: A
        userData:
          type: string
          description: |-
            Length: 40

            User Data.

            VisionPLUS Service Data: ARXEAI-USER-DATA
      description: Card Activation Request
    CardActivationResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization Number.

            VisionPLUS Service Data: ARXEAO-ORG
          format: int32
        logo:
          type: integer
          description: |-
            Length: 3

            Logo.

            VisionPLUS Service Data: ARXEAO-LOGO
          format: int32
        cardNumber:
          type: string
          description: |-
            Length: 19

            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).

            VisionPLUS Service Data: ARXEAO-CARD-NBR
          example: 000540208ID5IXX3865
        serviceType:
          type: string
          description: |-
            Length: 1

            Service Type. The values are:

            A = Activate all cards for the account

            S = Activate the specific embosser for the card number

            T = Activate the specific embosser and update the embosser prior card activation flag to deactivate the prior card

            U = Deactivate the previous card when the new card is created due to product transfer

            VisionPLUS Service Data: ARXEAO-SVC-TYPE
        numberCardsActivated:
          type: integer
          description: |-
            Length: 4

            Number Cards Activated.

            VisionPLUS Service Data: ARXEAO-NBR-CARDS-ACTIVATED
          format: int32
        foreignOrg:
          type: integer
          description: |-
            Length: 3

            Foreign Organization.

            VisionPLUS Service Data: ARXEAO-FOREIGN-ORG
          format: int32
        numberForeignCardsActivated:
          type: integer
          description: |-
            Length: 4

            Number Foreign Cards Activated.

            VisionPLUS Service Data: ARXEAO-NBR-FORGN-CRDACTIVATED
          format: int32
    SecurityCodeDetailsRequest:
      required:
      - cardNumber
      - channel
      - keyAssociation
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization Number.
            VisionPLUS Service Data: ARXSVI-ORG
          format: int32
          example: 807
          enum:
          - null
        cardNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).
            VisionPLUS Service Data: ARXSVI-CARD-NBR
          example: 000540208ID5IXX3865
          enum:
          - "range[19,19]"
        channel:
          maxLength: 1
          minLength: 1
          type: string
          description: |-
            Length: 1
            Insurance status code. The values are:
            * Space = Not used
            * I = IVR
            * A = ATM
            * W = Web
            VisionPLUS Service Data: ARXSVI-CHANNEL
          example: I
          enum:
          - "[I,A,W]"
        keyAssociation:
          maxLength: 3
          minLength: 1
          type: string
          description: |-
            Length: 3
            Key Association.
            VisionPLUS Service Data: ARXSVI-KEY-ASSOC
          example: MB
      description: Security Code Details Request
    SecurityCodeDetailsResponse:
      type: object
      properties:
        cardNumber:
          type: string
          description: |-
            Length: 19
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).
            VisionPLUS Service Data: ARXSVO-ACCT-NBR
          example: 000540208ID5IXX3865
        ud1ec:
          type: string
          description: |-
            Length: 16
            Encrypted CVV OR CVC OR 3CSC value.
            VisionPLUS Service Data: ARXSVO-UD1-ENCRYPT
          example: 840B12345A690FBCA
        ud2ec:
          type: string
          description: |-
            Length: 16
            Encrypted CVV2 OR CVC2 OR 4CSC value.
            VisionPLUS Service Data: ARXSVO-UD2-ENCRYPT
          example: 840B12345A690FBCA
        ud3ec:
          type: string
          description: |
            Length: 16
            Encrypted iCVV OR iCVC OR iCSC value.
            VisionPLUS Service Data: ARXSVO-UD3-ENCRYPT
          example: 840B12345A690FBCA
        pinEncrypt:
          type: string
          description: |-
            Length: 16
            Encrypted pin block.
            VisionPLUS Service Data: ARXSVO-PIN-ENCRYPT
          example: 840B12345A690FBCA
    EmbosserDetailsL8VBRequest:
      required:
      - cardNumber
      - cardSequence
      - foreignUse
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: Organization Number
          format: int32
          example: 807
          enum:
          - null
        cardNumber:
          maxLength: 19
          minLength: 12
          type: string
          description: Card Number
          example: "0004513070406598974"
          enum:
          - "range[12,19]"
        cardSequence:
          type: integer
          description: Card sequence
          format: int32
          example: 1
        foreignUse:
          type: string
          description: Foreign Use
          example: "1"
      description: Card Embosser Block Request
    EmbosserDetailsInquiryResponse.CardInformationData.AssignedSpendLimits:
      type: object
      properties:
        spendingLimit:
          type: integer
          description: |-
            Spending Limit.
            VisionPLUS Service Data: AZXCIO-MAX
          format: int64
        transactionAllowed:
          type: integer
          description: |-
            Transaction Allowed.
            VisionPLUS Service Data: AZXCIO-NBR
          format: int32
        frequencyCommercialCard:
          type: integer
          description: |-
            Frequency Commercial Card.
            VisionPLUS Service Data: AZXCIO-FREQ
          format: int32
    EmbosserDetailsInquiryResponse.CustomUserData:
      type: object
      properties:
        falconMarking:
          type: string
          description: |-
            Falcon Marking.
            VisionPLUS Service Data: AZXCIO-FLC-MARK
        falconMarkingStartDate:
          type: string
          description: |-
            Falcon Marking Start Date.
            VisionPLUS Service Data: AZXCIO-FLC-MARK-ST-DATE
          format: date
        falconMarkingEndDate:
          type: string
          description: |-
            Falcon Marking End Date.
            VisionPLUS Service Data: AZXCIO-FLC-MARK-END-DATE
          format: date
        spendLimitsStatus:
          type: string
          description: |-
            Spend Limits Status.
            VisionPLUS Service Data: AZXCIO-SPEND-LIMITS-STATUS
        retailPercentDaily:
          type: integer
          description: |-
            Retail Percent Daily.
            VisionPLUS Service Data: AZXCIO-RETAIL-PERCENT-DAILY
          format: int32
        retailPercentMonthToDate:
          type: integer
          description: |-
            Retail Percent Month To Date.
            VisionPLUS Service Data: AZXCIO-RETAIL-PERCENT-MTD
          format: int32
        retailPercentYearToDate:
          type: integer
          description: |-
            Retail Percent Year To Date.
            VisionPLUS Service Data: AZXCIO-RETAIL-PERCENT-YTD
          format: int32
        retailAmountDaily:
          type: number
          description: |-
            Retail Amount Daily.
            VisionPLUS Service Data: AZXCIO-RETAIL-AMOUNT-DAILY
        retailAmountMonthToDate:
          type: number
          description: |-
            Retail Amount Month To Date.
            VisionPLUS Service Data: AZXCIO-RETAIL-AMOUNT-MTD
        retailAmountYearToDate:
          type: number
          description: |-
            Retail Amount Year To Date.
            VisionPLUS Service Data: AZXCIO-RETAIL-AMOUNT-YTD
        cashPercentDaily:
          type: integer
          description: |-
            Cash Percent Daily.
            VisionPLUS Service Data: AZXCIO-CASH-PERCENT-DAILY
          format: int32
        cashPercentMonthToDay:
          type: integer
          description: |-
            Cash Percent Month To Day.
            VisionPLUS Service Data: AZXCIO-CASH-PERCENT-MTD
          format: int32
        cashPercentYearToDay:
          type: integer
          description: |-
            Cash Percent Year To Day.
            VisionPLUS Service Data: AZXCIO-CASH-PERCENT-YTD
          format: int32
        cashAmountDaily:
          type: number
          description: |-
            Cash Amount Daily.
            VisionPLUS Service Data: AZXCIO-CASH-AMOUNT-DAILY
        cashAmountMonthToDate:
          type: number
          description: |-
            Cash Amount Month To Date.
            VisionPLUS Service Data: AZXCIO-CASH-AMOUNT-MTD
        cashAmountYearToDate:
          type: number
          description: |-
            Cash Amount Year To Date.
            VisionPLUS Service Data: AZXCIO-CASH-AMOUNT-YTD.
        cashPostedTodayNumber:
          type: number
          description: |-
            Cash Posted Today Number.
            VisionPLUS Service Data: AZXCIO-CASH-POSTED-TODAYNBR
        cashPostedMonthToDateNumber:
          type: number
          description: |-
            Cash Posted Month To Date Number.
            VisionPLUS Service Data: AZXCIO-CASH-POSTED-MTD-NBR
        cashPostedYearToDateNumber:
          type: number
          description: |-
            Cash Posted Year To Date Number.
            VisionPLUS Service Data: AZXCIO-CASH-POSTED-YTD-NBR
        cashPostedTodayAmount:
          type: number
          description: |-
            Cash Posted Today Amount.
            VisionPLUS Service Data: AZXCIO-CASH-POSTED-TODAYAMT
        cashPostedMonthToDateAmount:
          type: number
          description: |-
            Cash Posted Month To Date Amount.
            VisionPLUS Service Data: AZXCIO-CASH-POSTED-MTD-AMT
        cashPostedYearToDateAmount:
          type: number
          description: |-
            Cash Posted Year To Date Amount.
            VisionPLUS Service Data: AZXCIO-CASH-POSTED-YTD-AMT
        cashDeclineTodayNumber:
          type: number
          description: |-
            Cash Decline Today Number.
            VisionPLUS Service Data: AZXCIO-CASH-DECLINE-TODAYNBR
        cashDeclineMonthToDayNumber:
          type: number
          description: |-
            Cash Decline Month To Day Number.
            VisionPLUS Service Data: AZXCIO-CASH-DECLINE-MTD-NBR
        cashDeclineYearToDayNumber:
          type: number
          description: |-
            Cash Decline Year To Day Number.
            VisionPLUS Service Data: AZXCIO-CASH-DECLINE-YTD-NBR
        cashDeclineTodayAmount:
          type: number
          description: |-
            Cash Decline Today Amount.
            VisionPLUS Service Data: AZXCIO-CASH-DECLINE-TODAYAMT
        cashDeclineMonthToDayAmount:
          type: number
          description: Cash Decline Month To Day Amount.
        cashDeclineYearToDayAmount:
          type: number
          description: |-
            Cash Decline Year To Day Amount.
            VisionPLUS Service Data: AZXCIO-CASH-DECLINE-YTD-AMT
        retailPostedTodayNumber:
          type: number
          description: |-
            Retail Posted Today Number.
            VisionPLUS Service Data: AZXCIO-RETAIL-POSTED-TODAYNBR
        retailPostedMonthToDayNumber:
          type: number
          description: |-
            Retail Posted Month To Day Number.
            VisionPLUS Service Data: AZXCIO-RETAIL-POSTED-MTDNBR
        retailPostedYearToDayNumber:
          type: number
          description: |-
            Retail Posted Year To Day Number.
            VisionPLUS Service Data: AZXCIO-RETAIL-POSTED-YTDNBR
        retailPostedTodayAmount:
          type: number
          description: |-
            Retail Posted Today Amount.
            VisionPLUS Service Data: AZXCIO-RETAIL-POSTED-TODAYAMT
        retailPostedMonthToDayAmount:
          type: number
          description: |-
            Retail Posted Month To Day Amount.
            VisionPLUS Service Data: AZXCIO-RETAIL-POSTED-MTDAMT
        retailPostedYearToDayAmount:
          type: number
          description: |-
            Retail Posted Year To Day Amount.
            VisionPLUS Service Data: AZXCIO-RETAIL-POSTED-YTDAMT
        retailDeclineTodayNumber:
          type: number
          description: |-
            Retail Decline Today Number.
            VisionPLUS Service Data: AZXCIO-RETAIL-DECLINE-TODAYNBR
        retailDeclineMonthToDayNumber:
          type: number
          description: |-
            Retail Decline Month To Day Number.
            VisionPLUS Service Data: AZXCIO-RETAIL-DECLINE-MTDNBR
        retailDeclineYearToDayNumber:
          type: number
          description: |-
            Retail Decline Year To Day Number.
            VisionPLUS Service Data: AZXCIO-RETAIL-DECLINE-YTDNBR
        retailDeclineToday:
          type: number
          description: |-
            Retail Decline Today.
            VisionPLUS Service Data: AZXCIO-RETAIL-DECLINE-TODAYAMT
        retailDeclineMountToDayAmount:
          type: number
          description: |-
            Retail Decline Month To Day Amount.
            VisionPLUS Service Data: AZXCIO-RETAIL-DECLINE-MTDAMT
        retailDeclineYearToDayAmount:
          type: number
          description: |-
            Retail Decline Year To Day Amount.
            VisionPLUS Service Data: AZXCIO-RETAIL-DECLINE-YTDAMT
    EmbosserDetailsL8V8Response.AuthorizationData:
      type: object
      properties:
        retailAmount:
          type: string
        retailNumber:
          type: number
        automatedTellerMachineCashAutomatedTellerMachine:
          type: string
        automatedTellerMachineCashNumber:
          type: number
        overTheCounterAmount:
          type: string
        overTheCounterCashNumber:
          type: number
        automatedTellerMachineCashSingleTransaction:
          type: string
        overTheCounterCashSingleTransaction:
          type: string
        retailSingleTransaction:
          type: string
        globalSpendingLimitNumber:
          type: string
        globalSpendingLimitAmount:
          type: string
        globalSpendingLimitForSingleTransaction:
          type: string
    EmbosserDetailsL8V8Response.CardInformationData:
      type: object
      properties:
        codeIdentificationNumberSpendingLimits:
          type: string
        assignedSpendLimits:
          $ref: '#/components/schemas/EmbosserDetailsInquiryResponse.CardInformationData.AssignedSpendLimits'
    EmbosserDetailsL8V8Response.InternetPurchaseAmountData:
      type: object
      properties:
        today:
          type: number
        cycleToDate:
          type: number
        yearToDate:
          type: number
        lifeToDate:
          type: number
    EmbosserDetailsL8V8Response.InternetPurchaseData:
      type: object
      properties:
        purchaseNumber:
          type: number
        purchaseAmount:
          type: string
        purchaseSingleTransactionLimit:
          type: string
    EmbosserDetailsL8V8Response.InternetPurchaseNumberData:
      type: object
      properties:
        today:
          type: integer
          format: int32
        cycleToDate:
          type: integer
          format: int32
        yearToDate:
          type: integer
          format: int32
        lifeToDate:
          type: integer
          format: int32
    EmbosserDetailsL8V8Response.PrepaidLimits:
      type: object
      properties:
        spendAmount:
          type: number
        spendAvailable:
          type: integer
          format: int32
        spendExpirationDate:
          type: string
          format: date
    EmbosserDetailsL8V8Response.RetailAmountData:
      type: object
      properties:
        today:
          type: number
        cycleToDate:
          type: number
        yearToDate:
          type: number
        lifeToDate:
          type: number
    EmbosserDetailsL8V8Response.RetailNumberData:
      type: object
      properties:
        today:
          type: integer
          format: int32
        cycleToDate:
          type: integer
          format: int32
        yearToDate:
          type: integer
          format: int32
        lifeToDate:
          type: integer
          format: int32
    EmbosserDetailsL8V8Response.SpendingLimitsData:
      type: object
      properties:
        totalDailyAmount:
          type: number
        totalDailyNumber:
          type: integer
          format: int32
        totalWeekToDateAmount:
          type: number
        totalWeekToDateNumber:
          type: integer
          format: int32
        totalCycleToDateAmount:
          type: number
        totalCycleToDateNumber:
          type: integer
          format: int32
        totalYearToDateAmount:
          type: number
        totalYearToDateNumber:
          type: integer
          format: int32
        totalLifeToDateAmount:
          type: number
        totalLifeToDateNumber:
          type: integer
          format: int32
    EmbosserDetailsL8V8Response.TravelData:
      type: object
      properties:
        travelCountry:
          type: string
        travelStartDt:
          type: string
        travelEndDt:
          type: string
      description: Travel Data
    EmbosserDetailsL8V8Response.UseAutomatedTellerMachineCashAmountData:
      type: object
      properties:
        today:
          type: number
        cycleToDate:
          type: number
        yearToDate:
          type: number
        lifeToDate:
          type: number
    EmbosserDetailsL8V8Response.UseAutomatedTellerMachineCashNumberData:
      type: object
      properties:
        today:
          type: integer
          format: int32
        cycleToDate:
          type: integer
          format: int32
        yearToDate:
          type: integer
          format: int32
        lifeToDate:
          type: integer
          format: int32
    EmbosserDetailsL8V8Response.UseOverTheCounterCashAmountData:
      type: object
      properties:
        today:
          type: number
        cycleToDate:
          type: number
        yearToDate:
          type: number
        lifeToDate:
          type: number
    EmbosserDetailsL8V8Response.UseOverTheCounterCashNumberData:
      type: object
      properties:
        today:
          type: integer
          format: int32
        cycleToDate:
          type: integer
          format: int32
        yearToDate:
          type: integer
          format: int32
        lifeToDate:
          type: integer
          format: int32
    EmbosserDetailsL8V8Response.UserData:
      type: object
      properties:
        user1:
          type: string
        user2:
          type: string
        user3:
          type: string
        user4:
          type: integer
          format: int32
        user5:
          type: string
        user6:
          type: string
        user7:
          type: string
        user8:
          type: string
        userData1:
          type: string
          format: date
        userData2:
          type: string
          format: date
    EmbosserDetailsL8VBResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          format: int32
        logo:
          type: integer
          format: int32
        foreignUse:
          type: integer
          format: int32
        cardNumber:
          type: string
        cardSequence:
          type: integer
          format: int32
        cardTechnology:
          type: integer
          format: int32
        postToAccount:
          type: string
        fraud:
          type: string
        prepaidIndicator:
          type: integer
          format: int32
        statusCode:
          type: string
        dateStatus:
          type: string
        statusSecureId:
          type: string
        fraudEffectiveDate:
          type: string
          format: date
        embosserRecordReplacement:
          type: string
        numberCardsOutstanding:
          type: integer
          format: int32
        numberCardsReturned:
          type: integer
          format: int32
        currentChipSequence:
          type: integer
          format: int32
        cardIssueAction:
          type: integer
          format: int32
        numberCardsRequested:
          type: integer
          format: int32
        chipSequenceNumber:
          type: integer
          format: int32
        typeOfCard:
          type: integer
          format: int32
        requestedCardType:
          type: integer
          format: int32
        typeCardMailer:
          type: string
        plasticId:
          type: string
        secureActivation:
          type: integer
          format: int32
        embosserNameType1:
          type: integer
          format: int32
        embosserNameType2:
          type: integer
          format: int32
        embosserName1:
          type: string
        embosserName2:
          type: string
        cardHolderName1:
          type: string
        cardHolderName2:
          type: string
        addressLine1:
          type: string
        addressLine2:
          type: string
        stateProvince:
          type: string
        cityPortion:
          type: string
        postalCodePortion:
          type: string
        plusIndicator:
          type: integer
          format: int32
        dateExpire:
          type: string
        customerNumber:
          type: string
        currentPinOffset:
          type: integer
          format: int32
        previousPinOffset:
          type: integer
          format: int32
        pinDelayDays:
          type: integer
          format: int32
        typeOfPointOfSale:
          type: integer
          format: int32
        cardHolderFlag:
          type: string
        dateWarningBulletin:
          type: string
          format: date
        regionCode:
          type: string
        languageCode:
          type: string
        visaMiniCardVersion:
          type: integer
          format: int32
        pinSuppression:
          type: integer
          format: int32
        blockCode:
          type: string
        dateBlock:
          type: string
        blockSecureId:
          type: string
        warningCode1:
          type: string
        warningCode7:
          type: string
        numberOfIssueAttemptsRemaining:
          type: integer
          format: int32
        currentDateExpirationDate:
          type: string
          format: date
        currentCardActivation:
          type: string
        dateEmbossedMagneticStripeCard:
          type: string
          format: date
        dateCurrentMagneticCardMailed:
          type: string
          format: date
        lastExpirationDate:
          type: string
          format: date
        lastCardActivation:
          type: string
        dateFirstCardVerify:
          type: string
          format: date
        dateLastPlasticIssue:
          type: string
          format: date
        frequencyMaximumAuthorizationParameters:
          type: integer
          format: int32
        authorizationData:
          $ref: '#/components/schemas/EmbosserDetailsL8V8Response.AuthorizationData'
        internetPurchaseData:
          $ref: '#/components/schemas/EmbosserDetailsL8V8Response.InternetPurchaseData'
        identificationNumberAuthorization:
          type: string
        identificationNumberSpendingLimitsTable:
          type: string
        userData:
          $ref: '#/components/schemas/EmbosserDetailsL8V8Response.UserData'
        numberCurrentlyDisplayedEmbosserRecord:
          type: string
        adminNumberBranch:
          type: integer
          format: int32
        nextExpirationDateOfTheCard:
          type: string
          format: date
        branchIdentifierCardMailingLocation:
          type: integer
          format: int32
        cardInformationData:
          $ref: '#/components/schemas/EmbosserDetailsL8V8Response.CardInformationData'
        useAutomatedTellerMachineCashNumberData:
          $ref: '#/components/schemas/EmbosserDetailsL8V8Response.UseAutomatedTellerMachineCashNumberData'
        useAutomatedTellerMachineCashAmountData:
          $ref: '#/components/schemas/EmbosserDetailsL8V8Response.UseAutomatedTellerMachineCashAmountData'
        useOverTheCounterCashNumberData:
          $ref: '#/components/schemas/EmbosserDetailsL8V8Response.UseOverTheCounterCashNumberData'
        useOverTheCounterCashAmountData:
          $ref: '#/components/schemas/EmbosserDetailsL8V8Response.UseOverTheCounterCashAmountData'
        retailNumberData:
          $ref: '#/components/schemas/EmbosserDetailsL8V8Response.RetailNumberData'
        retailAmountData:
          $ref: '#/components/schemas/EmbosserDetailsL8V8Response.RetailAmountData'
        internetPurchaseNumberData:
          $ref: '#/components/schemas/EmbosserDetailsL8V8Response.InternetPurchaseNumberData'
        internetPurchaseAmountData:
          $ref: '#/components/schemas/EmbosserDetailsL8V8Response.InternetPurchaseAmountData'
        prepaidLimits:
          $ref: '#/components/schemas/EmbosserDetailsL8V8Response.PrepaidLimits'
        spendingLimitsData:
          $ref: '#/components/schemas/EmbosserDetailsL8V8Response.SpendingLimitsData'
        cardDelayDays:
          type: integer
          format: int32
        cardDelayStatus:
          type: string
        mailerDate:
          type: string
          format: date
        pinOverrideActionEmbosserLevel:
          type: string
        cardHolderType:
          type: integer
          format: int32
        pinDelayStatusMailer:
          type: string
        cardActivatedDate:
          type: string
          format: date
        dateMostRecentlyIssueCard:
          type: string
          format: date
        deliveryOptionReissuedCards:
          type: integer
          format: int32
        deliveryOptionIssuedCards:
          type: integer
          format: int32
        cardDeliveryStatus:
          type: string
        cardDeliveryDate:
          type: string
          format: date
        deliveryStatusPreviousCard:
          type: string
        deliveryDatePreviousCard:
          type: string
          format: date
        deliveryStatusCurrentPinMailer:
          type: string
        deliveryDateCurrentPinMailer:
          type: string
          format: date
        deliveryStatusPreviousPinMailer:
          type: string
        deliveryDatePreviousPinMailer:
          type: string
          format: date
        dateNextPinChanged:
          type: string
          format: date
        cardHolderAffiliation:
          type: string
        cardVerifyByVisaStatus:
          type: string
        customUserData:
          $ref: '#/components/schemas/EmbosserDetailsInquiryResponse.CustomUserData'
        custEmbSeq:
          type: string
          description: Custom Embosser Sequence Number
        travelInd:
          type: string
          description: Travel Indicator
        travelData:
          type: array
          description: Travel Data
          items:
            $ref: '#/components/schemas/EmbosserDetailsL8V8Response.TravelData'
        vauLastRsnCode:
          type: string
          description: Visa Account Updater Last Reason Code
        noCvmCounter:
          type: string
          description: No Card Verification Method Counter
        noCvmAmt:
          type: string
          description: No Card Verification Method Amount
        profileId:
          type: string
          description: Profile ID
        ecommInd:
          type: string
          description: E-Commerce Indicator
        contlsInd:
          type: string
          description: Contactless Indicator
        authRstrTbl:
          type: string
          description: Authorization Restart Table
        authCrLm:
          type: string
          description: Authorization Credit Limit
        ctdAuthAmt:
          type: string
          description: Cycle To Date Authorization Amount
        digiCardInd:
          type: string
          description: Digital Card Indicator
        embCode1:
          type: string
          description: Embosser User Code 1
        embCode2:
          type: string
          description: Embosser User Code 1
        embCode3:
          type: string
          description: Embosser User Code 1
        embCode4:
          type: string
          description: Embosser User Code 1
        embCode5:
          type: string
          description: Embosser User Code 5
        embCode6:
          type: string
          description: Embosser User Code 6
        embCode7:
          type: string
          description: Embosser User Code 7
        embCode8:
          type: string
          description: Embosser User Code 8
        embDate1:
          type: string
          description: Embosser User Date 1
        embDate2:
          type: string
          description: Embosser User Date 2
        dvcInd:
          type: string
          description: DVC Indicator
        pinReset:
          type: string
          description: PIN Reset
        dateLastMaintained:
          type: string
          description: ' Date Last Maintained'
          format: date
        newAcctCard:
          type: string
          description: ' New Account Card'
        sdpFlag:
          type: string
          description: ' Same Day Processing Flag'
        internationalSingleTransaction:
          type: string
    CardPanInquiryL8V2Request:
      required:
      - cardNumber
      - cardSequence
      - functionType
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: Organization Number
          format: int32
          example: 807
          enum:
          - null
        cardNumber:
          maxLength: 32
          minLength: 12
          type: string
          description: Unique identifier or token associated with the card number
            or payment instrument (FirstVision PAN Token).
          example: 000540208ID5IXX3865
          enum:
          - "range[12,32]"
        cardSequence:
          type: integer
          description: |
            Card Sequence
            Card sequence number. Default is 1
          format: int32
          example: 1
          enum:
          - null
        functionType:
          pattern: "^(P|C){1}$"
          type: string
          description: Function Type
          example: C
      description: 'Card or PAN Token Inquiry '
    CardPanInquiryL8V2Response:
      type: object
      properties:
        organizationNumber:
          type: integer
          format: int32
        logo:
          type: integer
          format: int32
        cardNumber:
          type: string
          description: Unique identifier or token associated with the card number
            or payment instrument (FirstVision PAN Token).
          example: 000540208ID5IXX3865
        cardSequence:
          type: integer
          format: int32
        accountNumber:
          type: string
        panToken:
          type: string
x-config:
  tryItOut: true