openapi: 3.0.1
info:
  description: "This documentation describes the REST APIs provided by the FirstVision\u2122\
    \ Cards Microservice, which provides functionality for the issuing, management\
    \ and processing of credit cards, including bank, co-branded, private label, debit,\
    \ commercial, and prepaid"
  title: "FirstVision\u2122 Account Service - API Documentation"
  version: '1.2'
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /account/details:
    put:
      tags:
      - Account
      summary: "Account Update. VMX Service: M.CMS.ACCTMNT.UPD, L8V1"
      description: "Update account details. \nVMX Service: M.CMS.ACCTMNT.UPD, L8V1"
      operationId: details
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAccountDetailsRequest"
        required: true
      responses:
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateAccountDetailsResponse"
      x-proxy-name: Account Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/customer:
    put:
      tags:
      - Account
      summary: "Update Customer Number. (VMX Service: M.CMS.ACCTCUSTNBR.UPD, L8V1)"
      description: "Updates the Customer number on the Account. \nVMX Service: M.CMS.ACCTCUSTNBR.UPD,\
        \ L8V1"
      operationId: Customer Address Update
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCustomerNumberRequest"
        required: true
      responses:
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "400":
          description: Bad Request
        "500":
          description: |-
            Unprocessable Entity

            VPL5SCU06S - ACCOUNT ORG MUST BE NUMERIC AND LESS THAN 999
            VPL5SCU07S - ACCOUNT OR CARD NUMBER REQUIRED
            VPL5SCU08S - CUSTOMER NUMBER REQUIRED
            VPL5SCU09S - FOREIGN USE INDICATOR INVALID - MUST BE 0, 1 OR 2
            VPL5SCU10S - FIELD IDENTIFIER INVALID - MUST BE 0 OR 1
            VPL5SCU11S - ALTERNATE CUSTOMER INDICATOR INVALID MUST BE - A, B OR C
            VPL5SCU12S - ALTERNATE CUSTOMER EXPIRATION DATE MUST BE NUMERIC
            VPL5SCU14S - ACCOUNT ORG COULD NOT BE DETERMINED
            VPL5SCU15S - DETERMINED ACCT ORG DOES NOT MATCH WITH INPUT ORG
            VPL5SCU16S - ORGANIZATION NOT FOUND ON FILE
            VPL5SCU18S - CUSTOMER ORGANIZATION COULD NOT BE DETERMINED
            VPL5SCU19S - CUSTOMER NUMBER NOT VALID FOR ORG PROVIDED
            VPL5SCU20S - FOREIGN USE INDICATOR INVALID, ORG IS NOT DUAL CURRENCY ORG
            VPL5SCU21S - ORGANIZATION RECORD NOT FOUND ON FILE
            VPL5SCU22S - FOREIGN ORG NOT FOUND ON FILE
            VPL5SCU23S - INVALID FOREIGN USE FLAG, ORG IS NOT DUAL
            VPL5SCU24S - ORGANIZATION COULD NOT BE DETERMINED FOR THE ACCOUNT
            VPL5SCU25S - ORG DETERMINED DOES NOT MATCH THE LOCAL ACCT ORG
            VPL5SCU01E - ORGANIZATION RECORD NOT FOUND ON FILE
            VPL5SCU03E - INVALID ACCOUNT STATUS OR ACCOUNT NOT FOUND
            VPL5SCU04E - REQUEST TYPE DOES NOT MATCH WITH THE ACCT TYPE
            VPL5SCU05E - CUSTOMER NUMBER NOT VALID OR NOT ON FILE
            VPL5SCU06E - GENERIC CUSTOMER NOT ALLOWED FOR NON-GENERIC ACCT
            VPL5SCU07E - FOREIGN USE INDICATOR INVALID, DUAL ACCOUNT NOT FOUND
            VPL5SCU08E - CUSTOMER NUMBERS ARE NOT THE SAME ON BOTH ACCOUNTS
            VPL5SCU09E - ALTERNATE CUSTOMER NUMBERS ARE NOT SAME ON BOTH ACCOUNTS
            VPL5SCU10E - DUAL CUSTOMER NUMBER NOT VALID OR NOT ON FILE
            VPL5SCU12E - INPUT ORG DOES NOT MATCH WITH ACCOUNT ORG
            VPL5SCU13E - FOREIGN ACCOUNT NOT FOUND ON FILE
            VPL5SCU14E - REQUEST TYPE DOES NOT MATCH ACCT TYPE
            VPL5SCU15E - FOREIGN CUSTOMER RECORD NOT FOUND ON FILE
            VPL5SCU16E - GENERIC CUSTOMER NOT ALLOWED FOR NON-GENERIC FOREIGN ACCT
            VPL5SCU17E - ALTERNATE CUSTOMER EXPIRATION DATE MUST BE A FUTURE DATE
            VPL5SCU18E - INVALID ALTERNATE CUSTOMER EXPIRATION DATE
            VPL5SCU20E = CARD NUM DECRYPTED FROM INPUT PAN TOKEN IS SPACES/ZEROS
            VPL5SCU21E = GLOBAL QUAL VALUE 1 OR 2, APPLICABLE ONLY FOR MEXICAN ORG
            VPL5SCU22E = GLOBAL QUAL SHOULD BE A TO Z OR 1 OR 2
            VPL5SCU23E = ACCOUNT NUMBER SHOULD NOT BE SPACES
            VPL5SCU24E = ORG LEVEL PAN TOKEN SW INACTIVE
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateCustomerNumberResponse"
      x-proxy-name: Customer Address Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/FL-transferP2P:
    put:
      tags:
      - Account
      summary: "Account to Account Funds Transfer. VMX Service: M.ASM.MONETARYPTP.ACT,\
        \ L8V2"
      description: "Integrate Account to Account (P2P) Funds Transfer transaction\
        \ information to be used in Fraud Prevention Rules.  \n\nVMX Service: M.ASM.MONETARYPTP.ACT,\
        \ L8V2"
      operationId: Account to Account Funds Transfer
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlTransferP2PRequest"
        required: true
      responses:
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "400":
          description: Bad Request
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlTransferP2PResponse"
      x-proxy-name: Account to Account Funds Transfer
      x-group-name: Account
      x-child-product-name: Accounts
  /account/FL-balance:
    put:
      tags:
      - Account
      summary: "Integrate Cash-in & Cash-out and Integrate Quick Response (QR) transaction\
        \ information to be used in Fraud Prevention Rules. \n\nVMX Service: M.ASM.MONETARY.ACT,\
        \ L8V4"
      description: "Integrate Cash-in & Cash-out and Integrate Quick Response (QR)\
        \ transaction information to be used in Fraud Prevention Rules. \n\nVMX Service:\
        \ M.ASM.MONETARY.ACT, L8V4"
      operationId: Cash-in & Cash-out With Fraud Prevention
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountBalanceFlRequest"
        required: true
      responses:
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "400":
          description: Bad Request
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBalanceFlResponse"
      x-proxy-name: Cash-in & Cash-out With Fraud Prevention
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v2/accountBoardingDriver:
    post:
      tags:
      - Account
      summary: |-
        Creates a card, account and customer in a single request.

        VMX Service: M.CMS.CUST.ACCT.CRD.DRV, L8V3
      description: |-
        Creates a card, account and customer in a single request.

        VMX Service: M.CMS.CUST.ACCT.CRD.DRV, L8V3
      operationId: Account Boarding Driver Request
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountBoardingDriverRequestL8V3"
        required: true
      responses:
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "400":
          description: Bad Request
        "500":
          description: "Unprocessable Entity\n\nVPL5SZ103E - ORGANIZATION NUMBER MUST\
            \ BE NUMERIC AND VALID VALUES ARE 001-998 \n\nVPL5SZ104E - LOGO NUMBER\
            \ MUST BE NUMERIC AND VALID VALUES ARE 001-998 \n\nVPL5SZ105E - CUSTOMER\
            \ CREATE FLAG SHOULD BE Y OR N \n\nVPL5SZ106E - WHEN CUSTOMER CREATE FLAG\
            \ IS N CUST NBR IS REQUIRED \n\nVPL5SZ107E - ACCOUNT CREATE FLAG SHOULD\
            \ BE Y OR N \n\nVPL5SZ108E - WHEN ACCOUNT CREATE FLAG IS Y ACCT NBR NOT\
            \ REQUIRED \n\nVPL5SZ109E - WHEN ACCOUNT CREATE FLAG IS N ACCT NBR IS\
            \ REQUIRED \n\nVPL5SZ110E - WHEN ACCOUNT CREATE FLAG IS Y CREDIT LIMIT\
            \ IS REQUIRED \n\nVPL5SZ111E - WHEN ACCOUNT CREATE FLAG IS Y BILLING CYCLE\
            \ IS REQUIRED \n\nVPL5SZ112E - WHEN ACCOUNT CREATE FLAG IS Y OWNING BRANCH\
            \ NBR IS REQUIRED \n\nVPL5SZ113E - ADMIN BRANCH IS NOT NUMERIC \n\nVPL5SZ114E\
            \ - FIRST ISS BRANCH IS NOT NUMERIC \n\nVPL5SZ115E - WHEN ACCT CREATE\
            \ FLAG IS Y AND DFLT ACCT IS DDA RTNG NBR REQUIRED \n\nVPL5SZ116E - WHEN\
            \ ACCT CREATE FLAG IS Y AND DFLT ACCT IS DDA ACCT NBR REQUIRED \n\nVPL5SZ117E\
            \ - WHEN ACCT CREATE FLAG IS Y AND DFLT ACCT IS SAV RTNG NBR REQUIRED\
            \ \n\nVPL5SZ118E - WHEN ACCT CREATE FLAG IS Y AND DFLT ACCT IS SAV ACCT\
            \ NBR REQUIRED \n\nVPL5SZ119E - CARD CREATE FLAG (1) SHOULD BE Y OR N\
            \ \n\nVPL5SZ120E - CARD TECHNOLOGY (1) SHOULD BE 0 OR 1 OR 2 OR 3 \n\n\
            VPL5SZ121E - WHEN CARD CREATE FLAG (1) IS Y EMBOSSER NAME (1) IS REQUIRED\
            \ \n\nVPL5SZ122E - POS SERVICE CODE (1) SHOULD BE VALID \n\nVPL5SZ123E\
            \ - POS SERVICE CODE (1) SHOULD BE NUMERIC \n\nVPL5SZ123E - POS SERVICE\
            \ CODE (1) SHOULD BE NUMERIC \n\nVPL5SZ124E - DIG CARD IND (1) SHOULD\
            \ BE 0 OR 1 \n\nVPL5SZ125E - CARD CREATE FLAG (2) SHOULD BE Y OR N \n\n\
            VPL5SZ126E - CARD TECHNOLOGY (2) SHOULD BE 0 OR 1 OR 2 OR 3 \n\nVPL5SZ127E\
            \ - WHEN CARD CREATE FLAG (2) IS Y EMBOSSER NAME (2) IS REQUIRED \n\n\
            VPL5SZ128E - POS SERVICE CODE (2) SHOULD BE VALID \n\nVPL5SZ129E - POS\
            \ SERVICE CODE (2) SHOULD BE NUMERIC \n\nVPL5SZ130E - DIG CARD IND (2)\
            \ SHOULD BE 0 OR 1 \n\nVPL5SZ135S - ORGANIZATION NOT ON FILE OR IN PENDING\
            \ STATUS \n\nVPL5SZ136S - LOGO NOT ON FILE OR IN PENDING STATUS \n\nVPL5SZ137E\
            \ - POS SERVICE CODE (1) MUST BE VALID FOR MASTERCARD AFFILIATE \n\nVPL5SZ138E\
            \ - POS SERVICE CODE (1) MUST BE VALID FOR VISA AFFILIATE \n\nVPL5SZ139E\
            \ - POS SERVICE CODE (1) MUST BE VALID FOR AFFILIATE \n\nVPL5SZ140E -\
            \ POS SERVICE CODE (2) MUST BE VALID FOR MASTERCARD AFFILIATE \n\nVPL5SZ141E\
            \ - POS SERVICE CODE (2) MUST BE VALID FOR VISA AFFILIATE \n\nVPL5SZ142E\
            \ - POS SERVICE CODE (2) MUST BE VALID FOR AFFILIATE \n\nVPL5SZ143S -\
            \ INITIALIZE CALL TO VCM SERVICE FAILED DURING CUST CREATE \n\nVPL5SZ144S\
            \ - NO RESPONSE FOR VCM SERVICE WITH NULL VALUES IN CUST CREATE \n\nVPL5SZ145E\
            \ - CUSTOMER RECORD NOT FOUND OR IN PENDING STATUS \n\nVPL5SZ146S - INITIALIZE\
            \ CALL TO VCM SERVICE FAILED DURING ACCT CREATE \n\nVPL5SZ147S - NO RESPONSE\
            \ FOR VCM SERVICE WITH NULL VALUES IN ACCT CREATE \n\nVPL5SZ148E - ACCOUNT\
            \ RECORD NOT FOUND OR IN PENDING STATUS \n\nVPL5SZ149S - INITIALIZE CALL\
            \ TO VCM SERVICE FAILED DURING CARD CREATE \n\nVPL5SZ150S - NO RESPONSE\
            \ FOR VCM SERVICE WITH NULL VALUES IN CARD CREATE \n\nVPL5SZ151S - LOGO\
            \ LEVEL ETK TYPE/ZONE FIELDS SHLD HAVE KMS ACTIVE \n\nVPL5SZ157S - INITIALIZE\
            \ CALL TO VCM SERVICE FAILED \n\nVPL5SZ158S - NO RESPONSE FOR VCM SERVICE\
            \ WITH NULL VALUES \n\nVPL5SZ159E - ACCT ALREADY PRESENT FOR GIVEN DDA\
            \ ACCT \n\nVPL5SZ160E - ACCT ALREADY PRESENT FOR GIVEN SAV ACCT \n\nVPL5SZ161E\
            \ - NO VALID ACCT PRESENT FOR GIVEN CUSTOMER ACCT.\n\n"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBoardingDriverResponseL8V3"
      x-proxy-name: Account Boarding Driver Request
      x-group-name: Account
      x-child-product-name: Accounts
  /account/card-L8V2:
    post:
      tags:
      - Account
      summary: "Account to card details_1. (VMX Service: M.CMS.ACCT.TO.CARD.INQ, L8V2)"
      description: "Provides the card number uses the account number or the account\
        \ and organization number to find it. If only the account number is provided\
        \ in the service input in a dual currency processing environment, this service\
        \ provides the card numbers for the local account. If the organization number\
        \ is provided in the service input, this service provides the card numbers\
        \ associated with that organization whether it is a local or a foreign organization.\
        \ \nVMX Service: M.CMS.ACCT.TO.CARD.INQ, L8V2"
      operationId: Account To Card Inquiry
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountForCardDetailsL8V2Request"
        required: true
      responses:
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "400":
          description: Bad Request
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountForCardDetailsL8V2Response"
      x-proxy-name: Account To Card Inquiry
      x-group-name: Account
      x-child-product-name: Accounts
components:
  schemas:
    UpdateAccountDetailsRequest:
      required:
      - accountNumber
      - organization
      - pctEndDate
      - pctLevelStartDate
      - pctLvl
      - pctStartDate
      type: object
      properties:
        organization:
          type: string
          description: 'Identification number of the organization associated with
            this User (Sign on name). '
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: "Identification number of the Account Base Segment record to\
            \ \nwhich CMS posts transactions that are received for this \nEmbosser\
            \ record. The Embosser record is identified by the card \nnumber and record\
            \ number."
          example: "0004557320000115411"
        stateOfResidence:
          maxLength: 3
          minLength: 0
          type: string
          description: "Account holder resides. For accounts processed by a revolving/retail\
            \ \nLogo record (TYPE OF ACCOUNT on ARML01 is R), CMS uses the \nresidence\
            \ ID to determine which Processing Control Table identifies \nthe control\
            \ records that define processing parameters for the account.\nCMS defaults\
            \ this value from the RES ID field on ARML13."
        stateOfIssue:
          maxLength: 3
          minLength: 0
          type: string
          description: "Code that identifies the state, province, or country in which\
            \ the account was issued. This field displays only if the account is processed\
            \ by a bankcard Logo record (TYPE OF ACCOUNT on ARML01 is X). If \nyou\
            \ leave this field blank, the default is the code established at the product\
            \ level (BANKCARD on ARML13).  \nFor accounts processed by a retail Logo\
            \ record (TYPE OF ACCOUNT on ARML01 is R), CMS uses the residence ID to\
            \ \ndetermine which Processing Control Table identifies the control records\
            \ that define processing parameters for the account. "
        processingControlTable:
          maxLength: 3
          minLength: 0
          type: string
          description: "Code that indicates whether a processing control level override\
            \ \nis in effect, and if so, the level for the PCT ID in the PCT OVERRIDE\
            \ field. This field enables you to override the processing \ncontrol level\
            \ assigned to the account at the product level (PROC CONTROL LEVEL on\
            \ ARML14).  The processing control level override \nis in effect during\
            \ the period specified by the START DATE and EXPIRATION DATE. This override\
            \ is used only in conjunction with the \nspecial pricing controls defined\
            \ in the PCT OVERRIDE field."
        pctStartDate:
          type: string
          description: "Date on which the processing control level override starts\
            \ for \nthe account. The PCT LVL OVERRIDE field identifies the override\
            \ \nlevel in effect."
          format: date
        pctEndDate:
          type: string
          description: "Date on which the processing control level override expires\
            \ for the account. The PCT LVL OVERRIDE field \nidentifies the override\
            \ level in effect. If the override does not expire, enter zeros in this\
            \ field. If you enter a date, \nit must be greater than the START DATE."
          format: date
        pctLvl:
          maxLength: 1
          minLength: 0
          type: string
          description: The PCT LVL OVERRIDE field identifies the override level in
            effect.
        pctLevelStartDate:
          type: string
          description: "Date on which the processing control level (at the given Level,\
            \ Org or Logo override)  starts for the account."
          format: date
        pctLevelExpireDate:
          type: string
          description: "Date on which the processing control level  (at the given\
            \ Level, Org or Logo override) expires for the account. \nIf the override\
            \ does not expire, enter zeros in this field. If you enter a date, it\
            \ must be greater than the START DATE."
          format: date
        waiveAvailFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: Code that determines the cash credit limit for the account.
          enum:
          - "N, T, Y"
        statementFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: Code that indicates how CMS generates a statement for this
            account
          enum:
          - "C,H,I,O,R,S,range[1,9]"
        customerStatement:
          type: integer
          description: Determines whether CMS sends statements to the owner only or
            both the owner and co-owner.
          format: int32
          enum:
          - null
        customerLetter:
          type: integer
          description: Determines whether CMS sends letters to the owner only or both
            the owner and co-owner.
          format: int32
          enum:
          - null
        duppressLetters:
          type: integer
          description: Code that indicates whether to suppress all letters for the
            account
          format: int32
          enum:
          - null
        billingCycle:
          type: integer
          description: Day of the month that the account cycles.
          format: int32
        statementAddressFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: Statement Address Flag
        skipPaymentOption:
          maxLength: 1
          minLength: 0
          type: string
          description: Code that indicates whether skip payments are in effect for
            this account.
          enum:
          - "A,M,N,V,X,Z"
        billingLevel:
          type: integer
          description: "Indicates the level at which billing occurs for the subordinate\
            \ accounts within the relationship and a code that \nindicates whether\
            \ you can modify the billing level at the subordinate account level or\
            \ only at the relationship level"
          format: int32
          enum:
          - null
        paymentCalculationOverride:
          maxLength: 1
          minLength: 0
          type: string
          description: "Flag that indicates whether CMS overrides the controlling\
            \ \nCredit Plan Master record and assesses a fixed payment or a \npercentage\
            \ of credit limit payment for this account."
          enum:
          - "F,P,X"
        amount:
          maxLength: 17
          minLength: 0
          type: string
          description: "Fixed payment amount or percentage of the credit limit that\
            \ \nCMS uses to calculate the payment amount if the CONTROLLING \nPLAN\
            \ OVERRIDE is F, X or P. Enter a fixed payment amount in \nmonetary units\
            \ and subunits. Enter a percentage using the \nformat defined by the PERCENTAGE\
            \ NOD.\nExamples:\nIf working with U.S. dollars, enter $25.00 as: 00000002500\
            \ \nIf working with PERCENTAGE NOD 7, enter 10.5% as: 00001050000 \nIf\
            \ working with PERCENTAGE NOD 5, enter 12.375% as: 00000012375"
        reissueTechnology:
          type: integer
          description: Flag that defines the card technology to be used when reissuing
            all cards for this particular account.
          format: int32
          enum:
          - null
        prePaymentsOption:
          type: integer
          description: Code that indicates whether prepayments are allowed for the
            account.
          format: int32
          enum:
          - null
        prePaymentTimeLimit:
          type: integer
          description: "Number of consecutive months in which the entire computed\
            \ \npayment due can be satisfied by a prepaid amount. The default \nvalue\
            \ for this field is set in the Logo record (PRE-PAY MONTHS \non ARML14).\
            \ You can change this value at the account level. \nThis field does not\
            \ display for debit card accounts."
          format: int32
          enum:
          - null
        resetPrePaymentOption:
          type: integer
          description: "Code that determines if the prepaid amount is reset to zero\
            \ for \nthe account. The default value for this field is set in the Logo\
            \ \nrecord (PREPMT ZERO on ARML14). You can change this value \nat the\
            \ account level."
          format: int32
          enum:
          - null
        signIndicator1:
          maxLength: 1
          minLength: 0
          type: string
          description: Sign indicator (+ or –) that indicates whether the pending
            variance is added to or subtracted from the rate.
        rateVariance1:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 1.
        signIndicator2:
          maxLength: 1
          minLength: 0
          type: string
          description: Sign indicator (+ or –) that indicates whether the pending
            variance is added to or subtracted from the rate.
        rateVariance2:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 2.
        signIndicator3:
          maxLength: 1
          minLength: 0
          type: string
          description: Sign indicator (+ or –) that indicates whether the pending
            variance is added to or subtracted from the rate.
        rateVariance3:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 3.
        signIndicator4:
          maxLength: 1
          minLength: 0
          type: string
          description: Sign indicator (+ or –) that indicates whether the pending
            variance is added to or subtracted from the rate.
        rateVariance4:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 4.
        signIndicator5:
          maxLength: 1
          minLength: 0
          type: string
          description: Sign indicator (+ or –) that indicates whether the pending
            variance is added to or subtracted from the rate.
        rateVariance5:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 5.
        signIndicator6:
          maxLength: 1
          minLength: 0
          type: string
          description: Sign indicator (+ or –) that indicates whether the pending
            variance is added to or subtracted from the rate.
        rateVariance6:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 6.
        signIndicator7:
          maxLength: 1
          minLength: 0
          type: string
          description: Sign indicator (+ or –) that indicates whether the pending
            variance is added to or subtracted from the rate.
        rateVariance7:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 7.
        signIndicator8:
          maxLength: 1
          minLength: 0
          type: string
          description: Sign indicator (+ or –) that indicates whether the pending
            variance is added to or subtracted from the rate.
        rateVariance8:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 8.
        signIndicator9:
          maxLength: 1
          minLength: 0
          type: string
          description: Sign indicator (+ or –) that indicates whether the pending
            variance is added to or subtracted from the rate.
        rateVariance9:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 9.
        signIndicator10:
          maxLength: 1
          minLength: 0
          type: string
          description: Sign indicator (+ or –) that indicates whether the pending
            variance is added to or subtracted from the rate.
        rateVariance10:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 10.
        signIndicator11:
          maxLength: 1
          minLength: 0
          type: string
          description: Sign indicator (+ or –) that indicates whether the pending
            variance is added to or subtracted from the rate.
        rateVariance11:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 11.
        signIndicator12:
          maxLength: 1
          minLength: 0
          type: string
          description: Sign indicator (+ or –) that indicates whether the pending
            variance is added to or subtracted from the rate.
        rateVariance12:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 12.
        rateVarianceEndDate:
          type: string
          description: Last date on which the current variances are effective for
            credit plans
          format: date
        employeeCode:
          maxLength: 2
          minLength: 0
          type: string
          description: User-defined employee code.
        officerCode:
          maxLength: 30
          minLength: 0
          type: string
          description: 'Name of the officer at the financial institution responsible
            for the account. '
        statementReprintDate:
          type: string
          description: 'Date in which Duplicated Statement was generated. '
          format: date
        brailleStatementFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: "Code that determines the type of statement to be generated\
            \ for a \ncustomer."
          enum:
          - "N,Y"
      description: Account details request
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: "#/components/schemas/Error"
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    UpdateAccountDetailsResponse:
      type: object
      properties:
        serviceReturnCode:
          type: string
          description: "Identifies if the service succeeded or failed. \nValues for\
            \ service return code: \n* F = Service failed \n* P = Service passed"
        numberOfReturnCodes:
          type: integer
          description: The number of individual error codes provided in the response.
            Maximum of 20.
          format: int32
        organization:
          type: string
          description: "The data displays is dependant on the type.  Values can represent\
            \  Card Number, Pan Token number or Encrypted Card Number. "
        accountNumber:
          type: string
          description: "Identification number of the Account Base Segment record to\
            \ \nwhich CMS posts transactions that are received for this \nEmbosser\
            \ record. The Embosser record is identified by the card \nnumber and record\
            \ number."
    UpdateCustomerNumberRequest:
      required:
      - accountNumber
      - customerNumber
      - customerTypeIndicator
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization Number
          format: int32
          example: 807
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19

            Account number or card number.

            VisionPLUS Service Data: ARXCUI-ACCT-NBR
          example: "4513074002573466583"
        customerNumber:
          type: string
          description: |-
            Length: 19

            Customer number.

            VisionPLUS Service Data: ARXCUI-CUST-NBR
          example: "4513074002573466583"
        foreignUseIndicator:
          type: integer
          description: |-
            Length: 1

            The FOREIGN USE indicator is provided in the input message so the requesting source can specify whether the request applies to the local or foreign account when the account is in a dual currency processing organization.

            The default is to the local account.

            VisionPLUS Service Data: ARXCUI-FOREIGN-USE
          format: int32
          example: 0
        customerTypeIndicator:
          type: integer
          description: |-
            Length: 1

            Customer type indicator.

            The values are:

            0 = Update customer number

            1 = Update alternate customer number

            VisionPLUS Service Data: ARXCUI-CUST-TYPE-IND
          format: int32
          example: 0
        alternateCustomer:
          $ref: "#/components/schemas/UpdateCustomerNumberRequest.AlternateCustomer"
        qualification:
          maxLength: 1
          minLength: 1
          type: string
          description: |-
            Length: 1

            Global qualification parameter. The values are A–Z or 1-2
          example: A
      description: Update Customer Number Request
    UpdateCustomerNumberRequest.AlternateCustomer:
      required:
      - expirationDate
      - status
      type: object
      properties:
        status:
          type: string
          description: |-
            Length: 1

            Alternate customer status.

            Required if customerTypeIndicator = 1

            VisionPLUS Service Data: ARXCUI-ALT-CUST-STAT
        expirationDate:
          type: string
          description: |-
            Length: 8

            Alternate customer expiration date.

            Required if customerTypeIndicator = 1

            VisionPLUS Service Data: ARXCUI-ALT-CUST-EXPIR
          format: date
    UpdateCustomerNumberResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization Number.

            VisionPLUS Service Data: ARXCUO-CUST-ORG
          format: int32
          example: 805
        foreignOrganizationNumber:
          type: integer
          description: Foreign organization number.
          format: int32
        accountNumber:
          type: string
          description: |-
            Length: 19

            Account Number.

            VisionPLUS Service Data: ARXCUO-ACCOUNT-NBR
          example: "4513074002500000000"
        customerOrganizationNumber:
          type: integer
          description: |-
            Length: 3

            Customer organization number.

            VisionPLUS Service Data: ARXCUO-CUST-ORG
          format: int32
          example: 809
        foreignCustomerOrganizationNumber:
          type: integer
          description: |-
            Length: 3

            Foreign customer organization number.

            VisionPLUS Service Data: ARXCUO-FOREIGN-CUST-ORG
          format: int32
          example: 804
        customerNumber:
          type: string
          description: |-
            Length: 19

            Customer Number.

            VisionPLUS Service Data: ARXCUO-CUST-NBR
          example: "4513074002500000000"
        foreignUseIndicator:
          type: string
          description: |-
            Length: 1

            The FOREIGN USE indicator is provided in the input message so the requesting source can specify whether the request applies to the local or foreign account when the account is in a dual currency processing organization.

            The default is to the local account.

            VisionPLUS Service Data: ARXCUO-FOREIGN-USE
          example: "0"
        customerTypeIndicator:
          type: string
          description: |-
            Length: 1

            Customer type indicator.

            VisionPLUS Service Data: ARXCUO-CUST-TYPE-IND
          example: "1"
        alternateCustomer:
          $ref: "#/components/schemas/UpdateCustomerNumberResponse.AlternateCustomer"
    UpdateCustomerNumberResponse.AlternateCustomer:
      required:
      - expirationDate
      - status
      type: object
      properties:
        status:
          type: string
          description: |-
            Length: 1

            Alternate customer status.

            Required if customerTypeIndicator = 1

            VisionPLUS Service Data: ARXCUI-ALT-CUST-STAT
        expirationDate:
          type: string
          description: |-
            Length: 8

            Alternate customer expiration date.

            Required if customerTypeIndicator = 1

            VisionPLUS Service Data: ARXCUI-ALT-CUST-EXPIR
          format: date
    FlTransferP2PRequest:
      required:
      - asmRepId
      - effectiveDate
      - organizationNumber
      - transactionAmount
      type: object
      properties:
        organizationNumber:
          type: integer
          description: Organization Number
          format: int32
          example: 950
        asmRepId:
          type: string
          description: ASM Representative ID
          example: X00
        from:
          $ref: "#/components/schemas/FlTransferP2PRequest.TransferP2PInformation"
        to:
          $ref: "#/components/schemas/FlTransferP2PRequest.TransferP2PInformation"
        effectiveDate:
          type: string
          description: Effective Date
          format: date
        transactionAmount:
          type: number
          description: Transaction Amount
          example: 1
        referralOption:
          type: string
          description: Referral Option
        referralRepID:
          type: string
          description: Referral representative Id
        referralRepOrganization:
          type: string
          description: Referral Rep Organization
        updateIndicator:
          type: integer
          description: Update Indicator
          format: int32
        ip:
          maxLength: 15
          minLength: 0
          type: string
          description: ip
          example: 198.162.200.200
        latitude:
          maxLength: 12
          minLength: 0
          type: string
          description: latitude
          example: "-109.699951"
        longitude:
          maxLength: 10
          minLength: 0
          type: string
          description: longitude
          example: "23.062283"
        device:
          maxLength: 32
          minLength: 0
          type: string
          description: device
          example: 898ds-090ds-9d0s9-0ds9d0-0d9sd00
      description: FL Transfer P2P Request
    FlTransferP2PRequest.TransferP2PInformation:
      required:
      - accountNumber
      - accountOrganizationNumber
      - actionCode
      - planNumber
      - referenceNumber
      - storeNumber
      type: object
      properties:
        accountOrganizationNumber:
          type: string
          description: Account Organization Number
          example: "950"
        accountNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: Account Number
          example: "9500500046581560081"
        actionCode:
          maxLength: 4
          minLength: 0
          type: string
          description: Action Code
          example: "8001"
        transactionDescription:
          type: string
          description: Transaction Description
        foreignUse:
          type: string
          description: Local or Foreign Account
        memoLine1:
          type: string
          description: Memo Line 1
        memoLine2:
          type: string
          description: Memo Line 2
        memoLine3:
          type: string
          description: Memo Line 3
        memoLine4:
          type: string
          description: Memo Line 4
        memoLine5:
          type: string
          description: Memo Line 5
        planNumber:
          type: integer
          description: Plan Number
          format: int32
          example: 60000
        planSequence:
          type: integer
          description: Plan Sequence
          format: int32
        departmentCode:
          type: string
          description: Department Code
        authorizationCode:
          maxLength: 6
          minLength: 0
          type: string
          description: Authorization Code
        storeNumber:
          type: integer
          description: Store Number
          format: int32
          example: 999999998
        skuNumber:
          type: integer
          description: Stock Keeping Unit Number
          format: int32
        salesClerk:
          type: string
          description: Sales Clerk
        letterCode:
          type: string
          description: Letter Code
        letterOrganizationNumber:
          type: integer
          description: Letter Organization Number
          format: int32
        cardNumber:
          maxLength: 19
          minLength: 12
          type: string
          description: Unique identifier or token associated with the card number
            or payment instrument (FirstVision PAN Token).
          example: 000540208ID5IXX3865
        cardSequence:
          type: integer
          description: Card Sequence Number
          format: int32
        ticketNumber:
          type: string
          description: Ticket Number
        purchaseOrderNumber:
          type: string
          description: Purchase Order Number
        referralReferenceNumber:
          type: integer
          description: Reference Number
          format: int32
        insuranceCode:
          type: string
          description: Insurance Code
        actionCodePriority:
          type: integer
          description: Action Code Priority
          format: int32
        institutionNumber:
          type: integer
          description: Institution Number
          format: int32
        currencyNumber:
          type: string
          description: Currency Number
        referenceNumber:
          type: string
          description: Reference Number
          example: "12"
    FlTransferP2PResponse:
      type: object
      properties:
        referralRepresentativeId:
          type: string
        effectiveDate:
          type: string
          format: date
        organizationNumber:
          type: integer
          format: int32
        transactionAmount:
          type: number
        actionOutputArea:
          $ref: "#/components/schemas/FlTransferP2PResponse.ActionOutputArea"
    FlTransferP2PResponse.ActionOutputArea:
      type: object
      properties:
        actionData:
          type: array
          items:
            $ref: "#/components/schemas/FlTransferP2PResponse.ActionOutputArea.TransferP2PActionData"
    FlTransferP2PResponse.ActionOutputArea.TransferP2PActionData:
      type: object
      properties:
        sequence:
          type: integer
          format: int32
        purgeDate:
          type: string
          format: date
        actionDate:
          type: string
          format: date
        cardNumber:
          type: string
          description: |
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).
            For Financial Institutions without PAN Token enabled, the cardNumber will be shown masked (e.g., 0581xxxxxxx5846).
          example: 000540208ID5IXX3865
        cardSequence:
          type: integer
          format: int32
        planNumber:
          type: integer
          format: int32
        planSequenceNumber:
          type: integer
          format: int32
        departmentNumber:
          type: string
        authorizationCode:
          type: string
        referralReferenceNumber:
          type: integer
          format: int32
        referenceNumber:
          type: string
        accountOrganizationNumber:
          type: integer
          format: int32
        accountLogo:
          type: integer
          format: int32
        accountNumber:
          type: string
        feeAmount:
          type: number
        transactionCode:
          type: integer
          format: int32
        transactionDescription:
          type: string
        currentBalance:
          type: number
        creditLimit:
          type: number
        openToBuy:
          type: number
        availableCashCredit:
          type: number
        currencyNumber:
          type: string
        authorizationNumber:
          type: string
    AccountBalanceFlRequest:
      required:
      - accountNumber
      - organizationNumber
      - representativeId
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            * Max Length: 3

            ASM organization number.

            VisionPLUS Service Data: AZXMAI-ASM-ORG
          format: int32
          example: 950
        representativeId:
          maxLength: 3
          minLength: 1
          type: string
          description: |-
            ID of representative.

            VisionPLUS Service Data: AZXMAI-ASM-REP
          example: A00
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Account number.

            VisionPLUS Service Data: AZXMAI-ACCT-NBR
          example: "9500500190739621112"
        transactionData:
          $ref: "#/components/schemas/AccountBalanceFlRequest.TxData"
        accountOrganization:
          type: string
          description: |-
            * Max Length: 3

            Organization number

            VisionPLUS Service Data: AZXMAI-ACCT-ORG
          example: "999"
        foreignUse:
          type: string
          description: |-
            * Max Length: 1

            Local or foreign account.

            VisionPLUS Service Data: AZXMAI-FOREIGN-USE-IND
          example: "0"
        actionCodePri:
          type: string
          description: |-
            * Max Length: 1

            Action code.

            VisionPLUS Service Data: AZXMAI-ACTION-CODE-PRI
          example: "0"
        referralOption:
          type: string
          description: |-
            * Max Length: 1

            Referral option.

            VisionPLUS Service Data: AZXMAI-REFERRAL-OPTION
          example: "0"
        referralRepresentation:
          $ref: "#/components/schemas/AccountBalanceFlRequest.ReferralRepresentation"
        letterData:
          $ref: "#/components/schemas/AccountBalanceFlRequest.LetterData"
        memoData:
          $ref: "#/components/schemas/AccountBalanceFlRequest.MemoData"
      description: Modify Account BalanceFl Request
    AccountBalanceFlRequest.LetterData:
      type: object
      properties:
        organization:
          type: string
          description: |-
            * Max Length: 3

            Letter organization of the LTS letter sent to the customer.

            VisionPLUS Service Data: AZXMAI-LTR-ORG
          example: "999"
        code:
          type: string
          description: |-
            * Max Length: 3

            User-defined letter code assigned to the letter the system sent to the customer via batch processing.

            VisionPLUS Service Data: AZXMAI-LTR-CODE
          example: "0"
    AccountBalanceFlRequest.MemoData:
      type: object
      properties:
        line1:
          type: string
          description: |-
            * Max Length: 60

            Memo line 1.

            VisionPLUS Service Data: AZXMAI-LINE-DATA-1
          example: Line 1
        line2:
          type: string
          description: |-
            * Max Length: 60

            Memo line 2.

            VisionPLUS Service Data: AZXMAI-LINE-DATA-2
          example: Line 2
        line3:
          type: string
          description: |-
            * Max Length: 60

            Memo line 3.

            VisionPLUS Service Data: AZXMAI-LINE-DATA-3
          example: Line 3
        line4:
          type: string
          description: |-
            * Max Length: 60

            Memo line 4.

            VisionPLUS Service Data: AZXMAI-LINE-DATA-4
          example: Line 4
        line5:
          type: string
          description: |-
            * Max Length: 60

            Memo line 5.

            VisionPLUS Service Data: AZXMAI-LINE-DATA-5
          example: Line 5
    AccountBalanceFlRequest.ReferralRepresentation:
      type: object
      properties:
        organization:
          type: string
          description: |-
            * Max Length: 1

            Input source.

            VisionPLUS Service Data: AZXMAI-SOURCE-X
          example: "999"
        id:
          type: string
          description: |-
            * Max Length: 3

            Referral Rep ID

            VisionPLUS Service Data: AZXMAI-REFERRAL-REP
          example: "0"
    AccountBalanceFlRequest.TxData:
      required:
      - actionCode
      - beneficiaryAccount
      - box
      - cardNumber
      - cardSequence
      - counterpartInstitution
      - crPlaza
      - crStore
      - description
      - device
      - effectiveDate
      - frcUprkBeneficiary
      - identifier
      - ip
      - keyTracking
      - latitude
      - longitude
      - n1N2Bypass
      - operatingInstitution
      - orderingFrcUprk
      - orderingName
      - otbUpdateIndicator
      - paidConcept
      - paymentSourceId
      - planNumber
      - planSequence
      - recipientName
      - referenceNumber
      - resolutionReferenceNumber
      - senderAccount
      - storeNumber
      - transactionAmount
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 12
          type: string
          description: |-
            Card number.

            VisionPLUS Service Data: AZXMAI-CARD-NBR
          example: 000540208ID5IXX3865
        cardSequence:
          type: integer
          description: |-
            * Max Length: 4

            Card sequence number.

            VisionPLUS Service Data: AZXMAI-CARD-SEQ
          format: int32
          example: 1
        actionCode:
          type: string
          description: |-
            * Max Length: 4

            Action Code.

            VisionPLUS Service Data: AZXMAI-ACTION-CODE
          example: "8000"
          enum:
          - "8000, 8001"
        effectiveDate:
          type: string
          description: |-
            Effective date (in ISO 8601).

            VisionPLUS Service Data: AZXMAI-EFF-DATE
          format: date
          example: 2023-02-19
        transactionAmount:
          type: number
          description: |-
            * Max Length: 17

            Transaction amount.

            VisionPLUS Service Data: AZXMAI-TXN-AMOUNT
          example: 100
        planNumber:
          type: integer
          description: |-
            * Max Length: 5

            Plan number.

            VisionPLUS Service Data: AZXMAI-PLAN-NBR
          format: int32
          example: 60000
        planSequence:
          type: integer
          description: |-
            * Max Length: 2

            Plan sequence number.

            VisionPLUS Service Data: AZXMAI-PLAN-SEQ
          format: int32
          example: 1
        storeNumber:
          type: integer
          description: |-
            * Max Length: 9

            Store Number.

            VisionPLUS Service Data: AZXMAI-STORE-NBR
          format: int32
          example: 999999998
        authorizationCode:
          maxLength: 6
          minLength: 0
          type: string
          description: |-
            Authorization code.

            VisionPLUS Service Data: AZXMAI-AUTH-CODE
          example: "123456"
        referenceNumber:
          type: string
          description: |-
            * Max Length: 12

            Reference Number.

            VisionPLUS Service Data: AZXMAI-REF-NUM
          example: "12345678901234"
        resolutionReferenceNumber:
          type: string
          description: |-
            * Max Length: 14

            Resolution reference number for payments received for open billing accounts.

            VisionPLUS Service Data: AZXMAI-R-REF-NBR
          example: "123456789012"
        otbUpdateIndicator:
          type: integer
          description: |-
            * Min Length: 1
            * Max Length: 1

            OTB update indicator.

            Values:
            * 0 = Update OTB;
            * 1 = Do not update OTB.

            VisionPLUS Service Data: AZXMAI-OTB-UPDATE-IND
          format: int32
          example: 0
        description:
          type: string
          description: |-
            * Max Length: 40

            Transaction description.

            VisionPLUS Service Data: AZXMAI-DESC
          example: Description
        departmentCode:
          type: string
          description: |-
            * Max Length: 4

            Department code.

            VisionPLUS Service Data: AZXMAI-DEPT-CODE
          example: PPLD
        skuNumber:
          type: integer
          description: |-
            * Max Length: 9

            Stock keeping unit number.

            VisionPLUS Service Data: AZXMAI-SKU-NBR
          format: int32
          example: 0
        salesClerk:
          type: string
          description: |-
            * Max Length: 12

             ID of sales clerk.

            VisionPLUS Service Data: AZXMAI-SALES-CLERK
          example: "0"
        ticketNumber:
          type: string
          description: |-
            * Max Length: 15

            Ticket number.

            VisionPLUS Service Data: AZXMAI-TICKET-NBR
          example: "0"
        purchaseOrderNumber:
          type: string
          description: |-
            * Max Length: 16

            Purchase order number.

            VisionPLUS Service Data: AZXMAI-PURCHASE-ORDER-NBR
          example: "0"
        insuranceCode:
          type: string
          description: |-
            * Max Length: 2

            Insurance code.

            VisionPLUS Service Data: AZXMAI-INS-CODE
          example: "0"
        numberInstallments:
          type: string
          description: |-
            * Max Length: 2

            Institution number.

            VisionPLUS Service Data: AZXMAI-INST-NBR
          example: "0"
        walletId:
          type: string
          description: |-
            * Max Length: 3

            Currency number.

            VisionPLUS Service Data: AZXMAI-WALLET-ID
          example: "0"
        n1N2Bypass:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            N1N2 bypass.

            VisionPLUS Service Data: AZXMAI-N1N2-BYPASS
          example: "Y"
          enum:
          - "Y,N"
        memoPostIndividual:
          type: string
          description: |-
            * Max Length: 1

            Memo Post Indicator.

            Values:
            * N = Do not post memo;
            * R = Reverse memo.

            VisionPLUS Service Data: AZXMAI-MEMO-POST-IND
          example: "N"
        monSupp:
          type: string
          description: |-
            * Max Length: 1

            Monetary Suppress.

            Values:
            * N = Do not Suppress Monetary transaction;
            * Y = Suppress Monetary transaction.

            VisionPLUS Service Data: AZXMAI-MON-SUPP
          example: "N"
        identifier:
          maxLength: 4
          minLength: 0
          type: string
          description: |-
            Identifier.

            VisionPLUS Service Data: AZXMAI-IDENTIFIER
          example: UBCF
        box:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Cashier Number.

            VisionPLUS Service Data: AZXMAI-CASHIER-NBR
          example: "1"
        crPlaza:
          maxLength: 5
          minLength: 0
          type: string
          description: |-
            Customer region identifier.

            VisionPLUS Service Data: AZXMAI-REGION-IDENTIFIER
          example: 10MON
        crStore:
          maxLength: 5
          minLength: 0
          type: string
          description: |
            Customer store identifier.

            VisionPLUS Service Data: AZXMAI-STORE-IDENTIFIER
          example: 50EDI
        keyTracking:
          maxLength: 30
          minLength: 0
          type: string
          description: |-
            Key of standard identification recognized by Banco de México.

            VisionPLUS Service Data: AZXMAI-TRACING-KEY
          example: UBCF202007158252885919
        paidConcept:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Issuer payment description.

            VisionPLUS Service Data: AZXMAI-ISSUER-PMT-DESC
          example: Money for groseries
        beneficiaryAccount:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Receiver account number.

            VisionPLUS Service Data: AZXMAI-RECEIVER-ACCT-NBR
          example: "012180000000011114"
        senderAccount:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Issuer account number.

            VisionPLUS Service Data: AZXMAI-ISSUER-ACCT-NBR
          example: "012180000000011114"
        counterpartInstitution:
          maxLength: 5
          minLength: 0
          type: string
          description: |-
            Institutions Code where the payment goes to(Regarding to catalog).

            VisionPLUS Service Data: AZXMAI-COUNTERPART-INST
          example: "96545"
        operatingInstitution:
          maxLength: 5
          minLength: 0
          type: string
          description: |-
            Institutions Code where the payment comes from(Regarding to catalog).

            VisionPLUS Service Data: AZXMAI-OPERATING-INST
          example: "90646"
        frcUprkBeneficiary:
          maxLength: 13
          minLength: 0
          type: string
          description: |-
            Receiver Federal Register of Contributors(FRC) or Unique Population Registration Key(UPRK).

            VisionPLUS Service Data: AZXMAI-RECEIVER-RCF
          example: MACE881212TR3
        orderingFrcUprk:
          maxLength: 13
          minLength: 0
          type: string
          description: |-
            Issuer Federal Register of Contributors(FRC) or Unique Population Registration Key(UPRK).

            VisionPLUS Service Data: AZXMAI-ISSUER-RCF
          example: MACE881212TR3
        device:
          maxLength: 32
          minLength: 0
          type: string
          description: |-
            Device.

            VisionPLUS Service Data: AZXMAI-DEVICE
          example: 898ds-090ds-9d0s9-0ds9d0-0d9sd00
        ip:
          maxLength: 15
          minLength: 0
          type: string
          description: |-
            The IP (Internet Protocol) address that originated the transaction.

            VisionPLUS Service Data: AZXMAI-INTRT-PROTOCOL
          example: 198.162.200.200
        latitude:
          maxLength: 12
          minLength: 0
          type: string
          description: |-
            The latitude where the transaction originated.

            VisionPLUS Service Data: AZXMAI-LATITUDE
          example: "-109.699951"
        longitude:
          maxLength: 10
          minLength: 0
          type: string
          description: |-
            The longitude where the transaction originated.

            VisionPLUS Service Data: AZXMAI-LONGITUDE
          example: "23.062283"
        recipientName:
          maxLength: 30
          minLength: 0
          type: string
          description: |-
            Receiver name.

            VisionPLUS Service Data: AZXMAI-RECEIVER-NAME
          example: Eduardo Martinez Cruz
        orderingName:
          maxLength: 30
          minLength: 0
          type: string
          description: |-
            Issuer name.

            VisionPLUS Service Data: AZXMAI-ISSUE-NAME
          example: Diego Martinez Cruz
        paymentSourceId:
          maxLength: 22
          minLength: 0
          type: string
          description: |-
            Card label ID.

            VisionPLUS Service Data: AZXMAI-CARD-LABEL-ID
          example: tok_test_visa_4242
    AccountBalanceFlResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Max Length: 3

            Organization number.

            VisionPLUS Service Data: AZXMAO-ACTION-ASM-ORG
          format: int32
          example: 999
        representativeId:
          type: string
          description: |-
            Max Length: 3

            Action representative ID.

            VisionPLUS Service Data: AZXMAO-ACTION-REP
          example: A00
        referralRepresentative:
          type: string
          description: |-
            Max Length: 3

            Referral representative.

            VisionPLUS Service Data: AZXMAO-REFERRAL-REP
          example: "0"
        account:
          $ref: "#/components/schemas/AccountBalanceFlResponse.Account"
        foreignUseIndicator:
          type: string
          description: |-
            Max Length: 1

            Local or foreign account indicator.

            VisionPLUS Service Data: AZXMAO-FOREIGN-USE-IND
          example: "0"
        cardNumber:
          type: string
          description: |-
            Max Length: 19

            Card Number.
            For Financial Institutions without PAN Token enabled, the cardNumber will be shown masked (e.g., 0581xxxxxxx5846).

            VisionPLUS Service Data: AZXMAO-CARD-NBR
          example: "4513074002573466583"
        historyDate:
          type: string
          description: |-
            History date (in ISO 8601).

            VisionPLUS Service Data: AZXMAO-HIST-DATE
          format: date
          example: 2023-04-10
        historyTime:
          type: string
          description: |-
            History time.

            VisionPLUS Service Data: AZXMAO-HIST-TIME
          example: "094311"
        actionCodePri:
          type: integer
          description: |-
            Max Length: 1

            Action core priority.

            VisionPLUS Service Data: AZXMAO-ACTION-CODE-PRI
          format: int32
          example: 0
        recordType:
          type: string
          description: |
            Max Length: 1

            Record type.

            VisionPLUS Service Data: AZXMAO-RECORD-TYPE
          example: "0"
        actionDescription:
          type: string
          description: |
            Max Length: 20

            Action description.

            VisionPLUS Service Data: AZXMAO-ACTION-DESC
          example: Action Description
        collectionSequenceNumber:
          type: integer
          description: |
            Max Length: 5

            Collection sequence number.

            VisionPLUS Service Data: AZXMAO-CTA-SEQ-NBR
          format: int32
          example: 12345
        status:
          type: string
          description: |-
            Max Length: 1

            History record status.

            VisionPLUS Service Data: AZXMAO-STATUS
          example: "0"
        referralAsmOrganization:
          type: integer
          description: |-
            Max Length: 3

            Referral ASM Organization.

            VisionPLUS Service Data: AZXMAO-REFERRAL-ASM-ORG
          format: int32
          example: 999
        purgeDate:
          type: string
          description: |-
            Purge date (in ISO 8601).

            VisionPLUS Service Data: AZXMAO-PURGE-DATE
          format: date
          example: 2023-01-15
        actionDate:
          type: string
          description: |-
            Action date (in ISO 8601).

            VisionPLUS Service Data: AZXMAO-ACTION-DATE
          format: date
          example: 2023-03-19
        cardSequence:
          type: integer
          description: |-
            Max Length: 5

            Card sequence number.

            VisionPLUS Service Data: AZXMAO-CARD-SEQ
          format: int32
          example: 12345
        retention:
          type: string
          description: |-
            Max Length: 1

            Retention indicator.

            VisionPLUS Service Data: AZXMAO-RETENTION
          example: "0"
        ctaFile:
          type: string
          description: |-
            Max Length: 1

            CTA file.

            VisionPLUS Service Data: AZXMAO-CTA-FILE
          example: "0"
        transactionData:
          $ref: "#/components/schemas/AccountBalanceFlResponse.TransactionData"
        letterData:
          $ref: "#/components/schemas/AccountBalanceFlResponse.LetterData"
    AccountBalanceFlResponse.Account:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Max Length: 3

            Account organization.

            VisionPLUS Service Data: AZXMAI-ACCT-ORG
          format: int32
          example: 999
        logo:
          type: integer
          description: |-
            Max Length: 3

            Account logo.

            VisionPLUS Service Data: AZXMAO-ACCT-LOGO
          format: int32
          example: 501
        number:
          type: string
          description: |-
            Max Length: 19

            Account Number.

            VisionPLUS Service Data: AZXMAO-ACCT-NBR;
          example: "7600010732545213551"
    AccountBalanceFlResponse.LetterData:
      type: object
      properties:
        organization:
          type: string
          description: |-
            Max Length: 3

            Letter organization of the LTS letter sent to the customer.

            VisionPLUS Service Data: AZXMAO-LTR-ORG
          example: "999"
        code:
          type: string
          description: |-
            Max Length: 3

            Letter number.

            VisionPLUS Service Data: AZXMAO-LETTER
          example: "123"
    AccountBalanceFlResponse.TransactionData:
      type: object
      properties:
        currencyData:
          $ref: "#/components/schemas/AccountBalanceFlResponse.TransactionData.CurrencyData"
        actionCode:
          type: string
          description: |-
            Max Length: 5

            Action Code.

            VisionPLUS Service Data: AZXMAO-ACTION-CODE
          example: "0"
        effectiveDate:
          type: string
          description: |-
            Effective date of transaction (in ISO 8601).

            VisionPLUS Service Data: AZXMAO-EFF-DATE
          format: date
          example: 2023-04-13
        feeAmount:
          type: number
          description: |-
            Max Length: 17

            Fee amount.

            VisionPLUS Service Data: AZXMAO-FEE-AMT
          example: 54.09
        transactionCode:
          type: string
          description: |-
            Max Length: 4

            Transaction code.

            VisionPLUS Service Data: AZXMAO-TXN-CODE
          example: "0"
        transactionAmount:
          type: number
          description: |
            Max Length: 17

            Transaction amount.

            VisionPLUS Service Data: AZXMAO-TRAN-AMT
          example: 10223.85
        transactionDescription:
          type: string
          description: |-
            Max Length: 40

            Transaction description.

            VisionPLUS Service Data: AZXMAO-TXN-DESC
          example: Transaction Description
        creditLimit:
          type: number
          description: |-
            Max Length: 17

            Credit limit.

            VisionPLUS Service Data: AZXMAO-CREDIT-LIMIT
          example: 90000.0
        openToBuy:
          type: number
          description: |-
            Max Length: 17

            Open to buy.

            VisionPLUS Service Data: AZXMAO-OPEN-TO-BUY
          example: 400.0
        cashAvailable:
          type: number
          description: |-
            Max Length: 17

            Available cash credit.

            VisionPLUS Service Data: AZXMAO-CASH-AVAIL-CR
          example: 58880.11
        planNumber:
          type: string
          description: |-
            Max Length: 5

            Plan number.

            VisionPLUS Service Data: AZXMAO-PLAN-NBR
          example: "0"
        currentBalance:
          type: number
          description: |-
            Max Length: 17

            Current balance.

            VisionPLUS Service Data: AZXMAO-CURR-BAL
          example: 1827.19
        planSequence:
          type: integer
          description: |-
            Max Length: 2

            Plan sequence number.

            VisionPLUS Service Data: AZXMAO-PLAN-SEQ
          format: int32
          example: 14
        storeNumber:
          type: string
          description: |-
            Max Length: 9

            Store number.

            VisionPLUS Service Data: AZXMAO-STORE-NBR
          example: "0"
        departmentCode:
          type: string
          description: |-
            Max Length: 4

            Department number.

            VisionPLUS Service Data: AZXMAO-DEPT-NBR
          example: "0"
        authorizationCode:
          type: string
          description: |-
            Max Length: 6

            Authorization number.

            VisionPLUS Service Data: AZXMAO-AUTH-NBR
          example: "0"
        stockKeepingUnitNumber:
          type: string
          description: |-
            Max Length: 9

            Stock keeping unit number.

            VisionPLUS Service Data: AZXMAO-SKU-NBR
          example: "0"
        salesClerk:
          type: string
          description: |-
            Max Length: 12

            Clerk.

            VisionPLUS Service Data: AZXMAO-CLERK
          example: "0"
        ticketNumber:
          type: string
          description: |
            Max Length: 15

            Ticket number.

            VisionPLUS Service Data: AZXMAO-TICKET-NBR
          example: "0"
        purchaseOrderNumber:
          type: string
          description: |-
            Max Length: 16

            Purchase order number.

            VisionPLUS Service Data: AZXMAO-PURCHASE-ORDER-NBR
          example: "0"
        referenceNumber:
          type: string
          description: |-
            Max Length: 24

            Reference number.

            VisionPLUS Service Data: AZXMAO-REFERENCE-NBR
          example: "0"
        insuranceCode:
          type: string
          description: |-
            Max Length: 2

            Insurance type.

            VisionPLUS Service Data: AZXMAO-INS
          example: "0"
        reversalDate:
          type: string
          description: |-
            Reversal Date (in ISO 8601).

            VisionPLUS Service Data: AZXMAO-REV-DATE
          format: date
          example: 2023-01-13
        reversalTime:
          type: string
          description: |-
            Reversal Time.

            VisionPLUS Service Data: AZXMAO-REV-TIME
          example: "145900"
        storeOrganizationNumber:
          type: integer
          description: |-
            Max Length: 3

            Store organization.

            VisionPLUS Service Data: AZXMAO-STORE-ORG
          format: int32
          example: 0
        approvalIndicator:
          type: string
          description: |-
            Max Length: 1

            Approve or decline.

            VisionPLUS Service Data: AZXMAO-APPR-DECL
          example: "0"
        monetaryType:
          type: string
          description: |-
            Max Length: 1

            Monetary type.

            VisionPLUS Service Data: AZXMAO-MON-TYPE
          example: "0"
        pointsProgram:
          type: integer
          description: |-
            Max Length: 1

            Point program.

            VisionPLUS Service Data: AZXMAO-PTS-PGM
          format: int32
          example: 5
        pointsAmount:
          type: number
          description: |-
            Max Length: 9

            Points amount.

            VisionPLUS Service Data: AZXMAO-PTS-AMT
          example: 18293.23
        referenceNum:
          type: string
          description: |-
            Max Length: 15

            Referral reference number.

            VisionPLUS Service Data: AZXMAO-R-REF-NBR
          example: "0"
        fundCard:
          type: string
          description: |-
            Max Length: 19

            PD fund card number.

            VisionPLUS Service Data: AZXMAO-PD-FUND-CARD
          example: "0"
        fundCardDeclinedReason:
          type: string
          description: |-
            Max Length: 30

            PD decline reason.

            VisionPLUS Service Data: AZXMAO-PD-DECL-RSN
          example: "0"
        currencyNumber:
          type: string
          description: |-
            Max Length: 3

            Currency number.

            VisionPLUS Service Data: AZXMAO-WALLET
          example: "0"
        authorizationNumber:
          type: string
          description: |-
            Max Length: 6

            Authorization number.

            VisionPLUS Service Data: AZXMAO-AUTH-NUMBER
          example: "0"
    AccountBalanceFlResponse.TransactionData.CurrencyData:
      type: object
      properties:
        currencyCode:
          type: string
          description: |-
            Max Length: 3

            Currency code.

            VisionPLUS Service Data: AZXMAO-CURRENCY-CODE
          example: "123"
        currencyNumberOfDecimal:
          type: integer
          description: |-
            Max Length: 1

            Currency number of decimal.

            VisionPLUS Service Data: AZXMAO-CURRENCY-NOD
          format: int32
          example: 2
    AccountBoardingDriverRequestL8V3:
      required:
      - logo
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            * Min Length: 1
            * Max Length: 3

            Identification number of the organization associated with the account.

            VisionPLUS Service Data: AZXD1I-ORG
          format: int32
          example: 800
        logo:
          type: integer
          description: |-
            * Min Length: 1
            * Max Length: 3

            Logo number.

            VisionPLUS Service Data: AZXD1I-LOGO
          format: int32
          example: 100
        customerData:
          $ref: "#/components/schemas/AccountBoardingDriverRequestL8V3.CustomerData"
        accountData:
          $ref: "#/components/schemas/AccountBoardingDriverRequestL8V3.AccountData"
        embosserData:
          $ref: "#/components/schemas/AccountBoardingDriverRequestL8V3.EmbosserData"
      description: Account boarding driver Service
    AccountBoardingDriverRequestL8V3.AccountData:
      required:
      - creditLimitAmount
      - isAccountCreationRequired
      - shortName
      type: object
      properties:
        isAccountCreationRequired:
          pattern: ^(Y|N)$
          type: string
          description: |-
            * Min Length: 1
            * Max Length: 1

            Account creation required or not.

            Values:
            * Y = Create account;
            * N = Don’t create account.

              Note: If values is N account should be provided

            VisionPLUS Service Data: AZXD1I-ACCT-CREATE
          example: "N"
        accountNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: |-
            Account number.

            Required when field 'isAccountCreationRequired' field is 'N':
            * If field 'accountCreation required' is provided as N then 'accountNumber' should be provided;
            * If fields 'organizationNumber' and 'logo' not provided then 'accountNumber' should be provided;
            * And Value should not be present already.

            VisionPLUS Service Data: AZXD1I-BS-ACCT
          example: "50697861094344623"
        relationshipNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: |-
            Relationship number.

            VisionPLUS Service Data: AZXD1I-BS-REL-NBR
          example: "57326242830728290"
        creditLimitAmount:
          type: number
          description: |-
            * Min Length: 1
            * Max Length: 17

            Credit limit amount. Format with no commas or decimals

            VisionPLUS Service Data: AZXD1I-BS-CREDIT-LIMIT
          example: 300
        billingCycle:
          type: integer
          description: |-
            * Min Length: 0
            * Max Length: 2

            Billing cycle.

            VisionPLUS Service Data: AZXD1I-BS-BILLING-CYCLE
          format: int32
          example: 30
        owningBranchNumber:
          type: integer
          description: |-
            * Min Length: 0
            * Max Length: 9

            Owning branch number.

            VisionPLUS Service Data: AZXD1I-BS-OWNING-BRANCH-NBR
          format: int32
          example: 999999999
        administrationBranch:
          type: integer
          description: |-
            * Min Length: 0
            * Max Length: 9

            Administration branch number.

            VisionPLUS Service Data: AZXD1I-BS-ADMIN-BRANCH
          format: int32
          example: 999999999
        firstIssuanceBranch:
          type: integer
          description: |-
            * Min Length: 0
            * Max Length: 9

            First issuance branch number.

            VisionPLUS Service Data: AZXD1I-BS-FIRST-ISS-BRANCH
          format: int32
          example: 999999999
        shortName:
          maxLength: 20
          minLength: 1
          type: string
          description: |-
            Short name.

            VisionPLUS Service Data: AZXD1I-BS-SHORT-NAME
          example: "999999999"
        billingAccountIndicator:
          type: integer
          description: |-
            * Min Length: 0
            * Max Length: 1

            Billing account type.

            VisionPLUS Service Data: AZXD1I-BS-BILLING-ACCT-IND
          format: int32
          example: 0
        alternateCustomerIndicator:
          pattern: ^(\s|A|B|C)$
          type: string
          description: |-
            * Max Length: 1

            Alternate customer.

            Values:
            * Space = No action; disregard alternate customer;
            * A = Alternate customer active; send statements to alternate address until expiration date;
            * B = Alternate customer active; send statements to both addresses until expiration date;
            * C = Relationship customer active; send statement to alternate address.

            VisionPLUS Service Data: AZXD1I-BS-ALT-CUST-NBR-FLAG
          example: A
        alternateCustomerNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: |-
            Alternate customer number.

            When expiry date is greater than zero, thi field cannot be zero

            VisionPLUS Service Data: AZXD1I-BS-ALT-CUST-NBR
          example: "49884274787255246"
        alternateCustomerStartDate:
          pattern: YYYY-MM-DD
          type: string
          description: |-
            Effective date of the alternate customer address (in ISO 8601).

            Should be a valid date and not be less than next processing date.

            VisionPLUS Service Data: AZXD1I-BS-DATE-ALT-CUST-STRT
          format: date
          example: 2023-01-18
        alternateCustomerExpiryDate:
          pattern: YYYY-MM-DD
          type: string
          description: |-
            Expiration date of the alternate customer address (in ISO 8601).

            Should be a valid date and not be less than start date.

            VisionPLUS Service Data: AZXD1I-BS-DATE-ALT-CUST-EXPR
          format: date
          example: 2023-01-20
        paymentAchRoutingNumber:
          type: integer
          description: |-
            * Min Length: 0
            * Max Length: 10

            PMT ACH (Payment Archive Number) routing number.

            VisionPLUS Service Data: AZXD1I-BS-PMT-ACH-RT-NBR
          format: int64
          example: 6740880056
        paymentAchDebitType:
          pattern: ^(D|S)$
          type: string
          description: |-
            * Min Length: 1
            * Max Length: 1

            Payment ACH (Automated Clearing House network) DB type.

            Values:
            * D = Demand deposit account (checking);
            * S = Savings account.

            VisionPLUS Service Data: AZXD1I-BS-PMT-ACH-DB-TYPE
          example: D
        paymentAchDbNumber:
          maxLength: 17
          minLength: 0
          type: string
          description: |-
            Payment DC ACH DB number.

            VisionPLUS Service Data: AZXD1I-BS-PMT-ACH-DB-NBR
          example: "69299344544137784"
        paymentAchIndicator:
          maximum: 7
          type: integer
          description: |-
            * Min Length: 1
            * Max Length: 1

            Payment ACH flag.

            Values:
            * 0 = No ACH;
            * 1 = ACH active;
            * 2 = ACH customer-nominated;
            * 3 = ACH customer-nominated;
            * 4 = ACH customer-nominated;
            * 5 = ACH customer-nominated;
            * 6 = ACH customer-nominated;
            * 7 = ACH customer-nominated.

            VisionPLUS Service Data: AZXD1I-BS-PMT-ACH-FLAG
          format: int32
          example: 0
        nominatedAchAmtPctIndicator:
          type: integer
          description: |-
            * Min Length: 0
            * Max Length: 1

            DD customer-nominated type payment.

            Values:
            * 0 = Not used;
            * 1 = Fixed payment amount;
            * 2 = Percentage of account (cycle-ending) balance;
            * 3 = Full account (cycle-ending) balance;
            * 9 = Percentage of account (cycle-ending minus overlimit amount) balance.

            VisionPLUS Service Data: AZXD1I-BS-NOM-ACH-AMTPCT-FL
          format: int32
          example: 2
        userCode7:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            User code 7.

            VisionPLUS Service Data: AZXD1I-BS-USER-CODE-7
          example: DF
        sourceCode:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Source code.

            VisionPLUS Service Data: AZXD1I-BS-SOURCE-CODE
          example: Source code
        applicationUser1:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            User application data 1.

            VisionPLUS Service Data: AZXD1I-BS-APPL-USER-1
          example: Application Data 1
        applicationUser2:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            User application data 2.

            VisionPLUS Service Data: AZXD1I-BS-APPL-USER-2
          example: Application Data 2
        applicationUser3:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            User application data 3.

            VisionPLUS Service Data: AZXD1I-BS-APPL-USER-3
          example: Application Data 3
        miscellaneousUser1:
          maxLength: 30
          minLength: 0
          type: string
          description: |-
            Miscellaneous user 1.

            VisionPLUS Service Data: AZXD1I-BS-MISC-USER-1
          example: "1"
        miscellaneousUser2:
          maxLength: 11
          minLength: 0
          type: string
          description: |-
            Miscellaneous user 2.

            VisionPLUS Service Data: AZXD1I-BS-MISC-USER-2
          example: "2"
        miscellaneousUser3:
          maxLength: 11
          minLength: 0
          type: string
          description: |-
            Miscellaneous user 3.

            VisionPLUS Service Data: AZXD1I-BS-MISC-USER-3
          example: "3"
        miscellaneousUser4:
          maxLength: 11
          minLength: 0
          type: string
          description: |-
            Miscellaneous user 4.

            VisionPLUS Service Data: AZXD1I-BS-MISC-USER-4
          example: "4"
        affiliateEmbosser:
          type: integer
          description: |-
            * Min Length: 0
            * Max Length: 5

            Identification of the cardholder’s affiliation or affinity group.

            VisionPLUS Service Data: AZXD1I-BS-AFFL-EMBLM
          format: int32
          example: 85632
        serviceFeeTable:
          type: integer
          description: |-
            * Min Length: 0
            * Max Length: 3

            ID of the PCT override tables.

            VisionPLUS Service Data: AZXD1I-BS-SVC-FEE-TABLE
          format: int32
          example: 999
        serviceFeeStartDate:
          pattern: YYYY-MM-DD
          type: string
          description: |-
            Start date of the override (in ISO 8601).

            If PRICING CTRL field is populated, the start date must be equal to or greater than the org next processing date.

            VisionPLUS Service Data: AZXD1I-BS-SVC-FEE-START-DATE
          format: date
          example: 2023-01-22
        serviceFeeExpiryDate:
          pattern: YYYY-MM-DD
          type: string
          description: |-
            Expiration date of the override (in ISO 8601).

            If PRICING CTRL field is populated, the expiration date must be greater than the start date.

            Expiration date must not be > 0 when START DATE is not > 0.

            VisionPLUS Service Data: AZXD1I-BS-SVC-FEE-EXPIR-DATE
          format: date
          example: 2023-01-26
        ddaRoutingNumber:
          type: integer
          description: |-
            * Min Length: 0
            * Max Length: 9

            DDA routing number.

            If the checking account number field is populated, the checking routing number is required.

            VisionPLUS Service Data: AZXD1I-BS-DDA-RTNG-NBR
          format: int32
          example: 950084292
        ddaAccountNumber:
          maxLength: 17
          minLength: 0
          type: string
          description: |-
            DDA account number.

            If the checking routing number is populated, the checking account number is required.

            VisionPLUS Service Data: AZXD1I-BS-DDA-ACCT-NBR
          example: "54853388673902208"
        savingsRoutingNumber:
          type: integer
          description: |-
            * Min Length: 0
            * Max Length: 7

            Savings routing number.

            If the savings account number field is populated, the savings routing number is required.

            VisionPLUS Service Data: AZXD1I-BS-SAV-RTNG-NBR
          format: int32
          example: 8092162
        savingsAccountNumber:
          maxLength: 17
          minLength: 0
          type: string
          description: |-
            Savings account number.

            If the savings routing number field is populated, the savings account number is required.

            VisionPLUS Service Data: AZXD1I-BS-SAV-ACCT-NBR
          example: "59550475827159292"
        customerSelectDueDay:
          type: integer
          description: |-
            * Min Length: 1
            * Max Length: 2

            Customer Select Due Day.

            VisionPLUS Service Data: AZXD1I-BS-CUST-SEL-DUE-DAY
          format: int32
          example: 15
        stateOfResidence:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            Identification code of the Processing Control Table assigned to the account.

            VisionPLUS Service Data: AZXD1I-BS-STATE-OF-RESIDENCE
          example: DF
        stateOfIssue:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            Code that identifies the state, province, or country in which the account was or is going to be issued.

            VisionPLUS Service Data: AZXD1I-BS-STATE-OF-ISSUE
          example: DF
        statementSendingMethod:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Statement Sending Method.

            VisionPLUS Service Data: AZXD1I-BS-STATEMENT-FLAG
          example: "0"
        smsStatementIndicator:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Statement Sending Method.

            VisionPLUS Service Data: AZXD1I-BS-USER-CODE1
          example: "0"
      description: Account Data
    AccountBoardingDriverRequestL8V3.CustomerData:
      required:
      - isCustomerCreationRequired
      type: object
      properties:
        isCustomerCreationRequired:
          pattern: ^(Y|N)$
          type: string
          description: |-
            * Min Length: 1
            * Max Length: 1

            Customer creation required or not.

            Values:
            * Y = Create customer;
            * N = Don’t create customer.

            Note: If value is N customer should be provided.

            VisionPLUS Service Data: AZXD1I-CUST-CREATE
          example: "N"
        customerNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: |-
            Customer Number

            Must be provided when field 'isCustomerCreationRequired' field is set to 'N'

            VisionPLUS Service Data: AZXD1I-CUST-NBR
          example: "0976500000000000021"
        makerComakerIndicator:
          type: integer
          description: |-
            * Min Length: 1
            * Max Length: 1

            Maker/Comaker indicator

            Values:
            * 1 = Maker;
            * 2 = Comaker.

            Must be provided when 'isCustomerCreationRequired' field is Y.

            VisionPLUS Service Data: AZXD1I-NA-COMAKER-IND
          format: int32
          example: 1
        makerData:
          $ref: "#/components/schemas/AccountBoardingDriverRequestL8V3.CustomerData.MakerData"
        comakerData:
          $ref: "#/components/schemas/AccountBoardingDriverRequestL8V3.CustomerData.ComakerData"
      description: Customer Data
    AccountBoardingDriverRequestL8V3.CustomerData.ComakerData:
      type: object
      properties:
        comakerMaritalStatus:
          type: integer
          description: |-
            * Min Length 0
            * Max Length 1

            Comaker’s marital status.

            Values:
            * 0 = Not used;
            * 1 = Married and living at same address;
            * 2 = Married and living at different addresses;
            * 3 = Not married and living at same address;
            * 4 = Not married and living at different addresses.

            VisionPLUS Service Data: AZXD1I-C-MARITAL-STATUS
          format: int32
          example: 3
        comakerNameLine1:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Comaker’s name line 1.

            VisionPLUS Service Data: AZXD1I-C-NAME-LINE-1
          example: Deodoro da Fonseca
        comakerNameTypeIndicator1:
          type: integer
          description: |-
            * Min Length: 1
            * Max Length 1

            Comaker’s name type 1.

            VisionPLUS Service Data: AZXD1I-C-NAME-TYPE-IND-1
          format: int32
          example: 1
        comakerNameLine2:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Comaker’s name line 2.

            VisionPLUS Service Data: AZXD1I-C-NAME-LINE-2
          example: Floriano Peixoto
        comakerNameTypeIndicator2:
          type: integer
          description: |-
            * Min Length 0
            * Max Length 1

            Comaker’s name type 2.

            VisionPLUS Service Data: AZXD1I-C-NAME-TYPE-IND-2
          format: int32
          example: 1
        comakerNameLine3:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Comaker’s name line 3.

            VisionPLUS Service Data: AZXD1I-C-NAME-LINE-3
          example: Prudente de Morais
        comakerNameTypeIndicator3:
          type: integer
          description: |-
            * Min Length 0
            * Max Length: 1

            Comaker’s name type 3.

            VisionPLUS Service Data: AZXD1I-C-NAME-TYPE-IND-3
          format: int32
          example: 1
        comakerHouseNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Comaker’s house number.

            VisionPLUS Service Data: AZXD1I-C-HOUSE-NBR
          example: "1000"
        comakerHouseName:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Comaker’s house name.

            VisionPLUS Service Data: AZXD1I-C-HOUSE-NAME
[...]
