openapi: 3.0.1
info:
  description: "This documentation describes the REST APIs provided by the FirstVision\u2122\
    \ Cards Microservice, which provides functionality for the issuing, management\
    \ and processing of credit cards, including bank, co-branded, private label, debit,\
    \ commercial, and prepaid"
  title: "FirstVision\u2122 Account Service - API Documentation"
  version: '1.2'
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /account/details:
    put:
      tags:
      - Account
      summary: 'Account Update. VMX Service: M.CMS.ACCTMNT.UPD, L8V1'
      description: "Update account details. \nVMX Service: M.CMS.ACCTMNT.UPD, L8V1"
      operationId: details
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountDetailsRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '405':
          description: Method Not Allowed
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: "Unprocessable Entity\n\nVPL5SBB14S - ORGANIZATION NUMBER MUST\
            \ BE NUMERIC AND VALID VALUES ARE 001-998 \n\nVPL5SBB01E - STATE OF RESIDENCE\
            \ CONTAINS INVALID CHARACTERS \n\nVPL5SBB02E - STATE OF ISSUANCE CONTAINS\
            \ INVALID CHARACTERS \n\nVPL5SBB03E - PRICING CONTROL ID CONTAINS INVALID\
            \ CHARACTERS \n\nVPL5SBB04E - PRICING CONTROL START DATE IS NOT NUMERIC\
            \ \n\nVPL5SBB05E - PRICING CONTROL EXPIRE DATE IS NOT NUMERIC \n\nVPL5SBB06E\
            \ - PRICING LEVEL OVERRIDE MUST EQUAL SPACE, L, O OR S \n\nVPL5SBB07E\
            \ - PRICING LEVEL START DATE IS NOT NUMERIC \n\nVPL5SBB08E - PRICING LEVEL\
            \ EXPIRE DATE IS NOT NUMERIC \n\nVPL5SBB12E - CASH LIMIT FIELD MUST EQUAL\
            \ N, T OR Y \n\nVPL5SBB13E - CUSTOMER STATEMENT FIELD MUST = 0 OR 1 \n\
            \nVPL5SBB14E - CUSTOMER LTR FIELD FLAG VALUE MUST = 0 OR 1 \n\nVPL5SBB15E\
            \ - SUPPRESS LETTER FIELD MUST EQUAL 0 OR 1 \n\nVPL5SBB16E - CYCLE VALUE\
            \ INVALID - MUST BE BETWEEN ZEROS AND 31 \n\nVPL5SBBQ1E - STATE OF RESIDENCE\
            \ IS INVALID ON USURY TABLE \n\nVPL5SBBR2E - START DATE FOR THE PRICING\
            \ CTRL NOT A VALID DATE \n\nVPL5SBBR3E - START DATE FOR THE PRICING CTRL\
            \ MUST BE = OR > NEXT PROCESSING DT \n\nVPL5SBB1RE - EXPIRE DATE INVALID\
            \ WHEN PCT CNTRL START DATE NOT PROVIDE \n\nVPL5SBBR4E - EXPIRE DATE FOR\
            \ THE PRICING CTRL NOT A VALID DATE \n\nVPL5SBBR5E - EXPIRE DATE FOR THE\
            \ PRICING CTRL MUST BE = OR > PCT START \n\nVPL5SBB1SE - PCT LEVEL START\
            \ DATE INVALID WHEN PCT LEVEL NOT PROVIDED \n\nVPL5SBBR6E - PCT LEVEL\
            \ START DATE FOR THE PCT LEVEL NOT A VALID DATE \n\nVPL5SBBR7E - PCT LEVEL\
            \ START DATE FOR PCT LEVEL MUST BE = OR > NEXT PROCESS DT \n\nVPL5SBBR8E\
            \ - PCT LEVEL EXPIRE DATE FOR THE PCT LEVEL NOT A VALID DATE \n\nVPL5SBB2HE\
            \ - WAIVE CASH AVAIL MUST BE Y FOR PREPAID ACCOUNT TYPE \n\nVPL5SBBO7E\
            \ - VALID VALUES FOR PREPAID ACCOUNTS ARE SPACE, I, O, U, OR \n\nVPL5SBBO8E\
            \ - VALID VALUES ARE SPACE, 0-9, C, H, I, R, S, O, U OR Z \n\nVPL5SBB1PE\
            \ - CYCLE FIELD MUST BE GREATER THAN ZEROS \n\nPL5SBB53E - INVALID REISSUE\
            \ TECHNOLOGY. VALID VALUES - 0, 1, 2, 3 \n\nVPL5SAA74E - SKIP PAYMENT\
            \ FLAG MUST = A, M, N, V, X OR Z \n\nVPL5SAAN4E - PRIM ACCT BILLING LEVEL\
            \ CANNOT BE 1 WHEN REL BILLING LVL = 0 OR 2 \n\nVPL5SBB51E - INVALID PLAN\
            \ PMT OVERRIDE FLAG.VALID VALUES - F, X, P, M, SPACES \n\nVPL5SBB70E -\
            \ INVALID PREPMT ALLOWED. VALID VALUES - 0, 1, 2 \n\nVPL5SBB73E - INVALID\
            \ PREPMT ZERO. VALID VALUES - 0, 1, 2, 3 \n\nVPL5SBBO9E - VALID VALUES\
            \ ARE P, C, I, F, D, OR Q "
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAccountDetailsResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Account Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/customer:
    put:
      tags:
      - Account
      summary: 'Update Customer Number. (VMX Service: M.CMS.ACCTCUSTNBR.UPD, L8V1)'
      description: "Updates the Customer number on the Account. \nVMX Service: M.CMS.ACCTCUSTNBR.UPD,\
        \ L8V1"
      operationId: Customer Address Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerNumberRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '405':
          description: Method Not Allowed
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: 'VPL5SCU06S - ACCOUNT ORG MUST BE NUMERIC AND LESS THAN 999


            VPL5SCU07S - ACCOUNT OR CARD NUMBER REQUIRED


            VPL5SCU08S - CUSTOMER NUMBER REQUIRED


            VPL5SCU09S - FOREIGN USE INDICATOR INVALID - MUST BE 0, 1 OR 2


            VPL5SCU10S - FIELD IDENTIFIER INVALID - MUST BE 0 OR 1


            VPL5SCU11S - ALTERNATE CUSTOMER INDICATOR INVALID MUST BE - A, B OR C


            VPL5SCU12S - ALTERNATE CUSTOMER EXPIRATION DATE MUST BE NUMERIC


            VPL5SCU14S - ACCOUNT ORG COULD NOT BE DETERMINED


            VPL5SCU15S - DETERMINED ACCT ORG DOES NOT MATCH WITH INPUT ORG


            VPL5SCU16S - ORGANIZATION NOT FOUND ON FILE


            VPL5SCU18S - CUSTOMER ORGANIZATION COULD NOT BE DETERMINED


            VPL5SCU19S - CUSTOMER NUMBER NOT VALID FOR ORG PROVIDED


            VPL5SCU20S - FOREIGN USE INDICATOR INVALID, ORG IS NOT DUAL CURRENCY ORG


            VPL5SCU21S - ORGANIZATION RECORD NOT FOUND ON FILE


            VPL5SCU22S - FOREIGN ORG NOT FOUND ON FILE


            VPL5SCU23S - INVALID FOREIGN USE FLAG, ORG IS NOT DUAL


            VPL5SCU24S - ORGANIZATION COULD NOT BE DETERMINED FOR THE ACCOUNT


            VPL5SCU25S - ORG DETERMINED DOES NOT MATCH THE LOCAL ACCT ORG


            VPL5SCU01E - ORGANIZATION RECORD NOT FOUND ON FILE


            VPL5SCU03E - INVALID ACCOUNT STATUS OR ACCOUNT NOT FOUND


            VPL5SCU04E - REQUEST TYPE DOES NOT MATCH WITH THE ACCT TYPE


            VPL5SCU05E - CUSTOMER NUMBER NOT VALID OR NOT ON FILE


            VPL5SCU06E - GENERIC CUSTOMER NOT ALLOWED FOR NON-GENERIC ACCT


            VPL5SCU07E - FOREIGN USE INDICATOR INVALID, DUAL ACCOUNT NOT FOUND


            VPL5SCU08E - CUSTOMER NUMBERS ARE NOT THE SAME ON BOTH ACCOUNTS


            VPL5SCU09E - ALTERNATE CUSTOMER NUMBERS ARE NOT SAME ON BOTH ACCOUNTS


            VPL5SCU10E - DUAL CUSTOMER NUMBER NOT VALID OR NOT ON FILE


            VPL5SCU12E - INPUT ORG DOES NOT MATCH WITH ACCOUNT ORG


            VPL5SCU13E - FOREIGN ACCOUNT NOT FOUND ON FILE


            VPL5SCU14E - REQUEST TYPE DOES NOT MATCH ACCT TYPE


            VPL5SCU15E - FOREIGN CUSTOMER RECORD NOT FOUND ON FILE


            VPL5SCU16E - GENERIC CUSTOMER NOT ALLOWED FOR NON-GENERIC FOREIGN ACCT


            VPL5SCU17E - ALTERNATE CUSTOMER EXPIRATION DATE MUST BE A FUTURE DATE


            VPL5SCU18E - INVALID ALTERNATE CUSTOMER EXPIRATION DATE


            VPL5SCU20E = CARD NUM DECRYPTED FROM INPUT PAN TOKEN IS SPACES/ZEROS


            VPL5SCU21E = GLOBAL QUAL VALUE 1 OR 2, APPLICABLE ONLY FOR MEXICAN ORG


            VPL5SCU22E = GLOBAL QUAL SHOULD BE A TO Z OR 1 OR 2


            VPL5SCU23E = ACCOUNT NUMBER SHOULD NOT BE SPACES


            VPL5SCU24E = ORG LEVEL PAN TOKEN SW INACTIVE'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerNumberResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Customer Address Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/balance:
    put:
      tags:
      - Account
      summary: "Credits (cash in) or Debits (cash out) transactions from available\
        \ funds or credit open to buy in an Account. \n\nVMX Service: M.ASM.MONETARY.ACT,\
        \ L8V2"
      description: "Credits (cash in) or Debits (cash out) transactions from available\
        \ funds or credit open to buy in an Account. \n\nVMX Service: M.ASM.MONETARY.ACT,\
        \ L8V2"
      operationId: Cash-in & Cash-out Request
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyAccountBalanceRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '405':
          description: Method Not Allowed
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyAccountBalanceResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Cash-in & Cash-out Request
      x-group-name: Account
      x-child-product-name: Accounts
  /account/FL-transferP2P:
    put:
      tags:
      - Account
      summary: 'Account to Account Funds Transfer. VMX Service: M.ASM.MONETARYPTP.ACT,
        L8V2'
      description: "Integrate Account to Account (P2P) Funds Transfer transaction\
        \ information to be used in Fraud Prevention Rules.  \n\nVMX Service: M.ASM.MONETARYPTP.ACT,\
        \ L8V2"
      operationId: Account to Account Funds Transfer
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlTransferP2PRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '405':
          description: Method Not Allowed
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlTransferP2PResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Account to Account Funds Transfer
      x-group-name: Account
      x-child-product-name: Accounts
  /account/FL-balance:
    put:
      tags:
      - Account
      summary: "Integrate Cash-in & Cash-out and Integrate Quick Response (QR) transaction\
        \ information to be used in Fraud Prevention Rules. \n\nVMX Service: M.ASM.MONETARY.ACT,\
        \ L8V4"
      description: "Integrate Cash-in & Cash-out and Integrate Quick Response (QR)\
        \ transaction information to be used in Fraud Prevention Rules. \n\nVMX Service:\
        \ M.ASM.MONETARY.ACT, L8V4"
      operationId: Cash-in & Cash-out With Fraud Prevention
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountBalanceFlRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '405':
          description: Method Not Allowed
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '422':
          description: 'VPL8SMAA1S - CASE NUMBER MUST BE NUMERIC


            VPL8SMAA2S - CASE NUMBER MUST BE GREATER THAN ZERO


            VPL8SMA01E - ORGANIZATION VALUE MUST BE NUMBERIC AND VALID VALES ARE 000-998


            VPL8SMA01S - SERVICE COULD NOT OBTAIN STORAGE OUTPUT AREA


            VPL8SMA02E - ASM REP INVALID MUST BE GREATER THAN SPACES


            VPL8SMA02S - SERVICE INPUT TO M/A SERVICE IS AN INCORRECT LENGTH


            VPL8SMA03E - FOREIGN USE INDICATOR INVALID - MUST BE 0 OR 1


            VPL8SMA04E - ACCOUNT OR CARD NUMBER REQUIRED


            VPL8SMA05E - ACTION CODE IS REQUIRED


            VPL8SMA06E - EFFECTIVE DATE MUST BE NUMERIC


            VPL8SMA06S - ORG/LOGO COULD NOT BE DETERMINED FOR THE ACCOUNT


            VPL8SMA07E - TRANSACTION AMOUNT MUST BE NUMERIC


            VPL8SMA07S - INPUT ACCT ORG DOES NOT MATCH WITH ORG DETERMINED


            VPL8SMA08E - PLAN NUMBER MUST BE NUMERIC


            VPL8SMA08S - REQUESTED ORG NUMBER IS NOT FOUND


            VPL8SMA09E - PLAN SEQUENCE MUST BE NUMERIC


            VPL8SMA09S - SYSTEM RECORD NOT FOUND


            VPL8SMA10E - STORE NUMBER MUST BE NUMERIC


            VPL8SMA10S - ASM NOT ACTIVE... SERVICE USAGE NOT ALLOWED


            VPL8SMA11E - SKU NUMBER MUST BE NUMERIC


            VPL8SMA11S - LETTER APPLICATION NOT INSTALLED - LETER VALUE NOT APPLICABLE


            VPL8SMA12E - LETTER ORG MUST BE NUMERIC AND LESS THAN 999


            VPL8SMA12S - ORGANIZATION NOT FOUND


            VPL8SMA13E - R/REFERENCE NUMBER MUST BE NUMERIC


            VPL8SMA13S - INVALID FOREIGN USE INDICATOR, ORG NOT ACTIVE FOR DUAL


            VPL8SMA14E - CURRENCY CODE DOES NOT CORRESPOND TO CURRENCY CODE ON ORG


            VPL8SMA14S - INVALID FOREIGN USE INDICATOR, INPUT ORG DOES NOT MATCH


            VPL8SMA15E - INVALID VALUE IN THE CURRENCY CODE FIELD


            VPL8SMA15S - ACCOUNT OR CARD NOT FOUND


            VPL8SMA16E - EFFECTIVE DATE IS REQUIRED


            VPL8SMA16S - LOGO RECORD NOT FOUND


            VPL8SMA17E - TRANSACTION AMOUNT IS REQUIRED


            VPL8SMA17S - ASM ORG NOT FOUND


            VPL8SMA18E - PLAN NUMBER IS REQUIRED


            VPL8SMA18S - REPRESENTATIVE NOT FOUND OR NOT ACTIVE


            VPL8SMA19E - PLAN NUMBER MUST EQUAL THE PREPAID PLAN ON THE ACCT


            VPL8SMA19S - ASM REP NOT ALLOWED TO ACCESS ACCOUNT ORG


            VPL8SMA20E - PLAN NOT FOUND ON FILE


            VPL8SMA20S - ASM ACTION CODE IS NOT ON FILE


            VPL8SMA21E - PLAN SEQUENCE IS REQUIRED


            VPL8SMA21S - TRANSACTION AMOUNT IS GREATER THAN THE REP LIMIT


            VPL8SMA22E - DEPT IS REQUIRED


            VPL8SMA22S - REP NOT AUTHORIZED TO PERFORM THE ACTION


            VPL8SMA23E - AUTH CODE IS REQUIRED


            VPL8SMA23S - STORE NUMBER NOT ON FILE


            VPL8SMA24E - STORE NUMBER IS REQUIRED


            VPL8SMA24S - INVALID ASM ACTION CODE... CMS TRAN CODE IS INVALID


            VPL8SMA25E - SKU NUMBER IS REQUIRED


            VPL8SMA25S - INVALID CMS TRAN CODE OR TRAN CODE NOT FOUND


            VPL8SMA26E - SALES CLERK IS REQUIRED


            VPL8SMA26S - INVALID CMS TRAN CODE, TRAN CODE NOT MONETARY TYPE


            VPL8SMA27E - CARD NUMBER IS REQUIRED


            VPL8SMA27S - REP ACTIVITY MODEL RECORD NOT FOUND ON FILE


            VPL8SMA28E - CARD SEQUENCE IS REQUIRED


            VPL8SMA28S - REP TALLY BY ORG MODEL RECORD NOT FOUND ON FILE


            VPL8SMA29E - TICKET NUMBER IS REQUIRED


            VPL8SMA29S - MAXIMUM NUMBER OF TRANASACTIONS FOR THE REP REACHED


            VPL8SMA30E - PURCHASE ORDER NUMBER IS REQUIRED


            VPL8SMA30S - INVALID TRANSACTION TYPE


            VPL8SMA31E - R/REFERENCE NUMBER IS REQUIRED


            VPL8SMA31S - MONETARY TRANS FILE ISSUE IN THE MEMO POST ROUTINE


            VPL8SMA32E - INSURANCE PRODUCT IS REQUIRED


            VPL8SMA32S - SYSTEM CONTROL FILE ISSUE IN THE MEMO POST ROUTINE


            VPL8SMA33E - TRANSACTION NOT ALLOWED FOR PREPAID ACCOUNTS


            VPL8SMA33S - BASE SEGMENT FILE ISSUE IN THE MEMO POST ROUTINE


            VPL8SMA34E - TRANSACTION NOT VALID FOR ACCOUNT


            VPL8SMA34S - OUTSTANDING AUTH FILE ISSUE IN THE MEMO POST ROUTINE


            VPL8SMA35E - TRANSACTION AMOUNT LESS THAN MIN INITIAL LOAD AMOUNT


            VPL8SMA35S - LOG FILE ISSUE IN THE MEMO POST ROUTINE


            VPL8SMA36E - TRANSACTION AMOUNT GREATER THAN MAX INITIAL LOAD AMOUNT


            VPL8SMA36S - APPLICATION ISSUE... TRY AGAIN LATER


            VPL8SMA37E - TRANSACTION AMOUNT GREATER THAN MAX LIFE TIME LOAD AMOUNT


            VPL8SMA38E - RELOAD NOT ALLOWED ON DISPOSABLE CARD


            VPL8SMA39E - NUMBER OF LOADS EXCEEDED THE MAX NUMBER OF GENERIC LOADS


            VPL8SMA40E - NUMBER OF LOADS EXCEEDED THE MAX NBR OF LIFE TIME LOADS


            VPL8SMA41E - EXCEEDING THE LIFE TIME MAX LOAD AMOUNT


            VPL8SMA42E - EXCEEDING THE NUMBER LIMIT FOR THE FREQUENCY


            VPL8SMA43E - EXCEEDING THE AMOUNT LIMIT FOR THE FREQUENCY


            VPL8SMA44E - TRANSACTION AMOUNT LESS THAN SINGLE LOAD MIN AMOUNT


            VPL8SMA45E - TRANSACTION AMOUNT GREATER THAN SINGLE LOAD MAX AMOUNT


            VPL8SMA46E - INVALID FEE OCCURENCE NUMBER FOR PREPAID TRANSACTION


            VPL8SMA47E - INVALID ACCT ORG REAL TIME FEE PROCESS FAILURE


            VPL8SMA48E - INVALID ACCT NUMBER REAL TIME FEE PROCESS FAILURE


            VPL8SMA49E - INVALID PCT ON THE ACCT REAL TIME FEE PROCESS FAILURE


            VPL8SMA50E - FEE TABLE NOT FOUND ON PCT REAL TIME FEE PROCESS FAILURE


            VPL8SMA51E - UNKNOWN ERROR OCCURED IN REAL TIME FEE PROCESS FAILURE


            VPL8SMA52E - INSURANCE PRODUCT NOT APPLICABLE FOR PREPAID ACCOUNTS


            VPL8SMA53E - INVALID EFFECTIVE DATE


            VPL8SMA54E - INVALID ACCT STATUS, USE TRANSFERRED TO ACCT


            VPL8SMA55E - PRIORITY MUST BE NUMERIC AND VALID VALUES ARE 0 - 3


            VPL8SMA56E - MANUAL REFERRAL OPTION INVALID. MUST BE ZERO, SPACES, LV
            OR 1.


            VPL8SMA57E - MANUAL REFERRAL ORG NUMBER MUST BE NUMERIC AND < 999


            VPL8SMA58E - MANUAL REFERRAL REP ID WAS NOT SUPPLIED


            VPL8SMA59E - NOT A MULTI WALLET ORG/LOGO


            VPL8SMA59S - MANUAL REFERRAL ORG/REP NOT FOUND


            VPL8SMA60E - MEMO POST IND MUST BE N OR R


            VPL8SMA60S - MANUAL REFERRAL ORG/REP NOT ELIGIBLE FOR THIS REQUEST


            VPL8SMA61E - MONETARY SUPRESS MUST BE N OR Y


            VPL8SMA61S - NBR INSTL MUST BE NUMERIC


            VPL8SMA62E - N1N2 BYPASS MUST BE N OR Y


            VPL8SMA62S - MUST BE ZERO FOR NON-INSTALLMENT PLAN


            VPL8SMA63E - MON SUPP MUST BE Y WHEN MEMO POST IND IS R


            VPL8SMA63S - NBR INSTL EXCEEDED CREDIT PLAN INSTL NBR


            VPL8SMA64E - VALID AUTH CODE NEEDED WHEN MEMO POST IND IS R


            VPL8SMA64S - NBR INSTL > 0 ONLY FOR SALES TXN


            VPL8SMA65E - ACCOUNT OTB INQUIRY FAILURE


            VPL8SMA66E - FAILURE DETERMINING CROSS CONV FEE


            VPL8SMA67E - CURRENCY CONVERSION FAILURE


            VPL8SMA68E - REFERENCE NUMBER CANNOT BE SPACES


            VPL8SMA69E - WALLET OTB INSUFFICIENT. FUND MOVEMENT FROM OTHER WALLETS
            DISABLE


            VPL8SMA70E - CICS ERROR WITH CROSS WLT XFR SERVICE


            VPL8SMA71E - ACCOUNT OTB INSUFFICIENT


            VPL8SMA71S - AMXP FILE NOT OPEN


            VPL8SMA72E - RULE LEVEL RECORD NOT FOUND IN AMXP


            VPL8SMA73E - DAILY LIMIT EXCEEDED


            VPL8SMA73S - INVALID REVERSAL - RECORD NOT FOUND


            VPL8SMA74E - MONTHLY LIMIT EXCEEDED


            VPL8SMA75E - BALANCE EXCEEDED


            VPL8SMA76S - FALCON NOT ACTIVE


            VPL8SMA77S - CUSTOMER RECORD NOT FOUND


            VPL8SMA78S - ACCOUNT NUMBER NOT FOUND


            VPL8SMA79S - ERROR WHILE SENDING NON-MON DATA TO FALCON


            VPL8SMA80S - CONTAINER ERROR- CONTACT ADMINISTRATOR


            VPL8SMA81S - FMIP FILE READ ERROR


            VPL8SMA82S - DECLINED BY FALCON RULE- VALIDATE THE RULES


            VPL8SMA83E - ACCOUNT BLOCKED FOR CASH IN


            VPL8SMA84E - ACCOUNT BLOCKED FOR CASH OUT


            VPL8SMA85E - ACCOUNT BLOCKED FOR CASHIN/CASHOUT


            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalanceFlResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Cash-in & Cash-out With Fraud Prevention
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v2/accountBoardingDriver:
    post:
      tags:
      - Account
      summary: 'Creates a card, account and customer in a single request.


        VMX Service: M.CMS.CUST.ACCT.CRD.DRV, L8V3'
      description: 'Creates a card, account and customer in a single request.


        VMX Service: M.CMS.CUST.ACCT.CRD.DRV, L8V3'
      operationId: Account Boarding Driver Request
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountBoardingDriverRequestL8V3'
        required: true
      responses:
        '400':
          description: Bad Request
        '405':
          description: Method Not Allowed
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '422':
          description: "VPL5SZ1Z1E - SERVICE COULD NOT OBTAIN STORAGE AREA \n\nVPL5SZ1Z2E\
            \ - SERVICE INPUT TO EPIC DRIVER SERVICE IS INCORRECT LENGTH \n\nVPL5SZ103E\
            \ - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998 \n\
            \nVPL5SZ104E - LOGO NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998\
            \ \n\nVPL5SZ105E - CUSTOMER CREATE FLAG SHOULD BE Y OR N \n\nVPL5SZ106E\
            \ - WHEN CUSTOMER CREATE FLAG IS N CUST NBR IS REQUIRED \n\nVPL5SZ107E\
            \ - ACCOUNT CREATE FLAG SHOULD BE Y OR N \n\nVPL5SZ108E - WHEN ACCOUNT\
            \ CREATE FLAG IS Y ACCT NBR NOT REQUIRED \n\nVPL5SZ109E - WHEN ACCOUNT\
            \ CREATE FLAG IS N ACCT NBR IS REQUIRED \n\nVPL5SZ110E - WHEN ACCOUNT\
            \ CREATE FLAG IS Y CREDIT LIMIT IS REQUIRED \n\nVPL5SZ111E - WHEN ACCOUNT\
            \ CREATE FLAG IS Y BILLING CYCLE IS REQUIRED \n\nVPL5SZ112E - WHEN ACCOUNT\
            \ CREATE FLAG IS Y OWNING BRANCH NBR IS REQUIRED \n\nVPL5SZ113E - ADMIN\
            \ BRANCH IS NOT NUMERIC \n\nVPL5SZ114E - FIRST ISS BRANCH IS NOT NUMERIC\
            \ \n\nVPL5SZ115E - WHEN ACCT CREATE FLAG IS Y AND DFLT ACCT IS DDA RTNG\
            \ NBR REQUIRED \n\nVPL5SZ116E - WHEN ACCT CREATE FLAG IS Y AND DFLT ACCT\
            \ IS DDA ACCT NBR REQUIRED \n\nVPL5SZ117E - WHEN ACCT CREATE FLAG IS Y\
            \ AND DFLT ACCT IS SAV RTNG NBR REQUIRED \n\nVPL5SZ118E - WHEN ACCT CREATE\
            \ FLAG IS Y AND DFLT ACCT IS SAV ACCT NBR REQUIRED \n\nVPL5SZ119E - CARD\
            \ CREATE FLAG (1) SHOULD BE Y OR N \n\nVPL5SZ120E - CARD TECHNOLOGY (1)\
            \ SHOULD BE 0 OR 1 OR 2 OR 3 \n\nVPL5SZ121E - WHEN CARD CREATE FLAG (1)\
            \ IS Y EMBOSSER NAME (1) IS REQUIRED \n\nVPL5SZ122E - POS SERVICE CODE\
            \ (1) SHOULD BE VALID \n\nVPL5SZ123E - POS SERVICE CODE (1) SHOULD BE\
            \ NUMERIC \n\nVPL5SZ123E - POS SERVICE CODE (1) SHOULD BE NUMERIC \n\n\
            VPL5SZ124E - DIG CARD IND (1) SHOULD BE 0 OR 1 \n\nVPL5SZ125E - CARD CREATE\
            \ FLAG (2) SHOULD BE Y OR N \n\nVPL5SZ126E - CARD TECHNOLOGY (2) SHOULD\
            \ BE 0 OR 1 OR 2 OR 3 \n\nVPL5SZ127E - WHEN CARD CREATE FLAG (2) IS Y\
            \ EMBOSSER NAME (2) IS REQUIRED \n\nVPL5SZ128E - POS SERVICE CODE (2)\
            \ SHOULD BE VALID \n\nVPL5SZ129E - POS SERVICE CODE (2) SHOULD BE NUMERIC\
            \ \n\nVPL5SZ130E - DIG CARD IND (2) SHOULD BE 0 OR 1 \n\nVPL5SZ131E -\
            \ ERROR IN FILE SET DETERMINATION ERROR \n\nVPL5SZ132E - FILE-TABLE USED\
            \ BY THIS SERVICE IS MISSING \n\nVPL5SZ133E - APPLICATION IN NO-PROCESSING\
            \ STATUS \n\nVPL5SZ134S - SYSTEM RECORD IS NOT FOUND \n\nVPL5SZ135S -\
            \ ORGANIZATION NOT ON FILE OR IN PENDING STATUS \n\nVPL5SZ136S - LOGO\
            \ NOT ON FILE OR IN PENDING STATUS \n\nVPL5SZ137E - POS SERVICE CODE (1)\
            \ MUST BE VALID FOR MASTERCARD AFFILIATE \n\nVPL5SZ138E - POS SERVICE\
            \ CODE (1) MUST BE VALID FOR VISA AFFILIATE \n\nVPL5SZ139E - POS SERVICE\
            \ CODE (1) MUST BE VALID FOR AFFILIATE \n\nVPL5SZ140E - POS SERVICE CODE\
            \ (2) MUST BE VALID FOR MASTERCARD AFFILIATE \n\nVPL5SZ141E - POS SERVICE\
            \ CODE (2) MUST BE VALID FOR VISA AFFILIATE \n\nVPL5SZ142E - POS SERVICE\
            \ CODE (2) MUST BE VALID FOR AFFILIATE \n\nVPL5SZ143S - INITIALIZE CALL\
            \ TO VCM SERVICE FAILED DURING CUST CREATE \n\nVPL5SZ144S - NO RESPONSE\
            \ FOR VCM SERVICE WITH NULL VALUES IN CUST CREATE \n\nVPL5SZ145E - CUSTOMER\
            \ RECORD NOT FOUND OR IN PENDING STATUS \n\nVPL5SZ146S - INITIALIZE CALL\
            \ TO VCM SERVICE FAILED DURING ACCT CREATE \n\nVPL5SZ147S - NO RESPONSE\
            \ FOR VCM SERVICE WITH NULL VALUES IN ACCT CREATE \n\nVPL5SZ148E - ACCOUNT\
            \ RECORD NOT FOUND OR IN PENDING STATUS \n\nVPL5SZ149S - INITIALIZE CALL\
            \ TO VCM SERVICE FAILED DURING CARD CREATE \n\nVPL5SZ150S - NO RESPONSE\
            \ FOR VCM SERVICE WITH NULL VALUES IN CARD CREATE \n\nVPL5SZ151S - LOGO\
            \ LEVEL ETK TYPE/ZONE FIELDS SHLD HAVE KMS ACTIVE \n\nVPL5SZ152S - SRM/HSM\
            \ CALL FAILED \n\nVPL5SZ153S - SRM/HSM FATAL ERROR \n\nVPL5SZ154S - PROBLEM\
            \ ENCRYPTING SOURCE \n\nVPL5SZ155S - PROBLEM ENCRYPTING SOURCE \n\nVPL5SZ156S\
            \ - PROBLEM ENCRYPTING SOURCE \n\nVPL5SZ157S - INITIALIZE CALL TO VCM\
            \ SERVICE FAILED \n\nVPL5SZ158S - NO RESPONSE FOR VCM SERVICE WITH NULL\
            \ VALUES \n\nVPL5SZ159E - ACCT ALREADY PRESENT FOR GIVEN DDA ACCT \n\n\
            VPL5SZ160E - ACCT ALREADY PRESENT FOR GIVEN SAV ACCT \n\nVPL5SZ161E -\
            \ NO VALID ACCT PRESENT FOR GIVEN CUSTOMER ACCT.\n\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBoardingDriverResponseL8V3'
        '401':
          description: Unauthorized
      x-proxy-name: Account Boarding Driver Request
      x-group-name: Account
      x-child-product-name: Accounts
  /account/details-L8VG:
    post:
      tags:
      - Account
      summary: "Find account details provides information on the account\u2019s status.\
        \ If the account has been transferred, the current account number must be\
        \ provided. This service does not automatically switch to the new account.\
        \ This service can be called with an account number or a card number. \n\n\
        VMX Service: M.CMS.ACCOUNT.INQ, L8VG"
      description: "Find account details provides information on the account\u2019\
        s status. If the account has been transferred, the current account number\
        \ must be provided. This service does not automatically switch to the new\
        \ account. This service can be called with an account number or a card number.\
        \ \n\nVMX Service: M.CMS.ACCOUNT.INQ, L8VG"
      operationId: Account Inquiry
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountForDetailsL8vgRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '405':
          description: Method Not Allowed
        '403':
          description: Forbidden
        '422':
          description: "VPL5SAI03E - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE\
            \ BETWEEN 000 AND 998\n\nVPL5SAI04E - REQUESTED CARD/ACCT NUMBER IS NOT\
            \ NUMERIC OR EQUAL SPACES\n\nVPL5SAI05E - INVALID FOREIGN USE IND SPECIFIED\
            \ - VALID VALUES ARE SPACE 0 OR 1\n\nVPL5SAI07S \u2013 ORGANIZATION NOT\
            \ FOUND ON FILE\n\nVPL5SAI08S \u2013 FOREIGN ORGANIZATION NOT FOUND ON\
            \ FILE\n\nVPL5SAI09S - ACCOUNT NUMBER NOT FOUND\n\nVPL5SAI10S - ACCOUNT\
            \ NUMBER NOT FOUND ON FILE\n\nVPL5SAI11S - LOGO NOT FOUND ON FILE\n\n\
            VPL5SAI12S - CUSTOMER NOT FOUND ON FILE\n\nVPL5SAI13I - FOREIGN USE ORG\
            \ UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA\n\nVPL5SAI13S - ACCOUNT\
            \ SECONDARY BASE SEGMENT RECORD NOT FOUND\n\nVPL5SAI14E - INVALID INPUT\
            \ UPD DUE FLAG - VALID VALUES ARE 0, 1\n\nVPL5SAIZ4S - REQUESTED ORGANIZATION\
            \ COULD NOT BE DETERMINED\n\nVPL5SAIZ5S - REQUESTED ORGANIZATION NOT FOUND"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountForDetailsL8vgResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Account Inquiry
      x-group-name: Account
      x-child-product-name: Accounts
  /account/card-L8V2:
    post:
      tags:
      - Account
      summary: 'Account to card details_1. (VMX Service: M.CMS.ACCT.TO.CARD.INQ, L8V2)'
      description: "Provides the card number uses the account number or the account\
        \ and organization number to find it. If only the account number is provided\
        \ in the service input in a dual currency processing environment, this service\
        \ provides the card numbers for the local account. If the organization number\
        \ is provided in the service input, this service provides the card numbers\
        \ associated with that organization whether it is a local or a foreign organization.\
        \ \nVMX Service: M.CMS.ACCT.TO.CARD.INQ, L8V2"
      operationId: Account To Card Inquiry
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountForCardDetailsL8V2Request'
        required: true
      responses:
        '400':
          description: Bad Request
        '405':
          description: Method Not Allowed
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountForCardDetailsL8V2Response'
        '401':
          description: Unauthorized
      x-proxy-name: Account To Card Inquiry
      x-group-name: Account
      x-child-product-name: Accounts
  /account/:
    post:
      tags:
      - Account
      summary: 'Add account. VMX Service: M.CMS.ACCOUNT.ADD, R8V8'
      description: "Adds a single Account to an existing Customer record for Single\
        \ Currency Accounts. For Dual Currency Accounts, two records with the same\
        \ Account number will be created in the local and foreign currency Organizations.\
        \ \nVMX Service: M.CMS.ACCOUNT.ADD, R8V8"
      operationId: Account Add
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountAddDetailsRequest'
        required: true
      responses:
        '400':
          description: Bad Request
        '405':
          description: Method Not Allowed
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '422':
          description: 'VPL5SAA02S - ORG NUMBER MUST BE NUMERIC AND VALID VALUES ARE
            001-998


            VPL5SAA03S - ORG NUMBER REQUIRED WHEN ACCOUNT NUMBER NOT PROVIDED


            VPL5SAA04S - LOGO NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998


            VPL5SAA05S - LOGO NUMBER REQUIRED WHEN ACCOUNT NUMBER NOT PROVIDED


            VPL5SAA06S - ORGANIZATION NOT DETERMINED


            VPL5SAA07S - ORGANIZATION NOT DETERMINED


            VPL5SAA08S - REQUESTED ORG NUMBER IS NOT FOUND


            VPL5SAA0AE - USER DATE 10 IS NOT A VALID DATE


            VPL5SAA0BE - USER DATE 11 IS NOT A VALID DATE


            VPL5SAA0CE - USER DATE 12 IS NOT A VALID DATE


            VPL5SAA0DE - USER DATE 13 IS NOT A VALID DATE


            VPL5SAA0EE - USER DATE 14 IS NOT A VALID DATE


            VPL5SAA0GE - ALT EXPIRES DATE MUST BE EQUAL ZEROS


            VPL5SAA0HE - RELATIONSHIP LOGO IS NOT VALID FOR PURCHASE CARDS


            VPL5SAA0IE - RELATIONSHIP LOGO IS NOT VALID FOR CORPORATE CARDS


            VPL5SAA0JE - MEMO BILLING CURRENCY MUST EQUAL ZEROS


            VPL5SAA0KE - DUAL BILLING MUST NOT BE A VALUE OF 1 FOR RELATIONSHIP


            VPL5SAA0LE - BILLING CYCLE MUST NOT EQUAL ZEROS


            VPL5SAA0ME - CYCLE FIELD MUST EQUAL VALID CYCLES DEFINED ON SYSTEM RECORD


            VPL5SAA0NE - ASSOCIATE REL TYPE MUST NOT EQUAL ZEROS


            VPL5SAA0OE - ASSOCIATE ACCOUNT NUMBER MUST NOT EQUAL SPACES OR ZEROS


            VPL5SAA0PE - ASSOCIATE ACCOUNT NUMBER MUST EQUAL SPACES OR ZEROS


            VPL5SAA0QE - PRICING START DATE CAN NOT BE GREATER THAN PCT EXPIRE DATE


            VPL5SAA0RE - PRICING START/EXPIRE DATE INVALID WHEN PCT ID EQUAL SPACES


            VPL5SAA0SE - PRICING LEVEL EXPIRE DATE LESS THAN START DATE


            VPL5SAA0TE - PCT LEVEL START/EXPIRE DATES INVALID WHEN PCT LEVEL NOT PROVIDED


            VPL5SAA0UE - DATE TEMP CREDIT LIMIT EXPIRE IS NOT VALID FOR TEMP CREDIT
            LIMIT


            VPL5SAA0VE - PREFER END DATE MUST BE GREATER THAN PREFER START DATE


            VPL5SAA0WE - DATE PAYMENT EXPIRE MUST BE GREATER THAN PAYMENT START DATE


            VPL5SAA0XE - DC ACH START DATE MUST BE LESS OR EQUAL DC ACH EXPIRE DATE


            VPL5SAA0YE - DC REQUEST DAY INDICATOR MUST EQUAL ZEROS


            VPL5SAA0ZE - DC REQUEST DAY MUST BE BETWEEN 01 AND 3


            VPL5SAA1AE - DC REQUEST DAY MUST BE GREATER THAN ZERO


            VPL5SAA1BE - FIXED PAYMENT/AMOUNT PERCENT FIELD INVALID


            VPL5SAA1CE - FIXED PAYMENT/AMOUNT PERCENT FIELD INVALID WHEN OVERRIDE
            IS SPACE


            VPL5SAA1DE - PAYMENT OVERRIDE MUST EQUAL SPACE


            VPL5SAA1ES - PCT ENTRY DOES NOT EXIST


            VPL5SAA1FS - ACCT CTL TABLE ID INVALID-CSH/RTL PLANS/CHGF ACRINT NOT OBTAINED


            VPL5SAA1GS - ACCT CTL TABLE ID INVALID-CSH/RTL PLANS/CHGF ACRINT NOT OBTAINED


            VPL5SAA1HS - FEE CTL TABLE ID INVALID - GRACE LIMITS FREQUENCIES NOT OBTAINED


            VPL5SAA1IS - FEE CTL TABLE ID INVALID - GRACE LIMITS FREQUENCIES NOT OBTAINED


            VPL5SAA1KS - CANNOT ADD A PURCHASE CARD ACCOUNT TO A CORPORATE RELATIONSHIP


            VPL5SAA1LS - CANNOT ADD A CORPORATE ACCOUNT TO A PURCHASE CARD RELATIONSHIP


            VPL5SAA1MS - CANNOT ADD A NON HCS ACCOUNT TO A HCS CARD RELATIONSHIP


            VPL5SAA1NE - DUE FIELD MUST EQUAL ZEROS


            VPL5SAA1OE - DUE FIELD MUST BE GREATER THAN ZEROS


            VPL5SAA1PE - CYCLE FIELD MUST BE GREATER THAN ZEROS


            VPL5SAA1QE - PCT LEVEL EXPIRE DATE INVALID WHEN PCT LVL START DTE NOT
            PROVIDED


            VPL5SAA1RE - EXPIRE DATE INVALID WHEN PCT CNTRL START DATE NOT PROVIDED


            VPL5SAA1SE - PCT LEVEL START DATE INVALID WHEN PCT LEVEL NOT PROVIDED


            VPL5SAA1TE - PREPAID PLAN NUMBER MUST BE NUMERIC AND NOT EQUAL ZERO


            VPL5SAA1US - PREPAID PLAN NUMBER NOT FOUND


            VPL5SAA1VE - PREPAID PLAN NUMBER IS NOT A VALID TYPE


            VPL5SAA1WE - SINGLE LOAD MAX MUST BE GREATER THAN SINGLE LOAD MIN


            VPL5SAA1XE - LOAD FREQUENCY CAN NOT BE > 0 WHEN LOAD NUMBER = ZERO


            VPL5SAA1YE - MAX AMOUNT CAN NOT BE LESS THAN MIN AMOUNT


            VPL5SAA1ZE - SINGLE LOAD MIN CAN NOT EXCEED LOGO SINGLE LOAD MIN


            VPL5SAA11S - ORG RECORD NOT FOUND


            VPL5SAA12S - LOGO RECORD NOT FOUND


            VPL5SAA14S - ACCOUNT NUMBER ALREADY ON FILE


            VPL5SAA16E - ACCOUNT TYPE MUST = 0, 1, 2, OR 3


            VPL5SAA17E - PRIMARY ACCOUNT FLAG MUST EQUAL SPACE OR P


            VPL5SAA18E - CREDIT LIMIT MUST BE NUMERIC


            VPL5SAA19E - CUSTOMER NUMBER REQUIRED


            VPL5SAA2AE - SINGLE LOAD MAX CAN NOT EXCEED LOGO SINGLE LOAD MAX


            VPL5SAA2BE - MAX LOAD AMOUNT CAN NOT BE ZERO


            VPL5SAA2CE - DUAL BILLING MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE


            VPL5SAA2DE - BILLING LEVEL MUST BE 1 FOR PREPAID ACCOUNT TYPE


            VPL5SAA2EE - FLEX BILL MUST BE N FOR PREPAID ACCOUNT TYPE


            VPL5SAA2FE - PREPAID FLAG MUST EQUAL ZERO FOR NON PREPAID ACCOUNT TYPE


            VPL5SAA2GE - WAIVE INT CHG MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE


            VPL5SAA2HE - WAIVE CASH AVAIL MUST BE Y FOR PREPAID ACCOUNT TYPE


            VPL5SAA2IE - PREPMT ALLOWED MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE


            VPL5SAA2JE - PREPMT MONTHS MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE


            VPL5SAA2KE - PREPMT ZERO MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE


            VPL5SAA2LE - LOAN LIMIT MUST BE N FOR PREPAID ACCOUNT TYPE


            VPL5SAA2ME - CASH PLAN NUMBER MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE


            VPL5SAA2NE - RETAIL PLAN NUMBER MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE


            VPL5SAA2OE - INTEREST VARIANCE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE


            VPL5SAA2PE - VARIANCE EFFECTIVE DATE MUST EQUAL ZEROS FOR PREPAID ACCT
            TYPE


            VPL5SAA2QE - PLAN PMT OVERRIDE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE


            VPL5SAA2RE - FIXED PMT AMT/PCT MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE


            VPL5SAA2SE - PAYMENT HOLD MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE


            VPL5SAA2TE - TEMP CREDIT LIMIT MUST EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA2UE - TEMP CREDIT LIMIT EXPIRE DATE MUST EQUAL ZEROS FOR ACCOUNT
            TYPE


            VPL5SAA2VE - PREFER MIN AMOUNT MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE


            VPL5SAA2WE - PREFER INT DAYS MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE


            VPL5SAA2XE - PAYMENT ACH FLAG MUST EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA2YE - DC ACH AMOUNT MUST EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA2ZE - DD NOM AMT/PCT FLAG MUST EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA20E - CARD FEE NOT NUMERIC


            VPL5SAA21E - BILLING CURRENCY NOT NUMERIC


            VPL5SAA22E - BILLING LEVEL MUST EQUAL 0 OR 1


            VPL5SAA23E - DUAL BILLING FIELD MUST EQUAL 0 OR 1


            VPL5SAA24E - ALT CUST FIELD MUST EQUAL A, B, C, OR SPACE


            VPL5SAA25E - ALT CUST ADDRESS EXPIRY DATE NOT NUMERIC


            VPL5SAA26E - FLEX BILL FIELD MUST EQUAL N OR Y


            VPL5SAA27E - OPENED DATE NOT NUMERIC


            VPL5SAA28E - APPLI DATE NOT NUMERIC


            VPL5SAA29E - CARD# SCHEME MUST EQUAL 0, 1, 2, OR 3


            VPL5SAA3AE - DD NOM AMT/PCT MUST EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA3BE - PREFER START DATE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE


            VPL5SAA3CE - PREFER END DATE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE


            VPL5SAA3DE - PREFER PROMO DATE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE


            VPL5SAA3EE - DD INTERIM PMTS MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE


            VPL5SAA3FE - DD DAILY FREQ MUST EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA3GE - DD CREDIT BAL MUST EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA3HE - PAYMENT REMIT METHOD MUST EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA3IE - DC ACH PLAN MUST EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA3JE - DD R/T BANK ID MUST EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA3KE - DC R/T BANK ID MUST EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA3LE - DD PAYMENT EXPIRE DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA3ME - DD PAYMENT START DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA3NE - DC EXPIRE DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA3OE - DC START DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA3PE - DD ACH TYPE MUST EQUAL SPACE FOR ACCOUNT TYPE


            VPL5SAA3QE - DD ACH ACCOUNT NUMBER MUST EQUAL SPACES FOR ACCOUNT TYPE


            VPL5SAA3SE - DC ACCOUNT TYPE EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA3TE - DC REQUEST DAY INDICATOR MUST EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA3UE - DC ACCOUNT NUMBER MUST EQUAL SPACES FOR ACCOUNT TYPE


            VPL5SAA3VE - DD REQUEST DAY MUST EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA3WE - DD PYMT CHANGE DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE


            VPL5SAA3XE - WAIVE INTL ATM FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT
            TYPE


            VPL5SAA3YE - WAIVE DOM ATM FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT
            TYPE


            VPL5SAA3ZE - WAIVE INTL POS FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT
            TYPE


            VPL5SAA30E - DUE DAY MUST BE NUMERIC


            VPL5SAA31E - CYCLE VALUE INVALID - MUST BE BETWEEN ZEROS AND 31


            VPL5SAA32E - STATEMENT FREQUENCY NOT NUMERIC


            VPL5SAA33E - BLOCK CODE 1 VALID VALUES ARE SPACE OR A - Z


            VPL5SAA34E - BLOCK CODE 2 VALID VALUES ARE SPACE OR A - Z


            VPL5SAA35E - CUSTOMER STATEMENT FIELD MUST = 0 OR 1


            VPL5SAA36E - CUSTOMER LETTER FIELD MUST = 0, 1 OR 2


            VPL5SAA37E - INCOME MUST BE NUMERIC


            VPL5SAA39E - CARD EXPIRATION NOT NUMERIC


            VPL5SAA4AE - WAIVE DOM POS FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT
            TYPE


            VPL5SAA4BE - WAIVE LOAD FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE


            VPL5SAA4CE - WAIVE RELOAD FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT
            TYPE


            VPL5SAA4DE - WAIVE DORM FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE


            VPL5SAA4EE - WAIVE REFUND FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT
            TYPE


            VPL5SAA4FE - WAIVE STMT FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE


            VPL5SAA4GE - PREPAID LOAD NBR MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT
            TYPE


            VPL5SAA4HE - PREPAID MAX LOAD MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT
            TYPE


            VPL5SAA4IE - PREPAID MIN LOAD MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT
            TYPE


            VPL5SAA4JE - PREPAID LOAD AMT MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT
            TYPE


            VPL5SAA4KE - PREPAID LOAD FREQ MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT
            TYPE


            VPL5SAA4LE - WAIVE FEE CHG MUST EQUAL 1 FOR NON PREPAID ACCOUNT TYPE


            VPL5SAA4ME - DD ACH REQ DAY MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE


            VPL5SAA4NE - PREPAID LOAD FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT
            TYPE


            VPL5SAA4OE - TERMS/CONDITIONS DATE MUST BE GREATER THAN ZEROS


            VPL5SAA4PE - WAIVE DOM ATM TXN FEE MUST = 0 OR 1


            VPL5SAA4QE - WAIVE INTL POS TXN FEE MUST = 0 OR 1


            VPL5SAA4RE - WAIVE DOM POS TXN FEE MUST = 0 OR 1


            VPL5SAA4SE - WAIVE LOAD TXN FEE MUST = 0 OR 1


            VPL5SAA4TE - WAIVE RELOAD TXN FEE MUST = 0 OR 1


            VPL5SAA4UE - VARIANCE EFFECTIVE DATE INVALID WHEN RATE VARIANCES (1-12)
            = 0


            VPL5SAA4VS - NUMBER GENERATION SERVICE FAILED


            VPL5SAA4WE - STATE OF RESIDENCE DOES NOT MATCH LOGO STATE OF RESIDENCE


            VPL5SAA4XE - STATE OF RESIDENCE IS REQUIRED


            VPL5SAA40E - LIABILITY INDICATOR MUST = 0, 1, OR 2


            VPL5SAA41E - BUREAU SCORE NOT NUMERIC


            VPL5SAA42E - IN HOUSE SCORE MUST BE NUMERIC


            VPL5SAA43E - MISCELLANEOUS SCORE MUST BE NUMERIC


            VPL5SAA44E - CREDIT BUREAU DATE NOT NUMERIC


            VPL5SAA45E - TERM/CONDITIONS DATE IS NOT NUMERIC


            VPL5SAA46E - WARNING CODE VALUES MUST BE 0 - 7


            VPL5SAA47E - INVALID VALUE FOR AUTH CRITERIA TABLE


            VPL5SAA49E - ACCOUNT ASSOCIATE REL TYPE MUST BE 0 - 4


            VPL5SAA5AS - USER HAS NOT SIGNED ON - PLEASE SIGNON


            VPL5SAA50E - ACCOUNT ASSOCIATE DATE MUST BE NUMERIC


            VPL5SAA51E - ACCOUNT ASSOCIATE AMOUNT MUST BE NUMERIC


            VPL5SAA52E - ACCOUNT ASSOCIATE TYPE MUST BE 0 - 9


            VPL5SAA53E - WAIVE INT FIELD MUST EQUAL 0 OR 1


            VPL5SAA55E - STATE OF RESIDENCE CONTAINS INVALID CHARACTERS


            VPL5SAA56E - STATE OF ISSUANCE CONTAINS INVALID CHARACTERS


            VPL5SAA57E - ACCOUNT ASSOCIATE STATEMENT FLAG 1 MUST BE 0 - 2


            VPL5SAA58E - ACCOUNT ASSOCIATE STATEMENT FLAG 2 MUST BE 0 - 2


            VPL5SAA59E - ACCOUNT ASSOCIATE STATEMENT FLAG 3 MUST BE 0 - 2


            VPL5SAA5CE - ALT CUST ADDRESS START DATE NOT A VALID DATE


            VPL5SAA5DE - CORRESPONDING CUSTOMER NUMBER NOT FOUND


            VPL5SAA5EE - DEFAULT PROMO PLAN SHOULD BE ZEROS FOR PREPAID ACCOUNTS


            VPL5SAA5FE - DEFAULT PROMO PLAN NUMBER IS NOT NUMERIC


            VPL5SAA5GE - ALT CUST ADDRESS START DATE NOT NUMERIC


            VPL5SAA5HE - DISCLOSURE INDICATOR CYCLE VALID VALUES ARE 0-9 AND A


            VPL5SAA60E - ACCOUNT ASSOCIATE LETTER TYPE 1 MUST BE 0 - 2


            VPL5SAA61E - ACCOUNT ASSOCIATE LETTER TYPE 2 MUST BE 0 - 2


            VPL5SAA62E - ACCOUNT ASSOCIATE LETTER TYPE 3 MUST BE 0 - 2


            VPL5SAA63E - ACCOUNT ASSOCIATE LETTER FEE 1 MUST BE 0 OR 1


            VPL5SAA64E - ACCOUNT ASSOCIATE LETTER FEE 2 MUST BE 0 OR 1


            VPL5SAA65E - ACCOUNT ASSOCIATE LETTER FEE 3 MUST BE 0 OR 1


            VPL5SAA66E - PRICING CONTROL ID CONTAINS INVALID CHARACTERS


            VPL5SAA67E - PRICING CONTROL START DATE IS NOT NUMERIC


            VPL5SAA69E - PRICING CONTROL EXPIRE DATE IS NOT NUMERIC


            VPL5SAA70E - PRICING LEVEL OVERRIDE MUST EQUAL SPACE, L, O OR S


            VPL5SAA71E - PRICING LEVEL START DATE IS NOT NUMERIC


            VPL5SAA72E - PRICING LEVEL EXPIRE DATE IS NOT NUMERIC


            VPL5SAA73E - OWNERSHIP FLAG MUST EQUAL 0, 1, OR 2


            VPL5SAA74E - SKIP PAYMENT FLAG MUST = A, M, N, V, X OR Z


            VPL5SAA75E - FREQUENT SHOPPER IND MUST EQUAL N OR Y


            VPL5SAA76E - FRAUD REPORT MUST EQUAL N OR Y


            VPL5SAA77E - WAIVE INTR CHARGE MUST EQUAL 0 OR 1


            VPL5SAA78E - CASH LIMIT FIELD MUST EQUAL N, T OR Y


            VPL5SAA79E - PREPMT ALLOWED FIELD MUST EQUAL 0, 1 OR 2


            VPL5SAA7IE - INSTL REPYMT CASH PLAN NBR MUST = ZEROS FOR PREPAID ACCOUNT
            TYPE


            VPL5SAA7JE - INSTL RPYMTS ACTIVE, INSTL REPYMT CASH PLAN NBR MUST BE NUMERIC


            VPL5SAA7KE - INSTL REPYMT CASH PLAN NBR NOT ON FILE OR NOT A VALID CASH
            TYPE


            VPL5SAA7LE - INSTL REPYMT RETL PLAN NBR MUST = ZEROS FOR PREPAID ACCOUNT
            TYPE


            VPL5SAA7ME - INSTL RPYMTS ACTIVE, INSTL REPYMT RETL PLAN NBR MUST BE NUMERIC


            VPL5SAA7NE - INSTL REPYMT RETL PLAN NBR NOT ON FILE OR NOT A VALID RETL
            TYPE


            VPL5SAA80E - PREPMT MONTHS IS NOT NUMERIC


            VPL5SAA81E - PREPMT ZERO FIELD MUST EQUAL 0, 1, OR 2


            VPL5SAA82E - LOAN LIMIT FIELD MUST EQUAL N, T OR Y


            VPL5SAA83E - INTEREST VARIANCE IS NOT NUMERIC


            VPL5SAA84E - INTEREST VARIANCE EFFECTIVE DATE IS NOT NUMERIC


            VPL5SAA85E - CASH PLAN NUMBER IS NOT NUMERIC


            VPL5SAA86E - RETAIL PLAN NUMBER IS NOT NUMERIC


            VPL5SAA87E - CONTROLLING PLAN OVERRIDE MUST = F, P, X OR SPACE


            VPL5SAA88E - FIXED PAYMENT/AMOUNT PERCENT FIELD NOT NUMERIC


            VPL5SAA89E - 1098 INDICATOR MUST EQUAL 0, 1, OR 2


            VPL5SAA90E - PAYMENT HOLD FIELD MUST EQUAL 0 OR 1


            VPL5SAA91E - EXCLUDE FROM VAU/ABU FIELD MUST = 0 OR 1


            VPL5SAA92E - EMBOSSING CHECKING ROUTING NUMBER IS NOT NUMERIC


            VPL5SAA93E - EMBOSSING SAVINGS ROUTING NUMBER IS NOT NUMERIC


            VPL5SAA94E - CARD TECH FIELD MUST = 0 OR 1


            VPL5SAA95E - TEMP CREDIT LINE IS NOT NUMERIC


            VPL5SAA96E - TEMP CREDIT LINE EXPIRES DATE IS NOT NUMERIC


            VPL5SAA97E - PREFER MINIMUM AMOUNT IS NOT NUMERIC


            VPL5SAA98E - PREFER INTEREST DAYS IS NOT NUMERIC


            VPL5SAA99E - PREFER START DATE IS NOT NUMERIC


            VPL5SAA9EE - INSTALLEMNT REPAYMENT RETAIL PLAN NUMBER IS NOT NUMERIC


            VPL5SAA9FE - INSTALLEMNT REPAYMENT CASH PLAN NUMBER IS NOT NUMERIC


            VPL5SAAI6E - GQ FIELD MUST BE SPACE OR A-Z


            VPL5SAAI7E - MAX DD AMT MUST BE NUMERIC


            VPL5SAAI5S - ORG CAN NOT BE DETERMINED


            VPL5SAAI6S - LOGO CAN NOT BE DETERMINED


            VPL5SAAI7S - AUTO GENERATION OF ACCOUNT NUMBER NOT ACTIVE


            VPL5SAAJ0E - ASSOC LTR FLAG MUST BE 0 WHEN ASSOC TYPE = 5


            VPL5SAAJ1E - ASSOC REL TYPE MUST BE 0 WHEN ASSOC TYPE = 5


            VPL5SAAJ2E - ASSOC DATE MUST BE 0 WHEN ASSOC TYPE = 5


            VPL5SAAJ3E - ASSOC AMT MUST BE 0 WHEN ASSOC TYPE = 5


            VPL5SAAJ4E - ASSOC TYPE CANNOT BE 5 WHEN SALES REP ORG = 0


            VPL5SAAJ5E - SALES REP CODE CANNOT BE SPACES OR ZEROS WHEN ASSOC TYPE


            VPL5SAAJ6E - SALES REP CODE NOT ON FILE


            VPL5SAAJ7E - ASSOC STMT FLAG MUST BE 0 WHEN ASSOC TYPE = 5


            VPL5SAAJ8E - ASSOC STMT FLAG MUST BE 0 WHEN ASSOC TYPE = 5


            VPL5SAAJ9E - ASSOC STMT FLAG MUST BE 0 WHEN ASSOC TYPE = 5


            VPL5SAAJ0S - MISMATCHED GENERATED FOREIGN ORG


            VPL5SAAJ1S - BILLING ACCOUNTS MUST BEGIN WITH 999


            VPL5SAAJ2S - CONTROL AND DIVERSION ACCOUNTS MUST BEGIN WITH 998


            VPL5SAAJ3S - ACCOUNT NUMBER PROVIDED ALREADY EXISTS


            VPL5SAAJ4S - EMBOSSER NUMBER ALREADY EXISTS


            VPL5SAAJ5S - ACCOUNT ALREADY EXISTS ON RELATIONSHIP MASTER


            VPL5SAAJ6S - FOREIGN ACCOUNT ALREADY EXISTS


            VPL5SAAJ7S - FOREIGN EMBOSSER ALREADY EXISTS


            VPL5SAAJ8S - FOREIGN ACCOUNT ALREADY EXISTS FOR RELATIONSHIP


            VPL5SAAJ9S - ACCOUNT NUMBER CHECK DIGIT IS INVALID


            VPL5SAAK0E - ASSOC LTR FLAG MUST BE 0 WHEN ASSOC TYPE = 5


            VPL5SAAK1E - ASSOC LTR FLAG MUST BE 0 WHEN ASSOC TYPE = 5


            VPL5SAAK2E - ASSOC LTR FEE MUST BE 0 WHEN ASSOC TYPE = 5


            VPL5SAAK3E - ASSOC LTR FEE MUST BE 0 WHEN ASSOC TYPE = 5


            VPL5SAAK4E - ASSOC LTR FEE MUST BE 0 WHEN ASSOC TYPE = 5


            VPL5SAAK5E - FIELD MUST BE NUMERIC


            VPL5SAAK6E - FIELD MUST BE 00 THRU 12


            VPL5SAAK7E - VALID VALUES ARE 0 AND 2 FOR CONSUMER ACCOUNTS


            VPL5SAAK8E - DD NOM FLAG MUST BE 3 FOR WEEKLY DD REQUEST


            VPL5SAAK9E - DD REQ DAY VALID VALUES ARE 01 THRU 07 FOR WEEKLY DD REQS


            VPL5SAAK0S - DUAL LOGO NOT FOUND


            VPL5SAAK2S - CUSTOMER NUMBER NOT FOUND


            VPL5SAAK4S - ELATIONSHIPS NOT ACTIVATED ON ORG CTRL RECORD


            VPL5SAAK5S - RELATIONSHIP NUMBER REQUIRED WHEN HCS IS ACTIVE FOR THIS
            ORG


            VPL5SAAK6S - RELATIONSHIPS NOT ACTIVE ON DUAL ORG RECORD


            VPL5SAAK7S - RELATIONSHIP NUMBER CAN NOT BE ENTERED FOR PREPAID LOGO


            VPL5SAAK8S - RELATIONSHIP RECORD DOES NOT EXIST


            VPL5SAAK9S - RELATIONSHIP NOT ALLOWED FOR COBRAND LOGO


            VPL5SAAL0S - FOREIGN RELATIONSHIP RECORD DOES NOT EXIST


            VPL5SAAL1E - CARD SCHEME 2 NOT VALID FOR JCB ACCOUNTS


            VPL5SAAL2E - WAIVE CARD FEE FIELD MUST = 0 OR 1


            VPL5SAAL3E - HCS MUST BE ACTIVE FOR ACCOUNT TYPE VALUES 1, 2 OR 3


            VPL5SAAL4E - SWEEPING NOT ALLOWED IN THIS LOGO


            VPL5SAAL5E - ALT CUST ADDRESS EXPIRY DATE NOT A VALID DATE


            VPL5SAAL6E - EXPIRY DATE CAN NOT BE LESS THAN CURRENT PROCESSING DATE


            VPL5SAAL7E - ACCT EMBLM MUST BE NUMERIC


            VPL5SAAL7S - ALTERNATE CUSTOMER NUMBER NOT ON FILE


            VPL5SAAL9E - PRIMARY ACCOUNT FLAG MUST EQUAL SPACE


            VPL5SAAM0E - PRIMARY ACCOUNT NOT ALLOWED - NO RELATIONSHIP RECORD EXISTS


            VPL5SAAM1E - CREDIT LIMIT MUST EQUAL ZEROS


            VPL5SAAM2E - CREDIT LIMIT MUST BE GREATER THAN ZEROS


            VPL5SAAM4E - CREDIT LIMIT CAN NOT EXCEED RELATIONSHIP CREDIT LIMIT


            VPL5SAAM6E - CREDIT LIMIT EXCEEDS SECURED AMOUNT


            VPL5SAAM7E - CUSTOMER NUMBER REQUIRED


            VPL5SAAM8S - CUSTOMER NUMBER NOT FOUND


            VPL5SAAM9E - CARD SCHEME FOR PREPAID ACCOUNT MUST EQUAL 0


            VPL5SAAN0S - FOREIGN CUSTOMER NUMBER NOT FOUND


            VPL5SAAN1E - GENERIC CUSTOMER NOT ALLOWED WHEN PREPAID FLAG IS NOT 1


            VPL5SAAN2E - MEMO BILL CURRENCY MUST BE ZEROS WHEN DUAL CURRENCY IS NOT
            ACTIVE


            VPL5SAAN3E - MEMO BILL CURRENCY NOT DEFINED


            VPL5SAAN4E - PRIM ACCT BILLING LEVEL CANNOT BE 1 WHEN REL BILLING LVL
            = 0 OR 2


            VPL5SAAN5E - BILLING LEVEL MUST EQUAL 0 OR 1


            VPL5SAAN6E - BILLING LEVEL MUST EQUAL 0


            VPL5SAAN7E - BILLING LEVEL IS INVALID FOR RELATIONSHIP


            VPL5SAAN8E - BILLING LEVEL MUST EQUAL 1, WHEN ACCT IS NOT TIED TO RELATIONSHIP


            VPL5SAAN9E - DATE OPENED CAN NOT EQUAL ZEROS


            VPL5SAAO0E - OPENED DATE NOT VALID DATE CAN NOT BE > CURR PROCESSING DATE


            VPL5SAAO1E - APPLI DATE NOT A VALID DATE


            VPL5SAAO2E - CARD SCHEME MUST EQUAL ZERO FOR ACCOUNTS NOT IN A RELATIONSHIP


            VPL5SAAO3E - CARD SCHEME CAN NOT EQUAL 0 FOR ACCOUNT IN A RELATIONSHIP


            VPL5SAAO4E - NO RELATIONSHIP BEING ADDED, CARD SCHEME CANNOT BE 1


            VPL5SAAO5E - ORG CARD SCHEME 2/3 NOT ACTIVE, CARD SCHEME CANNOT BE 2 OR
            3


            VPL5SAAO6E - BILLING CYCLE MUST EQUAL RELATIONSHIP BILLING CYCLE


            VPL5SAAO7E - VALID VALUES FOR PREPAID ACCOUNTS ARE SPACE, I, O, U, OR
            Z


            VPL5SAAO8E - VALID VALUES ARE SPACE, 0-9, C, H, I, R, S, O, U OR Z


            VPL5SAAO9E - RELATIONSHIP ACCOUNTS STATEMENT FREQ MUST EQUAL 01


            VPL5SAAP0E - FREQ FIELD INVALID - VALID VALUES OF 01-12, 62 OR 99


            VPL5SAAP1E - CARD EXPIRATION NOT A VALID DATE


            VPL5SAAP2E - CARD EXP MUST BE GREATER THAN THE CURRENT PROCESSING DATE


            VPL5SAAP5E - CARD FEE IS NOT A VALID DATE


            VPL5SAAP6E - CREDIT BUREAU DATE NOT A VALID DATE


            VPL5SAAP7E - TERMS/CONDITIONS DATE NOT A VALID DATE


            VPL5SAAP8E - ASSOC DATE NOT A VALID DATE


            VPL5SAAP9E - ASSOC CUSTOMER NUMBER NOT ON FILE


            VPL5SAAQ0E - STATE OF RESIDENCE IS NOT FOUND ON USURY TABLE


            VPL5SAAQ1E - STATE OF RESIDENCE IS INVALID ON USURY TABLE


            VPL5SAAQ2E - STATE OF RESIDENCE IS NOT FOUND


            VPL5SAAQ3E - STATE OF RESIDENCE DOES NOT EXIST


            VPL5SAAQ4E - PRICING CONTROL ID IS NOT FOUND


            VPL5SAAQ5E - PRICING CONTROL ID DOES NOT EXIST


            VPL5SAAQ6E - ISSUANCE ID DOES NOT EXIST


            VPL5SAAQ7E - ISSUANCE ID REQUIRED FOR BANKCARD ACCOUNT


            VPL5SAAQ8E - ISSUANCE ID IS NOT FOUND ON USURY TABLE


            VPL5SAAQ9E - ISSUANCE ID IS NOT FOUND


            VPL5SAAR0E - ISSUANCE ID DOES NOT EXIST


            VPL5SAAR1E - START DATE INVALID WHEN PCT CNTRL ID NOT PROVIDED


            VPL5SAAR2E - START DATE FOR THE PRICING CTRL NOT A VALID DATE


            VPL5SAAR3E - START DATE FOR THE PRICING CTRL MUST BE = OR > NEXT PROCESSING
            DT


            VPL5SAAR4E - EXPIRE DATE FOR THE PRICING CTRL NOT A VALID DATE


            VPL5SAAR5E - EXPIRE DATE FOR THE PRICING CTRL MUST BE = OR > PCT START
            DATE


            VPL5SAAR6E - PCT LEVEL START DATE FOR THE PCT LEVEL NOT A VALID DATE


            VPL5SAAR7E - PCT LEVEL START DATE FOR PCT LEVEL MUST BE = OR > NEXT PROCESS
            DT


            VPL5SAAR8E - PCT LEVEL EXPIRE DATE FOR THE PCT LEVEL NOT A VALID DATE


            VPL5SAAS0E - PAYMENT SKIP NOT ALLOWED


            VPL5SAAS2S - CASH PLAN NUMBER NOT ON FILE OR NOT A CASH TYPE


            VPL5SAAS3E - RETAIL PLAN NUMBER INVALID FOR NON BANKCARD ACCOUNTS


            VPL5SAAS4E - RETAIL PLAN NUMBER INVALID FOR PREPAID ACCOUNTS


            VPL5SAAS5S - RETAIL PLAN NUMBER NOT ON FILE OR NOT A RETAIL TYPE


            VPL5SAAS6E - INT VARIANCE EFFECTIVE DATE NOT A VALID DATE


            VPL5SAAS7E - INT VARIANCE EFFECTIVE DATE MUST BE > CURRENT PROCESSING
            DATE


            VPL5SAAS8E - DDA ROUTING NUMBER REQUIRED WHEN DDA ACCOUNT PROVIDED


            VPL5SAAS9E - SAV ROUTING NUMBER REQUIRED WHEN SAV ACCOUNT PROVIDED


            VPL5SAAT1E - ACCOUNT UPDATER SWITCH MUST EQUAL 0 OR 1


            VPL5SAAT4E - CARD TECH FIELD INVALID


            VPL5SAAT5E - CARD TECH FIELD MUST = 0 FOR CARD SCHEME 2


            VPL5SAAT6E - SMART CARD NOT ALLOWED


            VPL5SAAT7E - TEMP CREDIT LIMIT NOT ALLOWED FOR RELATIONSHIP ACCOUNT


            VPL5SAAT8E - TEMP CREDIT LIMIT EQUAL CREDIT LIMIT


            VPL5SAAT9E - TEMP CREDIT LIMIT GREATER THAN LOGO CREDIT LIMIT CEILING


            VPL5SAAU0E - DATE TEMP CREDIT LIMIT EXPIRE IS NOT A VALID DATE


            VPL5SAAU1E - EXPIRE DATE FOR TEMP CREDIT LINE MUST BE > OR = CURR PROCESS
            DATE


            VPL5SAAU2E - DD PAYMENT INVALID FOR DEBIT CARDS


            VPL5SAAU3E - DD PAYMENT MUST EQUAL ZEROS


            VPL5SAAU4E - DD PAYMENT MUST EQUAL ZEROS


            VPL5SAAU5E - DD PAYMENT INVALID VALUE - VALID VALUES ARE 1, 2 AND 7


            VPL5SAAU6E - DD PAYMENT MUST EQUAL 0 WHEN REL BILLING LEVEL EQUAL 0


            VPL5SAAU7E - DD NOM AMT/PCT FLAG INVALID FOR DEBIT CARD


            VPL5SAAU8E - DD NOM AMT/PCT MUST EQUAL ZEROS


            VPL5SAAU9E - DD NOM AMT/PCT MUST BE GREATER THAN ZEROS


            VPL5SAAV0E - DD NOM AMT/PCT VALUE IS INVALID


            VPL5SAAV1E - PREFER START DATE IS NOT A VALID DATE


            VPL5SAAV2E - PREFER END DATE IS NOT A VALID DATE


            VPL5SAAV3E - PREFER PROMO DATE IS NOT A VALID DATE


            VPL5SAAV4E - DD INTERIM PAYMENTS MUST EQUAL 0


            VPL5SAAV6E - DD DAILY FREQUENCY FIELD MUST = 0


            VPL5SAAV7E - DD REQ DAY MUST EQUAL ZER0 WHEN DD DAILY FREQUENCY NOT EQUAL
            ZERO


            VPL5SAAV8E - DD PAYMENT MUST EQUAL 2 WHEN DD DAILY FREQUENCY NOT EQUAL
            ZERO


            VPL5SAAV9E - DD PAYMENT CHANGE DATE MUST EQUAL ZERO WHEN DD DAILY FREQ
            = ZERO


            VPL5SAAW0E - DD CREDIT BALANCE INVALID - ACCOUNT IN A HCS RELATIONSHIP


            VPL5SAAW1E - DD PAYMENT REMITTANCE METHOD MUST EQUAL 0 WHEN BILLING LVL
            = 0


            VPL5SAAW2S - DC PLAN DOES NOT EXIST


            VPL5SAAW3E - DC PLAN NOT A RETAIL PLAN


            VPL5SAAW4E - DD R/T BANK ID MUST BE GREATER THAN ZEROS


            VPL5SAAW5E - DD R/T BANK ID IS NOT A VALID NACHA FORMAT


            VPL5SAAW6E - DC R/T BANK ID IS NOT A VALID NACHA FORMAT


            VPL5SAAW7E - DD PAYMENT EXPIRE DATE NOT A VALID DATE


            VPL5SAAW8E - DD PAYMENT EXPIRE DATE MUST BE > OR = NEXT PROCESSING DATE


            VPL5SAAX0E - DD PAYMENT START DATE IS NOT A VALID DATE


            VPL5SAAX1E - DD PAYMENT START MUST BE GREATER OR EQUAL NEXT PROCESSING
            DATE


            VPL5SAAX2E - DC ACH EXPIRE DATE IS NOT A VALID DATE


            VPL5SAAX3E - DC ACH EXPIRE DATE MUST BE GREATER OR EQUAL NEXT PROCESSING
            DATE


            VPL5SAAX4E - DC ACH START DATE IS NOT A VALID DATE


            VPL5SAAX5E - DD ACCOUNT NUMBER MUST BE GREATER THAN ZEROS


            VPL5SAAX6E - DD REQUEST DAY MUST = 0, WHEN LOGO DD PAYMENT FLAG IS S OR
            D


            VPL5SAAX7E - DD REQUEST DAY MUST BE BETWEEN 01 AND 31


            VPL5SAAX8E - DC REQUEST DAY INDICATOR MUST EQUAL ZEROS


            VPL5SAAX9E - DD PAYMENT CHANGE DATE INVALID FOR DEBIT CARDS


            VPL5SAAY0E - DD PAYMENT CHANGE DATE IS NOT A VALID DATE


            VPL5SAAY1E - DD PAYMENT CHANGE DATE MUST BE > OR = NEXT PROCESSING DATE


            VPL5SAAY2E - DD PAYMENT CHANGE DATE MUST BE GREATER OR EQUAL START DATE


            VPL5SAAY3E - DD PAYMENT CHANGE DATE MUST BE < OR EQUAL PAYMENT EXPIRATION
            DATE


            VPL5SAAY4E - DD PAYMENT CHANGE DATE IS INVALID


            VPL5SAAY5S - PROMOTION NOT ON FILE


            VPL5SAAY6S - PROMOTION NOT VALID


            VPL5SAAY7E - OWNING BRANCH MUST BE GREATER THAN ZEROS FOR BANKCARD ACCOUNTS


            VPL5SAAY8S - OWNING BRANCH NOT ON FILE


            VPL5SAAZ1E - USER DATE 1 IS NOT A VALID DATE


            VPL5SAAZ2E - USER DATE 2 IS NOT A VALID DATE


            VPL5SAAZ3E - USER DATE 3 IS NOT A VALID DATE


            VPL5SAAZ4E - USER DATE 4 IS NOT A VALID DATE


            VPL5SAAZ5E - USER DATE 5 IS NOT A VALID DATE


            VPL5SAAZ6E - USER DATE 6 IS NOT A VALID DATE


            VPL5SAAZ7E - USER DATE 7 IS NOT A VALID DATE


            VPL5SAAZ8E - USER DATE 8 IS NOT A VALID DATE


            VPL5SAAZ9E - USER DATE 9 IS NOT A VALID DATE'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAddDetailsResponse'
        '401':
          description: Unauthorized
      x-proxy-name: Account Add
      x-group-name: Account
      x-child-product-name: Accounts
components:
  schemas:
    UpdateAccountDetailsRequest:
      required:
      - accountNumber
      - organization
      - pctEndDate
      - pctLevelStartDate
      - pctLvl
      - pctStartDate
      type: object
      properties:
        organization:
          type: string
          description: 'Identification number of the organization associated with
            this User (Sign on name). '
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: "Identification number of the Account Base Segment record to\
            \ \nwhich CMS posts transactions that are received for this \nEmbosser\
            \ record. The Embosser record is identified by the card \nnumber and record\
            \ number."
          example: '0004557320000115411'
        stateOfResidence:
          maxLength: 3
          minLength: 0
          type: string
          description: "Account holder resides. For accounts processed by a revolving/retail\
            \ \nLogo record (TYPE OF ACCOUNT on ARML01 is R), CMS uses the \nresidence\
            \ ID to determine which Processing Control Table identifies \nthe control\
            \ records that define processing parameters for the account.\nCMS defaults\
            \ this value from the RES ID field on ARML13."
        stateOfIssue:
          maxLength: 3
          minLength: 0
          type: string
          description: "Code that identifies the state, province, or country in which\
            \ the account was issued. This field displays only if the account is processed\
            \ by a bankcard Logo record (TYPE OF ACCOUNT on ARML01 is X). If \nyou\
            \ leave this field blank, the default is the code established at the product\
            \ level (BANKCARD on ARML13).  \nFor accounts processed by a retail Logo\
            \ record (TYPE OF ACCOUNT on ARML01 is R), CMS uses the residence ID to\
            \ \ndetermine which Processing Control Table identifies the control records\
            \ that define processing parameters for the account. "
        processingControlTable:
          maxLength: 3
          minLength: 0
          type: string
          description: "Code that indicates whether a processing control level override\
            \ \nis in effect, and if so, the level for the PCT ID in the PCT OVERRIDE\
            \ field. This field enables you to override the processing \ncontrol level\
            \ assigned to the account at the product level (PROC CONTROL LEVEL on\
            \ ARML14).  The processing control level override \nis in effect during\
            \ the period specified by the START DATE and EXPIRATION DATE. This override\
            \ is used only in conjunction with the \nspecial pricing controls defined\
            \ in the PCT OVERRIDE field."
        pctStartDate:
          type: string
          description: "Date on which the processing control level override starts\
            \ for \nthe account. The PCT LVL OVERRIDE field identifies the override\
            \ \nlevel in effect."
          format: date
        pctEndDate:
          type: string
          description: "Date on which the processing control level override expires\
            \ for the account. The PCT LVL OVERRIDE field \nidentifies the override\
            \ level in effect. If the override does not expire, enter zeros in this\
            \ field. If you enter a date, \nit must be greater than the START DATE."
          format: date
        pctLvl:
          maxLength: 1
          minLength: 0
          type: string
          description: The PCT LVL OVERRIDE field identifies the override level in
            effect.
        pctLevelStartDate:
          type: string
          description: Date on which the processing control level (at the given Level,
            Org or Logo override)  starts for the account.
          format: date
        pctLevelExpireDate:
          type: string
          description: "Date on which the processing control level  (at the given\
            \ Level, Org or Logo override) expires for the account. \nIf the override\
            \ does not expire, enter zeros in this field. If you enter a date, it\
            \ must be greater than the START DATE."
          format: date
        waiveAvailFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: Code that determines the cash credit limit for the account.
          enum:
          - N, T, Y
        statementFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: Code that indicates how CMS generates a statement for this
            account
          enum:
          - C,H,I,O,R,S,range[1,9]
        customerStatement:
          type: integer
          description: Determines whether CMS sends statements to the owner only or
            both the owner and co-owner.
          format: int32
          enum:
          - null
        customerLetter:
          type: integer
          description: Determines whether CMS sends letters to the owner only or both
            the owner and co-owner.
          format: int32
          enum:
          - null
        duppressLetters:
          type: integer
          description: Code that indicates whether to suppress all letters for the
            account
          format: int32
          enum:
          - null
        billingCycle:
          type: integer
          description: Day of the month that the account cycles.
          format: int32
        statementAddressFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: Statement Address Flag
        skipPaymentOption:
          maxLength: 1
          minLength: 0
          type: string
          description: Code that indicates whether skip payments are in effect for
            this account.
          enum:
          - A,M,N,V,X,Z
        billingLevel:
          type: integer
          description: "Indicates the level at which billing occurs for the subordinate\
            \ accounts within the relationship and a code that \nindicates whether\
            \ you can modify the billing level at the subordinate account level or\
            \ only at the relationship level"
          format: int32
          enum:
          - null
        paymentCalculationOverride:
          maxLength: 1
          minLength: 0
          type: string
          description: "Flag that indicates whether CMS overrides the controlling\
            \ \nCredit Plan Master record and assesses a fixed payment or a \npercentage\
            \ of credit limit payment for this account."
          enum:
          - F,P,X
        amount:
          maxLength: 17
          minLength: 0
          type: string
          description: "Fixed payment amount or percentage of the credit limit that\
            \ \nCMS uses to calculate the payment amount if the CONTROLLING \nPLAN\
            \ OVERRIDE is F, X or P. Enter a fixed payment amount in \nmonetary units\
            \ and subunits. Enter a percentage using the \nformat defined by the PERCENTAGE\
            \ NOD.\nExamples:\nIf working with U.S. dollars, enter $25.00 as: 00000002500\
            \ \nIf working with PERCENTAGE NOD 7, enter 10.5% as: 00001050000 \nIf\
            \ working with PERCENTAGE NOD 5, enter 12.375% as: 00000012375"
        reissueTechnology:
          type: integer
          description: Flag that defines the card technology to be used when reissuing
            all cards for this particular account.
          format: int32
          enum:
          - null
        prePaymentsOption:
          type: integer
          description: Code that indicates whether prepayments are allowed for the
            account.
          format: int32
          enum:
          - null
        prePaymentTimeLimit:
          type: integer
          description: "Number of consecutive months in which the entire computed\
            \ \npayment due can be satisfied by a prepaid amount. The default \nvalue\
            \ for this field is set in the Logo record (PRE-PAY MONTHS \non ARML14).\
            \ You can change this value at the account level. \nThis field does not\
            \ display for debit card accounts."
          format: int32
          enum:
          - null
        resetPrePaymentOption:
          type: integer
          description: "Code that determines if the prepaid amount is reset to zero\
            \ for \nthe account. The default value for this field is set in the Logo\
            \ \nrecord (PREPMT ZERO on ARML14). You can change this value \nat the\
            \ account level."
          format: int32
          enum:
          - null
        signIndicator1:
          maxLength: 1
          minLength: 0
          type: string
          description: "Sign indicator (+ or \u2013) that indicates whether the pending\
            \ variance is added to or subtracted from the rate."
        rateVariance1:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 1.
        signIndicator2:
          maxLength: 1
          minLength: 0
          type: string
          description: "Sign indicator (+ or \u2013) that indicates whether the pending\
            \ variance is added to or subtracted from the rate."
        rateVariance2:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 2.
        signIndicator3:
          maxLength: 1
          minLength: 0
          type: string
          description: "Sign indicator (+ or \u2013) that indicates whether the pending\
            \ variance is added to or subtracted from the rate."
        rateVariance3:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 3.
        signIndicator4:
          maxLength: 1
          minLength: 0
          type: string
          description: "Sign indicator (+ or \u2013) that indicates whether the pending\
            \ variance is added to or subtracted from the rate."
        rateVariance4:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 4.
        signIndicator5:
          maxLength: 1
          minLength: 0
          type: string
          description: "Sign indicator (+ or \u2013) that indicates whether the pending\
            \ variance is added to or subtracted from the rate."
        rateVariance5:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 5.
        signIndicator6:
          maxLength: 1
          minLength: 0
          type: string
          description: "Sign indicator (+ or \u2013) that indicates whether the pending\
            \ variance is added to or subtracted from the rate."
        rateVariance6:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 6.
        signIndicator7:
          maxLength: 1
          minLength: 0
          type: string
          description: "Sign indicator (+ or \u2013) that indicates whether the pending\
            \ variance is added to or subtracted from the rate."
        rateVariance7:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 7.
        signIndicator8:
          maxLength: 1
          minLength: 0
          type: string
          description: "Sign indicator (+ or \u2013) that indicates whether the pending\
            \ variance is added to or subtracted from the rate."
        rateVariance8:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 8.
        signIndicator9:
          maxLength: 1
          minLength: 0
          type: string
          description: "Sign indicator (+ or \u2013) that indicates whether the pending\
            \ variance is added to or subtracted from the rate."
        rateVariance9:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 9.
        signIndicator10:
          maxLength: 1
          minLength: 0
          type: string
          description: "Sign indicator (+ or \u2013) that indicates whether the pending\
            \ variance is added to or subtracted from the rate."
        rateVariance10:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 10.
        signIndicator11:
          maxLength: 1
          minLength: 0
          type: string
          description: "Sign indicator (+ or \u2013) that indicates whether the pending\
            \ variance is added to or subtracted from the rate."
        rateVariance11:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 11.
        signIndicator12:
          maxLength: 1
          minLength: 0
          type: string
          description: "Sign indicator (+ or \u2013) that indicates whether the pending\
            \ variance is added to or subtracted from the rate."
        rateVariance12:
          type: integer
          description: The pending rate variance associated with each rate table occurrence.
            This is occurrence 12.
        rateVarianceEndDate:
          type: string
          description: Last date on which the current variances are effective for
            credit plans
          format: date
        employeeCode:
          maxLength: 2
          minLength: 0
          type: string
          description: User-defined employee code.
        officerCode:
          maxLength: 30
          minLength: 0
          type: string
          description: 'Name of the officer at the financial institution responsible
            for the account. '
        statementReprintDate:
          type: string
          description: 'Date in which Duplicated Statement was generated. '
          format: date
        brailleStatementFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: "Code that determines the type of statement to be generated\
            \ for a \ncustomer."
          enum:
          - N,Y
      description: Account details request
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    UpdateAccountDetailsResponse:
      type: object
      properties:
        serviceReturnCode:
          type: string
          description: "Identifies if the service succeeded or failed. \nValues for\
            \ service return code: \n* F = Service failed \n* P = Service passed"
        numberOfReturnCodes:
          type: integer
          description: The number of individual error codes provided in the response.
            Maximum of 20.
          format: int32
        organization:
          type: string
          description: 'The data displays is dependant on the type.  Values can represent  Card
            Number, Pan Token number or Encrypted Card Number. '
        accountNumber:
          type: string
          description: "Identification number of the Account Base Segment record to\
            \ \nwhich CMS posts transactions that are received for this \nEmbosser\
            \ record. The Embosser record is identified by the card \nnumber and record\
            \ number."
    UpdateCustomerNumberRequest:
      required:
      - accountNumber
      - customerNumber
      - customerTypeIndicator
      type: object
      properties:
        organizationNumber:
          type: integer
          description: '* Min Length: 1

            * Max Length: 3


            Organization Number'
          format: int32
          example: 998
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: 'Account number or card number.


            VisionPLUS Service Data: ARXCUI-ACCT-NBR'
          example: 000001234XXXXX56789
        customerNumber:
          type: string
          description: '* Max Length: 19


            Customer number.


            VisionPLUS Service Data: ARXCUI-CUST-NBR'
          example: 000001234XXXXX56789
        foreignUseIndicator:
          type: integer
          description: '* Max Length: 1


            The FOREIGN USE indicator is provided in the input message so the requesting
            source can specify whether the request applies to the local or foreign
            account when the account is in a dual currency processing organization.


            The default is to the local account.


            VisionPLUS Service Data: ARXCUI-FOREIGN-USE'
          format: int32
          example: 1
        customerTypeIndicator:
          type: integer
          description: '* Max Length: 1


            Customer type indicator.


            Values:

            * 0 = Update customer number;

            * 1 = Update alternate customer number.


            VisionPLUS Service Data: ARXCUI-CUST-TYPE-IND'
          format: int32
          example: 1
        alternateCustomer:
          $ref: '#/components/schemas/UpdateCustomerNumberRequest.AlternateCustomer'
        qualification:
          maxLength: 1
          minLength: 1
          type: string
          description: '* Max Length: 1


            Global qualification parameter


            Values:

            * A to Z;

            * 1;

            * 2.

            '
          example: A
      description: Update Customer Number Request
    UpdateCustomerNumberRequest.AlternateCustomer:
      required:
      - expirationDate
      - status
      type: object
      properties:
        status:
          type: string
          description: '* Max Length: 1


            Alternate customer status.


            Required if customerTypeIndicator = 1


            VisionPLUS Service Data: ARXCUI-ALT-CUST-STAT'
          example: A
        expirationDate:
          type: string
          description: 'Alternate customer expiration date (in ISO 8601).


            Required if customerTypeIndicator = 1


            VisionPLUS Service Data: ARXCUI-ALT-CUST-EXPIR'
          format: date
          example: 2023-10-04
    UpdateCustomerNumberResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: '* Max Length: 3


            Organization Number.


            VisionPLUS Service Data: ARXCUO-CUST-ORG'
          format: int32
          example: 998
        foreignOrganizationNumber:
          type: integer
          description: Foreign organization number.
          format: int32
        accountNumber:
          type: string
          description: '* Max Length: 19


            Account Number.


            VisionPLUS Service Data: ARXCUO-ACCOUNT-NBR'
          example: 00001234XXXXX56789
        customerOrganizationNumber:
          type: integer
          description: '* Max Length: 3


            Customer organization number.


            VisionPLUS Service Data: ARXCUO-CUST-ORG'
          format: int32
          example: 998
        foreignCustomerOrganizationNumber:
          type: integer
          description: '* Max Length: 3


            Foreign customer organization number.


            VisionPLUS Service Data: ARXCUO-FOREIGN-CUST-ORG'
          format: int32
          example: 998
        customerNumber:
          type: string
          description: '* Max Length: 19


            Customer Number.


            VisionPLUS Service Data: ARXCUO-CUST-NBR'
          example: 00001234XXXXX56789
        foreignUseIndicator:
          type: string
          description: '* Max Length: 1


            The FOREIGN USE indicator is provided in the input message so the requesting
            source can specify whether the request applies to the local or foreign
            account when the account is in a dual currency processing organization.


            The default is to the local account.


            VisionPLUS Service Data: ARXCUO-FOREIGN-USE'
          example: '1'
        customerTypeIndicator:
          type: string
          description: '* Max Length: 1


            Customer type indicator.


            VisionPLUS Service Data: ARXCUO-CUST-TYPE-IND'
          example: '1'
        alternateCustomer:
          $ref: '#/components/schemas/UpdateCustomerNumberResponse.AlternateCustomer'
    UpdateCustomerNumberResponse.AlternateCustomer:
      required:
      - expirationDate
      - status
      type: object
      properties:
        status:
          type: string
          description: '* Max Length: 1


            Alternate customer status.


            Required if customerTypeIndicator = 1


            VisionPLUS Service Data: ARXCUI-ALT-CUST-STAT'
          example: '1'
        expirationDate:
          type: string
          description: 'Alternate customer expiration date (in ISO 8601).


            Required if customerTypeIndicator = 1


            VisionPLUS Service Data: ARXCUI-ALT-CUST-EXPIR'
          format: date
          example: 2023-10-04
    ModifyAccountBalanceRequest:
      required:
      - accountNumber
      - asmOrganizationNumber
      - representativeId
      type: object
      properties:
        asmOrganizationNumber:
          type: integer
          description: '* Min Length: 1

            * Max Length: 3


            Organization Number.


            VisionPLUS Service Data: AZXMAI-ASM-ORG'
          format: int32
          example: 998
        foreignUse:
          type: string
          description: '* Max Length: 1


            Foreign Use indicator.


            Values:

            * 0 = Local;

            * 1 = Foreign.


            VisionPLUS Service Data: AZXMAI-FOREIGN-USE-IND'
          example: '0'
        representativeId:
          maxLength: 3
          minLength: 1
          type: string
          description: '* Max Length: 3


            ID of Representative.


            VisionPLUS Service Data: AZXMAI-ASM-REP'
          example: A00
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: 'Number of Customer''s account or card.


            VisionPLUS Service Data: AZXMAI-ACCT-NBR'
          example: 000001234XXXXX56789
        transactionData:
          $ref: '#/components/schemas/ModifyAccountBalanceRequest.TxData'
      description: Modify Account Balance Request
    ModifyAccountBalanceRequest.TxData:
      required:
      - actionCode
      - cardNumber
      - cardSequence
      - description
      - effectiveDate
      - otbUpdateIndicator
      - planNumber
      - planSequence
      - referenceNumber
      - resolutionReferenceNumber
      - storeNumber
      - transactionAmount
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 12
          type: string
          description: 'Unique identifier or token associated with the card number
            or payment instrument (FirstVision PAN Token).


            VisionPLUS Service Data: AZXMAI-CARD-NBR'
          example: 000001234XXXXX56789
        cardSequence:
          type: integer
          description: '* Max Length: 4


            Card Sequence.


            VisionPLUS Service Data: AZXMAI-CARD-SEQ'
          format: int32
          example: 1111
        actionCode:
          type: string
          description: '* Max Length: 4


            Code that identifies the action to be taken.


            VisionPLUS Service Data: AZXMAI-ACTION-CODE'
          example: FUND
        effectiveDate:
          type: string
          description: 'Date that specifies when the transaction takes effect in the
            account (in ISO 8601).


            VisionPLUS Service Data: AZXMAI-EFF-DATE'
          format: date
          example: 2023-10-04
        transactionAmount:
          type: number
          description: '* Max Length: 17


            Transaction Amount.


            VisionPLUS Service Data: AZXMAI-TXN-AMOUNT'
          example: 10000000000000000
        planNumber:
          type: integer
          description: '* Max Length: 5


            Plan Number.


            VisionPLUS Service Data: AZXMAI-PLAN-NBR'
          format: int32
          example: 60000
        planSequence:
          type: integer
          description: '* Max Length: 2


            Plan Sequence.


            VisionPLUS Service Data: AZXMAI PLAN-SEQ'
          format: int32
          example: 11
        storeNumber:
          type: integer
          description: '* Max Length: 9


            Store Number.


            VisionPLUS Service Data: AZXMAI-STORE-NBR'
          format: int32
          example: 999999998
        authorizationCode:
          maxLength: 6
          minLength: 0
          type: string
          description: 'identifier used to identify the transaction for reconciliation
            purpose.


[...]
