openapi: 3.0.1
info:
  title: FirstVision™ Cards Issuing Service - API Documentation
  description: This documentation describes the REST APIs provided by the FirstVision™ Cards Microservice, which provides functionality for the issuing, management and processing of credit cards, including bank, co-branded, private label, debit, commercial, and prepaid
  version: "1.2"
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
tags:
- name: Embosser
  description: Embosser
- name: Card
  description: Card
paths:
  /cards/v2/embosser/details:
    post:
      tags:
        - Embosser
      summary: 'Data from the Embosser record V2. VMX Service: M.CMS.EMBOSSER.INQ, L8VE'
      description: |-
        Provides the embosser data from the embosser record. 

        VMX Service: M.CMS.EMBOSSER.INQ, L8VE
      operationId: Embosser Inquiry
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbosserDetailsRequestV2'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbosserDetailsResponseV2'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |+
            Unprocessable Entity

            VPL5SCIZ1S - SERVICE INPUT TO FS SERVICE IS AN INCORRECT LENGTH 

            VPL5SCIZ2S - USER HAS NOT SIGNED ON - PLEASE SIGNON 

            VPL5SCIZ3S - FILE-TABLE USED BY THIS SERVICE IS MISSING 

            VPL5SCI01E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 000-998 

            VPL5SCI03E - INPUT CARD NUMBER IS NOT NUMERIC 

            VPL5SCI04E - CARD SEQUENCE NUMBER IS NOT NUMERIC 

            VPL5SCI02E - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE/0/1 

            VPL5SCI05S - REQUESTED CARD / ACCOUNT NUMBER IS NOT FOUND 

            VPL5SAD07S - REQUESTED ORG NUMBER IS NOT FOUND   

            VPL5SCIZ5S - APPLICATION FILE IS NOT AVAILABLE 

            VPL5SCI07S - ORG RECORD NOT FOUND     

            VPL5SCI08S - FOREIGN ORG RECORD NOT FOUND    

            VPL5SCI09S - EMBOSSER RECORD NOT FOUND       

            VPL5SCIA9S - EMBOSSER RECORD IS IN PURGED STATUS    

            VPL5SCI11S - ACCOUNT NUMBER NOT FOUND  

            VPL5SCI12S - BASE SEGMENT FILE READ ERROR  

            VPL5SCIA1S - ACCOUNT RECORD IS IN ADD PENDING STATUS   

            VPL5SCIA2S - ACCOUNT RECORD IS IN CLOSED STATUS        

            VPL5SCIA3S - ACCOUNT RECORD IS IN PENDING PURGE STATUS 

            VPL5SCIZ5S - APPLICATION FILE IS NOT AVAILABLE   

            VPL5SCI06S - LOGO RECORD NOT FOUND    

            VPL5SCIZ7S - AMCR FILE NOT OPEN     

            VPL5SCIZ8S - AMCR RECORD NOT FOUND  

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Embosser Inquiry V2
      x-group-name: Embosser
      x-child-product-name: Cards
  /cards/embosser/details:
    post:
      tags:
        - Embosser
      summary: 'Data from the Embosser record. VMX Service: M.CMS.EMBOSSER.INQ, L8V6'
      description: |-
        Provides the embosser data from the embosser record. 

        VMX Service: M.CMS.EMBOSSER.INQ, L8V6
      operationId: embosserDetails
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbosserDetailsRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbosserDetailsResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Embosser Inquiry
      x-group-name: Embosser
      x-child-product-name: Cards
  /cards/embosser/:
    post:
      tags:
        - Embosser
      summary: 'Add Card Record. VMX Service: M.CMS.EMBOSSER.ADD, L8V8'
      description: |-
        Adds a Card or Plastic record to an Account. 
        VMX Service: M.CMS.EMBOSSER.ADD, L8V8
      operationId: addEmbosserL8V8
      parameters:
        - name: apikey
          in: header
          description: API Key
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          description: Client ID
          required: true
          schema:
            type: string
          example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddEmbosserRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddEmbosserResponse'
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '422':
          description: |
            VPL5SCL03E - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998
            VPL5SCL04E - REQUESTED CARD/ACCT NUMBER IS NOT NUMERIC OR EQUAL SPACES
            VPL5SCL05E - CREDIT LIMIT - DOES NOT CONFORM TO CURRENCY NOD
            VPL5SCL06E - CREDIT LIMIT MUST BE NUMERIC
            VPL5SCL07E - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE, 0 OR 1
            VPL5SCL08I - CREDIT LIMIT UNCHANGED, UPDATE BYPASSED
            VPL5SCL10S - ORGANIZATION NOT FOUND ON FILE
            VPL5SCL11S - FOREIGN ORGANIZATION NOT FOUND ON FILE
            VPL5SCL12S - ACCOUNT NOT FOUND ON FILE
            VPL5SCL13S - RELATIONSHIP ACCOUNT NOT FOUND ON FILE
            VPL5SCL14S - LOGO NOT FOUND ON FILE
            VPL5SCL15E - CREDIT LIMIT INVALID FOR PREPAID/DEBIT ACCOUNT TYPES
            VPL5SCL16E - CREDIT LIMIT INVALID FOR RELATIONSHIP SUB-ACCOUNT
            VPL5SCL17E - CREDIT LIMIT CAN NOT EXCEED LOGO CREDIT LIMIT
            VPL5SCL19E - CREDIT LIMIT EXCEEDS SECURED AMOUNT
            VPL5SCL20E - CREDIT LIMIT CAN NOT EXCEED COMPANY NODE CREDIT AVAILABLE
            VPL5SCL21E - CREDIT LIMIT CAN NOT EXCEED PARENT NODE CREDIT AVAILABLE
            VPL5SCL23I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL5SCL24E - CREDIT LIMIT SHOULD BE ZERO FOR FOREIGN ACCOUNT
            VPL5SCL25E - CREDIT LIMIT CANNOT BE LESS THAN ACCT FLOOR LIMIT
            VPL5SCL40E - DELQ AMT EXCEEDED FOR CREDIT LIMIT INCREASE
            VPL5SCL41E - DELQ LVL EXCEEDED FOR CREDIT LIMIT INCREASE
            VPL5SCL42E - ACCT BLOCKED FOR CREDIT LIMIT INCREASE
            VPL5SCLZ4S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SCLZ5S - REQUESTED ORGANIZATION NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Embosser Add
      x-group-name: Embosser
      x-child-product-name: Cards
components:
  schemas:
    EmbosserDetailsRequestV2:
      required:
        - cardNumber
        - cardSequence
        - foreignUse
        - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: string
          description: 'Organization NumberVisionPLUS Service Data: AZXCII-ORG'
          example: '807'
          enum:
            - range[1,999]
        cardNumber:
          maxLength: 19
          minLength: 12
          type: string
          description: 'Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token). VisionPLUS Service Data: AZXCII-CARD'
          example: 000540208ID5IXX3865
          enum:
            - range[12,19]
        cardSequence:
          type: string
          description: 'Card sequenceVisionPLUS Service Data: AZXCII-SEQ'
          example: '001'
        foreignUse:
          type: string
          description: 'Foreign UseVisionPLUS Service Data: AZXCII-FOREIGN-USE'
          example: '1'
      description: Card Embosser Details Request
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    AuthorizationData:
      type: object
      properties:
        retailAmount:
          type: string
          description: |-
            Length: 17

            Maximum amount in monetary units and subunits of retail authorizations
            allowed for this Embosser record for the frequency defined in the FREQ field
            VisionPLUS Service Data: AZXCIO-AUTH-RTL-AMT
        retailNumber:
          type: number
          description: |-
            Length: 9

            Maximum number of retail authorizations allowed for this Embosser record for
            the frequency defined in the FREQ field
            VisionPLUS Service Data: AZXCIO-AUTH-RTL-NBR
        automatedTellerMachineCashAutomatedTellerMachine:
          type: string
          description: |-
            Length: 17

            Maximum amount of ATM cash authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
            VisionPLUS Service Data: AZXCIO-AUTH-ATM-CASH-AMT
        automatedTellerMachineCashNumber:
          type: number
          description: |-
            Length: 9

            Maximum number of ATM cash authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
            VisionPLUS Service Data: AZXCIO-AUTH-ATM-CASH-NBR
        overTheCounterAmount:
          type: string
          description: |-
            Length: 17

            Maximum amount in monetary units and subunits of OTC cash authorizations
            allowed for this Embosser record for the frequency defined in the FREQ field
            VisionPLUS Service Data: AZXCIO-AUTH-OTC-CASH-AMT
        overTheCounterCashNumber:
          type: number
          description: |-
            Length: 9

            Maximum number of OTC authorizations allowed for this Embosser record for
            the frequency defined in the FREQ field
            VisionPLUS Service Data: AZXCIO-AUTH-OTC-CASH-NBR
        automatedTellerMachineCashSingleTransaction:
          type: string
          description: |-
            Length: 17

            Maximum authorization amount in monetary units and subunits of a single
            ATM transaction allowed for this Embosser record for the frequency defined inin the FREQ field
            VisionPLUS Service Data: AZXCIO-AUTH-ATM-CASH-SNGL-TXN
        overTheCounterCashSingleTransaction:
          type: string
          description: |-
            Length: 17

            Maximum authorization amount in monetary units and subunits of a single
            OTC cash transaction allowed for this Embosser record for the frequency
            defined in the FREQ field
            VisionPLUS Service Data: AZXCIO-AUTH-OTC-CASH-SNGL-TXN
        retailSingleTransaction:
          type: string
          description: |-
            Length: 17

            Maximum authorization amount in monetary units and subunits of a single
            retail transaction allowed for this Embosser record for the frequency defined in
            the FREQ field
            VisionPLUS Service Data: AZXCIO-AUTH-RTL-SNGL-TXN
        globalSpendingLimitNumber:
          type: string
          description: |-
            Length: 9

            Global spending limit number
            VisionPLUS Service Data: AUTH_GLBSPL_NBR
        globalSpendingLimitAmount:
          type: string
          description: |-
            Length: 17

            Global spending limit amount
            VisionPLUS Service Data: AZXCIO-AUTH-GLBSPL-AMT
        globalSpendingLimitForSingleTransaction:
          type: string
          description: |-
            Length: 13

            Global spending limit for a single transaction
            VisionPLUS Service Data: AUTH_GLBSPL_SNGL_TXN
    CardInformationData:
      type: object
      properties:
        codeIdentificationNumberSpendingLimits:
          type: string
          description: |-
            Length: 2

            Code that identifies each of the commercial card spending categories
            Occurs 34 times
            VisionPLUS Service Data: AZXCIO-CRD-SP
        assignedSpendLimits:
          $ref: '#/components/schemas/EmbosserDetailsInquiryResponse.CardInformationData.AssignedSpendLimits'
    CurrencyData:
      type: object
      properties:
        numberOfDecimal:
          type: integer
          description: |-
            Length: 3

            Currency NodVisionPLUS Service Data: AZXCIO-CURRENCY-NOD
          format: int32
        code:
          type: integer
          format: int32
    EmbosserDetailsInquiryResponse.CardInformationData.AssignedSpendLimits:
      type: object
      properties:
        spendingLimit:
          type: integer
          description: |-
            Spending Limit.
            VisionPLUS Service Data: AZXCIO-MAX
          format: int64
        transactionAllowed:
          type: integer
          description: |-
            Transaction Allowed.
            VisionPLUS Service Data: AZXCIO-NBR
          format: int32
        frequencyCommercialCard:
          type: integer
          description: |-
            Frequency Commercial Card.
            VisionPLUS Service Data: AZXCIO-FREQ
          format: int32
    EmbosserDetailsInquiryResponse.CustomUserData:
      type: object
      properties:
        falconMarking:
          type: string
          description: |-
            Falcon Marking.
            VisionPLUS Service Data: AZXCIO-FLC-MARK
        falconMarkingStartDate:
          type: string
          description: |-
            Falcon Marking Start Date.
            VisionPLUS Service Data: AZXCIO-FLC-MARK-ST-DATE
          format: date
        falconMarkingEndDate:
          type: string
          description: |-
            Falcon Marking End Date.
            VisionPLUS Service Data: AZXCIO-FLC-MARK-END-DATE
          format: date
        spendLimitsStatus:
          type: string
          description: |-
            Spend Limits Status.
            VisionPLUS Service Data: AZXCIO-SPEND-LIMITS-STATUS
        retailPercentDaily:
          type: integer
          description: |-
            Retail Percent Daily.
            VisionPLUS Service Data: AZXCIO-RETAIL-PERCENT-DAILY
          format: int32
        retailPercentMonthToDate:
          type: integer
          description: |-
            Retail Percent Month To Date.
            VisionPLUS Service Data: AZXCIO-RETAIL-PERCENT-MTD
          format: int32
        retailPercentYearToDate:
          type: integer
          description: |-
            Retail Percent Year To Date.
            VisionPLUS Service Data: AZXCIO-RETAIL-PERCENT-YTD
          format: int32
        retailAmountDaily:
          type: number
          description: |-
            Retail Amount Daily.
            VisionPLUS Service Data: AZXCIO-RETAIL-AMOUNT-DAILY
        retailAmountMonthToDate:
          type: number
          description: |-
            Retail Amount Month To Date.
            VisionPLUS Service Data: AZXCIO-RETAIL-AMOUNT-MTD
        retailAmountYearToDate:
          type: number
          description: |-
            Retail Amount Year To Date.
            VisionPLUS Service Data: AZXCIO-RETAIL-AMOUNT-YTD
        cashPercentDaily:
          type: integer
          description: |-
            Cash Percent Daily.
            VisionPLUS Service Data: AZXCIO-CASH-PERCENT-DAILY
          format: int32
        cashPercentMonthToDay:
          type: integer
          description: |-
            Cash Percent Month To Day.
            VisionPLUS Service Data: AZXCIO-CASH-PERCENT-MTD
          format: int32
        cashPercentYearToDay:
          type: integer
          description: |-
            Cash Percent Year To Day.
            VisionPLUS Service Data: AZXCIO-CASH-PERCENT-YTD
          format: int32
        cashAmountDaily:
          type: number
          description: |-
            Cash Amount Daily.
            VisionPLUS Service Data: AZXCIO-CASH-AMOUNT-DAILY
        cashAmountMonthToDate:
          type: number
          description: |-
            Cash Amount Month To Date.
            VisionPLUS Service Data: AZXCIO-CASH-AMOUNT-MTD
        cashAmountYearToDate:
          type: number
          description: |-
            Cash Amount Year To Date.
            VisionPLUS Service Data: AZXCIO-CASH-AMOUNT-YTD.
        cashPostedTodayNumber:
          type: number
          description: |-
            Cash Posted Today Number.
            VisionPLUS Service Data: AZXCIO-CASH-POSTED-TODAYNBR
        cashPostedMonthToDateNumber:
          type: number
          description: |-
            Cash Posted Month To Date Number.
            VisionPLUS Service Data: AZXCIO-CASH-POSTED-MTD-NBR
        cashPostedYearToDateNumber:
          type: number
          description: |-
            Cash Posted Year To Date Number.
            VisionPLUS Service Data: AZXCIO-CASH-POSTED-YTD-NBR
        cashPostedTodayAmount:
          type: number
          description: |-
            Cash Posted Today Amount.
            VisionPLUS Service Data: AZXCIO-CASH-POSTED-TODAYAMT
        cashPostedMonthToDateAmount:
          type: number
          description: |-
            Cash Posted Month To Date Amount.
            VisionPLUS Service Data: AZXCIO-CASH-POSTED-MTD-AMT
        cashPostedYearToDateAmount:
          type: number
          description: |-
            Cash Posted Year To Date Amount.
            VisionPLUS Service Data: AZXCIO-CASH-POSTED-YTD-AMT
        cashDeclineTodayNumber:
          type: number
          description: |-
            Cash Decline Today Number.
            VisionPLUS Service Data: AZXCIO-CASH-DECLINE-TODAYNBR
        cashDeclineMonthToDayNumber:
          type: number
          description: |-
            Cash Decline Month To Day Number.
            VisionPLUS Service Data: AZXCIO-CASH-DECLINE-MTD-NBR
        cashDeclineYearToDayNumber:
          type: number
          description: |-
            Cash Decline Year To Day Number.
            VisionPLUS Service Data: AZXCIO-CASH-DECLINE-YTD-NBR
        cashDeclineTodayAmount:
          type: number
          description: |-
            Cash Decline Today Amount.
            VisionPLUS Service Data: AZXCIO-CASH-DECLINE-TODAYAMT
        cashDeclineMonthToDayAmount:
          type: number
          description: Cash Decline Month To Day Amount.
        cashDeclineYearToDayAmount:
          type: number
          description: |-
            Cash Decline Year To Day Amount.
            VisionPLUS Service Data: AZXCIO-CASH-DECLINE-YTD-AMT
        retailPostedTodayNumber:
          type: number
          description: |-
            Retail Posted Today Number.
            VisionPLUS Service Data: AZXCIO-RETAIL-POSTED-TODAYNBR
        retailPostedMonthToDayNumber:
          type: number
          description: |-
            Retail Posted Month To Day Number.
            VisionPLUS Service Data: AZXCIO-RETAIL-POSTED-MTDNBR
        retailPostedYearToDayNumber:
          type: number
          description: |-
            Retail Posted Year To Day Number.
            VisionPLUS Service Data: AZXCIO-RETAIL-POSTED-YTDNBR
        retailPostedTodayAmount:
          type: number
          description: |-
            Retail Posted Today Amount.
            VisionPLUS Service Data: AZXCIO-RETAIL-POSTED-TODAYAMT
        retailPostedMonthToDayAmount:
          type: number
          description: |-
            Retail Posted Month To Day Amount.
            VisionPLUS Service Data: AZXCIO-RETAIL-POSTED-MTDAMT
        retailPostedYearToDayAmount:
          type: number
          description: |-
            Retail Posted Year To Day Amount.
            VisionPLUS Service Data: AZXCIO-RETAIL-POSTED-YTDAMT
        retailDeclineTodayNumber:
          type: number
          description: |-
            Retail Decline Today Number.
            VisionPLUS Service Data: AZXCIO-RETAIL-DECLINE-TODAYNBR
        retailDeclineMonthToDayNumber:
          type: number
          description: |-
            Retail Decline Month To Day Number.
            VisionPLUS Service Data: AZXCIO-RETAIL-DECLINE-MTDNBR
        retailDeclineYearToDayNumber:
          type: number
          description: |-
            Retail Decline Year To Day Number.
            VisionPLUS Service Data: AZXCIO-RETAIL-DECLINE-YTDNBR
        retailDeclineToday:
          type: number
          description: |-
            Retail Decline Today.
            VisionPLUS Service Data: AZXCIO-RETAIL-DECLINE-TODAYAMT
        retailDeclineMountToDayAmount:
          type: number
          description: |-
            Retail Decline Month To Day Amount.
            VisionPLUS Service Data: AZXCIO-RETAIL-DECLINE-MTDAMT
        retailDeclineYearToDayAmount:
          type: number
          description: |-
            Retail Decline Year To Day Amount.
            VisionPLUS Service Data: AZXCIO-RETAIL-DECLINE-YTDAMT
    EmbosserDetailsResponseV2:
      type: object
      properties:
        currencyData:
          $ref: '#/components/schemas/CurrencyData'
        organizationNumber:
          type: string
          description: |-
            Length: 3

            OrganizationVisionPLUS Service Data: AZXCIO-ORG
        logo:
          type: integer
          description: |-
            Length: 3

            LogoVisionPLUS Service Data: AZXCIO-LOGO
          format: int32
        foreignUse:
          type: integer
          description: |-
            Length: 1

            Foreign Use IndicatorVisionPLUS Service Data: AZXCIO-DUAL-IND
          format: int32
        cardNumber:
          type: string
          description: |-
            Length: 19

            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token). VisionPLUS Service Data: AZXCIO-CARD
          example: 000540208ID5IXX3865
        cardSequence:
          type: integer
          description: |-
            Length: 4

            Card SequenceVisionPLUS Service Data: AZXCIO-SEQ
          format: int32
        cardTechnology:
          type: integer
          description: |-
            Length: 1

            Card TechnologyVisionPLUS Service Data: AZXCIO-CARD-TECHNOLOGY
          format: int32
        postToAccount:
          type: string
          description: |-
            Length: 19

            Post To AccountVisionPLUS Service Data: AZXCIO-POST-TO-ACCT
        fraud:
          type: string
          description: |-
            Length: 19

            Number of the fraud account to which this Embosser record was transferredVisionPLUS Service Data: AZXCIO-FRAUD
        prepaidIndicator:
          type: integer
          description: |-
            Length: 1

            Prepaid indicatorVisionPLUS Service Data: AZXCIO-PREPAID-FLAG  
          format: int32
        statusCode:
          type: string
          description: |-
            Length: 3

            Embosser record status VisionPLUS Service Data: AZXCIO-STATUS-CODE
        dateStatus:
          type: string
          description: |-
            Length: 7

            Date on which the status was last changedVisionPLUS Service Data: AZXCIO-DATE-STATUS
          format: date
        statusSecureId:
          type: string
          description: |-
            Length: 3

            Operator ID of the person who changed the statusVisionPLUS Service Data: AZXCIO-STATUS-SECUR-ID
        fraudEffectiveDate:
          type: string
          description: |-
            Length: 7

            Date that a fraud card transfer for this embosser became effectiveVisionPLUS Service Data: AZXCIO-FRAUD-EFFE-DATE
          format: date
        embosserRecordReplacement:
          type: string
          description: |-
            Length: 19

            Number of the Embosser record replacement associated with a fraud cardVisionPLUS Service Data: AZXCIO-EMB-REPL
        numberCardsOutstanding:
          type: integer
          description: |-
            Length: 3

            Number of outstanding cardsVisionPLUS Service Data: AZXCIO-NBR-CARDS-OUTST
          format: int32
        numberCardsReturned:
          type: integer
          description: |-
            Length: 3

            Number of returned cardsVisionPLUS Service Data: AZXCIO-NBR-CARDS-RTN
          format: int32
        currentChipSequence:
          type: integer
          description: |-
            Length: 2

            Chip sequence number of the most recently issued cardVisionPLUS Service Data: AZXCIO-CURR-CHIP-SEQ
          format: int32
        cardIssueAction:
          type: integer
          description: |-
            Length: 1

            Card issue action codeVisionPLUS Service Data: AZXCIO-CARD-ACTION
          format: int32
        numberCardsRequested:
          type: integer
          description: |-
            Length: 2

            Number of cards requestedVisionPLUS Service Data: AZXCIO-NBR-RQTD
          format: int32
        chipSequenceNumber:
          type: integer
          description: |-
            Length: 2

            Chip sequence number of the card issued prior to the most recently issued cardVisionPLUS Service Data: AZXCIO-PREV-CHIP-SEQ
          format: int32
        typeOfCard:
          type: integer
          description: |-
            Length: 2

            Type of plastic stock to use to produce the requested cardVisionPLUS Service Data: AZXCIO-TYPE-OF-CARD
          format: int32
        requestedCardType:
          type: integer
          description: |-
            Length: 2

            Type of card requestedVisionPLUS Service Data: AZXCIO-RQTD-CARD-TYPE
          format: int32
        typeCardMailer:
          type: string
          description: |-
            Length: 2

            Type of mailer to useVisionPLUS Service Data: AZXCIO-TYPE-CARD-MAILER
        plasticId:
          type: string
          description: |-
            Length: 10

            User-defined code that identifies the plastic stock used to create a card for thisVisionPLUS Service Data: AZXCIO-PLASTIC-ID
        secureActivation:
          type: integer
          description: |-
            Length: 1

            Secure code activation indicatorVisionPLUS Service Data: AZXCIO-SC-ACTIVE
          format: int32
        embosserNameType1:
          type: integer
          description: |-
            Length: 1

            Type of name for EMBOSSED NAME 1VisionPLUS Service Data: AZXCIO-EMB-NAME-1-TYPE
          format: int32
        embosserNameType2:
          type: integer
          description: |-
            Length: 1

            Type of name for EMBOSSED NAME 2VisionPLUS Service Data: AZXCIO-EMB-NAME-2-TYPE
          format: int32
        embosserName1:
          type: string
          description: |-
            Length: 26

            Name to be embossed on the first embossing line of the cardVisionPLUS Service Data: AZXCIO-EMBOSSED-NAME-1
        embosserName2:
          type: string
          description: |-
            Length: 26

            Name to be embossed on the second embossing line of the cardVisionPLUS Service Data: AZXCIO-EMBOSSED-NAME-2
        cardHolderName1:
          type: string
          description: |-
            Length: 40

            EMBR_NAME_1VisionPLUS Service Data: AZXCIO-EMBR-NAME-1
        cardHolderName2:
          type: string
          description: |-
            Length: 40

            EMBR_NAME_1VisionPLUS Service Data: AZXCIO-EMBR-NAME-2
        addressLine1:
          type: string
          description: |-
            Length: 40

            Address line 1 used for mailing the card and PIN mailersVisionPLUS Service Data: AZXCIO-ADDR-LINE-1
        addressLine2:
          type: string
          description: |-
            Length: 40

            Address line 2 used for mailing the card and PIN mailersVisionPLUS Service Data: AZXCIO-ADDR-LINE-2
        stateProvince:
          type: string
          description: |-
            Length: 3

            State or province portion of the mailing address for card and PIN mailersVisionPLUS Service Data: AZXCIO-ST-PR
        cityPortion:
          type: string
          description: |-
            Length: 30

            City portion of the mailing address for card and PIN mailersVisionPLUS Service Data: AZXCIO-CITY
        postalCodePortion:
          type: string
          description: |-
            Length: 10

            Postal code portion of the mailing address for card and PIN mailersVisionPLUS Service Data: AZXCIO-PSTL-CD
        plusIndicator:
          type: integer
          description: |-
            Length: 1

            Flag that indicates whether the PLUS symbol is displayed on the cardVisionPLUS Service Data: AZXCIO-PLUS
          format: int32
        dateExpire:
          type: string
          description: |-
            Length: 7

            Date on which the card expiresVisionPLUS Service Data: AZXCIO-DATE-EXPIRE
          format: date
        customerNumber:
          type: string
          description: |-
            Length: 19

            Customer number that identifies the Customer Name/Address record that listsVisionPLUS Service Data: AZXCIO-CUSTOMER-NBR
        currentPinOffset:
          type: integer
          description: |-
            Length: 7

            Current PIN offsetVisionPLUS Service Data: AZXCIO-PIN-OFFSET
          format: int32
        previousPinOffset:
          type: integer
          description: |-
            Length: 7

            Previous PIN offsetVisionPLUS Service Data: AZXCIO-PREV-PIN-OFFSET
          format: int32
        pinDelayDays:
          type: integer
          description: |-
            Length: 2

            Number of processing days between the date when CMS receives notificationVisionPLUS Service Data: AZXCIO-PIN-DELAY-DAYS
          format: int32
        typeOfPointOfSale:
          type: integer
          description: |-
            Length: 3

            Type of point-of-sale service in effect for a cardVisionPLUS Service Data: AZXCIO-POS-SERVICE-CODE
          format: int32
        cardHolderFlag:
          type: string
          description: |-
            Length: 1

            Code that indicates whether the card is issued as a primary or secondary cardVisionPLUS Service Data: AZXCIO-CARDHOLDER-FLAG
        dateWarningBulletin:
          type: string
          description: |-
            Length: 7

            Date on which the account last appeared on a warning bulletinVisionPLUS Service Data: AZXCIO-DTE-WARNING-BULLETIN
          format: date
        regionCode:
          type: string
          description: |-
            Length: 9

            Region code for distribution of the Recovery Card List or the Card RecoveryVisionPLUS Service Data: AZXCIO-REGION-CODE
        languageCode:
          type: string
          description: |-
            Length: 3

            User-defined code to indicate the language spoken by the cardholderVisionPLUS Service Data: AZXCIO-LANG-CODE
        visaMiniCardVersion:
          type: integer
          description: |-
            Length: 1

            Visa Mini card versionVisionPLUS Service Data: AZXCIO-MINI
          format: int32
        pinSuppression:
          type: integer
          description: |-
            Length: 3

            Flag that indicates whether the PIN number and PIN mailer are producedVisionPLUS Service Data: AZXCIO-PIN-SUPPRESSION
          format: int32
        blockCode:
          type: string
          description: |-
            Length: 1

            Organization Number. This field returns the organization number as String. It's used for Single digit organizations like 001.VisionPLUS Service Data: AZXCIO-BLK-CODE
        dateBlock:
          type: string
          description: |-
            Length: 1

            Block code assigned to the Embosser recordVisionPLUS Service Data: AZXCIO-DATE-BLOCK
          format: date
        blockSecureId:
          type: string
          description: |-
            Length: 3

            Operator ID of the person who entered the block codeVisionPLUS Service Data: AZXCIO-BLOCK-SECUR-ID
        warningCode1:
          type: string
          description: |-
            Length: 1

            Warning code 1VisionPLUS Service Data: AZXCIO-WARNING-CODE-1
        warningCode7:
          type: string
          description: |-
            Length: 1

            Warning code 7VisionPLUS Service Data: AZXCIO-WARNING-CODE-7
        numberOfIssueAttemptsRemaining:
          type: integer
          description: |-
            Length: 3

            Number of issue or reissue attempts remaining for the cardVisionPLUS Service Data: AZXCIO-REISSUE-ATTMPTS
          format: int32
        currentDateExpirationDate:
          type: string
          description: |-
            Length: 7

            Current card expiration dateVisionPLUS Service Data: AZXCIO-CURR-CRD-EXP-DATE
          format: date
        currentCardActivation:
          type: string
          description: |-
            Length: 1

            Current card activation flagVisionPLUS Service Data: AZXCIO-CURR-CRD-ACT
        dateEmbossedMagneticStripeCard:
          type: string
          description: |-
            Length: 7

            Date embossed on a magnetic-stripe card that indicates when the card becomesVisionPLUS Service Data: AZXCIO-CURR-CRD-FROM
          format: date
        dateCurrentMagneticCardMailed:
          type: string
          description: |-
            Length: 7

            Date the current magnetic-stripe card was mailed to the cardholderVisionPLUS Service Data: AZXCIO-CURR-CRD-MAIL
          format: date
        lastExpirationDate:
          type: string
          description: |-
            Length: 7

            Previous card expiration dateVisionPLUS Service Data: AZXCIO-DATE-LAST-EXPR
          format: date
        lastCardActivation:
          type: string
          description: |-
            Length: 1

            Previous card activation flagVisionPLUS Service Data: AZXCIO-LAST-CARD-ACTION
        dateFirstCardVerify:
          type: string
          description: |-
            Length: 7

            Date on which the first card was verifiedVisionPLUS Service Data: AZXCIO-DATE-FIRST-CARD-VERIFY
          format: date
        dateLastPlasticIssue:
          type: string
          description: |-
            Length: 7

            Date on which the most recently issued card was producedVisionPLUS Service Data: AZXCIO-DATE-LST-PLASTIC-ISSUE
          format: date
        frequencyMaximumAuthorizationParameters:
          type: integer
          description: |-
            Length: 1

            Frequency defined for the maximum authorization parametersVisionPLUS Service Data: AZXCIO-AUTH-ATM-OTC-RTL-FREQ
          format: int32
        authorizationData:
          $ref: '#/components/schemas/AuthorizationData'
        internetPurchaseData:
          $ref: '#/components/schemas/InternetPurchaseData'
        identificationNumberAuthorization:
          type: string
          description: |-
            Length: 3

            Identification number of the Authorization Criteria table assigned to the
            Embosser record
            VisionPLUS Service Data: AZXCIO-AUTH-CRIT-TBL-NBR
        identificationNumberSpendingLimitsTable:
          type: string
          description: |-
            Length: 3

            Identification number of the HCS Spending Limits table assigned to the
            Account
            VisionPLUS Service Data: AZXCIO-AUTH-SPD-LIM-TBL
        userData:
          $ref: '#/components/schemas/UserData'
        numberCurrentlyDisplayedEmbosserRecord:
          type: string
          description: |-
            Length: 19

            Card number of the currently displayed embosser record, or account numberVisionPLUS Service Data: AZXCIO-TRAN-DATA-CRD-NBR
        adminNumberBranch:
          type: integer
          description: |-
            Length: 19

            Branch number that identifies the card mailing location for all reissued cards
            when the branch delivery option is used
            VisionPLUS Service Data: AZXCIO-ADMIN-BRANCH
          format: int32
        nextExpirationDateOfTheCard:
          type: string
          description: |-
            Length: 7

            Next expiration date of the cardVisionPLUS Service Data: AZXCIO-DATE-NEXT-EXPR
          format: date
        branchIdentifierCardMailingLocation:
          type: integer
          description: |-
            Length: 9

            Branch number that identifies the card mailing location for the issue of all new
            cards when the branch delivery option is used
            VisionPLUS Service Data: AZXCIO-FIRST-ISS-BRANCH
          format: int32
        cardInformationData:
          $ref: '#/components/schemas/CardInformationData'
        useAutomatedTellerMachineCashNumberData:
          $ref: '#/components/schemas/UseAutomatedTellerMachineCashNumberData'
        useAutomatedTellerMachineCashAmountData:
          $ref: '#/components/schemas/UseAutomatedTellerMachineCashAmountData'
        useOverTheCounterCashNumberData:
          $ref: '#/components/schemas/UseOverTheCounterCashNumberData'
        useOverTheCounterCashAmountData:
          $ref: '#/components/schemas/UseOverTheCounterCashAmountData'
        retailNumberData:
          $ref: '#/components/schemas/RetailNumberData'
        retailAmountData:
          $ref: '#/components/schemas/RetailAmountData'
        internetPurchaseNumberData:
          $ref: '#/components/schemas/InternetPurchaseNumberData'
        internetPurchaseAmountData:
          $ref: '#/components/schemas/InternetPurchaseAmountData'
        prepaidLimits:
          $ref: '#/components/schemas/PrepaidLimits'
        spendingLimitsData:
          $ref: '#/components/schemas/SpendingLimitsData'
        cardDelayDays:
          type: integer
          description: |-
            Length: 2

            Code that indicates the number of days to warehouse the card mailer before
            releasing the card for printing
            VisionPLUS Service Data: AZXCIO-CARD-DELAY-DAYS
          format: int32
        cardDelayStatus:
          type: string
          description: |-
            Length: 1

            Code that indicates the status of a warehoused card mailerVisionPLUS Service Data: AZXCIO-CURR-CRD-DELV-STAT
        mailerDate:
          type: string
          description: |-
            Length: 7

            Date the current magnetic-stripe card was mailed to the cardholderVisionPLUS Service Data: AZXCIO-MAILER-DATE
          format: date
        pinOverrideActionEmbosserLevel:
          type: string
          description: |-
            Length: 1

            Code that indicates the PIN override action at the embosser levelVisionPLUS Service Data: AZXCIO-PIN-OVRD
        cardHolderType:
          type: integer
          description: |-
            Length: 1

            Cardholder typeVisionPLUS Service Data: AZXCIO-CARDHOLDER-TYPE
          format: int32
        pinDelayStatusMailer:
          type: string
          description: |-
            Length: 1

            Code that indicates the status of a warehoused PIN mailerVisionPLUS Service Data: AZXCIO-PIN-DELAY-STATUS
        cardActivatedDate:
          type: string
          description: |-
            Length: 7

            Date the card was activated by the cardholderVisionPLUS Service Data: AZXCIO-CARD-ACTIVATED-DATE
          format: date
        dateMostRecentlyIssueCard:
          type: string
          description: |-
            Length: 7

            Date on which the most recently issued card was producedVisionPLUS Service Data: AZXCIO-TIME-LST-PLASTIC-ISSUE
          format: date
        deliveryOptionReissuedCards:
          type: integer
          description: |-
            Length: 3

            Delivery option for reissued cardsVisionPLUS Service Data: AZXCIO-REISSUE-DELIV-OPTION
          format: int32
        deliveryOptionIssuedCards:
          type: integer
          description: |-
            Length: 3

            Delivery option for issued cardsVisionPLUS Service Data: AZXCIO-ISSUE-DELIV-OPTION
          format: int32
        cardDeliveryStatus:
          type: string
          description: |-
            Length: 1

            Delivery status of the current cardVisionPLUS Service Data: AZXCIO-CURR-CRD-DELV-STAT
        cardDeliveryDate:
          type: string
          description: |-
            Length: 7

            Delivery date of the current cardVisionPLUS Service Data: AZXCIO-CURR-CRD-DELV-DATE
          format: date
        deliveryStatusPreviousCard:
          type: string
          description: |-
            Length: 1

            Delivery status of the previous cardVisionPLUS Service Data: AZXCIO-PREV-CRD-DELV-STAT
        deliveryDatePreviousCard:
          type: string
          description: |-
            Length: 7

            Delivery date of the previous cardVisionPLUS Service Data: AZXCIO-PREV-CRD-DELV-DATE
          format: date
        deliveryStatusCurrentPinMailer:
          type: string
          description: |-
            Length: 1

            Delivery status of current PIN MailerVisionPLUS Service Data: AZXCIO-CURR-PIN-DELV-STAT
        deliveryDateCurrentPinMailer:
          type: string
          description: |-
            Length: 7

            Delivery date of current PIN MailerVisionPLUS Service Data: AZXCIO-CURR-PIN-DELV-DATE
          format: date
        deliveryStatusPreviousPinMailer:
          type: string
          description: |-
            Length: 1

            Delivery status of previous PIN MailerVisionPLUS Service Data: AZXCIO-PREV-PIN-DELV-STAT
        deliveryDatePreviousPinMailer:
          type: string
          description: |-
            Length: 7

            Delivery date of previous PIN MailerVisionPLUS Service Data: AZXCIO-PREV-PIN-DELV-DATE
          format: date
        dateNextPinChanged:
          type: string
          description: |-
            Length: 7

            Date of next PIN changeVisionPLUS Service Data: AZXCIO-DTE-NXT-PIN-CHG
          format: date
        cardHolderAffiliation:
          type: string
          description: |-
            Length: 5

            Cardholder’s affiliation or affinity groupVisionPLUS Service Data: AZXCIO-EMBLM-ID
        cardVerifyByVisaStatus:
          type: string
          description: |-
            Length: 1

            Card Verify by Visa (VBV) enrollment statusVisionPLUS Service Data: AZXCIO-VBV-STAT
        customUserData:
          $ref: '#/components/schemas/EmbosserDetailsInquiryResponse.CustomUserData'
        custEmbSeq:
          type: string
          description: |-
            Length: 9

            Customer Embosser Sequence 
            VisionPLUS Service Data: AZXCIO-CUST-EMB-SEQ
        travelInd:
          type: string
          description: |-
            Length: 1

            Code that indicates whether overseas travel is allowed for the
            cardholder and if any prior travel notification is required. This
            is a user-defined field. 
            VisionPLUS Service Data: AZXCIO-TRAVEL-IND
        travelData:
          type: array
          items:
            $ref: '#/components/schemas/TravelData'
        vauLastRsnCode:
          type: string
          description: |-
            Length: 1

            Last Reason Code VisionPLUS Service Data: AZXCIO-VAU-LAST-RSN-CODE
        noCvmCounter:
          type: string
          description: |-
            Length: 6

            No CVM CounterVisionPLUS Service Data: AZXCIO-NO-CVM-COUNTER
        noCvmAmt:
          type: string
          description: |-
            Length: 13

            No CVM AmountVisionPLUS Service Data: AZXCIO-NO-CVM-AMT
        profileId:
          type: string
          description: |-
            Length: 3

            Profile IDVisionPLUS Service Data: AZXCIO-PROFILE-ID
        ecommInd:
          type: string
          description: |-
            Length: 1

            Ecommerce IndicatorVisionPLUS Service Data: AZXCIO-ECOMM-IND
        contlsInd:
          type: string
          description: |-
            Length: 1

            Contactless IndicatorVisionPLUS Service Data: AZXCIO-CONTLS-IND
        authRstrTbl:
          type: string
          description: |-
            Length: 3

            Authorization restriction tableVisionPLUS Service Data: AZXCIO-AUTH-RSTR-TBL
        authCrLm:
          type: string
          description: |-
            Length: 17

            Authorization credit limitVisionPLUS Service Data: AZXCIO-AUTH-CR-LM
        ctdAuthAmt:
          type: string
          description: |-
            Length: 17

            CTD Authorization amountVisionPLUS Service Data: AZXCIO-CTD-AUTH-AMT
        digiCardInd:
          type: string
          description: |-
            Length: 1

            Digital Card IndicatorVisionPLUS Service Data: AMED-DIG-CARD-IND
        embCode1:
          type: string
          description: |-
            Length: 10

            Titles for user-defined code fields that display on the Account Embossing screen (ARME03)
            VisionPLUS Service Data: AMCR-LD-USER-EMB-CODE-1
        embCode2:
          type: string
          description: |-
            Length: 10

            Titles for user-defined code fields that display on the Account Embossing screen (ARME03)
            VisionPLUS Service Data: AMCR-LD-USER-EMB-CODE-2
        embCode3:
          type: string
          description: |-
            Length: 10

            Titles for user-defined code fields that display on the Account Embossing screen (ARME03)
            VisionPLUS Service Data: AMCR-LD-USER-EMB-CODE-3
        embCode4:
          type: string
          description: |-
            Length: 10

            Titles for user-defined code fields that display on the Account Embossing screen (ARME03)
            VisionPLUS Service Data: AMCR-LD-USER-EMB-CODE-4
        embCode5:
          type: string
          description: |-
            Length: 10

            Titles for user-defined code fields that display on the Account Embossing screen (ARME03)
            VisionPLUS Service Data: AMCR-LD-USER-EMB-CODE-5
        embCode6:
          type: string
          description: |-
            Length: 10

            Titles for user-defined code fields that display on the Account Embossing screen (ARME03)
            VisionPLUS Service Data: AMCR-LD-USER-EMB-CODE-6
        embCode7:
          type: string
          description: |-
            Length: 10

            Titles for user-defined code fields that display on the Account Embossing screen (ARME03)
            VisionPLUS Service Data: AMCR-LD-USER-EMB-CODE-7
        embCode8:
          type: string
          description: |-
            Length: 10

            Titles for user-defined code fields that display on the Account Embossing screen (ARME03)
            VisionPLUS Service Data: AMCR-LD-USER-EMB-CODE-8
        embDate1:
          type: string
          description: |-
            Length: 10

            Titles for user-defined code fields that display on the Account Embossing screen (ARME03)
            VisionPLUS Service Data: AMCR-LD-USER-EMB-DATE-1
        embDate2:
          type: string
          description: |-
            Length: 10

            Titles for user-defined code fields that display on the Account Embossing screen (ARME03)
            VisionPLUS Service Data: AMCR-LD-USER-EMB-DATE-2
        dvcInd:
          type: string
          description: |-
            Length: 1

            Device indicatorVisionPLUS Service Data: AMED-DVC-IND
        pinReset:
          type: string
          description: |-
            Length: 1

            Flag that indicates whether the PIN try counter field on the Embosser record (PIN COUNT RESET on ARME02) is allowed to be manually reset for accounts in this logo.
            VisionPLUS Service Data: AMCR-LB-MAN-PIN-RESET
        dateLastMaintained:
          type: string
          description: |-
            Length: 7

            Date of last maintenance of this record
            VisionPLUS Service Data: AMED-DATE-LAST-MAINT
          format: date
        newAcctCard:
          type: string
          description: |-
            Length: 1

            Code that indicates whether CMS generates a tape for embossing plastics for new accounts
            VisionPLUS Service Data: AMCR-LB-PCF-NEW-ACCT-CARD
        sdpFlag:
          type: string
          description: |-
            Length: 1

            Code that indicates whether same-day embossing is allowed for the accounts within the logo
            VisionPLUS Service Data: AMCR-LB-SDP-FLAG
        internationalSingleTransaction:
          type: string
          description: |-
            Length: 17

            Maximum authorization amount in monetary units and subunits for a single international purchase transactionVisionPLUS Service Data: AMED-SL-AUTH-INT-SNGL-TXN
        pinTryLimit:
          type: integer
          description: |-
            Length: 2

            Number of invalid PIN tries on the card after the successful PIN txn
            VisionPLUS Service Data: AMED-NBR-INV-PIN-TRIES
          format: int32
        transferNextAllowDate:
          type: string
          description: |-
            Length: 7

            Field that indicates when the next transfer is allowed
            VisionPLUS Service Data: AMED-NEXT-XFR-ALLOWED
          format: date
        transferReplacementIndicator:
          type: integer
          description: |-
            Length: 1

            Transfer Replacement Indicator
            VisionPLUS Service Data: AMED-XFR-REPLACEMENT-IND
          format: int32
        foreignCreditLimit:
          type: number
          description: |-
            Length: 13

            AMED Foreign Credit limitVisionPLUS Service Data: AZXCIO-CR-LIM-FGN
        plasticIndicator:
          type: string
          description: |-
            Length: 1

            Misc Plastic IndicatorVisionPLUS Service Data: AZXCIO- MISC-PLASTIC-IND
      description: EmbosserDetailsResponseV2
    InternetPurchaseAmountData:
      type: object
      properties:
        today:
          type: number
          description: |-
            Length: 17

            Total amount of internet transactions for this card todayVisionPLUS Service Data: AZXCIO-INET-PUR-AMT-TODAY
        cycleToDate:
          type: number
          description: |-
            Length: 17

            Total amount of internet transactions for this card cycle-to-dateVisionPLUS Service Data: AZXCIO-INET-PUR-AMT-CTD
        yearToDate:
          type: number
          description: |-
            Length: 17

            Total amount of internet transactions for this card year-to-dateVisionPLUS Service Data: AZXCIO-INET-PUR-AMT-YTD
        lifeToDate:
          type: number
          description: |-
            Length: 17

            Total amount of internet transactions for this card life-to-dateVisionPLUS Service Data: AZXCIO-INET-PUR-AMT-LTD
    InternetPurchaseData:
      type: object
      properties:
        purchaseNumber:
          type: number
          description: |-
            Length: 9

            Maximum number of internet authorizations allowed for this Embosser record
            for the frequency defined in the FREQ field
            VisionPLUS Service Data: AZXCIO-INET-PUR-NBR
        purchaseAmount:
          type: string
          description: |-
            Length: 17

            Maximum amount in monetary units and subunits of internet cash
            authorizations allowed for this Embosser record for the frequency defined in
            the FREQ field

            VisionPLUS Service Data: AZXCIO-INET-PUR-AMT
        purchaseSingleTransactionLimit:
          type: string
          description: |-
            Length: 13

            Maximum authorization amount in monetary units and subunits of a single
            internet transaction allowed for this Embosser record for the frequency defined in the FREQ field
            VisionPLUS Service Data: AZXCIO-INET-PUR-SNGL-TXN
    InternetPurchaseNumberData:
      type: object
      properties:
        today:
          type: integer
          description: |-
            Length: 9

            Total number of internet transactions for this card year-to-dateVisionPLUS Service Data: AZXCIO-INET-PUR-NBR-TODAY
          format: int32
        cycleToDate:
          type: integer
          description: |-
            Length: 9

            Total number of internet transactions for this card cycle-to-dateVisionPLUS Service Data: AZXCIO-INET-PUR-NBR-CTD
          format: int32
        yearToDate:
          type: integer
          description: |-
            Length: 9

            Total number of internet transactions for this card life-to-dateVisionPLUS Service Data: AZXCIO-INET-PUR-NBR-YTD
          format: int32
        lifeToDate:
          type: integer
          description: |-
            Length: 9

            Total amount of internet transactions for this card todayVisionPLUS Service Data: AZXCIO-INET-PUR-NBR-LTD
          format: int32
    PrepaidLimits:
      type: object
      properties:
        spendAmount:
          type: number
          description: |-
            Length: 17

            Amount of the spending limit prepayment transaction that resulted in a
            temporary increase in the spending limit for the cardholder
            VisionPLUS Service Data: AZXCIO-PREPAY-SPND-AMT
        spendAvailable:
          type: integer
          description: |-
            Length: 17

            Current amount of the temporary increase in the spending limit for thisVisionPLUS Service Data: AZXCIO-AUTH-CRIT-TBL-NBR
          format: int32
        spendExpirationDate:
          type: string
          description: |-
            Length: 7

            Date on which the temporary increase in the spending limit expires for this
            Cardholder
            VisionPLUS Service Data: AZXCIO-PREPAY-SPND-EXP-DTE
          format: date
    RetailAmountData:
      type: object
      properties:
        today:
          type: number
          description: |-
            Length: 11

            Total amount of retail transactions for this card todayVisionPLUS Service Data: AZXCIO-RTL-DLY-AUTH-AMT-ACCUM
        cycleToDate:
          type: number
          description: |-
            Length: 11

            Total amount of retail transactions for this card cycle-to-dateVisionPLUS Service Data: AZXCIO-RTL-CTD-AUTH-AMT-ACCUM
        yearToDate:
          type: number
          description: |-
            Length: 11

            Total amount of retail transactions for this card year-to-dateVisionPLUS Service Data: AZXCIO-RTL-YTD-AUTH-AMT-ACCUM
        lifeToDate:
          type: number
          description: |-
            Length: 3

            Total amount of retail transactions for this card life-to-dateVisionPLUS Service Data: AZXCIO-RTL-LTD-AUTH-AMT-ACCUM
    RetailNumberData:
      type: object
      properties:
        today:
          type: integer
          description: |-
            Length: 4

            Total number of retail transactions for this card todayVisionPLUS Service Data: AZXCIO-RTL-DLY-AUTH-NBR-ACCUM
          format: int32
        cycleToDate:
          type: integer
          description: |-
            Length: 4

            Total number of retail transactions for this card cycle-to-dateVisionPLUS Service Data: AZXCIO-RTL-CTD-AUTH-NBR-ACCUM
          format: int32
        yearToDate:
          type: integer
          description: |-
            Length: 4

            Total number of retail transactions for this card year-to-dateVisionPLUS Service Data: AZXCIO-RTL-YTD-AUTH-NBR-ACCUM
          format: int32
        lifeToDate:
          type: integer
          description: "Length: 4\n\nTotal number of retail transactions for this card life-to-dateVisionPLUS Service Data: USAGE RETAIL NBR LIFE-TO-DATE\tAZXCIO-RTL-LTD-AUTH-NBR-ACCUM"
          format: int32
    SpendingLimitsData:
      type: object
      properties:
        totalDailyAmount:
          type: number
          description: |-
            Length: 17

            Total monetary amount of the transactions for the spending category for this
            card today
            Occurs 34 times 
            VisionPLUS Service Data: AZXCIO-SLS-DAILY-AMT
        totalDailyNumber:
          type: integer
          description: |-
            Length: 9

            Total number of transactions for the spending category for this card today
            Occurs 34 times 
            VisionPLUS Service Data: AZXCIO-SLS-DAILY-NBR
          format: int32
        totalWeekToDateAmount:
          type: number
          description: |-
            Length: 17

            Total monetary amount of the transactions for the spending category for this
            card week-to-date (Sunday through Saturday)
            Occurs 34 times 
            VisionPLUS Service Data: AZXCIO-SLS-WTD-AMT
        totalWeekToDateNumber:
          type: integer
          description: |-
            Length: 9

            Total number of transactions for the spending category for this card week-todate
            (Sunday through Saturday)
            Occurs 34 times 
            VisionPLUS Service Data: AZXCIO-SLS-WTD-NBR
          format: int32
        totalCycleToDateAmount:
          type: number
          description: |-
            Length: 17

            Total monetary amount of the transactions for the spending category for this
            card cycle-to-date
            Occurs 34 times 
            VisionPLUS Service Data: AZXCIO-SLS-CTD-AMT
        totalCycleToDateNumber:
          type: integer
          description: |-
            Length: 9

            Total number of transactions for the spending category for this card cycle-todate
            Occurs 34 times 
            VisionPLUS Service Data: AZXCIO-SLS-CTD-NBR
          format: int32
        totalYearToDateAmount:
          type: number
          description: |-
            Length: 3

            Organization Number. This field returns the organization number as String. It's used for Single digit organizations like 001.VisionPLUS Service Data: AZXCIO-SLS-YTD-AMT
        totalYearToDateNumber:
          type: integer
          description: |-
            Length: 17

            Total monetary amount of the transactions for the spending category for this
            card year-to-date
            Occurs 34 times
            VisionPLUS Service Data: AZXCIO-SLS-YTD-NBR
          format: int32
        totalLifeToDateAmount:
          type: number
          description: |-
            Length: 9

            Total number of transactions for the spending category for this card year-todate
            Occurs 34 times 
            VisionPLUS Service Data: AZXCIO-SLS-LTD-AMT
        totalLifeToDateNumber:
          type: integer
          description: |-
            Length: 17

            Total monetary amount of the transactions for the spending category for this
            card life-to-date
            Occurs 34 times 
            VisionPLUS Service Data: AZXCIO-SLS-LTD-NBR
          format: int32
    TravelData:
      type: object
      properties:
        travelCountry:
          type: string
          description: |-
            Length: 3

            Country code of the foreign country associated with each trip.VisionPLUS Service Data: AZXCIO-TRAVEL-COUNTRY
        travelStartDt:
          type: string
          description: |-
            Length: 7

            Start date of the first five trips. You can enter the dates of these
            trips and cannot enter past trips’ details. The format is
            YYYY-MM-DD.
            VisionPLUS Service Data: AZXCIO-TRAVEL-STRT-DT
        travelEndDt:
          type: string
          description: |-
            Length: 7

            End dates of the corresponding trips for which start dates were
            entered. You cannot enter details of the past trips or the end
            dates cannot be earlier than the start date mentioned in the
            START DATE field. The format is YYYY-MM-DD.
            VisionPLUS Service Data: AZXCIO-TRAVEL-END-DT
    UseAutomatedTellerMachineCashAmountData:
      type: object
      properties:
        today:
          type: number
          description: |-
            Length: 11

            Total amount of ATM cash transactions for this card todayVisionPLUS Service Data: AZXCIO-ATM-DLY-AUTH-AMT-ACCUM
        cycleToDate:
          type: number
          description: |-
            Length: 11

            Total amount of ATM cash transactions for this card cycle-to-dateVisionPLUS Service Data: AZXCIO-ATM-CTD-AUTH-AMT-ACCUM
        yearToDate:
          type: number
          description: |-
            Length: 11

            Total amount of ATM cash transactions for this card year-to-dateVisionPLUS Service Data: AZXCIO-ATM-YTD-AUTH-AMT-ACCUM
        lifeToDate:
          type: number
          description: |-
            Length: 11

            Total amount of ATM cash transactions for this card life-to-dateVisionPLUS Service Data: AZXCIO-ATM-LTD-AUTH-AMT-ACCUM
    UseAutomatedTellerMachineCashNumberData:
      type: object
      properties:
        today:
          type: integer
          description: |-
            Length: 4

            Total number of ATM cash transactions for this card todayVisionPLUS Service Data: AZXCIO-ATM-DLY-AUTH-NBR-ACCUM
          format: int32
        cycleToDate:
          type: integer
          description: |-
            Length: 4

            Total number of ATM cash transactions for this card cycle-to-dateVisionPLUS Service Data: AZXCIO-ATM-CTD-AUTH-NBR-ACCUM
          format: int32
        yearToDate:
          type: integer
          description: |-
            Length: 4

            Total number of ATM cash transactions for this card year-to-dateVisionPLUS Service Data: AZXCIO-ATM-YTD-AUTH-NBR-ACCUM
          format: int32
        lifeToDate:
          type: integer
          description: |-
            Length: 4

            Total number of ATM cash transactions for this card life-to-dateVisionPLUS Service Data: AZXCIO-ATM-LTD-AUTH-NBR-ACCUM
          format: int32
    UseOverTheCounterCashAmountData:
      type: object
      properties:
        today:
          type: number
          description: |-
            Length: 11

            Total amount of OTC cash transactions for this card todayVisionPLUS Service Data: AZXCIO-OTC-DLY-AUTH-AMT-ACCUM
        cycleToDate:
          type: number
          description: |-
            Length: 11

            Total amount of OTC cash transactions for this card cycle-to-dateVisionPLUS Service Data: AZXCIO-OTC-CTD-AUTH-AMT-ACCUM
        yearToDate:
          type: number
          description: |-
            Length: 11

            Total amount of OTC cash transactions for this card year-to-dateVisionPLUS Service Data: AZXCIO-OTC-YTD-AUTH-AMT-ACCUM
        lifeToDate:
          type: number
          description: |-
            Length: 11

            Total amount of OTC cash transactions for this card life-to-dateVisionPLUS Service Data: AZXCIO-OTC-LTD-AUTH-AMT-ACCUM
    UseOverTheCounterCashNumberData:
      type: object
      properties:
        today:
          type: integer
          description: |-
            Length: 4

            Total number of OTC cash transactions for this card todayVisionPLUS Service Data: AZXCIO-OTC-DLY-AUTH-NBR-ACCUM
          format: int32
        cycleToDate:
          type: integer
          description: |-
            Length: 4

            Total number of OTC cash transactions for this card cycle-to-dateVisionPLUS Service Data: AZXCIO-OTC-CTD-AUTH-NBR-ACCUM
          format: int32
        yearToDate:
          type: integer
          description: |-
            Length: 4

            Total number of OTC cash transactions for this card year-to-dateVisionPLUS Service Data: AZXCIO-OTC-YTD-AUTH-NBR-ACCUM
          format: int32
        lifeToDate:
          type: integer
          description: |-
            Length: 4

            Total number of OTC cash transactions for this card life-to-dateVisionPLUS Service Data: AZXCIO-OTC-LTD-AUTH-NBR-ACCUM
          format: int32
    UserData:
      type: object
      properties:
        user1:
          type: string
          description: |-
            Length: 20

            User-defined code 1 for the Embosser recordVisionPLUS Service Data: AZXCIO-USER-1
        user2:
          type: string
          description: |-
            Length: 20

            User-defined code 2 for the Embosser recordVisionPLUS Service Data: AZXCIO-USER-2
        user3:
          type: string
          description: |-
            Length: 19

            User-defined code 3 for the Embosser recordVisionPLUS Service Data: AZXCIO-USER-3
        user4:
          type: integer
          description: |-
            Length: 4

            User-defined code 4 for the Embosser recordVisionPLUS Service Data: AZXCIO-USER-4
          format: int32
        user5:
          type: string
          description: |-
            Length: 1

            User-defined code 5 for the Embosser recordVisionPLUS Service Data: AZXCIO-USER-5
        user6:
          type: string
          description: |-
            Length: 1

            User-defined code 6 for the Embosser recordVisionPLUS Service Data: AZXCIO-USER-6
        user7:
          type: string
          description: |-
            Length: 1

            User-defined code 7 for the Embosser recordVisionPLUS Service Data: AZXCIO-USER-7
        user8:
          type: string
          description: |-
            Length: 1

            User-defined code 8 for the Embosser recordVisionPLUS Service Data: AZXCIO-USER-8
        userData1:
          type: string
          description: |-
            Length: 7

            User-defined date 1 for the Embosser recordVisionPLUS Service Data: AZXCIO-USER-DATE-1
          format: date
        userData2:
          type: string
          description: |-
            Length: 7

            User-defined date 2 for the Embosser recordVisionPLUS Service Data: AZXCIO-USER-DATE-2
          format: date
      description: EmbosserDetailsResponseUserData
    EmbosserDetailsRequest:
      required:
        - cardNumber
        - cardSequence
        - foreignUse
        - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: Organization Number
          format: int32
          example: 807
          enum:
            - null
        cardNumber:
          maxLength: 19
          minLength: 12
          type: string
          description: Card Number
          example: '0004513070406598974'
          enum:
            - range[12,19]
        cardSequence:
          type: integer
          description: Card sequence
          format: int32
          example: 1
        foreignUse:
          type: string
          description: Card sequence
          example: '1'
      description: Card Embosser Block Request
    EmbosserDetailsResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          format: int32
        logo:
          type: integer
          format: int32
        foreignUse:
          type: integer
          format: int32
        cardNumber:
          type: string
        cardSequence:
          type: integer
          format: int32
        cardTechnology:
          type: integer
          format: int32
        postToAccount:
          type: string
        fraud:
          type: string
        prepaidIndicator:
          type: integer
          format: int32
        statusCode:
          type: string
        dateStatus:
          type: string
          format: date
        statusSecureId:
          type: integer
          format: int32
        fraudEffectiveDate:
          type: string
          format: date
        embosserRecordReplacement:
          type: string
        numberCardsOutstanding:
          type: integer
          format: int32
        numberCardsReturned:
          type: integer
          format: int32
        currentChipSequence:
          type: integer
          format: int32
        cardIssueAction:
          type: integer
          format: int32
        numberCardsRequested:
          type: integer
          format: int32
        chipSequenceNumber:
          type: integer
          format: int32
        typeOfCard:
          type: integer
          format: int32
        requestedCardType:
          type: integer
          format: int32
        typeCardMailer:
          type: string
        plasticId:
          type: string
        secureActivation:
          type: integer
          format: int32
        embosserNameType1:
          type: integer
          format: int32
        embosserNameType2:
          type: integer
          format: int32
        embosserName1:
          type: string
        embosserName2:
          type: string
        cardHolderName1:
          type: string
        cardHolderName2:
          type: string
        addressLine1:
          type: string
        addressLine2:
          type: string
        stateProvince:
          type: string
        cityPortion:
          type: string
        postalCodePortion:
          type: string
        plusIndicator:
          type: integer
          format: int32
        dateExpire:
          type: string
          format: date
        customerNumber:
          type: string
        currentPinOffset:
          type: integer
          format: int32
        previousPinOffset:
          type: integer
          format: int32
        pinDelayDays:
          type: integer
          format: int32
        typeOfPointOfSale:
          type: integer
          format: int32
        cardHolderFlag:
          type: string
        dateWarningBulletin:
          type: string
          format: date
        regionCode:
          type: string
        languageCode:
          type: string
        visaMiniCardVersion:
          type: integer
          format: int32
        pinSuppression:
          type: integer
          format: int32
        blockCode:
          type: string
        dateBlock:
          type: string
          format: date
        blockSecureId:
          type: string
        warningCode1:
          type: string
        warningCode7:
          type: string
        numberOfIssueAttemptsRemaining:
          type: integer
          format: int32
        currentDateExpirationDate:
          type: string
          format: date
        currentCardActivation:
          type: string
        dateEmbossedMagneticStripeCard:
          type: string
          format: date
        dateCurrentMagneticCardMailed:
          type: string
          format: date
        lastExpirationDate:
          type: string
          format: date
        lastCardActivation:
          type: string
        dateFirstCardVerify:
          type: string
          format: date
        dateLastPlasticIssue:
          type: string
          format: date
        frequencyMaximumAuthorizationParameters:
          type: integer
          format: int32
        authorizationData:
          $ref: '#/components/schemas/EmbosserDetailsResponse.AuthorizationData'
        internetPurchaseData:
          $ref: '#/components/schemas/EmbosserDetailsResponse.InternetPurchaseData'
        identificationNumberAuthorization:
          type: string
        identificationNumberSpendingLimitsTable:
          type: string
        userData:
          $ref: '#/components/schemas/EmbosserDetailsResponse.UserData'
        numberCurrentlyDisplayedEmbosserRecord:
          type: string
        adminNumberBranch:
          type: integer
          format: int32
        nextExpirationDateOfTheCard:
          type: string
          format: date
        branchIdentifierCardMailingLocation:
          type: integer
          format: int32
        cardInformationData:
          $ref: '#/components/schemas/EmbosserDetailsResponse.CardInformationData'
        useAutomatedTellerMachineCashNumberData:
          $ref: '#/components/schemas/EmbosserDetailsResponse.UseAutomatedTellerMachineCashNumberData'
        useAutomatedTellerMachineCashAmountData:
          $ref: '#/components/schemas/EmbosserDetailsResponse.UseAutomatedTellerMachineCashAmountData'
        useOverTheCounterCashNumberData:
          $ref: '#/components/schemas/EmbosserDetailsResponse.UseOverTheCounterCashNumberData'
        useOverTheCounterCashAmountData:
          $ref: '#/components/schemas/EmbosserDetailsResponse.UseOverTheCounterCashAmountData'
        retailNumberData:
          $ref: '#/components/schemas/EmbosserDetailsResponse.RetailNumberData'
        retailAmountData:
          $ref: '#/components/schemas/EmbosserDetailsResponse.RetailAmountData'
        internetPurchaseNumberData:
          $ref: '#/components/schemas/EmbosserDetailsResponse.InternetPurchaseNumberData'
        internetPurchaseAmountData:
          $ref: '#/components/schemas/EmbosserDetailsResponse.InternetPurchaseAmountData'
        prepaidLimits:
          $ref: '#/components/schemas/EmbosserDetailsResponse.PrepaidLimits'
        spendingLimitsData:
          $ref: '#/components/schemas/EmbosserDetailsResponse.SpendingLimitsData'
        cardDelayDays:
          type: integer
          format: int32
        cardDelayStatus:
          type: string
        mailerDate:
          type: string
          format: date
        pinOverrideActionEmbosserLevel:
          type: string
        cardHolderType:
          type: integer
          format: int32
        pinDelayStatusMailer:
          type: string
        cardActivatedDate:
          type: string
          format: date
        dateMostRecentlyIssueCard:
          type: string
          format: date
        deliveryOptionReissuedCards:
          type: integer
          format: int32
        deliveryOptionIssuedCards:
          type: integer
          format: int32
        cardDeliveryStatus:
          type: string
        cardDeliveryDate:
          type: string
          format: date
        deliveryStatusPreviousCard:
          type: string
        deliveryDatePreviousCard:
          type: string
          format: date
        deliveryStatusCurrentPinMailer:
          type: string
        deliveryDateCurrentPinMailer:
          type: string
          format: date
        deliveryStatusPreviousPinMailer:
          type: string
        deliveryDatePreviousPinMailer:
          type: string
          format: date
        dateNextPinChanged:
          type: string
          format: date
        cardHolderAffiliation:
          type: integer
          format: int32
        cardVerifyByVisaStatus:
          type: string
        customUserData:
          $ref: '#/components/schemas/EmbosserDetailsResponse.CustomUserData'
    EmbosserDetailsResponse.AuthorizationData:
      type: object
      properties:
        retailAmount:
          type: number
        retailNumber:
          type: number
        automatedTellerMachineCashAutomatedTellerMachine:
          type: number
        automatedTellerMachineCashNumber:
          type: number
        overTheCounterAmount:
          type: number
        overTheCounterCashNumber:
          type: number
        automatedTellerMachineCashSingleTransaction:
          type: number
        overTheCounterCashSingleTransaction:
          type: number
        retailSingleTransaction:
          type: number
    EmbosserDetailsResponse.CardInformationData:
      type: object
      properties:
        codeIdentificationNumberSpendingLimits:
          type: string
        assignedSpendLimits:
          $ref: '#/components/schemas/EmbosserDetailsResponse.CardInformationData.AssignedSpendLimits'
    EmbosserDetailsResponse.CardInformationData.AssignedSpendLimits:
      type: object
      properties:
        spendingLimit:
          type: integer
          format: int64
        transactionAllowed:
          type: integer
          format: int32
        frequencyCommercialCard:
          type: integer
          format: int32
    EmbosserDetailsResponse.CustomUserData:
      type: object
      properties:
        falconMarking:
          type: string
        falconMarkingStartDate:
          type: string
          format: date
        falconMarkingEndDate:
          type: string
          format: date
        spendLimitsStatus:
          type: string
        retailPercentDaily:
          type: integer
          format: int32
        retailPercentMonthToDate:
          type: integer
          format: int32
        retailPercentYearToDate:
          type: integer
          format: int32
        retailAmountDaily:
          type: number
        retailAmountMonthToDate:
          type: number
        retailAmountYearToDate:
          type: number
        cashPercentDaily:
          type: integer
          format: int32
        cashPercentMonthToDay:
          type: integer
          format: int32
        cashPercentYearToDay:
          type: integer
          format: int32
        cashAmountDaily:
          type: number
        cashAmountMonthToDate:
          type: number
        cashAmountYearToDate:
          type: number
        cashPostedTodayNumber:
          type: number
        cashPostedMonthToDateNumber:
          type: number
        cashPostedYearToDateNumber:
          type: number
        cashPostedTodayAmount:
          type: number
        cashPostedMonthToDateAmount:
          type: number
        cashPostedYearToDateAmount:
          type: number
        cashDeclineTodayNumber:
          type: number
        cashDeclineMonthToDayNumber:
          type: number
        cashDeclineYearToDayNumber:
          type: number
        cashDeclineTodayAmount:
          type: number
        cashDeclineMonthToDayAmount:
          type: number
        cashDeclineYearToDayAmount:
          type: number
        retailPostedTodayNumber:
          type: number
        retailPostedMonthToDayNumber:
          type: number
        retailPostedYearToDayNumber:
          type: number
        retailPostedTodayAmount:
          type: number
        retailPostedMonthToDayAmount:
          type: number
        retailPostedYearToDayAmount:
          type: number
        retailDeclineTodayNumber:
          type: number
        retailDeclineMonthToDayNumber:
          type: number
        retailDeclineYearToDayNumber:
          type: number
        retailDeclineToday:
          type: number
        retailDeclineMountToDayAmount:
          type: number
        retailDeclineYearToDayAmount:
          type: number
    EmbosserDetailsResponse.InternetPurchaseAmountData:
      type: object
      properties:
        today:
          type: number
        cycleToDate:
          type: number
        yearToDate:
          type: number
        lifeToDate:
          type: number
    EmbosserDetailsResponse.InternetPurchaseData:
      type: object
      properties:
        purchaseNumber:
          type: number
        purchaseAmount:
          type: number
        purchaseSingleTransactionLimit:
          type: number
    EmbosserDetailsResponse.InternetPurchaseNumberData:
      type: object
      properties:
        today:
          type: integer
          format: int32
        cycleToDate:
          type: integer
          format: int32
        yearToDate:
          type: integer
          format: int32
        lifeToDate:
          type: integer
          format: int32
    EmbosserDetailsResponse.PrepaidLimits:
      type: object
      properties:
        spendAmount:
          type: number
        spendAvailable:
          type: integer
          format: int32
        spendExpirationDate:
          type: string
          format: date
    EmbosserDetailsResponse.RetailAmountData:
      type: object
      properties:
        today:
          type: number
        cycleToDate:
          type: number
        yearToDate:
          type: number
        lifeToDate:
          type: number
    EmbosserDetailsResponse.RetailNumberData:
      type: object
      properties:
        today:
          type: integer
          format: int32
        cycleToDate:
          type: integer
          format: int32
        yearToDate:
          type: integer
          format: int32
        lifeToDate:
          type: integer
          format: int32
    EmbosserDetailsResponse.SpendingLimitsData:
      type: object
      properties:
        totalDailyAmount:
          type: number
        totalDailyNumber:
          type: integer
          format: int32
        totalWeekToDateAmount:
          type: number
        totalWeekToDateNumber:
          type: integer
          format: int32
        totalCycleToDateAmount:
          type: number
        totalCycleToDateNumber:
          type: integer
          format: int32
        totalYearToDateAmount:
          type: number
        totalYearToDateNumber:
          type: integer
          format: int32
        totalLifeToDateAmount:
          type: number
        totalLifeToDateNumber:
          type: integer
          format: int32
    EmbosserDetailsResponse.UseAutomatedTellerMachineCashAmountData:
      type: object
      properties:
        today:
          type: number
        cycleToDate:
          type: number
        yearToDate:
          type: number
        lifeToDate:
          type: number
    EmbosserDetailsResponse.UseAutomatedTellerMachineCashNumberData:
      type: object
      properties:
        today:
          type: integer
          format: int32
        cycleToDate:
          type: integer
          format: int32
        yearToDate:
          type: integer
          format: int32
        lifeToDate:
          type: integer
          format: int32
    EmbosserDetailsResponse.UseOverTheCounterCashAmountData:
      type: object
      properties:
        today:
          type: number
        cycleToDate:
          type: number
        yearToDate:
          type: number
        lifeToDate:
          type: number
    EmbosserDetailsResponse.UseOverTheCounterCashNumberData:
      type: object
      properties:
        today:
          type: integer
          format: int32
        cycleToDate:
          type: integer
          format: int32
        yearToDate:
          type: integer
          format: int32
        lifeToDate:
          type: integer
          format: int32
    EmbosserDetailsResponse.UserData:
      type: object
      properties:
        user1:
          type: string
        user2:
          type: string
        user3:
          type: string
        user4:
          type: integer
          format: int32
        user5:
          type: string
        user6:
          type: string
        user7:
          type: string
        user8:
          type: string
        userData1:
          type: string
          format: date
        userData2:
          type: string
          format: date
    AddEmbosserRequest:
      required:
        - cardNumber
        - enrollmentStatusVBV
        - organizationNumber
        - postToAccount
        - vbvPassword
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization Number.
            VisionPLUS Service Data: AZXAPI-ORG
          format: int32
          example: 807
          enum:
            - null
        postToAccount:
          type: string
          description: |-
            Length: 19
            Post-to account.
            VisionPLUS Service Data: AZXAPI-POST-TO-ACCT
          example: '4513074002573466583'
        cardNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: |-
            Length: 19
            Card Number.
            VisionPLUS Service Data: AZXAPI-CARD-NBR
          example: '0004513070406598974'
          enum:
            - range[1,19]
        cardSequence:
          type: integer
          description: |-
            Length: 4
            Card Sequence number.
            VisionPLUS Service Data: AZXAPI-CARD-SEQ
          format: int32
          example: 1
        cardAction:
          type: integer
          description: |-
            Length: 1
            Card Action.
            VisionPLUS Service Data: AZXAPI-CARD-ACTION
          format: int32
          example: 1
        numberOfCardsRequested:
          type: integer
          description: |-
            Length: 2
            Number Of Cards Requested.
            VisionPLUS Service Data: AZXAPI-NBR-RQTD
          format: int32
          example: 1
        typeOfCard:
          type: integer
          description: |-
            Length: 2
            Type Of Card.
            VisionPLUS Service Data: AZXAPI-TYPE-OF-CARD
          format: int32
        requestedCardType:
          type: integer
          description: |-
            Length: 2
            Requested Card Type.
            VisionPLUS Service Data: AZXAPI-RQTD-CARD-TYPE
          format: int32
        typeCardMailer:
          type: integer
          description: |-
            Length: 2
            Type Card Mailer.
            VisionPLUS Service Data: AZXAPI-TYPE-CARD-MAILER
          format: int32
        plasticId:
          type: string
          description: |-
            Length: 10
            Plastic ID.
            VisionPLUS Service Data: AZXAPI-PLASTIC-ID
          example: ''
        name1TypeIndicator:
          type: integer
          description: |-
            Length: 1
            Name 1 Type Indicator.
            VisionPLUS Service Data: AZXAPI-NAME1-TYPE-IND
          format: int32
          example: 0
        name2TypeIndicator:
          type: integer
          description: |-
            Length: 1
            Name 2 Type Indicator.
            VisionPLUS Service Data: AZXAPI-NAME2-TYPE-IND
          format: int32
        embossedName1:
          type: string
          description: |-
            Length: 26
            Embossed Name 1.
            VisionPLUS Service Data: AZXAPI-EMBOSSED-NAME-1
          example: HELLO
        embossedName2:
          type: string
          description: |-
            Length: 26
            Embossed Name 2.
            VisionPLUS Service Data: AZXAPI-EMBOSSED-NAME-2
          example: KIT-KAT WALLER
        securedCodeActivate:
          type: integer
          description: |-
            Length: 1
            Secured Code Activate.
            VisionPLUS Service Data: AZXAPI-SECURECODE-ACTIVATE
          format: int32
          example: 0
        visaPlusIndicator:
          type: integer
          description: |-
            Length: 1
            Visa PLUS Indicator.
            VisionPLUS Service Data: AZXAPI-SECURECODE-ACTIVATE
          format: int32
          example: 0
        pinMailerDelayDays:
          type: integer
          description: |-
            Length: 2
            PIN Mailer Delay Days.
            VisionPLUS Service Data: AZXAPI-PIN-DELAY-DAYS
          format: int32
          example: 0
        expirationDate:
          type: string
          description: |-
            Length: 8
            Expiration Date
            VisionPLUS Service Data: AZXAPI-DATE-EXPIRE
          format: date
        customerNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: |-
            Length: 19
            Customer Number.
            VisionPLUS Service Data: AZXAPI-CUSTOMER-NBR
          example: '4513074002573466583'
          enum:
            - range[-infinity,19
        name1:
          type: string
          description: |-
            Length: 40
            Name 1.
            VisionPLUS Service Data: AZXAPI-EMBR-NAME-1
          example: RUN DMC
        name2:
          type: string
          description: |-
            Length: 40
            Name 2.
            VisionPLUS Service Data: AZXAPI-EMBR-NAME-2
          example: RICK ROSS
        pinOffset:
          type: integer
          description: |-
            Length: 7
            PIN Offset.
            VisionPLUS Service Data: AZXAPI-PIN-OFFSET
          format: int32
          example: 0
        posServiceCode:
          type: integer
          description: |-
            Length: 3
            POS Service Code.
            VisionPLUS Service Data: AZXAPI-POS-SERVICE-CODE
          format: int32
          example: 101
        cardholderFlag:
          type: string
          description: |-
            Length: 1
            Cardholder Flag.
            VisionPLUS Service Data: AZXAPI-CARDHOLDER-FLAG
          example: '0'
        addressLine1:
          type: string
          description: |-
            Length: 40
            Address Line 1.
            VisionPLUS Service Data: AZXAPI-ADDR-LINE-1
          example: PORT OF MIAMI
        addressLine2:
          type: string
          description: |-
            Length: 40
            Address Line 2.
            VisionPLUS Service Data: AZXAPI-ADDR-LINE-2
          example: 117 E PARKWAY AVE
        city:
          type: string
          description: |-
            Length: 30
            City.
            VisionPLUS Service Data: AZXAPI-CITY
          example: MIAMI
        stateOrProvince:
          type: string
          description: |-
            Length: 3
            State/Province.
            VisionPLUS Service Data: AZXAPI-ST-PR
          example: FL
        postalCode:
          type: string
          description: |-
            Length: 10
            Postal Code.
            VisionPLUS Service Data: AZXAPI-PSTL-CD
          example: '38585'
        languageCode:
          type: string
          description: |-
            Length: 1
            Language Code.
            VisionPLUS Service Data: AZXAPI-LANG-CODE
          example: ENG
        visaMiniIndicator:
          type: integer
          description: |-
            Length: 1
            Visa Mini Indicator.
            VisionPLUS Service Data: AZXAPI-VISA-MINI-IND
          format: int32
          example: 0
        pinSuppression:
          type: integer
          description: |-
            Length: 1
            PIN suppression.
            The values are :
            * 0 = Allow PINs
            * 1 = Suppress PIN generation
            VisionPLUS Service Data: AZXAPI-PIN-SUPPRESSION
          format: int32
          example: 0
        blockCode:
          type: string
          description: |-
            Length: 1
            Block Code.
            The values are space and A–Z.
            VisionPLUS Service Data: AZXAPI-BLOCK-CODE
        currentCardActivation:
          type: string
          description: |-
            Length: 1
            Current card activation.
            The values are :
            N = No card activation is required or has already occurred.
            Y = Card activation needs to occur.
            VisionPLUS Service Data: AZXAPI-CURR-CRD-ACTN
        maximumAuthorizationFrequency:
          type: integer
          description: |-
            Length: 1
            Maximum authorization frequency.
            The values are :
            * 0 = Not used
            * 1 = Daily
            * 2 = Cycle-to-date
            * 3 = Year-to-date
            VisionPLUS Service Data: AZXAPI-AUTH-ATM-OTC-RTL-FREQ
          format: int32
          example: 0
        atmCashNumber:
          type: integer
          description: |-
            Length: 9
            ATM (Automated Teller Machine) Cash number.
            VisionPLUS Service Data: AZXAPI-AUTH-ATM-CASH-NBR
          format: int32
          example: 0
        atmCashAmount:
          type: number
          description: |-
            Length: 17
            ATM (Automated Teller Machine) Cash Amount.
            VisionPLUS Service Data: AZXAPI-AUTH-ATM-CASH-AMT
          example: 0
        atmCashSingleTransactionLimit:
          type: number
          description: |-
            Length: 17
            ATM(Automated Teller Machine) Cash Transaction limit.
            VisionPLUS Service Data: AZXAPI-AUTH-ATM-CASH-SNGLTXN
          example: 0
        overTheCounterCashNumber:
          type: integer
          description: |-
            Length: 9
            Over The Counter Cash number.
            VisionPLUS Service Data: AZXAPI-AUTH-OTC-CASH-NBR
          format: int32
          example: 0
        overTheCounterCashAmount:
          type: number
          description: |-
            Length: 17
            Over The Counter Cash amount.
            VisionPLUS Service Data: AZXAPI-AUTH-OTC-CASH-AMT
          example: 0
        overTheCounterCashSingleTransactionLimit:
          type: number
          description: |-
            Length: 17
            Over The Counter Transaction Limit.
            VisionPLUS Service Data: AZXAPI-AUTH-OTC-CASH-SNGLTXN
          example: 0
        retailPurchaseNumber:
          type: integer
          description: |-
            Length: 9
            Retail Number.
            VisionPLUS Service Data: AZXAPI-AUTH-RTL-NBR
          format: int32
          example: 0
        retailPurchaseAmt:
          type: number
          description: |-
            Length: 17
            Retail Amount.
            VisionPLUS Service Data: AZXAPI-AUTH-RTL-AMT
          example: 0
        retailPurchaseSingleTransactionLimit:
          type: number
          description: |-
            Length: 17
            Retail Transaction Limit.
            VisionPLUS Service Data: AZXAPI-AUTH-RTL-SNGL-TXNt
          example: 0
        internetPurchaseAmount:
          type: number
          description: |-
            Length: 13
            Internet Purchase Amount.
            VisionPLUS Service Data: AZXAPI-AUTH-INTRNT-AMT
          example: 0
        internetPurchaseNumber:
          type: number
          description: |-
            Length: 9
            Internet Purchase Number.
            VisionPLUS Service Data: AZXAPI-AUTH-INTRNT-NBR
          example: 0
        internetPurchaseSingleTransactionLimit:
          type: number
          description: |-
            Length: 13
            Internet Purchase Single Transaction Limit.
            VisionPLUS Service Data: AZXAPI-AUTH-INTRNT-SNGL-TXN
          example: 0
        user1:
          type: string
          description: |-
            Length: 20
            User-defined 1.
            VisionPLUS Service Data: AZXAPI-USER-1
          example: '1'
        user2:
          type: string
          description: "\tstring\nexample: 2\nLength: 20\nUser-defined 2.\nVisionPLUS Service Data: AZXAPI-USER-2"
          example: '2'
        user3:
          type: string
          description: |-
            Length: 19
            User-defined 3.
            VisionPLUS Service Data: AZXAPI-USER-3
          example: '3'
        user4:
          type: integer
          description: |-
            Length: 4
            User-defined 4.
            VisionPLUS Service Data: AZXAPI-USER-4
          format: int32
          example: 4
        user5:
          type: string
          description: |-
            Length: 1
            User-defined 5.
            VisionPLUS Service Data: AZXAPI-USER-5
          example: '5'
        user6:
          type: string
          description: |-
            Length: 1
            User-defined 6.
            VisionPLUS Service Data: AZXAPI-USER-6
          example: '6'
        user7:
          type: string
          description: |-
            Length: 1
            User-defined 7.
            VisionPLUS Service Data: AZXAPI-USER-7
          example: '7'
        user8:
          type: string
          description: |-
            Length: 1
            User-defined 8.
            VisionPLUS Service Data: AZXAPI-USER-8
          example: '8'
        userDate1:
          type: string
          description: |-
            Length: 8
            User-defined Date 1.
            VisionPLUS Service Data: AZXAPI-USER-DATE-1
          format: date
        userDate2:
          type: string
          description: |-
            Length: 8
            User-defined Date 2.
            VisionPLUS Service Data: AZXAPI-USER-DATE-2
          format: date
        branchNumber:
          type: integer
          description: |-
            Length: 9
            Branch Number.
            VisionPLUS Service Data: AZXAPI-ADMIN-BRANCH
          format: int32
          example: 0
        reissueDeliveryOption:
          type: integer
          description: |-
            Length: 1
            Reissue delivery option. The values are:
            * 0 = Regular mail
            * 1 = First class mail
            * 2 = Registered mail
            * 3 = Internal delivery mail
            * 4 = User-defined.
            VisionPLUS Service Data: AZXAPI-REISSUE-DELIV-OPTION
          format: int32
          example: 0
        nextCardExpirationDate:
          type: string
          description: |-
            Length: 8
            Next Card Expiration Date.
            VisionPLUS Service Data: AZXAPI-DATE-NEXT-EXPR
          format: date
        firstIssueBranch:
          type: integer
          description: |-
[...]
