openapi: 3.0.1
info:
  title: FirstVision™ Customer Service - API Documentation
  description: This documentation describes the REST APIs provided by the FirstVision™ Cards Microservice, which provides functionality for the issuing, management and processing of credit cards, including bank, co-branded, private label, debit, commercial, and prepaid
  version: "1.2"
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /customer/:
    put:
      tags:
      - Customers
      summary: "Update Customer VMX Service: M.CMS.CUSTOMER.UPD, R8V5"
      description: "Updates the demographic and user data on the Customer record.\
        \ \nVMX Service: M.CMS.CUSTOMER.UPD, R8V5"
      operationId: Customer Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerResponse'
        "422":
          description: |-
            VPL5SGC01E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SGC01S - REQUESTED CARD/ACCOUNT NUMBER IS NOT FOUND
            VPL5SGC02E - CUSTOMER, ACCOUNT OR CARD NUMBER REQUIRED
            VPL5SGC02S - ORGANIZATION NUMBER NOT FOUND
            VPL5SGC03E - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE, 0 OR 1
            VPL5SGC03S - ACCOUNT NUMBER NOT FOUND
            VPL5SGC04E - INVALID NUMBER TYPE INDICATOR - VALID VALUES ARE SPACE, 0 OR 1
            VPL5SGC04S - CUSTOMER NUMBER NOT FOUND
            VPL5SGC05E - ORGANIZATION NUMBER REQUIRED WHEN NUMBER TYPE 1
            VPL5SGC06E - INVALID DEMOGRAPHIC DATA INDICATOR - VALID VALUES ARE SPACE,0,1,2
            VPL5SGC07E - INVALID USER DATA INDICATOR - VALID VALUES ARE SPACE, 0, 1 OR 2
            VPL5SGC08E - DEMOGRAPHIC DATA AND USER DATA INDICATORS MUST BE CORRESPONDING
            VPL5SGC09E - STATUS MUST BE NUMERIC AND VALID VALUES ARE 0, 1 OR 2 ONLY
            VPL5SGC10E - VIP STATUS MUST BE NUMERIC AND VALID VALUES ARE 0 OR 1 ONLY
            VPL5SGC11E - SIC CODE MUST BE NUMERIC
            VPL5SGC12E - MARITAL STATUS MUST BE NUMERIC AND VALUES ARE 0 THRU 4
            VPL5SGC13E - NAME TYPE 1 IND MUST BE NUMERIC AND VALID VALUES ARE 0, 1 OR 2
            VPL5SGC14E - NAME TYPE 2 IND MUST BE NUMERIC AND VALID VALUES ARE 0, 1 OR 2
            VPL5SGC15E - NAME TYPE 3 IND MUST BE NUMERIC AND VALID VALUES ARE 0, 1 OR 2
            VPL5SGC16E - POSTAL CODE MUST BE ALPHA, SPACE, DASH OR NUMBER
            VPL5SGC17E - RESIDENCE CODE MUST BE NUMERIC AND VALID VALUES ARE 0 THRU 3
            VPL5SGC18E - CONTACT IND MUST BE NUMERIC
            VPL5SGC19E - CARRIER ROUTE LAST 2 CHARACTERS MUST BE NUMERIC
            VPL5SGC20E - SENT DATE MUST BE NUMERIC AND HAS VALUE ZERO OR VALID DATE FORMAT
            VPL5SGC21E - SENT DATE MUST BE <= THAN NEXT PROCESSING DATE OR ZERO
            VPL5SGC22E - STATEMENT MESSAGE INDICATOR MUST BE NUMERIC
            VPL5SGC23E - DATE OF BIRTH MUST BE ZERO OR HAVE VALID DATE FORMAT
            VPL5SGC24E - TAX IDENTIFICATION MUST BE NUMERIC AND VALID VALUES ARE 0, 1 OR 2
            VPL5SGC25E - WHEN TAX ID = 0 FIRST 9 CHARACTERS TAX ID NUMBER MUST BE NUMERIC
            VPL5SGC26E - FILED DATE MUST BE ZERO OR HAVE VALID DATE FORMAT
            VPL5SGC27E - FILED DATE MUST BE <= THAN NEXT PROCESSING DATE OR ZERO
            VPL5SGC28E - FLAG MUST BE NUMERIC AND VALID VALUES ARE 0 OR 1
            VPL5SGC29E - NUMBER OF DEPENDANTS MUST BE NUMERIC
            VPL5SGC30E - USER 10 DATE MUST BE ZERO OR VALID DATE FORMAT
            VPL5SGC31E - USER 11 DATE MUST BE ZERO OR VALID DATE FORMAT
            VPL5SGC33E - CAN NOT CHANGE STATUS TO PURGE WITH ACTIVE RELATIONSHIP
            VPL5SGC34E - CAN NOT CHANGE STATUS TO PURGE WITH ACTIVE ACCOUNT
            VPL5SGC35E - COUNTRY CODE MUST EXIST IN THE SECURITY SUBSYSTEM
            VPL5SGC36E - HOME PHONE FLAG MUST BE NUMERIC AND VALID VALUES ARE 0 OR 1
            VPL5SGC37E - FAX PHONE FLAG MUST BE NUMERIC AND VALID VALUES ARE 0 OR 1
            VPL5SGC38E - MOBILE PHONE FLAG MUST BE NUMERIC AND VALID VALUES ARE 0 OR 1
            VPL5SGC39E - EMAIL FLAG MUST BE NUMERIC AND VALID VALUES ARE 0 OR 1
            VPL5SGC40E - GENDER CODE MUST BE NUMERIC AND VALID VALUES ARE 0, 1 OR 2
            VPL5SGC41E - SMS FLAG MUST BE NUMERIC AND VALID VALUES ARE 0 OR 1
            VPL5SGC42E - AMONG HOME,WORK,FAX,MOBILE AND EMAIL IND, ONE CAN HAVE VALUE 2
            VPL5SGC44E - WHEN HOME PHONE FLAG IS 1 OR 2, ENTRY REQUIRED FOR HOME PHONE
            VPL5SGC45E - WHEN FAX PHONE FLAG IS 1 OR 2, ENTRY REQUIRED FOR FAX PHONE
            VPL5SGC46E - WHEN MOBILE PHONE FLAG IS 1 OR 2, ENTRY REQUIRED FOR MOBILE PHONE
            VPL5SGC47E - WHEN EMAIL FLAG IS 1 OR 2, ENTRY REQUIRED FOR EMAIL
            VPL5SGC53E - DATE OF BIRTH MUST BE LESS THAN NEXT PROCESSING DATE
            VPL5SGC54E - NAME-LINE-1 NOT MAINTAINABLE WHEN EXTENDED LOOKUP IS ACTIVE
            VPL5SGCZ4S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SGCZ8S - FOREIGN ORGANIZATION NUMBER NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Customer Update
      x-group-name: Customers
    post:
      tags:
      - Customers
      summary: "Add new Customer. VMX Service: M.CMS.CUSTOMER.ADD, R8V4"
      description: "Creates a Customer number and adds demographical information to\
        \ the Customer record. \nVMX Service: M.CMS.CUSTOMER.ADD, R8V4"
      operationId: New Customer Add
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomerRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "422":
          description: |-
            VPL5SNA03S – N/A SERVICE INPUT AREA IS NOT OF CORRECT SIZE
            VPL5SNA04S – OWNER/CO-OWNER INDICATOR MUST BE 1 OR 2
            VPL5SNA06S – INVALID FOREIGN USE INDICATOR - MUST BE 0 OR 1 ONLY
            VPL5SNA07S – CONFLICTING ORG AND ACCOUNT DATA WAS PASSED TO THE SERVICE
            VPL5SNA08S – CONFLICTING ORG, ACCOUNT, AND CUSTOMER DATA PASSED TO THE SERVICE
            VPL5SNA09S – NO ORG, ACCOUNT, OR CUSTOMER DATA WAS PASSED TO THE SERVICE
            VPL5SNA10S – DUAL NOT ALLOWED FOR THIS ORG
            VPL5SNA11S – THE NUMBER GENERATION SERVICE FAILED
            VPL5SNA12S – LOCAL CUSTOMER NUMBER ALREADY EXISTS
            VPL5SNA13S – FOREIGN CUSTOMER NUMBER EXISTS
            VPL5SNA14S – ACCOUNT/EMBOSSER ORG NOT FOUND
            VPL5SNA15S – FOREIGN ORG NUMBER NOT FOUND
            VPL5SNA16S – CUSTOMER ORG NOT FOUND
            VPL5SNA17S – CUSTOMER ORG NOT FOUND
            VPL5SNA18S – CUSTOMER NUMBER PROVIDED NOT VALID FOR CUSTOMER ORG
            VPL5SNA19S – ORG NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SNA20S – CUSTOMER ORG NOT FOUND
            VPL5SNA21S – FOREIGN ORG NUMBER NOT FOUND
            VPL5SNA22S – CUSTOMER ORG NOT FOUND
            VPL5SNA23S – CUSTOMER NUMBER PROVIDED NOT VALID FOR CUSTOMER ORG
            VPL5SNA24S – LOCAL CUSTOMER NUMBER ALREADY EXISTS
            VPL5SNA25S – FOREIGN CUSTOMER NUMBER EXISTS
            VPL5SNA26S – CUSTOMER NUMBER ALREADY EXISTS ON RELATIONSHIP FILE
            VPL5SNA27S – CUSTOMER NUMBER ALREADY EXISTS ON DUAL RELATIONSHIP FILE
            VPL5SNA28S – VIP STATUS INVALID - VALUES 0 OR 1 ONLY
            VPL5SNA29S – SIC CODE MUST BE NUMERIC
            VPL5SNA30S – TAX IDENTIFICATION FLAG INVALID - 0, 1 OR 2 ONLY
            VPL5SNA31S – TAX-ID NBR POSITIONS 1-9 MUST BE NUMERIC WHEN TAX-ID FLAG IS 0
            VPL5SNA32S - PHONE FLAG INVALID - 0, 1 OR 2 ONLY
            VPL5SNA33S – COUNTRY CODE INVALID
            VPL5SNA34S – POSTAL CODE FORMAT INVALID
            VPL5SNA35S – MARITAL STATUS INVALID - MUST BE 0 THROUGH 4 ONLY
            VPL5SNA36S – RESIDENCE FLAG INVALID - 0, 1, 2 OR 3 ONLY
            VPL5SNA37S – CARRIER ROUTE INVALID FORMAT - LAST 2 CHARACTERS MUST BE NUMERIC
            VPL5SNA38S – DATE-OF-BIRTH CANNOT BE A FUTURE DATE
            VPL5SNA39S – DATE-OF-BIRTH IS INVALID
            VPL5SNA40S – 1099C DATE FILED CANNOT BE A FUTURE DATE
            VPL5SNA41S – 1099C DATE FILED IS INVALID
            VPL5SNA42S – NUMBER OF DEPENDENTS NOT NUMERIC
            VPL5SNA43S – STATEMENT MESSAGE INDICATOR NOT NUMERIC
            VPL5SNA44S – USER-10 DATE IS INVALID
            VPL5SNA45S – USER-11 DATE IS INVALID
            VPL5SNA46S – NAME TYPE INDICATOR 1 INVALID - 0, 1, OR 3 ONLY
            VPL5SNA47S – NAME TYPE INDICATOR 2 INVALID - 0, 1, OR 3 ONLY
            VPL5SNA48S – NAME TYPE INDICATOR 3 INVALID - 0, 1, OR 3 ONLY
            VPL5SNA49S – CONTACT INDICATOR MUST BE NUMERIC
            VPL5SNA50S – DUAL ORG NUMBER NOT FOUND
            VPL5SNA51S – DUAL INDICATOR - CHECK-DIGIT CUST NUMBER REQUIRED FOR FOREIGN ORG
            VPL5SNA52S – ORG COULD NOT BE DERIVED FROM EITHER CUST OR ACCT NBR PROVIDED
            VPL5SNA53S – ORG NUMBER NOT FOUND
            VPL5SNA56S – CUSTOMER NUMBER CHECK-DIGIT IS INVALID
            VPL5SNA57S – GENDER CODE INVALID - 0, 1 OR 2 ONLY
            VPL5SNA58S – FAX PHONE FLAG INVALID - 0, 1 OR 2 ONLY
            VPL5SNA59S – HOME PHONE FLAG INVALID - 0, 1 OR 2 ONLY
            VPL5SNA60S – MOBILE PHONE FLAG INVALID - 0, 1 OR 2 ONLY
            VPL5SNA61S – EMAIL FLAG INVALID - 0, 1 OR 2 ONLY
            VPL5SNA62S – SMS FLAG INVALID - 0 OR 1 ONLY
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCustomerResponse'
      x-proxy-name: New Customer Add
      x-group-name: Customers
  /customer/details-l8v4:
    post:
      tags:
      - Customers
      summary: "Get Cards Details l8v4. VMX Service: M.CMS.CUSTCHANNEL.INQ, L8V4"
      description: "Get Customer Cards Details version 4. \nVMX Service: M.CMS.CUSTCHANNEL.INQ,\
        \ L8V4"
      operationId: Cards Details Inquiry
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerChannelVersion4Request'
        required: true
      responses:
        "422":
          description: |-
            VPL5SCE06E - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998
            VPL5SCE07E - ACCT/CARD BLOCKED OR CARD NOT ACTIVATED OR NO ACCT ON CUST NBR
            VPL5SCE08E - INVALID FUCNTION CODE PASSED TO SERVICE
            VPL5SCE09E - SERVICE FUNCTION CODE IS INVALID
            VPL5SCE10S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SCE11S - REQUESTED ORGANIZATION NOT FOUND
            VPL5SCE15S - ACCOUNT NUMBER NOT FOUND
            VPL5SCE17S - ACCOUNT/CARD CROSS REFERENCE FILE UNAVAILABLE
            VPL5SCE18S - GETMAIN FAILURE ON N/A SERVICE INPUT AREA
            VPL5SCE19S - GETMAIN FAILURE ON N/A SERVICE OUTPUT AREA
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerChannelVersion4Response'
      x-proxy-name: Cards Details Inquiry
      x-group-name: Customers
  /customer/demographicData:
    post:
      tags:
      - Customers
      summary: "Inquire demographic data. VMX Service: M.CMS.DEMOGRAPHIC.INQ, R8V4"
      description: "Requests demographic data from a Customer number. \nVMX Service:\
        \ M.CMS.DEMOGRAPHIC.INQ, R8V4"
      operationId: Demographic Inquiry
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DemographicInquiryRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "422":
          description: |-
            VPL5SND02S – ORGANIZATION NUMBER NOT FOUND
            VPL5SND05S – ORG RECORD NOT FOUND
            VPL5SND06S – DUAL ORG RECORD NOT FOUND
            VPL5SND07S – ACCOUNT/CARD CAN NOT BE FOUND IN AMBS FILE
            VPL5SND08S – LOGO RECORD NOT FOUND
            VPL5SND09S – CUSTOMER CAN NOT BE FOUND
            VPL5SND10S – ACCOUNT/CARD CAN NOT BE FOUND IN AMNA FILE
            VPL5SND11E – INVALID ORG FORMAT-VALID VALUES ARE SPACES/001 TO 998
            VPL5SND12E – ACCOUNT/CARD/CUSTOMER NUMBER SHOULD BE PROVIDED AND BE NUMERIC
            VPL5SND13E – INVALID DUAL FLAG-VALID VALUES ARE SPACES/0/1
            VPL5SND14E – NUMBER TYPE IS INVALID-VALID VALUES ARE SPACE/0/1
            VPL5SNDZ4S – ORGANIZATION NOT DETERMINED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemographicInquiryResponse'
      x-proxy-name: Demographic Inquiry
      x-group-name: Customers
components:
  schemas:
    CarrierRoute:
      type: object
      properties:
        carrierRoute1and2:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Length: 2
            Two-part field that identifies the carrier route used for mail sorting purposes.
            Carrier route used to sort mail for postal delivery purposes.
            VisionPLUS Service Data: ARXGCI-CR-1-2
          example: C1
        carrierRoute3and4:
          maximum: 2
          minimum: 0
          type: integer
          description: |-
            Length: 2
            Two-part field that identifies the carrier route used for mail sorting purposes.
            Carrier route used to sort mail for postal delivery purposes.
            VisionPLUS Service Data: ARXGCI-CR-3-4
          format: int32
    DriverLicense:
      type: object
      properties:
        driverLicenseNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20

            Three-part field that identifies the driver license number of the owner, state or province of issue, and the country of issue.

            VisionPLUS Service Data: AZXNDO-DL-NBR
        driverLicenseState:
          maxLength: 3
          minLength: 0
          type: string
          description: "Length: 3 \nDriver's License State.\n\nVisionPLUS Service\
            \ Data: AZXNDO-DL-NBR"
        driverLicenseCountry:
          maxLength: 3
          minLength: 0
          type: string
          description: "Length: 3 \nDriver’s License state\n\nVisionPLUS Service Data:\
            \ AZXNDO-DL-STATE"
    UpdateCustomerRequest:
      required:
      - customerNumber
      - organizationNumber
      - postalCode
      - sicCode
      - status
      - vipStatus
      type: object
      properties:
        organizationNumber:
          type: integer
          description: "Length 999 \nOrganization Number\nVisionPLUS Service Data:\
            \ ARXGCI-ORG"
          format: int32
          example: 807
        customerNumber:
          type: string
          description: Unique identifier or token associated with the card number
            or payment instrument (FirstVision PAN Token).
          example: 000540208ID5IXX3865
        numberType:
          type: string
          description: |-
            Length: 1
            Type of number in the ARXGCI-CARD-NBR field. The values are:
            * Zero, space, or low values = Card number
            * 1 = Customer number
            If zero, space, or low values is specified, the primary customer record associated with the account will be updated with the information provided to the service.
            * If an alternate customer record, a correspondence customer record, or a customer record associated with a card is needed, use the customer number.
            VisionPLUS Service Data: ARXGCI-NBR-TYPE
          example: "1"
        foreignUseIndicator:
          type: string
          description: |-
            Length: 1
            Foreign Use Indicator. The values are :
            * Zero, space, or low values = Local account
            * 1 = Foreign account
            VisionPLUS Service Data: ARXGCI-FOREIGN-USE-FLAG
          example: "0"
        demographicDataIndicator:
          type: string
          description: |-
            Length: 1
            Demographic Data Indicator. The values are :
            * Zero, space, or low values = Do not update
            * 1 = Update owner
            * 2 = Update co-owner
            VisionPLUS Service Data: ARXGCI-DEMOGRAPHIC-DATAIND
          example: "1"
        userDataIndicator:
          type: string
          description: |-
            Length: 1
            User Data Indicator. The values are :
            * Zero, space, or low values = Do not update
            * 1 = Update owner
            * 2 = Update co-owner
            VisionPLUS Service Data: ARXGCI-USER-DATA-IND
          example: "1"
        vipStatus:
          type: integer
          description: |-
            Length: 1
            VIP Status Indicator. The values are:
            * 0 = Not VIP customer
            * 1 = VIP customer
            VisionPLUS Service Data: ARXGCI-VIP-STATUS
          format: int32
          example: 1
        status:
          type: integer
          description: |-
            Length: 1
            Status Of The Account
            VisionPLUS Service Data: ARXGCI-STATUS
          format: int32
          example: 1
        sicCode:
          type: integer
          description: |-
            Length: 6
            Standard Industrial Classification code used to identify the industry to which the commercial card customer is associated.
            VisionPLUS Service Data: ARXGCI-SIC-CODE
          format: int32
          example: 123456
        title:
          type: string
          description: "Length 40 \nTitle\nVisionPLUS Service Data: ARXGCI-TITLE"
          example: Monsieur
        maritalStatus:
          type: string
          description: "Length: 1 \nMarital Status\nVisionPLUS Service Data: ARXGCI-MARITAL-STATUS"
          example: "1"
        nameLine1:
          type: string
          description: "Length 40 \n Name Line 1\nVisionPLUS Service Data: ARXGCI-NAME-LINE-1"
          example: OWN NAME L1
        nameTypeIndicator1:
          type: integer
          description: |-
            Length: 1
            Name Type Indicator 1. indicates the type of name. The values are -
            * 0 = Personal name (Default)
            * 1 = Business name
            * 2 = Store name
            * 3 = Generic name
            VisionPLUS Service Data: ARXGCI-NAME-LINE-1-TYP
          format: int32
          example: 0
        nameLine2:
          type: string
          description: "Length 40 \n Name Line 2\nVisionPLUS Service Data: ARXGCI-NAME-LINE-2"
          example: OWN NAME L2 TEST9
        nameTypeIndicator2:
          type: integer
          description: |-
            Length: 1Name Type Indicator 2. indicates the type of name. The values are -
            * 0 = Personal name (Default)
            * 1 = Business name
            * 2 = Store name
            * 3 = Generic name
            VisionPLUS Service Data: ARXGCI-NAME-LINE-2-TYP
          format: int32
          example: 0
        nameLine3:
          type: string
          description: "Length 40 \n Name Line 3\nVisionPLUS Service Data: ARXGCI-NAME-LINE-3"
          example: OWN NAME L3
        nameTypeIndicator3:
          type: integer
          description: |-
            Length: 1
            Name Type Indicator 3. indicates the type of name. The values are -
            * 0 = Personal name (Default)
            * 1 = Business name
            * 2 = Store name
            * 3 = Generic name
            VisionPLUS Service Data: ARXGCI-NAME-LINE-3-TYP
          format: int32
          example: 0
        houseNumber:
          type: string
          description: "Length 20 \nInternal number of the residence\nVisionPLUS Service\
            \ Data: ARXGCI-HOUSE-NBR"
          example: "12349"
        houseName:
          type: string
          description: "Length 40 \nHouse name\nVisionPLUS Service Data: ARXGCI-HOUSE-NAME"
          example: LILY RESIDENCE
        houseAddress1:
          type: string
          description: "Length 40 \nHouse Address 1\nVisionPLUS Service Data: ARXGCI-ADDR-1"
          example: OWN ADDR L19
        houseAddress2:
          type: string
          description: "Length 40 \nHouse Address 2\nVisionPLUS Service Data: ARXGCI-ADDR-2"
          example: OWN ADDR L19
        houseAddress3:
          type: string
          description: "Length 40 \nHouse Address 3\nVisionPLUS Service Data: ARXGCI-ADDR-3"
          example: OWN ADDR L19
        houseAddress4:
          type: string
          description: "Length 40 \nHouse Address 4\nVisionPLUS Service Data: ARXGCI-ADDR-4"
          example: OWN ADDR L19
        city:
          type: string
          description: "Length: 30 \nResidence City.\nVisionPLUS Service Data: ARXGCI-CITY"
          example: SUNSHINE
        state:
          type: string
          description: |-
            Length: 3
            Residence state. This is derived based on the state code.
            VisionPLUS Service Data: ARXGCI-STATE
          example: FL
        postalCode:
          type: string
          description: |-
            Length: 10
            Residence Postal Code
            VisionPLUS Service Data: ARXGCI-PSTL-CD
          example: "12345679"
        countryCode:
          type: string
          description: |-
            Length: 30
            Code that identifies the country in which this organization is located.
            VisionPLUS Service Data: ARXGCI-CNTRY-CD
          example: USA
        ownOrRentResidenceFlag:
          type: integer
          description: |-
            Length: 1
            Code indicating whether the primary residence is owned or rented
            VisionPLUS Service Data: ARXGCI-OWN-RENT-RESID-FLAG
          format: int32
          example: 2
        languageIndicator:
          type: string
          description: "Length: 3 \nSpoken Language Indicator\nVisionPLUS Service\
            \ Data: ARXGCI-LANGUAGE-IND"
          example: ENG
        mailingList:
          type: string
          description: |-
            Length: 1
            Code indicating whether the owner wants to be on a mailing List
            VisionPLUS Service Data: ARXGCI-MAILING-LIST
          example: "1"
        contactIndicator:
          type: integer
          description: |-
            Length: 2
            Code Indicating Whether Customer Contact Is Restricted or Not.
            The values are:
            * 00 = No restriction (Default)
            * 01 = Do not telephone
            * 02 = Do not mail
            * 03 = Do not mail or telephone
            * 04–09 = Reserved for future use
            * 10–99 = User-defined by client.
            VisionPLUS Service Data: ARXGCI-CONTACT-IND
          format: int32
          example: 12
        genderCode:
          type: integer
          description: |-
            Length: 1
            Gender code. The values are:
            * 0 = Unspecified (Default)
            * 1 = Male
            * 2 = Female
            VisionPLUS Service Data: ARXGCI-GENDER-CODE
          format: int32
          example: 1
        homePhoneNumber:
          type: string
          description: |-
            Length: 20
            Three-part field that indicates the fax number of the customer, whether you have the customer’s permission to contact the customer at this number, and the date on which the fax number was last modified
            VisionPLUS Service Data: ARXGCI-HOME-PHONE
          example: 123-456-9990
        homePhoneIndicator:
          type: integer
          description: |-
            Length: 1
            Call indicator specifying whether you can contact the customer at this number. The values are :
            * 0 = Customer may not be contacted using this number
            * 1 = Customer may be contacted using this number (Default)
            VisionPLUS Service Data: ARXGCI-HOME-PHONE-IND
          format: int32
          example: 1
          enum:
          - null
        faxPhoneNumber:
          type: string
          description: "Length 20 \nFAX Phone Number\nVisionPLUS Service Data: ARXGCI-FAX-PHONE"
          example: 223-456-7890
        faxPhoneIndicator:
          type: integer
          description: |-
            Length: 1
            Call indicator specifying whether you can contact the customer at this number. The values are :
            * 0 = Customer may not be contacted using this number
            * 1 = Customer may be contacted using this number (Default)
            VisionPLUS Service Data: ARXGCI-FAX-PHONE-IND
          format: int32
          example: 1
        mobilePhoneNumber:
          type: string
          description: "Length 20 \n Mobile Phone Number\nVisionPLUS Service Data:\
            \ ARXGCI-MOBILE-PHONE"
          example: 323-456-7890
        mobilePhoneIndicator:
          type: integer
          description: |-
            Length: 1
            Call indicator specifying whether you can contact the customer at this number. The values are:
            * 0 = Customer may not be contacted using this number
            * 1 = Customer may be contacted using this number (Default)
            VisionPLUS Service Data: ARXGCI-MOBILE-PHONE-IND
          format: int32
          example: 1
          enum:
          - null
        dateOfBirth:
          type: string
          description: |-
            Length: 10
            Date of birth of the customer.
            VisionPLUS Service Data: ARXGCI-DOB
          format: date
        driverLicense:
          $ref: '#/components/schemas/DriverLicense'
        taxIdType:
          type: integer
          description: "Length 1 \nTAX ID Type\nVisionPLUS Service Data: ARXGCI-TAX-ID-TYP"
          format: int32
          example: 1
        taxIdNumber:
          type: string
          description: "Length 25 \nTAX ID Number\nVisionPLUS Service Data: ARXGCI-TAX-ID"
          example: "123456789"
        dateFiledForm:
          type: string
          description: |-
            Length: 10
            Date on which the tax identification number of the owner was recorded in the Customer Name/Address record as a result of receiving the W-9 form.
            VisionPLUS Service Data: ARXGCI-1099C-W9-DATE-FILE
          format: date
        employerName:
          type: string
          description: "Length 40 \nEmployer Name.\nVisionPLUS Service Data: ARXGCI-EMPLOYER"
          example: Milton
        employerAddress1:
          type: string
          description: |-
            Length: 40
            Two-part field that indicates the mailing address of the employer of the owner.
            VisionPLUS Service Data: ARXGCI-EMPLOYER-ADDR-1
          example: EMP ADDR L1
        employerAddress2:
          type: string
          description: |-
            Length: 40
            Two-part field that indicates the mailing address of the employer of the owner.
            VisionPLUS Service Data: ARXGCI-EMPLOYER-ADDR-2
          example: EMP ADDR L2
        employerPhoneNumber:
          type: string
          description: "Length 20 \nEmployer Phone Number\nVisionPLUS Service Data:\
            \ ARXGCI-EMPLOYER-ADDR-1"
          example: 123-456-7890
        employerExtensionPhoneNumber:
          type: string
          description: "Length 6 \nEmployee Phone Extension.\nVisionPLUS Service Data:\
            \ ARXGCI-EMP-PHONE-EXTN"
          example: "123456"
        employerPhoneFlag:
          type: integer
          description: |-
            Length: 1
            Employer Phone Flag. The values are:
            * 0 = Do not fax
            * 1 = May be faxed
            * 2 = Prefers to be faxed
            VisionPLUS Service Data: ARXGCI-EMP-PHONE-FLAG
          format: int32
          example: 1
        position:
          type: string
          description: |-
            Length: 4
            User-defined code to indicate the position or job title of the owner.
            VisionPLUS Service Data: ARXGCI-POSITION
          example: CEO
        relativeName:
          type: string
          description: "Length 40 \n Relative Name\nVisionPLUS Service Data: ARXGCI-RELATIVE-NAME"
          example: Relative Name
        numberOfDependents:
          type: integer
          description: "Length 3 \nNumber of Dependents\nVisionPLUS Service Data:\
            \ ARXGCI-NBR-OF-DEPENDENTS"
          format: int32
          example: 999
        email:
          type: string
          description: "Length: 19 \nEmail of customer.\nVisionPLUS Service Data:\
            \ ARXGCI-EMAIL"
          example: ABC.DEF@yahoo.com
        emailIndicator:
          type: integer
          description: |-
            Length: 1
            The values are:
            * 0 = Do not e-mail
            * 1 = May be e-mailed
            * 2 = Prefers to be e-mailed
            VisionPLUS Service Data: ARXGCI-EMAIL-IND
          format: int32
          example: 1
        smsIndicator:
          type: integer
          description: |-
            Length: 1
            Short message service (sms) indicator. The values are :
            * 0 = No, do not send message
            * 1 = yes, you can send message
            VisionPLUS Service Data: ARXGCI-SMS-IND
          format: int32
          example: 1
          enum:
          - null
        firstName:
          type: string
          description: "Length 40 \nFirst name\nVisionPLUS Service Data: ARXGCI-FIRST-NAME"
          example: FirstName
        middleName:
          type: string
          description: "Length 40 \n Middle name\nVisionPLUS Service Data: ARXGCI-MIDDLE-NAME"
          example: MiddleName
        lastName:
          type: string
          description: "Length: 40 \nLast name\nVisionPLUS Service Data: ARXGCI-LAST-NAME"
          example: LastName
        suffix:
          type: string
          description: |-
            Length 20
            VisionPLUS Service Data: ARXGCI-SUFFIX
          example: Sr
        county:
          type: string
          description: |-
            Length: 30
            County portion of the mailing address of the owner.
            VisionPLUS Service Data: ARXGCI-COUNTY
          example: Orange
        memo1:
          type: string
          description: "Length 60 \nMemo 1\nVisionPLUS Service Data: ARXGCI-MEMO-2"
          example: Memo 1
        memo2:
          type: string
          description: "Length 60 \nMemo 2\nVisionPLUS Service Data: ARXGCI-MEMO-2"
          example: Memo 2
        user1:
          type: string
          description: "Length 2 \nUser 1\nVisionPLUS Service Data: ARXGCI-MEMO-1"
          example: U1
        user2:
          type: string
          description: "Length 2 \nUser 2\nVisionPLUS Service Data: ARXGCI-MEMO-2"
          example: U2
        user3:
          type: string
          description: "Length 7 \nUser 3\nVisionPLUS Service Data: ARXGCI-MEMO-3"
          example: U323323
        user4:
          type: string
          description: "Length 1 \nUser 4\nVisionPLUS Service Data: ARXGCI-MEMO-4"
          example: U
        user5:
          type: string
          description: "Length 1 \nUser 5\nVisionPLUS Service Data: ARXGCI-MEMO-5"
          example: U
        user6:
          type: string
          description: "Length 2 \nUser 6\nVisionPLUS Service Data: ARXGCI-MEMO-6"
          example: U6
        user7:
          type: string
          description: "Length 2 \nUser 7\nVisionPLUS Service Data: ARXGCI-MEMO-7"
          example: U7
        user8:
          type: string
          description: "Length 2 \nUser 8\nVisionPLUS Service Data: ARXGCI-MEMO-8"
          example: U8
        user9:
          type: string
          description: "Length 2 \nUser 9\nVisionPLUS Service Data: ARXGCI-MEMO-9"
          example: U8
        user10:
          type: integer
          description: "Length 7 \nUser 10\nVisionPLUS Service Data: ARXGCI-MEMO-10"
          format: int32
          example: 2011031
        user11:
          type: integer
          description: "Length 7 \nUser 11\nVisionPLUS Service Data: ARXGCI-MEMO-11"
          format: int32
          example: 2011032
        user12:
          type: string
          description: "Length 30 \nUser 12\nVisionPLUS Service Data: ARXGCI-MEMO-12"
          example: U12
        user13:
          type: string
          description: "Length 30 \nUser 13\nVisionPLUS Service Data: ARXGCI-MEMO-13"
          example: U13
        user14:
          type: string
          description: "Length 20 \n User 14\nVisionPLUS Service Data: ARXGCI-MEMO-14"
          example: U14
        user15:
          type: string
          description: "Length 20 \n User 15\nVisionPLUS Service Data: ARXGCI-MEMO-15"
          example: U15
        userDemographic1:
          type: string
          description: |-
            Length: 20
            Demographic 1. User-defined demographic data or other information for an ownerr.
            VisionPLUS Service Data: ARXGCI-USER-DEMO-1
          example: USER DEMO 1
        userDemographic2:
          type: string
          description: |-
            Length: 20
            Demographic 2. User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: ARXGCI-USER-DEMO-2
          example: USER DEMO 2
        userDemographic3:
          type: string
          description: |-
            Length: 20
            Demographic 3. User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: ARXGCI-USER-DEMO-3
          example: USER DEMO 3
        foreignFormIndicator:
          type: string
          description: |-
            Length: 1
            1099C foreign indicator. The values are:
            * Blank = Does not live in a foreign country (Default)
            * Any character = Lives in a foreign country. Format the address to the IRS standard.
            VisionPLUS Service Data: ARXGCI-1099C-FOREIGN-IND
          example: A
        carrierRoute:
          $ref: '#/components/schemas/CarrierRoute'
        formDateSent:
          type: string
          description: "Length: 10 \nC1099/W9 Date Sent\nVisionPLUS Service Data:\
            \ ARXGCI-1099C-W9-DATE-SENT"
          format: date
        statementMessageIndicator:
          type: integer
          description: "Length 1 \nStatement Message Indicator\nVisionPLUS Service\
            \ Data: ARXGCI-STMT-MSG-INDIC"
          format: int32
          example: 1
      description: Update Customer Request
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    UpdateCustomerResponse:
      type: object
      properties:
        outputArea:
          $ref: '#/components/schemas/UpdateCustomerResponse.OutputArea'
    UpdateCustomerResponse.OutputArea:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization Number.
            VisionPLUS Service Data: ARXGCO-ORG
          format: int32
          example: 998
        customerNumber:
          type: string
          description: |-
            Length: 19
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).
          example: 000540208ID5IXX3865
        numberType:
          type: string
          description: "Length: 1\nType Of Number In The 'idNumber' Field. The values\
            \ are :\n* Zero, space, or low values = Card number\n* 1 = Customer number\
            \ \n * If zero, space, or low values is specified, the primary customer\
            \ record associated with the account will be updated with the information\
            \ provided to the service.\n* If an alternate customer record, a correspondence\
            \ customer record, or a customer record associated with a card is needed,\
            \ use the customer number.\nVisionPLUS Service Data: ARXGCO-NBR-TYPE"
          example: "1"
        foreignUseIndicator:
          type: string
          description: |-
            Length: 1
            Foreign Use Indicator. The values are :
            * Zero, space, or low values = Local account
            * 1 = Foreign account
            VisionPLUS Service Data: ARXGCO-FOREIGN-USE-FLAG
          example: "1"
        demographicDataIndicator:
          type: string
          description: |-
            Length: 1
            Demographic Data Indicator. The values are :
            * Zero, space, or low values = Do not update
            * 1 = Update owner
            * 2 = Update co-owner
            VisionPLUS Service Data: ARXGCO-DEMOGRAPHIC-DATAIND
          example: "1"
        userDataIndicator:
          type: string
          description: |-
            Length: 1
            User Data Indicator. The values are :
            * Zero, space, or low values = Do not update
            * 1 = Update owner
            * 2 = Update co-owner
            VisionPLUS Service Data: ARXGCI-USER-DATA-IND
          example: "1"
        cmsOrganizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization Number.
            VisionPLUS Service Data: ARXGCO-ORG
          format: int32
          example: 998
        accountNumber:
          type: string
          description: |-
            Length: 19
            Identification of the account number associated with the customer number (demographic data) that you want to modify or view.
            VisionPLUS Service Data: ARXGCO-ACCT-NBR
          example: "1234567890123450000"
    CustomerChannelVersion4Request:
      required:
      - customerNumber
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization Number.
            VisionPLUS Service Data: AZXCEI-SVC-FUNC-CODE
          format: int32
          example: 807
        customerNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19
            Customer Number.
            VisionPLUS Service Data: AZXCEI –CUST-NBR-X
          example: "4513074002573466583"
        functionCode:
          type: string
          description: |-
            Length: 1
            Function Code.
            VisionPLUS Service Data: AZXCEI-SVC-FUNC-CODE
        startItem:
          $ref: '#/components/schemas/CustomerChannelVersion4Request.SItem'
      description: Get Customer Cards Details Request l8v4
    CustomerChannelVersion4Request.SItem:
      type: object
      properties:
        startOrganization:
          type: string
          description: |-
            Length: 1
            Start Account.
            VisionPLUS Service Data: ARXCEI-SVC-START-ACCT-NBR
        startAccount:
          type: string
          description: |-
            Length: 19
            Start Organization.
            VisionPLUS Service Data: ARXCEI-SVC-START-ACCT-ORG
    CustomerChannelVersion4Response:
      type: object
      properties:
        itemsReturned:
          type: string
          description: |-
            Length: 2
            Number of returned items.
            VisionPLUS Service Data: ARXCEO-AT-NBR-OCCUR
        more:
          type: string
          description: |-
            Length: 1
            Flag that indicates whether user requires more data.
            VisionPLUS Service Data: AZXCEO-AT-MORE
        customerNumber:
          type: string
          description: |-
            Length: 19
            Customer number.
            VisionPLUS Service Data: AZXCEO-CUST-NBR
        accountTable:
          type: array
          items:
            $ref: '#/components/schemas/CustomerChannelVersion4Response.AccountTable'
    CustomerChannelVersion4Response.AccountTable:
      type: object
      properties:
        sequence:
          type: integer
          description: Sequence.
          format: int32
        cardNumber:
          type: string
          description: |-
            Length: 19
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).
            VisionPLUS Service Data: AZXCEO-CARD-NBR
          example: 000540208ID5IXX3865
        cardSequence:
          type: integer
          description: |-
            Length: 4
            Card sequence.
            VisionPLUS Service Data: AZXCEO-CARD-SEQ
          format: int32
        cardBlockCode:
          type: string
          description: |-
            Length: 1
            Block code assigned to the Embosser record.
            VisionPLUS Service Data: AZXCEO-CARD-BLOCK-CODE
        cardExpireDate:
          type: string
          description: |-
            Length: 10
            Card expiration date on the Embosser record.
            VisionPLUS Service Data: AZXCEO-CARD-DATE-EXPIRE
          format: date
        logo:
          type: string
          description: |-
            Length: 3
            Logo on the Embosser record.
            VisionPLUS Service Data: AZXCEO-LOGO
        productType:
          type: string
          description: |-
            Length: 2
            Product type.
            VisionPLUS Service Data: AZXCEO-PRODUCT-TYPE
        productDescription:
          type: string
          description: |-
            Length: 20
            Product description.
            VisionPLUS Service Data: AZXCEO-PRODUCT-DESC
        accountNumber:
          type: string
          description: |-
            Length: 19
            Account number on the Embosser record.
            VisionPLUS Service Data: AZXCEO-ACCT-NBR
        accountStatus:
          type: string
          description: |-
            Length: 1
            Status of the account.
            VisionPLUS Service Data: AZXCEO-ACCT-STATUS
        accountBlockCode1:
          type: string
          description: |-
            Length: 1
            Block code 1 assigned to the account.
            VisionPLUS Service Data: AZXCEO-ACCT-BC1
        accountBlockCode2:
          type: string
          description: |-
            Length: 1
            Block code 1 assigned to the account.
            VisionPLUS Service Data: AZXCEO-ACCT-BC2
        billingCycle:
          type: integer
          description: |-
            Length: 2
            Billing cycle of the account.
            VisionPLUS Service Data: AZXCEO-ACCT-BILLING-CYCLE
          format: int32
        accountShortName:
          type: string
          description: |-
            Length: 20
            Short name of the customer on the account.VisionPLUS Service Data: AZXCEO-ACCT-SHORT-NAME
        accountDateLastCycle:
          type: string
          description: |-
            Length: 1O
            Last cycle date of the account.
            VisionPLUS Service Data: AZXCEO-ACCT-DATE-LAST-CYCLE
          format: date
        pesosMinimumPayment:
          type: number
          description: |-
            Length: 15
            Minimum payment amount in pesos. The minimum payment amount corresponds to the total due amount for the account minus pending payments posted (authorized payments during the day and memo credits) plus any check payments that are being held by the system.
            VisionPLUS Service Data: AZXCEO-PESOS-MIN-PMT
        dollarMinimumPayment:
          type: number
          description: |-
            Length: 15
            Minimum payment amount in U.S. dollars. The minimum payment amount corresponds to the total due amount for the account minus pending payments posted (authorized payments during the day and memo credits) plus any check payments that are being held by the system.
            VisionPLUS Service Data: AZXCEO-DOLLARS-MIN-PMT
        pesosTotalPayment:
          type: number
          description: |-
            Length: 15
            Total payment amount in pesos. The total payment billed (just after last cycle date) minus posted payments (since cycle date) minus pending payments (memo credits) plus any check payments that are being held by the system.
            VisionPLUS Service Data: AZXCEO-PESOS-TOT-PMT
        dollarTotalPayment:
          type: number
          description: |-
            Length: 15
            Total payment amount in U.S. dollars. The total payment billed (just after last cycle date) minus posted payments (since cycle date) minus pending payments (memo credits) plus any check payments that are being held by the system.
            VisionPLUS Service Data: AZXCEO-DOLLARS-TOT-PMT
        pesosCurrentBalance:
          type: number
          description: |-
            Length: 15
            Current balance amount in pesos. The current balance (includes all the posted transactions) minus pending payments (memo credit) plus any check payments that are being held by the system.
            VisionPLUS Service Data: AZXCEO-PESOS-CURR-BAL
        dollarCurrentBalance:
          type: number
          description: |-
            Length: 15
            Current balance amount in U.S. dollars. The current balance (includes all the posted transactions) minus pending payments (memo credit) plus any check payments that are being held by the system.
            VisionPLUS Service Data: AZXCEO-DOLLARS-CURR-BAL
        totalCreditLimit:
          type: number
          description: |-
            Length: 15
            Total approved credit limit amount in pesos. If extraCupo is available, it is included with the credit limit amount.
            VisionPLUS Service Data: AZXCEO-TOT-CREDIT-LIMIT
        pesosOpenToBuy:
          type: number
          description: |-
            Length: 15
            Open-to-buy amount in pesos.
            VisionPLUS Service Data: AZXCEO-PESOS-OTB
        pesosCashAvailable:
          type: number
          description: |-
            Length: 15
            Available cash in pesos (open-to-buy amount in pesos multiplied by the cash advance percentage).
            VisionPLUS Service Data: AZXCEO-PESOS-CASH-AVAIL
        paymentDueDate:
          type: string
          description: |-
            Length: 10
            Payment due date of the account.
            VisionPLUS Service Data: AZXCEO-PMT-DUE-DTE
          format: date
        pesosMemoCredits:
          type: number
          description: |-
            Length: 15
            Memo credit for the local account in pesos.
            VisionPLUS Service Data: AZXCEO-PESOS-MEMO-CREDITS
        pesosMemoDebits:
          type: number
          description: |-
            Length: 15
            Memo debit for the local account in pesos.
            VisionPLUS Service Data: AZXCEO-PESOS-MEMO-DEBITS
        dollarMemoCredits:
          type: number
          description: |-
            Length: 15
            Memo credit for the foreign account in U.S. dollars.
            VisionPLUS Service Data: AZXCEO-DOLLARS-MEMOCREDITS
        dollarMemoDebits:
          type: number
          description: |-
            Length: 15
            Memo debit for the foreign account in U.S. dollars.
            VisionPLUS Service Data: AZXCEO-DOLLARS-MEMO-DEBITS
        sobreCupo:
          type: number
          description: |-
            Length: 15
            Balance above credit limit.
            VisionPLUS Service Data: AZXCEO-SOBRE-CUPO
        extraCupo:
          type: number
          description: |-
            Length: 15
            Temporary credit limit.
            VisionPLUS Service Data: AZXCEO-EXTRA-CUPO
        previousCreditLimit:
          type: number
          description: Previous credit limit.
        beginDateTemporaryCreditLimit:
          type: string
          description: |-
            Length: 10
            Beginning date of the temporary credit limit.
          format: date
        expiryDateTemporaryCreditLimit:
          type: string
          description: |-
            Length: 10
            Expiration date of the temporary credit limit.
            VisionPLUS Service Data: AZXCEO-DATE-TEMP-CRLIM-EXP
          format: date
        customerNumber:
          type: string
          description: |-
            Length: 19
            Customer number on the account.
            VisionPLUS Service Data: AZXCEO-ACCT-CUST-NBR
        relationshipNumber:
          type: string
          description: |-
            Length: 19
            Relationship number on the account.
            VisionPLUS Service Data: AZXCEO-ACCT-REL-NBR
        exchangeRate:
          type: number
          description: |-
            Length: 15
            Active exchange rate.
            VisionPLUS Service Data: AZXCEO-EXCHNG-RATE
    DemographicInquiryRequest:
      required:
      - customerAccountCardNumber
      - numberType
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3
            Identification number of the organization associated with the multilingual functionality (001–999).
            VisionPLUS Service Data: AZXNDI-ORG
          format: int32
          example: 807
        customerAccountCardNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19
            Customer Account Card Number
            VisionPLUS Service Data: AZXNDI-CUST-ACCT-CARD-NBR
          example: "0004513070406598974"
        numberType:
          type: string
          description: |-
            Length: 1
            Type Of Number In The 'idNumber' Field. The values are :
            * 1 = Customer number * If zero, space, or low values is specified, the primary customer record associated with the account will be updated with the information provided to the service.
            * If an alternate customer record, a correspondence customer record, or a customer record associated with a card is needed, use the customer number.
            VisionPLUS Service Data: AZXNDI-NBR-TYP
          example: "0"
        foreignUseIndicator:
          type: string
          description: |-
            Length: 1
            Foreign Use Indicator. The values are :
            * Zero, space, or low values = Local account
            * 1 = Foreign account
            VisionPLUS Service Data: AZXNDI-FOREIGN-USE
          example: "1"
      description: Demographic Data Request
    DemographicInquiryResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3
            Identification number of the organization associated with the multilingual functionality (001–999)
            VisionPLUS Service Data: AZXNDO-ORG
          format: int32
          example: 807
        customerNumber:
          type: string
          description: |-
            Length: 19
            Customer number
            VisionPLUS Service Data: AZXNDO-CUST-NBR
        addStatus:
          type: integer
          description: |-
            Length: 2
            Add status
            VisionPLUS Service Data: AZXNDO-ADD-STATUS
          format: int32
        status:
          type: integer
          description: |-
            Length: 1
            Status Of The Account. The values are:
            * 0 = Active (Default)
            * 1 = Closed
            * 2 = Purge pending
            VisionPLUS Service Data: AZXNDO-STATUS
          format: int32
        source:
          type: string
          description: |-
            Length: 1
            Source
            VisionPLUS Service Data: AZXNDO-SOURCE
        dateLastMaintenance:
          type: string
          description: |-
            Length: 7
            Date of last maintenance on the account
            VisionPLUS Service Data: AZXNDO-DATE-LAST-MAINT
          format: date
        dateLastAddressChange:
          type: string
          description: |-
            Length: 1
            Date of last address change
            VisionPLUS Service Data: AZXNDO-DATE-LAST-ADDRCHANGE
          format: date
        vipStatus:
          type: string
          description: |-
            Length: 1
            VIP Status Indicator. The values are:
            * 0 = Not VIP customer
            * 1 = VIP customer
            VisionPLUS Service Data: AZXNDO-VIP-STATUS
          example: "1"
        sicCode:
          type: integer
          description: |-
            Length: 6
            Standard Industrial Classification code used to identify the industry to which the commercial card customer is associated.
            VisionPLUS Service Data: AZXNDO-SIC-CODE
          format: int32
          example: 123456
        duplicateCurrency:
          type: integer
          description: |-
            Length: 11
            Duplicate currency
            VisionPLUS Service Data: AZXNDO-DUPLICATE-CURRENCY
          format: int32
        makerCoMakerIndicator:
          type: string
          description: |-
            Length: 1
            Maker/comaker indicator
            VisionPLUS Service Data: AZXNDO-NA-COMAKER-IND
        nameAddrData:
          type: array
          items:
            $ref: '#/components/schemas/DemographicInquiryResponse.OwnerOrCoOwnerData'
    DemographicInquiryResponse.CarrierRoute:
      type: object
      properties:
        carrierRoute1and2:
          type: string
          description: |-
            Length: 2
            Two-part field that identifies the carrier route used for mail sorting purposes.
            Carrier route used to sort mail for postal delivery purposes.
            VisionPLUS Service Data: ARXGCI-CR-1-2
          example: C1
        carrierRoute3and4:
          type: integer
          description: |-
            Length: 2
            Two-part field that identifies the carrier route used for mail sorting purposes.
            Carrier route used to sort mail for postal delivery purposes.
            VisionPLUS Service Data: ARXGCI-CR-3-4
          format: int32
    DemographicInquiryResponse.DriverLicense:
      type: object
      properties:
        driverLicenseCountry:
          type: string
          description: |-
            Length: 3
            Driver’s License Country
            VisionPLUS Service Data: AZXNDO-DL-CNTRY
        driverLicenseState:
          type: string
          description: |-
            Length: 3
            Driver’s License state
            VisionPLUS Service Data: AZXNDO-DL-STATE
        driverLicenseNumber:
          type: string
          description: |-
            Length: 20
            Three-part field that identifies the driver license number of the owner, state or province of issue, and the country of issue.
            VisionPLUS Service Data: AZXNDO-DL-NBR
    DemographicInquiryResponse.NameAddressData:
      type: object
      properties:
        nameLine1:
          type: string
          description: |-
            Length: 40
            Name Line 1
            VisionPLUS Service Data: AZXNDO-NAME-LINE-1
        nameLine2:
          type: string
          description: |-
            Length: 40
            Name Line 2
            VisionPLUS Service Data: AZXNDO-NAME-LINE-2
          example: OWN NAME L2 TEST9
        nameLine3:
          type: string
          description: |-
            Length: 40
            Name Line 3
            VisionPLUS Service Data: AZXNDO-NAME-LINE-3
          example: OWN NAME L3
        houseNumber:
          type: string
          description: |-
            Length: 20
            Internal Number of the Residence
            VisionPLUS Service Data: AZXNDO-HOUSE-NUMBER
          example: "12349"
        houseName:
          type: string
          description: |-
            Length: 40
            House name
            VisionPLUS Service Data: AZXNDO-HOUSE-NAME
          example: Could be apartment's name
        houseAddress1:
          type: string
          description: |-
            Length: 40
            House Address 1.
          example: OWN ADDR L19
        houseAddress2:
          type: string
          description: |-
            Length: 40
            House Address 2.
          example: OWN ADDR L29
        houseAddress3:
          type: string
          description: |-
            Length: 40
            house Address 3.
          example: OWN ADDR L39
        houseAddress4:
          type: string
          description: |-
            Length: 40
            House Address 4.
          example: OWN ADDR L49
        cityAndState:
          type: string
          description: |-
            Length: 40
            City and state
            VisionPLUS Service Data: AZXNDO-CITY-STATE
        memo1:
          type: string
          description: |-
            Length: 60
            Memo 1
            VisionPLUS Service Data: AZXNDO-MEMO-1.
          example: Memo 1
        memo2:
          type: string
          description: |-
            Length: 60
            Memo 2
            VisionPLUS Service Data: AZXNDO-MEMO-2.
          example: Memo 2
        contactIndicator:
          type: integer
          description: |-
            Length: 2
            Contact indicator
            VisionPLUS Service Data: AZXNDO-CONTACT-IND
          format: int32
        genderCode:
          type: integer
          description: |-
            Length: 1
            Gender code. The values are:
            * 0 = Unspecified (Default)
            * 1 = Male
            * 2 = Female
            VisionPLUS Service Data: AZXNDO-GENDER-CODE
          format: int32
          example: 1
    DemographicInquiryResponse.NameTypeIndicator:
      type: object
      properties:
        nameTypeIndicator1:
          type: string
          description: "Length: 1\nName Type Indicator 1. indicates the type of name.\
            \ The values are: \n* 0 = Personal name (Default)\n* 1 = Business name\n\
            * 2 = Store name\n* 3 = Generic name\nVisionPLUS Service Data: AZXNDO-NAME-TYPE-IND-1"
          example: "0"
        nameTypeIndicator2:
          type: string
          description: "Length: 1\nName Type Indicator 2. indicates the type of name.\
            \ The values are: \n* 0 = Personal name (Default)\n* 1 = Business name\n\
            * 2 = Store name\n* 3 = Generic name\nVisionPLUS Service Data: AZXNDO-NAME-TYPE-IND-2"
          example: "0"
        nameTypeIndicator3:
          type: string
          description: "Length: 1\nName Type Indicator 3. indicates the type of name.\
            \ The values are: \n* 0 = Personal name (Default)\n* 1 = Business name\n\
            * 2 = Store name\n* 3 = Generic name\nVisionPLUS Service Data: AZXNDO-NAME-TYPE-IND-3"
          example: "0"
    DemographicInquiryResponse.OwnerOrCoOwnerData:
      type: object
      properties:
        sequence:
          type: integer
          description: Sequence.
          format: int32
        relativeName:
          type: string
          description: |-
            Length: 40
            Relative Name.
            VisionPLUS Service Data: AZXNDO-RELATIVE-NAME
          example: Relative Name
        title:
          type: string
          description: |-
            Length: 40
            Title
            VisionPLUS Service Data: AZXNDO-TITLE
          example: Monsieur
        identificationNumberFlag:
          type: string
          description: |-
            Length: 1
            Owner identification number flag. The values are:
            * 0 - Social Security Number
            * 1 - Tax ID
            * 2 - Other ID
          example: "1"
        identificationNumber:
          type: string
          description: Identification number.
          example: "25"
        homePhoneNumber:
          type: string
          description: |-
            Length: 20
            Home phone.
            VisionPLUS Service Data: AZXNDO-HOME-PHONE
          example: 123-456-9990
        employerName:
          type: string
          description: |-
            Length: 40
            Employer Name.
            VisionPLUS Service Data: AZXNDO-EMPLOYER
          example: Milton
        employerAddress1:
          type: string
          description: |-
            Length: 40
            Two-part field that indicates the mailing address of the employer of the owner.
            VisionPLUS Service Data: AZXNDO-EMPLOYER-ADDR-1
          example: EMP ADDR L1
        employerAddress2:
          type: string
          description: |-
            Length: 40
            Two-part field that indicates the mailing address of the employer of the  owner.
            VisionPLUS Service Data: AZXNDO-EMPLOYER-ADDR-2
          example: EMP ADDR L2
        employerPhoneFlag:
          type: string
          description: |-
            Length: 1
            Employer Phone Flag Fax flag. The values are:
            * 0 = Do not fax
            * 1 = May be faxed
            * 2 = Prefers to be faxed
          example: "1"
        employerPhoneNumber:
          type: string
          description: |-
            Length: 20
            Employer Phone Number.
            VisionPLUS Service Data: AZXNDO-EMP-PHONE
          example: 123-456-7890
        employerExtensionPhoneNumber:
          type: string
          description: |-
            Length: 6
            Employer Extension Phone Number.
            VisionPLUS Service Data: AZXNDO-EMP-PHONE-EXTN
          example: "123456"
        homeFaxPhoneNumber:
          type: string
          description: |-
            Length: 20
            Three-part field that indicates the fax number of the customer, whether you have the customer’s permission to contact the customer at this number, and the date on which the fax number was last modified.
            VisionPLUS Service Data: AZXNDO-FAX-PHONE
          example: 223-456-7890
        mobilePhoneNumber:
          type: string
          description: |-
            Length: 20
            Mobile Phone Number.
            VisionPLUS Service Data: AZXNDO-MOBILE-PHONE
          example: 323-456-7890
        countryCode:
          type: string
          description: |-
            Length: 3
            Code that identifies the country in which this organization is located.
            VisionPLUS Service Data: AZXNDO-CNTRY-CD
          example: USA
        postalCode:
          type: string
          description: |-
            Length: 10
            Residence Postal Code.
            VisionPLUS Service Data: AZXNDO-PSTL-CD
          example: "12345679"
        position:
          type: string
          description: |-
            Length: 4
            User-defined code to indicate the position or job title of the owner.
            VisionPLUS Service Data: AZXNDO-POSITION
          example: CEO
        maritalStatus:
          type: string
          description: "Length: 1\nMarital Status. The values are: \n* 0 = Not used\
            \ (Default)\n* 1 = Married and living at the same address\n* 2 = Married\
            \ and living at different addresses\n* 3 = Not married and living at the\
            \ same address\n* 4 = Not married and living at different addresses\n\
            * D = Divorced\n* M = Married\n* S = Single\n* U = Undefined\n* W = Widower\n\
            VisionPLUS Service Data: AZXNDO-MARITAL-STATUS"
          example: "1"
        ownOrRentResidenceFlag:
          type: string
          description: |-
            Length: 1
            Maker's own/rent residence flag. The values are:
            * 0 = Unknown
            * 1 = Owns or is buying residence
            * 2 = Rents or leases residence
            * 3 = Lives at someone else's residence
            VisionPLUS Service Data: AZXNDO-OWN-RENT-RESID-FLAG
          example: "2"
        languageIndicator:
          type: string
          description: |-
            Length: 3
            Spoken Language Indicator.
            VisionPLUS Service Data: AZXNDO-LANGUAGE-INDIC
          example: ENG
        carrierRoute:
          $ref: '#/components/schemas/DemographicInquiryResponse.CarrierRoute'
        mailingList:
          type: string
          description: |-
            Length: 1
            Code indicating whether the Owner wants to be on a Mailing List.
            VisionPLUS Service Data: AZXNDO-MAILING-LIST
          example: "1"
        dateOfBirth:
          type: string
          description: |-
            Length: 10
            Date of birth of the customer.
            VisionPLUS Service Data: AZXNDO-DOB
          format: date
        foreignIndicator:
          type: string
          description: |-
            Length: 1
            Foreign Indicator. The values are:
            * Blank = Does not live in a foreign country (Default)
            * Any character = Lives in a foreign country. Format the address to the IRS standard.
            VisionPLUS Service Data: AZXNDO-1099C-FOREIGN-IND
          example: A
        driverLicense:
          $ref: '#/components/schemas/DemographicInquiryResponse.DriverLicense'
        w9Indicator:
          type: integer
          description: |-
            Length: 1
            1099C/W9 indicator
            VisionPLUS Service Data: AZXNDO-1099C-W9-IND
          format: int32
        w9DateSent:
          type: string
          description: |-
            Length: 7
            1099C/W9 date sent.
            VisionPLUS Service Data: AZXNDO-1099C-W9-DATE-SENT
          format: date
        w9DateFiled:
          type: string
          description: w9DateFiled.
          format: date
        numberOfDependents:
          type: integer
          description: |-
            Length: 3
            Number of Dependents.
            VisionPLUS Service Data: AZXNDO-NBR-OF-DEPENDENTS
          format: int32
        statementMessageIndicator:
          type: integer
          description: |-
            Length: 1
            Statement Message Indicator.
            VisionPLUS Service Data: AZXNDO-STMT-MSG-INDIC
          format: int32
        email:
          type: string
          description: |-
            Length: 19
            Email of customer.
            VisionPLUS Service Data: AZXNDO-EMAIL
          example: ABC.DEF@yahoo.com
        user1:
          type: string
          description: |-
            Length: 2
            User 1
            VisionPLUS Service Data: AZXNDO-USER-1.
          example: U1
        user2:
          type: string
          description: |-
            Length: 2
            User 2
            VisionPLUS Service Data: AZXNDO-USER-2.
          example: U2
        user3:
          type: string
          description: |-
            Length: 7
            User 3
            VisionPLUS Service Data: AZXNDO-USER-3.
          example: U323323
        user4:
          type: string
          description: |-
            Length: 1
            User 4
            VisionPLUS Service Data: AZXNDO-USER-4.
          example: U
        user5:
          type: string
          description: |-
            Length: 1
            User 5
            VisionPLUS Service Data: AZXNDO-USER-5.
          example: U
        user6:
          type: string
          description: |-
            Length: 2
            User 6
            VisionPLUS Service Data: AZXNDO-USER-6.
          example: U6
        user7:
          type: string
          description: |-
            Length: 2
            User 7
            VisionPLUS Service Data: AZXNDO-USER-7.
          example: U7
        user8:
          type: string
          description: |-
            Length: 2
            User 8
            VisionPLUS Service Data: AZXNDO-USER-8.
          example: U8
        user9:
          type: string
          description: |-
            Length: 2
            User 9
            VisionPLUS Service Data: AZXNDO-USER-9.
          example: U9
        user10:
          type: string
          description: |-
            Length: 7
            User 10
            VisionPLUS Service Data: AZXNDO-USER-10.
          format: date
        user11:
          type: string
          description: |-
            Length: 7
            User 11
            VisionPLUS Service Data: AZXNDO-USER-11.
          format: date
        user12:
          type: string
          description: |-
            Length: 30
            User 12
            VisionPLUS Service Data: AZXNDO-USER-12.
          example: U12
        user13:
          type: string
          description: |-
            Length: 30
            User 13
            VisionPLUS Service Data: AZXNDO-USER-13.
          example: U13
        user14:
          type: string
          description: |-
            Length: 20
            User 14
            VisionPLUS Service Data: AZXNDO-USER-14.
          example: U14
        user15:
          type: string
          description: |-
            Length: 20
            User 15
            VisionPLUS Service Data: AZXNDO-USER-15.
          example: U15
        demographic1:
          type: string
          description: |-
            Length: 20
            Demographic 1. User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: AZXNDO-USER-DEMO-1
          example: USER DEMO 1
        demographic2:
          type: string
          description: |-
            Length: 20
            Demographic 2. User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: AZXNDO-USER-DEMO-2
          example: USER DEMO 2
        demographic3:
          type: string
          description: |-
            Length: 20
            Demographic 3. User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: AZXNDO-USER-DEMO-4
          example: USER DEMO 3
        nameTypeIndicator:
          $ref: '#/components/schemas/DemographicInquiryResponse.NameTypeIndicator'
        nameAddressData:
          $ref: '#/components/schemas/DemographicInquiryResponse.NameAddressData'
        homePhoneFlag:
          type: string
          description: |-
            Length: 1
            Home Phone Indicator. The values are:
            * 0 = Do not call
            * 1 = May be called
            * 2 = Prefers to be called
            VisionPLUS Service Data: AZXNDO-HOME-PHONE-FLAG
        faxPhoneFlag:
          type: string
          description: |-
            Length: 1
            Three-part field that indicates the facsimile (fax) number of the co-owner, whether you have the co-owner’s permission to use this number, and the date when the number was last modified..
            The values are:
            * 0=Do not fax
            * 1=May be faxed
            * 2=Prefers to be faxed
            VisionPLUS Service Data: AZXNDO-FAX-PHONE-FLAG
          example: "1"
        mobilePhoneFlag:
          type: string
          description: "Length: 1\nMobile phone flag. The values are: \n* 0 = Do not\
            \ call\n* 1 = May be called\n* 2 = Prefers to be called\nVisionPLUS Service\
            \ Data: AZXNDO-MOBILE-PHONE-FLAG"
          example: "1"
        emailFlag:
          type: string
          description: "Length: 1\nThe values are: \n * 0 = Do not e-mail\n * 1 =\
            \ May be e-mailed\n * 2 = Prefers to be e-mailed\nVisionPLUS Service Data:\
            \ AZXNDO-EMAIL-FLAG"
          example: "1"
        smsFlag:
          type: string
          description: |-
            Length: 1
            SMS indicator.
            VisionPLUS Service Data: AZXNDO-SMS-FLAG
          example: "1"
        lastName:
          type: string
          description: |-
            Length: 40
            Last name.
            VisionPLUS Service Data: AZXNDO-LAST-NAME
          example: Sivale
        middleName:
          type: string
          description: |-
            Length: 40
            Middle name.
            VisionPLUS Service Data: AZXNDO-MIDDLE-NAME
          example: Pedro
        firstName:
          type: string
          description: |-
            Length: 40
            First name.
            VisionPLUS Service Data: AZXNDO-FIRST-NAME
          example: Pavan
        suffix:
          type: string
          description: |-
            Length: 20
            Length: 20
            VisionPLUS Service Data: AZXNDO-SUFFIX
          example: Sr
        county:
          type: string
          description: |-
            Length: 30
            County portion of the mailing address of the owner.
            VisionPLUS Service Data: AZXNDO-COUNTY
          example: Orange
        accountCardNumber:
          type: string
          description: |-
            Length: 19
            Account card number.
            VisionPLUS Service Data: AZXNDO-ACCT-CARD-NBR.
          example: "451234567000000000"
    AddCustomerRequest:
      type: object
      properties:
        customerData:
          $ref: '#/components/schemas/CustomerData'
        resvData:
          $ref: '#/components/schemas/ResvData'
      description: Add Customer Request
    AddCustomerRequest.CustomerData.OwnerCoOwnerData:
      type: object
      properties:
        ownerData:
          $ref: '#/components/schemas/OwnerData'
        coOwnerData:
          $ref: '#/components/schemas/CoOwnerData'
    CoOwnerData:
      required:
      - postalCode
      type: object
      properties:
        maritalStatus:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Length: 1
            Marital Status. The values are -
            0 = Not used(Default)
            1 = Married and living at the same address
            2 = Married and living at different addresses
            3 = Not married and living at the same address
            4 = Not married and living at different addresses
            D = Divorced
            M = Married
            S = Single
            U = Undefined
            W = Widower
            VisionPLUS Service Data: ARXNAI-C-MARITAL-STATUS
          example: "1"
        nameLine1:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Length: 40
            Name of the customer as defined on the Customer Name/ Address record that is associated with the account.
            VisionPLUS Service Data: ARXNAI-C-NAME-LINE-1
          example: OWN NAME L2 TEST9
        nameTypeIndicator1:
          type: integer
          description: |-
            Length: 1
            Name Type Indicator 1. indicates the type of name.
            The values are -
            0 = Personal name (Default)
            1 = Business name
            3 = Generic name
            VisionPLUS Service Data: ARXNAI-C-NAME-TYPE-IND-1
          format: int32
          example: 0
        nameLine2:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Length: 40
            Name of the customer as defined on the Customer Name/ Address record that is associated with the account.
            VisionPLUS Service Data: ARXNAI-C-NAME-LINE-1
          example: OWN NAME L2 TEST9
        nameTypeIndicator2:
          type: integer
          description: |-
            Length: 1
            Name Type Indicator 2. indicates the type of name.
            The values are -
            0 = Personal name (Default)
            1 = Business name
            3 = Generic name
            VisionPLUS Service Data: ARXNAI-C-NAME-TYPE-IND-2
          format: int32
          example: 0
        nameLine3:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nName Line 3\nVisionPLUS Service Data: ARXNAI-C-NAME-LINE-1"
          example: OWN NAME L3
        nameTypeIndicator3:
          type: integer
          description: |-
            Length: 1
            Name Type Indicator 3. indicates the type of name.
            The values are -
            0 = Personal name (Default)
            1 = Business name
            3 = Generic name
            VisionPLUS Service Data: ARXNAI-C-NAME-TYPE-IND-1
          format: int32
          example: 0
        houseNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: "Length 20 \nInternal number of the residence\nVisionPLUS Service\
            \ Data: ARXNA-C-HOUSE-NBR"
          example: "12349"
        houseName:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nHouse Name\nVisionPLUS Service Data: ARXNAI-C-HOUSE-NAME"
          example: LILY RESIDENCE
        houseAddress1:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nHouse Address 1\nVisionPLUS Service Data: ARXNAI-C-ADDR-1"
          example: OWN ADDR L19
        houseAddress2:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nHouse Address 2\nVisionPLUS Service Data: ARXNAI-C-ADDR-2"
          example: OWN ADDR L19
        houseAddress3:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nHouse Address 3\nVisionPLUS Service Data: ARXNAI-C-ADDR-3"
          example: OWN ADDR L19
        houseAddress4:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nHouse Address 4\nVisionPLUS Service Data: ARXNAI-C-ADDR-4"
          example: OWN ADDR L19
        city:
          maxLength: 30
          minLength: 0
          type: string
          description: |-
            Length: 30
            City of the legal address of the property.
            VisionPLUS Service Data: ARXNAI-C-CITY
          example: Sunshine
        state:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            Length: 3
            Residence state. This is derived based on the state code.
            VisionPLUS Service Data: ARXNAI-C-STATE
          example: FL
        postalCode:
          maxLength: 10
          minLength: 0
          type: string
          description: "Length: 10 \nResidence Postal Code\nVisionPLUS Service Data:\
            \ ARXNAI-C-PSTL-CD"
          example: "12345679"
        countryCode:
          maxLength: 30
          minLength: 0
          type: string
          description: |-
            Length: 30
            Code that identifies the country in which this organization is located.
            VisionPLUS Service Data: ARXNAI-C-CNTRY-CD
          example: USA
        ownOrRentResidenceFlag:
          type: integer
          description: |-
            Length: 1
            Maker's own/rent residence flag. The values are -
            0 = Unknown
            1 = Owns or is buying residence
            2 = Rents or leases residence
            3 = Lives at someone else’s residence
            VisionPLUS Service Data: ARXNAI-C-OWN-RENT-RESID-FLAG
          format: int32
          example: 2
        foreignIndicator:
          type: string
          description: |-
            Length: 1
            Foreign Indicator. The values are:
            Blank = Does not live in a foreign country(Default)
            Any character = Lives in a foreign country. Format the address to the IRS standard.
            VisionPLUS Service Data: ARXNAI-C-1099C-FOREIGN-IND
          example: A
        languageIndicator:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            Length: 3
            Spoken Language Indicator.
            V+ will always populate
            VisionPLUS Service Data: ARXNAI-C-LANGUAGE-IND
          example: ENG
        mailingList:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Length: 1
            Code indicating whether the Owner wants to be on a Mailing List.
            VisionPLUS Service Data: ARXNAI-C-MAILING-LIST
          example: "1"
        contactIndicator:
          maximum: 2
          minimum: 0
          type: integer
          description: |-
            Length: 2
            Code indicating whether customer contact is restricted or not.
            The values are:
            00 = No restriction(Default)
            01 = Do not telephone
            02 = Do not mail
            03 = Do not mail or telephone
            04-09 = Reserved for future use
            10-99 = User-defined by client.
            VisionPLUS Service Data: ARXNAI-C-CONTACT-IND
          format: int32
          example: 2
        genderCode:
          type: integer
          description: |-
            Length: 1
            Gender. The values are:
            0 = Unspecified(Default)
            1 = Male
            2 = Female
            VisionPLUS Service Data: ARXNAI-C-GENDER-CODE
          format: int32
          example: 1
        carrierRoute1and2:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Length: 2
            Two-part field that identifies the carrier route used for mail sorting purposes. Carrier route used to sort mail for postal delivery purposes.
            VisionPLUS Service Data: ARXNAI-C-CR-1-2
          example: C1
        carrierRoute3and4:
          maximum: 2
          minimum: 0
          type: integer
          description: |-
            Length: 2
            Two-part field that identifies the carrier route used for mail sorting purposes. Carrier route used to sort mail for postal delivery purposes.
            VisionPLUS Service Data: ARXNAI-C-CR-3-4
          format: int32
          example: 11
        homePhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            Three-part field that indicates the fax number of the customer, whether you have the customer’s permission to contact the customer at this number, and the date on which the fax number was last modified
            VisionPLUS Service Data: ARXNAI-C-HOME-PHONE.
          example: 123-456-9990
        homeFaxPhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            Three-part field that indicates the fax number of the customer, whether you have the customer’s permission to contact the customer at this number, and the date on which the fax number was last modified.
            VisionPLUS Service Data: ARXNAI-C-FAX-PHONE
          example: 223-456-7890
        mobilePhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: "Length 20 \n Mobile Phone Number\nVisionPLUS Service Data:\
            \ ARXNAI-C-MOBILE-PHONE"
          example: 323-456-7890
        dateOfBirth:
          type: string
          description: |-
            Date of birth of the customer.
            VisionPLUS Service Data: ARXNAI-C-DOB
          format: date
        driverLicenseNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            Three-part field that identifies the driver license number of the owner, state or province of issue, and the country of issue.
            VisionPLUS Service Data: ARXNAI-C-DL-NBR
        driverLicenseState:
          maxLength: 3
          minLength: 0
          type: string
          description: "Length 3 \n Driver's License State\nVisionPLUS Service Data:\
            \ ARXNAI-C-DL-STATE"
        driverLicenseCountry:
          maxLength: 3
          minLength: 0
          type: string
          description: "Length 3 \n Driver's License Country\nVisionPLUS Service Data:\
            \ ARXNAI-C-DL-CNTRY"
        identificationNumberFlag:
          type: integer
          description: |-
            Length: 1
            Type of Identification.Owner identification number flag.The values are -
            0 = Social Security number
            1 = Tax ID
            2 = Other ID
            VisionPLUS Service Data: ARXNAI-C-SSAN-FLAG
          format: int32
          example: 2
        identificationNumber:
          maxLength: 25
          minLength: 0
          type: string
          description: |-
            Length: 25
            Identification number of the customer.If the field is 0 (Social Security number), the second part must be nine numeric characters only.
            isionPLUS Service Data: ARXNAI-C-SSAN
          example: "123456789"
        dateOfFile:
          type: string
          description: |-
            Date Of File
            VisionPLUS Service Data: ARXNAI-C-1099C-W9-DATE-FILED
          format: date
        statementMessageIndicator:
          type: integer
          description: |-
            Length: 1
            Statement Message Indicator.
            The values are 0–9. The default is 0.
            VisionPLUS Service Data: ARXNAI-C-STMT-MSG-INDIC
          format: int32
          example: 0
        employerName:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nEmployer Name\nVisionPLUS Service Data: ARXNAI-C-EMPLOYER"
          example: Milton
        employerAddress1:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Length: 40
            Two-part field that indicates the mailing address of the employer of the owner.
            VisionPLUS Service Data: ARXNAI-C-EMPLOYER-ADDR-1
          example: EMP ADDR L1
        employerAddress2:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Length: 40
            Two-part field that indicates the mailing address of the employer of the owner.
            VisionPLUS Service Data: ARXNAI-C-EMPLOYER-ADDR-2
          example: EMP ADDR L1
        employerPhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: "Length 20 \nEmployer Phone Number\nVisionPLUS Service Data:\
            \ ARXNAI-C-EMP-PHONE"
          example: 123-456-7890
        employerExtensionPhoneNumber:
          maxLength: 6
          minLength: 0
          type: string
          description: "Length 6 \n Employee Phone Extension\nVisionPLUS Service Data:\
            \ ARXNAI-C-EMP-PHONE-EXTN"
          example: "123456"
        employerPhoneFlag:
          type: integer
          description: |-
            Length: 1
            Employer Phone Flag.
            The values are:
            0 = Do not call
            1 = May be called
            2 = Prefers to be called
            VisionPLUS Service Data: ARXNAI-C-PHONE-FLAG
          format: int32
          example: 1
        position:
          maxLength: 4
          minLength: 0
          type: string
          description: |-
            Length: 4
            User-defined code to indicate the position or job title of the owner.
            VisionPLUS Service Data: ARXNAI-C-POSITION
          example: CEO
        relativeName:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Length: 40
            Name of a relative of the co-owner.
            VisionPLUS Service Data: ARXNAI-C-RELATIVE-NAME
          example: Relative Name
        numberOfDependents:
          maximum: 3
          minimum: 0
          type: integer
          description: "Length 3 \nNumber of Dependents\nVisionPLUS Service Data:\
            \ ARXNAI-C-NBR-OF-DEPENDENTS"
          format: int32
          example: 999
        email:
          maxLength: 60
          minLength: 0
          type: string
          description: "Length 60 \nEmail of customer\nVisionPLUS Service Data: ARXNAI-C-EMAIL"
          example: ABC.DEF@yahoo.com
        memo1:
          maxLength: 60
          minLength: 0
          type: string
          description: |-
            Length: 60
            Two-part field used to enter memos or notes related to this account.
            VisionPLUS Service Data: ARXNAI-C-MEMO-1
          example: Memo 1
        memo2:
          maxLength: 60
          minLength: 0
          type: string
          description: |-
            Length: 60
            Two-part field used to enter memos or notes related to this account."VisionPLUS Service Data: ARXNAI-C-MEMO-2
          example: Memo 2
        user1:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Length: 2
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-1
          example: U1
        user2:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Length: 2
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-2
          example: U2
        user3:
          maxLength: 7
          minLength: 0
          type: string
          description: |-
            Length: 7
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-3
          example: U323323
        user4:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Length: 1
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-4
          example: U
        user5:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Length: 1
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-5
          example: U
        user6:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Length: 2
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-6
          example: U6
        user7:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Length: 2
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-7
          example: U7
        user8:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            Length: 3
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-8
          example: U8
        user9:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            Length: 3
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-9
          example: U9
        user10:
          maxLength: 7
          minLength: 0
          type: string
          description: |-
            Length: 7
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-10
          example: "2011031"
        user11:
          maxLength: 7
          minLength: 0
          type: string
          description: |-
            Length: 7
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-11
          example: "2011031"
        user12:
          maxLength: 30
          minLength: 0
          type: string
          description: |-
            Length: 30
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-12
          example: U12
        user13:
          maxLength: 30
          minLength: 0
          type: string
          description: |-
            Length: 30
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-13
          example: U13
        user14:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-14
          example: U14
        user15:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-15
          example: U15
        demographic1:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: ARXNAI-C-USER-DEMO-1
          example: USER DEMO 1
        demographic2:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: ARXNAI-C-USER-DEMO-2
          example: USER DEMO 2
        demographic3:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: ARXNAI-C-USER-DEMO-3
          example: USER DEMO 3
        homePhoneFlag:
          type: integer
          description: |-
            Length: 1
            Home Phone Indicator. The values are:
            0 = Do not call
            1 = May be called
            2 = Prefers to be called
            VisionPLUS Service Data: ARXNAI-C-HOME-PHONE-FLAG
          format: int32
          example: 1
        faxPhoneFlag:
          type: integer
          description: |-
            Length: 1
            Three-part field that indicates the facsimile (fax) number of the co-owner, whether you have the co-owner’s permission to use this number, and the date when the number was last modified.
            The values are:
            0 = Do not fax
            1 = May be faxed
            2 = Prefers to be faxed
            VisionPLUS Service Data: ARXNAI-C-FAX-PHONE-FLAG
          format: int32
          example: 1
        mobilePhoneFlag:
          type: integer
          description: |-
            Length: 1
            Mobile phone flag. The values are -
            0 = Do not call
            1 = May be called
            2 = Prefers to be called"VisionPLUS Service Data: ARXNAI-C-PHONE-FLAG
          format: int32
          example: 1
        emailFlag:
          type: integer
          description: |-
            Length: 1
            Email flag. The values are:
            0 = Do not e-mail
            1 = May be e-mailed
            2 = Prefers to be e-mailed
            VisionPLUS Service Data: ARXNAI-C-EMAIL-FLAG
          format: int32
          example: 1
        smsFlag:
          type: integer
          description: |-
            Length: 1
            Short message service (SMS) flag.
            The values are -
            0 = No, do not send message
            1 = Yes, you can send message
[...]
