openapi: 3.0.1
info:
  description: "This documentation describes the REST APIs provided by the FirstVision\u2122\
    \ Cards Microservice, which provides functionality for the issuing, management\
    \ and processing of credit cards, including bank, co-branded, private label, debit,\
    \ commercial, and prepaid"
  title: "FirstVision\u2122 Customer Service - API Documentation"
  version: '1.2'
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /customer/details-l8v4:
    post:
      tags:
      - Customers
      summary: "Get list of cards and details linked to a customer. VMX Service: M.CMS.CUSTCHANNEL.INQ,\
        \ L8V4"
      description: "Get list of cards and details linked to a customer. \nVMX Service:\
        \ M.CMS.CUSTCHANNEL.INQ, L8V4"
      operationId: Cards Details Inquiry
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerChannelVersion4Request"
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "405":
          description: Method Not Allowed
        "400":
          description: Bad Request
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerChannelVersion4Response"
      x-proxy-name: Cards Details Inquiry
      x-group-name: Customers
  /customer/demographicData:
    post:
      tags:
      - Customers
      summary: "Inquire demographic data. VMX Service: M.CMS.DEMOGRAPHIC.INQ, R8V4"
      description: "Requests demographic data from a Customer number. \nVMX Service:\
        \ M.CMS.DEMOGRAPHIC.INQ, R8V4"
      operationId: Inquire demographic data
      parameters:
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      - name: Signature
        in: header
        description: HMAC signature used to verify the authenticity and integrity
          of data transmitted
        required: false
        schema:
          type: string
        example: qsLUH5gnBB5GBpbe9VX+byaTu7LR98pv4H/3g+6h2uk=
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
        example: Bearer vAbsh53JHFSTR23esEtrUI864tt
      - name: apikey
        in: header
        description: Unique identifier used to authorize the API request
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DemographicInquiryRequest"
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "403":
          description: Forbidden
        "401":
          description: Unauthorized
        "405":
          description: Method Not Allowed
        "400":
          description: Bad Request
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DemographicInquiryResponse"
      x-proxy-name: Demographic Inquiry
      x-group-name: Customers
components:
  schemas:
    CustomerChannelVersion4Request:
      required:
      - customerNumber
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization Number.
            VisionPLUS Service Data: AZXCEI-SVC-FUNC-CODE
          format: int32
          example: 807
        customerNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19
            Customer Number.
            VisionPLUS Service Data: AZXCEI –CUST-NBR-X
          example: "4513074002573466583"
        functionCode:
          type: string
          description: |-
            Length: 1
            Function Code.
            VisionPLUS Service Data: AZXCEI-SVC-FUNC-CODE
        startItem:
          $ref: "#/components/schemas/CustomerChannelVersion4Request.SItem"
      description: Get Customer Cards Details Request l8v4
    CustomerChannelVersion4Request.SItem:
      type: object
      properties:
        startOrganization:
          type: string
          description: |-
            Length: 1
            Start Account.
            VisionPLUS Service Data: ARXCEI-SVC-START-ACCT-NBR
        startAccount:
          type: string
          description: |-
            Length: 19
            Start Organization.
            VisionPLUS Service Data: ARXCEI-SVC-START-ACCT-ORG
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: "#/components/schemas/Error"
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    CustomerChannelVersion4Response:
      type: object
      properties:
        itemsReturned:
          type: string
          description: |-
            Length: 2
            Number of returned items.
            VisionPLUS Service Data: ARXCEO-AT-NBR-OCCUR
        more:
          type: string
          description: |-
            Length: 1
            Flag that indicates whether user requires more data.
            VisionPLUS Service Data: AZXCEO-AT-MORE
        customerNumber:
          type: string
          description: |-
            Length: 19
            Customer number.
            VisionPLUS Service Data: AZXCEO-CUST-NBR
        accountTable:
          type: array
          items:
            $ref: "#/components/schemas/CustomerChannelVersion4Response.AccountTable"
    CustomerChannelVersion4Response.AccountTable:
      type: object
      properties:
        sequence:
          type: integer
          description: Sequence.
          format: int32
        cardNumber:
          type: string
          description: |-
            Length: 19
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).
            For Financial Institutions without PAN Token enabled, the cardNumber will be shown masked (e.g., 0581xxxxxxx5846).
            VisionPLUS Service Data: AZXCEO-CARD-NBR
          example: 000540208ID5IXX3865
        cardSequence:
          type: integer
          description: |-
            Length: 4
            Card sequence.
            VisionPLUS Service Data: AZXCEO-CARD-SEQ
          format: int32
        cardBlockCode:
          type: string
          description: |-
            Length: 1
            Block code assigned to the Embosser record.
            VisionPLUS Service Data: AZXCEO-CARD-BLOCK-CODE
        cardExpireDate:
          type: string
          description: |-
            Length: 10
            Card expiration date on the Embosser record.
            VisionPLUS Service Data: AZXCEO-CARD-DATE-EXPIRE
          format: date
        logo:
          type: string
          description: |-
            Length: 3
            Logo on the Embosser record.
            VisionPLUS Service Data: AZXCEO-LOGO
        productType:
          type: string
          description: |-
            Length: 2
            Product type.
            VisionPLUS Service Data: AZXCEO-PRODUCT-TYPE
        productDescription:
          type: string
          description: |-
            Length: 20
            Product description.
            VisionPLUS Service Data: AZXCEO-PRODUCT-DESC
        accountNumber:
          type: string
          description: |-
            Length: 19
            Account number on the Embosser record.
            VisionPLUS Service Data: AZXCEO-ACCT-NBR
        accountStatus:
          type: string
          description: |-
            Length: 1
            Status of the account.
            VisionPLUS Service Data: AZXCEO-ACCT-STATUS
        accountBlockCode1:
          type: string
          description: |-
            Length: 1
            Block code 1 assigned to the account.
            VisionPLUS Service Data: AZXCEO-ACCT-BC1
        accountBlockCode2:
          type: string
          description: |-
            Length: 1
            Block code 1 assigned to the account.
            VisionPLUS Service Data: AZXCEO-ACCT-BC2
        billingCycle:
          type: integer
          description: |-
            Length: 2
            Billing cycle of the account.
            VisionPLUS Service Data: AZXCEO-ACCT-BILLING-CYCLE
          format: int32
        accountShortName:
          type: string
          description: |-
            Length: 20
            Short name of the customer on the account.VisionPLUS Service Data: AZXCEO-ACCT-SHORT-NAME
        accountDateLastCycle:
          type: string
          description: |-
            Length: 1O
            Last cycle date of the account.
            VisionPLUS Service Data: AZXCEO-ACCT-DATE-LAST-CYCLE
          format: date
        pesosMinimumPayment:
          type: number
          description: |-
            Length: 15
            Minimum payment amount in pesos. The minimum payment amount corresponds to the total due amount for the account minus pending payments posted (authorized payments during the day and memo credits) plus any check payments that are being held by the system.
            VisionPLUS Service Data: AZXCEO-PESOS-MIN-PMT
        dollarMinimumPayment:
          type: number
          description: |-
            Length: 15
            Minimum payment amount in U.S. dollars. The minimum payment amount corresponds to the total due amount for the account minus pending payments posted (authorized payments during the day and memo credits) plus any check payments that are being held by the system.
            VisionPLUS Service Data: AZXCEO-DOLLARS-MIN-PMT
        pesosTotalPayment:
          type: number
          description: |-
            Length: 15
            Total payment amount in pesos. The total payment billed (just after last cycle date) minus posted payments (since cycle date) minus pending payments (memo credits) plus any check payments that are being held by the system.
            VisionPLUS Service Data: AZXCEO-PESOS-TOT-PMT
        dollarTotalPayment:
          type: number
          description: |-
            Length: 15
            Total payment amount in U.S. dollars. The total payment billed (just after last cycle date) minus posted payments (since cycle date) minus pending payments (memo credits) plus any check payments that are being held by the system.
            VisionPLUS Service Data: AZXCEO-DOLLARS-TOT-PMT
        pesosCurrentBalance:
          type: number
          description: |-
            Length: 15
            Current balance amount in pesos. The current balance (includes all the posted transactions) minus pending payments (memo credit) plus any check payments that are being held by the system.
            VisionPLUS Service Data: AZXCEO-PESOS-CURR-BAL
        dollarCurrentBalance:
          type: number
          description: |-
            Length: 15
            Current balance amount in U.S. dollars. The current balance (includes all the posted transactions) minus pending payments (memo credit) plus any check payments that are being held by the system.
            VisionPLUS Service Data: AZXCEO-DOLLARS-CURR-BAL
        totalCreditLimit:
          type: number
          description: |-
            Length: 15
            Total approved credit limit amount in pesos. If extraCupo is available, it is included with the credit limit amount.
            VisionPLUS Service Data: AZXCEO-TOT-CREDIT-LIMIT
        pesosOpenToBuy:
          type: number
          description: |-
            Length: 15
            Open-to-buy amount in pesos.
            VisionPLUS Service Data: AZXCEO-PESOS-OTB
        pesosCashAvailable:
          type: number
          description: |-
            Length: 15
            Available cash in pesos (open-to-buy amount in pesos multiplied by the cash advance percentage).
            VisionPLUS Service Data: AZXCEO-PESOS-CASH-AVAIL
        paymentDueDate:
          type: string
          description: |-
            Length: 10
            Payment due date of the account.
            VisionPLUS Service Data: AZXCEO-PMT-DUE-DTE
          format: date
        pesosMemoCredits:
          type: number
          description: |-
            Length: 15
            Memo credit for the local account in pesos.
            VisionPLUS Service Data: AZXCEO-PESOS-MEMO-CREDITS
        pesosMemoDebits:
          type: number
          description: |-
            Length: 15
            Memo debit for the local account in pesos.
            VisionPLUS Service Data: AZXCEO-PESOS-MEMO-DEBITS
        dollarMemoCredits:
          type: number
          description: |-
            Length: 15
            Memo credit for the foreign account in U.S. dollars.
            VisionPLUS Service Data: AZXCEO-DOLLARS-MEMOCREDITS
        dollarMemoDebits:
          type: number
          description: |-
            Length: 15
            Memo debit for the foreign account in U.S. dollars.
            VisionPLUS Service Data: AZXCEO-DOLLARS-MEMO-DEBITS
        sobreCupo:
          type: number
          description: |-
            Length: 15
            Balance above credit limit.
            VisionPLUS Service Data: AZXCEO-SOBRE-CUPO
        extraCupo:
          type: number
          description: |-
            Length: 15
            Temporary credit limit.
            VisionPLUS Service Data: AZXCEO-EXTRA-CUPO
        previousCreditLimit:
          type: number
          description: Previous credit limit.
        beginDateTemporaryCreditLimit:
          type: string
          description: |-
            Length: 10
            Beginning date of the temporary credit limit.
          format: date
        expiryDateTemporaryCreditLimit:
          type: string
          description: |-
            Length: 10
            Expiration date of the temporary credit limit.
            VisionPLUS Service Data: AZXCEO-DATE-TEMP-CRLIM-EXP
          format: date
        customerNumber:
          type: string
          description: |-
            Length: 19
            Customer number on the account.
            VisionPLUS Service Data: AZXCEO-ACCT-CUST-NBR
        relationshipNumber:
          type: string
          description: |-
            Length: 19
            Relationship number on the account.
            VisionPLUS Service Data: AZXCEO-ACCT-REL-NBR
        exchangeRate:
          type: number
          description: |-
            Length: 15
            Active exchange rate.
            VisionPLUS Service Data: AZXCEO-EXCHNG-RATE
    DemographicInquiryRequest:
      required:
      - customerAccountCardNumber
      - numberType
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3
            Identification number of the organization associated with the multilingual functionality (001–999).
            VisionPLUS Service Data: AZXNDI-ORG
          format: int32
          example: 807
        customerAccountCardNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19
            Customer Account Card Number
            VisionPLUS Service Data: AZXNDI-CUST-ACCT-CARD-NBR
          example: "0004513070406598974"
        numberType:
          type: string
          description: |-
            Length: 1
            Type Of Number In The 'idNumber' Field. The values are :
            * 1 = Customer number * If zero, space, or low values is specified, the primary customer record associated with the account will be updated with the information provided to the service.
            * If an alternate customer record, a correspondence customer record, or a customer record associated with a card is needed, use the customer number.
            VisionPLUS Service Data: AZXNDI-NBR-TYP
          example: "0"
        foreignUseIndicator:
          type: string
          description: |-
            Length: 1
            Foreign Use Indicator. The values are :
            * Zero, space, or low values = Local account
            * 1 = Foreign account
            VisionPLUS Service Data: AZXNDI-FOREIGN-USE
          example: "1"
      description: Demographic Data Request
    DemographicInquiryResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3
            Identification number of the organization associated with the multilingual functionality (001–999)
            VisionPLUS Service Data: AZXNDO-ORG
          format: int32
          example: 807
        customerNumber:
          type: string
          description: |-
            Length: 19
            Customer number
            VisionPLUS Service Data: AZXNDO-CUST-NBR
        addStatus:
          type: integer
          description: |-
            Length: 2
            Add status
            VisionPLUS Service Data: AZXNDO-ADD-STATUS
          format: int32
        status:
          type: integer
          description: |-
            Length: 1
            Status Of The Account. The values are:
            * 0 = Active (Default)
            * 1 = Closed
            * 2 = Purge pending
            VisionPLUS Service Data: AZXNDO-STATUS
          format: int32
        source:
          type: string
          description: |-
            Length: 1
            Source
            VisionPLUS Service Data: AZXNDO-SOURCE
        dateLastMaintenance:
          type: string
          description: |-
            Length: 7
            Date of last maintenance on the account
            VisionPLUS Service Data: AZXNDO-DATE-LAST-MAINT
          format: date
        dateLastAddressChange:
          type: string
          description: |-
            Length: 1
            Date of last address change
            VisionPLUS Service Data: AZXNDO-DATE-LAST-ADDRCHANGE
          format: date
        vipStatus:
          type: string
          description: |-
            Length: 1
            VIP Status Indicator. The values are:
            * 0 = Not VIP customer
            * 1 = VIP customer
            VisionPLUS Service Data: AZXNDO-VIP-STATUS
          example: "1"
        sicCode:
          type: integer
          description: |-
            Length: 6
            Standard Industrial Classification code used to identify the industry to which the commercial card customer is associated.
            VisionPLUS Service Data: AZXNDO-SIC-CODE
          format: int32
          example: 123456
        duplicateCurrency:
          type: integer
          description: |-
            Length: 11
            Duplicate currency
            VisionPLUS Service Data: AZXNDO-DUPLICATE-CURRENCY
          format: int32
        makerCoMakerIndicator:
          type: string
          description: |-
            Length: 1
            Maker/comaker indicator
            VisionPLUS Service Data: AZXNDO-NA-COMAKER-IND
        nameAddrData:
          type: array
          items:
            $ref: "#/components/schemas/DemographicInquiryResponse.OwnerOrCoOwnerData"
    DemographicInquiryResponse.CarrierRoute:
      type: object
      properties:
        carrierRoute1and2:
          type: string
          description: |-
            Length: 2
            Two-part field that identifies the carrier route used for mail sorting purposes.
            Carrier route used to sort mail for postal delivery purposes.
            VisionPLUS Service Data: ARXGCI-CR-1-2
          example: C1
        carrierRoute3and4:
          type: integer
          description: |-
            Length: 2
            Two-part field that identifies the carrier route used for mail sorting purposes.
            Carrier route used to sort mail for postal delivery purposes.
            VisionPLUS Service Data: ARXGCI-CR-3-4
          format: int32
    DemographicInquiryResponse.DriverLicense:
      type: object
      properties:
        driverLicenseCountry:
          type: string
          description: |-
            Length: 3
            Driver’s License Country
            VisionPLUS Service Data: AZXNDO-DL-CNTRY
        driverLicenseState:
          type: string
          description: |-
            Length: 3
            Driver’s License state
            VisionPLUS Service Data: AZXNDO-DL-STATE
        driverLicenseNumber:
          type: string
          description: |-
            Length: 20
            Three-part field that identifies the driver license number of the owner, state or province of issue, and the country of issue.
            VisionPLUS Service Data: AZXNDO-DL-NBR
    DemographicInquiryResponse.NameAddressData:
      type: object
      properties:
        nameLine1:
          type: string
          description: |-
            Length: 40
            Name Line 1
            VisionPLUS Service Data: AZXNDO-NAME-LINE-1
        nameLine2:
          type: string
          description: |-
            Length: 40
            Name Line 2
            VisionPLUS Service Data: AZXNDO-NAME-LINE-2
          example: OWN NAME L2 TEST9
        nameLine3:
          type: string
          description: |-
            Length: 40
            Name Line 3
            VisionPLUS Service Data: AZXNDO-NAME-LINE-3
          example: OWN NAME L3
        houseNumber:
          type: string
          description: |-
            Length: 20
            Internal Number of the Residence
            VisionPLUS Service Data: AZXNDO-HOUSE-NUMBER
          example: "12349"
        houseName:
          type: string
          description: |-
            Length: 40
            House name
            VisionPLUS Service Data: AZXNDO-HOUSE-NAME
          example: Could be apartment's name
        houseAddress1:
          type: string
          description: |-
            Length: 40
            House Address 1.
          example: OWN ADDR L19
        houseAddress2:
          type: string
          description: |-
            Length: 40
            House Address 2.
          example: OWN ADDR L29
        houseAddress3:
          type: string
          description: |-
            Length: 40
            house Address 3.
          example: OWN ADDR L39
        houseAddress4:
          type: string
          description: |-
            Length: 40
            House Address 4.
          example: OWN ADDR L49
        cityAndState:
          type: string
          description: |-
            Length: 40
            City and state
            VisionPLUS Service Data: AZXNDO-CITY-STATE
        memo1:
          type: string
          description: |-
            Length: 60
            Memo 1
            VisionPLUS Service Data: AZXNDO-MEMO-1.
          example: Memo 1
        memo2:
          type: string
          description: |-
            Length: 60
            Memo 2
            VisionPLUS Service Data: AZXNDO-MEMO-2.
          example: Memo 2
        contactIndicator:
          type: integer
          description: |-
            Length: 2
            Contact indicator
            VisionPLUS Service Data: AZXNDO-CONTACT-IND
          format: int32
        genderCode:
          type: integer
          description: |-
            Length: 1
            Gender code. The values are:
            * 0 = Unspecified (Default)
            * 1 = Male
            * 2 = Female
            VisionPLUS Service Data: AZXNDO-GENDER-CODE
          format: int32
          example: 1
    DemographicInquiryResponse.NameTypeIndicator:
      type: object
      properties:
        nameTypeIndicator1:
          type: string
          description: "Length: 1\nName Type Indicator 1. indicates the type of name.\
            \ The values are: \n* 0 = Personal name (Default)\n* 1 = Business name\n\
            * 2 = Store name\n* 3 = Generic name\nVisionPLUS Service Data: AZXNDO-NAME-TYPE-IND-1"
          example: "0"
        nameTypeIndicator2:
          type: string
          description: "Length: 1\nName Type Indicator 2. indicates the type of name.\
            \ The values are: \n* 0 = Personal name (Default)\n* 1 = Business name\n\
            * 2 = Store name\n* 3 = Generic name\nVisionPLUS Service Data: AZXNDO-NAME-TYPE-IND-2"
          example: "0"
        nameTypeIndicator3:
          type: string
          description: "Length: 1\nName Type Indicator 3. indicates the type of name.\
            \ The values are: \n* 0 = Personal name (Default)\n* 1 = Business name\n\
            * 2 = Store name\n* 3 = Generic name\nVisionPLUS Service Data: AZXNDO-NAME-TYPE-IND-3"
          example: "0"
    DemographicInquiryResponse.OwnerOrCoOwnerData:
      type: object
      properties:
        sequence:
          type: integer
          description: Sequence.
          format: int32
        relativeName:
          type: string
          description: |-
            Length: 40
            Relative Name.
            VisionPLUS Service Data: AZXNDO-RELATIVE-NAME
          example: Relative Name
        title:
          type: string
          description: |-
            Length: 40
            Title
            VisionPLUS Service Data: AZXNDO-TITLE
          example: Monsieur
        identificationNumberFlag:
          type: string
          description: |-
            Length: 1
            Owner identification number flag. The values are:
            * 0 - Social Security Number
            * 1 - Tax ID
            * 2 - Other ID
          example: "1"
        identificationNumber:
          type: string
          description: Identification number.
          example: "25"
        homePhoneNumber:
          type: string
          description: |-
            Length: 20
            Home phone.
            VisionPLUS Service Data: AZXNDO-HOME-PHONE
          example: 123-456-9990
        employerName:
          type: string
          description: |-
            Length: 40
            Employer Name.
            VisionPLUS Service Data: AZXNDO-EMPLOYER
          example: Milton
        employerAddress1:
          type: string
          description: |-
            Length: 40
            Two-part field that indicates the mailing address of the employer of the owner.
            VisionPLUS Service Data: AZXNDO-EMPLOYER-ADDR-1
          example: EMP ADDR L1
        employerAddress2:
          type: string
          description: |-
            Length: 40
            Two-part field that indicates the mailing address of the employer of the  owner.
            VisionPLUS Service Data: AZXNDO-EMPLOYER-ADDR-2
          example: EMP ADDR L2
        employerPhoneFlag:
          type: string
          description: |-
            Length: 1
            Employer Phone Flag Fax flag. The values are:
            * 0 = Do not fax
            * 1 = May be faxed
            * 2 = Prefers to be faxed
          example: "1"
        employerPhoneNumber:
          type: string
          description: |-
            Length: 20
            Employer Phone Number.
            VisionPLUS Service Data: AZXNDO-EMP-PHONE
          example: 123-456-7890
        employerExtensionPhoneNumber:
          type: string
          description: |-
            Length: 6
            Employer Extension Phone Number.
            VisionPLUS Service Data: AZXNDO-EMP-PHONE-EXTN
          example: "123456"
        homeFaxPhoneNumber:
          type: string
          description: |-
            Length: 20
            Three-part field that indicates the fax number of the customer, whether you have the customer’s permission to contact the customer at this number, and the date on which the fax number was last modified.
            VisionPLUS Service Data: AZXNDO-FAX-PHONE
          example: 223-456-7890
        mobilePhoneNumber:
          type: string
          description: |-
            Length: 20
            Mobile Phone Number.
            VisionPLUS Service Data: AZXNDO-MOBILE-PHONE
          example: 323-456-7890
        countryCode:
          type: string
          description: |-
            Length: 3
            Code that identifies the country in which this organization is located.
            VisionPLUS Service Data: AZXNDO-CNTRY-CD
          example: USA
        postalCode:
          type: string
          description: |-
            Length: 10
            Residence Postal Code.
            VisionPLUS Service Data: AZXNDO-PSTL-CD
          example: "12345679"
        position:
          type: string
          description: |-
            Length: 4
            User-defined code to indicate the position or job title of the owner.
            VisionPLUS Service Data: AZXNDO-POSITION
          example: CEO
        maritalStatus:
          type: string
          description: "Length: 1\nMarital Status. The values are: \n* 0 = Not used\
            \ (Default)\n* 1 = Married and living at the same address\n* 2 = Married\
            \ and living at different addresses\n* 3 = Not married and living at the\
            \ same address\n* 4 = Not married and living at different addresses\n\
            * D = Divorced\n* M = Married\n* S = Single\n* U = Undefined\n* W = Widower\n\
            VisionPLUS Service Data: AZXNDO-MARITAL-STATUS"
          example: "1"
        ownOrRentResidenceFlag:
          type: string
          description: |-
            Length: 1
            Maker's own/rent residence flag. The values are:
            * 0 = Unknown
            * 1 = Owns or is buying residence
            * 2 = Rents or leases residence
            * 3 = Lives at someone else's residence
            VisionPLUS Service Data: AZXNDO-OWN-RENT-RESID-FLAG
          example: "2"
        languageIndicator:
          type: string
          description: |-
            Length: 3
            Spoken Language Indicator.
            VisionPLUS Service Data: AZXNDO-LANGUAGE-INDIC
          example: ENG
        carrierRoute:
          $ref: "#/components/schemas/DemographicInquiryResponse.CarrierRoute"
        mailingList:
          type: string
          description: |-
            Length: 1
            Code indicating whether the Owner wants to be on a Mailing List.
            VisionPLUS Service Data: AZXNDO-MAILING-LIST
          example: "1"
        dateOfBirth:
          type: string
          description: |-
            Length: 10
            Date of birth of the customer.
            VisionPLUS Service Data: AZXNDO-DOB
          format: date
        foreignIndicator:
          type: string
          description: |-
            Length: 1
            Foreign Indicator. The values are:
            * Blank = Does not live in a foreign country (Default)
            * Any character = Lives in a foreign country. Format the address to the IRS standard.
            VisionPLUS Service Data: AZXNDO-1099C-FOREIGN-IND
          example: A
        driverLicense:
          $ref: "#/components/schemas/DemographicInquiryResponse.DriverLicense"
        w9Indicator:
          type: integer
          description: |-
            Length: 1
            1099C/W9 indicator
            VisionPLUS Service Data: AZXNDO-1099C-W9-IND
          format: int32
        w9DateSent:
          type: string
          description: |-
            Length: 7
            1099C/W9 date sent.
            VisionPLUS Service Data: AZXNDO-1099C-W9-DATE-SENT
          format: date
        w9DateFiled:
          type: string
          description: w9DateFiled.
          format: date
        numberOfDependents:
          type: integer
          description: |-
            Length: 3
            Number of Dependents.
            VisionPLUS Service Data: AZXNDO-NBR-OF-DEPENDENTS
          format: int32
        statementMessageIndicator:
          type: integer
          description: |-
            Length: 1
            Statement Message Indicator.
            VisionPLUS Service Data: AZXNDO-STMT-MSG-INDIC
          format: int32
        email:
          type: string
          description: |-
            Length: 19
            Email of customer.
            VisionPLUS Service Data: AZXNDO-EMAIL
          example: ABC.DEF@yahoo.com
        user1:
          type: string
          description: |-
            Length: 2
            User 1
            VisionPLUS Service Data: AZXNDO-USER-1.
          example: U1
        user2:
          type: string
          description: |-
            Length: 2
            User 2
            VisionPLUS Service Data: AZXNDO-USER-2.
          example: U2
        user3:
          type: string
          description: |-
            Length: 7
            User 3
            VisionPLUS Service Data: AZXNDO-USER-3.
          example: U323323
        user4:
          type: string
          description: |-
            Length: 1
            User 4
            VisionPLUS Service Data: AZXNDO-USER-4.
          example: U
        user5:
          type: string
          description: |-
            Length: 1
            User 5
            VisionPLUS Service Data: AZXNDO-USER-5.
          example: U
        user6:
          type: string
          description: |-
            Length: 2
            User 6
            VisionPLUS Service Data: AZXNDO-USER-6.
          example: U6
        user7:
          type: string
          description: |-
            Length: 2
            User 7
            VisionPLUS Service Data: AZXNDO-USER-7.
          example: U7
        user8:
          type: string
          description: |-
            Length: 2
            User 8
            VisionPLUS Service Data: AZXNDO-USER-8.
          example: U8
        user9:
          type: string
          description: |-
            Length: 2
            User 9
            VisionPLUS Service Data: AZXNDO-USER-9.
          example: U9
        user10:
          type: string
          description: |-
            Length: 7
            User 10
            VisionPLUS Service Data: AZXNDO-USER-10.
          format: date
        user11:
          type: string
          description: |-
            Length: 7
            User 11
            VisionPLUS Service Data: AZXNDO-USER-11.
          format: date
        user12:
          type: string
          description: |-
            Length: 30
            User 12
            VisionPLUS Service Data: AZXNDO-USER-12.
          example: U12
        user13:
          type: string
          description: |-
            Length: 30
            User 13
            VisionPLUS Service Data: AZXNDO-USER-13.
          example: U13
        user14:
          type: string
          description: |-
            Length: 20
            User 14
            VisionPLUS Service Data: AZXNDO-USER-14.
          example: U14
        user15:
          type: string
          description: |-
            Length: 20
            User 15
            VisionPLUS Service Data: AZXNDO-USER-15.
          example: U15
        demographic1:
          type: string
          description: |-
            Length: 20
            Demographic 1. User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: AZXNDO-USER-DEMO-1
          example: USER DEMO 1
        demographic2:
          type: string
          description: |-
            Length: 20
            Demographic 2. User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: AZXNDO-USER-DEMO-2
          example: USER DEMO 2
        demographic3:
          type: string
          description: |-
            Length: 20
            Demographic 3. User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: AZXNDO-USER-DEMO-4
          example: USER DEMO 3
        nameTypeIndicator:
          $ref: "#/components/schemas/DemographicInquiryResponse.NameTypeIndicator"
        nameAddressData:
          $ref: "#/components/schemas/DemographicInquiryResponse.NameAddressData"
        homePhoneFlag:
          type: string
          description: |-
            Length: 1
            Home Phone Indicator. The values are:
            * 0 = Do not call
            * 1 = May be called
            * 2 = Prefers to be called
            VisionPLUS Service Data: AZXNDO-HOME-PHONE-FLAG
        faxPhoneFlag:
          type: string
          description: |-
            Length: 1
            Three-part field that indicates the facsimile (fax) number of the co-owner, whether you have the co-owner’s permission to use this number, and the date when the number was last modified..
            The values are:
            * 0=Do not fax
            * 1=May be faxed
            * 2=Prefers to be faxed
            VisionPLUS Service Data: AZXNDO-FAX-PHONE-FLAG
          example: "1"
        mobilePhoneFlag:
          type: string
          description: "Length: 1\nMobile phone flag. The values are: \n* 0 = Do not\
            \ call\n* 1 = May be called\n* 2 = Prefers to be called\nVisionPLUS Service\
            \ Data: AZXNDO-MOBILE-PHONE-FLAG"
          example: "1"
        emailFlag:
          type: string
          description: "Length: 1\nThe values are: \n * 0 = Do not e-mail\n * 1 =\
            \ May be e-mailed\n * 2 = Prefers to be e-mailed\nVisionPLUS Service Data:\
            \ AZXNDO-EMAIL-FLAG"
          example: "1"
        smsFlag:
          type: string
          description: |-
            Length: 1
            SMS indicator.
            VisionPLUS Service Data: AZXNDO-SMS-FLAG
          example: "1"
        lastName:
          type: string
          description: |-
            Length: 40
            Last name.
            VisionPLUS Service Data: AZXNDO-LAST-NAME
          example: Sivale
        middleName:
          type: string
          description: |-
            Length: 40
            Middle name.
            VisionPLUS Service Data: AZXNDO-MIDDLE-NAME
          example: Pedro
        firstName:
          type: string
          description: |-
            Length: 40
            First name.
            VisionPLUS Service Data: AZXNDO-FIRST-NAME
          example: Pavan
        suffix:
          type: string
          description: |-
            Length: 20
            Length: 20
            VisionPLUS Service Data: AZXNDO-SUFFIX
          example: Sr
        county:
          type: string
          description: |-
            Length: 30
            County portion of the mailing address of the owner.
            VisionPLUS Service Data: AZXNDO-COUNTY
          example: Orange
        accountCardNumber:
          type: string
          description: |-
            Length: 19
            Account card number.
            VisionPLUS Service Data: AZXNDO-ACCT-CARD-NBR.
          example: "451234567000000000"
x-config:
  tryItOut: 'true'
