openapi: 3.0.1
info:
  title: FirstVision™ Customer Service - API Documentation
  description: This documentation describes the REST APIs provided by the FirstVision™ Cards Microservice, which provides functionality for the issuing, management and processing of credit cards, including bank, co-branded, private label, debit, commercial, and prepaid
  version: "1.2"
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /customer/reversal:
    put:
      tags:
      - Customers
      summary: "Customer Reversal Update. VMX Service: M.CMS.CUST.REVERSAL.UPD, L8V1"
      description: "Customer Reversal Update. \nVMX Service: M.CMS.CUST.REVERSAL.UPD,\
        \ L8V1"
      operationId: Customer Reversal Update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerReversalRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerReversalResponse'
      x-proxy-name: Customer Reversal Update
      x-group-name: Customers
  /customer/:
    put:
      tags:
      - Customers
      summary: "Update Customer VMX Service: M.CMS.CUSTOMER.UPD, R8V5"
      description: "Updates the demographic and user data on the Customer record.\
        \ \nVMX Service: M.CMS.CUSTOMER.UPD, R8V5"
      operationId: Customer Update
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "422":
          description: |-
            VPL5SGC01E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SGC01S - REQUESTED CARD/ACCOUNT NUMBER IS NOT FOUND
            VPL5SGC02E - CUSTOMER, ACCOUNT OR CARD NUMBER REQUIRED
            VPL5SGC02S - ORGANIZATION NUMBER NOT FOUND
            VPL5SGC03E - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE, 0 OR 1
            VPL5SGC03S - ACCOUNT NUMBER NOT FOUND
            VPL5SGC04E - INVALID NUMBER TYPE INDICATOR - VALID VALUES ARE SPACE, 0 OR 1
            VPL5SGC04S - CUSTOMER NUMBER NOT FOUND
            VPL5SGC05E - ORGANIZATION NUMBER REQUIRED WHEN NUMBER TYPE 1
            VPL5SGC06E - INVALID DEMOGRAPHIC DATA INDICATOR - VALID VALUES ARE SPACE,0,1,2
            VPL5SGC07E - INVALID USER DATA INDICATOR - VALID VALUES ARE SPACE, 0, 1 OR 2
            VPL5SGC08E - DEMOGRAPHIC DATA AND USER DATA INDICATORS MUST BE CORRESPONDING
            VPL5SGC09E - STATUS MUST BE NUMERIC AND VALID VALUES ARE 0, 1 OR 2 ONLY
            VPL5SGC10E - VIP STATUS MUST BE NUMERIC AND VALID VALUES ARE 0 OR 1 ONLY
            VPL5SGC11E - SIC CODE MUST BE NUMERIC
            VPL5SGC12E - MARITAL STATUS MUST BE NUMERIC AND VALUES ARE 0 THRU 4
            VPL5SGC13E - NAME TYPE 1 IND MUST BE NUMERIC AND VALID VALUES ARE 0, 1 OR 2
            VPL5SGC14E - NAME TYPE 2 IND MUST BE NUMERIC AND VALID VALUES ARE 0, 1 OR 2
            VPL5SGC15E - NAME TYPE 3 IND MUST BE NUMERIC AND VALID VALUES ARE 0, 1 OR 2
            VPL5SGC16E - POSTAL CODE MUST BE ALPHA, SPACE, DASH OR NUMBER
            VPL5SGC17E - RESIDENCE CODE MUST BE NUMERIC AND VALID VALUES ARE 0 THRU 3
            VPL5SGC18E - CONTACT IND MUST BE NUMERIC
            VPL5SGC19E - CARRIER ROUTE LAST 2 CHARACTERS MUST BE NUMERIC
            VPL5SGC20E - SENT DATE MUST BE NUMERIC AND HAS VALUE ZERO OR VALID DATE FORMAT
            VPL5SGC21E - SENT DATE MUST BE <= THAN NEXT PROCESSING DATE OR ZERO
            VPL5SGC22E - STATEMENT MESSAGE INDICATOR MUST BE NUMERIC
            VPL5SGC23E - DATE OF BIRTH MUST BE ZERO OR HAVE VALID DATE FORMAT
            VPL5SGC24E - TAX IDENTIFICATION MUST BE NUMERIC AND VALID VALUES ARE 0, 1 OR 2
            VPL5SGC25E - WHEN TAX ID = 0 FIRST 9 CHARACTERS TAX ID NUMBER MUST BE NUMERIC
            VPL5SGC26E - FILED DATE MUST BE ZERO OR HAVE VALID DATE FORMAT
            VPL5SGC27E - FILED DATE MUST BE <= THAN NEXT PROCESSING DATE OR ZERO
            VPL5SGC28E - FLAG MUST BE NUMERIC AND VALID VALUES ARE 0 OR 1
            VPL5SGC29E - NUMBER OF DEPENDANTS MUST BE NUMERIC
            VPL5SGC30E - USER 10 DATE MUST BE ZERO OR VALID DATE FORMAT
            VPL5SGC31E - USER 11 DATE MUST BE ZERO OR VALID DATE FORMAT
            VPL5SGC33E - CAN NOT CHANGE STATUS TO PURGE WITH ACTIVE RELATIONSHIP
            VPL5SGC34E - CAN NOT CHANGE STATUS TO PURGE WITH ACTIVE ACCOUNT
            VPL5SGC35E - COUNTRY CODE MUST EXIST IN THE SECURITY SUBSYSTEM
            VPL5SGC36E - HOME PHONE FLAG MUST BE NUMERIC AND VALID VALUES ARE 0 OR 1
            VPL5SGC37E - FAX PHONE FLAG MUST BE NUMERIC AND VALID VALUES ARE 0 OR 1
            VPL5SGC38E - MOBILE PHONE FLAG MUST BE NUMERIC AND VALID VALUES ARE 0 OR 1
            VPL5SGC39E - EMAIL FLAG MUST BE NUMERIC AND VALID VALUES ARE 0 OR 1
            VPL5SGC40E - GENDER CODE MUST BE NUMERIC AND VALID VALUES ARE 0, 1 OR 2
            VPL5SGC41E - SMS FLAG MUST BE NUMERIC AND VALID VALUES ARE 0 OR 1
            VPL5SGC42E - AMONG HOME,WORK,FAX,MOBILE AND EMAIL IND, ONE CAN HAVE VALUE 2
            VPL5SGC44E - WHEN HOME PHONE FLAG IS 1 OR 2, ENTRY REQUIRED FOR HOME PHONE
            VPL5SGC45E - WHEN FAX PHONE FLAG IS 1 OR 2, ENTRY REQUIRED FOR FAX PHONE
            VPL5SGC46E - WHEN MOBILE PHONE FLAG IS 1 OR 2, ENTRY REQUIRED FOR MOBILE PHONE
            VPL5SGC47E - WHEN EMAIL FLAG IS 1 OR 2, ENTRY REQUIRED FOR EMAIL
            VPL5SGC53E - DATE OF BIRTH MUST BE LESS THAN NEXT PROCESSING DATE
            VPL5SGC54E - NAME-LINE-1 NOT MAINTAINABLE WHEN EXTENDED LOOKUP IS ACTIVE
            VPL5SGCZ4S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SGCZ8S - FOREIGN ORGANIZATION NUMBER NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerResponse'
      x-proxy-name: Customer Update
      x-group-name: Customers
  /customer/relationship:
    post:
      tags:
      - Customers
      summary: "Add Customer relationship number. VMX Service: M.CMS.RELATIONSHIP.ADD,\
        \ R8V2"
      description: "Add Customer relationship number. \nVMX Service: M.CMS.RELATIONSHIP.ADD,\
        \ R8V2"
      operationId: Relationship Number Add
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRelationshipDetailsRequest'
        required: true
      responses:
        "422":
          description: |-
            VPL5SAR03S - CUSTOMER NUMBER IS INVALID
            VPL5SAR06S - ORGANIZATION NUMBER MUST BE PROVIDED
            VPL5SAR07S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SAR09S - ORGANIZATION NUMBER NOT FOUND
            VPL5SAR10S - RELATIONSHIPS NOT ACTIVATED IN THIS ORGANIZATION
            VPL5SAR11S - CUSTOMER NUMBER MUST BE PROVIDED
            VPL5SAR12S - CREDIT LIMIT MUST BE PROVIDED
            VPL5SAR13S - BILLING MODIFY MUST BE 1 WHEN BILLING LEVEL IS 0 OR 1
            VPL5SAR14S - COMMERCIAL CARD FLAG MUST BE 0 (NOT A COMMERCIAL RELATIONSHIP)
            VPL5SAR15S - COMMERCIAL FLAG MUST BE "3" WHEN HCS IS ACTIVE
            VPL5SAR16S - COMMERCIAL FLAG CANNOT BE "3" IF HCS IS NOT ACTIVE
            VPL5SAR17S - CORPORATION CUSTOMER NUMBER IS REQUIRED
            VPL5SAR18S - CUSTOMER GROUP CODE IS REQUIRED
            VPL5SAR19S - CUSTOMER NUMBER NOT FOUND
            VPL5SAR20S - ACCOUNT CONTROL OVERRIDE IS INVALID
            VPL5SAR21S - BILLING CURRENCY NOT FOUND
            VPL5SAR22S - TRANSACTION CODE MUST POINT TO LOGIC MODULE 99
            VPL5SAR23S - REVERSAL TRANSACTION CODE MUST POINT TO LOGIC MODULE 99
            VPL5SAR24S - INVALID BILLING CYCLE
            VPL5SAR25S - MEMO PMT & REV TRANS CAN'T BE 0 WHEN BILL LVL IS 0 OR 2
            VPL5SAR26S - MEMO PMT TRANS & MEMO PMT REV TRANS CANNOT BE THE SAME
            VPL5SAR27S - THERE MUST BE A VALID ACCT CTRL TABLE WHEN BILLING LVL IS 0 OR 2
            VPL5SAR28S - ACCOUNT CONTROL TABLE MUST BE ZERO WHEN BILLING LEVEL IS 1
            VPL5SAR29S - SUBORDINATE CR LIMIT CAN'T BE GREATER THAN RELATIONSHIP CR LIMIT
            VPL5SAR30S - CORPORATE CUSTOMER NUMBER IS NOT FOUND
            VPL5SAR31S - INVALID AUTHORIZATION CIRTERIA TABLE NUMBER
            VPL5SAR34S - NUMBER GENERATION SERVICE FAILED
            VPL5SAR35S - MISMATCHED GENERATED FOREIGN ORG
            VPL5SAR36S - RELATIONSHIP NUMBER ALREADY EXISTS
            VPL5SAR37S - RELATIONSHIP NUMBER MUST NOT BE EQUAL TO EXISTING CUSTOMER
            VPL5SAR38S - RELATIONSHIP NUMBER MUST NOT BE EQUAL TO EXISTING ACCOUNT
            VPL5SAR39S - DUAL RELATIONSHIP ORG IS NOT FOUND
            VPL5SAR40S - DUAL RELATIONSHIP NUMBER ALREADY EXISTS
            VPL5SAR41S - DUAL RELATIONSHIP NUMBER MUST NOT BE EQUAL TO EXISTING CUSTOMER
            VPL5SAR42S - DUAL RELATIONSHIP NUMBER MUST NOT BE EQUAL TO EXISTING ACCOUNT
            VPL5SAR61S - VALUE 0 NOT ALLOWED FOR CRM ACTIVE NOT EQUAL 3
            VPL5SAR62S - VALUE 0 NOT ALLOWED FOR BILLING LEVEL NOT EQUAL 1
            VPL5SAR63S - STMT TYPE MUST BE 0 IF BILLING CYCLE (MODIFY) EQUAL TO 0
            VPL5SAR64S - ACCT CNTRL OVERRIDE MUST BE 0 FOR BILLING CYC(MODIFY) EQUAL TO 0
            VPL5SAR65S - MEMO BILL CURR MUST BE 0 FOR BILLING CYCLE (MODIFY) EQUAL TO 0
            VPL5SAR66S - MEMO PMT TRANS MUST BE 0 FOR BILLING CYCLE (MODIFY) EQUAL TO 0
            VPL5SAR67S - MEMO PMT REV TRANS MUST BE 0 FOR BILLING CYC (MODIFY) EQUAL TO 0
            VPL5SAR68S - BILLING LVL(MODIFY) MUST NOT BE 0 WHEN SUB ACCTS BILL DIFF TIMES
            VPL5SAR01E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SAR02E - INVALID RELATIONSHIP NUMBER
            VPL5SAR03E - CUSTOMER NUMBER MUST BE NUMERIC
            VPL5SAR04E - CREDIT LIMIT MUST BE NUMERIC AND GREATER THAN ZERO
            VPL5SAR05E - INVALID BLOCK CODE
            VPL5SAR06E - VALID MAIL CODE VALUES ARE "0" AND "1" ONLY
            VPL5SAR07E - VALID AMT/PCT FLAG VALUES ARE "0" AND "1" ONLY
            VPL5SAR08E - INVALID PERCENTAGE AMOUNT
            VPL5SAR09E - AVAILABLE RESERVE AMT/PCT MUST BE NUMERIC
            VPL5SAR10E - VALID STATEMENT TYPES ARE 0 AND 1
            VPL5SAR11E - CNSLDTD IS NOT ALLOWED| ACCT CTRL TABLE OVERRIDE CAN'T BE INPUT
            VPL5SAR12E - ACCOUNT CONTROL OVERRIDE MUST BE NUMERIC
            VPL5SAR13E - BILLING CURRENCY MUST BE NUMERIC
            VPL5SAR14E - CNSLDTD IS NOT ALLOWED| MEMO PAYMENT TXN NUMB CAN'T BE INPUT
            VPL5SAR15E - MEMO PAYMENT TRANSACTION CODE MUST BE NUMERIC
            VPL5SAR16E - CNSLDTD IS NOT ALLOWED| MEMO PMT REVERSAL TXN NUMB CAN'T BE INPUT
            VPL5SAR17E - MEMO PAYMENT REVERSAL TRANSACTION CODE MUST BE NUMERIC
            VPL5SAR18E - VALID MEMO BALANCE FLAG ARE 0 AND 1
            VPL5SAR19E - VALID BILLING CYCLE VALUES ARE 01 THRU 31
            VPL5SAR20E - BILLING CYCLE DAY IS REQUIRED
            VPL5SAR21E - CNSLDTD IS NOT ALLOWED| BILLING LVL CAN'T BE INPUT
            VPL5SAR22E - VALID BILLING LEVEL VALUES ARE 0 1 AND 2
            VPL5SAR23E - CNSLDTD IS NOT ALLOWED| BILLING LVL MODIFY CAN'T BE INPUT
            VPL5SAR24E - VALID BILLING LEVEL MODIFY VALUES ARE 0 AND 1
            VPL5SAR25E - VALID ANNUAL FEE VALUES ARE 0 1 AND 2
            VPL5SAR26E - VALID ANNUAL FEE MODIFY VALUES ARE 0 AND 1
            VPL5SAR27E - VALID LATE FEE VALUES ARE 0 1 AND 2
            VPL5SAR28E - VALID LATE FEE MODIFY VALUES ARE 0 AND 1
            VPL5SAR29E - VALID NSF FEE VALUES ARE 0 1 AND 2
            VPL5SAR30E - VALID NSF FEE MODIFY VALUES ARE 0 AND 1
            VPL5SAR31E - VALID CREDIT LIMIT DEFAULT MUST BE NUMERIC
            VPL5SAR32E - VALID CREDIT LIMIT DEFAULT MODIFY VALUES ARE 0 AND 1
            VPL5SAR33E - VALID VALUES FOR COMMERCIAL CARD ARE 0 THRU 3
            VPL5SAR34E - NOT A COMMERCIAL CARD RELATIONSHIP| CO CUST NUMB CAN'T BE INPUT
            VPL5SAR35E - NOT A COMMERCIAL CARD RELATIONSHIP|CUST GROUP CODE CAN'T BE INPUT
            VPL5SAR36E - NOT A COMMERCIAL CARD RELATIONSHIP| AUTH CRITERIA TAB CAN'T INPUT
            VPL5SAR37E - NOT A COMMERCIAL CARD RELATIONSHIP| COST CENTER NO CAN'T BE INPUT
            VPL5SAR38E - NOT A COMMERCIAL CARD RELATIONSHIP| FISCAL YR END CAN'T BE INPUT
            VPL5SAR39E - NOT A COMMERCIAL CARD RELATIONSHIP|CURR CONTRACT EXPD CAN'T INPUT
            VPL5SAR40E - NOT A COMMERCIAL CARD RELATIONSHIP| CO ID NUMB CAN'T BE INPUT
            VPL5SAR41E - NOT A COMMERCIAL CARD RELATIONSHIP| SOURCE CODE CAN'T BE INPUT
            VPL5SAR42E - NOT A COMMERCIAL CARD RELATIONSHIP| CONTACT NAME CAN'T BE INPUT
            VPL5SAR43E - NOT A COMMERCIAL CARD RELATIONSHIP| CONTACT PHONE CAN'T BE INPUT
            VPL5SAR44E - NOT A COMMERCIAL CARD RELATIONSHIP| OFFICERS NAME CAN'T BE INPUT
            VPL5SAR45E - NOT A COMMERCIAL CARD RELATIONSHIP| USER 1 IS NOT OPEN FOR INPUT
            VPL5SAR46E - NOT A COMMERCIAL CARD RELATIONSHIP| USER 2 IS NOT OPEN FOR INPUT
            VPL5SAR47E - NOT A COMMERCIAL CARD RELATIONSHIP| USER 3 IS NOT OPEN FOR INPUT
            VPL5SAR48E - NOT A COMMERCIAL CARD RELATIONSHIP| USER 4 IS NOT OPEN FOR INPUT
            VPL5SAR49E - NOT A COMMERCIAL CARD RELATIONSHIP| USER 5 IS NOT OPEN FOR INPUT
            VPL5SAR50E - NOT A COMMERCIAL CARD RELATIONSHIP| USER 6 IS NOT OPEN FOR INPUT
            VPL5SAR51E - CORPORATION CUSTOMER NUMBER MUST BE NUMERIC
            VPL5SAR52E - THE VALID VALUES FOR AUTH CRITERIA TAB NUMB ARE THRU AAA TO 999
            VPL5SAR53E - COST CENTER REPORTING NUMBER IS REQUIRED
            VPL5SAR54E - THE VALID VALUE OF FISCAL YEAR END IS THROUGH 01 TO 12
            VPL5SAR55E - FISCAL YEAR END IS REQUIRED
            VPL5SAR56E - NOT A COMMERCIAL ORG AND CURRENT CONTRACT EXPIRE DATE CAN'T INPUT
            VPL5SAR57E - CURRENT CONTRACT EXPIRE DATE MUST BE NUMERIC AND GREATER THAN 0
            VPL5SAR58E - INVALID DATE IN CURRENT CONTRACT EXPIRE DATE
            VPL5SAR59E - CURRENT CONTRACT EXPIRE DATE MUST BE GREATER THAN TODAY
            VPL5SAR60E - CORPORATE ID NUMBER MUST BE NUMERIC
            VPL5SAR61E - USER DATE 1 MUST BE NUMERIC
            VPL5SAR62E - USER DATE 1 - INVALID DATE
            VPL5SAR63E - USER DATE 2 MUST BE NUMERIC
            VPL5SAR64E - USER DATE 2 - INVALID DATE
            VPL5SAR65E - USER AMOUNT 1 MUST BE NUMERIC
            VPL5SAR66E - USER AMOUNT 2 MUST BE NUMERIC
            VPL5SAR67E - INVALID MODIFY IND, VALID VALUES ARE 0 OR 1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerRelationshipDetailsResponse'
      x-proxy-name: Relationship Number Add
      x-group-name: Customers
  /customer/relationshipNumber:
    post:
      tags:
      - Customers
      summary: "Find Relationship Number. VMX Service: M.CMS.CUST.TO.REL.INQ, R8V1"
      description: "Finds the Relationship number associated with A Customer number.\
        \ \nVMX Service: M.CMS.CUST.TO.REL.INQ, R8V1"
      operationId: Customer To Relationship Navigational Service
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerToRelationshipInquiryRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "422":
          description: |-
            VPL5S0009E - REQUESTED CARD/ACCOUNT NUMBER IS NOT FOUND
            VPL5S0011S - CARD/ACCOUNT NUMBER IS NOT FOUND FOR ORG
            VPL5S0015E - REQUESTED FUNCTION TYPE IS NOT VALID
            VPL5S0027S - REQUESTED FUNCTION CODE IS INVALID START CARD NUMBER NOT NUMERIC
            VPL5S0028S - REQUESTED START ITEM IS INVALID
            VPL5S0029S - ORG NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5S0035S - CUSTOMER NUMBER IS INVALID
            VPL5S0036S - REQUESTED CUSTOMER NUMBER IS NOT FOUND
            VPL5S0037S - CUSTOMER RECORD NOT ON FILE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerToRelationshipInquiryResponse'
      x-proxy-name: Customer to Relationship Navigational Service
      x-group-name: Customers
  /customer/l8v2:
    post:
      tags:
      - Customers
      summary: "Add New Customer. VMX Service: M.CMS.CUSTOMER.ADD, L8V2"
      description: "Allows A Client To Add A Customer Name/Address Record. \nVMX Service:\
        \ M.CMS.CUSTOMER.ADD, L8V2"
      operationId: Customer Add L8V2
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomerRequestL8V2'
            examples:
              CustomerL8v2: {$ref: '#/components/examples/CustomerL8v2Request'}
        required: true
      responses:
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "422":
          description: |-
            VPL5SNA01E - USER DATE 3 INVALID
            VPL5SNA02E - INCOME SHOULD BE NUMERIC
            VPL5SNA03E - INCOME REQUIRED
            VPL5SNA04E - CUIT SHOULD BE NUMERIC
            VPL5SNA05E - CUIT REQUIRED
            VPL5SNA06E - OCCUPATION CODE SHOULD BE NUMERIC
            VPL5SNA07E - OCCUPATION CODE REQUIRED
            VPL5SNA08E - IVA SHOULD BE NUMERIC
            VPL5SNA09E - IVA REQUIRED
            VPL5SNA24E -VALID VALUES 1 2 3 FOR STMT IND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCustomerResponseL8V2'
              examples:
                CustomerL8v2: {$ref: '#/components/examples/CustomerL8v2Response'}
      x-proxy-name: Customer Add L8V2
      x-group-name: Customers
  /customer/generation:
    post:
      tags:
      - Customers
      summary: "Generate customer and account number. VMX Service: M.CMS.NBRGENERATION.ACT,\
        \ L8V1"
      description: "This service generates customer, relationship, account, and embosser\
        \ numbers. \nVMX Service: M.CMS.NBRGENERATION.ACT, L8V1"
      operationId: Generate Customer And Account Number
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CmsNumberGenerationRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CmsNumberGenerationResponse'
      x-proxy-name: Generate Customer and Account Number
      x-group-name: Customers
  /customer/details-l8v4:
    post:
      tags:
      - Customers
      summary: "Get Cards Details l8v4. VMX Service: M.CMS.CUSTCHANNEL.INQ, L8V4"
      description: "Get Customer Cards Details version 4. \nVMX Service: M.CMS.CUSTCHANNEL.INQ,\
        \ L8V4"
      operationId: Cards Details Inquiry L8V4
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerChannelVersion4Request'
        required: true
      responses:
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "422":
          description: |-
            VPL5SCE06E - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998
            VPL5SCE07E - ACCT/CARD BLOCKED OR CARD NOT ACTIVATED OR NO ACCT ON CUST NBR
            VPL5SCE08E - INVALID FUCNTION CODE PASSED TO SERVICE
            VPL5SCE09E - SERVICE FUNCTION CODE IS INVALID
            VPL5SCE10S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SCE11S - REQUESTED ORGANIZATION NOT FOUND
            VPL5SCE15S - ACCOUNT NUMBER NOT FOUND
            VPL5SCE17S - ACCOUNT/CARD CROSS REFERENCE FILE UNAVAILABLE
            VPL5SCE18S - GETMAIN FAILURE ON N/A SERVICE INPUT AREA
            VPL5SCE19S - GETMAIN FAILURE ON N/A SERVICE OUTPUT AREA
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerChannelVersion4Response'
      x-proxy-name: Cards Details Inquiry L8V4
      x-group-name: Customers
  /customer/demographicData-l8v2:
    post:
      tags:
      - Customers
      summary: "Request Demographic Data For A Customer. VMX Service: M.CMS.DEMOGRAPHIC.INQ,\
        \ L8V2"
      description: "Request Demographic Data For A Customer. \nVMX Service: M.CMS.DEMOGRAPHIC.INQ,\
        \ L8V2"
      operationId: Demographic Data Inquiry L8V2
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DemographicInquiryRequestL8V2'
            examples:
              CustomerDemographicDataL8v2: {$ref: '#/components/examples/CustomerDemographicDataL8v2Request'}
        required: true
      responses:
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemographicInquiryResponseL8V2'
              examples:
                CustomerDemographicDataL8v2: {$ref: '#/components/examples/CustomerDemographicDataL8v2Response'}
      x-proxy-name: Demographic Data Inquiry L8V2
      x-group-name: Customers
  /customer/activation:
    post:
      tags:
      - Customers
      summary: "Allows A Client To Add A Customer Name/Address Record and Activate\
        \ PAN token. VMX Service: M.CMS.CUST.ACTIVATE.ADD, L8V1"
      description: "Allows A Client To Add A Customer Name/Address Record and Activate\
        \ PAN token. \nVMX Service: M.CMS.CUST.ACTIVATE.ADD, L8V1"
      operationId: Add New Customer With PAN Activation
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomerActivationRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCustomerActivationResponse'
      x-proxy-name: Add New Customer with PAN Activation
      x-group-name: Customers
  /customer/accountNumber:
    post:
      tags:
      - Customers
      summary: "Find An Account Number. VMX Service: M.CMS.CUST.TO.ACCT.INQ, R8V3"
      description: "Finds an Account number associated with a Customer number. \n\
        VMX Service: M.CMS.CUST.TO.ACCT.INQ, R8V3"
      operationId: Account Number Inquiry
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerToAccountInquiryRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "422":
          description: |-
            VPL5SCA06E - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998
            VPL5SCA07E - CUSTOMER NUMBER IS INVALID
            VPL5SCA08E - INVALID TOKEN DATA PASSED TO SERVICE
            VPL5SCA09E - SERVICE FUNCTION CODE IS INVALID
            VPL5SCA10S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SCA11S - REQUESTED ORGANIZATION NOT FOUND
            VPL5SCA14S - ORGANIZATION NOT FOUND ON FILE
            VPL5SCA15S - ACCOUNT NUMBER NOT FOUND
            VPL5SCA16S - LOGO NOT FOUND ON FILE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerToAccountInquiryResponse'
      x-proxy-name: Account Number Inquiry
      x-group-name: Customers
  /customer/{customerNumber}/relationship:
    get:
      tags:
      - Customers
      summary: "Inquire Relationship Customer. VMX Service: M.CMS.REL.CUST.INQ, L8V1"
      description: "Obtains the Relationship number associated with the Customer number.\
        \ \nVMX Service: M.CMS.REL.CUST.INQ, L8V1"
      operationId: Relationship Customer Inquiry
      parameters:
      - name: organizationNumber
        in: query
        description: organizationNumber
        required: true
        schema:
          type: integer
          format: int32
        example: 807
      - name: customerNumber
        in: path
        description: customerNumber
        required: true
        schema:
          maxLength: 19
          minLength: 19
          type: string
        example: "0080760000000001559"
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "422":
          description: |-
            VPL5SRC06E - ORG IS NOT NUMERIC
            VPL5SRC07E - CUST NBR IS NOT NUMERIC OR NOT SPACES
            VPL5SRC13S - ORG INVALID
            VPL5SRC07E - CUST NBR IS INVALID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerRelationshipFindDetailsResponse'
      x-proxy-name: Relationship Customer Inquiry
      x-group-name: Customers
  /customer/{accountNumber}/current-prior-address:
    get:
      tags:
      - Customers
      summary: "Current/Prior Address Inquiry. VMX Service: M.CMS.ADDRESS.INQ, R8V2"
      description: "The Current/Prior Address Inquiry service provides information\
        \ from the Customer Name/Address file (AMNA) and the Prior Mailing Address\
        \ file (AMPM). \nVMX Service: M.CMS.ADDRESS.INQ, R8V2"
      operationId: Current/Prior Address Inquiry
      parameters:
      - name: accountNumber
        in: path
        description: "Account number, relationship number, or customer number. This\
          \ service performs the appropriate searches via the navigational services\
          \ to find a match on the Customer Name/Address record, Relationship record,\
          \ or Account Base Segment record"
        required: true
        schema:
          maxLength: 19
          minLength: 19
          type: string
        example: "5491586126477642194"
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          type: integer
          format: int32
        example: 807
      - name: ownerCoOwnerFlag
        in: query
        description: |-
          Owner/co-owner flag
          The descriptions are:
          * 0 = Both owner and co-owner
          * 1 = Owner only(Default)
          * 2 = Co-owner only
        required: true
        schema:
          type: integer
          format: int32
        example: 0
      - name: currentPriorFlag
        in: query
        description: |-
          Current/prior flag
          The descriptions are:
          * B = Both current and prior address information(Default)
          * C = Current address information only
          * P = Prior address information only
        required: true
        schema:
          maxLength: 1
          minLength: 0
          type: string
        example: B
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "422":
          description: |
            VPL5SAD01S – ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998
            VPL5SAD02E – ACCOUNT NUMBER IS NOT NUMERIC OR EQUAL SPACES
            VPL5SAD03E – INVALID OWNER CO-OWNER FLAG
            VPL5SAD04E – INVALID CURR/PRIOR ADDRESS FLAG
            VPL5SAD05E – CO-OWNER INFO OF PRIOR ADDRESS IS AN INVALID REQUEST
            VPL5SAD06E – ORGANIZATION NOT DETERMINED
            VPL5SAD07S – REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SAD10S – CARD/ACCOUNT NUMBER IS NOT FOUND FOR ORG
            VPL5SAD11S – PRIOR MAILER FLAG IS TURNED OFF
            VPL5SAD12S – ACCOUNT NOT FOUND ON FILE
            VPL5SAD13S – RELATIONSHIP RECORD NOT ON FILE
            VPL5SAD14S – CUSTOMER RECORD NOT ON FILE
            VPL5SAD15S – ACCOUNT NOT FOUND ON FILE
            VPL5SAD16E – CO-OWNER INFO OF PRIOR ADDRESS IS AN INVALID REQUEST
            VPL5SAD17E – NO PRIOR MAILER INFORMATION IS AVAILABLE
            VPL5SAD18E – NO VALID ACCOUNTS FOUND FOR THE CUSTOMER
            VPL5SAD19S – ACCOUNT NOT FOUND ON FILE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentPriorAddressResponse'
      x-proxy-name: Current/Prior Address Inquiry
      x-group-name: Customers
  /customer/v3/cards/details:
    get:
      tags:
      - Customers
      summary: "Get Cards Details. VMX Service: M.CMS.CUSTCHANNEL.INQ, L8V5"
      description: "Get list of cards and details linked to a customer. \nVMX Service:\
        \ M.CMS.CUSTCHANNEL.INQ, L8V5"
      operationId: Cards Details Inquiry L8V5
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      - name: organizationNumber
        in: query
        description: |-
          Length: 3
          Identification number of the organization associated with this User (Sign on name). * 1 Must be numeric and less than 999.
          * 2 Org Number must be on file.
          * 3 If Org is not provided a lookup will be performed using the Card/Account number provided.
          AZXXPI-ORG
        required: true
        schema:
          type: string
        example: 807
      - name: customerNumber
        in: header
        description: |-
          Length: 19
          Customer number that identifies the Customer Name/Address record which lists the mailing address of the cardholder. The customer number entered must identify an existing Customer Name/Address record previously added into CMS. If this field is blank, the name and mailing address in the Embosser record is used (NAME 1–2, ADDRESS LINE 1–2, CITY, ST/ PR, and POSTAL CODE on ARME02).
          AZXCEI –CUST-NBR-X
        required: true
        schema:
          maxLength: 19
          minLength: 19
          type: string
        example: 4513074002573466583
      - name: functionCode
        in: query
        description: |-
          Length: 1
          Scrolling feature
          The values are:
          * Space = First 5 items (Default)
          * N = Next 5 items
          * P = Previous 5 items
          AZXXPI-FUNCTION-TYPE
        required: true
        schema:
          pattern: ^( |N|P)$
          type: string
      - name: startOrganization
        in: query
        description: |-
          Length: 1
          Starting account organization associated with the scroll* 1.  Must be numeric and less than 999.
          * 2.  Org Number must be on file.
          * 3.  If Org is not provided a lookup will be performed using the Card/Account number provided.
          ARXCAI-SVC-START-ACCT-ORG
        required: false
        schema:
          maxLength: 3
          minLength: 1
          type: string
      - name: startAccount
        in: query
        description: |-
          Length: 19
          Starting account number associated with the scrollMust be on AMBS file.
          ARXCAI-SVC-START-ACCT-NBR
        required: false
        schema:
          maxLength: 19
          minLength: 0
          type: string
      responses:
        "400":
          description: Bad Request
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "422":
          description: "Unprocessable Entity\n\nVPL5SCE06S - ORGANIZATION RECORD NOT\
            \ FOUND\n\nVPL5SCE07S - ORGANIZATION RECORD NOT FOUND\n\nVPL5SCE09E -\
            \ INVALID SVC FUNC CODE                                    \n\nVPL5SCE06E\
            \ - ORGANIZATION RECORD NOT FOUND                            \n\nVPL5SCE07E\
            \ - NO VALID CARDS ARE ASSOCIATED WITH THIS CUSTOMER         \n\nVPL5SCE08E\
            \ - START ORG & ACCT SHOULD BE PROVIDED WHEN SVC FUNC CODE IS N OR P\n\
            \nVPL5SCE10S - ORGANIZATION RECORD NOT FOUND                         \
            \   \n\nVPL5SCE15S - ACCOUNT NOT FOUND                               \
            \         \n\nVPL5SCE17S - ACCOUNT NOT FOUND IN ACCOUNT/CARD REFERENCE\
            \ FILE         \n\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCardsDetailsResponseV3'
      x-proxy-name: Cards Details Inquiry L8V5
      x-group-name: Customers
components:
  examples:
    CustomerDemographicDataL8v2Request:
      value:
        organizationNumber: 902
        customerAccountCardNumber: '0005227940199707715'
        numberType: '0'
    CustomerDemographicDataL8v2Response:
      value:
        organizationNumber: 411
        customerNumber: 0MCBMCCL0210222/411
        addStatus: 99
        status: 0
        source: O
        dateLastMaintenance: '2022-08-15'
        dateLastAddressChange: '2022-08-15'
        vipStatus: Not VIP Customer
        sicCode: 0
        duplicateCurrency: 0
        makerCoMakerIndicator: Maker
        nameAddrData:
        - sequence: 1
          identificationNumberFlag: Social Security number
          homePhoneNumber: '00000000551387459632'
          employerPhoneFlag: No, do not contact the customer at this number
          employerPhoneNumber: '00000000000000000000'
          homeFaxPhoneNumber: '00000000000000000000'
          mobilePhoneNumber: '00000005511986918192'
          postalCode: '1234567890'
          maritalStatus: Not used
          ownOrRentResidenceFlag: 'Unknown or unused '
          carrierRoute:
            carrierRoute3and4: 0
          driverLicense: {}
          w9Indicator: 1
          numberOfDependents: 0
          statementMessageIndicator: 0
          email: edmilson.santos@iteris.com.br
          nameTypeIndicator:
            nameTypeIndicator1: Personal name
            nameTypeIndicator2: Personal name
            nameTypeIndicator3: Personal name
          nameAddressData:
            nameLine1: Ed
            houseAddress1: rua um
            houseAddress2: rua dois
            cityAndState: santos
            state: SSP
            contactIndicator: 0
            genderCode: 0
            homePhoneFlag: No, do not contact the customer at this number
            faxPhoneFlag: No, do not contact the customer at this number
            mobilePhoneFlag: No, do not contact the customer at this number
            emailFlag: " No, owner may not be contacted using this e-mail address"
            smsFlag: No, do not contact the customer via SMS
            firstName: Ed
          userfield:
          - sequence: 1
            userLabel: USER 1
          - sequence: 2
            userLabel: USER 2
          - sequence: 3
            userLabel: USER 3
          - sequence: 4
            userLabel: USER 4
          - sequence: 5
            userLabel: USER 5
          - sequence: 6
            userLabel: USER 6
          - sequence: 7
            userLabel: USER 7
          - sequence: 8
            userLabel: USER 8
          - sequence: 9
            userLabel: USER 9
          - sequence: 10
            userLabel: USER DATE1
          - sequence: 11
            userLabel: USER DATE2
          - sequence: 12
            userLabel: USER DATA1
          - sequence: 13
            userLabel: USER DATA2
          - sequence: 14
            userLabel: USER DATA3
          - sequence: 15
            userLabel: BANK ID
          demofield:
          - sequence: 1
            demoLabel: DEMO 1
          - sequence: 2
            demoLabel: DEMO 2
          - sequence: 3
            demoLabel: BUSINES ID
        - sequence: 2
          identificationNumberFlag: Social Security number
          ownOrRentResidenceFlag: 'Unknown or unused '
          carrierRoute:
            carrierRoute3and4: 0
          driverLicense: {}
          w9Indicator: 0
          numberOfDependents: 0
          statementMessageIndicator: 0
          nameTypeIndicator:
            nameTypeIndicator1: Personal name
            nameTypeIndicator2: Personal name
            nameTypeIndicator3: Personal name
          nameAddressData:
            contactIndicator: 0
            genderCode: 0
            homePhoneFlag: No, do not contact the customer at this number
            faxPhoneFlag: No, do not contact the customer at this number
            mobilePhoneFlag: No, do not contact the customer at this number
            emailFlag: " No, owner may not be contacted using this e-mail address"
            smsFlag: No, do not contact the customer via SMS
          userfield:
          - sequence: 1
          - sequence: 2
          - sequence: 3
          - sequence: 4
          - sequence: 5
          - sequence: 6
          - sequence: 7
          - sequence: 8
          - sequence: 9
          - sequence: 10
          - sequence: 11
          - sequence: 12
          - sequence: 13
          - sequence: 14
          - sequence: 15
          demofield:
          - sequence: 1
          - sequence: 2
          - sequence: 3
    CustomerL8v2Request:
      value:
        customerData:
          customerKeyData:
            organizationNumber: 807
            customerNumber: '4513074002573000001'
            accountNumber: ''
            coOwnerIndicator: 1
            dualFlag: '0'
          customerMiscellaneousData:
            vipStatus: 1
            sicCode: 123456
            status: 1
          ownerCoOwnerData:
            ownerData:
              title: string
              maritalStatus: '1'
              nameLine1: string
              nameTypeIndicator1: 0
              nameLine2: OWN NAME L2 TEST9
              nameTypeIndicator2: 1
              nameLine3: OWN NAME L3
              nameTypeIndicator3: 1
              houseNumber: '12349'
              houseName: LILY RESIDENCE
              houseAddress1: OWN ADDR L19
              houseAddress2: OWN ADDR L29
              houseAddress3: OWN ADDR L39
              houseAddress4: OWN ADDR L49
              city: Sunshine
              state: FL
              postalCode: '12345679'
              countryCode: USA
              ownOrRentResidenceFlag: 2
              foreignIndicator: A
              languageIndicator: ENG
              mailingListIndicator: '1'
              contactIndicator: 12
              genderCode: 1
              carrierRoute1And2: C1
              carrierRoute3And4: 11
              homePhoneNumber: 123-456-9990
              homeFaxPhoneNumber: 223-456-7890
              mobilePhoneNumber: 323-456-7890
              dateOfBirth: '2022-10-20'
              driverLicenseNumber: STA
              driverLicenseState: AST
              driverLicenseCountry: A
              identificationNumberFlag: 2
              identificationNumber: '123456789'
              dateOfFile: '2022-10-20'
              statementMessageIndicator: 1
              employerName: Milton
              employerAddress1: EMP ADDR L1
              employerAddress2: EMP ADDR L2
              employerPhoneNumber: 123-456-7890
              employerPhoneExtension: '123456'
              employerPhoneFlag: 1
              position: CEO
              relativeName: Relative Name
              numberOfDependents: 999
              email: ABC.DEF@emailCompany.com
              memo1: Memo 1
              memo2: Memo 2
              user1: U1
              user2: U2
              user3: U323323
              user4: U
              user5: U
              user6: U6
              user7: U7
              user8: U8
              user9: U9
              user10: '2011031'
              user11: '2011032'
              user12: U12
              user13: U13
              user14: U14
              user15: U15
              demographic1: USER DEMO 1
              demographic2: USER DEMO 2
              demographic3: USER DEMO 3
              homePhoneFlag: 1
              faxPhoneFlag: 1
              mobilePhoneFlag: 1
              emailFlag: 1
              smsFlag: 1
              lastName: Gonzalez
              middleName: Pedro
              firstName: Juan
              suffix: Sr
              county: Orange
              ffNumber: string
              statement2Indicator: '1'
              address2Indicator: s
              address3Indicator: s
              address2Line1: string
              address2Line2: string
              address2Line3: string
              city2: string
              postalCode2: string
              countryCode2: PAN
              address3Line1: string
              address3Line2: string
              address3Line3: string
              city3: string
              postalCode3: string
              countryCode3: PAN
              userDate3: '2022-10-20'
              income: 0
              cuit: '20374645497'
              occupationCode: '512233'
              ivaPosition: '1'
            coOwnerData:
              title: string
              maritalStatus: '1'
              nameLine1: string
              nameTypeIndicator1: 0
              nameLine2: OWN NAME L2 TEST9
              nameTypeIndicator2: 1
              nameLine3: OWN NAME L3
              nameTypeIndicator3: 1
              houseNumber: '12349'
              houseName: LILY RESIDENCE
              houseAddress1: OWN ADDR L19
              houseAddress2: OWN ADDR L29
              houseAddress3: OWN ADDR L39
              houseAddress4: OWN ADDR L49
              city: Sunshine
              state: FL
              postalCode: '12345679'
              countryCode: USA
              ownOrRentResidenceFlag: 2
              foreignIndicator: A
              languageIndicator: ENG
              mailingListIndicator: '1'
              contactIndicator: 12
              genderCode: 1
              carrierRoute1And2: C1
              carrierRoute3And4: 11
              homePhoneNumber: 123-456-9990
              homeFaxPhoneNumber: 223-456-7890
              mobilePhoneNumber: 323-456-7890
              dateOfBirth: '2023-02-10'
              driverLicenseNumber: A
              driverLicenseState: TAS
              driverLicenseCountry: ASD
              identificationNumberFlag: 2
              identificationNumber: '123456789'
              dateOfFile: '2023-02-10'
              statementMessageIndicator: 1
              employerName: Milton
              employerAddress1: EMP ADDR L1
              employerAddress2: EMP ADDR L2
              employerPhoneNumber: 123-456-7890
              employerPhoneExtension: '123456'
              employerPhoneFlag: 1
              position: CEO
              relativeName: Relative Name
              numberOfDependents: 999
              email: ABC.DEF@emailCompany.com
              memo1: Memo 1
              memo2: Memo 2
              user1: U1
              user2: U2
              user3: U323323
              user4: U
              user5: U
              user6: U6
              user7: U7
              user8: U8
              user9: U9
              user10: '2011031'
              user11: '2011032'
              user12: U12
              user13: U13
              user14: U14
              user15: U15
              demographic1: USER DEMO 1
              demographic2: USER DEMO 2
              demographic3: USER DEMO 3
              homePhoneFlag: 1
              faxPhoneFlag: 1
              mobilePhoneFlag: 1
              emailFlag: 1
              smsFlag: 1
              lastName: Gonzalez
              middleName: Pedro
              firstName: Juan
              suffix: Sr
              county: Orange
              ffNumber: string
              statement2Indicator: A
              address2Indicator: A
              address3Indicator: A
              address2Line1: string
              address2Line2: string
              address2Line3: string
              city2: string
              postalCode2: ASD
              countryCode2: SDF
              address3Line1: string
              address3Line2: string
              address3Line3: string
              city3: string
              postalCode3: string
              countryCode3: ASD
              userDate3: '2023-02-10'
              income: 0
              cuit: '20374645497'
              occupationCode: '123456'
              ivaPosition: '1'
        resvData:
          reservedCode1: string
          reservedCode2: string
          reservedCode3: string
          reservedCode4: string
          reservedCode5: string
          reservedDate1: '2022-10-20'
          reservedDate2: '2022-10-20'
          reservedDate3: '2022-10-20'
          reservedDate4: '2022-10-20'
          reservedDate5: '2022-10-20'
          reservedAmt1: 0
          reservedAmt2: 0
          reservedAmt3: 0
          reservedAmt4: 0
          reservedAmt5: 0
    CustomerL8v2Response:
      value:
        organizationNumber: 807
        organizationAssociatedToForeignAccount: 806
        foreignCustomerOrganization: 0
        customerNumber: '4513074002573000000'
  schemas:
    CarrierRoute:
      type: object
      properties:
        carrierRoute1and2:
          type: string
          description: Carrier Route 1-2
          example: C1
        carrierRoute3and4:
          type: integer
          description: Carrier Route 3-4
          format: int32
          example: 11
    DriverLicense:
      type: object
      properties:
        driverLicenseNumber:
          type: string
          description: Driver's License Number
        driverLicenseState:
          type: string
          description: Driver's License State
        driverLicenseCountry:
          type: string
          description: Driver's License Country
    UpdateCustomerReversalRequest:
      required:
      - customerNumber
      - dummyCustomerNumber
      - globalQualification
      - organizationNumber
      - panToken
      - postalCode
      - sicCode
      - status
      - vipStatus
      type: object
      properties:
        organizationNumber:
          type: integer
          description: Organization Number
          format: int32
          example: 807
        customerNumber:
          type: string
          description: "Account, Card or Customer Number"
          example: "0001009990000012659"
        dummyCustomerNumber:
          type: string
          description: Dummy Customer Number
          example: "0001009990000012659"
        panToken:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).
             Length: 19
          example: 000540208ID5IXX3865
        globalQualification:
          type: string
          description: Global Qualification Parameter
          example: A
        numberType:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Type Of Number In The 'idNumber' FieldThe values are:
            Zero, space, or
            low values = Card number
            1 = Customer number
            If zero, space, or low values is specified, the primary customer
            record associated with the account will be updated with the
            information provided to the service. If an alternate customer
            record, a correspondence customer record, or a customer record
            associated with a card is needed, use the customer number.
          example: "1"
        foreignUseIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Foreign Use Indicator. The values are:
            Zero, space, or
            low values = Local account
            1 = Foreign account
          example: "0"
        demographicDataIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Demographic Data Indicator. The values are:
            Zero, space, or
            low values = Do not update
            1 = Update owner
            2 = Update co-owner
          example: "1"
        userDataIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            User Data Indicator. The values are:
            Zero, space, or
            low values = Do not update
            1 = Update owner
            2 = Update co-owner
          example: "1"
        vipStatus:
          maximum: 1
          minimum: 0
          type: integer
          description: |-
            VIP Status Indicator. The values are:
            0 = Not VIP customer
            1 = VIP customer
          format: int32
          example: 1
        status:
          type: integer
          description: Status
          format: int32
          example: 1
        sicCode:
          type: integer
          description: SIC Code
          format: int32
          example: 123456
        title:
          type: string
          description: Title
          example: Monsieur
        maritalStatus:
          type: integer
          description: Marital Status
          format: int32
          example: 1
        nameLine1:
          type: string
          description: Name Line 1
        nameTypeIndicator1:
          type: integer
          description: |-
            Name Type Indicator 1. The values are:
            0 = Personal name
            1 = Business name
            2 = Store name
            3 = Generic name
          format: int32
          example: 0
        nameLine2:
          type: string
          description: Name Line 2
          example: OWN NAME L2 TEST9
        nameTypeIndicator2:
          type: integer
          description: |-
            Name Type Indicator 2. The values are:
            0 = Personal name
            1 = Business name
            2 = Store name
            3 = Generic name
          format: int32
          example: 0
        nameLine3:
          type: string
          description: Name Line 3
          example: OWN NAME L3
        nameTypeIndicator3:
          type: integer
          description: |-
            Name Type Indicator 3. The values are:
            0 = Personal name
            1 = Business name
            2 = Store name
            3 = Generic name
          format: int32
          example: 0
        houseNumber:
          type: string
          description: House Number
          example: "12349"
        houseName:
          type: string
          description: House Name
          example: LILY RESIDENCE
        houseAddress1:
          type: string
          description: House Address 1
          example: OWN ADDR L19
        houseAddress2:
          type: string
          description: House Address 2
          example: OWN ADDR L29
        houseAddress3:
          type: string
          description: House Address 3
          example: OWN ADDR L39
        houseAddress4:
          type: string
          description: House Address 4
          example: OWN ADDR L49
        city:
          type: string
          description: Residence City
          example: SUNSHINE
        state:
          type: string
          description: Residence State
          example: FL
        postalCode:
          type: string
          description: Residence Postal Code
          example: "12345679"
        countryCode:
          type: string
          description: Country Code
          example: USA
        ownOrRentResidenceFlag:
          type: integer
          description: Own/Rent residence flag
          format: int32
          example: 2
        languageIndicator:
          type: string
          description: Spoken Language Indicator
          example: ENG
        mailingList:
          type: string
          description: Code indicating whether the owner wants to be on a mailing
            list
          example: "1"
        contactIndicator:
          type: integer
          description: Code Indicating Wheter Customer Contact Is Restricted or Not
          format: int32
          example: 12
        genderCode:
          type: integer
          description: Gender Code
          format: int32
          example: 1
        homePhoneNumber:
          type: string
          description: Home Phone Number
          example: 123-456-9990
        homePhoneIndicator:
          type: integer
          description: |-
            Call indicator specifying whether you can contact the customer at this number
            The values are:
            0 = Customer may not be contacted using this number
            1 = Customer may be contacted using this number(Default)
          format: int32
          example: 1
          enum:
          - null
        faxPhoneNumber:
          type: string
          description: FAX Phone Number
          example: 223-456-7890
        faxPhoneIndicator:
          type: integer
          description: |-
            Call indicator specifying whether you can contact the customer at this number
            The values are:
            0 = Customer may not be contacted using this number
            1 = Customer may be contacted using this number(Default)
          format: int32
          example: 1
          enum:
          - null
        mobilePhoneNumber:
          type: string
          description: Mobile Phone Number
          example: 323-456-7890
        mobilePhoneIndicator:
          type: integer
          description: |-
            Call indicator specifying whether you can contact the customer at this number
            The values are:
            0 = Customer may not be contacted using this number
            1 = Customer may be contacted using this number(Default)
          format: int32
          example: 1
          enum:
          - null
        dateOfBirth:
          type: string
          description: Date Of Birth
          format: date
        driverLicense:
          $ref: '#/components/schemas/DriverLicense'
        taxIdType:
          type: integer
          description: TAX ID Type
          format: int32
          example: 1
        taxIdNumber:
          type: string
          description: TAX ID Number
          example: "123456789"
        dateFiledForm:
          type: string
          description: |-
            Date on which the tax identification number of the owner was
            recorded in the Customer Name/Address record as a result of
            receiving the W-9 form
          format: date
        employerName:
          type: string
          description: Employer Name
          example: Milton
        employerAddress1:
          type: string
          description: Employer Address 1
          example: EMP ADDR L1
        employerAddress2:
          type: string
          description: Employer Address 2
          example: EMP ADDR L2
        employerPhoneNumber:
          type: string
          description: Employer Phone Number
          example: 123-456-7890
        employerExtensionPhoneNumber:
          type: string
          description: Employee Phone Extension
          example: "123456"
        employerPhoneFlag:
          type: integer
          description: Employer Phone Flag
          format: int32
          example: 1
        position:
          type: string
          description: Position
          example: CEO
        relativeName:
          type: string
          description: Relative Name
          example: Relative Name
        numberOfDependents:
          type: integer
          description: Number of Dependents
          format: int32
          example: 999
        email:
          type: string
          description: Email
          example: ABC.DEF@yahoo.com
        emailIndicator:
          type: integer
          description: |-
            Email Indicator. The values are:
            0 = Do not e-mail
            1 = May be e-mailed
            2 = Prefers to be e-mailed
          format: int32
          example: 1
          enum:
          - null
        smsIndicator:
          type: integer
          description: |-
            Short message service(SMS) Indicator
            The values are:
            0 = No, do not send message
            1 = Yes, you can send message
          format: int32
          example: 1
          enum:
          - null
        firstName:
          type: string
          description: First Name
          example: FirstName
        middleName:
          type: string
          description: Middle Name
          example: MiddleName
        lastName:
          type: string
          description: Last Name
          example: LastName
        suffix:
          type: string
          description: Suffix
          example: Sr
        county:
          type: string
          description: County
          example: Orange
        memo1:
          type: string
          description: Memo 1
          example: Memo 1
        memo2:
          type: string
          description: Memo 2
          example: Memo 2
        user1:
          type: string
          description: User 1
          example: U1
        user2:
          type: string
          description: User 2
          example: U2
        user3:
          type: string
          description: User 3
          example: U323323
        user4:
          type: string
          description: User 4
          example: U
        user5:
          type: string
          description: User 5
          example: U
        user6:
          type: string
          description: User 6
          example: U6
        user7:
          type: string
          description: User 7
          example: U7
        user8:
          type: string
          description: User 8
          example: U8
        user9:
          type: string
          description: User 9
          example: U9
        user10:
          type: integer
          description: User 10
          format: int32
          example: 2011031
        user11:
          type: integer
          description: User 11
          format: int32
          example: 2011032
        user12:
          type: string
          description: User 12
          example: U12
        user13:
          type: string
          description: User 13
          example: U13
        user14:
          type: string
          description: User 14
          example: U14
        user15:
          type: string
          description: User 15
          example: U15
        userDemographic1:
          type: string
          description: Owner's Demographic 1
          example: USER DEMO 1
        userDemographic2:
          type: string
          description: Owner's Demographic 2
          example: USER DEMO 2
        userDemographic3:
          type: string
          description: Owner's Demographic 3
          example: USER DEMO 3
        foreignFormIndicator:
          type: string
          description: 1099C foreign indicator
          example: A
        carrierRoute:
          $ref: '#/components/schemas/CarrierRoute'
        formDateSent:
          type: string
          description: C1099/W9 Date Sent
          format: date
        statementMessageIndicator:
          type: integer
          description: Statement Message Indicator
          format: int32
          example: 1
      description: Update Customer Reversal Request
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    UpdateCustomerReversalResponse:
      type: object
      properties:
        outputArea:
          $ref: '#/components/schemas/UpdateCustomerReversalResponse.OutputArea'
    UpdateCustomerReversalResponse.OutputArea:
      type: object
      properties:
        organizationNumber:
          type: integer
          format: int32
        customerNumber:
          type: string
        numberType:
          type: string
        foreignUseIndicator:
          type: string
        demographicDataIndicator:
          type: string
        userDataIndicator:
          type: string
        cmsOrganizationNumber:
          type: integer
          format: int32
        accountNumber:
          type: string
        cardNumber:
          type: string
          description: Unique identifier or token associated with the card number
            or payment instrument (FirstVision PAN Token)
          example: 000540208ID5IXX3865
        numberCardsActivated:
          type: integer
          format: int32
    UpdateCustomerRequest:
      required:
      - customerNumber
      - organizationNumber
      - postalCode
      - sicCode
      - status
      - vipStatus
      type: object
      properties:
        organizationNumber:
          type: integer
          description: "Length 999 \nOrganization Number\nVisionPLUS Service Data:\
            \ ARXGCI-ORG"
          format: int32
          example: 807
        customerNumber:
          type: string
          description: Unique identifier or token associated with the card number
            or payment instrument (FirstVision PAN Token).
          example: 000540208ID5IXX3865
        numberType:
          type: string
          description: |-
            Length: 1
            Type of number in the ARXGCI-CARD-NBR field. The values are:
            * Zero, space, or low values = Card number
            * 1 = Customer number
            If zero, space, or low values is specified, the primary customer record associated with the account will be updated with the information provided to the service.
            * If an alternate customer record, a correspondence customer record, or a customer record associated with a card is needed, use the customer number.
            VisionPLUS Service Data: ARXGCI-NBR-TYPE
          example: "1"
        foreignUseIndicator:
          type: string
          description: |-
            Length: 1
            Foreign Use Indicator. The values are :
            * Zero, space, or low values = Local account
            * 1 = Foreign account
            VisionPLUS Service Data: ARXGCI-FOREIGN-USE-FLAG
          example: "0"
        demographicDataIndicator:
          type: string
          description: |-
            Length: 1
            Demographic Data Indicator. The values are :
            * Zero, space, or low values = Do not update
            * 1 = Update owner
            * 2 = Update co-owner
            VisionPLUS Service Data: ARXGCI-DEMOGRAPHIC-DATAIND
          example: "1"
        userDataIndicator:
          type: string
          description: |-
            Length: 1
            User Data Indicator. The values are :
            * Zero, space, or low values = Do not update
            * 1 = Update owner
            * 2 = Update co-owner
            VisionPLUS Service Data: ARXGCI-USER-DATA-IND
          example: "1"
        vipStatus:
          type: integer
          description: |-
            Length: 1
            VIP Status Indicator. The values are:
            * 0 = Not VIP customer
            * 1 = VIP customer
            VisionPLUS Service Data: ARXGCI-VIP-STATUS
          format: int32
          example: 1
        status:
          type: integer
          description: |-
            Length: 1
            Status Of The Account
            VisionPLUS Service Data: ARXGCI-STATUS
          format: int32
          example: 1
        sicCode:
          type: integer
          description: |-
            Length: 6
            Standard Industrial Classification code used to identify the industry to which the commercial card customer is associated.
            VisionPLUS Service Data: ARXGCI-SIC-CODE
          format: int32
          example: 123456
        title:
          type: string
          description: "Length 40 \nTitle\nVisionPLUS Service Data: ARXGCI-TITLE"
          example: Monsieur
        maritalStatus:
          type: string
          description: "Length: 1 \nMarital Status\nVisionPLUS Service Data: ARXGCI-MARITAL-STATUS"
          example: "1"
        nameLine1:
          type: string
          description: "Length 40 \n Name Line 1\nVisionPLUS Service Data: ARXGCI-NAME-LINE-1"
          example: OWN NAME L1
        nameTypeIndicator1:
          type: integer
          description: |-
            Length: 1
            Name Type Indicator 1. indicates the type of name. The values are -
            * 0 = Personal name (Default)
            * 1 = Business name
            * 2 = Store name
            * 3 = Generic name
            VisionPLUS Service Data: ARXGCI-NAME-LINE-1-TYP
          format: int32
          example: 0
        nameLine2:
          type: string
          description: "Length 40 \n Name Line 2\nVisionPLUS Service Data: ARXGCI-NAME-LINE-2"
          example: OWN NAME L2 TEST9
        nameTypeIndicator2:
          type: integer
          description: |-
            Length: 1Name Type Indicator 2. indicates the type of name. The values are -
            * 0 = Personal name (Default)
            * 1 = Business name
            * 2 = Store name
            * 3 = Generic name
            VisionPLUS Service Data: ARXGCI-NAME-LINE-2-TYP
          format: int32
          example: 0
        nameLine3:
          type: string
          description: "Length 40 \n Name Line 3\nVisionPLUS Service Data: ARXGCI-NAME-LINE-3"
          example: OWN NAME L3
        nameTypeIndicator3:
          type: integer
          description: |-
            Length: 1
            Name Type Indicator 3. indicates the type of name. The values are -
            * 0 = Personal name (Default)
            * 1 = Business name
            * 2 = Store name
            * 3 = Generic name
            VisionPLUS Service Data: ARXGCI-NAME-LINE-3-TYP
          format: int32
          example: 0
        houseNumber:
          type: string
          description: "Length 20 \nInternal number of the residence\nVisionPLUS Service\
            \ Data: ARXGCI-HOUSE-NBR"
          example: "12349"
        houseName:
          type: string
          description: "Length 40 \nHouse name\nVisionPLUS Service Data: ARXGCI-HOUSE-NAME"
          example: LILY RESIDENCE
        houseAddress1:
          type: string
          description: "Length 40 \nHouse Address 1\nVisionPLUS Service Data: ARXGCI-ADDR-1"
          example: OWN ADDR L19
        houseAddress2:
          type: string
          description: "Length 40 \nHouse Address 2\nVisionPLUS Service Data: ARXGCI-ADDR-2"
          example: OWN ADDR L19
        houseAddress3:
          type: string
          description: "Length 40 \nHouse Address 3\nVisionPLUS Service Data: ARXGCI-ADDR-3"
          example: OWN ADDR L19
        houseAddress4:
          type: string
          description: "Length 40 \nHouse Address 4\nVisionPLUS Service Data: ARXGCI-ADDR-4"
          example: OWN ADDR L19
        city:
          type: string
          description: "Length: 30 \nResidence City.\nVisionPLUS Service Data: ARXGCI-CITY"
          example: SUNSHINE
        state:
          type: string
          description: |-
            Length: 3
            Residence state. This is derived based on the state code.
            VisionPLUS Service Data: ARXGCI-STATE
          example: FL
        postalCode:
          type: string
          description: |-
            Length: 10
            Residence Postal Code
            VisionPLUS Service Data: ARXGCI-PSTL-CD
          example: "12345679"
        countryCode:
          type: string
          description: |-
            Length: 30
            Code that identifies the country in which this organization is located.
            VisionPLUS Service Data: ARXGCI-CNTRY-CD
          example: USA
        ownOrRentResidenceFlag:
          type: integer
          description: |-
            Length: 1
            Code indicating whether the primary residence is owned or rented
            VisionPLUS Service Data: ARXGCI-OWN-RENT-RESID-FLAG
          format: int32
          example: 2
        languageIndicator:
          type: string
          description: "Length: 3 \nSpoken Language Indicator\nVisionPLUS Service\
            \ Data: ARXGCI-LANGUAGE-IND"
          example: ENG
        mailingList:
          type: string
          description: |-
            Length: 1
            Code indicating whether the owner wants to be on a mailing List
            VisionPLUS Service Data: ARXGCI-MAILING-LIST
          example: "1"
        contactIndicator:
          type: integer
          description: |-
            Length: 2
            Code Indicating Whether Customer Contact Is Restricted or Not.
            The values are:
            * 00 = No restriction (Default)
            * 01 = Do not telephone
            * 02 = Do not mail
            * 03 = Do not mail or telephone
            * 04–09 = Reserved for future use
            * 10–99 = User-defined by client.
            VisionPLUS Service Data: ARXGCI-CONTACT-IND
          format: int32
          example: 12
        genderCode:
          type: integer
          description: |-
            Length: 1
            Gender code. The values are:
            * 0 = Unspecified (Default)
            * 1 = Male
            * 2 = Female
            VisionPLUS Service Data: ARXGCI-GENDER-CODE
          format: int32
          example: 1
        homePhoneNumber:
          type: string
          description: |-
            Length: 20
            Three-part field that indicates the fax number of the customer, whether you have the customer’s permission to contact the customer at this number, and the date on which the fax number was last modified
            VisionPLUS Service Data: ARXGCI-HOME-PHONE
          example: 123-456-9990
        homePhoneIndicator:
          type: integer
          description: |-
            Length: 1
            Call indicator specifying whether you can contact the customer at this number. The values are :
            * 0 = Customer may not be contacted using this number
            * 1 = Customer may be contacted using this number (Default)
            VisionPLUS Service Data: ARXGCI-HOME-PHONE-IND
          format: int32
          example: 1
          enum:
          - null
        faxPhoneNumber:
          type: string
          description: "Length 20 \nFAX Phone Number\nVisionPLUS Service Data: ARXGCI-FAX-PHONE"
          example: 223-456-7890
        faxPhoneIndicator:
          type: integer
          description: |-
            Length: 1
            Call indicator specifying whether you can contact the customer at this number. The values are :
            * 0 = Customer may not be contacted using this number
            * 1 = Customer may be contacted using this number (Default)
            VisionPLUS Service Data: ARXGCI-FAX-PHONE-IND
          format: int32
          example: 1
        mobilePhoneNumber:
          type: string
          description: "Length 20 \n Mobile Phone Number\nVisionPLUS Service Data:\
            \ ARXGCI-MOBILE-PHONE"
          example: 323-456-7890
        mobilePhoneIndicator:
          type: integer
          description: |-
            Length: 1
            Call indicator specifying whether you can contact the customer at this number. The values are:
            * 0 = Customer may not be contacted using this number
            * 1 = Customer may be contacted using this number (Default)
            VisionPLUS Service Data: ARXGCI-MOBILE-PHONE-IND
          format: int32
          example: 1
          enum:
          - null
        dateOfBirth:
          type: string
          description: |-
            Length: 10
            Date of birth of the customer.
            VisionPLUS Service Data: ARXGCI-DOB
          format: date
        driverLicense:
          $ref: '#/components/schemas/DriverLicense'
        taxIdType:
          type: integer
          description: "Length 1 \nTAX ID Type\nVisionPLUS Service Data: ARXGCI-TAX-ID-TYP"
          format: int32
          example: 1
        taxIdNumber:
          type: string
          description: "Length 25 \nTAX ID Number\nVisionPLUS Service Data: ARXGCI-TAX-ID"
          example: "123456789"
        dateFiledForm:
          type: string
          description: |-
            Length: 10
            Date on which the tax identification number of the owner was recorded in the Customer Name/Address record as a result of receiving the W-9 form.
            VisionPLUS Service Data: ARXGCI-1099C-W9-DATE-FILE
          format: date
        employerName:
          type: string
          description: "Length 40 \nEmployer Name.\nVisionPLUS Service Data: ARXGCI-EMPLOYER"
          example: Milton
        employerAddress1:
          type: string
          description: |-
            Length: 40
            Two-part field that indicates the mailing address of the employer of the owner.
            VisionPLUS Service Data: ARXGCI-EMPLOYER-ADDR-1
          example: EMP ADDR L1
        employerAddress2:
          type: string
          description: |-
            Length: 40
            Two-part field that indicates the mailing address of the employer of the owner.
            VisionPLUS Service Data: ARXGCI-EMPLOYER-ADDR-2
          example: EMP ADDR L2
        employerPhoneNumber:
          type: string
          description: "Length 20 \nEmployer Phone Number\nVisionPLUS Service Data:\
            \ ARXGCI-EMPLOYER-ADDR-1"
          example: 123-456-7890
        employerExtensionPhoneNumber:
          type: string
          description: "Length 6 \nEmployee Phone Extension.\nVisionPLUS Service Data:\
            \ ARXGCI-EMP-PHONE-EXTN"
          example: "123456"
        employerPhoneFlag:
          type: integer
          description: |-
            Length: 1
            Employer Phone Flag. The values are:
            * 0 = Do not fax
            * 1 = May be faxed
            * 2 = Prefers to be faxed
            VisionPLUS Service Data: ARXGCI-EMP-PHONE-FLAG
          format: int32
          example: 1
        position:
          type: string
          description: |-
            Length: 4
            User-defined code to indicate the position or job title of the owner.
            VisionPLUS Service Data: ARXGCI-POSITION
          example: CEO
        relativeName:
          type: string
          description: "Length 40 \n Relative Name\nVisionPLUS Service Data: ARXGCI-RELATIVE-NAME"
          example: Relative Name
        numberOfDependents:
          type: integer
          description: "Length 3 \nNumber of Dependents\nVisionPLUS Service Data:\
            \ ARXGCI-NBR-OF-DEPENDENTS"
          format: int32
          example: 999
        email:
          type: string
          description: "Length: 19 \nEmail of customer.\nVisionPLUS Service Data:\
            \ ARXGCI-EMAIL"
          example: ABC.DEF@yahoo.com
        emailIndicator:
          type: integer
          description: |-
            Length: 1
            The values are:
            * 0 = Do not e-mail
            * 1 = May be e-mailed
            * 2 = Prefers to be e-mailed
            VisionPLUS Service Data: ARXGCI-EMAIL-IND
          format: int32
          example: 1
        smsIndicator:
          type: integer
          description: |-
            Length: 1
            Short message service (sms) indicator. The values are :
            * 0 = No, do not send message
            * 1 = yes, you can send message
            VisionPLUS Service Data: ARXGCI-SMS-IND
          format: int32
          example: 1
          enum:
          - null
        firstName:
          type: string
          description: "Length 40 \nFirst name\nVisionPLUS Service Data: ARXGCI-FIRST-NAME"
          example: FirstName
        middleName:
          type: string
          description: "Length 40 \n Middle name\nVisionPLUS Service Data: ARXGCI-MIDDLE-NAME"
          example: MiddleName
        lastName:
          type: string
          description: "Length: 40 \nLast name\nVisionPLUS Service Data: ARXGCI-LAST-NAME"
          example: LastName
        suffix:
          type: string
          description: |-
            Length 20
            VisionPLUS Service Data: ARXGCI-SUFFIX
          example: Sr
        county:
          type: string
          description: |-
            Length: 30
            County portion of the mailing address of the owner.
            VisionPLUS Service Data: ARXGCI-COUNTY
          example: Orange
        memo1:
          type: string
          description: "Length 60 \nMemo 1\nVisionPLUS Service Data: ARXGCI-MEMO-2"
          example: Memo 1
        memo2:
          type: string
          description: "Length 60 \nMemo 2\nVisionPLUS Service Data: ARXGCI-MEMO-2"
          example: Memo 2
        user1:
          type: string
          description: "Length 2 \nUser 1\nVisionPLUS Service Data: ARXGCI-MEMO-1"
          example: U1
        user2:
          type: string
          description: "Length 2 \nUser 2\nVisionPLUS Service Data: ARXGCI-MEMO-2"
          example: U2
        user3:
          type: string
          description: "Length 7 \nUser 3\nVisionPLUS Service Data: ARXGCI-MEMO-3"
          example: U323323
        user4:
          type: string
          description: "Length 1 \nUser 4\nVisionPLUS Service Data: ARXGCI-MEMO-4"
          example: U
        user5:
          type: string
          description: "Length 1 \nUser 5\nVisionPLUS Service Data: ARXGCI-MEMO-5"
          example: U
        user6:
          type: string
          description: "Length 2 \nUser 6\nVisionPLUS Service Data: ARXGCI-MEMO-6"
          example: U6
        user7:
          type: string
          description: "Length 2 \nUser 7\nVisionPLUS Service Data: ARXGCI-MEMO-7"
          example: U7
        user8:
          type: string
          description: "Length 2 \nUser 8\nVisionPLUS Service Data: ARXGCI-MEMO-8"
          example: U8
        user9:
          type: string
          description: "Length 2 \nUser 9\nVisionPLUS Service Data: ARXGCI-MEMO-9"
          example: U8
        user10:
          type: integer
          description: "Length 7 \nUser 10\nVisionPLUS Service Data: ARXGCI-MEMO-10"
          format: int32
          example: 2011031
        user11:
          type: integer
          description: "Length 7 \nUser 11\nVisionPLUS Service Data: ARXGCI-MEMO-11"
          format: int32
          example: 2011032
        user12:
          type: string
          description: "Length 30 \nUser 12\nVisionPLUS Service Data: ARXGCI-MEMO-12"
          example: U12
        user13:
          type: string
          description: "Length 30 \nUser 13\nVisionPLUS Service Data: ARXGCI-MEMO-13"
          example: U13
        user14:
          type: string
          description: "Length 20 \n User 14\nVisionPLUS Service Data: ARXGCI-MEMO-14"
          example: U14
        user15:
          type: string
          description: "Length 20 \n User 15\nVisionPLUS Service Data: ARXGCI-MEMO-15"
          example: U15
        userDemographic1:
          type: string
          description: |-
            Length: 20
            Demographic 1. User-defined demographic data or other information for an ownerr.
            VisionPLUS Service Data: ARXGCI-USER-DEMO-1
          example: USER DEMO 1
        userDemographic2:
          type: string
          description: |-
            Length: 20
            Demographic 2. User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: ARXGCI-USER-DEMO-2
          example: USER DEMO 2
        userDemographic3:
          type: string
          description: |-
            Length: 20
            Demographic 3. User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: ARXGCI-USER-DEMO-3
          example: USER DEMO 3
        foreignFormIndicator:
          type: string
          description: |-
            Length: 1
            1099C foreign indicator. The values are:
            * Blank = Does not live in a foreign country (Default)
            * Any character = Lives in a foreign country. Format the address to the IRS standard.
            VisionPLUS Service Data: ARXGCI-1099C-FOREIGN-IND
          example: A
        carrierRoute:
          $ref: '#/components/schemas/CarrierRoute'
        formDateSent:
          type: string
          description: "Length: 10 \nC1099/W9 Date Sent\nVisionPLUS Service Data:\
            \ ARXGCI-1099C-W9-DATE-SENT"
          format: date
        statementMessageIndicator:
          type: integer
          description: "Length 1 \nStatement Message Indicator\nVisionPLUS Service\
            \ Data: ARXGCI-STMT-MSG-INDIC"
          format: int32
          example: 1
      description: Update Customer Request
    UpdateCustomerResponse:
      type: object
      properties:
        outputArea:
          $ref: '#/components/schemas/UpdateCustomerResponse.OutputArea'
    UpdateCustomerResponse.OutputArea:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization Number.
            VisionPLUS Service Data: ARXGCO-ORG
          format: int32
          example: 998
        customerNumber:
          type: string
          description: |-
            Length: 19
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).
          example: 000540208ID5IXX3865
        numberType:
          type: string
          description: "Length: 1\nType Of Number In The 'idNumber' Field. The values\
            \ are :\n* Zero, space, or low values = Card number\n* 1 = Customer number\
            \ \n * If zero, space, or low values is specified, the primary customer\
            \ record associated with the account will be updated with the information\
            \ provided to the service.\n* If an alternate customer record, a correspondence\
            \ customer record, or a customer record associated with a card is needed,\
            \ use the customer number.\nVisionPLUS Service Data: ARXGCO-NBR-TYPE"
          example: "1"
        foreignUseIndicator:
          type: string
          description: |-
            Length: 1
            Foreign Use Indicator. The values are :
            * Zero, space, or low values = Local account
            * 1 = Foreign account
            VisionPLUS Service Data: ARXGCO-FOREIGN-USE-FLAG
          example: "1"
        demographicDataIndicator:
          type: string
          description: |-
            Length: 1
            Demographic Data Indicator. The values are :
            * Zero, space, or low values = Do not update
            * 1 = Update owner
            * 2 = Update co-owner
            VisionPLUS Service Data: ARXGCO-DEMOGRAPHIC-DATAIND
          example: "1"
        userDataIndicator:
          type: string
          description: |-
            Length: 1
            User Data Indicator. The values are :
            * Zero, space, or low values = Do not update
            * 1 = Update owner
            * 2 = Update co-owner
            VisionPLUS Service Data: ARXGCI-USER-DATA-IND
          example: "1"
        cmsOrganizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization Number.
            VisionPLUS Service Data: ARXGCO-ORG
          format: int32
          example: 998
        accountNumber:
          type: string
          description: |-
            Length: 19
            Identification of the account number associated with the customer number (demographic data) that you want to modify or view.
            VisionPLUS Service Data: ARXGCO-ACCT-NBR
          example: "1234567890123450000"
    CustomerRelationshipDetailsRequest:
      required:
      - billingCycle
      - creditLimit
      - customerNumber
      - modificationAccountLevelFlag
      - organizationNumber
      - relationshipBillingLevel
      type: object
      properties:
        organizationNumber:
          type: string
          description: |-
            Length: 3

            Organization Number.

            VisionPLUS Service Data: ARXARI-ORG
          example: "807"
        relationshipNumber:
          type: string
          description: |-
            Length: 19

            Relationship Number.

            VisionPLUS Service Data: ARXARI-REL-NBR
          example: "0008070010000019695"
        relationshipName:
          type: string
          description: |-
            Length: 26

            Relationship Name.

            VisionPLUS Service Data: ARXARI-REL-NAME
          example: RELATIONSHIP ADD
        customerNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19

            Customer number.

            VisionPLUS Service Data: ARXARI-CUSTOMER-NBR
          example: "4513074002573466111"
        creditLimit:
          type: integer
          description: |-
            Length: 17

            Credit limit for the relationship.

            VisionPLUS Service Data: ARXARI-CREDIT-LIMIT
          format: int32
          example: 10000
        blockCode:
          type: string
          description: |-
            Length: 1

            Block code associated with the relationship.

            VisionPLUS Service Data: ARXARI-BLOCK-CODE
        mailCode:
[...]
