openapi: 3.0.1
info:
  description: "This documentation describes the REST APIs provided by the FirstVision\u2122\
    \ Cards Microservice, which provides functionality for the issuing, management\
    \ and processing of credit cards, including bank, co-branded, private label, debit,\
    \ commercial, and prepaid"
  title: "FirstVision\u2122 Customer Service - API Documentation"
  version: '1.2'
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /customer/details-l8v4:
    post:
      tags:
      - Customers
      summary: 'Get Cards Details l8v4. VMX Service: M.CMS.CUSTCHANNEL.INQ, L8V4'
      description: "Get Customer Cards Details. \n\nVMX Service: M.CMS.CUSTCHANNEL.INQ,\
        \ L8V4"
      operationId: Cards Details Inquiry
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerChannelVersion4Request'
        required: true
      responses:
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '405':
          description: Method Not Allowed
        '422':
          description: 'VPL5SCE06E - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE
            BETWEEN 000 AND 998


            VPL5SCE07E - ACCT/CARD BLOCKED OR CARD NOT ACTIVATED OR NO ACCT ON CUST
            NBR


            VPL5SCE08E - INVALID FUCNTION CODE PASSED TO SERVICE


            VPL5SCE09E - SERVICE FUNCTION CODE IS INVALID


            VPL5SCE10S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED


            VPL5SCE11S - REQUESTED ORGANIZATION NOT FOUND


            VPL5SCE15S - ACCOUNT NUMBER NOT FOUND


            VPL5SCE17S - ACCOUNT/CARD CROSS REFERENCE FILE UNAVAILABLE


            VPL5SCE18S - GETMAIN FAILURE ON N/A SERVICE INPUT AREA


            VPL5SCE19S - GETMAIN FAILURE ON N/A SERVICE OUTPUT AREA'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerChannelVersion4Response'
        '404':
          description: Not Found
      x-proxy-name: Cards Details Inquiry
      x-group-name: Customers
  /customer/demographicData:
    post:
      tags:
      - Customers
      summary: 'Inquire demographic data. VMX Service: M.CMS.DEMOGRAPHIC.INQ, R8V4'
      description: "Requests demographic data from a Customer number. \nVMX Service:\
        \ M.CMS.DEMOGRAPHIC.INQ, R8V4"
      operationId: Demographic Inquiry
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DemographicInquiryRequest'
        required: true
      responses:
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: "VPL5SND02S \u2013 ORGANIZATION NUMBER NOT FOUND\n\nVPL5SND05S\
            \ \u2013 ORG RECORD NOT FOUND\n\nVPL5SND06S \u2013 DUAL ORG RECORD NOT\
            \ FOUND\n\nVPL5SND07S \u2013 ACCOUNT/CARD CAN NOT BE FOUND IN AMBS FILE\n\
            \nVPL5SND08S \u2013 LOGO RECORD NOT FOUND\n\nVPL5SND09S \u2013 CUSTOMER\
            \ CAN NOT BE FOUND\n\nVPL5SND10S \u2013 ACCOUNT/CARD CAN NOT BE FOUND\
            \ IN AMNA FILE\n\nVPL5SND11E \u2013 INVALID ORG FORMAT-VALID VALUES ARE\
            \ SPACES/001 TO 998\n\nVPL5SND12E \u2013 ACCOUNT/CARD/CUSTOMER NUMBER\
            \ SHOULD BE PROVIDED AND BE NUMERIC\n\nVPL5SND13E \u2013 INVALID DUAL\
            \ FLAG-VALID VALUES ARE SPACES/0/1\n\nVPL5SND14E \u2013 NUMBER TYPE IS\
            \ INVALID-VALID VALUES ARE SPACE/0/1\n\nVPL5SNDZ4S \u2013 ORGANIZATION\
            \ NOT DETERMINED"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemographicInquiryResponse'
        '404':
          description: Not Found
      x-proxy-name: Demographic Inquiry
      x-group-name: Customers
  /customer/:
    post:
      tags:
      - Customers
      summary: 'Add new Customer. VMX Service: M.CMS.CUSTOMER.ADD, R8V4'
      description: "Creates a Customer number and adds demographical information to\
        \ the Customer record. \nVMX Service: M.CMS.CUSTOMER.ADD, R8V4"
      operationId: Customer Add
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomerRequest'
        required: true
      responses:
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '405':
          description: Method Not Allowed
        '422':
          description: "VPL5SNA03S \u2013 N/A SERVICE INPUT AREA IS NOT OF CORRECT\
            \ SIZE\n\nVPL5SNA04S \u2013 OWNER/CO-OWNER INDICATOR MUST BE 1 OR 2\n\n\
            VPL5SNA06S \u2013 INVALID FOREIGN USE INDICATOR - MUST BE 0 OR 1 ONLY\n\
            \nVPL5SNA07S \u2013 CONFLICTING ORG AND ACCOUNT DATA WAS PASSED TO THE\
            \ SERVICE\n\nVPL5SNA08S \u2013 CONFLICTING ORG, ACCOUNT, AND CUSTOMER\
            \ DATA PASSED TO THE SERVICE\n\nVPL5SNA09S \u2013 NO ORG, ACCOUNT, OR\
            \ CUSTOMER DATA WAS PASSED TO THE SERVICE\n\nVPL5SNA10S \u2013 DUAL NOT\
            \ ALLOWED FOR THIS ORG\n\nVPL5SNA11S \u2013 THE NUMBER GENERATION SERVICE\
            \ FAILED\n\nVPL5SNA12S \u2013 LOCAL CUSTOMER NUMBER ALREADY EXISTS\n\n\
            VPL5SNA13S \u2013 FOREIGN CUSTOMER NUMBER EXISTS\n\nVPL5SNA14S \u2013\
            \ ACCOUNT/EMBOSSER ORG NOT FOUND\n\nVPL5SNA15S \u2013 FOREIGN ORG NUMBER\
            \ NOT FOUND\n\nVPL5SNA16S \u2013 CUSTOMER ORG NOT FOUND\n\nVPL5SNA17S\
            \ \u2013 CUSTOMER ORG NOT FOUND\n\nVPL5SNA18S \u2013 CUSTOMER NUMBER PROVIDED\
            \ NOT VALID FOR CUSTOMER ORG\n\nVPL5SNA19S \u2013 ORG NUMBER MUST BE NUMERIC\
            \ AND VALID VALUES ARE 001-998\n\nVPL5SNA20S \u2013 CUSTOMER ORG NOT FOUND\n\
            \nVPL5SNA21S \u2013 FOREIGN ORG NUMBER NOT FOUND\n\nVPL5SNA22S \u2013\
            \ CUSTOMER ORG NOT FOUND\n\nVPL5SNA23S \u2013 CUSTOMER NUMBER PROVIDED\
            \ NOT VALID FOR CUSTOMER ORG\n\nVPL5SNA24S \u2013 LOCAL CUSTOMER NUMBER\
            \ ALREADY EXISTS\n\nVPL5SNA25S \u2013 FOREIGN CUSTOMER NUMBER EXISTS\n\
            \nVPL5SNA26S \u2013 CUSTOMER NUMBER ALREADY EXISTS ON RELATIONSHIP FILE\n\
            \nVPL5SNA27S \u2013 CUSTOMER NUMBER ALREADY EXISTS ON DUAL RELATIONSHIP\
            \ FILE\n\nVPL5SNA28S \u2013 VIP STATUS INVALID - VALUES 0 OR 1 ONLY\n\n\
            VPL5SNA29S \u2013 SIC CODE MUST BE NUMERIC\n\nVPL5SNA30S \u2013 TAX IDENTIFICATION\
            \ FLAG INVALID - 0, 1 OR 2 ONLY\n\nVPL5SNA31S \u2013 TAX-ID NBR POSITIONS\
            \ 1-9 MUST BE NUMERIC WHEN TAX-ID FLAG IS 0\n\nVPL5SNA32S - PHONE FLAG\
            \ INVALID - 0, 1 OR 2 ONLY\n\nVPL5SNA33S \u2013 COUNTRY CODE INVALID\n\
            \nVPL5SNA34S \u2013 POSTAL CODE FORMAT INVALID\n\nVPL5SNA35S \u2013 MARITAL\
            \ STATUS INVALID - MUST BE 0 THROUGH 4 ONLY\n\nVPL5SNA36S \u2013 RESIDENCE\
            \ FLAG INVALID - 0, 1, 2 OR 3 ONLY\n\nVPL5SNA37S \u2013 CARRIER ROUTE\
            \ INVALID FORMAT - LAST 2 CHARACTERS MUST BE NUMERIC\n\nVPL5SNA38S \u2013\
            \ DATE-OF-BIRTH CANNOT BE A FUTURE DATE\n\nVPL5SNA39S \u2013 DATE-OF-BIRTH\
            \ IS INVALID\n\nVPL5SNA40S \u2013 1099C DATE FILED CANNOT BE A FUTURE\
            \ DATE\n\nVPL5SNA41S \u2013 1099C DATE FILED IS INVALID\n\nVPL5SNA42S\
            \ \u2013 NUMBER OF DEPENDENTS NOT NUMERIC\n\nVPL5SNA43S \u2013 STATEMENT\
            \ MESSAGE INDICATOR NOT NUMERIC\n\nVPL5SNA44S \u2013 USER-10 DATE IS INVALID\n\
            \nVPL5SNA45S \u2013 USER-11 DATE IS INVALID\n\nVPL5SNA46S \u2013 NAME\
            \ TYPE INDICATOR 1 INVALID - 0, 1, OR 3 ONLY\n\nVPL5SNA47S \u2013 NAME\
            \ TYPE INDICATOR 2 INVALID - 0, 1, OR 3 ONLY\n\nVPL5SNA48S \u2013 NAME\
            \ TYPE INDICATOR 3 INVALID - 0, 1, OR 3 ONLY\n\nVPL5SNA49S \u2013 CONTACT\
            \ INDICATOR MUST BE NUMERIC\n\nVPL5SNA50S \u2013 DUAL ORG NUMBER NOT FOUND\n\
            \nVPL5SNA51S \u2013 DUAL INDICATOR - CHECK-DIGIT CUST NUMBER REQUIRED\
            \ FOR FOREIGN ORG\n\nVPL5SNA52S \u2013 ORG COULD NOT BE DERIVED FROM EITHER\
            \ CUST OR ACCT NBR PROVIDED\n\nVPL5SNA53S \u2013 ORG NUMBER NOT FOUND\n\
            \nVPL5SNA56S \u2013 CUSTOMER NUMBER CHECK-DIGIT IS INVALID\n\nVPL5SNA57S\
            \ \u2013 GENDER CODE INVALID - 0, 1 OR 2 ONLY\n\nVPL5SNA58S \u2013 FAX\
            \ PHONE FLAG INVALID - 0, 1 OR 2 ONLY\n\nVPL5SNA59S \u2013 HOME PHONE\
            \ FLAG INVALID - 0, 1 OR 2 ONLY\n\nVPL5SNA60S \u2013 MOBILE PHONE FLAG\
            \ INVALID - 0, 1 OR 2 ONLY\n\nVPL5SNA61S \u2013 EMAIL FLAG INVALID - 0,\
            \ 1 OR 2 ONLY\n\nVPL5SNA62S \u2013 SMS FLAG INVALID - 0 OR 1 ONLY"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCustomerResponse'
        '404':
          description: Not Found
      x-proxy-name: Customer Add
      x-group-name: Customers
components:
  schemas:
    CustomerChannelVersion4Request:
      required:
      - customerNumber
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: '* Min Length: 1

            * Max Length: 3


            Organization Number.


            VisionPLUS Service Data: AZXCEI-SVC-FUNC-CODE'
          format: int32
          example: 998
        customerNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: "Customer Number.\n\nVisionPLUS Service Data: AZXCEI \u2013\
            CUST-NBR-X"
          example: 000001234XXXXX56789
        functionCode:
          type: string
          description: '* Max Length: 1


            Function Code.


            VisionPLUS Service Data: AZXCEI-SVC-FUNC-CODE'
          example: A
        startItem:
          $ref: '#/components/schemas/CustomerChannelVersion4Request.SItem'
      description: Get Customer Cards Details Request l8v4
    CustomerChannelVersion4Request.SItem:
      type: object
      properties:
        startOrganization:
          type: string
          description: '* Max Length: 1


            Start Account.


            VisionPLUS Service Data: ARXCEI-SVC-START-ACCT-NBR'
          example: '1'
        startAccount:
          type: string
          description: '* Max Length: 19


            Start Organization.


            VisionPLUS Service Data: ARXCEI-SVC-START-ACCT-ORG'
          example: 000001234XXXXX56789
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    CustomerChannelVersion4Response:
      type: object
      properties:
        itemsReturned:
          type: string
          description: '* Max Length: 2


            Number of returned items.


            VisionPLUS Service Data: ARXCEO-AT-NBR-OCCUR'
          example: '11'
        more:
          type: string
          description: '* Max Length: 1


            Flag that indicates whether user requires more data.


            VisionPLUS Service Data: AZXCEO-AT-MORE'
          example: '1'
        customerNumber:
          type: string
          description: '* Max Length: 19


            Customer number.


            VisionPLUS Service Data: AZXCEO-CUST-NBR'
          example: 000001234XXXXX56789
        accountTable:
          type: array
          items:
            $ref: '#/components/schemas/CustomerChannelVersion4Response.AccountTable'
    CustomerChannelVersion4Response.AccountTable:
      type: object
      properties:
        sequence:
          type: integer
          description: Sequence.
          format: int32
        cardNumber:
          type: string
          description: '* Max Length: 19


            Unique identifier or token associated with the card number or payment
            instrument (FirstVision PAN Token).


            VisionPLUS Service Data: AZXCEO-CARD-NBR'
          example: 000001234XXXXX56789
        cardSequence:
          type: integer
          description: '* Max Length: 4


            Card sequence.


            VisionPLUS Service Data: AZXCEO-CARD-SEQ'
          format: int32
          example: 2222
        cardBlockCode:
          type: string
          description: '* Max Length: 1


            Block code assigned to the Embosser record.


            VisionPLUS Service Data: AZXCEO-CARD-BLOCK-CODE'
          example: '1'
        cardExpireDate:
          type: string
          description: 'Card expiration date on the Embosser record.


            VisionPLUS Service Data: AZXCEO-CARD-DATE-EXPIRE'
          format: date
          example: 2023-04-10
        logo:
          type: string
          description: '* Max Length: 3


            Logo on the Embosser record.


            VisionPLUS Service Data: AZXCEO-LOGO'
          example: '999'
        productType:
          type: string
          description: '* Max Length: 2


            Product type.


            VisionPLUS Service Data: AZXCEO-PRODUCT-TYPE'
          example: AA
        productDescription:
          type: string
          description: '* Max Length: 20


            Product description.


            VisionPLUS Service Data: AZXCEO-PRODUCT-DESC'
          example: Product description
        accountNumber:
          type: string
          description: '* Max Length: 19


            Account number on the Embosser record.


            VisionPLUS Service Data: AZXCEO-ACCT-NBR'
          example: 000001234XXXXX56789
        accountStatus:
          type: string
          description: '* Max Length: 1


            Status of the account.


            VisionPLUS Service Data: AZXCEO-ACCT-STATUS'
          example: '1'
        accountBlockCode1:
          type: string
          description: '* Max Length: 1


            Block code 1 assigned to the account.


            VisionPLUS Service Data: AZXCEO-ACCT-BC1'
          example: '1'
        accountBlockCode2:
          type: string
          description: '* Max Length: 1


            Block code 1 assigned to the account.


            VisionPLUS Service Data: AZXCEO-ACCT-BC2'
          example: A
        billingCycle:
          type: integer
          description: '* Max Length: 2


            Billing cycle of the account.


            VisionPLUS Service Data: AZXCEO-ACCT-BILLING-CYCLE'
          format: int32
          example: 10
        accountShortName:
          type: string
          description: '* Max Length: 20


            Short name of the customer on the account.

            VisionPLUS Service Data: AZXCEO-ACCT-SHORT-NAME'
          example: Short name example
        accountDateLastCycle:
          type: string
          description: 'Last cycle date of the account.


            VisionPLUS Service Data: AZXCEO-ACCT-DATE-LAST-CYCLE'
          format: date
          example: 2023-10-04
        pesosMinimumPayment:
          type: number
          description: '* Max Length: 15


            Minimum payment amount in pesos. The minimum payment amount corresponds
            to the total due amount for the account minus pending payments posted
            (authorized payments during the day and memo credits) plus any check payments
            that are being held by the system.


            VisionPLUS Service Data: AZXCEO-PESOS-MIN-PMT'
          example: 100000000000000
        dollarMinimumPayment:
          type: number
          description: '* Max Length: 15


            Minimum payment amount in U.S. dollars. The minimum payment amount corresponds
            to the total due amount for the account minus pending payments posted
            (authorized payments during the day and memo credits) plus any check payments
            that are being held by the system.


            VisionPLUS Service Data: AZXCEO-DOLLARS-MIN-PMT'
          example: 100000000000000
        pesosTotalPayment:
          type: number
          description: '* Max Length: 15


            Total payment amount in pesos. The total payment billed (just after last
            cycle date) minus posted payments (since cycle date) minus pending payments
            (memo credits) plus any check payments that are being held by the system.


            VisionPLUS Service Data: AZXCEO-PESOS-TOT-PMT'
          example: 100000000000000
        dollarTotalPayment:
          type: number
          description: '* Max Length: 15


            Total payment amount in U.S. dollars. The total payment billed (just after
            last cycle date) minus posted payments (since cycle date) minus pending
            payments (memo credits) plus any check payments that are being held by
            the system.


            VisionPLUS Service Data: AZXCEO-DOLLARS-TOT-PMT'
          example: 100000000000000
        pesosCurrentBalance:
          type: number
          description: '* Max Length: 15


            Current balance amount in pesos. The current balance (includes all the
            posted transactions) minus pending payments (memo credit) plus any check
            payments that are being held by the system.


            VisionPLUS Service Data: AZXCEO-PESOS-CURR-BAL'
          example: 100000000000000
        dollarCurrentBalance:
          type: number
          description: '* Max Length: 15


            Current balance amount in U.S. dollars. The current balance (includes
            all the posted transactions) minus pending payments (memo credit) plus
            any check payments that are being held by the system.


            VisionPLUS Service Data: AZXCEO-DOLLARS-CURR-BAL'
          example: 100000000000000
        totalCreditLimit:
          type: number
          description: '* Max Length: 15


            Total approved credit limit amount in pesos. If extraCupo is available,
            it is included with the credit limit amount.


            VisionPLUS Service Data: AZXCEO-TOT-CREDIT-LIMIT'
          example: 100000000000000
        pesosOpenToBuy:
          type: number
          description: '* Max Length: 15


            Open-to-buy amount in pesos.


            VisionPLUS Service Data: AZXCEO-PESOS-OTB'
          example: 100000000000000
        pesosCashAvailable:
          type: number
          description: '* Max Length: 15


            Available cash in pesos (open-to-buy amount in pesos multiplied by the
            cash advance percentage).


            VisionPLUS Service Data: AZXCEO-PESOS-CASH-AVAIL'
          example: 100000000000000
        paymentDueDate:
          type: string
          description: 'Payment due date of the account.


            VisionPLUS Service Data: AZXCEO-PMT-DUE-DTE'
          format: date
          example: 2023-10-04
        pesosMemoCredits:
          type: number
          description: '* Max Length: 15


            Memo credit for the local account in pesos.


            VisionPLUS Service Data: AZXCEO-PESOS-MEMO-CREDITS'
          example: 100000000000000
        pesosMemoDebits:
          type: number
          description: '* Max Length: 15


            Memo debit for the local account in pesos.


            VisionPLUS Service Data: AZXCEO-PESOS-MEMO-DEBITS'
          example: 100000000000000
        dollarMemoCredits:
          type: number
          description: '* Max Length: 15


            Memo credit for the foreign account in U.S. dollars.


            VisionPLUS Service Data: AZXCEO-DOLLARS-MEMOCREDITS'
          example: 100000000000000
        dollarMemoDebits:
          type: number
          description: '* Max Length: 15


            Memo debit for the foreign account in U.S. dollars.


            VisionPLUS Service Data: AZXCEO-DOLLARS-MEMO-DEBITS'
          example: 100000000000000
        sobreCupo:
          type: number
          description: '* Max Length: 15


            Balance above credit limit.


            VisionPLUS Service Data: AZXCEO-SOBRE-CUPO'
          example: 100000000000000
        extraCupo:
          type: number
          description: '* Max Length: 15


            Temporary credit limit.


            VisionPLUS Service Data: AZXCEO-EXTRA-CUPO'
          example: 100000000000000
        previousCreditLimit:
          type: number
          description: '* Max Length: 15


            Previous credit limit.


            VisionPLUS Service Data: AZXCEO-LAST-CRLIM'
          example: 100000000000000
        beginDateTemporaryCreditLimit:
          type: string
          description: 'Beginning date of the temporary credit limit.


            VisionPLUS Service Data: AZXCEO-EXTRA-CUPO-BEG-DATE'
          format: date
          example: 2023-10-04
        expiryDateTemporaryCreditLimit:
          type: string
          description: 'Expiration date of the temporary credit limit.


            VisionPLUS Service Data: AZXCEO-DATE-TEMP-CRLIM-EXP'
          format: date
          example: 2023-10-04
        customerNumber:
          type: string
          description: '* Max Length: 19


            Customer number on the account.


            VisionPLUS Service Data: AZXCEO-ACCT-CUST-NBR'
          example: 000001234XXXXX56789
        relationshipNumber:
          type: string
          description: '* Max Length: 19


            Relationship number on the account.


            VisionPLUS Service Data: AZXCEO-ACCT-REL-NBR'
          example: 000001234XXXXX56789
        exchangeRate:
          type: number
          description: '* Max Length: 15


            Active exchange rate.


            VisionPLUS Service Data: AZXCEO-EXCHNG-RATE'
          example: 100000000000000
    DemographicInquiryRequest:
      required:
      - customerAccountCardNumber
      - numberType
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: "* Min Length: 1\n* Max Length: 3\n\nIdentification number\
            \ of the organization associated with the multilingual functionality (001\u2013\
            999).\n\nVisionPLUS Service Data: AZXNDI-ORG"
          format: int32
          example: 998
        customerAccountCardNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: 'Customer Account Card Number


            VisionPLUS Service Data: AZXNDI-CUST-ACCT-CARD-NBR'
          example: 000001234XXXXX56789
        numberType:
          type: string
          description: "* Min Length: 1\n* Max Length: 1\n\nType Of Number In The\
            \ 'idNumber' Field. \nValues:\n* 1 = Customer number;\n* 0 = The primary\
            \ customer record associated with the account will be updated with the\
            \ information provided to the service;\n* Space = The primary customer\
            \ record associated with the account will be updated with the information\
            \ provided to the service;\n* Low values = the primary customer record\
            \ associated with the account will be updated with the information provided\
            \ to the service;\n* If an alternate customer record, a correspondence\
            \ customer record, or a customer record associated with a card is needed,\
            \ use the customer number.\n\nVisionPLUS Service Data: AZXNDI-NBR-TYP"
          example: '1'
        foreignUseIndicator:
          type: string
          description: 'Length: 1


            Foreign Use Indicator.


            Values:

            * 0 = Local account;

            * Space = Local account;

            * Low values = Local account;

            * 1 = Foreign account.


            VisionPLUS Service Data: AZXNDI-FOREIGN-USE'
          example: '1'
      description: Demographic Data Request
    DemographicInquiryResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: "* Max Length: 3\n\nIdentification number of the organization\
            \ associated with the multilingual functionality (001\u2013999)\n\nVisionPLUS\
            \ Service Data: AZXNDO-ORG"
          format: int32
          example: 998
        customerNumber:
          type: string
          description: '* Max Length: 19


            Customer number.


            VisionPLUS Service Data: AZXNDO-CUST-NBR'
          example: 000001234XXXXX56789
        addStatus:
          type: integer
          description: '* Max Length: 2


            Add status.


            VisionPLUS Service Data: AZXNDO-ADD-STATUS'
          format: int32
          example: 11
        status:
          type: integer
          description: '* Max Length: 1


            Status Of The Account.


            Values:

            * 0 = Active (Default);

            * 1 = Closed;

            * 2 = Purge pending.


            VisionPLUS Service Data: AZXNDO-STATUS'
          format: int32
          example: 1
        source:
          type: string
          description: '* Max Length: 1


            Source.


            Values:

            * C = CONVERSION;

            * O = ON-LINE;

            * U = USER-INPUT;

            * S = API SERVICE;

            * T = TRANSFER.


            VisionPLUS Service Data: AZXNDO-SOURCE'
          example: C
        dateLastMaintenance:
          type: string
          description: 'Date of last maintenance on the account (in ISO 8601).


            VisionPLUS Service Data: AZXNDO-DATE-LAST-MAINT'
          format: date
          example: 2023-10-04
        dateLastAddressChange:
          type: string
          description: 'Date of last address change (in ISO 8601).


            VisionPLUS Service Data: AZXNDO-DATE-LAST-ADDRCHANGE'
          format: date
          example: 2023-10-04
        vipStatus:
          type: string
          description: '* Max Length: 1


            VIP Status Indicator.


            Values:

            * 0 = Not VIP customer;

            * 1 = VIP customer.


            VisionPLUS Service Data: AZXNDO-VIP-STATUS'
          example: '1'
        sicCode:
          type: integer
          description: '* Max Length: 6


            Standard Industrial Classification code used to identify the industry
            to which the commercial card customer is associated.


            VisionPLUS Service Data: AZXNDO-SIC-CODE'
          format: int32
          example: 123456
        duplicateCurrency:
          type: integer
          description: '* Max Length: 11


            Duplicate currency


            VisionPLUS Service Data: AZXNDO-DUPLICATE-CURRENCY'
          format: int32
          example: 11111111111
        makerCoMakerIndicator:
          type: string
          description: '* Max Length: 1


            Maker/comaker indicator


            VisionPLUS Service Data: AZXNDO-NA-COMAKER-IND'
          example: A
        nameAddrData:
          type: array
          items:
            $ref: '#/components/schemas/DemographicInquiryResponse.OwnerOrCoOwnerData'
    DemographicInquiryResponse.CarrierRoute:
      type: object
      properties:
        carrierRoute1and2:
          type: string
          description: '* Max Length: 2


            Two-part field that identifies the carrier route used for mail sorting
            purposes.

            Carrier route used to sort mail for postal delivery purposes.


            VisionPLUS Service Data: ARXGCI-CR-1-2'
          example: C1
        carrierRoute3and4:
          type: integer
          description: '* Max Length: 2


            Two-part field that identifies the carrier route used for mail sorting
            purposes.

            Carrier route used to sort mail for postal delivery purposes.


            VisionPLUS Service Data: ARXGCI-CR-3-4'
          format: int32
    DemographicInquiryResponse.DriverLicense:
      type: object
      properties:
        driverLicenseCountry:
          type: string
          description: "* Max Length: 3\n\nDriver\u2019s License Country.\n\nVisionPLUS\
            \ Service Data: AZXNDO-DL-CNTRY"
        driverLicenseState:
          type: string
          description: "* Max Length: 3\n\nDriver\u2019s License state.\n\nVisionPLUS\
            \ Service Data: AZXNDO-DL-STATE"
        driverLicenseNumber:
          type: string
          description: '* Max Length: 20


            Three-part field that identifies the driver license number of the owner,
            state or province of issue, and the country of issue.


            VisionPLUS Service Data: AZXNDO-DL-NBR'
    DemographicInquiryResponse.NameAddressData:
      type: object
      properties:
        nameLine1:
          type: string
          description: '* Max Length: 40


            Name Line 1.


            VisionPLUS Service Data: AZXNDO-NAME-LINE-1'
        nameLine2:
          type: string
          description: '* Max Length: 40


            Name Line 2.


            VisionPLUS Service Data: AZXNDO-NAME-LINE-2'
          example: OWN NAME L2 TEST9
        nameLine3:
          type: string
          description: '* Max Length: 40


            Name Line 3.


            VisionPLUS Service Data: AZXNDO-NAME-LINE-3'
          example: OWN NAME L3
        houseNumber:
          type: string
          description: '* Max Length: 20


            Internal Number of the Residence.


            VisionPLUS Service Data: AZXNDO-HOUSE-NUMBER'
          example: '12349'
        houseName:
          type: string
          description: '* Max Length: 40


            House name.


            VisionPLUS Service Data: AZXNDO-HOUSE-NAME'
          example: Could be apartment's name
        houseAddress1:
          type: string
          description: '* Max Length: 40


            House Address 1.'
          example: OWN ADDR L19
        houseAddress2:
          type: string
          description: '* Max Length: 40


            House Address 2.'
          example: OWN ADDR L29
        houseAddress3:
          type: string
          description: '* Max Length: 40


            house Address 3.'
          example: OWN ADDR L39
        houseAddress4:
          type: string
          description: '* Max Length: 40


            House Address 4.'
          example: OWN ADDR L49
        cityAndState:
          type: string
          description: '* Max Length: 40


            City and state.


            VisionPLUS Service Data: AZXNDO-CITY-STATE'
        memo1:
          type: string
          description: '* Max Length: 60


            Memo 1.


            VisionPLUS Service Data: AZXNDO-MEMO-1.'
          example: Memo 1
        memo2:
          type: string
          description: '* Max Length: 60


            Memo 2.


            VisionPLUS Service Data: AZXNDO-MEMO-2.'
          example: Memo 2
        contactIndicator:
          type: integer
          description: '* Max Length: 2


            Contact indicator.


            VisionPLUS Service Data: AZXNDO-CONTACT-IND'
          format: int32
        genderCode:
          type: integer
          description: '* Max Length: 1


            Gender code.


            Values:

            * 0 = Unspecified (Default);

            * 1 = Male;

            * 2 = Female.


            VisionPLUS Service Data: AZXNDO-GENDER-CODE'
          format: int32
          example: 1
    DemographicInquiryResponse.NameTypeIndicator:
      type: object
      properties:
        nameTypeIndicator1:
          type: string
          description: '* Max Length: 1


            Name Type Indicator 1. Indicates the type of name.

            Values:

            * 0 = Personal name (Default);

            * 1 = Business name;

            * 2 = Store name;

            * 3 = Generic name;


            VisionPLUS Service Data: AZXNDO-NAME-TYPE-IND-1'
          example: '1'
        nameTypeIndicator2:
          type: string
          description: '* Max Length: 1


            Name Type Indicator 2. indicates the type of name.

            Values:

            * 0 = Personal name (Default);

            * 1 = Business name;

            * 2 = Store name;

            * 3 = Generic name.


            VisionPLUS Service Data: AZXNDO-NAME-TYPE-IND-2'
          example: '1'
        nameTypeIndicator3:
          type: string
          description: '* Max Length: 1


            Name Type Indicator 3. indicates the type of name.

            Values:


            * 0 = Personal name (Default);

            * 1 = Business name;

            * 2 = Store name;

            * 3 = Generic name.


            VisionPLUS Service Data: AZXNDO-NAME-TYPE-IND-3'
          example: '1'
    DemographicInquiryResponse.OwnerOrCoOwnerData:
      type: object
      properties:
        sequence:
          type: integer
          description: Sequence.
          format: int32
        relativeName:
          type: string
          description: '* Max Length: 40


            Relative Name.


            VisionPLUS Service Data: AZXNDO-RELATIVE-NAME'
          example: Relative Name
        title:
          type: string
          description: '* Max Length: 40


            Title


            VisionPLUS Service Data: AZXNDO-TITLE'
          example: Monsieur
        identificationNumberFlag:
          type: string
          description: '* Max Length: 1


            Owner identification number flag.


            Values:

            * 0 = Social Security Number;

            * 1 = Tax ID;

            * 2 = Other ID.'
          example: '1'
        identificationNumber:
          type: string
          description: Identification number.
          example: '25'
        homePhoneNumber:
          type: string
          description: '* Max Length: 20


            Home phone.


            VisionPLUS Service Data: AZXNDO-HOME-PHONE'
          example: 123-456-9990
        employerName:
          type: string
          description: '* Max Length: 40


            Employer Name.


            VisionPLUS Service Data: AZXNDO-EMPLOYER'
          example: Milton
        employerAddress1:
          type: string
          description: '* Max Length: 40


            Two-part field that indicates the mailing address of the employer of the
            owner.


            VisionPLUS Service Data: AZXNDO-EMPLOYER-ADDR-1'
          example: EMP ADDR L1
        employerAddress2:
          type: string
          description: '* Max Length: 40


            Two-part field that indicates the mailing address of the employer of the  owner.


            VisionPLUS Service Data: AZXNDO-EMPLOYER-ADDR-2'
          example: EMP ADDR L2
        employerPhoneFlag:
          type: string
          description: '* Max Length: 1

            Employer Phone Flag Fax flag.


            The values are:


            * 0 = Do not fax;

            * 1 = May be faxed;

            * 2 = Prefers to be faxed.'
          example: '1'
        employerPhoneNumber:
          type: string
          description: '* Max Length: 20


            Employer Phone Number.


            VisionPLUS Service Data: AZXNDO-EMP-PHONE'
          example: 123-456-7890
        employerExtensionPhoneNumber:
          type: string
          description: '* Max Length: 6


            Employer Extension Phone Number.


            VisionPLUS Service Data: AZXNDO-EMP-PHONE-EXTN'
          example: '123456'
        homeFaxPhoneNumber:
          type: string
          description: "* Max Length: 20\n\nThree-part field that indicates the fax\
            \ number of the customer, whether you have the customer\u2019s permission\
            \ to contact the customer at this number, and the date on which the fax\
            \ number was last modified.\n\nVisionPLUS Service Data: AZXNDO-FAX-PHONE"
          example: 223-456-7890
        mobilePhoneNumber:
          type: string
          description: '* Max Length: 20


            Mobile Phone Number.


            VisionPLUS Service Data: AZXNDO-MOBILE-PHONE'
          example: 323-456-7890
        countryCode:
          type: string
          description: '* Max Length: 3


            Code that identifies the country in which this organization is located.


            VisionPLUS Service Data: AZXNDO-CNTRY-CD'
          example: USA
        postalCode:
          type: string
          description: '* Max Length: 10


            Residence Postal Code.


            VisionPLUS Service Data: AZXNDO-PSTL-CD'
          example: '12345679'
        position:
          type: string
          description: '* Max Length: 4


            User-defined code to indicate the position or job title of the owner.


            VisionPLUS Service Data: AZXNDO-POSITION'
          example: CEO
        maritalStatus:
          type: string
          description: '* Max Length: 1


            Marital Status.


            Values:

            * 0 = Not used (Default);

            * 1 = Married and living at the same address;

            * 2 = Married and living at different addresses;

            * 3 = Not married and living at the same address;

            * 4 = Not married and living at different addresses;

            * D = Divorced;

            * M = Married;

            * S = Single;

            * U = Undefined;

            * W = Widower.

            VisionPLUS Service Data: AZXNDO-MARITAL-STATUS'
          example: '1'
        ownOrRentResidenceFlag:
          type: string
          description: '* Max Length: 1


            Maker''s own/rent residence flag.


            Values:

            * 0 = Unknown;

            * 1 = Owns or is buying residence;

            * 2 = Rents or leases residence;

            * 3 = Lives at someone else''s residence.


            VisionPLUS Service Data: AZXNDO-OWN-RENT-RESID-FLAG'
          example: '2'
        languageIndicator:
          type: string
          description: '* Max Length: 3


            Spoken Language Indicator.


            VisionPLUS Service Data: AZXNDO-LANGUAGE-INDIC'
          example: ENG
        carrierRoute:
          $ref: '#/components/schemas/DemographicInquiryResponse.CarrierRoute'
        mailingList:
          type: string
          description: '* Max Length: 1


            Code indicating whether the Owner wants to be on a Mailing List.


            VisionPLUS Service Data: AZXNDO-MAILING-LIST'
          example: '1'
        dateOfBirth:
          type: string
          description: 'Date of birth of the customer (in ISO 8601).


            VisionPLUS Service Data: AZXNDO-DOB'
          format: date
          example: 2023-10-04
        foreignIndicator:
          type: string
          description: '* Max Length: 1


            Foreign Indicator.


            Values:

            * Blank = Does not live in a foreign country (Default);

            * Any character = Lives in a foreign country. Format the address to the
            IRS standard.


            VisionPLUS Service Data: AZXNDO-1099C-FOREIGN-IND'
          example: A
        driverLicense:
          $ref: '#/components/schemas/DemographicInquiryResponse.DriverLicense'
        w9Indicator:
          type: integer
          description: '* Max Length: 1


            1099C/W9 indicator


            VisionPLUS Service Data: AZXNDO-1099C-W9-IND'
          format: int32
          example: 1
        w9DateSent:
          type: string
          description: '1099C/W9 date sent (in ISO 8601).

            VisionPLUS Service Data: AZXNDO-1099C-W9-DATE-SENT'
          format: date
          example: 2023-04-10
        w9DateFiled:
          type: string
          description: w9DateFiled (in ISO 8601).
          format: date
        numberOfDependents:
          type: integer
          description: '* Max Length: 3


            Number of Dependents.


            VisionPLUS Service Data: AZXNDO-NBR-OF-DEPENDENTS'
          format: int32
          example: 100
        statementMessageIndicator:
          type: integer
          description: '* Max Length: 1


            Statement Message Indicator.


            VisionPLUS Service Data: AZXNDO-STMT-MSG-INDIC'
          format: int32
          example: 1
        email:
          type: string
          description: '* Max Length: 19


            Email of customer.


            VisionPLUS Service Data: AZXNDO-EMAIL'
          example: ABC.DEF@yahoo.com
        user1:
          type: string
          description: '* Max Length: 2


            User 1.


            VisionPLUS Service Data: AZXNDO-USER-1.'
          example: U1
        user2:
          type: string
          description: '* Max Length: 2


            User 2.


            VisionPLUS Service Data: AZXNDO-USER-2.'
          example: U2
        user3:
          type: string
          description: '* Max Length: 7


            User 3.


            VisionPLUS Service Data: AZXNDO-USER-3.'
          example: U323323
        user4:
          type: string
          description: '* Max Length: 1


            User 4.


            VisionPLUS Service Data: AZXNDO-USER-4.'
          example: U
        user5:
          type: string
          description: '* Max Length: 1


            User 5.


            VisionPLUS Service Data: AZXNDO-USER-5.'
          example: U
        user6:
          type: string
          description: '* Max Length: 2


            User 6.


            VisionPLUS Service Data: AZXNDO-USER-6.'
          example: U6
        user7:
          type: string
          description: '* Max Length: 2


            User 7.


            VisionPLUS Service Data: AZXNDO-USER-7.'
          example: U7
        user8:
          type: string
          description: '* Max Length: 2


            User 8.


            VisionPLUS Service Data: AZXNDO-USER-8.'
          example: U8
        user9:
          type: string
          description: '* Max Length: 2


            User 9.


            VisionPLUS Service Data: AZXNDO-USER-9.'
          example: U9
        user10:
          type: string
          description: 'User 10 (in ISO 8601).


            VisionPLUS Service Data: AZXNDO-USER-10.'
          format: date
          example: 2023-10-04
        user11:
          type: string
          description: 'User 11 (in ISO 8601).


            VisionPLUS Service Data: AZXNDO-USER-11.'
          format: date
          example: 2023-10-04
        user12:
          type: string
          description: '* Max Length: 30


            User 12.


            VisionPLUS Service Data: AZXNDO-USER-12.'
          example: U12
        user13:
          type: string
          description: '* Max Length: 30


            User 13.


            VisionPLUS Service Data: AZXNDO-USER-13.'
          example: U13
        user14:
          type: string
          description: '* Max Length: 20


            User 14.


            VisionPLUS Service Data: AZXNDO-USER-14.'
          example: U14
        user15:
          type: string
          description: '* Max Length: 20


            User 15.


            VisionPLUS Service Data: AZXNDO-USER-15.'
          example: U15
        demographic1:
          type: string
          description: '* Max Length: 20


            Demographic 1. User-defined demographic data or other information for
            an owner.


            VisionPLUS Service Data: AZXNDO-USER-DEMO-1'
          example: USER DEMO 1
        demographic2:
          type: string
          description: '* Max Length: 20


            Demographic 2. User-defined demographic data or other information for
            an owner.


            VisionPLUS Service Data: AZXNDO-USER-DEMO-2'
          example: USER DEMO 2
        demographic3:
          type: string
          description: '* Max Length: 20


            Demographic 3. User-defined demographic data or other information for
            an owner.


            VisionPLUS Service Data: AZXNDO-USER-DEMO-4'
          example: USER DEMO 3
        nameTypeIndicator:
          $ref: '#/components/schemas/DemographicInquiryResponse.NameTypeIndicator'
        nameAddressData:
          $ref: '#/components/schemas/DemographicInquiryResponse.NameAddressData'
        homePhoneFlag:
          type: string
          description: '* Max Length: 1


            Home Phone Indicator.


            Values:

            * 0 = Do not call;

            * 1 = May be called;

            * 2 = Prefers to be called.


            VisionPLUS Service Data: AZXNDO-HOME-PHONE-FLAG'
        faxPhoneFlag:
          type: string
          description: "* Max Length: 1\n\nThree-part field that indicates the facsimile\
            \ (fax) number of the co-owner, whether you have the co-owner\u2019s permission\
            \ to use this number, and the date when the number was last modified.\n\
            \nValues:\n* 0 = Do not fax;\n* 1 = May be faxed;\n* 2 = Prefers to be\
            \ faxed.\n\nVisionPLUS Service Data: AZXNDO-FAX-PHONE-FLAG"
          example: '1'
        mobilePhoneFlag:
          type: string
          description: '* Max Length: 1


            Mobile phone flag.

            Values:

            * 0 = Do not call;

            * 1 = May be called;

            * 2 = Prefers to be called;


            VisionPLUS Service Data: AZXNDO-MOBILE-PHONE-FLAG'
          example: '1'
        emailFlag:
          type: string
          description: "* Max Length: 1\n\nValues: \n * 0 = Do not e-mail;\n * 1 =\
            \ May be e-mailed;\n * 2 = Prefers to be e-mailed;\n\nVisionPLUS Service\
            \ Data: AZXNDO-EMAIL-FLAG"
          example: '1'
        smsFlag:
          type: string
          description: '* Max Length: 1


            SMS indicator.


            VisionPLUS Service Data: AZXNDO-SMS-FLAG'
          example: '1'
        lastName:
          type: string
          description: '* Max Length: 40


            Last name.


            VisionPLUS Service Data: AZXNDO-LAST-NAME'
          example: Sivale
        middleName:
          type: string
          description: '* Max Length: 40


            Middle name.


            VisionPLUS Service Data: AZXNDO-MIDDLE-NAME'
          example: Pedro
        firstName:
          type: string
          description: '* Max Length: 40


            First name.


            VisionPLUS Service Data: AZXNDO-FIRST-NAME'
          example: Pavan
        suffix:
          type: string
          description: '* Max Length: 20


            VisionPLUS Service Data: AZXNDO-SUFFIX'
          example: Sr
        county:
          type: string
          description: '* Max Length: 30


            County portion of the mailing address of the owner.


            VisionPLUS Service Data: AZXNDO-COUNTY'
          example: Orange
        accountCardNumber:
          type: string
          description: '* Max Length: 19


            Account card number.


            VisionPLUS Service Data: AZXNDO-ACCT-CARD-NBR.'
          example: '451234567000000000'
    AddCustomerRequest:
      type: object
      properties:
        customerData:
          $ref: '#/components/schemas/AddCustomerRequest.CustomerData'
        resvData:
          $ref: '#/components/schemas/ResvData'
      description: Add Customer Request
    AddCustomerRequest.CustomerData:
      type: object
      properties:
        customerKeyData:
          $ref: '#/components/schemas/CustomerKeyData'
        customerMiscellaneousData:
          $ref: '#/components/schemas/CustomerMiscellaneousData'
        ownerCoOwnerData:
          $ref: '#/components/schemas/AddCustomerRequest.CustomerData.OwnerCoOwnerData'
    AddCustomerRequest.CustomerData.OwnerCoOwnerData:
      type: object
      properties:
        ownerData:
          $ref: '#/components/schemas/AddCustomerRequest.CustomerData.OwnerCoOwnerData.OwnerData'
        coOwnerData:
          $ref: '#/components/schemas/AddCustomerRequest.CustomerData.OwnerCoOwnerData.CoOwnerData'
    AddCustomerRequest.CustomerData.OwnerCoOwnerData.CoOwnerData:
      required:
      - postalCode
      type: object
      properties:
        maritalStatus:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Marital Status.


            Values:

            0 = Not used(Default);

            1 = Married and living at the same address;

            2 = Married and living at different addresses;

            3 = Not married and living at the same address;

            4 = Not married and living at different addresses;

            D = Divorced;

            M = Married;

            S = Single;

            U = Undefined;

            W = Widower.


            VisionPLUS Service Data: ARXNAI-C-MARITAL-STATUS'
          example: '1'
        nameLine1:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Name of the customer as defined on the Customer Name/ Address
            record that is associated with the account.


            VisionPLUS Service Data: ARXNAI-C-NAME-LINE-1'
          example: OWN NAME L2 TEST9
        nameTypeIndicator1:
          type: integer
          description: '* Max Length: 1


            Name Type Indicator 1. indicates the type of name.


            Values:

            0 = Personal name (Default);

            1 = Business name;

            3 = Generic name.

            VisionPLUS Service Data: ARXNAI-C-NAME-TYPE-IND-1'
          format: int32
          example: 0
        nameLine2:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Name of the customer as defined on the Customer Name/ Address
            record that is associated with the account.


            VisionPLUS Service Data: ARXNAI-C-NAME-LINE-1'
          example: OWN NAME L2 TEST9
        nameTypeIndicator2:
          type: integer
          description: '* Max Length: 1


            Name Type Indicator 2. indicates the type of name.


            Values:

            0 = Personal name (Default);

            1 = Business name;

            3 = Generic name.


            VisionPLUS Service Data: ARXNAI-C-NAME-TYPE-IND-2'
          format: int32
          example: 0
        nameLine3:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Name Line 3.


            VisionPLUS Service Data: ARXNAI-C-NAME-LINE-1'
          example: OWN NAME L3
        nameTypeIndicator3:
          type: integer
          description: '* Max Length: 1


            Name Type Indicator 3. indicates the type of name.


            Values:

            0 = Personal name (Default);

            1 = Business name;

            3 = Generic name.


            VisionPLUS Service Data: ARXNAI-C-NAME-TYPE-IND-1'
          format: int32
          example: 0
        houseNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: 'Internal number of the residence.


            VisionPLUS Service Data: ARXNA-C-HOUSE-NBR'
          example: '12349'
        houseName:
          maxLength: 40
          minLength: 0
          type: string
          description: 'House Name.


            VisionPLUS Service Data: ARXNAI-C-HOUSE-NAME'
          example: LILY RESIDENCE
        houseAddress1:
          maxLength: 40
          minLength: 0
          type: string
          description: 'House Address 1.


            VisionPLUS Service Data: ARXNAI-C-ADDR-1'
          example: OWN ADDR L19
        houseAddress2:
          maxLength: 40
          minLength: 0
          type: string
          description: 'House Address 2.


            VisionPLUS Service Data: ARXNAI-C-ADDR-2'
          example: OWN ADDR L19
        houseAddress3:
          maxLength: 40
          minLength: 0
          type: string
          description: 'House Address 3.


            VisionPLUS Service Data: ARXNAI-C-ADDR-3'
          example: OWN ADDR L19
        houseAddress4:
          maxLength: 40
          minLength: 0
          type: string
          description: 'House Address 4.


            VisionPLUS Service Data: ARXNAI-C-ADDR-4'
          example: OWN ADDR L19
        city:
          maxLength: 30
          minLength: 0
          type: string
          description: 'City of the legal address of the property.


            VisionPLUS Service Data: ARXNAI-C-CITY'
          example: Sunshine
        state:
          maxLength: 3
          minLength: 0
          type: string
          description: 'Residence state. This is derived based on the state code.


            VisionPLUS Service Data: ARXNAI-C-STATE'
          example: FL
        postalCode:
          maxLength: 10
          minLength: 0
          type: string
          description: 'Residence Postal Code.


            VisionPLUS Service Data: ARXNAI-C-PSTL-CD'
          example: '12345679'
        countryCode:
          maxLength: 30
          minLength: 0
          type: string
          description: 'Code that identifies the country in which this organization
            is located.


            VisionPLUS Service Data: ARXNAI-C-CNTRY-CD'
          example: USA
        ownOrRentResidenceFlag:
          type: integer
          description: "* Max Length: 1\n\nMaker's own/rent residence flag.\n\nValues:\n\
            0 = Unknown;\n1 = Owns or is buying residence;\n2 = Rents or leases residence;\n\
            3 = Lives at someone else\u2019s residence.\n\nVisionPLUS Service Data:\
            \ ARXNAI-C-OWN-RENT-RESID-FLAG"
          format: int32
          example: 2
        foreignIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Foreign Indicator.


            Values:

            Blank = Does not live in a foreign country(Default);

            Any character = Lives in a foreign country. Format the address to the
            IRS standard.


            VisionPLUS Service Data: ARXNAI-C-1099C-FOREIGN-IND'
          example: A
        languageIndicator:
          maxLength: 3
          minLength: 0
          type: string
          description: 'Spoken Language Indicator.

            V+ will always populate


            VisionPLUS Service Data: ARXNAI-C-LANGUAGE-IND'
          example: ENG
        mailingList:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Code indicating whether the Owner wants to be on a Mailing
            List.


            VisionPLUS Service Data: ARXNAI-C-MAILING-LIST'
          example: '1'
        contactIndicator:
          type: integer
          description: '* Max Length: 2


            Code indicating whether customer contact is restricted or not.


            Values:

            00 = No restriction(Default);

            01 = Do not telephone;

            02 = Do not mail;

            03 = Do not mail or telephone;

            04-09 = Reserved for future use;

            10-99 = User-defined by client.


            VisionPLUS Service Data: ARXNAI-C-CONTACT-IND'
          format: int32
          example: 2
        genderCode:
          type: integer
          description: '* Max Length: 1


            Gender.


            Values:

            0 = Unspecified(Default);

            1 = Male;

            2 = Female.


            VisionPLUS Service Data: ARXNAI-C-GENDER-CODE'
          format: int32
          example: 1
        carrierRoute1and2:
          maxLength: 2
          minLength: 0
          type: string
          description: 'Two-part field that identifies the carrier route used for
            mail sorting purposes. Carrier route used to sort mail for postal delivery
            purposes.


            VisionPLUS Service Data: ARXNAI-C-CR-1-2'
          example: C1
        carrierRoute3and4:
          type: integer
          description: '* Max Length: 2


            Two-part field that identifies the carrier route used for mail sorting
            purposes. Carrier route used to sort mail for postal delivery purposes.


            VisionPLUS Service Data: ARXNAI-C-CR-3-4'
          format: int32
          example: 11
        homePhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: "Three-part field that indicates the fax number of the customer,\
            \ whether you have the customer\u2019s permission to contact the customer\
            \ at this number, and the date on which the fax number was last modified\n\
            \nVisionPLUS Service Data: ARXNAI-C-HOME-PHONE."
          example: 123-456-9990
        homeFaxPhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: "Three-part field that indicates the fax number of the customer,\
            \ whether you have the customer\u2019s permission to contact the customer\
            \ at this number, and the date on which the fax number was last modified.\n\
            \nVisionPLUS Service Data: ARXNAI-C-FAX-PHONE"
          example: 223-456-7890
        mobilePhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: 'Mobile Phone Number


            VisionPLUS Service Data: ARXNAI-C-MOBILE-PHONE'
          example: 323-456-7890
        dateOfBirth:
          type: string
          description: 'Date of birth of the customer (in ISO 8601).

            VisionPLUS Service Data: ARXNAI-C-DOB'
          format: date
          example: 2023-10-04
        driverLicenseNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: 'Three-part field that identifies the driver license number
            of the owner, state or province of issue, and the country of issue.


            VisionPLUS Service Data: ARXNAI-C-DL-NBR'
        driverLicenseState:
          maxLength: 3
          minLength: 0
          type: string
          description: 'Driver''s License State.


            VisionPLUS Service Data: ARXNAI-C-DL-STATE'
        driverLicenseCountry:
          maxLength: 3
          minLength: 0
          type: string
          description: 'Driver''s License Country.


            VisionPLUS Service Data: ARXNAI-C-DL-CNTRY'
        identificationNumberFlag:
          type: integer
          description: '* Max Length: 1


            Type of Identification.Owner identification number flag.

            Values:

            0 = Social Security number;

            1 = Tax ID;

            2 = Other ID.


            VisionPLUS Service Data: ARXNAI-C-SSAN-FLAG'
          format: int32
          example: 2
        identificationNumber:
          maxLength: 25
          minLength: 0
          type: string
          description: 'Identification number of the customer.If the field is 0 (Social
            Security number), the second part must be nine numeric characters only.


            isionPLUS Service Data: ARXNAI-C-SSAN'
          example: '123456789'
        dateOfFile:
          type: string
          description: 'Date Of File (in ISO 8601).


            VisionPLUS Service Data: ARXNAI-C-1099C-W9-DATE-FILED'
          format: date
          example: 2023-10-04
        statementMessageIndicator:
          type: integer
          description: "* Max Length: 1\n\nStatement Message Indicator.\nThe values\
            \ are 0\u20139. The default is 0.\nVisionPLUS Service Data: ARXNAI-C-STMT-MSG-INDIC"
          format: int32
          example: 0
        employerName:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Employer Name


            VisionPLUS Service Data: ARXNAI-C-EMPLOYER'
          example: Milton
        employerAddress1:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Two-part field that indicates the mailing address of the employer
            of the owner.


            VisionPLUS Service Data: ARXNAI-C-EMPLOYER-ADDR-1'
          example: EMP ADDR L1
        employerAddress2:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Two-part field that indicates the mailing address of the employer
            of the owner.


            VisionPLUS Service Data: ARXNAI-C-EMPLOYER-ADDR-2'
          example: EMP ADDR L1
        employerPhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: 'Employer Phone Number


            VisionPLUS Service Data: ARXNAI-C-EMP-PHONE'
          example: 123-456-7890
        employerExtensionPhoneNumber:
          maxLength: 6
          minLength: 0
          type: string
          description: 'Employee Phone Extension


            VisionPLUS Service Data: ARXNAI-C-EMP-PHONE-EXTN'
          example: '123456'
        employerPhoneFlag:
          type: integer
          description: '* Max Length: 1


            Employer Phone Flag.


            Values:

            0 = Do not call;

            1 = May be called;

            2 = Prefers to be called.


            VisionPLUS Service Data: ARXNAI-C-PHONE-FLAG'
          format: int32
          example: 1
        position:
          maxLength: 4
          minLength: 0
          type: string
          description: 'User-defined code to indicate the position or job title of
            the owner.


            VisionPLUS Service Data: ARXNAI-C-POSITION'
          example: CEO
        relativeName:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Name of a relative of the co-owner.


            VisionPLUS Service Data: ARXNAI-C-RELATIVE-NAME'
          example: Relative Name
        numberOfDependents:
          type: integer
          description: "* Max Length: 3 \n\nNumber of Dependents.\n\nVisionPLUS Service\
            \ Data: ARXNAI-C-NBR-OF-DEPENDENTS"
          format: int32
          example: 999
        email:
          maxLength: 60
          minLength: 0
          type: string
          description: 'Email of customer.


            VisionPLUS Service Data: ARXNAI-C-EMAIL'
          example: ABC.DEF@yahoo.com
        memo1:
          maxLength: 60
          minLength: 0
          type: string
          description: 'Two-part field used to enter memos or notes related to this
            account.


            VisionPLUS Service Data: ARXNAI-C-MEMO-1'
          example: Memo 1
        memo2:
          maxLength: 60
          minLength: 0
          type: string
          description: 'Two-part field used to enter memos or notes related to this
            account.


            VisionPLUS Service Data: ARXNAI-C-MEMO-2'
          example: Memo 2
        user1:
          maxLength: 2
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-C-USER-1'
          example: U1
        user2:
          maxLength: 2
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-C-USER-2'
          example: U2
        user3:
          maxLength: 7
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-C-USER-3'
          example: U323323
        user4:
          maxLength: 1
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-C-USER-4'
          example: U
        user5:
          maxLength: 1
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-C-USER-5'
          example: U
        user6:
          maxLength: 2
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-C-USER-6'
          example: U6
        user7:
          maxLength: 2
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-C-USER-7'
          example: U7
        user8:
          maxLength: 3
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-C-USER-8'
          example: U8
        user9:
          maxLength: 3
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-C-USER-9'
          example: U9
        user10:
          maxLength: 7
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-C-USER-10'
          example: '2011031'
        user11:
          maxLength: 7
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-C-USER-11'
          example: '2011031'
        user12:
          maxLength: 30
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-C-USER-12'
          example: U12
        user13:
          maxLength: 30
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-C-USER-13'
          example: U13
        user14:
          maxLength: 20
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-C-USER-14'
          example: U14
        user15:
          maxLength: 20
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-C-USER-15'
          example: U15
        demographic1:
          maxLength: 20
          minLength: 0
          type: string
          description: 'User-defined demographic data or other information for an
            owner.


            VisionPLUS Service Data: ARXNAI-C-USER-DEMO-1'
          example: USER DEMO 1
        demographic2:
          maxLength: 20
          minLength: 0
          type: string
          description: 'User-defined demographic data or other information for an
            owner.


            VisionPLUS Service Data: ARXNAI-C-USER-DEMO-2'
          example: USER DEMO 2
        demographic3:
          maxLength: 20
          minLength: 0
          type: string
          description: 'User-defined demographic data or other information for an
            owner.


            VisionPLUS Service Data: ARXNAI-C-USER-DEMO-3'
          example: USER DEMO 3
        homePhoneFlag:
          type: integer
          description: '* Max Length: 1


            Home Phone Indicator.


            Values:

            0 = Do not call;

            1 = May be called;

            2 = Prefers to be called.


            VisionPLUS Service Data: ARXNAI-C-HOME-PHONE-FLAG'
          format: int32
          example: 1
        faxPhoneFlag:
          type: integer
          description: "* Max Length: 1\n\nThree-part field that indicates the facsimile\
            \ (fax) number of the co-owner, whether you have the co-owner\u2019s permission\
            \ to use this number, and the date when the number was last modified.\n\
            \nValues:\n0 = Do not fax;\n1 = May be faxed;\n2 = Prefers to be faxed.\n\
            \nVisionPLUS Service Data: ARXNAI-C-FAX-PHONE-FLAG"
          format: int32
          example: 1
        mobilePhoneFlag:
          type: integer
          description: '* Max Length: 1


            Mobile phone flag.


            Values:

            0 = Do not call;

            1 = May be called;

            2 = Prefers to be called.


            VisionPLUS Service Data: ARXNAI-C-PHONE-FLAG'
          format: int32
          example: 1
        emailFlag:
          type: integer
          description: '* Max Length: 1


            Email flag.


            Values:

            0 = Do not e-mail;

            1 = May be e-mailed;

            2 = Prefers to be e-mailed.


            VisionPLUS Service Data: ARXNAI-C-EMAIL-FLAG'
          format: int32
          example: 1
        smsFlag:
          type: integer
          description: '* Max Length: 1


            Short message service (SMS) flag.


            Values:

            0 = No, do not send message;

            1 = Yes, you can send message.


            VisionPLUS Service Data: ARXNAI-C-SMS-FLAG'
          format: int32
          example: 1
        lastName:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Last Name.


            VisionPLUS Service Data: ARXNAI-C-LAST-NAME'
          example: Gonzalez
        middleName:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Middle Name.


            VisionPLUS Service Data: ARXNAI-C-MIDDDLE-NAME'
          example: Pedro
        firstName:
          maxLength: 40
          minLength: 0
          type: string
          description: 'First Name.


            VisionPLUS Service Data: ARXNAI-C-FIRST-NAME'
          example: Juan
        suffix:
          maxLength: 20
          minLength: 0
          type: string
          description: 'Field that identifies the suffix of the name of the owner.


            VisionPLUS Service Data: ARXNAI-C-SUFFIX'
          example: Sr
        county:
          maxLength: 30
          minLength: 0
          type: string
          description: 'County portion of the mailing address of the owner.


            VisionPLUS Service Data: ARXNA-C-COUNTY'
          example: Orange
    AddCustomerRequest.CustomerData.OwnerCoOwnerData.OwnerData:
      required:
      - postalCode
      type: object
      properties:
        maritalStatus:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Marital Status.


            Values:

            * 0 = Not used (Default);

            * 1 = Married and living at the same address;

            * 2 = Married and living at different addresses;

            * 3 = Not married and living at the same address;

            * 4 = Not married and living at different addresses;

            * D = Divorced;

            * M = Married;

            * S = Single;

            * U = Undefined;

            * W = Widower.


            VisionPLUS Service Data: ARXNAI-MARITAL-STATUS'
          example: '1'
        nameLine1:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Name Line 1.


            VisionPLUS Service Data: ARXNAI-NAME-LINE-1'
        nameTypeIndicator1:
          type: integer
          description: '* Max Length: 1

            Name Type Indicator 1. indicates the type of name.

            Values:

            * 0 = Personal name (Default);

            * 1 = Business name;

            * 3 = Generic name;


            VisionPLUS Service Data: M-NAME-TYPE-IND-1'
          format: int32
          example: 1
        nameLine2:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Name Line 2.


            VisionPLUS Service Data: ARXNAI-NAME-LINE-2'
          example: OWN NAME L2 TEST9
        nameTypeIndicator2:
          type: integer
          description: '* Max Length: 1


            Name Type Indicator 1. indicates the type of name.


            Values:

            * 0 = Personal name (Default);

            * 1 = Business name;

            * 3 = Generic name.


            VisionPLUS Service Data: M-NAME-TYPE-IND-2'
          format: int32
          example: 1
        nameLine3:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Name Line 3.


            VisionPLUS Service Data: ARXNAI-NAME-LINE-3'
          example: OWN NAME L3
        nameTypeIndicator3:
          type: integer
          description: '* Max Length: 1


            Name Type Indicator 1. indicates the type of name.


            Values:

            * 0 = Personal name (Default);

            * 1 = Business name;

            * 3 = Generic name.


            VisionPLUS Service Data: M-NAME-TYPE-IND-3'
          format: int32
          example: 1
        houseNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: 'Internal Number of the Residence.


            VisionPLUS Service Data: ARXNAI-HOUSE-NBR'
          example: '12349'
        houseName:
          maxLength: 40
          minLength: 0
          type: string
          description: 'House Name.

            VisionPLUS Service Data: ARXNAI-HOUSE-NAME'
          example: Could be apartment's name
        houseAddress1:
          maxLength: 40
          minLength: 0
          type: string
          description: 'House Address 1.


            VisionPLUS Service Data: ARXNAI-ADDR-1'
          example: OWN ADDR L19
        houseAddress2:
          maxLength: 40
          minLength: 0
          type: string
          description: 'House Address 2.


            VisionPLUS Service Data: ARXNAI-ADDR-2'
          example: OWN ADDR L29
        houseAddress3:
          maxLength: 40
          minLength: 0
          type: string
          description: 'House Address 3.


            VisionPLUS Service Data: ARXNAI-ADDR-3'
          example: OWN ADDR L39
        houseAddress4:
          maxLength: 40
          minLength: 0
          type: string
          description: 'House Address 4.


            VisionPLUS Service Data: ARXNAI-ADDR-4'
          example: OWN ADDR L49
        city:
          maxLength: 30
          minLength: 0
          type: string
          description: 'Residence City.


            VisionPLUS Service Data: ARXNAI-M-CITY'
          example: Sunshine
        state:
          maxLength: 3
          minLength: 0
          type: string
          description: 'Residence state. This is derived based on the state code.


            VisionPLUS Service Data: ARXNAI-STATE'
          example: FL
        postalCode:
          maxLength: 10
          minLength: 0
          type: string
          description: 'Residence Postal Code.


            VisionPLUS Service Data: ARXNAI-PSTL-CD'
          example: '12345679'
        countryCode:
          maxLength: 3
          minLength: 0
          type: string
          description: 'Country Code


            VisionPLUS Service Data: ARXNAI-CNTRY-CD'
          example: USA
        ownOrRentResidenceFlag:
          type: integer
          description: '* Max Length: 1


            Maker''s own/rent residence flag.


            Values:

            * 0 = Unknown

            * 1 = Owns or is buying residence

            * 2 = Rents or leases residence

            * 3 = Lives at someone else''s residence


            VisionPLUS Service Data: ARXNAI-OWN-RENT-RESID-FLAG'
          format: int32
          example: 2
        foreignIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: '1099C Foreign Indicator.

            Flag that indicates whether the owner lives in the United States or a
            foreign (non-U.S.) country.

            The IRS 1099-C programs use this field to determine whether to format
            the address to the IRS standard for U.S. addresses.

            The values are-

            Blank = Lives in the U.S.A. CMS formats the address to the IRS standard.

            Any character = Lives in a foreign (non-U.S.) country. CMS does not format
            the address to the IRS standard.


            VisionPLUS Service Data: ARXNAI-1099C-FOREIGN-IND'
          example: A
        languageIndicator:
          maxLength: 3
          minLength: 0
          type: string
          description: 'Spoken Language Indicator


            VisionPLUS Service Data: ARXNAI-LANGUAGE-IND'
          example: ENG
        mailingList:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Code Indicating Whether The Owner Wants To Be On A Mailing
            List.


            VisionPLUS Service Data: ARXNAI-MAILING-LIST'
          example: '1'
        contactIndicator:
          type: integer
          description: "* Max Length: 2\n\nCode indicating whether customer contact\
            \ is restricted or not.\n\nValues:\n* 00 = No restriction (Default);\n\
            * 01 = Do not telephone;\n* 02 = Do not mail;\n* 03 = Do not mail or telephone;\n\
            * 04\u201309 = Reserved for future use;\n* 10\u201399 = User-defined by\
            \ client.\n\nVisionPLUS Service Data: ARXNAI-CONTACT-IND"
          format: int32
          example: 12
        genderCode:
          type: integer
          description: '* Max Length: 1


            Gender.


            Values:

            * 0 = Unspecified (Default);

            * 1 = Male;

            * 2 = Female.


            VisionPLUS Service Data: ARXNAI-GENDER-CODE'
          format: int32
          example: 1
        carrierRoute1and2:
          maxLength: 2
          minLength: 0
          type: string
          description: 'Two-part field that identifies the carrier route used for
            mail sorting purposes.

            Carrier route used to sort mail for postal delivery purposes.


            VisionPLUS Service Data: ARXNAI-M-CR-1-2'
          example: C1
        carrierRoute3and4:
          type: integer
          description: 'Two-part field that identifies the carrier route used for
            mail sorting purposes. Carrier route used to sort mail for postal delivery
            purposes.


            VisionPLUS Service Data: ARXNAI-M-CR-3-4'
          format: int32
          example: 11
        homePhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: 'Home Phone Number.


            VisionPLUS Service Data: ARXNAI-HOME-PHONE'
          example: 123-456-9990
        homeFaxPhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: 'Home FAX Phone Number.


            VisionPLUS Service Data: ARXNAI-FAX-PHONE'
          example: 223-456-7890
        mobilePhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: 'Mobile Phone Number.


            VisionPLUS Service Data: ARXNAI-MOBILE-PHONE'
          example: 323-456-7890
        dateOfBirth:
          type: string
          description: 'Date of birth of the customer (in ISO 8601).


            VisionPLUS Service Data: ARXNAI-DOB'
          format: date
          example: 2023-10-04
        driverLicenseNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: Driver's License Number.
          example: '123421'
        driverLicenseState:
          maxLength: 3
          minLength: 0
          type: string
          description: 'Driver''s License State.


            VisionPLUS Service Data: ARXNAI-DL-STATE'
        driverLicenseCountry:
          maxLength: 3
          minLength: 0
          type: string
          description: 'Driver''s License Country.


            VisionPLUS Service Data: ARXNAI-DL-CNTRY'
        identificationNumberFlag:
          type: integer
          description: "* Max Length: 1 \n \nOwner identification number flag.\n\n\
            Values:\n* 0 = Social Security number;\n* 1 = Tax ID;\n* 2 = Other ID.\n\
            \nVisionPLUS Service Data: ARXNAI-M-SSAN-FLAG"
          format: int32
          example: 2
        identificationNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: 'Identification Number.


            VisionPLUS Service Data: ARXNAI-SSAN'
          example: '123456789'
        dateOfFile:
          type: string
          description: 'Date Of File For 1099C/W9 (in ISO 8601).


            VisionPLUS Service Data: ARXNAI-1099C-W9-DATE-FILED'
          format: date
          example: 2023-10-04
        statementMessageIndicator:
          type: integer
          description: "* Max Length: 1 \n\nStatement Message Indicator.\n\nVisionPLUS\
            \ Service Data: ARXNAI-STMT-MSG-INDIC"
          format: int32
          example: 1
        employerName:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Employer Name.


            VisionPLUS Service Data: ARXNAI-EMPLOYER'
          example: Milton
        employerAddress1:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Mailing address of the employer of the owner.


            VisionPLUS Service Data: ARXNAI-EMPLOYER-ADDR-1'
          example: EMP ADDR L1
        employerAddress2:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Mailing address of the employer of the owner.


            VisionPLUS Service Data: ARXNAI-EMPLOYER-ADDR-2'
          example: EMP ADDR L2
        employerPhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: 'Employer Phone Number.


            VisionPLUS Service Data: ARXNAI-EMP-PHONE'
          example: 123-456-7890
        employerExtensionPhoneNumber:
          maxLength: 6
          minLength: 0
          type: string
          description: 'Employee Phone Extension.


            VisionPLUS Service Data: ARXNAI-EMP-PHONE-EXTN'
          example: '123456'
        employerPhoneFlag:
          type: integer
          description: '* Max Length: 1


            Employer Phone Flag.


            Values:

            * 0 = Do not call;

            * 1 = May be called;

            * 2 = Prefers to be called.


            VisionPLUS Service Data: ARXNAI-PHONE-FLAG'
          format: int32
          example: 1
        position:
          maxLength: 4
          minLength: 0
          type: string
          description: 'User-defined code to indicate the position or job title of
            the owner.


            VisionPLUS Service Data: ARXNAI-POSITION'
          example: CEO
        relativeName:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Relative Name.


            VisionPLUS Service Data: ARXNAI-RELATIVE-NAME'
          example: Relative Name
        numberOfDependents:
          type: integer
          description: '* Max Length: 3


            Number of Dependents.


            VisionPLUS Service Data: ARXNAI-NBR-OF-DEPENDENTS'
          format: int32
          example: 999
        email:
          maxLength: 60
          minLength: 0
          type: string
          description: 'Email.


            VisionPLUS Service Data: ARXNAI-EMAIL'
          example: ABC.DEF@yahoo.com
        memo1:
          maxLength: 60
          minLength: 0
          type: string
          description: 'Memo 1.


            VisionPLUS Service Data: ARXNAI-MEMO-1'
          example: Memo 1
        memo2:
          maxLength: 60
          minLength: 0
          type: string
          description: 'Memo 2.


            VisionPLUS Service Data: ARXNAI-MEMO-2'
          example: Memo 2
        user1:
          maxLength: 2
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-USER-1'
          example: U1
        user2:
          maxLength: 2
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-USER-2'
          example: U2
        user3:
          maxLength: 7
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-USER-3'
          example: U323323
        user4:
          maxLength: 1
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-USER-4'
          example: U
        user5:
          maxLength: 1
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-USER-5'
          example: U
        user6:
          maxLength: 2
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-USER-6'
          example: U6
        user7:
          maxLength: 2
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-USER-7'
          example: U7
        user8:
          maxLength: 3
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-USER-8'
          example: U8
        user9:
          maxLength: 3
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-USER-9'
          example: U9
        user10:
          maxLength: 7
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-USER-10'
          example: '2011031'
        user11:
          maxLength: 7
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-USER-11'
          example: '2011032'
        user12:
          maxLength: 30
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-USER-12'
          example: U12
        user13:
          maxLength: 30
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-USER-13'
          example: U13
        user14:
          maxLength: 20
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-USER-14'
          example: U14
        user15:
          maxLength: 20
          minLength: 0
          type: string
          description: 'User-defined codes used for customized information about the
            account.


            VisionPLUS Service Data: ARXNAI-USER-15'
          example: U15
        demographic1:
          maxLength: 20
          minLength: 0
          type: string
          description: 'Demographic 1. User-defined demographic data or other information
            for an owner.


            VisionPLUS Service Data: ARXNAI-USER-DEMO-1'
          example: USER DEMO 1
        demographic2:
          maxLength: 20
          minLength: 0
          type: string
          description: 'Demographic 2. User-defined demographic data or other information
            for an owner.


            VisionPLUS Service Data: ARXNAI-USER-DEMO-2'
          example: USER DEMO 2
        demographic3:
          maxLength: 20
          minLength: 0
          type: string
          description: 'Demographic 3. User-defined demographic data or other information
            for an owner.


            VisionPLUS Service Data: ARXNAI-USER-DEMO-3'
          example: USER DEMO 3
        homePhoneFlag:
          type: integer
          description: '* Max Length: 1


            Home Phone Indicator


            Values:

            * 0 = Do not call;

            * 1 = May be called;

            * 2 = Prefers to be called;


            VisionPLUS Service Data: ARXNAI-PHONE-FLAG'
          format: int32
          example: 1
        faxPhoneFlag:
          type: integer
          description: "* Max Length: 1\n\nThree-part field that indicates the facsimile\
            \ (fax) number of the co-owner, whether you have the co-owner\u2019s permission\
            \ to use this number, and the date when the number was last modified.\n\
            \nValues:\n* 0 = Do not fax;\n* 1 = May be faxed;\n* 2 = Prefers to be\
            \ faxed.\n\nVisionPLUS Service Data: ARXNAI-FAX-PHONE-FLAG"
          format: int32
          example: 1
        mobilePhoneFlag:
          type: integer
          description: '* Max Length: 1


            Mobile phone flag.


            Values:

            * 0 = Do not call;

            * 1 = May be called;

            * 2 = Prefers to be called;


            VisionPLUS Service Data: ARXNAI-MOBILE-PHONE-FLAG'
          format: int32
          example: 1
        emailFlag:
          type: integer
          description: '* Max Length: 1


            Email flag.


            Values:

            * 0 = Do not E-mail;

            * 1 = May be E-mailed;

            * 2 = Prefers to be e-mailed.


            VisionPLUS Service Data: ARXNAI-EMAIL-FLAG'
          format: int32
          example: 1
        smsFlag:
          type: integer
          description: '* Max Length: 1


            Short message service (SMS) flag.


            Values:

            * 0 = No, do not send message;

            * 1 = Yes, you can send message.


            VisionPLUS Service Data: ARXNAI-SMS-FLAG'
          format: int32
          example: 1
        lastName:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Last Name


            VisionPLUS Service Data: ARXNAI-LAST-NAME'
          example: Gonzalez
        middleName:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Middle Name


            VisionPLUS Service Data: ARXNAI-MIDDDLE-NAME'
          example: Pedro
        firstName:
          maxLength: 40
          minLength: 0
          type: string
          description: 'First Name


            VisionPLUS Service Data: ARXNAI-FIRST-NAME'
          example: Juan
        suffix:
          maxLength: 20
          minLength: 0
          type: string
          description: 'Suffix


            VisionPLUS Service Data: ARXNAI-SUFFIX'
          example: Sr
        county:
          maxLength: 30
          minLength: 0
          type: string
          description: 'County portion of the mailing address of the owner


            VisionPLUS Service Data: ARXNAI-COUNTY'
          example: Orange
    CustomerKeyData:
      required:
      - accountNumber
      - customerNumber
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: "* Min Length: 1\n* Max Length: 3\n\nIdentification number\
            \ of the organization associated with the multilingual functionality (001-999).\n\
            \ \nVisionPLUS Service Data: ARXNAI-LOCAL-ACCT-ORG"
          format: int32
          example: 998
        customerNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: 'Customer number that identifies the Customer Name/Address
            record to which this account is assigned.

            A valid customer name and address must be on file for this account.


            VisionPLUS Service Data: ARXNAI-CUST-NBR'
          example: 000001234XXXXX56789
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: 'Identification of the account number associated with the customer
            number (demographic data) that you want to modify or view.


            VisionPLUS Service Data: ARXNAI-BS-ACCT'
          example: 000001234XXXXX56789
        coOwnerIndicator:
          type: integer
          description: '* Max Length: 1


            Owner/CoOwner Indicator. Maker/Comaker indicator.


            Values:

            * 1 = Maker;

            * 2 = Comaker.


            VisionPLUS Service Data: ARXNAI-NA-COMAKER-IND'
          format: int32
          example: 1
        dualFlag:
[...]
