openapi: 3.0.1
info:
  title: "FirstVision\u2122 Transaction Service - API Documentation"
  description: "This documentation describes the REST APIs provided by the FirstVision\u2122\
    \ Cards Microservice, which provides functionality for the issuing, management\
    \ and processing of credit cards, including bank, co-branded, private label, debit,\
    \ commercial, and prepaid"
  version: '1.2'
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /transactions/outstanding-authorizations/details:
    post:
      tags:
      - Transactions
      summary: 'Outstanding Authorizations Inquiry. VMX Service: M.FAS.OUTSTANDING.AUTH.INQ,
        L8V2'
      description: "Fetches data of both old and new transactions(including today's)\
        \ which are settled to an account. \nVMX Service: M.FAS.OUTSTANDING.AUTH.INQ,\
        \ L8V2"
      operationId: outstandingAuthorization
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutstandingAuthorizationFasRequest'
        required: true
      responses:
        '401':
          description: Unauthorize
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '300':
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutstandingAuthorizationFasResponse'
      x-proxy-name: Outstanding Authorizations Inquiry
      x-group-name: Transactions
components:
  schemas:
    OutstandingAuthorizationFasRequest:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: '* Max Length: 3


            Organization Number.


            VisionPLUS Service Data: OZXOAI-ORG'
          format: int32
          example: 807
        effectiveAuthorizationDate:
          type: string
          description: 'Effective Authorization Date (in ISO 8601).


            VisionPLUS Service Data: OZXOAI-EFF-DATE

            '
          format: date
          example: 2023-12-30
        effectiveAuthorizationTime:
          type: integer
          description: '* Max Length: 6


            Effective Authorization Time.


            VisionPLUS Service Data: OZXOAI-TIME'
          format: int32
          example: 112233
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: 'Account Number.


            VisionPLUS Service Data: OZXOAI-ACCT'
          example: '4513074002573466583'
        foreignUseIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: 'The FOREIGN USE indicator is provided in the input message
            so the requesting source can specify whether the request applies to the
            local or foreign account when the account is in a dual currency processing
            organization.


            The default is to the local account.


            Values:

            * Space = Local account;

            * Low Values = Local account;

            * 0 = Local account;

            * 1 = Foreign account.


            VisionPLUS Service Data: OZXOAI-FOREIGN-USE'
          example: '1'
        functionCode:
          type: string
          description: '* Max Length: 1


            Function code for navigating results.


            VisionPLUS Service Data: OZXOAI-SVC-FUNC-CODE'
          example: '1'
        filter:
          type: string
          description: '* Max Length: 1


            Filter for results.


            Values:

            * Space = All authorizations;

            * Low Values = All authorizations;

            * A = Approved authorizations;

            * D = Declined authorizations.


            VisionPLUS Service Data: OZXOAI-ACTION-FILTER'
          example: A
        numberOfAuthorizationsRequested:
          type: integer
          description: 'Number of authorizations requested. The values are 1 through
            100.


            The initial value is 100.


            VisionPLUS Service Data: OZXOAI-NBR-OF-RECS-REQ'
          format: int32
          example: 100
        authorizationDateRange:
          $ref: '#/components/schemas/OutstandingAuthorizationFasRequest.AuthorizationDateRange'
        authorizationNumber:
          type: string
          description: '* Max Length: 6


            Authorization number.


            VisionPLUS Service Data: OZXOAI-AUTH-NBR'
          example: '123'
      description: Outstanding Authorizations Request
    OutstandingAuthorizationFasRequest.AuthorizationDateRange:
      type: object
      properties:
        from:
          type: string
          description: 'Starting authorization date (in ISO 8601) range.


            VisionPLUS Service Data: OZXOAI-AUTH-FROM-DATE'
          format: date
          example: 2022-01-16
        to:
          type: string
          description: 'Ending authorization date (in ISO 8601) range.


            VisionPLUS Service Data: OZXOAI-AUTH-TO-DATE'
          format: date
          example: 2023-10-17
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    OutstandingAuthorizationFasResponse:
      type: object
      properties:
        currencyNumberOfDecimals:
          type: integer
          description: 'Length: 1

            Currency Number Of Decimals

            VisionPLUS Service Data: OZXOAO-O-CURR-NOD'
          format: int32
        currencyCode:
          type: integer
          description: 'Length: 3

            Currency Code

            VisionPLUS Service Data: OZXOAO-O-CURR-NBR'
          format: int32
        foreignUseIndicator:
          type: string
          description: 'Length: 1

            The FOREIGN USE indicator is provided in the input message so the requesting
            source can specify whether the request applies to the local or foreign
            account when the account is in a dual currency processing organization.

            VisionPLUS Service Data: OZXOAO-FOREIGN-USE'
        organizationNumber:
          type: integer
          description: 'Length: 3

            Organization Number.

            VisionPLUS Service Data: OZXOAO-ORG'
          format: int32
        accountNumber:
          type: string
          description: 'Length: 19

            Account number

            VisionPLUS Service Data: OZXOAO-ACCT'
        nextToken:
          $ref: '#/components/schemas/OutstandingAuthorizationFasResponse.NextToken'
        prevToken:
          $ref: '#/components/schemas/OutstandingAuthorizationFasResponse.PrevToken'
        more:
          type: string
          description: 'Length: 1

            Flag indicating that more data can be obtained.

            The values are:

            * N = No

            * Y = Yes

            VisionPLUS Service Data: OZXOAO-MORE-DATA-FLAG'
        numberOfAuthorizationsReturned:
          type: integer
          description: 'Length: 3

            Number Of Authorizations Returned.

            VisionPLUS Service Data: OZXOAO-NBR-RETURNED-ITEMS'
          format: int32
        authorizationsData:
          type: array
          items:
            $ref: '#/components/schemas/OutstandingAuthorizationFasResponse.AuthorizationData'
    OutstandingAuthorizationFasResponse.AuthorizationData:
      type: object
      properties:
        sequence:
          type: integer
          description: sequence
          format: int32
        effectiveDate:
          type: string
          description: 'Length: 8

            Effective date'
          format: date
        time:
          type: string
          description: Time
        requestType:
          type: string
          description: RequestType
        action:
          type: string
          description: Action
        actionReason:
          type: integer
          description: 'Length: 6

            Action reason'
          format: int32
        postingDate:
          type: string
          description: 'Length: 8

            Posting date'
          format: date
        creditPlan:
          type: integer
          description: CreditPlan
          format: int32
        authorizationAmount:
          type: number
          description: Authorization amount
          format: double
        authorizationCode:
          type: string
          description: Authorization code
        authorizationType:
          type: string
          description: Authorization type
        cardNumber:
          type: string
          description: Number
        cardSequence:
          type: integer
          description: Card sequence
          format: int32
        merchantCategoryCode:
          type: integer
          description: Merchant category code
          format: int32
        merchantCategoryCodeDescription:
          type: string
          description: Merchant category code description
        transactionRecordType:
          type: integer
          description: Transaction record type
          format: int32
        logExtent:
          type: integer
          description: Log extent
          format: int32
        relativeByteAddress:
          type: integer
          description: Relative byte address
          format: int32
        reasonDescription:
          type: string
          description: Reason description
        cardAcceptorNameAndLocation:
          type: string
          description: Card acceptor name and location
        transactionDescription:
          type: string
          description: Transaction description
        transactionEntryMode:
          type: integer
          description: Transaction entry mode
          format: int32
        transactionEntryModeDescription:
          type: string
          description: Transaction entry mode description
        merchantNumber:
          type: string
          description: Merchant number
        authorizationResponseCode:
          type: string
          description: Authorization response code
        creditAvailable:
          type: number
          description: Credit available
        creditAvailableForCashAdvances:
          type: number
          description: Credit available for cash advances
        accountCurrencyCode:
          type: string
          description: Account currency code
        stateOrCountry:
          type: string
          description: State or country
        transactionSourceTerminal:
          type: string
          description: Transaction source terminal
        merchantCode:
          type: string
          description: Merchant code
        processingCode:
          type: integer
          description: Processing code
          format: int32
        transactionAmount:
          type: number
          description: Transaction amount
        settlementAmount:
          type: number
          description: Settlement amount
        cardholderBillingAmount:
          type: number
          description: Cardholder billing amount
        systemAuditTraceNumber:
          type: string
          description: System audit trace number
        localTimeOfTheTransaction:
          type: string
          description: Local time of the transaction
        localDateOfTheTransaction:
          type: string
          description: Local date of the transaction
          format: date
        retrievalReferenceNumber:
          type: number
          description: Retrieval reference number
          format: double
        transactionCurrencyCode:
          type: integer
          description: Transaction currency code
          format: int32
        settlementCurrencyCode:
          type: integer
          description: Settlement currency code
          format: int32
        billingCurrencyCode:
          type: integer
          description: Billing currency code
          format: int32
        terminalNetworkName:
          type: string
          description: Terminal network name
        offeredDownPayment:
          type: number
          description: Offered down payment
        walletFeeAmount:
          type: number
          description: Wallet fee amount
        multiWalletPrepaid:
          $ref: '#/components/schemas/OutstandingAuthorizationFasResponse.MultiWalletPrepaid'
    OutstandingAuthorizationFasResponse.FundXfrFld:
      type: object
      properties:
        xfrFromCurrency:
          type: integer
          description: Xfr from currency
          format: int32
        xfrFromAmount:
          type: integer
          description: Xfr from amount
          format: int32
        xfrToAmount:
          type: number
          description: Xfr to amount
        xfrFeeAmount:
          type: number
          description: Xfr fee amount
    OutstandingAuthorizationFasResponse.MultiWalletPrepaid:
      type: object
      properties:
        currencyId:
          type: integer
          description: Currency id
          format: int32
        authWalletAmount:
          type: number
          description: Auth wallet amount
        baseCurrencyAmount:
          type: number
          description: Base currency amount
        authWalletMarkupAmount:
          type: number
          description: Auth wallet markup amount
        conversionFeeAmount:
          type: number
          description: Conversion fee amount
        crossWalletXfrFlag:
          type: integer
          description: Cross wallet xfr flag
          format: int32
        walletPrstFlag:
          type: integer
          description: Wallet prst flag
          format: int32
        walletToDwltConversionRate:
          type: integer
          description: Wallet to dwlt conversion rate
          format: int32
        xfrToCurrency:
          type: integer
          description: Xfr to currency
          format: int32
        fundXfrFld:
          $ref: '#/components/schemas/OutstandingAuthorizationFasResponse.FundXfrFld'
        atmWdrlFeeAmount:
          type: number
          description: Atm wdrl fee amount
        crosBrdrFeeAmount:
          type: number
          description: Cros brdr fee amount
        ccaFeeAmount:
          type: number
          description: Cca fee amount
        ivaTaxAmount:
          type: number
          description: Iva tax amount
    OutstandingAuthorizationFasResponse.NextToken:
      type: object
      properties:
        effectiveDate:
          type: string
          description: 'Length: 7

            Field to identify the next set of records.

            VisionPLUS Service Data: OZXOAO-EFF-DATE-NEXT'
          format: date
        time:
          type: string
          description: 'Length: 7

            Field to identify the next set of records.

            VisionPLUS Service Data: OZXOAO-TIME-NEXT'
        logRecordTypeOfTheTransaction:
          type: integer
          description: 'Length: 1

            Field to identify the next set of records

            VisionPLUS Service Data: OZXOAO-TXN-REC-TYPE'
          format: int32
        extentOfTheLogFile:
          type: integer
          description: 'Length: 1

            Field to identify the next set of records.

            VisionPLUS Service Data: OZXOAO-ACCOUNT-LOG-EXT-NEXT'
          format: int32
        relativeByteAddress:
          type: integer
          description: 'Length: 9

            Field to identify the next set of records.

            VisionPLUS Service Data: OZXOAO-ACCOUNT-RBA-NEXT'
          format: int32
    OutstandingAuthorizationFasResponse.PrevToken:
      type: object
      properties:
        effectiveDate:
          type: string
          description: 'Length: 7

            Field to identify the previous set of records

            VisionPLUS Service Data: OZXOAO-EFF-DATE-PREV'
          format: date
        time:
          type: string
          description: 'Length: 7

            Field to identify the next set of records.

            VisionPLUS Service Data: OZXOAO-TIME-NEXT'
        logRecordTypeOfTheTransaction:
          type: integer
          description: 'Length: 1

            Field to identify the previous set of records.

            VisionPLUS Service Data: OZXOAO-TXN-REC-TYPE-PREV'
          format: int32
        extentOfTheLogFile:
          type: integer
          description: 'Length: 1

            Field to identify the previous set of records.

            VisionPLUS Service Data: OZXOAO-ACCOUNT-LOG-EXT-PREV'
          format: int32
        relativeByteAddress:
          type: integer
          description: 'Length: 9

            Field to identify the previous set of records.

            VisionPLUS Service Data: OZXOAO-ACCOUNT-RBA-NEXT'
          format: int32
x-config:
  tryItOut: 'true'
