openapi: 3.0.1
info:
  title: FirstVision™ Customer Service - API Documentation
  description: This documentation describes the REST APIs provided by the FirstVision™ Cards Microservice, which provides functionality for the issuing, management and processing of credit cards, including bank, co-branded, private label, debit, commercial, and prepaid
  version: "1.2"
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /loyalty/pointsDisbursement:
    put:
      tags:
      - Loyalty
      summary: "LMS Points Account Auto Disbursement Data Update. (VMX service: M.LMS.POINTS.ACCT.DISB.DATA.UP,\
        \ R8V2)"
      description: "Enables to update the disbursement data fields on the Points Account\
        \ record. \nVMX service: M.LMS.POINTS.ACCT.DISB.DATA.UP, R8V2"
      operationId: pointsDisbursement
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PointsDisbursementRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointsDisbursementResponse'
      x-proxy-name: LMS Points Account Auto Disbursement Data Update
      x-child-product-name: Loyalty
  /loyalty/pointsAdjust:
    put:
      tags:
      - Loyalty
      summary: "LMS Account points Adjustment. (VMX service: M.LMS.POINTS.ADJ.ADD,\
        \ R8V1)"
      description: "Enables to adjust earned, bonus, bought and adjusted points on\
        \ a LMS Points Account record. \nVMX service: M.LMS.POINTS.ADJ.ADD, R8V1"
      operationId: pointsAdjust
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PointsAdjustRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointsAdjustResponse'
      x-proxy-name: LMS Account points Adjustment
      x-child-product-name: Loyalty
  /loyalty/statementLists:
    post:
      tags:
      - Loyalty
      summary: "Statement lists. (VMX service: M.LMS.STMT.LIST.INQ, R8V1)"
      description: "Inquires on existing statement summaries that are available for\
        \ a specific account in LMS. \nVMX service: M.LMS.STMT.LIST.INQ, R8V1"
      operationId: loyaltyStatementList
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyStatementListRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyStatementListResponse'
      x-proxy-name: Loyalty account transactions inquiry
      x-child-product-name: Loyalty
  /loyalty/redemption:
    post:
      tags:
      - Loyalty
      summary: "Redemption Transaction Add. (VMX service: M.LMS.REDEMPTION.ADD, R8V1)"
      description: "Shows the loyalty points to be redeemed after a cardholder has\
        \ earned enough loyalty points to qualify for a reward. \nVMX service: M.LMS.REDEMPTION.ADD,\
        \ R8V1"
      operationId: redemptionAdd
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedemptionAddRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedemptionAddResponse'
      x-proxy-name: Redemption Transaction Add
      x-child-product-name: Loyalty
  /loyalty/points:
    post:
      tags:
      - Loyalty
      summary: "LMS Account point details. (VMX service: M.LMS.POINTS.ACCT.INQ, R8V2)"
      description: "Finds Loyalty Points associated with a CMS Account number. \n\
        VMX service: M.LMS.POINTS.ACCT.INQ, R8V2"
      operationId: Find points details
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PointsDetailsRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointsDetailsResponse'
      x-proxy-name: LMS Points Account Auto Disbursement Data Update
      x-child-product-name: Loyalty
  /loyalty/pointsExpireHistory:
    post:
      tags:
      - Loyalty
      summary: "Points Expiry History. (VMX service: M.LMS.POINTS.EXPIRY.HIST.INQ,\
        \ R8V1)"
      description: "Inquires on the points expiration details from the statement summary\
        \ for a specific date and account in LMS. \nVMX service: M.LMS.POINTS.EXPIRY.HIST.INQ,\
        \ R8V1"
      operationId: pointsExpiryHistory
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PointsExpiryHistoryRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointsExpiryHistoryResponse'
      x-proxy-name: Points Expiry History
      x-child-product-name: Loyalty
  /loyalty/pointsAccount:
    post:
      tags:
      - Loyalty
      summary: "LMS Adds Account points. (VMX service: M.LMS.POINTS.ACCT.ADD, R8V1)"
      description: "Adds an LMS Points Account Record. \nVMX service: M.LMS.POINTS.ACCT.ADD,\
        \ R8V1"
      operationId: Add LMS account
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PointsAccountAddRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointsAccountAddResponse'
      x-proxy-name: Add LMS account
      x-child-product-name: Loyalty
  /loyalty/crossReference:
    post:
      tags:
      - Loyalty
      summary: "LMS/CMS or CMS/LMS Account cross reference. (VMX service: M.LMS.ACCOUNT.XREF.INQ,\
        \ R8V1)"
      description: "Enables to perform an inquiry on an existing CMS/LMS Account Cross-reference\
        \ record in LMS. \nVMX service: M.LMS.ACCOUNT.XREF.INQ, R8V1"
      operationId: Cross Reference Inquiry
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrossReferenceInquiryRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrossReferenceInquiryResponse'
      x-proxy-name: Cross Reference Inquiry
      x-child-product-name: Loyalty
  /loyalty/:
    post:
      tags:
      - Loyalty
      summary: "Loyalty account transactions inquiry. (VMX service: M.LMS.TRANSACTION.INQ,\
        \ R8V1)"
      description: "Inquire on transactions and their details for a given account\
        \ in LMS. \nVMX service: M.LMS.TRANSACTION.INQ, R8V1"
      operationId: inquireLmsTransactions
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LmsTransactionInquiryRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LmsTransactionInquiryResponse'
      x-proxy-name: Loyalty account transactions inquiry
      x-child-product-name: Loyalty
  /loyalty/statementSummary/{accountNumber}:
    get:
      tags:
      - Loyalty
      summary: "LMS Account Statement summary. (VMX service: M.LMS.STMT.SUMMARY.INQ,\
        \ R8V1)"
      description: "Inquires on a statement summary account in the LMS. \nVMX service:\
        \ M.LMS.STMT.SUMMARY.INQ, R8V1"
      operationId: statementSummaryDetails
      parameters:
      - name: accountNumber
        in: path
        description: Account number to search
        required: true
        schema:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 19
          type: string
        example: 1801000000004844172
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 807
      - name: Scheme
        in: query
        description: Starting scheme associated with the scroll
        required: true
        schema:
          type: string
        example: "00029"
      - name: statementDate
        in: query
        description: Date when the next statement will be produced (Julian format)
        required: true
        schema:
          type: string
        example: 2020350
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatementSummaryResponse'
      x-proxy-name: LMS Account Statement summary
      x-child-product-name: Loyalty
  /loyalty/demographic/{accountNumber}:
    get:
      tags:
      - Loyalty
      summary: "Inquire limits rules. (VMX service: M.LMS.DEMOGRAPHIC.INQ, R8V2)"
      description: "Fetches demographic data of LMS account. \nVMX service: M.LMS.DEMOGRAPHIC.INQ,\
        \ R8V2"
      operationId: demographicDetails
      parameters:
      - name: accountNumber
        in: path
        description: Account number to search
        required: true
        schema:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 19
          type: string
        example: 1801000000004844172
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 801
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemographicAccountDataResponse'
      x-proxy-name: Inquire limits rules
      x-child-product-name: Loyalty
components:
  schemas:
    PointsDisbursementRequest:
      required:
      - accountNumber
      - autoDisbFlag
      - schemeId
      type: object
      properties:
        organizationNumber:
          maximum: 999
          minimum: 1
          type: integer
          description: |-
            Length: 3
            Organization.
            VisionPLUS Service Data: GPXADI-ORG
          format: int32
          example: 807
        accountNumber:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19
            Account number.
            VisionPLUS Service Data: GPXADI-ACCOUNT-NBR
          example: "4513074002573466583"
        schemeId:
          type: string
          description: |-
            Length: 5
            Scheme identification number.
            VisionPLUS Service Data: GPXADI-SCHEME
          example: "12345"
        autoDisbFlag:
          type: string
          description: |-
            Length: 1
            Flag that indicates whether automatic disbursements are used for the Points Account record.
            The values are:
            * N = Automatic disbursement is not active
            * Y = Automatic disbursement is active
            VisionPLUS Service Data: GPXADI-AUTO-DISB-FLAG
          example: "N"
        rewardsCategory:
          type: string
          description: |-
            Length: 6
            Method used to disburse rewards.
            The values are:
            * CHECK = Check
            * CERT = Certificate
            * CREDIT = Credit
            * PPDGEN = Prepaid generic
            * PPDREL = Prepaid reload
            VisionPLUS Service Data: GPXADI-REWARDS-CAT
          example: "100"
        disbPacketPoints:
          type: number
          description: |-
            Length: 17
            Number of points in a disbursement packet.
            VisionPLUS Service Data: GPXADI-DISB-PACKET-PTS
          example: 100
        autoDisbFreq:
          type: integer
          description: |-
            Length: 2
            Code that indicates the frequency period.
            The values are:
            * 1–12 = Specifies the month when the interval is monthly.
            * 99 = Daily frequency
            VisionPLUS Service Data: GPXADI-AUTO-DISB-FREQ
          format: int32
          example: 20
        autoDisbInd:
          type: string
          description: |-
            Length: 1
            Frequency indicator for automatic disbursements.
            The values are:
            * A = Anniversary of the LMS account enrollment; FREQ must be 00
            * D = Daily; FREQ must be 00
            * M = Monthly; FREQ must be 01–12
            * Q = Quarterly (end of calendar quarter); FREQ must be 03
            * S = Specific month; FREQ must be 01–12
            * Blank = Not used
            VisionPLUS Service Data: GPXADI-AUTO-DISB-IND
          example: M
        autoDisbDayOfMonth:
          type: integer
          description: |-
            Length: 2
            Day of the month when automatic disbursements occur.
            The values are:
            * 1–31 = Specifies the month when the interval is monthly
            * 99 = Daily frequency
            VisionPLUS Service Data: GPXADI-AUTO-DISB-DAY-OF-MNT
          format: int32
          example: 13
        autoDisbAccount:
          type: string
          description: |-
            Length: 25
            Account number that identifies the accounts receivable account to which automatic disbursements will be disbursed.
            VisionPLUS Service Data: GPXADI-AUTO-DISB-ACCT
          example: "12345678901234"
        autoDisbDbaName:
          type: string
          description: |-
            Length: 43
            Store DBA (doing-business-as) name that identifies an existing store record designated as a redemption store.
            VisionPLUS Service Data: GPXADI-AUTO-DISB-DBA-NAME
          example: doing business as
        autoDisbThreshold:
          type: integer
          description: |-
            Length: 17
            Minimum number of points that must be earned before automatic disbursement occurs.
            VisionPLUS Service Data: GPXADI-AUTO-DISB-THRESHOLD
          format: int32
          example: 123456789
        autoDisbMaxLimit:
          type: integer
          description: |-
            Length: 17
            Maximum number of points that can be disbursed when automatic disbursement occurs.
            VisionPLUS Service Data: GPXADI-AUTO-DISB-MAX-LIMIT
          format: int32
          example: 123456789
      description: Points Disbursement Request
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    PointsDisbursementResponse:
      type: object
      properties:
        response:
          type: string
    PointsAdjustRequest:
      required:
      - accountNumber
      - groupCode
      - schemeId
      - storeNumber
      - tablePriority
      - tableType
      - transactionAmount
      - transactionCode
      type: object
      properties:
        organizationNumber:
          maximum: 999
          minimum: 1
          type: integer
          description: |-
            Length: 3
            Organization number that identifies the existing Organization record assigned to the Points Account record.
            VisionPLUS Service Data: GPXPAI-ORG
          format: int32
          example: 807
        cardNumber:
          type: string
          description: |-
            Length: 19
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).
            VisionPLUS Service Data: GPXPAI-CARD-NBR
          example: 000540208ID5IXX3865
        accountNumber:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19
            LMS account number that identifies the Points Account record.
            VisionPLUS Service Data: GPXPAI-ACCT-NBR
          example: "4513074002573466583"
        schemeId:
          type: string
          description: |-
            Length: 5
            Scheme ID that identifies the existing Points Scheme record assigned to the Points Account record.
            VisionPLUS Service Data: GPXPAI-SCHEME-ID
          example: "12345"
        transactionCode:
          type: integer
          description: |-
            Length: 3
            Default LMS transaction code that populates the POINTS TXN CODE field of each points transaction in the batch if you do not enter a transaction code. The values, grouped by the type of points, are:
            Earned points transactions-
            * 050 = Earned points credit
            * 070 = Earned points debit
            Bonus points transactions-
            * 052 = Bonus points credit
            * 072 = Bonus points debit
            Adjusted points transactions-
            * 054 = Adjusted points credit
            * 074 = Adjusted points debit
            Bought points transactions-
            * 056 = Closed points credit
            * 076 = Closed points debit
            Grace expiration points transactions-
            * 077 = Grace expiration points credit
            VisionPLUS Service Data: GPXPAI-TXN-CODE
          format: int32
          example: 52
        transactionAmount:
          maximum: 100
          minimum: 0
          type: number
          description: |-
            Length: 17
            Number of loyalty points for this points transaction.
            VisionPLUS Service Data: GPXPAI-TRAN-AMT
          example: 100
        actualValue:
          maximum: 100
          minimum: 0
          type: number
          description: |-
            Length: 17
            Actual monetary value of the points.
            VisionPLUS Service Data: GPXPAI-ACTUAL-VALUE
          example: 100
        description:
          maximum: 40
          minimum: 1
          type: string
          description: |-
            Length: 40
            Description of the points transaction.
            VisionPLUS Service Data: GPXPAI-DESC
          example: Description
        groupCode:
          type: string
          description: |-
            Length: 5
            Group code that identifies an existing Promotional Group record for this points transaction.
            VisionPLUS Service Data: GPXPAI-GROUP-CODE
          example: "123"
        tableType:
          type: string
          description: |-
            Length: 1
            Plan type that together with plan priority identifies an existing Points Plan record for this points transaction.
            The values are:
            * B = Base
            * O = Override
            * S = Supplementary
            * X = Extra points on cycle
            VisionPLUS Service Data: GPXPAI-TABLE-TYPE
          example: B
        tablePriority:
          type: integer
          description: |-
            Length: 2
            Plan priority that together with plan type identifies an existing Points Plan record for this points transaction.
            The values are 00–99
            VisionPLUS Service Data: GPXPAI-TABLE-PRI
          format: int32
          example: 1
        referenceNumber:
          type: string
          description: |-
            Length: 18
            User-defined reference number for this points transaction.
            VisionPLUS Service Data: GPXPAI-REF-NBR
          example: "123"
        reasonCode:
          type: string
          description: |-
            Length: 2
            User-defined reason code for this points transaction.
            VisionPLUS Service Data: GPXPAI-REASON-CODE
          example: "12"
        storeNumber:
          type: integer
          description: |-
            Length: 9
            Store number that identifies an existing Store record for this points transaction.
            VisionPLUS Service Data: GPXPAI-STORE-NBR
          format: int32
          example: 12345678
      description: Points Adjust Request
    PointsAdjustResponse:
      type: object
      properties:
        response:
          type: string
    LoyaltyStatementListRequest:
      required:
      - accountNumber
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          maximum: 999
          minimum: 1
          type: integer
          description: |-
            Length: 3
            Organization number that identifies the existing Organization record assigned to the Points Account record.
            VisionPLUS Service Data: GPXTRI-ORG
          format: int32
          example: 807
        accountNumber:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19
            LMS account number that identifies the LMS Points Account record
            VisionPLUS Service Data: GPXSLI-ACCOUNT-NBR
          example: "4513074002573466583"
        scheme:
          maximum: 5
          maxLength: 5
          minLength: 0
          type: string
          description: |-
            Length: 5
            LMS scheme ID that identifies is associated with the LMS Points Account record
            VisionPLUS Service Data: GPXSLI-SCHEME
          example: "10002"
        numberOfTransactions:
          maximum: 99
          minimum: 0
          type: integer
          description: |-
            Length: 2
            Number of transactions
            VisionPLUS Service Data: GPXSLI-NO-TXNS
          format: int32
          example: 0
        startDate:
          type: string
          description: |-
            Length: 8
            Starting date associated with the scroll
            VisionPLUS Service Data: GPXSLI-START-DATE
          format: date
        startingScheme:
          maxLength: 5
          minLength: 0
          type: string
          description: |-
            Length: 5
            Starting scheme associated with the scroll
            VisionPLUS Service Data: GPXSLI-START-SCHEME
        scrollingFeature:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Length: 1
            Scrolling feature.
            The values are:
            * Space = First 20 items
            * N = Next 20 items
            * P = Previous 20 items
            VisionPLUS Service Data: GPXSLI-FUNC-CODE
      description: Transactions Details Request
    LoyaltyStatementListResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3Number that identifies the Organization record assigned to the LMS Account.The values are 001–997.
            VisionPLUS Service Data: GPXSLO-ORG
          format: int32
        organizationName:
          type: string
          description: |-
            Length: 40Description assigned to the organization.
            VisionPLUS Service Data: GPXSLO-ORG-NAME
        accountNumber:
          type: string
          description: |-
            Length: 19LMS account number that identifies the LMS Points Account record.
            VisionPLUS Service Data: GPXSLO-ACCOUNT-NBR
        accountName:
          type: string
          description: |-
            Length: 40Name of the account holder.
            VisionPLUS Service Data: GPXSLO-ACCOUNT-NAME
        numberOfTransactions:
          type: integer
          description: |-
            Length: 2Number of transactions.
            VisionPLUS Service Data: GPXSLO-NO-TXNS-RQST
          format: int32
        statementDetailsList:
          type: array
          description: Statement details list
          items:
            $ref: '#/components/schemas/LoyaltyStatementListResponse.StatementDetails'
        moreStatements:
          type: string
          description: |-
            Length: 1Code that indicates whether more records are on file.
            VisionPLUS Service Data: GPXSLO-MORE-STMT
        startingDate:
          type: string
          description: |-
            Length: 8Starting date associated with the scroll.
            VisionPLUS Service Data: GPXSLO-START-DATE
          format: date
        startingScheme:
          type: string
          description: |-
            Length: 5Starting scheme associated with the scroll.
            VisionPLUS Service Data: GPXSLO-START-SCHEME
    LoyaltyStatementListResponse.StatementDetails:
      type: object
      properties:
        sequence:
          type: integer
          description: Sequence
          format: int32
        date:
          type: string
          description: |-
            Length: 8Statement date.
            VisionPLUS Service Data: GPXSLO-STMT-DATE
          format: date
        scheme:
          type: string
          description: Scheme
        flag:
          type: string
          description: |-
            Length: 1Statement flag.
            VisionPLUS Service Data: GPXSLO-STMT-FLAG
      description: Statement details list
    RedemptionAddRequest:
      required:
      - accountNumber
      - organizationNumber
      - rewardItem
      - schemeId
      type: object
      properties:
        organizationNumber:
          maximum: 999
          minimum: 1
          type: integer
          description: "Organization NumberVisionPLUS Service Data: GPXRAI-ORG"
          format: int32
          example: 807
        cardNumber:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 0
          type: string
          description: "Unique identifier or token associated with the card number\
            \ or payment instrument (FirstVision PAN Token).VisionPLUS Service Data:\
            \ GPXRAI-CARD-NBR"
          example: 000540208ID5IXX3865
        accountNumber:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 19
          type: string
          description: "Account NumberVisionPLUS Service Data: GPXRAI-ACCT-NBR"
          example: "4513074002573466583"
        schemeId:
          maxLength: 5
          minLength: 5
          type: string
          description: "Identification number of the points schemeVisionPLUS Service\
            \ Data: GPXRAI-SCHEME-ID"
          example: "12345"
        rewardItem:
          maxLength: 19
          minLength: 1
          type: string
          description: |-
            A reward item record identifies a type of reward that can be issued to cardholders who
            redeem loyalty points.VisionPLUS Service Data: GPXRAI-REWARD-ITEM
          example: Coupon
        prepaidCardNumber:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 0
          type: string
          description: "Prepaid Card NumberVisionPLUS Service Data: GPXRAI-PREPAID-CARD-NBR"
          example: "4513074002573466583"
        numberOfPoints:
          type: integer
          description: "Number of PointsVisionPLUS Service Data: GPXRAI-POINTS"
          format: int64
          example: 250
        reasonCode:
          maximum: 2
          minimum: 2
          maxLength: 2
          minLength: 0
          type: string
          description: "User-defined reason code for this points transaction.VisionPLUS\
            \ Service Data: GPXRAI-REASON-CODE"
          example: "12"
        userData:
          maxLength: 26
          minLength: 0
          type: string
          description: |-
            User-defined field that can be used when generating an
            interface file to send to a third-party vendor for prepaid cards
            (REWARD CATEGORY is PPDGEN).VisionPLUS Service Data: GPXRAI-USER-DATA
        couponData:
          type: array
          description: |-
            Denomination and number of coupons
            in each domination to disburse. Valid only if the disbursement
            reward category is by certificate.
          items:
            $ref: '#/components/schemas/RedemptionAddRequest.Coupon'
        nameOne:
          maxLength: 26
          minLength: 0
          type: string
          description: |-
            Name to be embossed on the first line of the prepaid card. Enter
            the name exactly as it is to appear on the card.VisionPLUS Service Data: GPXRAI-NAME-1
        nameTwo:
          maxLength: 26
          minLength: 0
          type: string
          description: |-
            Name to be embossed on the second line of the prepaid card.
            Enter the name exactly as it is to appear on the card.VisionPLUS Service Data: GPXRAI-NAME-2
      description: Redemption Add Request
    RedemptionAddRequest.Coupon:
      type: object
      properties:
        couponDenomination:
          type: integer
          description: "Coupon denominationVisionPLUS Service Data: GPXRAI-COUPON-DENOM"
          format: int32
          example: 12345
        couponNumber:
          type: integer
          description: Coupon number
          format: int32
          example: 12
      description: Denomination and number of coupons in each domination to disburse.
        Valid only if the disbursement reward category is by certificate. Upto 7 Occurences
    RedemptionAddResponse:
      type: object
      properties:
        response:
          type: string
    PointsDetailsRequest:
      required:
      - accountNumber
      - organizationNumber
      - scheme
      type: object
      properties:
        organizationNumber:
          type: integer
          description: "Organization Number.VisionPLUS Service Data: GPXAII-ORG"
          format: int32
          example: 801
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: "Account Number.VisionPLUS Service Data: GPXAII-ACCOUNT-NBR"
          example: "1801000000053684742"
        scheme:
          type: string
          description: "Scheme identification number.VisionPLUS Service Data: GPXAII-SCHEME"
          example: "00008"
      description: Find points details Request
    PointsDetailsResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: "Length: 3Organization number"
          format: int32
        organizationName:
          type: string
          description: "Length: 3Organization number that identifies the existing\
            \ Organization record assigned. VisionPLUS Service Data: GPXAIO-ORG"
        accountNumber:
          type: string
          description: "Length: 19LMS account Name that identifies the Points Account\
            \ record. VisionPLUS Service Data: GPXAIO-ACCT"
        accountName:
          type: string
          description: "Length: 19LMS account number that identifies the Points Account\
            \ record.VisionPLUS Service Data: GPXAIO-ACCT"
        scheme:
          type: integer
          description: "Length: 5Scheme identification number. VisionPLUS Service\
            \ Data: GPXAIO-SCHEME-ID"
          format: int32
        schemeName:
          type: string
          description: "Length: 40Name assigned to that Points Scheme record. VisionPLUS\
            \ Service Data: GPXAIO-SCHEME-NAME"
        status:
          type: integer
          description: |-
            Length: 1Status of the Points Account record.
            The values are:
            * 1 = Active
            * 2 = Inactive (batch status method)
            * 3 = On hold (batch status method)
            * 4 = Frozen (batch status method)
            * 6 = Pending close (batch status method)
            * 7 = Closed
            * 8 = Pending purge (batch status method)
            * 9 = Purged VisionPLUS Service Data: GPXAIO-INT-STATUS
          format: int32
        statusName:
          type: string
          description: "Length: 12Name of the account holder. VisionPLUS Service Data:\
            \ GPXAIO-STATUS-NAME"
        statusChangeDate:
          type: string
          description: "Length: 8Date when the last status change occurred for the\
            \ Points Account record. VisionPLUS Service Data: GPXAIO-STATUS-CHANGE-DATE"
          format: date
        lastMaintenanceOnThePointsId:
          type: string
          description: "Length: 3Operator ID of the person who performed the last\
            \ maintenance on the Points Account record. VisionPLUS Service Data: GPXAIO-OPER-LAST-MAINT"
        lastMaintenanceOnThePoints:
          type: string
          description: "Length: 8Last maintenance on the points."
          format: date
        typeOfCustomerFlag:
          type: string
          description: "Length: 17Type of customer flag."
        serviceFlagName:
          type: string
          description: |-
            Length: 12Description of value shown for service flag.
            The values are:
            * B = Business
            * C = Consolidated
            * I = Individual VisionPLUS Service Data: GPXAIO-SERVICE-FLAG-NAME
        automaticDisbursementFlag:
          type: string
          description: |-
            Length: 1Flag that indicates whether automatic disbursements are used for the Points Account record.
            The values are:
            * N = Automatic disbursement is not active
            * Y = Automatic disbursement is active.VisionPLUS Service Data: GPXAIO-AUTO-DISB-FLAG
        automaticDisbursementLastDate:
          type: string
          description: "Length: 8Date when the last automatic disbursement occurred.\
            \ VisionPLUS Service Data: GPXAIO-START-DISBURSE-DATE"
          format: date
        automaticDisbursementAccount:
          type: string
          description: "Length: 25Account number that identifies the accounts receivable\
            \ account to which automatic disbursements will be disbursed. VisionPLUS\
            \ Service Data: GPXAIO-AUTO-DISB-ACCT"
        blockCode1:
          type: string
          description: "Length: 1Block code assigned to the Points Account record.\
            \ VisionPLUS Service Data: GPXAIO-BLOCK-CODE-1"
        blockMode:
          type: string
          description: |-
            Length: 1Code that indicates which accounts receivable accounts linked to a Points Account record are checked for block codes and which block codes are applied.
            The values are:
            * N = Check only the accounts receivable account identified on the transaction being processed. If the account number is not identified on the transaction, perform processing as indicated by value P.* P = Check only the accounts receivable primary account linked to the Points Account record (PRIMARY ACCOUNT NUMBER on GPMA01). The block code assigned to the primary account controls processing for all linked accounts receivable accounts.
            * V = Do not check accounts receivable accounts for block codes.Apply only the LMS block code assigned to the Points Account record (LMS BLOCK CODE on GPMC01).
            * Y = Check all accounts receivable accounts for block codes. If any account is assigned a block code that is set to not earn or not redeem points, none of the linked accounts can earn or redeem points.VisionPLUS Service Data: GPXAIO-BLOCK-MODE
        delinquencyMode:
          type: string
          description: |-
            Length: 1Flag that indicates which accounts receivable accounts linked to the Points Account record are checked for delinquency and which delinquency is applied.

            The values are:
            * N = Check all accounts receivable accounts for delinquency.
            Apply delinquency only to the accounts receivable accounts that are delinquent. If none of the accounts receivable accounts are delinquent, check the accounts receivable primary account and perform the same processing as value P.
            * P = Check only the accounts receivable primary account for delinquency. The primary account is identified on the Account Demographics record (PRIMARY ACCOUNT NUMBER on GPMA01) linked to the Points Account record.When the primary account is delinquent, all accounts receivable accounts linked to the Points Account record are treated as delinquent.
            * V = Do not check accounts receivable accounts for delinquency.Delinquency is ignored on accounts receivable accounts linked to the Points Account record.
            * Y = Check all accounts receivable accounts for delinquency. If any account is delinquent and is set to not earn or not redeem points, none of the linked accounts can earn or redeem points. VisionPLUS Service Data: GPXAIO-DELINQUENCY-MODE
        monetaryValueLoyaltyPoints:
          type: number
          description: "Length: 17Monetary value of the loyalty points. VisionPLUS\
            \ Service Data: GPXAIO-HIGH-REDEEM-AMT"
        totalPointsAvailableToRedeem:
          type: number
          description: "Length: 17Total number of points currently available to redeem.\
            \ VisionPLUS Service Data: GPXAIO-HIGH-REDEEM-POINTS"
        totalCashValue:
          type: number
          description: "Length: 17Monetary value of the loyalty points. VisionPLUS\
            \ Service Data: GPXAIO-TOT-CASH-VALUE"
        basicEarnedPointsCycleToDate:
          type: number
          description: "Length: 17Total number of basic earned points cycle-to-date.\
            \ VisionPLUS Service Data: GPXAIO-CTD-PTS-EARNED"
        boughtPointsCycleToDate:
          type: number
          description: "Length: 17Total number of bought points cycle-to-date. VisionPLUS\
            \ Service Data: GPXAIO-CTD-PTS-BOUGHT"
        bonusPointsCycleToDate:
          type: number
          description: "Length: 17Total number of bonus points cycle-to-date. VisionPLUS\
            \ Service Data: GPXAIO-CTD-PTS-BONUS"
        redeemedPointsCycleToDate:
          type: number
          description: "Length: 17Total number of redeemed points cycle-to-date. VisionPLUS\
            \ Service Data: GPXAIO-CTD-PTS-REDEEMED"
        closedPointsCycleToDate:
          type: number
          description: "Length: 17Total number of closed points cycle-to-date.VisionPLUS\
            \ Service Data: GPXAIO-CTD-PTS-CLOSED"
        expiredPointsCycleToDate:
          type: number
          description: "Length: 17Total number of expired points cycle-to-date VisionPLUS\
            \ Service Data: GPXAIO-CTD-PTS-EXPIRED."
        adjustedInPointsCycleToDate:
          type: number
          description: "Length: 17Total number of adjusted in points cycle-to-date.\
            \ VisionPLUS Service Data: GPXAIO-CTD-PTS-ADJUST-IN"
        adjustedOutPointsCycleToDate:
          type: number
          description: "Length: 17Total number of adjusted out points cycle-to-date.\
            \ VisionPLUS Service Data: GPXAIO-CTD-PTS-ADJUST-OUT"
        expiredPointsRetainedInAGracePeriodCycleToDate:
          type: number
          description: "Length: 17Total number of expired points retained in a grace\
            \ period cycle-to-date. VisionPLUS Service Data: GPXAIO-GRACE-CTD"
        totalNumberOfAllPointsCycleToDate:
          type: number
          description: Total number of all points cycle to date.
        basicSpendAmountCycleToDate:
          type: number
          description: "Length: 17Total cycle-to-date basic spend amount. VisionPLUS\
            \ Service Data: GPXAIO-CTD-SPEND-EARNED"
        basicEarnedPointsLifeToDate:
          type: number
          description: "Length: 17Total number of basic earned points life-to-date.\
            \ VisionPLUS Service Data: GPXAIO-LTD-PTS-EARNED"
        boughtPointsLifeToDate:
          type: number
          description: "Length: 17Total number of bought points life-to-date. VisionPLUS\
            \ Service Data: GPXAIO-LTD-PTS-BOUGHT"
        bonusPointsLifeToDate:
          type: number
          description: "Length: 17Total number of bonus points life-to-date. VisionPLUS\
            \ Service Data: GPXAIO-LTD-PTS-BONUS"
        redeemedPointsLifeToDate:
          type: number
          description: "Length: 17Total number of redeemed points life-to-date. VisionPLUS\
            \ Service Data: GPXAIO-LTD-PTS-REDEEMED"
        closedPointsLifeToDate:
          type: number
          description: "Length: 17Total number of closed points life-to-date. VisionPLUS\
            \ Service Data: GPXAIO-LTD-PTS-CLOSED"
        expiredPointsLifeToDate:
          type: number
          description: "Length: 17Total number of expired points life-to-date. VisionPLUS\
            \ Service Data: GPXAIO-LTD-PTS-EXPIRED"
        adjustedInPointsLifeToDate:
          type: number
          description: "Length: 17Total number of adjusted in points life-to-date.\
            \ VisionPLUS Service Data: GPXAIO-LTD-PTS-ADJUST-IN"
        adjustedOutPointsLifeToDate:
          type: number
          description: "Length: 17Total number of adjusted out points life-to-date.VisionPLUS\
            \ Service Data: GPXAIO-LTD-PTS-ADJUST-OUT"
        basicSpendAmountYearToDate:
          type: number
          description: Total year-to-date basic spend amount.
        expiredPointsRetainedInGracePeriodLifeToDate:
          type: number
          description: "Length: 17Total number of expired points retained in a grace\
            \ period life-to-date. VisionPLUS Service Data: GPXAIO-GRACE-LTD"
        totalNumberOfAllPointsLifeToDate:
          type: number
          description: Total number of all points life to date.
        totalNumberOfOutstandingMemoPostedPoints:
          type: number
          description: "Total number of outstanding memo posted points that have been\
            \ processed but the actual points transactions have not been received.\
            \ VisionPLUS Service Data: GPXAIO-PT-PROC-NOT-RCD"
        openToRedeemCalculatedValue:
          type: number
          description: "Length: 2Open-to-redeem calculated value, which is the total\
            \ number of points less the memo-posted transactions. VisionPLUS Service\
            \ Data: GPXAIO-STMT-MONTH-FREQ"
        monthlyIntervalFrequency:
          type: integer
          description: "Length: 17Monthly interval when indicator is monthly and specific\
            \ month when indicator is specific. VisionPLUS Service Data: GPXAIO-OPEN-TO-RED-ON-SCR"
          format: int32
        dayOfTheMonthStatementsProduced:
          type: integer
          description: "Length: 2Day of the month on which statements are produced.\
            \ VisionPLUS Service Data: GPXAIO-STMT-DAY-OF-MONTH"
          format: int32
        dateLastStatementProduced:
          type: string
          description: "Length: 8Date when the last statement was produced. VisionPLUS\
            \ Service Data: GPXAIO-LAST-STMT-DATE"
          format: date
        dateNextStatementWillBeProduced:
          type: string
          description: "Length: 8Date when the next statement will be produced. VisionPLUS\
            \ Service Data: GPXAIO-NEXT-STMT-DATE"
          format: date
        dateThePointsAccountOpened:
          type: string
          description: "Length: 8Date when the Points Account record was opened. VisionPLUS\
            \ Service Data: GPXAIO-DATE-OPENED"
          format: date
        pointsInADisbursementPacket:
          type: number
          description: Points in disbursement packet.
        valueOfTheDisbursementPacket:
          type: number
          description: "Length: 17Monetary value of the disbursement packet. VisionPLUS\
            \ Service Data: GPXAIO-DISB-PKT-MON-VALPOINTS"
        frequencyPeriodCode:
          type: integer
          description: |-
            Length: 2Code that identifies the frequency period.
            The values are:
            * 00 = Not used (Default)
            * 01–12 = Specifies the monthly interval when the indicator is M, or specifies the specific month when the indicator is S. VisionPLUS Service Data: GPXAIO-AUTO-DISB-FREQ
          format: int32
        monthDayAutomaticDisbursementsOccur:
          type: integer
          description: Month Day Automatic Disbursements Occur.
          format: int32
        automaticDisbursementPointsAccountFlag:
          type: string
          description: |-
            Length: 1Flag that indicates whether automatic disbursements are used for the Points Account record.
            The values are:
            * N = Automatic disbursement is not active
            * Y = Automatic disbursement is active.VisionPLUS Service Data: GPXAIO-AUTO-DISB-FLAG
        automaticDisbursementDoingBusinessAsName:
          type: string
          description: "Length: 43Store DBA (doing-business-as) name that identifies\
            \ an existing Store record designated as a redemption store. VisionPLUS\
            \ Service Data: GPXAIO-AUTO-DISB-DBA-NAME"
        lastAutomaticDisbursementOccurred:
          type: string
          description: "Length: 8Last automatic disbursement occurred."
          format: date
        methodUsedToDisburseRewards:
          type: string
          description: |-
            Length: 6Method used to disburse rewards.
            The values are:
            * CERT = Certificate
            * CHECK = Check
            * CREDIT = Credit
            VisionPLUS Service Data: GPXAIO-REWARDS-CATEGORY
        pointsEarnedBeforeAutomaticDisbursements:
          type: number
          description: Points earned before automatic disbursements.
        monetaryEarnedBeforeAutomaticDisbursements:
          type: number
          description: Monetary Earned Before Automatic Disbursements.
        enrolledOrOpenedUserDefinedCode:
          type: string
          description: "Length: 4User-defined code that identifies the method by which\
            \ the account was enrolled or opened. VisionPLUS Service Data: GPXAIO-ENROLLMENT-CHANNEL"
        waiveMembershipFeeFlag:
          type: string
          description: |-
            Length: 1Flag that indicates whether to waive the membership fee on the Points Account record.
            The values are:
            * N = Do not waive membership fee
            * Y = Waive membership fee
            VisionPLUS Service Data: GPXAIO-WAIVE-MEMB-FEE
        dateLastStatusChangeOccurred:
          type: string
          description: "Length: 8Date when the last status change occurred for the\
            \ Points Account record. VisionPLUS Service Data: GPXAIO-AR-OPEN-DATE"
          format: date
        amountOfTheRebate:
          type: number
          description: "Length: 17Amount of the rebate. VisionPLUS Service Data: GPXAIO-REBATE-AMT"
        decimalPositionsRightInMonetaryAmountFields:
          type: integer
          description: Decimal positions right in monetary amount fields.
          format: int32
        decimalPositionsRightInPerItemRateFields:
          type: integer
          description: Decimal positions right in per item rate fields..
          format: int32
        decimalPositionsRightInPercentageFields:
          type: integer
          description: Decimal positions right in percentage fields.
          format: int32
        countryCode:
          type: string
          description: "Length: 3Country code. VisionPLUS Service Data: GPXAIO-COUNTRY-CODE"
        currencyCode:
          type: integer
          description: "Length: 3Currency code. VisionPLUS Service Data: GPXAIO-CURRENCY-CODE"
          format: int32
        maximumPointsCanAutomaticDisbursement:
          type: number
          description: Maximum Points Can Automatic Disbursement.
    PointsExpiryHistoryRequest:
      required:
      - accountNumber
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          maximum: 999
          minimum: 1
          type: integer
          description: "Organization NumberVisionPLUS Service Data: GPXEHI-ORG"
          format: int32
          example: 807
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: "LMS account number that identifies the LMS Points Account\
            \ recordVisionPLUS Service Data: GPXEHI-ACCOUNT-NBR"
          example: "4513074002573466583"
        scheme:
          maxLength: 5
          minLength: 0
          type: string
          description: "LMS scheme ID that identifies is associated with the LMS Points\
            \ Account recordVisionPLUS Service Data: GPXEHI-SCHEME"
          example: "00051"
        statementDate:
          type: string
          description: "Statement date associated with the scrollVisionPLUS Service\
            \ Data: GPXEHI-STMT-DATE"
          format: date
        numberOfTransactions:
          maximum: 99
          minimum: 0
          type: integer
          description: "Number of transactionsVisionPLUS Service Data: GPXEHI-NO-TXNS"
          format: int32
          example: 0
        scrollingFeature:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Scrolling feature.
            The values are:
            * Space = First 20 items
            * N = Next 20 items
            * P = Previous 20 itemsVisionPLUS Service Data: GPXEHI-FUNC-CODE
        startingRecordNumber:
          maxLength: 5
          minLength: 0
          type: string
          description: "Starting scheme associated with the scrollVisionPLUS Service\
            \ Data: GPXEHI-START-REC-NBR"
      description: Transactions Details Request
    PointsExpiryHistoryResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: "Length: 3Number that identifies the Organization record assigned\
            \ to the LMS account.VisionPLUS Service Data: GPXEHO-ORG"
          format: int32
        organizationName:
          type: string
          description: "Length: 40Description assigned to the organization.VisionPLUS\
            \ Service Data: GPXEHO-ORG-NAME"
        accountNumber:
          type: string
          description: "Length: 19LMS account number that identifies the LMS Points\
            \ Account record.VisionPLUS Service Data: GPXEHO-ACCOUNT-NBR"
        accountName:
          type: string
          description: "Length: 40Name of the account holder.VisionPLUS Service Data:\
            \ GPXEHO-ACCOUNT-NAME"
        statementDate:
          type: string
          description: "Length: 8Statement Date.VisionPLUS Service Data: GPXEHO-STMT-DATE"
          format: date
        scheme:
          type: string
          description: "Length: 5Scheme that is assigned to the points account for\
            \ which the statement was produced.VisionPLUS Service Data: GPXEHO-SCHEME-ID"
        schemeName:
          type: string
          description: "Length: 40Name associated with the scheme.VisionPLUS Service\
            \ Data: GPXEHO-SCHEME-NAME"
        numberOfTransactions:
          type: integer
          description: "Length: 2Number of transactions requested.VisionPLUS Service\
            \ Data: GPXEHO-NO-TXNS-RQST"
          format: int32
        expireHistoryList:
          type: array
          description: Expire history List
          items:
            $ref: '#/components/schemas/PointsExpiryHistoryResponse.ExpireHistoryDetails'
        moreStatements:
          type: string
          description: "Length: 1Code that indicates whether more records are on file.VisionPLUS\
            \ Service Data: GPXEHO-MORE-STMT"
        currencyCode:
          type: string
          description: "Length: 3Currency code.VisionPLUS Service Data: GPXEHO-CURRENCY-CODE"
        countryCode:
          type: string
          description: "Length: 3Country codeVisionPLUS Service Data: GPXEHO-COUNTRY-CODE"
        currencyNod:
          type: string
          description: "Length: 1Currency NOD.VisionPLUS Service Data: GPXEHO-CURRENCY-NOD"
        perItemNod:
          type: string
          description: "Length: 1Per item NOD.VisionPLUS Service Data: GPXEHO-PER-ITEM-NOD"
    PointsExpiryHistoryResponse.ExpireHistoryDetails:
      type: object
      properties:
        sequence:
          type: integer
          description: Sequence
          format: int32
        accumulatedPoints:
          type: integer
          description: Accumulated points
          format: int32
        accumulatedPointsExpirationDate:
          type: string
          description: "Length: 8Accumulated points expiration date.VisionPLUS Service\
            \ Data: GPXEHO-ACC-PTS-EXP-DTE"
          format: date
        pointsRedeemed:
          type: integer
          description: "Length: 17Number of points that have been redeemed.VisionPLUS\
            \ Service Data: GPXEHO-PTS-REDEEMED"
          format: int32
        pointsExpired:
          type: integer
          description: "Length: 17Number of points that have expired.VisionPLUS Service\
            \ Data: GPXEHO-PTS-EXPIRED"
          format: int32
        pointsExpirationDate:
          type: string
          description: "Length: 8Points expiration date.VisionPLUS Service Data: GPXEHO-PTS-EXPIRED-DTE"
          format: date
        recordNumber:
          type: integer
          description: "Length: 4Record number.VisionPLUS Service Data: GPXEHO-REC-NBR"
          format: int32
      description: Expire history List
    PointsAccountAddRequest:
      required:
      - accountNumber
      - enrollmentChannel
      - nextStatementDate
      - organizationNumber
      - schemeId
      - serviceFlag
      - statementMonthDay
      - statementMonthFreq
      type: object
      properties:
        organizationNumber:
          type: integer
          description: "Length: 3Organization Number. VisionPLUS Service Data: GPXAAI-ORG"
          format: int32
          example: 823
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: "Length: 19LMS Account Number. VisionPLUS Service Data: GPXAAI-ACCOUNT-NBR"
          example: "4004894352313040331"
        schemeId:
          type: string
          description: "Length: 5Scheme ID. VisionPLUS Service Data: GPXAAI-SCHEME"
          example: "12345"
        enrollmentChannel:
          type: string
          description: "Length: 4User-defined code that identifies the method by which\
            \ the account was enrolled or opened. VisionPLUS Service Data: GPXAAI-ENROLLMENT-CHANNEL"
          example: "12345"
        serviceFlag:
          type: string
          description: |-
            Length: 1Length: 1
            Type of customer.
            The values are:
            B = Business
            C = Consolidated
            I = Individual
            VisionPLUS Service Data: GPXAAI-SERVICE-FLAG
          example: I
        statementMonthFreq:
          type: integer
          description: "Length: 2Frequency in months at which statements are produced.\
            \ The values are 01–99. VisionPLUS Service Data: GPXAAI-STMT-MONTH-FREQ"
          format: int32
          example: 15
        statementMonthDay:
          type: integer
          description: "Length: 2Day of the month on which statements are produced.\
            \ The values are 01–31. VisionPLUS Service Data: GPXAAI-STMT-DAY-OF-MONTH"
          format: int32
          example: 12
        nextStatementDate:
          type: string
          description: "Length: 8Date when the next statement will be produced. VisionPLUS\
            \ Service Data: GPXAAI-NEXT-STMT-DATE"
          format: date
      description: Add LMS account
    PointsAccountAddResponse:
      type: object
      properties:
        response:
          type: string
    CrossReferenceInquiryRequest:
      required:
      - accountNumber
      - nameAddSourceFlag
      - organizationNumber
      - startingItem
      type: object
      properties:
        nameAddSourceFlag:
          maxLength: 5
          minLength: 0
          type: string
          description: |-
            Length: 5
            Source code that identifies the system where the account exists.
            The values are:
            * LMS = Loyalty Management System. Enter this source code if the account number (ACCOUNT field) identifies an LMS Points Account record.
            * CMS = Credit Management System. Enter this source code if the account number (ACCOUNT field) identifies a CMS base segment account number.
            VisionPLUS Service Data: GPXXII-NAME-ADD-SRC-FLAG
          example: CMS
        organizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization number that identifies theOrganization record assigned to an account.
            VisionPLUS Service Data: GPXXII-ORG
          format: int32
          example: 801
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19
            LMS points account number, CMS account base segment number, or accounts receivable account number assigned to an AR/LMS Account Cross-reference record.
            VisionPLUS Service Data: GPXXII-ACCOUNT-NBR
          example: "4506684000316710701"
        startingOrganizationNumber:
          type: integer
          description: |-
            Length: 3
            Starting organization associated with the scroll.
            VisionPLUS Service Data: GPXXII-SVC-START-ORG
          format: int32
          example: 801
        startingItem:
          maxLength: 19
          minLength: 0
          type: string
          description: |-
            Length: 19
            Starting item (populated from the previous output message) associated with the scroll.
            VisionPLUS Service Data: GPXXII-SVC-START-ITEM
          example: "1801000000053684700"
        functionCode:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Length: 1
            Scrolling feature.
            The values are:
            Space = First 20 items
            * N = Next 20 items
            * P = Previous 20 items
            VisionPLUS Service Data: GPXXII-SVC-FUNC-CODE
          example: U
      description: Cross Reference Inquiry Request
    CrossReferenceInquiryResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization number.
            VisionPLUS Service Data: GPXXIO-ORG
          format: int32
        accountCounter:
          type: integer
          description: |-
            Length: 2
            Number of accounts.
            VisionPLUS Service Data: GPXXIO-ACCOUNTS-CNT
          format: int32
        accountList:
          type: array
          description: Account list
          items:
            $ref: '#/components/schemas/CrossReferenceInquiryResponse.Account'
        moreRecords:
          type: string
          description: |-
            Length: 1
            Code that indicates whether more records are on file.
            VisionPLUS Service Data: GPXXIO-MORE-STMT
        startingOrganizationNumber:
          type: integer
          description: |-
            Length: 3
            Starting organization associated with the scroll.
            VisionPLUS Service Data: GPXXIO-SVC-START-ORG
          format: int32
        startingItem:
          type: string
          description: |-
            Length: 19
            Starting item (populated from the previous output message) associated with the scroll.
            VisionPLUS Service Data: GPXXIO-SVC-START-ITEM
    CrossReferenceInquiryResponse.Account:
      type: object
      properties:
        sequence:
          type: integer
          description: Sequence
          format: int32
        accountNumber:
          type: string
          description: |-
            Length: 19
            Account number.
            VisionPLUS Service Data: GPXXIO-ACCOUNT-NBR
        accountName:
          type: string
          description: |-
            Length: 40
            Account name.
            VisionPLUS Service Data: GPXXIO-ACCOUNT-NAME
      description: Account list
    LmsTransactionInquiryRequest:
      required:
      - accountNumber
      - organizationNumber
      - schemeId
      - transactionRequestIndicator
      type: object
      properties:
        organizationNumber:
          maximum: 999
          minimum: 1
          type: integer
          description: |-
            Length: 3
            Organization number that identifies the existing Organization record assigned to the Points Account record.
          format: int32
          example: 801
        transactionRequestIndicator:
          maximum: 1
          minimum: 0
          type: integer
          description: |-
            Length: 1
            Transaction request indicator.
            * 0 = Active transactions and history transactions are returned
            * 1 = Active transactions, history transactions, and warehoused transactions are returned
            VisionPLUS Service Data: GPXTRI-TXN-IND
          format: int32
          example: 0
        accountNumber:
          maximum: 99999999
          minimum: 1
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19
            LMS account number that identifies the Points Account record.
            VisionPLUS Service Data: GPXTRI-ACCOUNT-NBR
          example: "1801000000124111842"
        schemeId:
          maximum: 5
          minimum: 5
          maxLength: 5
          minLength: 5
          type: string
          description: |-
            Length: 5
            Scheme ID that identifies the existing Points Scheme record assigned to the Points Account record.
            VisionPLUS Service Data: GPXTRI-SCHEME-ID
          example: "00030"
        fromDate:
          type: string
          description: |-
            Length: 8
            Begin date associated with the scroll.
            VisionPLUS Service Data: GPXTRI-FROM-DATE
          format: date
        toDate:
          type: string
          description: |-
            Length: 8
            End date associated with the scroll.
            VisionPLUS Service Data: GPXTRI-TO-DATE
          format: date
        numberOfTransactions:
          type: integer
          description: |-
            Length: 2
            Number of transactions requested associated with the scroll.
            VisionPLUS Service Data: GPXTRI-NO-TXNS
          format: int32
          example: 1
        scrollFeature:
          type: string
          description: |-
            Length: 1
            Scrolling feature.
            The values are:
            * Space = First 20 items
            * N = Next 20 items
            * P = Previous 20 items
            VisionPLUS Service Data: GPXTRI-FUNC-CODE
        startStatementDate:
          type: string
          description: |-
            Length: 8
            Start statement date associated with the scroll.
            VisionPLUS Service Data: GPXTRI-STR-STMT-DTE
          format: date
        startRecordNumber:
          type: string
          description: |-
            Length: 8
            Start record number associated with the scroll.
            VisionPLUS Service Data: GPXTRI-STR-REC-NO
          format: date
        startFileType:
          type: string
          description: |-
            Length: 1
            Start file type associated with the scroll.
            VisionPLUS Service Data: GPXTRI-STR-FL-TYPE
      description: LMS transactions inquiry request
    LmsTransactionInquiryResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization number.
            VisionPLUS Service Data: GPXTRO-ORG
          format: int32
        accountNumber:
          type: string
          description: |-
            Length: 19
            Account number.
            VisionPLUS Service Data: GPXTRO-ACCOUNT-NBR
        accountName:
          type: string
          description: |-
            Length: 40
            Account name.
            VisionPLUS Service Data: GPXTRO-ACCOUNT-NAME
        schemeId:
          type: string
          description: |-
            Length: 1
            Scheme that is assigned to the points account for which the statement was produced.
            VisionPLUS Service Data: GPXTRO-PCT-RATE-NOD
        schemeName:
          type: string
          description: |-
            Length: 40
            Name associated with the scheme.
            VisionPLUS Service Data: GPXTRO-SCHEME-NAME.
        perItemNumberOfDecimals:
          type: integer
          description: |-
            Length: 1
            Number of decimal positions to the right of the decimal point (or other decimal character) in per item rate fields.
            VisionPLUS Service Data: GPXTRO-PER-ITEM-NOD
          format: int32
        percentageFieldsNumberOfDecimals:
          type: integer
          description: Number of decimal positions to the right of the decimal point
            (or other decimal character) in percentage fields.
          format: int32
        numberOfTransactionsRequested:
          type: integer
          description: |-
            Length: 2
            Number of transactions requested.
            VisionPLUS Service Data: GPXTRO-NO-TXNS-RQST
          format: int32
        isMoreRecords:
          type: string
          description: |-
            Length: 1
            Code that indicates whether more records are on file.
            VisionPLUS Service Data: GPXTRO-MORE-STMT
        startingDate:
          type: string
          description: "Length: 8Starting date associated with the scroll."
          format: date
        startingStatementNumber:
          type: integer
          description: |-
            Length: 8
            Starting statement number associated with the scroll.
            VisionPLUS Service Data: GPXTRO-STR-STMT-NO
          format: int32
        startingStatementFileType:
          type: string
          description: |-
            Length: 1
            Starting statement file type associated with the scroll.
            VisionPLUS Service Data: GPXTRO-STR-STMT-FL
        statementDetails:
          type: array
          description: Statement details
          items:
            $ref: '#/components/schemas/LmsTransactionInquiryResponse.StatementDetails'
    LmsTransactionInquiryResponse.StatementDetails:
      type: object
      properties:
        seq:
          type: integer
          description: |-
            Length: 3
            Sequence number assigned to the Transaction Rate Tier record that was used to calculate a points transaction.
            VisionPLUS Service Data: GPXTRO-TIER-SEQ
          format: int32
        accountsReceivableCardNumber:
          type: string
          description: |-
            Length: 19
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).
            VisionPLUS Service Data: GPXTRO-AR-CARD-NO
          example: 000540208ID5IXX3865
        lmsTransactionCode:
          type: string
          description: |-
            Length: 3LMS transaction code assigned to a transaction.
            Occurs 50 times
            The values are:
            Incoming monetary transactions-
            * 001 = Incoming monetary debit
            * 002 = Incoming monetary credit
            Earned points transactions-
            * 050 = Earned points credit
            * 070 = Earned points debit
            Redeemed points transactions-
            * 051 = Redeemed points debit
            * 071 = Redeemed points credit
            Bonus points transactions-
            * 052 = Bonus points credit
            * 072 = Bonus points debit
            Expired points transactions-
            * 053 = Expired points debit
            * 073 = Expired points credit
            Adjusted points transactions-
            * 054 = Adjusted points credit
            * 074 = Adjusted points debit
            Closed points transactions-
            * 055 = Closed increase debit
            * 075 = Closed decrease credit
            Bought points transactions-
            * 056 = Bought points credit
            * 076 = Bought points debit
            Grace expiration points transactions-
            * 057 = Grace expiration points debit
            * 077 = Grace expiration points credit
            User-defined transactions-
            * 100–999 = User-defined monetary transactions
            VisionPLUS Service Data: GPXTRO-TXN-CODE
        lmsTransactionCodeDescription:
          type: string
          description: |-
            Length: 40
            Description of transaction code.
            VisionPLUS Service Data: GPXTRO-CODE-DESC
        batchNumber:
          type: integer
          description: |-
            Length: 5
            Description of transaction code.
            VisionPLUS Service Data: GPXTRO-BATCH-NO
          format: int32
        batchSequenceNumber:
          type: integer
          description: |-
            Length: 8
            Batch sequence number of the transaction.
            VisionPLUS Service Data: GPXTRO-SEQ-NO
          format: int32
        traceNumber:
          type: string
          description: |-
            Length: 6
            Trace number assigned to the transaction by LMS.
            VisionPLUS Service Data: GPXTRO-TRACE-NO
        terminalId:
          type: string
          description: |-
            Length: 8
            Terminal ID of the transaction if it is a POS transaction.
            VisionPLUS Service Data: GPXTRO-TERMINAL-ID
        storeNumber:
          type: string
          description: |-
            Length: 12
            Store number assigned to the transaction.
            VisionPLUS Service Data: PXTRO-STORE-NO
        storeDoingBusinessAs:
          type: string
          description: |-
            Length: 43
            Store DBA (doing-business-as) name of the Store record assigned to the transaction.
            VisionPLUS Service Data: GPXTRO-STRE-DBA
        batchProcessingDate:
          type: string
          description: |-
            Length: 8
            Batch processing date of the batch that contains the transaction.
            VisionPLUS Service Data: GPXTRO-PROCESS-DTE
          format: date
        batchSourceNumber:
          type: integer
          description: |-
            Length: 5
            Number assigned to each LMS transaction to indicate the source of the batch.
            VisionPLUS Service Data: GPXTRO-BATCH-SOURCE
          format: int32
        transactionStatusCode:
          type: string
          description: "Length: 1Transaction status code."
        transactionStatusCodeDescription:
          type: string
          description: Transaction status code description.
        promotionalGroupCode:
          type: string
          description: |-
            Length: 5
            Group code that identifies the Promotional Group record assigned to the transaction.
            VisionPLUS Service Data: GPXTRO-PROMO-GR-CODE
        transactionLoyaltyPointsMonetaryValue:
          type: number
          description: |-
            Length: 17
            Monetary value of the loyalty points.
            VisionPLUS Service Data: GPXTRO-REBATE-SP
        transactionLoyaltyPoints:
          type: number
          description: |-
            Length: 13
            Number of loyalty points calculated for this transaction.
            VisionPLUS Service Data: GPXTRO-POINTS-SP
        rollUpCode:
          type: string
          description: |-
            Length: 1
            Code that indicates whether the transaction went through the roll-up process.
            VisionPLUS Service Data: GPXTRO-ROLL-UP-IND
        rollUpDate:
          type: string
          description: |-
            Length: 8
            Date when the transaction went through the roll-up process.
            VisionPLUS Service Data: GPXTRO-ROLL-UO-DTE
          format: date
        datePosted:
          type: string
          description: |-
            Length: 8
            Date on which the transaction was posted to the account.
            VisionPLUS Service Data: GPXTRO-DTE-POSTED
          format: date
        valueOrRate:
          type: number
          description: |-
            Length: 9
            Value or rate applied to earned points transactions (transaction codes 050 and 070) and bonus points transactions (transaction codes 52 and 72).
            Occurs 50 times
            VisionPLUS Service Data: GPXTRO-VALUE-RATE
        spendAmount:
          type: number
          description: |-
            Length: 17
            Spend amount of the monetary transaction that was used to calculate the loyalty points.
            VisionPLUS Service Data: GPXTRO-SPEND-AMT
        actualValue:
          type: number
          description: |-
            Length: 17
            Actual value of the points redeemed from the service provider.
            VisionPLUS Service Data: GPXTRO-ACT-VALUE
        transactionEffectiveDate:
          type: string
          description: |-
            Length: 8
            Effective date of the transaction.
            VisionPLUS Service Data: GPXTRO-TXN-EFF-DTE
          format: date
        internationalOrDomestic:
          type: string
          description: |-
            Length: 25
            Indicator that displays either DOMESTIC TRANSACTION or INTERNATIONAL TRANSACTION.
            VisionPLUS Service Data: GPXTRO-INT-DOM-TRXN
        transactionRateTierSequenceNumber:
          type: integer
          description: Transaction rate tier sequence number.
          format: int32
        transactionDescription:
          type: string
          description: |-
            Length: 40
            Description assigned to the transaction when it was entered.
            VisionPLUS Service Data: GPXTRO-TXN-DESC
        userDefinedAccountsReceivableReferenceNumber:
          type: string
          description: |-
            Length: 23
            User-defined accounts receivable reference number assigned to the transaction.
            VisionPLUS Service Data: GPXTRO-TXN-REF-NO-AR
        userDefinedLmsReferenceNumber:
          type: string
          description: |-
            Length: 18
            User-defined LMS reference number assigned to the transaction.
            VisionPLUS Service Data: GPXTRO-TXN-REF-NO-LMS
        batchOperatorId:
          type: string
          description: |-
            Length: 3
            Operator ID that identifies the person who added the batch or who last performed maintenance on the batch that includes the transaction.
            VisionPLUS Service Data: GPXTRO-OPERATOR-ID
        pointsDisbursingMethod:
          type: string
          description: Points disbursing method.
        rewardItem:
          type: string
          description: |-
            Length: 19
            Reward item name that identifies the Reward Item record assigned to the transaction.
            VisionPLUS Service Data: GPXTRO-REWARD-ITEM
      description: Statement details
    StatementSummaryResponse:
      type: object
      properties:
        organizationNumber:
          type: string
          description: |-
            Length: 3
            LMS organization number.
            VisionPLUS Service Data: GPXSIO-LMS-ORG
        organizationName:
          type: string
          description: |-
            Length: 40
            LMS organization name.
            VisionPLUS Service Data: GPXSIO-LMS-ORG-NAME
        accountNumber:
          type: string
          description: |-
            Length: 19
            Account number.
            VisionPLUS Service Data: GPXSIO-ACCT
        name1:
          type: string
          description: |-
            Length: 40
            Name of the account holder.
            VisionPLUS Service Data: GPXSIO-NAME-1
        statementDate:
          type: string
          description: |-
            Length: 7
            Statement date.
            VisionPLUS Service Data: GPXSIO-STMT-DATE
        schemeId:
          type: string
          description: |-
            Length: 5
            Scheme identification number.
            VisionPLUS Service Data: GPXSIO-SCHEME-ID
        schemeName:
          type: string
          description: |-
            Length: 40
            Scheme name.
            VisionPLUS Service Data: GPXSIO-SCHEME-NAME
        currencyNumber:
          type: string
          description: |-
            Length: 3
            Currency code number.
            VisionPLUS Service Data: GPXSIO-CURR-NBR
        countryCode:
          type: string
          description: |-
            Length: 3
            Country code portion of the mailing address of the account holder.
            VisionPLUS Service Data: GPXSIO-COUNTRY-CODE
        currencyNod:
          type: string
          description: |-
            Length: 1
            Number of decimal positions to the right of the decimal point (or other decimal character) in monetary amount fields.
            VisionPLUS Service Data: GPXSIO-CURR-NOD
        perItemNod:
          type: string
          description: |-
            Length: 1
            Number of decimal positions to the right of the decimal point (or other decimal character) in per item rate fields.
            VisionPLUS Service Data: GPXSIO-PER-ITEM-NOD
        primarySource:
          type: string
          description: |-
            Source code of the accounts receivable system of the account in the accounts receivable system that is linked to the Account Demographics record.
            VisionPLUS Service Data: GPXSIO-PRIMARY-SOURCE
        primaryOrgAcct:
          type: string
          description: |-
            Length: 25
            Account number of the account in the accounts receivable system that is linked to the Account Demographics record.
            VisionPLUS Service Data: GPXSIO-PRIMARY-ORG-ACCT
        statementFormatId:
          type: string
          description: |-
            Length: 3
            Parameter used during statement generation to populate a statement message box.
            The values are 000–999
            VisionPLUS Service Data: GPXSIO-STMT-FORMAT-ID
        basicCtdSpend:
          type: string
          description: |-
            Length: 17
            Total cycle-to-date basic spend amount.
            VisionPLUS Service Data: GPXSIO-BASIC-CTD-SPEND
        basicYtdSpend:
          type: string
          description: |-
            Length: 17
            Total year-to-date basic spend amount.
            VisionPLUS Service Data: GPXSIO-BASIC-YTD-SPEND
        graceRebateAmt:
          type: string
          description: |-
            Length: 17
            Monetary value of the life-to-date grace points.
            VisionPLUS Service Data: GPXSIO-GRACE-REBATE-AMT
        earnFlagOrganization:
          type: string
          description: |-
            Length: 1
            Flag that indicates that the account is allowed to earn points while the block code resides on the account.
            VisionPLUS Service Data: GPXSIO-EARN-FLAG-ORG
        redeemFlagOrg:
          type: string
          description: |-
            Length: 1
            Flag that indicates that the account is allowed to redeem points while the block code resides on the account.
            VisionPLUS Service Data: GPXSIO-REDEEM-FLAG-ORG
        ctdPtsBought:
          type: string
          description: |-
            Length: 17
            Total number of bought points cycle-to-date.
            VisionPLUS Service Data: GPXSIO-CTD-PTS-BOUGHT
        ltdPtsBought:
          type: string
          description: |-
            Length: 17
            Total number of bought points life-to-date.
            VisionPLUS Service Data: GPXSIO-LTD-PTS-BOUGHT
        ltdPtsEarned:
          type: string
          description: |-
            Length: 17
            Total number of basic earned points life-to-date.
            VisionPLUS Service Data: GPXSIO-LTD-PTS-EARNED
        ctdPtsEarned:
          type: string
          description: |-
            Length: 17
            Total number of basic earned points cycle-to-date.
            VisionPLUS Service Data: GPXSIO-CTD-PTS-EARNED
        ctdPtsBonus:
          type: string
          description: |-
            Length: 17
            Total number of bonus earned points cycle-to-date.
            VisionPLUS Service Data: GPXSIO-CTD-PTS-BONUS
        ltdPtsBonus:
          type: string
          description: |-
            Length: 17
            Total number of bonus earned points life-to-date.
            VisionPLUS Service Data: GPXSIO-LTD-PTS-BONUS
        ctdPtsAdjustIn:
          type: string
          description: |-
            Length: 17
            Total number of adjust in points cycle-to-date.
            VisionPLUS Service Data: GPXSIO-CTD-PTS-ADJUST-IN
        ltdPtsAdjustIn:
          type: string
          description: |-
            Length: 17
            Total number of adjust in points life-to-date.
            VisionPLUS Service Data: GPXSIO-LTD-PTS-ADJUST-IN
        ctdPtsRedeemed:
          type: string
          description: |-
            Length: 17
            Total number of redeemed points cycle-to-date.
            VisionPLUS Service Data: GPXSIO-CTD-PTS-REDEEMED
        ltdPtsRedeemed:
          type: string
          description: |-
            Length: 17
            Total number of redeemed points life-to-date.
            VisionPLUS Service Data: GPXSIO-LTD-PTS-REDEEMED
        ctdPtsClosed:
          type: string
          description: |-
            Length: 17
            Total number of closed points cycle-to-date.
            VisionPLUS Service Data: GPXSIO-CTD-PTS-CLOSED
        ltdPtsClosed:
          type: string
          description: |-
            Length: 17
            Total number of closed points life-to-date.
            VisionPLUS Service Data: GPXSIO-LTD-PTS-CLOSED
        graceCtd:
          type: string
          description: |-
            Length: 17
            Total number of expired points retained in a grace period cycle-to-date.
            VisionPLUS Service Data: GPXSIO-GRACE-CTD
        graceLtd:
          type: string
          description: "\tstring\nLength: 17\nTotal number of expired points retained\
            \ in a grace period life-to-date.\nVisionPLUS Service Data: GPXSIO-GRACE-LTD"
        ctdPtsExpired:
          type: string
          description: |-
            Length: 17
            Total number of expired points cycle-to-date.
            VisionPLUS Service Data: GPXSIO-CTD-PTS-EXPIRED
        ltdPtsExpired:
          type: string
          description: |-
            Length: 17
            Total number of expired points life-to-date.
            VisionPLUS Service Data: GPXSIO-LTD-PTS-EXPIRED
        ctdPtsAdjustOut:
          type: string
          description: |-
            Length: 17
            Total number of adjust out points cycle-to-date.
            VisionPLUS Service Data: GPXSIO-CTD-PTS-ADJUST-OUT
        ltdPtsAdjustOut:
          type: string
          description: |-
            Length: 17
            Total number of adjust out points life-to-date.
            VisionPLUS Service Data: GPXSIO-LTD-PTS-ADJUST-OUT
        openToRedOnScr:
          type: string
          description: |-
            Length: 17
            Total number of points available for redemption.
            VisionPLUS Service Data: GPXSIO-OPEN-TO-RED-ON-SCR
    DemographicAccountDataResponse:
      type: object
      properties:
        organizationNumber:
          type: string
          description: |-
            Length: 3
            Organization. VisionPLUS Service Data: GPXSDO-ORG
        organizationName:
          type: string
          description: |-
            Length: 40
            Organization Name. VisionPLUS Service Data: GPXSDO-ORG-NAME
        accountNumber:
          type: string
          description: |-
            Length: 19
            Account Number. VisionPLUS Service Data: GPXSDO-ACCOUNT-NBR
        accountName:
          type: string
          description: |-
            Length: 40
            Account Name. VisionPLUS Service Data: GPXSDO-ACCOUNT-NAME
        initialStatus:
          type: string
          description: |-
            Length: 1
            Status of the Points Account record.
            The values are:
            * 1 = Active
            * 2 = Inactive (batch status method)
            * 3 = On hold (batch status method)
            * 4 = Frozen (batch status method)
            * 6 = Pending close (batch status method)
            * 7 = Closed
            * 8 = Pending purge (batch status method)
            * 9 = Purged.
            VisionPLUS Service Data: GPXSDO-INT-STATUS
        statusDescription:
          type: string
          description: |-
            Length: 20
            Status Description. VisionPLUS Service Data: GPXSDO-STATUS-DESCRIPTION
        owningBranch:
          type: string
          description: |-
            Length: 9
            Owning Branch.
        maintenanceOperator:
          type: string
          description: |-
            Length: 3
            Operator ID of the person who performed the last maintenance.
            VisionPLUS Service Data: GPXSDO-OPER-LAST-MAINT
        dateLastMaintained:
          type: string
          description: |-
            Length: 7
            Date of the last maintenance.
            VisionPLUS Service Data: GPXSDO-DATE-LAST-MAINT
        dateLastAddressChange:
          type: string
          description: |-
            Length: 7
            Date of last address change.
            VisionPLUS Service Data: GPXSDO-DATE-LAST-ADDRCHANGE
        title:
          type: string
          description: |-
            Length: 20
            Professional or honorary title associated with the name.
            VisionPLUS Service Data: GPXSDO-TITLE
        dateOfBirth:
          type: string
          description: |-
            Length: 8
            Date of birth of the account holder.
            VisionPLUS Service Data: GPXSDO-DOB
        countryCode:
          type: string
          description: |-
            Length: 3
            Country code portion of the mailing address of the account holder.
            VisionPLUS Service Data: GPXSDO-CNTRY-CD
        postalCode:
          type: string
          description: |-
            Length: 10
            Postal code portion of the mailing address of the account holder.
            VisionPLUS Service Data: GPXSDO-PSTL-CD
        emailAddress:
          type: string
          description: |-
            Length: 60
            E-mail address of the account holder.
            VisionPLUS Service Data: GPXSDO-EMAIL
        emailFlag:
          type: string
          description: |-
            Length: 1
            E-mail flag.
            The values are:
            * 0 = No, do not e-mail
            * 1 = Yes, you can e-mail
            VisionPLUS Service Data: GPXSDO-EMAIL-FLAG
        lastName:
          type: string
          description: |-
            Length: 40
            Last name if the account holder is an individual, or business name if the account holder is a business.
            VisionPLUS Service Data: GPXSDO-NAME-1
        firstName:
          type: string
          description: |-
            Length: 40
            First name if the account holder is an individual, or business name if the account holder is a business.
            VisionPLUS Service Data: GPXSDO-NAME-2
        middleName:
          type: string
          description: |-
            Length: 40
            Middle name if the account holder is an individual, or business name if the account holder is a business.
            VisionPLUS Service Data: GPXSDO-NAME-3
        suffix:
          type: string
          description: |-
            Length: 20
            Suffix for account holder.
            VisionPLUS Service Data: GPXSDO-SUFFIX
