openapi: 3.0.1
info:
  title: FirstVision™ Account Service - API Documentation
  description: This documentation describes the REST APIs provided by the FirstVision™ Account Microservice for Ualá.
  version: "1.2"
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /account/qualification:
    put:
      tags:
      - Account
      summary: "Emulates the functionality used to update the account status from\
        \ active to closed. In addition, this service provides the ability to initiate\
        \ charge-off in. \n\nVMX Service: M.CMS.ACCT.CLOSE.CHGOFF, R8V2"
      description: "Emulates the functionality used to update the account status from\
        \ active to closed. In addition, this service provides the ability to initiate\
        \ charge-off in. \n\nVMX Service: M.CMS.ACCT.CLOSE.CHGOFF, R8V2"
      operationId: Account Qualification Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateQualificationRequest'
        required: true
      responses:
        "422":
          description: |+
            VPL5SAAI6E - GQ FIELD MUST BE SPACE OR A-Z

            VPL5SCC01S - ACCOUNT OR CARD NUMBER IS REQUIRED

            VPL5SCC02S - ORGANIZATION NOT DETERMINED

            VPL5SCC03S - REQUESTED ORG NUMBER IS NOT FOUND

            VPL5SCC04S - ORGANIZATION NUMBER NOT FOUND ON FILE

            VPL5SCC05S - FOREIGN ORG RECORD NOT FOUND ON FILE

            VPL5SCC06S - LOGO NUMBER NOT FOUND ON FILE

            VPL5SCC11S - STATUS CANNOT CHANGE TO CLOSED WHEN INSURANCE IS ACTIVE

            VPL5SCC12S - CANNOT MANUAL CHGOFF AN ACCT WITH A ZERO OR CREDIT BALANCE

            VPL5SCC13S - CANNOT RESET CHARGEOFF ON ACCOUNT WHEN DAYS IS > 0

            VPL5SCC14S - CANNOT MANUAL CHARGE OFF THIS ACCT

            VPL5SCC15S - CANNOT CHARGEOFF (WITH RSN) AN ACCT WITH 0 BAL OR CREDIT BAL

            VPL5SCC16S - VALID ENTRIES FOR RSN CODE POSITION 1 ARE C, B, F, OR T

            VPL5SCC17S - ENTERED AUTO C/O RSN CODE - PLS CHG TO MANUAL RSN

            VPL5SCC18S - RSN CODE MUST BE DEFINED ON ARML24

            VPL5SCC19S - CANNOT CHARGEOFF (WITH RSN), ACCT C/O STAT MUST = 0

            VPL5SCC21E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998

            VPL5SCC22E - FOREIGN USE MUST = SPACES, 0(LOCAL) OR 1(FOREIGN)

            VPL5SCC23E - REASON CODE IS REQUIRED FOR FUNC 2 - CHGOFF WITH RSN

            VPL5SCC24E - VALID FUNC INDICATOR IS 0-ACCT CLS 1-MANUAL CHGOFF 2-CHGOFF RSN ON

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateQualificationResponse'
      x-proxy-name: Account Qualification Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/block-code:
    put:
      tags:
      - Account
      summary: "Adds, changes or removes a block code on an Account. \nVMX Service:\
        \ M.CMS.ACCT.BLKCD.UPD, R8V1"
      description: "Adds, changes or removes a block code on an Account. \nVMX Service:\
        \ M.CMS.ACCT.BLKCD.UPD, R8V1"
      operationId: Account Block Code Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountForBlockCodeUpdateRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "422":
          description: "VPL5SAB02S-SERVICE INPUT TO AB SERVICE IS AN INCORRECT LENGTH\
            \ \n\nVPL5SAB04S-FILE-TABLE USED BY THIS SERVICE IS MISSING \n\nVPL5SAB05S-CANNOT\
            \ SET A BLOCK CODE ON A BILLING ACCOUNT \n\nVPL5SAB06S-ACCOUNT NUMBER\
            \ OR CARD NUMBER MUST BE PROVIDED \n\nVPL5SAB07S-ORGANIZATION NUMBER MUST\
            \ BE NUMERIC AND VALID VALUES ARE 001-998 \n\nVPL5SAB08S-ORGANIZATION\
            \ NOT DETERMINED \n\nVPL5SAB10S-ORGANIZATION NUMBER NOT FOUND \n\nVPL5SAB11S-LOGO\
            \ NUMBER NOT FOUND \n\nVPL5SAB12S-CARD NUMBER NOT FOUND \n\nVPL5SAB13S-BLOCK\
            \ CODE CANNOT BE REPLACED WITH ONE OF A LOWER PRIORITY \n\nVPL5SAB21E-INVALID\
            \ FOREIGN USE IND SPECIFIED - VALID VALUES ARE 0-2 \n\nVPL5SAB22E-INVALID\
            \ FUNCTION CODE - VALID VALUES ARE B OR U \n\nVPL5SAB23E-INVALID BLOCK\
            \ CODE \n\nVPL5SAB24E-BLOCK CODE MUST EQUAL SPACE TO UNBLOCK ACCOUNT \n\
            \nVPL5SAB25E-MUST SPECIFY ACCOUNT BLOCK CODE 1 OR 2 TO UNBLOCK ACCOUNT\
            \ \n\nVPL5SAB26E-BLOCK CODE INDICATOR MUST BE NUMERIC AND EQUAL 0 1 OR\
            \ 2 "
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountForBlockCodeUpdateResponse'
      x-proxy-name: Account Block Code Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/balance:
    put:
      tags:
      - Account
      summary: "Credits (cash in) or Debits (cash out) transactions from available\
        \ funds or credit open to buy in an Account. \n\nVMX Service: M.ASM.MONETARY.ACT,\
        \ L8V2"
      description: "Credits (cash in) or Debits (cash out) transactions from available\
        \ funds or credit open to buy in an Account. \n\nVMX Service: M.ASM.MONETARY.ACT,\
        \ L8V2"
      operationId: Cash-in & Cash-out Request
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyAccountBalanceRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyAccountBalanceResponse'
      x-proxy-name: Cash-in & Cash-out Request
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v2/instantCard:
    post:
      tags:
      - Account
      summary: "Instant account and digital or physical card addition. VMX Service:\
        \ M.CMS.INSTANT.CARD.ADD, L8V7"
      description: "Add an account and digital or physical card. \nVMX Service: M.CMS.INSTANT.CARD.ADD,\
        \ L8V7"
      operationId: Instant Card Add
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantCardAddL8V7Request'
        required: true
      responses:
        "422":
          description: "VPL5SICAFE - REVERSAL IS NOT ALLOWED FOR PRIMARY CARD WHEN\
            \ ISSUE TYPE IS 'R' \n\nVPL5SICZ2S - SERVICE INPUT TO PLAN VIEWER SERVICE\
            \ IS AN INCORRECT LENGTH \n\nVPL5SIC03S - ORGANIZATION IS NOT NUMERIC\
            \ OR MUST BE VALUE BETWEEN 000 AND 998 \n\nVPL5SIC04S - LOGO NUMBER MUST\
            \ BE NUMERIC AND VALID VALUES ARE 001-998 \n\nVPL5SIC05S - CUSTOMER NUMBER\
            \ IS INVALID \n\nVPL5SIC07S - ACCOUNT CREATE VALID VALUES ARE 'Y' OR 'N'\
            \ \n\nVPL5SIC08S - SDP PROCESS TYPE VALID VALUE ARE 0 OR 1 \n\nVPL5SIC09S\
            \ - ORGANIZATION NOT DETERMINED \n\nVPL5SIC10S - ORGANIZATION NOT DETERMINED\
            \ \n\nVPL5SIC11S - ORGANIZATION NOT FOUND ON FILE \n\nVPL5SIC13S - CUSTOMER\
            \ RECORD NOT FOUND OR ADD PENDING \n\nVPL5SIC14S - LOGO NOT FOUND ON FILE\
            \ \n\nVPL5SIC17S - ACCOUNT NUMBER NOT FOUND \n\nVPL5SIC20S - CARD ACTION\
            \ VALID VALUES ARE 0 OR 1 \n\nVPL5SIC21S - EMBOSSER NAME CANNOT BE SPACES\
            \ \n\nVPL5SIC22S - ACCOUNT NUMBER SHOULD BE SPACES WHEN ACCT CREATE IS\
            \ 'Y' \n\nVPL5SIC23S - EXPIRY DAYS PARAMETER INVALID FOR THIS LOGO \n\n\
            VPL5SIC24S - MBS SWITCH IS OFF \n\nVPL5SIC25S - ORG LEVEL FLAG FOR VIRTUAL\
            \ CARD HAS NOT BEEN SET \n\nVPL5SIC26S - LOGO LEVEL FLAG FOR VIRTUAL CARD\
            \ HAS NOT BEEN SET \n\nVPL5SIC28E - VIRTUAL CARD/VOUCHER FUNCTIONALITY\
            \ NOT ACTIVE \n\nVPL5SIC28S - STORE LEVEL INST CREDIT FLAG FOR VIRTUAL\
            \ CARD HAS NOT BEEN SET \n\nVPL5SIC29S - BC REASON CODES VALID VALUES\
            \ ARE SPACE,A TO Z EXCLUDING H/T \n\nVPL5SIC30S - ADMIN BRANCH SHOULD\
            \ BE NUMERIC AND GREATER THAN 0 "
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstantCardAddL8V7Response'
      x-proxy-name: Instant Card Add
      x-group-name: Account
      x-child-product-name: Accounts
  /account/instant-card:
    post:
      tags:
      - Account
      summary: "Instant Account & Card Creation. (VMX Service: M.CMS.INSTANT.CARD.ADD,\
        \ L8V3)"
      description: "Creates an Account and Card records for instant use for eCommerce\
        \ transactions. \nVMX Service: M.CMS.INSTANT.CARD.ADD, L8V3"
      operationId: Instant Account & Card Creation
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantCardAddRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstantCardAddResponse'
        "422":
          description: |-
            VPL5SIC24S - MBS SWITCH IS OFF
            VPL5SIC25S - ORG LEVEL FLAG FOR VIRTUAL CARD HAS NOT BEEN SET
            VPL5SIC26S - LOGO LEVEL FLAG FOR VIRTUAL CARD HAS NOT BEEN SET
            VPL5SIC27S - STORE RECORD NOT FOUND ON FILE
            VPL5SIC28E - VIRTUAL CARD/VOUCHER FUNCTIONALITY NOT ACTIVE
            VPL5SIC28S - STORE LEVEL INST CREDIT FLAG FOR VIRTUAL CARD HAS NOT BEEN SET
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
      x-proxy-name: Instant Account & Card Creation
      x-group-name: Account
      x-child-product-name: Accounts
  /account/details-L8VG:
    post:
      tags:
      - Account
      summary: "(VMX Service: M.CMS.ACCOUNT.INQ, L8VG)"
      description: "Find account details provides information on the account’s status.\
        \ If the account has been transferred, the current account number must be\
        \ provided. This service does not automatically switch to the new account.\
        \ This service can be called with an account number or a card number. \nVMX\
        \ Service: M.CMS.ACCOUNT.INQ, L8VG"
      operationId: Account Inquiry
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountForDetailsL8vgRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "422":
          description: |
            VPL5SAI03E - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998
            VPL5SAI04E - REQUESTED CARD/ACCT NUMBER IS NOT NUMERIC OR EQUAL SPACES
            VPL5SAI05E - INVALID FOREIGN USE IND SPECIFIED - VALID VALUES ARE SPACE 0 OR 1
            VPL5SAI07S – ORGANIZATION NOT FOUND ON FILE
            VPL5SAI08S – FOREIGN ORGANIZATION NOT FOUND ON FILE
            VPL5SAI09S - ACCOUNT NUMBER NOT FOUND
            VPL5SAI10S - ACCOUNT NUMBER NOT FOUND ON FILE
            VPL5SAI11S - LOGO NOT FOUND ON FILE
            VPL5SAI12S - CUSTOMER NOT FOUND ON FILE
            VPL5SAI13I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL5SAI13S - ACCOUNT SECONDARY BASE SEGMENT RECORD NOT FOUND
            VPL5SAI14E - INVALID INPUT UPD DUE FLAG - VALID VALUES ARE 0, 1
            VPL5SAIZ4S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SAIZ5S - REQUESTED ORGANIZATION NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountForDetailsL8vgResponse'
      x-proxy-name: Account Inquiry
      x-group-name: Account
      x-child-product-name: Accounts
  /account/:
    post:
      tags:
      - Account
      summary: "Add account. VMX Service: M.CMS.ACCOUNT.ADD, R8V8"
      description: "Adds a single Account to an existing Customer record for Single\
        \ Currency Accounts. For Dual Currency Accounts, two records with the same\
        \ Account number will be created in the local and foreign currency Organizations.\
        \ \nVMX Service: M.CMS.ACCOUNT.ADD, R8V8"
      operationId: Account Add
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountAddDetailsRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: |-
            VPL5SAA02S - ORG NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SAA03S - ORG NUMBER REQUIRED WHEN ACCOUNT NUMBER NOT PROVIDED
            VPL5SAA04S - LOGO NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SAA05S - LOGO NUMBER REQUIRED WHEN ACCOUNT NUMBER NOT PROVIDED
            VPL5SAA06S - ORGANIZATION NOT DETERMINED
            VPL5SAA07S - ORGANIZATION NOT DETERMINED
            VPL5SAA08S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SAA0AE - USER DATE 10 IS NOT A VALID DATE
            VPL5SAA0BE - USER DATE 11 IS NOT A VALID DATE
            VPL5SAA0CE - USER DATE 12 IS NOT A VALID DATE
            VPL5SAA0DE - USER DATE 13 IS NOT A VALID DATE
            VPL5SAA0EE - USER DATE 14 IS NOT A VALID DATE
            VPL5SAA0GE - ALT EXPIRES DATE MUST BE EQUAL ZEROS
            VPL5SAA0HE - RELATIONSHIP LOGO IS NOT VALID FOR PURCHASE CARDS
            VPL5SAA0IE - RELATIONSHIP LOGO IS NOT VALID FOR CORPORATE CARDS
            VPL5SAA0JE - MEMO BILLING CURRENCY MUST EQUAL ZEROS
            VPL5SAA0KE - DUAL BILLING MUST NOT BE A VALUE OF 1 FOR RELATIONSHIP
            VPL5SAA0LE - BILLING CYCLE MUST NOT EQUAL ZEROS
            VPL5SAA0ME - CYCLE FIELD MUST EQUAL VALID CYCLES DEFINED ON SYSTEM RECORD
            VPL5SAA0NE - ASSOCIATE REL TYPE MUST NOT EQUAL ZEROS
            VPL5SAA0OE - ASSOCIATE ACCOUNT NUMBER MUST NOT EQUAL SPACES OR ZEROS
            VPL5SAA0PE - ASSOCIATE ACCOUNT NUMBER MUST EQUAL SPACES OR ZEROS
            VPL5SAA0QE - PRICING START DATE CAN NOT BE GREATER THAN PCT EXPIRE DATE
            VPL5SAA0RE - PRICING START/EXPIRE DATE INVALID WHEN PCT ID EQUAL SPACES
            VPL5SAA0SE - PRICING LEVEL EXPIRE DATE LESS THAN START DATE
            VPL5SAA0TE - PCT LEVEL START/EXPIRE DATES INVALID WHEN PCT LEVEL NOT PROVIDED
            VPL5SAA0UE - DATE TEMP CREDIT LIMIT EXPIRE IS NOT VALID FOR TEMP CREDIT LIMIT
            VPL5SAA0VE - PREFER END DATE MUST BE GREATER THAN PREFER START DATE
            VPL5SAA0WE - DATE PAYMENT EXPIRE MUST BE GREATER THAN PAYMENT START DATE
            VPL5SAA0XE - DC ACH START DATE MUST BE LESS OR EQUAL DC ACH EXPIRE DATE
            VPL5SAA0YE - DC REQUEST DAY INDICATOR MUST EQUAL ZEROS
            VPL5SAA0ZE - DC REQUEST DAY MUST BE BETWEEN 01 AND 3
            VPL5SAA1AE - DC REQUEST DAY MUST BE GREATER THAN ZERO
            VPL5SAA1BE - FIXED PAYMENT/AMOUNT PERCENT FIELD INVALID
            VPL5SAA1CE - FIXED PAYMENT/AMOUNT PERCENT FIELD INVALID WHEN OVERRIDE IS SPACE
            VPL5SAA1DE - PAYMENT OVERRIDE MUST EQUAL SPACE
            VPL5SAA1ES - PCT ENTRY DOES NOT EXIST
            VPL5SAA1FS - ACCT CTL TABLE ID INVALID-CSH/RTL PLANS/CHGF ACRINT NOT OBTAINED
            VPL5SAA1GS - ACCT CTL TABLE ID INVALID-CSH/RTL PLANS/CHGF ACRINT NOT OBTAINED
            VPL5SAA1HS - FEE CTL TABLE ID INVALID - GRACE LIMITS FREQUENCIES NOT OBTAINED
            VPL5SAA1IS - FEE CTL TABLE ID INVALID - GRACE LIMITS FREQUENCIES NOT OBTAINED
            VPL5SAA1KS - CANNOT ADD A PURCHASE CARD ACCOUNT TO A CORPORATE RELATIONSHIP
            VPL5SAA1LS - CANNOT ADD A CORPORATE ACCOUNT TO A PURCHASE CARD RELATIONSHIP
            VPL5SAA1MS - CANNOT ADD A NON HCS ACCOUNT TO A HCS CARD RELATIONSHIP
            VPL5SAA1NE - DUE FIELD MUST EQUAL ZEROS
            VPL5SAA1OE - DUE FIELD MUST BE GREATER THAN ZEROS
            VPL5SAA1PE - CYCLE FIELD MUST BE GREATER THAN ZEROS
            VPL5SAA1QE - PCT LEVEL EXPIRE DATE INVALID WHEN PCT LVL START DTE NOT PROVIDED
            VPL5SAA1RE - EXPIRE DATE INVALID WHEN PCT CNTRL START DATE NOT PROVIDED
            VPL5SAA1SE - PCT LEVEL START DATE INVALID WHEN PCT LEVEL NOT PROVIDED
            VPL5SAA1TE - PREPAID PLAN NUMBER MUST BE NUMERIC AND NOT EQUAL ZERO
            VPL5SAA1US - PREPAID PLAN NUMBER NOT FOUND
            VPL5SAA1VE - PREPAID PLAN NUMBER IS NOT A VALID TYPE
            VPL5SAA1WE - SINGLE LOAD MAX MUST BE GREATER THAN SINGLE LOAD MIN
            VPL5SAA1XE - LOAD FREQUENCY CAN NOT BE > 0 WHEN LOAD NUMBER = ZERO
            VPL5SAA1YE - MAX AMOUNT CAN NOT BE LESS THAN MIN AMOUNT
            VPL5SAA1ZE - SINGLE LOAD MIN CAN NOT EXCEED LOGO SINGLE LOAD MIN
            VPL5SAA11S - ORG RECORD NOT FOUND
            VPL5SAA12S - LOGO RECORD NOT FOUND
            VPL5SAA14S - ACCOUNT NUMBER ALREADY ON FILE
            VPL5SAA16E - ACCOUNT TYPE MUST = 0, 1, 2, OR 3
            VPL5SAA17E - PRIMARY ACCOUNT FLAG MUST EQUAL SPACE OR P
            VPL5SAA18E - CREDIT LIMIT MUST BE NUMERIC
            VPL5SAA19E - CUSTOMER NUMBER REQUIRED
            VPL5SAA2AE - SINGLE LOAD MAX CAN NOT EXCEED LOGO SINGLE LOAD MAX
            VPL5SAA2BE - MAX LOAD AMOUNT CAN NOT BE ZERO
            VPL5SAA2CE - DUAL BILLING MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE
            VPL5SAA2DE - BILLING LEVEL MUST BE 1 FOR PREPAID ACCOUNT TYPE
            VPL5SAA2EE - FLEX BILL MUST BE N FOR PREPAID ACCOUNT TYPE
            VPL5SAA2FE - PREPAID FLAG MUST EQUAL ZERO FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA2GE - WAIVE INT CHG MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE
            VPL5SAA2HE - WAIVE CASH AVAIL MUST BE Y FOR PREPAID ACCOUNT TYPE
            VPL5SAA2IE - PREPMT ALLOWED MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE
            VPL5SAA2JE - PREPMT MONTHS MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE
            VPL5SAA2KE - PREPMT ZERO MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE
            VPL5SAA2LE - LOAN LIMIT MUST BE N FOR PREPAID ACCOUNT TYPE
            VPL5SAA2ME - CASH PLAN NUMBER MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA2NE - RETAIL PLAN NUMBER MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA2OE - INTEREST VARIANCE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA2PE - VARIANCE EFFECTIVE DATE MUST EQUAL ZEROS FOR PREPAID ACCT TYPE
            VPL5SAA2QE - PLAN PMT OVERRIDE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA2RE - FIXED PMT AMT/PCT MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA2SE - PAYMENT HOLD MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA2TE - TEMP CREDIT LIMIT MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA2UE - TEMP CREDIT LIMIT EXPIRE DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA2VE - PREFER MIN AMOUNT MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA2WE - PREFER INT DAYS MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA2XE - PAYMENT ACH FLAG MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA2YE - DC ACH AMOUNT MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA2ZE - DD NOM AMT/PCT FLAG MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA20E - CARD FEE NOT NUMERIC
            VPL5SAA21E - BILLING CURRENCY NOT NUMERIC
            VPL5SAA22E - BILLING LEVEL MUST EQUAL 0 OR 1
            VPL5SAA23E - DUAL BILLING FIELD MUST EQUAL 0 OR 1
            VPL5SAA24E - ALT CUST FIELD MUST EQUAL A, B, C, OR SPACE
            VPL5SAA25E - ALT CUST ADDRESS EXPIRY DATE NOT NUMERIC
            VPL5SAA26E - FLEX BILL FIELD MUST EQUAL N OR Y
            VPL5SAA27E - OPENED DATE NOT NUMERIC
            VPL5SAA28E - APPLI DATE NOT NUMERIC
            VPL5SAA29E - CARD# SCHEME MUST EQUAL 0, 1, 2, OR 3
            VPL5SAA3AE - DD NOM AMT/PCT MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3BE - PREFER START DATE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA3CE - PREFER END DATE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA3DE - PREFER PROMO DATE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA3EE - DD INTERIM PMTS MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA3FE - DD DAILY FREQ MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3GE - DD CREDIT BAL MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3HE - PAYMENT REMIT METHOD MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3IE - DC ACH PLAN MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3JE - DD R/T BANK ID MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3KE - DC R/T BANK ID MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3LE - DD PAYMENT EXPIRE DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3ME - DD PAYMENT START DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3NE - DC EXPIRE DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3OE - DC START DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3PE - DD ACH TYPE MUST EQUAL SPACE FOR ACCOUNT TYPE
            VPL5SAA3QE - DD ACH ACCOUNT NUMBER MUST EQUAL SPACES FOR ACCOUNT TYPE
            VPL5SAA3SE - DC ACCOUNT TYPE EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3TE - DC REQUEST DAY INDICATOR MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3UE - DC ACCOUNT NUMBER MUST EQUAL SPACES FOR ACCOUNT TYPE
            VPL5SAA3VE - DD REQUEST DAY MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3WE - DD PYMT CHANGE DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3XE - WAIVE INTL ATM FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA3YE - WAIVE DOM ATM FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA3ZE - WAIVE INTL POS FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA30E - DUE DAY MUST BE NUMERIC
            VPL5SAA31E - CYCLE VALUE INVALID - MUST BE BETWEEN ZEROS AND 31
            VPL5SAA32E - STATEMENT FREQUENCY NOT NUMERIC
            VPL5SAA33E - BLOCK CODE 1 VALID VALUES ARE SPACE OR A - Z
            VPL5SAA34E - BLOCK CODE 2 VALID VALUES ARE SPACE OR A - Z
            VPL5SAA35E - CUSTOMER STATEMENT FIELD MUST = 0 OR 1
            VPL5SAA36E - CUSTOMER LETTER FIELD MUST = 0, 1 OR 2
            VPL5SAA37E - INCOME MUST BE NUMERIC
            VPL5SAA39E - CARD EXPIRATION NOT NUMERIC
            VPL5SAA4AE - WAIVE DOM POS FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4BE - WAIVE LOAD FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4CE - WAIVE RELOAD FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4DE - WAIVE DORM FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4EE - WAIVE REFUND FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4FE - WAIVE STMT FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4GE - PREPAID LOAD NBR MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4HE - PREPAID MAX LOAD MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4IE - PREPAID MIN LOAD MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4JE - PREPAID LOAD AMT MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4KE - PREPAID LOAD FREQ MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4LE - WAIVE FEE CHG MUST EQUAL 1 FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4ME - DD ACH REQ DAY MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4NE - PREPAID LOAD FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4OE - TERMS/CONDITIONS DATE MUST BE GREATER THAN ZEROS
            VPL5SAA4PE - WAIVE DOM ATM TXN FEE MUST = 0 OR 1
            VPL5SAA4QE - WAIVE INTL POS TXN FEE MUST = 0 OR 1
            VPL5SAA4RE - WAIVE DOM POS TXN FEE MUST = 0 OR 1
            VPL5SAA4SE - WAIVE LOAD TXN FEE MUST = 0 OR 1
            VPL5SAA4TE - WAIVE RELOAD TXN FEE MUST = 0 OR 1
            VPL5SAA4UE - VARIANCE EFFECTIVE DATE INVALID WHEN RATE VARIANCES (1-12) = 0
            VPL5SAA4VS - NUMBER GENERATION SERVICE FAILED
            VPL5SAA4WE - STATE OF RESIDENCE DOES NOT MATCH LOGO STATE OF RESIDENCE
            VPL5SAA4XE - STATE OF RESIDENCE IS REQUIRED
            VPL5SAA40E - LIABILITY INDICATOR MUST = 0, 1, OR 2
            VPL5SAA41E - BUREAU SCORE NOT NUMERIC
            VPL5SAA42E - IN HOUSE SCORE MUST BE NUMERIC
            VPL5SAA43E - MISCELLANEOUS SCORE MUST BE NUMERIC
            VPL5SAA44E - CREDIT BUREAU DATE NOT NUMERIC
            VPL5SAA45E - TERM/CONDITIONS DATE IS NOT NUMERIC
            VPL5SAA46E - WARNING CODE VALUES MUST BE 0 - 7
            VPL5SAA47E - INVALID VALUE FOR AUTH CRITERIA TABLE
            VPL5SAA49E - ACCOUNT ASSOCIATE REL TYPE MUST BE 0 - 4
            VPL5SAA5AS - USER HAS NOT SIGNED ON - PLEASE SIGNON
            VPL5SAA50E - ACCOUNT ASSOCIATE DATE MUST BE NUMERIC
            VPL5SAA51E - ACCOUNT ASSOCIATE AMOUNT MUST BE NUMERIC
            VPL5SAA52E - ACCOUNT ASSOCIATE TYPE MUST BE 0 - 9
            VPL5SAA53E - WAIVE INT FIELD MUST EQUAL 0 OR 1
            VPL5SAA55E - STATE OF RESIDENCE CONTAINS INVALID CHARACTERS
            VPL5SAA56E - STATE OF ISSUANCE CONTAINS INVALID CHARACTERS
            VPL5SAA57E - ACCOUNT ASSOCIATE STATEMENT FLAG 1 MUST BE 0 - 2
            VPL5SAA58E - ACCOUNT ASSOCIATE STATEMENT FLAG 2 MUST BE 0 - 2
            VPL5SAA59E - ACCOUNT ASSOCIATE STATEMENT FLAG 3 MUST BE 0 - 2
            VPL5SAA5CE - ALT CUST ADDRESS START DATE NOT A VALID DATE
            VPL5SAA5DE - CORRESPONDING CUSTOMER NUMBER NOT FOUND
            VPL5SAA5EE - DEFAULT PROMO PLAN SHOULD BE ZEROS FOR PREPAID ACCOUNTS
            VPL5SAA5FE - DEFAULT PROMO PLAN NUMBER IS NOT NUMERIC
            VPL5SAA5GE - ALT CUST ADDRESS START DATE NOT NUMERIC
            VPL5SAA5HE - DISCLOSURE INDICATOR CYCLE VALID VALUES ARE 0-9 AND A
            VPL5SAA60E - ACCOUNT ASSOCIATE LETTER TYPE 1 MUST BE 0 - 2
            VPL5SAA61E - ACCOUNT ASSOCIATE LETTER TYPE 2 MUST BE 0 - 2
            VPL5SAA62E - ACCOUNT ASSOCIATE LETTER TYPE 3 MUST BE 0 - 2
            VPL5SAA63E - ACCOUNT ASSOCIATE LETTER FEE 1 MUST BE 0 OR 1
            VPL5SAA64E - ACCOUNT ASSOCIATE LETTER FEE 2 MUST BE 0 OR 1
            VPL5SAA65E - ACCOUNT ASSOCIATE LETTER FEE 3 MUST BE 0 OR 1
            VPL5SAA66E - PRICING CONTROL ID CONTAINS INVALID CHARACTERS
            VPL5SAA67E - PRICING CONTROL START DATE IS NOT NUMERIC
            VPL5SAA69E - PRICING CONTROL EXPIRE DATE IS NOT NUMERIC
            VPL5SAA70E - PRICING LEVEL OVERRIDE MUST EQUAL SPACE, L, O OR S
            VPL5SAA71E - PRICING LEVEL START DATE IS NOT NUMERIC
            VPL5SAA72E - PRICING LEVEL EXPIRE DATE IS NOT NUMERIC
            VPL5SAA73E - OWNERSHIP FLAG MUST EQUAL 0, 1, OR 2
            VPL5SAA74E - SKIP PAYMENT FLAG MUST = A, M, N, V, X OR Z
            VPL5SAA75E - FREQUENT SHOPPER IND MUST EQUAL N OR Y
            VPL5SAA76E - FRAUD REPORT MUST EQUAL N OR Y
            VPL5SAA77E - WAIVE INTR CHARGE MUST EQUAL 0 OR 1
            VPL5SAA78E - CASH LIMIT FIELD MUST EQUAL N, T OR Y
            VPL5SAA79E - PREPMT ALLOWED FIELD MUST EQUAL 0, 1 OR 2
            VPL5SAA7IE - INSTL REPYMT CASH PLAN NBR MUST = ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA7JE - INSTL RPYMTS ACTIVE, INSTL REPYMT CASH PLAN NBR MUST BE NUMERIC
            VPL5SAA7KE - INSTL REPYMT CASH PLAN NBR NOT ON FILE OR NOT A VALID CASH TYPE
            VPL5SAA7LE - INSTL REPYMT RETL PLAN NBR MUST = ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA7ME - INSTL RPYMTS ACTIVE, INSTL REPYMT RETL PLAN NBR MUST BE NUMERIC
            VPL5SAA7NE - INSTL REPYMT RETL PLAN NBR NOT ON FILE OR NOT A VALID RETL TYPE
            VPL5SAA80E - PREPMT MONTHS IS NOT NUMERIC
            VPL5SAA81E - PREPMT ZERO FIELD MUST EQUAL 0, 1, OR 2
            VPL5SAA82E - LOAN LIMIT FIELD MUST EQUAL N, T OR Y
            VPL5SAA83E - INTEREST VARIANCE IS NOT NUMERIC
            VPL5SAA84E - INTEREST VARIANCE EFFECTIVE DATE IS NOT NUMERIC
            VPL5SAA85E - CASH PLAN NUMBER IS NOT NUMERIC
            VPL5SAA86E - RETAIL PLAN NUMBER IS NOT NUMERIC
            VPL5SAA87E - CONTROLLING PLAN OVERRIDE MUST = F, P, X OR SPACE
            VPL5SAA88E - FIXED PAYMENT/AMOUNT PERCENT FIELD NOT NUMERIC
            VPL5SAA89E - 1098 INDICATOR MUST EQUAL 0, 1, OR 2
            VPL5SAA90E - PAYMENT HOLD FIELD MUST EQUAL 0 OR 1
            VPL5SAA91E - EXCLUDE FROM VAU/ABU FIELD MUST = 0 OR 1
            VPL5SAA92E - EMBOSSING CHECKING ROUTING NUMBER IS NOT NUMERIC
            VPL5SAA93E - EMBOSSING SAVINGS ROUTING NUMBER IS NOT NUMERIC
            VPL5SAA94E - CARD TECH FIELD MUST = 0 OR 1
            VPL5SAA95E - TEMP CREDIT LINE IS NOT NUMERIC
            VPL5SAA96E - TEMP CREDIT LINE EXPIRES DATE IS NOT NUMERIC
            VPL5SAA97E - PREFER MINIMUM AMOUNT IS NOT NUMERIC
            VPL5SAA98E - PREFER INTEREST DAYS IS NOT NUMERIC
            VPL5SAA99E - PREFER START DATE IS NOT NUMERIC
            VPL5SAA9EE - INSTALLEMNT REPAYMENT RETAIL PLAN NUMBER IS NOT NUMERIC
            VPL5SAA9FE - INSTALLEMNT REPAYMENT CASH PLAN NUMBER IS NOT NUMERIC
            VPL5SAAI6E - GQ FIELD MUST BE SPACE OR A-Z
            VPL5SAAI7E - MAX DD AMT MUST BE NUMERIC
            VPL5SAAI5S - ORG CAN NOT BE DETERMINED
            VPL5SAAI6S - LOGO CAN NOT BE DETERMINED
            VPL5SAAI7S - AUTO GENERATION OF ACCOUNT NUMBER NOT ACTIVE
            VPL5SAAJ0E - ASSOC LTR FLAG MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAJ1E - ASSOC REL TYPE MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAJ2E - ASSOC DATE MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAJ3E - ASSOC AMT MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAJ4E - ASSOC TYPE CANNOT BE 5 WHEN SALES REP ORG = 0
            VPL5SAAJ5E - SALES REP CODE CANNOT BE SPACES OR ZEROS WHEN ASSOC TYPE
            VPL5SAAJ6E - SALES REP CODE NOT ON FILE
            VPL5SAAJ7E - ASSOC STMT FLAG MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAJ8E - ASSOC STMT FLAG MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAJ9E - ASSOC STMT FLAG MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAJ0S - MISMATCHED GENERATED FOREIGN ORG
            VPL5SAAJ1S - BILLING ACCOUNTS MUST BEGIN WITH 999
            VPL5SAAJ2S - CONTROL AND DIVERSION ACCOUNTS MUST BEGIN WITH 998
            VPL5SAAJ3S - ACCOUNT NUMBER PROVIDED ALREADY EXISTS
            VPL5SAAJ4S - EMBOSSER NUMBER ALREADY EXISTS
            VPL5SAAJ5S - ACCOUNT ALREADY EXISTS ON RELATIONSHIP MASTER
            VPL5SAAJ6S - FOREIGN ACCOUNT ALREADY EXISTS
            VPL5SAAJ7S - FOREIGN EMBOSSER ALREADY EXISTS
            VPL5SAAJ8S - FOREIGN ACCOUNT ALREADY EXISTS FOR RELATIONSHIP
            VPL5SAAJ9S - ACCOUNT NUMBER CHECK DIGIT IS INVALID
            VPL5SAAK0E - ASSOC LTR FLAG MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAK1E - ASSOC LTR FLAG MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAK2E - ASSOC LTR FEE MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAK3E - ASSOC LTR FEE MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAK4E - ASSOC LTR FEE MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAK5E - FIELD MUST BE NUMERIC
            VPL5SAAK6E - FIELD MUST BE 00 THRU 12
            VPL5SAAK7E - VALID VALUES ARE 0 AND 2 FOR CONSUMER ACCOUNTS
            VPL5SAAK8E - DD NOM FLAG MUST BE 3 FOR WEEKLY DD REQUEST
            VPL5SAAK9E - DD REQ DAY VALID VALUES ARE 01 THRU 07 FOR WEEKLY DD REQS
            VPL5SAAK0S - DUAL LOGO NOT FOUND
            VPL5SAAK2S - CUSTOMER NUMBER NOT FOUND
            VPL5SAAK4S - ELATIONSHIPS NOT ACTIVATED ON ORG CTRL RECORD
            VPL5SAAK5S - RELATIONSHIP NUMBER REQUIRED WHEN HCS IS ACTIVE FOR THIS ORG
            VPL5SAAK6S - RELATIONSHIPS NOT ACTIVE ON DUAL ORG RECORD
            VPL5SAAK7S - RELATIONSHIP NUMBER CAN NOT BE ENTERED FOR PREPAID LOGO
            VPL5SAAK8S - RELATIONSHIP RECORD DOES NOT EXIST
            VPL5SAAK9S - RELATIONSHIP NOT ALLOWED FOR COBRAND LOGO
            VPL5SAAL0S - FOREIGN RELATIONSHIP RECORD DOES NOT EXIST
            VPL5SAAL1E - CARD SCHEME 2 NOT VALID FOR JCB ACCOUNTS
            VPL5SAAL2E - WAIVE CARD FEE FIELD MUST = 0 OR 1
            VPL5SAAL3E - HCS MUST BE ACTIVE FOR ACCOUNT TYPE VALUES 1, 2 OR 3
            VPL5SAAL4E - SWEEPING NOT ALLOWED IN THIS LOGO
            VPL5SAAL5E - ALT CUST ADDRESS EXPIRY DATE NOT A VALID DATE
            VPL5SAAL6E - EXPIRY DATE CAN NOT BE LESS THAN CURRENT PROCESSING DATE
            VPL5SAAL7E - ACCT EMBLM MUST BE NUMERIC
            VPL5SAAL7S - ALTERNATE CUSTOMER NUMBER NOT ON FILE
            VPL5SAAL9E - PRIMARY ACCOUNT FLAG MUST EQUAL SPACE
            VPL5SAAM0E - PRIMARY ACCOUNT NOT ALLOWED - NO RELATIONSHIP RECORD EXISTS
            VPL5SAAM1E - CREDIT LIMIT MUST EQUAL ZEROS
            VPL5SAAM2E - CREDIT LIMIT MUST BE GREATER THAN ZEROS
            VPL5SAAM4E - CREDIT LIMIT CAN NOT EXCEED RELATIONSHIP CREDIT LIMIT
            VPL5SAAM6E - CREDIT LIMIT EXCEEDS SECURED AMOUNT
            VPL5SAAM7E - CUSTOMER NUMBER REQUIRED
            VPL5SAAM8S - CUSTOMER NUMBER NOT FOUND
            VPL5SAAM9E - CARD SCHEME FOR PREPAID ACCOUNT MUST EQUAL 0
            VPL5SAAN0S - FOREIGN CUSTOMER NUMBER NOT FOUND
            VPL5SAAN1E - GENERIC CUSTOMER NOT ALLOWED WHEN PREPAID FLAG IS NOT 1
            VPL5SAAN2E - MEMO BILL CURRENCY MUST BE ZEROS WHEN DUAL CURRENCY IS NOT ACTIVE
            VPL5SAAN3E - MEMO BILL CURRENCY NOT DEFINED
            VPL5SAAN4E - PRIM ACCT BILLING LEVEL CANNOT BE 1 WHEN REL BILLING LVL = 0 OR 2
            VPL5SAAN5E - BILLING LEVEL MUST EQUAL 0 OR 1
            VPL5SAAN6E - BILLING LEVEL MUST EQUAL 0
            VPL5SAAN7E - BILLING LEVEL IS INVALID FOR RELATIONSHIP
            VPL5SAAN8E - BILLING LEVEL MUST EQUAL 1, WHEN ACCT IS NOT TIED TO RELATIONSHIP
            VPL5SAAN9E - DATE OPENED CAN NOT EQUAL ZEROS
            VPL5SAAO0E - OPENED DATE NOT VALID DATE CAN NOT BE > CURR PROCESSING DATE
            VPL5SAAO1E - APPLI DATE NOT A VALID DATE
            VPL5SAAO2E - CARD SCHEME MUST EQUAL ZERO FOR ACCOUNTS NOT IN A RELATIONSHIP
            VPL5SAAO3E - CARD SCHEME CAN NOT EQUAL 0 FOR ACCOUNT IN A RELATIONSHIP
            VPL5SAAO4E - NO RELATIONSHIP BEING ADDED, CARD SCHEME CANNOT BE 1
            VPL5SAAO5E - ORG CARD SCHEME 2/3 NOT ACTIVE, CARD SCHEME CANNOT BE 2 OR 3
            VPL5SAAO6E - BILLING CYCLE MUST EQUAL RELATIONSHIP BILLING CYCLE
            VPL5SAAO7E - VALID VALUES FOR PREPAID ACCOUNTS ARE SPACE, I, O, U, OR Z
            VPL5SAAO8E - VALID VALUES ARE SPACE, 0-9, C, H, I, R, S, O, U OR Z
            VPL5SAAO9E - RELATIONSHIP ACCOUNTS STATEMENT FREQ MUST EQUAL 01
            VPL5SAAP0E - FREQ FIELD INVALID - VALID VALUES OF 01-12, 62 OR 99
            VPL5SAAP1E - CARD EXPIRATION NOT A VALID DATE
            VPL5SAAP2E - CARD EXP MUST BE GREATER THAN THE CURRENT PROCESSING DATE
            VPL5SAAP5E - CARD FEE IS NOT A VALID DATE
            VPL5SAAP6E - CREDIT BUREAU DATE NOT A VALID DATE
            VPL5SAAP7E - TERMS/CONDITIONS DATE NOT A VALID DATE
            VPL5SAAP8E - ASSOC DATE NOT A VALID DATE
            VPL5SAAP9E - ASSOC CUSTOMER NUMBER NOT ON FILE
            VPL5SAAQ0E - STATE OF RESIDENCE IS NOT FOUND ON USURY TABLE
            VPL5SAAQ1E - STATE OF RESIDENCE IS INVALID ON USURY TABLE
            VPL5SAAQ2E - STATE OF RESIDENCE IS NOT FOUND
            VPL5SAAQ3E - STATE OF RESIDENCE DOES NOT EXIST
            VPL5SAAQ4E - PRICING CONTROL ID IS NOT FOUND
            VPL5SAAQ5E - PRICING CONTROL ID DOES NOT EXIST
            VPL5SAAQ6E - ISSUANCE ID DOES NOT EXIST
            VPL5SAAQ7E - ISSUANCE ID REQUIRED FOR BANKCARD ACCOUNT
            VPL5SAAQ8E - ISSUANCE ID IS NOT FOUND ON USURY TABLE
            VPL5SAAQ9E - ISSUANCE ID IS NOT FOUND
            VPL5SAAR0E - ISSUANCE ID DOES NOT EXIST
            VPL5SAAR1E - START DATE INVALID WHEN PCT CNTRL ID NOT PROVIDED
            VPL5SAAR2E - START DATE FOR THE PRICING CTRL NOT A VALID DATE
            VPL5SAAR3E - START DATE FOR THE PRICING CTRL MUST BE = OR > NEXT PROCESSING DT
            VPL5SAAR4E - EXPIRE DATE FOR THE PRICING CTRL NOT A VALID DATE
            VPL5SAAR5E - EXPIRE DATE FOR THE PRICING CTRL MUST BE = OR > PCT START DATE
            VPL5SAAR6E - PCT LEVEL START DATE FOR THE PCT LEVEL NOT A VALID DATE
            VPL5SAAR7E - PCT LEVEL START DATE FOR PCT LEVEL MUST BE = OR > NEXT PROCESS DT
            VPL5SAAR8E - PCT LEVEL EXPIRE DATE FOR THE PCT LEVEL NOT A VALID DATE
            VPL5SAAS0E - PAYMENT SKIP NOT ALLOWED
            VPL5SAAS2S - CASH PLAN NUMBER NOT ON FILE OR NOT A CASH TYPE
            VPL5SAAS3E - RETAIL PLAN NUMBER INVALID FOR NON BANKCARD ACCOUNTS
            VPL5SAAS4E - RETAIL PLAN NUMBER INVALID FOR PREPAID ACCOUNTS
            VPL5SAAS5S - RETAIL PLAN NUMBER NOT ON FILE OR NOT A RETAIL TYPE
            VPL5SAAS6E - INT VARIANCE EFFECTIVE DATE NOT A VALID DATE
            VPL5SAAS7E - INT VARIANCE EFFECTIVE DATE MUST BE > CURRENT PROCESSING DATE
            VPL5SAAS8E - DDA ROUTING NUMBER REQUIRED WHEN DDA ACCOUNT PROVIDED
            VPL5SAAS9E - SAV ROUTING NUMBER REQUIRED WHEN SAV ACCOUNT PROVIDED
            VPL5SAAT1E - ACCOUNT UPDATER SWITCH MUST EQUAL 0 OR 1
            VPL5SAAT4E - CARD TECH FIELD INVALID
            VPL5SAAT5E - CARD TECH FIELD MUST = 0 FOR CARD SCHEME 2
            VPL5SAAT6E - SMART CARD NOT ALLOWED
            VPL5SAAT7E - TEMP CREDIT LIMIT NOT ALLOWED FOR RELATIONSHIP ACCOUNT
            VPL5SAAT8E - TEMP CREDIT LIMIT EQUAL CREDIT LIMIT
            VPL5SAAT9E - TEMP CREDIT LIMIT GREATER THAN LOGO CREDIT LIMIT CEILING
            VPL5SAAU0E - DATE TEMP CREDIT LIMIT EXPIRE IS NOT A VALID DATE
            VPL5SAAU1E - EXPIRE DATE FOR TEMP CREDIT LINE MUST BE > OR = CURR PROCESS DATE
            VPL5SAAU2E - DD PAYMENT INVALID FOR DEBIT CARDS
            VPL5SAAU3E - DD PAYMENT MUST EQUAL ZEROS
            VPL5SAAU4E - DD PAYMENT MUST EQUAL ZEROS
            VPL5SAAU5E - DD PAYMENT INVALID VALUE - VALID VALUES ARE 1, 2 AND 7
            VPL5SAAU6E - DD PAYMENT MUST EQUAL 0 WHEN REL BILLING LEVEL EQUAL 0
            VPL5SAAU7E - DD NOM AMT/PCT FLAG INVALID FOR DEBIT CARD
            VPL5SAAU8E - DD NOM AMT/PCT MUST EQUAL ZEROS
            VPL5SAAU9E - DD NOM AMT/PCT MUST BE GREATER THAN ZEROS
            VPL5SAAV0E - DD NOM AMT/PCT VALUE IS INVALID
            VPL5SAAV1E - PREFER START DATE IS NOT A VALID DATE
            VPL5SAAV2E - PREFER END DATE IS NOT A VALID DATE
            VPL5SAAV3E - PREFER PROMO DATE IS NOT A VALID DATE
            VPL5SAAV4E - DD INTERIM PAYMENTS MUST EQUAL 0
            VPL5SAAV6E - DD DAILY FREQUENCY FIELD MUST = 0
            VPL5SAAV7E - DD REQ DAY MUST EQUAL ZER0 WHEN DD DAILY FREQUENCY NOT EQUAL ZERO
            VPL5SAAV8E - DD PAYMENT MUST EQUAL 2 WHEN DD DAILY FREQUENCY NOT EQUAL ZERO
            VPL5SAAV9E - DD PAYMENT CHANGE DATE MUST EQUAL ZERO WHEN DD DAILY FREQ = ZERO
            VPL5SAAW0E - DD CREDIT BALANCE INVALID - ACCOUNT IN A HCS RELATIONSHIP
            VPL5SAAW1E - DD PAYMENT REMITTANCE METHOD MUST EQUAL 0 WHEN BILLING LVL = 0
            VPL5SAAW2S - DC PLAN DOES NOT EXIST
            VPL5SAAW3E - DC PLAN NOT A RETAIL PLAN
            VPL5SAAW4E - DD R/T BANK ID MUST BE GREATER THAN ZEROS
            VPL5SAAW5E - DD R/T BANK ID IS NOT A VALID NACHA FORMAT
            VPL5SAAW6E - DC R/T BANK ID IS NOT A VALID NACHA FORMAT
            VPL5SAAW7E - DD PAYMENT EXPIRE DATE NOT A VALID DATE
            VPL5SAAW8E - DD PAYMENT EXPIRE DATE MUST BE > OR = NEXT PROCESSING DATE
            VPL5SAAX0E - DD PAYMENT START DATE IS NOT A VALID DATE
            VPL5SAAX1E - DD PAYMENT START MUST BE GREATER OR EQUAL NEXT PROCESSING DATE
            VPL5SAAX2E - DC ACH EXPIRE DATE IS NOT A VALID DATE
            VPL5SAAX3E - DC ACH EXPIRE DATE MUST BE GREATER OR EQUAL NEXT PROCESSING DATE
            VPL5SAAX4E - DC ACH START DATE IS NOT A VALID DATE
            VPL5SAAX5E - DD ACCOUNT NUMBER MUST BE GREATER THAN ZEROS
            VPL5SAAX6E - DD REQUEST DAY MUST = 0, WHEN LOGO DD PAYMENT FLAG IS S OR D
            VPL5SAAX7E - DD REQUEST DAY MUST BE BETWEEN 01 AND 31
            VPL5SAAX8E - DC REQUEST DAY INDICATOR MUST EQUAL ZEROS
            VPL5SAAX9E - DD PAYMENT CHANGE DATE INVALID FOR DEBIT CARDS
            VPL5SAAY0E - DD PAYMENT CHANGE DATE IS NOT A VALID DATE
            VPL5SAAY1E - DD PAYMENT CHANGE DATE MUST BE > OR = NEXT PROCESSING DATE
            VPL5SAAY2E - DD PAYMENT CHANGE DATE MUST BE GREATER OR EQUAL START DATE
            VPL5SAAY3E - DD PAYMENT CHANGE DATE MUST BE < OR EQUAL PAYMENT EXPIRATION DATE
            VPL5SAAY4E - DD PAYMENT CHANGE DATE IS INVALID
            VPL5SAAY5S - PROMOTION NOT ON FILE
            VPL5SAAY6S - PROMOTION NOT VALID
            VPL5SAAY7E - OWNING BRANCH MUST BE GREATER THAN ZEROS FOR BANKCARD ACCOUNTS
            VPL5SAAY8S - OWNING BRANCH NOT ON FILE
            VPL5SAAZ1E - USER DATE 1 IS NOT A VALID DATE
            VPL5SAAZ2E - USER DATE 2 IS NOT A VALID DATE
            VPL5SAAZ3E - USER DATE 3 IS NOT A VALID DATE
            VPL5SAAZ4E - USER DATE 4 IS NOT A VALID DATE
            VPL5SAAZ5E - USER DATE 5 IS NOT A VALID DATE
            VPL5SAAZ6E - USER DATE 6 IS NOT A VALID DATE
            VPL5SAAZ7E - USER DATE 7 IS NOT A VALID DATE
            VPL5SAAZ8E - USER DATE 8 IS NOT A VALID DATE
            VPL5SAAZ9E - USER DATE 9 IS NOT A VALID DATE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAddDetailsResponse'
      x-proxy-name: Account Add
      x-group-name: Account
      x-child-product-name: Accounts
components:
  schemas:
    UpdateQualificationRequest:
      required:
      - accountNumber
      - changeOffRSN1
      - changeOffRSN2
      - function
      - globalQualificationParameter
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 3 \n\nOrganization Number.\
            \ \n\nVisionPLUS Service Data: ARXCCI-ORG"
          format: int32
          example: 807
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: "Account Number. \n\nVisionPLUS Service Data: ARXCCI-ACCT-NBR"
          example: "1234567890123456789"
        foreignUse:
          type: string
          description: "* Min Length = 1 \n* Max Length = 1 \n\nThe FOREIGN USE indicator\
            \ is provided in the input message so the requesting source can specify\
            \ whether the request applies to the local or foreign account when the\
            \ account is in a dual currency processing organization. \n\nThe default\
            \ is to the local account\n\nValues: \n* 0 \n* 1 \n\n VisionPLUS Service\
            \ Data: ARXCCI-FOREIGN-USE"
          example: "0"
        function:
          type: string
          description: "* Min Length = 1 \n* Max Length = 1 \n\nFunction indicator.\
            \ \n\nValues: \n* 0 = Account close; \n * 1 = Manual charge-off; \n *\
            \ 2 = Charge-off with reason code; \n * 3 = Update global qualification.\
            \ \n\n VisionPLUS Service Data: ARXCCI-FUNCTION"
          example: "3"
        changeOffRSN1:
          type: string
          description: "* Min Length = 1 \n* Max Length = 1 \n\nChange off - RSN1.\
            \ \n\nVisionPLUS Service Data: ARXCCI-CHGOFF-RSN1"
          example: C
        changeOffRSN2:
          type: string
          description: "* Min Length = 1 \n* Max Length = 1 \n\nChange off - RSN2.\
            \ \n\nVisionPLUS Service Data: ARXCCI-CHGOFF-RSN2"
          example: B
        globalQualificationParameter:
          type: string
          description: "* Min Length = 1 \n* Max Length = 1 \n\nGlobal qualification\
            \ assigned to the account. \n\nVisionPLUS Service Data: ARXCCI-GLOBAL-QUAL"
          example: A
      description: Update qualification Request
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    UpdateQualificationResponse:
      type: object
      properties:
        response:
          type: string
    AccountForBlockCodeUpdateRequest:
      required:
      - accountNumber
      - blockCodeIndicator
      - foreignUse
      - functionCode
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 3 \n\nOrganization Number.\
            \ \n\nVisionPLUS Service Data: ARXABI1-ORG"
          format: int32
          example: 999
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: "Account number. \n\nVisionPLUS Service Data: ARXABI-ACCOUNT"
          example: "1234567891234567891"
        functionCode:
          maxLength: 1
          minLength: 0
          type: string
          description: "Function Code. \n\nValues: \n* B = block account \n * U =\
            \ unblock account \n\n VisionPLUS Service Data: ARXABI-FUNC-CODE"
          example: B
          enum:
          - "U,B"
        blockCode:
          type: string
          description: "* Min Length = 1 \n* Max Length = 1 \n\nBlock code to be assigned\
            \ to the account. \n\nValues: \n* A-Z = block code \n * space = unblock\
            \ account\n\nVisionPLUS Service Data: ARXABI-BLOCK-CD"
          example: Z
        blockCodeIndicator:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 1 \n\nBlock code indicator.\
            \ \n\nValues: \n* 0 = Tests both block code 1 and 2 to determine and use\
            \ the one that fits best relative to priority settings (not allowed for\
            \ unblock)\n* 1 = Block code 1\n* 2 = Block code 2\n\nVisionPLUS Service\
            \ Data: ARXABI-BLK-CD-IND"
          format: int32
          example: 1
        foreignUse:
          maxLength: 1
          minLength: 0
          type: string
          description: "The FOREIGN USE indicator is provided in the input message\
            \ so the requesting source can specify whether the request applies to\
            \ the local or foreign account when the account is in a dual currency\
            \ processing organization. \n\nValues: \n* 0 \n * 1 \n\n VisionPLUS Service\
            \ Data: ARXABI-FOREIGN-USE"
          example: "0"
      description: Account Update User Request
    AccountForBlockCodeUpdateResponse:
      type: object
      properties:
        localOrganization:
          type: integer
          description: "Max Length = 3 \n\nLocal organization. \n\nVisionPLUS Service\
            \ Data: ARXABO-ORG"
          format: int32
          example: 999
        foreignOrg:
          type: integer
          description: "Max Length = 3 \n\nOrganization associated with the foreign\
            \ account. \n\nVisionPLUS Service Data: ARXABO-FOREIGN-ORG"
          format: int32
          example: 999
        accountNumber:
          type: string
          description: "Max Length = 19 \n\nAccount number associated with the block\
            \ code update. \n\nVisionPLUS Service Data: ARXABO-ACCOUNT"
          example: "1234567891234567891"
        cardNumber:
          type: string
          description: "Max Length = 19 \n\nUnique identifier or token associated\
            \ with the card number or payment instrument. \n\nVisionPLUS Service Data:\
            \ ARXABO-CARD-NBR"
          example: 000123456ID5IXX1234
        foreignUse:
          type: string
          description: "Max Length = 1 \n\nThe FOREIGN USE indicator is provided in\
            \ the input message so the requesting source can specify whether the request\
            \ applies to the local or foreign account when the account is in a dual\
            \ currency processing organization. \n\nVisionPLUS Service Data: ARXABO-FOREIGN-USE"
          example: "0"
        functionCode:
          type: string
          description: "Max Length = 1 \n\nFunction code. \n\nVisionPLUS Service Data:\
            \ ARXABO-FUNC-CODE"
          example: B
        blockCode1Local:
          type: string
          description: "Max Length = 1 \n\nBlock code 1 stored on the local Account\
            \ Base Segment record after the service update is applied. \n\nVisionPLUS\
            \ Service Data: ARXABO-BLOCK-CD-1-LOCAL"
          example: Z
        blockCode2Local:
          type: string
          description: "Max Length = 1 \n\nBlock code 2 stored on the local Account\
            \ Base Segment record after the service update is applied. \n\nVisionPLUS\
            \ Service Data: ARXABO-BLOCK-CD-2-LOCAL"
          example: Z
        blockCode1Foreign:
          type: string
          description: "Max Length = 1 \n\nBlock code 1 stored on the foreign Account\
            \ Base Segment record after the service update is applied. \n\nVisionPLUS\
            \ Service Data: ARXABO-BLOCK-CD-1-FOREIGN"
          example: Z
        blockCode2Foreign:
          type: string
          description: "Max Length = 1 \n\nBlock code 2 stored on the foreign Account\
            \ Base Segment record after the service update is applied. \n\nVisionPLUS\
            \ Service Data: ARXABO-BLOCK-CD-2-FOREIGN"
          example: Z
    ModifyAccountBalanceRequest:
      required:
      - accountNumber
      - asmOrganizationNumber
      - representativeId
      type: object
      properties:
        asmOrganizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization Number.

            VisionPLUS Service Data: AZXMAI-ASM-ORG
          format: int32
          example: 809
        foreignUse:
          type: string
          description: |-
            Length: 1
            Foreign Use indicator.
            Values:
            0: Local
            1: Foreign
            VisionPLUS Service Data: AZXMAI-FOREIGN-USE-IND
          example: "0"
        representativeId:
          maxLength: 3
          minLength: 1
          type: string
          description: |-
            Length: 3
            ID of Representative.

            VisionPLUS Service Data: AZXMAI-ASM-REP
          example: A00
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19

            Number of Customer's account or card.

            VisionPLUS Service Data: AZXMAI-ACCT-NBR
          example: "4198194069732810121"
        transactionData:
          $ref: '#/components/schemas/ModifyAccountBalanceRequest.TxData'
      description: Modify Account Balance Request
    ModifyAccountBalanceRequest.TxData:
      required:
      - actionCode
      - cardNumber
      - cardSequence
      - description
      - effectiveDate
      - otbUpdateIndicator
      - planNumber
      - planSequence
      - referenceNumber
      - resolutionReferenceNumber
      - storeNumber
      - transactionAmount
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 12
          type: string
          description: |-
            Length: 19
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).

            VisionPLUS Service Data: AZXMAI-CARD-NBR
          example: 000540208ID5IXX3865
        cardSequence:
          type: integer
          description: |-
            Length: 4
            Card Sequence.

            VisionPLUS Service Data: AZXMAI-CARD-SEQ
          format: int32
          example: 1
        actionCode:
          type: string
          description: |-
            Length: 4
            Code that identifies the action to be taken.

            VisionPLUS Service Data: AZXMAI-ACTION-CODE
          example: FUND
        effectiveDate:
          type: string
          description: |-
            Date that specifies when the transaction takes effect in the account.

            VisionPLUS Service Data: AZXMAI-EFF-DATE
          format: date
        transactionAmount:
          type: number
          description: |-
            Length: 17

            Transaction Amount.

            VisionPLUS Service Data: AZXMAI-TXN-AMOUNT
          example: 100
        planNumber:
          type: integer
          description: |-
            Length: 5
            Plan Number.

            VisionPLUS Service Data: AZXMAI-PLAN-NBR
          format: int32
          example: 60000
        planSequence:
          type: integer
          description: |-
            Length: 2
            Plan Sequence.

            VisionPLUS Service Data: AZXMAI PLAN-SEQ
          format: int32
          example: 1
        storeNumber:
          type: integer
          description: |-
            Length: 9
            Store Number.

            VisionPLUS Service Data: AZXMAI-STORE-NBR
          format: int32
          example: 999999998
        authorizationCode:
          maxLength: 6
          minLength: 0
          type: string
          description: |-
            Length: 6

            identifier used to identify the transaction for reconciliation purpose.

            VisionPLUS Service Data: AZXMAI-AUTH-CODE
          example: "123456"
        referenceNumber:
          type: string
          description: |-
            Length: 12
            Reference Number.

            VisionPLUS Service Data: AZXMAI-REF-NUM
          example: "123456789012"
        resolutionReferenceNumber:
          type: string
          description: |-
            Length: 14
            Resolution Reference Number For Payments Received For Open Billing Accounts.

            VisionPLUS Service Data: AZXMAI-R-REF-NBR
          example: "123456789012"
        otbUpdateIndicator:
          type: integer
          description: |-
            Length: 1
            OTB Update Indicator. The values are:
            0 = Update OTB
            1 = Do not update OTB
            VisionPLUS Service Data: AZXMAI-OTB-UPDATE-IND
          format: int32
          example: 0
        description:
          type: string
          description: |-
            Length: 40

            Description of the transaction.

            VisionPLUS Service Data: AZXMAI-DESC
          example: Description
        departmentCode:
          type: string
          description: |-
            Length: 4
            Department Code.
            VisionPLUS Service Data: AZXMAI-DEPT-CODE
          example: PPLD
      description: |-
        Length: 3
        ModifyAccountBalanceRequestTxData
    ModifyAccountBalanceResponse:
      type: object
      properties:
        asmOrganizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization number.

            VisionPLUS Service Data: AZXMAO-ACTION-ASM-ORG
          format: int32
        asmRepresentativeId:
          type: string
          description: |-
            Length: 3
            Representative id.

            VisionPLUS Service Data: AZXMAO-ACTION-REP
        referralRepresentative:
          type: string
          description: |-
            Length: 3
            Referral Representative.

            VisionPLUS Service Data: AZXMAO-REFERRAL-REP
        account:
          $ref: '#/components/schemas/ModifyAccountBalanceResponse.Account'
        foreignUseIndicator:
          type: string
          description: |-
            Length: 1
            Foreign use indicator.

            VisionPLUS Service Data: AZXMAO-FOREIGN-USE-IND
        cardNumber:
          type: string
          description: |-
            Length: 19
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).

            VisionPLUS Service Data: AZXMAO-CARD-NBR
          example: 000540208ID5IXX3865
        historyDate:
          type: string
          description: |-
            History date.

            VisionPLUS Service Data: AZXMAO-HIST-DATE
          format: date
        historyTime:
          type: string
          description: |-
            History time.

            VisionPLUS Service Data: AZXMAO-HIST-TIME
        actionCodePri:
          type: integer
          description: |-
            Length: 1
            Action code pri.

            VisionPLUS Service Data: AZXMAO-ACTION-CODE-PRI
          format: int32
        recordType:
          type: string
          description: |-
            Length: 1
            Record type.

            VisionPLUS Service Data: AZXMAO-RECORD-TYPE
        actionDescription:
          type: string
          description: |-
            Length: 20
            Action description.

            VisionPLUS Service Data: AZXMAO-ACTION-DESC
        collectionSequenceNumber:
          type: integer
          description: |-
            Length: 5
            Collection sequence number.

            VisionPLUS Service Data: AZXMAO-CTA-SEQ-NBR
          format: int32
        status:
          type: string
          description: |-
            Length: 1
            Status.

            VisionPLUS Service Data: AZXMAO-STATUS
        referralAsmOrganization:
          type: integer
          description: |-
            Length: 3
            Referral asm organization.

            VisionPLUS Service Data: AZXMAO-REFERRAL-ASM-ORG
          format: int32
        purgeDate:
          type: string
          description: |-
            Purge date.

            VisionPLUS Service Data: AZXMAO-PURGE-DATE
          format: date
        actionDate:
          type: string
          description: |-
            Action date.

            VisionPLUS Service Data: AZXMAO-ACTION-DATE
          format: date
        cardSequence:
          type: integer
          description: |-
            Length: 5
            Card sequence.

            VisionPLUS Service Data: AZXMAO-CARD-SEQ
          format: int32
        retention:
          type: string
          description: |-
            Length: 1
            Retention.

            VisionPLUS Service Data: AZXMAO-RETENTION
        ctaFile:
          type: string
          description: |-
            Length: 1
            CTA file.

            VisionPLUS Service Data: AZXMAO-CTA-FILE
        transactionData:
          $ref: '#/components/schemas/ModifyAccountBalanceResponse.TransactionData'
        letterData:
          $ref: '#/components/schemas/ModifyAccountBalanceResponse.LetterData'
    ModifyAccountBalanceResponse.Account:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization number.

            VisionPLUS Service Data: AZXMAO-ACCT-ORG
          format: int32
        logo:
          type: integer
          description: |-
            Length: 3
            Logo.

            VisionPLUS Service Data: AZXMAO-ACCT-LOGO
          format: int32
        number:
          type: string
          description: |-
            Length: 19
            Number.

            VisionPLUS Service Data: AZXMAO-ACCT-NBR
    ModifyAccountBalanceResponse.LetterData:
      type: object
      properties:
        organization:
          type: string
          description: |-
            Length: 3
            Organization.

            VisionPLUS Service Data: AZXMAO-LTR-ORG
        code:
          type: string
          description: |-
            Length: 3
            Code.

            VisionPLUS Service Data: AZXMAO-LETTER
    ModifyAccountBalanceResponse.TransactionData:
      type: object
      properties:
        currencyData:
          $ref: '#/components/schemas/ModifyAccountBalanceResponse.TransactionData.CurrencyData'
        actionCode:
          type: string
          description: |-
            Length: 5
            Action code.

            VisionPLUS Service Data: AZXMAO-ACTION-CODE
        effectiveDate:
          type: string
          description: |-
            Effective date.

            VisionPLUS Service Data: AZXMAO-EFF-DATE
          format: date
        feeAmount:
          type: number
          description: |-
            Length: 17
            Fee Amount.

            VisionPLUS Service Data: AZXMAO-FEE-AMT
        transactionCode:
          type: string
          description: |-
            Length: 3
            Transaction code.

            VisionPLUS Service Data: AZXMAO-TXN-CODE
        transactionAmount:
          type: number
          description: |-
            Length: 17
            Transaction amount.

            VisionPLUS Service Data: AZXMAO-TRAN-AMT
        transactionDescription:
          type: string
          description: |-
            Length: 40
            Transaction description.

            VisionPLUS Service Data: AZXMAO-TXN-DESC
        creditLimit:
          type: number
          description: |-
            Length: 17
            Credit Limit.

            VisionPLUS Service Data: AZXMAO-CREDIT-LIMIT
        openToBuy:
          type: number
          description: |-
            Length: 17
            Open to buy.

            VisionPLUS Service Data: AZXMAO-OPEN-TO-BUY
        cashAvailable:
          type: number
          description: |-
            Length: 17
            Cash available.

            VisionPLUS Service Data: AZXMAO-CASH-AVAIL-CR
        planNumber:
          type: string
          description: |-
            Length: 5
            Plan number.

            VisionPLUS Service Data: AZXMAO-PLAN-NBR
        currentBalance:
          type: number
          description: |-
            Length: 17
            Current balance.

            VisionPLUS Service Data: AZXMAO-CURR-BAL
        planSequence:
          type: integer
          description: |-
            Length: 2
            Plan sequence.

            VisionPLUS Service Data: AZXMAO-PLAN-SEQ
          format: int32
        storeNumber:
          type: string
          description: |-
            Length: 9
            Store number.

            VisionPLUS Service Data: AZXMAO-STORE-NBR
        departmentCode:
          type: string
          description: |-
            Length: 4
            Department code.

            VisionPLUS Service Data: AZXMAO-DEPT-NBR
        authorizationCode:
          type: string
          description: |-
            Length: 6
            Authorization code.

            VisionPLUS Service Data: AZXMAO-AUTH-NBR
        stockKeepingUnitNumber:
          type: string
          description: |-
            Length: 3
            Stock keeping unit number.

            VisionPLUS Service Data: AZXMAO-SKU-NBR
        salesClerk:
          type: string
          description: |-
            Length: 12
            Sales clerk.

            VisionPLUS Service Data: AZXMAO-CLERK
        ticketNumber:
          type: string
          description: |-
            Length: 15
            Ticket number.

            VisionPLUS Service Data: AZXMAO-TICKET-NBR
        purchaseOrderNumber:
          type: string
          description: |-
            Length: 16
            Purchase order number.

            VisionPLUS Service Data: AZXMAO-PURCHASE-ORDER-NBR
        referenceNumber:
          type: string
          description: |-
            Length: 24
            Reference number.

            VisionPLUS Service Data: AZXMAO-REFERENCE-NBR
        insuranceCode:
          type: string
          description: |-
            Length: 2
            Insurance code.

            VisionPLUS Service Data: AZXMAO-INS
        reversalDate:
          type: string
          description: |-
            Reversal date.

            VisionPLUS Service Data: AZXMAO-REV-DATE
          format: date
        reversalTime:
          type: string
          description: |-
            Length: 7
            Reversal time.

            VisionPLUS Service Data: AZXMAO-REV-TIME
        storeOrganizationNumber:
          type: integer
          description: |-
            Length: 3
            Store organization number.

            VisionPLUS Service Data: AZXMAO-STORE-ORG
          format: int32
        approvalIndicator:
          type: string
          description: |-
            Length: 1
            Approval indicator.

            VisionPLUS Service Data: AZXMAO-APPR-DECL
        monetaryType:
          type: string
          description: |-
            Length: 1
            Monetary type.

            VisionPLUS Service Data: AZXMAO-MON-TYPE
        pointsProgram:
          type: integer
          description: |-
            Length: 1
            Points program.

            VisionPLUS Service Data: AZXMAO-PTS-PGM
          format: int32
        pointsAmount:
          type: number
          description: |-
            Length: 9
            Points amount.

            VisionPLUS Service Data: AZXMAO-PTS-AMT
        referenceNum:
          type: string
          description: |-
            Length: 15
            Reference.

            VisionPLUS Service Data: AZXMAO-R-REF-NBR
        fundCard:
          type: string
          description: |-
            Length: 19
            Fund card.

            VisionPLUS Service Data: AZXMAO-PD-FUND-CARD
        fundCardDeclinedReason:
          type: string
          description: |-
            Length: 30
            Fund card declined reason.

            VisionPLUS Service Data: AZXMAO-PD-DECL-RSN
        currencyNumber:
          type: string
          description: |-
            Length: 3
            Currency number.

            VisionPLUS Service Data: AZXMAO-WALLET
        authorizationNumber:
          type: string
          description: |-
            Length: 6
            Authorization number.

            VisionPLUS Service Data: AZXMAO-AUTH-NUMBER
    ModifyAccountBalanceResponse.TransactionData.CurrencyData:
      type: object
      properties:
        currencyCode:
          type: string
          description: |-
            Length: 3
            Currency code.

            VisionPLUS Service Data: AZXMAO-CURRENCY-CODE
        currencyNumberOfDecimal:
          type: integer
          description: |-
            Length: 1
            Currency number of decimal.

            VisionPLUS Service Data: AZXMAO-CURRENCY-NOD
          format: int32
    InstantCArdAddL8V7Request.AccountData:
      required:
      - billingCycle
      type: object
      properties:
        accountNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: "Account Number. \n\nVisionPLUS Service Data: AZXICI-BS-ACCT "
          example: "1234567891234567890"
        billingAccountIndicator:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 1 \n\nBilling Account Indicator.\
            \ \n\nVisionPLUS Service Data: AZXICI-BILLING-ACCT-IND "
          format: int32
          example: 1
        relationshipPrimaryAccountFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: "Relationship Primary Account Flag. \n\nVisionPLUS Service\
            \ Data: AZXICI-REL-PRIM-ACCT-FLAG "
          example: "1"
        relationshipNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: "relationship Number. \n\nVisionPLUS Service Data: AZXICI-REL-NBR "
          example: "1234567891234567890"
        shortName:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            Short name.
            VisionPLUS Service Data: AZXICI-SHORT-NAME
          example: Test account
        creditLimit:
          type: number
          description: "Max Length = 17 \n\nCredit limit. \n\nVisionPLUS Service Data:\
            \ AZXICI-CREDIT-LIMIT "
          example: 3000000
        billingCurrency:
          type: integer
          description: "Max Length = 3 \n\nBilling Currency. \n\nVisionPLUS Service\
            \ Data: AZXICI-BILLING-CURR "
          format: int32
          example: 998
        relationshipBillingLevel:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 1 \n\nRelationship Billing\
            \ Level. \n\nVisionPLUS Service Data: AZXICI-REL-BILL-LVL"
          format: int32
          example: 1
        dualBillingFlag:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 1 \n\nDual Billing Flag.\
            \ \n\nVisionPLUS Service Data: AZXICI-DUAL-BILLING-FL "
          format: int32
          example: 1
        relationshipCardScheme:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 1 \n\nRelationship Card\
            \ Scheme. \n\nVisionPLUS Service Data: REL_CARD_SCHEME"
          format: int32
          example: 3
        alternateCustomerNumberFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: "Alternate customer. \n\nValues: \n* Space = No action; disregard\
            \ alternate customer; \n * A = Alternate customer active; send statements\
            \ to alternate address until expiration date; \n * B = Alternate customer\
            \ active; send statements to both addresses until expiration date; \n\
            \ * C = Relationship customer active; send statement to alternate address.\
            \ \n\nVisionPLUS Service Data: AZXICI-ALT-CUST-NBR-FLAG "
          example: C
        alternateCustomerStartDate:
          type: string
          description: "Effective date of the alternate customer address. \n\nVisionPLUS\
            \ Service Data: AZXICI-DATE-ALT-CUST-STRT "
          format: date
        alternateCustomerExpireDate:
          type: string
          description: "Expiration date of the alternate customer address. \n\nVisionPLUS\
            \ Service Data: AZXICI-DATE-ALT-CUST-EXPR "
          format: date
        alternateCustomerNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: "Alternate customer number. \n\nVisionPLUS Service Data: AZXICI-ALT-CUST-NBR "
          example: "1234567891234567890"
        dateOpened:
          type: string
          description: "Date opened. \n\nVisionPLUS Service Data: AZXICI-DATE-OPENED "
          format: date
        billingCycle:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 2 \n\nBilling cycle. \n\n\
            VisionPLUS Service Data: AZXICI-BILLING-CYCLE "
          format: int32
          example: 31
        customerSelectedDueDay:
          maxLength: 2
          minLength: 0
          type: string
          description: "Customer selected due day. \n\nVisionPLUS Service Data: AZXICI-CUST-SEL-DUE-DAY "
          example: "10"
        statementFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: "Statement flag. \n\nVisionPLUS Service Data: AZXICI-STATEMENT-FLAG "
          example: "1"
        statementFrequency:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Statement frequency.

            VisionPLUS Service Data: AZXICI-STATEMENT-FREQ
          example: "1"
        blockCode1:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Block code 1.

            VisionPLUS Service Data: AZXICI-BLOCK-CODE-1
          example: A
        blockCode2:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Block code .

            VisionPLUS Service Data: AZXICI-BLOCK-CODE-2
          example: A
        processingControlTableControlId:
          maxLength: 19
          minLength: 0
          type: string
          description: |-
            PCT ID.

            VisionPLUS Service Data: AZXICI-PCT-CTL-ID
          example: "123"
        processingControlTableStartDate:
          type: string
          description: "Processing Control Table Start Date. \n\nVisionPLUS Service\
            \ Data: AZXICI-PCT-START-DATE "
          format: date
        processingControlTableExpireDate:
          type: string
          description: "Processing Control Table Expire Date. \n\nVisionPLUS Service\
            \ Data: AZXICI-PCT-EXPIR-DATE "
          format: date
        processingControlTableLevel:
          type: string
          description: "Max Length = 1 \n\nProcessing Control Table Level. \n\nVisionPLUS\
            \ Service Data: AZXICI-PCT-LEVEL "
          example: O
        processingControlTableLevelStartDate:
          type: string
          description: "Processing Control Table Level Start Date. \n\nVisionPLUS\
            \ Service Data: AZXICI-PCT-LEVEL-START-DATE "
          format: date
        processingControlTableLevelExpireDate:
          type: string
          description: "Processing Control Table Level Expire Date. \n\nVisionPLUS\
            \ Service Data: AZXICI-PCT-LEVEL-EXPIR-DATE "
          format: date
        cashPlanNumber:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 5 \n\nCash Plan Number.\
            \ \n\nVisionPLUS Service Data: AZXICI-CASH-PLAN-NBR "
          format: int32
          example: 12345
        retailPlanNumber:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 5 \n\nRetail Plan Number.\
            \ \n\nVisionPLUS Service Data: AZXICI-RETAIL-PLAN-NBR "
          format: int32
          example: 12345
        promoPlanNumber:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 5 \n\nPromo Plan Number.\
            \ \n\nVisionPLUS Service Data: AZXICI-PBT-PROMO-PLAN-NBR "
          format: int32
          example: 12345
        ddaRoutingNumber:
          type: integer
          description: "* Min Length = 9 \n* Max Length = 9 \n\nDDA routing number.\
            \ \n\nVisionPLUS Service Data: AZXICI-DDA-RTNG-NBR "
          format: int32
          example: 0
        ddaAccountNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: |-
            DDA account number.
            VisionPLUS Service Data: AZXICI-DDA-ACCT-NBR
          example: "121535325"
        savingsRoutingNumber:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 9 \n\nSavings routing number.\
            \ \n\nVisionPLUS Service Data: AZXICI-SAV-RTNG-NBR "
          format: int32
          example: 123456789
        savingsAccountNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: "Savings account number. \n\nVisionPLUS Service Data: AZXICI-SAV-ACCT-NBR "
          example: "1234567891234567890"
        userAccountNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: "User Account Number. \n\nVisionPLUS Service Data: AZXICI-USR-ACCT-NBR "
          example: "1234567891234567890"
        cardTechnology:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 1 \n\nCard technology \n\
            \nFlag that identifies the current card technology used for this account.\n\
            \nValues: \n* 0 = Magnetic-stripe card(s) are on issue\n* 1 = Smart card(s)\
            \ are on issue\n* 2 = Magnetic-stripe contactless card(s) are on issue\n\
            * 3 = Smart contactless card(s) are on issue \n\nThe following edits apply\
            \ to this field:\n* This field can be 1, 2 or 3 only when the **DEFAULT\
            \ CARD TECHNOLOGY** field on ARML38 is greater than 0 \nIn the add mode\
            \ (ARAB), this field must be 0 or 2 unless **SMART CARD ALLOWED** (ARML38)\
            \ is 1. \n* In the maintenance mode (ARMB), this field is only open to\
            \ input if no Embosser records are on file for the account. \n* When the\
            \ account card numbering schema **(CRD# SCM** on ARMB01) is 2, this field\
            \ must be 0 or 2. \n* When adding an account, CMS uses the card technology\
            \ from the account's logo as the default value. You can override this\
            \ default if necessary. \n\nVisionPLUS Service Data: AZXICI-CARD-TECHNOLOGY"
          format: int32
          example: 0
        authorizationLimitOverrides:
          type: number
          description: "* Min Length = 1 \n* Max Length = 1 \n\nValues: \n* 0 = Override\
            \ not allowed\n* 1 = Override allowed\nAuthorization Limit Overrides.\
            \ \n\nVisionPLUS Service Data: AZXICI-AUTH-LIMIT-OVRRD-FLAG "
          example: 0
        temporaryCreditLimit:
          type: number
          description: "* Min Length = 1 \n* Max Length = 17 \n\nTemporary credit\
            \ limit. \n\nVisionPLUS Service Data: AZXICI-TEMP-CRLIM "
          example: 0
        dateTemporaryCreditLimit:
          type: string
          description: "Date Temporary Credit Limit. \n\nVisionPLUS Service Data:\
            \ AZXICI-DATE-TEMP-CRLIM-EXP "
          format: date
        stateOfResidenceId:
          maxLength: 3
          minLength: 0
          type: string
          description: "State Of Residence Id. \n\nVisionPLUS Service Data: AZXICI-STATE-OF-RESID "
          example: "001"
        stateOfIssuanceId:
          maxLength: 3
          minLength: 0
          type: string
          description: "State Of Issuance Id. \n\nVisionPLUS Service Data: AZXICI-STATE-OF-ISSUE "
          example: "001"
        owningBranchNumber:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 9 \n\nOwning branch number.\
            \ \n\nVisionPLUS Service Data: AZXICI-OWNING-BRANCH-NBR "
          format: int32
          example: 1
        userCode1:
          maxLength: 2
          minLength: 0
          type: string
          description: "User Code 1. \n\nVisionPLUS Service Data: AZXICI-USER-CODE-1 "
          example: A0
        userCode2:
          maxLength: 2
          minLength: 0
          type: string
          description: "User Code 2. \n\nVisionPLUS Service Data: AZXICI-USER-CODE-2 "
          example: A0
        userCode3:
          maxLength: 2
          minLength: 0
          type: string
          description: "User Code 3. \n\nVisionPLUS Service Data: AZXICI-USER-CODE-3 "
          example: A0
        userCode4:
          maxLength: 2
          minLength: 0
          type: string
          description: "User Code 4. \n\nVisionPLUS Service Data: AZXICI-USER-CODE-4 "
          example: A0
        userCode5:
          maxLength: 2
          minLength: 0
          type: string
          description: "User Code 5. \n\nVisionPLUS Service Data: AZXICI-USER-CODE-5 "
          example: A0
        userCode6:
          maxLength: 2
          minLength: 0
          type: string
          description: "User Code 6. \n\nVisionPLUS Service Data: AZXICI-USER-CODE-6 "
          example: A0
        userCode7:
          maxLength: 2
          minLength: 0
          type: string
          description: "User Code 7. \n\nVisionPLUS Service Data: AZXICI-USER-CODE-7 "
          example: A0
        userCode8:
          maxLength: 2
          minLength: 0
          type: string
          description: "User Code 8. \n\nVisionPLUS Service Data: AZXICI-USER-CODE-8 "
          example: A0
        userCode9:
          maxLength: 2
          minLength: 0
          type: string
          description: "User Code 9. \n\nVisionPLUS Service Data: AZXICI-USER-CODE-9 "
          example: A0
        userCode10:
          maxLength: 2
          minLength: 0
          type: string
          description: "User Code 10. \n\nVisionPLUS Service Data: AZXICI-USER-CODE-10 "
          example: A0
        userCode11:
          maxLength: 2
          minLength: 0
          type: string
          description: "User Code 11. \n\nVisionPLUS Service Data: AZXICI-USER-CODE-11 "
          example: A0
        userCode12:
          maxLength: 2
          minLength: 0
          type: string
          description: "User Code 12. \n\nVisionPLUS Service Data: AZXICI-USER-CODE-12 "
          example: A0
        userCode13:
          maxLength: 2
          minLength: 0
          type: string
          description: "User Code 13. \n\nVisionPLUS Service Data: AZXICI-USER-CODE-13 "
          example: A0
        userCode14:
          maxLength: 2
          minLength: 0
          type: string
          description: "User Code 14. \n\nVisionPLUS Service Data: AZXICI-USER-CODE-14 "
          example: A0
        userDate1:
          type: string
          description: "User date 1. \n\nVisionPLUS Service Data: AZXICI-USER-DATE-1 "
          format: date
        userDate2:
          type: string
          description: "User date 2. \n\nVisionPLUS Service Data: AZXICI-USER-DATE-2 "
          format: date
        userDate3:
          type: string
          description: "User date 3. \n\nVisionPLUS Service Data: AZXICI-USER-DATE-3 "
          format: date
        userDate4:
          type: string
          description: "User date 4. \n\nVisionPLUS Service Data: AZXICI-USER-DATE-4 "
          format: date
        userDate5:
          type: string
          description: "User date 5. \n\nVisionPLUS Service Data: AZXICI-USER-DATE-5 "
          format: date
        userDate6:
          type: string
          description: "User date 6. \n\nVisionPLUS Service Data: AZXICI-USER-DATE-6 "
          format: date
        userDate7:
          type: string
          description: "User date 7. \n\nVisionPLUS Service Data: AZXICI-USER-DATE-7 "
          format: date
        userDate8:
          type: string
          description: "VisionPLUS Service Data. \n\nVisionPLUS Service Data: AZXICI-USER-DATE-8 "
          format: date
        userDate9:
          type: string
          description: "User date 9. \n\nVisionPLUS Service Data: AZXICI-USER-DATE-9 "
          format: date
        userDate10:
          type: string
          description: "User date 10. \n\nVisionPLUS Service Data: AZXICI-USER-DATE-10 "
          format: date
        userDate11:
          type: string
          description: "User date 11. \n\nVisionPLUS Service Data: AZXICI-USER-DATE-11 "
          format: date
        userDate12:
          type: string
          description: "User date 12. \n\nVisionPLUS Service Data: AZXICI-USER-DATE-12 "
          format: date
        userDate13:
          type: string
          description: "User date 13. \n\nVisionPLUS Service Data: AZXICI-USER-DATE-13 "
          format: date
        userDate14:
          type: string
          description: "User date 14. \n\nVisionPLUS Service Data: AZXICI-USER-DATE-14 "
          format: date
        userAmount1:
          type: number
          description: "Max Length = 17 \n\nUser Amount 1. \n\nVisionPLUS Service\
            \ Data: AZXICI-USER-AMT-1 "
          example: 0
        userAmount2:
          type: number
          description: "Max Length = 17 \n\nUser Amount 2. \n\nVisionPLUS Service\
            \ Data: AZXICI-USER-AMT-2 "
          example: 0
        userAmount3:
          type: number
          description: "Max Length = 17 \n\nUser Amount 3. \n\nVisionPLUS Service\
            \ Data: AZXICI-USER-AMT-3 "
          example: 0
        userAmount4:
          type: number
          description: "Max Length = 17 \n\nUser Amount 4. \n\nVisionPLUS Service\
            \ Data: AZXICI-USER-AMT-4 "
          example: 0
        userAmount5:
          type: number
          description: "Max Length = 17 \n\nUser Amount 5. \n\nVisionPLUS Service\
            \ Data: AZXICI-USER-AMT-5 "
          example: 0
        userAmount6:
          type: number
          description: "Max Length = 17 \n\nUser Amount 6. \n\nVisionPLUS Service\
            \ Data: AZXICI-USER-AMT-6 "
          example: 0
        userAmount7:
          type: number
          description: "Max Length = 17 \n\nUser Amount 7. \n\nVisionPLUS Service\
            \ Data: AZXICI-USER-AMT-7 "
          example: 0
        userAmount8:
          type: number
          description: "Max Length = 17 \n\nUser Amount 8. \n\nVisionPLUS Service\
            \ Data: AZXICI-USER-AMT-8 "
          example: 0
        userAmount9:
          type: number
          description: "Max Length = 17 \n\nUser Amount 9. \n\nVisionPLUS Service\
            \ Data: AZXICI-USER-AMT-9 "
          example: 0
        userAmount10:
          type: number
          description: "Max Length = 17 \n\nUser Amount 10. \n\nVisionPLUS Service\
            \ Data: AZXICI-USER-AMT-10 "
          example: 0
        userAmount11:
          type: number
          description: "Max Length = 17 \n\nUser Amount 11. \n\nVisionPLUS Service\
            \ Data: AZXICI-USER-AMT-11 "
          example: 0
        userAmount12:
          type: number
          description: "Max Length = 17 \n\nUser Amount 12. \n\nVisionPLUS Service\
            \ Data: AZXICI-USER-AMT-12 "
          example: 0
        userAmount13:
          type: number
          description: "Max Length = 17 \n\nUser Amount 13. \n\nVisionPLUS Service\
            \ Data: AZXICI-USER-AMT-13 "
          example: 0
        userAmount14:
          type: number
          description: "Max Length = 17 \n\nUser Amount 14. \n\nVisionPLUS Service\
            \ Data: AZXICI-USER-AMT-14 "
          example: 0
        miscellaneousUser1:
          maxLength: 30
          minLength: 0
          type: string
          description: "Miscellaneous user 1. \n\nVisionPLUS Service Data: AZXICI-MISC-USER-1 "
        miscellaneousUser2:
          maxLength: 1
          minLength: 0
          type: string
          description: "Miscellaneous user 2. \n\nVisionPLUS Service Data: AZXICI-MISC-USER-2 "
        miscellaneousUser3:
          maxLength: 11
          minLength: 0
          type: string
          description: "Miscellaneous user 3. \n\nVisionPLUS Service Data: AZXICI-MISC-USER-3 "
        miscellaneousUser4:
          maxLength: 11
          minLength: 0
          type: string
          description: "Miscellaneous user 4. \n\nVisionPLUS Service Data: AZXICI-MISC-USER-4 "
        miscellaneousUser5:
          maxLength: 11
          minLength: 0
          type: string
          description: "Miscellaneous user 5. \n\nVisionPLUS Service Data: AZXICI-MISC-USER-5 "
        miscellaneousUser6:
          maxLength: 11
          minLength: 0
          type: string
          description: "Miscellaneous user 6. \n\nVisionPLUS Service Data: AZXICI-MISC-USER-6 "
        miscellaneousUser7:
          maxLength: 11
          minLength: 0
          type: string
          description: "Miscellaneous user 7. \n\nVisionPLUS Service Data: AZXICI-MISC-USER-7 "
        miscellaneousUser8:
          maxLength: 11
          minLength: 0
          type: string
          description: "Miscellaneous user 8. \n\nVisionPLUS Service Data: AZXICI-MISC-USER-8 "
        miscellaneousUser9:
          maxLength: 2
          minLength: 0
          type: string
          description: "Miscellaneous user 9. \n\nVisionPLUS Service Data: AZXICI-MISC-USER-9 "
        miscellaneousUser10:
          maxLength: 2
          minLength: 0
          type: string
          description: "Miscellaneous user 10. \n\nVisionPLUS Service Data: AZXICI-MISC-USER-10 "
        miscellaneousUser11:
          maxLength: 2
          minLength: 0
          type: string
          description: "Miscellaneous user 11. \n\nVisionPLUS Service Data: AZXICI-MISC-USER-11 "
        miscellaneousUser12:
          maxLength: 2
          minLength: 0
          type: string
          description: "Miscellaneous user 12. \n\nVisionPLUS Service Data: AZXICI-MISC-USER-12 "
        prepaidPlanNumber:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 5 \n\nPrepaid Plan Number.\
            \ \n\nVisionPLUS Service Data: AZXICI-PREPAID-PLAN-NBR "
          format: int32
          example: 12345
        prepaidLoadFrequency:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 1 \n\nPrepaid load frequency.\
            \ \n\nValues: \n* 0 = Load frequency not used; \n * 1 = Load frequency\
            \ daily; \n * 2 = Load frequency CTD; \n * 3 = Load frequency YTD. \n\n\
            VisionPLUS Service Data: AZXICI-PREPAID-LOAD-FREQ "
          format: int32
          example: 0
        prepaidLoadNumber:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 2 \n\nPrepaid load number.\
            \ \n\nVisionPLUS Service Data: AZXICI-PREPAID-LOAD-NBR "
          format: int32
          example: 0
        prepaidLoadAmount:
          type: number
          description: "* Max Length = 17 \n\nPrepaid load amount. \n\nVisionPLUS\
            \ Service Data: AZXICI-PREPAID-LOAD-AMT"
          example: 0
        minimumSingleLoadAmount:
          type: number
          description: "* Max Length = 17 \n\nMinimum Single Amount. \n\nVisionPLUS\
            \ Service Data: AZXICI-MIN-SNGL-LOAD-AMT"
          example: 0
        maximumSingleLoadAmount:
          type: number
          description: "* Max Length = 17 \n\nMaximum Single Amount. \n\nVisionPLUS\
            \ Service Data: AZXICI-MAX-SNGL-LOAD-AMT "
          example: 0
        internationalCashPlan:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 5 \n\nInternational cash\
            \ plan. \n\nVisionPLUS Service Data: AZXICI-INTL-CASH-PLAN "
          format: int32
          example: 0
        internationalRetailPlan:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 5 \n\nInternational retail\
            \ plan. \n\nVisionPLUS Service Data: AZXICI-INTL-RETAIL-PLAN "
          format: int32
          example: 0
        internationalInstallmentPlan:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 5 \n\nInternational installment\
            \ plan. \n\nVisionPLUS Service Data: AZXICI-INTL-INST-PLAN "
          format: int32
          example: 0
        cashPlanInstallmentBilling:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 5 \n\nCash plan for installment\
            \ billing. \n\nVisionPLUS Service Data: AZXICI-IB-ISS-CASH-PLAN "
          format: int32
          example: 0
        retailPlanInstallmentBilling:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 5 \n\nRetail plan for installment\
            \ billing. \n\nVisionPLUS Service Data: AZXICI-IB-ISS-RETAIL-PLAN "
          format: int32
          example: 0
        acquirerRetailPlan:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 5 \n\nAcquirer retail plan\
            \ for installment billing. \n\nVisionPLUS Service Data: AZXICI-IB-ACQ-RETAIL-PLAN "
          format: int32
          example: 0
        authorizationControlTable:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 4 \n\nAuthorization control\
            \ table for international banking. \n\nVisionPLUS Service Data: AZXICI-IB-AUTH-CTRL-TBL "
          format: int32
          example: 0
        retailPlanInstallmentPayments:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 5 \n\nRetail plan for installment\
            \ payment plans. \n\nVisionPLUS Service Data: AZXICI-IR-PMT-RETL-PLAN "
          format: int32
          example: 0
        cashPlanInstallmentPayment:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 5 \n\nCash plan for installment\
            \ payment plans. \n\nVisionPLUS Service Data: AZXICI-IR-PMT-CASH-PLAN "
          format: int32
          example: 0
        qualification:
          maxLength: 1
          minLength: 0
          type: string
          description: "Global qualification parameter. \n\nValues: \nVisionPLUS Service\
            \ Data: AZXICI-GLOBAL-QUAL "
          example: Z
        cardholderAffiliationGroup:
          type: integer
          description: "* Min Length = 1 \n* Max Length = 5 \n\nCardholder’s affiliation\
            \ or affinity group. \n\nVisionPLUS Service Data: AZXICI-AFFL-EMBLM "
          format: int32
          example: 0
    InstantCArdAddL8V7Request.EmbosserData:
      required:
      - digitalCardFlag
      type: object
      properties:
        plasticId:
          maxLength: 10
          minLength: 0
          type: string
          description: "Plastic ID. \n\nVisionPLUS Service Data: AZXICI-PLASTIC-ID "
          example: "12345"
        name1TypeIndicator:
          type: integer
[...]
