openapi: 3.0.1
info:
  description: "This documentation describes the REST APIs provided by the FirstVision\u2122\
    \ Cards Microservice, which provides functionality for the issuing, management\
    \ and processing of credit cards, including bank, co-branded, private label, debit,\
    \ commercial, and prepaid"
  title: "FirstVision\u2122 Account Service - API Documentation"
  version: '1.2'
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /account/qualification:
    put:
      tags:
      - Account
      summary: "Emulates the functionality used to update the account status from\
        \ active to closed. In addition, this service provides the ability to initiate\
        \ charge-off in. \n\nVMX Service: M.CMS.ACCT.CLOSE.CHGOFF, R8V2"
      description: "Emulates the functionality used to update the account status from\
        \ active to closed. In addition, this service provides the ability to initiate\
        \ charge-off in. \n\nVMX Service: M.CMS.ACCT.CLOSE.CHGOFF, R8V2"
      operationId: Account Qualification Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateQualificationRequest"
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateQualificationResponse"
      x-proxy-name: Account Qualification Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/block-code:
    put:
      tags:
      - Account
      summary: "Adds, changes or removes a block code on an Account. \nVMX Service:\
        \ M.CMS.ACCT.BLKCD.UPD, R8V1"
      description: "Adds, changes or removes a block code on an Account. \nVMX Service:\
        \ M.CMS.ACCT.BLKCD.UPD, R8V1"
      operationId: Account Block Code Update
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountForBlockCodeUpdateRequest"
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "404":
          description: Not Found
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "403":
          description: Forbidden
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountForBlockCodeUpdateResponse"
      x-proxy-name: Account Block Code Update
      x-group-name: Account
      x-child-product-name: Accounts
  /account/balance:
    put:
      tags:
      - Account
      summary: "Credits (cash in) or Debits (cash out) transactions from available\
        \ funds or credit open to buy in an Account. \n\nVMX Service: M.ASM.MONETARY.ACT,\
        \ L8V2"
      description: "Credits (cash in) or Debits (cash out) transactions from available\
        \ funds or credit open to buy in an Account. \n\nVMX Service: M.ASM.MONETARY.ACT,\
        \ L8V2"
      operationId: Cash-in & Cash-out Request
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970

      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModifyAccountBalanceRequest"
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "404":
          description: Not Found
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModifyAccountBalanceResponse"
      x-proxy-name: Cash-in & Cash-out Request
      x-group-name: Account
      x-child-product-name: Accounts
  /account/v2/instantCard:
    post:
      tags:
      - Account
      summary: "Instant account and digital or physical card addition. VMX Service:\
        \ M.CMS.INSTANT.CARD.ADD, L8V7"
      description: "Add an account and digital or physical card. \nVMX Service: M.CMS.INSTANT.CARD.ADD,\
        \ L8V7"
      operationId: Instant Card Add
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstantCardAddL8V7Request"
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "404":
          description: Not Found
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstantCardAddL8V7Response"
      x-proxy-name: Instant Card Add
      x-group-name: Account
      x-child-product-name: Accounts
  /account/instant-card:
    post:
      tags:
      - Account
      summary: "Instant Account & Card creation. (VMX Service: M.CMS.INSTANT.CARD.ADD,\
        \ L8V3)"
      description: "Creates an Account and Card records for instant use for eCommerce\
        \ transactions. \nVMX Service: M.CMS.INSTANT.CARD.ADD, L8V3"
      operationId: Instant Account & Card creation
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970

      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstantCardAddRequest"
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "404":
          description: Not Found
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "403":
          description: Forbidden
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstantCardAddResponse"
      x-proxy-name: Instant Account & Card creation
      x-group-name: Account
      x-child-product-name: Accounts
  /account/details-L8VG:
    post:
      tags:
      - Account
      summary: "(VMX Service: M.CMS.ACCOUNT.INQ, L8VG)"
      description: "Find account details provides information on the account’s status.\
        \ If the account has been transferred, the current account number must be\
        \ provided. This service does not automatically switch to the new account.\
        \ This service can be called with an account number or a card number. \nVMX\
        \ Service: M.CMS.ACCOUNT.INQ, L8VG"
      operationId: Account Inquiry
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970

      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountForDetailsL8vgRequest"
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "404":
          description: Not Found
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountForDetailsL8vgResponse"
      x-proxy-name: Account Inquiry
      x-group-name: Account
      x-child-product-name: Accounts
  /account/:
    post:
      tags:
      - Account
      summary: "Add account. VMX Service: M.CMS.ACCOUNT.ADD, R8V8"
      description: "Adds a single Account to an existing Customer record for Single\
        \ Currency Accounts. For Dual Currency Accounts, two records with the same\
        \ Account number will be created in the local and foreign currency Organizations.\
        \ \nVMX Service: M.CMS.ACCOUNT.ADD, R8V8"
      operationId: Account Add
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: 00970

      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountAddDetailsRequest"
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
        "405":
          description: Method Not Allowed
        "404":
          description: Not Found
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountAddDetailsResponse"
      x-proxy-name: Account Add
      x-group-name: Account
      x-child-product-name: Accounts
components:
  schemas:
    UpdateQualificationRequest:
      required:
      - accountNumber
      - changeOffRSN1
      - changeOffRSN2
      - function
      - globalQualificationParameter
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            * Min Length: 1
            * Max Length: 3

            Organization Number.

            VisionPLUS Service Data: ARXCCI-ORG
          format: int32
          example: 807
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Account Number.

            VisionPLUS Service Data: ARXCCI-ACCT-NBR
          example: "1234567890123456789"
        foreignUse:
          type: string
          description: |-
            * Min Length: 1
            * Max Length: 1

            The FOREIGN USE indicator is provided in the input message so the requesting source can specify whether the request applies to the local or foreign account when the account is in a dual currency processing organization.

            The default is to the local account

            Values:
            * 0;
            * 1;

            VisionPLUS Service Data: ARXCCI-FOREIGN-USE
          example: "0"
        function:
          type: string
          description: |-
            * Min Length: 1
            * Max Length: 1

            Function indicator.

            Values:
            * 0 = Account close;
            * 1 = Manual charge-off;
            * 2 = Charge-off with reason code;
            * 3 = Update global qualification.

            VisionPLUS Service Data: ARXCCI-FUNCTION
          example: "3"
        changeOffRSN1:
          type: string
          description: |-
            * Min Length: 1
            * Max Length: 1

            Change off - RSN1.

            VisionPLUS Service Data: ARXCCI-CHGOFF-RSN1
          example: C
        changeOffRSN2:
          type: string
          description: |-
            * Min Length: 1
            * Max Length: 1

            Change off - RSN2.

            VisionPLUS Service Data: ARXCCI-CHGOFF-RSN2
          example: B
        globalQualificationParameter:
          type: string
          description: |-
            * Min Length: 1
            * Max Length: 1

            Global qualification assigned to the account.

            VisionPLUS Service Data: ARXCCI-GLOBAL-QUAL
          example: A
      description: Update qualification Request
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: "#/components/schemas/Error"
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    UpdateQualificationResponse:
      type: object
      properties:
        response:
          type: string
    AccountForBlockCodeUpdateRequest:
      required:
      - accountNumber
      - blockCodeIndicator
      - foreignUse
      - functionCode
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            * Min Length: 1
            * Max Length: 3

            Organization Number.

            VisionPLUS:
            * Service Data: ARXABI1-ORG
            * Screen: ARQB
            * Page: 1
            * Field: ORGANIZATION
          format: int32
          example: 999
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Account number.

            VisionPLUS:
            * Service Data: ARXABI-ACCOUNT
            * Screen: ARQB
            * Page: 1
            * Field: ACCOUNT
          example: "1234567891234567891"
        functionCode:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Function Code.

            Values:
            * B = block account;
            * U = unblock account.

            VisionPLUS:
            * Service Data: ARXABI-FUNC-CODE
            * Screen: ARMB
          example: B
        blockCode:
          type: string
          description: |-
            * Max Length: 1

            Block code to be assigned to the account.

            Values:
            * A-Z = block code;
            * space = unblock account.

            VisionPLUS:
            * Service Data: ARXABI-BLOCK-CD
            * Screen: ARQB
            * Page: 1
            * Field: BLK CODE
          example: Z
        blockCodeIndicator:
          type: integer
          description: |-
            * Min Length: 1
            * Max Length: 1

            Block code indicator.

            Values:
            * 0 = Tests both block code 1 and 2 to determine and use the one that fits best relative to priority settings (not allowed for unblock).
            * 1 = Block code 1;
            * 2 = Block code 2.

            VisionPLUS:
            * Service Data: ARXABI-BLK-CD-IND
            * Screen: ARQB
            * Page: 1
            * Field: BLK CODE
          format: int32
          example: 1
        foreignUse:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            The FOREIGN USE indicator is provided in the input message so the requesting source can specify whether the request applies to the local or foreign account when the account is in a dual currency processing organization.

            Values:
            * 0;
            * 1.

            VisionPLUS Service Data: ARXABI-FOREIGN-USE
          example: "0"
      description: Account Update User Request
    AccountForBlockCodeUpdateResponse:
      type: object
      properties:
        localOrganization:
          type: integer
          description: |-
            * Max Length: 3

            Local organization.

            VisionPLUS:
            * Service Data: ARXABO-ORG
            * Screen: ARQB
            * Page: 1
            * Field: ORGANIZATION
          format: int32
          example: 999
        foreignOrg:
          type: integer
          description: "* Max Length: 3\n\nOrganization associated with the foreign\
            \ account.\n\nVisionPLUS:\n* Service Data: ARXABO-FOREIGN-ORG\n* Screen:\
            \ ARMB/ARAB/ARQB "
          format: int32
          example: 999
        accountNumber:
          type: string
          description: |-
            * Max Length: 19

            Account number associated with the block code update.

            VisionPLUS:
            * Service Data: ARXABO-ACCOUNT
            * Screen: ARQB
            * Page: 1
            * Field: ACCOUNT
          example: "1234567891234567891"
        cardNumber:
          type: string
          description: |-
            * Max Length: 19

            Unique identifier or token associated with the card number or payment instrument.
            For Financial Institutions without PAN Token enabled, the cardNumber will be shown masked (e.g., 0581xxxxxxx5846).

            VisionPLUS:
            * Service Data: ARXABO-CARD-NBR
            * Screen: ARBH/ARDJ/ARDM/ARDA/ARDQ
          example: 000123456ID5IXX1234
        foreignUse:
          type: string
          description: |-
            * Max Length: 1

            The FOREIGN USE indicator is provided in the input message so the requesting source can specify whether the request applies to the local or foreign account when the account is in a dual currency processing organization.

            VisionPLUS:
            * Service Data: ARXABO-FOREIGN-USE
            * Screen: ARBH
          example: "0"
        functionCode:
          type: string
          description: |-
            * Max Length: 1

            Function code.

            VisionPLUS:
            * Service Data: ARXABO-FUNC-CODE
            * Screen: ARMB
          example: B
        blockCode1Local:
          type: string
          description: |-
            * Max Length: 1

            Block code 1 stored on the local Account Base Segment record after the service update is applied.

            VisionPLUS:
            * Service Data: ARXABO-BLOCK-CD-1-LOCAL
            * Screen: ARBM/ARBA/ARBQ
          example: Z
        blockCode2Local:
          type: string
          description: |-
            * Max Length: 1

            Block code 2 stored on the local Account Base Segment record after the service update is applied.

            VisionPLUS:
            * Service Data: ARXABO-BLOCK-CD-2-LOCAL* Screen: ARBM/ARBA/ARBQ
          example: Z
        blockCode1Foreign:
          type: string
          description: |-
            * Max Length: 1

            Block code 1 stored on the foreign Account Base Segment record after the service update is applied.

            VisionPLUS:
            * Service Data: ARXABO-BLOCK-CD-1-FOREIGN* Screen: ARXA
          example: Z
        blockCode2Foreign:
          type: string
          description: |-
            * Max Length: 1

            Block code 2 stored on the foreign Account Base Segment record after the service update is applied.

            VisionPLUS:
            * Service Data: ARXABO-BLOCK-CD-2-FOREIGN
            * Screen: ARXA
          example: Z
    ModifyAccountBalanceRequest:
      required:
      - accountNumber
      - asmOrganizationNumber
      - representativeId
      type: object
      properties:
        asmOrganizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization Number.

            VisionPLUS Service Data: AZXMAI-ASM-ORG
          format: int32
          example: 809
        foreignUse:
          type: string
          description: |-
            Length: 1
            Foreign Use indicator.
            Values:
            0: Local
            1: Foreign
            VisionPLUS Service Data: AZXMAI-FOREIGN-USE-IND
          example: "0"
        representativeId:
          maxLength: 3
          minLength: 1
          type: string
          description: |-
            Length: 3
            ID of Representative.

            VisionPLUS Service Data: AZXMAI-ASM-REP
          example: A00
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19

            Number of Customer's account or card.

            VisionPLUS Service Data: AZXMAI-ACCT-NBR
          example: "4198194069732810121"
        transactionData:
          $ref: "#/components/schemas/ModifyAccountBalanceRequest.TxData"
      description: Modify Account Balance Request
    ModifyAccountBalanceRequest.TxData:
      required:
      - actionCode
      - cardNumber
      - cardSequence
      - description
      - effectiveDate
      - otbUpdateIndicator
      - planNumber
      - planSequence
      - referenceNumber
      - resolutionReferenceNumber
      - storeNumber
      - transactionAmount
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 12
          type: string
          description: |-
            Length: 19
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).

            VisionPLUS Service Data: AZXMAI-CARD-NBR
          example: 000540208ID5IXX3865
        cardSequence:
          type: integer
          description: |-
            Length: 4
            Card Sequence.

            VisionPLUS Service Data: AZXMAI-CARD-SEQ
          format: int32
          example: 1
        actionCode:
          type: string
          description: |-
            Length: 4
            Code that identifies the action to be taken.

            VisionPLUS Service Data: AZXMAI-ACTION-CODE
          example: FUND
        effectiveDate:
          type: string
          description: |-
            Date that specifies when the transaction takes effect in the account.

            VisionPLUS Service Data: AZXMAI-EFF-DATE
          format: date
        transactionAmount:
          type: number
          description: |-
            Length: 17

            Transaction Amount.

            VisionPLUS Service Data: AZXMAI-TXN-AMOUNT
          example: 100
        planNumber:
          type: integer
          description: |-
            Length: 5
            Plan Number.

            VisionPLUS Service Data: AZXMAI-PLAN-NBR
          format: int32
          example: 60000
        planSequence:
          type: integer
          description: |-
            Length: 2
            Plan Sequence.

            VisionPLUS Service Data: AZXMAI PLAN-SEQ
          format: int32
          example: 1
        storeNumber:
          type: integer
          description: |-
            Length: 9
            Store Number.

            VisionPLUS Service Data: AZXMAI-STORE-NBR
          format: int32
          example: 999999998
        authorizationCode:
          maxLength: 6
          minLength: 0
          type: string
          description: |-
            Length: 6

            identifier used to identify the transaction for reconciliation purpose.

            VisionPLUS Service Data: AZXMAI-AUTH-CODE
          example: "123456"
        referenceNumber:
          type: string
          description: |-
            Length: 12
            Reference Number.

            VisionPLUS Service Data: AZXMAI-REF-NUM
          example: "123456789012"
        resolutionReferenceNumber:
          type: string
          description: |-
            Length: 14
            Resolution Reference Number For Payments Received For Open Billing Accounts.

            VisionPLUS Service Data: AZXMAI-R-REF-NBR
          example: "123456789012"
        otbUpdateIndicator:
          type: integer
          description: |-
            Length: 1
            OTB Update Indicator. The values are:
            0 = Update OTB
            1 = Do not update OTB
            VisionPLUS Service Data: AZXMAI-OTB-UPDATE-IND
          format: int32
          example: 0
        description:
          type: string
          description: |-
            Length: 40

            Description of the transaction.

            VisionPLUS Service Data: AZXMAI-DESC
          example: Description
        departmentCode:
          type: string
          description: |-
            Length: 4
            Department Code.
            VisionPLUS Service Data: AZXMAI-DEPT-CODE
          example: PPLD
      description: |-
        Length: 3
        ModifyAccountBalanceRequestTxData
    ModifyAccountBalanceResponse:
      type: object
      properties:
        asmOrganizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization number.

            VisionPLUS Service Data: AZXMAO-ACTION-ASM-ORG
          format: int32
        asmRepresentativeId:
          type: string
          description: |-
            Length: 3
            Representative id.

            VisionPLUS Service Data: AZXMAO-ACTION-REP
        referralRepresentative:
          type: string
          description: |-
            Length: 3
            Referral Representative.

            VisionPLUS Service Data: AZXMAO-REFERRAL-REP
        account:
          $ref: "#/components/schemas/ModifyAccountBalanceResponse.Account"
        foreignUseIndicator:
          type: string
          description: |-
            Length: 1
            Foreign use indicator.

            VisionPLUS Service Data: AZXMAO-FOREIGN-USE-IND
        cardNumber:
          type: string
          description: |-
            Length: 19
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).
            For Financial Institutions without PAN Token enabled, the cardNumber will be shown masked (e.g., 0581xxxxxxx5846).

            VisionPLUS Service Data: AZXMAO-CARD-NBR
          example: 000540208ID5IXX3865
        historyDate:
          type: string
          description: |-
            History date.

            VisionPLUS Service Data: AZXMAO-HIST-DATE
          format: date
        historyTime:
          type: string
          description: |-
            History time.

            VisionPLUS Service Data: AZXMAO-HIST-TIME
        actionCodePri:
          type: integer
          description: |-
            Length: 1
            Action code pri.

            VisionPLUS Service Data: AZXMAO-ACTION-CODE-PRI
          format: int32
        recordType:
          type: string
          description: |-
            Length: 1
            Record type.

            VisionPLUS Service Data: AZXMAO-RECORD-TYPE
        actionDescription:
          type: string
          description: |-
            Length: 20
            Action description.

            VisionPLUS Service Data: AZXMAO-ACTION-DESC
        collectionSequenceNumber:
          type: integer
          description: |-
            Length: 5
            Collection sequence number.

            VisionPLUS Service Data: AZXMAO-CTA-SEQ-NBR
          format: int32
        status:
          type: string
          description: |-
            Length: 1
            Status.

            VisionPLUS Service Data: AZXMAO-STATUS
        referralAsmOrganization:
          type: integer
          description: |-
            Length: 3
            Referral asm organization.

            VisionPLUS Service Data: AZXMAO-REFERRAL-ASM-ORG
          format: int32
        purgeDate:
          type: string
          description: |-
            Purge date.

            VisionPLUS Service Data: AZXMAO-PURGE-DATE
          format: date
        actionDate:
          type: string
          description: |-
            Action date.

            VisionPLUS Service Data: AZXMAO-ACTION-DATE
          format: date
        cardSequence:
          type: integer
          description: |-
            Length: 5
            Card sequence.

            VisionPLUS Service Data: AZXMAO-CARD-SEQ
          format: int32
        retention:
          type: string
          description: |-
            Length: 1
            Retention.

            VisionPLUS Service Data: AZXMAO-RETENTION
        ctaFile:
          type: string
          description: |-
            Length: 1
            CTA file.

            VisionPLUS Service Data: AZXMAO-CTA-FILE
        transactionData:
          $ref: "#/components/schemas/ModifyAccountBalanceResponse.TransactionData"
        letterData:
          $ref: "#/components/schemas/ModifyAccountBalanceResponse.LetterData"
    ModifyAccountBalanceResponse.Account:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization number.

            VisionPLUS Service Data: AZXMAO-ACCT-ORG
          format: int32
        logo:
          type: integer
          description: |-
            Length: 3
            Logo.

            VisionPLUS Service Data: AZXMAO-ACCT-LOGO
          format: int32
        number:
          type: string
          description: |-
            Length: 19
            Number.

            VisionPLUS Service Data: AZXMAO-ACCT-NBR
    ModifyAccountBalanceResponse.LetterData:
      type: object
      properties:
        organization:
          type: string
          description: |-
            Length: 3
            Organization.

            VisionPLUS Service Data: AZXMAO-LTR-ORG
        code:
          type: string
          description: |-
            Length: 3
            Code.

            VisionPLUS Service Data: AZXMAO-LETTER
    ModifyAccountBalanceResponse.TransactionData:
      type: object
      properties:
        currencyData:
          $ref: "#/components/schemas/ModifyAccountBalanceResponse.TransactionData.CurrencyData"
        actionCode:
          type: string
          description: |-
            Length: 5
            Action code.

            VisionPLUS Service Data: AZXMAO-ACTION-CODE
        effectiveDate:
          type: string
          description: |-
            Effective date.

            VisionPLUS Service Data: AZXMAO-EFF-DATE
          format: date
        feeAmount:
          type: number
          description: |-
            Length: 17
            Fee Amount.

            VisionPLUS Service Data: AZXMAO-FEE-AMT
        transactionCode:
          type: string
          description: |-
            Length: 3
            Transaction code.

            VisionPLUS Service Data: AZXMAO-TXN-CODE
        transactionAmount:
          type: number
          description: |-
            Length: 17
            Transaction amount.

            VisionPLUS Service Data: AZXMAO-TRAN-AMT
        transactionDescription:
          type: string
          description: |-
            Length: 40
            Transaction description.

            VisionPLUS Service Data: AZXMAO-TXN-DESC
        creditLimit:
          type: number
          description: |-
            Length: 17
            Credit Limit.

            VisionPLUS Service Data: AZXMAO-CREDIT-LIMIT
        openToBuy:
          type: number
          description: |-
            Length: 17
            Open to buy.

            VisionPLUS Service Data: AZXMAO-OPEN-TO-BUY
        cashAvailable:
          type: number
          description: |-
            Length: 17
            Cash available.

            VisionPLUS Service Data: AZXMAO-CASH-AVAIL-CR
        planNumber:
          type: string
          description: |-
            Length: 5
            Plan number.

            VisionPLUS Service Data: AZXMAO-PLAN-NBR
        currentBalance:
          type: number
          description: |-
            Length: 17
            Current balance.

            VisionPLUS Service Data: AZXMAO-CURR-BAL
        planSequence:
          type: integer
          description: |-
            Length: 2
            Plan sequence.

            VisionPLUS Service Data: AZXMAO-PLAN-SEQ
          format: int32
        storeNumber:
          type: string
          description: |-
            Length: 9
            Store number.

            VisionPLUS Service Data: AZXMAO-STORE-NBR
        departmentCode:
          type: string
          description: |-
            Length: 4
            Department code.

            VisionPLUS Service Data: AZXMAO-DEPT-NBR
        authorizationCode:
          type: string
          description: |-
            Length: 6
            Authorization code.

            VisionPLUS Service Data: AZXMAO-AUTH-NBR
        stockKeepingUnitNumber:
          type: string
          description: |-
            Length: 3
            Stock keeping unit number.

            VisionPLUS Service Data: AZXMAO-SKU-NBR
        salesClerk:
          type: string
          description: |-
            Length: 12
            Sales clerk.

            VisionPLUS Service Data: AZXMAO-CLERK
        ticketNumber:
          type: string
          description: |-
            Length: 15
            Ticket number.

            VisionPLUS Service Data: AZXMAO-TICKET-NBR
        purchaseOrderNumber:
          type: string
          description: |-
            Length: 16
            Purchase order number.

            VisionPLUS Service Data: AZXMAO-PURCHASE-ORDER-NBR
        referenceNumber:
          type: string
          description: |-
            Length: 24
            Reference number.

            VisionPLUS Service Data: AZXMAO-REFERENCE-NBR
        insuranceCode:
          type: string
          description: |-
            Length: 2
            Insurance code.

            VisionPLUS Service Data: AZXMAO-INS
        reversalDate:
          type: string
          description: |-
            Reversal date.

            VisionPLUS Service Data: AZXMAO-REV-DATE
          format: date
        reversalTime:
          type: string
          description: |-
            Length: 7
            Reversal time.

            VisionPLUS Service Data: AZXMAO-REV-TIME
        storeOrganizationNumber:
          type: integer
          description: |-
            Length: 3
            Store organization number.

            VisionPLUS Service Data: AZXMAO-STORE-ORG
          format: int32
        approvalIndicator:
          type: string
          description: |-
            Length: 1
            Approval indicator.

            VisionPLUS Service Data: AZXMAO-APPR-DECL
        monetaryType:
          type: string
          description: |-
            Length: 1
            Monetary type.

            VisionPLUS Service Data: AZXMAO-MON-TYPE
        pointsProgram:
          type: integer
          description: |-
            Length: 1
            Points program.

            VisionPLUS Service Data: AZXMAO-PTS-PGM
          format: int32
        pointsAmount:
          type: number
          description: |-
            Length: 9
            Points amount.

            VisionPLUS Service Data: AZXMAO-PTS-AMT
        referenceNum:
          type: string
          description: |-
            Length: 15
            Reference.

            VisionPLUS Service Data: AZXMAO-R-REF-NBR
        fundCard:
          type: string
          description: |-
            Length: 19
            Fund card.

            VisionPLUS Service Data: AZXMAO-PD-FUND-CARD
        fundCardDeclinedReason:
          type: string
          description: |-
            Length: 30
            Fund card declined reason.

            VisionPLUS Service Data: AZXMAO-PD-DECL-RSN
        currencyNumber:
          type: string
          description: |-
            Length: 3
            Currency number.

            VisionPLUS Service Data: AZXMAO-WALLET
        authorizationNumber:
          type: string
          description: |-
            Length: 6
            Authorization number.

            VisionPLUS Service Data: AZXMAO-AUTH-NUMBER
    ModifyAccountBalanceResponse.TransactionData.CurrencyData:
      type: object
      properties:
        currencyCode:
          type: string
          description: |-
            Length: 3
            Currency code.

            VisionPLUS Service Data: AZXMAO-CURRENCY-CODE
        currencyNumberOfDecimal:
          type: integer
          description: |-
            Length: 1
            Currency number of decimal.

            VisionPLUS Service Data: AZXMAO-CURRENCY-NOD
          format: int32
    InstantCArdAddL8V7Request.AccountData:
      required:
      - billingCycle
      type: object
      properties:
        accountNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: |-
            Account Number.

            VisionPLUS Service Data: AZXICI-BS-ACCT
          example: "1234567891234567890"
        billingAccountIndicator:
          type: integer
          description: |-
            * Max Length: 1

            Billing Account Indicator.

            VisionPLUS Service Data: AZXICI-BILLING-ACCT-IND
          format: int32
          example: 1
        relationshipPrimaryAccountFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Relationship Primary Account Flag.

            VisionPLUS Service Data: AZXICI-REL-PRIM-ACCT-FLAG
          example: "1"
        relationshipNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: |-
            relationship Number.

            VisionPLUS Service Data: AZXICI-REL-NBR
          example: "1234567891234567890"
        shortName:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            * Max Length: 20

            Short name.
            VisionPLUS Service Data: AZXICI-SHORT-NAME
          example: Test account
        creditLimit:
          type: number
          description: |-
            * Max Length: 17

            Credit limit.

            VisionPLUS Service Data: AZXICI-CREDIT-LIMIT
          example: 3000000
        billingCurrency:
          type: integer
          description: |-
            * Max Length: 3

            Billing Currency.

            VisionPLUS Service Data: AZXICI-BILLING-CURR
          format: int32
          example: 998
        relationshipBillingLevel:
          type: integer
          description: |-
            * Max Length: 1

            Relationship Billing Level.

            VisionPLUS Service Data: AZXICI-REL-BILL-LVL
          format: int32
          example: 1
        dualBillingFlag:
          type: integer
          description: |-
            * Max Length: 1

            Dual Billing Flag.

            VisionPLUS Service Data: AZXICI-DUAL-BILLING-FL
          format: int32
          example: 1
        relationshipCardScheme:
          type: integer
          description: |-
            * Max Length: 1

            Relationship Card Scheme.

            VisionPLUS Service Data: AZXICI-REL-CARD-SCHEME
          format: int32
          example: 3
        alternateCustomerNumberFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Alternate customer.

            Values:
            * Space = No action; disregard alternate customer;
            * A = Alternate customer active; send statements to alternate address until expiration date;
            * B = Alternate customer active; send statements to both addresses until expiration date;
            * C = Relationship customer active; send statement to alternate address.

            VisionPLUS Service Data: AZXICI-ALT-CUST-NBR-FLAG
          example: C
        alternateCustomerStartDate:
          type: string
          description: |-
            Effective date of the alternate customer address (in ISO 8601).

            VisionPLUS Service Data: AZXICI-DATE-ALT-CUST-STRT
          format: date
          example: 2023-05-04
        alternateCustomerExpireDate:
          type: string
          description: |-
            Expiration date of the alternate customer address (in ISO 8601).

            VisionPLUS Service Data: AZXICI-DATE-ALT-CUST-EXPR
          format: date
          example: 2023-05-04
        alternateCustomerNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: |-
            Alternate customer number.

            VisionPLUS Service Data: AZXICI-ALT-CUST-NBR
          example: "1234567891234567890"
        dateOpened:
          type: string
          description: |-
            Date opened (in ISO 8601).

            VisionPLUS Service Data: AZXICI-DATE-OPENED
          format: date
          example: 2023-05-04
        billingCycle:
          type: integer
          description: |-
            * Min Length: 1
            * Max Length: 2

            Billing cycle.

            VisionPLUS Service Data: AZXICI-BILLING-CYCLE
          format: int32
          example: 31
        customerSelectedDueDay:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Customer selected due day.

            VisionPLUS Service Data: AZXICI-CUST-SEL-DUE-DAY
          example: "10"
        statementFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Statement flag.

            VisionPLUS Service Data: AZXICI-STATEMENT-FLAG
          example: "1"
        statementFrequency:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Statement frequency.

            VisionPLUS Service Data: AZXICI-STATEMENT-FREQ
          example: "1"
        blockCode1:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Block code 1.

            VisionPLUS Service Data: AZXICI-BLOCK-CODE-1
          example: A
        blockCode2:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Block code .

            VisionPLUS Service Data: AZXICI-BLOCK-CODE-2
          example: A
        processingControlTableControlId:
          maxLength: 19
          minLength: 0
          type: string
          description: |-
            PCT ID.

            VisionPLUS Service Data: AZXICI-PCT-CTL-ID
          example: "123"
        processingControlTableStartDate:
          type: string
          description: |-
            Processing Control Table Start Date (in ISO 8601).

            VisionPLUS Service Data: AZXICI-PCT-START-DATE
          format: date
          example: 2023-05-04
        processingControlTableExpireDate:
          type: string
          description: |-
            Processing Control Table Expire Date (in ISO 8601).

            VisionPLUS Service Data: AZXICI-PCT-EXPIR-DATE
          format: date
          example: 2023-05-04
        processingControlTableLevel:
          type: string
          description: |-
            * Max Length: 1

            Processing Control Table Level.

            VisionPLUS Service Data: AZXICI-PCT-LEVEL
          example: O
        processingControlTableLevelStartDate:
          type: string
          description: |-
            Processing Control Table Level Start Date (in ISO 8601).

            VisionPLUS Service Data: AZXICI-PCT-LEVEL-START-DATE
          format: date
          example: 2023-05-04
        processingControlTableLevelExpireDate:
          type: string
          description: |-
            Processing Control Table Level Expire Date (in ISO 8601).

            VisionPLUS Service Data: AZXICI-PCT-LEVEL-EXPIR-DATE
          format: date
          example: 2023-05-04
        cashPlanNumber:
          type: integer
          description: |-
            * Max Length: 5

            Cash Plan Number.

            VisionPLUS Service Data: AZXICI-CASH-PLAN-NBR
          format: int32
          example: 12345
        retailPlanNumber:
          type: integer
          description: |-
            * Max Length: 5

            Retail Plan Number.

            VisionPLUS Service Data: AZXICI-RETAIL-PLAN-NBR
          format: int32
          example: 12345
        promoPlanNumber:
          type: integer
          description: |-
            * Max Length: 5

            Promo Plan Number.

            VisionPLUS Service Data: AZXICI-PBT-PROMO-PLAN-NBR
          format: int32
          example: 12345
        ddaRoutingNumber:
          type: integer
          description: |-
            * Max Length: 9

            DDA routing number.

            VisionPLUS Service Data: AZXICI-DDA-RTNG-NBR
          format: int32
          example: 0
        ddaAccountNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: |-
            DDA account number.
            VisionPLUS Service Data: AZXICI-DDA-ACCT-NBR
          example: "121535325"
        savingsRoutingNumber:
          type: integer
          description: |-
            * Max Length: 9

            Savings routing number.

            VisionPLUS Service Data: AZXICI-SAV-RTNG-NBR
          format: int32
          example: 123456789
        savingsAccountNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: |-
            Savings account number.

            VisionPLUS Service Data: AZXICI-SAV-ACCT-NBR
          example: "1234567891234567890"
        userAccountNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: |-
            User Account Number.

            VisionPLUS Service Data: AZXICI-USR-ACCT-NBR
          example: "1234567891234567890"
        cardTechnology:
          type: integer
          description: |-
            * Max Length: 1

            Card technology

            Flag that identifies the current card technology used for this account.

            Values:
            * 0 = Magnetic-stripe card(s) are on issue;
            * 1 = Smart card(s) are on issue;
            * 2 = Magnetic-stripe contactless card(s) are on issue;
            * 3 = Smart contactless card(s) are on issue.

            The following edits apply to this field:
            * This field can be 1, 2 or 3 only when the **DEFAULT CARD TECHNOLOGY** field on ARML38 is greater than 0
            In the add mode (ARAB), this field must be 0 or 2 unless **SMART CARD ALLOWED** (ARML38) is 1.
            * In the maintenance mode (ARMB), this field is only open to input if no Embosser records are on file for the account.
            * When the account card numbering schema **(CRD# SCM** on ARMB01) is 2, this field must be 0 or 2.
            * When adding an account, CMS uses the card technology from the account's logo as the default value. You can override this default if necessary.

            VisionPLUS Service Data: AZXICI-CARD-TECHNOLOGY
          format: int32
          example: 0
        authorizationLimitOverrides:
          type: number
          description: |-
            * Max Length: 1

            Values:
            * 0 = Override not allowed;
            * 1 = Override allowed.

            Authorization Limit Overrides.

            VisionPLUS Service Data: AZXICI-AUTH-LIMIT-OVRRD-FLAG
          example: 0
        temporaryCreditLimit:
          type: number
          description: |-
            * Max Length: 17

            Temporary credit limit.

            VisionPLUS Service Data: AZXICI-TEMP-CRLIM
          example: 0
        dateTemporaryCreditLimit:
          type: string
          description: |-
            Date Temporary Credit Limit (in ISO 8601).

            VisionPLUS Service Data: AZXICI-DATE-TEMP-CRLIM-EXP
          format: date
          example: 2023-05-04
        stateOfResidenceId:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            State Of Residence Id.

            VisionPLUS Service Data: AZXICI-STATE-OF-RESID
          example: "001"
        stateOfIssuanceId:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            State Of Issuance Id.

            VisionPLUS Service Data: AZXICI-STATE-OF-ISSUE
          example: "001"
        owningBranchNumber:
          type: integer
          description: |-
            * Max Length: 9

            Owning branch number.

            VisionPLUS Service Data: AZXICI-OWNING-BRANCH-NBR
          format: int32
          example: 1
        userCode1:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            User Code 1.

            VisionPLUS Service Data: AZXICI-USER-CODE-1
          example: A0
        userCode2:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            User Code 2.

            VisionPLUS Service Data: AZXICI-USER-CODE-2
          example: A0
        userCode3:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            User Code 3.

            VisionPLUS Service Data: AZXICI-USER-CODE-3
          example: A0
        userCode4:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            User Code 4.

            VisionPLUS Service Data: AZXICI-USER-CODE-4
          example: A0
        userCode5:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            User Code 5.

            VisionPLUS Service Data: AZXICI-USER-CODE-5
          example: A0
        userCode6:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            User Code 6.

            VisionPLUS Service Data: AZXICI-USER-CODE-6
          example: A0
        userCode7:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            User Code 7.

            VisionPLUS Service Data: AZXICI-USER-CODE-7
          example: A0
        userCode8:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            User Code 8.

            VisionPLUS Service Data: AZXICI-USER-CODE-8
          example: A0
        userCode9:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            User Code 9.

            VisionPLUS Service Data: AZXICI-USER-CODE-9
          example: A0
        userCode10:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            User Code 10.

            VisionPLUS Service Data: AZXICI-USER-CODE-10
          example: A0
        userCode11:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            User Code 11.

            VisionPLUS Service Data: AZXICI-USER-CODE-11
          example: A0
        userCode12:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            User Code 12.

            VisionPLUS Service Data: AZXICI-USER-CODE-12
          example: A0
        userCode13:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            User Code 13.

            VisionPLUS Service Data: AZXICI-USER-CODE-13
          example: A0
        userCode14:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            User Code 14.

            VisionPLUS Service Data: AZXICI-USER-CODE-14
          example: A0
        userDate1:
          type: string
          description: |-
            User date 1 (in ISO 8601).

            VisionPLUS Service Data: AZXICI-USER-DATE-1
          format: date
          example: 2023-05-04
        userDate2:
          type: string
          description: |-
            User date 2 (in ISO 8601).

            VisionPLUS Service Data: AZXICI-USER-DATE-2
          format: date
          example: 2023-05-04
        userDate3:
          type: string
          description: |-
            User date 3 (in ISO 8601).

            VisionPLUS Service Data: AZXICI-USER-DATE-3
          format: date
          example: 2023-05-04
        userDate4:
          type: string
          description: |-
            User date 4 (in ISO 8601).

            VisionPLUS Service Data: AZXICI-USER-DATE-4
          format: date
          example: 2023-05-04
        userDate5:
          type: string
          description: |-
            User date 5 (in ISO 8601).

            VisionPLUS Service Data: AZXICI-USER-DATE-5
          format: date
          example: 2023-05-04
        userDate6:
          type: string
          description: |-
            User date 6 (in ISO 8601).

            VisionPLUS Service Data: AZXICI-USER-DATE-6
          format: date
          example: 2023-05-04
        userDate7:
          type: string
          description: |-
            User date 7 (in ISO 8601).

            VisionPLUS Service Data: AZXICI-USER-DATE-7
          format: date
          example: 2023-05-04
        userDate8:
          type: string
          description: |-
            User date 8 (in ISO 8601).

            VisionPLUS Service Data: AZXICI-USER-DATE-8
          format: date
          example: 2023-05-04
        userDate9:
          type: string
          description: |-
            User date 9 (in ISO 8601).

            VisionPLUS Service Data: AZXICI-USER-DATE-9
          format: date
          example: 2023-05-04
        userDate10:
          type: string
          description: |-
            User date 10 (in ISO 8601).

            VisionPLUS Service Data: AZXICI-USER-DATE-10
          format: date
          example: 2023-05-04
        userDate11:
          type: string
          description: |-
            User date 11 (in ISO 8601).

            VisionPLUS Service Data: AZXICI-USER-DATE-11
          format: date
          example: 2023-05-04
        userDate12:
          type: string
          description: |-
            User date 12 (in ISO 8601).

            VisionPLUS Service Data: AZXICI-USER-DATE-12
          format: date
          example: 2023-05-04
        userDate13:
          type: string
          description: |-
            User date 13 (in ISO 8601).

            VisionPLUS Service Data: AZXICI-USER-DATE-13
          format: date
          example: 2023-05-04
        userDate14:
          type: string
          description: |-
            User date 14 (in ISO 8601).

            VisionPLUS Service Data: AZXICI-USER-DATE-14
          format: date
          example: 2023-05-04
        userAmount1:
          type: number
          description: |-
            * Max Length: 17

            User Amount 1.

            VisionPLUS Service Data: AZXICI-USER-AMT-1
          example: 0
        userAmount2:
          type: number
          description: |-
            * Max Length: 17

            User Amount 2.

            VisionPLUS Service Data: AZXICI-USER-AMT-2
          example: 0
        userAmount3:
          type: number
          description: |-
            * Max Length: 17

            User Amount 3.

            VisionPLUS Service Data: AZXICI-USER-AMT-3
          example: 0
        userAmount4:
          type: number
          description: |-
            * Max Length: 17

            User Amount 4.

            VisionPLUS Service Data: AZXICI-USER-AMT-4
          example: 0
        userAmount5:
          type: number
          description: |-
            * Max Length: 17

            User Amount 5.

            VisionPLUS Service Data: AZXICI-USER-AMT-5
          example: 0
        userAmount6:
          type: number
          description: |-
            * Max Length: 17

            User Amount 6.

            VisionPLUS Service Data: AZXICI-USER-AMT-6
          example: 0
        userAmount7:
          type: number
          description: |-
            * Max Length: 17

            User Amount 7.

            VisionPLUS Service Data: AZXICI-USER-AMT-7
          example: 0
        userAmount8:
          type: number
          description: |-
            * Max Length: 17

            User Amount 8.

            VisionPLUS Service Data: AZXICI-USER-AMT-8
          example: 0
        userAmount9:
          type: number
          description: |-
            * Max Length: 17

            User Amount 9.

            VisionPLUS Service Data: AZXICI-USER-AMT-9
          example: 0
        userAmount10:
          type: number
          description: |-
            * Max Length: 17

            User Amount 10.

            VisionPLUS Service Data: AZXICI-USER-AMT-10
          example: 0
        userAmount11:
          type: number
          description: |-
            * Max Length: 17

            User Amount 11.

            VisionPLUS Service Data: AZXICI-USER-AMT-11
          example: 0
        userAmount12:
          type: number
          description: |-
            * Max Length: 17

            User Amount 12.

            VisionPLUS Service Data: AZXICI-USER-AMT-12
          example: 0
        userAmount13:
          type: number
          description: |-
            * Max Length: 17

            User Amount 13.

            VisionPLUS Service Data: AZXICI-USER-AMT-13
          example: 0
        userAmount14:
          type: number
          description: |-
            * Max Length: 17

            User Amount 14.

            VisionPLUS Service Data: AZXICI-USER-AMT-14
          example: 0
        miscellaneousUser1:
          maxLength: 30
          minLength: 0
          type: string
          description: "Miscellaneous user 1.\n\nVisionPLUS Service Data: AZXICI-MISC-USER-1 "
        miscellaneousUser2:
          maxLength: 1
          minLength: 0
          type: string
          description: "Miscellaneous user 2.\n\nVisionPLUS Service Data: AZXICI-MISC-USER-2 "
        miscellaneousUser3:
          maxLength: 11
          minLength: 0
          type: string
          description: "Miscellaneous user 3.\n\nVisionPLUS Service Data: AZXICI-MISC-USER-3 "
        miscellaneousUser4:
          maxLength: 11
          minLength: 0
          type: string
          description: "Miscellaneous user 4.\n\nVisionPLUS Service Data: AZXICI-MISC-USER-4 "
        miscellaneousUser5:
          maxLength: 11
          minLength: 0
          type: string
          description: "Miscellaneous user 5.\n\nVisionPLUS Service Data: AZXICI-MISC-USER-5 "
        miscellaneousUser6:
          maxLength: 11
          minLength: 0
          type: string
          description: "Miscellaneous user 6.\n\nVisionPLUS Service Data: AZXICI-MISC-USER-6 "
        miscellaneousUser7:
          maxLength: 11
          minLength: 0
          type: string
          description: "Miscellaneous user 7.\n\nVisionPLUS Service Data: AZXICI-MISC-USER-7 "
        miscellaneousUser8:
          maxLength: 11
          minLength: 0
          type: string
          description: "Miscellaneous user 8.\n\nVisionPLUS Service Data: AZXICI-MISC-USER-8 "
        miscellaneousUser9:
          maxLength: 2
          minLength: 0
          type: string
          description: "Miscellaneous user 9.\n\nVisionPLUS Service Data: AZXICI-MISC-USER-9 "
        miscellaneousUser10:
          maxLength: 2
          minLength: 0
          type: string
          description: "Miscellaneous user 10.\n\nVisionPLUS Service Data: AZXICI-MISC-USER-10 "
        miscellaneousUser11:
          maxLength: 2
          minLength: 0
          type: string
          description: "Miscellaneous user 11.\n\nVisionPLUS Service Data: AZXICI-MISC-USER-11 "
        miscellaneousUser12:
          maxLength: 2
          minLength: 0
          type: string
          description: "Miscellaneous user 12.\n\nVisionPLUS Service Data: AZXICI-MISC-USER-12 "
        prepaidPlanNumber:
          type: integer
          description: |-
            * Max Length: 5

            Prepaid Plan Number.

            VisionPLUS Service Data: AZXICI-PREPAID-PLAN-NBR
          format: int32
          example: 12345
        prepaidLoadFrequency:
          type: integer
          description: |-
            * Max Length: 1

            Prepaid load frequency.

            Values:
            * 0 = Load frequency not used;
            * 1 = Load frequency daily;
            * 2 = Load frequency CTD;
            * 3 = Load frequency YTD.

            VisionPLUS Service Data: AZXICI-PREPAID-LOAD-FREQ
          format: int32
          example: 0
        prepaidLoadNumber:
          type: integer
          description: |-
            * Max Length: 2

            Prepaid load number.

            VisionPLUS Service Data: AZXICI-PREPAID-LOAD-NBR
          format: int32
          example: 0
        prepaidLoadAmount:
          type: number
          description: |-
            * Max Length: 17

            Prepaid load amount.

            VisionPLUS Service Data: AZXICI-PREPAID-LOAD-AMT
          example: 0
        minimumSingleLoadAmount:
          type: number
          description: |-
            * Max Length: 17

            Minimum Single Amount.

            VisionPLUS Service Data: AZXICI-MIN-SNGL-LOAD-AMT
          example: 0
        maximumSingleLoadAmount:
          type: number
          description: |-
            * Max Length: 17

            Maximum Single Amount.

            VisionPLUS Service Data: AZXICI-MAX-SNGL-LOAD-AMT
          example: 0
        internationalCashPlan:
          type: integer
          description: |-
            * Max Length: 5

            International cash plan.

            VisionPLUS Service Data: AZXICI-INTL-CASH-PLAN
          format: int32
          example: 0
        internationalRetailPlan:
          type: integer
          description: |-
            * Max Length: 5

            International retail plan.

            VisionPLUS Service Data: AZXICI-INTL-RETAIL-PLAN
          format: int32
          example: 0
        internationalInstallmentPlan:
          type: integer
          description: |-
            * Max Length: 5

            International installment plan.

            VisionPLUS Service Data: AZXICI-INTL-INST-PLAN
          format: int32
          example: 0
        cashPlanInstallmentBilling:
          type: integer
          description: |-
            * Max Length: 5

            Cash plan for installment billing.

            VisionPLUS Service Data: AZXICI-IB-ISS-CASH-PLAN
          format: int32
          example: 0
        retailPlanInstallmentBilling:
          type: integer
          description: |-
            * Max Length: 5

            Retail plan for installment billing.

            VisionPLUS Service Data: AZXICI-IB-ISS-RETAIL-PLAN
          format: int32
          example: 0
        acquirerRetailPlan:
          type: integer
          description: |-
            * Max Length: 5

            Acquirer retail plan for installment billing.

            VisionPLUS Service Data: AZXICI-IB-ACQ-RETAIL-PLAN
          format: int32
          example: 0
        authorizationControlTable:
          type: integer
          description: |-
            * Min Length: 1
            * Max Length: 4

            Authorization control table for international banking.

            VisionPLUS Service Data: AZXICI-IB-AUTH-CTRL-TBL
          format: int32
          example: 0
        retailPlanInstallmentPayments:
          type: integer
          description: |-
            * Max Length: 5

            Retail plan for installment payment plans.

            VisionPLUS Service Data: AZXICI-IR-PMT-RETL-PLAN
          format: int32
          example: 0
        cashPlanInstallmentPayment:
          type: integer
          description: |-
            * Max Length: 5

            Cash plan for installment payment plans.

            VisionPLUS Service Data: AZXICI-IR-PMT-CASH-PLAN
          format: int32
          example: 0
        qualification:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Global qualification parameter.

            Values:
            VisionPLUS Service Data: AZXICI-GLOBAL-QUAL
          example: Z
        cardholderAffiliationGroup:
          type: integer
          description: |-
            * Max Length: 5

            Cardholder’s affiliation or affinity group.

            VisionPLUS Service Data: AZXICI-AFFL-EMBLM
          format: int32
          example: 0
    InstantCArdAddL8V7Request.EmbosserData:
      required:
      - digitalCardFlag
      type: object
      properties:
        plasticId:
          maxLength: 10
          minLength: 0
          type: string
          description: |-
            Plastic ID.

            VisionPLUS Service Data: AZXICI-PLASTIC-ID
          example: "12345"
        name1TypeIndicator:
          type: integer
          description: |-
            * Max Length: 1

            Name 1 Type Indicator.

            VisionPLUS Service Data: AZXICI-NAME1-TYPE-IND
          format: int32
          example: 0
        name2TypeIndicator:
          type: integer
          description: |-
            * Max Length: 1

            Name 2 Type Indicator.

            VisionPLUS Service Data: AZXICI-NAME2-TYPE-IND
          format: int32
          example: 0
        embossedName1:
          maxLength: 26
          minLength: 0
          type: string
          description: |-
            Embossed Name.

            VisionPLUS Service Data: AZXICI-EMBOSSED-NAME-1
          example: User Name
        embossedName2:
          maxLength: 26
          minLength: 0
          type: string
          description: |-
            Embossed Name 2.

            VisionPLUS Service Data: AZXICI-EMBOSSED-NAME-2
          example: Developer Studio
        expirationDate:
          type: string
          description: |-
            Card expiry date (in ISO 8601).

            VisionPLUS Service Data: AZXICI-DATE-EXPIRE
          format: date
          example: 2023-05-24
        customerNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: |-
            Customer Number.

            VisionPLUS Service Data: AZXICI-CUSTOMER-NBR
          example: "0123456789123456789"
        name1:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Name 1.

            VisionPLUS Service Data: AZXICI-EMBR-NAME-1
          example: User Name
        name2:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Name 2.

            VisionPLUS Service Data: AZXICI-EMBR-NAME-2
          example: Developer Studio
        posServiceCode:
          type: integer
          description: |-
            * Max Length: 3

            PO service code.

            VisionPLUS Service Data: AZXICI-POS-SERVICE-CODE
          format: int32
          example: 999
        cardholderFlag:
          type: string
          description: |-
            * Max Length: 1

            Cardholder Flag.

            VisionPLUS Service Data:
          example: "0"
        addressLine1:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Address Line 1.

            VisionPLUS Service Data: AZXICI-ADDR-LINE-1
          example: Brookfield
        addressLine2:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Address Line 2.

            VisionPLUS Service Data: AZXICI-ADDR-LINE-2
          example: 255 Fiserv Dr
        city:
          maxLength: 30
          minLength: 0
          type: string
          description: |-
            City.

            VisionPLUS Service Data: AZXICI-CITY
          example: Wisconsin
        stateOrProvince:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            State/Province.

            VisionPLUS Service Data: AZXICI-ST-PR
          example: WI
        postalCode:
          maxLength: 10
          minLength: 0
          type: string
          description: |-
            Postal Code.

            VisionPLUS Service Data: AZXICI-PSTL-CD
          example: "53045"
        languageCode:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            Language Code.

            VisionPLUS Service Data: AZXICI-LANG-CODE
          example: ENG
        atmCashNumber:
          type: integer
          description: |-
            * Max Length: 9

            ATM.

            VisionPLUS Service Data: AZXICI-AUTH-ATM-CASH-NBR
          format: int32
          example: 0
        atmCashAmount:
          type: number
          description: |-
            * Max Length: 17

            ATM(Automated Teller Machine) Cash Number.

            VisionPLUS Service Data: AZXICI-AUTH-ATM-CASH-AMT
          example: 0
        atmCashSingleTransactionLimit:
          type: number
          description: |-
            * Max Length: 17

            ATM.

            VisionPLUS Service Data: AZXICI-AUTH-ATM-CASH-SNG-TXN
          example: 0
        overTheCounterCashNumber:
          type: integer
          description: |-
            * Max Length: 9

            Over The Counter Cash Number.

            VisionPLUS Service Data: AZXICI-AUTH-OTC-CASH-NBR
          format: int32
          example: 0
        overTheCounterCashAmount:
          type: number
          description: |-
            * Max Length: 17

            Over The Counter Cash Number.

            VisionPLUS Service Data: AZXICI-AUTH-OTC-CASH-AMT
          example: 0
        overTheCounterCashSingleTransactionLimit:
          type: number
          description: |-
            * Max Length: 17

            Over The Counter Transaction.

            VisionPLUS Service Data: AZXICI-AUTH-OTC-CASH-SNG-TXN
          example: 0
        retailPurchaseNumber:
          type: integer
          description: |-
            * Max Length: 9

            Retail Amount.

            VisionPLUS Service Data: AZXICI-AUTH-RTL-NBR
          format: int32
          example: 0
        retailPurchaseAmt:
          type: number
          description: |-
            * Max Length: 17

            Retail Number.

            VisionPLUS Service Data: AZXICI-AUTH-RTL-AMT
          example: 0
        retailPurchaseSingleTransactionLimit:
          type: number
          description: |-
            * Max Length: 17

            Retail Transaction Limit.

            VisionPLUS Service Data: AZXICI-AUTH-RTL-SNGL-TXN
          example: 0
        internetPurchaseAmount:
          type: number
          description: |-
            * Max Length: 17

            Internet Purchase Amount.

            VisionPLUS Service Data: AZXICI-AUTH-INTRNT-AMT
          example: 0
        internetPurchaseNumber:
          type: number
          description: |-
            * Max Length: 9

            Internet Purchase Number.

            VisionPLUS Service Data: AZXICI-AUTH-INTRNT-NBR
          example: 0
        internetPurchaseSingleTransactionLimit:
          type: number
          description: |-
            * Max Length: 13
            Internet Purchase Single Transaction Limit.
            VisionPLUS Service Data: AZXICI-AUTH-INTRNT-SNGL-TXN
          example: 0
        user1:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            User-defined 1.

            VisionPLUS Service Data: AZXICI-USER-1
          example: "1"
        user2:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            User-defined 2.

            VisionPLUS Service Data: AZXICI-USER-2
          example: "2"
        user3:
          maxLength: 19
          minLength: 0
          type: string
          description: |-
            User-defined 3.

            VisionPLUS Service Data: AZXICI-USER-3
          example: "3"
        user4:
          type: integer
          description: |-
            * Max Length: 4

            User-defined 4.

            VisionPLUS Service Data: AZXICI-USER-4
          format: int32
          example: 4
        user5:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            User-defined 5.

            VisionPLUS Service Data: AZXICI-USER-5
          example: "5"
        user6:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            User-defined 6.

            VisionPLUS Service Data: AZXICI-USER-6
          example: "6"
        user7:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            User-defined 7.

            VisionPLUS Service Data: AZXICI-USER-7
          example: "7"
        user8:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            User-defined 8.

            VisionPLUS Service Data: AZXICI-USER-8
          example: "8"
        userDate1:
          type: string
          description: "User-defined Date 1 (in ISO 8601).\n\nVisionPLUS Service Data:\
            \ AZXICI-USER-DATE-1 "
          format: date
          example: 2023-05-04
        userDate2:
          type: string
          description: |-
            User-defined Date 2 (in ISO 8601).

            VisionPLUS Service Data: AZXICI-USER-DATE-2
          format: date
          example: 2023-05-04
        branchNumber:
          type: integer
          description: |-
            * Max Length: 9

            Branch.

            VisionPLUS Service Data: AZXICI-ADMIN-BRANCH
          format: int32
          example: 123
        firstIssueBranch:
          type: integer
          description: |-
            * Max Length: 9

            First Issue Branch.

            VisionPLUS Service Data: AZXICI-FIRST-ISS-BRANCH
          format: int32
          example: 0
        deliveryOption:
          type: integer
          description: |-
            * Max Length: 1

            Delivery option.

            Values:
            * 0 = Regular mail;
            * 1 = First class mail;
            * 2 = Registered mail;
            * 3 = Internal delivery mail;
            * 4 = User-defined.

            VisionPLUS Service Data: AZXICI-USER-DATE-1
          format: int32
          example: 1
        reissueDeliveryOption:
          type: integer
          description: |-
            * Max Length: 1

            Reissue delivery option.

            Values:
            * 0 = Regular mail;
            * 1 = First class mail;
            * 2 = Registered mail;
            * 3 = Internal delivery mail;
            * 4 = User-defined.

            VisionPLUS Service Data: AZXICI-ISSUE-DELIV-OPTION
          format: int32
          example: 0
        authorizationCriteriaTableNumber:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            Authorization Criteria Table Number.

            VisionPLUS Service Data: AZXICI-AUTH-CRITERIA-TBL
          example: "0"
        programId:
          type: integer
          description: |-
            * Max Length: 5

            Program ID.

            VisionPLUS Service Data: AZXICI-PROGRAM-ID
          format: int32
          example: 0
        cardholderAffiliationGroupId:
          type: integer
          description: |-
            * Max Length: 5

            Identification Of The Cardholder’S Affiliation Or Affinity Group.

            VisionPLUS Service Data: AZXICI-EMBLM-ID
          format: int32
          example: 12345
        cardActionReasonCode:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Card Action Reason Code.

            VisionPLUS Service Data: AZXICI-CARD-ACTION-REASON
          example: "1"
        icTotalNumberTransactions:
          type: integer
          description: |-
            * Max Length: 6

            Global spending limit number.

            VisionPLUS Service Data: AZXICI-IC-TOT-NUM-TXNS
          format: int32
          example: 123456
        icAmountLimitSingleTransaction:
          type: number
          description: |-
            * Max Length: 13

             Global spending limit for a single transaction.

            VisionPLUS Service Data: AZXICI-IC-AMT-LMT-SNGL-TXN
          example: 0
        digitalCardFlag:
          type: integer
          description: |-
            * Min Length: 1
            * Max Length: 1

            Code that indicates whether to add a new digital card.

            Values:
            * 0 = Do not add new digital card;
            * 1 = Add new digital card.

            VisionPLUS Service Data: AZXICI-DIG-CARD-IND
          format: int32
          example: 1
    InstantCardAddL8V7Request:
      required:
      - accountCreateFlag
      - cardActionFlag
      - customerNumber
      - firstPurchaseFlag
      - logo
      - organizationNumber
      - sameDayProcessingType
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            * Min Length: 1
            * Max Length: 3

            Organization Number.

            VisionPLUS Service Data: AZXICI-ORG
          format: int32
          example: 998
        logo:
          type: integer
          description: |-
            * Min Length: 1
            * Max Length: 3

            Logo number.

            VisionPLUS Service Data: AZXICI-LOGO
          format: int32
          example: 998
        customerNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Customer Number.

            VisionPLUS Service Data: AZXICI-CUST-NBR
          example: "1234567891234567891"
        firstPurchaseFlag:
          maxLength: 1
          minLength: 1
          type: string
          description: |-
            First Purchase Flag.

            VisionPLUS Service Data: AZXICI-FIRST-PURCH-SW
          example: "Y"
          enum:
          - "Y,N"
        accountCreateFlag:
          maxLength: 1
          minLength: 1
          type: string
          description: |-
            Account Create Flag.

            VisionPLUS Service Data: AZXICI-ACCT-CREATE
          example: "Y"
          enum:
          - "Y,N"
        sameDayProcessingType:
          type: integer
          description: |-
            * Min Length: 1
            * Max Length: 1

            Same Day Processing Type.

            VisionPLUS Service Data: AZXICI-SDP-PROCESS-TYPE
          format: int32
          example: 1
          enum:
          - null
        cardActionFlag:
          type: integer
          description: |-
            * Min Length: 1
            * Max Length: 3

            Card action flag.

            VisionPLUS Service Data: AZXICI-CARD-ACTION
          format: int32
          example: 1
          enum:
          - null
        accountData:
          $ref: "#/components/schemas/InstantCArdAddL8V7Request.AccountData"
        embosserData:
          $ref: "#/components/schemas/InstantCArdAddL8V7Request.EmbosserData"
      description: Instant Card Add Request
    InstantCardAddL8V7Response:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: "Max Length: 3\n\nOrganization.\n\nVisionPLUS Service Data:\
            \ AZXICO-ORG "
          format: int32
          example: 998
        logo:
          type: integer
          description: |-
            Max Length: 3

            Logo.

            VisionPLUS Service Data: AZXICO-LOGO
          format: int32
          example: 998
        customerNumber:
          type: string
          description: "Max Length: 19\n\nCustomer number.\n\nVisionPLUS Service Data:\
            \ AZXICO-CUST-NBR "
          example: "0123456789123456789"
        accountNumber:
          type: string
          description: "Max Length: 19\n\nAccount number.\n\nVisionPLUS Service Data:\
            \ AZXICO-ACCT-NBR "
          example: "0123456789123456789"
        cardNumber:
          type: string
          description: "Max Length: 19\n\nUnique identifier or token associated with\
            \ the card number or payment instrument (FirstVision PAN Token).\nFor\
            \ Financial Institutions without PAN Token enabled, the cardNumber will\
            \ be shown masked (e.g., 0581xxxxxxx5846).\n\nVisionPLUS Service Data:\
            \ AZXICO-CARD-NBR "
          example: 000123456ID5IXX1234
        cardSequenceNumber:
          type: integer
          description: "Max Length: 4\n\nCard sequence number.\n\nVisionPLUS Service\
            \ Data: AZXICO-CARD-SEQ-NBR "
          format: int32
          example: 1
        creditLimit:
          type: number
          description: "Max Length: 17\n\nCredit limit.\n\nVisionPLUS Service Data:\
            \ AZXICO-CRLIM "
          example: 50000
        cardExpiryDate:
          type: string
          description: "Expiry date (in ISO 8601).\n\nVisionPLUS Service Data: AZXICO-CARD-DATE-EXPIRE "
          format: date
          example: 2022-04-12
    InstantCardAddRequest:
      required:
      - accountCreateFlag
      - customerNumber
      - embosserName
      - logo
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization Number.

            VisionPLUS Service Data: AZXICI-ORG
          format: int32
          example: 807
        logo:
          type: integer
          description: |-
            Length: 3

            Logo number.

            VisionPLUS Service Data: AZXICI-LOGO
          format: int32
          example: 400
        customerNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19

            Customer Number.

            VisionPLUS Service Data: AZXICI-CUST-NBR
          example: "4513074002573466583"
        embosserName:
          maxLength: 2147483647
          minLength: 1
          type: string
          description: |-
            Length: 20

            Embosser Name.

            VisionPLUS Service Data: AZXICI-EMBOSSER-NAME
          example: Example embosser name
        accountCreateFlag:
          maxLength: 1
          minLength: 1
          type: string
          description: |-
            Length: 1

            This field indicates whether new account needs to be created or not. If new account needs to created then value needs to populated in Account data. If only card needs to be created then existing account number should be passed.

            VisionPLUS Service Data: AZXICI-ACCT-CREATE
          example: "Y"
          enum:
          - "Y,N"
        accountData:
          $ref: "#/components/schemas/InstantCardAddRequest.AccountData"
      description: InstantCardAdd add Request
    InstantCardAddRequest.AccountData:
      required:
      - billingCycle
      - digitalCardFlag
      - owningBranchNumber
      type: object
      properties:
        creditLimit:
          type: number
          description: |-
            Length: 17

            Credit limit.

            VisionPLUS Service Data: AZXICI-CREDIT-LIMIT
          example: 3000000
        billingCurrency:
          type: integer
          description: |-
            Length: 3

            Billing currency.

            VisionPLUS Service Data: AZXICI-BILLING-CURR
          format: int32
          example: 840
        accountNumber:
          type: string
          description: |-
            Length: 19

            Account number.

            Should be passed if accountCreateFlag is 'N'.

            VisionPLUS Service Data: AZXICI-BS-ACCT
          example: "123456666666"
        billingAccountIndicator:
          type: integer
          description: |-
            Length: 1

            Billing account indicator.

            VisionPLUS Service Data: AZXICI-BILLING-ACCT-IND
          format: int32
          example: 1
        relationshipPrimaryAccountFlag:
          type: string
          description: |-
            Length: 1

            Relationship Number.

            The values are:

            Blank = Not primary account

            P = Primary account.

            VisionPLUS Service Data: AZXICI-REL-PRIM-ACCT-FLAG
          example: P
        relationshipNumber:
          type: string
          description: |-
            Length: 19

            Relationship Number.

            VisionPLUS Service Data: AZXICI-REL-NBR
          example: "4567890123000000000"
        relationshipBillingLevel:
          type: integer
          description: |-
            Length: 1

            Code that indicates whether billing occurs for the account at the relationship level or subordinate account level.

            The values are:

            0 = Relationship level

            1 = Subordinate account level. (Default)

            VisionPLUS Service Data: AZXICI-REL-BILL-LVL
          format: int32
          example: 0
        dualBillingFlag:
          type: integer
          description: |-
            Length: 1

            Code that indicates whether CMS uses the foreign or local currency to request the minimum payment.

            0 = Dual billing is not active. Bill the foreign account in the foreign currency. Two statements are generated, one in the foreign currency and one in the local currency.

            1 = Dual billing is active. Bill the foreign account in the local currency. Two statements are generated in the local currency.

            VisionPLUS Service Data: AZXICI-DUAL-BILLING-FL
          format: int32
          example: 0
        relationshipCardScheme:
          type: integer
          description: |-
            Length: 1

            Relationship card scheme.

            VisionPLUS Service Data: AZXICI-REL-CARD-SCHEME
          format: int32
          example: 0
        shortName:
          type: string
          description: |-
            Length: 20

            Short name of the Account Holder.

            VisionPLUS Service Data: AZXICI-SHORT-NAME
          example: Test account
        statementFrequency:
          type: integer
          description: |-
            Length: 2

            Statement frequency.

            VisionPLUS Service Data: AZXICI-STATEMENT-FREQ
          format: int32
          example: 0
        statementFlag:
          type: string
          description: |-
            Length: 1

            Statement flag.
            VisionPLUS Service Data: AZXICI-STATEMENT-FLAG
          example: "1"
        cashPlanNumber:
          type: integer
          description: |-
            Length: 5

            Cash Plan Number.

            VisionPLUS Service Data: AZXICI-CASH-PLAN-NBR
          format: int32
          example: 0
        retailPlanNumber:
          type: integer
          description: |-
            Length: 5

            Retail Plan Number.

            VisionPLUS Service Data: AZXICI-RETAIL-PLAN-NBR
          format: int32
          example: 0
        promoPlanNumber:
          type: integer
          description: |-
            Length: 5

            Promotional Plan Number.

            VisionPLUS Service Data: AZXICI-PROMO-PLAN-NBR
          format: int32
          example: 0
        stateOfResidenceId:
          type: string
          description: |-
            Length: 3

            State of residence ID.

            VisionPLUS Service Data: AZXICI-STATE-OF-RESID
          example: RSA
        stateOfIssuanceId:
          type: string
          description: |-
            Length: 3

            State of issuance ID.

            VisionPLUS Service Data: AZXICI-STATE-OF-ISSUE
          example: RSA
        processingControlTableControlId:
          type: string
          description: |-
            Length: 3
            PCT ID.
            VisionPLUS Service Data: AZXICI-PCT-CTL-ID
          example: "123"
        processingControlTableStartDate:
          type: string
          description: |-
            Processing control Start Date.

            VisionPLUS Service Data: AZXICI-PCT-START-DATE
          format: date
        processingControlTableExpireDate:
          type: string
          description: |-
            Processing control expiration Date.

            VisionPLUS Service Data: AZXICI-PCT-EXPIRE-DATE
          format: date
        processingControlTableLevel:
          type: string
          description: |-
            Length: 1

            Processing control.

            The values are:

            Space = PCT level override is not used

            S = System-level

            O = Organization-level

            L = Logo-level

            VisionPLUS Service Data: AZXICI-PCT-LEVEL
          example: O
        processingControlTableLevelStartDate:
          type: string
          description: |-
            Processing control Level Start Date.

            VisionPLUS Service Data: AZXICI-PCT-LEVEL-START-DATE
          format: date
        processingControlTableLevelExpireDate:
          type: string
          description: |-
            Processing control Level expiration Date.

            VisionPLUS Service Data: AZXICI-PCT-LEVEL-EXPIR-DATE
          format: date
        ddaAccountNumber:
          type: string
          description: |-
            Length: 19

            dda Account Number
            VisionPLUS Service Data: AZXICI-DDA-ACCT-NBR
          example: "34234234324"
        savAccountNumber:
          type: string
          description: |-
            Length: 19

            sav Account Number
            VisionPLUS Service Data: AZXICI-SAV-ACCT-NBR
          example: "84342430"
        cardTechnology:
          type: integer
          description: "Length: 1 \n\nCard technology \n\nFlag that identifies the\
            \ current card technology used for this account.\n\nThe values are:\n\
            * 0 = Magnetic-stripe card(s) are on issue\n* 1 = Smart card(s) are on\
            \ issue\n* 2 = Magnetic-stripe contactless card(s) are on issue\n* 3 =\
            \ Smart contactless card(s) are on issue \n\nThe following edits apply\
            \ to this field:\n* This field can be 1, 2 or 3 only when the **DEFAULT\
            \ CARD TECHNOLOGY** field on ARML38 is greater than 0 \nIn the add mode\
            \ (ARAB), this field must be 0 or 2 unless **SMART CARD ALLOWED** (ARML38)\
            \ is 1. \n* In the maintenance mode (ARMB), this field is only open to\
            \ input if no Embosser records are on file for the account. \n* When the\
            \ account card numbering schema **(CRD# SCM** on ARMB01) is 2, this field\
            \ must be 0 or 2. \n* When adding an account, CMS uses the card technology\
            \ from the account's logo as the default value. You can override this\
            \ default if necessary. \n\nVisionPLUS Service Data: AZXICI-CARD-TECHNOLOGY"
          format: int32
          example: 0
          enum:
          - 0
          - 1
          - 2
          - 3
        temporaryCreditLimit:
          type: number
          description: |-
            Length: 17

            Temporary credit limit for the account.

            VisionPLUS Service Data: AZXICI-TEMP-CRLIM
          example: 12745787
        dateTemporaryCreditLimit:
          type: string
          description: |-
            date Temporary Credit Limit.
            VisionPLUS Service Data: AZXICI-DATE-TEMP-CRLIM-EXP
          format: date
        sameDayProcessingType:
          type: integer
          description: |-
            Length: 1
            same Day Processing Type. VisionPLUS Service Data: AZXICI-SDP-PROCESS-TYPE
          format: int32
          example: 1
        instantCardOfTransactionsLimit:
          type: integer
          description: |-
            Length: 6
            instant Card Of Transactions Limit.
            VisionPLUS Service Data: AZXICI-IC-TOT-NUM-TXNS
          format: int32
          example: 1234
        cardActionFlag:
          type: integer
          description: |-
            Length: 1

            Card action flag.

            VisionPLUS Service Data: AZXICI-CARD-ACTION
          format: int32
          example: 1
        billingCycle:
          type: integer
          description: |-
            Length: 2

            Billing cycle.

            VisionPLUS Service Data: AZXICI-BILLING-CYCLE
          format: int32
          example: 25
        owningBranchNumber:
          type: integer
          description: |-
            Length: 9

            Owning branch number.

            VisionPLUS Service Data: AZXICI-OWNING-BRANCH-NBR
          format: int32
          example: 1
        digitalCardFlag:
          type: integer
          description: |-
            Length: 1

            Code that indicates whether to add a new digital card.

            The values are:

            0 = Do not add new digital card

            1 = Add new digital card

            VisionPLUS Service Data: AZXICI-DIGITAL-CARD
          format: int32
          example: 1
          enum:
          - null
    InstantCardAddResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization number.

            VisionPLUS Service Data: AZXICO-ORG
          format: int32
          example: 890
        logo:
          type: integer
          description: |-
            Length: 3

            Logo.

            VisionPLUS Service Data: AZXICO-LOGO
          format: int32
        customerNumber:
          type: string
          description: |-
            Length: 19

            Customer number.

            VisionPLUS Service Data: AZXICO-CUST-NBR
          example: "4513074002573466600"
        accountNumber:
          type: string
          description: |-
            Length: 19

            Account number.

            VisionPLUS Service Data: AZXICO-VACCT-NBR
          example: "4513074002573466600"
        cardNumberOfInstantCard:
          type: string
          description: |-
            Length: 19

            Card number of instant card.

            VisionPLUS Service Data: AZXICO-VCARD-NBR
          example: "4513074002573466600"
        cardSequenceNumber:
          type: integer
          description: |-
            Length: 4

            Card sequence number.

            VisionPLUS Service Data: AZXICO-VCARD-SEQ-NBR
          format: int32
        creditLimit:
          type: number
          description: |-
            Length: 17

            Credit limit.

            VisionPLUS Service Data: AZXICO-VCRLIM
        expiryDate:
          type: string
          description: |-
            Length: 10

            Expirate Date.

            VisionPLUS Service Data: AZXICO-VCARD-DATE-EXPIRE
          format: date
    AccountForDetailsL8vgRequest:
      required:
      - accountNumber
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization Number.
            VisionPLUS Service Data: AZXAII-ORG
          format: int32
          example: 807
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19

            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token)
            VisionPLUS Service Data: AZXAII-ACCT
          example: "4513074002573466583"
        foreignUse:
          type: string
          description: |-
            Length: 1

            The FOREIGN USE indicator is provided in the input message so the requesting source can specify whether the request applies to the local or foreign account when the account is in a dual currency processing organization. The default is to the local account.
            VisionPLUS Service Data: AZXAII-FOREIGN-USE
          example: "0"
      description: Account Detail L8VG Request
    AccountForDetailsL8vgResponse:
      type: object
      properties:
        currencyNumberOfDecimal:
          type: integer
          description: |-
            Length: 1
            Currency number of decimal.
            VisionPLUS Service Data: AZXAIO-CURRENCY-NOD
          format: int32
        currencyCode:
          type: integer
          description: |-
[...]
