openapi: 3.0.1
info:
  title: FirstVision™ Account Service - API Documentation
  description: This documentation describes the REST APIs provided by the FirstVision™ Cards Microservice, which provides functionality for the issuing, management and processing of credit cards, including bank, co-branded, private label, debit, commercial, and prepaid
  version: "1.2"
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /account/balance:
    put:
      tags:
      - Account
      summary: "Cash-in & Cash-out. (VMX Service: M.ASM.MONETARY.ACT, L8V2)"
      description: "Credits (cash in) or Debits (cash out) transactions from available\
        \ funds or credit open to buy in an Account \nVMX Service: M.ASM.MONETARY.ACT,\
        \ L8V2"
      operationId: Cash-in & Cash-out
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      - name: clientReceivedStartTimestamp
        in: header
        required: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyAccountBalanceRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "401":
          description: Unauthorized
        "400":
          description: Bad Request
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyAccountBalanceResponse'
      x-proxy-name: Cash-in & Cash-out
      x-group-name: Account
      x-child-product-name: Accounts
  /account/instant-card:
    post:
      tags:
      - Account
      summary: "Instant Account & Card creation. (VMX Service: M.CMS.INSTANT.CARD.ADD,\
        \ L8V3)"
      description: "Creates an Account and Card records for instant use for eCommerce\
        \ transactions. \nVMX Service: M.CMS.INSTANT.CARD.ADD, L8V3"
      operationId: Instant Account & Card creation
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantCardAddRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "401":
          description: Unauthorized
        "422":
          description: |-
            VPL5SIC24S - MBS SWITCH IS OFF
            VPL5SIC25S - ORG LEVEL FLAG FOR VIRTUAL CARD HAS NOT BEEN SET
            VPL5SIC26S - LOGO LEVEL FLAG FOR VIRTUAL CARD HAS NOT BEEN SET
            VPL5SIC27S - STORE RECORD NOT FOUND ON FILE
            VPL5SIC28E - VIRTUAL CARD/VOUCHER FUNCTIONALITY NOT ACTIVE
            VPL5SIC28S - STORE LEVEL INST CREDIT FLAG FOR VIRTUAL CARD HAS NOT BEEN SET
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstantCardAddResponse'
      x-proxy-name: Instant Account & Card creation
      x-group-name: Account
      x-child-product-name: Accounts
  /account/details-L8VG:
    post:
      tags:
      - Account
      summary: "(VMX Service: M.CMS.ACCOUNT.INQ, L8VG)"
      description: "Find account details provides information on the account’s status.\
        \ If the account has been transferred, the current account number must be\
        \ provided. This service does not automatically switch to the new account.\
        \ This service can be called with an account number or a card number. \nVMX\
        \ Service: M.CMS.ACCOUNT.INQ, L8VG"
      operationId: Account details L8VG
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountForDetailsL8vgRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "401":
          description: Unauthorized
        "422":
          description: |
            VPL5SAI03E - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998
            VPL5SAI04E - REQUESTED CARD/ACCT NUMBER IS NOT NUMERIC OR EQUAL SPACES
            VPL5SAI05E - INVALID FOREIGN USE IND SPECIFIED - VALID VALUES ARE SPACE 0 OR 1
            VPL5SAI07S – ORGANIZATION NOT FOUND ON FILE
            VPL5SAI08S – FOREIGN ORGANIZATION NOT FOUND ON FILE
            VPL5SAI09S - ACCOUNT NUMBER NOT FOUND
            VPL5SAI10S - ACCOUNT NUMBER NOT FOUND ON FILE
            VPL5SAI11S - LOGO NOT FOUND ON FILE
            VPL5SAI12S - CUSTOMER NOT FOUND ON FILE
            VPL5SAI13I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL5SAI13S - ACCOUNT SECONDARY BASE SEGMENT RECORD NOT FOUND
            VPL5SAI14E - INVALID INPUT UPD DUE FLAG - VALID VALUES ARE 0, 1
            VPL5SAIZ4S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SAIZ5S - REQUESTED ORGANIZATION NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountForDetailsL8vgResponse'
      x-proxy-name: Account details L8VG
      x-group-name: Account
      x-child-product-name: Accounts
  /account/:
    post:
      tags:
      - Account
      summary: "Add account. (VMX Service: M.CMS.ACCOUNT.ADD, R8V8)"
      description: "Adds a single Account to an existing Customer record for Single\
        \ Currency Accounts. For Dual Currency Accounts, two records with the same\
        \ Account number will be created in the local and foreign currency Organizations.\
        \ \nVMX Service: M.CMS.ACCOUNT.ADD, R8V8"
      operationId: Add Account
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountAddDetailsRequest'
        required: true
      responses:
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "401":
          description: Unauthorized
        "400":
          description: Bad Request
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "422":
          description: |-
            VPL5SAA02S - ORG NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SAA03S - ORG NUMBER REQUIRED WHEN ACCOUNT NUMBER NOT PROVIDED
            VPL5SAA04S - LOGO NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SAA05S - LOGO NUMBER REQUIRED WHEN ACCOUNT NUMBER NOT PROVIDED
            VPL5SAA06S - ORGANIZATION NOT DETERMINED
            VPL5SAA07S - ORGANIZATION NOT DETERMINED
            VPL5SAA08S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SAA0AE - USER DATE 10 IS NOT A VALID DATE
            VPL5SAA0BE - USER DATE 11 IS NOT A VALID DATE
            VPL5SAA0CE - USER DATE 12 IS NOT A VALID DATE
            VPL5SAA0DE - USER DATE 13 IS NOT A VALID DATE
            VPL5SAA0EE - USER DATE 14 IS NOT A VALID DATE
            VPL5SAA0GE - ALT EXPIRES DATE MUST BE EQUAL ZEROS
            VPL5SAA0HE - RELATIONSHIP LOGO IS NOT VALID FOR PURCHASE CARDS
            VPL5SAA0IE - RELATIONSHIP LOGO IS NOT VALID FOR CORPORATE CARDS
            VPL5SAA0JE - MEMO BILLING CURRENCY MUST EQUAL ZEROS
            VPL5SAA0KE - DUAL BILLING MUST NOT BE A VALUE OF 1 FOR RELATIONSHIP
            VPL5SAA0LE - BILLING CYCLE MUST NOT EQUAL ZEROS
            VPL5SAA0ME - CYCLE FIELD MUST EQUAL VALID CYCLES DEFINED ON SYSTEM RECORD
            VPL5SAA0NE - ASSOCIATE REL TYPE MUST NOT EQUAL ZEROS
            VPL5SAA0OE - ASSOCIATE ACCOUNT NUMBER MUST NOT EQUAL SPACES OR ZEROS
            VPL5SAA0PE - ASSOCIATE ACCOUNT NUMBER MUST EQUAL SPACES OR ZEROS
            VPL5SAA0QE - PRICING START DATE CAN NOT BE GREATER THAN PCT EXPIRE DATE
            VPL5SAA0RE - PRICING START/EXPIRE DATE INVALID WHEN PCT ID EQUAL SPACES
            VPL5SAA0SE - PRICING LEVEL EXPIRE DATE LESS THAN START DATE
            VPL5SAA0TE - PCT LEVEL START/EXPIRE DATES INVALID WHEN PCT LEVEL NOT PROVIDED
            VPL5SAA0UE - DATE TEMP CREDIT LIMIT EXPIRE IS NOT VALID FOR TEMP CREDIT LIMIT
            VPL5SAA0VE - PREFER END DATE MUST BE GREATER THAN PREFER START DATE
            VPL5SAA0WE - DATE PAYMENT EXPIRE MUST BE GREATER THAN PAYMENT START DATE
            VPL5SAA0XE - DC ACH START DATE MUST BE LESS OR EQUAL DC ACH EXPIRE DATE
            VPL5SAA0YE - DC REQUEST DAY INDICATOR MUST EQUAL ZEROS
            VPL5SAA0ZE - DC REQUEST DAY MUST BE BETWEEN 01 AND 3
            VPL5SAA1AE - DC REQUEST DAY MUST BE GREATER THAN ZERO
            VPL5SAA1BE - FIXED PAYMENT/AMOUNT PERCENT FIELD INVALID
            VPL5SAA1CE - FIXED PAYMENT/AMOUNT PERCENT FIELD INVALID WHEN OVERRIDE IS SPACE
            VPL5SAA1DE - PAYMENT OVERRIDE MUST EQUAL SPACE
            VPL5SAA1ES - PCT ENTRY DOES NOT EXIST
            VPL5SAA1FS - ACCT CTL TABLE ID INVALID-CSH/RTL PLANS/CHGF ACRINT NOT OBTAINED
            VPL5SAA1GS - ACCT CTL TABLE ID INVALID-CSH/RTL PLANS/CHGF ACRINT NOT OBTAINED
            VPL5SAA1HS - FEE CTL TABLE ID INVALID - GRACE LIMITS FREQUENCIES NOT OBTAINED
            VPL5SAA1IS - FEE CTL TABLE ID INVALID - GRACE LIMITS FREQUENCIES NOT OBTAINED
            VPL5SAA1KS - CANNOT ADD A PURCHASE CARD ACCOUNT TO A CORPORATE RELATIONSHIP
            VPL5SAA1LS - CANNOT ADD A CORPORATE ACCOUNT TO A PURCHASE CARD RELATIONSHIP
            VPL5SAA1MS - CANNOT ADD A NON HCS ACCOUNT TO A HCS CARD RELATIONSHIP
            VPL5SAA1NE - DUE FIELD MUST EQUAL ZEROS
            VPL5SAA1OE - DUE FIELD MUST BE GREATER THAN ZEROS
            VPL5SAA1PE - CYCLE FIELD MUST BE GREATER THAN ZEROS
            VPL5SAA1QE - PCT LEVEL EXPIRE DATE INVALID WHEN PCT LVL START DTE NOT PROVIDED
            VPL5SAA1RE - EXPIRE DATE INVALID WHEN PCT CNTRL START DATE NOT PROVIDED
            VPL5SAA1SE - PCT LEVEL START DATE INVALID WHEN PCT LEVEL NOT PROVIDED
            VPL5SAA1TE - PREPAID PLAN NUMBER MUST BE NUMERIC AND NOT EQUAL ZERO
            VPL5SAA1US - PREPAID PLAN NUMBER NOT FOUND
            VPL5SAA1VE - PREPAID PLAN NUMBER IS NOT A VALID TYPE
            VPL5SAA1WE - SINGLE LOAD MAX MUST BE GREATER THAN SINGLE LOAD MIN
            VPL5SAA1XE - LOAD FREQUENCY CAN NOT BE > 0 WHEN LOAD NUMBER = ZERO
            VPL5SAA1YE - MAX AMOUNT CAN NOT BE LESS THAN MIN AMOUNT
            VPL5SAA1ZE - SINGLE LOAD MIN CAN NOT EXCEED LOGO SINGLE LOAD MIN
            VPL5SAA11S - ORG RECORD NOT FOUND
            VPL5SAA12S - LOGO RECORD NOT FOUND
            VPL5SAA14S - ACCOUNT NUMBER ALREADY ON FILE
            VPL5SAA16E - ACCOUNT TYPE MUST = 0, 1, 2, OR 3
            VPL5SAA17E - PRIMARY ACCOUNT FLAG MUST EQUAL SPACE OR P
            VPL5SAA18E - CREDIT LIMIT MUST BE NUMERIC
            VPL5SAA19E - CUSTOMER NUMBER REQUIRED
            VPL5SAA2AE - SINGLE LOAD MAX CAN NOT EXCEED LOGO SINGLE LOAD MAX
            VPL5SAA2BE - MAX LOAD AMOUNT CAN NOT BE ZERO
            VPL5SAA2CE - DUAL BILLING MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE
            VPL5SAA2DE - BILLING LEVEL MUST BE 1 FOR PREPAID ACCOUNT TYPE
            VPL5SAA2EE - FLEX BILL MUST BE N FOR PREPAID ACCOUNT TYPE
            VPL5SAA2FE - PREPAID FLAG MUST EQUAL ZERO FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA2GE - WAIVE INT CHG MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE
            VPL5SAA2HE - WAIVE CASH AVAIL MUST BE Y FOR PREPAID ACCOUNT TYPE
            VPL5SAA2IE - PREPMT ALLOWED MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE
            VPL5SAA2JE - PREPMT MONTHS MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE
            VPL5SAA2KE - PREPMT ZERO MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE
            VPL5SAA2LE - LOAN LIMIT MUST BE N FOR PREPAID ACCOUNT TYPE
            VPL5SAA2ME - CASH PLAN NUMBER MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA2NE - RETAIL PLAN NUMBER MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA2OE - INTEREST VARIANCE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA2PE - VARIANCE EFFECTIVE DATE MUST EQUAL ZEROS FOR PREPAID ACCT TYPE
            VPL5SAA2QE - PLAN PMT OVERRIDE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA2RE - FIXED PMT AMT/PCT MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA2SE - PAYMENT HOLD MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA2TE - TEMP CREDIT LIMIT MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA2UE - TEMP CREDIT LIMIT EXPIRE DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA2VE - PREFER MIN AMOUNT MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA2WE - PREFER INT DAYS MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA2XE - PAYMENT ACH FLAG MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA2YE - DC ACH AMOUNT MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA2ZE - DD NOM AMT/PCT FLAG MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA20E - CARD FEE NOT NUMERIC
            VPL5SAA21E - BILLING CURRENCY NOT NUMERIC
            VPL5SAA22E - BILLING LEVEL MUST EQUAL 0 OR 1
            VPL5SAA23E - DUAL BILLING FIELD MUST EQUAL 0 OR 1
            VPL5SAA24E - ALT CUST FIELD MUST EQUAL A, B, C, OR SPACE
            VPL5SAA25E - ALT CUST ADDRESS EXPIRY DATE NOT NUMERIC
            VPL5SAA26E - FLEX BILL FIELD MUST EQUAL N OR Y
            VPL5SAA27E - OPENED DATE NOT NUMERIC
            VPL5SAA28E - APPLI DATE NOT NUMERIC
            VPL5SAA29E - CARD# SCHEME MUST EQUAL 0, 1, 2, OR 3
            VPL5SAA3AE - DD NOM AMT/PCT MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3BE - PREFER START DATE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA3CE - PREFER END DATE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA3DE - PREFER PROMO DATE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA3EE - DD INTERIM PMTS MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA3FE - DD DAILY FREQ MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3GE - DD CREDIT BAL MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3HE - PAYMENT REMIT METHOD MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3IE - DC ACH PLAN MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3JE - DD R/T BANK ID MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3KE - DC R/T BANK ID MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3LE - DD PAYMENT EXPIRE DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3ME - DD PAYMENT START DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3NE - DC EXPIRE DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3OE - DC START DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3PE - DD ACH TYPE MUST EQUAL SPACE FOR ACCOUNT TYPE
            VPL5SAA3QE - DD ACH ACCOUNT NUMBER MUST EQUAL SPACES FOR ACCOUNT TYPE
            VPL5SAA3SE - DC ACCOUNT TYPE EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3TE - DC REQUEST DAY INDICATOR MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3UE - DC ACCOUNT NUMBER MUST EQUAL SPACES FOR ACCOUNT TYPE
            VPL5SAA3VE - DD REQUEST DAY MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3WE - DD PYMT CHANGE DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE
            VPL5SAA3XE - WAIVE INTL ATM FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA3YE - WAIVE DOM ATM FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA3ZE - WAIVE INTL POS FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA30E - DUE DAY MUST BE NUMERIC
            VPL5SAA31E - CYCLE VALUE INVALID - MUST BE BETWEEN ZEROS AND 31
            VPL5SAA32E - STATEMENT FREQUENCY NOT NUMERIC
            VPL5SAA33E - BLOCK CODE 1 VALID VALUES ARE SPACE OR A - Z
            VPL5SAA34E - BLOCK CODE 2 VALID VALUES ARE SPACE OR A - Z
            VPL5SAA35E - CUSTOMER STATEMENT FIELD MUST = 0 OR 1
            VPL5SAA36E - CUSTOMER LETTER FIELD MUST = 0, 1 OR 2
            VPL5SAA37E - INCOME MUST BE NUMERIC
            VPL5SAA39E - CARD EXPIRATION NOT NUMERIC
            VPL5SAA4AE - WAIVE DOM POS FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4BE - WAIVE LOAD FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4CE - WAIVE RELOAD FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4DE - WAIVE DORM FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4EE - WAIVE REFUND FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4FE - WAIVE STMT FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4GE - PREPAID LOAD NBR MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4HE - PREPAID MAX LOAD MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4IE - PREPAID MIN LOAD MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4JE - PREPAID LOAD AMT MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4KE - PREPAID LOAD FREQ MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4LE - WAIVE FEE CHG MUST EQUAL 1 FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4ME - DD ACH REQ DAY MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4NE - PREPAID LOAD FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE
            VPL5SAA4OE - TERMS/CONDITIONS DATE MUST BE GREATER THAN ZEROS
            VPL5SAA4PE - WAIVE DOM ATM TXN FEE MUST = 0 OR 1
            VPL5SAA4QE - WAIVE INTL POS TXN FEE MUST = 0 OR 1
            VPL5SAA4RE - WAIVE DOM POS TXN FEE MUST = 0 OR 1
            VPL5SAA4SE - WAIVE LOAD TXN FEE MUST = 0 OR 1
            VPL5SAA4TE - WAIVE RELOAD TXN FEE MUST = 0 OR 1
            VPL5SAA4UE - VARIANCE EFFECTIVE DATE INVALID WHEN RATE VARIANCES (1-12) = 0
            VPL5SAA4VS - NUMBER GENERATION SERVICE FAILED
            VPL5SAA4WE - STATE OF RESIDENCE DOES NOT MATCH LOGO STATE OF RESIDENCE
            VPL5SAA4XE - STATE OF RESIDENCE IS REQUIRED
            VPL5SAA40E - LIABILITY INDICATOR MUST = 0, 1, OR 2
            VPL5SAA41E - BUREAU SCORE NOT NUMERIC
            VPL5SAA42E - IN HOUSE SCORE MUST BE NUMERIC
            VPL5SAA43E - MISCELLANEOUS SCORE MUST BE NUMERIC
            VPL5SAA44E - CREDIT BUREAU DATE NOT NUMERIC
            VPL5SAA45E - TERM/CONDITIONS DATE IS NOT NUMERIC
            VPL5SAA46E - WARNING CODE VALUES MUST BE 0 - 7
            VPL5SAA47E - INVALID VALUE FOR AUTH CRITERIA TABLE
            VPL5SAA49E - ACCOUNT ASSOCIATE REL TYPE MUST BE 0 - 4
            VPL5SAA5AS - USER HAS NOT SIGNED ON - PLEASE SIGNON
            VPL5SAA50E - ACCOUNT ASSOCIATE DATE MUST BE NUMERIC
            VPL5SAA51E - ACCOUNT ASSOCIATE AMOUNT MUST BE NUMERIC
            VPL5SAA52E - ACCOUNT ASSOCIATE TYPE MUST BE 0 - 9
            VPL5SAA53E - WAIVE INT FIELD MUST EQUAL 0 OR 1
            VPL5SAA55E - STATE OF RESIDENCE CONTAINS INVALID CHARACTERS
            VPL5SAA56E - STATE OF ISSUANCE CONTAINS INVALID CHARACTERS
            VPL5SAA57E - ACCOUNT ASSOCIATE STATEMENT FLAG 1 MUST BE 0 - 2
            VPL5SAA58E - ACCOUNT ASSOCIATE STATEMENT FLAG 2 MUST BE 0 - 2
            VPL5SAA59E - ACCOUNT ASSOCIATE STATEMENT FLAG 3 MUST BE 0 - 2
            VPL5SAA5CE - ALT CUST ADDRESS START DATE NOT A VALID DATE
            VPL5SAA5DE - CORRESPONDING CUSTOMER NUMBER NOT FOUND
            VPL5SAA5EE - DEFAULT PROMO PLAN SHOULD BE ZEROS FOR PREPAID ACCOUNTS
            VPL5SAA5FE - DEFAULT PROMO PLAN NUMBER IS NOT NUMERIC
            VPL5SAA5GE - ALT CUST ADDRESS START DATE NOT NUMERIC
            VPL5SAA5HE - DISCLOSURE INDICATOR CYCLE VALID VALUES ARE 0-9 AND A
            VPL5SAA60E - ACCOUNT ASSOCIATE LETTER TYPE 1 MUST BE 0 - 2
            VPL5SAA61E - ACCOUNT ASSOCIATE LETTER TYPE 2 MUST BE 0 - 2
            VPL5SAA62E - ACCOUNT ASSOCIATE LETTER TYPE 3 MUST BE 0 - 2
            VPL5SAA63E - ACCOUNT ASSOCIATE LETTER FEE 1 MUST BE 0 OR 1
            VPL5SAA64E - ACCOUNT ASSOCIATE LETTER FEE 2 MUST BE 0 OR 1
            VPL5SAA65E - ACCOUNT ASSOCIATE LETTER FEE 3 MUST BE 0 OR 1
            VPL5SAA66E - PRICING CONTROL ID CONTAINS INVALID CHARACTERS
            VPL5SAA67E - PRICING CONTROL START DATE IS NOT NUMERIC
            VPL5SAA69E - PRICING CONTROL EXPIRE DATE IS NOT NUMERIC
            VPL5SAA70E - PRICING LEVEL OVERRIDE MUST EQUAL SPACE, L, O OR S
            VPL5SAA71E - PRICING LEVEL START DATE IS NOT NUMERIC
            VPL5SAA72E - PRICING LEVEL EXPIRE DATE IS NOT NUMERIC
            VPL5SAA73E - OWNERSHIP FLAG MUST EQUAL 0, 1, OR 2
            VPL5SAA74E - SKIP PAYMENT FLAG MUST = A, M, N, V, X OR Z
            VPL5SAA75E - FREQUENT SHOPPER IND MUST EQUAL N OR Y
            VPL5SAA76E - FRAUD REPORT MUST EQUAL N OR Y
            VPL5SAA77E - WAIVE INTR CHARGE MUST EQUAL 0 OR 1
            VPL5SAA78E - CASH LIMIT FIELD MUST EQUAL N, T OR Y
            VPL5SAA79E - PREPMT ALLOWED FIELD MUST EQUAL 0, 1 OR 2
            VPL5SAA7IE - INSTL REPYMT CASH PLAN NBR MUST = ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA7JE - INSTL RPYMTS ACTIVE, INSTL REPYMT CASH PLAN NBR MUST BE NUMERIC
            VPL5SAA7KE - INSTL REPYMT CASH PLAN NBR NOT ON FILE OR NOT A VALID CASH TYPE
            VPL5SAA7LE - INSTL REPYMT RETL PLAN NBR MUST = ZEROS FOR PREPAID ACCOUNT TYPE
            VPL5SAA7ME - INSTL RPYMTS ACTIVE, INSTL REPYMT RETL PLAN NBR MUST BE NUMERIC
            VPL5SAA7NE - INSTL REPYMT RETL PLAN NBR NOT ON FILE OR NOT A VALID RETL TYPE
            VPL5SAA80E - PREPMT MONTHS IS NOT NUMERIC
            VPL5SAA81E - PREPMT ZERO FIELD MUST EQUAL 0, 1, OR 2
            VPL5SAA82E - LOAN LIMIT FIELD MUST EQUAL N, T OR Y
            VPL5SAA83E - INTEREST VARIANCE IS NOT NUMERIC
            VPL5SAA84E - INTEREST VARIANCE EFFECTIVE DATE IS NOT NUMERIC
            VPL5SAA85E - CASH PLAN NUMBER IS NOT NUMERIC
            VPL5SAA86E - RETAIL PLAN NUMBER IS NOT NUMERIC
            VPL5SAA87E - CONTROLLING PLAN OVERRIDE MUST = F, P, X OR SPACE
            VPL5SAA88E - FIXED PAYMENT/AMOUNT PERCENT FIELD NOT NUMERIC
            VPL5SAA89E - 1098 INDICATOR MUST EQUAL 0, 1, OR 2
            VPL5SAA90E - PAYMENT HOLD FIELD MUST EQUAL 0 OR 1
            VPL5SAA91E - EXCLUDE FROM VAU/ABU FIELD MUST = 0 OR 1
            VPL5SAA92E - EMBOSSING CHECKING ROUTING NUMBER IS NOT NUMERIC
            VPL5SAA93E - EMBOSSING SAVINGS ROUTING NUMBER IS NOT NUMERIC
            VPL5SAA94E - CARD TECH FIELD MUST = 0 OR 1
            VPL5SAA95E - TEMP CREDIT LINE IS NOT NUMERIC
            VPL5SAA96E - TEMP CREDIT LINE EXPIRES DATE IS NOT NUMERIC
            VPL5SAA97E - PREFER MINIMUM AMOUNT IS NOT NUMERIC
            VPL5SAA98E - PREFER INTEREST DAYS IS NOT NUMERIC
            VPL5SAA99E - PREFER START DATE IS NOT NUMERIC
            VPL5SAA9EE - INSTALLEMNT REPAYMENT RETAIL PLAN NUMBER IS NOT NUMERIC
            VPL5SAA9FE - INSTALLEMNT REPAYMENT CASH PLAN NUMBER IS NOT NUMERIC
            VPL5SAAI6E - GQ FIELD MUST BE SPACE OR A-Z
            VPL5SAAI7E - MAX DD AMT MUST BE NUMERIC
            VPL5SAAI5S - ORG CAN NOT BE DETERMINED
            VPL5SAAI6S - LOGO CAN NOT BE DETERMINED
            VPL5SAAI7S - AUTO GENERATION OF ACCOUNT NUMBER NOT ACTIVE
            VPL5SAAJ0E - ASSOC LTR FLAG MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAJ1E - ASSOC REL TYPE MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAJ2E - ASSOC DATE MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAJ3E - ASSOC AMT MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAJ4E - ASSOC TYPE CANNOT BE 5 WHEN SALES REP ORG = 0
            VPL5SAAJ5E - SALES REP CODE CANNOT BE SPACES OR ZEROS WHEN ASSOC TYPE
            VPL5SAAJ6E - SALES REP CODE NOT ON FILE
            VPL5SAAJ7E - ASSOC STMT FLAG MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAJ8E - ASSOC STMT FLAG MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAJ9E - ASSOC STMT FLAG MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAJ0S - MISMATCHED GENERATED FOREIGN ORG
            VPL5SAAJ1S - BILLING ACCOUNTS MUST BEGIN WITH 999
            VPL5SAAJ2S - CONTROL AND DIVERSION ACCOUNTS MUST BEGIN WITH 998
            VPL5SAAJ3S - ACCOUNT NUMBER PROVIDED ALREADY EXISTS
            VPL5SAAJ4S - EMBOSSER NUMBER ALREADY EXISTS
            VPL5SAAJ5S - ACCOUNT ALREADY EXISTS ON RELATIONSHIP MASTER
            VPL5SAAJ6S - FOREIGN ACCOUNT ALREADY EXISTS
            VPL5SAAJ7S - FOREIGN EMBOSSER ALREADY EXISTS
            VPL5SAAJ8S - FOREIGN ACCOUNT ALREADY EXISTS FOR RELATIONSHIP
            VPL5SAAJ9S - ACCOUNT NUMBER CHECK DIGIT IS INVALID
            VPL5SAAK0E - ASSOC LTR FLAG MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAK1E - ASSOC LTR FLAG MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAK2E - ASSOC LTR FEE MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAK3E - ASSOC LTR FEE MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAK4E - ASSOC LTR FEE MUST BE 0 WHEN ASSOC TYPE = 5
            VPL5SAAK5E - FIELD MUST BE NUMERIC
            VPL5SAAK6E - FIELD MUST BE 00 THRU 12
            VPL5SAAK7E - VALID VALUES ARE 0 AND 2 FOR CONSUMER ACCOUNTS
            VPL5SAAK8E - DD NOM FLAG MUST BE 3 FOR WEEKLY DD REQUEST
            VPL5SAAK9E - DD REQ DAY VALID VALUES ARE 01 THRU 07 FOR WEEKLY DD REQS
            VPL5SAAK0S - DUAL LOGO NOT FOUND
            VPL5SAAK2S - CUSTOMER NUMBER NOT FOUND
            VPL5SAAK4S - ELATIONSHIPS NOT ACTIVATED ON ORG CTRL RECORD
            VPL5SAAK5S - RELATIONSHIP NUMBER REQUIRED WHEN HCS IS ACTIVE FOR THIS ORG
            VPL5SAAK6S - RELATIONSHIPS NOT ACTIVE ON DUAL ORG RECORD
            VPL5SAAK7S - RELATIONSHIP NUMBER CAN NOT BE ENTERED FOR PREPAID LOGO
            VPL5SAAK8S - RELATIONSHIP RECORD DOES NOT EXIST
            VPL5SAAK9S - RELATIONSHIP NOT ALLOWED FOR COBRAND LOGO
            VPL5SAAL0S - FOREIGN RELATIONSHIP RECORD DOES NOT EXIST
            VPL5SAAL1E - CARD SCHEME 2 NOT VALID FOR JCB ACCOUNTS
            VPL5SAAL2E - WAIVE CARD FEE FIELD MUST = 0 OR 1
            VPL5SAAL3E - HCS MUST BE ACTIVE FOR ACCOUNT TYPE VALUES 1, 2 OR 3
            VPL5SAAL4E - SWEEPING NOT ALLOWED IN THIS LOGO
            VPL5SAAL5E - ALT CUST ADDRESS EXPIRY DATE NOT A VALID DATE
            VPL5SAAL6E - EXPIRY DATE CAN NOT BE LESS THAN CURRENT PROCESSING DATE
            VPL5SAAL7E - ACCT EMBLM MUST BE NUMERIC
            VPL5SAAL7S - ALTERNATE CUSTOMER NUMBER NOT ON FILE
            VPL5SAAL9E - PRIMARY ACCOUNT FLAG MUST EQUAL SPACE
            VPL5SAAM0E - PRIMARY ACCOUNT NOT ALLOWED - NO RELATIONSHIP RECORD EXISTS
            VPL5SAAM1E - CREDIT LIMIT MUST EQUAL ZEROS
            VPL5SAAM2E - CREDIT LIMIT MUST BE GREATER THAN ZEROS
            VPL5SAAM4E - CREDIT LIMIT CAN NOT EXCEED RELATIONSHIP CREDIT LIMIT
            VPL5SAAM6E - CREDIT LIMIT EXCEEDS SECURED AMOUNT
            VPL5SAAM7E - CUSTOMER NUMBER REQUIRED
            VPL5SAAM8S - CUSTOMER NUMBER NOT FOUND
            VPL5SAAM9E - CARD SCHEME FOR PREPAID ACCOUNT MUST EQUAL 0
            VPL5SAAN0S - FOREIGN CUSTOMER NUMBER NOT FOUND
            VPL5SAAN1E - GENERIC CUSTOMER NOT ALLOWED WHEN PREPAID FLAG IS NOT 1
            VPL5SAAN2E - MEMO BILL CURRENCY MUST BE ZEROS WHEN DUAL CURRENCY IS NOT ACTIVE
            VPL5SAAN3E - MEMO BILL CURRENCY NOT DEFINED
            VPL5SAAN4E - PRIM ACCT BILLING LEVEL CANNOT BE 1 WHEN REL BILLING LVL = 0 OR 2
            VPL5SAAN5E - BILLING LEVEL MUST EQUAL 0 OR 1
            VPL5SAAN6E - BILLING LEVEL MUST EQUAL 0
            VPL5SAAN7E - BILLING LEVEL IS INVALID FOR RELATIONSHIP
            VPL5SAAN8E - BILLING LEVEL MUST EQUAL 1, WHEN ACCT IS NOT TIED TO RELATIONSHIP
            VPL5SAAN9E - DATE OPENED CAN NOT EQUAL ZEROS
            VPL5SAAO0E - OPENED DATE NOT VALID DATE CAN NOT BE > CURR PROCESSING DATE
            VPL5SAAO1E - APPLI DATE NOT A VALID DATE
            VPL5SAAO2E - CARD SCHEME MUST EQUAL ZERO FOR ACCOUNTS NOT IN A RELATIONSHIP
            VPL5SAAO3E - CARD SCHEME CAN NOT EQUAL 0 FOR ACCOUNT IN A RELATIONSHIP
            VPL5SAAO4E - NO RELATIONSHIP BEING ADDED, CARD SCHEME CANNOT BE 1
            VPL5SAAO5E - ORG CARD SCHEME 2/3 NOT ACTIVE, CARD SCHEME CANNOT BE 2 OR 3
            VPL5SAAO6E - BILLING CYCLE MUST EQUAL RELATIONSHIP BILLING CYCLE
            VPL5SAAO7E - VALID VALUES FOR PREPAID ACCOUNTS ARE SPACE, I, O, U, OR Z
            VPL5SAAO8E - VALID VALUES ARE SPACE, 0-9, C, H, I, R, S, O, U OR Z
            VPL5SAAO9E - RELATIONSHIP ACCOUNTS STATEMENT FREQ MUST EQUAL 01
            VPL5SAAP0E - FREQ FIELD INVALID - VALID VALUES OF 01-12, 62 OR 99
            VPL5SAAP1E - CARD EXPIRATION NOT A VALID DATE
            VPL5SAAP2E - CARD EXP MUST BE GREATER THAN THE CURRENT PROCESSING DATE
            VPL5SAAP5E - CARD FEE IS NOT A VALID DATE
            VPL5SAAP6E - CREDIT BUREAU DATE NOT A VALID DATE
            VPL5SAAP7E - TERMS/CONDITIONS DATE NOT A VALID DATE
            VPL5SAAP8E - ASSOC DATE NOT A VALID DATE
            VPL5SAAP9E - ASSOC CUSTOMER NUMBER NOT ON FILE
            VPL5SAAQ0E - STATE OF RESIDENCE IS NOT FOUND ON USURY TABLE
            VPL5SAAQ1E - STATE OF RESIDENCE IS INVALID ON USURY TABLE
            VPL5SAAQ2E - STATE OF RESIDENCE IS NOT FOUND
            VPL5SAAQ3E - STATE OF RESIDENCE DOES NOT EXIST
            VPL5SAAQ4E - PRICING CONTROL ID IS NOT FOUND
            VPL5SAAQ5E - PRICING CONTROL ID DOES NOT EXIST
            VPL5SAAQ6E - ISSUANCE ID DOES NOT EXIST
            VPL5SAAQ7E - ISSUANCE ID REQUIRED FOR BANKCARD ACCOUNT
            VPL5SAAQ8E - ISSUANCE ID IS NOT FOUND ON USURY TABLE
            VPL5SAAQ9E - ISSUANCE ID IS NOT FOUND
            VPL5SAAR0E - ISSUANCE ID DOES NOT EXIST
            VPL5SAAR1E - START DATE INVALID WHEN PCT CNTRL ID NOT PROVIDED
            VPL5SAAR2E - START DATE FOR THE PRICING CTRL NOT A VALID DATE
            VPL5SAAR3E - START DATE FOR THE PRICING CTRL MUST BE = OR > NEXT PROCESSING DT
            VPL5SAAR4E - EXPIRE DATE FOR THE PRICING CTRL NOT A VALID DATE
            VPL5SAAR5E - EXPIRE DATE FOR THE PRICING CTRL MUST BE = OR > PCT START DATE
            VPL5SAAR6E - PCT LEVEL START DATE FOR THE PCT LEVEL NOT A VALID DATE
            VPL5SAAR7E - PCT LEVEL START DATE FOR PCT LEVEL MUST BE = OR > NEXT PROCESS DT
            VPL5SAAR8E - PCT LEVEL EXPIRE DATE FOR THE PCT LEVEL NOT A VALID DATE
            VPL5SAAS0E - PAYMENT SKIP NOT ALLOWED
            VPL5SAAS2S - CASH PLAN NUMBER NOT ON FILE OR NOT A CASH TYPE
            VPL5SAAS3E - RETAIL PLAN NUMBER INVALID FOR NON BANKCARD ACCOUNTS
            VPL5SAAS4E - RETAIL PLAN NUMBER INVALID FOR PREPAID ACCOUNTS
            VPL5SAAS5S - RETAIL PLAN NUMBER NOT ON FILE OR NOT A RETAIL TYPE
            VPL5SAAS6E - INT VARIANCE EFFECTIVE DATE NOT A VALID DATE
            VPL5SAAS7E - INT VARIANCE EFFECTIVE DATE MUST BE > CURRENT PROCESSING DATE
            VPL5SAAS8E - DDA ROUTING NUMBER REQUIRED WHEN DDA ACCOUNT PROVIDED
            VPL5SAAS9E - SAV ROUTING NUMBER REQUIRED WHEN SAV ACCOUNT PROVIDED
            VPL5SAAT1E - ACCOUNT UPDATER SWITCH MUST EQUAL 0 OR 1
            VPL5SAAT4E - CARD TECH FIELD INVALID
            VPL5SAAT5E - CARD TECH FIELD MUST = 0 FOR CARD SCHEME 2
            VPL5SAAT6E - SMART CARD NOT ALLOWED
            VPL5SAAT7E - TEMP CREDIT LIMIT NOT ALLOWED FOR RELATIONSHIP ACCOUNT
            VPL5SAAT8E - TEMP CREDIT LIMIT EQUAL CREDIT LIMIT
            VPL5SAAT9E - TEMP CREDIT LIMIT GREATER THAN LOGO CREDIT LIMIT CEILING
            VPL5SAAU0E - DATE TEMP CREDIT LIMIT EXPIRE IS NOT A VALID DATE
            VPL5SAAU1E - EXPIRE DATE FOR TEMP CREDIT LINE MUST BE > OR = CURR PROCESS DATE
            VPL5SAAU2E - DD PAYMENT INVALID FOR DEBIT CARDS
            VPL5SAAU3E - DD PAYMENT MUST EQUAL ZEROS
            VPL5SAAU4E - DD PAYMENT MUST EQUAL ZEROS
            VPL5SAAU5E - DD PAYMENT INVALID VALUE - VALID VALUES ARE 1, 2 AND 7
            VPL5SAAU6E - DD PAYMENT MUST EQUAL 0 WHEN REL BILLING LEVEL EQUAL 0
            VPL5SAAU7E - DD NOM AMT/PCT FLAG INVALID FOR DEBIT CARD
            VPL5SAAU8E - DD NOM AMT/PCT MUST EQUAL ZEROS
            VPL5SAAU9E - DD NOM AMT/PCT MUST BE GREATER THAN ZEROS
            VPL5SAAV0E - DD NOM AMT/PCT VALUE IS INVALID
            VPL5SAAV1E - PREFER START DATE IS NOT A VALID DATE
            VPL5SAAV2E - PREFER END DATE IS NOT A VALID DATE
            VPL5SAAV3E - PREFER PROMO DATE IS NOT A VALID DATE
            VPL5SAAV4E - DD INTERIM PAYMENTS MUST EQUAL 0
            VPL5SAAV6E - DD DAILY FREQUENCY FIELD MUST = 0
            VPL5SAAV7E - DD REQ DAY MUST EQUAL ZER0 WHEN DD DAILY FREQUENCY NOT EQUAL ZERO
            VPL5SAAV8E - DD PAYMENT MUST EQUAL 2 WHEN DD DAILY FREQUENCY NOT EQUAL ZERO
            VPL5SAAV9E - DD PAYMENT CHANGE DATE MUST EQUAL ZERO WHEN DD DAILY FREQ = ZERO
            VPL5SAAW0E - DD CREDIT BALANCE INVALID - ACCOUNT IN A HCS RELATIONSHIP
            VPL5SAAW1E - DD PAYMENT REMITTANCE METHOD MUST EQUAL 0 WHEN BILLING LVL = 0
            VPL5SAAW2S - DC PLAN DOES NOT EXIST
            VPL5SAAW3E - DC PLAN NOT A RETAIL PLAN
            VPL5SAAW4E - DD R/T BANK ID MUST BE GREATER THAN ZEROS
            VPL5SAAW5E - DD R/T BANK ID IS NOT A VALID NACHA FORMAT
            VPL5SAAW6E - DC R/T BANK ID IS NOT A VALID NACHA FORMAT
            VPL5SAAW7E - DD PAYMENT EXPIRE DATE NOT A VALID DATE
            VPL5SAAW8E - DD PAYMENT EXPIRE DATE MUST BE > OR = NEXT PROCESSING DATE
            VPL5SAAX0E - DD PAYMENT START DATE IS NOT A VALID DATE
            VPL5SAAX1E - DD PAYMENT START MUST BE GREATER OR EQUAL NEXT PROCESSING DATE
            VPL5SAAX2E - DC ACH EXPIRE DATE IS NOT A VALID DATE
            VPL5SAAX3E - DC ACH EXPIRE DATE MUST BE GREATER OR EQUAL NEXT PROCESSING DATE
            VPL5SAAX4E - DC ACH START DATE IS NOT A VALID DATE
            VPL5SAAX5E - DD ACCOUNT NUMBER MUST BE GREATER THAN ZEROS
            VPL5SAAX6E - DD REQUEST DAY MUST = 0, WHEN LOGO DD PAYMENT FLAG IS S OR D
            VPL5SAAX7E - DD REQUEST DAY MUST BE BETWEEN 01 AND 31
            VPL5SAAX8E - DC REQUEST DAY INDICATOR MUST EQUAL ZEROS
            VPL5SAAX9E - DD PAYMENT CHANGE DATE INVALID FOR DEBIT CARDS
            VPL5SAAY0E - DD PAYMENT CHANGE DATE IS NOT A VALID DATE
            VPL5SAAY1E - DD PAYMENT CHANGE DATE MUST BE > OR = NEXT PROCESSING DATE
            VPL5SAAY2E - DD PAYMENT CHANGE DATE MUST BE GREATER OR EQUAL START DATE
            VPL5SAAY3E - DD PAYMENT CHANGE DATE MUST BE < OR EQUAL PAYMENT EXPIRATION DATE
            VPL5SAAY4E - DD PAYMENT CHANGE DATE IS INVALID
            VPL5SAAY5S - PROMOTION NOT ON FILE
            VPL5SAAY6S - PROMOTION NOT VALID
            VPL5SAAY7E - OWNING BRANCH MUST BE GREATER THAN ZEROS FOR BANKCARD ACCOUNTS
            VPL5SAAY8S - OWNING BRANCH NOT ON FILE
            VPL5SAAZ1E - USER DATE 1 IS NOT A VALID DATE
            VPL5SAAZ2E - USER DATE 2 IS NOT A VALID DATE
            VPL5SAAZ3E - USER DATE 3 IS NOT A VALID DATE
            VPL5SAAZ4E - USER DATE 4 IS NOT A VALID DATE
            VPL5SAAZ5E - USER DATE 5 IS NOT A VALID DATE
            VPL5SAAZ6E - USER DATE 6 IS NOT A VALID DATE
            VPL5SAAZ7E - USER DATE 7 IS NOT A VALID DATE
            VPL5SAAZ8E - USER DATE 8 IS NOT A VALID DATE
            VPL5SAAZ9E - USER DATE 9 IS NOT A VALID DATE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAddDetailsResponse'
      x-proxy-name: Add Account
      x-group-name: Account
      x-child-product-name: Accounts
components:
  schemas:
    ModifyAccountBalanceRequest:
      required:
      - accountNumber
      - asmOrganizationNumber
      - representativeId
      type: object
      properties:
        asmOrganizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization Number.

            VisionPLUS Service Data: AZXMAI-ASM-ORG
          format: int32
          example: 809
        representativeId:
          maxLength: 3
          minLength: 1
          type: string
          description: |-
            Length: 3
            ID of Representative.

            VisionPLUS Service Data: AZXMAI-ASM-REP
          example: A00
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19

            Number of Customer's account or card.

            VisionPLUS Service Data: AZXMAI-ACCT-NBR
          example: "4198194069732810121"
        transactionData:
          $ref: '#/components/schemas/ModifyAccountBalanceRequest.TxData'
      description: Modify Account Balance Request
    ModifyAccountBalanceRequest.TxData:
      required:
      - actionCode
      - cardNumber
      - cardSequence
      - description
      - effectiveDate
      - otbUpdateIndicator
      - planNumber
      - planSequence
      - referenceNumber
      - resolutionReferenceNumber
      - storeNumber
      - transactionAmount
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 12
          type: string
          description: |-
            Length: 19
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).

            VisionPLUS Service Data: AZXMAI-CARD-NBR
          example: 000540208ID5IXX3865
        cardSequence:
          type: integer
          description: |-
            Length: 4
            Card Sequence.

            VisionPLUS Service Data: AZXMAI-CARD-SEQ
          format: int32
          example: 1
        actionCode:
          type: string
          description: |-
            Length: 4
            Code that identifies the action to be taken.

            VisionPLUS Service Data: AZXMAI-ACTION-CODE
          example: FUND
        effectiveDate:
          type: string
          description: |-
            Date that specifies when the transaction takes effect in the account.

            VisionPLUS Service Data: AZXMAI-EFF-DATE
          format: date
        transactionAmount:
          type: number
          description: |-
            Length: 17

            Transaction Amount.

            VisionPLUS Service Data: AZXMAI-TXN-AMOUNT
          example: 100
        planNumber:
          type: integer
          description: |-
            Length: 5
            Plan Number.

            VisionPLUS Service Data: AZXMAI-PLAN-NBR
          format: int32
          example: 60000
        planSequence:
          type: integer
          description: |-
            Length: 2
            Plan Sequence.

            VisionPLUS Service Data: AZXMAI PLAN-SEQ
          format: int32
          example: 1
        storeNumber:
          type: integer
          description: |-
            Length: 9
            Store Number.

            VisionPLUS Service Data: AZXMAI-STORE-NBR
          format: int32
          example: 999999998
        authorizationCode:
          maxLength: 6
          minLength: 0
          type: string
          description: |-
            Length: 6

            identifier used to identify the transaction for reconciliation purpose.

            VisionPLUS Service Data: AZXMAI-AUTH-CODE
          example: "123456"
        referenceNumber:
          type: string
          description: |-
            Length: 12
            Reference Number.

            VisionPLUS Service Data: AZXMAI-REF-NUM
          example: "123456789012"
        resolutionReferenceNumber:
          type: string
          description: |-
            Length: 14
            Resolution Reference Number For Payments Received For Open Billing Accounts.

            VisionPLUS Service Data: AZXMAI-R-REF-NBR
          example: "123456789012"
        otbUpdateIndicator:
          type: integer
          description: |-
            Length: 1
            OTB Update Indicator. The values are:
            0 = Update OTB
            1 = Do not update OTB
            VisionPLUS Service Data: AZXMAI-OTB-UPDATE-IND
          format: int32
          example: 0
        description:
          type: string
          description: |-
            Length: 40

            Description of the transaction.

            VisionPLUS Service Data: AZXMAI-DESC
          example: Description
        departmentCode:
          type: string
          description: |-
            Length: 4
            Department Code.
            VisionPLUS Service Data: AZXMAI-DEPT-CODE
          example: PPLD
      description: |-
        Length: 3
        ModifyAccountBalanceRequestTxData
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    ModifyAccountBalanceResponse:
      type: object
      properties:
        asmOrganizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization number.

            VisionPLUS Service Data: AZXMAO-ACTION-ASM-ORG
          format: int32
        asmRepresentativeId:
          type: string
          description: |-
            Length: 3
            Representative id.

            VisionPLUS Service Data: AZXMAO-ACTION-REP
        referralRepresentative:
          type: string
          description: |-
            Length: 3
            Referral Representative.

            VisionPLUS Service Data: AZXMAO-REFERRAL-REP
        account:
          $ref: '#/components/schemas/ModifyAccountBalanceResponse.Account'
        foreignUseIndicator:
          type: string
          description: |-
            Length: 1
            Foreign use indicator.

            VisionPLUS Service Data: AZXMAO-FOREIGN-USE-IND
        cardNumber:
          type: string
          description: |-
            Length: 19
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).

            VisionPLUS Service Data: AZXMAO-CARD-NBR
          example: 000540208ID5IXX3865
        historyDate:
          type: string
          description: |-
            History date.

            VisionPLUS Service Data: AZXMAO-HIST-DATE
          format: date
        historyTime:
          type: string
          description: |-
            History time.

            VisionPLUS Service Data: AZXMAO-HIST-TIME
        actionCodePri:
          type: integer
          description: |-
            Length: 1
            Action code pri.

            VisionPLUS Service Data: AZXMAO-ACTION-CODE-PRI
          format: int32
        recordType:
          type: string
          description: |-
            Length: 1
            Record type.

            VisionPLUS Service Data: AZXMAO-RECORD-TYPE
        actionDescription:
          type: string
          description: |-
            Length: 20
            Action description.

            VisionPLUS Service Data: AZXMAO-ACTION-DESC
        collectionSequenceNumber:
          type: integer
          description: |-
            Length: 5
            Collection sequence number.

            VisionPLUS Service Data: AZXMAO-CTA-SEQ-NBR
          format: int32
        status:
          type: string
          description: |-
            Length: 1
            Status.

            VisionPLUS Service Data: AZXMAO-STATUS
        referralAsmOrganization:
          type: integer
          description: |-
            Length: 3
            Referral asm organization.

            VisionPLUS Service Data: AZXMAO-REFERRAL-ASM-ORG
          format: int32
        purgeDate:
          type: string
          description: |-
            Purge date.

            VisionPLUS Service Data: AZXMAO-PURGE-DATE
          format: date
        actionDate:
          type: string
          description: |-
            Action date.

            VisionPLUS Service Data: AZXMAO-ACTION-DATE
          format: date
        cardSequence:
          type: integer
          description: |-
            Length: 5
            Card sequence.

            VisionPLUS Service Data: AZXMAO-CARD-SEQ
          format: int32
        retention:
          type: string
          description: |-
            Length: 1
            Retention.

            VisionPLUS Service Data: AZXMAO-RETENTION
        ctaFile:
          type: string
          description: |-
            Length: 1
            CTA file.

            VisionPLUS Service Data: AZXMAO-CTA-FILE
        transactionData:
          $ref: '#/components/schemas/ModifyAccountBalanceResponse.TransactionData'
        letterData:
          $ref: '#/components/schemas/ModifyAccountBalanceResponse.LetterData'
    ModifyAccountBalanceResponse.Account:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3
            Organization number.

            VisionPLUS Service Data: AZXMAO-ACCT-ORG
          format: int32
        logo:
          type: integer
          description: |-
            Length: 3
            Logo.

            VisionPLUS Service Data: AZXMAO-ACCT-LOGO
          format: int32
        number:
          type: string
          description: |-
            Length: 19
            Number.

            VisionPLUS Service Data: AZXMAO-ACCT-NBR
    ModifyAccountBalanceResponse.LetterData:
      type: object
      properties:
        organization:
          type: string
          description: |-
            Length: 3
            Organization.

            VisionPLUS Service Data: AZXMAO-LTR-ORG
        code:
          type: string
          description: |-
            Length: 3
            Code.

            VisionPLUS Service Data: AZXMAO-LETTER
    ModifyAccountBalanceResponse.TransactionData:
      type: object
      properties:
        currencyData:
          $ref: '#/components/schemas/ModifyAccountBalanceResponse.TransactionData.CurrencyData'
        actionCode:
          type: string
          description: |-
            Length: 5
            Action code.

            VisionPLUS Service Data: AZXMAO-ACTION-CODE
        effectiveDate:
          type: string
          description: |-
            Effective date.

            VisionPLUS Service Data: AZXMAO-EFF-DATE
          format: date
        feeAmount:
          type: number
          description: |-
            Length: 17
            Fee Amount.

            VisionPLUS Service Data: AZXMAO-FEE-AMT
        transactionCode:
          type: string
          description: |-
            Length: 3
            Transaction code.

            VisionPLUS Service Data: AZXMAO-TXN-CODE
        transactionAmount:
          type: number
          description: |-
            Length: 17
            Transaction amount.

            VisionPLUS Service Data: AZXMAO-TRAN-AMT
        transactionDescription:
          type: string
          description: |-
            Length: 40
            Transaction description.

            VisionPLUS Service Data: AZXMAO-TXN-DESC
        creditLimit:
          type: number
          description: |-
            Length: 17
            Credit Limit.

            VisionPLUS Service Data: AZXMAO-CREDIT-LIMIT
        openToBuy:
          type: number
          description: |-
            Length: 17
            Open to buy.

            VisionPLUS Service Data: AZXMAO-OPEN-TO-BUY
        cashAvailable:
          type: number
          description: |-
            Length: 17
            Cash available.

            VisionPLUS Service Data: AZXMAO-CASH-AVAIL-CR
        planNumber:
          type: string
          description: |-
            Length: 5
            Plan number.

            VisionPLUS Service Data: AZXMAO-PLAN-NBR
        currentBalance:
          type: number
          description: |-
            Length: 17
            Current balance.

            VisionPLUS Service Data: AZXMAO-CURR-BAL
        planSequence:
          type: integer
          description: |-
            Length: 2
            Plan sequence.

            VisionPLUS Service Data: AZXMAO-PLAN-SEQ
          format: int32
        storeNumber:
          type: string
          description: |-
            Length: 9
            Store number.

            VisionPLUS Service Data: AZXMAO-STORE-NBR
        departmentCode:
          type: string
          description: |-
            Length: 4
            Department code.

            VisionPLUS Service Data: AZXMAO-DEPT-NBR
        authorizationCode:
          type: string
          description: |-
            Length: 6
            Authorization code.

            VisionPLUS Service Data: AZXMAO-AUTH-NBR
        stockKeepingUnitNumber:
          type: string
          description: |-
            Length: 3
            Stock keeping unit number.

            VisionPLUS Service Data: AZXMAO-SKU-NBR
        salesClerk:
          type: string
          description: |-
            Length: 12
            Sales clerk.

            VisionPLUS Service Data: AZXMAO-CLERK
        ticketNumber:
          type: string
          description: |-
            Length: 15
            Ticket number.

            VisionPLUS Service Data: AZXMAO-TICKET-NBR
        purchaseOrderNumber:
          type: string
          description: |-
            Length: 16
            Purchase order number.

            VisionPLUS Service Data: AZXMAO-PURCHASE-ORDER-NBR
        referenceNumber:
          type: string
          description: |-
            Length: 24
            Reference number.

            VisionPLUS Service Data: AZXMAO-REFERENCE-NBR
        insuranceCode:
          type: string
          description: |-
            Length: 2
            Insurance code.

            VisionPLUS Service Data: AZXMAO-INS
        reversalDate:
          type: string
          description: |-
            Reversal date.

            VisionPLUS Service Data: AZXMAO-REV-DATE
          format: date
        reversalTime:
          type: string
          description: |-
            Length: 7
            Reversal time.

            VisionPLUS Service Data: AZXMAO-REV-TIME
        storeOrganizationNumber:
          type: integer
          description: |-
            Length: 3
            Store organization number.

            VisionPLUS Service Data: AZXMAO-STORE-ORG
          format: int32
        approvalIndicator:
          type: string
          description: |-
            Length: 1
            Approval indicator.

            VisionPLUS Service Data: AZXMAO-APPR-DECL
        monetaryType:
          type: string
          description: |-
            Length: 1
            Monetary type.

            VisionPLUS Service Data: AZXMAO-MON-TYPE
        pointsProgram:
          type: integer
          description: |-
            Length: 1
            Points program.

            VisionPLUS Service Data: AZXMAO-PTS-PGM
          format: int32
        pointsAmount:
          type: number
          description: |-
            Length: 9
            Points amount.

            VisionPLUS Service Data: AZXMAO-PTS-AMT
        referenceNum:
          type: string
          description: |-
            Length: 15
            Reference.

            VisionPLUS Service Data: AZXMAO-R-REF-NBR
        fundCard:
          type: string
          description: |-
            Length: 19
            Fund card.

            VisionPLUS Service Data: AZXMAO-PD-FUND-CARD
        fundCardDeclinedReason:
          type: string
          description: |-
            Length: 30
            Fund card declined reason.

            VisionPLUS Service Data: AZXMAO-PD-DECL-RSN
        currencyNumber:
          type: string
          description: |-
            Length: 3
            Currency number.

            VisionPLUS Service Data: AZXMAO-WALLET
        authorizationNumber:
          type: string
          description: |-
            Length: 6
            Authorization number.

            VisionPLUS Service Data: AZXMAO-AUTH-NUMBER
    ModifyAccountBalanceResponse.TransactionData.CurrencyData:
      type: object
      properties:
        currencyCode:
          type: string
          description: |-
            Length: 3
            Currency code.

            VisionPLUS Service Data: AZXMAO-CURRENCY-CODE
        currencyNumberOfDecimal:
          type: integer
          description: |-
            Length: 1
            Currency number of decimal.

            VisionPLUS Service Data: AZXMAO-CURRENCY-NOD
          format: int32
    InstantCardAddRequest:
      required:
      - accountCreateFlag
      - customerNumber
      - embosserName
      - logo
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization Number.

            VisionPLUS Service Data: AZXICI-ORG
          format: int32
          example: 807
        logo:
          type: integer
          description: |-
            Length: 3

            Logo number.

            VisionPLUS Service Data: AZXICI-LOGO
          format: int32
          example: 400
        customerNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19

            Customer Number.

            VisionPLUS Service Data: AZXICI-CUST-NBR
          example: "4513074002573466583"
        embosserName:
          maxLength: 2147483647
          minLength: 1
          type: string
          description: |-
            Length: 20

            Embosser Name.

            VisionPLUS Service Data: AZXICI-EMBOSSER-NAME
          example: Example embosser name
        accountCreateFlag:
          maxLength: 1
          minLength: 1
          type: string
          description: |-
            Length: 1

            This field indicates whether new account needs to be created or not. If new account needs to created then value needs to populated in Account data. If only card needs to be created then existing account number should be passed.

            VisionPLUS Service Data: AZXICI-ACCT-CREATE
          example: "Y"
          enum:
          - "Y,N"
        accountData:
          $ref: '#/components/schemas/InstantCardAddRequest.AccountData'
      description: InstantCardAdd add Request
    InstantCardAddRequest.AccountData:
      required:
      - billingCycle
      - digitalCardFlag
      - owningBranchNumber
      type: object
      properties:
        creditLimit:
          type: number
          description: |-
            Length: 17

            Credit limit.

            VisionPLUS Service Data: AZXICI-CREDIT-LIMIT
          example: 3000000
        billingCurrency:
          type: integer
          description: |-
            Length: 3

            Billing currency.

            VisionPLUS Service Data: AZXICI-BILLING-CURR
          format: int32
          example: 840
        accountNumber:
          type: string
          description: |-
            Length: 19

            Account number.

            Should be passed if accountCreateFlag is 'N'.

            VisionPLUS Service Data: AZXICI-BS-ACCT
          example: "123456666666"
        billingAccountIndicator:
          type: integer
          description: |-
            Length: 1

            Billing account indicator.

            VisionPLUS Service Data: AZXICI-BILLING-ACCT-IND
          format: int32
          example: 1
        relationshipPrimaryAccountFlag:
          type: string
          description: |-
            Length: 1

            Relationship Number.

            The values are:

            Blank = Not primary account

            P = Primary account.

            VisionPLUS Service Data: AZXICI-REL-PRIM-ACCT-FLAG
          example: P
        relationshipNumber:
          type: string
          description: |-
            Length: 19

            Relationship Number.

            VisionPLUS Service Data: AZXICI-REL-NBR
          example: "4567890123000000000"
        relationshipBillingLevel:
          type: integer
          description: |-
            Length: 1

            Code that indicates whether billing occurs for the account at the relationship level or subordinate account level.

            The values are:

            0 = Relationship level

            1 = Subordinate account level. (Default)

            VisionPLUS Service Data: AZXICI-REL-BILL-LVL
          format: int32
          example: 0
        dualBillingFlag:
          type: integer
          description: |-
            Length: 1

            Code that indicates whether CMS uses the foreign or local currency to request the minimum payment.

            0 = Dual billing is not active. Bill the foreign account in the foreign currency. Two statements are generated, one in the foreign currency and one in the local currency.

            1 = Dual billing is active. Bill the foreign account in the local currency. Two statements are generated in the local currency.

            VisionPLUS Service Data: AZXICI-DUAL-BILLING-FL
          format: int32
          example: 0
        relationshipCardScheme:
          type: integer
          description: |-
            Length: 1

            Relationship card scheme.

            VisionPLUS Service Data: AZXICI-REL-CARD-SCHEME
          format: int32
          example: 0
        shortName:
          type: string
          description: |-
            Length: 20

            Short name of the Account Holder.

            VisionPLUS Service Data: AZXICI-SHORT-NAME
          example: Test account
        statementFrequency:
          type: integer
          description: |-
            Length: 2

            Statement frequency.

            VisionPLUS Service Data: AZXICI-STATEMENT-FREQ
          format: int32
          example: 0
        statementFlag:
          type: string
          description: |-
            Length: 1

            Statement flag.
            VisionPLUS Service Data: AZXICI-STATEMENT-FLAG
          example: "1"
        cashPlanNumber:
          type: integer
          description: |-
            Length: 5

            Cash Plan Number.

            VisionPLUS Service Data: AZXICI-CASH-PLAN-NBR
          format: int32
          example: 0
        retailPlanNumber:
          type: integer
          description: |-
            Length: 5

            Retail Plan Number.

            VisionPLUS Service Data: AZXICI-RETAIL-PLAN-NBR
          format: int32
          example: 0
        promoPlanNumber:
          type: integer
          description: |-
            Length: 5

            Promotional Plan Number.

            VisionPLUS Service Data: AZXICI-PROMO-PLAN-NBR
          format: int32
          example: 0
        stateOfResidenceId:
          type: string
          description: |-
            Length: 3

            State of residence ID.

            VisionPLUS Service Data: AZXICI-STATE-OF-RESID
          example: RSA
        stateOfIssuanceId:
          type: string
          description: |-
            Length: 3

            State of issuance ID.

            VisionPLUS Service Data: AZXICI-STATE-OF-ISSUE
          example: RSA
        processingControlTableControlId:
          type: string
          description: |-
            Length: 3
            PCT ID.
            VisionPLUS Service Data: AZXICI-PCT-CTL-ID
          example: "123"
        processingControlTableStartDate:
          type: string
          description: |-
            Processing control Start Date.

            VisionPLUS Service Data: AZXICI-PCT-START-DATE
          format: date
        processingControlTableExpireDate:
          type: string
          description: |-
            Processing control expiration Date.

            VisionPLUS Service Data: AZXICI-PCT-EXPIRE-DATE
          format: date
        processingControlTableLevel:
          type: string
          description: |-
            Length: 1

            Processing control.

            The values are:

            Space = PCT level override is not used

            S = System-level

            O = Organization-level

            L = Logo-level

            VisionPLUS Service Data: AZXICI-PCT-LEVEL
          example: O
        processingControlTableLevelStartDate:
          type: string
          description: |-
            Processing control Level Start Date.

            VisionPLUS Service Data: AZXICI-PCT-LEVEL-START-DATE
          format: date
        processingControlTableLevelExpireDate:
          type: string
          description: |-
            Processing control Level expiration Date.

            VisionPLUS Service Data: AZXICI-PCT-LEVEL-EXPIR-DATE
          format: date
        ddaAccountNumber:
          type: string
          description: |-
            Length: 19

            dda Account Number
            VisionPLUS Service Data: AZXICI-DDA-ACCT-NBR
          example: "34234234324"
        savAccountNumber:
          type: string
          description: |-
            Length: 19

            sav Account Number
            VisionPLUS Service Data: AZXICI-SAV-ACCT-NBR
          example: "84342430"
        cardTechnology:
          type: string
          description: |-
            Length: 1

            Flag that identifies the current card technology used for this account.

            The values are:

            0 = Magnetic-stripe card(s) are on issue

            1 = Smart card(s) are on issue

            2 = Magnetic-stripe contactless card(s) are on issue

            3 = Smart contactless card(s) are on issue

            VisionPLUS Service Data: AZXICI-CARD-TECHNOLOGY
          example: "3"
        temporaryCreditLimit:
          type: number
          description: |-
            Length: 17

            Temporary credit limit for the account.

            VisionPLUS Service Data: AZXICI-TEMP-CRLIM
          example: 12745787
        dateTemporaryCreditLimit:
          type: string
          description: |-
            date Temporary Credit Limit.
            VisionPLUS Service Data: AZXICI-DATE-TEMP-CRLIM-EXP
          format: date
        sameDayProcessingType:
          type: integer
          description: |-
            Length: 1
            same Day Processing Type. VisionPLUS Service Data: AZXICI-SDP-PROCESS-TYPE
          format: int32
          example: 1
        instantCardOfTransactionsLimit:
          type: integer
          description: |-
            Length: 6
            instant Card Of Transactions Limit.
            VisionPLUS Service Data: AZXICI-IC-TOT-NUM-TXNS
          format: int32
          example: 1234
        cardActionFlag:
          type: integer
          description: |-
            Length: 1

            Card action flag.

            VisionPLUS Service Data: AZXICI-CARD-ACTION
          format: int32
          example: 1
        billingCycle:
          type: integer
          description: |-
            Length: 2

            Billing cycle.

            VisionPLUS Service Data: AZXICI-BILLING-CYCLE
          format: int32
          example: 25
        owningBranchNumber:
          type: integer
          description: |-
            Length: 9

            Owning branch number.

            VisionPLUS Service Data: AZXICI-OWNING-BRANCH-NBR
          format: int32
          example: 1
        digitalCardFlag:
          type: integer
          description: |-
            Length: 1

            Code that indicates whether to add a new digital card.

            The values are:

            0 = Do not add new digital card

            1 = Add new digital card

            VisionPLUS Service Data: AZXICI-DIGITAL-CARD
          format: int32
          example: 1
          enum:
          - null
    InstantCardAddResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization number.

            VisionPLUS Service Data: AZXICO-ORG
          format: int32
          example: 890
        logo:
          type: integer
          description: |-
            Length: 3

            Logo.

            VisionPLUS Service Data: AZXICO-LOGO
          format: int32
        customerNumber:
          type: string
          description: |-
            Length: 19

            Customer number.

            VisionPLUS Service Data: AZXICO-CUST-NBR
          example: "4513074002573466600"
        accountNumber:
          type: string
          description: |-
            Length: 19

            Account number.

            VisionPLUS Service Data: AZXICO-VACCT-NBR
          example: "4513074002573466600"
        cardNumberOfInstantCard:
          type: string
          description: |-
            Length: 19

            Card number of instant card.

            VisionPLUS Service Data: AZXICO-VCARD-NBR
          example: "4513074002573466600"
        cardSequenceNumber:
          type: integer
          description: |-
            Length: 4

            Card sequence number.

            VisionPLUS Service Data: AZXICO-VCARD-SEQ-NBR
          format: int32
        creditLimit:
          type: number
          description: |-
            Length: 17

            Credit limit.

            VisionPLUS Service Data: AZXICO-VCRLIM
        expiryDate:
          type: string
          description: |-
            Length: 10

            Expirate Date.

            VisionPLUS Service Data: AZXICO-VCARD-DATE-EXPIRE
          format: date
    AccountForDetailsL8vgRequest:
      required:
      - accountNumber
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Organization Number.
            VisionPLUS Service Data: AZXAII-ORG
          format: int32
          example: 807
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19

            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token)
            VisionPLUS Service Data: AZXAII-ACCT
          example: "4513074002573466583"
        foreignUse:
          type: string
          description: |-
            Length: 1

            The FOREIGN USE indicator is provided in the input message so the requesting source can specify whether the request applies to the local or foreign account when the account is in a dual currency processing organization. The default is to the local account.
            VisionPLUS Service Data: AZXAII-FOREIGN-USE
          example: "0"
      description: Account Detail L8VG Request
    AccountForDetailsL8vgResponse:
      type: object
      properties:
        currencyNumberOfDecimal:
          type: integer
          description: |-
            Length: 1
            Currency number of decimal.
            VisionPLUS Service Data: AZXAIO-CURRENCY-NOD
          format: int32
        currencyCode:
          type: integer
          description: |-
            Length: 3

            Currency code.

            VisionPLUS Service Data: AZXAIO-CURRENCY-CODE
          format: int32
        foreignUse:
          type: integer
          description: |-
            Length: 1

            The FOREIGN USE indicator is provided in the input message so the requesting source can specify whether the request applies to the local or foreign account when the account is in a dual currency processing organization.

            The default is to the local account.

            VisionPLUS Service Data: AZXAIO-FOREIGN-USE
          format: int32
        accountData:
          $ref: '#/components/schemas/AccountForDetailsL8vgResponse.AccountData'
        customerData:
          $ref: '#/components/schemas/AccountForDetailsL8vgResponse.CustomerData'
        qualification:
          type: string
          description: |-
            Length: 1

            Global qualification.
            VisionPLUS Service Data: AZXAIO-GLOBAL-QUALIFICATION
        checkingAccountRouting:
          type: string
          description: "Length: 10\n\nChecking account routing number. \n\nVisionPLUS\
            \ Service Data: AZXAIO-CHK-ACCT-ROUT"
        checkingAccount:
          type: string
          description: "Length: 19\n\nChecking account number. \n\nVisionPLUS Service\
            \ Data: AZXAIO-CHK-ACCT"
        savingsAccountRouting:
          type: string
          description: |-
            Length: 10

            Saving account routing number.

            VisionPLUS Service Data: AZXAIO-SAVE-ACCT-ROUT
        savingsAccount:
          type: string
          description: |-
            Length: 19

            Saving account number.

            VisionPLUS Service Data: AZXAIO-SAVE-ACCT
        vipIndicator:
          type: string
          description: VIP indicator
        logoDescription:
          type: string
          description: |-
            Length: 30

            Logo description.

            VisionPLUS Service Data: AZXAIO-LOGO-DESC
        lastMaintenanceDate:
          type: string
          description: Last Maintenance Date
        disputeItemsNumber:
          type: integer
          description: Dispute items number
          format: int32
        yearlyAmountReturns:
          type: number
          description: Yearly amount returns
        amountReturns:
          type: number
          description: Amount returns
        dateLastCycle:
          type: string
          description: Last Cycle Date
          format: date
        authorizationLimitOverrideFlag:
          type: integer
          description: Authorization limit override flag
          format: int32
        beginningBalance:
          type: string
          description: Beginning Balance
        cycleToDateNumberofDebits:
          type: string
          description: Cycle to date number of debits.
        cycleToDateDebitAmount:
          type: string
          description: Cycle to date debit amount.
        replaceDebitAscredit:
          type: string
          description: Replace debit as credit.
        replaceAmountAscredit:
          type: string
          description: Replace amount as credit.
        alternateCustomerNumberFlag:
          type: string
          description: |-
            Length: 1

            Alternate Customer Number Flag. This field returns the alternate customer number Flag as String.
    AccountForDetailsL8vgResponse.AccountData:
      type: object
      properties:
        organization:
          type: integer
          description: |-
            Length: 3

            Organization.

            VisionPLUS Service Data: AZXAIO-ORG
          format: int32
          example: 890
        accountNumber:
          type: string
          description: |-
            Length: 19

            Account.

            VisionPLUS Service Data: AZXAIO-ACCT
        logo:
          type: integer
          description: |-
            Length: 3

            Logo.

            VisionPLUS Service Data: AZXAIO-LOGO
          format: int32
        addStatus:
          type: integer
          description: |-
            Length: 2

            Add status.

            VisionPLUS Service Data: AZXAIO-ADD-STATUS
          format: int32
        shortName:
          type: string
          description: |-
            Length: 20

            Short name.

            VisionPLUS Service Data: AZXAIO-SHORT-NAME
        customerNumber:
          type: string
          description: |-
            Length: 19

            Customer number.

            VisionPLUS Service Data: AZXAIO-CUST-NBR
        alternateCustomerNumber:
          type: string
          description: |-
            Length: 19

            Alternate customer number.

            VisionPLUS Service Data: AZXAIO-ALT-CUST-NBR
        userAccountNumber:
          type: string
          description: |-
            Length: 19

            User account number.

            VisionPLUS Service Data: AZXAIO-USER-ACCT-NBR
        residenceId:
          type: string
          description: |-
            Length: 3

            Residence ID.

            VisionPLUS Service Data: AZXAIO-STATE-OF-RESID
        issuanceId:
          type: string
          description: |-
            Length: 3

            Issuance ID.

            VisionPLUS Service Data: AZXAIO-STATE-OF-ISSUE
        accountKey:
          $ref: '#/components/schemas/AccountForDetailsL8vgResponse.AccountData.AccountKey'
        accountType:
          type: string
          description: |-
            Length: 1

            Account type.

            VisionPLUS Service Data: AZXAIO-ACCT-TYPE
        internalStatus:
          type: string
          description: |-
            Length: 1

            Internal status.

            VisionPLUS Service Data: AZXAIO-INT-STATUS
        chargeOffStatus:
          type: string
          description: |-
            Length: 1

            Charge-off status.

            VisionPLUS Service Data: AZXAIO-CHGOFF-STATUS
        overLimitFlag:
          type: string
          description: |-
            Length: 1

            Overlimit flag.

            VisionPLUS Service Data: AZXAIO-OVERLIMIT-FLAG
        overLimitFeeIndicator:
          type: string
          description: |-
            Length: 1

            Waive overlimit fee indicator. The values are:

            0 = Do not waive the overlimit fee

            1 = Waive the overlimit fee

            VisionPLUS Service Data: AZXAIO-CYCLE-OVRLIM-FEE-IND
        numberOfCyclesOverLimit:
          type: integer
          description: |-
            Length: 3

            Number of cycles overlimit.

            VisionPLUS Service Data: AZXAIO-OVRLIM-NBR-CYCLES
          format: int32
        conditionOfAccount:
          type: integer
          description: |-
            Length: 1

            Condition of account.

            VisionPLUS Service Data: AZXAIO-COND-OF-ACCT
          format: int32
        blockCode1:
          type: string
          description: |-
            Length: 1

            Block code 1.

            VisionPLUS Service Data: AZXAIO-BLOCK-CODE-1
        blockCode1Priority:
          type: string
          description: |-
            Length: 2

            Priority level used to control assignment of block code 1.

            VisionPLUS Service Data: AZXAIO-BLOCK-CODE-1-PRIORITY
        blockCode2:
          type: string
          description: |-
            Length: 1

            Block code 2.

            VisionPLUS Service Data: AZXAIO-BLOCK-CODE-2
        blockCode2Priority:
          type: string
          description: |-
            Length: 2

            Priority level used to control assignment of block code 2.

            VisionPLUS Service Data: AZXAIO-BLOCK-CODE-2-PRIORITY
        issueFlag:
          type: string
          description: |-
            Length: 1

            Issue flag.

            VisionPLUS Service Data: AZXAIO-ISSUE-FLAG
        cardUsageFlag:
          type: string
          description: |-
            Length: 1

            Card usage flag.

            VisionPLUS Service Data: AZXAIO-CARD-USAGE-FLAG
        percentageLevel:
          type: string
          description: |-
            Length: 1

            Percentage level.
             +VisionPLUS Service Data: AZXAIO-PCT-LEVEL
        percentageLevelStartDate:
          type: string
          description: |-
            Percentage level start date.
            VisionPLUS Service Data: AZXAIO-PCT-LEVEL-START-DATE
          format: date
        percentageLevelExpirationDate:
          type: string
          description: |-
            Percentage level expiration date.
             +VisionPLUS Service Data: AZXAIO-PCT-LEVEL-EXPIR-DATE
          format: date
        percentageId:
          type: string
          description: |-
            Length: 3

            Percentage id.
             +VisionPLUS Service Data: AZXAIO-PCT-CTL-ID
        percentageStartDate:
          type: string
          description: |-
            Percentage start date.
             +VisionPLUS Service Data: AZXAIO-PCT-START-DATE
          format: date
        percentageExpirationDate:
          type: string
          description: |-
            Percentage expiration date.
             +VisionPLUS Service Data: AZXAIO-PCT-EXPIR-DATE
          format: date
        accountControlTableOverride:
          type: integer
          description: |-
            Length: 3

            Account control table override.

            VisionPLUS Service Data: AZXAIO-CTL-TBL-OVRRD
          format: int32
        billingCycle:
          type: string
          description: |-
            Length: 2

            Billing cycle.

            VisionPLUS Service Data: AZXAIO-BILLING-CYCLE
        currentBalance:
          type: number
          description: |-
            Length: 17

            Current balance.

            VisionPLUS Service Data: AZXAIO-CURR-BAL
        statementFlag:
          type: string
          description: |-
            Length: 1

            Statement flag.

            VisionPLUS Service Data: AZXAIO-STATEMENT-FLAG
        statementFrequency:
          type: integer
          description: |-
            Length: 2

            Statement frequency.

            VisionPLUS Service Data: AZXAIO-STMT-FREQ
          format: int32
        returnMailCounter:
          type: integer
          description: |-
            Length: 2

            Return mail counter.
            VisionPLUS Service Data: AZXAIO-RTN-MAIL-CTR
          format: int32
        returnMailDate:
          type: string
          description: |-
            Return mail date.

            VisionPLUS Service Data: AZXAIO-RTN-MAIL-DATE
          format: date
        storeOrganization:
          type: integer
          description: |-
            Length: 3

            Store organization.

            VisionPLUS Service Data: AZXAIO-SI-ORG
          format: int32
        storeNumber:
          type: number
          description: |-
            Length: 9

            Store number.

            VisionPLUS Service Data: AZXAIO-SI-NBR
        currentCollector:
          type: string
          description: |-
            Length: 3

            Current collector.

            VisionPLUS Service Data: AZXAIO-CURR-COL
        permanentCollector:
          type: string
          description: |-
            Length: 3

            Permanent collector.

            VisionPLUS Service Data: AZXAIO-PERM-COLL
        collectionReason:
          type: integer
          description: |-
            Length: 2

            Collection reason.
            VisionPLUS Service Data: AZXAIO-OLC-REASON
          format: int32
        collateralCode:
          type: string
          description: |-
            Length: 2

            Collateral code.

            VisionPLUS Service Data: AZXAIO-COLAT-CODE
        adverseActionData1:
          type: string
          description: |-
            Length: 2

            Adverse action data 1.

            VisionPLUS Service Data: AZXAIO-ADVERSE-ACTN-1
        adverseActionData2:
          type: string
          description: |-
            Length: 2

            Adverse action data 2.

            VisionPLUS Service Data: AZXAIO-ADVERSE-ACTN-2
        adverseActionData3:
          type: string
          description: |-
            Length: 2

            Adverse action data 3.

            VisionPLUS Service Data: AZXAIO-ADVERSE-ACTN-3
        ownerFlag:
          type: string
          description: |-
            Length: 1

            Owner flag.

            VisionPLUS Service Data: AZXAIO-OWNER-FLAG
        employeeCode:
          type: string
          description: |-
            Length: 2

            Employee code.

            VisionPLUS Service Data: AZXAIO-EMPLOYEE-CODE
        promotionCode:
          type: string
          description: |-
            Length: 20

            Promotion code.

            VisionPLUS Service Data: AZXAIO-PROMO-DATA
        waiveLateCharges:
          type: integer
          description: |-
            Length: 1

            Waive late charges.

            VisionPLUS Service Data: AZXAIO-WAIVE-LATE-CHG
          format: int32
        waiveLateNotices:
          type: integer
          description: |-
            Length: 1

            Waive late notices.

            VisionPLUS Service Data: AZXAIO-WAIVE-LATE-NOTC
          format: int32
        waiveInterestCharges:
          type: integer
          description: |-
            Length: 1

            Waive interest charges.

            VisionPLUS Service Data: AZXAIO-WAIVE-INTR-CHG
          format: int32
        waiveServiceFees:
          type: integer
          description: |-
            Length: 1

            Waive service fees.

            VisionPLUS Service Data: AZXAIO-WAIVE-FEE-CHG
          format: int32
        waiveLetterCharges:
          type: integer
          description: |-
            Length: 1

            Waive letter charges.

            VisionPLUS Service Data: AZXAIO-WAIVE-LTR-CHG
          format: int32
        waiveOverLimitFees:
          type: integer
          description: |-
            Length: 1

            Waive overlimit fees.

            VisionPLUS Service Data: AZXAIO-WAIVE-OVLM
          format: int32
        waiveOverLimitNotice:
          type: integer
          description: |-
            Length: 1

            Waive overlimit notice.

            VisionPLUS Service Data: AZXAIO-WAIVE-OVLM-NOTC
          format: int32
        waiveFeesIndicator:
          type: integer
          description: |-
            Length: 1

            Waive NSF fees indicator.

            VisionPLUS Service Data: AZXAIO-WAIVE-NSF-FEE-IND
          format: int32
        waiveCashAdvanceFee:
          type: integer
          description: |-
            Length: 1

            Waive cash advance fee.

            VisionPLUS Service Data: AZXAIO-WAIVE-CASH-ADV-FEE
          format: int32
        waiveUserFee1:
          type: integer
          description: |-
            Length: 1

            Waive user fee 1.

            VisionPLUS Service Data: AZXAIO-WAIVE-USER-FEE-1
          format: int32
        waiveUserFee2:
          type: integer
          description: |-
            Length: 1

            Waive user fee 2.

            VisionPLUS Service Data: AZXAIO-WAIVE-USER-FEE-2
          format: int32
        waiveUserFee3:
          type: integer
          description: |-
            Length: 1

            Waive user fee 3.

            VisionPLUS Service Data: AZXAIO-WAIVE-USER-FEE-3
          format: int32
        waiveUserFee4:
          type: integer
          description: |-
            Length: 1

            Waive user fee 4.

            VisionPLUS Service Data: AZXAIO-WAIVE-USER-FEE-4
          format: int32
        waiveUserFee5:
          type: integer
          description: |-
            Length: 1

            Waive user fee 5.

            VisionPLUS Service Data: AZXAIO-WAIVE-USER-FEE-5
          format: int32
        waiveUserFee6:
          type: integer
          description: |-
            Length: 1

            Waive user fee 6.

            VisionPLUS Service Data: AZXAIO-WAIVE-USER-FEE-6
          format: int32
        waiveCardFeeIndicator:
          type: integer
          description: |-
            Length: 1

            Waive card fee indicator.

            VisionPLUS Service Data: AZXAIO-WAIVE-CARD-FEE-IND
          format: int32
        waiveDormancyFees:
          type: integer
          description: |-
            Length: 1

            Waive dormancy fees (prepaid accounts only).

            VisionPLUS Service Data: AZXAIO-WAIVE-DORM-FEE
          format: int32
        waiveRefundFees:
          type: integer
          description: |-
            Length: 1

            Waive refund fees (prepaid accounts only).

            VisionPLUS Service Data: AZXAIO-WAIVE-REFUND-FEE
          format: int32
        waiveStatementFees:
          type: integer
          description: |-
            Length: 1

            Waive statement fees (prepaid accounts only).

            VisionPLUS Service Data: AZXAIO-WAIVE-STMT-FEE
          format: int32
        cycleSpendFeeFlag:
          type: string
          description: |-
            Length: 1

            Cycle spend fee flag.

            The values are:

            0 = Charge cycle spend fee

            1 = Waive cycle spend fee

            VisionPLUS Service Data: AZXAIO-CYCLE-SPEND-FEE-FLAG
        waiveMoratoriumPlanInterest:
          type: integer
          description: |-
            Length: 1

            Waive moratorium plan interest.

            VisionPLUS Service Data: ARXAIO-WAIVE-MORA-INT
          format: int32
        duplicateStatementAddressFlag:
          type: string
          description: |-
            Length: 1

            Duplicate statement address flag.

            VisionPLUS Service Data: AZXAIO-DUP-STMT-ADDR-FLAG
        directDebitPaymentReversalCounter:
          type: string
          description: |-
            Length: 1

            Direct debit payment reversal counter.

            VisionPLUS Service Data: AZXAIO-DD-PMT-REV-CTR
        creditBureauCreditScore:
          type: number
          description: |-
            Length: 5

            Credit bureau credit score.

            VisionPLUS Service Data: AZXAIO-CB-CR-SCORE
        applicationCreditScore:
          type: number
          description: |-
            Length: 5

            Application credit score.

            VisionPLUS Service Data: AZXAIO-APPL-CR-SCORE
        miscellaneousCreditScore:
          type: number
          description: |-
            Length: 5

            Miscellaneous credit score.

            VisionPLUS Service Data: AZXAIO-MISC-CR-SCORE
        lastCreditClass:
          type: string
          description: |-
            Length: 2

            Last credit class.

            VisionPLUS Service Data: AZXAIO-LAST-CR-CLASS
        creditLimit:
          type: number
          description: |-
            Length: 17

            Credit limit.

            VisionPLUS Service Data: AZXAIO-CRLIM
        lastCreditLimitAssignedToTheAccount:
          type: number
          description: |-
            Length: 17

            Last credit limit assigned to the account.

            VisionPLUS Service Data: AZXAIO-LAST-CRLIM
        income:
          type: number
          description: |-
            Length: 17

            Income.

            VisionPLUS Service Data: AZXAIO-INCOME
        numberOfNonSufficientFunds:
          type: number
          description: |-
            Length: 3

            Number of NSFs.

            VisionPLUS Service Data: AZXAIO-NBR-NSF
        numberOfUnblockedCards:
          type: number
          description: |-
            Length: 5

            Number of unblocked cards.

            VisionPLUS Service Data: AZXAIO-NBR-UNBLKED-CARDS
        cycleToDatePayment:
          type: number
          description: |-
            Length: 17

            Cycle-to-date payment.

            VisionPLUS Service Data: AZXAIO-PMT-CTD
        paymentSkipFlag:
          type: string
          description: |-
            Length: 1

            Payment skip flag.

            VisionPLUS Service Data: AZXAIO-PMT-SKIP-FLAG
        paymentRecency:
          type: integer
          description: |-
            Length: 1

            Payment recency.

            VisionPLUS Service Data: AZXAIO-PMT-RECENCY
          format: int32
        paymentCycleDue:
          type: integer
          description: |-
            Length: 1

            Payment cycle due.

            VisionPLUS Service Data: AZXAIO-PMT-CYCLE-DUE
          format: int32
        paymentAmountPrepaid:
          type: number
          description: |-
            Length: 17

            Payment amount prepaid.

            VisionPLUS Service Data: AZXAIO-PMT-AMT-PREPAID
        totalAmountDue:
          type: number
          description: |-
            Length: 17

            Total amount due.

            VisionPLUS Service Data: AZXAIO-PMT-TOT-AMT-DUE
        delinquencyData:
          $ref: '#/components/schemas/AccountFotDetailsL8vgResponse.AccountData.DelinquencyData'
        warningCodeList:
          type: array
          items:
            $ref: '#/components/schemas/AccountForDetailsL8vgResponse.AccountData.WarningCodeList'
        amountOfLastPayment:
          type: number
          description: |-
            Length: 17

            Amount of last payment.

            VisionPLUS Service Data: AZXAIO-PMT-LAST-AMT
        projectedAchAmount:
          type: number
          description: |-
            Length: 17

            Projected ACH amount.

            VisionPLUS Service Data: AZXAIO-PROJ-ACH-PMT
        amountOfLastDebit:
          type: number
          description: |-
            Length: 17

            Amount of last debit.

            VisionPLUS Service Data: AZXAIO-AMT-LAST-DB
        availableCredit:
          type: number
          description: |-
            Length: 17

            Available credit.

            VisionPLUS Service Data: AZXAIO-AVAIL-CREDIT
        amountOfLastPurchase:
          type: number
          description: |-
            Length: 17

            Amount of last purchase.

            VisionPLUS Service Data: AZXAIO-AMT-LAST-PURCH
        lastYearToDateInterest:
          type: number
          description: |-
            Length: 17

            Last YTD interest.

            VisionPLUS Service Data: AZXAIO-LAST-YTD-IN
        currentYearToDateInterestPaid:
          type: number
          description: |-
            Length: 17

            Current YTD interest paid.

            VisionPLUS Service Data: AZXAIO-CURR-YTD-INT-PAID
        disputedItemsAmount:
          type: number
          description: |-
            Length: 17

            Disputed items amount.

            VisionPLUS Service Data: AZXAIO-AMT-DISPU-ITEMS
        chargeOffReason:
          type: string
          description: |-
            Length: 2

            Charge-off reason.

            VisionPLUS Service Data: AZXAIO-CHGOFF-REASON
        interestEnrollmentState:
          type: string
          description: |-
            Length: 3

            Interest enrollment state.

            VisionPLUS Service Data: AZXAIO-INTR-STATE
        codeIdentifiesOfficerResponsibleForAccount:
          type: string
          description: |-
            Length: 3

            Code that identifies the officer responsible for the account.

            VisionPLUS Service Data: AZXAIO-OFFICER-CODE
        memoDebitAmount:
          type: number
          description: |-
            Length: 17

            Memo debit amount.

            VisionPLUS Service Data: AZXAIO-AMT-MEMO-DB
        memoCreditAmount:
          type: number
          description: |-
            Length: 17

            Memo credit amount.

            VisionPLUS Service Data: AZXAIO-AMT-MEMO-CR
        cashAvailableCreditLimit:
          type: number
          description: |-
            Length: 17

            Cash available credit limit.

            VisionPLUS Service Data: AZXAIO-CASH-AVAIL-CREDIT
        cashCreditLimit:
          type: number
          description: |-
            Length: 17

            Cash credit limit.

            VisionPLUS Service Data: AZXAIO-CASH-CRLIM
        numberOfTimesInCollections:
          type: number
          description: |-
            Length: 3

            Number of times in collections.

            VisionPLUS Service Data: AZXAIO-CTA-TIMES-IN-COLL
        pendingPercentage:
          type: string
          description: |-
            Length: 3

            Pending percentage.

            VisionPLUS Service Data: AZXAIO-PEND-PCT
        cashPlanNumber:
          type: number
          description: |-
            Length: 5

            Cash plan number.

            VisionPLUS Service Data: AZXAIO-CASH-PLAN-NBR
        retailPlanNumber:
          type: number
          description: |-
            Length: 5

            Retail plan number.

            VisionPLUS Service Data: AZXAIO-RETAIL-PLAN-NBR
        localUseIndicator:
          type: integer
          description: |-
            Length: 1

            Local use indicator.

            VisionPLUS Service Data: AZXAIO-LOCAL-USE-IND
          format: int32
        secured:
          type: integer
          description: |-
            Length: 1

            Secured.

            VisionPLUS Service Data: AZXAIO-SECUR
          format: int32
        collateral:
          type: integer
          description: |-
            Length: 2

            Collateral.

            VisionPLUS Service Data: AZXAIO-CLLTRL
          format: int32
        relationshipNumber:
          type: string
          description: |-
            Length: 19

            Relationship number.

            VisionPLUS Service Data: AZXAIO-REL-NBR
        relationshipCardScheme:
          type: integer
          description: |-
            Length: 1

            Relationship card scheme.

            VisionPLUS Service Data: AZXAIO-REL-CARD-SCHEME
          format: int32
        relationshipPrimaryAccountFlag:
          type: string
          description: |-
            Length: 1

            Relationship primary account flag.

            VisionPLUS Service Data: AZXAIO-REL-PRIM-ACCT-FLAG
        creditBureauSpecialComment:
          type: string
          description: |-
            Length: 2

            Credit bureau special comment.

            VisionPLUS Service Data: AZXAIO-CB-SPEC-COMMENT
        temporaryCreditLimit:
          type: number
          description: |-
            Length: 17

            Temporary credit limit.

            VisionPLUS Service Data: AZXAIO-TEMP-CRLIM
        expirationDateOfTemporaryCreditLimit:
          type: string
          description: |-
            Expiration date of temporary credit limit.

            VisionPLUS Service Data: AZXAIO-DATE-TEMP-CRLIM-EXP
          format: date
        customerOrganization:
          type: integer
          description: |-
            Length: 3

            Customer organization.

            VisionPLUS Service Data: AZXAIO-CUSTOMER-ORG
          format: int32
        loanAvailableLimit:
          type: number
          description: |-
            Length: 17

            Loan available limit.

            VisionPLUS Service Data: AZXAIO-LOAN-AVAIL
        billingCurrency:
          type: number
          description: |-
            Length: 3

            Billing currency.

            VisionPLUS Service Data: AZXAIO-BILLING-CURR
        numberOfReturnedPayments:
          type: number
          description: |-
            Length: 3

            Number of returned payments.

            VisionPLUS Service Data: AZXAIO-NBR-RTN-PMTS
        loanBalance:
          type: number
          description: |-
            Length: 17

            Loan balance.

            VisionPLUS Service Data: AZXAIO-LOAN-BALANCE
        loanCreditLimit:
          type: number
          description: |-
            Length: 17

            Loan credit limit.

            VisionPLUS Service Data: AZXAIO-LOAN-CRLIM
        lastCashAdvanceAmount:
          type: number
          description: |-
            Length: 17

            Last cash advance amount.

            VisionPLUS Service Data: AZXAIO-LAST-CASH-ADVAMOUNT
        prepaidType:
          type: integer
          description: |-
            Length: 1

            Prepaid type.

            VisionPLUS Service Data: AZXAIO-PREPAID-TYPE
          format: int32
        dateOfApplication:
          type: string
          description: |-
            Date of application.

            VisionPLUS Service Data: AZXAIO-DATE-APPLI
          format: date
        dateOpened:
          type: string
          description: |-
            Date opened.

            VisionPLUS Service Data: AZXAIO-DATE-OPENED
          format: date
        dateLastCreditBureauReport:
          type: string
          description: |-
            Date of the last credit bureau report.

            VisionPLUS Service Data: AZXAIO-DATE-BUREAU
          format: date
        blockCode1Date:
          type: string
          description: |-
            Block code 1 date.

            VisionPLUS Service Data: AZXAIO-DATE-BLOCK-CODE-1
          format: date
        blockCode2Date:
          type: string
          description: |-
            Block code 2 date.

            VisionPLUS Service Data: AZXAIO-DATE-BLOCK-CODE-2
          format: date
        dateLastStatusChange:
          type: string
          description: |-
            Date last status change.

            VisionPLUS Service Data: AZXAIO-DATE-LAST-STAT-CHG
          format: date
        dateAccountClosed:
          type: string
          description: |-
            Date account closed.

            VisionPLUS Service Data: AZXAIO-DATE-CLOSED
          format: date
        chargeOffDate:
          type: string
          description: |-
            Charge-off date.

            VisionPLUS Service Data: AZXAIO-DATE-CGOF
          format: date
        cardFeeDate:
          type: string
[...]
