openapi: 3.0.1
info:
  title: FirstVision™ Cards Issuing Service - API Documentation
  description: This documentation describes the REST APIs provided by the FirstVision™ Cards Microservice, which provides functionality for the issuing, management and processing of credit cards, including bank, co-branded, private label, debit, commercial, and prepaid
  version: "1.2"
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
tags:
- name: Customer
  description: 'Provides customer related operations'
paths:
  /customer/:
    post:
      tags:
      - Customer
      x-group-name: Customer Management
      x-proxy-name: Add Customer
      summary: Creates a Customer number and adds demographical information to the Customer record
      operationId:  Add new Customer
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        description: Add Customer Request
        content:
          application/json:
            schema:
              $ref: '#/definitions/AddCustomerRequest'
            example: |-
              {
                "customerData": {
                  "customerKeyData": {
                    "accountNumber": 9704010000000001467,      
                    "coOwnerIndicator": 1,
                    "dualFlag": 0
                  },
                  "customerMiscellaneousData": {
                    "vipStatus": 1
                  },
                  "ownerCoOwnerData": {
                    "coOwnerData": {       
                    },
                    "ownerData": {
                      "city": "BUENOS AIRES",
                      "contactIndicator": 12,
                      "countryCode": "ARG",
                      "county": "CABA",
                      "dateOfBirth": "2010-09-11",       
                      "demographic1": "USER DEMO 1",
                      "demographic2": "USER DEMO 2",
                      "demographic3": "USER DEMO 3",
                      "driverLicenseCountry": "",
                      "driverLicenseNumber": "123421",
                      "driverLicenseState": "",
                      "email": "ABC.DEF@yahoo.com",
                      "emailFlag": 1,
                      "employerAddress1": "EMP ADDR L1",
                      "employerAddress2": "EMP ADDR L2",
                      "employerExtensionPhoneNumber": 123456,
                      "employerName": "FISERV",
                      "employerPhoneFlag": 1,
                      "employerPhoneNumber": "123-456-7890",
                      "faxPhoneFlag": 1,
                      "firstName": "Pavan",
                      "foreignIndicator": "A",
                      "genderCode": 1,
                      "homeFaxPhoneNumber": "223-456-7890",
                      "homePhoneFlag": 1,
                      "homePhoneNumber": "123-456-9990",
                      "houseAddress1": "OWN ADDR L19",
                      "houseAddress2": "OWN ADDR L29",
                      "houseAddress3": "OWN ADDR L39",
                      "houseAddress4": "OWN ADDR L49",
                      "houseName": "Could be apartment's name",
                      "houseNumber": 12349,
                      "identificationNumber": 123456789,
                      "identificationNumberFlag": 2,
                      "languageIndicator": "ENG",
                      "lastName": "Sivale",
                      "mailingList": 1,
                      "maritalStatus": 1,
                      "memo1": "Memo 1",
                      "memo2": "Memo 2",
                      "middleName": "",
                      "mobilePhoneFlag": 1,
                      "mobilePhoneNumber": "323-456-7890",
                      "nameLine1": "string",
                      "nameLine2": "OWN NAME L2 TEST9",
                      "nameLine3": "OWN NAME L3",
                      "nameTypeIndicator1": 0,
                      "nameTypeIndicator2": 1,
                      "nameTypeIndicator3": 1,
                      "numberOfDependents": 999,
                      "ownOrRentResidenceFlag": 2,
                      "position": "CEO",
                      "relativeName": "Relative Name",
                      "smsFlag": 1,
                      "state": "BA",
                      "statementMessageIndicator": 1,
                      "suffix": "Sr"
                    }
                  }
                },
                "resvData": {
                }
              }
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/definitions/AddCustomerResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          schema:
            $ref: '#/definitions/DResponse'
      deprecated: false
      x-codegen-request-body-name: addrAddRq
    put:
      tags:
      - Customer
      summary: Updates the demographic and user data on the Customer record
      operationId: Update Customer
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        description: Update Customer Request
        content:
          application/json:
            schema:
              $ref: '#/definitions/UpdateCustomerRequest'
            example: |
                {
                  "carrierRoute": {
                  },
                  "city": "",
                  "countryCode": "",
                  "county": "",
                  "customerNumber": "9704010000000001467",
                  "dateOfBirth": "",
                  "demographicDataIndicator": 1,
                  "driverLicense": {
                  },
                  "email": "",
                  "employerPhoneNumber": "",
                  "firstName": "",
                  "homePhoneNumber": "",
                  "houseAddress1": "",
                  "houseAddress2": "",
                  "lastName": "",
                  "mobilePhoneNumber": "",
                  "numberType": 1,
                  "organizationNumber": 970,
                  "state": ""
                }
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/definitions/UpdateCustomerResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          schema:
            $ref: '#/definitions/DResponse'
      deprecated: false
      x-codegen-request-body-name: addrAddRq      
  /customer/accountNumber:
    post:
      tags:
      - Customer
      summary: Finds an Account number associated with a Customer number
      operationId:  Find An Account Number
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        description: Account Number Request
        content:
          application/json:
            schema:
              $ref: '#/definitions/CustomerToAccountInquiryRequest'
            example: |
              {
                "customerNumber": "9704010000000001467",
                "functionCode": "P",
                "organizationNumber": 970,
                "startToken": {
                  "accountNumber": "9704010000000001467",
                  "accountOrganizationNumber": 970,
                  "associationType": 0
                }
              }
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/definitions/CustomerToAccountInquiryResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          schema:
            $ref: '#/definitions/DResponse'
      deprecated: false
  /customer/demographicData:
    post:
      tags:
      - Customer
      summary: Requests demographic data from a Customer number
      operationId:  Inquire demographic data
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        description: Account Number Request
        content:
          application/json:
            schema:
              $ref: '#/definitions/DemographicInquiryRequest'
            example: |
              {
                "customerAccountCardNumber": "9704010000000001467",
                "foreignUseIndicator": 0,
                "numberType": 1,
                "organizationNumber": 970
              }
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/definitions/DemographicInquiryResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          schema:
            $ref: '#/definitions/DResponse'
      deprecated: false
  /customer/details:
      post:
      tags:
      - Customer
      summary: Gets card details associated with a Customer number
      operationId:  Get card details
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        description: Account Number Request
        content:
          application/json:
            schema:
              $ref: '#/definitions/CustomerChannelRequest'
            example: |
              {
                "customerNumber": "9704010000000001467",
                "functionCode": "",
                "organizationNumber": 970
              }
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/definitions/CustomerChannelResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          schema:
            $ref: '#/definitions/DResponse'
      deprecated: false
  /customer/details-l8v4:
    post:
      tags:
        - Customer
      summary: Get Customer Cards Details version 4
      operationId: Get Cards Details l8v4
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        description: Get Customer Cards Details Request l8v4
        content:
          application/json:
            schema:
              $ref: '#/definitions/CustomerChannelVersion4Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/definitions/CustomerChannelVersion4Response'
        '400':
          description: 'Bad Request, response = DResponse.class'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          schema:
            $ref: '#/definitions/DResponse'
      deprecated: false
  /customer/generation:
    post:
      tags:
      - Customer
      summary: This service generates customer, relationship, account, and embosser
        numbers.
      operationId:  Generate customer and account number
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        description: Account Number Request
        content:
          application/json:
            schema:
              $ref: '#/definitions/CmsNumberGenerationRequest'
            example: |
              {
                "dualIndicator": "1",
                "logo": "401",
                "organizationNumber": 970
              }
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/definitions/CmsNumberGenerationResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          schema:
            $ref: '#/definitions/DResponse'
      deprecated: false
  /customer/l8v2:
    post:
      tags:
        - Customer
      summary: >-
        Allows A Client To Add A Customer Name/Address Record 
      operationId: Add New Customer_1
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        description: Add Customer Request
        content:
          application/json:
            schema:
              $ref: '#/definitions/AddCustomerRequestL8V2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/definitions/AddCustomerResponseL8V2'
        '400':
          description: 'Bad Request, response = DResponse.class'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          schema:
            $ref: '#/definitions/DResponse'
      deprecated: false
  /customer/lookup:
    post:
      tags:
        - Customer
      summary: Customer Lookup
      operationId: Customer Lookup
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        description: Get Customer Lookup Request
        content:
          application/json:
            schema:
              $ref: '#/definitions/CustomerLookupRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/definitions/CustomerLookupResponse'
        '400':
          description: 'Bad Request, response = DResponse.class'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          schema:
            $ref: '#/definitions/DResponse'
      deprecated: false
  /customer/relationshipNumber:
    post:
      tags:
      - Customer
      summary: Finds the Relationship number associated with a Customer number
      operationId:  Find Relationship number
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        description: Account Number Request
        content:
          application/json:
            schema:
              $ref: '#/definitions/CustomerToRelationshipInquiryRequest'
            example: |
              {
                "customerNumber": "9704010000000001467",
                "functionCode": " ",
                "organizationNumber": 970
              }
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/definitions/CustomerToRelationshipInquiryResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          schema:
            $ref: '#/definitions/DResponse'
      deprecated: false
  /customer/{customerNumber}/relationshipNumber:
    post:
      tags:
      - Customer
      summary: Obtains the Relationship number associated with the Customer number
      operationId:  Inquire Relationship Customer
      parameters:
      - name: customerNumber
        in: path
        description: customerNumber
        required: true
        schema:
          type: string
          maxLength: 19
          minLength: 19
        example: "9704010000000001467"
      - name: organizationNumber
        in: query
        description: organizationNumber
        required: true
        schema:
          type: integer
          maximum: 999
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
        example: 970
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/definitions/CustomerRelationshipFindDetailsResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          schema:
            $ref: '#/definitions/DResponse'
      deprecated: false
  '/customer/{accountNumber}/current-prior-address':
    get:
      tags:
        - Customer
      summary: >-
        The Current/Prior Address Inquiry service provides information from the
        Customer Name/Address file (AMNA) and the Prior Mailing Address file
        (AMPM).
      operationId: Current/Prior Address Inquiry
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: accountNumber
        in: path
        description: >-
            Account number, relationship number, or customer number.This service
            performs the appropriate searches via the navigational services to
            find a match on the Customer Name/Address record, Relationship
            record, or Account Base Segment record
        required: true
        schema:
          type: string
          maxLength: 19
          minLength: 19
          x-example: '"5491586126477642194"'
      - name: currentPriorFlag
        in: query
        description: |-
          Current/prior flag
          The values are:
          B = Both current and prior address information (Default)
          C = Current address information only
          P = Prior address information only
        required: false
        schema:
          type: string
          allowEmptyValue: false
          x-example: B
      - name: organizationNumber
        in: query
        description: Organization Number
        required: false
        schema:
          type: integer
          maximum: 999
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
          x-example: 807
      - name: ownerCoOwnerFlag
        in: query
        description: |-
          Owner/co-owner flag
          The values are:
          0 = Both owner and co-owner
          1 = Owner only (Default)
          2 = Co-owner only
        required: false
        schema:
          type: integer
          format: int32
          allowEmptyValue: false
          x-example: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/definitions/CurrentPriorAddressResponse'
        '400':
          description: 'Bad Request, response = DResponse.class'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Backend Error
          schema:
            $ref: '#/definitions/DResponse'
      deprecated: false
definitions:
  DResponse:
    type: object
    properties:
      data:
        type: object
      errors:
        type: array
        items:
          $ref: '#/definitions/Error'
      hasError:
        type: boolean
    title: DResponse
  Error:
    type: object
    properties:
      code:
        type: string
      description:
        type: string
    title: Error
  AccountTable:
    type: object
    properties:
      accountInternalStatus:
        type: string
        description:  |-
          <p>Account internal status.</p>
          <p>VisionPLUS Service Data: ARXCAO-INT-STATUS</p>
      accountNumber:
        type: string
        description:  |-
          <p>Length: 19</p>
          <p>Identification number of the account associated with the Credit Plan Segment records that you want to modify or view.</p>
          <p>VisionPLUS Service Data: ARXCAO-ACCT-NBR</p>
      associationType:
        type: integer
        format: int32
        description:  |-
          <p>Length: 1</p>
          <p>Starting Account Type Associated With The Scroll.</p>
          <p>VisionPLUS Service Data: ARXCAO-ASSOC-TYPE</p>
      logo:
        type: integer
        format: int32
        description:  |-
          <p>Logo.</p>
          <p>VisionPLUS Service Data: ARXCAO-LOGO</p>
      logoDescription:
        type: string
        description:  |-
          <p>Logo description.</p>
          <p>VisionPLUS Service Data: ARXCAO-LB-DESCRIPTION</p>
      organizationName:
        type: string
        description:  |-
          <p>Length: 40</p>
          <p>Organization name.</p>
          <p>VisionPLUS Service Data: ARXCAO-O-NAME-ADDR-1</p>
      organizationNumber:
        type: integer
        format: int32
        description:  |-
          <p>Length: 3</p>
          <p>Organization number.</p>
    title: AccountTable
  AcctTable:
    type: object
    properties:
      accountBlockCode1:
        type: string
        description:  |-
          <p>Length: 1</p>
          <p>Block code 1 assigned to the account.</p>
          <p>VisionPLUS Service Data: AZXEIO-ACCT-BC1</p>
      accountBlockCode2:
        type: string
        description:  |-
          <p>Length: 1</p>
          <p>Block code 2 assigned to the account.</p>
          <p>VisionPLUS Service Data: AZXEIO-ACCT-BC2</p>
      accountDateLastCycle:
        type: string
        format: date
        description:  |-
          <p>Length: 10</p>
          <p>Last cycle date of the account.</p>
          <p>VisionPLUS Service Data: AZXEIO-DATE-LAST-CYCLE</p>
      accountNumber:
        type: string
        description:  |-
          <p>Length: 19</p>
          <p>Account number on the Embosser record.</p>
          <p>VisionPLUS Service Data: AZXEIO-ACCT-NBR</p>
      accountShortName:
        type: string
        description:  |-
          <p>Length: 20</p>
          <p>Short name of the customer on the account.</p>
          <p>VisionPLUS Service Data: AZXEIO-ACCT-SHORT-NAME</p>
      accountStatus:
        type: string
        description:  |-
          <p>Length: 1</p>
          <p>Status of the account.</p>
          <p>VisionPLUS Service Data: AZXEIO-ACCT-STATUS</p>
      beginDateTemporaryCreditLimit:
        type: string
        format: date
        description:  |-
          <p>Length: 10</p>
          <p>Beginning date of the temporary credit limit.</p>
          <p>VisionPLUS Service Data: AZXEIO-EXTRA-CUPO-BEGDATE</p>
      billingCycle:
        type: integer
        format: int32
        description:  |-
          <p>Length: 2</p>
          <p>Billing cycle of the account.</p>
          <p>VisionPLUS Service Data: AZXEIO-ACCT-BILLINGCYCLE</p>
      cardBlockCode:
        type: string
        description:  |-
          <p>Length: 1</p>
          <p>Block code assigned to the Embosser record.</p>
          <p>VisionPLUS Service Data: AZXEIO-CARD-BLOCK-CODE</p>
        enum:
          - UNBLOCKED
          - BLOCKED
          - STOLEN
          - TEMPORARY
          - REPRINT
      cardExpireDate:
        type: string
        format: date
        description:  |-
          <p>Length: 10</p>
          <p>Card expiration date on the Embosser record.</p>
          <p>VisionPLUS Service Data: AZXEIO-CARD-DATE-EXPIRE</p>
      cardNumber:
        type: string
        description:  |-
          <p>Length: 19</p>
          <p>Card number.</p>
          <p>VisionPLUS Service Data: AZXEIO-CARD-NBR</p>
      cardSequence:
        type: integer
        format: int32
        description:  |-
          <p>Length: 4</p>
          <p>Card sequence.</p>
          <p>VisionPLUS Service Data: AZXEIO-CARD-SEQ</p>
      customerNumber:
        type: string
        description:  |-
          <p>Length: 19</p>
          <p>Customer number on the account.</p>
          <p>VisionPLUS Service Data: AZXEIO-ACCT-CUST-NBR</p>
      dollarCurrentBalance:
        type: number
        description:  |-
          <p>Length: 15</p>
          <p>Current balance amount in U.S. dollars. The current balance (includes all the posted transactions)</p>
          <p>minus pending payments (memo credit) plus any check payments that are being held by the system.</p>
          <p>VisionPLUS Service Data: AZXEIO-DOLLARS-CURR-BAL</p>
      dollarMemoCredits:
        type: number
        description:  |-
          <p>Length: 15</p>
          <p>Memo credit for the foreign account in U.S. dollars.</p>
          <p>VisionPLUS Service Data: AZXEIO-DOLLARS-MEMOCREDITS</p>
      dollarMemoDebits:
        type: number
        description:  |-
          <p>Length: 15</p>
          <p>Memo debit for the foreign account in U.S. dollars.</p>
          <p>VisionPLUS Service Data: AZXEIO-DOLLARS-MEMODEBITS</p>
      dollarMinimumPayment:
        type: number
        description:  |-
          <p>Length: 15</p>
          <p>Minimum payment amount in U.S. dollars. The minimum payment amount corresponds to the total due amount for the account minus pending payments posted</p>
          <p>(authorized payments during the day and memo credits) plus any check payments that are being held by the system.</p>
          <p>VisionPLUS Service Data: AZXEIO-DOLLARS-MIN-PMT</p>
      dollarTotalPayment:
        type: number
        description:  |-
          <p>Length: 15</p>
          <p>Total payment amount in U.S. dollars. The total payment billed (just after last cycle date) minus posted payments (since cycle date) minus pending payments</p>
          <p>(memo credits) plus any check payments that are being held by the system.</p>
          <p>VisionPLUS Service Data: AZXEIO-DOLLARS-TOT-PMT</p>
      exchangeRate:
        type: number
        description:  |-
          <p>Length: 15</p>
          <p>Active exchange rate.</p>
          <p>VisionPLUS Service Data: AZXEIO-EXCHNG-RATE</p>
      expiryDateTemporaryCreditLimit:
        type: string
        format: date
        description:  |-
          <p>Length: 10</p>
          <p>Expiration date of the temporary credit limit.</p>
          <p>VisionPLUS Service Data: AZXEIO-DATE-TEMP-CRLIMEXP</p>
      extraCupo:
        type: number
        description:  |-
          <p>Length: 15</p>
          <p>Temporary credit limit.</p>
          <p>VisionPLUS Service Data: AZXEIO-EXTRA-CUPO</p>
      logo:
        type: string
        description:  |-
          <p>Logo on the Embosser record.</p>
          <p>VisionPLUS Service Data: AZXEIO-LOGO</p>
      paymentDueDate:
        type: string
        format: date
        description:  |-
          <p>Length: 10</p>
          <p>Payment due date of the account.</p>
          <p>VisionPLUS Service Data: AZXEIO-PMT-DUE-DTE</p>
      pesosCashAvailable:
        type: number
        description:  |-
          <p>Length: 15</p>
          <p>Available cash in pesos (open-to-buy amount in pesos multiplied by the cash advance percentage).</p>
          <p>VisionPLUS Service Data: AZXEIO-PESOS-CASH-AVAIL</p>
      pesosCurrentBalance:
        type: number
        description:  |-
          <p>Length: 15</p>
          <p>Current balance amount in pesos. The current balance (includes all the posted transactions) minus pending payments (memo credit) plus any check payments that are being held by the system.</p>
          <p>VisionPLUS Service Data: AZXEIO-PESOS-CURR-BAL</p>
      pesosMemoCredits:
        type: number
        description:  |-
          <p>Length: 15</p>
          <p>Memo credit for the local account in pesos.</p>
          <p>VisionPLUS Service Data: AZXEIO-PESOS-MEMOCREDITS</p>
      pesosMemoDebits:
        type: number
        description:  |-
          <p>Length: 15</p>
          <p>Memo debit for the local account in pesos.</p>
          <p>VisionPLUS Service Data: AZXEIO-PESOS-MEMODEBITS</p>
      pesosMinimumPayment:
        type: number
        description:  |-
          <p>Length: 15</p>
          <p>Minimum payment amount in pesos. The minimum payment amount corresponds to the total due amount for the account minus pending payments posted</p>
          <p>(authorized payments during the day and memo credits) plus any check payments that are being held by the system.</p>
          <p>VisionPLUS Service Data: AZXEIO-PESOS-MIN-PMT</p>
      pesosOpenToBuy:
        type: number
        description:  |-
          <p>Length: 15</p>
          <p>Open-to-buy amount in pesos.</p>
          <p>VisionPLUS Service Data: AZXEIO-PESOS-OTB</p>
      pesosTotalPayment:
        type: number
        description:  |-
          <p>Length: 15</p>
          <p>Total payment amount in pesos. The total payment billed (just after last cycle date) minus posted payments (since cycle date) minus pending payments</p>
          <p>(memo credits) plus any check payments that are being held by the system.</p>
          <p>VisionPLUS Service Data: AZXEIO-PESOS-TOT-PMT</p>
      previousCreditLimit:
        type: number
      productDescription:
        type: string
        description:  |-
          <p>Length: 20</p>
          <p>Product description.</p>
          <p>VisionPLUS Service Data: AZXEIO-PRODUCT-DESC</p>
      productType:
        type: string
        description:  |-
          <p>Length: 2</p>
          <p>Product type.</p>
          <p>VisionPLUS Service Data: AZXEIO-PRODUCT-TYPE</p>
      relationshipNumber:
        type: string
        description:  |-
          <p>Length: 19</p>
          <p>Relationship number on the account.</p>
          <p>VisionPLUS Service Data: AZXEIO-ACCT-REL-NBR</p>
      sequence:
        type: integer
        format: int32
        description:  |-
          <p>Sequence.</p>
          <p>VisionPLUS Service Data: AZXEIO-CARD-SEQ</p>
      sobreCupo:
        type: number
        description:  |-
          <p>Length: 15</p>
          <p>Balance above credit limit.</p>
          <p>VisionPLUS Service Data: AZXEIO-SOBRE-CUPO</p>
      totalCreditLimit:
        type: number
        description:  |-
          <p>Length: 15</p>
          <p>Total approved credit limit amount in pesos. If extracupo is available, it is included with the credit limit amount.</p>
          <p>VisionPLUS Service Data: AZXEIO-TOTAL-CREDIT-LIMIT</p>
    title: AcctTable
  AddCustomerRequest:
    type: object
    properties:
      customerData:
        $ref: '#/definitions/AddCustomerRequest.CustomerData'
      resvData:
        $ref: '#/definitions/ResvData'
    title: AddCustomerRequest
  AddCustomerRequest.CustomerData:
    type: object
    properties:
      customerKeyData:
        $ref: '#/definitions/CustomerKeyData'
      customerMiscellaneousData:
        $ref: '#/definitions/CustomerMiscellaneousData'
      ownerCoOwnerData:
        $ref: '#/definitions/OwnerCoOwnerData'
    title: AddCustomerRequest.CustomerData
  AddCustomerResponse:
    type: object
    properties:
      accountNumber:
        type: string
        description:  |-
          <p>Length: 19</p>
          <p>Identification of the account number associated with the customer number (demographic data) that you want to modify or view.</p>
          <p>VisionPLUS Service Data: ARXNAO-BS-ACCT</p>
      customerNumber:
        type: string
        description:  |-
          <p>Length: 19</p>
          <p>Customer number that identifies the Customer Name/Address record to which this account is assigned.</p>
          <p>A valid customer name and address must be on file for this account.</p>
          <p>VisionPLUS Service Data: ARXNAO-CUST-NBR</p>
      foreignCustomerOrganization:
        type: integer
        format: int32
        description:  |-
          <p>Foreign customer organization.</p>
          <p>VisionPLUS Service Data: ARXNAO-FOREIGN-CUST-ORG</p>
      organizationAssociatedToForeignAccount:
        type: integer
        format: int32
        description:  |-
          <p>Organization associated with the foreign account.</p>
          <p>VisionPLUS Service Data: ARXNAO-FOREIGN-ACCT-ORG</p>
      organizationNumber:
        type: integer
        format: int32
        description:  |-
          <p>Local customer organization.</p>
          <p>VisionPLUS Service Data: ARXNAO-LOCAL-CUST-ORG</p>
      reservedAmt1:
        type: number
        description:  |-
          <p>Reserved For Future Use.</p>
      reservedAmt2:
        type: number
        description:  |-
          <p>Reserved For Future Use.</p>
      reservedAmt3:
        type: number
        description:  |-
          <p>Reserved For Future Use.</p>
      reservedAmt4:
        type: number
        description:  |-
          <p>Reserved For Future Use.</p>
      reservedAmt5:
        type: number
        description:  |-
          <p>Reserved For Future Use.</p>
      reservedCode1:
        type: integer
        format: int32
        description:  |-
          <p>Reserved For Future Use.</p>
      reservedCode2:
        type: integer
        format: int32
        description:  |-
          <p>Reserved For Future Use.</p>
      reservedCode3:
        type: integer
        format: int32
        description:  |-
          <p>Reserved For Future Use.</p>
      reservedCode4:
        type: integer
        format: int32
        description:  |-
          <p>Reserved For Future Use.</p>
      reservedCode5:
        type: integer
        format: int32
        description:  |-
          <p>Reserved For Future Use.</p>
      reservedDate1:
        type: string
        format: date
        description:  |-
          <p>Reserved For Future Use.</p>
      reservedDate2:
        type: string
        format: date
        description:  |-
          <p>Reserved For Future Use.</p>
      reservedDate3:
        type: string
        format: date
        description:  |-
          <p>Reserved For Future Use.</p>
      reservedDate4:
        type: string
        format: date
        description:  |-
          <p>Reserved For Future Use.</p>
      reservedDate5:
        type: string
        format: date
        description:  |-
          <p>Reserved For Future Use.</p>
    title: AddCustomerResponse
  CarrierRoute:
    type: object
    properties:
      carrierRoute1and2:
        type: string
        example: C1
        description:  |-
          <p>Length: 2</p>
          <p>Two-part field that identifies the carrier route used for mail sorting purposes.</p>
          <p>Carrier route used to sort mail for postal delivery purposes.</p>
          <p>VisionPLUS Service Data: ARXGCI-CR-1-2</p>
      carrierRoute3and4:
        type: integer
        format: int32
        example: 0
        description:  |-
          <p>Length: 2</p>
          <p>Two-part field that identifies the carrier route used for mail sorting purposes.</p>
          <p>Carrier route used to sort mail for postal delivery purposes.</p>
          <p>VisionPLUS Service Data: ARXGCI-CR-3-4</p>
    title: CarrierRoute
  CmsNumberGenerationRequest:
    type: object
    required:
      - dualIndicator
      - logo
      - organizationNumber
    properties:
      accountNumbersRequested:
        type: integer
        format: int32
        example: 2
        description:  |-
          <p>Length: 2</p>
          <p>Account number quantity requested.</p>
          <p>VisionPLUS Service Data: ARXNGI-ACCT-NBR-IND</p>
      billAccountNumbersRequested:
        type: integer
        format: int32
        example: 0
        description:  |-
          <p>Length: 1</p>
          <p>Billing account number quantity requested.</p>
          <p>VisionPLUS Service Data: ARXNGI-BILL-ACCT-NBR-IND</p>
      controlAccountNumbersRequested:
        type: integer
        format: int32
        example: 0
        description:  |-
          <p>Length: 2</p>
          <p>Control/diversion account number quantity requested.</p>
          <p>VisionPLUS Service Data: ARXNGI-CNTL-ACCT-NBR-IND</p>
      customerNumbersRequested:
        type: integer
        format: int32
        example: 2
        description:  |-
          <p>Length: 2</p>
          <p>Customer number indicator.</p>
          <p>VisionPLUS Service Data: ARXNGI-CUST-NBR-IND</p>
      dualIndicator:
        type: string
        example: 0
        description:  |-
          <p>Length: 1</p>
          <p>Dual currency indicator.</p>
          <p>The values are:</p>
          <p>0 = Local organization</p>
          <p>1 = Local and foreign organization</p>
          <p>VisionPLUS Service Data: ARXNGI-DUAL-IND</p>
      embosserNumbersRequested:
        type: integer
        format: int32
        example: 0
        description:  |-
          <p>Length: 2</p>
          <p>Embosser number quantity requested.</p>
          <p>VisionPLUS Service Data: ARXNGI-CARD-NBR-IND</p>
      logo:
        type: integer
        format: int32
        example: 601
        description:  |-
          <p>Length: 3</p>
          <p>Logo.</p>
          <p>VisionPLUS Service Data: ARXNGI-LOGO</p>
      organizationNumber:
        type: integer
        format: int32
        example: 662
        description:  |-
          <p>Length: 3</p>
          <p>Organization.</p>
          <p>VisionPLUS Service Data: ARXNGI-ORG</p>
      relationshipNumbersRequested:
        type: integer
        format: int32
        example: 0
        description:  |-
          <p>Length: 2</p>
          <p>Relationship number quantity requested.</p>
          <p>VisionPLUS Service Data: ARXNGI-REL-NBR-IND</p>
    title: CmsNumberGenerationRequest
  CmsNumberGenerationResponse:
    type: object
    properties:
      accountData:
        type: array
        items:
          $ref: '#/definitions/CMSAccountData'
      customerData:
        type: array
        items:
          $ref: '#/definitions/CMSCustomerData'
      dualIndicator:
        type: integer
        format: int32
        description:  |-
          <p>Length: 1</p>
          <p>Dual indicator.</p>
          <p>VisionPLUS Service Data: ARXNGO-DUAL-IND</p>
      foreignOrganizationNumber:
        type: integer
        format: int32
        description:  |-
          <p>Length: 3</p>
          <p>Organization associated with the foreign account.</p>
          <p>VisionPLUS Service Data: ARXNGO-FOREIGN-ORG</p>
      logo:
        type: integer
        format: int32
        description:  |-
          <p>Length: 3</p>
          <p>Logo.</p>
          <p>VisionPLUS Service Data: ARXNGO-LOGO</p>
      organizationNumber:
        type: integer
        format: int32
        description:  |-
          <p>Length: 3</p>
          <p>Organization.</p>
          <p>VisionPLUS Service Data: ARXNGO-ORG</p>
    title: CmsNumberGenerationResponse
  CoOwnerData:
    type: object
    required:
      - postalCode
    properties:
      carrierRoute1and2:
        type: string
        example: C1
        description:  |-
          <p>Length: 2</p>
          <p>Two-part field that identifies the carrier route used for mail sorting purposes. Carrier route used to sort mail for postal delivery purposes.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-CR-1-2</p>
      carrierRoute3and4:
        type: integer
        format: int32
        example: 11
        description:  |-
          <p>Length: 2</p>
          <p>Two-part field that identifies the carrier route used for mail sorting purposes. Carrier route used to sort mail for postal delivery purposes.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-CR-3-4</p>
      city:
        type: string
        example: Sunshine
        description:  |-
          <p>Length: 30</p>
          <p>City of the legal address of the property.</p>
          <p>VisionPLUS Service Data: ARXNAI-C-CITY</p>
      contactIndicator:
        type: integer
        format: int32
        example: 12
        description:  |-
          <p>Length: 2</p>
          <p>Code indicating whether customer contact is restricted or not.</p>
          <p>The values are:</p>
          <p>00 = No restriction(Default)</p>
          <p>01 = Do not telephone</p>
          <p>02 = Do not mail</p>
          <p>03 = Do not mail or telephone</p>
          <p>04-09 = Reserved for future use</p>
          <p>10-99 = User-defined by client.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-CONTACT-IND</p>
      countryCode:
        type: string
        example: USA
        description:  |-
          <p>Length: 30</p>
          <p>Code that identifies the country in which this organization is located.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-CNTRY-CD</p>
      county:
        type: string
        example: Orange
        description:  |-
          <p>Length: 30</p>
          <p>County portion of the mailing address of the owner.</p>
          <p>VisionPLUS Service Data: ARXNA-M-COUNTY</p>
      dateOfBirth:
        type: string
        format: date
        example: 40432
        description:  |-
          <p>Length: 10</p>
          <p>Date of birth of the customer.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-DOB</p>
      dateOfFile:
        type: string
        format: date
        example: 43718
        description:  |-
          <p>Length: 10</p>
          <p>Date of file.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-1099C-W9-DATE-FILED</p>
      demographic1:
        type: string
        example: User Demo 1
        description:  |-
          <p>Length: 20</p>
          <p>User-defined demographic data or other information for an owner.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-DEMO-1</p>
      demographic2:
        type: string
        example: User Demo 2
        description:  |-
          <p>Length: 20</p>
          <p>User-defined demographic data or other information for an owner.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-DEMO-2</p>
      demographic3:
        type: string
        example: User Demo 3
        description:  |-
          <p>Length: 20</p>
          <p>User-defined demographic data or other information for an owner.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-DEMO-3</p>
      driverLicenseCountry:
        type: string
        description:  |-
          <p>Length: 3</p>
          <p>Driver’s License Country.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-DL-CNTRY</p>
      driverLicenseNumber:
        type: string
        description:  |-
          <p>Length: 20</p>
          <p>Three-part field that identifies the driver license number of the owner, state or province of issue, and the country of issue.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-DL-NBR</p>
      driverLicenseState:
        type: string
        description:  |-
          <p>Length: 3</p>
          <p>Driver’s License state.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-DL-STATE</p>
      email:
        type: string
        example: ABC.DEF@yahoo.com
        description:  |-
          <p>Length: 19</p>
          <p>E mail of customer.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-EMAIL</p>
      emailFlag:
        type: integer
        format: int32
        example: 1
        description: |-
          <p>Length: 1</p>
          <p>Email flag. The values are:</p>
          <p>0 = Do not e-mail</p>
          <p>1 = May be e-mailed</p>
          <p>2 = Prefers to be e-mailed</p>
          <p>VisionPLUS Service Data: ARXNAI-M-EMAIL-FLAG</p>
      employerAddress1:
        type: string
        example:  EMP ADDR L1
        description:  |-
          <p>Length: 40</p>
          <p>Two-part field that indicates the mailing address of the employer of the owner.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-EMPLOYER-ADDR-1</p>
      employerAddress2:
        type: string
        example:  EMP ADDR L2
        description:  |-
          <p>Length: 40</p>
          <p>Two-part field that indicates the mailing address of the employer of the owner.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-EMPLOYER-ADDR-2</p>
      employerExtensionPhoneNumber:
        type: string
        example: 123456
        description:  |-
          <p>Length: 6</p>
          <p>Employer Extension Phone Number.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-EMP-PHONE-EXTN</p>
      employerName:
        type: string
        example: Milton
        description:  |-
          <p>Length: 40</p>
          <p>Employer Name.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-EMPLOYER</p>
      employerPhoneFlag:
        type: integer
        format: int32
        example: 1
        description: |-
          <p>Length: 1</p>
          <p>Employer Phone Flag.</p>
          <p>The values are:</p>
          <p>0 = Do not call</p>
          <p>1 = May be called</p>
          <p>2 = Prefers to be called</p>
          <p>VisionPLUS Service Data: ARXNAI-M-PHONE-FLA</p>
      employerPhoneNumber:
        type: string
        example: 123-456-7890
        description:  |-
          <p>Length: 20</p>
          <p>Employer Phone Number.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-EMP-PHONE</p>
      faxPhoneFlag:
        type: integer
        format: int32
        example: 1
        description: |-
          <p>Length: 1</p>
          <p>Three-part field that indicates the facsimile (fax) number of the co-owner, whether you have the co-owner’s permission to use this number, and the date when the number was last modified.
          <p>The values are:</p>
          <p>0 = Do not fax</p>
          <p>1 = May be faxed</p>
          <p>2 = Prefers to be faxed</p>
          <p>VisionPLUS Service Data: ARXNAI-M-FAX-PHONE</p>
      firstName:
        type: string
        example: Juan
        description:  |-
          <p>Length: 40</p>
          <p>First name.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-FIRST-NAME</p>
      foreignIndicator:
        type: string
        example: A
        description:  |-
          <p>Length: 1</p>
          <p>Foreign Indicator. The values are:</p>
          <p>Blank = Does not live in a foreign country(Default)</p>
          <p>Any character  = Lives in a foreign country. Format the address to the IRS standard.
          <p>VisionPLUS Service Data: ARXNAI-M-1099C-FOREIGN-IND</p>
      genderCode:
        type: integer
        format: int32
        example: 1
        description:  |-
          <p>Length: 1</p>
          <p>Gender. The values are:</p>
          <p>0 = Unspecified(Default)</p>
          <p>1 = Male</p>
          <p>2 = Female</p>
          <p>VisionPLUS Service Data: ARXNAI-M-GENDER-CODE</p>
      homeFaxPhoneNumber:
        type: string
        example: 223-456-7890
        description:  |-
          <p>Length: 20</p>
          <p>Three-part field that indicates the fax number of the customer, whether you have the customer’s permission to contact the customer at this number, and the date on which the fax number was last modified.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-FAX-PHONE</p>
      homePhoneFlag:
        type: integer
        format: int32
        example: 1
        description: |-
          <p>Length: 1</p>
          <p>Home Phone Indicator. The values are:</p>
          <p>0 = Do not call</p>
          <p>1 = May be called</p>
          <p>2 = Prefers to be called</p>
          <p>VisionPLUS Service Data: M_PHONE_FLAG</p>
      homePhoneNumber:
        type: string
        example: 123-456-9990
        description:  |-
          <p>Length: 20</p>
          <p>Three-part field that indicates the fax number of the customer, whether you have the customer’s permission to contact the customer at this number, and the date on which the fax number was last modified.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-HOME-PHONE</p>
      houseAddress1:
        type: string
        example: OWN ADDR L19
        description:  |-
          <p>Length: 40</p>
          <p>House Address 1</p>
          <p>VisionPLUS Service Data: ARXNAI-M-ADDR-1</p>
      houseAddress2:
        type: string
        example: OWN ADDR L29
        description:  |-
          <p>Length: 40</p>
          <p>House Address 2</p>
          <p>VisionPLUS Service Data: ARXNAI-M-ADDR-2</p>
      houseAddress3:
        type: string
        example: OWN ADDR L39
        description:  |-
          <p>Length: 40</p>
          <p>House Address 3</p>
          <p>VisionPLUS Service Data: ARXNAI-M-ADDR-3</p>
      houseAddress4:
        type: string
        example: OWN ADDR L49
        description:  |-
          <p>Length: 40</p>
          <p>House Address 4</p>
          <p>VisionPLUS Service Data: ARXNAI-M-ADDR-4</p>
      houseName:
        type: string
        example: LILY RESIDENCE
        description:  |-
          <p>Length: 40</p>
          <p>House name</p>
          <p>VisionPLUS Service Data: ARXNAI-M-HOUSE-NAME</p>
      houseNumber:
        type: string
        example: 12349
        description:  |-
          <p>Length: 20</p>
          <p>Internal number of the residence</p>
          <p>VisionPLUS Service Data: ARXNA-IM-HOUSE-NBR</p>
      identificationNumber:
        type: string
        example: 123456789
        description:  |-
          <p>Length: 25</p>
          <p>Identification number of the customer.If the field "identificationNumber" is 0 (Social Security number), the second part must be nine numeric characters only.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-SSAN</p>
      identificationNumberFlag:
        type: integer
        format: int32
        example: 2
        description: |-
          <p>Length: 1</p>
          <p>Type of Indentification.Owner identification number flag.The values are -</p>
          <p>0 = Social Security number</p>
          <p>1 = Tax ID</p>
          <p>2 = Other ID</p>
          <p>VisionPLUS Service Data: ARXNAI-M-SSAN-FLAG</p>
      languageIndicator:
        type: string
        example: ENG
        description:  |-
          <p>Length: 3</p>
          <p>Spoken Language Indicator.</p>
          <p>V+ will always populate "ENG".</p>
          <p>VisionPLUS Service Data: ARXNAI-M-LANGUAGE-IND</p>
      lastName:
        type: string
        example: Gonzalez
        description:  |-
          <p>Length: 40</p>
          <p>Last name.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-LAST-NAME</p>
      mailingList:
        type: string
        example: 1
        description:  |-
          <p>Length: 1</p>
          <p>Code indicating whether the Owner wants to be on a Mailing List.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-MAILING-LIST</p>
      maritalStatus:
        type: integer
        format: int32
        example: 1
        description:  |-
          <p>Length: 1</p>
          <p>Marital Status. The values are -</p>
          <p>0 = Not used(Default)</p>
          <p>1 = Married and living at the same address</p>
          <p>2 = Married and living at different addresses</p>
          <p>3 = Not married and living at the same address</p>
          <p>4 = Not married and living at different addresses</p>
          <p>D = Divorced</p>
          <p>M = Married</p>
          <p>S = Single</p>
          <p>U = Undefined</p>
          <p>W = Widower</p>
          <p>VisionPLUS Service Data: ARXNAI-M-MARITAL-STATUS</p>
      memo1:
        type: string
        example: Memo 1
        description:  |-
          <p>Length: 60</p>
          <p>Two-part field used to enter memos or notes related to this account.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-MEMO-1</p>
      memo2:
        type: string
        example: Memo 2
        description:  |-
          <p>Length: 60</p>
          <p>Two-part field used to enter memos or notes related to this account.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-MEMO-2</p>
      middleName:
        type: string
        example: Pedro
        description:  |-
          <p>Length: 40</p>
          <p>Middle name.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-MIDDDLE-NAME</p>
      mobilePhoneFlag:
        type: integer
        format: int32
        example: 1
        description: |-
          <p>Length: 1</p>
          <p>Mobile phone flag. The values are -</p>
          <p>0 = Do not call</p>
          <p>1 = May be called</p>
          <p>2 = Prefers to be called</p>
          <p>VisionPLUS Service Data: ARXNAI-MPHONE-FLAG</p>
      mobilePhoneNumber:
        type: string
        example: 323-456-7890
        description:  |-
          <p>Length: 20</p>
          <p>Mobile Phone Number.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-MOBILE-PHONE</p>
      nameLine1:
        type: string
        description:  |-
          <p>Length: 40</p>
          <p>Name of the customer as defined on the Customer Name/ Address record that is associated with the account.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-NAME-LINE-1</p>
      nameLine2:
        type: string
        example: OWN NAME L2 TEST9
        description:  |-
          <p>Length: 40</p>
          <p>Name of the customer as defined on the Customer Name/ Address record that is associated with the account.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-NAME-LINE-2</p>
      nameLine3:
        type: string
        example: OWN NAME L3
        description:  |-
          <p>Length: 40</p>
          <p>Name Line 3.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-NAME-LINE-3</p>
      nameTypeIndicator1:
        type: integer
        format: int32
        example: 0
        description:  |-
          <p>Length: 1</p>
          <p>Name Type Indicator 1. indicates the type of name.</p>
          <p>The values are - </p>
          <p>0 = Personal name (Default)</p>
          <p>1 = Business name</p>
          <p>3 = Generic name</p>
          <p>VisionPLUS Service Data: ARXNAI-M-NAME-TYPE-IND-1</p>
      nameTypeIndicator2:
        type: integer
        format: int32
        example: 1
        description:  |-
          <p>Length: 1</p>
          <p>Name Type Indicator 1. indicates the type of name.</p>
          <p>The values are - </p>
          <p>0 = Personal name (Default)</p>
          <p>1 = Business name</p>
          <p>3 = Generic name</p>
          <p>VisionPLUS Service Data: ARXNAI-M-NAME-TYPE-IND-2</p>
      nameTypeIndicator3:
        type: integer
        format: int32
        example: 1
        description:  |-
          <p>Length: 1</p>
          <p>Name Type Indicator 1. indicates the type of name.</p>
          <p>The values are - </p>
          <p>0 = Personal name (Default)</p>
          <p>1 = Business name</p>
          <p>3 = Generic name</p>
          <p>VisionPLUS Service Data: ARXNAI-M-NAME-TYPE-IND-3</p>
      numberOfDependents:
        type: integer
        format: int32
        example: 999
        description:  |-
          <p>Length: 3</p>
          <p>Number of Dependents</p>
          <p>VisionPLUS Service Data: ARXNAI-M-NBR-OF-DEPENDENTS</p>
      ownOrRentResidenceFlag:
        type: integer
        format: int32
        example: 2
        description: |-
          <p>Length: 1</p>
          <p>Maker's own/rent residence flag. The values are -</p>
          <p>0 = Unknown</p>
          <p>1 = Owns or is buying residence</p>
          <p>2 = Rents or leases residence</p>
          <p>3 = Lives at someone else’s residence</p>
          <p>VisionPLUS Service Data: ARXNAI-M-OWN-RENT-RESIDFLAG</p>
      position:
        type: string
        example: CEO
        description:  |-
          <p>Length: 4</p>
          <p>User-defined code to indicate the position or job title of the owner.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-POSITION</p>
      postalCode:
        type: string
        example: 12345679
        description:  |-
          <p>Length: 10</p>
          <p>Residence Postal Code</p>
          <p>VisionPLUS Service Data: ARXNAI-M-PSTL-CD</p>
      relativeName:
        type: string
        example: Relative Name
        description:  |-
          <p>Length: 40</p>
          <p>Name of a relative of the co-owner.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-RELATIVE-NAME</p>
      smsFlag:
        type: integer
        format: int32
        example: 1
        description: |-
          <p>Length: 1</p>
          <p>Short message service (SMS) flag.</p>
          <p>The values are -</p>
          <p>0 = No, do not send message</p>
          <p>1 = Yes, you can send message</p>
          <p>VisionPLUS Service Data: ARXNAIM-SMS-FLAG</p>
      state:
        type: string
        example: FL
        description:  |-
          <p>Length: 3</p>
          <p>Residence state. This is derived based on the state code.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-STATE</p>
      statementMessageIndicator:
        type: integer
        format: int32
        example: 1
        description:  |-
          <p>Length: 1</p>
          <p>Statement Message Indicator.</p>
          <p>The values are 0–9. The default is 0.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-STMT-MSG-INDIC</p>
      suffix:
        type: string
        example: Sr
        description:  |-
          <p>Length: 20</p>
          <p>Field that identifies the suffix of the name of the owner.</p>
          <p>VisionPLUS Service Data: ARXNAI-M-SUFFIX</p>
      user1:
        type: string
        example: U1
        description:  |-
          <p>Length: 2</p>
          <p>User-defined codes used for customized information about the account.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-1</p>
      user10:
        type: string
        example: 2011031
        description:  |-
          <p>Length: 7</p>
          <p>User-defined codes used for customized information about the account.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-10</p>
      user11:
        type: string
        example: 2011032
        description:  |-
          <p>Length: 7</p>
          <p>User-defined codes used for customized information about the account.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-11</p>
      user12:
        type: string
        example: U12
        description:  |-
          <p>Length: 30</p>
          <p>User-defined codes used for customized information about the account.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-12</p>
      user13:
        type: string
        example: U13
        description:  |-
          <p>Length: 30</p>
          <p>User-defined codes used for customized information about the account.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-13</p>
      user14:
        type: string
        example: U14
        description:  |-
          <p>Length: 20</p>
          <p>User-defined codes used for customized information about the account.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-14</p>
      user15:
        type: string
        example: U15
        description:  |-
          <p>Length: 20</p>
          <p>User-defined codes used for customized information about the account.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-15</p>
      user2:
        type: string
        example: U2
        description:  |-
          <p>Length: 2</p>
          <p>User-defined codes used for customized information about the account.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-2</p>
      user3:
        type: string
        example: U323323
        description:  |-
          <p>Length: 7</p>
          <p>User-defined codes used for customized information about the account.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-3</p>
      user4:
        type: string
        example: U
        description:  |-
          <p>Length: 1</p>
          <p>User-defined codes used for customized information about the account.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-4</p>
      user5:
        type: string
        example: U
        description:  |-
          <p>Length: 1</p>
          <p>User-defined codes used for customized information about the account.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-5</p>
      user6:
        type: string
        example: U6
        description:  |-
          <p>Length: 2</p>
          <p>User-defined codes used for customized information about the account.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-6</p>
      user7:
        type: string
        example: U7
        description:  |-
          <p>Length: 2</p>
          <p>User-defined codes used for customized information about the account.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-7</p>
      user8:
        type: string
        example: U8
        description:  |-
          <p>Length: 2</p>
          <p>User-defined codes used for customized information about the account.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-8</p>
      user9:
        type: string
        example: U9
        description:  |-
          <p>Length: 2</p>
          <p>User-defined codes used for customized information about the account.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-9</p>
    title: CoOwnerData
  CustomerChannelRequest:
    type: object
    required:
      - customerNumber
      - functionCode
      - organizationNumber
    properties:
      customerNumber:
        type: string
        example:  4513074002573466600
        description:  |-
          <p>Length: 19</p>
          <p>Customer number that identifies the Customer Name/Address record to which this account is assigned. A valid customer name and address must be on file for this account.</p>
      functionCode:
        type: string
        description:  |-
          <p>Length: 1</p>
          <p>Function Code. The values are:</p>
          <p>Space, low values = First 20 items (Default)</p>
          <p>N = Next 20 items</p>
          <p>P = Previous 20 items</p>
      organizationNumber:
        type: integer
        format: int32
        example: 807
        description:  |-
          <p>Length: 3</p>
          <p>Identification number of the organization associated with the multilingual functionality (001–999).</p>
          <p>VisionPLUS Service Data: AZXEII-ORG</p>
      startAccount:
        type: string
        description:  |-
          <p>Length: 19</p>
          <p>Start Account.</p>
      startOrganization:
        type: string
        description:  |-
          <p>Length: 19</p>
          <p>Start Organization.</p>
    title: CustomerChannelRequest
  CustomerChannelResponse:
    type: object
    properties:
      acctTable:
        type: array
        items:
          $ref: '#/definitions/AcctTable'
    title: CustomerChannelResponse
  CustomerKeyData:
    type: object
    required:
      - accountNumber
      - customerNumber
      - dualFlag
      - organizationNumber
    properties:
      accountNumber:
        type: string
        example: 9999995020000600000
        description: |-
          <p>Length: 19</p>
          <p>Identification of the account number associated with the customer number (demographic data) that you want to modify or view.</p>
          <p>VisionPLUS Service Data: ARXNAI-BS-ACCT</p>
      coOwnerIndicator:
        type: integer
        format: int32
        example: 1
        description: |-
          <p>Length: 1</p>
          <p>Owner/CoOwner Indicator. Maker/Comaker indicator</p>
          <p>The values are:</p>
          <p>1 = Maker</p>
          <p>2 = Comaker.</p>
          <p>VisionPLUS Service Data: ARXNAI-NA-COMAKER-IND.</p>
      customerNumber:
        type: string
        example: 4513000000000000000
        description: |-
          <p>Length: 19</p>
          <p>Customer number that identifies the Customer Name/Address record to which this account is assigned.</p>
          <p>A valid customer name and address must be on file for this account.</p>
          <p>VisionPLUS Service Data: ARXNAI-CUST-NBR.</p>
      dualFlag:
        type: string
        example: 0
        description: |-
          <p>Length: 1</p>
          <p>Dual currency indicator.</p>
          <p>The values are:</p>
          <p>0 = Dual currency is not active(Default)</p>
          <p>1 = Dual billing is active.</p>
          <p>VisionPLUS Service Data: ARXNAI-DUAL-FLAG.</p>
      organizationNumber:
        type: integer
        format: int32
        example: 807
        description: |-
          <p>Length: 3</p>
          <p>Identification number of the organization associated with the multilingual functionality (001-999).</p>
          <p>VisionPLUS Service Data: ARXNAI-LOCAL-ACCT-ORG.</p>
    title: CustomerKeyData
  CustomerMiscellaneousData:
    type: object
    properties:
      sicCode:
        type: integer
        format: int32
        example: 123456
        description: |-
          <p>Length: 6</p>
          <p>Standard Industrial Classification code used to identify the industry to which the commercial card customer is associated.</p>
          <p>VisionPLUS Service Data: ARXNAI-SIC-CODE.</p>
      status:
        type: integer
        format: int32
        example: 1
        description:  |-
          <p>Length: 1</p>
          <p>Status Of The Account.</p>
          <p>The values are:</p>
          <p>A = Active</p>
          <p>B = Conversion fraud</p>
          <p>C = Conversion transfer</p>
          <p>D = Dormant</p>
          <p>F = Fraud transfer</p>
          <p>H = Closed/conversion</p>
          <p>I = Inactive</p>
          <p>J = Transfer in, migrated from inactive</p>
          <p>K = Transfer out, migrated from inactive</p>
          <p>M = Migrated</p>
          <p>N = New</p>
          <p>P = To be purged in next reload</p>
          <p>Q = Transfer in today</p>
          <p>R = Transfer out today</p>
          <p>T = Transfer</p>
          <p>V = Conversion</p>
          <p>X = Charge-off/conversion</p>
          <p>Z = Charge-off</p>
          <p>8 = Closed</p>
          <p>9 = To be purged after reload.</p>
          <p>VisionPLUS Service Data: ARXNAI-STATUS.</p>
      vipStatus:
        type: integer
        format: int32
        example: 1
        description: |-
          <p>Length: 1</p>
          <p>VIP status indicator. The values are:</p>
          <p>0 = Not VIP customer</p>
          <p>1 = VIP customer.</p>
          <p>VisionPLUS Service Data: ARXNAI-VIP-STATUS.</p>
    title: CustomerMiscellaneousData
  CustomerRelationshipFindDetailsResponse:
    type: object
    properties:
      accountsInPesosOrganization:
        type: integer
        format: int32
        description:  |-
          <p>Accounts in pesos organization.</p>
          <p>VisionPLUS Service Data: AZXRCO-NBR-SUB-ACCTS</p>
      cashAmountForDollarsAccounts:
        type: number
        description:  |-
          <p>Cash amount for dollars accounts.</p>
      cashAmountForPesosAccounts:
        type: number
        description:  |-
          <p>Cash amount for pesos accounts.</p>
      creditLimit:
        type: number
        description:  |-
          <p>Credit limit.</p>
          <p>VisionPLUS Service Data: AZXRCO-CRLIM</p>
      currencyNumberOfDecimal:
        type: integer
        format: int32
        description:  |-
          <p>Currency number of decimal.</p>
          <p>VisionPLUS Service Data: AZXRCO-CURRENCY-NOD</p>
      exchangeRate:
        type: number
        description:  |-
          <p>Length: 25</p>
          <p>Exchange rate.</p>
          <p>VisionPLUS Service Data: AZXRCO-EXCHNG-RATE</p>
      organizationNumber:
        type: integer
        format: int32
        description:  |-
          <p>Length: 3</p>
          <pOrganization.</p>
          <p>VisionPLUS Service Data: AZXRCO-ORG</p>
      relationshipCustomerNumber:
        type: string
        description:  |-
          <p>Length: 19</p>
          <p>Relationship customer number.</p>
          <p>VisionPLUS Service Data: AZXRCO-REL-CUST-NBR</p>
      sumCashAuthorizationsForPesosAccounts:
        type: number
        description:  |-
          <p>Length: 17</p>
          <p>Sum of outstanding cash authorizations for all subordinate pesos accounts under all relationships for the customer.</p>
          <p>VisionPLUS Service Data: AZXRCO-CASH-OUTST-AUTHSPESOS</p>
      sumCreditsForPesosAccounts:
        type: number
        description:  |-
          <p>Length: 17</p>
          <p>Sum of outstanding memo credits for all pesos accounts under all relationships for the customer.</p>
          <p>VisionPLUS Service Data: AZXRCO-MEMO-CR-AMT-PESOS</p>
      sumDebitsForPesosAccounts:
        type: number
        description:  |-
          <p>Length: 17</p>
          <p>Sum of outstanding memo debits for all subordinate pesos accounts under all relationships for the customer.</p>
          <p>VisionPLUS Service Data: AZXRCO-MEMO-DB-AMT-PESOS</p>
      sumOfCurrentBalancesForDollarsAccounts:
        type: number
        description:  |-
          <p>Length: 17</p>
          <p>Sum of current balances for all subordinate dollar accounts under all relationships for the customer.</p>
          <p>VisionPLUS Service Data: AZXRCO-CURRENT-BALANCEDOLLARS</p>
      sumOfCurrentBalancesForPesosAccounts:
        type: number
        description:  |-
          <p>Length: 17</p>
          <p>Sum of current balances for all subordinate pesos accounts in the relationship.</p>
          <p>VisionPLUS Service Data: AZXRCO-CURRENT-BALANCEPESOS</p>
      sumOfOpenToBuyForAccounts:
        type: number
        description:  |-
          <p>Length: 17</p>
          <p>Sum of open-to-buy for all accounts under all relationships for the customer.</p>
          <p>VisionPLUS Service Data: AZXRCO-CREDIT-AVAIL-PESOS</p>
      totalAmountForPesosAccounts:
        type: number
      totalAmountOfCashPlansForDollarAccounts:
        type: number
        description:  |-
          <p>Length: 17</p>
          <p>Total amount of all outstanding disputed items of cash plans for dollar accounts under all relationships for the customer.</p>
          <p>VisionPLUS Service Data: AZXRCO-CASH-DISP-BALANCEDOLLARS</p>
      totalAmountOfCashPlansForPesosAccounts:
        type: number
        description:  |-
          <p>Length: 17</p>
          <p>Total amount of all outstanding disputed items of cash plans for pesos accounts under all relationships for the customer.</p>
          <p>VisionPLUS Service Data: AZXRCO-CASH-DISP-BALANCEPESOS</p>
      totalAmountOfDisputedItemsForDollarAccounts:
        type: number
        description:  |-
          <p>Length: 17</p>
          <p>Total amount of all outstanding disputed items for dollar accounts under all relationships for the customer.</p>
          <p>VisionPLUS Service Data: AZXRCO-DISPUTE-BALANCEDOLLARS</p>
      totalCreditLimit:
        type: number
        description:  |-
          <p>Length: 17</p>
          <p>Total credit limit of subordinate accounts.</p>
          <p>VisionPLUS Service Data: AZXRCO-TOTAL-CR-LMT</p>
    title: CustomerRelationshipFindDetailsResponse
  CustomerToAccountInquiryRequest:
    type: object
    required:
      - customerNumber
      - organizationNumber
    properties:
      customerNumber:
        type: string
        example:  4513074002000000000
        description:  |-
          <p>Length: 19</p>
          <p>Customer number that identifies the Customer Name/Address record to which this account is assigned.</p>
          <p>A valid customer name and address must be on file for this account.</p>
          <p>VisionPLUS Service Data: ARXCAI-CUST-NBR</p>
      functionCode:
        type: string
        example: P
        description: |-
          <p>Length: 1</p>
          <p>Scrolling feature.The values are:</p>
          <p>Space, low values = First 20 items (Default)</p>
          <p>N = Next 20 items</p>
          <p>P = Previous 20 items</p>
          <p>VisionPLUS Service Data: ARXCAI-SVC-FUNC-CODE</p>
      organizationNumber:
        type: integer
        format: int32
        example: 807
        description:  |-
          <p>Length: 3</p>
          <p>Identification number of the organization associated with the multilingual functionality (001–999).</p>
          <p>VisionPLUS Service Data: ARXCAI-ORG</p>
      startToken:
        $ref: '#/definitions/StartToken'
    title: CustomerToAccountInquiryRequest
  CustomerToAccountInquiryResponse:
    type: object
    properties:
      acctTable:
        type: array
        items:
          $ref: '#/definitions/AccountTable'
      more:
        type: string
        description:  |-
          <p>More.</p>
          <p>VisionPLUS Service Data: ARXCAO-MORE-DATA-FLAG</p>
      nextToken:
        $ref: '#/definitions/NextToken'
      numberOfOccurrences:
        type: integer
        format: int32
        description:  |-
          <p>Number of occurrences.</p>
          <p>VisionPLUS Service Data: ARXCAO-RC-NBR-OCCUR</p>
      prevToken:
        $ref: '#/definitions/PrevToken'
    title: CustomerToAccountInquiryResponse
  CustomerToRelationshipInquiryRequest:
    type: object
    required:
      - customerNumber
      - functionCode
      - organizationNumber
    properties:
      customerNumber:
        type: string
        example:  4513074002000000000
        description:  |-
          <p>Length: 19</p>
          <p>Customer number that identifies the Customer Name/Address record to which this account is assigned.</p>
          <p>A valid customer name and address must be on file for this account.</p>
          <p>VisionPLUS Service Data: ARXCRI-CUST-NBR</p>
      functionCode:
        type: string
        description: |-
          <p>Length: 1</p>
          <p>Scrolling Feature. The values are:</p>
          <p>Space = First 20 items (Default)</p>
          <p>N = Next 20 items</p>
          <p>P = Previous 20 items</p>
          <p>VisionPLUS Service Data: ARXCRI-SVC-FUNC-CODE</p>
      organizationNumber:
        type: integer
        format: int32
        example: 807
        description:  |-
          <p>Length: 3</p>
          <p>Identification number of the organization associated with the multilingual functionality (001–999).</p>
          <p>VisionPLUS Service Data: ARXCRI-ORG</p>
    title: CustomerToRelationshipInquiryRequest
  CustomerToRelationshipInquiryResponse:
    type: object
    properties:
      more:
        type: string
        description:  |-
          <p>Length: 1</p>
          <p>Code that indicates if more Relationship Table records are on file. The values are:</p>
          <p>N = No more records on file</p>
          <p>Y = More records on file</p>
          <p>VisionPLUS Service Data: ARXCRO-REL-MORE</p>
      numberOfOccurrences:
        type: integer
        format: int32
        description:  |-
          <p>Length: 2</p>
          <p>Number of occurrences for the Relationship table.</p>
          <p>VisionPLUS Service Data: ARXCRO-RT-NBR-OCCURS</p>
      relationshipTables:
        type: array
        items:
          $ref: '#/definitions/RelationshipTable'
    title: CustomerToRelationshipInquiryResponse
  DemographicInquiryRequest:
    type: object
    required:
      - customerAccountCardNumber
      - numberType
      - organizationNumber
    properties:
      customerAccountCardNumber:
        type: string
        example: 3193187895000000000
        description:  |-
          <p>Length: 19</p>
          <p>Customer Account Card Number</p>
          <p>VisionPLUS Service Data: AZXNDI-CUST-ACCT-CARD-NBR</p>
      foreignUseIndicator:
        type: string
        example: 0
        description:  |-
          <p>Length: 1</p>
          <p>Foreign Use Indicator. The values are :</p>
          <p>Zero, space, or low values = Local account</p>
          <p>1 = Foreign account</p>
          <p>VisionPLUS Service Data: AZXNDI-FOREIGN-USE</p>
      numberType:
        type: string
        example: 0
        description:  |-
          <p>Length: 1</p>
          <p>Type Of Number In The 'idNumber' Field. The values are :</p>
          <p>1 = Customer number If zero, space, or low values is specified, the primary customer record associated with the account will be updated with the information provided to the service.</p>
          <p>If an alternate customer record, a correspondence customer record, or a customer record associated with a card is needed, use the customer number.</p>
          <p>VisionPLUS Service Data: AZXNDI-NBR-TYPE</p>
      organizationNumber:
        type: integer
        format: int32
        example: 807
        description:  |-
          <p>Length: 3</p>
          <p>Identification number of the organization associated with the multilingual functionality (001–999).</p>
          <p>VisionPLUS Service Data: AZXNDI-ORG</p>
    title: DemographicInquiryRequest
  DemographicInquiryResponse:
    type: object
    properties:
      addStatus:
        type: integer
        format: int32
        description:  |-
          <p>Length: 2</p>
          <p>Add status</p>
          <p>VisionPLUS Service Data: AZXNDO-ADD-STATUS</p>
      customerNumber:
        type: string
        description:  |-
          <p>Length: 19</p>
          <p>Customer number</p>
          <p>VisionPLUS Service Data: AZXNDO-CUST-NBR</p>
      dateLastAddressChange:
        type: string
        format: date
        description:  |-
          <p>Length: 1</p>
          <p>Date of last address change</p>
          <p>VisionPLUS Service Data: AZXNDO-DATE-LAST-ADDRCHANGE</p>
      dateLastMaintenance:
        type: string
        format: date
        description:  |-
          <p>Length: 7</p>
          <p>Date of last maintenance on the account</p>
          <p>VisionPLUS Service Data: AZXNDO-DATE-LAST-MAINT</p>
      duplicateCurrency:
        type: integer
        format: int32
        description:  |-
          <p>Length: 11</p>
          <p>Duplicate currency</p>
          <p>VisionPLUS Service Data: AZXNDO-DUPLICATE-CURRENCY</p>
      makerCoMakerIndicator:
        type: string
        description:  |-
          <p>Length: 1</p>
          <p>Maker/comaker indicator</p>
          <p>VisionPLUS Service Data: AZXNDO-NA-COMAKER-IND</p>
      nameAddrData:
        type: array
        items:
          $ref: '#/definitions/OwnerOrCoOwnerData'
      organizationNumber:
        type: integer
        format: int32
        example: 807
        description:  |-
          <p>Length: 3</p>
          <p>Identification number of the organization associated with the multilingual functionality (001–999)</p>
          <p>VisionPLUS Service Data: AZXNDO-ORG</p>
      sicCode:
        type: integer
        format: int32
        example: 123456
        description:  |-
          <p>Length: 6</p>
          <p>Standard Industrial Classification code used to identify the industry to which the commercial card customer is associated.</p>
          <p>VisionPLUS Service Data: AZXNDO-SIC-CODE</p>
      source:
        type: string
        description:  |-
          <p>Length: 1</p>
          <p>Source</p>
          <p>VisionPLUS Service Data: AZXNDO-SOURCE</p>
      status:
        type: integer
        format: int32
        example: 1
        description:  |-
          <p>Length: 1</p>
          <p>Status Of The Account. The values are:</p>
          <p>0 = Active (Default)</p>
          <p>1 = Closed</p>
          <p>2 = Purge pending</p>
          <p>VisionPLUS Service Data: AZXNDO-STATUS</p>
      vipStatus:
        type: string
        example: 1
        description:  |-
          <p>Length: 1</p>
          <p>VIP Status Indicator. The values are:</p>
          <p>0 = Not VIP customer</p>
          <p>1 = VIP customer</p>
          <p>VisionPLUS Service Data: AZXNDO-VIP-STATUS</p>
    title: DemographicInquiryResponse
  DriverLicense:
    type: object
    properties:
      driverLicenseCountry:
        type: string
        description:  |-
          <p>Length: 3</p>
          <p>Driver’s License Country</p>
          <p>VisionPLUS Service Data: AZXNDO-DL-CNTRY</p>
      driverLicenseNumber:
        type: string
        description:  |-
          <p>Length: 20</p>
          <p>Three-part field that identifies the driver license number of the owner, state or province of issue, and the country of issue.</p>
          <p>VisionPLUS Service Data: AZXNDO-DL-NBR</p>
      driverLicenseState:
        type: string
        description:  |-
          <p>Length: 3</p>
          <p>Driver’s License state</p>
          <p>VisionPLUS Service Data: AZXNDO-DL-STATE</p>
    title: DriverLicense
  NameAddressData:
    type: object
    properties:
      cityAndState:
        type: string
        description:  |-
          <p>Length: 40</p>
          <p>City and state</p>
          <p>VisionPLUS Service Data: AZXNDO-CITY-STATE</p>
      contactIndicator:
        type: integer
        format: int32
        description:  |-
          <p>Length: 2</p>
          <p>Contact indicator</p>
          <p>VisionPLUS Service Data: AZXNDO-CONTACT-IND</p>
      genderCode:
        type: string
        example: 1
        description:  |-
          <p>Length: 1</p>
          <p>Gender code. The values are:</p>
          <p>0 = Unspecified (Default)</p>
          <p>1 = Male</p>
          <p>2 = Female</p>
          <p>VisionPLUS Service Data: AZXNDO-GENDER-CODE</p>
      houseAddress1:
        type: string
        example: OWN ADDR L19
        description:  |-
          <p>Length: 40</p>
          <p>House Address 1</p>
      houseAddress2:
        type: string
        example: OWN ADDR L29
        description:  |-
          <p>Length: 40</p>
          <p>House Address 2</p>
      houseAddress3:
        type: string
        example: OWN ADDR L39
        description:  |-
          <p>Length: 40</p>
          <p>House Address 3</p>
      houseAddress4:
        type: string
        example: OWN ADDR L49
        description:  |-
          <p>Length: 40</p>
          <p>House Address 4</p>
      houseName:
        type: string
        example: Could be apartment's name
        description:  |-
          <p>Length: 40</p>
          <p>House name</p>
          <p>VisionPLUS Service Data: AZXNDO-HOUSE-NAME</p>
      houseNumber:
        type: string
        example: 12349
        description:  |-
          <p>Length: 20</p>
          <p>Internal Number of the Residence</p>
          <p>VisionPLUS Service Data: AZXNDO-HOUSE-NUMBER</p>
      memo1:
        type: string
        example: Memo 1
        description:  |-
          <p>Length: 60</p>
          <p>Memo 1</p>
          <p>VisionPLUS Service Data: AZXNDO-MEMO-1</p>
      memo2:
        type: string
        example: Memo 2
        description:  |-
          <p>Length: 60</p>
          <p>Memo 2</p>
          <p>VisionPLUS Service Data: AZXNDO-MEMO-2</p>
      nameLine1:
        type: string
        example: OWN NAME L1
        description:  |-
          <p>Length: 40</p>
          <p>Name Line 1</p>
          <p>VisionPLUS Service Data: AZXNDO-NAME-LINE-1</p>
      nameLine2:
        type: string
        example: OWN NAME L2 TEST9
        description:  |-
          <p>Length: 40</p>
          <p>Name Line 2</p>
          <p>VisionPLUS Service Data: AZXNDO-NAME-LINE-2</p>
      nameLine3:
        type: string
        example: OWN NAME L3
        description:  |-
          <p>Length: 40</p>
          <p>Name Line 3</p>
          <p>VisionPLUS Service Data: AZXNDO-NAME-LINE-3</p>
    title: NameAddressData
  NameTypeIndicator:
    type: object
    properties:
      nameTypeIndicator1:
        type: string
        example: 0
        description:  |-
          <p>Length: 1</p>
          <p>Name Type Indicator 1. indicates the type of name. The values are -</p>
          <p>0 = Personal name (Default) </p>
          <p>1 = Business name</p>
          <p>2 = Store name</p>
          <p>3 = Generic name</p>
          <p>VisionPLUS Service Data: AZXNDO-NAME-TYPE-IND-1</p>
      nameTypeIndicator2:
        type: string
        example: 0
        description:  |-
          <p>Length: 1</p>
          <p>Name Type Indicator 2. indicates the type of name. The values are -</p>
          <p>0 = Personal name (Default) </p>
          <p>1 = Business name</p>
          <p>2 = Store name</p>
          <p>3 = Generic name</p>
          <p>VisionPLUS Service Data: AZXNDO-NAME-TYPE-IND-2</p>
      nameTypeIndicator3:
        type: string
        example: 0
        description:  |-
          <p>Length: 1</p>
          <p>Name Type Indicator 3. indicates the type of name. The values are -</p>
          <p>0 = Personal name (Default) </p>
          <p>1 = Business name</p>
          <p>2 = Store name</p>
          <p>3 = Generic name</p>
          <p>VisionPLUS Service Data: AZXNDO-NAME-TYPE-IND-3</p>
    title: NameTypeIndicator
  NextToken:
    type: object
    properties:
      accountNumberNext:
        type: string
        description:  |-
          <p>Account number.</p>
          <p>VisionPLUS Service Data: ARXCAO-ACCT-NBR-NEXT</p>
      accountOrganizationNext:
        type: integer
        format: int32
        description:  |-
          <p>Account organization.</p>
          <p>VisionPLUS Service Data: ARXCAO-ACCT-ORG-NEXT</p>
      accountTypeNext:
        type: integer
        format: int32
        description:  |-
          <p>Account type.</p>
          <p>VisionPLUS Service Data: ARXCAO-ASSOC-TYPE-NEXT</p>
    title: NextToken
  OwnerCoOwnerData:
    type: object
    properties:
      coOwnerData:
        $ref: '#/definitions/CoOwnerData'
      ownerData:
        $ref: '#/definitions/OwnerData'
    title: OwnerCoOwnerData
  OwnerData:
    type: object
    required:
      - city
      - dateOfBirth
      - email
      - houseAddress1
      - houseAddress2
      - houseAddress3
      - houseAddress4
      - houseName
      - houseNumber
      - postalCode
      - state
    properties:
      carrierRoute1and2:
        type: string
        example: C1
        description:  |-
          <p>Length: 2</p>
          <p>Two-part field that identifies the carrier route used for mail sorting purposes.</p>
          <p>Carrier route used to sort mail for postal delivery purposes.</p>
          <p>VisionPLUS Service Data: ARXNAI-CR-1-2</p>
      carrierRoute3and4:
        type: integer
        format: int32
        example: 11
        description:  |-
          <p>Length: 2</p>
          <p>Two-part field that identifies the carrier route used for mail sorting purposes.</p>
          <p>Carrier route used to sort mail for postal delivery purposes.</p>
          <p>VisionPLUS Service Data: ARXNAI-CR-3-4</p>
      city:
        type: string
        example: Sunshine
        description:  |-
          <p>Length: 30</p>
          <p>Residence City</p>
          <p>VisionPLUS Service Data: ARXNAI-CITY</p>
      contactIndicator:
        type: integer
        format: int32
        example: 12
        description:  |-
          <p>Length: 2</p>
          <p>Code indicating whether customer contact is restricted or not.</p>
          <p>The values are:</p>
          <p>00 = No restriction (Default)</p>
          <p>01 = Do not telephone</p>
          <p>02 = Do not mail</p>
          <p>03 = Do not mail or telephone</p>
          <p>04–09 = Reserved for future use</p>
          <p>10–99 = User-defined by client.</p>
          <p>VisionPLUS Service Data: ARXNAI-CONTACT-IND</p>
      countryCode:
        type: string
        example: USA
        description:  |-
          <p>Length: 3</p>
          <p>Country Code</p>
          <p>VisionPLUS Service Data: ARXNAI-CNTRY-CD</p>
      county:
        type: string
        example: Orange
        description:  |-
          <p>Length: 30</p>
          <p>County portion of the mailing address of the owner</p>
          <p>VisionPLUS Service Data: ARXNAI-DL-CNTRY</p>
      dateOfBirth:
        type: string
        format: date
        example: 40432
        description:  |-
          <p>Length: 7</p>
          <p>Date of birth of the customer</p>
          <p>VisionPLUS Service Data: ARXNAI-DOB</p>
      dateOfFile:
        type: string
        format: date
        example: 43718
        description:  |-
          <p>Length: 7</p>
          <p>Date Of File For 1099C/W9</p>
          <p>VisionPLUS Service Data: ARXNAI-1099C-W9-DATE-FILED</p>
      demographic1:
        type: string
        example: USER DEMO 1
        description:  |-
          <p>Length: 20</p>
          <p>Demographic 1. User-defined demographic data or other information for an owner.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-DEMO-1</p>
      demographic2:
        type: string
        example: USER DEMO 2
        description:  |-
          <p>Length: 20</p>
          <p>Demographic 2. User-defined demographic data or other information for an owner.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-DEMO-2</p>
      demographic3:
        type: string
        example: USER DEMO 3
        description:  |-
          <p>Length: 20</p>
          <p>Demographic 3. User-defined demographic data or other information for an owner.</p>
          <p>VisionPLUS Service Data: ARXNAI-USER-DEMO-3</p>
      driverLicenseCountry:
        type: string
        description:  |-
          <p>Length: 3</p>
          <p>Driver's License Country.</p>
          <p>VisionPLUS Service Data: ARXNAI-DL-CNTRY</p>
      driverLicenseNumber:
        type: string
        description:  |-
          <p>Length: 20</p>
          <p>Driver's License Number.</p>
          <p>VisionPLUS Service Data: ARXNAI-DL-NBR</p>
      driverLicenseState:
        type: string
        description:  |-
          <p>Length: 3</p>
          <p>Driver's License State.</p>
          <p>VisionPLUS Service Data: ARXNAI-DL-STATE</p>
      email:
        type: string
        example: ABC.DEF@yahoo.com
        description:  |-
          <p>Length: 19</p>
          <p>Email</p>
          <p>VisionPLUS Service Data: ARXNAI-EMAIL</p>
      emailFlag:
        type: integer
        format: int32
        example: 1
        description: |-
          <p>Length: 1</p>
          <p>Email flag. The values are :</p>
          <p>0 = Do not E-mail</p>
          <p>1 = May be E-mailed</p>
          <p>2 = Prefers to be e-mailed</p>
          <p>VisionPLUS Service Data: ARXNAI-EMAIL-FLAG</p>
      employerAddress1:
        type: string
        example: EMP ADDR L1
        description:  |-
          <p>Length: 40</p>
          <p>Mailing address of the employer of the owner</p>
          <p>VisionPLUS Service Data: ARXNAI-EMPLOYER-ADDR-1</p>
      employerAddress2:
        type: string
        example: EMP ADDR L2
        description:  |-
          <p>Length: 40</p>
          <p>Mailing address of the employer of the owner</p>
          <p>VisionPLUS Service Data: ARXNAI-EMPLOYER-ADDR-2</p>
      employerExtensionPhoneNumber:
        type: string
        example: 123456
        description:  |-
          <p>Length: 6</p>
          <p>Employee Phone Extension</p>
          <p>VisionPLUS Service Data: ARXNAI-EMP-PHONE-EXTN</p>
      employerName:
        type: string
        example: Milton
        description:  |-
          <p>Length: 40</p>
          <p>Employer Name</p>
          <p>VisionPLUS Service Data: ARXNAI-EMPLOYER</p>
      employerPhoneFlag:
        type: integer
        example: 1
        description: |-
          <p>Length: 1</p>
          <p>Employer Phone Flag. The values are:</p>
          <p>0 = Do not call</p>
          <p>1 = May be called</p>
          <p>2 = Prefers to be called</p>
          <p>VisionPLUS Service Data: ARXNAI-PHONE-FLAG</p>
      employerPhoneNumber:
        type: string
        example: 123-456-7890
        description:  |-
          <p>Length: 20</p>
          <p>Employer Phone Number</p>
          <p>VisionPLUS Service Data: ARXNAI-EMP-PHONE</p>
      faxPhoneFlag:
        type: integer
        format: int32
        example: 1
        description: |-
          <p>Length: 1</p>
          <p>Three-part field that indicates the facsimile (fax) number of the co-owner, whether you have the co-owner’s permission to use this number, and the date when the number was last modified.</p>
          <p>The values are:</p>
          <p>0 = Do not fax</p>
          <p>1 = May be faxed</p>
          <p>2 = Prefers to be faxed</p>
          <p>VisionPLUS Service Data: ARXNAI-FAX-PHONE-FLAG</p>
      firstName:
        type: string
        example: Juan
        description:  |-
          <p>Length: 40</p>
          <p>First name</p>
          <p>VisionPLUS Service Data: ARXNAI-FIRST-NAME</p>
      foreignIndicator:
        type: string
        example: A
        description:  |-
          <p>Length: 1</p>
          <p>1099C Foreign Indicator.</p>
          <p>Flag that indicates whether the owner lives in the United States or a foreign (non-U.S.) country.</p>
          <p>The IRS 1099-C programs use this field to determine whether to format the address to the IRS standard for U.S. addresses.</p>
          <p>The values are-</p>
          <p>Blank = Lives in the U.S.A. CMS formats the address to the IRS standard.</p>
          <p>Any character = Lives in a foreign (non-U.S.) country. CMS does not format the address to the IRS standard.</p>
          <p>VisionPLUS Service Data: ARXNAI-1099C-FOREIGN-IND</p>
      genderCode:
        type: integer
        format: int32
        example: 1
        description:  |-
          <p>Length: 1</p>
          <p>Gender</p>
          <p>The values are:</p>
          <p>0 = Unspecified (Default)</p>
          <p>1 = Male</p>
          <p>2 = Female</p>
          <p>VisionPLUS Service Data: ARXNAI-GENDER-CODE</p>
      homeFaxPhoneNumber:
        type: string
        example: 223-456-7890
        description:  |-
          <p>Length: 20</p>
          <p>Home FAX Phone Number</p>
          <p>VisionPLUS Service Data: ARXNAI-FAX-PHONE</p>
      homePhoneFlag:
        type: integer
        format: int32
        example: 1
        description: |-
          <p>Length: 1</p>
          <p>Home Phone Indicator</p>
          <p>The values are:</p>
          <p>0 = Do not call</p>
          <p>1 = May be called</p>
          <p>2 = Prefers to be called</p>
          <p>VisionPLUS Service Data: ARXNAI-PHONE-FLAG</p>
      homePhoneNumber:
        type: string
        example: 123-456-9990
        description:  |-
          <p>Length: 20</p>
          <p>Home Phone Number</p>
          <p>VisionPLUS Service Data: ARXNAI-HOME-PHONE</p>
      houseAddress1:
        type: string
        example: OWN ADDR L19
        description:  |-
          <p>Length: 40</p>
          <p>House Address 1</p>
          <p>VisionPLUS Service Data: ARXNAI-ADDR-1</p>
      houseAddress2:
        type: string
        example: OWN ADDR L29
        description:  |-
          <p>Length: 40</p>
          <p>House Address 2</p>
          <p>VisionPLUS Service Data: ARXNAI-ADDR-2</p>
      houseAddress3:
        type: string
        example: OWN ADDR L39
        description:  |-
          <p>Length: 40</p>
          <p>House Address 3</p>
          <p>VisionPLUS Service Data: ARXNAI-ADDR-3</p>
      houseAddress4:
        type: string
        example: OWN ADDR L49
        description:  |-
          <p>Length: 40</p>
          <p>House Address 4</p>
          <p>VisionPLUS Service Data: ARXNAI-ADDR-4</p>
      houseName:
        type: string
        example: Could be apartment's name
        description:  |-
          <p>Length: 40</p>
          <p>House name</p>
          <p>VisionPLUS Service Data: ARXNAI-HOUSE-NAME</p>
      houseNumber:
        type: string
        example: 12349
        description:  |-
          <p>Length: 20</p>
          <p>Internal Number of the Residence</p>
          <p>VisionPLUS Service Data: ARXNAI-HOUSE-NBR</p>
      identificationNumber:
        type: string
        example: 123456789
        description:  |-
          <p>Length: 25</p>
          <p>Identification number</p>
          <p>VisionPLUS Service Data: ARXNAI-SSAN</p>
      identificationNumberFlag:
        type: integer
        format: int32
        example: 2
[...]
