openapi: 3.0.1
info:
  title: LATAM Issuing APIs
  description: APIs to VMX Server
  license:
    name: Apache License Version 2.0
    url: 'https://www.apache.org/licences/LICENSE-2.0'
  version: '1.0'
servers:
  - url: 'https://latam-gfs-customers-220.apps.us-chd1-np2.1dc.com'
    description: Generated server url
paths:
  /customer/reversal:
    put:
      tags:
        - Customer
      summary: Customer Reversal Update
      operationId: Update Customer Reversal
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: username
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerReversalRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
  /customer/:
    put:
      tags:
        - Customer
      summary: Customer Update
      operationId: Update Customer
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: username
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
    post:
      tags:
        - Customer
      summary: >-
        Allows A Client To Add A Customer Name/Address Record From An External
        Source
      operationId: Add New Customer_1
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: username
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomerRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
  /customer/relationship:
    post:
      tags:
        - Customer
      summary: Add Customer relationship number
      operationId: Add customer relationship number
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: username
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRelationshipDetailsRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
  /customer/relationshipNumber:
    post:
      tags:
        - Customer
      summary: Find Relationship Number Associated With A Customer Number
      operationId: Find Relationship Number
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: username
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerToRelationshipInquiryRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
  /customer/lookup:
    post:
      tags:
        - Customer
      summary: Customer Lookup
      operationId: Customer Lookup
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: username
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerLookupRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
  /customer/l8v2:
    post:
      tags:
        - Customer
      summary: >-
        Allows A Client To Add A Customer Name/Address Record From An External
        Source
      operationId: Add New Customer
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: username
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomerRequestL8V2'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
  /customer/generation:
    post:
      tags:
        - Customer
      summary: >-
        This service generates customer, relationship, account, and embosser
        numbers.
      operationId: Generate customer and account number
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: username
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CmsNumberGenerationRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
  /customer/extended-lookUp-l8v1:
    post:
      tags:
        - Customer
      summary: ' Customer Lookup L8V1 '
      operationId: Customer Lookup L8V1
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: username
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerLookupRequestL8V1'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
  /customer/details:
    post:
      tags:
        - Customer
      summary: Get Customer Cards Details
      operationId: Get Cards Details
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: username
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerChannelRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
  /customer/details-l8v4:
    post:
      tags:
        - Customer
      summary: Get Customer Cards Details version 4
      operationId: Get Cards Details l8v4
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: username
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerChannelVersion4Request'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
  /customer/demographicData:
    post:
      tags:
        - Customer
      summary: Request Demographic Data For A Customer
      operationId: Retrieve Demographic Data
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: username
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DemographicInquiryRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
  /customer/demographicData-l8v2:
    post:
      tags:
        - Customer
      summary: Request Demographic Data For A Customer
      operationId: Retrieve Demographic Data_1
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: username
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DemographicInquiryRequestL8V2'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
  /customer/activation:
    post:
      tags:
        - Customer
      summary: >-
        Allows A Client To Add A Customer Name/Address Record and Activate PAN
        token
      operationId: Add New Customer with PAN Activation
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: username
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomerActivationRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
  /customer/accountNumber:
    post:
      tags:
        - Customer
      summary: Find An Account Number Associated With A Customer Number
      operationId: Find An Account Number
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: username
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerToAccountInquiryRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
  /customer/{customerNumber}/relationship:
    get:
      tags:
        - Customer
      summary: >-
        Enables a user to inquire on the relationship number associated with the
        customer number
      operationId: Relationship Customer Inquiry
      parameters:
        - name: organizationNumber
          in: query
          description: organizationNumber
          required: true
          schema:
            type: integer
            format: int32
          example: 807
        - name: customerNumber
          in: path
          description: customerNumber
          required: true
          schema:
            maxLength: 19
            minLength: 19
            type: string
          example: '0080760000000001559'
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: username
          in: header
          required: false
          schema:
            type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
  /customer/{accountNumber}/current-prior-address:
    get:
      tags:
        - Customer
      summary: >-
        The Current/Prior Address Inquiry service provides information from the
        Customer Name/Address file(AMNA,  and the Prior Mailing Address
        file(AMPM, .
      operationId: Current/Prior Address Inquiry
      parameters:
        - name: accountNumber
          in: path
          description: >-
            Account number, relationship number, or customer number.This service
            performs the appropriate searches via the navigational services to
            find a match on the Customer Name/Address record, Relationship
            record, or Account Base Segment record
          required: true
          schema:
            maxLength: 19
            minLength: 19
            type: string
          example: '5491586126477642194'
        - name: organizationNumber
          in: query
          description: Organization Number
          required: true
          schema:
            type: integer
            format: int32
          example: 807
        - name: ownerCoOwnerFlag
          in: query
          description: |-
            Owner/co-owner flag
            The descriptions are:
            0 = Both owner and co-owner
            1 = Owner only(Default)
            2 = Co-owner only
          required: true
          schema:
            type: integer
            format: int32
          example: 0
        - name: currentPriorFlag
          in: query
          description: |-
            Current/prior flag
            The descriptions are:
            B = Both current and prior address information(Default)
            C = Current address information only
            P = Prior address information only
          required: true
          schema:
            maxLength: 1
            minLength: 0
            type: string
          example: B
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: username
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '500':
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
components:
  schemas:
    CarrierRoute:
      type: object
      properties:
        carrierRoute1and2:
          type: string
          description: Carrier Route 1-2
          example: C1
        carrierRoute3and4:
          type: integer
          description: Carrier Route 3-4
          format: int32
          example: 11
    DriverLicense:
      type: object
      properties:
        driverLicenseNumber:
          type: string
          description: Driver's License Number
        driverLicenseState:
          type: string
          description: Driver's License State
        driverLicenseCountry:
          type: string
          description: Driver's License Country
    UpdateCustomerReversalRequest:
      required:
        - customerNumber
        - dummyCustomerNumber
        - globalQualification
        - organizationNumber
        - panToken
        - postalCode
        - sicCode
        - status
        - vipStatus
      type: object
      properties:
        organizationNumber:
          type: integer
          description: Organization Number
          format: int32
          example: 807
        customerNumber:
          type: string
          description: 'Account, Card or Customer Number'
          example: '0001009990000012659'
        dummyCustomerNumber:
          type: string
          description: Dummy Customer Number
          example: '0001009990000012659'
        panToken:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Pan Token Number.
             Length: 19
        globalQualification:
          type: string
          description: Global Qualification Parameter
          example: A
        numberType:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Type Of Number In The 'idNumber' FieldThe values are:
            Zero, space, or
            low values = Card number
            1 = Customer number
            If zero, space, or low values is specified, the primary customer
            record associated with the account will be updated with the
            information provided to the service. If an alternate customer
            record, a correspondence customer record, or a customer record
            associated with a card is needed, use the customer number.
          example: '1'
        foreignUseIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Foreign Use Indicator. The values are:
            Zero, space, or
            low values = Local account
            1 = Foreign account
          example: '0'
        demographicDataIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Demographic Data Indicator. The values are:
            Zero, space, or
            low values = Do not update
            1 = Update owner
            2 = Update co-owner
          example: '1'
        userDataIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            User Data Indicator. The values are:
            Zero, space, or
            low values = Do not update
            1 = Update owner
            2 = Update co-owner
          example: '1'
        vipStatus:
          maximum: 1
          minimum: 0
          type: integer
          description: |-
            VIP Status Indicator. The values are:
            0 = Not VIP customer
            1 = VIP customer
          format: int32
          example: 1
        status:
          type: integer
          description: Status
          format: int32
          example: 1
        sicCode:
          type: integer
          description: SIC Code
          format: int32
          example: 123456
        title:
          type: string
          description: Title
          example: Monsieur
        maritalStatus:
          type: integer
          description: Marital Status
          format: int32
          example: 1
        nameLine1:
          type: string
          description: Name Line 1
        nameTypeIndicator1:
          type: integer
          description: |-
            Name Type Indicator 1. The values are:
            0 = Personal name
            1 = Business name
            2 = Store name
            3 = Generic name
          format: int32
          example: 0
        nameLine2:
          type: string
          description: Name Line 2
          example: OWN NAME L2 TEST9
        nameTypeIndicator2:
          type: integer
          description: |-
            Name Type Indicator 2. The values are:
            0 = Personal name
            1 = Business name
            2 = Store name
            3 = Generic name
          format: int32
          example: 0
        nameLine3:
          type: string
          description: Name Line 3
          example: OWN NAME L3
        nameTypeIndicator3:
          type: integer
          description: |-
            Name Type Indicator 3. The values are:
            0 = Personal name
            1 = Business name
            2 = Store name
            3 = Generic name
          format: int32
          example: 0
        houseNumber:
          type: string
          description: House Number
          example: '12349'
        houseName:
          type: string
          description: House Name
          example: LILY RESIDENCE
        houseAddress1:
          type: string
          description: House Address 1
          example: OWN ADDR L19
        houseAddress2:
          type: string
          description: House Address 2
          example: OWN ADDR L29
        houseAddress3:
          type: string
          description: House Address 3
          example: OWN ADDR L39
        houseAddress4:
          type: string
          description: House Address 4
          example: OWN ADDR L49
        city:
          type: string
          description: Residence City
          example: SUNSHINE
        state:
          type: string
          description: Residence State
          example: FL
        postalCode:
          type: string
          description: Residence Postal Code
          example: '12345679'
        countryCode:
          type: string
          description: Country Code
          example: USA
        ownOrRentResidenceFlag:
          type: integer
          description: Own/Rent residence flag
          format: int32
          example: 2
        languageIndicator:
          type: string
          description: Spoken Language Indicator
          example: ENG
        mailingList:
          type: string
          description: Code indicating whether the owner wants to be on a mailing list
          example: '1'
        contactIndicator:
          type: integer
          description: Code Indicating Wheter Customer Contact Is Restricted or Not
          format: int32
          example: 12
        genderCode:
          type: integer
          description: Gender Code
          format: int32
          example: 1
        homePhoneNumber:
          type: string
          description: Home Phone Number
          example: 123-456-9990
        homePhoneIndicator:
          type: integer
          description: >-
            Call indicator specifying whether you can contact the customer at
            this number

            The values are:

            0 = Customer may not be contacted using this number

            1 = Customer may be contacted using this number(Default)
          format: int32
          example: 1
        faxPhoneNumber:
          type: string
          description: FAX Phone Number
          example: 223-456-7890
        faxPhoneIndicator:
          type: integer
          description: >-
            Call indicator specifying whether you can contact the customer at
            this number

            The values are:

            0 = Customer may not be contacted using this number

            1 = Customer may be contacted using this number(Default)
          format: int32
          example: 1
        mobilePhoneNumber:
          type: string
          description: Mobile Phone Number
          example: 323-456-7890
        mobilePhoneIndicator:
          type: integer
          description: >-
            Call indicator specifying whether you can contact the customer at
            this number

            The values are:

            0 = Customer may not be contacted using this number

            1 = Customer may be contacted using this number(Default)
          format: int32
          example: 1
        dateOfBirth:
          type: string
          description: Date Of Birth
          format: yyyy-mm-dd
          example: 2010-09-11
        driverLicense:
          $ref: '#/components/schemas/DriverLicense'
        taxIdType:
          type: integer
          description: TAX ID Type
          format: int32
          example: 1
        taxIdNumber:
          type: string
          description: TAX ID Number
          example: '123456789'
        dateFiledForm:
          type: string
          description: |-
            Date on which the tax identification number of the owner was
            recorded in the Customer Name/Address record as a result of
            receiving the W-9 form
          format: yyyy-mm-dd
          example: 2020-01-01
        employerName:
          type: string
          description: Employer Name
          example: Milton
        employerAddress1:
          type: string
          description: Employer Address 1
          example: EMP ADDR L1
        employerAddress2:
          type: string
          description: Employer Address 2
          example: EMP ADDR L2
        employerPhoneNumber:
          type: string
          description: Employer Phone Number
          example: 123-456-7890
        employerExtensionPhoneNumber:
          type: string
          description: Employee Phone Extension
          example: '123456'
        employerPhoneFlag:
          type: integer
          description: Employer Phone Flag
          format: int32
          example: 1
        position:
          type: string
          description: Position
          example: CEO
        relativeName:
          type: string
          description: Relative Name
          example: Relative Name
        numberOfDependents:
          type: integer
          description: Number of Dependents
          format: int32
          example: 999
        email:
          type: string
          description: Email
          example: ABC.DEF@yahoo.com
        emailIndicator:
          type: integer
          description: |-
            Email Indicator. The values are:
            0 = Do not e-mail
            1 = May be e-mailed
            2 = Prefers to be e-mailed
          format: int32
          example: 1
        smsIndicator:
          type: integer
          description: |-
            Short message service(SMS) Indicator
            The values are:
            0 = No, do not send message
            1 = Yes, you can send message
          format: int32
          example: 1
        firstName:
          type: string
          description: First Name
          example: FirstName
        middleName:
          type: string
          description: Middle Name
          example: MiddleName
        lastName:
          type: string
          description: Last Name
          example: LastName
        suffix:
          type: string
          description: Suffix
          example: Sr
        county:
          type: string
          description: County
          example: Orange
        memo1:
          type: string
          description: Memo 1
          example: Memo 1
        memo2:
          type: string
          description: Memo 2
          example: Memo 2
        user1:
          type: string
          description: User 1
          example: U1
        user2:
          type: string
          description: User 2
          example: U2
        user3:
          type: string
          description: User 3
          example: U323323
        user4:
          type: string
          description: User 4
          example: U
        user5:
          type: string
          description: User 5
          example: U
        user6:
          type: string
          description: User 6
          example: U6
        user7:
          type: string
          description: User 7
          example: U7
        user8:
          type: string
          description: User 8
          example: U8
        user9:
          type: string
          description: User 9
          example: U9
        user10:
          type: integer
          description: User 10
          format: int32
          example: 2011031
        user11:
          type: integer
          description: User 11
          format: int32
          example: 2011032
        user12:
          type: string
          description: User 12
          example: U12
        user13:
          type: string
          description: User 13
          example: U13
        user14:
          type: string
          description: User 14
          example: U14
        user15:
          type: string
          description: User 15
          example: U15
        userDemographic1:
          type: string
          description: Owner's Demographic 1
          example: USER DEMO 1
        userDemographic2:
          type: string
          description: Owner's Demographic 2
          example: USER DEMO 2
        userDemographic3:
          type: string
          description: Owner's Demographic 3
          example: USER DEMO 3
        foreignFormIndicator:
          type: string
          description: 1099C foreign indicator
          example: A
        carrierRoute:
          $ref: '#/components/schemas/CarrierRoute'
        formDateSent:
          type: string
          description: C1099/W9 Date Sent
          format: yyyy-mm-dd
          example: 2020-01-24
        statementMessageIndicator:
          type: integer
          description: Statement Message Indicator
          format: int32
          example: 1
      description: Update Customer Reversal Request
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    UpdateCustomerRequest:
      required:
        - customerNumber
        - organizationNumber
        - postalCode
        - sicCode
        - status
        - vipStatus
      type: object
      properties:
        organizationNumber:
          type: integer
          description: Organization Number
          format: int32
          example: 807
        customerNumber:
          type: string
          description: 'Account, Card or Customer Number'
          example: '0001009990000012659'
        numberType:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Type Of Number In The 'idNumber' FieldThe values are:
            Zero, space, or
            low values = Card number
            1 = Customer number
            If zero, space, or low values is specified, the primary customer
            record associated with the account will be updated with the
            information provided to the service. If an alternate customer
            record, a correspondence customer record, or a customer record
            associated with a card is needed, use the customer number.
          example: '1'
        foreignUseIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Foreign Use Indicator. The values are:
            Zero, space, or
            low values = Local account
            1 = Foreign account
          example: '0'
        demographicDataIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Demographic Data Indicator. The values are:
            Zero, space, or
            low values = Do not update
            1 = Update owner
            2 = Update co-owner
          example: '1'
        userDataIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            User Data Indicator. The values are:
            Zero, space, or
            low values = Do not update
            1 = Update owner
            2 = Update co-owner
          example: '1'
        vipStatus:
          maximum: 1
          minimum: 0
          type: integer
          description: |-
            VIP Status Indicator. The values are:
            0 = Not VIP customer
            1 = VIP customer
          format: int32
          example: 1
        status:
          type: integer
          description: Status
          format: int32
          example: 1
        sicCode:
          type: integer
          description: SIC Code
          format: int32
          example: 123456
        title:
          type: string
          description: Title
          example: Monsieur
        maritalStatus:
          type: string
          description: Marital Status
          example: '1'
        nameLine1:
          type: string
          description: Name Line 1
        nameTypeIndicator1:
          type: integer
          description: |-
            Name Type Indicator 1. The values are:
            0 = Personal name
            1 = Business name
            2 = Store name
            3 = Generic name
          format: int32
          example: 0
        nameLine2:
          type: string
          description: Name Line 2
          example: OWN NAME L2 TEST9
        nameTypeIndicator2:
          type: integer
          description: |-
            Name Type Indicator 2. The values are:
            0 = Personal name
            1 = Business name
            2 = Store name
            3 = Generic name
          format: int32
          example: 0
        nameLine3:
          type: string
          description: Name Line 3
          example: OWN NAME L3
        nameTypeIndicator3:
          type: integer
          description: |-
            Name Type Indicator 3. The values are:
            0 = Personal name
            1 = Business name
            2 = Store name
            3 = Generic name
          format: int32
          example: 0
        houseNumber:
          type: string
          description: House Number
          example: '12349'
        houseName:
          type: string
          description: House Name
          example: LILY RESIDENCE
        houseAddress1:
          type: string
          description: House Address 1
          example: OWN ADDR L19
        houseAddress2:
          type: string
          description: House Address 2
          example: OWN ADDR L29
        houseAddress3:
          type: string
          description: House Address 3
          example: OWN ADDR L39
        houseAddress4:
          type: string
          description: House Address 4
          example: OWN ADDR L49
        city:
          type: string
          description: Residence City
          example: SUNSHINE
        state:
          type: string
          description: Residence State
          example: FL
        postalCode:
          type: string
          description: Residence Postal Code
          example: '12345679'
        countryCode:
          type: string
          description: Country Code
          example: USA
        ownOrRentResidenceFlag:
          type: integer
          description: Own/Rent residence flag
          format: int32
          example: 2
        languageIndicator:
          type: string
          description: Spoken Language Indicator
          example: ENG
        mailingList:
          type: string
          description: Code indicating whether the owner wants to be on a mailing list
          example: '1'
        contactIndicator:
          type: integer
          description: Code Indicating Wheter Customer Contact Is Restricted or Not
          format: int32
          example: 12
        genderCode:
          type: integer
          description: Gender Code
          format: int32
          example: 1
        homePhoneNumber:
          type: string
          description: Home Phone Number
          example: 123-456-9990
        homePhoneIndicator:
          type: integer
          description: >-
            Call indicator specifying whether you can contact the customer at
            this number

            The values are:

            0 = Customer may not be contacted using this number

            1 = Customer may be contacted using this number(Default)
          format: int32
          example: 1
        faxPhoneNumber:
          type: string
          description: FAX Phone Number
          example: 223-456-7890
        faxPhoneIndicator:
          type: integer
          description: >-
            Call indicator specifying whether you can contact the customer at
            this number

            The values are:

            0 = Customer may not be contacted using this number

            1 = Customer may be contacted using this number(Default)
          format: int32
          example: 1
        mobilePhoneNumber:
          type: string
          description: Mobile Phone Number
          example: 323-456-7890
        mobilePhoneIndicator:
          type: integer
          description: >-
            Call indicator specifying whether you can contact the customer at
            this number

            The values are:

            0 = Customer may not be contacted using this number

            1 = Customer may be contacted using this number(Default)
          format: int32
          example: 1
        dateOfBirth:
          type: string
          description: Date Of Birth
          format: date
        driverLicense:
          $ref: '#/components/schemas/DriverLicense'
        taxIdType:
          type: integer
          description: TAX ID Type
          format: int32
          example: 1
        taxIdNumber:
          type: string
          description: TAX ID Number
          example: '123456789'
        dateFiledForm:
          type: string
          description: |-
            Date on which the tax identification number of the owner was
            recorded in the Customer Name/Address record as a result of
            receiving the W-9 form
          format: yyyy-mm-dd
          example: 2020-01-01
        employerName:
          type: string
          description: Employer Name
          example: Milton
        employerAddress1:
          type: string
          description: Employer Address 1
          example: EMP ADDR L1
        employerAddress2:
          type: string
          description: Employer Address 2
          example: EMP ADDR L2
        employerPhoneNumber:
          type: string
          description: Employer Phone Number
          example: 123-456-7890
        employerExtensionPhoneNumber:
          type: string
          description: Employee Phone Extension
          example: '123456'
        employerPhoneFlag:
          type: integer
          description: Employer Phone Flag
          format: int32
          example: 1
        position:
          type: string
          description: Position
          example: CEO
        relativeName:
          type: string
          description: Relative Name
          example: Relative Name
        numberOfDependents:
          type: integer
          description: Number of Dependents
          format: int32
          example: 999
        email:
          type: string
          description: Email
          example: ABC.DEF@yahoo.com
        emailIndicator:
          type: integer
          description: |-
            Email Indicator. The values are:
            0 = Do not e-mail
            1 = May be e-mailed
            2 = Prefers to be e-mailed
          format: int32
          example: 1
        smsIndicator:
          type: integer
          description: |-
            Short message service(SMS) Indicator
            The values are:
            0 = No, do not send message
            1 = Yes, you can send message
          format: int32
          example: 1
        firstName:
          type: string
          description: First Name
          example: FirstName
        middleName:
          type: string
          description: Middle Name
          example: MiddleName
        lastName:
          type: string
          description: Last Name
          example: LastName
        suffix:
          type: string
          description: Suffix
          example: Sr
        county:
          type: string
          description: County
          example: Orange
        memo1:
          type: string
          description: Memo 1
          example: Memo 1
        memo2:
          type: string
          description: Memo 2
          example: Memo 2
        user1:
          type: string
          description: User 1
          example: U1
        user2:
          type: string
          description: User 2
          example: U2
        user3:
          type: string
          description: User 3
          example: U323323
        user4:
          type: string
          description: User 4
          example: U
        user5:
          type: string
          description: User 5
          example: U
        user6:
          type: string
          description: User 6
          example: U6
        user7:
          type: string
          description: User 7
          example: U7
        user8:
          type: string
          description: User 8
          example: U8
        user9:
          type: string
          description: User 9
          example: U9
        user10:
          type: integer
          description: User 10
          format: int32
          example: 2011031
        user11:
          type: integer
          description: User 11
          format: int32
          example: 2011032
        user12:
          type: string
          description: User 12
          example: U12
        user13:
          type: string
          description: User 13
          example: U13
        user14:
          type: string
          description: User 14
          example: U14
        user15:
          type: string
          description: User 15
          example: U15
        userDemographic1:
          type: string
          description: Owner's Demographic 1
          example: USER DEMO 1
        userDemographic2:
          type: string
          description: Owner's Demographic 2
          example: USER DEMO 2
        userDemographic3:
          type: string
          description: Owner's Demographic 3
          example: USER DEMO 3
        foreignFormIndicator:
          type: string
          description: 1099C foreign indicator
          example: A
        carrierRoute:
          $ref: '#/components/schemas/CarrierRoute'
        formDateSent:
          type: string
          description: C1099/W9 Date Sent
          format: yyyy-mm-dd
          example: 2020-01-24
        statementMessageIndicator:
          type: integer
          description: Statement Message Indicator
          format: int32
          example: 1
      description: Update Customer Request
    CustomerRelationshipDetailsRequest:
      required:
        - billingCycle
        - creditLimit
        - customerNumber
        - modificationAccountLevelFlag
        - organizationNumber
        - relationshipBillingLevel
      type: object
      properties:
        organizationNumber:
          type: string
          description: Organization Number
          example: '807'
        relationshipNumber:
          type: string
          description: Relationship Number
          example: '0008070010000019695'
        relationshipName:
          type: string
          description: Relationship Name
          example: RELATIONSHIP ADD
        customerNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: Customer Number
          example: '4513074002573466111'
        creditLimit:
          type: integer
          description: Credit Limit
          format: int32
          example: 10000
        blockCode:
          type: string
          description: Block Code
        mailCode:
          type: integer
          description: >-
            Address to use to send the card and PIN mailer when no address is
            entered on the Embosser record

            The values are:

            0 = Address assigned to the Customer Name Address record that is
            associated with the Account Base Segment record

            1 = Address assigned to the Customer Name Address record that is
            associated with the Relationship record
          format: int32
          example: 0
        amountOrAPercentageFlag:
          type: integer
          description: >-
            Flag that indicates whether the value entered in ARXARI-RESVAMT-PCT
            is an amount or a percentage

            The values are:

            0 = Amount

            1 = Percentage
          format: int32
          example: 0
        reserveAmountOrPercentage:
          type: integer
          description: Reserve Amount Or Percentage
          format: int32
        detailLevelStatements:
          type: integer
          description: >-
            Detail level at which statements will be produced.The values are:

            0 = Produce a relationship statement with summary subordinate
            account statements

            1 = Produce a relationship statement with detailed subordinate
            account statements
          format: int32
        accountControlTableIdentification:
          type: integer
          description: Account Control Table Identification
          format: int32
        billingCurrency:
          type: integer
          description: Billing Currency
          format: int32
        creditTransaction:
          type: integer
          description: Credit Transaction
          format: int32
        debitTransactionIdentification:
          type: integer
          description: Debit Transaction Identification
          format: int32
        commercialCardFlag:
          type: integer
          description: >-
            Flag that indicates whether this is a commercial card relationship

            The values are:

            0 = Not a commercial card relationship(Default)

            1 = Visa corporate card relationship

            2 = Visa purchasing card relationship

            3 = HCS commercial card relationship, which can include Visa
            corporate cards, Visa purchasing cards, and/or MasterCard purchasing
            cards
          format: int32
        relationshipUpdatedFlag:
          type: integer
          description: >-
            Flag that indicates whether the relationship is updated with the
            current balance, cash balance, memo debits, memo credits, and
            outstanding cash authorizations from the subordinate accounts.

            The values are:

            0 = Do not update the relationship in batch with the current
            balance, cash balance, memo debits, memo credits, and outstanding
            cash authorizations from the subordinate accounts. Do not calculate
            a memo balance and memo cash balance for the relationship

            1 = Update the relationship in batch with the current balance, cash
            balance, memo debits, memo credits, and outstanding cash
            authorizations from the subordinate accounts. Calculate a memo
            balance and a memo cash balance for the relationship
          format: int32
        billingCycle:
          type: integer
          description: Billing Cycle
          format: int32
          example: 31
        billingCycleMode:
          type: integer
          description: Billing Cycle Mode
          format: int32
        relationshipBillingLevel:
          type: integer
          description: |-
            Billing level for the relationship
            The values are:
            0 = Bill at relationship level
            1 = Bill at subordinate level
            2 = Combined billing either at relationship or subordinate level
          format: int32
          example: 1
        modificationAccountLevelFlag:
          type: integer
          description: >-
            Code that indicates whether you can modify the billing level at the
            subordinate account level or only at the relationship level

            The values are:

            0 = Modification at the subordinate account level is allowed

            1 = Modification at the subordinate account level is not allowed
          format: int32
          example: 1
        annualFeeFlag:
          type: integer
          description: >-
            Code that indicates the level at which to charge the annual fee for
            the relationship

            The values are:

            0 = Subordinate account level

            1 = Primary account level

            2 = Do not charge annual fee
          format: int32
          example: 0
        waiveAnnualFeeFlag:
          type: integer
          description: >-
            Code that indicates whether you can modify the waive annual fee flag
            at the subordinate account level

            The values are:

            0 = Modification is allowed

            1 = Modification is not allowed
          format: int32
          example: 0
        lateFeesCode:
          type: integer
          description: >-
            Code that indicates the level at which to charge late fees for the
            relationship

            The values are:

            0 = Subordinate account level

            1 = Primary account level

            2 = Do not charge late fees
          format: int32
          example: 0
        waiveLateChargesFlag:
          type: integer
          description: >-
            Code that indicates whether you can modify the waive late charges
            flag assigned to the subordinate accounts within the relationship

            The values are:

            0 = Modification is allowed

            1 = Modification is not allowed
          format: int32
          example: 0
        levelToChargeNonSufficientFundsFeesFlag:
          type: integer
          description: >-
            Code that indicates the level at which to charge non sufficient
            funds fees for the relationship

            The values are:

            0 = Subordinate account level

            1 = Primary account level

            2 = Do not charge NSF fees
          format: int32
        waiveNonSufficientFundsFeeFlag:
          type: integer
          description: >-
            Code that indicates whether you can modify the waive non sufficient
            funds fee flag at the subordinate account level

            The values are:

            0 = Modification is allowed

            1 = Modification is not allowed
          format: int32
          example: 0
        creditLimitInMonetaryUnits:
          type: integer
          description: Credit Limit In Monetary Units
          format: int32
        modifyCreditLimitFlag:
          type: integer
          description: >-
            Code that indicates whether you can modify the credit limit at the
            subordinate account level

            The values are:

            0 = Modification is allowed

            1 = Modification is not allowed
          format: int32
          example: 0
        corporationCustomerOrAddressNumber:
          type: string
          description: Corporation Customer Or Address Number
        identifyRelationshipsGroupFlag:
          type: string
          description: Identify Relationships Group Flag
        authorizationCriteriaTable:
          type: string
          description: Authorization Criteria Table
        numberToAssociateCardholderToRelationship:
          type: string
          description: Number To Associate Cardholder To Relationship
        monthInWhichFiscalYearEnds:
          type: integer
          description: Month In Which Fiscal Year Ends
          format: int32
        monthAndYearInWhichFiscalYearEnd:
          type: integer
          description: Month And Year In Which Fiscal Year End
          format: int32
        corporateIdNumber:
          type: integer
          description: Corporate Id Number
          format: int32
        sourceCode:
          type: string
          description: Source Code
        contactName:
          type: string
          description: Contact Name
        contactPhone:
          type: string
          description: Contact Phone
        officerName:
          type: string
          description: Officer Name
        userData:
          $ref: '#/components/schemas/CustomerRelationshipUserData'
      description: Add Customer relationship number request
    CustomerRelationshipUserData:
      type: object
      properties:
        userDate1:
          type: string
          description: User Date 1
          format: date
        userDate2:
          type: string
          description: User Date 2
          format: date
        userAmount1:
          type: integer
          description: User Amount 1
          format: int32
        userAmount2:
          type: integer
          description: User Amount 2
          format: int32
        userField5:
          type: string
          description: User Field 5
        userField6:
          type: string
          description: User Field 6
    CustomerToRelationshipInquiryRequest:
      required:
        - customerNumber
        - functionCode
        - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: Organization Number
          format: int32
          example: 807
        customerNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: Customer Number
          example: '4513074002573466107'
        functionCode:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Scrolling feature. The values are:
            Space = First 20 items(Default)
            N = Next 20 items
            P = Previous 20 items
      description: Relationship Number Request
    CustomerLookupRequest:
      required:
        - numberOfRecords
      type: object
      properties:
        optionalSearchData:
          $ref: '#/components/schemas/OptionalSearchData'
        primarySearchData:
          $ref: '#/components/schemas/PrimarySearchData'
        requestOptionData:
          $ref: '#/components/schemas/RequestOptionData'
        optionalDataMatch:
          type: integer
          description: |-
            Optional Data Match specifies any or all optional fields for search
            The values are:
            0 = Fetch records for any optional field match(Default)
            1 = Fetch records for all optional field match
          format: int32
          example: 0
        returnDataOption:
          type: string
          description: Return Data option
          example: '0'
          enum:
            - '0'
            - '1'
            - '2'
        serviceFunctionCode:
          type: string
          description: |-
            Service function code. The values are:
            N = Next request
            P = Previous request
          example: 'N'
          enum:
            - 'N'
            - 'P'
        numberOfRecords:
          type: integer
          description: Number of records requested
          format: int32
          example: 1
        clientId:
          type: string
          description: Client ID
          example: '"12345"'
        organizationNumber:
          type: integer
          description: Organization
          format: int32
        startToken:
          type: string
          description: Start Token
        lastNameFuzzySwitch:
          type: integer
          description: |
            Fuzzy switch option for LastName
            The values are:
            0 = Any Fuzzy
            1 = Begins with
            2 = Drill down
            3 = Ends with
          format: int32
          example: 0
        identifierFuzzySwitch:
          type: integer
          description: |
            Fuzzy switch option for Identifier
            The values are:
            0 = Any Fuzzy
            1 = Begins with
            2 = Drill down
            3 = Ends with
          format: int32
          example: 0
        phoneFuzzySwitch:
          type: integer
          description: |
            Fuzzy switch option for PhoneNumber
            The values are:
            0 = Any Fuzzy
            1 = Begins with
            2 = Drill down
            3 = Ends with
          format: int32
          example: 0
        postalFuzzySwitch:
          type: integer
          description: |
            Fuzzy switch option for PostalCode
            The values are:
            0 = Any Fuzzy
            1 = Begins with
            2 = Drill down
            3 = Ends with
          format: int32
          example: 0
        firstNameFuzzySwitch:
          type: integer
          description: |
            Fuzzy switch option for FirstName
            The values are:
            0 = Any Fuzzy
            1 = Begins with
            2 = Drill down
            3 = Ends with
          format: int32
          example: 0
        middleNameFuzzySwitch:
          type: integer
          description: |
            Fuzzy switch option for MiddleName
            The values are:
            0 = Any Fuzzy
            1 = Begins with
            2 = Drill down
            3 = Ends with
          format: int32
          example: 0
        titleFuzzySwitch:
          type: integer
          description: |
            Fuzzy switch option for Title
            The values are:
            0 = Any Fuzzy
            1 = Begins with
            2 = Drill down
            3 = Ends with
          format: int32
          example: 0
        suffixFuzzySwitch:
          type: integer
          description: |
            Fuzzy switch option for Suffix
            The values are:
            0 = Any Fuzzy
            1 = Begins with
            2 = Drill down
            3 = Ends with
          format: int32
          example: 0
        countryFuzzySwitch:
          type: integer
          description: |
            Fuzzy switch option for Country
            The values are:
            0 = Any Fuzzy
            1 = Begins with
            2 = Drill down
            3 = Ends with
          format: int32
          example: 0
        user14FuzzySwitch:
          type: integer
          description: |
            Fuzzy switch option for User14
            The values are:
            0 = Any Fuzzy
            1 = Begins with
            2 = Drill down
            3 = Ends with
          format: int32
          example: 0
        user15FuzzySwitch:
          type: integer
          description: |
            Fuzzy switch option for User15
            The values are:
            0 = Any Fuzzy
            1 = Begins with
            2 = Drill down
            3 = Ends with
          format: int32
          example: 0
      description: Get Customer Lookup Request
    OptionalSearchData:
      type: object
      properties:
        firstName:
          type: string
          description: First Name
          example: '"FirstName"'
        middleName:
          type: string
          description: Middle Name
          example: '"MiddleName"'
        dateOfBirth:
          type: string
          description: Date Of Birth
          format: date
        title:
          type: string
          description: Title
          example: '"Monsieur"'
        suffix:
          type: string
          description: Suffix
          example: '"Sr"'
        countryCode:
          type: string
          description: CountryCode
          example: '"USA"'
        user14:
          type: string
          description: Optional User 14
          example: '"User14"'
        user15:
          type: string
          description: Optional User 15
          example: '"User15"'
      description: CustomerLookupRequest.OptionalSearchData
    PrimarySearchData:
      type: object
      properties:
        lastBusinessName:
          type: string
          description: Last Business Name
          example: '"lastBusinessName"'
        identifier:
          type: string
          description: Identifier
          example: '"123456789"'
        phoneNumber:
          type: string
          description: Phone Number
          example: '"123-456-9990"'
        postalCode:
          type: string
          description: Postal Code
          example: '"12345679"'
      description: CustomerLookupRequest.PrimarySearchData
    RequestOptionData:
      type: object
      properties:
        lastNameOption:
          type: integer
          description: The indicator specifies Last Name as a primary search option
          format: int32
          example: 0
        identifierOption:
          type: integer
          description: The indicator specifies Identifier as a primary search option
          format: int32
          example: 0
        phoneNumberOption:
          type: integer
          description: The indicator specifies Phone Number as a primary search option
          format: int32
          example: 0
        postalCodeOption:
          type: integer
          description: The indicator specifies Postal Code as a primary search option
          format: int32
          example: 0
      description: CustomerLookupRequest.RequestOptionData
    AddCustomerRequestL8V2:
      type: object
      properties:
        customerData:
          $ref: '#/components/schemas/CustomerData'
        resvData:
          $ref: '#/components/schemas/ResvData'
      description: Add Customer Request
    CoOwnerData:
      required:
        - address2Indicator
        - address2Line1
        - address2Line2
        - address2Line3
        - address3Indicator
        - address3Line1
        - address3Line2
        - address3Line3
        - city2
        - city3
        - countryCode2
        - countryCode3
        - cuit
        - ffNumber
        - income
        - ivaPosition
        - occupationCode
        - postalCode
        - postalCode2
        - postalCode3
        - statement2Indicator
        - userDate3
      type: object
      properties:
        title:
          maxLength: 20
          minLength: 0
          type: string
          description: Co-maker's title
        maritalStatus:
          type: integer
          description: Marital Status
          format: int32
          example: 1
        nameLine1:
          maxLength: 40
          minLength: 0
          type: string
          description: Name Line 1
        nameTypeIndicator1:
          maximum: 1
          minimum: 0
          type: integer
          description: Name Type Indicator 1
          format: int32
          example: 0
        nameLine2:
          maxLength: 40
          minLength: 0
          type: string
          description: Name Line 2
          example: OWN NAME L2 TEST9
        nameTypeIndicator2:
          maximum: 1
          minimum: 0
          type: integer
          description: Name Type Indicator 2
          format: int32
          example: 1
        nameLine3:
          maxLength: 40
          minLength: 0
          type: string
          description: Name Line 3
          example: OWN NAME L3
        nameTypeIndicator3:
          maximum: 1
          minimum: 0
          type: integer
          description: Name Type Indicator 3
          format: int32
          example: 1
        houseNumber:
          maxLength: 20
          minLength: 0
          pattern: '^[0-9]{1,20}'
          type: string
          description: House Number
          example: '12349'
        houseName:
          maxLength: 40
          minLength: 0
          type: string
          description: House Name
          example: LILY RESIDENCE
        houseAddress1:
          maxLength: 40
          minLength: 0
          type: string
          description: House Address 1
          example: OWN ADDR L19
        houseAddress2:
          maxLength: 40
          minLength: 0
          type: string
          description: House Address 2
          example: OWN ADDR L29
        houseAddress3:
          maxLength: 40
          minLength: 0
          type: string
          description: House Address 3
          example: OWN ADDR L39
        houseAddress4:
          maxLength: 40
          minLength: 0
          type: string
          description: House Address 4
          example: OWN ADDR L49
        city:
          maxLength: 30
          minLength: 0
          type: string
          description: Residence City
          example: Sunshine
        state:
          maxLength: 3
          minLength: 0
          type: string
          description: Residence State
          example: FL
        postalCode:
          maxLength: 10
          minLength: 0
          type: string
          description: Residence Postal Code
          example: '12345679'
        countryCode:
          maxLength: 3
          minLength: 3
          type: string
          description: Country Code
          example: USA
        ownOrRentResidenceFlag:
          type: integer
          description: |-
            Maker’s own/rent residence flag. The values are:
            0 = Unknown
            1 = Owns or is buying residence
            2 = Rents or leases residence
            3 = Lives at someone else’s residence
          format: int32
          example: 2
        foreignIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: 1099C Foreign Indicator
          example: A
        languageIndicator:
          maxLength: 3
          minLength: 0
          type: string
          description: Spoken language indicator
          example: ENG
        mailingListIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: Code indicating whether the owner wants to be on a mailing list
          example: '1'
        contactIndicator:
          type: integer
          description: Code indicating whether customer contact is restricted or not
          format: int32
          example: 12
        genderCode:
          type: integer
          description: Gender Code
          format: int32
          example: 1
        carrierRoute1And2:
          maxLength: 2
          minLength: 0
          type: string
          description: Carrier Route 1-2
          example: C1
        carrierRoute3And4:
          type: integer
          description: Carrier Route 3-4
          format: int32
          example: 11
        homePhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: Home Phone Number
          example: 123-456-9990
        homeFaxPhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: Home FAX Phone Number
          example: 223-456-7890
        mobilePhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: Mobile Phone Number
          example: 323-456-7890
        dateOfBirth:
          type: string
          description: Date Of Birth('yyyy-MM-dd' format)
          format: yyyy-mm-dd
          example: 2010-09-11
        driverLicenseNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: Driver's License Number
        driverLicenseState:
          maxLength: 3
          minLength: 0
          type: string
          description: Driver's License State
        driverLicenseCountry:
          maxLength: 3
          minLength: 0
          type: string
          description: Driver's License Country
        identificationNumberFlag:
          type: integer
          description: |-
            Owner identification number flag. The values are:
            0 = Social Security number
            1 = Tax ID
            2 = Other ID
          format: int32
          example: 2
        identificationNumber:
          maxLength: 25
          minLength: 0
          type: string
          description: Identification Number
          example: '123456789'
        dateOfFile:
          type: string
          description: Date Of File For 1099C/W9
          format: yyyy-mm-dd
          example: 2019-09-10
        statementMessageIndicator:
          type: integer
          description: Statement Message Indicator
          format: int32
          example: 1
        employerName:
          maxLength: 40
          minLength: 0
          type: string
          description: Employer Name
          example: Milton
        employerAddress1:
          maxLength: 40
          minLength: 0
          type: string
          description: Employer Address 1
          example: EMP ADDR L1
        employerAddress2:
          maxLength: 40
          minLength: 0
          type: string
          description: Employer Address 2
          example: EMP ADDR L2
        employerPhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: Employer Phone Number
          example: 123-456-7890
        employerPhoneExtension:
          maxLength: 6
          minLength: 0
          type: string
          description: Employer Phone Extension
          example: '123456'
        employerPhoneFlag:
          type: integer
          description: |-
            Employer Phone flag. The values are:
            0 = Do not call
            1 = May be called
            2 = Prefers to be called
          format: int32
          example: 1
        position:
          maxLength: 4
          minLength: 0
          type: string
          description: Position
          example: CEO
        relativeName:
          maxLength: 40
          minLength: 0
          type: string
          description: Relative's Name
          example: Relative Name
        numberOfDependents:
          type: integer
          description: Number of Dependents
          format: int32
          example: 999
        email:
          maxLength: 60
          minLength: 0
          pattern: '^[a-zA-Z0-9_.-]+@[a-zA-Z0-9]+(\.[a-zA-Z]+)+$'
          type: string
          description: E-mail
          example: ABC.DEF@emailCompany.com
        memo1:
          maxLength: 60
          minLength: 0
          type: string
          description: Memo 1
          example: Memo 1
        memo2:
          maxLength: 60
          minLength: 0
          type: string
          description: Memo 2
          example: Memo 2
        user1:
          maxLength: 2
          minLength: 0
          type: string
          description: User 1
          example: U1
        user2:
          maxLength: 2
          minLength: 0
          type: string
          description: User 2
          example: U2
        user3:
          maxLength: 7
          minLength: 0
          type: string
          description: User 3
          example: U323323
        user4:
          maxLength: 1
          minLength: 0
          type: string
          description: User 4
          example: U
        user5:
          maxLength: 1
          minLength: 0
          type: string
          description: User 5
          example: U
        user6:
          maxLength: 2
          minLength: 0
          type: string
          description: User 6
          example: U6
        user7:
          maxLength: 2
          minLength: 0
          type: string
          description: User 7
          example: U7
        user8:
          maxLength: 3
          minLength: 0
          type: string
          description: User 8
          example: U8
        user9:
          maxLength: 3
          minLength: 0
          type: string
          description: User 9
          example: U9
        user10:
          maxLength: 7
          minLength: 0
          type: string
          description: User 10
          example: '2011031'
        user11:
          maxLength: 7
          minLength: 0
          type: string
          description: User 11
          example: '2011032'
        user12:
          maxLength: 30
          minLength: 0
          type: string
          description: User 12
          example: U12
        user13:
          maxLength: 30
          minLength: 0
          type: string
          description: User 13
          example: U13
        user14:
          maxLength: 20
          minLength: 0
          type: string
          description: User 14
          example: U14
        user15:
          maxLength: 20
          minLength: 0
          type: string
          description: User 15
          example: U15
        demographic1:
          maxLength: 20
          minLength: 0
          type: string
          description: User-defined demographic 1
          example: USER DEMO 1
        demographic2:
          maxLength: 20
          minLength: 0
          type: string
          description: User-defined demographic 2
          example: USER DEMO 2
        demographic3:
          maxLength: 20
          minLength: 0
          type: string
          description: User-defined demographic 3
          example: USER DEMO 3
        homePhoneFlag:
          type: integer
          description: |-
            Home phone flag. The values are:
            0 = Do not call
            1 = May be called
            2 = Prefers to be called
          format: int32
          example: 1
        faxPhoneFlag:
          type: integer
          description: |-
            Fax flag. The values are:
            0 = Do not fax
            1 = May be faxed
            2 = Prefers to be faxed
          format: int32
          example: 1
        mobilePhoneFlag:
          type: integer
          description: |-
            Mobile phone flag. The values are:
            0 = Do not call
            1 = May be called
            2 = Prefers to be called
          format: int32
          example: 1
        emailFlag:
          type: integer
          description: |-
            Email flag. The values are:
            0 = Do not e-mail
            1 = May be e-mailed
            2 = Prefers to be e-mailed
          format: int32
          example: 1
        smsFlag:
          type: integer
          description: |-
            Short message service(SMS) flag
            The values are:
            0 = No, do not send message
            1 = Yes, you can send message
          format: int32
          example: 1
        lastName:
          maxLength: 40
          minLength: 0
          type: string
          description: Last Name
          example: Gonzalez
        middleName:
          maxLength: 40
          minLength: 0
          type: string
          description: Middle Name
          example: Pedro
        firstName:
          maxLength: 40
          minLength: 0
          type: string
          description: First Name
          example: Juan
        suffix:
          maxLength: 20
          minLength: 0
          type: string
          description: Suffix
          example: Sr
        county:
          maxLength: 30
          minLength: 0
          type: string
          description: County
          example: Orange
        ffNumber:
          maxLength: 15
          minLength: 0
          type: string
          description: FF number
        statement2Indicator:
          maxLength: 1
          minLength: 0
          type: string
          description: Statement 2 Indicator
        address2Indicator:
          maxLength: 1
          minLength: 0
          type: string
          description: Address 2 Indicator
        address3Indicator:
          maxLength: 1
          minLength: 0
          type: string
          description: Address 3 Indicator
        address2Line1:
          maxLength: 40
          minLength: 0
          type: string
          description: Address 2 Line 1
        address2Line2:
          maxLength: 40
          minLength: 0
          type: string
          description: Address 2 Line 2
        address2Line3:
          maxLength: 40
          minLength: 0
          type: string
          description: Address 2 Line 3
        city2:
          maxLength: 25
          minLength: 0
          type: string
          description: City 2
        postalCode2:
          maxLength: 9
          minLength: 0
          type: string
          description: Postal Code 2
        countryCode2:
          maxLength: 3
          minLength: 0
          type: string
          description: Country Code 2
        address3Line1:
          maxLength: 40
          minLength: 0
          type: string
          description: Address 3 Line 1
        address3Line2:
          maxLength: 40
          minLength: 0
          type: string
          description: Address 3 Line 2
        address3Line3:
          maxLength: 40
          minLength: 0
          type: string
          description: Address 3 Line 3
        city3:
          maxLength: 25
          minLength: 0
          type: string
          description: City 3
        postalCode3:
          maxLength: 9
          minLength: 0
          type: string
          description: Postal Code 3
        countryCode3:
          maxLength: 3
          minLength: 0
          type: string
          description: Country Code 3
        userDate3:
          type: string
          description: User Date 3('yyyy-MM-dd' format)
          format: date
        income:
          type: integer
          description: Income
          format: int32
        cuit:
          maxLength: 11
          minLength: 0
          pattern: '^[0-9]{11}$'
          type: string
          description: 'CUIT(11 numbers, no hyphens)'
          example: '20374645497'
        occupationCode:
          maxLength: 6
          minLength: 0
          pattern: '^[0-9]{6}$'
          type: string
          description: Occupation Code
        ivaPosition:
          maxLength: 1
          minLength: 0
          pattern: '^[0-9]+$'
          type: string
          description: IVA Position
      description: AddCustomerRequestL8V2.OwnerCoOwnerData.CoOwnerData
    CustomerData:
      type: object
      properties:
        customerKeyData:
          $ref: '#/components/schemas/CustomerKeyData'
        customerMiscellaneousData:
          $ref: '#/components/schemas/CustomerMiscellaneousData'
        ownerCoOwnerData:
          $ref: '#/components/schemas/OwnerCoOwnerData'
      description: AddCustomerRequestL8V2.CustomerData
    CustomerKeyData:
      required:
        - dualFlag
        - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: Organization Number
          format: int32
          example: 807
        customerNumber:
          maxLength: 19
          minLength: 1
          type: string
          description: Customer Number
        accountNumber:
          maxLength: 19
          minLength: 1
          type: string
          description: |-
            Account Number.
             Length: 19
        coOwnerIndicator:
          type: integer
          description: |-
[...]
