openapi: 3.0.1
info:
  title: FirstVision™ Customer Service - API Documentation
  description: This documentation describes the REST APIs provided by the FirstVision™ Customer Microservice for Ualá.
  version: "1.2"
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /customer/:
    post:
      tags:
      - Customer
      x-child-product-name: Add New Customer
      x-proxy-name: Customer
      summary: "Add new Customer. VMX Service: M.CMS.CUSTOMER.ADD ,R8V4"
      description: Creates a Customer number and adds demographical information to
        the Customer record
      operationId: Add New Customer
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomerRequest'
        required: true
      responses:
        "405":
          description: Method Not Allowed
        "422":
          description: |-
            VPL5SNA03S – N/A SERVICE INPUT AREA IS NOT OF CORRECT SIZE
            VPL5SNA04S – OWNER/CO-OWNER INDICATOR MUST BE 1 OR 2
            VPL5SNA06S – INVALID FOREIGN USE INDICATOR - MUST BE 0 OR 1 ONLY
            VPL5SNA07S – CONFLICTING ORG AND ACCOUNT DATA WAS PASSED TO THE SERVICE
            VPL5SNA08S – CONFLICTING ORG, ACCOUNT, AND CUSTOMER DATA PASSED TO THE SERVICE
            VPL5SNA09S – NO ORG, ACCOUNT, OR CUSTOMER DATA WAS PASSED TO THE SERVICE
            VPL5SNA10S – DUAL NOT ALLOWED FOR THIS ORG
            VPL5SNA11S – THE NUMBER GENERATION SERVICE FAILED
            VPL5SNA12S – LOCAL CUSTOMER NUMBER ALREADY EXISTS
            VPL5SNA13S – FOREIGN CUSTOMER NUMBER EXISTS
            VPL5SNA14S – ACCOUNT/EMBOSSER ORG NOT FOUND
            VPL5SNA15S – FOREIGN ORG NUMBER NOT FOUND
            VPL5SNA16S – CUSTOMER ORG NOT FOUND
            VPL5SNA17S – CUSTOMER ORG NOT FOUND
            VPL5SNA18S – CUSTOMER NUMBER PROVIDED NOT VALID FOR CUSTOMER ORG
            VPL5SNA19S – ORG NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SNA20S – CUSTOMER ORG NOT FOUND
            VPL5SNA21S – FOREIGN ORG NUMBER NOT FOUND
            VPL5SNA22S – CUSTOMER ORG NOT FOUND
            VPL5SNA23S – CUSTOMER NUMBER PROVIDED NOT VALID FOR CUSTOMER ORG
            VPL5SNA24S – LOCAL CUSTOMER NUMBER ALREADY EXISTS
            VPL5SNA25S – FOREIGN CUSTOMER NUMBER EXISTS
            VPL5SNA26S – CUSTOMER NUMBER ALREADY EXISTS ON RELATIONSHIP FILE
            VPL5SNA27S – CUSTOMER NUMBER ALREADY EXISTS ON DUAL RELATIONSHIP FILE
            VPL5SNA28S – VIP STATUS INVALID - VALUES 0 OR 1 ONLY
            VPL5SNA29S – SIC CODE MUST BE NUMERIC
            VPL5SNA30S – TAX IDENTIFICATION FLAG INVALID - 0, 1 OR 2 ONLY
            VPL5SNA31S – TAX-ID NBR POSITIONS 1-9 MUST BE NUMERIC WHEN TAX-ID FLAG IS 0
            VPL5SNA32S - PHONE FLAG INVALID - 0, 1 OR 2 ONLY
            VPL5SNA33S – COUNTRY CODE INVALID
            VPL5SNA34S – POSTAL CODE FORMAT INVALID
            VPL5SNA35S – MARITAL STATUS INVALID - MUST BE 0 THROUGH 4 ONLY
            VPL5SNA36S – RESIDENCE FLAG INVALID - 0, 1, 2 OR 3 ONLY
            VPL5SNA37S – CARRIER ROUTE INVALID FORMAT - LAST 2 CHARACTERS MUST BE NUMERIC
            VPL5SNA38S – DATE-OF-BIRTH CANNOT BE A FUTURE DATE
            VPL5SNA39S – DATE-OF-BIRTH IS INVALID
            VPL5SNA40S – 1099C DATE FILED CANNOT BE A FUTURE DATE
            VPL5SNA41S – 1099C DATE FILED IS INVALID
            VPL5SNA42S – NUMBER OF DEPENDENTS NOT NUMERIC
            VPL5SNA43S – STATEMENT MESSAGE INDICATOR NOT NUMERIC
            VPL5SNA44S – USER-10 DATE IS INVALID
            VPL5SNA45S – USER-11 DATE IS INVALID
            VPL5SNA46S – NAME TYPE INDICATOR 1 INVALID - 0, 1, OR 3 ONLY
            VPL5SNA47S – NAME TYPE INDICATOR 2 INVALID - 0, 1, OR 3 ONLY
            VPL5SNA48S – NAME TYPE INDICATOR 3 INVALID - 0, 1, OR 3 ONLY
            VPL5SNA49S – CONTACT INDICATOR MUST BE NUMERIC
            VPL5SNA50S – DUAL ORG NUMBER NOT FOUND
            VPL5SNA51S – DUAL INDICATOR - CHECK-DIGIT CUST NUMBER REQUIRED FOR FOREIGN ORG
            VPL5SNA52S – ORG COULD NOT BE DERIVED FROM EITHER CUST OR ACCT NBR PROVIDED
            VPL5SNA53S – ORG NUMBER NOT FOUND
            VPL5SNA56S – CUSTOMER NUMBER CHECK-DIGIT IS INVALID
            VPL5SNA57S – GENDER CODE INVALID - 0, 1 OR 2 ONLY
            VPL5SNA58S – FAX PHONE FLAG INVALID - 0, 1 OR 2 ONLY
            VPL5SNA59S – HOME PHONE FLAG INVALID - 0, 1 OR 2 ONLY
            VPL5SNA60S – MOBILE PHONE FLAG INVALID - 0, 1 OR 2 ONLY
            VPL5SNA61S – EMAIL FLAG INVALID - 0, 1 OR 2 ONLY
            VPL5SNA62S – SMS FLAG INVALID - 0 OR 1 ONLY
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "403":
          description: Forbidden
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCustomerResponse'
components:
  schemas:
    AddCustomerRequest:
      type: object
      properties:
        customerData:
          $ref: '#/components/schemas/CustomerData'
        resvData:
          $ref: '#/components/schemas/ResvData'
      description: Add Customer Request
    AddCustomerRequest.CustomerData.OwnerCoOwnerData:
      type: object
      properties:
        ownerData:
          $ref: '#/components/schemas/OwnerData'
        coOwnerData:
          $ref: '#/components/schemas/CoOwnerData'
    CoOwnerData:
      required:
      - postalCode
      type: object
      properties:
        maritalStatus:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Length: 1
            Marital Status. The values are -
            0 = Not used(Default)
            1 = Married and living at the same address
            2 = Married and living at different addresses
            3 = Not married and living at the same address
            4 = Not married and living at different addresses
            D = Divorced
            M = Married
            S = Single
            U = Undefined
            W = Widower
            VisionPLUS Service Data: ARXNAI-C-MARITAL-STATUS
          example: "1"
        nameLine1:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Length: 40
            Name of the customer as defined on the Customer Name/ Address record that is associated with the account.
            VisionPLUS Service Data: ARXNAI-C-NAME-LINE-1
          example: OWN NAME L2 TEST9
        nameTypeIndicator1:
          type: integer
          description: |-
            Length: 1
            Name Type Indicator 1. indicates the type of name.
            The values are -
            0 = Personal name (Default)
            1 = Business name
            3 = Generic name
            VisionPLUS Service Data: ARXNAI-C-NAME-TYPE-IND-1
          format: int32
          example: 0
        nameLine2:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Length: 40
            Name of the customer as defined on the Customer Name/ Address record that is associated with the account.
            VisionPLUS Service Data: ARXNAI-C-NAME-LINE-1
          example: OWN NAME L2 TEST9
        nameTypeIndicator2:
          type: integer
          description: |-
            Length: 1
            Name Type Indicator 2. indicates the type of name.
            The values are -
            0 = Personal name (Default)
            1 = Business name
            3 = Generic name
            VisionPLUS Service Data: ARXNAI-C-NAME-TYPE-IND-2
          format: int32
          example: 0
        nameLine3:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nName Line 3\nVisionPLUS Service Data: ARXNAI-C-NAME-LINE-1"
          example: OWN NAME L3
        nameTypeIndicator3:
          type: integer
          description: |-
            Length: 1
            Name Type Indicator 3. indicates the type of name.
            The values are -
            0 = Personal name (Default)
            1 = Business name
            3 = Generic name
            VisionPLUS Service Data: ARXNAI-C-NAME-TYPE-IND-1
          format: int32
          example: 0
        houseNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: "Length 20 \nInternal number of the residence\nVisionPLUS Service\
            \ Data: ARXNA-C-HOUSE-NBR"
          example: "12349"
        houseName:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nHouse Name\nVisionPLUS Service Data: ARXNAI-C-HOUSE-NAME"
          example: LILY RESIDENCE
        houseAddress1:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nHouse Address 1\nVisionPLUS Service Data: ARXNAI-C-ADDR-1"
          example: OWN ADDR L19
        houseAddress2:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nHouse Address 2\nVisionPLUS Service Data: ARXNAI-C-ADDR-2"
          example: OWN ADDR L19
        houseAddress3:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nHouse Address 3\nVisionPLUS Service Data: ARXNAI-C-ADDR-3"
          example: OWN ADDR L19
        houseAddress4:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nHouse Address 4\nVisionPLUS Service Data: ARXNAI-C-ADDR-4"
          example: OWN ADDR L19
        city:
          maxLength: 30
          minLength: 0
          type: string
          description: |-
            Length: 30
            City of the legal address of the property.
            VisionPLUS Service Data: ARXNAI-C-CITY
          example: Sunshine
        state:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            Length: 3
            Residence state. This is derived based on the state code.
            VisionPLUS Service Data: ARXNAI-C-STATE
          example: FL
        postalCode:
          maxLength: 10
          minLength: 0
          type: string
          description: "Length: 10 \nResidence Postal Code\nVisionPLUS Service Data:\
            \ ARXNAI-C-PSTL-CD"
          example: "12345679"
        countryCode:
          maxLength: 30
          minLength: 0
          type: string
          description: |-
            Length: 30
            Code that identifies the country in which this organization is located.
            VisionPLUS Service Data: ARXNAI-C-CNTRY-CD
          example: USA
        ownOrRentResidenceFlag:
          type: integer
          description: |-
            Length: 1
            Maker's own/rent residence flag. The values are -
            0 = Unknown
            1 = Owns or is buying residence
            2 = Rents or leases residence
            3 = Lives at someone else’s residence
            VisionPLUS Service Data: ARXNAI-C-OWN-RENT-RESID-FLAG
          format: int32
          example: 2
        foreignIndicator:
          type: string
          description: |-
            Length: 1
            Foreign Indicator. The values are:
            Blank = Does not live in a foreign country(Default)
            Any character = Lives in a foreign country. Format the address to the IRS standard.
            VisionPLUS Service Data: ARXNAI-C-1099C-FOREIGN-IND
          example: A
        languageIndicator:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            Length: 3
            Spoken Language Indicator.
            V+ will always populate
            VisionPLUS Service Data: ARXNAI-C-LANGUAGE-IND
          example: ENG
        mailingList:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Length: 1
            Code indicating whether the Owner wants to be on a Mailing List.
            VisionPLUS Service Data: ARXNAI-C-MAILING-LIST
          example: "1"
        contactIndicator:
          maximum: 2
          minimum: 0
          type: integer
          description: |-
            Length: 2
            Code indicating whether customer contact is restricted or not.
            The values are:
            00 = No restriction(Default)
            01 = Do not telephone
            02 = Do not mail
            03 = Do not mail or telephone
            04-09 = Reserved for future use
            10-99 = User-defined by client.
            VisionPLUS Service Data: ARXNAI-C-CONTACT-IND
          format: int32
          example: 2
        genderCode:
          type: integer
          description: |-
            Length: 1
            Gender. The values are:
            0 = Unspecified(Default)
            1 = Male
            2 = Female
            VisionPLUS Service Data: ARXNAI-C-GENDER-CODE
          format: int32
          example: 1
        carrierRoute1and2:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Length: 2
            Two-part field that identifies the carrier route used for mail sorting purposes. Carrier route used to sort mail for postal delivery purposes.
            VisionPLUS Service Data: ARXNAI-C-CR-1-2
          example: C1
        carrierRoute3and4:
          maximum: 2
          minimum: 0
          type: integer
          description: |-
            Length: 2
            Two-part field that identifies the carrier route used for mail sorting purposes. Carrier route used to sort mail for postal delivery purposes.
            VisionPLUS Service Data: ARXNAI-C-CR-3-4
          format: int32
          example: 11
        homePhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            Three-part field that indicates the fax number of the customer, whether you have the customer’s permission to contact the customer at this number, and the date on which the fax number was last modified
            VisionPLUS Service Data: ARXNAI-C-HOME-PHONE.
          example: 123-456-9990
        homeFaxPhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            Three-part field that indicates the fax number of the customer, whether you have the customer’s permission to contact the customer at this number, and the date on which the fax number was last modified.
            VisionPLUS Service Data: ARXNAI-C-FAX-PHONE
          example: 223-456-7890
        mobilePhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: "Length 20 \n Mobile Phone Number\nVisionPLUS Service Data:\
            \ ARXNAI-C-MOBILE-PHONE"
          example: 323-456-7890
        dateOfBirth:
          type: string
          description: |-
            Date of birth of the customer.
            VisionPLUS Service Data: ARXNAI-C-DOB
          format: date
        driverLicenseNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            Three-part field that identifies the driver license number of the owner, state or province of issue, and the country of issue.
            VisionPLUS Service Data: ARXNAI-C-DL-NBR
        driverLicenseState:
          maxLength: 3
          minLength: 0
          type: string
          description: "Length 3 \n Driver's License State\nVisionPLUS Service Data:\
            \ ARXNAI-C-DL-STATE"
        driverLicenseCountry:
          maxLength: 3
          minLength: 0
          type: string
          description: "Length 3 \n Driver's License Country\nVisionPLUS Service Data:\
            \ ARXNAI-C-DL-CNTRY"
        identificationNumberFlag:
          type: integer
          description: |-
            Length: 1
            Type of Identification.Owner identification number flag.The values are -
            0 = Social Security number
            1 = Tax ID
            2 = Other ID
            VisionPLUS Service Data: ARXNAI-C-SSAN-FLAG
          format: int32
          example: 2
        identificationNumber:
          maxLength: 25
          minLength: 0
          type: string
          description: |-
            Length: 25
            Identification number of the customer.If the field is 0 (Social Security number), the second part must be nine numeric characters only.
            isionPLUS Service Data: ARXNAI-C-SSAN
          example: "123456789"
        dateOfFile:
          type: string
          description: |-
            Date Of File
            VisionPLUS Service Data: ARXNAI-C-1099C-W9-DATE-FILED
          format: date
        statementMessageIndicator:
          type: integer
          description: |-
            Length: 1
            Statement Message Indicator.
            The values are 0–9. The default is 0.
            VisionPLUS Service Data: ARXNAI-C-STMT-MSG-INDIC
          format: int32
          example: 0
        employerName:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nEmployer Name\nVisionPLUS Service Data: ARXNAI-C-EMPLOYER"
          example: Milton
        employerAddress1:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Length: 40
            Two-part field that indicates the mailing address of the employer of the owner.
            VisionPLUS Service Data: ARXNAI-C-EMPLOYER-ADDR-1
          example: EMP ADDR L1
        employerAddress2:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Length: 40
            Two-part field that indicates the mailing address of the employer of the owner.
            VisionPLUS Service Data: ARXNAI-C-EMPLOYER-ADDR-2
          example: EMP ADDR L1
        employerPhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: "Length 20 \nEmployer Phone Number\nVisionPLUS Service Data:\
            \ ARXNAI-C-EMP-PHONE"
          example: 123-456-7890
        employerExtensionPhoneNumber:
          maxLength: 6
          minLength: 0
          type: string
          description: "Length 6 \n Employee Phone Extension\nVisionPLUS Service Data:\
            \ ARXNAI-C-EMP-PHONE-EXTN"
          example: "123456"
        employerPhoneFlag:
          type: integer
          description: |-
            Length: 1
            Employer Phone Flag.
            The values are:
            0 = Do not call
            1 = May be called
            2 = Prefers to be called
            VisionPLUS Service Data: ARXNAI-C-PHONE-FLAG
          format: int32
          example: 1
        position:
          maxLength: 4
          minLength: 0
          type: string
          description: |-
            Length: 4
            User-defined code to indicate the position or job title of the owner.
            VisionPLUS Service Data: ARXNAI-C-POSITION
          example: CEO
        relativeName:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Length: 40
            Name of a relative of the co-owner.
            VisionPLUS Service Data: ARXNAI-C-RELATIVE-NAME
          example: Relative Name
        numberOfDependents:
          maximum: 3
          minimum: 0
          type: integer
          description: "Length 3 \nNumber of Dependents\nVisionPLUS Service Data:\
            \ ARXNAI-C-NBR-OF-DEPENDENTS"
          format: int32
          example: 999
        email:
          maxLength: 60
          minLength: 0
          type: string
          description: "Length 60 \nEmail of customer\nVisionPLUS Service Data: ARXNAI-C-EMAIL"
          example: ABC.DEF@yahoo.com
        memo1:
          maxLength: 60
          minLength: 0
          type: string
          description: |-
            Length: 60
            Two-part field used to enter memos or notes related to this account.
            VisionPLUS Service Data: ARXNAI-C-MEMO-1
          example: Memo 1
        memo2:
          maxLength: 60
          minLength: 0
          type: string
          description: |-
            Length: 60
            Two-part field used to enter memos or notes related to this account."VisionPLUS Service Data: ARXNAI-C-MEMO-2
          example: Memo 2
        user1:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Length: 2
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-1
          example: U1
        user2:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Length: 2
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-2
          example: U2
        user3:
          maxLength: 7
          minLength: 0
          type: string
          description: |-
            Length: 7
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-3
          example: U323323
        user4:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Length: 1
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-4
          example: U
        user5:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Length: 1
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-5
          example: U
        user6:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Length: 2
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-6
          example: U6
        user7:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Length: 2
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-7
          example: U7
        user8:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            Length: 3
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-8
          example: U8
        user9:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            Length: 3
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-9
          example: U9
        user10:
          maxLength: 7
          minLength: 0
          type: string
          description: |-
            Length: 7
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-10
          example: "2011031"
        user11:
          maxLength: 7
          minLength: 0
          type: string
          description: |-
            Length: 7
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-11
          example: "2011031"
        user12:
          maxLength: 30
          minLength: 0
          type: string
          description: |-
            Length: 30
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-12
          example: U12
        user13:
          maxLength: 30
          minLength: 0
          type: string
          description: |-
            Length: 30
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-13
          example: U13
        user14:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-14
          example: U14
        user15:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-C-USER-15
          example: U15
        demographic1:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: ARXNAI-C-USER-DEMO-1
          example: USER DEMO 1
        demographic2:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: ARXNAI-C-USER-DEMO-2
          example: USER DEMO 2
        demographic3:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: ARXNAI-C-USER-DEMO-3
          example: USER DEMO 3
        homePhoneFlag:
          type: integer
          description: |-
            Length: 1
            Home Phone Indicator. The values are:
            0 = Do not call
            1 = May be called
            2 = Prefers to be called
            VisionPLUS Service Data: ARXNAI-C-HOME-PHONE-FLAG
          format: int32
          example: 1
        faxPhoneFlag:
          type: integer
          description: |-
            Length: 1
            Three-part field that indicates the facsimile (fax) number of the co-owner, whether you have the co-owner’s permission to use this number, and the date when the number was last modified.
            The values are:
            0 = Do not fax
            1 = May be faxed
            2 = Prefers to be faxed
            VisionPLUS Service Data: ARXNAI-C-FAX-PHONE-FLAG
          format: int32
          example: 1
        mobilePhoneFlag:
          type: integer
          description: |-
            Length: 1
            Mobile phone flag. The values are -
            0 = Do not call
            1 = May be called
            2 = Prefers to be called"VisionPLUS Service Data: ARXNAI-C-PHONE-FLAG
          format: int32
          example: 1
        emailFlag:
          type: integer
          description: |-
            Length: 1
            Email flag. The values are:
            0 = Do not e-mail
            1 = May be e-mailed
            2 = Prefers to be e-mailed
            VisionPLUS Service Data: ARXNAI-C-EMAIL-FLAG
          format: int32
          example: 1
        smsFlag:
          type: integer
          description: |-
            Length: 1
            Short message service (SMS) flag.
            The values are -
            0 = No, do not send message
            1 = Yes, you can send message
            VisionPLUS Service Data: ARXNAI-C-SMS-FLAG
          format: int32
          example: 1
        lastName:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nLast Name\nVisionPLUS Service Data: ARXNAI-C-LAST-NAME"
          example: Gonzalez
        middleName:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nMiddle Name\nVisionPLUS Service Data: ARXNAI-C-MIDDDLE-NAME"
          example: Pedro
        firstName:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nFirst Name\nVisionPLUS Service Data: ARXNAI-C-FIRST-NAME"
          example: Juan
        suffix:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            Field that identifies the suffix of the name of the owner.
            VisionPLUS Service Data: ARXNAI-C-SUFFIX
          example: Sr
        county:
          maxLength: 30
          minLength: 0
          type: string
          description: |-
            Length: 30
            County portion of the mailing address of the owner.
            VisionPLUS Service Data: ARXNA-C-COUNTY
          example: Orange
    CustomerData:
      type: object
      properties:
        customerKeyData:
          $ref: '#/components/schemas/CustomerKeyData'
        customerMiscellaneousData:
          $ref: '#/components/schemas/CustomerMiscellaneousData'
        ownerCoOwnerData:
          $ref: '#/components/schemas/AddCustomerRequest.CustomerData.OwnerCoOwnerData'
      description: AddCustomerRequest.CustomerData
    CustomerKeyData:
      required:
      - accountNumber
      - customerNumber
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3
            Identification number of the organization associated with the multilingual functionality (001-999).
             VisionPLUS Service Data: ARXNAI-LOCAL-ACCT-ORG
          format: int32
          example: 807
        customerNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19
            Customer number that identifies the Customer Name/Address record to which this account is assigned.
            A valid customer name and address must be on file for this account.
            VisionPLUS Service Data: ARXNAI-CUST-NBR
          example: "4513074002573466111"
        accountNumber:
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Identification of the account number associated with the customer number (demographic data) that you want to modify or view.
            VisionPLUS Service Data: ARXNAI-BS-ACCT
          example: "9999995020000600000"
        coOwnerIndicator:
          type: integer
          description: |-
            Length: 1
            Owner/CoOwner Indicator. Maker/Comaker indicator
            The values are:
            * 1 = Maker
            * 2 = Comaker.
            VisionPLUS Service Data: ARXNAI-NA-COMAKER-IND
          format: int32
          example: 1
        dualFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Length: 1
            Dual currency indicator.
            The values are:
            * 0 = Dual currency is not active(Default)
            * 1 = Dual billing is active.
            VisionPLUS Service Data: ARXNAI-DUAL-FLAG
          example: "0"
    CustomerMiscellaneousData:
      type: object
      properties:
        vipStatus:
          type: integer
          description: |-
            Length: 1
            VIP status indicator. The values are:
            * 0 = Not VIP customer
            * 1 = VIP customer.
            VisionPLUS Service Data: ARXNAI-VIP-STATUS.
          format: int32
          example: 1
        sicCode:
          type: integer
          description: |-
            Length: 6
            Standard Industrial Classification code used to identify the industry to which the commercial card customer is associated.
            VisionPLUS Service Data: ARXNAI-SIC-CODE.
          format: int32
          example: 123456
        status:
          type: string
          description: |-
            Length: 1
            Status Of The Account.
            The values are:
            * A = Active
            * B = Conversion fraud
            * C = Conversion transfer
            * D = Dormant
            * F = Fraud transfer
            * H = Closed/conversion
            * I = Inactive
            * J = Transfer in, migrated from inactive
            * K = Transfer out, migrated from inactive
            * M = Migrated
            * N = New
            * P = To be purged in next reload
            * Q = Transfer in today
            * R = Transfer out today
            * T = Transfer
            * V = Conversion
            * X = Charge-off/conversion
            * Z = Charge-off
            * 8 = Closed
            * 9 = To be purged after reload.
            VisionPLUS Service Data: ARXNAI-STATUS.
          example: A
    OwnerData:
      required:
      - postalCode
      type: object
      properties:
        maritalStatus:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Length: 1
            Marital Status. The values are -
            * 0 = Not used (Default)
            * 1 = Married and living at the same address
            * 2 = Married and living at different addresses
            * 3 = Not married and living at the same address
            * 4 = Not married and living at different addresses
            * D = Divorced
            * M = Married
            * S = Single
            * U = Undefined
            * W = Widower
            VisionPLUS Service Data: ARXNAI-MARITAL-STATUS
          example: "1"
        nameLine1:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \n Name Line 1\nVisionPLUS Service Data: ARXNAI-NAME-LINE-1"
        nameTypeIndicator1:
          type: integer
          description: |-
            Length: 1
            Name Type Indicator 1. indicates the type of name.
            The values are -
            * 0 = Personal name (Default)
            * 1 = Business name
            * 3 = Generic name
            VisionPLUS Service Data: M-NAME-TYPE-IND-1
          format: int32
          example: 0
        nameLine2:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \n Name Line 2\nVisionPLUS Service Data: ARXNAI-NAME-LINE-2"
          example: OWN NAME L2 TEST9
        nameTypeIndicator2:
          type: integer
          description: |-
            Length: 1
            Name Type Indicator 1. indicates the type of name.
            The values are -
            * 0 = Personal name (Default)
            * 1 = Business name
            * 3 = Generic name
            VisionPLUS Service Data: M-NAME-TYPE-IND-2
          format: int32
          example: 1
        nameLine3:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \n Name Line 3\nVisionPLUS Service Data: ARXNAI-NAME-LINE-3"
          example: OWN NAME L3
        nameTypeIndicator3:
          type: integer
          description: |-
            Length: 1
            Name Type Indicator 1. indicates the type of name.
            The values are -
            * 0 = Personal name (Default)
            * 1 = Business name
            * 3 = Generic name
            VisionPLUS Service Data: M-NAME-TYPE-IND-3
          format: int32
          example: 1
        houseNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: "Length 20 \nInternal Number of the Residence\nVisionPLUS Service\
            \ Data: ARXNAI-HOUSE-NBR"
          example: "12349"
        houseName:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nHouse NameVisionPLUS Service Data: ARXNAI-HOUSE-NAME"
          example: Could be apartment's name
        houseAddress1:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nHouse Address 1\nVisionPLUS Service Data: ARXNAI-ADDR-1"
          example: OWN ADDR L19
        houseAddress2:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nHouse Address 2\nVisionPLUS Service Data: ARXNAI-ADDR-2"
          example: OWN ADDR L29
        houseAddress3:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nHouse Address 3\nVisionPLUS Service Data: ARXNAI-ADDR-3"
          example: OWN ADDR L39
        houseAddress4:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nHouse Address 4\nVisionPLUS Service Data: ARXNAI-ADDR-4"
          example: OWN ADDR L49
        city:
          maxLength: 30
          minLength: 0
          type: string
          description: |-
            Length: 30
            Residence City
            VisionPLUS Service Data: ARXNAI-CITY
          example: Sunshine
        state:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            Length: 3
            Residence state. This is derived based on the state code.
            VisionPLUS Service Data: ARXNAI-STATE
          example: FL
        postalCode:
          maxLength: 10
          minLength: 0
          type: string
          description: "Length 10 \nResidence Postal Code\nVisionPLUS Service Data:\
            \ ARXNAI-PSTL-CD"
          example: "12345679"
        countryCode:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            Length: 3
            Country Code
            VisionPLUS Service Data: ARXNAI-CNTRY-CD
          example: USA
        ownOrRentResidenceFlag:
          type: integer
          description: |-
            Length: 1
            Maker's own/rent residence flag. The values are -
            * 0 = Unknown
            * 1 = Owns or is buying residence
            * 2 = Rents or leases residence
            * 3 = Lives at someone else's residence
            VisionPLUS Service Data: ARXNAI-OWN-RENT-RESID-FLAG
          format: int32
          example: 2
        foreignIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Length: 1
            1099C Foreign Indicator.
            Flag that indicates whether the owner lives in the United States or a foreign (non-U.S.) country.
            The IRS 1099-C programs use this field to determine whether to format the address to the IRS standard for U.S. addresses.
            The values are-
            Blank = Lives in the U.S.A. CMS formats the address to the IRS standard.
            Any character = Lives in a foreign (non-U.S.) country. CMS does not format the address to the IRS standard.
            VisionPLUS Service Data: ARXNAI-1099C-FOREIGN-IND
          example: A
        languageIndicator:
          maxLength: 3
          minLength: 0
          type: string
          description: "Length 3 \nSpoken Language Indicator\nVisionPLUS Service Data:\
            \ ARXNAI-LANGUAGE-IND"
          example: ENG
        mailingList:
          maxLength: 1
          minLength: 0
          type: string
          description: "Length 1 \nCode Indicating Whether The Owner Wants To Be On\
            \ A Mailing List\nVisionPLUS Service Data: ARXNAI-MAILING-LIST"
          example: "1"
        contactIndicator:
          maximum: 2
          minimum: 0
          type: integer
          description: |-
            Length: 2
            Code indicating whether customer contact is restricted or not.
            The values are:
            * 00 = No restriction (Default)
            * 01 = Do not telephone
            * 02 = Do not mail
            * 03 = Do not mail or telephone
            * 04–09 = Reserved for future use
            * 10–99 = User-defined by client.
            VisionPLUS Service Data: ARXNAI-CONTACT-IND
          format: int32
          example: 12
        genderCode:
          type: integer
          description: |-
            Length: 1
            Gender
            The values are:
            * 0 = Unspecified (Default)
            * 1 = Male
            * 2 = Female
            VisionPLUS Service Data: ARXNAI-GENDER-CODE
          format: int32
          example: 1
        carrierRoute1and2:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Length: 2
            Two-part field that identifies the carrier route used for mail sorting purposes.
            Carrier route used to sort mail for postal delivery purposes.
            VisionPLUS Service Data: ARXNAI-CR-1-2
          example: C1
        carrierRoute3and4:
          maximum: 2
          minimum: 0
          type: integer
          description: |-
            Length: 2
            Two-part field that identifies the carrier route used for mail sorting purposes.
            Carrier route used to sort mail for postal delivery purposes.
            VisionPLUS Service Data: ARXNAI-CR-3-4
          format: int32
          example: 11
        homePhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: "Length 20 \nHome Phone Number\nVisionPLUS Service Data: ARXNAI-HOME-PHONE"
          example: 123-456-9990
        homeFaxPhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: "Length 20 \nHome FAX Phone Number\nVisionPLUS Service Data:\
            \ ARXNAI-FAX-PHONE"
          example: 223-456-7890
        mobilePhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: "Length 20 \n Mobile Phone Number\nVisionPLUS Service Data:\
            \ ARXNAI-MOBILE-PHONE"
          example: 323-456-7890
        dateOfBirth:
          type: string
          description: |-
            Date of birth of the customer
            VisionPLUS Service Data: ARXNAI-DOB
          format: date
        driverLicenseNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            Driver's License Number
          example: "123421"
        driverLicenseState:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            Length: 3
            Driver's License State.
            VisionPLUS Service Data: ARXNAI-DL-STATE
        driverLicenseCountry:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            Length: 3
            Driver's License Country.
            VisionPLUS Service Data: ARXNAI-DL-CNTRY
        identificationNumberFlag:
          type: integer
          description: "Length 1 \n Owner identification number flag. The values are:\n\
            * 0 = Social Security number\n* 1 = Tax ID\n* 2 = Other ID\nVisionPLUS\
            \ Service Data: ARXNAI-M-SSAN-FLAG"
          format: int32
          example: 2
        identificationNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: "Length 25 \nIdentification Number\nVisionPLUS Service Data:\
            \ ARXNAI-SSAN"
          example: "123456789"
        dateOfFile:
          type: string
          description: |-
            Date Of File For 1099C/W9
            VisionPLUS Service Data: ARXNAI-1099C-W9-DATE-FILED
          format: date
        statementMessageIndicator:
          maximum: 1
          minimum: 0
          type: integer
          description: "Length 1 \nStatement Message Indicator\nVisionPLUS Service\
            \ Data: ARXNAI-STMT-MSG-INDIC"
          format: int32
          example: 1
        employerName:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Length: 40
            Employer Name
            VisionPLUS Service Data: ARXNAI-EMPLOYER
          example: Milton
        employerAddress1:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Length: 40
            Mailing address of the employer of the owner
            VisionPLUS Service Data: ARXNAI-EMPLOYER-ADDR-1
          example: EMP ADDR L1
        employerAddress2:
          maxLength: 40
          minLength: 0
          type: string
          description: |-
            Length: 40
            Mailing address of the employer of the owner
            VisionPLUS Service Data: ARXNAI-EMPLOYER-ADDR-2
          example: EMP ADDR L2
        employerPhoneNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: "Length 20 \n Employer Phone Number\nVisionPLUS Service Data:\
            \ ARXNAI-EMP-PHONE"
          example: 123-456-7890
        employerExtensionPhoneNumber:
          maxLength: 6
          minLength: 0
          type: string
          description: |-
            Length: 6
            Employee Phone Extension
            VisionPLUS Service Data: ARXNAI-EMP-PHONE-EXTN
          example: "123456"
        employerPhoneFlag:
          type: integer
          description: |-
            Length: 1
            Employer Phone Flag. The values are:
            * 0 = Do not call
            * 1 = May be called
            * 2 = Prefers to be called
            VisionPLUS Service Data: ARXNAI-PHONE-FLAG
          format: int32
          example: 1
        position:
          maxLength: 4
          minLength: 0
          type: string
          description: |-
            Length: 4
            User-defined code to indicate the position or job title of the owner.
            VisionPLUS Service Data: ARXNAI-POSITION
          example: CEO
        relativeName:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nRelative Name\nVisionPLUS Service Data: ARXNAI-RELATIVE-NAME"
          example: Relative Name
        numberOfDependents:
          maximum: 3
          minimum: 0
          type: integer
          description: "Length 3 \n Number of Dependents\nVisionPLUS Service Data:\
            \ ARXNAI-NBR-OF-DEPENDENTS"
          format: int32
          example: 999
        email:
          maxLength: 60
          minLength: 0
          type: string
          description: |-
            Length: 60
            Email
            VisionPLUS Service Data: ARXNAI-EMAIL
          example: ABC.DEF@yahoo.com
        memo1:
          maxLength: 60
          minLength: 0
          type: string
          description: "Length 60 \n Memo 1\nVisionPLUS Service Data: ARXNAI-MEMO-1"
          example: Memo 1
        memo2:
          maxLength: 60
          minLength: 0
          type: string
          description: "Length 60 \nMemo 2\nVisionPLUS Service Data: ARXNAI-MEMO-2"
          example: Memo 2
        user1:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Length: 2
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-USER-1
          example: U1
        user2:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Length: 2
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-USER-2
          example: U2
        user3:
          maxLength: 7
          minLength: 0
          type: string
          description: |-
            Length: 7
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-USER-3
          example: U323323
        user4:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Length: 1
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-USER-4
          example: U
        user5:
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Length: 1
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-USER-5
          example: U
        user6:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Length: 2
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-USER-6
          example: U6
        user7:
          maxLength: 2
          minLength: 0
          type: string
          description: |-
            Length: 2
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-USER-7
          example: U7
        user8:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            Length: 3
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-USER-8
          example: U8
        user9:
          maxLength: 3
          minLength: 0
          type: string
          description: |-
            Length: 3
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-USER-9
          example: U9
        user10:
          maxLength: 7
          minLength: 0
          type: string
          description: |-
            Length: 7
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-USER-10
          example: "2011031"
        user11:
          maxLength: 7
          minLength: 0
          type: string
          description: |-
            Length: 7
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-USER-11
          example: "2011032"
        user12:
          maxLength: 30
          minLength: 0
          type: string
          description: |-
            Length: 30
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-USER-12
          example: U12
        user13:
          maxLength: 30
          minLength: 0
          type: string
          description: |-
            Length: 30
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-USER-13
          example: U13
        user14:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-USER-14
          example: U14
        user15:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            User-defined codes used for customized information about the account.
            VisionPLUS Service Data: ARXNAI-USER-15
          example: U15
        demographic1:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            Demographic 1. User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: ARXNAI-USER-DEMO-1
          example: USER DEMO 1
        demographic2:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            Demographic 2. User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: ARXNAI-USER-DEMO-2
          example: USER DEMO 2
        demographic3:
          maxLength: 20
          minLength: 0
          type: string
          description: |-
            Length: 20
            Demographic 3. User-defined demographic data or other information for an owner.
            VisionPLUS Service Data: ARXNAI-USER-DEMO-3
          example: USER DEMO 3
        homePhoneFlag:
          type: integer
          description: |-
            Length: 1
            Home Phone Indicator
            The values are:
            * 0 = Do not call
            * 1 = May be called
            * 2 = Prefers to be called
            VisionPLUS Service Data: ARXNAI-PHONE-FLAG
          format: int32
          example: 1
        faxPhoneFlag:
          type: integer
          description: |-
            Length: 1
            Three-part field that indicates the facsimile (fax) number of the co-owner, whether you have the co-owner’s permission to use this number, and the date when the number was last modified.
            The values are:
            * 0 = Do not fax
            * 1 = May be faxed
            * 2 = Prefers to be faxed
            VisionPLUS Service Data: ARXNAI-FAX-PHONE-FLAG
          format: int32
          example: 1
        mobilePhoneFlag:
          type: integer
          description: |-
            Length: 1
            Mobile phone flag. The values are -
            * 0 = Do not call
            * 1 = May be called
            * 2 = Prefers to be called
            VisionPLUS Service Data: ARXNAI-MOBILE-PHONE-FLAG
          format: int32
          example: 1
        emailFlag:
          type: integer
          description: |-
            Length: 1
            Email flag. The values are :
            * 0 = Do not E-mail
            * 1 = May be E-mailed
            * 2 = Prefers to be e-mailed
            VisionPLUS Service Data: ARXNAI-EMAIL-FLAG
          format: int32
          example: 1
        smsFlag:
          type: integer
          description: |-
            Length: 1
            Short message service (SMS) flag. The values are -
            * 0 = No, do not send message
            * 1 = Yes, you can send message
            VisionPLUS Service Data: ARXNAI-SMS-FLAG
          format: int32
          example: 1
        lastName:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \n Last Name\nVisionPLUS Service Data: ARXNAI-LAST-NAME"
          example: Gonzalez
        middleName:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \n Middle Name\nVisionPLUS Service Data: ARXNAI-MIDDDLE-NAME"
          example: Pedro
        firstName:
          maxLength: 40
          minLength: 0
          type: string
          description: "Length 40 \nFirst Name\nVisionPLUS Service Data: ARXNAI-FIRST-NAME"
          example: Juan
        suffix:
          maxLength: 20
          minLength: 0
          type: string
          description: "Length 20 \nSuffix\nVisionPLUS Service Data: ARXNAI-SUFFIX"
          example: Sr
        county:
          maxLength: 30
          minLength: 0
          type: string
          description: |-
            Length: 30
            County portion of the mailing address of the owner
            VisionPLUS Service Data: ARXNAI-COUNTY
          example: Orange
    ResvData:
      type: object
      properties:
        reservedCode1:
          type: string
          description: |-
            Length: 20
            Reserved For Future Use
            VisionPLUS Service Data: ARXNAI-RESV-CODE-1
        reservedCode2:
          type: string
          description: |-
            Length: 20
            Reserved For Future Use
            VisionPLUS Service Data: ARXNAI-RESV-CODE-2
        reservedCode3:
          type: string
          description: |-
            Length: 20
            Reserved For Future Use
            VisionPLUS Service Data: ARXNAI-RESV-CODE-3
        reservedCode4:
          type: string
          description: |-
            Length: 20
            Reserved For Future Use
            VisionPLUS Service Data: ARXNAI-RESV-CODE-4
        reservedCode5:
          type: string
          description: |-
            Length: 20
            Reserved For Future Use
            VisionPLUS Service Data: ARXNAI-RESV-CODE-5
        reservedDate1:
          type: string
          description: |-
            Reserved For Future Use
            VisionPLUS Service Data: ARXNAI-RESV-DATE-1
          format: date
        reservedDate2:
          type: string
          description: "Reserved For Future \nVisionPLUS Service Data: ARXNAI-RESV-DATE-2"
          format: date
        reservedDate3:
          type: string
          description: "Reserved For Future \nVisionPLUS Service Data: ARXNAI-RESV-DATE-3"
          format: date
        reservedDate4:
          type: string
          description: "Reserved For Future \nVisionPLUS Service Data: ARXNAI-RESV-DATE-4"
          format: date
        reservedDate5:
          type: string
          description: "Reserved For Future \nVisionPLUS Service Data: ARXNAI-RESV-DATE-5"
          format: date
        reservedAmt1:
          type: number
          description: |-
            Length: 17
            Reserved For Future Use
            VisionPLUS Service Data: ARXNAI-RESV-AMT-1
        reservedAmt2:
          type: number
          description: |-
            Length: 17
            Reserved For Future Use
            VisionPLUS Service Data: ARXNAI-RESV-AMT-2
        reservedAmt3:
          type: number
          description: |-
            Length: 17
            Reserved For Future Use
            VisionPLUS Service Data: ARXNAI-RESV-AMT-3
        reservedAmt4:
          type: number
          description: |-
            Length: 17
            Reserved For Future Use
            VisionPLUS Service Data: ARXNAI-RESV-AMT-4
        reservedAmt5:
          type: number
          description: |-
            Length: 17
            Reserved For Future Use
            VisionPLUS Service Data: ARXNAI-RESV-AMT-5
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    AddCustomerResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: |-
            Length: 3 Local customer organization.
            VisionPLUS Service Data: ARXNAO-LOCAL-CUST-ORG
          format: int32
        organizationAssociatedToForeignAccount:
          type: integer
          description: |-
            Length: 3 Organization associated with the foreign account.
            VisionPLUS Service Data: ARXNAO-FOREIGN-ACCT-ORG
          format: int32
        foreignCustomerOrganization:
          type: integer
          description: |-
            Length: 3 Foreign customer organization.
            VisionPLUS Service Data: ARXNAO-FOREIGN-CUST-ORG
          format: int32
        accountNumber:
          type: string
          description: |-
            Length: 19Identification of the account number associated with the customer number (demographic data) that you want to modify or view.
            VisionPLUS Service Data: ARXNAO-BS-ACCT
        customerNumber:
          type: string
          description: |-
            Length: 19 Customer number that identifies the Customer Name/Address record to which this account is assigned.
            A valid customer name and address must be on file for this account.
            VisionPLUS Service Data: ARXNAO-CUST-NBR
        reservedCode1:
          type: integer
          description: |-
            Length: 20
            Reserved For Future Use.
            VisionPLUS Service Data: ARXNAO-RESV-CODE-1
          format: int32
        reservedCode2:
          type: integer
          description: |-
            Length: 20
            Reserved For Future Use.
            VisionPLUS Service Data: ARXNAO-RESV-CODE-2
          format: int32
        reservedCode3:
          type: integer
          description: |-
            Length: 20
            Reserved For Future Use.
            VisionPLUS Service Data: ARXNAO-RESV-CODE-3
          format: int32
        reservedCode4:
          type: integer
          description: |-
            Length: 20
            Reserved For Future Use.
            VisionPLUS Service Data: ARXNAO-RESV-CODE-4
          format: int32
        reservedCode5:
          type: integer
          description: |-
            Length: 20
            Reserved For Future Use.
            VisionPLUS Service Data: ARXNAO-RESV-CODE-5
          format: int32
        reservedDate1:
          type: string
          description: |-
            Reserved For Future Use.
            VisionPLUS Service Data: ARXNAO-RESV-DATE-1
          format: date
        reservedDate2:
          type: string
          description: |-
            Reserved For Future Use.
            VisionPLUS Service Data: ARXNAO-RESV-DATE-2
          format: date
        reservedDate3:
          type: string
          description: |-
            Reserved For Future Use.
            VisionPLUS Service Data: ARXNAO-RESV-DATE-3
          format: date
        reservedDate4:
          type: string
          description: |-
            Reserved For Future Use.
            VisionPLUS Service Data: ARXNAO-RESV-DATE-4
          format: date
        reservedDate5:
          type: string
          description: |-
            Reserved For Future Use.
            VisionPLUS Service Data: ARXNAO-RESV-DATE-5
          format: date
        reservedAmt1:
          type: number
          description: |-
            Reserved For Future Use.
            VisionPLUS Service Data: ARXNAO-RESV-AMT-1
        reservedAmt2:
          type: number
          description: |-
            Reserved For Future Use.
            VisionPLUS Service Data: ARXNAO-RESV-AMT-2
        reservedAmt3:
          type: number
          description: |-
            Reserved For Future Use.
            VisionPLUS Service Data: ARXNAO-RESV-AMT-3
        reservedAmt4:
          type: number
          description: |-
            Reserved For Future Use.
            VisionPLUS Service Data: ARXNAO-RESV-AMT-4
        reservedAmt5:
          type: number
          description: |-
            Reserved For Future Use.
            VisionPLUS Service Data: ARXNAO-RESV-AMT-5
x-config:
  tryItOut: true