openapi: 3.0.1
info:
  title: FirstVision™ Transaction Service - API Documentation
  description: This documentation describes the REST APIs provided by the FirstVision™ Cards Microservice, which provides functionality for the issuing, management and processing of credit cards, including bank, co-branded, private label, debit, commercial, and prepaid
  version: "1.2"
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /transactions/quote-projections:
    put:
      tags:
      - Transactions
      summary: "Quote Projections Update. VMX Service: M.CMS.QUOTE.PROJ.UPD, L8V1"
      description: "The Quote Projections Update service (CMS.QUOTE.PROJ.UPD L8V1)\
        \ enables the user to }update the project amount calculated for quote projections.\
        \ \nVMX Service: M.CMS.QUOTE.PROJ.UPD, L8V1"
      operationId: quoteProjectionUpdate
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteProjectionUpdateRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "422":
          description: |-
            VPL5SVV01S - ORGANIZATION IS NOT NUMERIC OR MUST BE BETWEEN 000 AND 999
            VPL5SVV02S - ORGANIZATION NOT FOUND ON FILE
            VPL5SVV03S - ACCOUNT NUMBER MUST BE PROVIDED
            VPL5SVV04S - ACCOUNT NOT FOUND ON AMBS FILE
            VPL5SVV05S - ACCOUNT NOT VALID FOR ORG
            VPL5SVV06S - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE,0 AND 1
            VPL5SVV07S - FOREIGN ORGANIZATION NOT ON FILE
            VPL5SVV08S - ACCEPT QUOTE MUST BE NUMERIC
            VPL5SVV09S - VALID VALUES ARE 0 OR 1 FOR ACCEPT QUOTE
            VPL5SVV10S - NEW QUOTE AMOUNT IS NOT SAME AS CALCULATED AMOUNT
            VPL5SVV11S - PAYOFF BY DATE MUST BE NUMERIC
            VPL5SVV12S - PAYOFF DATE IS INVALID
            VPL5SVV13S - PAYOFF DATE CAN NOT BE LESS THAN TODAYS DATE
            VPL5SVV14S - PAYOFF DATE CAN NOT EXCEED NEXT CYCLE DATE
            VPL5SVV15S - PAYOFF DATE CAN NOT BE ON A NON PROCESSING DAY
            VPL5SVV18S - FOREIGN ORGANIZATION NOT FOUND ON FILE
            VPL5SVV20S - ORG RECORD NOT FOUND
            VPL5SVV21S - BASE SEGMENT FILE READ ERROR
            VPL5SVV25S - PLAN-SEGMENT RECORD NOT FOUND
            VPL5SVV26S - PROCESS CONTROL TABLE INVAILD
            VPL5SVV27S - PCT/RIT/INT TABLE INVAILD
            VPL5SVV28S - NO PLANS FOR THIS ACCOUNT
            VPL5SVV30S - QUOTE NOT UPDATED AS PER RESPONSE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteProjectionUpdateResponse'
      x-proxy-name: Quote Projections Update
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/promo-rate:
    put:
      tags:
      - Transactions
      summary: "Promotional Rate Expiration Disclosure. VMX Service: M.CMS.PROMORATE.UPD,\
        \ R8V1"
      description: "The Promotional Rate Expiration Disclosure service (CMS.PROMORATE.UPD\
        \ R8V1) supports maintenance of promotional rate expiration disclosure fields.\
        \ \nVMX Service: M.CMS.PROMORATE.UPD, R8V1"
      operationId: promoRateUpdate
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoRateUpdateRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "422":
          description: |-
            VPL5SDS01E – ORG NOT FOUND IN AMCR
            VPL5SDS01E – ORG NOT FOUND IN AMCR.
            VPL5SDS02E – INVALID ORG,VALID VALUE 0 - 998
            VPL5SDS03E – INVALID ACCOUNT
            VPL5SDS04E – ORG-LOGO CAN NOT BE DETERMINED IN ARGETOL
            VPL5SDS05E – INVALID PROMO PLAN NUMBER
            VPL5SDS06E – PROMO PLAN NOT FOUND IN AMCP
            VPL5SDS07E – NOT A VALID CYCLE INDICATOR
            VPL5SDS08E – VALID CHANGE REQUESTS ARE - P,D,B
            VPL5SDS08S – AMBS RECORD NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoRateUpdateResponse'
      x-proxy-name: Promotional Rate Expiration Disclosure
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/points-disbursement:
    put:
      tags:
      - Transactions
      summary: "LMS Points Account Auto Disbursement Data Update. VMX Service: M.LMS.POINTS.ACCT.DISB.DATA.UP,\
        \ R8V2"
      description: "Enables to update the disbursement data fields on the Points Account\
        \ record. \nVMX Service: M.LMS.POINTS.ACCT.DISB.DATA.UP, R8V2"
      operationId: pointsDisbursement
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PointsDisbursementRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointsDisbursementResponse'
      x-proxy-name: LMS Points Account Auto Disbursement Data Update
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/points-adjust:
    put:
      tags:
      - Transactions
      summary: "LMS Account points Adjustment. VMX Service: M.LMS.POINTS.ADJ.ADD,\
        \ R8V1"
      description: "Enables to adjust earned, bonus, bought and adjusted points on\
        \ a LMS Points Account record. \nVMX Service: M.LMS.POINTS.ADJ.ADD, R8V1"
      operationId: pointsAdjust
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PointsAdjustRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointsAdjustResponse'
      x-proxy-name: LMS Account points Adjustment
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/organization-update:
    put:
      tags:
      - Transactions
      summary: "Organization Update. VMX Service: M.CMS.ORG.UPD, R8V1"
      description: "Organization Update. \nVMX Service: M.CMS.ORG.UPD, R8V1"
      operationId: organizationUpdate
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdateRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUpdateResponse'
      x-proxy-name: Organization Update
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/installmentConversion:
    put:
      tags:
      - Transactions
      summary: "Transaction conversion. VMX Service: M.CMS.INST.TRAN.CONV, R8V1"
      description: "Transaction conversion. \nVMX Service: M.CMS.INST.TRAN.CONV, R8V1"
      operationId: transactionConversion
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionConversionRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "422":
          description: "Unprocessable Entity\n\nVPL5STIZ5S - INVALID ORG         \
            \                                                  VPL5STIZ7S - INVALID\
            \ LOGO                                                          \nVPL5STI01S\
            \ - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998 \
            \     \nVPL5STI02S - ORGANIZATION NOT FOUND ON FILE                  \
            \                      \nVPL5STI03S - ACCT / CARD NOT FOUND ON FILE  \
            \                                       \nVPL5STI04S - TRANSACTION PLAN\
            \ NOT FOUND                                            \nVPL5STI05S -\
            \ PLAN NOT FOUND ON FILE                                             \
            \   \nVPL5STI06S - PLAN ENTERED IS NOT INSTALLMENT PLAN TYPE         \
            \                    \nVPL5STI07S - REQUESTED ACCT / CARD NUMBER IS NOT\
            \ NUMERIC OR EQUAL TO SPACES        \nVPL5STI08S - PRINCIPAL MUST BE NUMERIC,\
            \ GREATER THAN ZEROS                         \nVPL5STI09S - FUNC CODE\
            \ MUST BE E OR R                                              \nVPL5STI10S\
            \ - INSTALLMENT PROCESSING NOT SUPPORTED FOR THIS ORG                \
            \     \nVPL5STI11S - INSTALLMENT CONVERSION NOT SUPPORTED FOR THIS LOGO\
            \                    \nVPL5STI12S - TRANSACTION PLAN SET FOR INSTALLMENT\
            \ CONVERSION                       \nVPL5STI13S - TRANSACTION PREVIOUSLY\
            \ CONVERTED TO INSTALLMENT                       \nVPL5STI14S - INSTALLMENT\
            \ CONVERSION NOT ALLOWED, ACCOUNT DELINQUENT         \nVPL5STI15S - INSTALLMENT\
            \ CONVERSION NOT ALLOWED, INVALID ACCOUNT STATUS     \nVPL5STI16S - INSTALLMENT\
            \ CONVERSION NOT ALLOWED; INVALID ACCOUNT BLOCKED    \nVPL5STI17S - INSTALLMENT\
            \ CONVERSION NOT ALLOWED, INVALID CREDIT PLAN        \nVPL5STI18S - INSTALLMENT\
            \ CONVERSION NOT ALLOWED, ONLY CASH TXN SUPPORTED    \nVPL5STI19S - INSTALLMENT\
            \ CONVERSION NOT ALLOWED, ONLY RETAIL TXN SUPPORTED  \nVPL5STI20S - INSTALLMENT\
            \ CONVERSION NOT ALLOWED, MINIMUM TRANSACTION AMOUNT \nVPL5STI21S - INSTALLMENT\
            \ CONVERSION NOT ALLOWED, MAXIMUM TRANSACTION AMOUNT \nVPL5STI22S - TRANSACTION\
            \ MUST BE C OR L OR S                                \nVPL5STI23S - INSTALLMENT\
            \ CONVERSION NOT ALLOWED, MINIMUM INSTALLMENT TERM   \nVPL5STI24S - INSTALLMENT\
            \ CONVERSION NOT ALLOWED, MAXIMUM INSTALLMENT TERM   \nVPL5STI25S - TRANSACTION\
            \ NOT ELIGIBLE FOR INST CONV, PASSED PAYMENT DUE DATE\nVPL5STI26S - ONLY\
            \ SALES TRANSACTION ELIGIBLE FOR INSTALLMENT CONVERSION     \nVPL5STI27S\
            \ - TRANSACTION SEQ NO MUST BE NUMERIC AND > 0 FOR TXN TYPE C      \n\
            VPL5STI28S - TRANSACTION NOT ELIGIBLE FOR INSTALLMENT, CARD EXPIRED  \
            \       \nVPL5STI29S - TRANSACTION STMT REC NUMBER MUST BE  > 0 FOR TYPE\
            \ L OR S       \nVPL5STI30S - INSTALLMENT CONVERSION REVERSAL NOT SUPPORTED\
            \ FOR THIS LOGO    \nVPL5STI31S - INSTALLMENT TRANSACTION CONV IS NOT\
            \ INITIATED                  \nVPL5STI32S - INSTALLMENT TXN CONV INITIATED\
            \ BUT RECORD NOT FOUND IN AMXT    \nVPL5STI33S - LOGO RECORD NOT FOUND\
            \ IN FILE                                  \nVPL5STI34S - TRANSACTION\
            \ HEADER RECORD NOT FOUND IN FILE                          \nVPL5STI35S\
            \ - CREDIT TRANSACTION DETAIL RECORD NOT FOUND IN FILE               \
            \    \nVPL5STI36S - DEBIT TRANSACTION DETAIL RECORD NOT FOUND IN FILE\
            \                    \nVPL5STI37S - TRANSACTION NOT FOUND ON FILE    \
            \                                    \nVPL5STI38S - PROCESSING MODE NOT\
            \ EQUAL TO LOW VALUES/SPACES OR P OR V             \nVPL5STI39S - PLAN\
            \ ENTERED MUST BE NUMERIC, GREATER THAN ZEROES                    \nVPL5STI40S\
            \ - INSTALLMENT TERM MUST BE NUMERIC, GREATER THAN ZEROES            \
            \    \nVPL5STI41S - VALID TRANSACTION STATEMENT DATE IS REQUIRED WHEN\
            \ TYPE IS L OR S     \nVPL5STI42S - INPUT AMOUNT SHOULD BE SAME AS TRANSACTION\
            \ AMOUNT                    \nVPL5STI43S - TRANSACTION TYPE ‘S’ OR ‘L’\
            \ NOT ALLOWED WHEN EXT INST IND IS ACTIVE\nVPL5STI44S - MEXICO INSTALMENT\
            \ IS NOT ALLWED FOR THIS LOGO\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionConversionResponse'
      x-proxy-name: Transaction conversion
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/exchange-rate:
    put:
      tags:
      - Transactions
      summary: "Inquire or Update Exchange Rate. VMX Service: M.SSC.EXCHANGE.RATE.UPD,\
        \ L8V1"
      description: "Inquire, update currency exchange rates. \nVMX Service: M.SSC.EXCHANGE.RATE.UPD,\
        \ L8V1"
      operationId: exchangeRate
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeRateRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateResponse'
      x-proxy-name: Inquire or Update Exchange Rate
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/currency-rate:
    get:
      tags:
      - Transactions
      summary: "Currency Rate Inquiry. VMX Service: M.SSC.EXCH.RATE.INQ, L8V1"
      description: "Currency Rate Inquiry. \nVMX Service: M.SSC.EXCH.RATE.INQ, L8V1"
      operationId: currencyRateInquiry
      parameters:
      - name: organization
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 801
      - name: sourceCurrencyCode
        in: query
        description: Currency code for the source currency.
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 780
      - name: destinationCurrencyCode
        in: query
        description: Currency code for the destination currency
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 840
      - name: rateEffectiveDate
        in: query
        description: Effective date of rates defined by the record
        required: true
        schema:
          type: string
          format: date
        example: 2022-03-03
      - name: currencyTableNumber
        in: query
        description: "Identification number of the currency rate table to use. \n\
          \ The values are:\n* 01–10 = User-defined currency conversion rates\n* 11\
          \ = Visa currency conversion rates\n* 12 = MasterCard currency conversion\
          \ rates\n* 13 = Europay currency conversion rates\n* 14 = AMEX currency\
          \ conversion rates\n* 15 = Euro currency conversion rates."
        required: true
        schema:
          maximum: 99
          minimum: 1
          type: string
        example: 10
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyRateInquiryResponse'
      x-proxy-name: Currency Rate Inquiry
      x-group-name: Transaction
      x-child-product-name: Transactions
    put:
      tags:
      - Transactions
      summary: "Currency Rate Table Update. VMX Service: M.SSC.EXCH.RATE.UPD, L8V1"
      description: "Currency Rate Table Update. \nMX Service: M.SSC.EXCH.RATE.UPD,\
        \ L8V1"
      operationId: currencyRateTableUpdate
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyRateTableUpdateRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyRateTableUpdateResponse'
      x-proxy-name: Currency Rate Table Update
      x-group-name: Transaction
      x-child-product-name: Transactions
    post:
      tags:
      - Transactions
      summary: "Add Currency Rate Definition. VMX Service: M.SSC.EXCH.RATE.ADD. L8V1"
      description: "Add Currency Rate Definition. \nVMX Service: M.SSC.EXCH.RATE.ADD.\
        \ L8V1"
      operationId: currencyRateDefinitionAdd
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyRateDefinitionRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyRateDefinitionResponse'
      x-proxy-name: Add Currency Rate Definition
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/currency-rate-table:
    put:
      tags:
      - Transactions
      summary: "Currency Rate Table Maintain Service. VMX Service: M.CMS.CURR.RATE.MWP.UPD,\
        \ R8V1"
      description: "The Currency Rate Table Maintain service updates the Currency\
        \ Rate Table file (AMXC). \nVMX Service: M.CMS.CURR.RATE.MWP.UPD, R8V1"
      operationId: currencyRateTable
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyRateTableRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "422":
          description: |-
            VPL5SMR05E - ORG NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL5SMR06E - SOURCE CURRENCY CODE MUST BE NUMERIC
            VPL5SMR07E - DESTINATION CURRENCY CODE MUST BE NUMERIC
            VPL5SMR12E - MID RATE MUST BE GREATER THAN ZERO
            VPL5SMR13E - MID RATE MUST BE NUMERIC
            VPL5SMR15E - MID RATE NOD NOT NUMERIC
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyRateTableResponse'
      x-proxy-name: Currency Rate Table Maintain Service
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/summary-details:
    post:
      tags:
      - Transactions
      summary: 'Transactions Details. '
      description: "Provides Transaction Detail Information For Current Cycle Transactions\
        \ ot Statemented Transactions Within A Date Range. \nVMX Service: M.CMS.TRANSACTIONDETAIL.INQ,\
        \ L8V7"
      operationId: detailsList
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsDetailsL8V7Request'
        required: true
      responses:
        "400":
          description: Bad Request
        "422":
          description: |-
            VPL5STDZ4S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5STDZ5S - REQUESTED ORGANIZATION NOT FOUND
            VPL5STD01I - NO TRANSACTIONS FOUND FOR REQUEST
            VPL5STD04E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 000-998
            VPL5STD05E - ACCOUNT NUMBER IS NOT NUMERIC OR EQUALS SPACES
            VPL5STD06E - FUNCTION TYPE VALID VALUES ARE SPACE, C, R, M OR B
            VPL5STD07E - NUMBER OF TRANSACTIONS CANNOT BE GREATER THAN 50
            VPL5STD08E - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE, 0 OR 1
            VPL5STD09E - NUMBER OF MONTHS IS REQUIRED WHEN REQUEST IS BY MONTH
            VPL5STD10E - TRANSACTION START DATE IS NOT A VALID DATE
            VPL5STD11E - TRANSACTION START DATE IS NOT NUMERIC
            VPL5STD12E - TRANSACTION START DATE IS NOT VALID WHEN REQUEST IS BY MONTH
            TRANSACTION START DATE WAS PROVIDED WITH A REQUEST TYPE FOR TRANSACTIONSTART DATE IS INVALID
            FOR THIS REQUEST
            VPL5STD13E - TRANSACTION END DATE FORMAT IS NOT A VALID DATE
            VPL5STD14E - TRANSACTION END DATE IS NOT NUMERIC
            VPL5STD15E - TRANSACTION END DATE IS NOT VALID WHEN REQUEST IS BY MONTH
            TRANSACTION- END DATE MUST NOT BE PRESENT WHEN THE REQUEST IS FOR MONTH (STATEMENT PERIOD.
            VPL5STD16E - TRANSACTION END DATE MUST BE GREATER THAN TRANSACTION BEGIN DATE
            VPL5STD17E - STATEMENT OCCURENCE NUMBER IS NOT NUMERIC
            STATEMENT OCCURENCE NUMBER MUST BE A NUMERIC VALUE WHEN THE SERVICE REQUEST IS FOR STATEMENT
            HISTORY BY MONTH.
            VPL5STD20S - ORGANIZATION NUMBER NOT FOUND ON FILE
            VPL5STD21S - FOREIGN ORGANIZATION NUMBER IS NOT FOUND ON FILE
            VPL5STD22S - ACCOUNT NOT FOUND ON FILE
            VPL5STD23S - NO TRANSACTIONS FOUND - STATEMENTS
            VPL5STD24S - NO TRANSACTIONS FOUND - STATEMENTS
            VPL5STD25I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL5STD26E - MINIMUM TRANSACTION AMOUNT MUST BE NUMERIC
            VPL5STD27E - MAXIMUM TRANSACTION AMOUNT MUST BE NUMERIC
            VPL5STD28E - MIN AND MAX TRANSACTION AMOUNTS MUST BE NUMERIC
            VPL5STD29E - MINIMUM AMOUNT CANNOT BE GREATER THAN MAXIMUM AMOUNT
            VPL5STD30E - FUNCTION CODE MUST BE EQUAL TO SPACE, N OR P
            VPL5STD31E - START TOKEN SEQUENCE NUMBER MUST BE NUMERIC
            VPL5STD32E - START TOKEN STATEMENT DATE MUST BE NUMERIC
            VPL5STD33E - STATEMENT DATE IS INVALID
            VPL5STD34E - START TOKEN FILE TYPE IS INVALID. VALID VALUES ARE C S AND L
            VPL5STD35E - CURRENCY CODE NOT ON FILE
            VPL5STD36E - INVALID TRANSACTION TYPE
            VPL5STD40E - START ORG SHOULD BE PROVIDED-VALID VALUE 001-998
            VPL5STD41E - REQUEST TYPE BOTH NOT VALID FOR NON DUAL ORG
            VPL5STD42E - INVALID START ORG
            VPL5STD43S - FUNCTION IS INVALID; CAN BE ONLY INITIAL,NEXT OR PREV
            VPL5STD44S - START TOKEN MUST BE SPACES FOR INITIAL FUNCTION
            VPL5STD45S - START TOKEN CANNOT BE SPACES FOR NEXT OR PREV
            VPL5STD98E - INVALID FORIEGN USE IND VALID VALUES ARE SPACE 0,1,2
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsDetailsL8V7Response'
      x-proxy-name: Transactions Details
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/redemption:
    post:
      tags:
      - Transactions
      summary: "Redemption Transaction Add. VMX Service: M.LMS.REDEMPTION.ADD, R8V1"
      description: "Shows the loyalty points to be redeemed after a cardholder has\
        \ earned enough loyalty points to qualify for a reward. \nVMX Service: M.LMS.REDEMPTION.ADD,\
        \ R8V1"
      operationId: redemptionAdd
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedemptionAddRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedemptionAddResponse'
      x-proxy-name: Redemption Transaction Add
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/points-expire-history:
    post:
      tags:
      - Transactions
      summary: "Points Expiry History. VMX Service: M.LMS.POINTS.EXPIRY.HIST.INQ,\
        \ R8V1"
      description: "Inquires on the points expiration details from the statement summary\
        \ for a specific date and account in LMS. \nVMX Service: M.LMS.POINTS.EXPIRY.HIST.INQ,\
        \ R8V1"
      operationId: pointsExpiryHistory
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PointsExpiryHistoryRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointsExpiryHistoryResponse'
      x-proxy-name: Points Expiry History
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/plan-settlement-quote:
    post:
      tags:
      - Transactions
      summary: "Plan Level Settlement Quote Request. VMX Service: M.CMS.PLAN.STTLMNT.QUOTE.UPD\
        \ R8V1"
      description: "The Plan Level Settlement Quote Request servicegenerates a loan\
        \ payoff quote for a specific loan plan on an account.. \nVMX Service: M.CMS.PLAN.STTLMNT.QUOTE.UPD\
        \ R8V1"
      operationId: planSettlementQuoteUpdate
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanSettlementQuoteUpdateRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "422":
          description: |-
            VPL5SPQ08S - CREDIT PLAN RECORD IS NOT FOUND OR ADD PENDING
            VPL5SPQ10S - INVALID ORG
            VPL5SPQ11S - INVALID ACCOUNT OR CARD NUMBER
            VPL5SPQ12S - INVALID FOREIGN USE FLAG
            VPL5SPQ13S - INVALID PLAN NUMBER
            VPL5SPQ14S - INVALID PLAN SEQUENCE
            VPL5SPQ15S - INVALID SETTLEMENT TYPE
            VPL5SPQ16S - CUSTOMER SELECT QUOTE DATE NOT ALLOWED
            VPL5SPQ17S - INPUT PAYOFF DATE IS INVALID
            VPL5SPQ18S - ORG NOT FOUND OR IS IN ADD PENDING CONDITION
            VPL5SPQ19S - FOREIGN ORG NOT FOUND OR IS IN ADD PENDING CONDITION
            VPL5SPQ20S - ACCOUNT IS NOT ACTIVE OR NOT FOUND
            VPL5SPQ21S - LOGO NOT FOUND OR IS IN ADD PENDING CONDITION
            VPL5SPQ22S - INVALID ACCOUNT CONTROL TABLE LOOKUP
            VPL5SPQ23S - INVALID INTEREST RECORD LOOKUP
            VPL5SPQ24E - LOAN CONTAINS A DISPUTED AMOUNT
            VPL5SPQ25I - ADJUSTED TO FLOOR RATE 1
            VPL5SPQ26I - ADJUSTED TO FLOOR RATE 2
            VPL5SPQ27I - ADJUSTED TO CEILING RATE 1
            VPL5SPQ28I - ADJUSTED TO CEILING RATE 2
            VPL5SPQ29I - ADJUSTED TO ALLOWABLE CAP DECREASE
            VPL5SPQ30I - ADJUSTED TO ALLOWABLE CAP INCREASE
            VPL5SPQ31I - MAKING A USURY ADJUSTMENT
            VPL5SPQ32I - USED PCT LEVEL FROM ACCOUNT
            VPL5SPQ33E - SYSTEM CONTROL PCT OVERRIDE LOOKUP INVALID
            VPL5SPQ35E - ORG CONTROL PCT OVERRIDE LOOKUP INVALID
            VPL5SPQ38E - LOGO CONTROL PCT OVERRIDE LOOKUP INVALID
            VPL5SPQ41E - PCT OVERRIDE NOT FOUND
            VPL5SPQ42E - SYSTEM CONTROL PCT LEVEL NOT FOUND
            VPL5SPQ43E - ORG CONTROL PCT LEVEL NOT FOUND
            VPL5SPQ44E - LOGO CONTROL PCT LEVEL NOT FOUND
            VPL5SPQ45E - SYSTEM CONTROL INTEREST STATE NOT FOUND
            VPL5SPQ46E - ORG CONTROL INTEREST STATE NOT FOUND
            VPL5SPQ47E - LOGO CONTROL INTEREST STATE NOT FOUND
            VPL5SPQ48E - SYSTEM CONTROL DEFAULT INTEREST STATE NOT FOUND
            VPL5SPQ49E - ORG CONTROL DEFAULT INTEREST STATE NOT FOUND
            VPL5SPQ50E - LOGO CONTROL DEFAULT INTEREST STATE NOT FOUND
            VPL5SPQ54E - INTEREST RATE TABLE NOT FOUND
            VPL5SPQ55E - USURY TABLE NOT FOUND
            VPL5SPQ56E - DEFAULT USURY STATE OF ISSUE NOT FOUND ON TABLE
            VPL5SPQ57E - DEFAULT USURY STATE OF RESIDENCE NOT FOUND ON TABLE
            VPL5SPQ58E - RATES ARE ZERO ON THE STATE USURY TABLE
            VPL5SPQ59E - NO STATE OF ISSUE ON THE ACCOUNT
            VPL5SPQ60E - NO STATE OF RESIDENCE ON THE ACCOUNT
            VPL5SPQZ4S - COULD NOT DETERMINE ASSOCIATED ORG
            VPL5SPQZ5S - REQUESTED ORG NUMBER IS NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanSettlementQuoteUpdateResponse'
      x-proxy-name: Plan Level Settlement Quote Request
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/outstanding-authorizations/details:
    post:
      tags:
      - Transactions
      summary: "Outstanding Authorizations. VMX Service: M.FAS.OUTSTANDING.AUTH.INQ,\
        \ L8V2"
      description: "Fetches data of both old and new transactions(including today's)\
        \ which are settled to an account. \nVMX Service: M.FAS.OUTSTANDING.AUTH.INQ,\
        \ L8V2"
      operationId: outstandingAuthorization
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutstandingAuthorizationFasRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutstandingAuthorizationFasResponse'
      x-proxy-name: Outstanding Authorizations
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/outstanding-authorizations-L8V3/details:
    post:
      tags:
      - Transactions
      summary: "Outstanding Authorizations Fas Service. VMX Service: M.FAS.OUTSTANDING.AUTH.INQ,\
        \ L8V3"
      description: "Fetches data of both old and new transactions(including today's)\
        \ which are settled to an account. \nVMX Service: M.FAS.OUTSTANDING.AUTH.INQ,\
        \ L8V3"
      operationId: outstandingAuthorizationL8V3
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutstandingAuthorizationFasL8V3Request'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutstandingAuthorizationFasL8V3Response'
      x-proxy-name: Outstanding Authorizations Fas Service
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/notes:
    post:
      tags:
      - Transactions
      summary: "Notes History Inquiry. VMX Service: M.ASM.NOTES.HISTORY.INQ, R8V2"
      description: "Inquire on notes history and their details. \nVMX Service: M.ASM.NOTES.HISTORY.INQ,\
        \ R8V2"
      operationId: NotesInquiryResponse
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotesHistoryInquiryRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: |-
            VPL8SNH06S - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 000-998
            VPL8SNH07S - ACCOUNT NUMBER IS INVALID
            VPL8SNH08E - START DATE IS INVALID
            VPL8SNH09E - CTA FLAG IS INVALID
            VPL8SNH10E - FOREIGN USE FLAG IS INVALID
            VPL8SNH11E - HISTORY DATE IS INVALID
            VPL8SNH12E - HISTORY TIME IS INVALID
            VPL8SNH13E - RECORD TYPE IS INVALID
            VPL8SNH14E - CTA SEQUENCE NUMBER IS INVALID
            VPL8SNH15E - SERVICE FUNCTION CODE IS INVALID
            VPL8SNH16S - ORGANIZATION NOT DETERMINED
            VPL8SNH18S - ORGANIZATION RECORD NOT FOUND
            VPL8SNH19S - ACCOUNT NOT FOUND
            VPL8SNH20S - FOREIGN ORGANIZATION NOT FOUND ON FILE
            VPL8SNH21S - REQUESTED ORGANIZATION NOT FOUND
            VPL8SNH24E - CTA INCLUDE MAINTENANCE FLAG INVALID
            VPL8SNH25I - NO HISTORY ITEMS ON FILE FOR THIS ACCOUNT
            VPL8SNH26I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL8SNH27W - THERE ARE HIGH PRIORITY NOTES ON THIS ACCOUNT
            VPL8SNH28W - THERE ARE MEDIUM PRIORITY NOTES ON THIS ACCOUNT
            VPL8SNH29W - THERE ARE LOW PRIORITY NOTES ON THIS ACCOUNT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotesHistoryInquiryResponse'
      x-proxy-name: Notes History Inquiry
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/notes-R8V3:
    post:
      tags:
      - Transactions
      summary: "Notes History Inquiry. VMX Service: M.ASM.NOTES.HISTORY.INQ, R8V3"
      description: "Inquire on notes history and their details. \nVMX Service: M.ASM.NOTES.HISTORY.INQ,\
        \ R8V3"
      operationId: notesInquiryResponseR8V3
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotesHistoryInquiryRequestR8V3'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotesHistoryInquiryResponseR8V3'
      x-proxy-name: Notes History Inquiry
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/non-monetary-action-code:
    post:
      tags:
      - Transactions
      summary: "Non-monetary Action Code. VMX Service: M.ASM.NONMON.ACT, R8V5"
      description: "Submit an action that adds memo information to an account. \n\
        VMX Service: M.ASM.NONMON.ACT, R8V5"
      operationId: addNonMonetaryInfo
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NonMonetaryActionCodeRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "422":
          description: |-
            VPL8SNA06S - ORGANIZATION MUST BE NUMERIC AND VALID VALUES ARE 001-998
            VPL8SNA07S - ACCOUNT OR CARD NUMBER REQUIRED
            VPL8SNA08S - ACTION CODE IS REQUIRED
            VPL8SNA09S - ORGANIZATION NUMBER IS NOT ON FILE
            VPL8SNA10S - INVALID ORGANIZATION NUMBER
            VPL8SNA13S - ORGANIZATION NUMBER NOT FOUND
            VPL8SNA14S - ACCOUNT NOT FOUND
            VPL8SNA15S - ACCOUNT NUMBER NOT FOUND
            VPL8SNA16S - ACCOUNT NUMBER NOT FOUND
            VPL8SNA17S - ACCOUNT NUMBER NOT FOUND
            VPL8SNA18S - INVALID REQUEST ON A LOCAL ACCOUNT
            VPL8SNA19S - ACTION CODE IS NOT ON FILE
            VPL8SNA20S - ACTION CODE IS NOT ON FILE
            VPL8SNA24S - CONTROL RECORD NOT FOUND
            VPL8SNA25S - LETTER ORG IS NOT FOUND
            VPL8SNA26S - LETTER ORG IS NOT FOUND
            VPL8SNA27E - FOREIGN USE INDICATOR INVALID - MUST BE 0 OR 1
            VPL8SNA28E - REVIEW DATE MUST BE NUMERIC AND GREATER THAN ZEROS
            VPL8SNA29E - REVIEW TIME IS INVALID
            VPL8SNA30E - REVIEW TIME MUST BE NUMERIC AND GREATER THAN ZEROS
            VPL8SNA31E - LETTER ORG MUST BE NUMERIC AND VALID VALUES ARE 001 TO 998
            VPL8SNA32E - CARD SEQUENCE MUST BE NUMERIC
            VPL8SNA33E - CARD NUMBER MUST BE NUMERIC
            VPL8SNA34E - REVIEW DATE MUST BE GREATER THAN TODAY
            VPL8SNA35E - REVIEW DATE IS INVALID
            VPL8SNA36E - RETURN MAIL - LETTER CANNOT BE PROCESSED - ENTER SPACES
            VPL8SNA37E - CARD NUMBER IS REQUIRED
            VPL8SNA38E - CARD SEQUENCE IS REQUIRED
            VPL8SNA39E - PRIORITY MUST BE NUMERIC AND VALID VALUES ARE 0 - 3
            VPL8SNA40E - ACTION TYPE IS INVALID AND MUST BE "N", "I", SPACE OR LOW-VALUE
            VPL8SNA41E - MANUAL REFERRAL OPTION INVALID. MUST BE ZERO, SPACES, LV OR 1.
            VPL8SNA42E - MANUAL REFERRAL ORG NUMBER MUST BE NUMERIC AND < 999
            VPL8SNA43E - MANUAL REFERRAL REP ID WAS NOT SUPPLIED
            VPL8SNA44S - MANUAL REFERRAL ORG/REP NOT FOUND
            VPL8SNA45S - MANUAL REFERRAL ORG/REP NOT ELIGIBLE FOR THIS REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonMonetaryActionCodeResponse'
      x-proxy-name: Non-monetary Action Code
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/loyalty/statement-lists:
    post:
      tags:
      - Transactions
      summary: "Statement lists. VMX Service: M.LMS.STMT.LIST.INQ, R8V1"
      description: "Inquires on existing statement summaries that are available for\
        \ a specific account in LMS. \nVMX Service: M.LMS.STMT.LIST.INQ, R8V1"
      operationId: loyaltyStatementList
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyStatementListRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyStatementListResponse'
      x-proxy-name: Statement lists
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/loyalty/:
    post:
      tags:
      - Transactions
      summary: "Loyalty account transactions inquiry. VMX Service: M.LMS.TRANSACTION.INQ,\
        \ R8V1"
      description: "Inquire on transactions and their details for a given account\
        \ in LMS. \nVMX Service: M.LMS.TRANSACTION.INQ, R8V1"
      operationId: inquireLmsTransactions
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LmsTransactionInquiryRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LmsTransactionInquiryResponse'
      x-proxy-name: Loyalty account transactions inquiry
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/details:
    post:
      tags:
      - Transactions
      summary: "Transaction details. VMX Service: M.CMS.TRANSACTIONDETAIL.INQ, R8V6"
      description: "Provides transaction detail information for the current billing\
        \ cycle or statement transactions within a date range. \nVMX Service: M.CMS.TRANSACTIONDETAIL.INQ,\
        \ R8V6"
      operationId: details
      parameters:
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsDetailsRequest'
        required: true
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "422":
          description: |
            VPL5STD01I - NO TRANSACTIONS FOUND FOR REQUEST
            VPL5STD04E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 000-998
            VPL5STD05E - ACCOUNT NUMBER IS NOT NUMERIC OR EQUALS SPACES
            VPL5STD06E - FUNCTION TYPE VALID VALUES ARE SPACE, C, R, M OR B
            VPL5STD07E - NUMBER OF TRANSACTIONS CANNOT BE GREATER THAN 50
            VPL5STD08E - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE, 0 OR 1
            VPL5STD09E - NUMBER OF MONTHS IS REQUIRED WHEN REQUEST IS BY MONTH
            VPL5STD10E - TRANSACTION START DATE IS NOT A VALID DATE
            VPL5STD11E - TRANSACTION START DATE IS NOT NUMERIC
            VPL5STD12E - TRANSACTION START DATE IS NOT VALID WHEN REQUEST IS BY MONTH
            VPL5STD13E - TRANSACTION END DATE FORMAT IS NOT A VALID DATE
            VPL5STD14E - TRANSACTION END DATE IS NOT NUMERIC
            VPL5STD15E - TRANSACTION END DATE IS NOT VALID WHEN REQUEST IS BY MONTH
            VPL5STD16E - TRANSACTION END DATE MUST BE GREATER THAN TRANSACTION BEGIN DATE
            VPL5STD17E - STATEMENT OCCURRENCE NUMBER IS NOT NUMERIC
            VPL5STD20S - ORGANIZATION NUMBER NOT FOUND ON FILE
            VPL5STD21S - FOREIGN ORGANIZATION NUMBER IS NOT FOUND ON FILE
            VPL5STD22S - ACCOUNT NOT FOUND ON FILE
            VPL5STD23I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL5STD23S - NO TRANSACTIONS FOUND - STATEMENTS
            VPL5STD24S - NO TRANSACTIONS FOUND - STATEMENTS
            VPL5STD25I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL5STD26E - MINIMUM TRANSACTION AMOUNT MUST BE NUMERIC
            VPL5STD27E - MAXIMUM TRANSACTION AMOUNT MUST BE NUMERIC
            VPL5STD28E - MIN AND MAX TRANSACTION AMOUNTS MUST BE NUMERIC
            VPL5STD29E - MINIMUM AMOUNT CANNOT BE GREATER THAN MAXIMUM AMOUNT
            VPL5STD30E - FUNCTION CODE MUST BE EQUAL TO SPACE, N OR P
            VPL5STD31E - START TOKEN SEQUENCE NUMBER MUST BE NUMERIC
            VPL5STD32E - START TOKEN STATEMENT DATE MUST BE NUMERIC
            VPL5STD33E - STATEMENT DATE IS INVALID
            VPL5STD34E - START TOKEN FILE TYPE IS INVALID. VALID VALUES ARE C S AND L
            VPL5STD35E - CURRENCY CODE NOT ON FILE
            VPL5STD36E - INVALID TRANSACTION TYPE
            VPL5STDZ4S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5STDZ5S - REQUESTED ORGANIZATION NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsDetailsResponse'
      x-proxy-name: Transaction details
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/{tableInsurance}/insurance-table:
    get:
      tags:
      - Transactions
      summary: "INSURANCE TABLE INQUIRY. VMX Service: M.CMS.INS.TBL.INQ, R8V1"
      description: "Services will be created with the fields required for the first\
        \ MVP/phase of the new Evolution Credit UI.  The corresponding API will be\
        \ created accordingly. \nVMX Service: M.CMS.INS.TBL.INQ, R8V1"
      operationId: insuranceTableInquiry
      parameters:
      - name: tableInsurance
        in: path
        description: Table insurance
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 1
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 807
      - name: logo
        in: query
        description: Logo
        required: true
        schema:
          maximum: 999
          minimum: 0
          type: string
        example: 400
      - name: product
        in: query
        description: Product
        required: true
        schema:
          maxLength: 2
          minLength: 0
          type: string
        example: A1
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "422":
          description: |-
            VPL5SIQ06S - ORG IS INVALID
            VPL5SIQ07S - INSURANCE TABLE MUST BE NUMERIC AND GT 0
            VPL5SIQ08S - INS PROD IS INVALID
            VPL5SIQ09S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SIQ12S - ORG RECORD NOT FOUND/ADD PENDING
            VPL5SIQ13S - INSURANCE TABLE NOT FOUND/ADD PENDING
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceTableInquiryResponse'
      x-proxy-name: Insurance Table Inquiry
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/{interestTable}/interest-table:
    get:
      tags:
      - Transactions
      summary: "Interest Table information. VMX Service: M.CMS.INT.TBL.INQ, R8V1"
      description: "This services was created to provide the Interest Tableinformation.\
        \ \nVMX Service: M.CMS.INT.TBL.INQ, R8V1"
      operationId: interestTableInformation
      parameters:
      - name: interestTable
        in: path
        description: Interest table
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 11
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 801
      - name: logo
        in: query
        description: Logo
        required: true
        schema:
          maximum: 999
          minimum: 0
          type: string
        example: 400
      - name: product
        in: query
        description: Product
        required: false
        schema:
          type: string
        example: 20
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "400":
          description: Bad Request
        "422":
          description: |-
            VPL5SQR06 - ORG IS INVALID
            VPL5SQR07S - INTEREST TABLE MUST BE NUMERIC AND GT 0
            VPL5SQR08S - INT PROD IS INVALID
            VPL5SQR09S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SQR12S - VPL5SQR12S,001,ORG RECORD NOT FOUND/ADD PENDING
            VPL5SQR13S - INTEREST TABLE NOT FOUND/ADD PENDING
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterestTableInformationResponse'
      x-proxy-name: Interest Table information
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/{feeTableNumber}/fee-table-information:
    get:
      tags:
      - Transactions
      summary: "Fee Table information. VMX Service: M.CMS.SERV.FEE.TBL.INQ, R8V1"
      description: "This services was created to provides the Service Fee Table information.\
        \ \nVMX Service: M.CMS.SERV.FEE.TBL.INQ, R8V1"
      operationId: feeTableInformation
      parameters:
      - name: feeTableNumber
        in: path
        description: Service table number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 11
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 801
      - name: logo
        in: query
        description: Logo
        required: false
        schema:
          maximum: 999
          minimum: 0
          type: string
        example: 400
      - name: product
        in: query
        description: Product
        required: false
        schema:
          type: string
        example: 20
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "422":
          description: |-
            VPL5SVQ06S - ORG IS INVALID
            VPL5SVQ07S - FEE TABLE MUST BE NUMERIC AND GT 0
            VPL5SVQ08S - FEE PROD IS INVALID
            VPL5SVQ09S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SVQ12S - ORG RECORD NOT FOUND/ADD PENDING
            VPL5SVQ13S - FEE TABLE NOT FOUND/ADD PENDING
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeTableInformationResponse'
      x-proxy-name: Fee Table information
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/tax-table:
    get:
      tags:
      - Transactions
      summary: "TAX Table Inquiry. VMX Service: M.CMS.TAX.TBL.INQ, R8V1"
      description: "TAX Table Inquiry and details. \nVMX Service: M.CMS.TAX.TBL.INQ,\
        \ R8V1"
      operationId: taxTableInquiry
      parameters:
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 807
      - name: logo
        in: query
        description: Logo
        required: true
        schema:
          maximum: 999
          minimum: 0
          type: string
        example: 400
      - name: table
        in: query
        description: Table
        required: true
        schema:
          type: string
        example: 1
      - name: product
        in: query
        description: Product
        required: true
        schema:
          type: string
        example: 1
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "422":
          description: |-
            VPL5SWQ06S - ORG IS INVALID
            VPL5SWQ07S - TAX TABLE MUST BE NUMERIC AND GT 0
            VPL5SWQ08S - TAX PROD IS INVALID
            VPL5SWQ09S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SWQ12S - ORG RECORD NOT FOUND/ADD PENDING
            VPL5SWQ13S - TAX TABLE NOT FOUND/ADD PENDING
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxTableInquiryResponse'
      x-proxy-name: TAX Table Inquiry
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/statement-summary/{accountNumber}:
    get:
      tags:
      - Transactions
      summary: "LMS Account Statement summary. VMX Service: M.LMS.STMT.SUMMARY.INQ,\
        \ R8V1"
      description: "Inquires on a statement summary account in the LMS. \nVMX Service:\
        \ M.LMS.STMT.SUMMARY.INQ, R8V1"
      operationId: statementSummaryDetails
      parameters:
      - name: accountNumber
        in: path
        description: Account number to search
        required: true
        schema:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 19
          type: string
        example: 1801000000004844172
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 807
      - name: Scheme
        in: query
        description: Starting scheme associated with the scroll
        required: true
        schema:
          type: string
        example: "00029"
      - name: statementDate
        in: query
        description: Date when the next statement will be produced (Julian format)
        required: true
        schema:
          type: string
        example: 2020350
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatementSummaryResponse'
      x-proxy-name: LMS Account Statement summary
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/prepaid-logo:
    get:
      tags:
      - Transactions
      summary: "Prepaid Logo Inquiry. VMX Service: M.CMS.LOGO.PREPD.INQ, R8V1"
      description: "Prepaid Logo Inquiry and details. \nVMX Service: M.CMS.LOGO.PREPD.INQ,\
        \ R8V1"
      operationId: prepaidLogoInquiry
      parameters:
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 807
      - name: logo
        in: query
        description: Logo
        required: true
        schema:
          maximum: 999
          minimum: 0
          type: string
        example: 400
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidLogoInquiryResponse'
      x-proxy-name: Prepaid Logo Inquiry
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/pct-table:
    get:
      tags:
      - Transactions
      summary: "PCT Table Inquiry. M.CMS.PCT.TBL.INQ, R8V1"
      description: "PCT Table Inquiry and details. \nVMX Service: M.CMS.PCT.TBL.INQ,\
        \ R8V1"
      operationId: pctTableInquiry
      parameters:
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 807
      - name: logo
        in: query
        description: Logo
        required: true
        schema:
          maximum: 999
          minimum: 0
          type: string
        example: 400
      - name: table
        in: query
        description: Table
        required: true
        schema:
          type: string
        example: 1
      - name: product
        in: query
        description: Product
        required: true
        schema:
          type: string
        example: 1
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "400":
          description: Bad Request
        "422":
          description: |-
            VPL5SQF06S - ORG IS INVALID
            VPL5SQF07S - PCT TABLE MUST BE NUMERIC AND GT 0
            VPL5SQF08S - PCT PROD IS INVALID
            VPL5SQF09S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SQF12S - ORG RECORD NOT FOUND/ADD PENDING
            VPL5SQF13S - PCT TABLE NOT FOUND/ADD PENDING
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PctTableInquiryResponse'
      x-proxy-name: PCT Table Inquiry
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/outstanding-authorizations/{accountNumber}:
    get:
      tags:
      - Transactions
      summary: "Posted authorizations. VMX Service: M.CMS.OUTSTANDING.AUTH.INQ, R8V2"
      description: "Fetches transactions that have been posted to the Account. \n\
        VMX Service: M.CMS.OUTSTANDING.AUTH.INQ, R8V2"
      operationId: outstandingAuthorizationDetails
      parameters:
      - name: accountNumber
        in: path
        description: Account number to search
        required: true
        schema:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 19
          type: string
        example: 4513074002573466583
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 807
      - name: foreignUse
        in: query
        description: Foreign use indicator
        required: false
        schema:
          maximum: 1
          minimum: 0
          type: string
        example: 0
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "400":
          description: Bad Request
        "422":
          description: |
            VPL5SOA06E - ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 000 AND 998
            VPL5SOA07E - ACCOUNT NUMBER IS INVALID
            VPL5SOA08E - START TOKEN EFFECTIVE DATE REQUIRED WHEN FUNCTION IS NEXT/PREV
            VPL5SOA09E - START TOKEN EFFECTIVE DATE IS INVALID
            VPL5SOA10E - START TOKEN TIME REQUIRED WHEN FUNCTION IS NEXT/PREV
            VPL5SOA11E - START TOKEN TIME IS INVALID
            VPL5SOA12E - FOREIGN USE FLAG IS INVALID
            VPL5SOA13E - SERVICE FUNCTION CODE IS INVALID
            VPL5SOA14E - ACTION FILTER CODE IS INVALID
            VPL5SOA15S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5SOA16S - REQUESTED ORGANIZATION NOT FOUND
            VPL5SOA19S - ORGANIZATION NOT FOUND ON FILE
            VPL5SOA20I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL5SOA21S - FOREIGN ORGANIZATION NOT FOUND ON FILE
            VPL5SOA22S - ACCOUNT NUMBER NOT FOUND
            VPL5SOA24S - LOGO NOT FOUND ON FILE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutstandingAuthorizationCmsResponse'
      x-proxy-name: Posted authorizations
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/organization:
    get:
      tags:
      - Transactions
      summary: "Organization Inquiry. VMX Service: M.CMS.ORG.INQ, R8V1"
      description: "Organization number Inquiry and details. \nVMX Service: M.CMS.ORG.INQ,\
        \ R8V1"
      operationId: organizationInquiry
      parameters:
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 807
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "400":
          description: Bad Request
        "422":
          description: |-
            VPL5SQO06S - ORG IS INVALID
            VPL5SQO07S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SQO10S - ORG RECORD NOT FOUND/ADD PENDING
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInquiryResponse'
      x-proxy-name: Organization Inquiry
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/offer:
    get:
      tags:
      - Transactions
      summary: Offer Inquiry.M.OMS.OFFER.INQ. R8V1
      description: "Offer Inquiry and details. \nVMX Service: M.OMS.OFFER.INQ. R8V1"
      operationId: offerInquiry
      parameters:
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 807
      - name: offerId
        in: query
        description: Offer ID
        required: true
        schema:
          maxLength: 20
          minLength: 0
          type: string
        example: AVANC06
      - name: offerContext
        in: query
        description: Offer Context
        required: true
        schema:
          type: string
        example: "01"
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferInquiryResponse'
      x-proxy-name: Offer Inquiry
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/offer-list:
    get:
      tags:
      - Transactions
      summary: "Offer Inquiry. VMX Service: M.OMS.OFFERDEFLIST.INQ R8V1"
      description: "Offer Inquiry and details. \nVMX Service: M.OMS.OFFERDEFLIST.INQ\
        \ R8V1"
      operationId: offerListInquiry
      parameters:
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 807
      - name: beginOfferId
        in: query
        description: Begin Offer ID
        required: true
        schema:
          maxLength: 20
          minLength: 0
          type: string
        example: CONVENI018
      - name: offerType
        in: query
        description: Offer Type
        required: true
        schema:
          type: string
        example: "01"
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferListInquiryResponse'
      x-proxy-name: Offer List Inquiry
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/mcct-table:
    get:
      tags:
      - Transactions
      summary: "Prepaid MCC Criteria Table. VMX Service: M.CMS.TAX.TBL.INQ, R8V1"
      description: "Prepaid MCC Criteria Table Inquiry and details. \nVMX Service:\
        \ M.CMS.TAX.TBL.INQ, R8V1"
      operationId: mcctTableInquiry
      parameters:
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 807
      - name: logo
        in: query
        description: Logo
        required: true
        schema:
          maximum: 999
          minimum: 0
          type: string
        example: 400
      - name: table
        in: query
        description: Table
        required: true
        schema:
          type: string
        example: 1
      - name: product
        in: query
        description: Product
        required: true
        schema:
          type: string
        example: 1
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "422":
          description: |-
            VPL5SXQ06S - ORG IS INVALID
            VPL5SXQ07S - MCCT TABLE MUST BE NUMERIC AND GT 0
            VPL5SXQ08S - MCCT PROD IS INVALID
            VPL5SXQ09S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SXQ12S - ORG RECORD NOT FOUND/ADD PENDING
            VPL5SXQ13S - MCCT TABLE NOT FOUND/ADD PENDING
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McctTableInquiryResponse'
      x-proxy-name: Prepaid MCC Criteria Table
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/logo:
    get:
      tags:
      - Transactions
      summary: "Logo. VMX Service: M.CMS.LOGO.INQ- R8V1"
      description: "Logo Inquiry. \nVMX Service: M.CMS.LOGO.INQ- R8V1"
      operationId: logoInquiry
      parameters:
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 807
      - name: logo
        in: query
        description: Logo
        required: true
        schema:
          maximum: 999
          minimum: 0
          type: string
        example: 400
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "422":
          description: |-
            VPL5SQL10S - ORG IS INVALID
            VPL5SQL11S - REQUESTED ORG NUMBER IS NOT FOUND
            VPL5SQL14S - ORG RECORD NOT FOUND/ADD PENDING
            VPL5SQL15S - LOGO RECORD NOT FOUND/ADD PENDING
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogoInquiryResponse'
      x-proxy-name: Logo Inquiry
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/logo-block-codes:
    get:
      tags:
      - Transactions
      summary: "Logo Block Codes Inquiry. VMX Service: M.CMS.LOGO.BLKCD.INQ, R8V1"
      description: "Logo Block Codes Inquiry and details. \nVMX Service: M.CMS.LOGO.BLKCD.INQ,\
        \ R8V1"
      operationId: logoInquiry_1
      parameters:
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 807
      - name: logo
        in: query
        description: Logo
        required: true
        schema:
          maximum: 999
          minimum: 0
          type: string
        example: 400
      - name: blockCodeIndicator
        in: query
        description: BlockCode Indicator
        required: true
        schema:
          maximum: 2
          minimum: 1
          type: string
        example: 1
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogoBlockCodeInquiryResponse'
      x-proxy-name: Logo Block Codes Inquiry
      x-group-name: Transaction
      x-child-product-name: Transactions
  /transactions/enroll-history/{accountNumber}:
    get:
      tags:
      - Transactions
      summary: "Account to cards details. VMX Service: M.OMS.ENRHISTORY.INQ, R8V1"
      description: "The Account Enrollment Inquiry service (OMS.ACCTENROLL.INQ R8V1)\
        \ provides access to account enrollment inquiry from an external system. The\
        \ request can be initiated from a host or from external sources like IVR or\
        \ GUI. \nVMX Service: M.OMS.ENRHISTORY.INQ, R8V1"
      operationId: enrollHistory
      parameters:
      - name: organizationNumber
        in: query
        description: Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: 980
      - name: accountNumber
        in: path
        description: Account number to search
        required: true
        schema:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 19
          type: string
        example: 4763964009916831252
      - name: offerId
        in: query
        description: Beginning Offer Id
        required: false
        schema:
          maxLength: 10
          minLength: 0
          type: string
      - name: functionCode
        in: query
        description: Function Code for navigating results
        required: false
        schema:
          type: string
        example: "N"
      - name: startOrganization
        in: query
        description: Start Organization Number
        required: true
        schema:
          maximum: 999
          minimum: 1
          type: string
        example: "2313455446441234"
      - name: startAccountNumber
        in: query
        description: Start Account Number
        required: false
        schema:
          maxLength: 19
          minLength: 0
          type: string
      - name: startOfferId
        in: query
        description: Service start offer ID
        required: false
        schema:
          maxLength: 10
          minLength: 0
          type: string
        example: 1
      - name: startDate
        in: query
        description: Start Priority - Start Date
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: startTime
        in: query
        description: Start Time
        required: false
        schema:
          type: string
        example: 1
      - name: startBreaker
        in: query
        description: start Breaker
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: apikey
        in: header
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
        example: "00970"
      responses:
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "405":
          description: Method Not Allowed
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "200":
          description: Success
          content:
            application/json:
              schema:
[...]
