openapi: 3.0.1
info:
  title: FirstVision™ Transactions Service - API Documentation
  description: This documentation describes the REST APIs provided by the FirstVision™ Transactions Microservice for Ualá.
  version: "1.2"
servers:
- url: https://int.api.firstdata.com/latam-gfs-apis/portal
paths:
  /transactions/outstanding-authorizations-L8V3/details:
    post:
      tags:
      - Transactions
      summary: "Outstanding Authorizations Inquiry. VMX Service: M.FAS.OUTSTANDING.AUTH.INQ,\
        \ L8V3"
      description: "Fetches data of both old and new transactions(including today's)\
        \ which are settled to an account. \nVMX Service: M.FAS.OUTSTANDING.AUTH.INQ,\
        \ L8V3"
      operationId: outstandingAuthorizationL8V3
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutstandingAuthorizationFasL8V3Request'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutstandingAuthorizationFasL8V3Response'
        "404":
          description: Not Found
      x-proxy-name: Outstanding Authorizations Inquiry
      x-group-name: Transactions
  /transactions/details:
    post:
      tags:
      - Transactions
      summary: "Transaction details. VMX Service: M.CMS.TRANSACTIONDETAIL.INQ, R8V6"
      description: "Provides transaction detail information for the current billing\
        \ cycle or statement transactions within a date range. \nVMX Service: M.CMS.TRANSACTIONDETAIL.INQ,\
        \ R8V6"
      operationId: Transaction Details Inquiry
      parameters:
      - name: apikey
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: X-ClientID
        in: header
        description: Client ID
        required: true
        schema:
          type: string
        example: "00970"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsDetailsRequest'
        required: true
      responses:
        "500":
          description: Backend Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "300":
          description: Redirection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "400":
          description: Bad Request
        "422":
          description: |
            VPL5STD01I - NO TRANSACTIONS FOUND FOR REQUEST
            VPL5STD04E - ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 000-998
            VPL5STD05E - ACCOUNT NUMBER IS NOT NUMERIC OR EQUALS SPACES
            VPL5STD06E - FUNCTION TYPE VALID VALUES ARE SPACE, C, R, M OR B
            VPL5STD07E - NUMBER OF TRANSACTIONS CANNOT BE GREATER THAN 50
            VPL5STD08E - INVALID FOREIGN USE INDICATOR - VALID VALUES ARE SPACE, 0 OR 1
            VPL5STD09E - NUMBER OF MONTHS IS REQUIRED WHEN REQUEST IS BY MONTH
            VPL5STD10E - TRANSACTION START DATE IS NOT A VALID DATE
            VPL5STD11E - TRANSACTION START DATE IS NOT NUMERIC
            VPL5STD12E - TRANSACTION START DATE IS NOT VALID WHEN REQUEST IS BY MONTH
            VPL5STD13E - TRANSACTION END DATE FORMAT IS NOT A VALID DATE
            VPL5STD14E - TRANSACTION END DATE IS NOT NUMERIC
            VPL5STD15E - TRANSACTION END DATE IS NOT VALID WHEN REQUEST IS BY MONTH
            VPL5STD16E - TRANSACTION END DATE MUST BE GREATER THAN TRANSACTION BEGIN DATE
            VPL5STD17E - STATEMENT OCCURRENCE NUMBER IS NOT NUMERIC
            VPL5STD20S - ORGANIZATION NUMBER NOT FOUND ON FILE
            VPL5STD21S - FOREIGN ORGANIZATION NUMBER IS NOT FOUND ON FILE
            VPL5STD22S - ACCOUNT NOT FOUND ON FILE
            VPL5STD23I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL5STD23S - NO TRANSACTIONS FOUND - STATEMENTS
            VPL5STD24S - NO TRANSACTIONS FOUND - STATEMENTS
            VPL5STD25I - FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA
            VPL5STD26E - MINIMUM TRANSACTION AMOUNT MUST BE NUMERIC
            VPL5STD27E - MAXIMUM TRANSACTION AMOUNT MUST BE NUMERIC
            VPL5STD28E - MIN AND MAX TRANSACTION AMOUNTS MUST BE NUMERIC
            VPL5STD29E - MINIMUM AMOUNT CANNOT BE GREATER THAN MAXIMUM AMOUNT
            VPL5STD30E - FUNCTION CODE MUST BE EQUAL TO SPACE, N OR P
            VPL5STD31E - START TOKEN SEQUENCE NUMBER MUST BE NUMERIC
            VPL5STD32E - START TOKEN STATEMENT DATE MUST BE NUMERIC
            VPL5STD33E - STATEMENT DATE IS INVALID
            VPL5STD34E - START TOKEN FILE TYPE IS INVALID. VALID VALUES ARE C S AND L
            VPL5STD35E - CURRENCY CODE NOT ON FILE
            VPL5STD36E - INVALID TRANSACTION TYPE
            VPL5STDZ4S - REQUESTED ORGANIZATION COULD NOT BE DETERMINED
            VPL5STDZ5S - REQUESTED ORGANIZATION NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        "401":
          description: Unauthorized
        "405":
          description: Method Not Allowed
        "403":
          description: Forbidden
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsDetailsResponse'
        "404":
          description: Not Found
      x-proxy-name: Transaction Details Inquiry
      x-group-name: Transactions
components:
  schemas:
    OutstandingAuthorizationFasL8V3Request:
      required:
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          maximum: 999
          minimum: 1
          type: integer
          description: |-
            Length: 3

            Organization Number.

            VisionPLUS Service Data: OZXOAI-ORG
          format: int32
          example: 807
        effectiveAuthorizationDate:
          type: string
          description: |-
            Effective Authorization Date.

            VisionPLUS Service Data: OZXOAI-EFF-DATE
          format: date
        effectiveAuthorizationTime:
          type: integer
          description: |-
            Effective Authorization Time.
            VisionPLUS Service Data: OZXOAI-TIME
          format: int32
          example: 112233
        accountNumber:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 19
          type: string
          description: |-
            Length: 19

            Account Number.

            VisionPLUS Service Data: OZXOAI-ACCT
          example: "4513074002573466583"
        foreignUseIndicator:
          maximum: 1
          minimum: 0
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Length: 1

            Foreign Use Indicator. The values are:
            0 = Local account
            1 = Foreign account.

            VisionPLUS Service Data: OZXOAI-FOREIGN-USE
          example: "0"
        functionCode:
          type: string
          description: |-
            Length: 1

            Function code for navigating results.

            VisionPLUS Service Data: OZXOAI-SVC-FUNC-CODE
        filter:
          type: string
          description: |-
            Length: 1

            Filter for results. The values are:
            Space or low value = All authorizations
            A = Approved authorizations
            D = Declined authorizations.

            VisionPLUS Service Data: OZXOAI-ACTION-FILTER
          example: A
        numberOfAuthorizationsRequested:
          type: integer
          description: "Number of authorizations requested. The values are 1 through\
            \ 100. \nThe initial value is 100"
          format: int32
          example: 100
        authorizationNumber:
          type: string
          description: |-
            Length: 6

            Authorization number.

            VisionPLUS Service Data: OZXOAI-AUTH-NBR
          example: "123"
        logRecordTypeOfTheTransaction:
          type: integer
          description: |-
            Length: 1

            Log Record Type Of The Transaction.

            VisionPLUS Service Data: OZXOAI-TXN-REC-TYPE
          format: int32
          example: 6
        extentOfTheLogFile:
          type: integer
          description: |-
            Length: 1

            Extent Of The Log File.

            VisionPLUS Service Data: ZXOAI-ACCOUNT-LOG-EXT
          format: int32
          example: 0
        relativeByteAddress:
          type: integer
          description: |-
            Length: 1

            Relative By Address.

            VisionPLUS Service Data: OZXOAI-ACCOUNT-RBA
          format: int32
          example: 110150302
        authorizationDateFrom:
          type: string
          description: |-
            Authorization From Date.

            VisionPLUS Service Data: OZXOAI-AUTH-FROM-DATE
          format: date
        authorizationDateTo:
          type: string
          description: |-
            Authorization To Date.

            VisionPLUS Service Data: OZXOAI-AUTH-TO-DATE
          format: date
        cardNumber:
          type: string
          description: |-
            Length: 19

            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).

            VisionPLUS Service Data: OZXOAI-CARD-NBR
          example: 000540208ID5IXX3865
      description: Outstanding Authorizations Request
    DResponse:
      type: object
      properties:
        hasError:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        data:
          type: object
    Error:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    OutstandingAuthorizationFasL8V3.ResponseFundXfrFld:
      type: object
      properties:
        xfrFromCurrency:
          type: integer
          description: |-
            Length: 3

            XFR from currency.

            VisionPLUS Service Data: OZXOAO-MWP-XFR-FROM-CURR
          format: int32
        xfrFromAmount:
          type: integer
          description: |-
            Length: 13

            XFR from amount.

            VisionPLUS Service Data: OZXOAO-MWP-XFR-FROM-AMT
          format: int32
        xfrToAmount:
          type: number
          description: |-
            Length: 13

            XFR to amount.

            VisionPLUS Service Data: OZXOAO-MWP-XFR-TO-AMT
        xfrFeeAmount:
          type: number
          description: |-
            Length: 9

            XFR fee amount.

            VisionPLUS Service Data: OZXOAO-MWP-XFR-FEE-AMT
    OutstandingAuthorizationFasL8V3Response:
      type: object
      properties:
        currencyNumberOfDecimals:
          type: integer
          description: |-
            Length: 3

            Currency number of decimals form AMCR Org level.

            VisionPLUS Service Data: OZXOAO-O-CURR-NOD
          format: int32
        currencyCode:
          type: integer
          description: |-
            Length: 3

            Organization currency number AMCR Org level.

            VisionPLUS Service Data: OZXOAO-O-CURR-NBR
          format: int32
        foreignUseIndicator:
          type: string
          description: |-
            Length: 1

            Foreign use indicator.

            VisionPLUS Service Data: OZXOAO-FOREIGN-USE
        organizationNumber:
          type: integer
          description: |-
            Length: 3

            Account organization.

            VisionPLUS Service Data: OZXOAO-ORG
          format: int32
        accountNumber:
          type: string
          description: |-
            Length: 19

            Account number.

            VisionPLUS Service Data: OZXOAO-ACCT
        nextToken:
          $ref: '#/components/schemas/OutstandingAuthorizationFasL8V3Response.NextToken'
        prevToken:
          $ref: '#/components/schemas/OutstandingAuthorizationFasL8V3Response.PrevToken'
        more:
          type: string
          description: "Length: 1\n\nMore data indicator.\n\nVisionPLUS Service Data:\
            \ OZXOAO-MORE-DATA-FLAG "
        numberOfAuthorizationsReturned:
          type: integer
          description: |-
            Length: 3

            Number of items returned by the service.

            VisionPLUS Service Data: OZXOAO-NBR-RETURNED-ITEMS
          format: int32
        authorizationsData:
          type: array
          items:
            $ref: '#/components/schemas/OutstandingAuthorizationFasL8V3Response.AuthorizationData'
    OutstandingAuthorizationFasL8V3Response.AuthorizationData:
      type: object
      properties:
        sequence:
          type: integer
          description: Sequence
          format: int32
        effectiveDate:
          type: string
          description: |-
            Authorization effective date.

            VisionPLUS Service Data: OZXOAO-EFF-DATE
          format: date
        time:
          type: string
          description: |-
            Length: 8

            Authorization time.

            VisionPLUS Service Data: OZXOAO-TIME
        requestType:
          type: string
          description: |-
            Length: 1

            Authorization request type.

            VisionPLUS Service Data: OZXOAO-REQUEST-TYPE
        action:
          type: string
          description: "Length: 1\n\nAction taken by the operator if an override action\
            \ was possible or \nthe action as chosen by the system.\n\nVisionPLUS\
            \ Service Data: OZXOAO-ACTION"
        actionReason:
          type: integer
          description: |-
            Length: 3

            Action reason.

            VisionPLUS Service Data: OZXOAO-ACTION-REASON
          format: int32
        postingDate:
          type: string
          description: |-
            Date the authorization was actually posted.

            VisionPLUS Service Data: OZXOAO-POSTING-DATE
          format: date
        creditPlan:
          type: integer
          description: |-
            Length: 5

            Credit plan of the authorization.

            VisionPLUS Service Data: OZXOAO-CREDIT-PLAN
          format: int32
        authorizationAmount:
          type: string
          description: |-
            Length: 17

            Authorization amount.

            VisionPLUS Service Data: OZXOAO-AUTH-AMOUNT
        authorizationCode:
          type: string
          description: |-
            Length: 6

            Authorization code.

            VisionPLUS Service Data: OZXOAO-AUTHORIZATION-CODE
        authorizationType:
          type: string
          description: |-
            Length: 1

            Authorization type. Indicates whether the  authorization is for cash or retail.

            VisionPLUS Service Data: OZXOAO-AUTH-TYPE
        cardNumber:
          type: string
          description: |-
            Length: 19

            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).Card number of the authorization.

            VisionPLUS Service Data: OZXOAO-CARD-NBR
          example: 000540208ID5IXX3865
        cardSequence:
          type: integer
          description: |-
            Length: 4

            Card sequence of the authorization.

            VisionPLUS Service Data: OZXOAO-CARD-SEQ
          format: int32
        merchantCategoryCode:
          type: integer
          description: "Length: 5\n\nMerchant standard industry code (aka ‘SIC code’\
            ). Indicates the type of merchant \nthat is acquiring the transaction.\n\
            \nVisionPLUS Service Data: OZXOAO-MERCH-CAT-CD"
          format: int32
        merchantCategoryCodeDescription:
          type: string
          description: |-
            Length: 28

            Category description.

            VisionPLUS Service Data: OZXOAO-CATEGORY-DESC
        transactionRecordType:
          type: integer
          description: |-
            Length: 1

            Indicates the type of authorization.

            VisionPLUS Service Data: OZXOAO-TXN-REC-TYPE
          format: int32
        logExtent:
          type: integer
          description: |-
            Length: 1

            Log file extent.

            VisionPLUS Service Data: OZXOAO-ACCOUNT-LOG-EXT
          format: int32
        relativeByteAddress:
          type: integer
          description: |-
            Length: 9

            Relative byte address of the log record that corresponds to this activity

            VisionPLUS Service Data: OZXOAO-RBA
          format: int32
        reasonDescription:
          type: string
          description: |-
            Length: 10

            Reserved for future use.

            VisionPLUS Service Data: OZXOAO-REASON-DESC
        cardAcceptorNameAndLocation:
          type: string
          description: |-
            Length: 41

            Name and location of card acceptor.

            VisionPLUS Service Data: OZXOAO-CRD-ACCPT-NAME-LOC
        transactionDescription:
          type: string
          description: |-
            Length: 41

            Category description.

            VisionPLUS Service Data: OZXOAO-TRANSACTION-DESC
        transactionEntryMode:
          type: integer
          description: |-
            Length: 2

            POS entry mode.

            VisionPLUS Service Data: OZXOAO-PAN-ENTRY-MODE
          format: int32
        transactionEntryModeDescription:
          type: string
          description: |-
            Length: 20

            PAN entry description.

            VisionPLUS Service Data: OZXOAO-PAN-ENTRY-DESCRIPTION
        merchantNumber:
          type: string
          description: |-
            Length: 8

            Merchant Number.

            VisionPLUS Service Data: OZXOAO-MER-CODE
        authorizationResponseCode:
          type: string
          description: |-
            Length: 3

            Authorization Response Code. Card Type.

            VisionPLUS Service Data: OZXOAO-B039-RESP-CODE
        creditAvailable:
          type: string
          description: |-
            Length: 17

            Available credit.

            VisionPLUS Service Data: OZXOAO-AVAIL-CREDIT
        creditAvailableForCashAdvances:
          type: string
          description: |-
            Length: 17

            Available credit for cash advances.

            VisionPLUS Service Data: OZXOAO-CASH-AVAIL-CREDIT
        accountCurrencyCode:
          type: string
          description: |-
            Length: 3

            Currency code.

            VisionPLUS Service Data: OZXOAO-CURR-CODE
        stateOrCountry:
          type: string
          description: |-
            Length: 3

            Card accept state or country.

            VisionPLUS Service Data: OZXOAO-CRD-ACCPT-ST-CTRY
        transactionSourceTerminal:
          type: string
          description: |-
            Length: 1

            Transaction source terminal.

            VisionPLUS Service Data: OZXOAO-TRANS-SOURCE
        merchantCode:
          type: string
          description: |-
            Length: 10

            Merchant code.

            VisionPLUS Service Data: OZXOAO-MERCH-CODE
        processingCode:
          type: integer
          description: |-
            Length: 6

            Processing code.

            VisionPLUS Service Data: OZXOAO-B003-PROC-CODE
          format: int32
        transactionAmount:
          type: string
          description: |-
            Length: 13

            Transaction amount.

            VisionPLUS Service Data: OZXOAO-B004-TXN-AMT
        settlementAmount:
          type: string
          description: |-
            Length: 13

            Settlement billing amount.

            VisionPLUS Service Data: OZXOAO-B005-ST-BLNG-AMT
        cardholderBillingAmount:
          type: string
          description: |-
            Length: 13

            Card holder billing amount

            VisionPLUS Service Data: OZXOAO-B006-CH-BLNG-AMT
        systemAuditTraceNumber:
          type: string
          description: |-
            Length: 7

            System audit trace number.

            VisionPLUS Service Data: OZXOAO-MC-B011-SYS-AUDT-TRCE
        localTimeOfTheTransaction:
          type: string
          description: |
            Length: 8

            Transaction local time.

            VisionPLUS Service Data: OZXOAO-AUTH-B012-LCL-TXN-TM
        localDateOfTheTransaction:
          type: string
          description: |-
            Transaction local date.

            VisionPLUS Service Data: OZXOAO-B013-LCL-TXN-DT
          format: date
        retrievalReferenceNumber:
          type: number
          description: |-
            Length: 12

            Retrieval reference number.

            VisionPLUS Service Data: OZXOAO-REF-NBR
          format: double
        transactionCurrencyCode:
          type: integer
          description: "Length: 3\n\nTransaction currency code.\n\nVisionPLUS Service\
            \ Data: OZXOAO-B049-CURR-CODE "
          format: int32
        settlementCurrencyCode:
          type: integer
          description: |-
            Length: 3

            Settlement currency code.

            VisionPLUS Service Data: OZXOAO-B050-STL-CURR-CODE
          format: int32
        billingCurrencyCode:
          type: integer
          description: |
            Length: 3

            Billing currency code.

            VisionPLUS Service Data: OZXOAO-B051-CHB-CURR-CODE
          format: int32
        terminalNetworkName:
          type: string
          description: |-
            Length: 16

            Terminal network name.

            VisionPLUS Service Data: OZXOAO-B24-B060-D-POS
        offeredDownPayment:
          type: number
          description: |-
            Length: 13

            Offered down payment.

            VisionPLUS Service Data: OZXOAO-OFFERED-DOWN-PMT
        walletFeeAmount:
          type: string
          description: |-
            Length: 9

            Wallet fee amount.

            VisionPLUS Service Data: OZXOAO-WALLET-FEE-AMT
        embosserName:
          type: string
          description: "Length: 26\n\nEmbosser name.\n\nVisionPLUS Service Data: OZXOAO-EMBOSSED-NAME "
        cashBackAmount:
          type: string
          description: "Length: 9\n\nCash back amount.\n\nVisionPLUS Service Data:\
            \ OZXOAO-CASH-BACK-AMT "
        exchangeRate:
          type: number
          description: |
            Exchange rate
        exchangeRateNode:
          type: integer
          description: |
            Exchange rate node.
          format: int32
        remainingDays:
          type: integer
          description: |
            Remaining days.
          format: int32
        cardAcceptorName:
          type: string
          description: "Length: 41\n\nCard acceptor name.\n\nVisionPLUS Service Data:\
            \ OZXOAO-CRD-ACCPT-NAME "
        merchantPhone:
          type: string
          description: |-
            Length: 20

            Merchant phone.

            VisionPLUS Service Data: OZXOAO-MERCHANT-PHONE
        countryCode:
          type: integer
          description: "Length: 3\n\nMerchant country code.\n\nVisionPLUS Service\
            \ Data: OZXOAO-MERCHANT-COUNTRY-CODE "
          format: int32
        multiWalletPrepaid:
          $ref: '#/components/schemas/OutstandingAuthorizationFasL8V3Response.MultiWalletPrepaid'
    OutstandingAuthorizationFasL8V3Response.MultiWalletPrepaid:
      type: object
      properties:
        currencyId:
          type: integer
          description: |-
            Length: 3

            Authorization wallet currency ID.

            VisionPLUS Service Data: OZXOAO-MWP-AUTH-WLT-CURR-ID
          format: int32
        authWalletAmount:
          type: number
          description: |-
            Length: 13

            Authorization wallet amount.

            VisionPLUS Service Data: OZXOAO-MWP-AUTH-WLT-AMT
        baseCurrencyAmount:
          type: number
          description: |-
            Length: 13

            Base currency amount.

            VisionPLUS Service Data: OZXOAO-MWP-BASE-CURR-AMT
        authWalletMarkupAmount:
          type: number
          description: |-
            Length: 9

            Authorization wallet markup amount.

            VisionPLUS Service Data: OZXOAO-MWP-AUTH-WLT-MRKUP-AMT
        conversionFeeAmount:
          type: number
          description: |-
            Length: 9

            Conversion fee amount.

            VisionPLUS Service Data: OZXOAO-MWP-CNVRSN-FEE-AMT
        crossWalletXfrFlag:
          type: integer
          description: |-
            Length: 1

            Cross wallet XRF flag.

            VisionPLUS Service Data: OZXOAO-MWP-CROSS-WLT-XFR-FLAG
          format: int32
        walletPrstFlag:
          type: integer
          description: |-
            Length: 1

            Wallet prst flag.

            VisionPLUS Service Data: OZXOAO-MWP-WLT-PRST-FLAG
          format: int32
        walletToDwltConversionRate:
          type: integer
          description: |-
            Length: 1

            Wallet to dwlt conversion rate.

            VisionPLUS Service Data: OZXOAO-WLT-TO-DWLT-CONV-RATE
          format: int32
        xfrToCurrency:
          type: integer
          description: |-
            Length: 3

            XFR to currency.

            VisionPLUS Service Data: OZXOAO-MWP-XFR-TO-CURR
          format: int32
        fundXfrFld:
          $ref: '#/components/schemas/OutstandingAuthorizationFasL8V3.ResponseFundXfrFld'
        atmWdrlFeeAmount:
          type: number
          description: |-
            Length: 13

            ATM wdrl fee amount.

            VisionPLUS Service Data: OZXOAO-MWP-ATM-WDRL-FEE-AMT
        crosBrdrFeeAmount:
          type: number
          description: |-
            Length: 13

            Cros brdr fee amount.

            VisionPLUS Service Data: OZXOAO-MWP-CROS-BRDR-FEE-AMT
        ccaFeeAmount:
          type: number
          description: |-
            Length: 13

            Cca fee amount.

            VisionPLUS Service Data: OZXOAO-MWP-CCA-FEE-AMT
        ivaTaxAmount:
          type: number
          description: |-
            Length: 13

            IVA tax amount.

            VisionPLUS Service Data: OZXOAO-MWP-IVA-TAX-AMT
    OutstandingAuthorizationFasL8V3Response.NextToken:
      type: object
      properties:
        effectiveDate:
          type: string
          description: |-
            Token – next authorization date.

            VisionPLUS Service Data: OZXOAO-EFF-DATE-NEXT
          format: date
        time:
          type: string
          description: |-
            Length: 8

            Token – next authorization time.

            VisionPLUS Service Data: OZXOAO-TIME-NEXT
        logRecordTypeOfTheTransaction:
          type: integer
          description: |-
            Length: 1

            Token – next transaction type.

            VisionPLUS Service Data: OZXOAO-TXN-REC-TYPE-NEXT
          format: int32
        extentOfTheLogFile:
          type: integer
          description: |-
            Length: 1

            Token – next account log.

            VisionPLUS Service Data: OZXOAO-ACCOUNT-LOG-EXT-NEXT
          format: int32
        relativeByteAddress:
          type: integer
          description: |-
            Length: 9

            Token – next account RBA.

            VisionPLUS Service Data: OZXOAO-ACCOUNT-RBA-NEXT
          format: int32
        cardNumberNext:
          type: string
          description: |-
            Length: 19

            Token – Card number next.

            VisionPLUS Service Data: OZXOAO-CARD-NBR-NEXT
    OutstandingAuthorizationFasL8V3Response.PrevToken:
      type: object
      properties:
        effectiveDate:
          type: string
          description: |-
            Token – previous authorization date.

            VisionPLUS Service Data: OZXOAO-EFF-DATE-PREV
          format: date
        time:
          type: string
          description: |-
            Length: 8

            Token – previous authorization time.

            VisionPLUS Service Data: OZXOAO-TIME-PREV
        logRecordTypeOfTheTransaction:
          type: integer
          description: |-
            Length: 1

            Token – previous transaction type.

            VisionPLUS Service Data: OZXOAO-TXN-REC-TYPE-PREV
          format: int32
        extentOfTheLogFile:
          type: integer
          description: |-
            Length: 1

            Token – previous account log.

            VisionPLUS Service Data: OZXOAO-ACCOUNT-LOG-EXT-PREV
          format: int32
        relativeByteAddress:
          type: integer
          description: |-
            Length: 9

            Token - previous account RBA.

            VisionPLUS Service Data: OZXOAO-ACCOUNT-RBA-PREV
          format: int32
        cardNumberPrev:
          type: string
          description: |-
            Length: 19

            Token - previous card number.

            VisionPLUS Service Data: OZXOAO-CARD-NBR-PREV
    TransactionsDetailsRequest:
      required:
      - accountNumber
      - organizationNumber
      type: object
      properties:
        organizationNumber:
          maximum: 999
          minimum: 1
          type: integer
          description: |-
            Length: 3
            Organization Number.
            VisionPLUS Service Data: ARXTDI-ORG
          format: int32
          example: 807
        accountNumber:
          maximum: 19
          minimum: 19
          maxLength: 19
          minLength: 19
          type: string
          description: |
            Length: 19
            Account Number or Card Number On Either The Embosser Record Or The Account Base Segment Record.
            VisionPLUS Service Data: ARXTDI-ACCT
          example: "4513074002573466583"
        functionCode:
          maximum: 1
          minimum: 0
          type: string
          description: |-
            Length: 1
            Transaction detail flag
            The values are:
            C = Current
            R = Recent
            M = Monthly
            B = Use both current and recent
            If this field is left blank, the default is B.
            VisionPLUS Service Data: ARXTDI-TXN-DETAIL
          example: B
        transactionDateRange:
          $ref: '#/components/schemas/TransactionsDetailsRequest.TransactionDateRange'
        numberOfTransactions:
          maximum: 50
          minimum: 1
          type: integer
          description: |-
            Length: 2
            Number Of Transactions. The Maximum Number Is 50.
            VisionPLUS Service Data: ARXTDI-NUMBER-TXNS
          format: int32
          example: 10
        foreignUserIndicator:
          maximum: 1
          minimum: 0
          maxLength: 1
          minLength: 0
          type: string
          description: |-
            Length: 1
            Foreign use indicator.
            The values are:
            * Zero, space, low values = Local account
            * 1 = Foreign account
            VisionPLUS Service Data: ARXTDI-FOREIGN-USE
          example: "0"
        startItem:
          $ref: '#/components/schemas/TransactionsDetailsRequest.SItem'
        transactionNumberMonths:
          maximum: 12
          minimum: 1
          maxLength: 2
          minLength: 2
          type: string
          description: "Length: 2 \nTransaction Number Month\nVisionPLUS Service Data:\
            \ ARXTDI-TXN-NBR-MONTHS"
        transactionAmountRange:
          $ref: '#/components/schemas/TransactionsDetailsRequest.TransactionAmountRange'
        keyword:
          maximum: 20
          minimum: 1
          type: string
          description: |-
            Length: 20
            Keyword.
            VisionPLUS Service Data: ARXTDI-KEYWORD
        transactionType:
          maximum: 1
          minimum: 0
          type: integer
          description: |-
            Length: 1
            Transaction Type.
            The values are:
            * Zero = All
            * 1 = Interest and fee
            * 2 = Payment
            * 3 = Dispute
            * 4 = Warehouse
            * 5 = Interest only
            * 6 = Fee only
            * 7 = Card only
            VisionPLUS Service Data: ARXTDI-TXN-TYPE
          format: int32
        merchantInformationIndicator:
          maximum: 1
          minimum: 0
          type: string
          description: |-
            Length: 1
            Merchant information indicator.
            The values are:
            0 = Merchant information is not required
            1 = Merchant information is required
            VisionPLUS Service Data: ARXTDI-MERCH-INFO-IND
      description: Transactions Details Request
    TransactionsDetailsRequest.SItem:
      type: object
      properties:
        sequenceNumber:
          type: integer
          description: |-
            Length: 5
            Field Populated From A Previous Service Request—For Internal Use Only
            VisionPLUS Service Data: ARXTDI-START-SEQ-NBR
          format: int32
          example: 7
        statementDate:
          type: string
          description: |-
            Field Populated From A Previous Service Request If More Transactions Are Required—For Internal Use Only
            VisionPLUS Service Data: ARXTDI-START-STMT-DATE
          format: date
        type:
          type: string
          description: |-
            Length: 1
            Start type.
            The values are:
            C = Current statement
            L = Large statement file
            S = Small statement file
            VisionPLUS Service Data: ARXTDI-START-FILE-TYPE
          example: C
    TransactionsDetailsRequest.TransactionAmountRange:
      type: object
      properties:
        from:
          maximum: 99999999999999999
          minimum: 0
          type: number
          description: |-
            Length: 17
            Transaction amount range. This field indicates the “from” amount.VisionPLUS Service Data: ARXTDI-TXN-AMT-FROM
          example: 0
        to:
          maximum: 99999999999999999
          minimum: 0
          type: number
          description: |-
            Length: 17
            Transaction amount range. This field indicates the “to” amountVisionPLUS Service Data: ARXTDI-TXN-AMT-THRU
          example: 100000
    TransactionsDetailsRequest.TransactionDateRange:
      type: object
      properties:
        from:
          type: string
          description: |-
            Transaction date range. This field indicates the “from” date.
            VisionPLUS Service Data: ARXTDI-TXN-DATE-FROM
          format: date
        to:
          type: string
          description: |-
            Transaction date range. This field indicates the “to” date.
            VisionPLUS Service Data: ARXTDI-TXN-DATE-THRU
          format: date
    TransactionDetailsResponse.CurrencyData:
      type: object
      properties:
        code:
          type: integer
          description: |-
            Length : 3
            Currency code.
            VisionPLUS Service Data: ARXPQO-CURR-NBR
          format: int32
        numberOfDecimal:
          type: integer
          description: |-
            Length: 1
            Number of decimal.
            VisionPLUS Service Data: ARXPQO-CURR-NOD
          format: int32
    TransactionsDetailsResponse:
      type: object
      properties:
        currencyData:
          $ref: '#/components/schemas/TransactionDetailsResponse.CurrencyData'
        organizationNumber:
          type: integer
          description: |-
            Length : 3
            Organization Number
            VisionPLUS Service Data: ARXTDO-ACCT-ORG
          format: int32
        logo:
          type: integer
          description: |-
            Length : 3
            Logo.
            VisionPLUS Service Data: ARXTDO-ACCT-LOGO
          format: int32
        foreignUseIndicator:
          type: string
          description: |-
            Length : 1
            Foreign use indicator.
            The values are:
            * Zero, space, low values = Local account
            * 1 = Foreign account
            VisionPLUS Service Data: ARXTDO-FOREIGN-USE
        numberOfMonths:
          type: string
          description: |-
            Length: 2
            Number of months to retrieve transaction records.
            VisionPLUS Service Data: ARXTDO-TXN-NBR-MONTHS
        numberOfTransactionRecords:
          type: integer
          description: |-
            Length : 3
            Number Of Transaction Records.
            VisionPLUS Service Data: ARXTDO-NBR-RETURNED-ITEMS
          format: int32
        transactionData:
          type: array
          items:
            $ref: '#/components/schemas/TransactionsDetailsResponse.TransactionDetails'
        more:
          type: string
          description: |-
            Length : 1
            Code that indicates if more records are on file.
            The values are:
            * N = No more records on file
            * Y = More records on file
            VisionPLUS Service Data: ARXTDO-MORE-IND
          enum:
          - "N,Y"
        startItem:
          $ref: '#/components/schemas/TransactionsDetailsResponse.SItem'
    TransactionsDetailsResponse.SItem:
      type: object
      properties:
        sequenceNumber:
          type: integer
          description: |-
            Length: 5
            Sequence.
            VisionPLUS Service Data: ARXTDI-START-SEQ-NBR
          format: int32
        statementDate:
          type: string
          description: |-
            Length : 7
            Statement date.
            VisionPLUS Service Data: ARXTDI-START-STMT-DATE
          format: date
        type:
          type: string
          description: |-
            Length : 1
            Start file type.
            The values are:
            * C = Current statement
            * L = Large statement file
            * S = Small statement file
            VisionPLUS Service Data: ARXTDI-START-FILE-TYPE
    TransactionsDetailsResponse.TransactionDetails:
      type: object
      properties:
        sequence:
          type: integer
          description: |-
            Length : 5
            sequence
            ARXTDO-START-SEQ-NBR
          format: int32
        accountOrganizationNumber:
          type: integer
          description: |-
            Length : 3
            Account Organization Number.
            VisionPLUS Service Data: ARXTDO-ORG
          format: int32
        accountLogo:
          type: integer
          description: |-
            Length : 3
            Account Logo.
            VisionPLUS Service Data: ARXTDO-LOGO
          format: int32
        accountNumber:
          type: string
          description: |-
            Length : 19
            Account Number.
            VisionPLUS Service Data: ARXTDO-ACCT
        recordNumber:
          type: integer
          description: |-
            Length : 5
            Record Number.
            VisionPLUS Service Data: ARXTDO-REC-NBR
          format: int32
        cardNumber:
          type: string
          description: |-
            Length : 19
            Unique identifier or token associated with the card number or payment instrument (FirstVision PAN Token).
            VisionPLUS Service Data: ARXTDO-CARD-NBR
          example: 000540208ID5IXX3865
        cardSequence:
          type: integer
          description: |-
            Length : 5
            Card Sequence.
            VisionPLUS Service Data: ARXTDO-CARD-SEQ
          format: int32
        cardBlockCode:
          type: string
          description: |-
            Length : 1
            Card Block Code.
            VisionPLUS Service Data: ARXTDO-CARD-BLK-CODE
        cardAcceptorId:
          type: string
          description: |-
            Length : 16
            Card Acceptor ID.
            VisionPLUS Service Data: ARXTDO-CARD-ACCEPTOR-ID
        effectiveDate:
          type: string
          description: |-
            Effective Date.
            VisionPLUS Service Data: ARXTDO-EFF-DATE
          format: date
        postDate:
          type: string
          description: |-
            Post Date.
            VisionPLUS Service Data: ARXTDO-POST-DATE
          format: date
        type:
          type: string
          description: |-
            Length : 1
            Type.
            VisionPLUS Service Data: ARXTDO-TYPE
        transactionCode:
          type: integer
          description: |-
            Length : 4
            Transaction Code.
            VisionPLUS Service Data: ARXTDO-TXN-CODE
          format: int32
        batchDate:
          type: string
          description: |-
            Batch Date.
            VisionPLUS Service Data: ARXTDO-BATCH-DATE
          format: date
        amount:
          type: number
          description: |-
            Length : 17
            Amount.
            VisionPLUS Service Data: ARXTDO-AMT
        relationshipPaymentAmount:
          type: number
          description: |-
            Length : 17
            Relationship Payment Amount.
            VisionPLUS Service Data: ARXTDO-REL-PMT-AMT
        originalPaymentAmount:
          type: number
          description: |-
            Length : 17
            Original Payment Amount.
            VisionPLUS Service Data: ARXTDO-ORIG-PMT-AMT
        unitPrice:
          type: number
          description: |-
            Length : 17
            Unit Price.
            VisionPLUS Service Data: ARXTDO-UNIT-PRICE
        quantity:
          type: integer
          description: |-
            Length : 3
            Quantity.
            VisionPLUS Service Data: ARXTDO-QUANTITY
          format: int32
        authorizationCode:
          type: string
          description: |-
            Length : 6
            Authorization Code.
            VisionPLUS Service Data: ARXTDO-AUTH-CODE
        planNumber:
          type: integer
          description: |-
            Length : 5
            Plan Number.
            VisionPLUS Service Data: ARXTDO-PLAN
          format: int32
        planSequenceNumber:
          type: integer
          description: |-
            Length : 2
            Plan Sequence Number.
            VisionPLUS Service Data: ARXTDO-PLAN-SEQ
          format: int32
        planOpenDate:
          type: string
          description: |-
            Plan Open Date.
            VisionPLUS Service Data: ARXTDO-PLAN-OPEN-DATE
          format: date
        salesClerk:
          type: string
          description: |-
            Length : 12
            Sales clerk
            VisionPLUS Service Data: ARXTDO-SALESPERSON
        ticketNumber:
          type: string
          description: |-
            Length : 15
            Ticket Number.
            VisionPLUS Service Data: ARXTDO-TICKET-NBR
        purchaseOrder:
          type: string
          description: |-
            Length : 16
            Purchase Order.
            VisionPLUS Service Data: ARXTDO-PURCHASE-ORDER
        paymentReferenceNumber:
          type: number
          description: |-
            Length : 15
            Payment Reference Number.
            VisionPLUS Service Data: ARXTDO-PMT-REFERENCE-NBR
        itemNumber:
          type: number
          description: |-
            Length : 5
            Item Number.
            VisionPLUS Service Data: ARXTDO-ITEM-NBR
        referenceNumber:
          type: string
          description: |-
            Length: 23
            Reference Number.
            VisionPLUS Service Data: ARXTDO-REFERENCE-NBR
        description:
          type: string
          description: |-
            Length : 40
            Description
            VisionPLUS Service Data: ARXTDO-DESCRIPTION
        points:
          type: number
          description: |-
            Length : 9
            Points.
            VisionPLUS Service Data: ARXTDO-PTS
        programNumber:
          type: string
          description: |-
            Length : 1
            Program Number.
            VisionPLUS Service Data: ARXTDO-PGM-NBR
        categoryCode:
          type: integer
          description: |-
            Length : 5
            Category Code.
            VisionPLUS Service Data: ARXTDO-CATEGORY-CODE
          format: int32
        skuNumber:
          type: integer
          description: |-
            Length : 9
            SKU Number.
            VisionPLUS Service Data: ARXTDO-SKU-NBR
          format: int32
        department:
          type: string
          description: |-
            Length : 4
            Department
            VisionPLUS Service Data: ARXTDO-DEPT
        source:
          type: string
          description: |-
            Length : 1
            Source.
            VisionPLUS Service Data: ARXTDO-SOURCE
        visaTransactionId:
          type: integer
          description: |-
            Length : 15
            Visa Transaction ID.
            VisionPLUS Service Data: ARXTDO-VISA-TRAN-ID
        interchangeFee:
          type: number
          description: |-
            Length : 9
            Interchange Fee.
            VisionPLUS Service Data: ARXTDO-INTERCHG-FEE
        qualificationIndicator:
          type: string
          description: |-
            Length : 1
            Qualification Indicator.
            The value is C (Domestic other non-MasterCard processed)
            VisionPLUS Service Data: ARXTDO-QUAL-IND
        merchantCountryCode:
          type: string
          description: |-
            Length : 3
            Merchant Country Code.
            VisionPLUS Service Data: ARXTDO-MERCH-COUNTRY-CODE
        insuranceProduct:
          type: string
          description: |-
            Length : 2
            Insurance Product.
            VisionPLUS Service Data: ARXTDO-INS-PROD
        ddaAccountIndicator:
          type: string
          description: |-
            Length : 1
            DDA Account Indicator.
            This field displays only for debit card transactions.
            Debit card functionality must be active (DEBIT ACTIVE is set to 1 on ARMS02 and ARMO04 for a debit card logo and TYPE OF ACCOUNT is set to D on ARML01).
            VisionPLUS Service Data: ARXTDO-DDA-SAV-IND
        transferredFraudTransactionStatus:
          type: string
          description: |-
            Length : 1
            Flag that indicates the status of the transferred fraud transaction.
            The values are:
            * P = Transfer pending
            * T = Transferred out
            * X = Transferred in
            * Space = Not applicable
            VisionPLUS Service Data: ARXTDO-TRAN-STATUS
        posEntryMode:
          type: string
          description: |-
            Length : 2
            Pos Entry Mode.
            VisionPLUS Service Data: ARXTDO-POS-ENTRY-MODE
        originalTransactionAmount:
          type: number
          description: |-
            Length : 17
            Original Transaction Amount.
            VisionPLUS Service Data: ARXTDO-ORIG-TXN-AMOUNT
        originalTransactionAmountFormatted:
          type: string
          description: |-
            Length : 13
            Original Transaction Amount Formatted.
            VisionPLUS Service Data: ARXTDO-ORIG-TXN-AMT-FORMATTED
        originalTransactionCurrency:
          type: string
          description: |-
            Length : 13
            Original Transaction Currency.
            VisionPLUS Service Data: ARXTDO-ORIG-TXN-CURR
        originalTransactionCurrencyDescription:
          type: string
          description: |-
            Length : 28
            Original Transaction Currency Description.
            VisionPLUS Service Data: ARXTDO-ORIG-TXN-CURR-DESC
        transactionConversionRate:
          type: number
          description: |-
            Length : 17
            Transaction Conversion Rate.
            VisionPLUS Service Data: ARXTDO-TXN-CONV-RATE
          format: double
        transactionConversionRateFormatted:
          type: string
          description: |-
            Length : 18
            Transaction Conversion Rate Formatted.
            VisionPLUS Service Data: ARXTDO-TXN-CONV-RATE-FORMATTED
        merchantCity:
          type: string
          description: |-
            Length : 21
            Merchant City.
            VisionPLUS Service Data: ARXTDO-MERCH-CITY
        merchantState:
          type: string
          description: |-
            Length : 3
            Merchant State.
            VisionPLUS Service Data: ARXTDO-MERCH-STATE
        merchantPostalCode:
          type: string
          description: |-
            Length : 10
            Merchant Postal Code.
            VisionPLUS Service Data: ARXTDO-MERCH-POSTAL-CD
        merchantPhoneNumber:
          type: string
          description: |-
            Length : 21
            Merchant Phone Number.
            VisionPLUS Service Data: ARXTDO-MERCH-PHONE
        categoryDescription:
          type: string
          description: |-
            Length : 28
            Category Description.
            VisionPLUS Service Data: ARXTDO-CATEGORY-DESC
        feeAdjustmentIndicator:
          type: string
          description: |-
            Length : 1
            Fee Adjustment Indicator.
            The values are:
            * N = No adjustment
            * Y = Adjustment
            VisionPLUS Service Data: ARXTDO-FEE-ADJ-IND
        interestAdjustmentIndicator:
          type: string
          description: |-
            Length : 1
            Interest Adjustment Indicator.
            The values are:
            * N = No adjustment
            * Y = Adjustment
            VisionPLUS Service Data: ARXTDO-INT-ADJ-IND
        chargebackIndicator:
          type: string
          description: |-
            Length : 1
            The values are:
            * N = Transaction is not eligible for chargeback
            * Y = Transaction is eligible for chargeback
            VisionPLUS Service Data: ARXTDO-CHG-BK-IND
        disputeIndicator:
          type: string
          description: |-
            Length : 1
            Dispute Indicator.
            The values are:
            * N = No dispute
            * Y = Dispute
            VisionPLUS Service Data: ARXTDO-DISPUTE-IND
        fraudIndicator:
          type: string
          description: |-
            Length : 1
            Fraud Indicator.
            The values are:
            * N = No fraud
            * Y = Fraud
            VisionPLUS Service Data: ARXTDO-FRAUD-IND
        copyRequestIndicator:
          type: string
          description: |-
            Length : 1
            Copy Request Indicator.
            The values are:
            * N = No copy request
            * Y = Copy request
            VisionPLUS Service Data: ARXTDO-RETR-REQ-IND
        reversalIndicator:
          type: string
          description: |-
            Length : 1
            Reversal Indicator.
            The values are:
            * N = No reversal
            * Y = Reversal
            VisionPLUS Service Data: ARXTDO-REVERSAL-IND
        misappliedIndicator:
          type: string
          description: |-
            Length : 1
            Misapplied Indicator.
            The values are:
            * N = Not misapplied
            * Y = Misapplied
            VisionPLUS Service Data: ARXTDO-MIS-APPL-IND
        ichIndicator:
          type: string
          description: |-
            Length : 1
            Ich Indicator.
            The values are:
            N = No ICH
            Y = ICH
            VisionPLUS Service Data: ARXTDO-ICH-IND
        disputeAuxiliaryFileIndicator:
          type: string
          description: |-
            Length : 1
            Dipute Auxiliary File Indicator.
            The values are:
            * N = No dispute auxiliary file
            * Y = Dispute auxiliary file
            VisionPLUS Service Data: ARXTDO-DISP-AUX-FILE-IND
        stopOrResumeIndicator:
          type: string
          description: |-
            Length : 1
            Stop Or Resume Indicator.
            The values are:
            * N = Stop a recurring transaction
            * Y = Resume a recurring transaction
            VisionPLUS Service Data: ARXTDO-STOP-RESUME-IND
        fraudTransferIndicator:
          type: string
          description: |-
            Length : 1
            Fraud Transfer Indicator.
            The values are:
            * N = No fraud transfer
            * Y = Fraud transfer
            VisionPLUS Service Data: ARXTDO-FRAUD-XFR-IND
        storeNumber:
          type: integer
          description: |-
            Length : 9
            Store Number.
            VisionPLUS Service Data: ARXTDO-STORE-NBR
          format: int32
        logicModuleNumber:
          type: integer
          description: |-
            Length : 3
            Logic Module Number.
            VisionPLUS Service Data: ARXTDO-LOGIC-MODULE
          format: int32
x-config:
  tryItOut: true